


@{ViewBag.Title = "TfL and Crossrail unveil new images of Tottenham Court Road station as major new transport hub takes shape";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2013">2013</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2013/july">July</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">TfL and Crossrail unveil new images of Tottenham Court Road station as major new transport hub takes shape</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>TfL and Crossrail unveil new images of Tottenham Court Road station as major new transport hub takes shape</h1>
        <div class="content-page-press-release">
        30 July 2013
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        New images reveal the progress of construction of the &pound;1bn redevelopment of Tottenham Court Road station.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Upgrades such as this to our transport network are vital in order to ensure the Capital continues to be the economic powerhouse of the country."</div>
        <div class="quote-footer">
            <div class="quotee-name">Boris Johnson</div>
            <div class="quotee-job-title">Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Upgrades such as this to our transport network are vital in order to ensure the Capital continues to be the economic powerhouse of the country.
                            
                        </p>
                    </div>
                
            
            
            <ul>
<li>Tube stations works now 60% complete </li>
<li>One third of new Crossrail's train tunnels under London completed</li></ul>
<p>The future of London's transport network in the West End is moving ahead at speed as the new &pound;1bn Tottenham Court Road station takes shape. </p>
<p>Work on the significantly improved Tube station is now around 60% complete while Crossrail has completed an estimated 35% of works to the station's new Dean Street ticket hall and station tunnels.</p>
<p>London Underground has completed civil engineering work for almost 300 metres of new passageways, a new entrance, and the vast new Tottenham Court Road ticket hall, six times the size of the existing ticket hall. </p>
<p>Fitting out has begun at the station and Phase 1, including two new entrances and expanded Northern line access, is due to open in 2015.</p>
<h4>More capacity </h4>
<p>The Mayor of London, Boris Johnson said: 'Our ambitious plans to rebuild Tottenham Court Road station, which is over 100 years old, will create a ticket hall six times bigger than its current size and a station with over a third more capacity. </p>
<p>'Upgrades such as this to our transport network are vital in order to ensure the Capital continues to be the economic powerhouse of the country.'</p>
<p>David Waboso, London Underground's Capital Programmes Director, said: 'The east end of Oxford Street in London's West End will undergo one of the most significant changes with the upgraded Tube station and brand new Crossrail links.&nbsp; </p>
<p>'A vast amount of work has been done at Tottenham Court Road Underground station and there is still much to do but when complete the upgraded station will ease congestion, improve accessibility and provide a direct interchange with Crossrail services when they start operating in 2018.'</p>
<p>Meanwhile, Crossrail works at the new ticket hall at Dean Street are advancing, with workers building passenger tunnels that will connect the two ticket halls later this year.</p>
<h4>Regeneration catalyst</h4>
<p>The new ticket halls at Tottenham Court Road station will act as a catalyst to transform Soho and the east end of Oxford Street.</p>
<p>Andrew Wolstenholme, Crossrail Chief Executive, said: 'Crossrail is not just delivering major new stations in the West End but transforming the areas around the stations. </p>
<p>'It is the site of our largest property development and urban regeneration programme, which will deliver new retail, office, residential space, new squares, paths and greenery, and attract new businesses and customers.'</p>
<p>Among the multimillion pound developments already approved is the joint Crossrail Derwent London development of 500,000 sq ft of premium retail, office and residential accommodation above the ticket halls at the corner of Charing Cross Road and Oxford Street, and the corner of Oxford Street and Dean Street. It includes a new West End theatre.</p>
<p>Transport for London and Crossrail will deliver major public realm improvements around the station including new footpaths, green spaces and lighting which will significantly improve the look and feel of the area. </p>
<p>Of particular note will be the glazed entrances to the new station ticket hall at Tottenham Court Road, set in the middle of a new square outside Centre Point.</p>
<p>Up to 150,000 passengers use Tottenham Court Road station every day. That number is expected to rise to more than 200,000 when Crossrail services commence in 2018. </p>
<h4>Central hub </h4>
<p>Crossrail will link the West End to Canary Wharf in 12 minutes, Stratford in 13 minutes and Heathrow in less than 30 minutes. </p>
<p>The arrival of Crossrail will make Tottenham Court Road station a major transport hub and bring an extra 1.5 million people to within a 45 minute commute of the popular retail and entertainment district. </p>
<p>Meanwhile, work on Crossrail's 26 miles of new tunnels under London has reached the one third mark. Crossrail's lead tunnelling machine, Phyllis, has so far constructed 3.2 miles of new tunnel which now stretch from Royal Oak to beyond Tottenham Court Road. Another five machines are building train tunnels across London.</p>
<p>The tunnels will connect nine new stations and another 28 existing stations across the route. So far nine miles of tunnels have been completed, with the two tunnelling machines in the West End scheduled to finish their 8.5 mile section at Farringdon in the winter. </p>
<p>A further six machines will construct the remainder of the new tunnels.</p>
<p>
<hr>

<p>
<h4>Notes to editors:</h4>
<p><a href="http://imagelibrary.crossrail.co.uk/asset-bank/action/viewDownloadSharedAsset?downloadFile=d299c6708e3ac8387a7b43ff01.zip">Download&nbsp;the latest&nbsp;images </a></p>
<p>Tottenham Court Road London Underground station upgrade</p>
<p>The station upgrade will, when complete in 2016:</p>
<p>Provide a new ticket hall six times the size of the existing</p>
<ul>
<li>Introduce step free access from street to platform </li>
<li>Provide three new entrances </li>
<li>Deliver new escalators and improved interchanges between platforms&nbsp; </li>
<li>Be ready to connect to the Crossrail platforms when they open in 2018, via a shared ticket hall and five-storey underground interchange. The Crossrail station will also have a dedicated ticket hall at Dean Street.</li></ul>
<p>Tottenham Court Road Station - east ticket hall (corner of Oxford Street and Charing Cross Road)</p>Completed works include: 
<ul>
<li>Excavation and concrete lining of passenger access tunnels to the Northern line platforms </li>
<li>Two bridges over the Central line train tunnels for new access to the platforms </li>
<li>Excavation and construction of external walls for the new ticket hall and Oxford Street entrance </li>
<li>Progress on new stairways and lift shafts </li>
<li>Excavation, walls and floors for four out of five levels for the new Goslett Yard box (the largest of this type ever built in the UK) </li></ul>
<p>To be completed in 2013:</p>
<ul>
<li>Northern line escalator decline </li>
<li>Falconberg emergency access shaft </li>
<li>Crossrail interchange structure to be handed over to Crossrail contractors </li>
<li>Two-storey basement that will house a new electricity substation</li></ul>Tottenham Court Road Station - Dean Street, ticket hall (corner of Oxford Street): 
<ul>
<li>Excavation of the southern section of the ticket hall box completed </li>
<li>First tunnelling boring machine has now passed Tottenham Court Road </li>
<li>About 1.1km passenger, service and platform tunnels under construction </li>
<li>Later this year the passenger tunnels will connect the two ticket halls at Dean Street and Charing Cross Road </li>
<li>Preparations for the arrival of the second tunnel boring machine which will pass through the ticket hall box next month</li></ul>
<p>The total funding envelope available to deliver Crossrail is &pound;14.8bn. The Crossrail route will pass through 37 stations and run 118km between Maidenhead and Heathrow in the west, through new twin-bore 21km tunnels to Shenfield and Abbey Wood in the east. 
<p>
<p>When Crossrail opens it will increase London's rail-based transport network capacity by 10%, supporting regeneration and cutting journey times across the city. Crossrail services are due to commence through central London in 2018.</p>
<p>Crossrail is being delivered by Crossrail Limited (CRL). CRL is a wholly owned subsidiary of Transport for London. Crossrail is jointly sponsored by the Department for Transport and Transport for London. </p>
<p>For further information contact the Crossrail Press Office on 020 3229 9552 or email <a href="mailto:pressoffice&#64;crossrail.co.uk">pressoffice&#64;crossrail.co.uk</a> or the TfL Press Office on 0845 604 4141 or email <a href="mailto:pressoffice&#64;tfl.gov.uk">pressoffice&#64;tfl.gov.uk</a> </p>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/15890">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/september">September</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/august">August</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/july">July</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/june">June</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16598">May</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16698">April</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16906">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16962">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2013-July-TfL and Crossrail unveil new images of Tottenham Court Road station as major new transport hub takes shape -->

 
 
        
        
            @{ViewBag.Description = "Tube stations works now 60% complete One third of new Crossrail's train tunnels under London completedThe future of London's transport network in the West End is moving ahead at speed as the new &pound;1bn Tottenham Court Road station takes shape. Work on";}
        
        


 