


@{ViewBag.Title = "TfL opens the doors to a new generation of transport workers";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2013">2013</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2013/july">July</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">TfL opens the doors to a new generation of transport workers</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>TfL opens the doors to a new generation of transport workers</h1>
        <div class="content-page-press-release">
        01 July 2013
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London (TfL) has delivered a decommissioned Tube carriage to the new University Technical College (UTC) which is currently being set up in the Royal Borough of Greenwich.
        
    </div>



 <div class="on-this-page">
<p>The carriage was donated to the college ahead of its opening in September, and was delivered by a 130 tonne crane. </p>
<p>TfL Track Delivery Unit apprentices had already laid 30 metres of track at the college which the carriage was lowered on to. </p>
<p>Royal Greenwich UTC is a new regional academy in southeast London for students aged 14-19 years old. </p>
<p>It will teach technical qualifications focussing on engineering, construction and related industries alongside core academic subjects for GCSEs and A-Levels.&nbsp; </p>
<p>TfL is a non-financial engineering sponsor of the college and will be working directly with them to provide time and technical expertise through demonstrations and supporting the curriculum for students enrolling in September 2013. </p>
<p>TfL has worked with the college, and together with the other UTC sponsors has been at the forefront of helping the college develop their coursework and philosophy. The college has four sponsors in total, University of Greenwich, the Royal Borough of Greenwich, the Wates Group and TfL.</p>
<h4>Skills shortage</h4>
<p>Tricia Riley, Director of Human Resources at TfL, said: 'We recognise that there is a real skills shortage within the transport sector and are proud to be supporting future transport workers and engineers in this way. </p>
<p>'This new educational institution will help fill the gap and provide students with the technical knowledge they will need to pursue an engineering career. </p>
<p>'Having a Tube carriage on site will mean that students get to have real hands on experience and understand the engineering behind one of London's iconic features. Together with the other sponsors, we are committed to providing practical input into the learning opportunities that the UTC will offer its students.'</p>
<h4>Hands on engingeering </h4>
<p>The carriage is part of a decommissioned Hammersmith &amp; City line (C77 Stock) train, which had been operating for over 35 years, transporting Londoners on the Hammersmith &amp; City, District and Circle lines. </p>

<p>Over the years it has travelled over 4.5 million kilometres, equivalent to travelling 120 times around the world. </p>
<p>The carriage will be used for educational projects related to engineering. </p>
<p>Students will learn how to design and make modifications to the carriages which can then be fitted and tested on the train carriage to demonstrate fitness for purpose. </p>
<p>They will learn about the various train systems and basic engineering principles of design, including Electrical, Pneumatic, Mechanical and Electronic systems and this will form part of their core curriculum. </p>
<p>This will allow them to understand how underground trains function and interface with other parts of the railway and what is involved in the maintenance and refurbishments of trains. </p>

<h4>Next generation </h4>
<p>Tom Barnes, Deputy Vice Chancellor of Research and Enterprise at the University of Greenwich, said: 'The delivery of the train, kindly donated by TfL, marks an important milestone in the development of the Royal Greenwich UTC. </p>
<p>'Not only does it symbolise the strong links of the UTC with business and industry, it also provides a fantastic opportunity for students at the School to become involved in practical engineering and business project work which is a key differentiator of the kind of education provided through the UTC movement. This is a great opportunity.'</p>
<p>TfL's Capital Programmes team, including apprentices have played an integral part in the conversion of the carriage to ensure that it is safe for the college and its students, but also remains mechanical for the students to carry out works on. </p>
<p>With the skills shortage in the transport sector, it is vital that TfL's apprentices get the opportunity to work on such projects to provide them with the skills the transport sector needs for the future. </p>
<p>London Underground (LU) engineers will provide support and technical expertise to support the UTC's curriculum and help the UTC by reviewing a range of projects.</p>
<p>
<hr>

<p>
<h4>Notes to editors:</h4>
<ul>
<li>Images of the carriage being delivered to the school are available on request </li>
<li>TfL's apprentices and graduates have been heavily involved with the projects. TfL's Track Delivery Unit apprentices were involved with the installation of the tracks for the carriage. TfL Graduate engineers also oversaw the redesign and removal of redundant equipment to make the carriage operational for the UTC </li>
<li>Graduate engineers also oversaw the redesign and removal equipment to make the carriage operational for the UTC </li>
<li>11 other UTC's will be opening this September, taking the total number of UTCs around the country to 17. Another 45 UTCs are currently being developed </li>
<li>Royal Greenwich UTC's intake will be 150 pupils in Year 10 and 150 in Year 12 in September 2013. Recruitment has been very strong and the UTC will be fully subscribed in both year groups, making it the most successful UTC in the country in its first year </li>
<li>The UTC will be housed in new and refurbished buildings on the Woolwich Road in Charlton being completed at a cost of &pound;10m, providing industry standard facilities for engineering and construction, and the tube train carriage is one of the finishing touches </li>
<li>For more information about the UTC in the Royal Borough of Greenwich, contact&nbsp; Kenza Alaoui - <a href="mailto:Kenza.Alaoui&#64;greenwichutc.com">Kenza.Alaoui&#64;greenwichutc.com</a>&nbsp; <br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/15890">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/september">September</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/august">August</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/july">July</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/june">June</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16598">May</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16698">April</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16906">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16962">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2013-July-TfL opens the doors to a new generation of transport workers -->

 
 
        
        
            @{ViewBag.Description = "The carriage was donated to the college ahead of its opening in September, and was delivered by a 130 tonne crane. TfL Track Delivery Unit apprentices had already laid 30 metres of track at the college which the carriage was lowered on to. Royal Greenwich";}
        
        


 