


@{ViewBag.Title = "TfL warns road users 'don't get caught out' as the biggest road cycling event since the Olympics comes to London";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2013">2013</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2013/july">July</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">TfL warns road users 'don't get caught out' as the biggest road cycling event since the Olympics comes to London</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>TfL warns road users 'don't get caught out' as the biggest road cycling event since the Olympics comes to London</h1>
        <div class="content-page-press-release">
        29 July 2013
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Prudential RideLondon cycling festival will mean road closures in central London on Saturday 3 August and a large number of road and bridge closures.
        
    </div>



 <div class="on-this-page">
<p>Public are advised to plan ahead now and use public transport to avoid road disruption and enjoy the weekend.</p>
<p>Details of road and bridge closures are available at <a href="http://www.tfl.gov.uk/prudentialridelondon">tfl.gov.uk/prudentialridelondon</a></p>
<p>
<hr>
<br>London's Transport Commissioner, Sir Peter Hendy CBE, today warned Londoners to plan ahead now to avoid road disruption during the weekend of 3 and 4 August, when many bridges and roads will be closed to traffic for the biggest road event the Capital has seen since the Olympics.</p>
<p>Prudential RideLondon, the Mayor of London's world-class cycling festival, will include the largest mass-participant cycling event ever held in the UK, with thousands of cyclists, including some of the world's top professionals, taking part in four separate events.</p>
<p>Sir Peter's warning comes with TfL delivering a major campaign advising residents and businesses 'don't get caught out' and to plan their travel in advance.&nbsp; </p>
<p>The public are advised to use public transport to get around the Capital and to avoid driving in central London and the area affected by the RideLondon-Surrey100 and Classic route on Sunday 4 August, which runs from the Queen Elizabeth Olympic Park, through east, central and southwest London to Surrey, finishing on The Mall in central London. </p>
<p>Sir Peter Hendy CBE said: 'This is going to be a fantastic event, which cements London's growing reputation as a major cycling city.&nbsp; </p>
<p>'It will draw thousands of cycling fans from across the country to enjoy the event and all that London and Surrey have to offer.</p>
<p>'However, this is the largest event London's streets will have seen since the Olympics. </p>
<p>'Hosting such an event means we must close to traffic many bridges across the Thames and hundreds of roads in large parts of east, central and southwest London.&nbsp; </p>
<p>'During the London 2012 Games, Londoners and businesses took sensible steps to plan ahead and adapt their travel.&nbsp; </p>
<p>'I'm urging everyone to do that once again so that they don't get caught out, and can continue to get around and enjoy the weekend.'</p>
<p>To avoid road delays, the public are advised to use public transport and to avoid driving near the Prudential RideLondon FreeCycle route in central London on Saturday 3 August. </p>
<p>FreeCycle is a free, family friendly bike ride which will take place on closed roads within Westminster and the City of London to allow participants to experience the fun and freedom of cycling in London. </p>
<p>On Sunday 4 August road users are advised to avoid driving in east, central and southwest London, and in the affected parts of Surrey, for the Prudential RideLondon-Surrey 100 and Classic events.&nbsp; </p>
<p>Tube and rail services will be the best way to get around. </p>
<p>Maps and details of road closures and estimated re-opening times are available at <a href="http://www.tfl.gov.uk/prudentialridelondon">tfl.gov.uk/prudentialridelondon</a> and <a href="http://www.gosurrey.info">www.gosurrey.info</a>.</p>
<p>The 100-mile Prudential RideLondon-Surrey route, on 4 August, will start in Queen Elizabeth Olympic Park in Stratford, passing Tower Hill, Blackfriars, Piccadilly, Hyde Park Corner, Gloucester Road, the Hammersmith Flyover, Cromwell Road, Chiswick Bridge, Sheen, Richmond Park, and Kingston. </p>
<p>It will then head into Surrey going through Walton on Thames, Weybridge, Newlands Corner, Holmbury St Mary, Leith Hill, Dorking, Box Hill, Leatherhead, Cobham and Esher. </p>
<p>On the return trip the route goes via Kingston, to Wimbledon, Putney High Street, Putney Bridge, New Kings Road, Chelsea Embankment, Millbank and Whitehall, before finishing on The Mall. </p>
<p>There will be a large number of road closures around the route from early morning on 4 August to make sure the route is secure and ready for the 100 mile cycling event. </p>
<p>These will include, but are not limited to, the A12, Limehouse Link Tunnel, Trafalgar Square, Piccadilly Underpass and the A4.&nbsp; </p>
<p>A large number of river crossings will be closed to traffic for much of the day, having a major impact on road transport, including buses, along the route. </p>
<p>River crossings and roads closed to traffic but not pedestrians on Sunday 4 August will include:</p>
<ul>
<li>Blackwall Tunnel/A12 southbound - closed from 01:00, for regular maintenance work followed by the event preparation, to approximately 09:00</li>
<li>A12 northbound from A13 - closed from 05:00 to approximately 09:00</li>
<li>A13 east&nbsp;and westbound from A12 to Leamouth Road - closed from 05:00 to approximately 09:00</li>
<li>Tower Bridge and Southwark Bridge - closed from 04:00 to approximately 15:15</li>
<li>Westminster Bridge, Lambeth Bridge and Vauxhall Bridge -&nbsp;closed from 05:00 to after 19:30</li>
<li>Chelsea Bridge, Albert Bridge and Putney Bridge - closed from 05:00 to after 19:15</li>
<li>Chiswick Bridge - closed from 05:00 to after 14:30</li>
<li>Kingston Bridge - closed from 05:00 to after 19:15</li>
<li>Hampton Court Bridge - closed from 05:00. Open from 15:30 northbound and 19:00 southbound</li></ul>
<p>The following river crossings will remain open throughout the day to road traffic:</p>
<ul>
<li>Blackwall Tunnel northbound will remain open throughout the event with access to the A13 westbound and diversions to allow traffic to travel north</li>
<li>Rotherhithe Tunnel, London Bridge, Blackfriars Bridge and Waterloo Bridge will all remain open</li>
<li>Wandsworth Bridge, Hammersmith Bridge, Kew Bridge, Twickenham Bridge and Richmond Bridge will all remain open</li></ul>
<p>Full details of road closures are available at <a href="http://www.tfl.gov.uk/prudentialridelondon">tfl.gov.uk/prudentialridelondon</a>&nbsp; and <a href="http://www.gosurrey.info">www.gosurrey.info</a>.&nbsp; </p>
<p>Drivers&nbsp;are urged to plan ahead or to consider re-timing their journey to avoid road disruption, particularly if people are planning to travel to or from airports, or to a special event. </p>
<p>A large number of bus services around the route will be affected, full details can be found at <a href="http://www.tfl.gov.uk/prudentialridelondon">tfl.gov.uk/prudentialridelondon</a>.</p>
<p>The cycling festival is expected to give a major boost to the number of cyclists in the capital and the rest of the UK, while attracting hundreds of thousands of visitors to London and Surrey. </p>
<p>The exciting events taking place across the weekend will also help encourage people of all ages and abilities to take to two wheels.</p>
<p>Prudential RideLondon offers great spectator opportunities to cheer on the amateur riders as they take on their 100-mile cycling challenge, as well as watching some of the world's most famous cyclists competing on London's roads. </p>
<p>People planning to attend the events are advised to plan their journey in advance and to arrive early. </p>
<p>The Prudential RideLondon FreeCycle event&nbsp;- a free, family-friendly, mass participation bike ride on closed roads through Westminster and the City of London on Saturday 3 August, is also a great opportunity for spectators to get involved in the Prudential RideLondon weekend.&nbsp; </p>
<p>FreeCycle participants are able to register at <a href="http://www.prudentialridelondon.co.uk">www.prudentialridelondon.co.uk</a> and receive a free Prudential RideLondon FreeCycle magazine and goodie bag. </p>
<p>
<hr>
</p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>Details of road closures and estimated re-opening times are available at <a href="http://www.tfl.gov.uk/prudentialridelondon">tfl.gov.uk/prudentialridelondon</a> and <a href="http://www.gosurrey.info">www.gosurrey.info</a>&nbsp;</li>
<li>For the latest on how transport services are operating, you are advised to check before you travel at <a href="http://www.tfl.gov.uk">tfl.gov.uk</a> and follow &#64;TfLTravelAlerts (Tube, Docklands Light Railway and London Overground), &#64;TfLTrafficNews (roads) and &#64;TfLBusAlerts (bus)</li>
<li>If you are planning to take a bike on public transport to any of the events, restrictions apply. Check <a href="http://www.tfl.gov.uk/cycling">tfl.gov.uk/cycling</a> for more information, and check bike restrictions in place with train operating companies for that weekend at <a href="http://www.nationalrail.co.uk">www.nationalrail.co.uk</a></li>
<li>About Prudential RideLondon:</li>
<ul>
<li>Prudential RideLondon is an annual world-class festival of cycling developed by the Mayor of London, London &amp; Partners and Transport for London (TfL) in partnership with Surrey County Council. The event is managed by the London &amp; Surrey Cycling Partnership (LSCP), a partnership between The London Marathon Limited (owners and operators of the London Marathon since 1981) and SweetSpot Group Limited (operators of The Tour of Britain)</li>
<li>Prudential RideLondon FreeCycle 'come along for the ride' - an&nbsp;eight-mile central London route on closed roads for up to 50,000 people on Saturday 3 August</li>
<li>Prudential RideLondon Grand Prix 'experience criterium racing' - also known as Criterium Racing, this invitational city centre loop will provide a focus for professional women, youth and hand cyclists on Saturday 3 August</li>
<li>Prudential RideLondon-Surrey 100 'rise to the challenge' - a 100-mile challenge ride on Sunday 4 August, including charitable fundraising, through London and Surrey via Richmond Park, expected to attract 20,000 riders in year one</li>
<li>Prudential RideLondon-Surrey Classic 'see the greats' - Starting in the Queen Elizabeth Olympic Park and following part of the Olympic Road Race route, this race will see the top international professional men take to the roads of London and Surrey in a UCI Europe Tour event ranked at the 1.1 level</li>
<li>The three-year partnership with Prudential, whose UK business provides financial solutions to more than seven million customers in the UK, will help develop the annual cycling festival into a world class event and deliver on the promise to realise a lasting legacy from the London 2012 Olympic and Paralympic Games</li>
<li>LSCP, Transport for London (TfL) and London &amp; Partners (the Mayor's official promotional organisation) will coordinate the significant technical requirements for the event and work in partnership with Surrey County Council, London boroughs, The Royal Parks, London Legacy Development Corporation, the National Trust and British Cycling, who will each be integral to the delivery of the event</li>
<li>Prudential RideLondon will provide a fantastic platform to help fulfil The Mayor's and TfL's goal of encouraging more people to cycle, more safely and more often. TfL anticipate that tens of thousands of spectators and participants every year will be inspired to take up regular cycling after each event. This will be achieved by creating significant engagement opportunities with participants, spectators and the media</li>
<li>Follow RideLondon on Facebook: <a href="http://www.facebook.com/RideLondon">www.facebook.com/RideLondon</a> or Twitter: &#64;RideLondon</li></ul></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/15890">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/september">September</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/august">August</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/july">July</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/june">June</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16598">May</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16698">April</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16906">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16962">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2013-July-TfL warns road users 'don't get caught out' as the biggest road cycling event since the Olympics comes to London -->

 
 
        
        
            @{ViewBag.Description = "Public are advised to plan ahead now and use public transport to avoid road disruption and enjoy the weekend.Details of road and bridge closures are available at tfl.gov.uk/prudentialridelondonLondon's Transport Commissioner, Sir Peter Hendy CBE, today";}
        
        


 