


@{ViewBag.Title = "TfL's famous Oyster card celebrates ten successful years making journeys easier for customers";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2013">2013</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2013/july">July</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">TfL's famous Oyster card celebrates ten successful years making journeys easier for customers</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>TfL's famous Oyster card celebrates ten successful years making journeys easier for customers</h1>
        <div class="content-page-press-release">
        01 July 2013
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        The world's most popular transport smartcard launched in June 2003.
        
    </div>



 <div class="on-this-page">
<p>Oyster has evolved to meet customers' needs and revolutionised the way transport is paid for in the Capital. Customers soon to have more ticketing options with introduction of contactless payment card technology.</p>
<p>
<hr>
</p>
<p>Transport for London's (TfL) Oyster card celebrated a decade of serving London on Sunday (30 June). </p>
<p>London's famous transport smartcard has revolutionised the way people pay for travel around the Capital, saving customers time and money. </p>
<p>In the ten years since Oyster was publically launched on 30 June 2003, around 60 million cards have been issued and over 85 percent of all rail and bus travel in London is paid for using an Oyster card. </p>
<p>Over the decade Oyster has constantly evolved in response to customers' needs. </p>
<p>By 2005 daily price capping was introduced and in 2010 Oyster acceptance was expanded to include all commuter rail services within Greater London. </p>
<p>The launch of Oyster Online Accounts in 2012 invaluably helped customers be able to more easily manage their Oyster use by viewing detailed journey history, keeping track of&nbsp; balances and fares paid, and requesting refunds online. </p>
<p>Further improvements are planned for Oyster customers as more features to the new TfL website are launched over the next year.</p>
<p>London leads the way globally in transport ticketing technology and Oyster is widely known as the world's most popular transport smartcard. </p>
<p>Paper tickets were first introduced in London in the 1950s and Oyster was conceived from the late 1990s. </p>
<p>TfL's latest plans to improve ticketing include extending the use of contactless debit, credit or charge cards to pay for fares from London's 8,500 buses to the Tube, London Overground, Docklands Light Railway and trams.</p>
<p>Oyster's popularity is owed to the flexibility and convenience it gives customers such as:</p>
<ul>
<li>Iimproved speed through stations and boarding buses</li>
<li>Eliminating the need to queue at ticket offices to buy tickets</li>
<li>The security of having a protected balance in case of loss or theft</li>
<li>The choice of using Oyster pay as you with fares capped to provide the cheapest fare</li></ul>
<p>Shashi Verma, TfL's Director of Customer Experience, said: 'We know that our customers love the convenience of Oyster, and we are immensely proud to celebrate its decade serving London.&nbsp; </p>
<p>'We are looking forward to extending the added convenience of contactless payments as an option for our rail customers.'</p>
<p>Did you know?</p>
<ul>
<li>Three names were shortlisted before Oyster was chosen. In another world, Londoners could be carrying around Gem or Pulse cards to pay for their transport</li>
<li>Oyster allows 40 people per minute to pass through ticket gates, 15 more than with paper tickets, and also makes boarding a bus three times faster</li>
<li>There have been a number of special edition Oyster cards over the years, commemorating events such as the 2012 London Olympic and Paralympic Games, the Wedding of the Duke and Duchess of Cambridge, The Queen's Diamond Jubilee, the 150-year anniversary of London Underground and The King Tutankhamen exhibition at the O2 Arena</li>
<li>Oyster cards never expire. They can be used again after any length of time. Deposits and balances can also be refunded on return of the card at any time</li>
<li>Oyster cards can be linked to an <a href="http://www.tfl.gov.uk/oyster">online account </a>on the TfL website so that journeys and balances can be viewed</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/15890">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/september">September</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/august">August</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/july">July</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/june">June</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16598">May</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16698">April</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16906">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16962">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2013-July-TfL's famous Oyster card celebrates ten successful years making journeys easier for customers -->

 
 
        
        
            @{ViewBag.Description = "Oyster has evolved to meet customers' needs and revolutionised the way transport is paid for in the Capital. Customers soon to have more ticketing options with introduction of contactless payment card technology.Transport for London's (TfL) Oyster card";}
        
        


 