


@{ViewBag.Title = "Transport for London launches new cashless payments and cheaper season ticket prices across all of its car parks";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2013">2013</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2013/july">July</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Transport for London launches new cashless payments and cheaper season ticket prices across all of its car parks</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Transport for London launches new cashless payments and cheaper season ticket prices across all of its car parks</h1>
        <div class="content-page-press-release">
        01 July 2013
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London (TfL) has worked with NCP and Tech City company Adaptis Solutions to provide cashless payments, cheaper season tickets and multi ticketing options at all of its London Underground (LU) car parks from today (1 July 2013).
        
    </div>



 <div class="on-this-page">
<p>The new cashless system has been developed to improve the payment technology available at TfL's car parking sites. </p>
<p>This will provide car parking customers with the option to make their payments by phone, text, mobile websites and mobile applications through a system developed by Adaptis. </p>
<p>The variety of payment options will provide drivers with a faster and simpler alternative to the current pay and display machines in operation at LU station car parks. </p>
<p>The pay and display machines will remain in operation for customers who wish to continue with cash payments.&nbsp; </p>
<p>There will be no transactional charges to customers who choose to use the new methods of payments.</p>

<h4>Flexible options</h4>
<p>For the first time, season tickets will also be available at all of TfL's LU car parks along with multi ticketing options which will give customers flexibility and choice. </p>
<p>Customers will be able to choose to pay for parking from three days up to a whole year. </p>
<p>Season tickets will mean that customers only pay for 4.8 days of the&nbsp;seven day week if they opt for weekly, monthly, quarterly or yearly parking. </p>
<p>Graeme Craig, Director of Commercial Development at TfL said: 'We are constantly looking at ways to improve the services we provide our customers and the development of the new cashless payment methods at our sites have been developed to make it easier and cheaper for our customers to pay for their car parking.</p>
<p>'We will also be rolling out the flexibility of purchasing either season tickets or multi tickets as part of the improvements.' </p>
<p>TfL already has considerably cheaper car parking charges across its network compared to the vast majority of alternative car parks. </p>
<p>The average charge at LU car parks is &pound;5.07 compared with an average of &pound;8.26 at other local car parks for all day parking. All the revenue generated is reinvested into the car parks and the wider transport network to improve services for customers.</p>
<p>Manni Marway, CEO, Adaptis Solutions commented 'We are delighted to have been awarded such an exciting and prestigious contract. The project will deliver cashless services in a truly innovative and integrated way, really highlighting the flexibility of the dash platform.'</p>

<h4>Thousands of spaces across the Capital</h4>
<p>TfL has around 11,000 car parking spaces at over 60 LU stations, mostly in outer London boroughs. </p>
<p>All of TfL's car parks are managed by NCP on behalf of TfL. Registration for the new system will be quick and easy and staff will be at the car parks assisting customers with the new systems over the next few weeks. </p>
<p>Customers will also be able to set up an online account using the dash system supplied by Adaptis, enabling them to manage and monitor individual accounts online. A video can be viewed on the dedicated website where customers will also be able to set up an online account: <a href="http://www.dashpark.com/tube">www.dashpark.com/tube</a> </p>
<p>Derek Hulyer, NCP's Head of Operations for Rail, commented: 'We are always looking to improve our offerings for customers who want hassle free parking.&nbsp; </p>
<p>'The introduction of the Adaptis cashless system means that we can offer this additional facility for those customers who want to use this service.&nbsp; Customers can still also pay by cash, debit or credit card if they choose. </p>
<p>'We have worked with Transport for London to make sure that all of the car parks we operate on their behalf are as easy to use as possible, allowing customers to be able to choose the payment method that best suits them.'</p>

<h4>High standards</h4>
<p>TfL ensures that all of its car parks are maintained to the highest standards with full CCTV coverage at all the sites. </p>
<p>Since August 2009, all station LU car parks managed by NCP on behalf of TfL have attained the Safer Parking Award status. </p>
<p>The Safer Parking Scheme is designed to set a standard for car park operators to adhere to regarding the safety of the car park. </p>
<p>These standards are assessed each year with all LU car parks maintaining their awards year on year. </p>
<p>Members of the Source London charging network will also be able to charge their electric vehicles at 15 of the car parking sites which will have over 130 Source London charge points in place by Monday 8 July 2013. </p>
<p>Annual membership for Source London is just &pound;10, however, drivers will have to pay for the parking space to charge their vehicles. </p>
<p>
<hr>

<p>
<h4>Notes to editors:</h4>
<ul>
<li>Details of car parking charges can be found at <a href="tfl.gov.uk/roadusers/tubestationcarparks">tfl.gov.uk/roadusers/tubestationcarparks</a>&nbsp; </li>
<li>Adaptis has developed dash, a leading transaction processing platform currently focused on the travel and transport markets. Dash allows merchants to accept payments from customers using a range of technologies including Web, Automated Telephone Payments (also known as IVR), SMS Text, Mobile Applications (iPhone, Android, BlackBerry and Windows Mobile) and Call Centres. Adaptis has successfully delivered solutions for parking, permits, ticketing and payments, boat moorings and taxi payments across the UK </li>
<li>There will be no credit card charges as TfL is absorbing these costs </li>
<li>Optional texts have a 10p charge which customers can choose to opt in for </li>
<li>The 15 charge point locations are at: North Greenwich, Watford, High Barnet, Hounslow West, Loughton, Arnos Grove, Cockfosters, Snaresbrook, Oakwood, Blackhorse Road, Newbury Park, Chalfont and Latimer, Redbridge, Stanmore, and Rayners Lane </li>
<li>Source London, the capital's electric vehicle charge point network and membership scheme, has now met the Mayor of London's commitment to provide 1,300 publicly accessible charging points </li>
<li>TfL secured &pound;750,000 funding from the Government's Plugged in Places Scheme to facilitate the electric vehicle charge points infrastructure within LU car parks. For more information about Source London, visit: <a href="http://www.sourcelondon.net">www.sourcelondon.net</a>&nbsp; <br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/15890">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/september">September</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/august">August</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/july">July</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/june">June</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16598">May</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16698">April</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16906">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16962">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2013-July-Transport for London launches new cashless payments and cheaper season ticket prices across all of its car parks -->

 
 
        
        
            @{ViewBag.Description = "The new cashless system has been developed to improve the payment technology available at TfL's car parking sites. This will provide car parking customers with the option to make their payments by phone, text, mobile websites and mobile applications";}
        
        


 