


@{ViewBag.Title = "Transport for London recognises outstanding and inspirational staff at London Bus Awards";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2013">2013</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2013/july">July</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Transport for London recognises outstanding and inspirational staff at London Bus Awards</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Transport for London recognises outstanding and inspirational staff at London Bus Awards</h1>
        <div class="content-page-press-release">
        18 July 2013
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Outstanding customer service and actions above and beyond the call of duty were celebrated last night (Wednesday 17 July) at the London Bus Awards.
        
    </div>



 <div class="on-this-page">
<p>The awards honour London bus staff who have displayed outstanding commitment and professionalism during the course of their work.&nbsp;</p>
<p>This was more important than ever in the last year as bus operating companies and inspirational staff contributed to London's success in hosting the world's largest sporting event, the London 2012 Games.</p>
<p>There were seven awards presented, including to a bus driver from Barking who helped a baby who had stopped breathing, a team who provide exceptional engineering performance and the team from Transport for London (TfL) who helped keep buses moving during the Games.</p>
<p>Leon Daniels, TfL's Managing Director of Surface Transport, said: 'The London Bus Awards are very special to me as they acknowledge the incredible and often unsung hard work of the thousands of bus drivers and support staff that help keep London moving.&nbsp;</p>
<p>'London Buses are carrying record numbers of passengers and our staff continue to provide a fabulous service - these awards are celebrating this.&nbsp;</p>
<p>'This is our way of thanking the drivers and other staff who go above and beyond the call of duty and show true dedication and commitment to their passengers.'</p>
<p>The winners of this year's London Bus Awards are:</p>
<h3>Steve Sobers, Arriva (Enfield)</h3>
<p>Actions above and beyond the call of duty - recognises those who have gone out of the way to assist others, rising to challenges calmly and remaining in control and cool under pressure</p>
<p>Steve was driving his route 491 to North Middlesex Hospital when he noticed a young mother clearly in distress with a young baby in her arms standing outside the medical health centre.&nbsp;</p>
<p>Clearly worried, but unsure what was wrong, Steve stopped his bus to see if could help to find that the baby had stopped breathing.&nbsp;</p>
<p>Quick thinking Steve began administering mouth to mouth to the baby while kicking on the door of the health centre to raise the alarm.&nbsp; </p>
<p>Mother and baby are now both well.</p>
<h3>Jade Sanfelix, CT Plus (Ash Grove)</h3>
<p>Big Red Book Award for outstanding customer service - recognises those who excel at all levels of customer service, putting the passenger first at all times in areas such as safety, accessibility and communications</p>
<p>Jade's approach to customer service as a bus driver on route 153 is both genuinely inspiring and represents the very best in her industry.&nbsp; </p>
<p>Jade is employed on a busy central London route and works hard to offer a warm and cheery welcome to put passengers at ease.&nbsp; </p>
<p>Jade explains: 'If you can give great customer service, then you can really change people's minds about public transport.'</p>
<h3>Barking Garage, Stagecoach </h3>
<p>Best Vehicle Care - recognises those who take pride in the condition of their buses setting the standard for cleanliness and providing a safe, comfortable, welcoming environment for passengers</p>
<p>The team at Barking Garage has really focused on driving up performance using simple and effective measures, including solid engineering principles, and staff have a passion for service delivery.&nbsp; </p>
<p>These factors, and a spirit to win,&nbsp; have seen a significant improvement in engineering performance over the past two years.&nbsp;</p>
<p>By improving inspection standards and performing rigorous audits there has been an annual reduction in lost mileage of around 23 per cent and a reduction in vehicle breakdowns of around 13 per cent.&nbsp; </p>
<p>These tighter controls also ensured that the garage had 24 months of a perfect pass rate for vehicle MOTs and clear spot checks made by VOSA, one of the Department of Transport's safety agencies.</p>
<h3>Bus Operations, TfL Games Time Boarding Team</h3>
<p>On the road support for TfL staff - recognises the achievements of TfL staff who work well with passengers and consistently provide assistance and support </p>
<p>During the London 2012 Games there were a number of events which took place on roads which impacted the bus network.&nbsp;</p>
<p>To ensure the smooth running of the network, diversions and curtailments were carefully planned.&nbsp;</p>
<p>The winning team's role was imperative as they worked on the ground preparing, erecting and removing diversion boards across London.&nbsp; </p>
<p>Their efforts ensured the best possible support to drivers and officials and helped keep London's buses moving.&nbsp; </p>
<p>The team was co-ordinated by Peter Skilton, with Gary Cooper, Derek Roberts and Glenn Michaels.&nbsp; </p>
<h3>Euphema Wallace, Metroline (Cricklewood)</h3>
<p>Big Red Book award for an Accessibility Champion - proactively demonstrates that they understand the barriers to travel for older/disabled passengers and ways they can address these to enable them to feel the bus is a reliable, convenient and accessible means of travel.</p>
<p>Euphema has always been courteous and conscientious with a willingness to help.&nbsp; </p>
<p>Due to this professionalism and exceptional levels of customer care shown for her passengers, Euphema was selected prior to the London 2012 Games to be a vehicle instructor and to train her colleagues in the different types of vehicle.&nbsp; </p>
<p>Developing best practices on ways to help elderly or disabled passengers, Euphema became a focal point for advice from her colleagues during the Games. </p>
<h3>Nadia Nobrega, Go Ahead (Stockwell)</h3>
<p>Outstanding Newcomer - recognises those with less than two years experience in the industry who stand out from their peers</p>
<p>When Nadia joined Go-Ahead she had extremely limited knowledge of the transport industry, having previously been employed as a Legal Secretary and a personal assistant.&nbsp;</p>
<p>Nadia has really embraced her work and showed a natural flair for providing excellent customer service and a smile for her passengers every day.&nbsp;</p>
<p>Nadia has received compliments from members of the public commenting on her lovely warm smile and patience, with independent assessments by TfL rating her driving as comfortable and smooth.</p>
<h3>Catford Garage Green Team, Stagecoach</h3>
<p>Environmental Champion - recognises those who have made a real change that goes above and beyond the company policy and 'business as usual' approach to sustainability and environmental issues within their organisation</p>
<p>When Engineering Director Darren Roe arrived in 2010 he was determined to increase awareness of environmental issues and established 'Green Teams' at nine Stagecoach garages, one of which was at Catford.&nbsp;</p>
<p>Some changes were major, such as changes to lighting and heating systems, but some were introduced at a local level, such as improved recycling of waste and tackling areas such as noise pollution.&nbsp; </p>
<p>Darren signed up to The Big Switch Off initiative for Christmas and New Year in 2011 where all non-essential electrical equipment was turned off for the period.&nbsp;</p>
<p>He introduced it again during the weekend of the Queen's Jubilee Weekend celebrations in 2012 and the result at Catford was remarkable, with a 25 per cent reduction in electrical consumption. </p>
<p>The team was presented with a financial reward, which they donated to charity.&nbsp;</p>
<p>This work at Catford has to the led to the initiatives being rolled out to the whole of Stagecoach UK.</p>
<h2>
<hr>
</h2>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>Photographs of winners are available on request<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/15890">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/september">September</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/august">August</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/july">July</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/june">June</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16598">May</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16698">April</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16906">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16962">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2013-July-Transport for London recognises outstanding and inspirational staff at London Bus Awards -->

 
 
        
        
            @{ViewBag.Description = "The awards honour London bus staff who have displayed outstanding commitment and professionalism during the course of their work.&nbsp;This was more important than ever in the last year as bus operating companies and inspirational staff contributed to";}
        
        


 