


@{ViewBag.Title = "Tube stations blooming in 150th year of the Tube";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2013">2013</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2013/july">July</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Tube stations blooming in 150th year of the Tube</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Tube stations blooming in 150th year of the Tube</h1>
        <div class="content-page-press-release">
        31 July 2013
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Staff at Tube stations have been racing to grow the most fragrant honeysuckle at Leyton, the loveliest lilies at Rayners Lane and the tastiest spinach at Hampstead.
        
    </div>



 <div class="on-this-page">
<p>All this green-fingered work is done in their own time as part of the Tube's annual Underground in Bloom competition. </p>
<p>Platforms, station entrances and ticket halls have been transformed into colourful oases for customers to enjoy. </p>
<p>Some employees have used the 150th anniversary of London Underground for inspiration by growing a bed of flowers in the shape of the number 150 or by cultivating Victorian era blooms. Other staff have even used what little space they have to nurture a miniature lawn in a depot. </p>
<p>A team of judges has been assessing the entries, which include categories such as hanging baskets, tubs, cultivated gardens and fruit and veg. </p>
<p>This year has seen 68 entries from stations, depots and train crew sites. Judges are looking for overall impact of the display, imagination and creativity. </p>
<p>Extra points will be given for 'greener' gardens and for the interpretation of the 150th anniversary theme. </p>
<p>Phil Hufton, Chief Operating Officer for London Underground, said: 'I'd like to thank all our staff for turning our stations, depots and train crew sites into places that are bursting with colour in the 150th year of the world's first underground railway.</p>
<p>'Real effort has gone into creating these horticultural masterpieces by our workforce in their own time and we know it's much appreciated by our customers. </p>
<p>'With so many excellent entries it's going to be tough to choose the outright winners of each category, every entrant should be proud of their achievements.'</p>
<p>The awards ceremony will take place on 11 September at City Hall. </p>
<p>
<hr>

<p>
<h4>Notes to editors:</h4>
<p>The Tube is undergoing a huge and essential programme to modernise its infrastructure - vital to cope with a growing population and to support the economic development and growth of the Capital and the UK. </p>
<p>This includes the introduction of new track and signalling and the rebuilding of some of our most important stations. By the end of the current programme there will be 30% more capacity. </p>
<p>TfL is working hard to provide information and alternative travel options while work is taking place. The work is essential to provide for London's growing transport needs now, and into the future. </p>
<p>TfL is urging all Londoners and Tube, London Overground, London Tramlink and DLR passengers to 'check before you travel' at weekends, allowing extra journey time where necessary. Weekend travel news is available at <a href="http://www.tfl.gov.uk/check">tfl.gov.uk/check</a> </p>
<h4>The stations, depots and train crew sites below have entered the 2013 Underground in Bloom competition:</h4><strong>
<h4>&nbsp;</h4></strong>
<strong>
<h4>Jubilee line </h4>
<p></strong>Neasden<br>Canada Water<br>Bermondsey</p>
<h4>Northern line </h4>
<p>Hampstead<br>Highgate<br>Clapham North<br>Stockwell<br>High Barnet Train Crew Accommodation<br>Finchley Central<br>Totteridge &amp; Whetstone<br>High Barnet<br>Kentish Town<br>East Finchley</p>
<h4>Piccadilly line</h4>
<p>Osterley<br>Arnos Grove Train Crew Accommodation<br>Sudbury Town<br>Northfields<br>Sudbury Hill<br>Acton Town Piccadilly Train Crew Accommodation (Bollo House)<br>Northfields Train Crew Accommodation (Charles Holden House)<br>Cockfosters</p>
<h4>District line </h4>
<p>Upminster Train Crew Accommodation<br>Bromley-by-Bow<br>Ealing Common Depot<br>East Ham<br>West Brompton<br>Putney Bridge<br>Stamford Brook<br>West Kensington<br>Turnham Green<br>Ravenscourt Park</p>
<h4>Metropolitan line </h4>
<p>Eastcote<br>Amersham<br>Northwood Hills<br>Rayners Lane<br>North Harrow<br>Preston Road<br>Rickmansworth<br>Watford</p>
<h4>Circle&nbsp;and Hammersmith&nbsp;&amp; City&nbsp;lines </h4>
<p>Edgware Road (C&amp;H)<br>Barking Train Crew Accommodation<br>South Kensington<br>Bayswater</p>
<h4>Bakerloo line </h4>
<p>Queen's Park Train Crew Accommodation<br>Kensal Green<br>Maida Vale</p>
<h4>Central line </h4>
<p>East Acton<br>Leyton<br>Newbury Park<br>Chigwell<br>Snaresbrook<br>White City Train Crew Accommodation<br>Theydon Bois<br>North Acton<br>Northolt<br>Notting Hill Gate<br>Greenford<br>Hainault Train Crew Accommodation<br>West Ruislip Train Crew Accommodation<br>Epping<br>Roding Valley<br>Leyton Signals Depot</p>
<h4>Victoria line</h4>
<p>Brixton Train Crew Accommodation / Electra House<br>Osborne House<br>Northumberland Park Depot<br>Tottenham Hale</p>
<h4>Other locations</h4>
<p>Frank Pick House<br>Acton Works (Distribution Services)</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/15890">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/september">September</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/august">August</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/july">July</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/june">June</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16598">May</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16698">April</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16906">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16962">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2013-July-Tube stations blooming in 150th year of the Tube -->

 
 
        
        
            @{ViewBag.Description = "All this green-fingered work is done in their own time as part of the Tube's annual Underground in Bloom competition. Platforms, station entrances and ticket halls have been transformed into colourful oases for customers to enjoy. Some employees have used";}
        
        


 