
    
  



@{ViewBag.Title = "About the TfL Corporate Archives";}
@{ViewBag.Keywords = "Public,TfL";}
@{ViewBag.Url = "/corporate/about-tfl/culture-and-heritage/corporate-archives/about-the-tfl-archives";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/corporate/about-tfl/index">About TfL</a></li>
                
            
                 <li><a href="/corporate/about-tfl/culture-and-heritage">Culture & heritage</a></li>
                
            
                 <li><a href="/corporate/about-tfl/culture-and-heritage/corporate-archives">Corporate archives</a></li>
                
            
            
                <li><span class="last-breadcrumb">About the TfL Corporate Archives</span></li>
            
        
 
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>About the TfL Corporate Archives</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        Our archives provide a fascinating social history of transport in London throughout the centuries. 
        
      </div>
    
    
      
         
        <br />
    
      
           
      <div>

<p>Over the years our records have provided us with an important reminder of how our organisation has changed, as well as giving us a better understanding of social history.</p>

<p>Because of their cultural value, we take great care to preserve these archives for everyone's use and enjoyment. TfL Corporate Archives is responsible for safeguarding this corporate memory of Transport for London and its predecessor companies. The Archives collects and preserves both modern and historic records from the business and holds over 100,000 items dating from the 17th century to the present day.</p>

<p>We collect records which document the principal business functions and actions of Transport for London, its predecessor and subsidiary companies, and their interactions with London's citizens as well as with the physical and social environment.</p>

<p>The paper archives and portable storage media are held securely, according to British standards for storing archival materials, in a salt mine in Cheshire.</p>

<p><a href="http://www.tflcorporatearchivescatalogue.co.uk/CalmViewA/">Our catalogue is available online</a>.</p>

<p>The TfL Corporate Archives is open to the public for research Monday to Friday, 10:00-16:30, by prior appointment, at our reading room in central London.</p>

<p>As the reading room can become booked quite far in advance, and our material is not stored on site, it is advisable to try and book an appointment as far in advance as possible.</p>

<p>We are also keen to expand our oral history archive, particularly in relation to the early days of public transport, using the Tube for sheltering during the Second World War and female members of staff. If you know of anyone of interest who would like to tell their&nbsp;story, please get in contact to discuss it further.</p>

<p>We are happy to discuss any enquiry over the phone but will ask you to submit your enquiry in writing as well, via email or post. As enquiries can take time to respond to, written enquiries ensure that a full audit trail exists.</p>

<p>&nbsp;</p>
</div>
 
      
        
          
        
      
    
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/corporate/about-tfl/culture-and-heritage/corporate-archives" class="heading">
                    <h2 id="sub-menu-heading">Corporate archives<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected"><div class="link-wrapper"><a href="/corporate/about-tfl/culture-and-heritage/corporate-archives/about-the-tfl-archives">About the TfL Corporate Archives</a></div>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/culture-and-heritage/corporate-archives/accessing-our-archives">Accessing our archives</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/corporate/about-tfl/culture-and-heritage/corporate-archives/the-collections">The Collections</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
























<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
      <div class="module-grid clearfix">
                    
        <div>

    <div class="contact-info-box">
         <div class="contact-info-header">
             <h3>Contact Corporate Archives</h3>
         </div>
        
        
        
        
        <p class="content-group">
            <span class="visually-hidden">Email address</span>
            <a href="mailto:corporatearchives&#64;tfl.gov.uk">corporatearchives&#64;tfl.gov.uk</a>
        </p>
        
        <div class="content-group">
            <p>
                
                
                
                
                
                
                
                
            </p>
            
        </div>
        
        <div class="content-group">
            <h4>TfL Corporate Archives</h4>
            
            <p>
                
                2nd Floor<br />
                55 Broadway<br />
                London<br />
                SW1H 0BD
            </p>
            
            
        </div>
        
        
    </div>
</div>
 <div class="related-links">

    <h3>Related websites</h3>

<div class="vertical-button-container">

<a href="http://www.hmrs.org.uk/index.php" class="plain-button">HMRS Online</a>
<a href="http://www.nationalarchives.gov.uk/" class="plain-button">The National Archives</a>
<a href="https://www.cityoflondon.gov.uk/things-to-do/london-metropolitan-archives/Pages/default.aspx" class="plain-button">London Metropolitan Archives</a>
<a href="http://www.ltmuseum.co.uk/" class="plain-button">London Transport Museum</a>
<a href="http://www.nrm.org.uk/researchandarchive" class="plain-button">National Railway Museum Archives</a>
    </div>
</div>
 
      </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Information about TfL archives which are a fascinating social archive of transport in London throughout the centuries. ";}
        
            
        


 