
    
  



@{ViewBag.Title = "Accessing our archives";}
@{ViewBag.Keywords = "Public,TfL";}
@{ViewBag.Url = "/corporate/about-tfl/culture-and-heritage/corporate-archives/accessing-our-archives";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/corporate/about-tfl/index">About TfL</a></li>
                
            
                 <li><a href="/corporate/about-tfl/culture-and-heritage">Culture & heritage</a></li>
                
            
                 <li><a href="/corporate/about-tfl/culture-and-heritage/corporate-archives">Corporate archives</a></li>
                
            
            
                <li><span class="last-breadcrumb">Accessing our archives</span></li>
            
        
 
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Accessing our archives</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        We try to make any archive research you do as easy as possible but knowing what to expect before you arrive makes it even easier. 
        
      </div>
    
    <div class="on-this-page">
      
        <br />
         
         
         
         
    
      
           
      <div>

<h2>Records
</h2>
<p>Unless they're already in the public domain, newly-created records cannot be seen by the public for the first 20 years. This ensures that records with commercial confidentiality agreements remain confidential during this period. Sensitive records, or those relating to transport security, are closed for up to 100 years. </p>
<p>Access to all records is, nevertheless, subject to the provisions of the Data Protection Act and the Freedom of Information Act.</p>
<h2>Ordering material</h2>
<p>Our archives are kept in an off-site storage facility in Cheshire, so we order your requests once a week. If you'd like to order material the process usually goes like this:</p>
<ul>
    <li>Decide what material you want to order</li>
    <li>Contact us to let us know that you'd like to make an order</li>
    <li>We'll give you a date by which you should submit your requests - this is usually the Wednesday before you want to visit. If you miss your deadline date, you'll miss the weekly order and you'll have to rearrange your visit for another time</li>
</ul>
<h2>Document copying</h2>
<p>If you need to make copies of documents in our archive, please be aware that:</p>
<ul>
    <li>You shouldn't attempt to photocopy documents or the pages of books, yourself. Photocopying requests should be made to an archivist who then assesses whether there are any risks to the document and will only continue in accordance with UK copyright laws</li>
    <li>Only black and white copies are available</li>
    <li>Staff have limited time to make photocopies, so the number of photocopies allowed is limited to 40 pages per visit</li>
    <li>You can take photos of documents on a digital camera but you should check with the archivist before you do so, and remember to turn your flash off</li>
    <li>Use of cameras in the search room, for any purpose other than photographing records, is strictly prohibited</li>
    <li>You must abide by copyright regulations if you have obtained copies of records, whether photocopies or digital images</li>
</ul>
<h2>Remote research</h2>
<p>We are happy to take on small amounts of research for users who can't visit us in person. This is restricted to a maximum of two hours per enquiry: this two-hour slot also includes searching catalogues and ordering documents. If you, or an archive researcher, feels that the request will take longer than planned, we recommend looking for professional researchers on <a href="http://www.agra.org.uk/">The Association of Genealogists and Researchers</a> or <a href="http://www.nationalarchives.gov.uk/irlist/">The National Archives List of Independent Researchers</a>.</p>
</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/corporate/about-tfl/culture-and-heritage/corporate-archives" class="heading">
                    <h2 id="sub-menu-heading">Corporate archives<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/culture-and-heritage/corporate-archives/about-the-tfl-archives">About the TfL Corporate Archives</a></div></li>
                            
 
                                <li class="selected"><div class="link-wrapper"><a href="/corporate/about-tfl/culture-and-heritage/corporate-archives/accessing-our-archives">Accessing our archives</a></div>
                            </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/corporate/about-tfl/culture-and-heritage/corporate-archives/the-collections">The Collections</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
























<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
      <div class="module-grid clearfix">
                    
        <div>

    <div class="contact-info-box">
         <div class="contact-info-header">
             <h3>Contact Corporate Archives</h3>
         </div>
        
        
        
        
        <p class="content-group">
            <span class="visually-hidden">Email address</span>
            <a href="mailto:corporatearchives&#64;tfl.gov.uk">corporatearchives&#64;tfl.gov.uk</a>
        </p>
        
        <div class="content-group">
            <p>
                
                
                
                
                
                
                
                
            </p>
            
        </div>
        
        <div class="content-group">
            <h4>TfL Corporate Archives</h4>
            
            <p>
                
                2nd Floor<br />
                55 Broadway<br />
                London<br />
                SW1H 0BD
            </p>
            
            
        </div>
        
        
    </div>
</div>
 <div class="related-links">

    <h3>Related websites</h3>

<div class="vertical-button-container">

<a href="http://www.hmrs.org.uk/index.php" class="plain-button">HMRS Online</a>
<a href="http://www.nationalarchives.gov.uk/" class="plain-button">The National Archives</a>
<a href="https://www.cityoflondon.gov.uk/things-to-do/london-metropolitan-archives/Pages/default.aspx" class="plain-button">London Metropolitan Archives</a>
<a href="http://www.ltmuseum.co.uk/" class="plain-button">London Transport Museum</a>
<a href="http://www.nrm.org.uk/researchandarchive" class="plain-button">National Railway Museum Archives</a>
    </div>
</div>
 
      </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Information about accessing the TfL culture & heritage archives";}
        
            
        


 