
    
  



@{ViewBag.Title = "The Collections";}
@{ViewBag.Keywords = "Public,TfL";}
@{ViewBag.Url = "/corporate/about-tfl/culture-and-heritage/corporate-archives/the-collections";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/corporate/about-tfl/index">About TfL</a></li>
                
            
                 <li><a href="/corporate/about-tfl/culture-and-heritage">Culture & heritage</a></li>
                
            
                 <li><a href="/corporate/about-tfl/culture-and-heritage/corporate-archives">Corporate archives</a></li>
                
            
            
                <li><span class="last-breadcrumb">The Collections</span></li>
            
        
 
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>The Collections</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        Our archives feature a wide range of subjects covering many aspects of our organisation and London's transport history. 
        
      </div>
    
    <div class="on-this-page">
      
        <br />
         
         
         
    
      
           
      
<div>




<p>Our archive collections include:</p>
<ul>
    <li>Annual reports and accounts</li>
    <li>Capital projects records</li>
    <li>Chief officer's correspondence and papers</li>
    <li>Corporate policies</li>
    <li>Major incidents and enquiries records</li>
    <li>Minutes and papers of Boards and Committees of TfL, its predecessors, and subsidiary companies</li>
    <li>Safety audit records</li>
    <li>Patents and design records</li>
    <li>Property deeds</li>
    <li>Staff clubs and events records</li>
    <li>Staff magazines</li>
    <li>Staff registers</li>
</ul>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/top-20-package.pdf">
    <div class="document-download-text">
        <p>Top 20 highlights of the collections in detail</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 7.15MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 7.15 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/cataloguing-report-2016-2017.pdf">
    <div class="document-download-text">
        <p>Cataloguing report 2016-2017</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 3.66MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 3.66 -->
 
</div>

</div>
 <div>

<p>Although we hold a number of staff registers, few of them contain more than a name, badge number, work location and work start date. They rarely contain addresses or extensive information about an individual's work records, although they might sometimes contain comments or details about pay rises, but this is unusual.&nbsp; </p>
<h2>Research guides</h2>
<p>If you'd like to find out more about a particular archive subject, these introductory research guides will help: </p>
</div>
 
<div>



<h2>Buildings research guides</h2>



<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/research-guide-no-30-lots-road-and-greenwich-power-stations.pdf">
    <div class="document-download-text">
        <p>Lots Road and Greenwich</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 180KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.18 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/research-guide-no-28-london-buses-in-world-war-2.pdf">
    <div class="document-download-text">
        <p>London buses in World War II</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 405KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.40 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/research-guide-8-55-broadway.pdf">
    <div class="document-download-text">
        <p>55 Broadway building</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 330KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.32 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/research-guide-no-18-tfl-buildings-post-1933.pdf">
    <div class="document-download-text">
        <p>TfL buildings post-1933</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 678KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.66 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/research-guide-no-20-victoria-coach-station.pdf">
    <div class="document-download-text">
        <p>Victoria Coach Station </p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 170KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.17 -->
 
</div>

</div>
 
<div>



<h2>Buses research guides</h2>



<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/research-guide-no-42-trolleybuses-in-london.pdf">
    <div class="document-download-text">
        <p>Trolleybuses in London</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 287KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.28 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/research-guide-no-40-overseas-bus-tours.pdf">
    <div class="document-download-text">
        <p>Overseas bus tours</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 388KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.38 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/research-guide-no-33-aldenham-bus-works.pdf">
    <div class="document-download-text">
        <p>Aldenham Bus Works</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 345KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.34 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/research-guide-no-35-fares-and-ticketing-on-londons-buses-trolleybuses-and-trams.pdf">
    <div class="document-download-text">
        <p>Fares/ticketing on London buses, trolleybuses and first-generation trams</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 387KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.38 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/research-guide-no-14-horse-buses-in-london.pdf">
    <div class="document-download-text">
        <p>Horse buses in London</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 356KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.35 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/research-guide-no-34-london-transport-bus-garages-and-depots.pdf">
    <div class="document-download-text">
        <p>London bus garages and depots</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 313KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.31 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/research-guide-no-22-london-buses-in-world-war-one.pdf">
    <div class="document-download-text">
        <p>London buses in World War 1</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 168KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.16 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/research-guide-no-28-london-buses-in-world-war-2.pdf">
    <div class="document-download-text">
        <p>London buses in World War II</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 405KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.40 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/routemaster-buses.pdf">
    <div class="document-download-text">
        <p>Routemaster buses</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 376KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.37 -->
 
</div>

</div>
 
<div>



<h2>Dates and events research guides</h2>



<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/research-guide-no-32-london-aircraft-production-group.pdf">
    <div class="document-download-text">
        <p>London Aircraft Production Group</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 125KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.12 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/london-transport-executive-and-the-1948-olympic-games.pdf">
    <div class="document-download-text">
        <p>London Transport Executive and the 1948 Olympic Games</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 117KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.11 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/documentary-sources-for-world-war-two.pdf">
    <div class="document-download-text">
        <p>Documentary sources for World War II</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 95KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.09 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/key-dates-in-the-history-of-london-transport.pdf">
    <div class="document-download-text">
        <p>Key dates in the organisation's history</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 378KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.37 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/research-guide-no-10-development-of-organised-transportation-in-london.pdf">
    <div class="document-download-text">
        <p>Development of organised transportation in London</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 471KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.46 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/research-guide-no-23-london-transport-during-world-war-one.pdf">
    <div class="document-download-text">
        <p>London's transport during World War 1</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 265KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.26 -->
 
</div>

</div>
 
<div>



<h2>Design research guides</h2>



<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/sources-on-the-roundel-and-trademarks-1906-1986.pdf">
    <div class="document-download-text">
        <p>Sources on the roundel and trademarks</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 95KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.09 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/research-guide-no-11-london-transport-posters.pdf">
    <div class="document-download-text">
        <p>London Transport posters</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 272KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.27 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/research-guide-no-12-frank-pick-papers.pdf">
    <div class="document-download-text">
        <p>Frank Pick papers</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 292KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.29 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/research-guide-no-24-harry-beck.pdf">
    <div class="document-download-text">
        <p>Harry Beck and the Underground Map</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 258KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.25 -->
 
</div>

</div>
 
<div>



<h2>People research guides</h2>



<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/royalty-and-london-transport.pdf">
    <div class="document-download-text">
        <p>Royalty and London Transport</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 482KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.47 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/research-guide-no-21-ethnic-minorities.pdf">
    <div class="document-download-text">
        <p>Ethnic minorities in the workforce </p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 347KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.34 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/research-guide-no-27-women-in-the-worforce.pdf">
    <div class="document-download-text">
        <p>Women in the workforce</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 254KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.25 -->
 
</div>

</div>
 
<div>



<h2>Rail/Tube research guides</h2>



<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/research-guide-no-36-kennington-station.pdf">
    <div class="document-download-text">
        <p>Kennington station</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 104KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.10 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/research-guide-no-38-bank-station.pdf">
    <div class="document-download-text">
        <p>Bank station</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 600KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.59 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/research-guide-no-37-aldwych-station.pdf">
    <div class="document-download-text">
        <p>Aldwych station</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 325KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.32 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/research-guide-no-31-a-brief-history-of-the-bakerloo-line.pdf">
    <div class="document-download-text">
        <p>Bakerloo line</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 151KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.15 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/research-guide-no-29-brief-history-of-the-waterloo-and-city-line.pdf">
    <div class="document-download-text">
        <p>Waterloo and City line</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 97KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.09 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/disused-underground-stations.pdf">
    <div class="document-download-text">
        <p>Disused Underground stations</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 242KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.24 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/research-guide-no-13-a-brief-history-of-the-northern-line.pdf">
    <div class="document-download-text">
        <p>Brief history of the Northern line</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 228KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.22 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/research-guide-no-16-a-brief-history-of-the-central-line.pdf">
    <div class="document-download-text">
        <p>Brief history of the Central line</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 307KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.30 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/research-guide-no-19-a-brief-history-of-the-hammersmith-and-city-line.pdf">
    <div class="document-download-text">
        <p>Brief history of the Hammersmith & City line</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 481KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.47 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/research-guide-no-25-the-thames-tunnel.pdf">
    <div class="document-download-text">
        <p>The Thames Tunnel</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 294KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.29 -->
 
</div>

</div>
 
<div>



<h2>Records research guides</h2>



<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/research-guide-no-46-cctv.pdf">
    <div class="document-download-text">
        <p>CCTV</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 638KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.62 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/research-guide-no-43-lost-property-office.pdf">
    <div class="document-download-text">
        <p>Lost Property Office </p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 276KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.27 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/records-relating-to-london-transport-held-by-other-bodies.pdf">
    <div class="document-download-text">
        <p>Records relating to London Transport held by other bodies</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 120KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.12 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/research-guide-no-15-health-and-safety-records.pdf">
    <div class="document-download-text">
        <p>Health & safety records</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 274KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.27 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/research-guide-no-17-sources-for-genealogical-research.pdf">
    <div class="document-download-text">
        <p>Sources for Genealogical Research </p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 285KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.28 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/research-guide-no-26-document-spotlight-staff-register.pdf">
    <div class="document-download-text">
        <p>Document spotlight</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 484KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.47 -->
 
</div>

</div>
 
<div>



<h2>Our exhibitions</h2>



<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/ww1-exhibition-2018.pdf">
    <div class="document-download-text">
        <p>World War I exhibition (2018)</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 4.74MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 4.74 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/mapping-exhibition-2017.pdf">
    <div class="document-download-text">
        <p>Mapping exhibition (2017)</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 4.16MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 4.16 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/events-exhibition-2016.pdf">
    <div class="document-download-text">
        <p>Events exhibition (2016)</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 4.37MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 4.37 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/design-exhibition-2015.pdf">
    <div class="document-download-text">
        <p>Design exhibition (2015)</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 4.05MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 4.05 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/year-of-the-bus-exhibition-2014.pdf">
    <div class="document-download-text">
        <p>Year of the Bus exhibition (2014)</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 5.36MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 5.36 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/tube-150-exhibition-2013.pdf">
    <div class="document-download-text">
        <p>Tube 150 exhibition (2013)</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 13.85MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 13.85 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/exhibition-highlights-2012.pdf">
    <div class="document-download-text">
        <p>Exhibition highlights 2012</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 5.05MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 5.05 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/exhibition-highlights-2011.pdf">
    <div class="document-download-text">
        <p>Exhibition highlights 2011</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 3.37MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 3.37 -->
 
</div>

</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/corporate/about-tfl/culture-and-heritage/corporate-archives" class="heading">
                    <h2 id="sub-menu-heading">Corporate archives<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/culture-and-heritage/corporate-archives/about-the-tfl-archives">About the TfL Corporate Archives</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/culture-and-heritage/corporate-archives/accessing-our-archives">Accessing our archives</a></div></li>
                            
 
                                <li class="selected parent"><div class="link-wrapper"><a href="/corporate/about-tfl/culture-and-heritage/corporate-archives/the-collections">The Collections</a></div>
                                <ul>
                                    
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/culture-and-heritage/corporate-archives/the-collections/photo-archive">Inside the archives</a></div></li>
                            
 
                                </ul>
                            </li>
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
























<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
      <div class="module-grid clearfix">
                    
        <div class="related-links">

    <h3>Related websites</h3>

<div class="vertical-button-container">

<a href="http://www.hmrs.org.uk/index.php" class="plain-button">HMRS Online</a>
<a href="http://www.nationalarchives.gov.uk/" class="plain-button">The National Archives</a>
<a href="https://www.cityoflondon.gov.uk/things-to-do/london-metropolitan-archives/Pages/default.aspx" class="plain-button">London Metropolitan Archives</a>
<a href="http://www.ltmuseum.co.uk/" class="plain-button">London Transport Museum</a>
<a href="http://www.nrm.org.uk/researchandarchive" class="plain-button">National Railway Museum Archives</a>
    </div>
</div>
 
      </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Our archives feature a wide range of subjects covering many aspects of our organisation and London's transport history. ";}
        
            
        


 