



<div>



<h2>Congestion Charge/ULEZ</h2>



<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/congestion-charge-zone-map.pdf">
    <div class="document-download-text">
        <p>Congestion Charge zone map - PDF</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 557KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.54 -->
 

<a class="document-download-wrap gif" href="/cdn/static/cms/documents/congestion-charge-zone-map.gif">
    <div class="document-download-text">
        <p>Congestion Charge zone map - GIF</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            GIF 1.52MB
            
        </p>
    </div>
    <div class="document-download-icon download-image">
    </div>

</a>

<!-- 1.52 -->
 
</div>

</div>
 

 