



<div>




<div class="large-icon-accordion">
<ul>
    <li class="nearby">
    <a href="?Input=Current+location+" class="with-subtext maps-nearby-current-location">
    <span class="mini-map"></span>Nearby
    <span class="subtext">Find your nearest docking station</span></a>
    </li>
</ul>
</div>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/cycle-superhighway-route-1-map-city-to-tottenham.pdf">
    <div class="document-download-text">
        <p>CS1 from The City to Tottenham</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 482KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.47 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/bcs2-map.pdf">
    <div class="document-download-text">
        <p>CS2 from Stratford to Aldgate</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 187KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.18 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/bcs3-map.pdf">
    <div class="document-download-text">
        <p>CS3 from Barking to Tower Gateway</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 51KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.05 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/cs5-oval-pimlico.pdf">
    <div class="document-download-text">
        <p>CS5 from Oval to Pimlico</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 765KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.75 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/cs6-ns-map-september-2018.pdf">
    <div class="document-download-text">
        <p>CS6 from Elephant & Castle to King's Cross</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 131KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.13 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/bcs7-map.pdf">
    <div class="document-download-text">
        <p>CS7 from Merton to the City</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 54KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.05 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/bcs8-map.pdf">
    <div class="document-download-text">
        <p>CS8 from Wandsworth to Westminster</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 226KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.22 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/cycles-on-public-transport.pdf">
    <div class="document-download-text">
        <p>Taking cycles on the Tube map</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 337KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.33 -->
 
</div>

</div>
 

 