
    
  



@{ViewBag.Title = "Accessible travel stories";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/transport-accessibility/accessible-travel-stories";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/transport-accessibility/index">Transport accessibility</a></li>
                
            
            
                <li><span class="last-breadcrumb">Accessible travel stories</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Accessible travel stories</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        In our campaign to raise awareness of the accessible services available to help our customers get around London, Asif, Bob, James, Paresh and Robyn told us what it's like travelling as disabled people. Read their stories and see if you could take more journeys than you think.
        
      </div>
    
    <div class="on-this-page">
      
      
           
      <div class="clearfix">
    <div class="image-box right-float">
    
        
        
        <img src="/cdn/static/cms/images/asif-photo-700x438_rdax_400x250.gif" alt="Asif Igbal MBE" />
        <span class="caption">Asif Iqbal MBE, president of Harrow United Deaf Club</span>
        
        
    </div>
    <h2>Asif's story</h2>
<p>"I love London - it's a great place. I am involved in a lot of charity endeavours, socialising and work. I also spend a great deal of my time in meetings.</p>
<p>"I am proud to say I made the Disability News Service list of the top 10 most influential disabled people in the public service. It was such a surprise and a great honour but good to be recognised for the work I love to do within the community.  One of the things I am have done is set up a <a href="http://hudc.org.uk/ ">deaf club in Harrow</a> which has been running successfully for the past seven years.</p>
<p>"I use public transport every day. The visual displays are very handy and there is so much information available like maps and guides to help me plan my journey.</p>
<p>"The staff are great. Not many can use sign language or are deaf aware,  but they are usually considerate of how they communicate. Slowly, face-to-face and written down if possible.</p>
<p>"While using public transport I obviously can't hear announcements so at times I miss information such as platform or train changes, but with the introduction of the visual displays, I now have access to live information.  The introduction of  help points which come equipped with  loop systems for deaf people is a fantastic addition.  But even with such technology, staff are a vital part of my travel.</p>
<p>"There is still some work to be done but working with different accessibility groups means that TfL can eventually provide accessible travel for everyone.  It's about empowerment and choice. If I have the information, I can make a decision about my travel."</p>
<p><a href="https://tfl.gov.uk/transport-accessibility/features-on-board?intcmp=5347">Find out more about on-board features including audio visual displays</a> </p>
 </div>
 <div class="clearfix">
    <div class="image-box right-float">
    
        
        
        <img src="/cdn/static/cms/images/bob-landscape_rdax_400x250.gif" alt="61-year-old Bob" />
        <span class="caption">Bob, 61. A consultant and motivational speaker with Parkinson's</span>
        
        
    </div>
    <h2>Bob's story</h2>
<p>"I live with my wife in Sidcup. Having a long term condition such as Parkinson's can be very isolating. I spent years at home not being able to work.</p>
<p>"Then a change in treatment gave me the opportunity of a new part-time career. To feel part of the human race again was something I had always hoped for. Working for the charity who had helped me when I had needed help, means I can use my experience to give something back. Parkinson's UK are helping people to take control of their lives once again.</p>
<p>"Good travel options mean it is possible to say 'yes' to so many opportunities - I am really thankful for that.</p>
<p>"Crowded areas can be a challenge. If there are too many people I just stop. It's like running out of petrol. The concourses during the rush hour are particularly daunting, when people are moving in different directions. I sometimes want people to think, if they were stuck, would they like some help?</p>
<p>"I sometimes ask staff for help and they have always been lovely. They are very attentive and keen to make sure I am ok."</p>
<p><a href="https://tfl.gov.uk/transport-accessibility/help-from-staff ">Find out more about our turn up and go staff assistance</a></p>
<p><a href="https://soundcloud.com/transportforlondon/tfl-accessibility-bob-61-consultant-and-motivation-speaker-living-with-parkinsons">Listen to Bob's story</a></p>
 </div>
 <div class="clearfix">
    <div class="image-box right-float">
    
        
        
        <img src="/cdn/static/cms/images/robyn-700x438_rdax_400x250.gif" alt="29-year-old Robyn" />
        <span class="caption">Robyn, 29. An author and trumpet player with Asperger's syndrome and cerebral palsy</span>
        
        
    </div>
    <h2>Robyn's story</h2>
<p>"I'm Robyn and I am a consultant. I get to travel the world teaching people about autism and Asperger's syndrome.  I am also a musician and I play the trumpet in a big band in Angel.</p>
<p>"One of the disabilities I have is Asperger's syndrome, which is autism without a learning disability. I have cerebral palsy in my left side. It is quite hard to see but sometimes I walk with a limp and get fatigued very easily. And I have a visual impairment so travelling is quite tricky!</p>
<p>"Before I lived in London I lived in quite a rural area in Suffolk. It was quite isolating. I couldn't get out and do things for myself. When I was 21, I moved to London and it completely changed my life. I have lived in other cities in the UK but London is the first place I lived that I felt less disabled.</p>
<p>"The transport network is really important to me. My Freedom Pass has made a big difference. I live in Clapham Junction which is perfect as there are so many options including the 87 bus, which is my favourite bus. I get a great view of Big Ben from the top deck!"</p>
<p><a href="https://tfl.gov.uk/fares-and-payments/adult-discounts-and-concessions/freedom-pass?intcmp=1742">Find out more about applying for a freedom pass</a></p>
<p><a href="https://soundcloud.com/transportforlondon/robyn-29-an-author-and-trumpet-player-with-aspergers-syndrome-and-cerebral-palsy">Listen to Robyn's story</a></p>
 </div>
 <div class="clearfix">
    <div class="image-box right-float">
    
        
        
        <img src="/cdn/static/cms/images/james-700x438_rdax_400x250.jpg" alt="28-year-old James" />
        <span class="caption">James, 28. A dad and wheelchair user</span>
        
        
    </div>
    <h2>James' story </h2>
<p>"I work for an events agency and I am currently arranging the world's first fully accessible and inclusive mass-participation event. It's called <a href="https://parallellondon.com">Parallel London</a>.</p>
<p>"I have a young son called Oliver. He's 11 months old and we live in North London. If you have mobility impairment it is quite tricky to get into central London. It is amplified if you are travelling with someone with a pram.</p>
<p>"I remember when King's Cross wasn't accessible and that would have made my current route to work more difficult. Things are getting better and I am a realist. I understand that work to make all stations step-free is going to take time. It has gotten much easier to use buses. If you can't use the Tube network you can always get on a bus. Being able to do the majority of my journey on the Underground has been the biggest difference I have noticed. </p>
<p>"The Overground, while sometimes subject to delays, has made it possible that my son's grandparents can be part of his life. It really enables my family to be better connected. It is great to know as well that there are a range of options available.<br />
<br />
"And of course the staff are definitely the best part of travelling on the network. I use Twitter for <a href="https://twitter.com/tflaccess">&#64;TfLaccess</a> as they are normally really good at pushing out disruption messaging.</p>
<p>"Good signage and real-time announcements when there are disruptions is one of the little things that have made a real difference. For example, if a lift is broken I appreciate the driver letting me know that there is no step-free access to the platform and then I won't get off the train. A simple thing but very useful to me."</p>
<p><a href="https://tfl.gov.uk/transport-accessibility/?cid=accessibility ">Find out more about step-free access and avoiding stairs as well as free guides and maps to help you plan your journey</a></p>
 </div>
 <div class="clearfix">
    <div class="image-box right-float">
    
        
        
        <img src="/cdn/static/cms/images/paresh-700x438_rdax_400x250.jpg" alt="45-year-old Paresh" />
        <span class="caption">Paresh, 45. A tech consultant who is registered blind</span>
        
        
    </div>
    <h2>Paresh's story</h2>
<p>"I live in Kensington with my wife. I have worked with Action for the Blind for the last 21 years. My job is around access technology in the workplace and universities. On a day-to-day basis that means messing around with technology! I am a bit of a fitness freak - I attend the gym three or four times a week. I love my movies and music as well as comedy. That's pretty much what I am all about.</p>
<p>"I have been using the bus and Underground network in London since 1994. I walk to Ladbroke Grove which is my nearest station and then take the underground to King's Cross to get to my office. The nature of my job means that I am often visiting companies across the south east, so every day varies.</p>
<p>"In the last 20 years I have seen such a change in my independence. In 1995 I used to travel on the Bakerloo line and I remember I used to count the number of times the door would open so I could keep a check on the stations and change at the right place. Sometimes I would miss my station completely. All that has changed - I now listen out for the announcements, I don't even need to count on asking a fellow passenger to tell where I am. It is independence.</p>
<p>"I used to get on the bus in the old days and tell the bus driver to let me know when we were at so and so and I would wait and wait and wait and then go ask the driver and it was 'Oh, sorry, sorry, your stop was three stops ago!' But now we have the announcements. They are so useful.</p>
<p>"It is getting better by the day, I tell you that. It is getting better and better.</p>
<p>"The staff are really brilliant. If I haven't figured out the station yet, I arrange to get met by all the staff and they take me to the next point or even some of them even go out of their way to take me across the street."</p>
<p><a href="https://tfl.gov.uk/transport-accessibility/?cid=accessibility">Find out more about on-board features and station staff to help you travel around London</a></p>
<p><a href="https://soundcloud.com/transportforlondon/tfl-accessibility-paresh-45-a-tech-consultant-and-registered-blind">Listen to Paresh's story</a></p>
 </div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
                <a href="/transport-accessibility/index" class="heading">
                    <h2 id="sub-menu-heading">Transport accessibility<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li><div class="link-wrapper"><a href="/transport-accessibility/plan-an-accessible-journey">Plan an accessible journey</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/transport-accessibility/learn-to-use-public-transport">Travel mentoring</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/transport-accessibility/help-from-staff">Help from staff</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/transport-accessibility/fares-and-tickets">Fares & tickets</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/transport-accessibility/wheelchair-access-and-avoiding-stairs">Wheelchair access & avoiding stairs</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/transport-accessibility/features-on-board">Priority seating and other features on board</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/transport-accessibility/people-with-sight-or-hearing-loss">People with sight or hearing loss</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/transport-accessibility/pregnant-women-and-pushchairs">Pregnant women & buggy users</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/transport-accessibility/road-users-and-pedestrians">Using the pavement</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/transport-accessibility/door-to-door-transport-services">Assisted transport services</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/transport-accessibility/accessibility-guides-and-maps">Accessibility guides & maps</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/transport-accessibility/equality-policy-and-future-plans">Equality and assistance policies, and future plans</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/transport-accessibility/contact-us-about-accessibility">Contact us about accessibility</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/transport-accessibility/assistance-dogs">Assistance dogs</a></div></li>
                            
 
                                <li class="selected"><div class="link-wrapper"><a href="/transport-accessibility/accessible-travel-stories">Accessible travel stories</a></div>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/transport-accessibility/blue-badges-and-driving">Blue Badges and driving</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/transport-accessibility/please-offer-me-a-seat">Please offer me a seat</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/transport_accessibility" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/transport_accessibility" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>

     @section scripts {
<div class="bottom-advert ">
    <div class="close-ad-button visually-hidden"><span class="close-icon-circle"></span></div>
    <div data-advert="/76889402/transport_accessibility" data-advert-sizes="320, 50"></div>
</div>
}
 
 
        
        
        
            @{ViewBag.Description = "Robyn, Asif, Paresh, James and Bob told us their stories about travelling around London with and accessibility need. Read their stories and see if you could you take more journeys than you think. ";}
        
            
        


 