
    
  



@{ViewBag.Title = "Assistance dogs";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/transport-accessibility/assistance-dogs";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/transport-accessibility/index">Transport accessibility</a></li>
                
            
            
                <li><span class="last-breadcrumb">Assistance dogs</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Assistance dogs</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        Know your rights when travelling by taxi, minicab or chauffeured vehicle with an assistance dog.
        
      </div>
    
    
      
      
           
      <div>

<h2>Drivers or companies refusing dogs</h2>

<p>Any taxi (black cab) or private hire (minicab) driver, or minicab company who refuses a fare, or charges an additional fee because a passenger has an assistance dog risks prosecution and the possible loss of their licence.</p>

<p>If you have an assistance dog and are refused a journey or charged more, please report this to us. All complaints will be fully investigated.</p>

<h2>A guide to assistance dogs for London's private hire drivers</h2>

<p>We have&nbsp;produced an animated guide to assistance dogs. It reminds drivers that assistance dogs should be carried with their owners in all private hire vehicles, at no extra charge.</p>

<p>There are different types of assistance dogs providing a wide range of support to older and disabled people. Not all assistance dogs wear a jacket and there are other assistance dogs in addition to those shown in our film and on the poster and leaflet. Taxi drivers, private hire operators and drivers should be aware that some passengers may have a health condition that is not obvious or visible but will still have an assistance dog.</p>

<p><a href="/info-for/taxis-and-private-hire/passengers-and-accessibility">Watch our short video</a> on what taxi and private hire drivers must do when a passenger has an assistance dog. Or <a href="https://soundcloud.com/transportforlondon/know-your-rights/s-UtO8g">listen to an audio-only version of the film on SoundCloud</a>.</p>
</div>
 <div>

<h2>How to contact us if there is a problem</h2>

<p>If you experience a problem with assistance dogs when using taxi or private hire services in London, please let us know by contacting us:</p>

<ul>
	<li><strong>Online</strong>: <a href="http://tfl.gov.uk/tph-comments">tfl.gov.uk/tph-comments</a></li>
	<li><strong>Phone</strong>: 0343 222 4000</li>
	<li><strong>Post</strong>: London Taxi and Private Hire, TfL Customer Services, 4th Floor, 14 Pier Walk, London SE10 0ES</li>
</ul>

<h2>More information</h2>

<p>There's more information on travelling with an assistance dog in a taxi or&nbsp;private hire vehicle in this leaflet. You can get braille versions of this leaflet, and the driver information leaflet on assistance dogs, by <a href="mailto:tflaccessibility&#64;tfl.gov.uk">emailing us</a>.</p>
</div>
 
<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/assistance-dogs-know-your-rights.pdf">
    <div class="document-download-text">
        <p>Know your rights when travelling with assistance dogs </p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 361KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.35 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/know-your-rights-travelling-with-assistance-dogs-large-print.pdf">
    <div class="document-download-text">
        <p>Know your rights when travelling with assistance dogs (large print)</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 143KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.14 -->
 
</div>

</div>
 
      
        
          
        
      
    
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
                <a href="/transport-accessibility/index" class="heading">
                    <h2 id="sub-menu-heading">Transport accessibility<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li><div class="link-wrapper"><a href="/transport-accessibility/plan-an-accessible-journey">Plan an accessible journey</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/transport-accessibility/learn-to-use-public-transport">Travel mentoring</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/transport-accessibility/help-from-staff">Help from staff</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/transport-accessibility/fares-and-tickets">Fares & tickets</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/transport-accessibility/wheelchair-access-and-avoiding-stairs">Wheelchair access & avoiding stairs</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/transport-accessibility/features-on-board">Priority seating and other features on board</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/transport-accessibility/people-with-sight-or-hearing-loss">People with sight or hearing loss</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/transport-accessibility/pregnant-women-and-pushchairs">Pregnant women & buggy users</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/transport-accessibility/road-users-and-pedestrians">Using the pavement</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/transport-accessibility/door-to-door-transport-services">Assisted transport services</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/transport-accessibility/accessibility-guides-and-maps">Accessibility guides & maps</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/transport-accessibility/equality-policy-and-future-plans">Equality and assistance policies, and future plans</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/transport-accessibility/contact-us-about-accessibility">Contact us about accessibility</a></div></li>
                            
 
                                <li class="selected"><div class="link-wrapper"><a href="/transport-accessibility/assistance-dogs">Assistance dogs</a></div>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/transport-accessibility/accessible-travel-stories">Accessible travel stories</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/transport-accessibility/blue-badges-and-driving">Blue Badges and driving</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/transport-accessibility/please-offer-me-a-seat">Please offer me a seat</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div></div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>

     @section scripts {
<div class="bottom-advert ">
    <div class="close-ad-button visually-hidden"><span class="close-icon-circle"></span></div>
    <div data-advert="/76889402/transport_accessibility" data-advert-sizes="320, 50"></div>
</div>
}
 
 
        
        
        
            @{ViewBag.Description = "Advice to customers who wish to take assistance dogs with them into taxis, minicabs or chauffeured vehicles, particularly regarding complaints";}
        
            
        


 