
    
  



@{ViewBag.Title = "Blue Badges and driving";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/transport-accessibility/blue-badges-and-driving";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/transport-accessibility/index">Transport accessibility</a></li>
                
            
            
                <li><span class="last-breadcrumb">Blue Badges and driving</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Blue Badges and driving</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        The Blue Badge scheme helps you park closer to your destination if you have mobility problems.
        
      </div>
    
    <div class="on-this-page">
      <p>If you are&nbsp;a Blue Badge holder there are a number of options available to you. These include provisions for stopping to set down or pick up passengers and parking spaces which are reserved solely for the use of Blue Badge holders.</p>

<p>However, the standard entitlements of the Blue Badge do not apply in parts of central London.</p>

<p>Find out more on the <a href="http://www.bluebadgelondon.org.uk">Blue Badge London website.</a></p>

<p>If you hold a valid Blue Badge, you're eligible to register for a 100 per cent&nbsp;discount for the Congestion Charge, even if you don't own a vehicle or drive. If your vehicle has a disabled road fund licence (tax disc) you will receive the 100 per cent&nbsp;discount automatically, and there is no need to register.</p>

<p><a href="/modes/driving/congestion-charge/discounts-and-exemptions#on-this-page-0">Find out about Congestion Charge discounts</a>.</p>

<p>Our Blue Badge guide includes information on parking and stopping on the red route, allowances for taxis and minicabs, as well as general advice on using your Blue Badge.</p>

<p>To learn more about making the most of what's available download a copy on the link below. Hard copies are also available -&nbsp;if you'd like one email our customer services team at <a href="mailto:customerservices&#64;tfl.gov.uk?Subject=Request%20for%20Blue%20Badge%20holders'%20guide%20to%20red%20routes">customerservices&#64;tfl.gov.uk</a>. Please include your name and address.</p>
      
           
      

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/blue-badge-holders-guide.pdf">
    <div class="document-download-text">
        <p>Blue Badge holders' guide</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 801KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.78 -->
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
    <div>
















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/transport_accessibility" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/transport_accessibility" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>

     @section scripts {
<div class="bottom-advert ">
    <div class="close-ad-button visually-hidden"><span class="close-icon-circle"></span></div>
    <div data-advert="/76889402/transport_accessibility" data-advert-sizes="320, 50"></div>
</div>
}
 
 
        
        
        
            @{ViewBag.Description = "Advice on Blue Badges and driving in London";}
        
            
        


 