
    
  



@{ViewBag.Title = "Community Transport";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/transport-accessibility/community-transport";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/transport-accessibility/index">Transport accessibility</a></li>
                
            
                 <li><a href="/transport-accessibility/door-to-door-transport-services">Assisted transport services</a></li>
                
            
            
                <li><span class="last-breadcrumb">Community Transport</span></li>
            
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Community Transport</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        Community Transport can provide door-to-door transport to people in local communities who can't use mainstream public transport allowing them to access work, training and social activities.
        
      </div>
    
    <div class="on-this-page">
      
        <p>
        Community Transport
        provides a wide range of services which include: </p>
        <ul>
            <li><strong>Transport for groups</strong><br />
            This service provides an affordable,
            accessible minibus service to community groups and voluntary organisations,
            assisting them in achieving their objectives</li>
            <li><strong>Transport for individuals<br />
            </strong>This
            service offers door-to-door journeys for individuals unable to use public
            transport or those living in isolation.&nbsp;
            This can include local demand responsive services, healthcare transport
            and day-trips</li>
        </ul>
        <p>Community Transport providers
        use a range
        of vehicles and community car share schemes, using both professional and volunteer drivers. Operators are local community-based organisations and the type of transport offered varies from borough to borough.
        </p>
        <p>Select your Borough below to
        find out about what's available near you.</p>
    
      
           
      <div class="accordion">




<div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="barking-and-dagenham-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Community Transport-Barking & Dagenham"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="barking-and-dagenham-heading" class="accordion-heading">Barking & Dagenham</div>
            </div>
            <div id="barking-and-dagenham-content" class="start-hidden" role="region" aria-labelledby="barking-and-dagenham-heading">
<p><a href="https://www.dabd.org.uk/help-and-advice/help-to-get-around/door-to-door-transport">The Disablement Association of Barking &amp; Dagenham (DABD)</a></p>

            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="barnet-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Community Transport-Barnet"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="barnet-heading" class="accordion-heading">Barnet</div>
            </div>
            <div id="barnet-content" class="start-hidden" role="region" aria-labelledby="barnet-heading">

        <p><a href="http://www.CTHub.Org.UK ">Barnet Community Transport</a></p>
    

            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="bexley--content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Community Transport-Bexley "><span class="visually-hidden">Toggle accordion</span></div>
                <div id="bexley--heading" class="accordion-heading">Bexley </div>
            </div>
            <div id="bexley--content" class="start-hidden" role="region" aria-labelledby="bexley--heading">
<p><a href="http://www.bexleyct.co.uk.">Bexley Accessible Transport Scheme (BATS)</a></p>

            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="brent-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Community Transport-Brent"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="brent-heading" class="accordion-heading">Brent</div>
            </div>
            <div id="brent-content" class="start-hidden" role="region" aria-labelledby="brent-heading">

        <p><a href="http://www.brentct.org.uk">Brent Community Transport</a></p>
    

            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="bromley-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Community Transport-Bromley"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="bromley-heading" class="accordion-heading">Bromley</div>
            </div>
            <div id="bromley-content" class="start-hidden" role="region" aria-labelledby="bromley-heading">
<p>This borough does not have Community Transport, please contact <a href="http://www.bexleyct.co.uk">Bexley Accessible Transport Scheme (BATS)</a> or <a href="http://http://www.croydonaccessibletransport.org.uk/">Croydon Accessible Transport (CAT)</a></p>

            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="camden-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Community Transport-Camden"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="camden-heading" class="accordion-heading">Camden</div>
            </div>
            <div id="camden-content" class="start-hidden" role="region" aria-labelledby="camden-heading">
<p><a href="http://www.camden.gov.uk/ccm/navigation/transport-and-streets/passenger-and-accessible-transport/">Camden Council services</a> and <a href="http://www.hackneyct.org/minibuses_-_camden">Minibuses for Community Groups</a></p>

            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="city-of-london-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Community Transport-City of London"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="city-of-london-heading" class="accordion-heading">City of London</div>
            </div>
            <div id="city-of-london-content" class="start-hidden" role="region" aria-labelledby="city-of-london-heading">
<p>This borough does not have Community
Transport, please try neighbouring schemes.</p>

            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="croydon-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Community Transport-Croydon"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="croydon-heading" class="accordion-heading">Croydon</div>
            </div>
            <div id="croydon-content" class="start-hidden" role="region" aria-labelledby="croydon-heading">

        <p><a href="http://www.croydonaccessibletransport.org.uk/">Croydon Accessible Transport (CAT)</a></p>
    

            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="ealing-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Community Transport-Ealing"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="ealing-heading" class="accordion-heading">Ealing</div>
            </div>
            <div id="ealing-content" class="start-hidden" role="region" aria-labelledby="ealing-heading">
<p><a href="http://ectcharity.co.uk/">Ealing Community Transport</a></p>

            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="enfield-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Community Transport-Enfield"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="enfield-heading" class="accordion-heading">Enfield</div>
            </div>
            <div id="enfield-content" class="start-hidden" role="region" aria-labelledby="enfield-heading">
<p>This borough does not have Community Transport - contact&nbsp;<a href="http://communitytransportwf.co.uk/">Community Transport Waltham Forest&nbsp;(CTWF)</a></p>

            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="greenwich-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Community Transport-Greenwich"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="greenwich-heading" class="accordion-heading">Greenwich</div>
            </div>
            <div id="greenwich-content" class="start-hidden" role="region" aria-labelledby="greenwich-heading">
<p>This borough does not have Community Transport, please contact <a href="http://www.lascot.com/lascot_minibuses_for_groups">Lambeth and Southwark Community Transport (LaSCoT)</a> for minibus transport.</p>

            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="hackney-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Community Transport-Hackney"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="hackney-heading" class="accordion-heading">Hackney</div>
            </div>
            <div id="hackney-content" class="start-hidden" role="region" aria-labelledby="hackney-heading">

        <p><a href="http://www.hackneyct.org/">Hackney Community Transport (HCT)</a></p>
    

            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="hammersmith-and-fulham--content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Community Transport-Hammersmith & Fulham "><span class="visually-hidden">Toggle accordion</span></div>
                <div id="hammersmith-and-fulham--heading" class="accordion-heading">Hammersmith & Fulham </div>
            </div>
            <div id="hammersmith-and-fulham--content" class="start-hidden" role="region" aria-labelledby="hammersmith-and-fulham--heading">
<p><a href="http://www.hfctp.co.uk/">Hammersmith and Fulham Community Transport Project</a></p>

            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="haringey-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Community Transport-Haringey"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="haringey-heading" class="accordion-heading">Haringey</div>
            </div>
            <div id="haringey-content" class="start-hidden" role="region" aria-labelledby="haringey-heading">
<p><a href="http://hctgroup.org/">Community Transport Haringey (HCT)</a> - part of HCT group.</p>

            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="harrow-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Community Transport-Harrow"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="harrow-heading" class="accordion-heading">Harrow</div>
            </div>
            <div id="harrow-content" class="start-hidden" role="region" aria-labelledby="harrow-heading">

        <p><a href="http://www.harrowct.org.uk/home">Harrow Community Transport</a></p>
    

            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="havering--content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Community Transport-Havering "><span class="visually-hidden">Toggle accordion</span></div>
                <div id="havering--heading" class="accordion-heading">Havering </div>
            </div>
            <div id="havering--content" class="start-hidden" role="region" aria-labelledby="havering--heading">
<p>Contact Havering Community Transport Limited for group travel: <a href="mailto:mailto:haveringct&#64;btconnect.com">email</a> or call on 01708 555 907</p>

            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="hillingdon-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Community Transport-Hillingdon"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="hillingdon-heading" class="accordion-heading">Hillingdon</div>
            </div>
            <div id="hillingdon-content" class="start-hidden" role="region" aria-labelledby="hillingdon-heading">

        <a href="http://www.hillingdoncommunitytransport.org.uk/">Hillingdon Community Transport</a>
    

            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="hounslow--content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Community Transport-Hounslow "><span class="visually-hidden">Toggle accordion</span></div>
                <div id="hounslow--heading" class="accordion-heading">Hounslow </div>
            </div>
            <div id="hounslow--content" class="start-hidden" role="region" aria-labelledby="hounslow--heading">
<p><a href="http://www.hounslowct.org.uk/">Hounslow Community Transport </a></p>

            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="islington-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Community Transport-Islington"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="islington-heading" class="accordion-heading">Islington</div>
            </div>
            <div id="islington-content" class="start-hidden" role="region" aria-labelledby="islington-heading">

        <p><a href="http://www.islingtonct.org/">Islington Community Transport</a> - part of HCT group</p>
    

            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="kensington-and-chelsea-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Community Transport-Kensington & Chelsea"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="kensington-and-chelsea-heading" class="accordion-heading">Kensington & Chelsea</div>
            </div>
            <div id="kensington-and-chelsea-content" class="start-hidden" role="region" aria-labelledby="kensington-and-chelsea-heading">

        <p><a href="http://www.westwayct.org.uk/">Westway Community Transport</a></p>
    

            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="kingston-upon-thames-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Community Transport-Kingston upon Thames"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="kingston-upon-thames-heading" class="accordion-heading">Kingston upon Thames</div>
            </div>
            <div id="kingston-upon-thames-content" class="start-hidden" role="region" aria-labelledby="kingston-upon-thames-heading">
<p><a href="https://www.kingston.gov.uk/info/200197/sustainable_transport/204/public_transport/10">Richmond and Kingston Accessible Transport (RaKAT)</a></p>

            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="lambeth-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Community Transport-Lambeth"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="lambeth-heading" class="accordion-heading">Lambeth</div>
            </div>
            <div id="lambeth-content" class="start-hidden" role="region" aria-labelledby="lambeth-heading">

        <p><a href="http://www.lascot.com/">Lambeth and Southwark Community Transport (LaSCoT)</a> &#45; part of HCT group</p>
    

            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="lewisham-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Community Transport-Lewisham"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="lewisham-heading" class="accordion-heading">Lewisham</div>
            </div>
            <div id="lewisham-content" class="start-hidden" role="region" aria-labelledby="lewisham-heading">

        <a href="http://www.lewishamctscheme.org.uk/">Lewisham Community Transport Scheme</a>
    

            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="merton-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Community Transport-Merton"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="merton-heading" class="accordion-heading">Merton</div>
            </div>
            <div id="merton-content" class="start-hidden" role="region" aria-labelledby="merton-heading">

        <p><a href="http://www.mct.uk.com/">Merton Community Transport (MCT)</a></p>
    

            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="newham-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Community Transport-Newham"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="newham-heading" class="accordion-heading">Newham</div>
            </div>
            <div id="newham-content" class="start-hidden" role="region" aria-labelledby="newham-heading">
<p>This borough does not have Community Transport - contact&nbsp;<a href="http://communitytransportwf.co.uk/">Community Transport Waltham Forest&nbsp;(CTWF)</a></p>

            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="redbridge-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Community Transport-Redbridge"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="redbridge-heading" class="accordion-heading">Redbridge</div>
            </div>
            <div id="redbridge-content" class="start-hidden" role="region" aria-labelledby="redbridge-heading">
<p>This borough does not have Community Transport. Please try neighbouring schemes.</p>

            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="richmond-upon-thames-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Community Transport-Richmond upon Thames"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="richmond-upon-thames-heading" class="accordion-heading">Richmond upon Thames</div>
            </div>
            <div id="richmond-upon-thames-content" class="start-hidden" role="region" aria-labelledby="richmond-upon-thames-heading">
<p><a href="https://www.kingston.gov.uk/info/200197/sustainable_transport/204/public_transport/10">Richmond and Kingston Accessible Transport (RaKAT)</a></p>

            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="southwark-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Community Transport-Southwark"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="southwark-heading" class="accordion-heading">Southwark</div>
            </div>
            <div id="southwark-content" class="start-hidden" role="region" aria-labelledby="southwark-heading">

        <p><a href="http://www.lascot.com/">Lambeth and Southwark Community Transport (LaSCoT)</a> &#45; part of HCT group</p>
    

            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="sutton-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Community Transport-Sutton"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="sutton-heading" class="accordion-heading">Sutton</div>
            </div>
            <div id="sutton-content" class="start-hidden" role="region" aria-labelledby="sutton-heading">

        <p><a href="http://www.suttonct.co.uk">Sutton Community Transport</a></p>
    

            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="tower-hamlets-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Community Transport-Tower Hamlets"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="tower-hamlets-heading" class="accordion-heading">Tower Hamlets</div>
            </div>
            <div id="tower-hamlets-content" class="start-hidden" role="region" aria-labelledby="tower-hamlets-heading">
<a href="http://thct.org.uk/">Tower Hamlets Community Transport
(THCT)</a>

            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="waltham-forest-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Community Transport-Waltham Forest"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="waltham-forest-heading" class="accordion-heading">Waltham Forest</div>
            </div>
            <div id="waltham-forest-content" class="start-hidden" role="region" aria-labelledby="waltham-forest-heading">
<p><a href="https://communitytransportwf.co.uk/">Community Transport Waltham Forest (CTWF)</a></p>

            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="wandsworth-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Community Transport-Wandsworth"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="wandsworth-heading" class="accordion-heading">Wandsworth</div>
            </div>
            <div id="wandsworth-content" class="start-hidden" role="region" aria-labelledby="wandsworth-heading">

        <p>
        <a href="http://www.wctbus.co.uk/">Wandsworth Community
        Transport</a></p>
    

            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="westminster-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Community Transport-Westminster"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="westminster-heading" class="accordion-heading">Westminster</div>
            </div>
            <div id="westminster-content" class="start-hidden" role="region" aria-labelledby="westminster-heading">
<p><a href="http://www.westwayct.org.uk/">Westway Community Transport</a></p>

            </div>
        </div>
    </div>
 
</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
                <a href="/transport-accessibility/index" class="heading">
                    <h2 id="sub-menu-heading">Transport accessibility<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li><div class="link-wrapper"><a href="/transport-accessibility/plan-an-accessible-journey">Plan an accessible journey</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/transport-accessibility/learn-to-use-public-transport">Travel mentoring</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/transport-accessibility/help-from-staff">Help from staff</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/transport-accessibility/fares-and-tickets">Fares & tickets</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/transport-accessibility/wheelchair-access-and-avoiding-stairs">Wheelchair access & avoiding stairs</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/transport-accessibility/features-on-board">Priority seating and other features on board</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/transport-accessibility/people-with-sight-or-hearing-loss">People with sight or hearing loss</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/transport-accessibility/pregnant-women-and-pushchairs">Pregnant women & buggy users</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/transport-accessibility/road-users-and-pedestrians">Using the pavement</a></div></li>
                            
 
                                <li class="selected parent"><div class="link-wrapper"><a href="/transport-accessibility/door-to-door-transport-services">Assisted transport services</a></div>
                                <ul>
                                    
                                        <li class="selected"><div class="link-wrapper"><a href="/transport-accessibility/community-transport">Community Transport</a></div>
                                    </li>
 
                                <li><div class="link-wrapper"><a href="/transport-accessibility/assisted-transport-pilot">Assisted Transport pilot</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/transport-accessibility/accessibility-guides-and-maps">Accessibility guides & maps</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/transport-accessibility/equality-policy-and-future-plans">Equality and assistance policies, and future plans</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/transport-accessibility/contact-us-about-accessibility">Contact us about accessibility</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/transport-accessibility/assistance-dogs">Assistance dogs</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/transport-accessibility/accessible-travel-stories">Accessible travel stories</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/transport-accessibility/blue-badges-and-driving">Blue Badges and driving</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/transport-accessibility/please-offer-me-a-seat">Please offer me a seat</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>




















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/transport_accessibility" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/transport_accessibility" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
      <div class="module-grid clearfix">
                    
        <div class="related-links">

    <h3>Also on this site</h3>

<div class="vertical-button-container">

<a href="/fares/free-and-discounted-travel" class="plain-button">Travelling with children: fares &amp; tickets</a>
    </div>
</div>
 
      </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>

     @section scripts {
<div class="bottom-advert ">
    <div class="close-ad-button visually-hidden"><span class="close-icon-circle"></span></div>
    <div data-advert="/76889402/transport_accessibility" data-advert-sizes="320, 50"></div>
</div>
}
 
 
        
        
        
            @{ViewBag.Description = "Community Transport can provide door-to-door transport to people in local communities who can't use mainstream public transport allowing them to access work, training and social activities. ";}
        
            
        


 