
    
  



@{ViewBag.Title = "Getting around with your buggy";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/transport-accessibility/getting-around-with-your-buggy";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/transport-accessibility/index">Transport accessibility</a></li>
                
            
                 <li><a href="/transport-accessibility/pregnant-women-and-pushchairs">Pregnant women & buggy users</a></li>
                
            
            
                <li><span class="last-breadcrumb">Getting around with your buggy</span></li>
            
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Getting around with your buggy</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        If you're travelling in London with a buggy, we want to make public transport easy for you to use. Find out what to expect when travelling.
        
      </div>
    
    <div class="on-this-page">
      
      
           
      <div>

<p>When using buggies on public transport, always make sure your child is securely fastened and your brake is on at all times when stationary. Never leave your buggy unattended.</p>
<p>If you are travelling by Tube:</p>
<ul>
    <li>Use the lift if one is available</li>
    <li>Take extra care on escalators</li>
    <li>Don't rush, particularly if the doors are already starting to close</li>
    <li>Be careful if there is a step up or down into the train</li>
    <li>Watch out for the thin grooves in the door runners on some trains especially if the wheels on your pushchair are thin</li>
</ul>
</div>
 <div class="clearfix">
    <div class="image-box light-box right-float">
    
        
        
        <a href="/cdn/static/cms/images/wheelchair-space-shared.jpg" class="modal-launch" target="_blank">
             <img src="/cdn/static/cms/images/wheelchair-space-700x438_rdax_400x250.jpg" alt="Wheelchair space shared with buggy" />
             
        </a>
        
        
    </div>
    <h3>On buses</h3>
<p>All London bus routes are served by low-floor, wheelchair-accessible buses.</p>
<p>This means you can board any bus, unless the driver thinks that it is too crowded for you to travel safely.</p>
<p>On buses, the driver can lower the bus for you, so it's level with the kerb. Drivers should make sure passengers have time to position their buggy safely, and hold on or sit down before moving away.</p>
<p>Fold the buggy up if it's too wide to fit through the doors and down the aisle.</p>
<p>If you're using a double buggy, feel free to get on the bus at the back exit doors, but remember to check with the driver first.</p>
<p>For safety reasons and general passenger comfort, move your buggy out of the middle aisle.</p>
<p>All buses have a wheelchair space available. By law, wheelchair users have priority over the space as it is the only place they can travel safely. When a wheelchair user is not using the space, you can use it on a first come first served basis.</p>
<p>If a wheelchair user wishes to board a bus, you should share the space, fold your buggy or move. You will not be asked to leave the bus, but you may choose to do so. If you wish to board the next bus instead, the driver will issue you a transfer ticket so you don't need to pay a double fare.</p>
 </div>
 <div class="clearfix">
    <div class="image-box light-box right-float">
    
        
        
        <a href="/cdn/static/cms/images/tube-buggy-full-size.jpg" class="modal-launch" target="_blank">
             <img src="/cdn/static/cms/images/tube-buggy-700x438_rdax_400x250.jpg" alt="Buggy waiting for Tube train" />
             
        </a>
        
        
    </div>
    <h3>On Tube and rail</h3>
<p>Most Tube trains have multipurpose areas suitable for buggies, except the Central, Waterloo &amp; City and Bakerloo lines. Many also have wheelchair spaces - feel free to use them if they're available but please give them up if they're needed by a wheelchair user.</p>
<p>Many of our stations have <a href="/transport-accessibility/wheelchair-access-and-avoiding-stairs">step-free access</a>. Always make use of lifts where available. Use our <a href="/maps_/maps">Step-free guide</a>  to see all stations where you can get between the platform and street step-free, or change between lines step-free.</p>
<p>At stations, some staff may be willing to help carrying buggies up and down stairs, although they are not always able to do so. They will ask you to carry your child and fold your buggy.</p>
<p>Use a help point to contact staff for information and assistance, or in an emergency.</p>
<p>For more information on travelling with a buggy on the Tube, read our <a href="/corporate/terms-and-conditions/ticketing-and-travel-conditions-of-carriage">Conditions of Carriage</a>.</p>
 </div>
 <div>

<h3>In taxis</h3>

<p>All taxis have an intermediate step and a ramp&nbsp;to make it easier for you to get in and out with a buggy. Please ask your driver if you need this.</p>

<h3>On river services</h3>

<p>Buggies are welcome on board all Thames Clippers River Bus services.</p>

<p>Boats are boarded via a ramp and have space for both wheelchair users and buggies. The crew will help you find the safest place to park your buggy. You will only be asked to fold up the buggy if necessary.</p>

<p>Buggies are also welcome on board most River Tour boats. <a href="/modes/river/index">Please check with the boat operator</a> you intend to travel with for further details.</p>

<h3>On the Emirates Air Line</h3>

<p>Folding buggies are permitted on the cable car as long as they are not put on the seats and do not cause a blockage to gangways, lifts or passages.</p>
</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
                <a href="/transport-accessibility/index" class="heading">
                    <h2 id="sub-menu-heading">Transport accessibility<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li><div class="link-wrapper"><a href="/transport-accessibility/plan-an-accessible-journey">Plan an accessible journey</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/transport-accessibility/learn-to-use-public-transport">Travel mentoring</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/transport-accessibility/help-from-staff">Help from staff</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/transport-accessibility/fares-and-tickets">Fares & tickets</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/transport-accessibility/wheelchair-access-and-avoiding-stairs">Wheelchair access & avoiding stairs</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/transport-accessibility/features-on-board">Priority seating and other features on board</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/transport-accessibility/people-with-sight-or-hearing-loss">People with sight or hearing loss</a></div></li>
                            
 
                                <li class="selected parent"><div class="link-wrapper"><a href="/transport-accessibility/pregnant-women-and-pushchairs">Pregnant women & buggy users</a></div>
                                <ul>
                                    
                                <li><div class="link-wrapper"><a href="/transport-accessibility/best-buggies-for-public-transport">Best buggies for public transport</a></div></li>
                            
 
                                        <li class="selected"><div class="link-wrapper"><a href="/transport-accessibility/getting-around-with-your-buggy">Getting around with your buggy</a></div>
                                    </li>
 
                                <li><div class="link-wrapper"><a href="/transport-accessibility/planning-a-journey-with-your-buggy">Planning a journey with your buggy</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/transport-accessibility/baby-on-board">Baby on board badge</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/transport-accessibility/road-users-and-pedestrians">Using the pavement</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/transport-accessibility/door-to-door-transport-services">Assisted transport services</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/transport-accessibility/accessibility-guides-and-maps">Accessibility guides & maps</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/transport-accessibility/equality-policy-and-future-plans">Equality and assistance policies, and future plans</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/transport-accessibility/contact-us-about-accessibility">Contact us about accessibility</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/transport-accessibility/assistance-dogs">Assistance dogs</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/transport-accessibility/accessible-travel-stories">Accessible travel stories</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/transport-accessibility/blue-badges-and-driving">Blue Badges and driving</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/transport-accessibility/please-offer-me-a-seat">Please offer me a seat</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>




















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/transport_accessibility" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/transport_accessibility" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>

     @section scripts {
<div class="bottom-advert ">
    <div class="close-ad-button visually-hidden"><span class="close-icon-circle"></span></div>
    <div data-advert="/76889402/transport_accessibility" data-advert-sizes="320, 50"></div>
</div>
}
 
 
        
        
        
            @{ViewBag.Description = "If you’re travelling in London with a buggy, we want to make public transport easy for you to use. Get to know what to expect when travelling, how to use our maps and guides, and top tips when planning your journey with a buggy. ";}
        
            
        


 