
    
  


<!-- rhroot -->
@{ViewBag.Title = "Transport accessibility";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/transport-accessibility/index";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
            
                <li><span class="last-breadcrumb">Transport accessibility</span></li>
            
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container landing-page section-landing-container">
        <h1>Transport accessibility</h1>
        
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">
        <div class="small-medium" data-set="widget"></div>
        <div class="primary-teaser landing-page-teaser">
            <div class="news-teaser ">
  
  <a href="/status-updates/stations-lifts-and-escalators-works-and-closures?intcmp=54583"  data-img="/cdn/static/cms/images/promos/8370-sm.jpg" data-img-breakpoint="medium" data-img-alt="Escalator repair taking place">
    <img src="/cdn/static/cms/images/promos/8370-sm_rdax_600x300.jpg" alt="Escalator repair taking place" />
    <div class="text-link sit-top">
      <h2>Stations, lifts and escalators</h2>
      <p>See which stations, lifts and escalators are out of service for planned works</p>
    </div>
  </a>
</div>

 
        </div>
        
        <div class="clearfix">
            
        </div>
        <div class="module-grid clearfix">
            <div class="news-teaser">

    <a href="/transport-accessibility/plan-an-accessible-journey?intcmp=5331" >
        <img src="/cdn/static/cms/images/promos/journey-planner_rdax_400x200.jpg" alt="Visiting London Jourey Planner image" />
        
        <div class="text-link">
             <h2>Plan an accessible journey</h2>
            <p>How to use our accessibility services, maps and travel tools to plan your journey</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="/transport-accessibility/wheelchair-access-and-avoiding-stairs?intcmp=5344" >
        <img src="/cdn/static/cms/images/promos/wheelchair-friendly-london-bridge_rdax_400x200.jpg" alt="Friends using wheelchair-friendly London Bridge station" />
        
        <div class="text-link">
             <h2>Step-free access</h2>
            <p>Advice on using the different kinds of transport across the TfL network</p>
        </div>
    </a>
</div>
 
 <div class="related-links">

    <h3>Help while travelling</h3>

<div class="vertical-button-container">

<a href="/transport-accessibility/help-from-staff" class="plain-button">Getting help from staff</a>
<a href="/transport-accessibility/features-on-board" class="plain-button">Priority seating and other features</a>
<a href="/transport-accessibility/please-offer-me-a-seat" class="plain-button">Please offer me a seat badge</a>
<a href="/transport-accessibility/people-with-sight-or-hearing-loss" class="plain-button">Travelling with sight or hearing loss</a>
<a href="/transport-accessibility/learn-to-use-public-transport" class="plain-button">Travel mentoring</a>
    </div>
</div>
 <div class="related-links">

    <h3>Travelling in London</h3>

<div class="vertical-button-container">

<a href="/transport-accessibility/road-users-and-pedestrians" class="plain-button">Using the pavement</a>
<a href="/transport-accessibility/blue-badges-and-driving" class="plain-button">Blue Badges and driving</a>
<a href="/transport-accessibility/fares-and-tickets" class="plain-button">Fares and tickets: discounted travel</a>
<a href="/transport-accessibility/accessibility-guides-and-maps" class="plain-button">Accessibility guides and maps</a>
<a href="/transport-accessibility/assistance-dogs" class="plain-button">Travelling with an assistance dog</a>
    </div>
</div>
 <div class="news-teaser">

    <a href="/transport-accessibility/learn-to-use-public-transport?intcmp=5334" >
        <img src="/cdn/static/cms/images/promos/travel-mentoring700x350_rdax_400x200.jpg" alt="Travel mentoring image" />
        
        <div class="text-link">
             <h2>Travel mentoring</h2>
            <p>How we can help people to start using public transport</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="/transport-accessibility/door-to-door-transport-services?intcmp=5359" >
        <img src="/cdn/static/cms/images/promos/taxi-290-sm_rdax_400x200.jpg" alt="Man boarding taxi using wheelchair ramp" />
        
        <div class="text-link">
             <h2>Door-to-door transport services</h2>
            <p>Help if you need transport to your door or additional support to travel</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="/transport-accessibility/pregnant-women-and-pushchairs?intcmp=5353" >
        <img src="/cdn/static/cms/images/promos/3349-sm_rdax_400x200.jpg" alt="Baby on Board badge wearer" />
        
        <div class="text-link">
             <h2>Pregnant women and buggy users</h2>
            <p>Everything from ordering a Baby on board badge to checking out buggies</p>
        </div>
    </a>
</div>
 
 <div class="related-links">

    <h3>Policies and commitments</h3>

<div class="vertical-button-container">

<a href="/transport-accessibility/equality-policy-and-future-plans" class="plain-button">Equality and assistance policies</a>
<a href="/corporate/website-accessibility/index" class="plain-button">Website accessibility</a>
<a href="/transport-accessibility/contact-us-about-accessibility" class="plain-button">Contact us about accessibility</a>
    </div>
</div>
 <div class="news-teaser">
    <div class="text-link">
        
        
        
        <h2>Accessible travel in London</h2>
        
        
        <p>Download your guide to the help and support that's available</p>
        <div class="multi-document-download-container">
            

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/accessible-travel-web.pdf">
    <div class="document-download-text">
        <p>Accessible travel in London </p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 883KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.86 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/making-it-easy-for-you-to-travel-around-london.pdf">
    <div class="document-download-text">
        <p>Accessible travel in London - easy read version</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 2.26MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 2.26 -->
 
        </div>
        
    </div>
</div>



 
        </div>
    </div>
    <div class="aside" role="complementary">
        <div class="large" data-set="widget">
            <div class="moving-source-order">
            
            </div>
        </div>
        <div class="module-grid">
            












<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/transport_accessibility" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/transport_accessibility" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 
            
        </div>
    </div>
    <div class="small-medium" data-set="content">&nbsp;</div>
</div>
 
     @section scripts {
<div class="bottom-advert ">
    <div class="close-ad-button visually-hidden"><span class="close-icon-circle"></span></div>
    <div data-advert="/76889402/transport_accessibility" data-advert-sizes="320, 50"></div>
</div>
}

        
        
        
            @{ViewBag.Description = "TfL transport accessibility in London landing page";}
        
            
        


 