
    
  



@{ViewBag.Title = "Pregnant women & buggy users";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/transport-accessibility/pregnant-women-and-pushchairs";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/transport-accessibility/index">Transport accessibility</a></li>
                
            
            
                <li><span class="last-breadcrumb">Pregnant women & buggy users</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Pregnant women & buggy users</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        If you are a mum-to-be, or if you travel in London with a pushchair, we want to make public transport easy for you to use. Here are a few resources to make your journeys with us easier.
        
      </div>
    
    
      
      
           
      <div class="video-gallery-wrapper">

    <div class="ytplayer"></div>

    <div class="gallery-carousel-wrap">
       
  
  
 @this.ScriptBlock(
     @<script>
          queue.push(
            "@Html.ScriptPath("plugins/gallery-media.min.js")", null,
        
            function() {
                var videoPlayer = $(".ytplayer");

                if (videoPlayer.length){
                    videoPlayer.gallery({ videoMode: true });
                }
            }
    );
     </script>
 )
        
  
   <ul class="gallery-carousel">
  
    <!--  -->
    
    
     <li class="gallery-thumb" data-youtubeid="I7pm2FdkFPY" data-video-caption="Top tips for baby & toddler travel"></li>
  
  </ul>
</div>
</div>
 
<div class="module-grid clearfix">
<div class="news-teaser">

    <a href="/transport-accessibility/baby-on-board?intcmp=49694" >
        <img src="/cdn/static/cms/images/promos/babyzen-and-bob-logos-700x350_rdax_400x200.jpg" alt="Baby on board badge and BABYZEN logo" />
        
        <div class="text-link">
             <h2>Baby on board badge order form</h2>
            <p>Get your free badge. In association with official partner BABYZEN</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="/transport-accessibility/getting-around-with-your-buggy?intcmp=41227" >
        <img src="/cdn/static/cms/images/promos/new-buggy-700x350b_rdax_400x200.jpg" alt="Buggy boarding bus" />
        
        <div class="text-link">
             <h2>Getting around with your buggy</h2>
            <p>Find out about the services and assistance available to help you travel</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="/transport-accessibility/best-buggies-for-public-transport?intcmp=41226" >
        
        
        <div class="text-link">
             <h2>Best buggies for public transport</h2>
            <p>Find out what to look for if you're going to use your buggy on public transport</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="/transport-accessibility/planning-a-journey-with-your-buggy?intcmp=41422" >
        
        
        <div class="text-link">
             <h2>Planning a journey with your buggy</h2>
            <p>Find out about the travel tools and information to help you plan and make journeys</p>
        </div>
    </a>
</div>
 
 
</div>
 
<div>





    
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/travelling-while-pregnant-or-with-a-buggy.pdf">
    <div class="document-download-text">
        <p>Guide to travelling while pregnant or with a buggy</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 4.48MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 4.48 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/toilets-map.pdf">
    <div class="document-download-text">
        <p>Toilet facilities map</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 352KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.34 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/avoiding-stairs-tube-guide.pdf">
    <div class="document-download-text">
        <p>Avoiding stairs Tube guide</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 466KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.45 -->
 
</div>

</div>
 <div>


</div>
 <div>

<h2>Feeding your child on the network</h2>

<p>We want you to feel comfortable feeding your child on public transport, whether you're breastfeeding and/or bottle feeding. If you need a seat to do so, please ask if one isn't available. There are benches across the TfL network where you can feed your child too.</p>

<p>It is illegal for anyone to ask a breastfeeding woman to stop breastfeeding, or to leave a public place. If you are made to feel uncomfortable or experience a problem while travelling on our services speak to a member of TfL staff or use a help point.</p>

<p><a href="https://abm.me.uk/breastfeeding-information/feeding-baby-on-the-move/">Find out more about feeding on the move</a>.</p>
</div>
 
      
        
          
        
      
    
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
                <a href="/transport-accessibility/index" class="heading">
                    <h2 id="sub-menu-heading">Transport accessibility<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li><div class="link-wrapper"><a href="/transport-accessibility/plan-an-accessible-journey">Plan an accessible journey</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/transport-accessibility/learn-to-use-public-transport">Travel mentoring</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/transport-accessibility/help-from-staff">Help from staff</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/transport-accessibility/fares-and-tickets">Fares & tickets</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/transport-accessibility/wheelchair-access-and-avoiding-stairs">Wheelchair access & avoiding stairs</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/transport-accessibility/features-on-board">Priority seating and other features on board</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/transport-accessibility/people-with-sight-or-hearing-loss">People with sight or hearing loss</a></div></li>
                            
 
                                <li class="selected parent"><div class="link-wrapper"><a href="/transport-accessibility/pregnant-women-and-pushchairs">Pregnant women & buggy users</a></div>
                                <ul>
                                    
                                <li><div class="link-wrapper"><a href="/transport-accessibility/best-buggies-for-public-transport">Best buggies for public transport</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/transport-accessibility/getting-around-with-your-buggy">Getting around with your buggy</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/transport-accessibility/planning-a-journey-with-your-buggy">Planning a journey with your buggy</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/transport-accessibility/baby-on-board">Baby on board badge</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/transport-accessibility/road-users-and-pedestrians">Using the pavement</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/transport-accessibility/door-to-door-transport-services">Assisted transport services</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/transport-accessibility/accessibility-guides-and-maps">Accessibility guides & maps</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/transport-accessibility/equality-policy-and-future-plans">Equality and assistance policies, and future plans</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/transport-accessibility/contact-us-about-accessibility">Contact us about accessibility</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/transport-accessibility/assistance-dogs">Assistance dogs</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/transport-accessibility/accessible-travel-stories">Accessible travel stories</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/transport-accessibility/blue-badges-and-driving">Blue Badges and driving</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/transport-accessibility/please-offer-me-a-seat">Please offer me a seat</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/transport_accessibility" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/transport_accessibility" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
      <div class="module-grid clearfix">
                    
        <div class="follow-social email">
  
  <div class="social-image">
    
  </div>
  <div class="social-text">
    <h3>Email updates</h3>
    <p>Customer updates and advance warning of weekend closures and planned works</p>
  </div>
  <div class="social-button">
    <a class="secondary-button" href="/travel-information/social-media-and-email-updates/index">Sign up</a>
  </div> 
</div>
 <div class="related-links">

    <h3>Also on this site</h3>

<div class="vertical-button-container">

<a href="/fares/free-and-discounted-travel" class="plain-button">Travelling with children: fares &amp; tickets</a>
    </div>
</div>
 
      </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>

     @section scripts {
<div class="bottom-advert ">
    <div class="close-ad-button visually-hidden"><span class="close-icon-circle"></span></div>
    <div data-advert="/76889402/transport_accessibility" data-advert-sizes="320, 50"></div>
</div>
}
 
 
        
        
        
            @{ViewBag.Description = "Advice for pregnant women and customers using buggies on public transport";}
        
            
        


 