


@{ViewBag.Title = "Lift work at Waterloo station to improve reliability";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2019">2019</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2019/december">December</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Lift work at Waterloo station to improve reliability</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Lift work at Waterloo station to improve reliability</h1>
        <div class="content-page-press-release">
        27 December 2019
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Step-free access unavailable within Waterloo Tube station from 6 to 17 January inclusive as essential maintenance carried out
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"The work will be done as quickly as possible and we will do all we can to help people with accessibility needs while the Jubilee line lift is not available"</div>
        <div class="quote-footer">
            <div class="quotee-name">Esther Sharples</div>
            <div class="quotee-job-title">Head of Stations, Buildings and Civils for London Underground </div>
        </div>
</div>

 <div class="on-this-page">
<ul>
	<li>Customers with accessibility needs who cannot use escalators will be advised to use Westminster, Southwark or London Bridge Tube stations for step-free access to street level and onward journey</li>
	<li>On-board announcements will remind customers of the temporary change and staff will be on hand to help</li>
</ul>

<p>Transport for London (TfL) is pre-warning customers that from Monday 6 January step-free access at Waterloo Tube station will be unavailable to enable essential maintenance to be carried out on the Jubilee line lift. The lift will return to service and step-free access restored on Saturday 18 January. During the work the rest of the station, including stairs and escalators, will continue to operate as normal.</p>

<p>This maintenance work, which will include replacing the suspension ropes, will help to keep the lift in full working order for at least the next five years. All lifts on the London Underground get a routine maintenance check every two weeks, a full MOT every six months and a partial refurbishment every five years. They are then fully replaced every 10 to 20 years, depending on the type. The lift at Waterloo was installed in 2014 and this will be the first time it has been closed for substantial maintenance.</p>

<p><strong>Esther Sharples, Head of Stations, Buildings and Civils for London Underground, said:</strong></p>

<p>'We apologise for any disruption that this essential lift maintenance at Waterloo Tube station may cause our customers. The work will be done as quickly as possible and we will do all we can to help people with accessibility needs while the Jubilee line lift is not available. The essential maintenance will help keep the lift in good working order for the next five years at least.'</p>

<p>Customers with accessibility needs, heavy luggage or children in buggies who would usually take the lift to access the Jubilee line and cannot use escalators will be advised not to get on or off at Waterloo but to use nearby Tube stations and take a local bus to continue their journey.</p>

<p>There will be announcements on Jubilee line trains and throughout Waterloo Underground and mainline station. Posters have been displayed and emails sent to customers. Staff will be on hand at Waterloo and at Westminster, Southwark and London Bridge to help customers continue their journey.</p>

<hr />
<p>Notes to editors:</p>

<ul>
	<li>While the Jubilee line lift is closed, access between the ticket hall and Jubilee line platforms will be via two sets of escalators.</li>
	<li>Customers will be directed to travel to Westminster or London Bridge for step-free access to street level and bus services to Waterloo. Southwark is only 550m from Waterloo, but there is no direct bus service between the stations.</li>
	<li>Bus services between Waterloo and nearby step-free stations include: 211 and N381 to Westminster, 381, N343 and N381 to London Bridge, 211 or 507 to Victoria, 77 to Vauxhall and 1 to Canada Water.</li>
	<li>Customers travelling towards Waterloo on South Western Railway can connect with London Underground services at Vauxhall (Victoria line) which has step-free access and subsequently change at Green Park, which is also step-free, for the Jubilee line.</li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/november">November</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/december">December</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2019-December-Lift work at Waterloo station to improve reliability -->

 
 
        
        
            @{ViewBag.Description = "Essential maintenance to be carried out on lift at Waterloo station to improve reliability";}
        
        


 