


@{ViewBag.Title = "Londoners encouraged to get home safely during the festive period";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2019">2019</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2019/december">December</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Londoners encouraged to get home safely during the festive period</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Londoners encouraged to get home safely during the festive period</h1>
        <div class="content-page-press-release">
        05 December 2019
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        TfL and the police are running Operation Safer Travel at Night with the reminder that if a minicab is not booked, it's not safe
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"The festive period is a time to celebrate and enjoy all that London has to offer. But safety is absolutely crucial, and we encourage everyone to travel safely and look out for each other"</div>
        <div class="quote-footer">
            <div class="quotee-name">Siwan Hayward</div>
            <div class="quotee-job-title">Director of Compliance and Policing at TfL</div>
        </div>
</div>

 <div class="on-this-page">
<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt">As the festive party season approaches, TfL&nbsp;is reminding people to stay safe as they enjoy themselves and celebrate the festive period.</span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt">To help people do so TfL has partnered with Westminster City Council and the LGBT Foundation on the Soho Angels initiative, where volunteers around Leicester Square and Tottenham Court Road are helping customers end the night right and get home safely.</span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt">Easily recognisable in their pink reflective vests, the Soho Angels volunteers provide support to customers travelling late at night, including medical attention, help when losing friends or items, directions and advice on getting home safely.</span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt">They can also provide a safe place for customers to rest if they need before they travel home. This supports TfL's work to keep customers safe and reduce the number of accidents in stations.</span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt">TfL and the police are also running Operation Safer Travel at Night, reminding people of the dangers of unbooked minicabs and providing advice on how to safely get a taxi (black cab) or booked minicab home.</span></p>

<h2 style="margin-left:0cm; margin-right:0cm"><span style="font-size:20px">Look out for each other</span></h2>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt">W</span><span style="font-size:11pt">orking alongside the Metropolitan Police Service and City of London Police, TfL's enforcement team will be stepping up their activity to crack down on unbooked minicabs and other illegal activity by targeting priority locations across the capital.</span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt">Thousands of taxi and minicab journeys are taken every day, the vast majority without incident. If passengers experience any behaviour that makes them feel uncomfortable from a taxi or private hire driver, they can report it by dialling 999 if it is an emergency or calling 101. All reports are taken seriously and will be investigated.</span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt">Siwan Hayward, Director of Compliance and Policing at TfL, said:&nbsp;'The festive period is a time to celebrate and enjoy all that London has to offer. But safety is absolutely crucial, and we encourage everyone to travel safely and look out for each other.'</span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt">London Ambulance Service announcements are playing in Tube stations, reminding customers to take extra care when travelling, especially after drinking alcohol.</span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt">Last year in London, the London Ambulance Service attended more than 63,000 alcohol related incidents across the capital and TfL has partnered with them for the second year running to help reduce this number.</span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt">Chief Superintendent Colin Wingrove, who leads the Met's Roads and Transport Command (RTPC), said:&nbsp;'Officers from the Met's Roads and Transport Command (RTPC) will be engaging with the public, taxi and private hire drivers in the build up to, and throughout, the festivities and will be providing advice about planning safe journeys.</span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt">'</span><span style="font-size:11pt">Both black cab and minicab drivers must have their ID showing their photograph and license details visible. Look for the official license plates and numbers on vehicles and ask to see the driver's badge if it is not visible. Remember if in doubt don't get in.'</span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt">Inspector Paul Doyle from the City of London Roads Policing Unit said:&nbsp;'During the busy festive period it's important to plan ahead and know how you can get home safely.</span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt">'If you've had a drink, it's not safe to drive or cycle. If you find yourself needing to get a taxi home, always get a bla</span>body<span style="font-size:11pt">ck cab o​r pre-book a private hire car through a licensed minicab operator that you trust.</span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt">'Throughout December, the City of London Police will be running operations to crack down on drink- and drug-driving to make the roads safer for all users.</span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt">'The force is also providing an SOS Bus outside Liverpool Street Station on Thursday nights which can provide medical assistance and help people who need directions, their phone charging to get home, or who have become lost or separated from their friends.'</span></p>

<h2 style="margin-left:0cm; margin-right:0cm"><span style="font-size:20px">Get home safely</span></h2>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:14px">Sara Sutton, Westminster City Council's executive director, City Management and Communities said:<strong>&nbsp;'</strong>As we approach their first anniversary, the Soho Angels have become a feature of West End nightlife, helping thousands of people end the night right and get home safely.</span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt">'We're pleased to be working with TfL to <span style="font-size:14px">expand</span> the Soho Angels service to help Christmas partygoers using central London Tube stations.'</span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt">L</span><span style="font-size:11pt">ondon Ambulance Service Chief Operating Officer, Khadir Meer, said:&nbsp;'We have a simple message for Londoners: have a great time, but take care and look out for one another.</span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt">'Every ambulance responding to someone who has drunk too much is an ambulance that becomes unavailable for someone else who may be seriously injured.'</span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt">TfL is also partnering with online music magazine Resident Advisor to remind people about looking out for others while they travel.</span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11.0pt">Drinking alcohol is not allowed on the TfL network. This byelaw is in place to keep customers safe when travelling and to ensure that other customers and staff also feel safe.</span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11.0pt">Alcohol is a common trigger for violence and aggression towards TfL staff and half of Londoners surveyed said they felt worried when they saw people drinking alcohol on public transport.</span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11.0pt">No assault or intimidation towards staff<span style="font-size:14px"> will </span>ever be tolerated and TfL always presses for the strongest penalties against those who do.</span></p>

<hr />
<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:14px"><span style="line-height:21pt"><strong>Notes to editors:</strong></span></span></p>

<ul>
	<li><span style="font-size:14px">More details about TfL's Safer Travel work is available here: <a href="https://tfl.gov.uk/campaign/safer-travel" style="text-decoration-color: initial;">https://tfl.gov.uk/campaign/safer-travel</a></span></li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/november">November</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/december">December</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2019-December-Londoners encouraged to get home safely during the festive period -->

 
 
        
        
            @{ViewBag.Description = "Londoners encouraged to get home safely during the festive period";}
        
        


 