


@{ViewBag.Title = "More than 100 Santander Cycles docking points installed near major rail stations";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2019">2019</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2019/december">December</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">More than 100 Santander Cycles docking points installed near major rail stations</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>More than 100 Santander Cycles docking points installed near major rail stations</h1>
        <div class="content-page-press-release">
        04 December 2019
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        A day of free 30 minute cycle hires for everyone using code 'SCXMAS19'
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Having more docking stations around key transport hubs will make it easier for people to cycle as part of their everyday routine, whether commuters heading to and from the office, or visitors travelling around our city"</div>
        <div class="quote-footer">
            <div class="quotee-name">Will Norman</div>
            <div class="quotee-job-title">London's Walking and Cycling Commissioner</div>
        </div>
</div>

 <div class="on-this-page">
<p style="margin-bottom:8pt; margin-left:0cm; margin-right:0cm; margin-top:0cm"><span style="font-size:11pt"><span style="line-height:150%"><span style="font-size:12.0pt"><span style="line-height:150%">TfL&nbsp;will install 105 new Santander Cycles docking points around Network Rail stations in central London by the end of the year, boosting connectivity between different modes of transport and allowing commuters and visitors arriving into London to pick up a cycle easily.</span></span></span></span></p>

<p style="margin-bottom:8pt; margin-left:0cm; margin-right:0cm; margin-top:0cm"><span style="font-size:11pt"><span style="line-height:150%"><span style="font-size:12.0pt"><span style="line-height:150%">N</span></span></span></span><span style="font-size:11pt"><span style="line-height:150%"><span style="font-size:12.0pt"><span style="line-height:150%">ew docking stations will be installed around Paddington, Blackfriars and Victoria stations, as well as near to Queensway Tube station, in the coming weeks.</span></span></span></span></p>

<p style="margin-bottom:8pt; margin-left:0cm; margin-right:0cm; margin-top:0cm"><span style="font-size:11pt"><span style="line-height:150%"><span style="font-size:12.0pt"><span style="line-height:150%">Customers who use the docking station along Tooley Street near London Bridge station, one of the most popular on the scheme, will also benefit from an expansion of ten extra docking points for cycles.</span></span></span></span></p>

<h2 style="margin-bottom:8pt; margin-left:0cm; margin-right:0cm; margin-top:0cm"><span style="font-size:20px">24 hours' free access</span></h2>

<p style="margin-bottom:8pt; margin-left:0cm; margin-right:0cm; margin-top:0cm"><span style="font-size:11pt"><span style="font-size:12.0pt">As part of the work to encourage people to get active during the festive period, TfL is giving everyone 24 hours' free access to Santander Cycles throughout December.</span></span></p>

<p style="margin-bottom:8pt; margin-left:0cm; margin-right:0cm; margin-top:0cm"><span style="font-size:11pt"><span style="line-height:150%"><span style="font-size:12.0pt"><span style="line-height:150%">Users should enter the code 'SCXMAS19' at the terminal, online or using the app, which will give them a day's worth of 30 minute journeys at no charge.</span></span></span></span></p>

<p style="margin-bottom:8pt; margin-left:0cm; margin-right:0cm; margin-top:0cm"><span style="font-size:11pt"><span style="line-height:150%"><span style="font-size:12.0pt"><span style="line-height:150%">Santander Cycles are available throughout December, including on Christmas Day, and are an easy way to get around the capital to see all the Christmas lights.</span></span></span></span></p>

<p style="margin-bottom:8pt; margin-left:0cm; margin-right:0cm; margin-top:0cm"><span style="font-size:11pt"><span style="line-height:150%"><span style="font-size:12.0pt"><span style="line-height:150%">Will Norman, London's Walking and Cycling Commissioner, said:&nbsp;'Last year saw a record number of cycling journeys across London, and our Santander Cycles continue to be a huge success.</span></span></span></span></p>

<p style="margin-bottom:8pt; margin-left:0cm; margin-right:0cm; margin-top:0cm"><span style="font-size:11pt"><span style="line-height:150%"><span style="font-size:12.0pt"><span style="line-height:150%">'Having more docking stations around key transport hubs will make it easier for people to cycle as part of their everyday routine, whether commuters heading to and from the office, or visitors travelling around our city.'</span></span></span></span></p>

<p style="margin-bottom:8pt; margin-left:0cm; margin-right:0cm; margin-top:0cm"><span style="font-size:11pt"><span style="line-height:150%"><span style="font-size:12.0pt"><span style="line-height:150%">Helen Sharp, Head of Cycle Hire Business Development at TfL, said:&nbsp;'Cycling has multiple benefits &#45; from keeping fit and improving wellbeing to getting around the capital in an easy, green and enjoyable way.</span></span></span></span></p>

<p style="margin-bottom:8pt; margin-left:0cm; margin-right:0cm; margin-top:0cm"><span style="font-size:11pt"><span style="line-height:150%"><span style="font-size:12.0pt"><span style="line-height:150%">'Millions of people arrive into these major rail stations each day and by bringing Santander Cycles closer and making them more convenient we hope even more Londoners and visitors will use the scheme to cycle around the capital.'</span></span></span></span></p>

<h2 style="margin-bottom:8pt; margin-left:0cm; margin-right:0cm; margin-top:0cm"><span style="font-size:20px">Discover the capital</span></h2>

<p style="margin-bottom:8pt; margin-left:0cm; margin-right:0cm; margin-top:0cm"><span style="font-size:11pt"><span style="font-size:12.0pt">Dan Sherwood, Interim Chief Marketing Officer at Santander UK,&nbsp;said:&nbsp;'We're constantly evolving the Santander Cycles scheme to ensure we're helping as many communities as we can.</span></span></p>

<p style="margin-bottom:8pt; margin-left:0cm; margin-right:0cm; margin-top:0cm"><span style="font-size:11pt"><span style="line-height:150%"><span style="font-size:12.0pt"><span style="line-height:150%">'Boosting the quantity of cycles available at some of these key commuter stations will help alleviate some of the pressure at peak travel time.</span></span></span></span></p>

<p style="margin-bottom:8pt; margin-left:0cm; margin-right:0cm; margin-top:0cm"><span style="font-size:11pt"><span style="line-height:150%"><span style="font-size:12.0pt"><span style="line-height:150%">'We also hope the free codes for December will encourage even more people to enjoy the benefits of cycling and discover the capital with their friends and family during the festive period.'</span></span></span></span></p>

<p style="margin-bottom:8pt; margin-left:0cm; margin-right:0cm; margin-top:0cm"><span style="font-size:11pt"><span style="line-height:150%"><span style="font-size:12.0pt"><span style="line-height:150%">Ian Hanson, Stations Director for Network Rail Southern region, said:&nbsp;'The benefits of cycling are well-known and we are delighted to support these new docking points which will be installed across Network Rail stations.</span></span></span></span></p>

<p style="margin-bottom:8pt; margin-left:0cm; margin-right:0cm; margin-top:0cm"><span style="font-size:11pt"><span style="line-height:150%"><span style="font-size:12.0pt"><span style="line-height:150%">'Not only will it provide another mode of transport for commuters, but allow even more people to enjoy London, especially during the festive period.'</span></span></span></span></p>

<h2 style="margin-bottom:8pt; margin-left:0cm; margin-right:0cm; margin-top:0cm"><span style="font-size:20px">Ten years of cycle hire</span></h2>

<p style="margin-bottom:8pt; margin-left:0cm; margin-right:0cm; margin-top:0cm"><span style="font-size:11pt"><span style="line-height:150%"><span style="font-size:12.0pt"><span style="line-height:150%">This expansion follows a bumper year for Santander Cycles, with new docking stations installed, including at Victoria Park and at Westminster Pier, and plans announced for five new docking stations along Cycleway 4 in Bermondsey and Rotherhithe.</span></span></span></span></p>

<p style="margin-bottom:8pt; margin-left:0cm; margin-right:0cm; margin-top:0cm"><span style="font-size:11pt"><span style="line-height:150%"><span style="font-size:12.0pt"><span style="line-height:150%">The scheme was part of London's biggest ever Car Free Day celebrations in September, with free 30 minute hires on the day.</span></span></span></span></p>

<p style="margin-bottom:8pt; margin-left:0cm; margin-right:0cm; margin-top:0cm"><span style="font-size:11pt"><span style="line-height:150%"><span style="font-size:12.0pt"><span style="line-height:150%">TfL also provided hubs at popular locations to ensure people were able to hire and dock bikes during peak times.</span></span></span></span></p>

<p style="margin-bottom:8pt; margin-left:0cm; margin-right:0cm; margin-top:0cm"><span style="font-size:11pt"><span style="line-height:150%"><span style="font-size:12.0pt"><span style="line-height:150%">Permanent hubs are in place at Waterloo, King's Cross and Holborn and temporary hubs were in place over the summer, resulting in an increase in people hiring and docking.</span></span></span></span></p>

<p style="margin-bottom:8pt; margin-left:0cm; margin-right:0cm; margin-top:0cm"><span style="font-size:11pt"><span style="line-height:150%"><span style="font-size:12.0pt"><span style="line-height:150%">Next year will mark ten years of cycle hire in London and five years of Santander sponsorship of the scheme and a series of events is planned for the year to celebrate this milestone.</span></span></span></span></p>

<p style="margin-bottom:8pt; margin-left:0cm; margin-right:0cm; margin-top:0cm"><span style="font-size:11pt"><span style="line-height:150%"><span style="font-size:12.0pt"><span style="line-height:150%">TfL is working hard to encourage Londoners to incorporate more healthy and sustainable travel into their daily journeys and Santander Cycles is enabling people to start cycling.</span></span></span></span></p>

<hr />
<p style="margin-bottom:8pt; margin-left:0cm; margin-right:0cm; margin-top:0cm"><span style="font-size:11pt"><span style="line-height:normal"><strong><span style="font-size:12.0pt">Notes to editors:</span></strong></span></span></p>

<ul>
	<li style="margin-top:0cm; margin-right:0cm; margin-bottom:.0001pt; margin:0cm 0cm 8pt"><span style="font-size:11pt"><span style="line-height:normal"><span style="font-size:12.0pt">More details about the Santander Cycles scheme is available here: <u style="text-decoration:underline"><a href="https://tfl.gov.uk/modes/cycling/santander-cycles" style="text-decoration: underline;">https://tfl.gov.uk/modes/cycling/santander-cycles</a></u></span></span></span></li>
	<li style="margin-top:0cm; margin-right:0cm; margin-bottom:.0001pt; margin:0cm 0cm 8pt"><span style="font-size:11pt"><span style="line-height:normal"><span style="font-size:12.0pt">The 'SCXMAS19' code is valid throughout December, one code per person. Any number of 30 minute journeys in a single 24 hour period are included and users must dock cycles within 30 minutes to avoid being charged</span></span></span></li>
	<li style="margin-top:0cm; margin-right:0cm; margin-bottom:.0001pt; margin:0cm 0cm 8pt"><span style="font-size:11pt"><span style="line-height:normal"><span style="font-size:12.0pt">Additional docking points are being installed at the following locations: </span></span></span>
	<ul style="list-style-type:circle">
		<li style="margin-top:0cm; margin-right:0cm; margin-bottom:.0001pt; margin:0cm 0cm 8pt"><span style="font-size:11pt"><span style="line-height:normal"><span style="tab-stops:list 72.0pt"><span style="font-size:12.0pt">Blackfriars Station &#45; 36</span></span></span></span></li>
		<li style="margin-top:0cm; margin-right:0cm; margin-bottom:.0001pt; margin:0cm 0cm 8pt"><span style="font-size:11pt"><span style="line-height:normal"><span style="tab-stops:list 72.0pt"><span style="font-size:12.0pt">Warwick Row (near Victoria station) &#45; 22 </span></span></span></span></li>
		<li style="margin-top:0cm; margin-right:0cm; margin-bottom:.0001pt; margin:0cm 0cm 8pt"><span style="font-size:11pt"><span style="line-height:normal"><span style="tab-stops:list 72.0pt"><span style="font-size:12.0pt">St. Mary's Hospital (near Paddington station) &#45; 20</span></span></span></span></li>
		<li style="margin-top:0cm; margin-right:0cm; margin-bottom:.0001pt; margin:0cm 0cm 8pt"><span style="font-size:11pt"><span style="line-height:normal"><span style="tab-stops:list 72.0pt"><span style="font-size:12.0pt">Queensway Tube station &#45; 17</span></span></span></span></li>
		<li style="margin-top:0cm; margin-right:0cm; margin-bottom:.0001pt; margin:0cm 0cm 8pt"><span style="font-size:11pt"><span style="line-height:normal"><span style="font-size:12.0pt">Tooley Street (near London Bridge station) &#45; 10</span></span></span></li>
	</ul>
	</li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/november">November</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/december">December</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2019-December-More than 100 Santander Cycles docking points installed near major rail stations -->

 
 
        
        
            @{ViewBag.Description = "More than 100 Santander Cycles docking points installed near major rail stations";}
        
        


 