


@{ViewBag.Title = "TfL to trial innovative new bus sound to improve road safety";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2019">2019</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2019/december">December</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">TfL to trial innovative new bus sound to improve road safety</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>TfL to trial innovative new bus sound to improve road safety</h1>
        <div class="content-page-press-release">
        18 December 2019
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        An alert at slow speeds will be trialled on London's latest zero-emission bus route from next month
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Working with a broad range of stakeholders and trialling AVAS on the 100 bus route and other routes in the following months will ensure the system is best equipped to alert all road users to the presence of quiet running buses, preventing collisions and making deaths and serious injuries on our roads a thing of the past"</div>
        <div class="quote-footer">
            <div class="quotee-name">Claire Mann</div>
            <div class="quotee-job-title">Director of Bus Operations at TfL</div>
        </div>
</div>

 <div class="on-this-page">
<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt">An innovative new bus sound is set to be trialled on the capital's&nbsp;latest&nbsp;electric bus route from January.</span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt">Transport for London has developed the sound, which is played through special speakers inside the front of the bus, to ensure that all road users are aware of electric and hybrid buses when they are moving at slow speeds.</span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt">Without this sound, these vehicles are almost silent which could pose a safety risk, particularly for people who are blind or are partially sighted.</span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt">The trial on the 100 bus route comes ahead of an artificial sound becoming a regulatory requirement for all new 'quiet' running vehicles in 2021.</span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt">The sound has been developed with input from Guide Dogs for the Blind, London Travelwatch and other key accessibility, walking and cycling groups.</span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt">This has helped ensure that it accommodates the needs of all road users including pedestrians and cyclists, children and disabled people. Bus drivers, operators and union representatives have also provided input.</span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt">The sound will play until the bus reaches 12mph, or when it is reversing or stationary at bus stops. When travelling above 12mph, the bus will make enough noise that an alert is unnecessary.</span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt">The pitch of the sound will vary with the speed of the vehicle, helping people know where the bus is and which direction it is going.</span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt">The sound will be trialled first at varying volumes on the 100 bus route &#45; which runs between St Paul's Cathedral and Shadwell &#45; over a six-month period from January.</span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt">It will also be trialled on other routes &#45;&nbsp;including the C10 route between Canada Water and Victoria from March, and the P5 route between Elephant and Castle and Battersea from May</span><span style="font-size:12pt">&nbsp;&#45; as new zero-emission vehicles are introduced.</span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt">Feedback from road users, residents, passengers and drivers across all routes will be collected to help develop the most effective system for all road users.</span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt">The artificial bus sound is one aspect of TfL's world-leading Bus Safety Standard, which works towards the Mayor's Vision Zero of no deaths or serious injuries on London's roads by 2041.</span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt">The Bus Safety Standard is already improving safety on London's roads by requiring technology that automatically limits the speed of buses and increased mirrors and cameras.</span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt">Claire Mann, Director of Bus Operations at TfL, said:&nbsp;'We are committed to ensuring the safest buses are driven on London's roads and pleased to announce this latest development with the Bus Safety Standard as we work towards Vision Zero.</span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt">'</span><span style="font-size:12pt">Working with a broad range of stakeholders and trialling AVAS on the 100 bus route and other routes in the following months will ensure the system is best equipped to alert all road users to the presence of quiet running buses, preventing collisions and making deaths and serious injuries on our roads a thing of the past.'</span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt">Kirsty Hoyle, CEO at Transport for All, said:&nbsp;'Understanding the lived-experience of navigating London's streets with a visual or sensory impairment, and designing services with this in mind, is a fundamental part of inclusive design; our disabled members have been delighted to work with Transport for London to find a solution that can now be live tested. We are excited and interested to see the results.'</span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt">Dave Kent, Engagement Officer at Guide Dogs UK, said:&nbsp;'The Guide Dogs for the Blind Association have keenly supported the development of the AV solution for quiet buses. We look forward to trialling the system on an active route in situ in the capital during January.'</span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt">Stephen Edwards, Director of Policy and Communications at Living Streets, said:&nbsp;'Improving local air quality in London is a vital priority and will improve life for everyone, particularly those walking. But as our buses become cleaner and quieter, it is important that pedestrian safety is not compromised.</span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt">'TfL's trial of noise-emitting zero-emissions buses is a welcome step in ensuring that greener vehicles are equipped to be safe for everyone, particularly older people and pedestrians with sight impairments.'</span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt">The new artificial bus sound is part of an acoustic vehicle alerting system (AVAS) that will mandatory for all new 'quiet' running vehicles to use a system after September 2021.</span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11.0pt">AVAS will be consistent across all London bus operators and will be available to transport providers across the UK to ensure that people can detect and recognise a bus regardless of where they are in the UK.</span></p>

<hr />
<p class="h2" style="margin-bottom:15pt; margin-left:0cm; margin-right:0cm; margin-top:0cm"><strong><span style="font-size:16px">Notes to editors</span></strong></p>

<ul>
	<li class="h2" style="margin: 0cm 0cm 15pt;"><span style="font-size:16px"><span style="font-size:11pt"><span style="font-size:12.0pt">More information about the Bus Safety Standard is available at&nbsp;</span><a href="http://content.tfl.gov.uk/bus-safety-standard-executive-summary.pdf" style="text-decoration-color: initial;"><span style="font-size:12.0pt">http://content.tfl.gov.uk/bus-safety-standard-executive-summary.pdf</span></a></span></span></li>
	<li class="h2" style="margin: 0cm 0cm 15pt;"><span style="font-size:12.0pt">The 100 bus route is operated by Go Ahead London</span></li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/november">November</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/december">December</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2019-December-TfL to trial innovative new bus sound to improve road safety -->

 
 
        
        
            @{ViewBag.Description = "TfL to trial innovative new bus sound to improve road safety";}
        
        


 