


@{ViewBag.Title = "TfL reminds customers of TfL fares freeze in 2020";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2019">2019</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2019/december">December</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">TfL reminds customers of TfL fares freeze in 2020</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>TfL reminds customers of TfL fares freeze in 2020</h1>
        <div class="content-page-press-release">
        31 December 2019
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        All fares set by the Mayor remain frozen during 2020, helping to encourage more people onto public transport
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Alongside our hugely popular Hopper fare we're making public transport a more affordable option for millions of people across our city"</div>
        <div class="quote-footer">
            <div class="quotee-name">Sadiq Khan</div>
            <div class="quotee-job-title">The Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<ul>
	<li>Bus and Tram fares remain &pound;1.50, with the Mayor's Hopper fare allowing unlimited journeys within an hour</li>
	<li>Adult off-peak fares for Tube journeys within Zones 2-6 just &pound;1.50 using pay as you go</li>
	<li>Pay as you go with contactless to Reading launches on 2 January 2020, helping to make travel on the new TfL Rail service more convenient for customers</li>
</ul>

<p>Transport for London (TfL) is reminding Londoners that all fares set by the Mayor of London will remain frozen for a fourth year in a row during 2020.<br />
The fares for 2020 will see 'pay as you go' journeys on the bus, Tube, Tram, DLR, TfL-run rail services (where TfL fares apply) and Emirates Air Line remaining the same as they are currently. The cost of hiring a Santander Cycle will also remain the same - just &pound;2 to access a bike for a day and if the journeys are under 30 minutes there is no additional cost.</p>

<p>TfL's latest figures show that 64 per cent of all journeys now made on the Tube are made using pay as you go, demonstrating an increasing move away from paper season tickets and towards more convenient smart ticketing.</p>

<p>By using pay as you go with a contactless or Oyster card, adult off-peak fares including Zone 1 start at &pound;2.40 and off-peak adult Tube, DLR and most London Overground fares within Zones 2-6 are just &pound;1.50. In addition, with the Hopper fare, customers can take unlimited bus and tram journeys across the capital within an hour for just &pound;1.50, with the total cost capped at &pound;4.50 for the whole day. Since its launch in September 2016 the Hopper ticket has already been used for more than 400million journeys in the capital.</p>

<p>From 2 January, the overall increase in national rail fares since the Mayor was elected in May 2016 will be around 10 per cent. In contrast, fares set by the Mayor have been frozen. All TfL travel concessions are also protected, ensuring that children, those over 60, veterans, apprentices and people on specific unemployment benefits continue to benefit from free or discounted travel. Travelcards and associated caps, which are set in agreement with the train operating companies under fares regulations set by the Government, will increase by 2.7 per cent.</p>

<p><strong>The Mayor of London, Sadiq Khan, said: </strong></p>

<p>'I'm proud to be freezing TfL fares for the fourth year in succession, fulfilling the pledge made in my manifesto. Alongside our hugely popular Hopper fare we're making public transport a more affordable option for millions of people across our city. This is vital to encourage more Londoners out of their cars &#45; helping reduce congestion and emissions, and clean up our toxic air.</p>

<p>'This is in stark contrast to the Government who have allowed the failing private rail companies to hike up their fares once again despite letting down London's suburban rail passengers.'</p>

<p><strong>Shashi Verma, Director of Strategy at TfL, said:</strong></p>

<p>'Millions of people travel using bus, Tube and rail services across London and delivering the Mayor's fares freeze is helping encourage more people across London out of their cars and onto public transport. Our latest figures show that pay as you go ticketing is now more popular than ever and we continue to work with the Department for Transport and rail companies to see where it could be expanded to in the future, helping to make travel more convenient for all.'</p>

<p>From 2 January 2020, for the first time, customers will also be able to use pay as you go with contactless all the way from Paddington to Reading on both TfL Rail and Great Western Railway (GWR). A single peak adult pay as you go journey between London Paddington and Reading will be &pound;24.40 (with the off-peak fare of &pound;10.60). In line with TfL's policies, children under 11 who are accompanied by an adult, as well as customers who are eligible for the Freedom Pass, will be able to travel free to Reading on TfL Rail services.</p>

<p>By Spring 2020, daily and weekly capping for contactless pay as you go users will be introduced for stations to and from Reading. Until that point, journeys between West Drayton and Reading will not be capped. While TfL is working to deliver capping, customers who should have benefitted from daily capping will automatically be reimbursed to ensure they don't pay more than an equivalent Day Travelcard.</p>

<p>For more information about TfL's fares, please visit <a href="[ioID]#http://www.tfl.gov.uk/fares/">http://www.tfl.gov.uk/fares/</a></p>

<hr />
<p>Notes to Editors:</p>

<ul>
	<li>The Mayoral Decision for the 2019 fares package is available here &#45; <a href="[ioID]#https://www.london.gov.uk/decisions/md2537-january-2020-fares-changes">https://www.london.gov.uk/decisions/md2537-january-2020-fares-changes</a></li>
	<li>On 29 November the Train Operating Companies confirmed that rail fares would increase by an average of 2.7 per cent in January 2020. This increase is close to the maximum permitted by the guidance from the Secretary of State for Transport which states that no regulated TOC fare should rise by more than the percentage increase in the RPI.</li>
	<li>The Mayor only has the power to set fares on TfL services. Travelcards, and the associated daily and weekly caps, are set in agreement with the private train operating companies (TOCs) under fares regulations set by the Government, which permit regulated fares to increase in line with RPI inflation if no agreement is made. TfL Rail stations beyond West Drayton will be outside of the London Zones.</li>
	<li>As previously announced, Pay as you go with Oyster will not be extended to services beyond West Drayton, due to limitations with the system, which is now more than 15 years old. Millions of journeys in and around London are already being made using contactless every day, with 60 per cent of rail pay as you go journeys made using contactless.</li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/november">November</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/december">December</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2019-December-TfL reminds customers of TfL fares freeze in 2020 -->

 
 
        
        
            @{ViewBag.Description = "TfL reminds customers of TfL fares freeze in 2020";}
        
        


 