


@{ViewBag.Title = "TfL Rail will operate services to Reading from 15 December";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2019">2019</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2019/december">December</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">TfL Rail will operate services to Reading from 15 December</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>TfL Rail will operate services to Reading from 15 December</h1>
        <div class="content-page-press-release">
        03 December 2019
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        New service is the next step in the delivery of the Elizabeth line in 2021
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Running TfL Rail services to Reading is an important step towards opening the Elizabeth line and reinforces the key transport links between these two areas for local people and businesses"</div>
        <div class="quote-footer">
            <div class="quotee-name">Howard Smith</div>
            <div class="quotee-job-title">Operations Director for TfL Rail</div>
        </div>
</div>

 <div class="on-this-page">
<p style="margin-bottom:0.0001pt; margin-left:0cm; margin-right:0cm; margin-top:0cm"><span style="font-size:11pt"><span style="line-height:150%"><span style="font-size:12.0pt"><span style="line-height:150%">From Sunday 15 December current Great Western Railway (GWR) stopping services between London Paddington and Reading will be operated by TfL Rail. This is the next step in the delivery of the Elizabeth line.</span></span></span></span></p>

<p style="margin-bottom:0.0001pt; margin-left:0cm; margin-right:0cm; margin-top:0cm">&nbsp;</p>

<p style="margin-bottom:0.0001pt; margin-left:0cm; margin-right:0cm; margin-top:0cm"><span style="font-size:11pt"><span style="line-height:150%"><span style="font-size:12.0pt"><span style="line-height:150%">Between 15 December 2019 and 2 January 2020, existing fares will apply. Children under 11 who are accompanied by an adult, as well as customers who are eligible for the Freedom Pass, will be able to travel for free to Reading on the TfL service.</span></span></span></span></p>

<p style="margin-bottom:0.0001pt; margin-left:0cm; margin-right:0cm; margin-top:0cm">&nbsp;</p>

<p style="margin-bottom:0.0001pt; margin-left:0cm; margin-right:0cm; margin-top:0cm"><span style="font-size:11pt"><span style="line-height:150%"><span style="font-size:12.0pt"><span style="line-height:150%">Customers will be able to use contactless pay as you go between London Paddington and Reading from 2 January 2020.</span></span></span></span></p>

<p style="margin-bottom:0.0001pt; margin-left:0cm; margin-right:0cm; margin-top:0cm">&nbsp;</p>

<p style="margin-bottom:0.0001pt; margin-left:0cm; margin-right:0cm; margin-top:0cm"><span style="font-size:11pt"><span style="line-height:150%"><span style="font-size:12.0pt"><span style="line-height:150%">From this date, TfL Rail fares will be aligned with the National Rail fares to Reading, which have now been confirmed as &pound;24.40 for a peak adult pay as you go journey between Reading and London Paddington (with the off-peak fare of &pound;10.60). Daily and weekly capping are expected to be introduced in spring 2020.</span></span></span></span></p>

<p style="margin-bottom:0.0001pt; margin-left:0cm; margin-right:0cm; margin-top:0cm">&nbsp;</p>

<p style="margin-bottom:0.0001pt; margin-left:0cm; margin-right:0cm; margin-top:0cm"><span style="font-size:11pt"><span style="line-height:150%"><span style="font-size:12.0pt"><span style="line-height:150%">Pay as you go with Oyster will not be extended to services beyond West Drayton due to limitations with the system, which is now more than 15 years old.</span></span></span></span></p>

<p style="margin-bottom:0.0001pt; margin-left:0cm; margin-right:0cm; margin-top:0cm">&nbsp;</p>

<p style="margin-bottom:0.0001pt; margin-left:0cm; margin-right:0cm; margin-top:0cm"><span style="font-size:11pt"><span style="line-height:150%"><span style="font-size:12.0pt"><span style="line-height:150%">Customers using Oyster pay as you go wishing to travel to or from stations beyond West Drayton will need to buy a paper ticket, or use contactless from 2 January 2020, covering the entire length of their journey.</span></span></span></span></p>

<p style="margin-bottom:0.0001pt; margin-left:0cm; margin-right:0cm; margin-top:0cm">&nbsp;</p>

<p style="margin-bottom:0.0001pt; margin-left:0cm; margin-right:0cm; margin-top:0cm"><span style="font-size:11pt"><span style="line-height:150%"><span style="font-size:12.0pt"><span style="line-height:150%">During peak times, Monday to Friday (not on public holidays) between 06:30 and 09:30, and between 16:00 and 19:00, services to and from Reading will run every 15 minutes and two trains an hour will run during off-peak times.</span></span></span></span></p>

<p style="margin-bottom:0.0001pt; margin-left:0cm; margin-right:0cm; margin-top:0cm">&nbsp;</p>

<p style="margin-bottom:0.0001pt; margin-left:0cm; margin-right:0cm; margin-top:0cm"><span style="font-size:11pt"><span style="line-height:150%"><span style="font-size:12.0pt"><span style="line-height:150%">From Sunday 15 December some train and departure times will change, so customers are advised to check before they travel.</span></span></span></span></p>

<p style="margin-bottom:0.0001pt; margin-left:0cm; margin-right:0cm; margin-top:0cm">&nbsp;</p>

<p style="margin-bottom:0.0001pt; margin-left:0cm; margin-right:0cm; margin-top:0cm"><span style="font-size:11pt"><span style="line-height:150%"><span style="font-size:12.0pt"><span style="line-height:150%">Howard Smith, Operations Director for TfL Rail, said: 'Running TfL Rail services to Reading is an important step towards opening the Elizabeth line and reinforces the key transport links between these two areas for local people and businesses.</span></span></span></span></p>

<p style="margin-bottom:0.0001pt; margin-left:0cm; margin-right:0cm; margin-top:0cm">&nbsp;</p>

<p style="margin-bottom:0.0001pt; margin-left:0cm; margin-right:0cm; margin-top:0cm"><span style="font-size:11pt"><span style="line-height:150%"><span style="font-size:12.0pt"><span style="line-height:150%">'Customers will benefit from the free travel for under-11s and the convenience of pay as you go contactless fares from the New Year.'</span></span></span></span></p>

<p style="margin-bottom:0.0001pt; margin-left:0cm; margin-right:0cm; margin-top:0cm">&nbsp;</p>

<p style="margin-bottom:0.0001pt; margin-left:0cm; margin-right:0cm; margin-top:0cm"><span style="font-size:11pt"><span style="line-height:150%"><span style="font-size:12.0pt"><span style="line-height:150%">A new edition of the Tube map will be produced in December reflecting changes to the transport network, including the addition of TfL Rail services to Reading.</span></span></span></span></p>

<p style="margin-bottom:0.0001pt; margin-left:0cm; margin-right:0cm; margin-top:0cm">&nbsp;</p>

<p style="margin-bottom:0.0001pt; margin-left:0cm; margin-right:0cm; margin-top:0cm"><span style="font-size:11pt"><span style="line-height:150%"><span style="font-size:12.0pt"><span style="line-height:150%">Network Rail will be undertaking some Christmas engineering work between 24 December and 31 December.</span></span></span></span></p>

<p style="margin-bottom:0.0001pt; margin-left:0cm; margin-right:0cm; margin-top:0cm">&nbsp;</p>

<p style="margin-bottom:0.0001pt; margin-left:0cm; margin-right:0cm; margin-top:0cm"><span style="font-size:11pt"><span style="line-height:150%"><span style="font-size:12.0pt"><span style="line-height:150%">There will be no service on TfL Rail between London Paddington, Slough and Heathrow Terminal 4 on Tuesday 24 December and Friday 27 December with replacement buses operating. There will be no service on the entire line on Christmas Day and Boxing Day.</span></span></span></span></p>

<hr />
<p style="margin-bottom:.0001pt"><strong><span style="font-size:11pt"><span style="font-size:12.0pt">Notes to Editors:</span></span></strong></p>

<ul>
	<li style="margin-bottom:.0001pt"><span style="line-height:normal"><span style="font-size:12.0pt">Services to and from Reading will call at London Paddington, Ealing Broadway, Southall, Hayes &amp; Harlington, West Drayton, Iver, Langley, Slough, Burnham, Taplow, Maidenhead, Twyford and Reading. Services will not call at West Ealing, Hanwell and Acton Main Line.</span></span></li>
	<li style="margin-bottom:.0001pt"><span style="line-height:normal"><span style="tab-stops:list 36.0pt"><span style="font-size:12.0pt">Some fast services will continue to be operated by GWR from Reading, Twyford, Maidenhead and Slough to London Paddington.</span></span></span></li>
	<li style="margin-bottom:.0001pt"><span style="line-height:normal"><span style="font-size:12.0pt">All TfL Rail fares will be in line with GWR fares with contactless pay as you go accepted on both operator's services from 2 January 2020.</span></span></li>
	<li style="margin-bottom:.0001pt"><span style="font-size:11pt"><span style="line-height:normal"><span style="font-size:12.0pt">Pay as you go fares information for TfL Rail services between London Paddington and Reading will be added to TfL's single fare finder in advance of services commencing on 15 December 2019 &#45; <a href="https://tfl.gov.uk/fares/find-fares?cid=farefinder" style="text-decoration-line: underline; text-decoration-color: initial;">tfl.gov.uk/farefinder</a></span></span></span></li>
	<li style="margin-bottom:.0001pt"><span style="line-height:normal"><span style="tab-stops:list 36.0pt"><span style="font-size:12.0pt">When introduced from 2 January 2020, contactless pay as you go will be an alternative to printed single and return tickets despite daily and weekly capping not being initially available. </span></span></span></li>
	<li style="margin-bottom:.0001pt"><span style="line-height:normal"><span style="tab-stops:list 36.0pt"><span style="font-size:12.0pt">By spring 2020, daily and weekly capping for contactless pay as you go users will be introduced for journeys between London Paddington and stations to Reading. Until that point, journeys between West Drayton and Reading will not be capped. While TfL is working to deliver capping, customers who should have benefitted from daily capping will automatically be reimbursed to ensure they pay the best fare for their travel.</span></span></span></li>
	<li style="margin-bottom:.0001pt"><span style="line-height:normal"><span style="tab-stops:list 36.0pt"><span style="font-size:12.0pt">Customers with a Travelcard season ticket valid for only part of their journey will need to buy a printed ticket for the remainder before boarding the train.</span></span></span></li>
	<li style="margin-bottom:.0001pt"><span style="line-height:normal"><span style="tab-stops:list 36.0pt"><span style="font-size:12.0pt">TfL Rail currently operates between London Paddington, Hayes &amp; Harlington and Heathrow Terminals 2&amp;3 and 4 as well as Liverpool Street to Shenfield in the east.</span></span></span></li>
	<li style="margin-bottom:.0001pt"><span style="line-height:normal"><span style="tab-stops:list 36.0pt"><span style="font-size:12.0pt">For information about Network Rail's Christmas engineering works visit </span><u style="text-decoration:underline"><span style="font-size:12.0pt"><a href="https://www.networkrail.co.uk/running-the-railway/looking-after-the-railway/planned-works/christmas-engineering-works-2019/" style="text-decoration: underline;">https://www.networkrail.co.uk/running-the-railway/looking-after-the-railway/planned-works/christmas-engineering-works-2019/</a></span></u></span></span></li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/november">November</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/december">December</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2019-December-TfL Rail will operate services to Reading from 15 December -->

 
 
        
        
            @{ViewBag.Description = "TfL Rail will operate services to Reading from 15 December";}
        
        


 