


@{ViewBag.Title = "TfL Rail begins operating services between London Paddington and Reading";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2019">2019</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2019/december">December</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">TfL Rail begins operating services between London Paddington and Reading</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>TfL Rail begins operating services between London Paddington and Reading</h1>
        <div class="content-page-press-release">
        15 December 2019
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        New services are the next step in the delivery of the Elizabeth line
        
    </div>



 <div class="on-this-page">
<p><span style="font-size:12pt"><span style="line-height:21pt">Stopping services between London Paddington and Reading are now operated by TfL Rail, delivering immediate benefits to customers. This is the next step in the delivery of the Elizabeth line.</span></span></p>

<p><span style="font-size:12pt"><span style="line-height:21pt">Under TfL Rail, customers will benefit from improvements to their stations including improved customer information and new lifts within the next year. On the TfL Rail service, Freedom Pass holders will enjoy free travel all the way to Reading, with families also benefiting from free travel for children under the age of 11 when they travel with a paying adult. Customers at Iver and Taplow will now enjoy a train service on a Sunday, with two trains running per hour to the capital.</span></span></p>

<p><span style="font-size:12pt"><span style="line-height:21pt">All TfL Rail stations are staffed from first to last train, providing a turn-up-and-go service for disabled customers and a point of contact for anyone needing assistance. Stations along the route are being improved to make them more comfortable and accessible. New benches and shelters in waiting areas are being fitted alongside improved electronic signage providing real-time travel information for customers. Several stations will also benefit from improved CCTV and lighting, creating a safer environment in and around the stations. Several ticket offices are also being refurbished, with many stations including Iver and Hayes &amp; Harlington due to have completely new tickets halls and offices.</span></span></p>

<p><span style="font-size:12pt"><span style="line-height:21pt">Burnham recently had a lift installed, with lifts at Taplow to follow on Monday, making them step-free from street to platform. The following stations will become step-free in 2020:</span></span></p>

<p><span style="font-size:12pt"><span>Hanwell<br />
Iver<br />
Langley<br />
Acton Main Line<br />
Ealing Broadway<br />
West Ealing<br />
Southall<br />
Hayes &amp; Harlington<br />
West Drayton</span></span></p>

<p><span style="font-size:12pt">Transport for London (TfL) is continually improving accessibility across the network, however between London Paddington and Reading, due to the different types of trains that already run along the western stations, including freight trains, it is not feasible to provide level boarding at all stations. At TfL Rail stations, staff will always be on hand to deploy a manual boarding ramp between the platform and train for customers in need of assistance.</span></p>

<p><span style="font-size:12pt"><span style="line-height:21pt"><strong>Howard Smith, Operations Director for TfL Rail, said</strong>: &quot;I'm excited to welcome customers on the London Paddington to Reading line to TfL Rail. This is an important step towards opening the Elizabeth line. Customers will notice continual improvements along their route including a new Sunday service at Iver and Taplow and improved accessibility at several stations with lifts being installed to provide step-free access from street to platform.&quot;</span></span></p>

<p><span style="font-size:12pt"><span style="line-height:21pt"><strong>Nigel Horton-Baker, Executive Director, Reading UK, said: </strong>&quot;Excellent connectivity has always been at the heart of Reading's economic success. With the introduction of TfL Rail trains and contactless ticketing as a pre-cursor to the full opening of the Elizabeth line, Reading and Reading businesses are now literally on the London transport network map, helping further the business relationships between London and the capital of the Thames Valley.&quot;&nbsp;</span></span></p>

<p><span style="font-size:12pt"><span style="line-height:21pt"><strong>Cllr Tony Page, Reading Borough Council's Lead Councillor for Strategic Environment, Planning and Transport and Deputy Leader, said:</strong> &quot;Reading has long been a major hub on the rail network and is unique in that more people travel into Reading to work every day than commute from Reading into London. The introduction of TfL trains, alongside contactless ticketing and free travel for Freedom Pass holders, is most welcome and will further cement Reading's position as the de facto capital of the Thames Valley and a major economic player in the south east.&quot;</span></span></p>

<p><span style="font-size:12pt"><span style="line-height:21pt">The new services will be operated by MTR Elizabeth line, on behalf of TfL, with new Elizabeth line trains running between London Paddington and Reading. These will provide customers with walk-through carriages, dedicated wheelchair spaces and additional multi-use spaces for buggies and luggage. The trains will initially run with seven carriages as software updates continue to be implemented and tested before being increased to full-length nine-carriage trains.</span></span></p>

<p><span style="font-size:12pt"><span style="line-height:21pt">During peak times, Monday to Friday between 06:30 - 09:30 and between 16:00 - 19:00, services to and from Reading will run every 15 minutes and two trains an hour will run during off-peak times. Some train and departure times have changed and customers are advised to check before they travel.</span></span></p>

<p><span style="font-size:12pt"><span style="line-height:21pt">Until 2 January 2020, existing fares will apply. From 2 January 2020, customers will be able to use contactless pay as you go for the first time between London Paddington and Reading. A single peak adult pay as you go journey between London Paddington and Reading will be &pound;24.40 (with the off-peak fare of &pound;10.60). Daily and weekly capping are expected to be introduced in spring 2020.</span></span></p>

<p><span style="font-size:12pt"><span style="line-height:21pt">TfL Rail services will be affected between 24 December and 31 December as Network Rail will be undertaking Christmas engineering work so customers are advised to check before they travel. There will be no service on the entire line on Christmas Day and Boxing Day. </span></span></p>

<p><span style="font-size:12pt"><span>On the 24 and 27 December there will be no service between London Paddington, Slough and Heathrow T4. &nbsp;Replacement buses will operate between Ealing Broadway, Slough and Hillingdon, not calling at West Ealing or Hanwell, and there will be ticket acceptance on local buses. The rest of the line will operate as normal. Between 28 December and 31 December, a reduced service will operate between London Paddington and Hayes &amp; Harlington with trains not stopping at Acton Mainline, West Ealing or Hanwell. A normal service will operate between Hayes &amp; Harlington and Reading on these dates.</span></span></p>

<p><strong><span style="font-size:12pt"><span>Notes to editors</span></span></strong></p>

<p><span style="font-size:12pt"><span style="line-height:21pt">Service Information</span></span></p>

<p><span style="font-size:12pt"><span>The central section of the Elizabeth line will open as soon as practically possible in 2021. Following the central section opening, full services across the Elizabeth line from Reading and Heathrow in the west to Abbey Wood and Shenfield in the east, will commence as soon as possible.</span></span></p>

<p><span style="font-size:12pt"><span>Services to and from Reading will call at London Paddington, Ealing Broadway, Southall, Hayes &amp; Harlington, West Drayton, Iver, Langley, Slough, Burnham, Taplow, Maidenhead, Twyford and Reading. Services will not call at West Ealing, Hanwell and Acton Main Line.<br />
Some fast services will continue to be operated by GWR from Reading, Twyford, Maidenhead and Slough to London Paddington.</span></span></p>

<p><span style="font-size:12pt"><span>TfL Rail also operates between London Paddington, Hayes &amp; Harlington and Heathrow Terminals 2&amp;3 and 4 as well as Liverpool Street to Shenfield in the East.</span></span></p>

<p><span style="font-size:12pt">For information about Network Rail's Christmas engineering works visit <a href="https://www.networkrail.co.uk/running-the-railway/looking-after-the-railway/planned-works/christmas-engineering-works-2019/">https://www.networkrail.co.uk/running-the-railway/looking-after-the-railway/planned-works/christmas-engineering-works-2019/</a>&nbsp;</span></p>

<p><span style="font-size:12pt"><span>Fares Information</span></span></p>

<ul>
	<li><span style="font-size:12pt">Pay as you go with Oyster will not be extended to services beyond West Drayton (including the 60+ Oyster card) due to limitations with the existing system. Customers using Oyster pay as you go wishing to travel to or from stations beyond West Drayton will need to buy a paper ticket, or use contactless from 2 January 2020, covering the entire length of their journey.</span></li>
	<li><span style="font-size:12pt"><span style="line-height:21pt">Holders of Freedom Passes will be eligible to travel for free on TfL Rail services between London Paddington and Reading.</span></span></li>
	<li><span style="font-size:12pt"><span style="line-height:21pt">All TfL Rail fares will be in line with GWR fares with contactless pay as you go accepted on both operators' services from 2 January 2020.</span></span></li>
	<li><span style="font-size:12pt"><span style="line-height:21pt">Pay as you go fares information for TfL Rail services between London Paddington and Reading is now available on TfL's single fare finder - tfl.gov.uk/farefinder</span></span></li>
	<li><span style="font-size:12pt">When introduced from 2 January 2020, contactless pay as you go will be an alternative to single and return tickets despite daily and weekly capping not being initially available.</span></li>
	<li><span style="font-size:12pt">By spring 2020, daily and weekly capping for contactless pay as you go users will be introduced for journeys between London Paddington and stations to Reading. Until that point, pay as you go journeys between West Drayton and Reading will not be capped. </span></li>
	<li><span style="font-size:12pt">While TfL is working to deliver capping, customers who should have benefitted from daily capping will automatically be reimbursed to ensure they pay the best fare for their travel.</span></li>
	<li><span style="font-size:12pt">Customers with a Travelcard valid for only part of their journey will need to buy a printed ticket for the remainder before boarding the train.</span></li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/november">November</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/december">December</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2019-December-TfL Rail begins operating services between London Paddington and Reading -->

 
 
        
        
            @{ViewBag.Description = "TfL Rail begins operating services between London Paddington and Reading ";}
        
        


 