


@{ViewBag.Title = "Unwrap London this festive season using public transport";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2019">2019</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2019/december">December</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Unwrap London this festive season using public transport</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Unwrap London this festive season using public transport</h1>
        <div class="content-page-press-release">
        16 December 2019
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Public transport in London is open throughout the festive season, but customers should check tfl.gov.uk before travelling
        
    </div>



 <div class="on-this-page">
<p>Transport for London (TfL) is encouraging Londoners to explore the city this Christmas by walking, cycling and using public transport. Public transport is open during this busy period with off-peak fares on the Tube, DLR and London Overground starting at &pound;2.40 within Zone 1 and &pound;1.50 in Zones 2-6. Unlimited bus and tram journeys made within one hour are also &pound;1.50. On New Year's Eve, there will be free travel on TfL services from 23:45 until 04:30 helping millions of people get home safely. Full details are available at tfl.gov.uk/christmas-travel.</p>

<p>As part of TfL's work to encourage more people to get active during the festive period, it is giving everyone 24 hours' free access to Santander Cycles throughout December. Santander Cycles are an easy way to get around the capital to see Christmas lights and are available to hire on Christmas Day &#45; last year, more than 35,000 cyclists used the service on Christmas Day.&nbsp;&nbsp;Users can simply enter the code 'SCXMAS19' at the terminal, online or using the app, which will give them a day's worth of 30-minute rides for free.</p>

<p>Taxis and private hire services will also be available throughout the festive season, and TfL will be working with police services on Operation Safer Travel at Night. TfL's enforcement teams will be focusing their efforts on unbooked minicabs and other illegal activity at targeted locations around London, so customers are reminded that all private hire journeys must be booked in advance.</p>

<p><strong>Gareth Powell, TfL's Managing Director for Surface Transport, said</strong>:&nbsp;&nbsp;&quot;Our staff will be working hard this Christmas and New Year so our customers can continue to get around the capital, whether using public transport, walking or by hiring a Santander Cycle free for 24 hours. We encourage customers to check their journeys before they travel, and to make sure they travel safely and look out for one another, while making the most of the festive period.&quot;</p>

<p>TfL engineers will continue working to boost capacity and reliability on the network during the festive period, including on Christmas Day. Signalling points will be installed to facilitate the Northern Line Extension, while the signalling system that will transform the Circle, District, Hammersmith &amp; City and Metropolitan lines will also be tested in central London. This work will involve some closures, with the Circle, District, Hammersmith &amp; City and Metropolitan lines closed in central London on Sunday 22 and Sunday 29 December. Parts of the Northern line will be closed on Boxing Day, and there will also be closures as work takes place on London Overground and TfL Rail.</p>

<p>TfL will also take advantage of reduced traffic on the roads over Christmas to upgrade pedestrian crossings and create new segregated cycle lanes on Kew Bridge. The main construction work will start over the Christmas period as, on average, there is around 15 per cent less traffic on London's streets at this time of year. From 22 December, lane closures on roads where there is construction will be in place 24 hours a day. TfL will monitor the road network during this time and make changes to its traffic signal timings based on live traffic conditions to help minimise the impact to people's journeys.</p>

<p><strong>Full details on the operation of the TfL network during the festive period are below:</strong></p>

<p><strong>Christmas Eve</strong></p>

<ul>
	<li><strong>London Underground</strong> &#45; A reduced service will run from around 16:00 on all lines except the Waterloo &amp; City and Circle lines, which will run a reduced service from 22:30. There will be no District line service between Parsons Green and Wimbledon from 22:45, with replacement buses running between Fulham Broadway and Wimbledon. A Sunday timetable will apply to the last trains on all lines.</li>
	<li><strong>Buses </strong>&#45; A Saturday service will run with day buses finishing at normal times. There will be no night services and 24-hour bus services will finish at around midnight.</li>
	<li>London Overground and DLR &#45; London Overground services will finish at around 21:30, and DLR services will finish at around 22:30.</li>
	<li><strong>TfL Rail</strong> &#45; There will be no TfL Rail service between Paddington and Slough/Heathrow Terminal 4. Piccadilly line services will run to Heathrow. Rail replacement buses will run between Ealing Broadway, Slough and Hillingdon (not stopping at Acton Main Line, West Ealing or Hanwell). TfL Rail service between Liverpool Street and Shenfield will finish early.</li>
	<li><strong>Trams</strong> &#45; Trams will run a Saturday service until 18:00. From 18:00, trams will run every 15 minutes until 20:00. From 20:00, trams will run every 20 minutes until the last tram.</li>
	<li><strong>Emirates Air Line</strong> &#45; Services start later at 09:00 and finish earlier at 19:00.</li>
</ul>

<p><strong>Christmas Day</strong></p>

<p>The network is closed, but Santander Cycles, taxis and private hire services will all operate. Victoria Coach Station will be open for scheduled coaches, but the ticket office and left luggage facility will be closed.<br />
Ultra Low Emission Zone charges do not apply on Christmas Day. The Congestion Charge will not be in operation from Christmas Day until Thursday 2 January.</p>

<p><strong>Boxing Day</strong></p>

<ul>
	<li><strong>London Underground</strong> - There will be no Northern line service between Morden and Euston via Bank and between Morden and Camden Town via Charing Cross due to Northern line extension work. Rail replacement buses will run between Morden and Stockwell for Victoria line services. No District line service between Earl's Court and Kensington (Olympia) and no Waterloo &amp; City line service. A reduced service will run on all other lines with first trains to run from around 07:45 and last trains at weekday times.</li>
	<li><strong>Buses</strong> &#45; A Sunday service including 24-hour and night routes. Day bus routes will start at normal Sunday times and 24-hour routes will start from around 06:00.</li>
	<li><strong>London Overground and DLR</strong> &#45; For the first time, London Overground services will run from West Croydon to both Highbury &amp; Islington and Dalston from 06:30 until 22:45 and between Clapham Junction and Hackney Wick from 09:00 until 22:00. The DLR will run from 08:30 with a train every 10 minutes.</li>
	<li><strong>TfL Rail</strong> &#45; There will be no service.</li>
	<li><strong>Trams</strong> &#45; There will be a Sunday service.</li>
	<li><strong>Emirates Air Line</strong> &#45; Service will start at 09:00 and finish at 21:00</li>
</ul>

<p><strong>New Year's Eve and Day</strong></p>

<p><strong>London Underground</strong> &#45; Special all-night service will run. Free travel from 23:45 to 04:30 on New Year's Day. Trains will run all night, except on the Waterloo &amp; City line, which will run until around 02:40.<br />
<strong>Buses</strong> &#45; A Saturday service will run on New Year's Eve. From 14:00, bus routes in Central London will be on diversion in preparation for London's New Year's Eve Fireworks. On New Year's Day there will be Sunday service.<br />
<strong>London Overground and DLR</strong> &#45; There will be a special overnight service running on several London Overground routes with full details available at &nbsp;tfl.gov.uk/christmas-travel. A weekday timetable will run on all routes with a Sunday start time on New Year's Day.<br />
<strong>TfL Rail</strong> &#45; There will be a Saturday service on New Year's Eve. Service will return to normal on New Year's Day. Trains will run throughout the night.<br />
<strong>Trams</strong> &#45; There will be a Saturday service. A special all-night service will run every 30 minutes between Wimbledon and Beckenham Junction/New Addington.<br />
<strong>Emirates Air Line</strong> &#45; On New Year's Eve services will run as normal. On New Year's Day services will run from 09:00 until 21:00.</p>

<p>Notes to editors</p>

<ul>
	<li>The 'SCXMAS19' code is valid throughout December, one code per person. Any number of 30-minute journeys in a single 24-hour period are included and users must dock cycles within 30 minutes to avoid being charged.</li>
	<li>The Congestion Charge does not apply between Christmas Day and New Year's Day (inclusive) but ULEZ Charges do not apply on Christmas Day only.</li>
	<li>There will be no service on TfL Rail between Liverpool Street and Shenfield on Saturday 28 and Sunday 29 December while engineering work takes place.</li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/november">November</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/december">December</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2019-December-Unwrap London this festive season using public transport -->

 
 
        
        
            @{ViewBag.Description = "Unwrap London this festive season using public transport ";}
        
        


 