


@{ViewBag.Title = "Construction team builds on its reputation";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Construction team builds on its reputation</h1>
        <div class="content-page-press-release">
        24 August 2006
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London's (TfL) A40 Western Avenue Bridge Replacement project site in Acton has been recognised for its contribution to the local community.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            This rating approval reflects the professionalism of our team
                            
                        </p>
                    </div>
                
            
            
            <p>The Considerate Constructors Scheme, a national body which recognises best practice in the construction industry, praised the team's success in minimising disruption to the local community and reducing the project's environmental impact. </p>
<p>"This rating approval from the Considerate Contractor's Scheme reflects the professionalism of our team, from planning to execution," said TfL Principal Engineer Chad Frankish. </p>
<p>"A major construction project such as the A40 site invariably leaves a lasting legacy on the community and we have the opportunity here to not only improve the infrastructure for people, but also to invest on a larger scale. </p>
<p>"After consultation with the wider community, we chose to sponsor a number of local initiatives including local charities and schools."</p>
<p>One such charity supported by the A40 site team is Whizz-Kids.</p>
<p>TfL, along with consulting engineers, Hyder Consulting and contractor, Alfred McAlpine, supported a Whizz-Kids wheelchair skills training programme that aims to change disabled children's lives by providing them with customised training and advice, including giving them the confidence to independently use public transport. </p>
<p>As part of the A40 project, TfL has devised a strategy to improve accessibility and sustainability for all road users. </p>
<p>The three year major construction project involves the replacement of the Wales Farm Road and Perryn Road bridges in Acton, as well as improvements to the highway layout, access and crossing facilities. </p>
<p>The bridges were built in the 1920s and now require complete replacement to manage today's volumes of A40 traffic - which carries over 100,000 vehicles a day. </p>
<p>This project will also ensure the safety of the railway tracks below and the 800 trains which pass through daily. </p>
            <ul>
<li>Western Avenue Bridge Replacement <br>The A40 Western Avenue Bridge Replacement project site will deliver:</li>
<ul>
<li>New bridges that will secure the structural safety for the next 120 years </li>
<li>A modern carriageway and safer highway layout for drivers </li>
<li>Quick and safe access to and from the A40 </li>
<li>A new toucan crossing, with disabled access, to replace the existing footbridge at Perryn Road </li>
<li>New cycle paths on both sides of the new road </li>
<li>Improved footways </li>
<li>New bus shelters </li>
<li>A new one-way access road between St. Dunstan's Avenue and Friary Road </li>
<li>Landscaping the full length of the scheme </li>
<li>Wales Farm Road Bridge has been designed to enable future rail network expansion and improvements to meet European route requirements</li></ul>
<li>People can find out more, ask questions and keep up-to-date with project progress at <a href="http://www.A40ActonBridges.info">www.A40ActonBridges.info</a>  or email: <a href="mailto:info&#64;A40ActonBridges.info">info&#64;A40ActonBridges.info</a> for more information. A project telephone hotline, available 24 hours 7 days a week, has been set up. Calls will be charged at your local rate. Call: 0845 601 7282</li>
<li>Whizz Kids<br>Whizz-Kidz changes disabled children's lives by providing them with customised mobility equipment, training and advice. As a result, the scheme encourages the independence to live a life of freedom at home, at school and at play.  For further information on Whizz-Kidz see <a href="http://www.whizz-kidz.org.uk">www.whizz-kidz.org.uk</a></li>
<li>The Considerate Constructors Scheme<br>The A40 Western Avenue Bridge Replacement project site was awarded a Considerate Constructors Scheme score of 36.5 out of 40. The national average is 29.9.  The Considerate Constructors Scheme is a national initiative, recommended by government, designed to improve the image of construction through better management and presentation of its sites, over and above statutory requirements. Constructors must commit to an eight point Code of Considerate Practice that includes being considerate, environmentally aware, clean, a good neighbour, respectful, safe, responsible and accountable. For further information on the Considerate Constructors Scheme see <a href="http://www.considerateconstructorsscheme.org.uk">www.considerateconstructorsscheme.org.uk</a> </li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The Considerate Constructors Scheme, a national body which recognises best practice in the construction industry, praised the team's success in minimising disruption to the local community and reducing the project's environmental impact. 'This rating";}
        
        


 