


@{ViewBag.Title = "Cyberspace connects teenagers with road safety";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Cyberspace connects teenagers with road safety</h1>
        <div class="content-page-press-release">
        04 August 2006
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        The 24-hour world of the internet is the focus for the latest road safety campaign aimed at young people.
        
    </div>



 <div class="on-this-page">
<p>Transport for London's famous 'Don't Die Before You've Lived' 
adverts will be automatically broadcast while teenagers download the latest 
music, games and videos. </p>
<p>The adverts will run via Lycos's entertainment portal. Users will be 
redirected to a special microsite especially constructed for the campaign. </p>
<p>In another move, banners will be displayed on several of the most popular 
websites to drive young people to the entertainment portal - these sites include 
MyKindaPlace.com, a popular site for teenage girls recently bought by BSkyB, and 
MonkeySlum.</p>
<p>Peer group pressure and mobile phones are two factors that can distract young 
people crossing the road. </p>
<p>Showing the clip on the internet allows viewers to take-in the message behind 
the advert alone. </p>
<p>This tactic was used when the original cinema adverts were run in May 
2004.</p>
<p>
<h2>Road safety</h2>
<p>
<p>Paul Amlani-Hatcher, Surface Transport Head of Marketing, said: "We recognise 
that internet community sites have quietly become one of the main ways young 
people access the news. </p>
<p>"This initiative places important road safety messages on the internet 
because this is how young people want to be reached." </p>
<p>Chris Lines, Head of Road Safety, said: "The message behind this is simple: 
'don't die before you've lived'. </p>
<p>"At the moment two teenagers are killed or seriously injured in road 
incidents every day. </p>
<p>
<h2>Automatically broadcast</h2>
<p>
<p>"It is a priority for Transport for London to reduce this figure by 
encouraging young people to be more street savvy. </p>
<p>"We are running these adverts on the internet to repeat the message that 
young people should take more care and pay attention when near or using 
roads."</p>
<p>The cinema advert will be re-run across London during August.</p>
<hr>

<p>TfL is committed to improving road safety and supports a number of schemes 
aimed at reducing deaths and injuries on London's roads: <a href="http://www.tfl.gov.uk/roadsafety">www.tfl.gov.uk/roadsafety</a></p>
<p>Cyclists can learn more about staying safe on London's roads with TfL's 
safety guidelines: <a href="http://www.tfl.gov.uk/stayingsafe">www.tfl.gov.uk/stayingsafe</a> <br></p>
            <ul>
<li>The campaign will feature on the follow sites: Lycos, Pupkus, Faceparty, My Kinda Place, Monkeyslum, Yahoo Mail, Miniclip, WAYN, Girland.com and Adserving</li>
<li>In London boys aged between 11 - 14 years are most at risk from being hit by a vehicle when crossing roads</li>
<li>Children from low income and ethnic minority backgrounds are also particularly vulnerable</li>
<li>Approximately a quarter of all teenage pedestrian casualties occur on the way to or from school</li>
<li>Mobile phones, texting and the use of personal stereos can easily distract young road users</li>
<li>Other activities including ball games, rollerblading and skateboarding on the street can also lead to serious accidents involving teenagers and traffic</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Transport for London's famous 'Don't Die Before You've Lived' adverts will be automatically broadcast while teenagers download the latest music, games and videos. The adverts will run via Lycos's entertainment portal. Users will be redirected to a special";}
        
        


 