


@{ViewBag.Title = "Free bus and tram travel is coming for 16 and 17-year-olds in full-time education";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Free bus and tram travel is coming for 16 and 17-year-olds in full-time education</h1>
        <div class="content-page-press-release">
        17 August 2006
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London (TfL) is reminding young people aged 16 and 17 in full-time <BR>education that they can apply for free travel on buses and trams from 1 <BR>September.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            16 and 17-year-olds living in London and in full-time education can apply for free travel on buses and trams from September
                            
                        </p>
                    </div>
                
            
            
            <p>Teenagers living in London need to apply for a 16-17 year old Oyster photocard to claim free travel. </p>
<p>The application form needs to be authorised by a school or college. </p>
<p>The scheme, which was given the go-ahead by the Mayor in May following an election commitment, aims to help young people to continue studying, improve employment prospects and promote the use of public transport. </p>
<p>The Oyster photocard will also allow 16 and 17-year-olds to travel at half the adult fare on the Tube and Docklands Light Railway (DLR) on top of free travel on buses and trams. </p>
<p>Mayor of London, Ken Livingstone, said: "16 and 17-year-olds living in London and in full-time education can apply for free travel on buses and trams from September. </p>
<p>"This will help young people reach their full potential through continued studies and is a cost-saving measure for thousands of London families. </p>
<p>"Nearly 130,000 16 and 17-year-olds in London can benefit from this policy."</p>
<p>Application forms for the new 16-17 Oyster photocard will be available from Post Offices. </p>
<p>Schools and colleges have also been invited to distribute forms.</p>
<p>Applications will be accepted at Post Offices as soon as schools and colleges re-open in September. </p>
<p>The old-style 16-17-year-old paper photocards will not be valid from 2 January 2007.</p>
<p>All 16 and 17-year-olds not in full-time education or who reside outside London will continue to be able to apply for a half-fare concession on adult rate Oyster single fares, and 7-day, monthly and longer period Travelcards, Bus Passes and Tube only season tickets.</p>
<p>For more information on 16 to 17-year-old free travel and travel discounts, visit the <a>website</a>.<br></p>
            <ul dir="ltr">
<li>Eligibility</li>
<li>Free bus and tram travel will be available to: </li>
<ul>
<li>Sixteen and 17-year-olds who permanently reside within a London borough and are in full-time education or unwaged training (see definition below) 
</li><li>Eighteen-year-olds who permanently reside within a London Borough, apply before the end of the academic year in which they turn 18 and who are in full-time education or unwaged training (see definition below) 
</li><li>Full-time education will be defined as 12 hours of guided learning per week for a minimum of 10 weeks, on further education courses in school sixth forms, sixth form colleges and Further Education colleges or as Learning and Skills Council (LSC) arranged Entry to Employment (E2E) or Programme Led Pathways (PLP) work based learning 
</li><li>Students aged 18 or over can apply or a student Oyster photocard and get 30 per cent off Travelcard and Bus Pass season tickets. See <a href="http://www.tfl.gov.uk/fares">www.tfl.gov.uk/fares</a> for full details</li></ul>
<li>Applications: 
<ul>
<li>Applications for free travel must be endorsed by the educational establishment to confirm that the applicant meets the definition of being in full time education. Schools and colleges will not be required to register for the scheme.</li></ul></li></ul>
<p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Teenagers living in London need to apply for a 16-17 year old Oyster photocard to claim free travel. The application form needs to be authorised by a school or college. The scheme, which was given the go-ahead by the Mayor in May following an election";}
        
        


 