


@{ViewBag.Title = "Kicking off a new era for Arsenal Station";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Kicking off a new era for Arsenal Station</h1>
        <div class="content-page-press-release">
        07 August 2006
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Arsenal station reopened to passengers this morning following a two-week programme of refurbishment work - the first step towards providing a first-class transport network to support the new Arsenal stadium and local community.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            The work now underway at Arsenal station is the first step towards providing a first-class transport network to support the new Arsenal stadium
                            
                        </p>
                    </div>
                
            
            
            <p>Funded by Transport for London's (TfL's) &pound;10bn Investment Programme, the work now underway at Arsenal will modernise and upgrade the Tube station, providing better service information and security features for passengers.</p>
<p>It follows the recent announcement that TfL is investing &pound;50m to improve transport links to the new Arsenal stadium, which hosted its first official fixture last month.</p>
<p>Mike Challis, Piccadilly Line General Manager, said: "The work now underway at Arsenal station is the first step towards providing a first-class transport network to support the new Arsenal stadium and local community.</p>
<p>"Formerly known as Gillespie Road, the station celebrates its 100th birthday this year and this modernisation programme will give it a new lease of life. </p>
<p>"Passengers will benefit from 21st century standards of passenger information and security, while also continuing to enjoy the station's heritage features."</p>
<p>The first phase of work, being undertaken by Tube Lines, is the replacement of wall and floor tiles in the ticket hall and upper passageway to the platforms. </p>
<p>The intrusive nature of work meant that the station had to be closed to passengers over a two-week period, which was carefully timed to avoid match days. </p>
<p>&lt;h2&gt;Station re-open&lt;/h2&gt;</p>
<p>Now the station has re-opened, the less intrusive work will continue without any anticipated need for further station closures. </p>
<p>Tooraj Shadnia, Senior Project Manager from Tube Lines said: "The closure enabled us to complete noisy works during the daytime, in order to minimise the amount people living near the stations are disturbed. </p>
<p>"We've retiled the floors and walls and started replacing old cables and lighting, completing three months worth of work in two weeks. </p>
<p>"Additional major improvements will now take place around the football schedule."</p>
<p>The modernisation of Arsenal station is due to be completed early next year including further improvements to passenger information and security:</p>
<ul>
<li>44 new CCTV cameras 
</li><li>Five new passenger help points 
</li><li>A new public announcement system 
</li><li>New lighting to the ticket hall, passageways and platforms <br></li></ul>
<hr>

<p>For 24-hour information on public transport in London, please call: 020 7222 1234.<br><br>TfL's Realtime pages display live travel information on London's public transport network: <a href="http://www.tfl.gov.uk/realtime">www.tfl.gov.uk/realtime</a> </p>
<p>Journey Planner checks the transport network's status before providing results. The best available route is shown automatically: <a href="http://www.tfl.gov.uk/journeyplanner">www.tfl.gov.uk/journeyplanner</a> </p>
<p>Travel alerts via SMS and email can be set up at: <a href="http://www.tfl.gov.uk/alerts">www.tfl.gov.uk/alerts</a></p>
            <ul>
<li>Arsenal station was closed for refurbishment work between Sunday 23 July and Monday 7 August 2006 
</li><li>TfL announced the &pound;50m investment in transport links for the new Arsenal stadium in July 2006. The investment will fund improvements to bus, road, cycle and pedestrian links as well as contributing to the &pound;10m Finsbury Park Interchange project. The project, due to be completed later this year, will vastly improve connections between London Buses, London Underground and National Rail services 
</li><li>Tube Lines isresponsible for the maintenance and renewal of the Jubilee, Northern and Piccadilly lines 
</li><li>The Mayor and TfL are investing &pound;10bn over the next five years to improve and expand London's transport network. More than half of this investment is in the Tube 
</li><li>Gillespie Road station first opened on 15 December 1906 and was renamed Arsenal (Highbury Hill) on 31 October 1932. The suffix was later dropped. Today, Arsenal station is used by approximately 6,000 people on standard weekdays, and significantly more people on match days<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Funded by Transport for London's (TfL's) &pound;10bn Investment Programme, the work now underway at Arsenal will modernise and upgrade the Tube station, providing better service information and security features for passengers.It follows the recent";}
        
        


 