


@{ViewBag.Title = "Mayor abolishes bus and tram fares for 16 and 17-year-olds in full-time education";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Mayor abolishes bus and tram fares for 16 and 17-year-olds in full-time education</h1>
        <div class="content-page-press-release">
        31 August 2006
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        This press release was originally issued by the Mayor of London's press office at the Greater London Authority.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Today marks the delivery of one of my key manifesto commitments
                            
                        </p>
                    </div>
                
            
            
            <p>The Mayor of London, Ken Livingstone, today marked the start of free travel on buses and trams in London for 16 and 17-year-olds in full-time education. </p>
<p>From September around 130,000 16 and 17-year-olds living in London in full-time education or unwaged training can apply for a 16 to 17-year-old Oyster photocard, offering them free travel on the Capital's bus and tram network. </p>
<p>The Oyster card will also allow 16 and 17-year-olds to travel at half the adult fare on the Tube and DLR. </p>
<p>The scheme marks the Mayor's commitment to promote the benefits of public transport to school leavers and to help young people continue studying and improve their employment prospects. </p>
<p>It follows the abolition of fares on buses and trams for under-16s and for under-11s on the Tube. </p>
<p>
<h2>Manifesto commitments</h2>
<p>
<p>Mayor of London, Ken Livingstone, said: "Today marks the delivery of one of my key manifesto commitments at the last election to ensure that every one under-18 in full-time education travels free on London's buses and trams. </p>
<p>"Our polling shows that eight out of ten Londoners support this policy.</p>
<p>"Free travel on buses and trams in London for 16 and 17-year-olds in full-time education will benefit around 130,000 young people and their families. </p>
<p>"It builds on last year's introduction of free bus and tram travel for under-16s. </p>
<p>"It is a huge boost for individuals striving to fulfil their full potential through continued studies and will greatly help those who might be at risk of having to drop out of education through lack of money. </p>
<p>"This move also continues the policy of promoting the use of public transport wherever possible which is helping to protect our environment."</p>
<p>The initiative has been welcomed by a number of education and training organisations across London. </p>
<p>
<h2>Benefit students</h2>
<p>
<p>Jenny Lo, Regional Director for the Association of Colleges London Region, said: "This initiative will benefit all our students across London. </p>
<p>"Many of them come from disadvantaged families and removing the cost of travel will not only help them travel to college, but will also help students in research or vocational projects to get to and from libraries or work-based training and learning places that will help with their studies.</p>
<p>"We fully endorse the scheme and what it means for thousands of young people across London." </p>
<p>Chris Heaume, Chief Executive Officer for Central London Connexions, said: "Free tram and bus travel to Further Education will make all the difference to many 16 and 17-year-olds. </p>
<p>"Of the thousands of young Londoners that Connexions helps to get into college or training, more than half travel out of their local area to do so. And many struggle to find the fare.</p>
<p>"This scheme will remove at least one of the daily pressures in a young student's life. Well done, the Mayor and Transport for London."</p>
<p>
<h2>Fulfill potential</h2>
<p>
<p>Balbir Chatrik, Director of Policy and Communications at Centrepoint, said: "Centrepoint welcomes free tram and bus travel for 16 to 17-year-olds in full-time education. </p>
<p>"For young people to fulfill their potential it is essential that they are able to enter high quality education or vocational training and not be deterred from doing so because of hidden costs.</p>
<p>"This scheme is an added incentive to remain in learning. We wish TfL every success with this initiative." </p>
<p>Application forms for the new 16-17 Oyster photocard will be available from Post Offices. </p>
<p>Schools and colleges have also been invited to distribute forms. </p>
<p>
<h2>Applications</h2>
<p>
<p>Applications will be accepted at Post Offices as soon as schools and colleges re-open in September. </p>
<p>The old-style 16 to 17-year-old paper photocards will not be valid from 2 January 2007.</p>
<p>All 16 and 17-year-old
            <ul>
<li>Eligibility: </li>
<li>Free bus and tram travel will be available to: </li>
<ul>
<li>Sixteen and 17-year-olds who permanently reside within a London borough and are in full-time education or unwaged training (see definition below)</li>
<li>Eighteen-year-olds who permanently reside within a London borough, apply before the end of the academic year in which they turn 18 and who are in full-time education or unwaged training (see definition below)</li>
<li>Full-time education will be defined as 12 hours of guided learning per week for a minimum of ten weeks, on further education courses in school sixth forms, sixth form colleges and Further Education colleges or as Learning and Skills Council (LSC) arranged Entry to Employment (E2E) or Programme Led Pathways (PLP) work based learning</li>
<li>Students aged 18 or over can apply for a Student Oyster photocard and get 30% off Travelcard and Bus Pass season tickets. See <a href="http://www.tfl.gov.uk/fares">www.tfl.gov.uk/fares</a> for full details.</li></ul>
<li>Applications: </li>
<li>Applications for free travel must be endorsed by the educational establishment to confirm that the applicant meets the definition of being in full time education. Schools and colleges will not be required to register for the scheme</li></ul>
<p> </p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The Mayor of London, Ken Livingstone, today marked the start of free travel on buses and trams in London for 16 and 17-year-olds in full-time education. From September around 130,000 16 and 17-year-olds living in London in full-time education or unwaged";}
        
        


 