


@{ViewBag.Title = "Modernisation works to improve Maida Vale station";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Modernisation works to improve Maida Vale station</h1>
        <div class="content-page-press-release">
        14 August 2006
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Work continues to restore and renew Maida Vale station on the Bakerloo line.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Passengers can rest assured that the station's appearance will not be dramatically altered
                            
                        </p>
                    </div>
                
            
            
            <p>The work, part of Transport for London's (TfL's) &pound;10bn Investment Programme to improve London's transport network, commenced in September 2005 and will be completed in April 2007.</p>
<p>Improvement works include the restoration of heritage features; the replacement of all CCTV cameras; the installation of customer Help points; an enhanced public address system; tactile strips on platforms and contrasting handrails for the partially sighted. </p>
<p>All cabling will be concealed, ceilings will be either replaced or decorated and new wall tiles will be fitted throughout the station.</p>
<p>The work is currently at a stage where tiles are being stripped from the walls leaving the beautiful 1915 station looking a little bare, but all heritage features are to be returned. </p>
<p>Francis Lee, Station Supervisor at the station, said: "Maida Vale station is undergoing thorough modernisation works and some heritage features have been removed in order to be restored but will soon be returned to their rightful place adorning the station. </p>
<p>"Passengers can rest assured that the station's appearance will not be dramatically altered."</p>
<p>Disruptions to passengers' journeys for the duration of the modernisation works is being kept to a minimum as the station will remain open except during certain weekends. </p>
            <ul>
<li>TfL is investing &pound;10bn over the next five years to improve and expand London's transport network, over half of that in the Tube 
</li><li>Metronet Rail BCV is responsible for the maintenance and renewal of the Bakerloo, Central, Victoria and Waterloo & City lines 
</li><li>Maida Vale station first opened 6 June 1915 
</li><li>Maida Vale station counts 5,750 daily commuters 
</li><li>Maida Vale was the first London station to have all-female staff. When it opened there were two ticket collectors, two porters, two booking clerks and two relief ticket collector-booking clerks 
</li><li>The Bakerloo line runs for 23km from Elephant & Castle in the south to Harrow & Wealdstone in the north 
</li><li>The line was opened in stages between 1906 and 1915<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The work, part of Transport for London's (TfL's) &pound;10bn Investment Programme to improve London's transport network, commenced in September 2005 and will be completed in April 2007.Improvement works include the restoration of heritage features; the";}
        
        


 