


@{ViewBag.Title = "New look for Shadwell station unveiled by DLR";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>New look for Shadwell station unveiled by DLR</h1>
        <div class="content-page-press-release">
        03 August 2006
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Passengers using Shadwell Docklands Light Railway (DLR) station are set to benefit from a major refurbishment programme to improve the station environment, announced today by DLR.
        
    </div>



 <div class="on-this-page">
<p>More than &pound;1 million is being invested by Transport for London (TfL) to overhaul the arches which provide the main access to the station, making extensive improvements to their layout and appearance over the next nine months. </p>
<p>Nick O'Donnell, DLR Development Project Manager, said: "I'm delighted to announce the start of this much-needed refurbishment programme at Shadwell DLR station. </p>
<p>"The &pound;1 million investment will significantly improve the access to the station, making it cleaner, smarter and more pleasant for passengers.</p>
<p>"We hope these improvements will encourage local people to use the DLR, as well as acting as a catalyst for more investment in the local area. </p>
<p>"Funding options for further highway improvements are already being considered by the London Borough of Tower Hamlets."</p>
<p>The first phase of the refurbishment programme commenced last week. </p>
<p>Focusing on visual improvements, the work will involve deep-cleaning of the station and arches and the removal of equipment that is no longer in use.</p>
<p>Phase two will start in the autumn and deliver more functional changes to the station access. </p>
<p>Parts of the arches will be re-modelled to simplify station entrances and exits, station signage will be enhanced and improvements will be made to the paving and lighting around the station. </p>
<p>The refurbishment work will be carried out by contractors Morgan Est and is part of DLR's ongoing programme to enhance the environment at DLR stations. <br></p>
            <ul>
<li>The Docklands Light Railway (DLR) is part of Transport for London (TfL) 
</li><li>Phase one of the refurbishment programme at Shadwell DLR station started on Monday 24 July 2006 and is expected to take approximately two months to complete 
</li><li>Phase two of the refurbishment programme at Shadwell DLR station is due to start in Autumn 2006 and is expected to be completed by Spring 2007 
</li><li>The work forms part of a wider scheme to encourage use of the DLR by improving the environment at DLR stations. It follows a research programme, commissioned by DLR, which showed that people who do not currently use the DLR are deterred by issues of access to stations, including graffiti, poor lighting and anti-social behaviour 
</li><li>Shadwell station was built as part of the original DLR network in 1987 and is used by 75,000 passengers per week. It provides a connection with the East London Line at Shadwell  
</li><li>In June this year, DLR won the Railway Industry Innovation Award 2006 for 'Delivering a successful railway through effective partnerships'. The award recognised the close working relationships that DLR has with its franchisee, Serco Docklands, the three concessionaires who have built or are building extensions to its network and the local communities it serves</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "More than &pound;1 million is being invested by Transport for London (TfL) to overhaul the arches which provide the main access to the station, making extensive improvements to their layout and appearance over the next nine months. Nick O'Donnell, DLR";}
        
        


 