


@{ViewBag.Title = "New District line trains given thumbs up by passengers";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>New District line trains given thumbs up by passengers</h1>
        <div class="content-page-press-release">
        03 August 2006
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Commuters across London have declared the newly refurbished trains which are being introduced on the District line much more comfortable, spacious and clean.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            The new District Line trains show the kind of improvement passengers can now expect
                            
                        </p>
                    </div>
                
            
            
            <p>The modernised carriages, which are now entering service at a rate of around one a fortnight, have been overwhelmingly backed by passengers who said trains also provided better customer information and lighting. </p>
<p>The survey showed 71 per cent of customers said they felt the amount of space on the refurbished District line trains had improved (with 36 per cent saying it is much better).</p>
<p>A total of 87 per cent of respondents said the seating had improved (54 per cent saying it was much better). </p>
<p>Almost nine out of ten (86 per cent) found the trains cleaner and 90 per cent said the interior decor was better than before (with 59 per cent saying it was much improved). </p>
<p>Visual information was said to have improved by 74 per cent of people, while audio announcements had also got better according to 68 per cent of those surveyed.</p>
<p>The updated rolling stock has completely renewed interiors; CCTV cameras inside the cars; dot matrix information (DMI) displays; fire retardant seats and flooring; and accessibility measures, including tip-up seats to accommodate wheelchairs, buggies and luggage.</p>
<p>Ken Livingstone, Mayor of London, said: "After decades of neglect we are now starting to see the benefits of new investment in the London Underground. </p>
<p>"Our aim is to see the kind of transformation we have already delivered on London buses. </p>
<p>"The new District Line trains show the kind of improvement passengers can now expect."</p>
<p>Howard Collins, Service Director of London Underground, said: "We are delighted that passengers have welcomed these changes and are so pleased with the improvements we have made.</p>
<p>"We are continually looking to make journeys for our customers safer, cleaner, more reliable and more accessible and the results of this survey show that passengers think we are getting things right.</p>
<p>"The District line carries 555,000 people every weekday and this refurbishment is an important step in Transport for London's &pound;10bn Investment Programme to improve and expand the Tube."  </p>
<hr>

<p>
<p>To help more people use London's transport network, TfL has produced a range of accessibility information: <a href="http://www.tfl.gov.uk/accessibility">www.tfl.gov.uk/accessibility</a></p>
<p>Dial-a-Ride and other door-to-door transport services are available to people with impaired mobility: <a href="http://www.tfl.gov.uk/dialaride">www.tfl.gov.uk/dialaride</a> </p>
            <ul>
<li>A web based survey of 590 users of the District line was carried out in April/May 2006 and customers were asked to rate the refurbished trains as much worse, slightly worse, no change, slightly better, much better or don't know on specific areas, such as cleanliness 
</li><li>The current fleet has been running on the District line since 1979, and will be replaced with brand new rolling stock in 2015 
</li><li>There are currently around 20 of the refurbished trains running on the District line out a fleet of 75, and another is put on the tracks roughly every fortnight. They are being worked on three at a time to avoid disruption and the whole fleet is expected to be replaced by spring 2009 
</li><li>From the platform, the trains will also look very different as the previously bare aluminium exterior has been repainted in the Underground's familiar red, white and blue livery, and the standing bars inside are bright green, clearly identifying the trains as District line stock 
</li><li>Comments from the survey include: 'Certainly more space has been achieved by having the new flip-up seats'; 'The new District line is more beautiful... It looks more attractive'; 'They look much nicer and newer than the old. Destination clearly digitally displayed.'</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The modernised carriages, which are now entering service at a rate of around one a fortnight, have been overwhelmingly backed by passengers who said trains also provided better customer information and lighting. The survey showed 71 per cent of customers";}
        
        


 