


@{ViewBag.Title = "New freight scheme is a FORS to be reckoned with";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>New freight scheme is a FORS to be reckoned with</h1>
        <div class="content-page-press-release">
        31 August 2006
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London (TfL) is teaming up with the police and the freight industry to develop a new scheme which could reduce operator's costs by ten per cent while driving down road accidents and emissions in the capital.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            The Freight Operator Recognition Scheme (FORS) is an excellent example of the authorities working together in partnership
                            
                        </p>
                    </div>
                
            
            
            
<p>The Freight Operator Recognition Scheme (FORS) set up by TfL's 
Freight Unit aims to offer incentives and other encouragement to freight 
operators who adopt best practice, while addressing illegal and dangerous road 
behaviour. </p>
<p>Around 70 operators will be involved in the scheme's pioneer phase, which 
started this month and runs until March 2007, to help TfL shape the best scheme 
for everyone.</p>
<p>They will get face-to-face guidance and support from experts on issues such 
as fuel efficiency. </p>
<p>Evidence from the Department for Transport shows that advice and training on 
journey planning and the way in which a vehicle is driven can cut operator's 
costs by up to a tenth. </p>
<p>
<h2>Tackle issues</h2>
<p>
<p>TfL has funded an experienced team of Metropolitan Police officers - the 
Commercial Vehicle Education Unit - who will assist businesses in tackling 
issues such as illegal use of mobile phones, unsafe vehicles, excessive driver 
hours and unfit or incompetent drivers. </p>
<p>They will also give guidance on areas of legal compliance, such as servicing 
requirements and licensing, and work related road safety. </p>
<p>TfL's Freight Unit will also be carrying out research into the issue of 
parking, both for drivers to take statutory breaks and for safe loading and 
unloading of vehicles.</p>
<p>Freight Operator Recognition Scheme Manager, Clare Bottle, said: "With the 
support of our industry partners, through building a successful scheme we will 
demonstrate to freight companies how much London values their contribution to 
the economy.</p>
<p>"The Freight Operator Recognition Scheme (FORS) standards of best practice 
will help maintain London as a world-class city by balancing the needs of the 
freight industry with those of other transport users."</p>
<p>
<h2>Partnership</h2>
<p>
<p>Chief Inspector Ian Brooks from the Met Police Traffic Unit said: "Freight 
Operator Recognition Scheme (FORS) is an excellent example of the authorities 
working together in partnership. </p>
<p>"By supporting and providing tailored advice to freight companies in legal 
compliance, this innovative scheme will help to reduce deaths, injuries and fear 
on our roads."</p>
<p>At the end of the pioneer phase, the Freight Unit will analyse feedback and 
results to develop a tiered membership scheme offering incentives to operators 
and making freight transport more sustainable. </p>
<p>More information on the scheme can be found <a href="http://www.tfl.gov.uk/fors">online</a>. </p>
            <ul>
<li>In 2005 there were 36 fatalities as a result of road collisions involving goods vehicles - 17 per cent of the total deaths on London's roads </li>
<li>In total, there were 3,260 road collisions involving goods vehicles - seven per cent of all collisions on London's roads </li>
<li>TfL Freight Unit's vision for freight in London has been defined as: "The safe, reliable and efficient movement of freight and servicing trips to, from, within and, where appropriate, through London to support London's economy, in balance with the needs of other transport users, London's environment and Londoners' quality of life" </li>
<li>The London Freight Plan, which includes Freight Operator Recognition Scheme (FORS), can be viewed <a title="London Freight Plan" href="/businessandpartners/freight/1292.aspx">online </a><br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The Freight Operator Recognition Scheme (FORS) set up by TfL's Freight Unit aims to offer incentives and other encouragement to freight operators who adopt best practice, while addressing illegal and dangerous road behaviour. Around 70 operators will be";}
        
        


 