


@{ViewBag.Title = "New freight centre cuts emissions and lorry trips by 70 per cent";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>New freight centre cuts emissions and lorry trips by 70 per cent</h1>
        <div class="content-page-press-release">
        18 August 2006
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        People around Bermondsey are enjoying cleaner air and less traffic after a unique construction distribution centre has successfully cut emissions and lorry trips by 70 pert cent in just six months, slashing journey times by two hours and reducing congestion.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Local people are seeing significantly less traffic on the roads
                            
                        </p>
                    </div>
                
            
            
            <p>The London Construction Consolidation Centre (LCCC) is a two year pilot study and was launched in January this year in Stockholm Road, Bermondsey. </p>
<p>The LCCC means building materials can be delivered to the one-stop centre in bulk, before being sent to building sites as and when they are needed. </p>
<p>Better journey planning means supplies arrive at the right time and use less lorry trips overall. </p>
<p>In the first six months of operation, the LCCC has seen:</p>
<ul>
<li>CO2 emission lowered by 73 per cent, from 11,985kg to 3,175kg 
</li><li>The need for deliveries reduced by three-quarters from around 1,500 to 395 
</li><li>Journey times for lorries cut by up to two hours 
</li><li>Less deliveries turned away from building sites, with the right materials arriving on time 95per cent of the time, up from 50 per cent 
</li><li>Traffic flow maintained around major construction sites, reducing congestion</li></ul>
<p>The centre, which is servicing four major construction projects in central London, is funded through a partnership between Transport for London (TfL), Stanhope plc, Bovis Lend Lease and logistics specialists Wilson James. </p>
<p>Further work is now being carried out with a view to establishing other sites around the capital.</p>
<p>Adrian Boughtflower, of TfL's Freight Unit, said: "Local people are seeing significantly less traffic on the roads, and benefiting from better air quality. </p>
<p>"The LCCC is making big steps towards cutting emissions and road trips, as well as boosting efficiency in the construction industry. </p>
<p>"The next step will be to secure a further six construction projects to use the centre which will enable it to become self-financing.</p>
<p>"At the same time we are looking at the benefits of implementing a number of these centres across London, to keep working with the industry to improve things further for Londoners and so support the sustainable development of London."<br></p>
            <ul>
<li>Consolidation forms key proposal LFP7 in TfL's London Freight Plan, which is open for consultation until September 5. Other proposals in the plan that will reduce CO2 emissions in the Capital include: 
<ul>
<li>LFP3 Driver training initiative - Driver skills, logistics planning skills 
</li><li>LFP4 Freight Operator Recognition Scheme (FORS) - A scheme in its pioneer stage to improve operator and driver standards (see <a href="http://www.tfl.gov.uk/fors">www.tfl.gov.uk/fors</a>) 
</li><li>LFP5 Journey planning systems 
</li><li>LFP6 Greater utilisation of sustainable modes such as water or rail 
</li><li>LFP8 Adoption of alternative fuels and technologies</li></ul>
<li>Operators can get further advice on these issues from TfL's Freight Unit. To see and comment on the eight proposals that make up TfL's London Freight Plan, and how they affect all aspects of freight operation in London, go to <a href="http://www.tfl.gov.uk/freight">www.tfl.gov.uk/freight</a>. The Freight Unit can be contacted for advice by emailing <a href="mailto:freight&#64;tfl.gov.uk">freight&#64;tfl.gov.uk</a> 
</li><li>The London Freight Plan addresses the challenge of the capital's expected growth facing freight operators, and seeks to recognise the vital role that freight movement plays in maintaining London as a world-class city by balancing the needs of freight with those of other transport users 
</li><li>Over the next 10 years London's population is expected to grow by 800,000, with a consequent increase in freight transport of 15 per cent<br></li></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The London Construction Consolidation Centre (LCCC) is a two year pilot study and was launched in January this year in Stockholm Road, Bermondsey. The LCCC means building materials can be delivered to the one-stop centre in bulk, before being sent to";}
        
        


 