


@{ViewBag.Title = "New Victoria line train unveiled to the public";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>New Victoria line train unveiled to the public</h1>
        <div class="content-page-press-release">
        03 August 2006
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        New Victoria line trains due to enter passenger service from 2009 will be unveiled to the public on 4 August at Euston Square Gardens.
        
    </div>



 <div class="on-this-page">
<p>Members of the public will get the opportunity to discover the many features that aim to deliver faster, more reliable, safer and more comfortable journeys on the Victoria line as part of the Victoria Line Upgrade, to be completed by 2013 by Metronet Rail.</p>
<p>The Victoria Line Upgrade is one of the largest investment projects being undertaken on London Underground over the next decade and is part of Transport for London's &pound;10bn Investment Programme to meet London's transport needs, now and in the future.</p>
<p>Ken Livingstone, Mayor of London, said: "This is another step in the investment we need to deliver the kind of transformation of the Underground that has already been delivered on the bus network."</p>
<p>John Doyle, General Manager of the Victoria line, said: "We are really keen for the public to come and see this design for the Victoria line trains. </p>
<p>"The new trains will play a very important role in delivering faster, safer, more reliable and more comfortable journeys on the Victoria line in the years to come.</p>
<p>"Overall, the Victoria Line Upgrade will deliver 47 new and faster trains, a new signalling system and control room. The changes are likely to lead to more trains running at peak times and faster journey times.</p>
<p>The new trains will possess the following key features:</p>
<ul>
<li>Higher passenger capacity 
</li><li>Better acceleration leading to reduced journey times 
</li><li>Improved accessibility (including full compliance with the Rail Vehicle Accessibility Regulations) 
</li><li>CCTV coverage in each carriage 
</li><li>Enhanced on-train customer information<br></li></ul>
<p>Other features include: </p>
<ul>
<li>Energy efficient trains 
</li><li>Vehicles designed for easier maintenance to reduced maintenance 
</li><li>Hard wearing vandal resistant materials to provide longer lasting and easier to clean exterior and interior environment 
</li><li>Improved lighting, heating and ventilation systems for passengers</li></ul>
<p>The changes are likely to lead to a 17 per cent increase in peak frequencies and 16 per cent improvement in journey time. </p>
<p>This mock up of the new Victoria line carriage, designed by Metronet Rail and built by Bombardier in Derby, underwent market research from 21 July to 3 August to establish suitability.<br></p>
<hr>

<p>For 24-hour information on public transport in London, please call: 020 7222 1234.<br><br>TfL's Realtime pages display live travel information on London's public transport network: <a href="http://www.tfl.gov.uk/realtime">www.tfl.gov.uk/realtime</a> </p>
<p>Journey Planner checks the transport network's status before providing results. The best available route is shown automatically: <a href="http://www.tfl.gov.uk/journeyplanner">www.tfl.gov.uk/journeyplanner</a> </p>
<p>Travel alerts via SMS and email can be set up at: <a href="http://www.tfl.gov.uk/alerts">www.tfl.gov.uk/alerts</a></p>
            <ul>
<li>The public viewing phase of the mock up carriage will take place daily from 4 - 10 August 2006 between 10:00 and 20:00 
</li><li>TfL is investing &pound;10bn over the next five years to meet London's transport needs now and in the future 
</li><li>The Victoria Line Upgrade is due to be completed by 2013 
</li><li>Results of the market research carried out by Outlook Research will be announced in October 2006 
</li><li>Last year LU was named UK Train Operator of the Year 
</li><li>Metronet Rail BCV is responsible for the maintenance and renewal of the Bakerloo, Central and Victoria lines and for the successful and timely delivery of the Victoria Line Upgrade (VLU)</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Members of the public will get the opportunity to discover the many features that aim to deliver faster, more reliable, safer and more comfortable journeys on the Victoria line as part of the Victoria Line Upgrade, to be completed by 2013 by Metronet";}
        
        


 