


@{ViewBag.Title = "Northern line services this evening";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Northern line services this evening</h1>
        <div class="content-page-press-release">
        08 August 2006
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        London Underground (LU) advised passengers that Northern line services between Stockwell and Morden would be severely disrupted this evening with a limited service in operation.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Engineers from Tube Lines have been working to restore services as quickly as possible
                            
                        </p>
                    </div>
                
            
            
            <p>This is due to a major signalling system failure at Clapham Common.</p>
<p>Work to resolve the signalling failure is being undertaken by Tube Lines, who are responsible for the maintenance and renewal of the Northern line.</p>
<p>Passengers are advised to avoid Stockwell station due to potential overcrowding and use National Rail services where possible.</p>
<p>Valid LU tickets will be accepted on:</p>
<ul>
<li>Southern services from Victoria for Clapham Junction, Wandsworth Common and Balham 
</li><li>South West Trains from Waterloo or Vauxhall for Wimbledon or Clapham Junction 
</li><li>First Capital Connect from Blackfriars for Tooting</li></ul>
<p>A limited replacement bus service is available from Stockwell and Wimbledon and will operate as follows:</p>
<ul>
<li>Stockwell to Clapham Common 
</li><li>Wimbledon to South Wimbledon and Morden</li></ul>
<p>London Buses and Croydon Tramlink are also accepting valid LU tickets by any reasonable route.</p>
<p>Passengers travelling to South Wimbledon or Morden are advised to use the District line or National Rail services to Wimbledon and then continue their journey via the replacement bus service or Croydon Tramlink.</p>
<p>Passengers travelling to Tooting or Tooting Bec are advised to use First Capital Connect services from Blackfriars or Southern services to Wandsworth Common.</p>
<p>Mike Brown, Chief Operating Officer, London Underground, said: "A major signalling system failure at Clapham Common earlier this morning has disrupted Northern line services throughout the day.</p>
<p>"Engineers from Tube Lines have been working to restore services as quickly as possible but the only option has been to undertake emergency engineering works this afternoon.</p>
<p>"A limited service will operate between Stockwell and Morden this evening. We apologise to passengers for the inconvenience caused."</p>
<p><br><br><br></p>
            <ul>
<li>Tube Lines are responsible for maintenance and renewal of the Jubilee, Northern and Piccadilly lines.</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "This is due to a major signalling system failure at Clapham Common.Work to resolve the signalling failure is being undertaken by Tube Lines, who are responsible for the maintenance and renewal of the Northern line.Passengers are advised to avoid Stockwell";}
        
        


 