


@{ViewBag.Title = "Planned closures for works to improve the Metropolitan line";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Planned closures for works to improve the Metropolitan line</h1>
        <div class="content-page-press-release">
        14 August 2006
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Improvement works to the northern section of the Metropolitan line will begin this weekend (August 19) as part of Transport for London's (TfL'S) &pound;10bn Investment Programme to improve and expand London's transport network.
        
    </div>



 <div class="on-this-page">
<p>Some of the oldest track on the network between Amersham and Moor Park will be replaced at 16 separate sites, which will bring better reliability and faster journeys for customers.</p>
<p>The work will be carried out by Metronet Rail, using new engineering trains which have the most up-to-date track-laying equipment on board, on five weekends between now and Christmas when track closures and service suspensions will be required.</p>
<p>Angela Back, General Manager, Metropolitan line, said: "This track work is really good news for the Metropolitan line and will bring noticeable changes to the service.</p>
<p>"Some track sections in the northern part of the line will be replaced, with passengers soon benefiting from a quicker and more reliable service as a result.<br><br>"These essential works have been timed to cause the minimum disruption to passengers and we ask them to bear with us but check before travelling at the weekend.</p>
<p>"A rail replacement bus service will operate along the affected route."</p>
<p>During the closures there will be no Metropolitan line services between Moor Park and Amersham; Chalfont & Latimer and Chesham and no fast services north of Harrow-on-the-Hill. </p>
<p>Some Chiltern Railways services will also be affected. </p>
<p>Weekend work is expected to continue into 2007.</p>
            <ul>
<li>The work is part of TfL's &pound;10bn Investment Programme to improve and expand London's transport network, more than half of that on the Tube 
</li><li>The closures are planned for the weekends of 19/20 August, 7/8 October, 11/12 November, 9/10 and 16/17 December 
</li><li>On those dates there will be no Metropolitan line services between Moor Park and Amersham; Chalfont &amp; Latimer and Chesham; and no fast service north of Harrow-on-the-Hill 
</li><li>An "all stations" service will continue to operate to Watford 
</li><li>Rail replacement bus services will operate from Croxley station as below<br>o Rail replacement bus service A - Croxley to Chesham every 10 minutes calling at Rickmansworth, Chorleywood, Chalfont &amp; Latimer and Amersham<br>o One in three of these buses (ie every 30 minutes) will continue northbound from Chesham to stop at Great Missenden, Wendover, Stoke Mandeville and Aylesbury 
</li><li>Valid London Underground and National Rail tickets will be accepted on the rail replacement bus services, but not on other local routes 
</li><li>Chiltern Railways services between Marylebone and Aylesbury via Amersham will also be suspended, with customers being advised to use the service via Princes Risborough instead 
</li><li>The Metropolitan line opened in 1863 and was the world's first underground railway. It covers 66.7km and serves 34 stations 
</li><li>Metronet Rail SSR is responsible for the renewal and maintenance of the Metropolitan, Hammersmith &amp; City, District and Circle lines</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Some of the oldest track on the network between Amersham and Moor Park will be replaced at 16 separate sites, which will bring better reliability and faster journeys for customers.The work will be carried out by Metronet Rail, using new engineering trains";}
        
        


 