


@{ViewBag.Title = "Surrey Quays shoppers encouraged to swap four wheels for two";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Surrey Quays shoppers encouraged to swap four wheels for two</h1>
        <div class="content-page-press-release">
        22 August 2006
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        A project which aims to encourage shoppers out of their cars and on to their bikes is being launched at Surrey Quays shopping centre on Thursday 24 August, thanks to a &pound;5,000 grant from the Transport for London (TfL) funded Cycle London Promotional Partnership (CLPP).
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Schemes such as this are a brilliant way to reach people who are new to cycling
                            
                        </p>
                    </div>
                
            
            
            <p>The Shopping Centred Cycle Training project, the brainchild of 
Southwark Cyclists, aims to get local residents to leave their cars at home and 
use their bicycles for short local journeys. </p>
<p>Shoppers who normally drive to Surrey Quays are being offered professional 
cycle training for up to three hours, for just &pound;10. </p>
<p>Sessions will be individually tailored, and could include anything from 
learning to start, stop and steer a bicycle safely through to on-road training 
and basic bike maintenance, depending on each person's needs.</p>
<p>To help people make the switch from four wheels to two, people can take part 
in free 'taster' cycle training sessions at Surrey Quays' Bike Magic Day, which 
runs from 11am - 7pm on Thursday 24 August. </p>
<p>As well as getting the chance to see what cycle training involves, there will 
also be a free Dr Bike cycle surgery on hand so people can give their bikes a 
free health check, local police will be registering bikes with anti-theft 
markers, there will be led local bike rides, and RJRideguide, one of the UK's 
best cycle stunt riders, will be performing throughout the day.</p>
<p>Jenny Jones, the Mayor's Green Transport Advisor, said: "If you want to get 
fitter, move around faster, or just save money on your travel costs then the 
summer is an ideal time to start cycling. </p>
<p>"A bit of cycle training is all that many people need to get them back in the 
saddle."</p>
<p>Rose Ades, Head of the Cycling Centre of Excellence at TfL, said: "Many 
Londoners have got bikes and are keen to ride them, but don't have the 
confidence to cycle in their own area. </p>
<p>"Training can help break down this barrier and give people the freedom to 
cycle in the capital. </p>
<p>
<h2>Cycling Projects</h2>
<p>
<p>"TfL funds cycle training in partnership with many London boroughs already, 
but schemes such as this, that go out into the community, are a brilliant way to 
reach people who are new to cycling."</p>
<p>Barry Mason of Southwark Cyclists said: "Lots of Londoners want to cycle 
more, but for many people a lack of confidence in their cycling skills stops 
them from getting on their bikes. </p>
<p>"The CLPP funding has allowed Southwark Cyclists to get the Shopping Centred 
Cycling project off the ground. </p>
<p>"Not only are we able to offer local residents high quality personalised 
cycle training at very affordable prices, we are also piloting something that 
can be used as a blueprint for similar projects in the future."</p>
<p>Lucy Davis, CLPP Project Officer at the London Cycling Campaign (LCC), said: 
"Since it started in 2005, the CLPP Community Grant Scheme has already helped 
more than 30 community cycling projects throughout London to get started, and to 
continue to grow. </p>
<p>"The Southwark Cyclists Shopping Centred Cycling project is a brilliant 
example of what CLPP grants are helping to achieve in communities right across 
London, and shows that by providing resources and support to get people started, 
cycling can become an everyday activity for all Londoners."</p>
            <ul>
<li>The TfL funded Community Cycling Grants are distributed by the Cycle London Promotion Partnership (CLPP), which consists of TfL, London Cycling Campaign, CTC, Sustrans, LondonCycleSport and Good Going. The grants are available to charities, not-for-profit groups and schools that work with communities in London and are intended to promote, encourage and support cycling across the capital. Information is available on <a>TfL's website </a></li>
<li>CLPP funding is administered by London Cycling Campaign's Community Cycling Project. The Community Cycling Project also offers free advice, support and hands-on assistance to groups wishing to encourage cycling in the community </li>
<li>There has been a 72 per cent increase in cycle journeys on London's major roads since 2000. It is estimated that there are now approximately 450,000 cycle journeys a day across London as a whole </li>
<li>Investment in cycling has risen during the past five years from &pound;5.5m in 2000 to &pound;24m in 2006/07. TfL is investing this money in cycling infrastructure, training, promotion and education </li>
<li>There has been a 34 per cent reduction in cycle casualties in London against the government's baseline figures (from 1994-1998 average) </li>
<li>Adult cycle training is widely available in London. More details are available on the <a>TfL website </a>or contact their local borough cycling or road safety officers for further information </li>
<li>Media Contacts </li>
<li>For more information on TfL's work to support and promote cycling in London, please contact Silka Kennedy-Todd at Transport for London on 020 7126 3394, email <a href="mailto:silkakennedy-todd&#64;tfl.gov.uk">silkakennedy-todd&#64;tfl.gov.uk</a> or go to <a href="http://www.tfl.gov.uk/cycles">www.tfl.gov.uk/cycles</a> </li>
<li>For free advice on how to get your community cycling project started, please contact Lucy Davis at the London Cycling Campaign (LCC) on 020 7234 9310, email <a href="mailto:lucy&#64;lcc.org.uk">lucy&#64;lcc.org.uk</a>, or see <a href="http://www.lcc.org.uk/">http://www.lcc.org.uk/</a> </li>
<li>For more information on Southwark Cyclists, please contact Barry Mason on 07905 889 005 or email <a href="mailto:info&#64;southwarkcyclists.org.uk">info&#64;southwarkcyclists.org.uk</a> or see <a href="http://www.southwarkcyclists.org.uk/">http://www.southwarkcyclists.org.uk/</a> </li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The Shopping Centred Cycle Training project, the brainchild of Southwark Cyclists, aims to get local residents to leave their cars at home and use their bicycles for short local journeys. Shoppers who normally drive to Surrey Quays are being offered";}
        
        


 