


@{ViewBag.Title = "TfL awards &pound;223m new trains contract";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>TfL awards &pound;223m new trains contract</h1>
        <div class="content-page-press-release">
        31 August 2006
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London (TfL) today announced that a &pound;223m contract to build and maintain more than 44 new trains has been awarded to Bombardier. The trains will be built in the UK at Bombardier's Derby plant.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            We want to revitalise London's rail services, addressing issues of capacity and train performance
                            
                        </p>
                    </div>
                
            
            
            
<p>Funded by TfL's &pound;10 billion Investment Programme, the new trains 
will operate on the North London Railway, which TfL will manage from November 
next year, and the extended East London Line.</p>
<p>The trains are expected to enter service in 2009.</p>
<p>The rolling stock contract will deliver a fleet of new trains, modelled on 
Bombardier's Class 376 Electrostar, designed specifically to cater for the high 
volumes of passengers on busy commuter routes. </p>
<p>The order will be delivered as follows:</p>
<ul>
<li>Twenty-four dual-voltage three-car trains for the North London Railway 
</li><li>Twenty, four-car trains for the extended East London Line when it opens in 
2010.</li></ul>
<p>The contract also includes further options for extra carriages for the North 
London Railway and more trains for the extended East London Line.</p>
<p>
<h2>Passengers first</h2>
<p>
<p>Howard Smith, Chief Operating Officer, TfL London Rail said: "I'm delighted 
to confirm this order for 44 new trains for the North London Railway and 
extended East London Line. </p>
<p>"They will significantly improve the comfort, reliability and overall quality 
of train services for passengers on these TfL rail routes.</p>
<p>"TfL's priority is to put passengers first. </p>
<p>"When we assume responsibility for the North London Railway in November next 
year, our first priority is to improve safety and security on the route. </p>
<p>"But we also want to revitalise London's rail services, addressing issues of 
capacity and train performance.</p>
<p>"The award of a contract for these trains is a significant step towards 
achieving TfL's vision for rail services in London."</p>
<p>
<h2>Shortlist</h2>
<p>
<p>In June this year, TfL announced a shortlist of bidders to operate train 
services on the North London Railway and the extended East London Line, under 
the TfL London Rail Concession. </p>
<p>The successful bidder is likely to be announced next summer.<br></p>
            <ul>
<li>The tendering process for the TfL London Rail rolling stock contract began in late 2005 and concluded today with the announcement of Bombardier as the successful bidder</li>
<li>The 44 new trains, manufactured by Bombardier, will operate on a chassis that is similar to those in use on Southern and South Eastern Trains services. This design has been tried and tested and proved to be effective on London commuter routes</li>
<li>Alistair Darling, then Secretary of State for Transport, announced in February 2006 that responsibility for the North London Railway will transfer to TfL in November 2007. The North London Railway consists of:</li>
<ul>
<li>The North London Line (Richmond to North Woolwich)</li>
<li>The London Euston to Watford Junction local line</li>
<li>The West London Line (Willesden Junction to Clapham Junction via Kensington Olympia)</li>
<li>The Gospel Oak to Barking line</li></ul>
<li>The East London Line Project (Phase 1) will extend the existing line south to West Croydon and north to Dalston Junction. It is due for completion by 2010</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Funded by TfL's &pound;10 billion Investment Programme, the new trains will operate on the North London Railway, which TfL will manage from November next year, and the extended East London Line.The trains are expected to enter service in 2009.The rolling";}
        
        


 