


@{ViewBag.Title = "TfL appoints event management company for 2007 Tour de France Grand Depart";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>TfL appoints event management company for 2007 Tour de France Grand Depart</h1>
        <div class="content-page-press-release">
        29 August 2006
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London (TfL) today announced that after a rigorous selection process Innovision has been appointed as the event management company for the Grand Depart of the Tour de France in July 2007.
        
    </div>



 <div class="on-this-page">
<p>Innovision will work in association with SweetSpot (organisers of the Tour of Britain) to deliver the host city requirements.</p>
<p>Innovision, in association with SweetSpot, will deliver:</p>
<ul>
    <li>Race HQ &amp; Press Centre<br />Located in ExCeL London and covering 8,000 square metres, the HQ will be home to the race organisers and the world's media between Wednesday 4 July and Saturday 7 July. The facility will include a 500-seat press centre, two conference rooms seating a total of 650 people, a Tour de France partner exhibition zone, and temporary offices for race officials. There will be an additional facility located at the Stage One finish in Canterbury incorporating a 500-seat press centre<br /></li>
    <li>The Opening Ceremony<br />Taking place on Friday 6 July in Trafalgar Square this event sets the scene for the forthcoming competition, combining the presentation of the riders and teams taking part in the 2007 Tour de France with an array of live entertainment<br /></li>
    <li>The Race, consisting of:</li>
    <ul>
        <li>The Prologue <br />On Saturday 7 July - An individual race against the clock with the riders setting off a minute apart and racing around a 7.9km circuit. The result of this time trial will determine which rider wears the world famous yellow jersey on the 1st Stage of the race.  The route comprises Whitehall, Parliament Square, Buckingham Palace, Hyde Park Corner, Hyde Park, Constitution Hill and a finish in The Mall<br /><br />o The 1st Stage<br />On Sunday 8 July - Comprises a 209km course starting in The Mall and taking in many London sights including the Houses of Parliament, The London Eye, St Paul's Cathedral, the Bank of England, Tower Bridge and the Greenwich World Heritage site. The route proceeds through the Kent countryside passing through a number of historic urban centres before finishing in Canterbury with the Cathedral as a backdrop</li>
    </ul>
</ul>
<p>The Tour de France is the largest annual sporting event in the world. The event will bring hundreds of thousands of visitors to London and the South East and is expected to bring more than &pound;70m to the South East economy.</p>
<p>The Tour de France is coming to London following a bid by the Mayor of London, Transport for London and the London Development Agency. The 2007 Grand Depart is the first time the Tour de France has visited the capital and the first time the race has ever started in the UK. The race has visited the UK twice before in 1974 and 1994.</p>
<ul>
    <li>The Tour de France Grand Depart weekend will run from Friday 6 July to Sunday 8 July 2007</li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Innovision will work in association with SweetSpot (organisers of the Tour of Britain) to deliver the host city requirements.Innovision, in association with SweetSpot, will deliver:Race HQ &amp; Press CentreLocated in ExCeL London and covering 8,000";}
        
        


 