


@{ViewBag.Title = "TfL launches Tube Check before you travel TV ads";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>TfL launches Tube Check before you travel TV ads</h1>
        <div class="content-page-press-release">
        17 August 2006
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London (TfL) today launches a new London Underground (LU) television advertising campaign fronted by LU Managing Director Tim O'Toole, urging all Londoners to "check before you travel" on the Tube at weekends due to an extensive improvement programme.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            We are investing billions to improve the Tube
                            
                        </p>
                    </div>
                
            
            
            
<p>Earlier this year, LU announced a major increase in the level of 
engineering work taking place on the Tube at weekends as part of Transport for 
London's &pound;10bn Investment Programme. </p>
<p>The pace of work has increased to almost double that of last year, a momentum 
to be maintained for many years to come. The work is being undertaken by Tube 
Lines and Metronet.</p>
<p>The campaign's message is simple - please, check before you travel on the 
Tube at weekends, plan an alternative route or allow extra time if 
necessary.</p>
<p>The TV ads have been devised by TfL as a way of targeting leisure and weekend 
Tube users, who could find themselves increasingly affected by weekend Tube 
improvement works. </p>
<p>TfL already targets regular commuters and weekday Tube passengers through a 
range of publicity, including posters and leaflets at stations, but this 
communication does not always reach weekend passengers.</p>
<p>The advertisement will be seen several times by six million adults in the 
London region during the campaign providing a cost effective way to communicate 
the "check before you travel" message to weekend Tube passengers.</p>
<p>Tim O'Toole, LU Managing Director, said: "After decades of underinvestment, 
we are investing billions to improve the Tube. </p>
<p>"This is funding massive improvement works which means we have to close some 
stations and sections of lines at weekends. </p>
<p>
<h2>Improvement works</h2>
<p>
<p>"We recognise that this will inevitably cause some inconvenience to 
passengers but this will result in a much improved London Underground. </p>
<p>"That's why we are asking all Londoners to please, check before you travel on 
the Tube at weekends. </p>
<p>"Alternative travel options and information will always be available at 
stations, the TfL website or through TfL's Travel Information line."</p>
<p>Improvement works taking place on the Tube this year include a major series 
of weekend closures on the Northern and Victoria lines throughout 2006.</p>
<p>
<h2>Check service</h2>
<p>
<p>The Waterloo &amp; City line is closed for five months until early September 
for a major upgrade.</p>
<p>Regent's Park and Lancaster Gate stations are presently closed for 
modernisation and lift replacement works.</p>
<p>In addition Network Rail works will also mean the suspension of parts of 
Underground lines at times, in order that they can undertake work.</p>
<p>Around 50 stations will have improvement works this year including Baker 
Street, Embankment, Farringdon, Blackfriars, Earl's Court and Mile End.</p>
<p>Stations will generally remain open, although some may close early on 
occasion.</p>
<p>Passengers are advised to check before travelling via the following options: 
</p>
<ul>
<li>The TfL website: <a href="http://www.tfl.gov.uk/tubeworks">www.tfl.gov.uk/tubeworks</a> 
</li><li>The London Travel Information 24-hour telephone helpline: 020 7222 1234 
</li><li>BBC Ceefax, page 436, or ITV's Teletext, page 164 
</li><li>Information on posters, leaflets and "Good Service" boards at Tube 
stations</li></ul>
<p>The advert will run to coincide with news bulletins on ITV London, Channel 4 
and five over the next three months on Thursdays, Fridays and Saturdays. </p>
            <ul>
<li>TfL's Tube "Check before you travel" TV ad will first broadcast on Thursday, August 17 on the following channels and at the following times:<br>ITV London at 12.40(national news) and 13.15 (local news)<br>C4 at 12.15 and 19.35<br>five at 17.45</li>
<li>TfL is investing &pound;10bn over the next five years to meet London's transport needs now and in future, over half of that in the Tube</li>
<li>Tube Lines is responsible for the maintenance and renewal of the Jubilee, Northern and Piccadilly lines</li>
<li>Metronet BCV is responsible for the maintenance and renewal of the Bakerloo, Central, Victoria and Waterloo & City lines</li>
<li>Metronet Rail SSL is responsible for the maintenance and renewal of the sub-surface lines - the Circle, District, Hammersmith & City, Metropolitan and East London lines</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Earlier this year, LU announced a major increase in the level of engineering work taking place on the Tube at weekends as part of Transport for London's &pound;10bn Investment Programme. The pace of work has increased to almost double that of last year, a";}
        
        


 