


@{ViewBag.Title = "Cancer Research UK celebrates inspirational Race for Life moments";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2017">2017</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2017/april">April</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Cancer Research UK celebrates inspirational Race for Life moments</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Cancer Research UK celebrates inspirational Race for Life moments</h1>
        <div class="content-page-press-release">
        24 April 2017
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Cancer Research UK's innovative advertising campaign on the Tube network unveiled
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"The campaign really showcases the impact of our new digital advertising screens and our investment in our advertising estate"</div>
        <div class="quote-footer">
            <div class="quotee-name">Chris Reader</div>
            <div class="quotee-job-title">Head of Commercial Media, TfL</div>
        </div>
</div>

 <div class="on-this-page">
<p>Hello London, the media partnership formed by Transport for London (TfL) and Exterion Media, has unveiled Cancer Research UK's innovative advertising campaign on the Tube network to raise awareness and support for this year's Race for Life events around the UK.</p>
<p>Over the next two weeks, as part of Race for Life's 'This Is Beating Cancer' advertising campaign, inspirational moments from Race for Life participants gearing up for this year's events will be shared live on over 140 digital screens across 25 London Underground stations.</p>
<p>Utilising display technology by TINT, images and messages from participants tagging #RaceforLife, #RaceLace, &#64;crukraceforlife and &#64;RaceForLife on social media channels will display on digital advertising screens at key Tube and DLR stations including Bank, Bond Street, Canary Wharf, Cutty Sark DLR, Oxford Circus, Paddington, and Waterloo.</p>
<p>The images will include photos of people wearing one pink lace in their trainers. As part of the 'This Is Beating Cancer' campaign, Cancer Research UK is encouraging people to wear a singular pink lace and share a picture tagging #RaceLace. The lace is a badge of honour for each person, signifying that they are taking part in Race for Life and helping to beat cancer.</p>
<p>The campaign was planned and booked by MediaCom and Kinetic.</p>
<p>Emily Smith, Head of Events Marketing at Cancer Research UK, said: </p>
<p>'Our media partnership with Hello London allows us to share with commuters the inspirational moments of those who are taking part in Race for Life this summer in a new, innovative and engaging way. By showcasing the brilliant people who have already signed up to an event, we want to inspire others to get involved too. Taking part in Race for Life is a great opportunity to make an impact in beating cancer by helping to fund our life-saving research.'</p>
<p>Chris Reader, Head of Commercial Media at Transport for London, said: </p>
<p>'We are delighted that Cancer Research UK has chosen to work with us again for this year's Race for Life. The campaign really showcases the impact of our new digital advertising screens and our investment in our advertising estate. Our new Hello London partnership provides a more flexible and engaging platform than ever before, allowing Cancer Research UK to create a really tailored and engaging campaign.'</p>
<p>Mark Heather, National Sales Director at Exterion Media UK, said: </p>
<p>'This campaign brilliantly showcases the power of Digital Out-of-Home to amplify motivational moments that are shared on social media. Reaching a large audience using our Hello London partnership, this activation is a great example of what can be achieved when the creative is so inspirational &#45; connecting real Race for Life participants with commuters to inspire them to sign up to an event.'</p>
<p>Stuart Thompson, European Director at TINT, said: </p>
<p>'It's been an honour to be involved in such a prestigious project, the level of engagement in Race for Life's social channels lends itself perfectly to Social-Out-Of-Home advertising. When we built TINT it was innovations like this that make tangible differences and excite us most. The Hello London platform was perfectly designed for campaigns of this nature.'</p>
<p>&nbsp;</p>
<hr />
<p>Additional information:</p>
<ul>
    <li>Cancer Research UK's  Race for Life 2017 campaign, 'This Is Beating Cancer' is scheduled to appear on 143 digital screens at the following 25 Tube stations until Sunday 7 May:</li>
</ul>
<ol>
    <li>Angel</li>
    <li>Bank</li>
    <li>Bond Street</li>
    <li>Canary Wharf</li>
    <li>Charing Cross</li>
    <li>Cutty Sark DLR</li>
    <li>Embankment</li>
    <li>Euston</li>
    <li>Green Park</li>
    <li>High Street Kensington</li>
    <li>Holborn</li>
    <li>Kings Cross</li>
    <li>Knightsbridge</li>
    <li>Leicester Square</li>
    <li>Lewisham DLR</li>
    <li>London Bridge</li>
    <li>Marble Arch</li>
    <li>Monument</li>
    <li>Notting Hill Gate</li>
    <li>Oxford Circus</li>
    <li>Paddington</li>
    <li>Piccadilly Circus</li>
    <li>Sloane Square</li>
    <li>South Kensington</li>
    <li>Waterloo</li>
</ol>
<ul>
    <li>An image of the advertising campaign on the Tube can be found here: <a href="https://www.flickr.com/photos/tflpress/albums/72157679603298554">https://www.flickr.com/photos/tflpress/albums/72157679603298554</a></li>
    <li>TINT will pull messages posted on Facebook, Twitter and Instagram. A selection of these, moderated by Hello London, will appear on the digital screens</li>
</ul>
<p>About Race for Life</p>
<ul>
    <li>Cancer Research UK's Race for Life, in partnership with Tesco can be entered at <a href="http://raceforlife.org">raceforlife.org</a> via the hotline on 0300 123 0770</li>
    <li>Race for Life raises money that goes towards beating all 200 types of cancer affecting both men and women</li>
    <li>The entry fee for 5k and 10k is &pound;14.99 for adults and &pound;10 for girls 16 and under. This covers the costs of staging the event series and means that money raised in sponsorship can go to help beat cancer</li>
    <li>Race for Life's Pretty Muddy is open to women and girls 13 and over. The entry fee is &pound;19.99 for adults and &pound;10 for girls 13 &#45; 15years</li>
    <li>The Race for Life full marathon is &pound;39.99 and the half marathon is &pound;29.99</li>
</ul>
<p>About Cancer Research UK</p>
<ul>
    <li>Cancer Research UK is the world's leading cancer charity dedicated to saving lives through research.</li>
    <li>Cancer Research UK's pioneering work into the prevention, diagnosis and treatment of cancer has helped save millions of lives.</li>
    <li>Cancer Research UK receives no government funding for its life-saving research. Every step it makes towards beating cancer relies on every donation made.</li>
    <li>Cancer Research UK has been at the heart of the progress that has already seen survival in the UK double in the last 40 years.</li>
    <li>Today, 2 in 4 people survive their cancer for at least 10 years. Cancer Research UK's ambition is to accelerate progress so that by 2034, 3 in 4 people will survive their cancer for at least 10 years.</li>
    <li>Cancer Research UK supports research into all aspects of cancer through the work of over 4,000 scientists, doctors and nurses.</li>
    <li>Together with its partners and supporters, Cancer Research UK's vision is to bring forward the day when all cancers are cured.</li>
</ul>
<p>About Exterion Media</p>
<ul>
    <li>Exterion Media is Europe's largest privately held Out-of-Home advertising business. With operations in the United Kingdom, Ireland, France, The Netherlands and Spain, Exterion Media works with a global portfolio of partners to engage and deliver audiences on a local and multi-country scale.</li>
    <li>Exterion Media is on a journey to becoming a Digital Media Company, powered by data. Engaging consumers on the move and using wide-ranging insight tools, it delivers valuable, relevant audiences to advertisers. Its diverse inventory formats and environments, both classic and digital, include transport (TfL estate, bus and rail), billboards, street furniture and retail.</li>
    <li>For more information about Exterion Media, visit: <a href="http://www.exterionmedia.com/uk">www.exterionmedia.com/uk</a></li>
</ul>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/march">March</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/april">April</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/december">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2017-April-Cancer Research UK celebrates inspirational Race for Life moments -->

 
 
        
        
            @{ViewBag.Description = "Cancer Research UK teams up with Hello London to celebrate inspirational Race for Life moments";}
        
        


 