


@{ViewBag.Title = "Get on your marks for the return of the London Marathon";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2017">2017</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2017/april">April</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Get on your marks for the return of the London Marathon</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Get on your marks for the return of the London Marathon</h1>
        <div class="content-page-press-release">
        17 April 2017
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Runners, spectators and all Londoners are encouraged to plan their journeys in advance to make the most of marathon day
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Walking, cycling and public transport will be the easiest way to get around and make the most of the day and I encourage anyone travelling around south east and central London to plan their journey in advance"</div>
        <div class="quote-footer">
            <div class="quotee-name">Mike Brown MVO</div>
            <div class="quotee-job-title">London's Transport Commissioner</div>
        </div>
</div>

 <div class="on-this-page">
<p>The world-famous Virgin Money London Marathon will return to the Capital on Sunday 23 April. Transport for London (TfL) is urging runners, spectators, passengers and motorists to plan their journeys in advance to find out where to expect crowds and road closures.</p>
<p>The Virgin Money London Marathon - one of the largest mass-participation events in the world &#45; is expected to be the biggest ever this year. There will be some road closures, with central London particularly affected, as well as several changes to bus services. Many stations are expected to be busier than usual with hundreds of thousands of spectators expected to turn out to support more than 35,000 people, including world class athletes, celebrities and eager runners, raising millions of pounds for charities.</p>
<p>Participants and visitors are advised to check out the dedicated TfL travel information guide at <a href="http://tfl.gov.uk/marathon">tfl.gov.uk/marathon</a> for detailed travel advice. Real-time travel information will also be provided through TfL's social media channels throughout the day at <a href="http://tfl.gov.uk/socialmedia">tfl.gov.uk/socialmedia</a>.</p>
<p>TfL Travel Ambassadors in their magenta uniforms will be out on marathon day at Tube and DLR stations along the 26.2-mile route, providing travel information and assistance to customers.</p>
<p>London's Transport Commissioner, Mike Brown MVO, said: </p>
<p>'The London Marathon is a key moment in the world's sporting calendar &#45; when all eyes will be on the Capital. Thousands of runners and spectators will descend on the city, creating an astonishing atmosphere and demonstrating the best of London. Many TfL employees are taking part in the race, raising money for causes close to their hearts and I wish them, and all the other participants, the very best of luck.</p>
<p>'Walking, cycling and public transport will be the easiest way to get around and make the most of the day and I encourage anyone travelling around south east and central London to plan their journey in advance.'</p>
<p>From 06:00, there will be a number of road closures in south east and central London, from Greenwich Park to St James's Park. Central and City closures will include all approaches to Upper Thames Street, Tower Hill and Victoria Embankment. Rotherhithe Tunnel, Tower, Southwark and Westminster Bridges will also be closed.</p>
<p>Motorists are advised to plan ahead and if possible avoid driving near the affected areas or travel at a different time and allow more time for their journey. There will be a phased reopening of the roads from around midday with all roads expected to be fully reopened by 19:00.</p>
<p>The route will take runners past some of London's most famous and historic landmarks. All visitors are advised to plan their day carefully and to avoid busy areas, in particular Greenwich town centre, Cutty Sark and Tower Bridge. Spectators can choose the best place to watch here: <a href="http://london-marathon.s3.amazonaws.com/vmlm2014/live/uploads/cms_page_media/117/2016_VMLM_Miles_0_to_26_%26_The_Finish.pdf">route map</a>.</p>
<p>TfL's services will continue to keep London moving throughout the event and all runners, race officials and on-duty St John Ambulance volunteers will be able to travel for free from early morning until 18:30 on London Underground, London Buses, London Overground, DLR and Tram by showing their race number, officials' course pass or tabard.</p>
<p>&nbsp;</p>
<hr />
<p>Notes to Editors:</p>
<ul>
    <li>For detailed travel advice, including exact road closures, please visit <a href="http://tfl.gov.uk/marathon">tfl.gov.uk/marathon</a></li>
    <li>The course of the 2017 Virgin Money London Marathon is 26.2 miles long, nearly four miles further than running the entire length of the Jubilee line (22.5 miles)</li>
    <li>Stations located close to the London Marathon Route include:</li>
    <li>Cutty Sark DLR (between mile 6+7)</li>
    <li>Canada Water (mile 9)</li>
    <li>London Bridge (mile 12)</li>
    <li>Tower Hill/ Tower Gateway (mile 13)</li>
    <li>Shadwell DLR (between mile 13+14 and at 22)</li>
    <li>Canary Wharf (between mile 14+15)</li>
</ul>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/march">March</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/april">April</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/december">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2017-April-Get on your marks for the return of the London Marathon -->

 
 
        
        
            @{ViewBag.Description = "Get on your marks for the return of the Virgin Money London Marathon";}
        
        


 