


@{ViewBag.Title = "GLA - Mayor plans to introduce ULEZ in April 2019";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2017">2017</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2017/april">April</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">GLA - Mayor plans to introduce ULEZ in April 2019</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>GLA - Mayor plans to introduce ULEZ in April 2019</h1>
        <div class="content-page-press-release">
        04 April 2017
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Plans to introduce Ultra Low Emission Zone to tackle London's lethal air
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"These measures will help improve the air that millions of Londoners breathe
"</div>
        <div class="quote-footer">
            <div class="quotee-name">Sadiq Khan </div>
            <div class="quotee-job-title">The Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<p><span style="text-decoration: underline;"><em><strong>This press release, issued by the Mayor of London, was first published <a href="https://www.london.gov.uk/press-releases/mayoral/mayor-plans-to-introduce-ulez-in-april-2019">here</a></strong></em></span>&nbsp;</p>
<ul>
    <li>April 2019: Introduction for central London ULEZ</li>
    <li>2020: Expanding ULEZ London wide for buses, coaches and lorries</li>
    <li>2021: Expanding ULEZ up to North &amp; South Circular for cars, vans,  minibuses and motorbikes</li>
</ul>
<p>The most-polluting vehicles will have to pay a daily charge to enter central London from 8 April 2019 under bold proposals announced today by the Mayor of London to help combat the capital's toxic air crisis.</p>
<p>Sadiq Khan is proposing to expand this charge, the Ultra Low Emission Zone (ULEZ), across Greater London for heavy diesel vehicles, including buses, coaches and lorries, in 2020, and up to the North and South Circular roads for cars and vans in 2021.</p>
<p>The Mayor is committed to taking ambitious action to protect Londoners from the damaging health impacts of air pollution. He has more than doubled funding spent on tackling air quality to &pound;875 million over the next five years. Today he set out his vision of tackling toxic vehicle emissions across Greater London.</p>
<p>The Mayor has already confirmed the &pound;10 T-Charge, which will start in October this year. He is now proposing, following a public consultation he is launching today, that this will be replaced by the introduction of the world's first Ultra Low Emission Zone (ULEZ) in central London from Monday 8th April 2019. The ULEZ in 2019 will cover the same area as the existing congestion charging zone.</p>
<p>Petrol vehicles that don't meet Euro 4 standards and diesel vehicles that do not meet Euro 6 standards will have to pay a ULEZ daily fee (&pound;12.50 for cars, vans and motorbikes; &pound;100 for buses, coaches and HGVs) to drive in the zone, 24 hours a day, 365 days a year. Approximately petrol cars more than 13 years old in 2019, and diesel cars more than 4 years old in 2019, will not meet the new standards. The total cost, with the congestion charge added (during the times of day it is applicable), for motorists with non-compliant cars will be &pound;24 a day.</p>
<p>The ULEZ will apply to all vehicle types, except black taxis.  It is estimated that introducing ULEZ in central London will result in nearly a 50 per cent reduction in road transport NOx emissions in 2020.</p>
<p>Once the Mayor has finished consulting on the current ULEZ proposals in June, he wants to start consulting on actions that go even further. This would include expanding the ULEZ across a larger area, to cover nearly all of Greater London. This expanded zone would apply to heavy diesel vehicles such as buses, coaches and lorries and it would be implemented in 2020.</p>
<p>Following that, the Mayor wants to go even further still and consult Londoners on extending the ULEZ area applying to light vehicles, such as cars, vans, minibuses and motorcycles up to the North / South Circular road. This would be implemented in 2021.</p>
<p>These timescales would provide Londoners, motorists coming into the capital from elsewhere and businesses which will be affected, sufficient time to take the necessary steps to prepare for these new standards. They also reflect the minimum amount of time needed for TfL to consult on and implement such technically complex schemes over such large parts of London.</p>
<p>The Mayor of London, Sadiq Khan said: </p>
<p>'The air in London is lethal and I will not stand by and do nothing.</p>
<p>'Today I'm announcing bold proposals which are critically needed to safeguard Londoners from our air quality health crisis.</p>
<p>'I am introducing a new T-Charge this October and subject to consultation, I want to introduce the Ultra Low Emission Zone in central London in April 2019. This alone will mean the capital has the toughest emission standard of any world city.</p>
<p>'But the scale of our air quality challenge is so big that I need to go further. I want to expand the ULEZ from 2020 for heavy vehicles such as buses, coaches and lorries so that all of London will benefit from cleaner air. Then from 2021, I want to expand it up to the North and South Circular roads for light vehicles, including cars and vans. These measures will help improve the air that millions of Londoners breathe.</p>
<p>'I want to announce my intention to consult on these proposals in good time so that business and those affected by new charges will have time to make changes they need to adapt to our low emission requirements.</p>
<p>'Now I urge the Government to step up and match my ambition to transform the appalling air we breathe. Ministers need to deliver a national vehicle scrappage fund, reform fiscal incentives like vehicle excise duty and pass a powerful new Clean Air Act to Act end the toxic smog in London once and for all.'</p>
<p>Each scheme will be subject to consultation and the Mayor is committed to listening to Londoners' views. The consultation on the Mayor's proposal on bringing forward the start date of the central London ULEZ will launch on 4 April 2017 and run until 25 June 2017. Other proposals will be consulted on later this year.</p>
<p>The Mayor is working with TfL to ensure London's public transport fleets lead the way in low emission technology. TfL will no longer procure double deck pure diesel buses from 2018 and instead only buy hybrid, electric or hydrogen buses. All new taxis will need to be zero emission capable from next year and new private hire vehicles will need to follow suit from 2020.</p>
<p>The Mayor announced his plans at the Museum of London this morning where objects from the 1952 Great Smog were on display.</p>
<p>Alex Werner, Head of History Collections at the Museum of London, said: </p>
<p>'We know from the Great Smog of 1952 that London has a history of polluted air and the smog eventually led to Government legislation, introducing the Clean Air act of 1956 bringing 'smokeless zones' to London and other British cities.  It's an ongoing issue, especially for people living and working in Central London, and a topic that we'll be exploring this year as part of our City Now City Future season.'</p>
<p>Cllr Julian Bell, London Councils' executive member for transport and environment, said: </p>
<p>'London Councils supports measures to continue to address poor air quality in the capital, which we know is a major concern for many Londoners, and welcomes the Mayor's pledge to listen to the consultation responses received. It is vital for national, regional and local governments to work together, alongside our residents, to help clean up our city's filthy air and improve health and quality of life.'</p>
<p>Jonathan Grigg, Professor of Paediatric and Environmental Medicine, Queen Mary University of London said: </p>
<p>'The Mayor of London is to be congratulated in bringing forward the date of the ULEZ. Reducing diesel emissions in the congestion charge zone will reduce exposure to toxic soot particles and gases. To maximise the effectiveness of this initiative, the Government must now act to remove the current toxic fleet of diesel cars, vans and buses from all our roads'</p>
<p>&nbsp;</p>
<hr />
<p>Notes to Editors:</p>
<p>&nbsp;</p>
<ol>
    <li>The public consultation launches on 4th April for more info visit <a href="http://www.tfl.gov.uk/airquality-consultation">www.tfl.gov.uk/airquality-consultation</a></li>
    <li>The T-charge will begin in October 2017. It is the toughest enforced emission standard of any world city that will run continuously during congestion charging hours until the Ultra Low Emission Zone is delivered</li>
    <li>The ULEZ will replace the T-charge. There will be a &quot;sunset period&quot; when the charges won't apply for residents of the zone, starting in April 2019 and running until April 2022, in recognition that residents with vehicles are unable to avoid driving into the zone. There will also be a sunset period for vehicles with a disabled or disabled passenger tax class (i.e. they have been especially adapted for use by a disabled person) from April 2019 until September 2023, in recognition of the limited alternatives for these vehicles, which may have had substantial modifications. The total sunset period for these vehicles will therefore be 4 years and 5 months. For more information on ULEZ visit <a href="https://tfl.gov.uk/modes/driving/ultra-low-emission-zone">https://tfl.gov.uk/modes/driving/ultra-low-emission-zone</a></li>
    <li>The ULEZ will require cars, motorcycles, vans, minibuses, buses, coaches and heavy goods vehicles to meet minimum exhaust emissions standards. A vehicle that does not meet the ULEZ standard would still be able to drive in central London but would be required to pay a daily charge to do so. The charges for non-compliant heavy vehicles including HGVs, buses and coaches would be &pound;100 per day. Light vehicles for non-compliant including cars, motorcycles, vans and minibuses would pay a daily charge of &pound;12.50. ULEZ would apply 24 hours a day, 7 days a week. Motorists can pay the charge online or over the phone, there is also an option to sign-up for automatic billing.</li>
    <li>As further evidence that London is open and leading global efforts to tackle climate change, the Greater London Authority is today hosting the second annual C40 Financing Sustainable Cities Forum at London City Hall. The event &#45; hosted with Citi Foundation and World Resources Institute &#45; brings together executives from financial institutions, the private sector and more than a dozen city governments to secure financing for green policies and sustainable infrastructure in cities around the world. Full details and a live stream of the event can be found <a href="http://www.c40.org/events/c40-financing-sustainable-cities-forum-2017">here</a>.</li>
</ol>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/march">March</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/april">April</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/december">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2017-April-GLA - Mayor plans to introduce ULEZ in April 2019 -->

 
 
        
        
            @{ViewBag.Description = "Mayor plans to introduce Ultra Low Emission Zone in April 2019 to tackle London’s lethal air";}
        
        


 