


@{ViewBag.Title = "Make the most of spring with TfL's free guided walks";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2017">2017</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2017/april">April</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Make the most of spring with TfL’s free guided walks</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Make the most of spring with TfL’s free guided walks</h1>
        <div class="content-page-press-release">
        25 April 2017
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        40 free guided walks in London on Saturday 20 and Sunday 21 May
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Walking is a wonderful way to explore London and these tours offer a great opportunity to see our Capital in a new way"</div>
        <div class="quote-footer">
            <div class="quotee-name">Will Norman</div>
            <div class="quotee-job-title">Walking and Cycling Commissioner</div>
        </div>
</div>

 <div class="on-this-page">
<ul>
    <li>New walks for 2017 include 'The Coffee House Tour' and 'The Great Fire of London'</li>
    <li>Walking for just 10 minutes twice a day improves health and wellbeing</li>
</ul>
<p>Explore London's green spaces, famous landmarks, and secret corners by booking a place on one of Transport for London's (TfL's) free 'Spring into Summer' guided walks.</p>
<p>On Saturday 20 and Sunday 21 May, TfL and Walk London will be running 40 free guided walks, covering a number of highlights across the Capital. There will be something to suit all ages and abilities, with levels ranging from challenging treks to short strolls suitable for families.</p>
<p>Each walk is led by an experienced Walk London guide, and it is quick and easy to book a place by visiting <a href="http://walklondon.org.uk">walklondon.org.uk</a>.</p>
<p>New walks for 2017 include:</p>
<ul>
    <li>'The Coffee House Tour' (Sunday 21 at 14:30) &#45; led by broadcaster and acclaimed author Dr. Matthew Green, this walk tours London's original coffee houses and discovers how coffee transformed the city and inspired ideas that made the modern world. This tour includes free shots of 17th-century-style coffee.</li>
    <li>'The Great Fire of London' (Sunday 21 at 13:30) &#45; a gentle stroll exploring the story of the Great Fire of London, starting at St Paul's Cathedral and walking along the river bank to the Monument. This walk is aimed at children and includes a worksheet with the chance to win a prize.</li>
</ul>
<p>These new walks will join other much-loved 'Spring into Summer' walks, spread across the weekend and covering a variety of different themes, such as:</p>
<ul>
    <li>'Animal I-Spy in the City' (Saturday 20 at 10:30) &#45; a family-friendly walk, exploring the city and discovering where its animals are hiding. This walk is perfect for children between the ages of 4 and 7.</li>
    <li>'Scenes on Screen: Film and TV in London' (Saturday 20 at 11:00 and 14:00) &#45; a short-distance walk which covers locations used in all sorts of entertainment, from cult horror to reality TV, and offers insights into some of London's famous former residents.</li>
    <li>'The Spooky City: Ghosts, Body Snatchers and Public Executions (Sunday 21 at 11:00 and 14:00) &#45; a walk exploring London's sinister secrets, visiting the Old Bailey, the site of the former Newgate Prison, and many other creepy locations.</li>
</ul>
<p>Will Norman, Walking and Cycling Commissioner, said: </p>
<p>'Walking is a wonderful way to explore London and these tours offer a great opportunity to see our Capital in a new way. Whether it's a stroll through history, a quest to find animals or a tour of your favourite TV locations, there are walks here that will interest everyone.'</p>
<p>Ben Plowden, Director of Surface Strategy and Planning at TfL, said: </p>
<p>'Our walking weekends have been growing in popularity every year, which shows that Londoners are really starting to embrace walking. We hope that our 40 free guided walks will encourage even more people to walk, and to experience everything this wonderful city has to offer.'</p>
<p>Londoners who can are advised to walk regularly as part of their daily routine. Just two 10-minute walks a day improves health and wellbeing, and reduces the risk of heart disease, type 2 diabetes, and certain cancers. You can download the One You Active 10 walking app to ensure that you are getting the activity you need to stay healthy.</p>
<p>TfL sponsors three walking weekends each year to help people enjoy the city's best walking routes and motivate people to walk more often: 'Winter Wanders' in February, 'Spring into Summer' in May, and 'Autumn Ambles' in September.</p>
<p>For more information about walking in the Capital and to download TfL's Walking Tube map, visit <a href="http://tfl.gov.uk/walking">tfl.gov.uk/walking</a></p>
<p>&nbsp;</p>
<hr />
<p>Notes to Editors:</p>
<ul>
    <li>All walks are accompanied by a trained Walk Leader and experienced Back Marker, and start and finish within easy reach of public transport.</li>
    <li>Nearly 50,000 people have attended Walk London's walking weekends since November 2007.</li>
    <li>The Walk London network is made up of seven top walking routes that cover more than 390 miles / 628 km and pass through every borough. Maps and guides are available to download at <a href="http://tfl.gov.uk/walking">tfl.gov.uk/walking</a></li>
    <li>The seven top walking routes in London cover long distances, but are designed to be completed in sections that are accessible by public transport. The routes are:</li>
</ul>
<ul>
    <li>The LOOP Walk (152 miles / 245 km)</li>
    <li>The Capital Ring Walk (78 miles / 126 km)</li>
    <li>The Green Chain Walk (50 miles / 80km)</li>
    <li>The Lea Valley Walk (18 miles / 29km)</li>
    <li>The Thames Path Walk (40 miles / 64 km)</li>
    <li>The Jubilee Walkway (15 miles / 24 km)</li>
    <li>The Jubilee Greenway Walk (37 miles / 60km)</li>
</ul>
<ul>
    <li>The One You Active 10 walking app is available free on iPhone and Android: <a href="https://www.nhs.uk/oneyou/active10/home#y898eeYcXpUzeroi.97">https://www.nhs.uk/oneyou/active10/home#y898eeYcXpUzeroi.97</a></li>
</ul>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/march">March</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/april">April</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/december">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2017-April-Make the most of spring with TfL’s free guided walks -->

 
 
        
        
            @{ViewBag.Description = "Make the most of spring in London with TfL’s free guided walks";}
        
        


 