


@{ViewBag.Title = "New roads targeted in updated Safer Junctions programme";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2017">2017</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2017/april">April</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">New roads targeted in updated Safer Junctions programme</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>New roads targeted in updated Safer Junctions programme</h1>
        <div class="content-page-press-release">
        19 April 2017
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        London's Walking and Cycling Commissioner, Will Norman, today named the 73 junctions in the Capital with the worst safety records as he unveiled a new approach to delivering improvements for pedestrians and cyclists.
        
    </div>



 <div class="on-this-page">
<p>Transport for London's (TfL's) new analysis uses the last three years of casualty figures on the TfL road network to identify the junctions with the poorest safety records so that they can be targeted for work. This analysis will now continue each year as part of a new approach that will see work continually monitored and the junctions with the most incidents prioritised.</p>

<p>The list of 73 junctions is now being considered in detail to assess what can be done to make them safer. The current list includes some that have had work recently completed, some have work planned, and others require new safety studies.</p>

<ul>
	<li>21 junctions have had significant improvements made within the last three years. These will now be monitored to ensure that the casualty levels significantly reduce and that lessons are learnt to improve the future design and construction of projects.</li>
	<li>33 junctions have improvements planned within TfL's current business plan. This includes Lambeth Bridge North and Waterloo IMAX which will be consulted on this summer. Design work on other junctions within the list of 73 continues at pace, including Jamaica Road/Lower Road/Rotherhithe Tunnel, which will be part of Cycle Superhighway 4, and Highbury Corner, where construction work is due to start next year.</li>
	<li>19 junctions will undergo new safety studies to identify possible solutions and safety improvements. This includes locations such as Holloway Road and Parkhurst Road, Clapham Road and Union Road and Hyde Park Corner and Park Lane.</li>
</ul>

<p>Walking and Cycling Commissioner, Will Norman, said: `It's vital that we target the most dangerous junctions across London if we are to improve our roads for pedestrians and cyclists. That's why I asked TfL to identify these junctions and why we're now analysing them in detail to ensure that we are doing all we can to make them safer. This work will allow us to drive forward improvements and be repeated each year to ensure that our work is making a real difference to the Capital's roads.'</p>

<p>Ben Plowden, TfL's Director of Surface Strategy and Planning, said: `We're committed to improving road safety in the Capital and we will only achieve this and encourage more people to walk and cycle if we address safety at many of our road junctions. This new analysis will allow us to target our efforts where it is most needed, and will allow us to closely monitor the effectiveness of what we deliver to ensure we're always learning from our projects.'</p>

<p>German Dector-Vega, Director for Sustrans in London, said: `We welcome this continuing vital work to make the Capital's most dangerous junctions safer for everyone. It is critical that we see rapid progress to make walking and cycling easier and safer if we want London to be a healthier place.'</p>

<p>Improving the safety of the Capital's junctions is a central part of the Mayor's &pound;2.1bn Healthy Streets approach. This aims to create more attractive, accessible and people-friendly streets, where everybody can enjoy spending time and being physically active by making walking and cycling easier and safer across London.</p>

<p>TfL's new 'Vision Zero' approach to reducing road danger is part of the Mayor's forthcoming Transport Strategy. This means vigorously enforcing traffic law, putting safety at the core of road engineering projects and working to discourage dangerous behaviour on the roads.</p>

<p>ENDS<br />
Notes to Editors</p>

<p>The 73 junctions saw the highest number of collisions involving pedestrians, cyclists and motorcyclists between 2012 and 2015.</p>

<p>The full list of 73 junctions on TfL's road network, which have higher than average collision rates:</p>

<ul>
	<li>21 junctions - that have had significant improvement completed within the last three years</li>
</ul>

<div class="table-container"><table>
	<thead>
		<tr>
			<th colspan="1" id="table_heading_0" rowspan="1"><strong>Junction</strong></th>
			<th colspan="1" id="table_heading_1" rowspan="1"><strong>Borough</strong></th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td headers="table_heading_0">Upper Thames Street/Queen Street Place /Queen Street</td>
			<td headers="table_heading_1">City Of London</td>
		</tr>
		<tr>
			<td headers="table_heading_0">Ludgate Circus</td>
			<td headers="table_heading_1">City Of London</td>
		</tr>
		<tr>
			<td headers="table_heading_0">Bishopsgate/Middlesex Street</td>
			<td headers="table_heading_1">City Of London</td>
		</tr>
		<tr>
			<td headers="table_heading_0">Stamford Hill/Manor Road</td>
			<td headers="table_heading_1">Hackney</td>
		</tr>
		<tr>
			<td headers="table_heading_0">High Road (N15)/West Green Road/Broad Lane</td>
			<td headers="table_heading_1">Haringey</td>
		</tr>
		<tr>
			<td headers="table_heading_0">Bath Road/The Parkway</td>
			<td headers="table_heading_1">Hounslow</td>
		</tr>
		<tr>
			<td headers="table_heading_0">Camberwell New Road/Brixton Road</td>
			<td headers="table_heading_1">Lambeth</td>
		</tr>
		<tr>
			<td headers="table_heading_0">Stockwell Road/Clapham Road/South Lambeth Road</td>
			<td headers="table_heading_1">Lambeth</td>
		</tr>
		<tr>
			<td headers="table_heading_0">Loampit Vale/Molesworth Street</td>
			<td headers="table_heading_1">Lewisham</td>
		</tr>
		<tr>
			<td headers="table_heading_0">St George's Circus</td>
			<td headers="table_heading_1">Southwark</td>
		</tr>
		<tr>
			<td headers="table_heading_0">Elephant and Castle (North roundabout)</td>
			<td headers="table_heading_1">Southwark</td>
		</tr>
		<tr>
			<td headers="table_heading_0">Whitechapel Road/Fieldgate Street</td>
			<td headers="table_heading_1">Tower Hamlets</td>
		</tr>
		<tr>
			<td headers="table_heading_0">Whitechapel Road/Cambridge Heath Road/Sidney Street</td>
			<td headers="table_heading_1">Tower Hamlets</td>
		</tr>
		<tr>
			<td headers="table_heading_0">Mile End Road/Cleveland Way</td>
			<td headers="table_heading_1">Tower Hamlets</td>
		</tr>
		<tr>
			<td headers="table_heading_0">Mile End Road/Globe Road</td>
			<td headers="table_heading_1">Tower Hamlets</td>
		</tr>
		<tr>
			<td headers="table_heading_0">Mile End Road/Burdett Road/Grove Road</td>
			<td headers="table_heading_1">Tower Hamlets</td>
		</tr>
		<tr>
			<td headers="table_heading_0">Bow Road/Campbell Road</td>
			<td headers="table_heading_1">Tower Hamlets</td>
		</tr>
		<tr>
			<td headers="table_heading_0">Whitechapel High Street/Commercial Street/Leman Street</td>
			<td headers="table_heading_1">Tower Hamlets</td>
		</tr>
		<tr>
			<td headers="table_heading_0">Victoria Embankment/Westminster Bridge</td>
			<td headers="table_heading_1">Westminster</td>
		</tr>
		<tr>
			<td headers="table_heading_0">Victoria Embankment/Northumberland Avenue</td>
			<td headers="table_heading_1">Westminster</td>
		</tr>
		<tr>
			<td headers="table_heading_0">Grosvenor Road/Millbank/Vauxhall Bridge</td>
			<td headers="table_heading_1">Westminster</td>
		</tr>
	</tbody>
</table></div>

<ul>
	<li>33 junctions that have planned improvement plans within TfL's business plan and which will be designed to address safety concerns;</li>
</ul>

<div class="table-container"><table>
	<thead>
		<tr>
			<th colspan="1" id="table_heading_0" rowspan="1"><strong>Junction</strong></th>
			<th colspan="1" id="table_heading_1" rowspan="1"><strong>Borough</strong></th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td headers="table_heading_0" style="vertical-align:top">Euston Road/Judd Street/MIdland Road</td>
			<td headers="table_heading_1" style="vertical-align:top">Camden</td>
		</tr>
		<tr>
			<td headers="table_heading_0">Camden Street/Camden Road</td>
			<td headers="table_heading_1">Camden</td>
		</tr>
		<tr>
			<td headers="table_heading_0">Euston Road/Eversholt Street/Upper Woburn Place</td>
			<td headers="table_heading_1">Camden</td>
		</tr>
		<tr>
			<td headers="table_heading_0">Cannon Street/King William Street</td>
			<td headers="table_heading_1">City Of London</td>
		</tr>
		<tr>
			<td headers="table_heading_0">Bishopsgate/Camomile Street/Wormwood Street</td>
			<td headers="table_heading_1">City Of London</td>
		</tr>
		<tr>
			<td headers="table_heading_0">Gracechurch Street/Fenchurch Street/Lombard Street</td>
			<td headers="table_heading_1">City Of London</td>
		</tr>
		<tr>
			<td headers="table_heading_0">Farringdon Street/Snow Hill</td>
			<td headers="table_heading_1">City Of London</td>
		</tr>
		<tr>
			<td headers="table_heading_0">Lombard Roundabout</td>
			<td headers="table_heading_1">Croydon</td>
		</tr>
		<tr>
			<td headers="table_heading_0">Seven Sisters Road/Woodberry Grove</td>
			<td headers="table_heading_1">Hackney</td>
		</tr>
		<tr>
			<td headers="table_heading_0">Seven Sisters Road/Green Lanes</td>
			<td headers="table_heading_1">Hackney</td>
		</tr>
		<tr>
			<td headers="table_heading_0">Great Eastern Street/High Street Shoreditch/Commercial Street</td>
			<td headers="table_heading_1">Hackney</td>
		</tr>
		<tr>
			<td headers="table_heading_0">Kingsland Road/Old Street</td>
			<td headers="table_heading_1">Hackney</td>
		</tr>
		<tr>
			<td headers="table_heading_0">West Cross Route/Holland Road/Holland Park Avenue/Uxbridge Road</td>
			<td headers="table_heading_1">Hammersmith &amp; Fulham</td>
		</tr>
		<tr>
			<td headers="table_heading_0">Farringdon Road/Clerkenwell Road</td>
			<td headers="table_heading_1">Islington</td>
		</tr>
		<tr>
			<td headers="table_heading_0">Highbury Corner</td>
			<td headers="table_heading_1">Islington</td>
		</tr>
		<tr>
			<td headers="table_heading_0">Holloway Road/Tollington Road/Camden Road</td>
			<td headers="table_heading_1">Islington</td>
		</tr>
		<tr>
			<td headers="table_heading_0">Holloway Road/Drayton Park/Palmer Place</td>
			<td headers="table_heading_1">Islington</td>
		</tr>
		<tr>
			<td headers="table_heading_0">Chelsea Embankment/Cheyne Walk/Battersea Bridge Street</td>
			<td headers="table_heading_1">Kensington &amp; Chelsea</td>
		</tr>
		<tr>
			<td headers="table_heading_0">Chelsea Embankment/Oakley Street</td>
			<td headers="table_heading_1">Kensington &amp; Chelsea</td>
		</tr>
		<tr>
			<td headers="table_heading_0">Kennington Park Road/Braganza Street</td>
			<td headers="table_heading_1">Lambeth</td>
		</tr>
		<tr>
			<td headers="table_heading_0">Camberwell New Road/Flodden Road</td>
			<td headers="table_heading_1">Lambeth</td>
		</tr>
		<tr>
			<td headers="table_heading_0">Stamford Street/Waterloo Road roundabout</td>
			<td headers="table_heading_1">Lambeth</td>
		</tr>
		<tr>
			<td headers="table_heading_0">Charlie Browns roundabout</td>
			<td headers="table_heading_1">Redbridge</td>
		</tr>
		<tr>
			<td headers="table_heading_0">Rotherhithe Tunnel Jamaica Road/Lower Road</td>
			<td headers="table_heading_1">Southwark</td>
		</tr>
		<tr>
			<td headers="table_heading_0">Camberwell Green</td>
			<td headers="table_heading_1">Southwark</td>
		</tr>
		<tr>
			<td headers="table_heading_0">New Kent Road/Harper Road</td>
			<td headers="table_heading_1">Southwark</td>
		</tr>
		<tr>
			<td headers="table_heading_0">Commercial Road/Jubilee Street/Sutton Street</td>
			<td headers="table_heading_1">Tower Hamlets</td>
		</tr>
		<tr>
			<td headers="table_heading_0">Tooting Broadway</td>
			<td headers="table_heading_1">Wandsworth</td>
		</tr>
		<tr>
			<td headers="table_heading_0">Upper Richmond Road/Putney Hill/Putney High Street</td>
			<td headers="table_heading_1">Wandsworth</td>
		</tr>
		<tr>
			<td headers="table_heading_0">York Road roundabout</td>
			<td headers="table_heading_1">Wandsworth</td>
		</tr>
		<tr>
			<td headers="table_heading_0">Marylebone Road/ Baker Street</td>
			<td headers="table_heading_1">Westminster</td>
		</tr>
		<tr>
			<td headers="table_heading_0">Millbank/Lambeth Bridge/Horseferry Road</td>
			<td headers="table_heading_1">Westminster</td>
		</tr>
		<tr>
			<td headers="table_heading_0">Edgware Road/George Street/Kendal Street</td>
			<td headers="table_heading_1">Westminster</td>
		</tr>
	</tbody>
</table></div>

<ul>
	<li>19 junctions, that TfL will undergo new safety studies on:</li>
</ul>

<div class="table-container"><table>
	<thead>
		<tr>
			<th colspan="1" id="table_heading_0" rowspan="1"><strong>Junction</strong></th>
			<th colspan="1" id="table_heading_1" rowspan="1"><strong>Borough</strong></th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td headers="table_heading_0">Britannia Junction</td>
			<td headers="table_heading_1">Camden</td>
		</tr>
		<tr>
			<td headers="table_heading_0">King William St/Monument Street/Arthur Street</td>
			<td headers="table_heading_1">City Of London</td>
		</tr>
		<tr>
			<td headers="table_heading_0">Kingsland Road/Nuttall Street/Whiston Road</td>
			<td headers="table_heading_1">Hackney</td>
		</tr>
		<tr>
			<td headers="table_heading_0">Dalston Junction</td>
			<td headers="table_heading_1">Hackney</td>
		</tr>
		<tr>
			<td headers="table_heading_0">High Road (N15)/Seven Sisters Road</td>
			<td headers="table_heading_1">Haringey</td>
		</tr>
		<tr>
			<td headers="table_heading_0">Hogarth Roundabout</td>
			<td headers="table_heading_1">Hounslow</td>
		</tr>
		<tr>
			<td headers="table_heading_0">Holloway Road/Parkhurst Road/Seven Sisters Road</td>
			<td headers="table_heading_1">Islington</td>
		</tr>
		<tr>
			<td headers="table_heading_0">Angel Junction</td>
			<td headers="table_heading_1">Islington</td>
		</tr>
		<tr>
			<td headers="table_heading_0">Chelsea Embankment/Grosvenor Road/Chelsea Bridge Road</td>
			<td headers="table_heading_1">Kensington &amp; Chelsea</td>
		</tr>
		<tr>
			<td headers="table_heading_0">Brixton Hill/Acre Lane/Coldharbour Lane</td>
			<td headers="table_heading_1">Lambeth</td>
		</tr>
		<tr>
			<td headers="table_heading_0">Brixton Road/Atlantic Road</td>
			<td headers="table_heading_1">Lambeth</td>
		</tr>
		<tr>
			<td headers="table_heading_0">Brixton Road/Stockwell Road/Gresham Road</td>
			<td headers="table_heading_1">Lambeth</td>
		</tr>
		<tr>
			<td headers="table_heading_0">Clapham Road/Union Road</td>
			<td headers="table_heading_1">Lambeth</td>
		</tr>
		<tr>
			<td headers="table_heading_0">Elephant &amp; Castle (Southern roundabout)</td>
			<td headers="table_heading_1">Southwark</td>
		</tr>
		<tr>
			<td headers="table_heading_0">East India Dock Rd/Canton Street/Birchfield Street</td>
			<td headers="table_heading_1">Tower Hamlets</td>
		</tr>
		<tr>
			<td headers="table_heading_0">Tooting Bec</td>
			<td headers="table_heading_1">Wandsworth</td>
		</tr>
		<tr>
			<td headers="table_heading_0">Hyde Park Corner</td>
			<td headers="table_heading_1">Westminster</td>
		</tr>
		<tr>
			<td headers="table_heading_0">Knightsbridge/Brompton Road/Sloane Street</td>
			<td headers="table_heading_1">Westminster</td>
		</tr>
		<tr>
			<td headers="table_heading_0">Edgware Road/Harrow Road</td>
			<td headers="table_heading_1">Westminster</td>
		</tr>
	</tbody>
</table></div>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/march">March</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/april">April</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/december">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2017-April-New roads targeted in updated Safer Junctions programme -->

 
 
        
        
            @{ViewBag.Description = "New roads targeted in updated Safer Junctions programme";}
        
        


 