


@{ViewBag.Title = "TfL confirms changes to bus routes in central London";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2017">2017</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2017/april">April</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">TfL confirms changes to bus routes in central London</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>TfL confirms changes to bus routes in central London</h1>
        <div class="content-page-press-release">
        20 April 2017
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Changes will reduce congestion and improve reliability
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"As our city changes around us, we need to ensure the bus network changes too. Making sure we have the right level of buses in central London is key to keeping our city moving"</div>
        <div class="quote-footer">
            <div class="quotee-name">Leon Daniels</div>
            <div class="quotee-job-title">Director of Surface Transport, TfL</div>
        </div>
</div>

 <div class="on-this-page">
<ul>
    <li>40 per cent fewer buses will run on Oxford Street, supporting Europe's busiest shopping district</li>
</ul>
<p >The reliability of the bus network in central London is set to be improved, cutting congestion and helping tackle air pollution, as Transport for London (TfL) today confirmed that it will implement a range of changes to bus routes.</p>
<p>The changes to 23 routes in central London follow a wide-ranging consultation and will ensure services are more closely matched to changing demand.  Bus demand on Oxford Street is shifting, as people choose different travel options, including cycling and walking. The opening of the Elizabeth line in late 2018 will further transform how people travel across central London.</p>
<p>Buses will be re-routed away from Oxford Street, moving the termini for some routes to Park Lane, Trafalgar Square and Tottenham Court Road, while extending other routes to maintain connections.  TfL will begin to implement the changes in the summer. Once all of the changes are in place, there will be 40 per cent fewer buses running on Oxford Street, improving air quality at the heart of Europe's busiest shopping district.</p>
<p>The Mayor of London, Sadiq Khan, is working closely with the City of Westminster to make Oxford Street a better place to live, work and visit, and a further consultation on plans to transform Oxford Street will launch later this month.</p>
<p>Leon Daniels, Transport for London's Director of Surface Transport, said: </p>
<p>'As our city changes around us, we need to ensure the bus network changes too.  Making sure we have the right level of buses in central London is key to keeping our city moving.'</p>
<p>Jace Tyrrell, CEO of New West End Company, said: </p>
<p>'We welcome Transport for London's proposal to reduce the number of buses across the West End, which will greatly help reduce congestion and improve air quality in London's retail heartland.</p>
<p>'Ahead of the arrival of the Elizabeth line in 2018, which is expected to bring 60 million visits to the West End annually, it is essential that there is genuine traffic reduction to ensure the West End retains its position as a world class retail destination.'</p>
<p>London's bus network is one of the most frequent and extensive in the world. It also represents very good value for money, with a single fare frozen at &pound;1.50 until 2020 and with the Hopper fare meaning passengers are able to change onto another bus for free within an hour. Following the bus route changes a small number of customers will need to change buses to complete their journeys, but the new Hopper fare means that the second journey will be free.</p>
<p>The move comes as London travel patterns change. A faster, more reliable Tube, with the Victoria and Northern lines now among the highest frequency services in Europe with a train every two minutes, has taken pressure off buses. The Night Tube is also providing new travel options to and from the West End, and the opening of the Elizabeth line in late 2018 is significant as it will transform how people travel across central London.  When fully open, the Elizabeth line will boost rail capacity in central London by 10 per cent and provide a key new east-west link across the Capital, with 24 trains per hour in each direction serving step-free stations at the heart of London.  Many people will choose to use these services rather than taking a bus.</p>
<p>The Mayor and TfL recently outlined bold plans to encourage more people to use the Capital's bus network. The new and co-ordinated approach will see steps taken to make bus travel even more attractive for Londoners. These include:</p>
<ul>
    <li>Matching bus capacity with demand by reducing the underused services in central London and reallocating them to where they are needed</li>
    <li>Investing &pound;20m per year in bus priority measures. TfL will deliver around 170 schemes, many in outer London, saving passengers time on some of the most congested routes</li>
    <li>Reviewing traffic signal timings at 1,200 junctions and at 200 sites to improve bus speeds</li>
    <li>Ensuring TfL make 95 per cent of bus stops accessible to passengers</li>
    <li>Improving customer service on the bus network by giving all 24,500 bus drivers, bus controllers and other operational staff new training in how to assist customers.</li>
    <li>Overhauling information provided to passengers to make it easier to understand where bus services go and how frequent they are, including new signage on the outside of buses</li>
    <li>Continuing the transformation of the bus fleet into a low-polluting means of transport with new 'Low Emission Bus Zones' introduced, phasing out our worst polluting diesel buses and replacing or modifying all buses to meet the toughest air quality standards by 2020.</li>
</ul>
<p>TfL is also taking steps to reduce congestion on London's roads, with the Mayor announcing a series of measures late last year including new and improved strategic management, technology and communication to tackle the problem head-on. A longer-term approach will be set out in the Mayor's forthcoming Transport Strategy. For further information on the changes including detailed route information, please visit <a href="http://tfl.gov.uk/west-end-bus-changes">tfl.gov.uk/west-end-bus-changes</a></p>
<p>&nbsp;</p>
<hr />
<p>Notes to Editors:</p>
<ul>
    <li>The bus routes affected by the proposed changes are: 3, 6, 8, 15, 22, 23, 25, 46, 73, 137, 172, 242, 332, 390, 425, 452, C2, N2, N3, N8, N15, N22 and N73</li>
    <li>Further details on the consultation and changes to buses in central London can be found at <a href="http://tfl.gov.uk/west-end-bus-changes">tfl.gov.uk/west-end-bus-changes</a></li>
    <li>More than 50 million 'Hopper' journeys have been made since the fare was introduced, and TfL is now working on delivering unlimited bus and tram transfers within one hour from 2018, which is not currently possible due to limits with the existing technology</li>
</ul>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/march">March</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/april">April</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/december">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2017-April-TfL confirms changes to bus routes in central London -->

 
 
        
        
            @{ViewBag.Description = "Transport for London confirms changes to bus routes in central London";}
        
        


 