
    
  



@{ViewBag.Title = "Coaches";}
@{ViewBag.Keywords = "Public,TfL";}
@{ViewBag.Url = "/corporate/about-tfl/culture-and-heritage/londons-transport-a-history/coaches";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/corporate/about-tfl/index">About TfL</a></li>
                
            
                 <li><a href="/corporate/about-tfl/culture-and-heritage">Culture & heritage</a></li>
                
            
                 <li><a href="/corporate/about-tfl/culture-and-heritage/londons-transport-a-history">London's transport - a history</a></li>
                
            
            
                <li><span class="last-breadcrumb">Coaches</span></li>
            
        
 
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Coaches</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        From its first services between London and Brighton, and beyond, coach travel has long been a valuable part of London's transport system.
        
      </div>
    
    
      
      
           
      <div>

<p>The history of coach travel in London goes back as far as 1904, when the Vanguard Omnibus Company started a double deck bus service between London and Brighton. </p>
<p>The service only lasted two years and was withdrawn in 1906. It took another 13 years for Len Turnham to re-start a London to Brighton service. This time, others followed and before long a number of operators were offering bus services from London.</p>
<h2>Coaches come together </h2>
<p>By 1920 a number of operators had come together to pool their services, a collective which became official in 1925 when London Coastal Coaches (LCC) was incorporated. In the summer of 1925, LCC launched services to the south coast, Kent, Essex and East Anglia. </p>
<p>Despite the LCC's success, they still didn't have a base for their operation. After looking for suitable premises, and failing, it was decided that a new building was necessary. Victoria Coach Station opened in 1932. </p>
<p>In the 1930s, there was a rapid expansion of destinations and operators from Victoria Coach Station, which meant that people could reach most parts of England and Wales from there. </p>
<p>During WWII, most coach services stopped and the 32,000 square feet of Victoria Coach Station was requisitioned by the War Office. Services started up again in 1946 and coach services really began to flourish in the post-war era. </p>
<h2>Victoria Coach Station</h2>
<p>Victoria Coach Station (VCS) opened at its present site, on the corner of Buckingham Palace Road and Elizabeth Street, in 1932. It provided London terminal facilities for the coach operators who built it and their passengers. </p>
<p>Various mergers and takeovers led to Tilling and BET becoming the new station owners until 1968, when the Transport Act established the National Bus Company (NBC), which brought together the bus and coach interests of both companies.</p>
<p>By the 1970s, ownership had changed again with VCS being run by National Travel (South East) Limited, and at the end of 1978, the station was taken over by Victoria Coach Station Limited. </p>
<p>Victoria Coach Station Limited was acquired by London Transport in 1988 at the request of the Secretary of State for Transport.</p>
</div>
 
      
        
          
        
      
    
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/corporate/about-tfl/culture-and-heritage/londons-transport-a-history" class="heading">
                    <h2 id="sub-menu-heading">London's transport - a history<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/culture-and-heritage/londons-transport-a-history/women-in-transport">Women in transport</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/culture-and-heritage/londons-transport-a-history/london-buses">London buses</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/corporate/about-tfl/culture-and-heritage/londons-transport-a-history/london-underground">London Underground</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/culture-and-heritage/londons-transport-a-history/london-overground">London Overground</a></div></li>
                            
 
                                <li class="selected"><div class="link-wrapper"><a href="/corporate/about-tfl/culture-and-heritage/londons-transport-a-history/coaches">Coaches</a></div>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/culture-and-heritage/londons-transport-a-history/river">River</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/culture-and-heritage/londons-transport-a-history/dlr">Docklands Light Railway (DLR)</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/culture-and-heritage/londons-transport-a-history/trams">Trams</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
























<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "We don't run coach services in London, but we do provide facilities for this integral part of London's transport system";}
        
            
        


 