
    
  



@{ViewBag.Title = "Docklands Light Railway (DLR)";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/corporate/about-tfl/culture-and-heritage/londons-transport-a-history/dlr";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/corporate/about-tfl/index">About TfL</a></li>
                
            
                 <li><a href="/corporate/about-tfl/culture-and-heritage">Culture & heritage</a></li>
                
            
                 <li><a href="/corporate/about-tfl/culture-and-heritage/londons-transport-a-history">London's transport - a history</a></li>
                
            
            
                <li><span class="last-breadcrumb">Docklands Light Railway (DLR)</span></li>
            
        
 
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Docklands Light Railway (DLR)</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        The origins of the Docklands Light Railway (DLR) can be traced back to 1982 when the London Docklands Development Corporation (LDDC) was created to coordinate the redevelopment of the Docklands area. 
        
      </div>
    
    
      <p>It was clear that a new transport system was needed. Two bills passed in 1984 and 1985 authorised the DLR - construction began soon afterwards.</p>
<p>The railway opened in 1987 with 11 single-car trains and 15 stations. The original network comprised two routes - Tower Gateway to Island Gardens and Stratford to Island Gardens.</p>
<p>Even before opening day, planning was underway for the first extension, to Bank, which opened in 1991. A further five extensions have since been completed, keeping pace with the growth of Docklands as an international business and financial centre, and an increasingly popular place to live and visit.</p>
<p>The routes to Beckton (1994), Lewisham (1999), London City Airport (2005), Woolwich Arsenal (2009) and Stratford International (2011) mean that today, the DLR has 45 stations and 149 vehicles, many operating in 3-car formation.</p>
<h2>TfL takes charge </h2>
<p>DLR was originally a wholly owned subsidiary of one of TfL's
precursors, London Regional Transport. In 1992 it transferred to the
LDDC, sponsored by the Department of Environment.</p>
<p>Since 1997 DLR has been operated under franchise by the private
sector. The current franchise was awarded to KeolisAmey Docklands Ltd
(KAD) in 2014. DLR has been the responsibility of TfL since we were
established in 2000.</p>
<h2>Improvements ahead of the Games</h2>
<p>DLR was crucial to the success of the London 2012 Olympic and Paralympic Games. As well as the Olympic Park itself, the DLR also served competition venues in Greenwich and the Royal Docks, and some road events in central London.</p>
<p>Significant enhancements were made to the network in preparation for the Games, including the Stratford International extension, the upgrade to support 3-car train formation, a new signalling and control system, and improvements to key stations.</p>
<p>During the Games DLR carried double its normal number of passengers, which helped the network reach 100 million passenger journeys in the year 2012/13.</p>
      
           
      
      
        
          
        
      
    
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/corporate/about-tfl/culture-and-heritage/londons-transport-a-history" class="heading">
                    <h2 id="sub-menu-heading">London's transport - a history<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/culture-and-heritage/londons-transport-a-history/women-in-transport">Women in transport</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/culture-and-heritage/londons-transport-a-history/london-buses">London buses</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/corporate/about-tfl/culture-and-heritage/londons-transport-a-history/london-underground">London Underground</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/culture-and-heritage/londons-transport-a-history/london-overground">London Overground</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/culture-and-heritage/londons-transport-a-history/coaches">Coaches</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/culture-and-heritage/londons-transport-a-history/river">River</a></div></li>
                            
 
                                <li class="selected"><div class="link-wrapper"><a href="/corporate/about-tfl/culture-and-heritage/londons-transport-a-history/dlr">Docklands Light Railway (DLR)</a></div>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/culture-and-heritage/londons-transport-a-history/trams">Trams</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
























<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
      <div class="module-grid clearfix">
                    
        <div class="related-links">

    <h3>Also on this site</h3>

<div class="vertical-button-container">

<a href="/modes/dlr/index" class="plain-button">DLR</a>
<a href="/corporate/about-tfl/culture-and-heritage/londons-transport-a-history/dlr" class="plain-button">History of DLR</a>
    </div>
</div>
 
      </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "The Docklands Light Railway (DLR) was a crucial element in the regeneration of the Docklands area";}
        
            
        


 