
    
  



@{ViewBag.Title = "London Overground";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/corporate/about-tfl/culture-and-heritage/londons-transport-a-history/london-overground";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/corporate/about-tfl/index">About TfL</a></li>
                
            
                 <li><a href="/corporate/about-tfl/culture-and-heritage">Culture & heritage</a></li>
                
            
                 <li><a href="/corporate/about-tfl/culture-and-heritage/londons-transport-a-history">London's transport - a history</a></li>
                
            
            
                <li><span class="last-breadcrumb">London Overground</span></li>
            
        
 
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>London Overground</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        London Overground was launched in 2007 to provide better connections between areas outside of central London. 
        
      </div>
    
    <div class="on-this-page">
      
      
           
      <div>

<p>Over the years, railways in north and west London had suffered significant neglect. The aim of London Overground was to integrate these older networks into new routes in east and south London to create a fully orbital network to serve the Capital.</p>
<p>London Overground's launch introduced Oyster to all 55 stations, replaced the entire train fleet with 62 modern trains, refurbished every station, as well as other improvements. </p>
<p>The new Overground network introduced Shepherd's Bush in 2008 and Imperial Wharf in 2009 to serve areas of the Capital that had suffered from poor public transport provision.</p>
<p>In 2010 we opened the new line in east London between Dalston Junction and West Croydon, with branches to New Cross and Crystal Palace. This route used the old East London line, part of the London Underground until 2007, and a disused railway alignment to the north, as well as existing tracks to the south. </p>
<p>The route was extended to Highbury &amp; Islington in 2011, and to Clapham Junction in 2012, completing the loop around London. In 2015 we took over the suburban rail routes connecting Liverpool Street with Chingford, Enfield Town and Cheshunt, and services operating between Romford and Upminster.</p>
<p>Today the network covers 112 stations across six routes. In 2016/17 more than 189 million journeys were made on London Overground.</p>
</div>
 <div>


        <h2>West Croydon to Dalston Junction</h2>
        <p>The line between West Croydon and Dalston Junction opened as part of London Overground in 2010, with subsequent extensions to Highbury &amp; Islington and Clapham Junction. However the route of the line is much older.</p>
        <p>The construction of the Thames Tunnel was led by Marc Brunel and took 18 years to complete. It opened in 1843 as a pedestrian link, and at the time was the first tunnel to be built under a navigable river. In 1865 it was purchased by the East London Railway Company and connected to the rail network on both sides of the river carrying passengers and freight on a variety of routes. </p>
        <p>It became part of the Tube network in 1933, and passenger services were standardised as a shuttle between Shoreditch and New Cross/New Cross Gate. The East London line closed as part of London Underground in 2007 for extensive refurbishment before reopening as part of London Overground three years later.</p>
        <h2>Northern and southern extensions</h2>
        <p>The new northern extension, opening in stages in 2010 and 2011, made use of the existing Kingsland viaduct, which had previously carried the lines into Broad Street station until it closed in 1986. Four new stations were built at Shoreditch High Street, Hoxton, Haggerston and Dalston Junction.</p>
        <p>The southern extensions, to West Croydon (2010) and Clapham Junction (2012) involved creating new connections to existing railways, and finally created an orbital railway around inner London - the first new circular route in the Capital since the Circle line opened 128 years earlier.</p>
    
</div>
 <div>


        <h2>Watford Junction to Euston</h2>
        <p>This line follows the route of one of Britain's earliest railways - the line between London and Birmingham, opened by the London and North Western Railway (L&amp;NWR) in 1838.</p>
        <p>However, the line that we would recognise as the Euston to Watford Junction service of today, operating on its own separate tracks, really came into being in 1922, when the London and North Western Railway (LNWR) completed the Camden to Watford Junction New Line. This provided additional suburban capacity on an electrified route, and allowed more outer-suburban services to run non-stop to Euston.</p>
        <p>Prior to this, in 1917, London Electric Railway (LER) Bakerloo line services were extended from Willesden Junction to Watford Junction. Tube and rail services continue to share the route today, although the Bakerloo line now only runs as far as Harrow &amp; Wealdstone.</p>
        <p>The line was operated by British Rail until privatisation, and later by Silverlink, until in November 2007 Transport for London (TfL) took control and created London Overground. All stations have since been refurbished and new, longer trains with increased capacity and a 20 minute service frequency now operate on the line.</p>
    
</div>
 <div>

<h2>Gospel Oak to Barking</h2>
<p>The Gospel Oak to Barking line has existed in its current form since 1981 and is made up of various lines built in the 19th century. The first section, west of South Tottenham, opened in 1868 as the Tottenham and Hampstead Junction Railway. This was linked to Woodgrange Park in 1894 by the Tottenham and Forest Gate Railway.</p>
<p>The route between Upper Holloway and Woodgrange Park has been constant, however, several different stations have formed the east and west ends of the route. Kentish Town, St. Pancras and Moorgate, as well as Gospel Oak, have all acted as western termini. East Ham served as an alternative eastern terminus for some time, and certain trains were even extended as far as Tilbury and Southend.</p>
<p>The line was considered for closure to passenger services in 1963 as part of the Beeching proposals, and although it remained open, was allowed to fall into disrepair. By 1980 the line had been cut back to a single hourly service between Kentish Town and Barking. The situation improved in 1981 when a replacement link to Gospel Oak (the old one had closed in 1926) was built and services on the current route began.</p>
<p>Along with the rest of the British Rail network, the line was privatised in 1994, and for most of the subsequent period was operated under the brand name Silverlink, with little investment in services or facilities. TfL took control in November 2007, making the line part of its new London Overground network. Improvements to stations, new trains and the introduction of Oyster all followed, and the line was included on the Tube map for the first time.&nbsp;</p>
</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/corporate/about-tfl/culture-and-heritage/londons-transport-a-history" class="heading">
                    <h2 id="sub-menu-heading">London's transport - a history<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/culture-and-heritage/londons-transport-a-history/women-in-transport">Women in transport</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/culture-and-heritage/londons-transport-a-history/london-buses">London buses</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/corporate/about-tfl/culture-and-heritage/londons-transport-a-history/london-underground">London Underground</a></div></li>
                            
 
                                <li class="selected"><div class="link-wrapper"><a href="/corporate/about-tfl/culture-and-heritage/londons-transport-a-history/london-overground">London Overground</a></div>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/culture-and-heritage/londons-transport-a-history/coaches">Coaches</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/culture-and-heritage/londons-transport-a-history/river">River</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/culture-and-heritage/londons-transport-a-history/dlr">Docklands Light Railway (DLR)</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/culture-and-heritage/londons-transport-a-history/trams">Trams</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
























<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "The creation of London Overground in 2007 brought together older rail networks with new routes";}
        
            
        


 