
    
  



@{ViewBag.Title = "London buses";}
@{ViewBag.Keywords = "Public,TfL";}
@{ViewBag.Url = "/corporate/about-tfl/culture-and-heritage/londons-transport-a-history/london-buses";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/corporate/about-tfl/index">About TfL</a></li>
                
            
                 <li><a href="/corporate/about-tfl/culture-and-heritage">Culture & heritage</a></li>
                
            
                 <li><a href="/corporate/about-tfl/culture-and-heritage/londons-transport-a-history">London's transport - a history</a></li>
                
            
            
                <li><span class="last-breadcrumb">London buses</span></li>
            
        
 
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>London buses</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        The early 19th century saw the arrival of the omnibus in London, introduced by English coachbuilder George Shillibeer. Before that the only road vehicles for public hire were four wheeled coaches called hackneys.
        
      </div>
    
    
      <p>Strict licensing regulations allowed for monopoly of public transport and as a result Shillibeer was refused permission to run the omnibus in the Central London area. Instead he chose to run the service along busy routes around the edge of London, from Paddington to the city via Islington.</p>
<p>In 1832 a government enquiry resulted in the end of the hackney coach monopoly, this allowed other operators to introduce omnibus services resulting in fierce competition. A majority of omnibuses were taken over by the newly formed London General Omnibus Company (LGOC) by the end of 1856.</p>
<h2>Competition for passengers</h2>
<p>As a result of the boom of motorised bus operation in the early 20th century, the bus network grew dramatically. The Underground Electric Railways of London Co. Ltd (UERL), founded in 1902, had taken over parts of London's railway, five tube companies, and all electric tram companies and also took control of the LGOC, the main bus operator.</p>
<p>The disruption to transport operations as a result of the First World War (1914-18), allowed small independent companies to challenge the LGOC's dominance. The competition for passengers was fierce and resulted in recklessness on the road compelling the government to create a single authority responsible for London's public transport.</p>
<p>In 1933 the London Passenger Transport Board (LPTB) was formed. With the exception of a few railway companies, the LPTB took over underground, railway, tram and bus operations within London. This made it possible to effectively plan and coordinate London's public transport development. London Transport (LT) soon became known as the new authority which controlled public transport across London.</p>
<h2>Nationalisation</h2>
<p>LT was nationalised in 1948 and control was passed from central government to the Greater London Council (GLC) in 1970. In 1986 bus services outside London were deregulated. In London however, under the London Regional Transport Act 1984, LT was again brought under central government control. This was done as a preliminary step to the full abolition of the council two years later.</p>
<p>The act required the creation of a subsidiary company of London Transport and in 1985 London Buses limited (LBL) was set up.  The act also stipulated that, where appropriate, competitive tendering should be introduced to ensure LT operated economically and required less financial assistance from public funds.</p>
<p>As a result LT set up the Tendered Bus Division to begin the process of competitive tendering. This required LBL to compete against privately owned operators for the opportunity to run individual bus routes as Gross Cost Contracts. The operators tendered on the basis of all the costs required to operate and maintain the specified service whilst LT retained the fares revenue. Routes were awarded to the operator who could run the best service at the most cost effective price.</p>
<h2>Transport for London buses</h2>
<p>In preparation for its proposal to privatise LBL, the government divided the company into 13 geographical subsidiary companies. In 1992 the government announced that the subsidiaries would be sold into the private sector and by 1994 the privatisation of LBL was completed.</p>
<p>In 2000 following the devolution of government for London, the new Greater London Authority was formed and management responsibility of London's buses moved from the central government controlled London Regional Transport to the Mayor of London's transport organisation, Transport for London, where it remains today.</p>
<p>Through this organisation the Mayor is tasked with drawing up and implementing an integrated transport strategy which caters for growth in population and employment. The bus network is a key component of this strategy, with a constant requirement to maintain ease of use, attractive frequencies and adequate capacity, reliable services, good coverage and good interchange with other modes.</p>
      
           
      
      
        
          
        
      
    
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/corporate/about-tfl/culture-and-heritage/londons-transport-a-history" class="heading">
                    <h2 id="sub-menu-heading">London's transport - a history<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/culture-and-heritage/londons-transport-a-history/women-in-transport">Women in transport</a></div></li>
                            
 
                                <li class="selected"><div class="link-wrapper"><a href="/corporate/about-tfl/culture-and-heritage/londons-transport-a-history/london-buses">London buses</a></div>
                            </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/corporate/about-tfl/culture-and-heritage/londons-transport-a-history/london-underground">London Underground</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/culture-and-heritage/londons-transport-a-history/london-overground">London Overground</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/culture-and-heritage/londons-transport-a-history/coaches">Coaches</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/culture-and-heritage/londons-transport-a-history/river">River</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/culture-and-heritage/londons-transport-a-history/dlr">Docklands Light Railway (DLR)</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/culture-and-heritage/londons-transport-a-history/trams">Trams</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
























<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "The history of London bus operations, starting with the entrepreneurs behind 19th century omnibuses";}
        
            
        


 