
    
  



@{ViewBag.Title = "London Underground";}
@{ViewBag.Keywords = "Public,TfL";}
@{ViewBag.Url = "/corporate/about-tfl/culture-and-heritage/londons-transport-a-history/london-underground";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/corporate/about-tfl/index">About TfL</a></li>
                
            
                 <li><a href="/corporate/about-tfl/culture-and-heritage">Culture & heritage</a></li>
                
            
                 <li><a href="/corporate/about-tfl/culture-and-heritage/londons-transport-a-history">London's transport - a history</a></li>
                
            
            
                <li><span class="last-breadcrumb">London Underground</span></li>
            
        
 
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>London Underground</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        Find out more about the interesting and diverse histories of the lines running across our Tube network. 
        
      </div>
    
    <div class="on-this-page">
      
      
           
      <div>

<p>London Underground's history dates back to 1863 when the world's first underground railway, the Metropolitan Railway, opened between Paddington and Farringdon serving six intermediate stations. Since then the Underground network, affectionately nicknamed the Tube by generations of Londoners, has grown to 270 stations and 11 lines stretching deep into the Capital's suburbs, and beyond. </p>
<p>The development of London into the preeminent world city during the 19th, 20th and 21st centuries would not have been possible without the mobility provided by the Underground.</p>
<h2>Digging down</h2>
<p>Much of the central London network was completed in the first 50 years, all through private development. In this period the first group of routes were built in shallow cut-and-cover tunnels along existing thoroughfares and needed plenty of vents to allow smoke and steam from the engines to escape. Around the turn of the twentieth century the development of electric traction allowed much deeper tunnels to penetrate the heart of the city, leading to a second wave of construction.</p>
<p>In the next 50 years the focus turned to extending lines ever further into London's suburbs. Indeed, many suburbs were created by the coming of the Underground, and were even developed by the railway companies themselves, becoming known famously as Metroland. In 1933, the various private companies running different lines were nationalised and integrated into a single body, the London Passenger Transport Board.</p>
<h2>New lines</h2>
<p>It wasn't until 1968 that the first new line across central London for more than 60 years &#45; the Victoria line &#45; opened, followed in 1979 by the Jubilee line. In 1999 the Jubilee line was extended to London's Docklands, facilitating regeneration and the growth of the Canary Wharf business district.</p>
<p>In 2003, London Underground became a wholly owned subsidiary of TfL. Our comprehensive plan to improve the Tube has involved refurbishing hundreds of stations, upgrading lines to provide faster, more frequent and more reliable services, installing step free access at many locations, and entirely rebuilding some central London stations that have become too small to deal with the number of people passing through every day.</p>
<p>The extra capacity these improvements are providing is badly needed. In 2016/17 1.37 billion journeys were made, over two and a half times the post-war low of 498 million journeys made in 1982
</p>
<h2>
Bakerloo line
</h2>
<p>Rumour has it that the Bakerloo line was created after a group of businessmen complained that they couldn't get to and from Lord's Cricket Ground quickly enough. The instant success of the line, however, proved that they weren't the only ones in need of the service. When it opened on 10 March 1906, more than 36,000 passengers used it, despite the fact that the cricket season had yet to start.</p>
<p>Although it was originally known as the Baker Street and Waterloo Railway, the Bakerloo nickname - coined by the Evening News - stuck and the name was officially adopted in July 1906.</p>
<h3>Key Bakerloo line dates</h3>
<ul>
    <li>    1906 - Elephant &amp; Castle station opens</li>
    <li>1915 - The line is extended from Baker Street to Queen's Park</li>
    <li>1939 - The Bakerloo line takes over the Stanmore branch of the Metropolitan line</li>
    <li>1979 - The Jubilee line opens and, after 40 years, the Stanmore branch of the Bakerloo line closes</li>
    <li>1982 - The four peak period trains between Queen's Park and Watford Junction are withdrawn</li>
    <li>1989 - Services between Queen's Park and Harrow &amp; Wealdstone restart</li>
</ul>
<h2>
Central Line
</h2>
<p>The Central Line, originally called the Central London Railway, opened on 30 July 1900 as a cross-London route from Bank to Shepherd's Bush. </p>
<p>Popular from the start, part of its success stemmed from the cost: a flat fare of two old pence to travel. This inspired the press to call it the 'Tuppenny Tube.'
</p>
<p>In 1908, London hosted the Franco-British exhibition, the largest fair of its kind, which attracted 8 million visitors. At the time, the exhibition site was little more than a cluster of white buildings with no official name but when the Central line extended to the site, it officially became known as White City.</p>
<p>In the 1990s, the Central line was upgraded to automatic operation, making it the second Underground line, after the Victoria line in the 1960s, to use this technology.</p>
<h3>Key Central line dates</h3>
<ul>
    <li> 1900 - Central London Railway opens</li>
    <li>1908 - The line extends west to Wood Lane to support the White City Exhibition</li>
    <li>1912 - The line extends east from Bank to Liverpool Street</li>
    <li>1920 - The line extends west to Ealing Broadway</li>
    <li>1945 - After the war, new tracks next to to the main line railway start to be used. They run from North Acton to West Ruislip and include new tunnels from Liverpool Street to Leyton</li>
    <li>1994 - The Epping to Ongar shuttle service closes, due to low passenger numbers</li>
</ul>
<h2>
Circle line
</h2>
<p>Although the first circular service started in 1884, the Circle line as we know it didn't really begin until the 1930s. The 'Circle line' name first appeared on a poster in 1936 but took another 13 years for it to get its own, separate line on the Tube map.</p>
<p>The tracks used by the Circle line were run by the Metropolitan Railway and District Railway, two companies who couldn't agree on how to run the line. Their differences initially meant that District Railway ran the clockwise trains and Metropolitan Railway, the anti-clockwise trains.</p>
<p>In December 2009, the Circle line was broken and replaced by an end-to-end service between Hammersmith and Edgware Road, via Aldgate.</p>
<h3>Key Circle line dates</h3>
<ul>
    <li>    1884 - The first circular service begins</li>
    <li>1868 - The Paddington to Farringdon (Metropolitan Railway) line extends to South Kensington. The District Railway opens its new line from South Kensington to Westminster at the same time</li>
    <li>1884 - The District Railway line finally extends to Mark Lane (now Tower Hill). It meets the Metropolitan Railway line to create a full circle</li>
    <li>1905 - The line is electrified</li>
    <li>1933 - Metropolitan Railway and District Railway become part of the London Passenger Transport Board</li>
    <li>1936 - The 'Circle line' name appears on a poster for the first time</li>
    <li>1949 - The Circle line gets its own line on the Tube map</li>
    <li>2009 - The Circle line is broken and replaced by and end-to-end service</li>
</ul>
<h2>
District line
</h2>
<p>The District line first opened on Christmas Eve 1868, between South Kensington and Westminster.</p>
<p>In the years following, it extended both east and west, even going as far as Windsor. In 1883, the line was extended from Ealing Broadway to Windsor and has run services as far as Southend, during its time.</p>
<p>Uxbridge and Hounslow were part of the District line until they were transferred to the Piccadilly line in 1933 and 1964.</p>
<h3>
Key District line dates</h3>
<ul>
    <li>    1868 - The first section of what is now the District line begins. It runs between South Kensington and Westminster</li>
    <li>1869 - New tracks open between Gloucester Road and West Brompton</li>
    <li>1874 - The line extends to Hammersmith, Richmond in 1877 and Ealing Broadway in 1879</li>
    <li>1885 - The two-year old Ealing to Windsor service ends</li>
    <li>1884 - The line extends to Mark Lane (now Tower Hill)</li>
    <li>1910 - The line extends to Uxbridge, following an earlier extension to Hounslow (in 1884)</li>
</ul>
<h2>
Hammersmith &amp; City line
</h2>
<p>Intended as a feeder to the Metropolitan line, with the extension running through fields on the fringes of suburbia to Hammersmith, The Hammersmith and City Railway opened on 13 June 1864. It wasn't until 1988, however, that it gained independence to become the Hammersmith &amp; City line in its own right.</p>
<p>Jointly run by the Great Western Railway (GWR) and Metropolitan Railway (MR), when it opened, the only stations on the two-mile long track were Notting Hill (now Ladbroke Grove) and Shepherd's Bush.</p>
<p>Since the Circle line began running trains on the 'loop' in 2009, the Hammersmith &amp; City line no longer has any unique stations. Every one of its 29 stations is shared with another tube line.</p>
<h3>
Key Hammersmith &amp; City line dates</h3>
<ul>
    <li>    1863 - The Metropolitan Railway opens between Farringdon and Paddington</li>
    <li>1864 - Together with Great Western Railways, Metropolitan Railway extends the line to Hammersmith</li>
    <li>1864 - Services to Addison Road (now Kensington Olympia), via the curve at Latimer Road, begin. Following bomb damage in 1940, this service is suspended and doesn't restart after the war</li>
    <li>1869 - A new London and South Western line opens between north of Addison Road and Richmond, via Ravenscourt Park. The new Hammersmith station (at Grove Road) means the old terminus is re-sited</li>
    <li>1884 - The line extends east to Whitechapel</li>
    <li>1906 - The line is electrified</li>
    <li>1936 - Trains are extended over the former District Railway line to Barking</li>
    <li>1988 - The line becomes the Hammersmith &amp; City line in its own right</li>
</ul>
<h2>Jubilee line</h2>
<p>
Although a
number of Jubilee line stations are among the Underground's newest, the line
also serves some stations that originally opened over 100 years ago. </p>
<p>Inaugurated
on 1 May 1979, the Jubilee line linked new tunnels across central London (stretching
for 4 kilometres between Baker Street and Charing Cross with the former
Bakerloo line branch north of Baker Street to Stanmore).
</p>
<p>The northern
end of the line had previously been part of the Metropolitan Railway, before
transferring to the Bakerloo line in 1939 when a new section of twin tube
tunnels between Baker Street and Finchley Road (including stations at St John's
Wood and Swiss Cottage) also opened.
</p>
<p>From 1979
Charing Cross was the line's southern terminus for two decades, but further
extension to the Jubilee line was recommended in the East London Rail Study in
1989 with Royal Assent to the Bill obtained in March 1992.
</p>
<p>Work started
on the &pound;3.5bn project to extend the Jubilee line in 1993. The Prime
Minister at the time, John Major drove the first pile of the extension at a
start-of-work ceremony at Canary Wharf on 8 December 1993. The extension from
Green Park to Stratford was opened in three phases during 1999. The extended
Jubilee line was finally joined to the existing line on 20 November 1999,
although Westminster was the last station on the line to be opened on 22
December 1999. </p>
<p>Since its opening, the Jubilee line extension has facilitated
and contributed to the significant growth of London's Docklands as a centre for
business, residential and leisure activity.
</p>
<h2>
Metropolitan line
</h2>
<p>Opened in 1863, The Metropolitan Railway between Paddington and Farringdon was the first, urban, underground railway in the world. An extension from Baker Street to Swiss Cottage in 1868, however, put an end to this claim to fame.</p>
<p>With the growth of suburban areas in the north west of London, Buckinghamshire, Hertfordshire and Middlesex (dubbed 'Metroland'), in the 20th century, Metropolitan Railway spotted a marketing opportunity: by promoting dream homes in the countryside, they could also highlight their own fast, rail services to get people there.</p>
<p>As the owners of surplus land, Metropolitan Railway were in a position to branch out into real estate, and by 1919 they were developing housing under the name of Metropolitan Railway Country Estates Limited.</p>
<p>Metroland was immortalised in the 1973 BBC TV documentary, narrated by the then Poet Laureate, Sir John Betjeman.</p>
<h3>Key Metropolitan line dates</h3>
<ul>
    <li>    1863 - The line opens between Paddington and Farringdon</li>
    <li>1868 - The line extends from Baker Street to Swiss Cottage</li>
    <li>1892 - Line extensions reaches Aylesbury</li>
    <li>1904 - The Uxbridge branch opens</li>
    <li>1905 - The first electric trains appear and are gradually introduced across the whole line, apart from the line beyond Rickmansworth</li>
    <li>1925 - The Watford branch opens</li>
    <li>1932 - Another branch, to Stanmore opens, but this becomes part of the Bakerloo line in 1939</li>
    <li>1961 - The steam trains operating north of Rickmansworth stop as the line is electrified to Amersham and Chesham. Services beyond Amersham are taken over by British Rail (now Chiltern Railways)</li>
    <li>2012 - A new fleet of electric trains are introduced, the first on the Underground to feature air conditioning and full-length, walk-through interiors</li>
</ul>
<h2>
Northern line
</h2>
<p>The Northern line, opened in 1937, was created out of two separate railways: the City and South London Railway, and the Charing Cross, Euston and Hampstead Railway.</p>
<p>It expanded a little but WWII slowed the expansions down. Scheduled plans to extend to Mill Hill, Brockley Hill, Elstree and Bushey Heath (known as the Northern Heights plan), suffered post-war restrictions and never recovered. These plans were finally dismissed in 1954.</p>
<h3>Key Northern line dates</h3>
<ul>
    <li>    1890 - City &amp; South London Railway opens - it runs from King William Street (near Bank) to Stockwell</li>
    <li>1907 - Charing Cross, Euston and Hampstead Railway (Hampstead Railway, as it's called) opens. It runs from the Strand (Charing Cross) to Golders Green, with a branch from Camden Town to Highgate</li>
    <li>1921 - Hampstead Railway extends to Edgware</li>
    <li>1922 - City and South London Railway links to the Hampstead Railway at Camden Town</li>
    <li>1926 - City and South London/Hampstead Railway extends south to Morden and Kennington</li>
    <li>1933 - City and South London/Hampstead Railway become the Northern line</li>
    <li>1939 - 1941 The new Northern line extends between Archway and East Finchley, High Barnet and Mill Hill East</li>
    <li>1975 - The tunnelled link between Finsbury Park and Moorgate, via Essex Road, is transferred to British Rail (now First Capital Connect)</li>
</ul>
<h2>
Piccadilly line
</h2>
<p>The Piccadilly line opened as the Great Northern, Piccadilly &amp; Brompton Railway on 15 December 1906 and it ran between Finsbury Park and Hammersmith.</p>
<p>The line remained much the same until the 1930s when it expanded rapidly, incorporating stations which are now regarded as classic examples of period architecture. Arnos Grove, Southgate and Sudbury Town, for example, are listed buildings.</p>
<p>The development of Heathrow Airport has also been a reason for expansion, with Heathrow Terminals 1-5 opening between 1977 and 2008. When Terminal 5 opened in 2008, it became the first stretch of new Underground railway in London since the Jubilee line extension in 1999.</p>
<h3>Key Piccadilly line dates</h3>
<ul>
    <li>    1906 - The line opens between Finsbury Park and Hammersmith</li>
    <li>1907 - A branch line from Holborn to Aldwych opens</li>
    <li>1932 to 1933 - The line extends to South Harrow, Arnos Grove, Hounslow West, Uxbridge and Cockfosters</li>
    <li>1977 - Heathrow Terminals 1, 2 and 3 open</li>
    <li>1986 - The Heathrow service becomes a loop with the opening of Terminal 4</li>
    <li>1994 - The Aldwych branch of the Piccadilly line closes down because of too few passengers and high costs</li>
    <li>2008 - Heathrow Terminal 5 opens</li>
</ul>
<h2>
Victoria line
</h2>
<p>Built at the end of the 1960s, the main aim of the Victoria line was to connect four, main line terminals: Euston, St. Pancras, King's Cross and Victoria, although its origins go back to 1943.</p>
<p>Future hopes for the Victoria line were included in a document called the County of London Plan, but war and post-war constraints mean that the plans continued to be put on hold.</p>
<p>Parliamentary Powers to build the line were obtained in 1955 but difficulties with funding meant that actual construction work didn't start until 1962.</p>
<p>The Victoria line opened in stages between 1968 and 1971, and reached areas of north and south London that had never had an Underground station before.</p>
<p>The line was the first automatic passenger railway in the world, fully equipped with an Automatic Train Operation system (ATO). Such technology meant that at the touch of a button, the train doors would close and drive automatically to the next station, guided by coded impulses transmitted through the track.</p>
<p>The original 1968 line received a complete upgrade in 2012.</p>
<h2>
Waterloo &amp; City line
</h2>
<p>In 1898, the Waterloo &amp; City line (or 'Drain' as it was known), became London's second, deep-level Tube railway.</p>
<p>Initially, it was promoted by the London and South Western Railway company, whose trains terminated at Waterloo. The new line's selling point was that it could offer commuters a direct rail link to and from the City of London.</p>
<p>Wooden-built trains ran on the line until 1940 but were replaced by specially-designed, Tube-sized cars based on the technology of the Southern Railway's trains, but these too were eventually replaced in 1994.</p>
<p>In the post-war years, the Waterloo &amp; City line became part of British Railways but it transferred to London Underground in 1994, when it became (at that time), the Underground's 12th line.</p>
</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/corporate/about-tfl/culture-and-heritage/londons-transport-a-history" class="heading">
                    <h2 id="sub-menu-heading">London's transport - a history<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/culture-and-heritage/londons-transport-a-history/women-in-transport">Women in transport</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/culture-and-heritage/londons-transport-a-history/london-buses">London buses</a></div></li>
                            
 
                                <li class="selected parent"><div class="link-wrapper"><a href="/corporate/about-tfl/culture-and-heritage/londons-transport-a-history/london-underground">London Underground</a></div>
                                <ul>
                                    
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/culture-and-heritage/londons-transport-a-history/london-underground/disused-underground-stations">Disused underground stations  </a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/culture-and-heritage/londons-transport-a-history/london-underground/a-brief-history-of-the-underground">A brief history of the Underground </a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/culture-and-heritage/londons-transport-a-history/london-overground">London Overground</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/culture-and-heritage/londons-transport-a-history/coaches">Coaches</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/culture-and-heritage/londons-transport-a-history/river">River</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/culture-and-heritage/londons-transport-a-history/dlr">Docklands Light Railway (DLR)</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/culture-and-heritage/londons-transport-a-history/trams">Trams</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
























<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Dig into the history behind London's 11 Tube lines";}
        
            
        


 