
    
  



@{ViewBag.Title = "River";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/corporate/about-tfl/culture-and-heritage/londons-transport-a-history/river";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/corporate/about-tfl/index">About TfL</a></li>
                
            
                 <li><a href="/corporate/about-tfl/culture-and-heritage">Culture & heritage</a></li>
                
            
                 <li><a href="/corporate/about-tfl/culture-and-heritage/londons-transport-a-history">London's transport - a history</a></li>
                
            
            
                <li><span class="last-breadcrumb">River</span></li>
            
        
 
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>River</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        Transporting passengers on the River Thames first became regulated in 1510 when King Henry VIII granted licenses to watermen which gave them exclusive rights to carry passengers on the river.  
        
      </div>
    
    
      
    
      
           
      <div class="clearfix">
    <div class="image-box right-float">
    
        
        
        <img src="/cdn/static/cms/images/rivers_rdax_400x250.jpg" alt="Black and white book engraving of river passengers near London Bridge" />
        <span class="caption">Commuting by steamboat, London Bridge Pier, 1858</span>
        
        
    </div>
    <p>The Thames was vital to London's growth well into the 19th century and was crowded with boats and ships of all sizes.</p>
<p>For centuries there was just one crossing point across the River Thames, London Bridge. By 1800 only two more bridges, Westminster and Blackfriars, had been added.</p>
<p>River travel became an increasingly popular mode of transport through the introduction of passenger steamboats in 1815. Services to London along the Thames travelled from Gravesend, Margate and Ramsgate via Greenwich and Woolwich. By the mid-1850s steamboat services carried several million passengers a year and every day around 15,000 people travelled to work by steamboat.</p>
<h2>A change of river fortunes</h2>
<p>The growth of London's suburban railways led to a decline in passenger numbers on the river and in 1876 the five firms operating paddle steamers on the Thames merged. The company struggled financially and in 1884 was declared bankrupt.</p>
<p>In 1905 the London County Council attempted to revive passenger services on the river but suffered huge losses and was forced to close in 1908. Nevertheless, river services continued and it became fashionable to enjoy day trips along the Thames aboard a pleasure steamer.</p>
 </div>
 <div class="clearfix">
    <div class="image-box left-float">
    
        
        
        <img src="/cdn/static/cms/images/greenwich_rdax_400x250.jpg" alt="Greenwich Pier" />
        <span class="caption">Crowded pleasure steamer at Greenwich Pier around 1910</span>
        
        
    </div>
    <h2>Cross River Partnership (CRP) </h2>
<p>In 1997 the CRP, a consortium of local authorities, private sector organisations, and voluntary bodies, launched the Thames 2000 initiative. This aimed to develop new river piers and boat services to help link central London and the Millennium Dome at North Greenwich in the short term, and provide a longer term legacy of boat services and piers.</p>
<p>The CRP concluded that a new agency should be established to take responsibility for developing river passenger transport in London. The new body, provisionally called the Thames Piers Agency, would integrate boat services with other modes of public transport and acquire the public piers owned by the Port of London Authority (PLA).</p>
<p>It was agreed that the agency should be established as a subsidiary of Transport for London (TfL) and in 1997 London River Services (LRS) was formally incorporated as a limited company. </p>
 </div>
 <div class="clearfix">
    <div class="image-box right-float">
    
        
        
        <img src="/cdn/static/cms/images/river-today_rdax_400x457.jpg" alt="River Thames today" />
        <span class="caption">River services gliding along the Thames today</span>
        
        
    </div>
    <h2>The Thames today</h2>

<p>Today regular River Bus, River Tour and charter services call at piers across London, including the eight piers owned by <a href="/corporate/about-tfl/what-we-do">London River Services</a>.</p>

<p>In 2009 the River Concordat group was formed to bring together local authorities, private sector organisations and boat operating companies to unlock the river's full potential as both a transport artery and tourist attraction.</p>

<p>Following the success of the London 2012 Olympic and Paralympic Games, the then-Mayor of London committed to increasing annual passenger numbers on the river to 12 million by 2020. The <a href="/corporate/publications-and-reports/river-action-plan">River Action Plan</a> outlines a number of measures to be taken by TfL and other stakeholders to boost the number of trips on the river and increase the integration of river services with London's transport network.</p>

<h2>The Woolwich Ferry</h2>

<p>The origins of the Woolwich ferry can be traced back to the 14th century when residents had the right to operate a ferry between Woolwich on the north shore of the Thames and Warren Lane on the south. The earliest references to the ferry can be found in state papers of 1308 when William de Wicton, the waterman who ran the service, sold his business and house for &pound;10.</p>

<p>As the city of London expanded, the transportation of goods and supplies became a challenge. In 1811 The Woolwich Ferry Company established a ferry crossing, but this service stopped operating in 1844 when the company dissolved.</p>

<p>Over thirty years later, progress was made when the people of Woolwich highlighted to the Metropolitan Board of Works that their rates had helped pay for toll bridges in West London, which the board had recently bought and made free for public use. The pressure from local residents led to the Board agreeing to provide a free ferry service between north and south Woolwich. Since then the Woolwich ferry has continued to carry vehicles and passengers across the Thames.</p>

<p>In 1963, the original paddle steamer ferries were replaced by new diesel engine vessels, and today the three ferries continue to play an important part in east London life. The ferries and their associated infrastructure are owned by TfL and operated by Briggs Marine and Environmental Services.</p> 
 </div>
 
      
        
          
        
      
    
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/corporate/about-tfl/culture-and-heritage/londons-transport-a-history" class="heading">
                    <h2 id="sub-menu-heading">London's transport - a history<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/culture-and-heritage/londons-transport-a-history/women-in-transport">Women in transport</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/culture-and-heritage/londons-transport-a-history/london-buses">London buses</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/corporate/about-tfl/culture-and-heritage/londons-transport-a-history/london-underground">London Underground</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/culture-and-heritage/londons-transport-a-history/london-overground">London Overground</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/culture-and-heritage/londons-transport-a-history/coaches">Coaches</a></div></li>
                            
 
                                <li class="selected"><div class="link-wrapper"><a href="/corporate/about-tfl/culture-and-heritage/londons-transport-a-history/river">River</a></div>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/culture-and-heritage/londons-transport-a-history/dlr">Docklands Light Railway (DLR)</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/culture-and-heritage/londons-transport-a-history/trams">Trams</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
























<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
      <div class="module-grid clearfix">
                    
        <div class="related-links">

    <h3>Related websites</h3>

<div class="vertical-button-container">

<a href="http://www.nationalarchives.gov.uk/" class="plain-button">The National Archives</a>
<a href="http://www.hmrs.org.uk/index.php" class="plain-button">HMRS Online</a>
<a href="https://www.cityoflondon.gov.uk/things-to-do/london-metropolitan-archives/Pages/default.aspx" class="plain-button">London Metropolitan Archives (LMA)</a>
<a href="http://www.ltmuseum.co.uk/" class="plain-button">London Transport Museum</a>
    </div>
</div>
 
      </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "The Thames has served as a major transport route for Londoners since Roman times";}
        
            
        


 