
    
  



@{ViewBag.Title = "Trams";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/corporate/about-tfl/culture-and-heritage/londons-transport-a-history/trams";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/corporate/about-tfl/index">About TfL</a></li>
                
            
                 <li><a href="/corporate/about-tfl/culture-and-heritage">Culture & heritage</a></li>
                
            
                 <li><a href="/corporate/about-tfl/culture-and-heritage/londons-transport-a-history">London's transport - a history</a></li>
                
            
            
                <li><span class="last-breadcrumb">Trams</span></li>
            
        
 
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Trams</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        An extensive tram network covered large parts of London for several decades during the first half of the twentieth century. 
        
      </div>
    
    <div class="on-this-page">
      <p>By the 1950s, however, trams were seen as old
fashioned and were gradually phased out to create more room for buses and cars. The last tram journey in London for three decades took place between Woolwich and New Cross on 6 July 1952.</p>
<h2>Trams in Croydon</h2>
<p>By the mid-1980s motorised traffic had increased sharply in central Croydon. London Regional Transport (one of TfL's
predecessor organisations) carried out a study to consider whether the
reintroduction of trams could help to reduce traffic volumes, and also provide
better links to the poorly connected New Addington area.
</p>
<p>A
bill put to Parliament in 1991 received Royal
Assent on 21 July 1994. Following a competitive tender, consortium Tramtrack
Croydon Limited (TCL) was awarded a 99-year concession to build and run the
system in 1996.</p>
<p>The Tram system&nbsp;opened in 2000. As well as on
street running, it made use of a number of disused railway alignments. Part of the line between Wimbledon and Croydon actually follows the route of the Surrey
Iron Railway which first opened in 1803 with horse drawn trains, some 22 years
before the much more famous Stockton to Darlington Railway.</p>
<h2>TfL and trams
</h2>
<p>In June 2008, TfL bought
out TCL, and set about refurbishing trams, track, and tram stops, which had
received little investment since the system opened. In June 2012, six new trams were introduced, enabling
services in central Croydon to be increased from eight to twelve trams an hour,
and allowing a new route from Therapia Lane to Elmers End. </p>
<p>In April 2016, services between Wimbledon and Croydon increased from eight to 12 trams per hour, following the completion of works to build an additional tram platform at Wimbledon station.</p>
      
           
      
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/corporate/about-tfl/culture-and-heritage/londons-transport-a-history" class="heading">
                    <h2 id="sub-menu-heading">London's transport - a history<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/culture-and-heritage/londons-transport-a-history/women-in-transport">Women in transport</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/culture-and-heritage/londons-transport-a-history/london-buses">London buses</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/corporate/about-tfl/culture-and-heritage/londons-transport-a-history/london-underground">London Underground</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/culture-and-heritage/londons-transport-a-history/london-overground">London Overground</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/culture-and-heritage/londons-transport-a-history/coaches">Coaches</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/culture-and-heritage/londons-transport-a-history/river">River</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/culture-and-heritage/londons-transport-a-history/dlr">Docklands Light Railway (DLR)</a></div></li>
                            
 
                                <li class="selected"><div class="link-wrapper"><a href="/corporate/about-tfl/culture-and-heritage/londons-transport-a-history/trams">Trams</a></div>
                            </li>
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
























<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Decades after they disappeared from London's streets, trams were reintroduced to Croydon and then became part of the TfL network";}
        
            
        


 