
    
  



@{ViewBag.Title = "Women in transport";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/corporate/about-tfl/culture-and-heritage/londons-transport-a-history/women-in-transport";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/corporate/about-tfl/index">About TfL</a></li>
                
            
                 <li><a href="/corporate/about-tfl/culture-and-heritage">Culture & heritage</a></li>
                
            
                 <li><a href="/corporate/about-tfl/culture-and-heritage/londons-transport-a-history">London's transport - a history</a></li>
                
            
            
                <li><span class="last-breadcrumb">Women in transport</span></li>
            
        
 
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Women in transport</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        Paving the way for future generations, we remember key moments in time for women in transport. 
        
      </div>
    
    <div class="on-this-page">
      
      
           
      <div>

<p><strong>1915 - </strong>The new Bakerloo line extension opens at Maida Vale station. It is the first Tube station to be staffed entirely by women<br />
<br />
Mrs G. Duncan becomes the first woman bus conductor in London when she starts work with the Thomas Tilling Company on route 37</p>
<p><strong>1916 - </strong>The Women's Royal Naval Service (WRNS) is formed</p>
<p><strong>1918 - </strong>The Women's Royal Air Force (WRAF) is created and 32,000 women join up. WRAFs dispatched to bases in Britain, France and Germany become a major asset to the war</p>
<p><strong>1919 -  </strong>Katherine and Rachel Parsons launch The Women's Engineering Society (WES) to promote the study and practice of engineering among women. WES's first secretary, Caroline Haslett, goes on to profoundly influence women in the industry</p>
<p><strong>1923 - </strong>Dorothee Aurelie Pullinger becomes the first female car designer when she designs the Galloway, a car specifically for women. Pullinger also becomes the first female member of the Institution of Automobile Engineers</p>
<p><strong>1928 - </strong>In Britain, women gain equal voting rights to men</p>
<p><strong>1930 - </strong>Amy Johnson receives worldwide recognition when she becomes the first woman pilot to fly solo from England to Australia</p>
<p><strong>1936 - </strong>Phyllis Pearsall's London A-Z is published. It quickly becomes the most popular indexed street map of the city</p>
<p><strong>1945 - </strong>Waterloo Bridge is completed. It is nicknamed the Ladies Bridge because of the predominantly female workforce who built it</p>
<p><strong>1965 - </strong>Labour MP Barbara Castle becomes Minister of Transport and introduces breathalysers, compulsory seatbelts and national speed limits</p>
<p><strong>1968 - </strong>Strike action by sewing machinists at the Dagenham Ford factory forces company plants to close nationwide. This strike action eventually leads to a pay rise and a more serious consideration of the equal pay for women issue on the political agenda</p>
<p><strong>1970 - </strong>Barbara Castle, now Minister of Employment, passes the Equal Pay Act</p>
<p><strong>1972 - </strong>Air hostess-turned-pilot, Yvonne Pope, becomes the first woman in Britain to fly a commercial jet</p>
<p><strong>1974 - </strong>Jill Viner is London Transport's first woman bus driver</p>
<p><strong>1975 - </strong>The Sexual Discrimination Act and Employment Protection Act are introduced. Among the many changes, statutory maternity leave is enforced and these Acts make it illegal to discriminate against women on the grounds of gender</p>
<p><strong>1978 - </strong>Karen Harrison becomes the first woman train driver's assistant and Hannah Dadds becomes the first female train operator on the Underground</p>
<p><strong>1979 - </strong>Susan Atyeo becomes the first woman signal operator on the Underground</p>
<p><strong>1980 - </strong>Lynn Rippelmeyer becomes the first woman to pilot a Boeing 747 and the first woman to captain a Jumbo Jet across the Atlantic. Two years later she is one of the first, all-female crew of a Boeing 747</p>
<p><strong>1983 - </strong>Helen Clifford becomes the first woman bus mechanic and Anne Winter becomes British Rail's first female train driver</p>
<p><strong>1986 - </strong>An amendment to the Sexual Discrimination Act enables women to retire at the same age as men. This also lifts the legal restrictions which prevent women from working night shifts in factories</p>
<p><strong>1991 - </strong>Dr Helen Sharman becomes the first British astronaut in space as a member of the Russian scientific space mission, Project Juno. She is also the first woman to visit the Mir space station</p>
<p><strong>1993 - </strong>With women officially integrated into the Royal Navy, the Women's Royal Naval Service (WRNS) is disbanded</p>
<p><strong>1999 - </strong>Margaret Grieco becomes Britain's first Professor of Transport and Society. She becomes actively involved in developing gendered approaches to transport in both the developing and developed world</p>
<p><strong>2008 - </strong>Jean Venables is the first woman president of the Institution of Civil Engineers (ICE)</p>
<p><strong>2012 - </strong>Crossrail receives its first pair of Tunnel Boring Machines (TBMs), Phyllis and Ada. TBMs are traditionally named after women, in homage to St Barbara, the patron of tunnellers. In this case, the TBMs refer to Phyllis 'A-Z' Pearsall and Ada Lovelace</p>
<p><strong>2013 - </strong>Shelia Holden is elected as the first woman president of the Chartered Institution of Highways and Transportation (CIHT)</p>
<p><strong>2014 - </strong>The first National Women in Engineering Day (NWED) celebrates the achievements of women in engineering</p>
</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/corporate/about-tfl/culture-and-heritage/londons-transport-a-history" class="heading">
                    <h2 id="sub-menu-heading">London's transport - a history<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected"><div class="link-wrapper"><a href="/corporate/about-tfl/culture-and-heritage/londons-transport-a-history/women-in-transport">Women in transport</a></div>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/culture-and-heritage/londons-transport-a-history/london-buses">London buses</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/corporate/about-tfl/culture-and-heritage/londons-transport-a-history/london-underground">London Underground</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/culture-and-heritage/londons-transport-a-history/london-overground">London Overground</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/culture-and-heritage/londons-transport-a-history/coaches">Coaches</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/culture-and-heritage/londons-transport-a-history/river">River</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/culture-and-heritage/londons-transport-a-history/dlr">Docklands Light Railway (DLR)</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/culture-and-heritage/londons-transport-a-history/trams">Trams</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
























<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
      <div class="module-grid clearfix">
                    
        <div class="vertical-button-container">



<a href="/campaign/women-in-transport/women-in-transport-profiles"  class="plain-button">Women in Transport - today's workforce</a>

</div>

      </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Count the milestones of women in transport";}
        
            
        


 