


@{ViewBag.Title = "57,000 Londoners take up free Oyster cards";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>57,000 Londoners take up free Oyster cards</h1>
        <div class="content-page-press-release">
        01 May 2007
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



 <div class="on-this-page">
<p>
<p>Mayor of London Ken Livingstone today announced that the campaign to encourage all Londoners, particularly those on a low income, to use an Oyster card, is making real progress.</p>
<p>The campaign, which includes giving away 100,000 Oyster cards on a 'first come, first served basis' to new customers, has seen&nbsp;more than&nbsp;half the free cards (almost 57,000) snapped up in just two weeks. </p>
<p>The Oyster cards are being given away through national, local and community press adverts, targeting communities where take-up is comparatively low. </p>
<p>The Mayor of London, Ken Livingstone, said: 'With over half the free cards taken up in just two weeks, this campaign is having a real impact.</p>
<p>'The vast majority of people across London are already enjoying the benefits of Oyster, including cheaper and more convenient journeys.</p>
<p>'We want to encourage Londoners paying more because they still pay by cash to switch to Oyster.</p>
<p>'With more than 10 million cards issued since its launch in 2003, Oyster has cut queues at Tube stations and speeded up buses across London.'</p>
<p>More than three-quarters of all Tube and bus journeys are now made using Oyster.</p>
<p>The latest figures show that the number of single journeys now paid for by cash is extremely low, just&nbsp;4 per cent&nbsp;on London Underground and 2.5 per cent&nbsp;on buses.</p>
<p>Fares are always cheaper using Oyster; for example a single bus fare using Oyster is &pound;1 compared to the &pound;2 cash fare.</p>
<p>A single Tube fare in zone 1 is &pound;1.50 with Oyster compared to &pound;4 if cash is used.</p>
<p>In fact, Oyster prices have been held down so that they are still the same price as cash fares when Ken Livingstone was first elected Mayor of London in nearly seven years ago.</p>
<p>
<hr>
</p>
<p><strong>Notes to Editors: </strong><br></p>
<ul>
<li>A single Tube fare using Oyster is &pound;1.50 in zone 1 and between zones 1-2 off-peak - compared to &pound;4 using cash</li>
<li>The campaign started on Monday, 16 April across a range of publications, offering 100,000 cards minus the normal &pound;3 deposit to non Oyster users</li>
<li>More than 10 million Oyster cards have now been issued, and 38 million journeys a week are made each week using Oyster</li>
<li>Almost three times as many passengers can pass an Underground ticket barrier using Oyster card as can using printed tickets - 40 a minute compared to 15 a minute</li>
<li>Oyster is available to buy or be topped up at all 275 Tube stations and there are also more than 2,200 Oyster Ticket Stops agents across the Capital. Eighty-five percent of all Londoners live within 400 metres of an Oyster Ticket Stop</li>
<li>Oyster is also available on-line at: <a href="http://www.tfl.gov.uk/oyster">www.tfl.gov.uk/oyster</a>, over the phone via 0845 330 9876* or at Travel Information Centres across London. You can find your nearest Oyster outlet through the TfL website. *Calls from BT landlines cost 3.5p per minute.&nbsp;Calls from mobiles and other networks may vary</li>
<li>Passengers can also register the card so that the money is protected if the card is lost or stolen. Less ticket touts mean more secure stations</li>
<li>If you use Oyster to pay as you go, you can load cash on your Oyster card. When you touch in and out at the yellow readers on the Tube and DLR or touch in on the tram or bus, the reader automatically deducts the correct fare</li>
<li>Passengers can store up to three different Travelcards or Bus Pass season tickets and 'pay as you go' on the same Oyster card at the same time. Oyster card technology is also used to provide free travel for Londoners aged over 60 or with an eligible disability through the Freedom Pass scheme and, on the buses and trams, under-18s in full-time education can also get Oyster photocards for free travel</li>
<li>When passengers use the Oyster card to touch in and out on the yellow readers on the Tfl network it automatically works out the right fare for the journey within a fifth of a second working through up to 1.83 million possible options<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Mayor of London Ken Livingstone today announced that the campaign to encourage all Londoners, particularly those on a low income, to use an Oyster card, is making real progress.The campaign, which includes giving away 100,000 Oyster cards on a 'first";}
        
        


 