


@{ViewBag.Title = "Businesses can save time, money and the environment by joining Transport for London's new way to work";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Businesses can save time, money and the environment by joining Transport for London's new way to work</h1>
        <div class="content-page-press-release">
        18 May 2007
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



 <div class="on-this-page">
<p>
<p>A new scheme to encourage businesses to help their staff leave their cars at home, save money, and reduce their impact on the environment, has been launched by Transport for London (TfL) today.</p>
<p>'Enterprise' has been set up by TfL to help small and medium sized businesses across the Capital establish 'workplace travel plans', which encourage more sustainable ways of travelling to and from work, and help to tackle global warming through reducing the levels of emissions produced by car use.</p>
<p>Businesses reducing their overall car use can save time and money, both corporately and for their employees, by:<br></p>
<ul>
<li>Reducing business travel costs </li>
<li>Reducing the need to maintain car parking spaces </li>
<li>Improving the health and productivity of staff by promoting active ways of travelling&nbsp; </li>
<li>Reducing staff time lost through traffic congestion </li>
<li>Providing and promoting a wide range of travel choices to get to work</li></ul>
<p>Businesses can also benefit from reducing their own carbon footprint.</p>
<p>There are a number of schemes businesses can put in place to reduce car use, which includes flexible working hours, working from home, promoting car sharing, and encouraging cycling and walking.</p>
<p>TfL offers a range of incentives to help support businesses, including:<br></p>
<ul>
<li>Expert advice and assistance from a local travel plan coordinator </li>
<li>Guidance through each stage of developing a workplace travel plan </li>
<li>Incentive packages to promote specific areas of the travel plan, such as providing cycle stands, setting up a car sharing scheme or ways of encouraging more walking to work </li>
<li>Marketing merchandise to help promote sustainable transport messages across the business</li></ul>
<p>Ben Plowden, Programme Director of Travel Demand Management at TfL, said: 'Workplace travel plans are one of the many schemes Transport for London has promoted in recent years to get Londoners to not only walk and cycle more, but also to work flexibly and car-share to work.</p>
<p>'Similar projects with larger businesses have been a huge success in the past and the Enterprise scheme aims to support London's small and medium sized businesses achieve similar results.</p>
<p>'With the number of Londoners continuing to grow, it is vital we reduce the number of car journeys on the Capital's roads.</p>
<p>'In the long run everyone will benefit from Enterprise, especially organisations, employees, other commuters and, most importantly, the environment.'<br></p>
<p>
<hr>

<p>
<p><br><strong>Notes to editors:</strong><br><strong><p>
<ul>
<li></li></ul></strong>Small to medium sized business should comprise of up to 250 employees 
<li>For further information, please visit <a href="http://www.anewwaytowork.org/">http://www.anewwaytowork.org/</a> </li>
<li>Businesses keen on joining the Enterprise scheme can contact the team on 0870 094 9011 or email them at&nbsp; <a href="mailto:enterprise&#64;anewwaytowork.org">enterprise&#64;anewwaytowork.org</a> </li>
<li>Case study - Creative Environmental Networks. Creative Environmental Networks has been one of the first organisations to take advantage of the New Way to Work. With just over 50 employees, Creative Environmental Networks has trialled the scheme for the past year. Since joining, the number of regular cyclists at the organisation has increased by 15 per cent<br>Following the results from a staff questionnaire, cycling was highlighted as the most appropriate method of travel to encourage in the workplace.&nbsp; As a result, Creative Environmental Networks now offers free cycle lessons for all staff, provides readily available cycle maps, a tax free bike loan scheme, has introduced a subsidised cycle workshop and initiated a Bicycle User Group (BUG). The BUG holds regular meetings to encourage more staff to cycle, improve facilities and organise cycling events<br>Creative Environmental Networks is now also working towards more cycle stand equipment, including buying a car parking space outside their building to install a cycle pod. This is a very secure stand that will hold eight bikes within one car parking space.&nbsp; <br>As a continued effort, Creative Environmental Networks promotes the use of public transport by providing a notice board with timetables, notices of Tube works over the weekend and encouraging the uptake of the interest-free public transport loan tickets.<br>Creative Environmental Networks' Enterprise travel plan has been met with great enthusiasm and has received very positive feedback from its staff. Interviews are available upon request with Kim Jardine, Sustainable Transport Project Co-ordinator at Creative Environmental Networks. Contact Transport for London on 0845 604 4141 </li>
<li>Case study - Maintel Ltd. Maintel is a business-to-business communications provider with a head office of 70 employees based a five-minute walk from Waterloo.&nbsp; The company has progressively been encouraging its staff to use more suitable means of transport to the car since 2000. The first step to achieve this was relocating their offices from Battersea 7 years ago. Their previous location had parking facilities for up to 30 cars while their current offices have no parking facilities for staff. Although the change was openly welcomed by staff at the time of the move, the increase in facilities for smarter use of transport since then and the promotion of walking and cycling were increased.&nbsp; This has meant that&nbsp;more than&nbsp;80 per cent of Maintel's Head Office have left their cars at home and now use public transport.&nbsp; The number of cyclists travelling to and from work has also seen a significant rise. Employees at Maintel are now becoming more and more aware of how they travel to work and alternatives are continually being discussed.&nbsp; The general feel from employees is that it is an excellent way to fit daily exercise into the busy working day and many have recommended the scheme to friends. Interviews are available upon request with Chris Jubb, Head of Marketing and New Business at Maintel Ltd. Contact Transport for London on 0845 604 4141</li>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "A new scheme to encourage businesses to help their staff leave their cars at home, save money, and reduce their impact on the environment, has been launched by Transport for London (TfL) today.'Enterprise' has been set up by TfL to help small and medium";}
        
        


 