


@{ViewBag.Title = "FA Cup Final to be a showcase for Transport for London investment in Wembley";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>FA Cup Final to be a showcase for Transport for London investment in Wembley</h1>
        <div class="content-page-press-release">
        16 May 2007
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



 <div class="on-this-page">
<p>
<p>As Chelsea and Manchester United prepare for the first ever FA Cup Final to be held at the new Wembley Stadium (Saturday 19 May), Transport for London (TfL) is looking forward to the challenge of moving more people than ever before for the biggest match of the year. </p>
<p>The game will also showcase the &pound;43m Transport for London investment in Wembley Park station and the surrounding area.</p>
<p>The redevelopment of Wembley Park, which is served by the Jubilee and Metropolitan lines, is part of TfL's &pound;10bn Investment Programme to improve and expand London's transport network and was completed over a year ago on time and budget. </p>
<p>The station has been practically rebuilt to handle the increased number of spectators at Wembley Stadium, which now has a capacity of some 90,000.</p>
<p>The station's capacity has been boosted by 70 per cent in the main ticket hall to allow an extra 15,500 people (up from 22,000 to 37,500) to use the station every hour.</p>
<p>Ken Livingstone, Mayor of London said: 'Transport for London's investment of more than &pound;43m in Wembley Park, Wembley Central and Wembley Stadium stations, has ensured efficient and comfortable travel to and from the new national stadium.&nbsp;&nbsp; </p>
<p>'The investment in redeveloped stations, greater capacity, more CCTV coverage and other transport improvements will boost economic development and improve the quality of life for the local community for a considerable time to come.'</p>
<p>George McInulty, London Underground Service Director said: 'On the day, a combined total of 100 trains per hour in both directions will be operating on the Bakerloo, Jubilee, and Metropolitan lines to transport people to and from Wembley Park and Wembley Central stations.</p>
<p>'This means that the 90,000 fans expected to attend will be on their way home within 90 minutes of the final whistle.'<br>&nbsp;<br>Wembley Stadium can be easily accessed from Wembley Park station served by the Jubilee and Metropolitan lines, by Wembley Central station served by the Bakerloo line and Silverlink Metro and also by Wembley Stadium station, served by Chiltern Railways.</p>
<p>Transport for London's advice to fans is not to drive, to use public transport where at all possible and to plan your route before travelling. </p>
<p>Travel information for London Underground, London Buses, Docklands Light Railway and Croydon Tramlink services is available via the following options:</p>
<ul>
<li>The Transport for London website: <a href="http://www.tfl.gov.uk/">http://www.tfl.gov.uk/</a> </li>
<li>The London Travel Info 24-hour telephone helpline: 020 7222 1234 </li>
<li>BBC Ceefax, page 436, or ITV's Teletext, page 164 </li>
<li>Information on posters, leaflets and 'Service Information' boards at Tube stations</li></ul>
<p>Travel information for Silverlink Metro and Chiltern Railways services to Wembley Central and Wembley Stadium stations is available from National Rail Enquiries at 08457 48 49 50.</p>
<p>There is no parking at Wembley Stadium for users of private vehicles.</p>
<p>Parking in surrounding areas is extremely limited unless you are the holder of an official parking permit or pass.</p>
<p>To assist motorists, Transport for London will have travel advisors at southbound motorway service stations on the M40 and M1 to advise those travelling to the match that they should not park in the Wembley area.</p>
<p>To avoid queuing for tickets at Tube stations on Cup Final day, fans are encouraged to purchase an Oyster card beforehand. Oyster is valid on London Underground, London Buses, Docklands Light Railway and Croydon Tramlink and will always give you the cheapest fare compared to cash fares.</p>
<p>Oyster can be bought or topped up at all 274 Tube stations and there also more than 2,200 Oyster Ticket Stops agents across the capital.</p>
<p>Oyster is also available online at <a href="http://www.tfl.gov.uk/oyster">www.tfl.gov.uk/oyster</a>, over the phone via 0845 330 9876 or at Travel Information Centres across London.</p>
<p>Your nearest Oyster outlet can be found through the Transport for London website.</p>
<p>On match day, London Underground will be operating a special timetable on the Bakerloo, Jubilee and Metropolitan lines to get people to and from Wembley Stadium.</p>
<p>Extra staff will be on duty at key locations across the Tube network to assist passengers. </p>
<p>London Buses will be affected by road closures around the venue throughout the day, most of which will be determined by the police in response to local traffic conditions and are subject to change.</p>
<p>Bus services passing through the Wembley area are likely to be subject to delays before and after the match.<br></p>
<p>
<hr>

<p>
<p><strong>Notes to editors:</strong><br><strong><p>
<ul>
<li></li></ul></strong>To request an interview about TfL's preparations for Cup Final day or to film at Wembley Park station please contact the Transport for London Press Office 
<li>TfL is investing &pound;10bn to improve and expand London's transport network, more than half of that in the Tube </li>
<li>London Underground has recently announced a major increase in engineering works this year as we work to Transform the Tube. On Cup Final day, essential weekend engineering works have been kept to an absolute minimum </li>
<li>On May 19, the Piccadilly line will be suspended between Wood Green and Cockfosters while the Northern line will be suspended between Camden Town and Kennington via Charing Cross. Southbound trains will not be stopping at Hendon Central while North Ealing and Regent's Park stations will be closed </li>
<li>&pound;100m has been spent on transport improvements for the Wembley area. This comprises of &pound;43m from TfL funding, &pound;40m from the London Development Agency of which &pound;20m has been provided through the London Borough of Brent's regeneration funds, &pound;9m from Wembley National Stadium Limited and &pound;7m from the Department for Transport </li>
<li>Bus routes which may be affected by diversions are as follows: <br>
<ul>
<li>18 (Sudbury - Euston) </li>
<li>92 (Ealing Hospital - St Raphael's North) </li>
<li>182 (Harrow Weald - Brent Cross) </li>
<li>206 (Kilburn Park - St Raphael's Estate) </li>
<li>224 (Harlesden - Wembley Hill Road) </li>
<li>PR2 (Park Royal - Wembley Park)</li></ul></li>
<p>&nbsp;</p>
<ul>
<li>Bus routes which may be subject to delays are as follows: <br>
<ul>
<li>79 (Edgware - Alperton) </li>
<li>83 (Golders Green - Ealing Hospital) </li>
<li>112 (Ealing Broadway - Brent Cross) </li>
<li>204 (Sudbury Town Station - Edgware) </li>
<li>223 (Wembley Central - Harrow) </li>
<li>232 (St Raphael's Estate - Turnpike Lane Station) </li>
<li>245 (Golders Green - Alperton) </li>
<li>297 (Willesden - Ealing Broadway) </li>
<li>316 (North Kensington - Brent Park) </li>
<li>H17 (Harrow - Wembley Central Station)<br></li></ul></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "As Chelsea and Manchester United prepare for the first ever FA Cup Final to be held at the new Wembley Stadium (Saturday 19 May), Transport for London (TfL) is looking forward to the challenge of moving more people than ever before for the biggest match";}
        
        


 