


@{ViewBag.Title = "Have your say on route options for East London Transit - Barking to Dagenham Dock via Barking Riverside";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Have your say on route options for East London Transit - Barking to Dagenham Dock via Barking Riverside</h1>
        <div class="content-page-press-release">
        18 May 2007
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London (TfL)&nbsp;is encouraging local people to get involved in a public consultation on route options for the East London Transit from Barking town centre to Dagenham Dock via Barking Riverside.&nbsp;
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"We want to hear the views of residents on this scheme"</div>
        <div class="quote-footer">
            <div class="quotee-name">Councillor Sid Kallar</div>
            <div class="quotee-job-title">Executive Member for Regeneration</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            We want to hear the views of residents on this scheme 
                            
                        </p>
                    </div>
                
            
            
            <p>
<p>The consultation starts on Thursday 24 May and finishes on Friday 13 July 2007.&nbsp; </p>
<p>The new East London Transit service will provide a vital transport link that will help regenerate Barking and the surrounding area.</p>
<p>The transit will revitalise this part of London by providing better access to jobs, education, healthcare and community facilities for existing and future communities.&nbsp; </p>
<p>Bus-only routes, which are segregated from other traffic, with greener hybrid-engine buses will mean fast, frequent and pleasant journeys for passengers.&nbsp; </p>
<p>Well-lit waiting areas and 'real-time' passenger information will all help to encourage residents to use the bus.</p>
<p>TfL&nbsp;is seeking views on four route options: </p>
<ul>
<li>Option a: Bastable Avenue and Busway </li>
<li>Option b: Thames Road and Creek Road </li>
<li>Option c: Crossness Road and Busway </li>
<li>Option d: Creek Road Busway. </li></ul>
<p>Tony Antoniou, TfL's Programme Director for Busway Transit, said: </p>
<p>"We would like to hear which route the local community prefers. These views are important and will help us choose a service that really meets transport needs.</p>
<p>"The East London Transit will create a vital transport link for people in Barking and make journeys to work, school and social activities more reliable and comfortable.&nbsp; </p>
<p>"These buses will be less polluting vehicles running on their own special bus lanes, which will shorten travel times."</p>
<h2>Lasting impact </h2>

<p>Councillor Sid Kallar, Executive Member for Regeneration said: "The East London Transit is a high quality transit system that will have a positive and lasting impact on the regeneration of Barking and Dagenham.</p>
<p>"It will feature the latest in bus technology, high levels of priority over other traffic, excellent passenger information and boarding facilities, and there will be a major upgrade of the appearance of the streets it runs along.</p>
<p>"As ever we want to hear the views of residents on this scheme, and hope that as many people as possible take up the opportunity to participate in the consultation process." </p>
<p>At first, the service will run between Barking and Barking Riverside, and as more people and businesses move to the area, the service will extend to Dagenham Dock. </p>
<h2>Additional links </h2>
<p>The East London Transit is just one scheme in a package of transport measures for the Thames Gateway.</p>

<p>This modern bus transit will make travel easier by providing additional links to the London Underground, Docklands Light Railway, National rail and other local bus services.</p>
<p>TfL is holding public consultation exhibitions on route options for East London Transit from Barking town centre to Dagenham Dock via Barking Riverside - these will be held on Saturday 9 June between 10am and 4pm and Monday 18 June between 9am to 8pm at the Sue Bramley Centre, Bastable Avenue, Barking.</p>
<p>More than 3,000 leaflets are also being sent to local businesses and people living near the route options asking them for their opinions. </p>
            <p>
<p><strong>Notes to editors:</strong></p>
<p><a href="http://www.tfl.gov.uk/elt">Full details of the proposals </a>are available online </p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The consultation starts on Thursday 24 May and finishes on Friday 13 July 2007.&nbsp; The new East London Transit service will provide a vital transport link that will help regenerate Barking and the surrounding area.The transit will revitalise this part";}
        
        


 