


@{ViewBag.Title = "Lee Green junction - one year on";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Lee Green junction - one year on</h1>
        <div class="content-page-press-release">
        21 May 2007
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



<div class="pull-quote">
        <div class="quote-body">"The improvements are about more than asphalt and traffic lights"</div>
        <div class="quote-footer">
            <div class="quotee-name">David Brown</div>
            <div class="quotee-job-title">Managing Director of Surface Transport at TfL</div>
        </div>
</div>

 <div class="on-this-page">
<span class="right">
                    
                </span><p>On Tuesday 22 May, Transport for London (TfL)&nbsp;will celebrate the first year of the Lee Green Junction scheme, a scheme that has seen the junction become safer and more pleasant for residents, visitors and businesses in the Lee Green area.<br></p>        
            
                        
            
                    <div class="pullquote right">
                        <p>
                            The improvements are about more than asphalt and traffic lights
                            
                        </p>
                    </div>
                
            
            
            <p>
<p>David Brown, Managing Director of Surface Transport at TfL, will be joined by Lewisham Councillors Brian Robson and Paul Bentley to unveil a plaque at the site to commemorate the success of the project.</p>
<p>The scheme, designed specifically to balance the needs of all road users, has seen significant road safety improvements. Since completion of the scheme, personal injury accidents at this junction have reduced by 60%.</p>
<p>The &pound;1.9m scheme, at the boundary of Lewisham and Greenwich, has included:<br></p>
<ul>
<li>The relocation of pedestrian crossings, setting them back from the junction to make pedestrians more visible and safer</li>
<li>The upgrade of controlled pedestrian crossing points, including the installation of rotating tactile cones on the underside of the push button boxes to assist visually impaired pedestrians to use the crossings</li>
<li>The re-phasing of traffic signals to meet the traffic flow demands of the junction</li>
<li>The re-positioning of bus stop facilities, taking them out of the main traffic flow to improve accessibility and safety for bus passengers</li>
<li>The resurfacing of part of the carriageway, including use of anti-skid surface treatment, to improve safety and comfort for drivers</li>
<li>The construction of a large paved area, planting of new trees and provision of street furniture to provide a pleasant open public space for the local community and visitors.</li></ul>
<p>David Brown, MD of Surface Transport at TfL said: "Transport for London is delighted to see the difference that this scheme has made to the Lee Green area.</p>
<p>"But the improvements are about more than asphalt and traffic lights. </p>
<p>"We have successfully seen personal injury accidents at this location reduced by 60% since completion of the work, and with the extensive landscaping and new street furniture we have been able to create an attractive and relaxing environment for all."</p>
            <p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>Photo Opportunity. TfL's David Brown will be unveiling the plaque to commemorate the success of the Lee Green junction scheme at 11am on Tuesday 22 May 2007 at the south-east corner of the junction. For further details please contact Kristy Marshall on 07921 491058 </li>
<li>Photographs of the plaque unveiling will be available on request </li>
<li>Personal injury accident statistics were taken for the&nbsp;eight month period before implementation of the scheme (1 May 2004 to 31 December 2004) and the eight months after implementation (1 May 2006 to 31&nbsp;December 2006) </li>
<li>TfL is the highway authority for London's 580km Red Route network (carrying one third of London's traffic) and is responsible for managing, developing and maintaining these roads </li>
<li>TfL is also responsible for London's 6,000 sets of signals, including maintaining, fault managing, installing, modelling and implementing effective signal timings and balancing the needs of all road users at signal junctions</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "On Tuesday 22 May, Transport for London (TfL)&nbsp;will celebrate the first year of the Lee Green Junction scheme, a scheme that has seen the junction become safer and more pleasant for residents, visitors and businesses in the Lee Green area.David Brown,";}
        
        


 