


@{ViewBag.Title = "London Underground launches work experience programme for disabled people across whole Tube Network ";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>London Underground launches work experience programme for disabled people across whole Tube Network </h1>
        <div class="content-page-press-release">
        17 May 2007
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London announced today that, following a previous pilot scheme on the Piccadilly line, London Underground (LU)&nbsp;will be extending their Work Experience Programme for Disabled People across the network.&nbsp;
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Each placement will give disabled people the opportunity to work in a tailored customer service role 
                            
                        </p>
                    </div>
                
            
            
            <p>
<p>The programme will aim to offer a total of 18 eight-week placements, running throughout the year. </p>
<p>Each placement will focus on offering disabled people the opportunity to work in a tailored customer service role on one of nine LU lines, involving a number of non-safety critical duties, including giving customers directions and helping them buy tickets as well as updating travel information.</p>
<p>Disability organisations, local councils and charities can recommend individuals who they feel would benefit from the programme.&nbsp;&nbsp;</p>
<p>Short-listed candidates will then be invited to attend a workshop to help practise their interview skills prior to the interview process.&nbsp; </p>
<h2>Comprehensive training</h2>
<p>Successful candidates will receive comprehensive training, and workplace risk assessments will be carried out.</p>
<p>During the placement, each of the successful work experience candidates will be allocated a mentor who will be trained to ensure that the candidate gets the most out of their work experience.&nbsp;</p>
<p>The mentor will directly supervise and support the candidate during the entire placement.</p>

<p>Candidates will also have an opportunity to obtain Unit Accreditation within the City &amp; Guilds NVQ for Rail Transport.</p>
<h2>Further placements </h2>

<p>The work experience programme will be split into three blocks, the first of which will offer placements on the Central, Jubilee and Northern lines. </p>
<p>Candidates are currently being recruited for this block, with the aim of offering placements between 24 September 2007 and 16 November 2007.</p>
<p>Further placements will be available between 11 February 2008 and 4 April 2008&nbsp;on the Metropolitan, Hammersmith&nbsp;&amp; City and Victoria lines, and between &nbsp;9 June 2008&nbsp;and 1 August 2008 on the Bakerloo, District and Piccadilly lines.</p>
<p>Organisations&nbsp;that wish to recommend applicants for the second and third block of placements should contact Charlotte Eade, HR Project Manager, on 020 7027 2765 or <a href="mailto:charlotte.eade&#64;tube.tfl.gov.uk">charlotte.eade&#64;tube.tfl.gov.uk</a></p>
<p>&nbsp;</p>
<hr>

            <p><strong>Notes to Editors:</strong><br></p>
<ul>
<li>Stations participating in the first block are: </li>
<ul type="circle">
<li>Morden, Balham and Goodge Street (Northern line) </li>
<li>Canary Wharf, North Greenwich and Stratford (Jubilee line)&nbsp;</li>
<li>&nbsp;Notting Hill Gate, Bond Street and Monument (Central line) </li></ul>
<li>Transport for London (TfL)&nbsp;is investing &pound;10 billion to improve and expand London's transport network, with over half of that being spent on the Tube </li>
<li>London Underground (LU)&nbsp;is investing more than ever before to make the Tube as accessible as possible as quickly as possible for all customers </li>
<li>Significant progress has been made during the last year.&nbsp;Currently ,47 stations have step-free access. Feasibility studies to improve accessibility have been completed at 90 stations, allowing LU to understand the extent of the engineering works that need to take place </li>
<li>By 2010, 25 per cent of Tube stations will have step-free access and this will increase to one third of stations by 2013.&nbsp; Where necessary, works will be prioritised to ensure that as many stations as possible serving Olympic venues have step-free access for the 2012 Games</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The programme will aim to offer a total of 18 eight-week placements, running throughout the year. Each placement will focus on offering disabled people the opportunity to work in a tailored customer service role on one of nine LU lines, involving a number";}
        
        


 