


@{ViewBag.Title = "Make tracks to Brixton for the Cross River Tram roadshow";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Make tracks to Brixton for the Cross River Tram roadshow</h1>
        <div class="content-page-press-release">
        17 May 2007
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



<div class="pull-quote">
        <div class="quote-body">"The Cross River Tram will carry more than 60 million passengers"</div>
        <div class="quote-footer">
            <div class="quotee-name">Lambeth Council</div>
            <div class="quotee-job-title">Councillor Paul McGlone</div>
        </div>
</div>

 <div class="on-this-page">
<span class="right">
                    
                </span><p>Transport for London (TfL) and the London Borough of Lambeth will be holding a joint event to help people find out more about proposals for the new Cross River Tram. </p>        
            
                        
            
                    <div class="pullquote right">
                        <p>
                            The Cross River Tram will carry more than 60 million passengers
                            
                        </p>
                    </div>
                
            
            
            <p>
<p>This will take place at Tate Gardens in Brixton on Saturday 19 May between 10am and 4pm.</p>
<p>The Cross River Tram is a proposed service running between Euston and Waterloo, with branches to Camden Town and King's Cross in the north, and Brixton and Peckham in the south.</p>
<p>Following the recent route options consultation TfL and Lambeth are holding a roadshow to keep people informed about the proposals and gather more detailed information on local issues.&nbsp; </p>
<p>A full scale model of a tram carriage will be present, giving potential future passengers the opportunity to experience the spacious and comfortable environment of a modern tram.&nbsp; </p>
<p>An exhibition of the proposals for Brixton Central Square will be on show alongside the tram and inside Tate Library. </p>
<h2>Improved future</h2>
<p>The exhibition runs from May 14-25.</p>
<p>To make the event enjoyable for the whole family, there will also be face painting, tram colouring books and specially commissioned dance performances in Tate Gardens.</p>
<p>Barry Broe, TfL's Director of Group Transport Planning and Policy, said: "Local people have asked how the proposed Cross River Tram would work alongside proposals to create a central square in Brixton.</p>
<p>"This event will help to answer these questions and demonstrates that Transport for London is working together with the council to create an improved future for Brixton's town centre." </p>
<h2>Support regeneration</h2>
<p>Councillor Paul McGlone, Lambeth Council cabinet member for regeneration, said: "People living, working, or just visiting Brixton can look forward to a bright future as plans to regenerate the area, and transport improvements and choices are well underway. </p>
<p>"The regeneration plans for Brixton will completely transform the public realm and create a modern and pleasant environment which Brixton and its residents can be rightly proud of."</p>
<p>The Cross River Tram will carry more than 60 million passengers providing an attractive alternative for people travelling on some of the most crowded stretches of the Northern, Piccadilly and Victoria lines, and will provide faster connections to those areas currently less well-served by rail or Tube.</p>
<p>The project will support regeneration by linking important areas, such as Elephant &amp; Castle and King's Cross, to central London. </p>
<h2>Spacious and air-conditioned</h2>
<p>It supports the long-term future of these areas by introducing a fixed transport link to employment, health, education and leisure opportunities.</p>
<p>Trams will be spacious, air-conditioned and run smoothly and quietly.</p>
<p>There will be lots of wide double doors, with no steps or gaps, so it will be easy to get on and off.&nbsp; </p>
<p>Trams will help to reduce pollution and congestion on London's streets as they are powered by electricity, producing no direct emissions - they can also recycle up to 30 per cent of their power supply through technology such as regenerative braking.</p>
<p>The service will offer the opportunity to enhance areas along the route. </p>
<p>TfL will work with the boroughs to provide new pavements, streetlights, pedestrian crossings and other improvements to the streetscape.<br></p>
            <p>
<p><strong>Notes to editors</strong></p>
<ul>
<li>Cross River Tram will:<br></li>
<ul type="square">
<li>Help reduce traffic pollution and congestion. For example, Croydon &nbsp;Tramlink has reduced the number of car journeys by nearly four million trips a year</li>
<li>Providate an attractive alternative for people travelling on some of the most &nbsp;crowded stretches of the Northern and Victoria lines</li>
<li>Provide an opportunity to enhance areas along the route. TfL will work with boroughs along the route to provide new pavements, streetlights, pedestrian crossings and other improvements</li>
<li>Have spacious and air-conditioned carriages. There will be wide double doors and it will be step-free, so it will be easy to get on and off</li>
<li>Benefit local businesses and help support local people</li>
<li>Improve transport to major regeneration projects along the route such as King's Cross, Elephant and Castle, Brixton and the Aylesbury Estate in Southwark. These developments could generate around 78,000 new &nbsp;jobs</li>
<li>Provide faster connections to those areas currently less well served by &nbsp;rail or Underground<br></li></ul></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Transport for London (TfL) and the London Borough of Lambeth will be holding a joint event to help people find out more about proposals for the new Cross River Tram. This will take place at Tate Gardens in Brixton on Saturday 19 May between 10am and";}
        
        


 