


@{ViewBag.Title = "Mayor unveils Tube cooling trials";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Mayor unveils Tube cooling trials</h1>
        <div class="content-page-press-release">
        29 May 2007
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



<div class="pull-quote">
        <div class="quote-body">"Cooling the Tube is a major and long-term engineering challenge"</div>
        <div class="quote-footer">
            <div class="quotee-name">Tim O'Toole</div>
            <div class="quotee-job-title">LU's Managing Director</div>
        </div>
</div>

 <div class="on-this-page">
<span class="right">
                    
                </span><p>Mayor Ken Livingstone today unveiled a number of trials to be introduced by London Underground (LU) to cool the tube network.</p>        
            
                        
            
                    <div class="pullquote right">
                        <p>
                            Cooling the Tube is a major and long-term engineering challenge
                            
                        </p>
                    </div>
                
            
            
            <p>New measures for this summer include the first full-scale trial of the award-winning groundwater cooling project at Victoria Tube station. &nbsp;</p>
<p>The programme will also trial a new 'bore hole' cooling technology at Stockwell station and new air-cooled trains, as well as more investment in tried and tested technologies.</p>
<p>As part of its &pound;10bn Investment Programme, Transport for London is investing over &pound;150m in reducing summer heat on the Tube. &nbsp; &nbsp; <br><br>The Mayor and LU&nbsp;highlighted that the investment will take years, not months, to have a major impact. </p>
<p>Mayor of London, Ken Livingstone, said: "London's Tube network is the oldest in the world and its design makes cooling the system extremely difficult.&nbsp;&nbsp;</p>
<h2>Hot weather</h2>
<p>"Transport for London is pushing forward a programme to tackle the problem of heat on the Tube, after the decades of underinvestment. &nbsp; </p>
<p>"This will take years, not months, to deliver results.&nbsp;</p>
<p>"In the meantime, there will inevitably be times when the Tube is hot and uncomfortable, but we are doing everything possible to tackle the problem in the short-term as well as funding long-term solutions." </p>
<p>LU Managing Director, Tim O'Toole, said: "Cooling the Tube is a major and long-term engineering challenge, but we are also trying out short-term measures to help tackle the heat now. </p>
<h2>Continue testing</h2>
<p>"This summer, a special engineering team will continue testing a new way of cooling the Tube, using cold water from an underground river, at Victoria station. </p>
<p>"A large number of station ventilation fans which had previously been allowed to fall into disrepair have been brought back into service, and portable industrial fans will be trialled in two stations. </p>
<p>"As in previous summers, London Underground will be providing hot weather advice to passengers.&nbsp; </p>
<p>"Carry a bottle of water with you and, if you are feeling unwell, contact a member of station staff who will be able to help.&nbsp; </p>
<h2>Investigating solutions</h2>
<p>"Water will be available to passengers if it is needed." </p>
<p>Cooling the Tube is not just a question of getting heat off the trains, it is also about getting heat out of the system.&nbsp;</p>
<p>Every day, 30 million litres of water are pumped out of the Tube network and LU is actively investigating solutions that utilise this sustainable source of cooling.&nbsp; </p>
<p>The groundwater trial at Victoria station will continue throughout 2007 and, if the trial continues to provide good results, has the potential to be rolled out to a number of other stations on the Tube network.&nbsp; </p>
<h2>Cooling benefits</h2>
<p>Later this year, work will start on a trial at Stockwell station that will involve drilling a bore hole to the water aquifer below London where cold water will be extracted and used via a heat exchanger to cool warm air. </p>
<p>The warmed water will then be returned to the aquifer. </p>
<p>LU&nbsp;has also been working with Tube Lines and Metronet to upgrade the existing station ventilation fan network.</p>
<p>This programme of works has brought 50 fans, which had been allowed to fall into disrepair, back into operation - doubling the capacity of the fan network and providing cooling benefits at a number of stations across the network. </p>
<h2>Air circulation</h2>
<p>Temporary portable industrial fans will be trialled at Seven Sisters and Chancery Lane stations this summer to increase air circulation and if successful will be rolled out to a number of stations in 2008. </p>
<p>A new mechanical chiller is being installed at Oxford Circus station that will provide cooling direct to the main ticket hall with designs being advanced for chillers at Euston and Waterloo stations. </p>
<p>A new ventilation shaft is being installed at Liverpool Street station to extract warm air, while a condenser unit at Charing Cross will redirect heat to outside, rather than within, the station as is currently the case.</p>
<p>At Holland Park, works are taking place to extend the existing ventilation shaft and increase natural station ventilation. </p>
<h2>Improved ventilation</h2>
<p>In the longer-term, new trains for the sub-surface lines (Circle, District, Hammersmith &amp; City and Metropolitan) will come with air-cooling.</p>
<p>The first air-cooled trains are due to arrive in January 2010. &nbsp;</p>
<p>Refurbished District line trains are also now benefiting from improved ventilation.&nbsp; </p>
<p>The new Victoria line trains, which will enter service from 2009, will also have improved ventilation. </p>
<h2>Carry water</h2>
<p>This summer London Underground will again be issuing its tips to passengers on how to try and "Stay Cool' on the network. </p>
<p>Posters will be displayed at all stations bearing the following advice.&nbsp; &nbsp; </p>
<p>Announcements will also be made at stations: </p>
<p>"Here are a few tips for keeping comfortable in hot weather: </p>
<ul>
<li>Carry water with you </li>
<li>Don't board a train if you feel unwell </li>
<li>If you feel unwell please get off at the next stop and seek help from our staff </li>
<li>Avoid pulling the passenger alarm between stations"<br></li></ul>
            <p><strong>Notes to editors:</strong><br>
<ul>
<li>TfL is investing &pound;10bn to meet London's transport needs, now and in future</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Mayor Ken Livingstone today unveiled a number of trials to be introduced by London Underground (LU) to cool the tube network.New measures for this summer include the first full-scale trial of the award-winning groundwater cooling project at Victoria Tube";}
        
        


 