


@{ViewBag.Title = "New shoppers' bus 385 for residents of Waltham Forest";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>New shoppers' bus 385 for residents of Waltham Forest</h1>
        <div class="content-page-press-release">
        21 May 2007
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



 <div class="on-this-page">
<p>
<p>Residents of Waltham Forest can now use a new bus route which runs between Chingford station and a major superstore. </p>
<p>Route 385 provides passengers with an hourly service on Mondays to Saturdays between approximately 9.30am and 3pm.</p>
<p>It runs from Chingford station through the Waltham Way and Valley Side areas to the Crooked Billet Sainsbury's. </p>
<p>John Barry, Head of Network Development for London Buses, said: 'The new 385 results from close work between Transport for London and the Council's transport team. </p>
<p>'There have been many improvements to the bus network in the area in the last few years, including new buses, better reliability and affordable fares.</p>
<p>'But we were aware that our passengers wanted a more regular service in Waltham Way and Valley Side.</p>
<p>'We have now provided the 385 which will help make travelling easier.'</p>
<p>Bob Belam, Waltham Forest's Environment Portfolio holder, said: 'Getting people to switch from their car to buses is essential if we are to reduce emissions, and having convenient and reliable services are key to achieving this switch.</p>
<p>'Waltham Forest Council listens to local residents and our close working relationship with TfL, enables us to deliver better services to local residents.' </p>
<p>For further information on bus services in London please contact London Buses customer services on: 0845 300 7000 or visit the Transport for London website <a href="http://www.tfl.gov.uk/buses">tfl.gov.uk/buses</a>&nbsp; </p>
<p><strong>
<hr>
</strong></p>
<p><strong>Notes to editors:</strong><br><strong><p>
<ul>
<li></li></ul></strong>Route 385 replaced route 905 which ran only on three days per week. The 905 was part of the former 'Mobility Bus' network, providing a transport service for those unable to access mainstream buses. Now that all of the Transport for London (TfL)&nbsp;network uses accessible vehicles, London Buses has reviewed the 905, resulting in a more regular service for Waltham Way
<li>Buses in London now carry the greatest number of passengers since 1968</li>
<li>London has the biggest wheelchair accessible bus network in the world</li>
<li>All London's buses are accessible to wheelchair users, have low flooring and in-vehicle CCTV</li>
<li>London bus use has increased by&nbsp;more than&nbsp;40 per cent&nbsp;since 1999/00</li>
<li>&nbsp;TfL provides&nbsp;more than&nbsp;8,000 buses on 700 routes to London's bus network. <br></li>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Residents of Waltham Forest can now use a new bus route which runs between Chingford station and a major superstore. Route 385 provides passengers with an hourly service on Mondays to Saturdays between approximately 9.30am and 3pm.It runs from Chingford";}
        
        


 