


@{ViewBag.Title = "Oyster and Barclaycard complete successful technical trial of combined card - next phase of trial now underway";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Oyster and Barclaycard complete successful technical trial of combined card - next phase of trial now underway</h1>
        <div class="content-page-press-release">
        03 May 2007
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



 <div class="on-this-page">
<span class="right">
                    
                </span><p>Transport for London (TfL) and TranSys, the consortium which delivers the Oyster smartcard on behalf of TfL, has announced the successful completion of the technical trial of its new combined Oyster and Barclaycard</p>        
            
                        
            
                    <div class="pullquote right">
                        <p>
                            The new card will give passengers the ability to pay for low cost goods and take advantage of Oyster fares 
                            
                        </p>
                    </div>
                
            
            
            <p>
<p>In December 2006, TranSys and Barclaycard revealed plans to combine Oyster and Barclaycard on one piece of plastic.</p>
<p>The card also includes Visa contactless technology. </p>
<p>The Barclaycard partnership is TranSys' first agreement to license Oyster to selected third parties, in order to improve the access and convenience that Oyster offers to travellers in London. </p>
<p>The trial is aiming towards passengers being able to make quick and contactless payments and travel around the Capital using one card.</p>
<p>Oyster has been a huge success with more than 10 million cards issued, making passenger journeys cheaper, easier and quicker. </p>
<p>Since December, a technical trial of 60 cards held by Barclaycard employees based in Northampton, has been taking place to test the functionality and reliability of the technology.</p>
<p>A contactless terminal was installed in the coffee shop at Barclaycard's head office in Northampton, and the cards have been used on the TfL network more than 2,500 times to make journeys or add Oyster products to the card. </p>
<h2>Even more convenient</h2>
<p>This trial was successful with no issues with the technology being identified. </p>
<p>Cards are now being issued to a larger number of employees, including those based at Barclays' head office in Canary Wharf, to enable the technology to be tested under greater volumes.</p>
<p>Two contactless terminals have been installed in coffee shops at Barclays in Canary Wharf. </p>
<p>Shashi Verma, Director of Oyster card at TfL,&nbsp;said: "This is yet another example of Oyster at the forefront of the technology industry. </p>
<p>"The new card will give passengers the ability to pay for low cost goods and take advantage of Oyster fares on the same card reducing the need to carry cash. </p>
<h2>Added value</h2>
<p>"It makes the already hugely successful Oyster card even more convenient."</p>
<p>John Stout, CEO of TranSys, said: "Like the Oyster card itself, the key to the success of this initiative is its simplicity.</p>
<p>"Barclaycard came to us with an idea which could be dovetailed seamlessly with Oyster's existing functionality to deliver added value for Barclaycard customers, without disrupting a service which has become part of London life for millions of people."</p>
<p>Stewart Holmes, Contactless Project Manager at Barclaycard, said: "The technical trial has been a great success with many employees commenting on how easy and simple the cards are to use. </p>
<p>"The demand for cards has been very high and we are now extending the trial."</p>
<p>Over the next few months an increasing number of cards will be issued to employees, including those of TranSys, TfL and Visa, with the aim of having approximately 2000 trial cards issued before the planned customer launch later in the year.</p>
<p>
<hr>
</p>
            <p>
<p><strong>Notes to editors:<p>
<ul>
<li></li></ul></strong>TranSys Press Office -&nbsp;tel: 020 7462 7766 (Publicis Consultants: Hannah Ashby / Fiona O'Farrell)
<li>Transport for London&nbsp; - tel: 0845 6044141 (James Simpson)</li>
<li>Barclaycard Press Office - tel:&nbsp;01604 251229 (24-hours) <a href="mailto:pressoffice&#64;barclaycard.co.uk">pressoffice&#64;barclaycard.co.uk</a></li>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Transport for London (TfL) and TranSys, the consortium which delivers the Oyster smartcard on behalf of TfL, has announced the successful completion of the technical trial of its new combined Oyster and BarclaycardIn December 2006, TranSys and Barclaycard";}
        
        


 