


@{ViewBag.Title = "Reduced opening at Camden Town station";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Reduced opening at Camden Town station</h1>
        <div class="content-page-press-release">
        02 May 2007
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



 <div class="on-this-page">
<span class="right">
                    
                </span><p>There will be no entry and exit for passengers at Camden Town station on 8 and 9 May as work to modernise the station gets underway. </p>        
            
                        
            
            
            
            <p>
<p>Trains will continue to stop at the station as normal, but passengers will only be able to interchange between various Northern line branches.</p>
<p>This will mean that customers will not be able to enter or exit the station on these days and will be advised to use nearby stations and local buses.</p>
<p>David Millard, General Manager, Northern line said "The works carried out by Tube Lines involve the replacement of floor tiles in the ticket hall area.</p>
<p>"At weekends, the station is extremely busy and operates with restrictions on Sundays due to the large numbers of passengers travelling to Camden Market. </p>
<p>"This makes it extremely difficult to undertake these necessary works at weekends when the station is most heavily used. </p>
<p>"Due to the nature and location of the work,s it is difficult to replace floor tiles in the ticket hall area during the four-hour engineering window overnight, when the Tube is closed. </p>
<p>"By restricting the opening of the station on a weekday, when passenger numbers are lower than on weekends, the work can be completed quicker."</p>
<p>Passengers can check before travelling via the following options:</p>
<ul>
<li>The TfL website at <a href="http://www.tfl.gov.uk/tubeworks">www.tfl.gov.uk/tubeworks</a></li>
<li>The London Travel Information 24-hour telephone helpline 020 7222 1234</li>
<li>BBC Ceefax, page 436, or ITV's Teletext, page 164</li>
<li>Information on posters, leaflets and "Good Service" boards at Tube stations</li></ul>
<p>Last week, London Underground announced that there would be an increase in the level of work taking place on the Tube this year as we work to increase capacity, improve reliability and modernise stations.</p>
<p>Works to modernise Camden Town station will be completed in May 2008 and passengers will benefit from a number of improvements to the ambience, safety and accessibility of the station, including increased and renewed CCTV coverage and the installation of Help points and a new public address system.</p>
<p>Tactile strips will be installed on platforms and stairs along with contrasting handrails for partially sighted customers. </p>
<p>New lighting will be installed throughout the station, ticket hall ceilings will be refurbished and most heritage features will be restored. </p>
<p>The majority of existing tiling in the station will either be replaced or refurbished.<br><br></p>
            <p>
<p><strong>Notes to editors:</strong><br></p>
<ul>
<li>Transport for London is investing &pound;10bn to improve and expand London's transport network with more than half being spent on the &nbsp;Tube</li>
<li>Tube Lines is responsible for the maintenance and renewal of the Jubilee, Northern and Piccadilly lines</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "There will be no entry and exit for passengers at Camden Town station on 8 and 9 May as work to modernise the station gets underway. Trains will continue to stop at the station as normal, but passengers will only be able to interchange between various";}
        
        


 