


@{ViewBag.Title = "Residents urged to have their say on Gants Hill street improvements ";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Residents urged to have their say on Gants Hill street improvements </h1>
        <div class="content-page-press-release">
        02 May 2007
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



 <div class="on-this-page">
<p>Local people in Gants Hill are being encouraged to get involved in the consultation on a &pound;3.3m scheme to improve road safety and the appearance of a major junction in their area.</p>
<p>The project is centred on Gants Hill roundabout in Redbridge, the meeting point of the main roads of A12 Eastern Avenue, Cranbrook Road and Woodford Avenue. </p>
<p>In addition to &pound;2.2m of funding which Transport for London is providing to improve the area, another &pound;1.1m has been secured from the Department for Communities and Local Government in conjunction with London Borough of Redbridge. </p>
<p>The proposals support the council's Area Action Plan, which aims to revitalise Gants Hill town centre.</p>
<p>Under the scheme, part of the Mayor's Open Spaces Programme which will see 100 public spaces enhanced in the Capital, pedestrians will see improved facilities at street level through new crossings and signals, which will also maintain traffic flow. Other proposed improvements include:</p>
<ul>
<li>New signs for those who continue to use the subways beneath the roundabout, helping people to use the Underground station </li>
<li>New trees and planting, along with better paving and landscaping</li></ul>
<p>Consultation documents, including a questionnaire, are being sent to 8,000 homes and businesses in Gants Hill, and a public exhibition will be held at Gants Hill library in Cranbrook Road. This will run from Monday, May 14 to Saturday, May 19. </p>
<p>Graham Jones, Transport for London's Head of Road Network Development North, said: "This scheme is geared towards improving transport facilities while supporting regeneration and helping to unite the centre of Gants Hill.</p>

<p>"It's important that we hear from local people so that we can take into account the views of those who live and work in the area."</p>
<p>Staff from Transport for London and London Borough of Redbridge will be on hand to answer questions about the project on Tuesday, May 15 between 11am and 3pm, Thursday, May 17 from 5.30pm to 8pm and Saturday, May 19 from 10am to 12noon. Consultation on the scheme will close on June 15. Copies of reports relating to the scheme will be lodged at Gants Hill library until then.</p>
<p>
<hr>

<p>
<p><strong>Notes to editors:</strong></p>
<p>1.&nbsp;Residents can comment on or request the consultation documents by:</p>
<ul>
<li>&nbsp;calling freephone 0800 587 8890 </li>
<li>emailing <a href="mailto:gants.hill&#64;tfl.gov.uk">gants.hill&#64;tfl.gov.uk</a> </li>
<li>logging on to <a href="http://www.tfl.gov.uk/gantshill">www.tfl.gov.uk/gantshill</a> </li>
<li>writing to Freepost RRJU-HLXR-EUHC, Transport for London, Gant's Hill Consultation, DRND North, London SW1V 1PX</li></ul>
<p>2.&nbsp;Consultation on London Borough of Redbridge's Area Action Plan, which has been drawn up to aid regeneration, closes on May 9. details can be found at <a href="http://www.redbridge.gov.uk/planning/ldfaap.cfm">www.redbridge.gov.uk/planning/ldfaap.cfm</a></p>
<p>3.&nbsp;The Department for Communities and Local Government's Growth Areas' Funding covers three areas - Milton Keynes/South Midlands, London-Stansted-Cambridge-Peterborough and Ashford - and the London boroughs of Barnet, Islington and Brent. The fund was created for site assembly, remediation of brownfield land, affordable housing and essential local infrastructure <br></p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Local people in Gants Hill are being encouraged to get involved in the consultation on a &pound;3.3m scheme to improve road safety and the appearance of a major junction in their area.The project is centred on Gants Hill roundabout in Redbridge, the";}
        
        


 