


@{ViewBag.Title = "South West rail stations receive cycle facilities boost";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>South West rail stations receive cycle facilities boost</h1>
        <div class="content-page-press-release">
        15 May 2007
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



<div class="pull-quote">
        <div class="quote-body">"These station cycle facilities compare well with the best in Europe"</div>
        <div class="quote-footer">
            <div class="quotee-name">Rose Ades</div>
            <div class="quotee-job-title">Head of Transport for London's Cycling Centre of Excellence</div>
        </div>
</div>

 <div class="on-this-page">
<span class="right">
                    
                </span><p>
<p>Transport for London (TfL) and South West Trains have invested &pound;250,000 to install better cycle facilities at 13 popular London rail stations in South West London.</p></p>        
            
                        
            
                    <div class="pullquote right">
                        <p>
                            These station cycle facilities compare well with the best in Europe
                            
                        </p>
                    </div>
                
            
            
            <p>
<p>The joint project is funded by TfL as part of the Mayor of London's strategy to increase the number of people cycling in the Capital.&nbsp; </p>
<p>Additional cycle shelters and stands, as well as CCTV cameras, have been installed at Surbiton, Twickenham, Hampton, Teddington, Strawberry Hill, Feltham, Hounslow, Tolworth, Kew Bridge, Chessington South, Ewell West, Hampton Wick and Fulwell stations. </p>
<p>It is expected that continuing work in 2007/08 will focus on North London Railway stations, which will fall under TfL's jurisdiction from November 2007.</p>
<p>Mayor of London Ken Livingstone said: "Cycling in London is booming with recent figures showing an 83 per cent increase since 2000. </p>
<p>"To encourage cycling we are spending record amounts on projects such as this one with South West Trains, to improve conditions for cyclists even further."</p>
<p>Rose Ades, Head of Transport for London's Cycling Centre of Excellence, said:&nbsp;"These station cycle facilities compare well with the best in Europe. </p>
<h2>Additional facilities</h2>
<p>"With fewer people travelling to these stations by car, it is not only the cyclists, but the transport system and the whole neighbourhood that benefits."</p>
<p>Malcolm Page, South West Trains' Station Development Manager, said: "The integration of cycles and trains is becoming increasingly popular so we are extremely grateful to Transport for London for providing a large proportion of the funding for these projects. </p>
<p>"We hope the additional facilities will encourage passengers to cycle to our stations and that the CCTV coverage will give them peace of mind too."</p>
<p>Since 2005, TfL has invested around &pound;700,000 to provide more than 1000 new spaces and other cycling facilities at over 70 stations across the South, South Eastern and South Western train network.&nbsp; </p>
<h2>&pound;32m TfL programme</h2>
<p>The cycle facilities programme is complemented by a &pound;32m TfL programme to make London's suburban rail stations safer.</p>
<p>One hundred and sixty-two stations have been improved, with new and upgraded CCTV, Help points and better lighting in an around stations.<br></p>
            <p>
<p><strong>Note for editors:</strong></p>
<ul>
<li>For further information about South West Trains, please contact their press office on 020 7620 5229</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Transport for London (TfL) and South West Trains have invested &pound;250,000 to install better cycle facilities at 13 popular London rail stations in South West London.The joint project is funded by TfL as part of the Mayor of London's strategy to";}
        
        


 