


@{ViewBag.Title = "TfL appoints Director of Borough Partnerships";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>TfL appoints Director of Borough Partnerships</h1>
        <div class="content-page-press-release">
        22 May 2007
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



<div class="pull-quote">
        <div class="quote-body">"Alex will play an important role in developing even stronger relationships between TfL and the boroughs"</div>
        <div class="quote-footer">
            <div class="quotee-name">Nigel Marson</div>
            <div class="quotee-job-title">TfL's Managing Director of Marketing and Communications</div>
        </div>
</div>

 <div class="on-this-page">
<span class="right">
                    
                </span><p>Transport for London (TfL) has today announced the appointment of a new senior member of staff. </p>        
            
                        
            
                    <div class="pullquote right">
                        <p>
                            Alex will play an important role in developing even stronger relationships between TfL and the boroughs
                            
                        </p>
                    </div>
                
            
            
            <p>
<p>Alex Williams has been appointed TfL's Director of Borough Partnerships. </p>
<p>The role will see Alex assuming responsibility for managing strategic relationships with boroughs, overseeing Local Implementation Plans (LIPs) and providing input to land use planning processes.</p>
<p>It is anticipated that Alex will be taking up his new post in July.</p>
<p>Alex Williams is currently employed by Camden Council as an Assistant Director Culture and Environment (Street Management), with responsibilities including management of essential services ranging from rubbish and recycling collection, to street lighting and parking management. </p>
<p>Alex has 18 years experience of working at a borough level, predominantly with Camden, but he also spent three years at Ealing Borough Council as Service Director, Transport and Planning Policy.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </p>
<p>Alex Williams, newly appointed TfL Director of Borough Partnerships, said: "I am delighted to be offered the opportunity to join TfL at such an exciting time, not only for this organisation, but for London as a whole. </p>

<p>"I hope to bring my experience and knowledge as a borough-based practitioner to bear in cementing stronger relationships between TfL and London boroughs."</p>
<p>Nigel Marson, TfL's Managing Director of Marketing and Communications, said: "Alex will play an important role in developing even stronger relationships between TfL and the boroughs.</p>

<p>"This will be key to ensuring that TfL meets the transport challenges that the predicted growth in London's population and employment will bring."</p>
<p>&nbsp;</p>
            <p>
<p>Notes to editors:</p>
<ul>
<li>A picture of Alex Williams is available on request from the TfL Press Office - 0845 604 4141</li>
<li>The Director of Borough Partnerships will report directly to the newly-created role of Managing Director Planning, which will be job-shared by Mich&egrave;le Dix and Malcolm Murray-Clark, who were recently appointed to take up the role on June 4.</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Transport for London (TfL) has today announced the appointment of a new senior member of staff. Alex Williams has been appointed TfL's Director of Borough Partnerships. The role will see Alex assuming responsibility for managing strategic relationships";}
        
        


 