


@{ViewBag.Title = "TfL announces two senior appointments";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>TfL announces two senior appointments</h1>
        <div class="content-page-press-release">
        09 May 2007
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



 <div class="on-this-page">
<span class="right">
                    
                </span><p>Transport for London (TfL) has announced the appointments of two senior members of staff.</p>        
            
                        
            
            
            
            <p>
<p>Steve Allen has been appointed as TfL's Managing Director of Finance and Valerie Todd has been appointed as TfL's Managing Director of Group Services.</p>
<p>Both appointments take place with immediate effect.</p>
<p>Steve Allen was previously TfL's Director of Corporate Finance having joined the organisation in 2003. </p>
<p>In that role, he was responsible for TfL's financing activities, including arranging a &pound;3.3bn borrowing programme and negotiating funding with Government.</p>
<p>He also led on developing proposals for the financing and commercial structuring of new transport projects, from Crossrail to extensions of the Docklands Light Railway, and on financing issues arising in TfL's portfolio of privately financed projects including the London Underground Public-Private Partnership.</p>
<p>Steve Allen started his career in the Department of Transport where he undertook a number of finance jobs before working as Private Secretary to the Secretary of State for Transport for two years. </p>
<p>He left to work at Citigroup where he advised on infrastructure projects in the UK, Europe and South East Asia including a secondment to Malaysia.</p>
<p>Steve then moved to Abbey National Treasury Services (ANTS) as Head of Rail in the Infrastructure Group. </p>
<p>He led ANTS' teams on a number of rail and other transport projects including the London Underground Public-Private Partnership and projects in Europe and the US.</p>
<p>Valerie Todd joined TfL in 2003 as Director of Business Services in Surface Transport. </p>
<p>From 2004, Valerie led TfL's equality and inclusion agenda as Director, Group Equality &amp; Inclusion. </p>
<p>Prior to 2003, Valerie had a successful career in local government where she led the implementation of major public programmes in senior positions at the London boroughs of Tower Hamlets, Newham and Havering.</p>
<p>Valerie is founding President of the Women's Transportation Seminar London, an organisation dedicated to the advancement of women in the transport industry.</p>
<p>She is also a member of Brent Fair Cities - the Government initiative to improve the employment prospects for people from disadvantaged backgrounds - and a member of the Employers' Forum on Disability President's Group.</p>
<p>Valerie has been acting Managing Director Group Services since November 2005.<br></p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Transport for London (TfL) has announced the appointments of two senior members of staff.Steve Allen has been appointed as TfL's Managing Director of Finance and Valerie Todd has been appointed as TfL's Managing Director of Group Services.Both";}
        
        


 