
    
  



@{ViewBag.Title = "Guidance for the HGV Safety Permit";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/info-for/deliveries-in-london/delivering-safely/direct-vision-in-heavy-goods-vehicles/apply-for-an-hgv-safety-permit";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/info-for/deliveries-in-london/index">Deliveries in London</a></li>
                
            
                 <li><a href="/info-for/deliveries-in-london/delivering-safely">Delivering safely</a></li>
                
            
                 <li><a href="/info-for/deliveries-in-london/delivering-safely/direct-vision-in-heavy-goods-vehicles">Direct Vision Standard and HGV Safety Permit</a></li>
                
            
            
                <li><span class="last-breadcrumb">Guidance for the HGV Safety Permit</span></li>
            
        
 
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Guidance for the HGV Safety Permit</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        Information about the application process for an HGV Safety Permit, and how to manage it, including rules for safety evidence photos and applying for multiple vehicles in your fleet.
        
      </div>
    
    <div class="on-this-page">
      
      
           
      <div>

<p>We are working with vehicle manufacturers to assign star ratings for their vehicles. Check to see if we hold your star rating and apply.</p>
</div>
 
<div class="module-grid clearfix">
<div>

<div class="call-to-action-button">
       <a href="https://tfl.gov.uk/modes/driving/dvs-safety-permit-application/" class="primary-button" >Check star rating and apply</a>

    </div>
</div> 
 
</div>
 <div>

<hr />
<h2>Apply for a single vehicle</h2>

<p>If your HGV is rated one to five stars, you can apply for a permit without the need to provide any additional evidence.</p>

<p>If your HGV is rated zero star, you will need to make your vehicle safer by <a href="/info-for/deliveries-in-london/delivering-safely/direct-vision-in-heavy-goods-vehicles/dvs-star-ratings-and-safe-system">fitting it with Safe System improvements.</a> You will need to prove this when you apply.</p>

<p>If your HGV is not rated, or we do not know its&nbsp;star rating, you will need to <a href="/info-for/deliveries-in-london/delivering-safely/direct-vision-in-heavy-goods-vehicles/dvs-star-ratings-and-safe-system#manufacturers">contact your manufacturer</a> to tell you its star rating and then send it to us.</p>

<p>The length of your permit will depend on your vehicle's star rating:</p>

<ul>
	<li>Zero star permits will be valid until October 2024</li>
	<li>One and two star permits will be valid until October 2024</li>
	<li>Three, four and five star permits will be valid for 10 years</li>
</ul>

<p>Zero, one and two star-rated vehicles will need to be fitted with the <a href="/info-for/deliveries-in-london/delivering-safely/direct-vision-in-heavy-goods-vehicles#progressive">Progressive Safe System</a> from 2024.</p>

<h2><a id="multi" name="multi"></a>Apply for multiple vehicles</h2>

<p>Fleet operators can apply for 5 to 3000 vehicles at one time through a <a href="https://tfl.gov.uk/modes/driving/dvs-safety-permit-application/">multi permit application.</a></p>

<p>To get started, <a href="https://tfl.gov.uk/modes/driving/dvs-safety-permit-application/templates/MPATemplate.csv">download the CSV template.</a></p>

<p>You can open the file in a spreadsheet program, such as Microsoft Excel. You will need to enter the number plates (Vehicle Registration Mark) of all your vehicles and tell us if they are registered as 'UK' or 'non-UK.'</p>

<p>After you apply and upload your completed CSV file&nbsp;you will receive a confirmation email with a permit application number. Throughout the next 28 working days, you will receive separate emails that will tell you the outcome of the vehicles in your application.</p>

<p>These emails will usually group your vehicles by their star rating or status (such as if they meet the minimum star rating, are exempt, not subject to the scheme, or not found in our records) and any next steps you need to take.</p>

<h3>Safety evidence for multi vehicle applications</h3>

<p>If there are vehicles in your multi vehicle application that are rated zero star, you will still need to provide safety evidence to show you've fitted Safe System equipment on these vehicles.</p>

<p>We will choose a percentage of your zero star rated vehicles and ask you to provide safety evidence for them. The exact number will be based on the overall number of zero star rated vehicles in your application.</p>

<p>Once these are approved, we will issue permits for all zero star rated vehicles in your application 'on trust', without the need to provide further evidence.</p>

<p>We reserve the right to withdraw permits if we have evidence that suggests you are abusing the application process.</p>

<h2><a id="photo-guidance" name="photo-guidance"></a>Rules for safety evidence photos</h2>

<p>If you've been asked to provide safety evidence as part of your application, you will need to upload two photos to show that a Safe System has been fitted to the vehicle. Please read this guidance before uploading photos.</p>

<h3>The quality of your photos</h3>

<p>Your photos must be:</p>

<ul>
	<li>JPG or PNG files, no more than 10MB each</li>
	<li>Clear and in focus</li>
	<li>Colour (not black and white)</li>
	<li>An accurate picture of the vehicle</li>
</ul>

<h3>What your photos must show</h3>

<p>Your photos must:</p>

<ul>
	<li>Clearly show the front and nearside (passenger side) of the HGV (Photo 1)</li>
	<li>Clearly show the rear and nearside (passenger side) of the HGV (Photo 2)</li>
	<li>Ensure the number plate (Vehicle Registration Mark) can be clearly read in both photos at the front (Photo 1) and rear (Photo 2) of the vehicle</li>
</ul>

<p>Provide evidence that the following safety features have been fitted to the vehicle:</p>

<ul>
	<li>Class V mirror (Photo 1: front and nearside)</li>
	<li>Class VI mirror (Photo 1: front and nearside)</li>
	<li>Side under-run protection (Photo 1 and 2)</li>
	<li>Warning signage (Photo 2: rear and nearside)</li>
</ul>

<p>If your vehicle is partially exempt and not required to have specific safety features fitted, the photo should support the reason for exemption.</p>

<p>A list of vehicle exemptions and policy can be found in&nbsp;the <a href="/cdn/static/cms/documents/hgv-safety-permit-guidance-for-operators-entering-london.pdf">HGV Safety Permit - guidance for operators entering London (Appendix A).</a></p>

<h3>Good and bad examples of digital photos</h3>
</div>
 <div>

<h4>Photo 1</h4>
</div>
 <div class="clearfix">
    <div class="image-box">
    
        
        
        <img src="/cdn/static/cms/images/dvs-photo-1-sample.jpg" alt="Good example for photo 1 of HGV Safety Permit" />
        
        
        
    </div>   
 </div>
 <div>

<p>Vehicle Registration Mark (number plate) clearly legible. Sideguards, Class V and VI mirrors clearly identifiable.</p>

<h4>Photo 2</h4>
</div>
 <div class="clearfix">
    <div class="image-box">
    
        
        
        <img src="/cdn/static/cms/images/dvs-photo-2-sample.jpg" alt="Good example for photo 2 of HGV Safety Permit" />
        
        
        
    </div>   
 </div>
 <div>

<p>Vehicle Registration Mark (number plate) clearly legible, side under-run protection and warning signage clearly identifiable</p>

<h4>Not acceptable</h4>
</div>
 <div class="clearfix">
    <div class="image-box">
    
        
        
        <img src="/cdn/static/cms/images/dvs-bad-photo-sample.jpg" alt="Examples of bad photos for HGV Safety Permit application" />
        
        
        
    </div>   
 </div>
 <div>

<p>Image too dark / bright / poor quality / blurry &#45; Safe System features not legible and identifiable</p>

<h2>Manage your permit</h2>

<p>The HGV Safety Permit is an electronic permit only. You will not receive a certificate or paper copy of the permit. You are not required to display proof of your permit in your vehicle.</p>

<p>To stay compliant with the HGV Safety Permit scheme, you must tell us if certain conditions change. You can contact us through the <a href="https://tfl.gov.uk/modes/driving/dvs-contact-us">Make an enquiry</a> form.</p>

<h3>Changes in configuration</h3>

<p>You must tell us if you change the configuration of any of your vehicles.</p>

<p>We reserve the right to withdraw permits if we have evidence that suggests you are abusing the application process or are not maintaining the required Safe System measures.</p>

<h3>Selling your vehicle: change in ownership</h3>

<p>The owner must tell us if the vehicle has been sold and there is a change in ownership. Permits cannot be &nbsp;transferred between operators and the new owner will need to apply for a new permit.</p>

<p>The new owner can apply for a permit as soon as they've purchased the vehicle&nbsp;and know&nbsp;the vehicle's number plate (Vehicle Registration Mark), make and model.</p>

<h3>Withdraw a permit</h3>

<p>You may contact us if an HGV Safety Permit is no longer needed for your vehicle. We will respond with a written confirmation.</p>

<h3>Change of number plate</h3>

<p>You must tell us if&nbsp;you would like to use the number plate on a different vehicle. You will need to apply for a new permit and ensure&nbsp;it meets the permit requirements.</p>
</div>
 
<div class="module-grid clearfix">
<div>

<div class="call-to-action-button">
       <a href="https://tfl.gov.uk/modes/driving/dvs-contact-us" class="secondary-button no-hover" >Make an enquiry</a>

    </div>
</div> 
 
</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/info-for/deliveries-in-london/index" class="heading">
                    <h2 id="sub-menu-heading">Deliveries in London<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/deliveries-in-london/delivering-efficiently">Efficient deliveries</a></div></li>
                            
 
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/deliveries-in-london/delivering-safely">Delivering safely</a></div>
                                <ul>
                                    
                                <li><div class="link-wrapper"><a href="/info-for/deliveries-in-london/delivering-safely/driving-near-vulnerable-users">Driving near vulnerable users</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/deliveries-in-london/delivering-safely/safer-lorry-scheme">Safer Lorry Scheme</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/deliveries-in-london/delivering-safely/work-related-road-risk">Work Related Road Risk </a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/deliveries-in-london/delivering-safely/direct-vision-in-heavy-goods-vehicles">Direct Vision Standard and HGV Safety Permit</a></div>
                                        <ul>
                                            
                                        <li><div class="link-wrapper"><a href="/info-for/deliveries-in-london/delivering-safely/direct-vision-in-heavy-goods-vehicles/dvs-star-ratings-and-safe-system">DVS star ratings and Safe System improvements</a></div></li>
                                    
 
                                                <li class="selected"><div class="link-wrapper"><a href="/info-for/deliveries-in-london/delivering-safely/direct-vision-in-heavy-goods-vehicles/apply-for-an-hgv-safety-permit">Guidance for the HGV Safety Permit</a></div>
                                            
 
                                        <li><div class="link-wrapper"><a href="/info-for/deliveries-in-london/delivering-safely/direct-vision-in-heavy-goods-vehicles/direct-vision-for-hgvs-research-and-tools">Direct Vision for HGVs Research and Tools</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                </ul>
                            </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/deliveries-in-london/delivering-legally">Delivering legally</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/deliveries-in-london/delivering-goods-by-water">Delivering goods by water</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/deliveries-in-london/training-courses-and-events">Training courses and events</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
























<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Check to see if your HGV meets safety requirements and apply for a permit.";}
        
            
        


 