
    
  



@{ViewBag.Title = "DVS star ratings and Safe System improvements";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/info-for/deliveries-in-london/delivering-safely/direct-vision-in-heavy-goods-vehicles/dvs-star-ratings-and-safe-system";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/info-for/deliveries-in-london/index">Deliveries in London</a></li>
                
            
                 <li><a href="/info-for/deliveries-in-london/delivering-safely">Delivering safely</a></li>
                
            
                 <li><a href="/info-for/deliveries-in-london/delivering-safely/direct-vision-in-heavy-goods-vehicles">Direct Vision Standard and HGV Safety Permit</a></li>
                
            
            
                <li><span class="last-breadcrumb">DVS star ratings and Safe System improvements</span></li>
            
        
 
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>DVS star ratings and Safe System improvements</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        The Direct Vision Standard gives HGVs a star rating, measured by how much a driver can see directly through their cab windows. Safe System measures help reduce the danger of HGVs that don't meet the minimum star rating for an HGV Safety Permit.
        
      </div>
    
    <div class="on-this-page">
      
      
           
      <div>

<p>We continue to work with vehicle manufacturers to assign star ratings for their vehicles. Check to see if we hold your star rating and apply.&nbsp;<a href="/info-for/deliveries-in-london/delivering-safely/direct-vision-in-heavy-goods-vehicles/apply-for-an-hgv-safety-permit">Find information and guidance about the application process.</a></p>
</div>
 
<div class="module-grid clearfix">
<div>

<div class="call-to-action-button">
       <a href="https://tfl.gov.uk/modes/driving/dvs-safety-permit-application/" class="primary-button" >Check star rating and apply</a>

    </div>
</div> 
 
</div>
 <div>

<h2>Meet the minimum DVS star rating</h2>

<p>A vehicle can have a rating of zero stars (the lowest rating, with poor direct vision) up to five stars (the highest rating with excellent direct vision).</p>

<p>If your HGV is rated one to five stars, you can apply for a permit without the need to provide any additional evidence.</p>

<p>If your HGV is rated zero stars, you will need to make your vehicle safer by fitting it with Safe System improvements.</p>

<h2>Safe System measures: improving HGV safety</h2>

<p>To apply for a permit as a zero star rated vehicle, you need to fit your vehicle with all the safety equipment listed:</p>

<p>To improve indirect vision, and help drivers see near the vehicle</p>

<ul>
	<li>Class V and VI mirrors</li>
	<li>A fully operational camera monitoring system</li>
	<li>A sensor system with driver alerts</li>
</ul>

<p>To warn road users of intended manoeuvres</p>

<ul>
	<li>An audible vehicle manoeuvring warning for left turns (or right turns if the vehicle is left-hand drive)</li>
	<li>Warning signage</li>
</ul>

<p>To minimise the physical impact of a hazard</p>

<ul>
	<li>Side-underrun protection</li>
</ul>

<p>The <a href="/cdn/static/cms/documents/hgv-safety-permit-guidance-for-operators-entering-london.pdf">Guidance for operators</a> provides more information about how to make a zero star rated vehicle compliant, and ready to apply for a permit.</p>

<p>As part of your application, you will be required to <a href="/info-for/deliveries-in-london/delivering-safely/direct-vision-in-heavy-goods-vehicles/apply-for-an-hgv-safety-permit#photo-guidance">upload two photos</a> that show that Safe System measures have been fitted to the vehicle.</p>

<p>Zero star vehicles with an approved Safe System will be granted a permit until 25 October 2024 (when the <a href="/info-for/deliveries-in-london/delivering-safely/direct-vision-in-heavy-goods-vehicles#progressive">Progressive Safe System</a> will be required for vehicles rated two star or below).</p>

<h2><a id="manufacturers" name="manufacturers"></a>Contact your manufacturer to find your vehicle's DVS star rating</h2>

<p>If we don't know the star rating of your vehicle, we will need information from the manufacturer before we can grant you a permit.</p>

<p>You can contact your manufacturer to request a DVS star rating for your vehicle(s) or to enquire about the rating of a new vehicle. You will need to provide the chassis number (VIN) for existing vehicle(s).</p>

<p>Your manufacturer will then calculate the star rating of your vehicle based on the approved DVS technical protocol and send you a document or email confirming your vehicle's DVS star rating.</p>

<p>If we've asked you to submit a star rating from your manufacturer, you can upload the confirmation they've sent you through the <a href="https://tfl.gov.uk/modes/driving/dvs-contact-us">Make an enquiry</a> form.</p>

<p>We will then update our records so you can apply for a permit. We will aim to respond within 28 days.</p>
</div>
 
<div class="module-grid clearfix">
<div>

<div class="call-to-action-button">
       <a href="https://tfl.gov.uk/modes/driving/dvs-contact-us" class="secondary-button no-hover" >Make an enquiry</a>

    </div>
</div> 
 
</div>
 

<div class="table-container"><table border="1" cellpadding="1" cellspacing="1" style="width:100%">
	<thead>
	</thead>
	<tbody>
		<tr>
			<td style="width:95px"><strong>Manufacturer</strong></td>
			<td style="width:112px"><strong>Contact</strong></td>
			<td style="width:91px"><strong>Phone</strong></td>
			<td style="width:209px"><strong>Email/online form</strong></td>
		</tr>
		<tr>
			<td style="width:95px">DAF</td>
			<td style="width:112px">DAF central engineering</td>
			<td style="width:91px">+44 (0)1844 261111</td>
			<td style="width:209px"><a href="mailto:ukwvta&#64;daftrucks.com">ukwvta&#64;daftrucks.com</a></td>
		</tr>
		<tr>
			<td style="width:95px">Dennis Eagle</td>
			<td style="width:112px">-</td>
			<td style="width:91px">-</td>
			<td style="width:209px"><a href="http://www.dennis-eagle.co.uk/USV">www.dennis-eagle.co.uk/USV</a></td>
		</tr>
		<tr>
			<td style="width:95px">MAN</td>
			<td style="width:112px">Sales engineering</td>
			<td style="width:91px">+44 (0)1793 448000</td>
			<td style="width:209px"><a href="mailto:salesengineering&#64;man.eu">salesengineering&#64;man.eu</a></td>
		</tr>
		<tr>
			<td style="width:95px">Renault</td>
			<td style="width:112px">Product engineering</td>
			<td style="width:91px">+44 (0)1926 401777</td>
			<td style="width:209px"><a href="mailto:DVS&#64;renault-trucks.com">DVS&#64;renault-trucks.com</a></td>
		</tr>
		<tr>
			<td style="width:95px">Scania</td>
			<td style="width:112px">Product engineering</td>
			<td style="width:91px">+44 (0)1908 210 210</td>
			<td style="width:209px"><a href="mailto:product.engineeringuk&#64;scania.com">product.engineeringuk&#64;scania.com</a></td>
		</tr>
		<tr>
			<td style="width:95px">Volvo</td>
			<td style="width:112px">Sales engineering</td>
			<td style="width:91px">+44 (0)1926 401 777</td>
			<td style="width:209px"><a href="mailto:Dvs&#64;volvo.com">Dvs&#64;volvo.com</a></td>
		</tr>
		<tr>
			<td style="width:95px">Mercedes-Benz</td>
			<td style="width:112px">-</td>
			<td style="width:91px">-</td>
			<td style="width:209px">
			<p><a href="mailto:mbtrucks.product&#64;daimler.com">mbtrucks.product&#64;daimler.com</a></p>
			</td>
		</tr>
		<tr>
			<td style="width:95px">Iveco</td>
			<td style="width:112px">Product engineering</td>
			<td style="width:91px">&nbsp;</td>
			<td style="width:209px"><a href="mailto:productengineering&#64;iveco.com ">productengineering&#64;iveco.com</a></td>
		</tr>
	</tbody>
</table></div>


 <div>

<h2><a id="#exemptions" name="#exemptions"></a>Vehicle exemptions</h2>

<p>Certain HGVs and vehicles may be fully or partially exempt. A list of vehicle exemptions and policy can be found in the <a href="/cdn/static/cms/documents/hgv-safety-permit-guidance-for-operators-entering-london.pdf">HGV safety permit guidance for operators entering London (appendix A).</a></p>

<p>Fully exempt vehicles are not required to hold a permit, but you can still apply for one for your records.</p>

<p>Partially exempt vehicles include certain vehicle types which&nbsp;are exempt from specific Safe System requirements, as they make fitting of specific equipment impractical or impossible. Safety evidence photos must still be uploaded for these vehicles to show this, and they still must hold a valid permit.</p>

<h2>An international standard</h2>

<p>The DVS has been developed in consultation with an expert panel of researchers, academics and representatives from the freight industry, Europe's foremost HGV manufacturers and regulatory bodies.</p>

<p>We are also working with other European cities and the European Union to push for long-term improvements by <a href="https://ec.europa.eu/growth/sectors/automotive/safety_en">mandating direct vision in EU vehicle design and safety regulations.</a></p>

<h2>Driver training</h2>

<p>While highly recommended, <a href="https://www.fors-online.org.uk/cms/safe-urban-driving/">driver training</a> is not a mandatory requirement for obtaining a permit.</p>

<h2>Changes to LEZ standards from 26 October 2020</h2>

<p>From 26 October 2020, <a href="https://tfl.gov.uk/modes/driving/low-emission-zone/changes-to-the-lez">Low Emission Zone (LEZ) emissions standards will be tougher.</a> Heavy vehicles including lorries, buses and coaches will need to meet Euro VI (NOx and PM) emissions standards or pay a daily charge to drive within the Greater London area.</p>
</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/info-for/deliveries-in-london/index" class="heading">
                    <h2 id="sub-menu-heading">Deliveries in London<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/deliveries-in-london/delivering-efficiently">Efficient deliveries</a></div></li>
                            
 
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/deliveries-in-london/delivering-safely">Delivering safely</a></div>
                                <ul>
                                    
                                <li><div class="link-wrapper"><a href="/info-for/deliveries-in-london/delivering-safely/driving-near-vulnerable-users">Driving near vulnerable users</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/deliveries-in-london/delivering-safely/safer-lorry-scheme">Safer Lorry Scheme</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/deliveries-in-london/delivering-safely/work-related-road-risk">Work Related Road Risk </a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/deliveries-in-london/delivering-safely/direct-vision-in-heavy-goods-vehicles">Direct Vision Standard and HGV Safety Permit</a></div>
                                        <ul>
                                            
                                                <li class="selected"><div class="link-wrapper"><a href="/info-for/deliveries-in-london/delivering-safely/direct-vision-in-heavy-goods-vehicles/dvs-star-ratings-and-safe-system">DVS star ratings and Safe System improvements</a></div>
                                            
 
                                        <li><div class="link-wrapper"><a href="/info-for/deliveries-in-london/delivering-safely/direct-vision-in-heavy-goods-vehicles/apply-for-an-hgv-safety-permit">Guidance for the HGV Safety Permit</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/deliveries-in-london/delivering-safely/direct-vision-in-heavy-goods-vehicles/direct-vision-for-hgvs-research-and-tools">Direct Vision for HGVs Research and Tools</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                </ul>
                            </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/deliveries-in-london/delivering-legally">Delivering legally</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/deliveries-in-london/delivering-goods-by-water">Delivering goods by water</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/deliveries-in-london/training-courses-and-events">Training courses and events</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
























<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "How to get a DVS star rating for your HGV and make it safer with Safe System measures.";}
        
            
        


 