


@{ViewBag.Title = "&pound;4 billion road modernisation programme gets underway";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2015">2015</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2015/march">March</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">£4 billion road modernisation programme gets underway</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>£4 billion road modernisation programme gets underway</h1>
        <div class="content-page-press-release">
        25 March 2015
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        TfL takes 'Games-style' approach to managing traffic as &pound;4 billion road modernisation programme gets underway
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Our &pound;4bn Road Modernisation Plan is creating a greener, safer and more attractive London, including a radical improvement in conditions for cyclists. This programme is changing London for the better and we must work with Londoners, businesses, boroughs and others to help people adapt"</div>
        <div class="quote-footer">
            <div class="quotee-name">Leon Daniels</div>
            <div class="quotee-job-title">Managing Director of Surface Transport, Transport for London</div>
        </div>
</div>

 <div class="on-this-page">
<ul>
    <li>Far-reaching plan will deliver a greener, safer and more attractive road network for London</li>
    <li>Huge range of information being made available to help Londoners and businesses adapt to a changing road network</li>
    <li>Action being taken to reduce deliveries during peak hours where possible</li>
    <li>Part of the Mayor and TfL's wider effort to radically improve the efficiency, safety and reliability of London's roads</li>
</ul>
<p>Transport for London (TfL) has today set out plans for a 'Games-style' approach to keeping London's traffic flowing as a far-reaching programme to improve London's roads gets underway.</p>
<p>The continuing success of London means that the number of people living in the city is growing at a faster rate than anywhere else in Europe, from 8.6 million today to an expected 10 million in 2030. Alongside huge investment to improve public transport, TfL is investing &pound;4 billion to modernise the road network to adapt it for the 21st century.</p>
<p>This programme, which forms part of the Mayor and TfL's wider effort to achieve a 40 per cent reduction in the number of people killed or seriously injured by 2020, aims to radically improve the efficiency, safety and reliability of the road network. It will deliver world class urban realm, cycling and pedestrian facilities and support new jobs and homes at locations such as Elephant and Castle and Vauxhall gyratory. Congestion will be tackled by improving the network performance at key locations and repairs will be made to ensure London's roads are fit for purpose.</p>
<h2>Transformational Projects</h2>
The Road Modernisation Plan includes hundreds of transformational projects to improve life in the Capital, through the creation of new cycle routes, upgraded traffic signals, crossings, pavements and highways, and build re-designed, safer junctions at Stockwell, Oval, Archway, Vauxhall Bridge and other key locations. This week Londoners backed plans for major junction improvements at Stockwell and Archway and work has begun at Oval junction, including the creation of new segregated cycle lanes.
<p>Some of the key parts of the plan include:</p>
<ul>
    <li>17 major road schemes to create better public spaces and support development and economic growth;</li>
    <li>33 junction improvement programmes to make them safer for everyone;</li>
    <li>Four new cycle superhighways and improvements to four existing routes;</li>
    <li>A programme to modernise traffic signals and install Pedestrian Countdown to improve road safety;</li>
    <li>Maintenance and modernisation of essential roads, bridges and tunnels including innovative work to repair the Hammersmith flyover;</li>
    <li>Replacing more than 1,000 streets lights each year with energy efficient LEDs and planting more than 500 trees.</li>
</ul>
<p>This modernisation represents the biggest investment in London's roads in a generation, and means that the number of projects underway on the city's streets is increasing significantly. Alongside the TfL projects and a large number of road schemes delivered by London Boroughs, there is substantial private sector investment underway in new housing, retail and office development.</p>
<p>This is creating demands for new public spaces and less traffic-dominated streets. It also means that the number of other work sites, and deliveries to them, are on the rise. As a result there will be a significant impact on London's roads, particularly in central London and on routes into the centre.</p>
<p>In response, TfL's traffic engineers have developed sophisticated traffic management plans to limit the impacts on road users. Sensors are being buried in carriageways across London to detect real-time traffic conditions at junctions and optimise traffic light timings to reduce delays. More than half of all junctions in London now use this 'SCOOT' technology, which has proven to reduce delays by up to 12 per cent at each junction where it has been installed, and three quarters will be fitted with it by 2018.</p>
<p>In central London around 90 per cent have now been fitted with the technology and by 2018 virtually all junctions will have it. TfL's London Streets Traffic Control Centre is also continuously managing traffic across London 24 hours a day, utilising state of the art technology to ensure that key routes and junctions are controlled in real-time.</p>
<p>With 90 per cent of goods moved around London by road, TfL's existing programme of tailored advice to operators, businesses, business groups, industry bodies, boroughs and others is being stepped up. Re-timing deliveries to occur outside the peak times of 07:00-13:00 or routing them away from the busiest locations will ensure these vital deliveries can still be made and consolidating deliveries into single trips can also save businesses money and time.</p>
<p>TfL is bringing together these groups and businesses in a special event in April to co-ordinate and drive forward this vital work. Everyone who attends will be asked what they can do to reduce the impact of freight traffic on London's roads and communities.</p>
<p>Other ways in which TfL is working with freight operators and businesses to help them adapt to the changes include:</p>
<ul>
    <li>Regular briefings and bulletins to the freight industry and other businesses;</li>
    <li>Face to face engagement with, and email updates to, businesses along affected routes;</li>
    <li>An updated online road impact tool that allows freight operators to see up to 12 months ahead and an impact estimate for each set of works;</li>
    <li>Providing postcode data for the impact areas so that operators can plug into route-planning systems, and making this data available for use by app developers;</li>
    <li>Publication online of time of day impact maps by month for each of the main modernisation schemes.</li>
</ul>
<p>Another key part of the work to limit disruption is TfL's 'Lane Rental scheme', which targets road works at the busiest locations and busiest times. It is already seeing over 90 per cent of work carried out during quieter periods &#45; massively reducing disruption. TfL's wide-ranging work to reduce road collisions is also helping to reduce road delays. Some 30 per cent of unplanned congestion is caused by collisions.</p>
<h2>Making Progress </h2>
<p>Huge progress has already been made in reducing the number of collisions in London and TfL is working to reduce the number of people killed or seriously injured on London's roads by 40 per cent by 2020, including through safer junctions, additional enforcement, modernised digital safety cameras and targeted road safety campaigns. Through the new Roads &amp; Transport Policing Command, targeted police enforcement is already being carried out at the busiest locations and known hotspots to boost safety for all road users and reduce delays.</p>
<p>Leon Daniels, Transport for London's Managing Director of Surface Transport, said: </p>
<p>'Our &pound;4bn Road Modernisation Plan is creating a greener, safer and more attractive London, including a radical improvement in conditions for cyclists. This programme is changing London for the better and we must work with Londoners, businesses, boroughs and others to help people adapt.</p>
<p>'However, just like with the recent upgrades on the Underground, Londoners will find that there are more modernisation projects underway that affect their journeys. Just as we did during the London 2012 Games, we're utilising the latest technology to manage the road network and limit disruption. We're also working with businesses to re-time deliveries outside of peak times and are providing a huge range of detailed travel information, advice and tools so that, wherever possible, road users can plan ahead and avoid hotspots.'</p>
<p>Tens of thousands of leaflets are being provided to residents and businesses who may be affected by modernisation work, providing detailed advice on the key times and locations that work will be carried out and giving alternative travel options. In addition, radio, press and digital advertising, social media, TfL's website and regular customer emails are all being used to give road users the very latest information.</p>
<p>TfL's website will have month-by-month breakdowns of the build programmes for all the schemes, showing the locations of the different phases of the builds and the areas where traffic may be affected. Businesses can search on a postcode-by-postcode basis to ensure that any potential delays are factored into delivery route planning.</p>
<p>Roadside message signs will also alert drivers to any closures and live travel information will be provided at <a href="http://www.tfl.gov.uk/trafficnews">www.tfl.gov.uk/trafficnews</a> and on Twitter at &#64;tfltrafficnews and &#64;tflbusalerts.</p>
<p>All road users are advised to check the TfL website to see if they are affected and to get all the information they need to steer clear of delays. Drivers are advised to avoid driving through affected areas and to use alternative routes where possible. If they have the flexibility to do so, drivers are encouraged to travel outside of the busiest times so they can have a quicker and more reliable journey.</p>
<p>Ruth Duston, Chief Executive of The Northbank Business Improvement District, representing businesses in the Strand, Aldwych and Embankment area, said: </p>
<p>'We recognise the huge benefits from improvements to our streets and social spaces. But to do this in a city like London, we also understand it's a case of short term pain for longer term gain. The information TfL is committing to provide is precisely what businesses will need to keep moving around Central London and wider.'</p>
<p>Graham Bradley, UK Country Manager at INRIX, said: </p>
<p>'It's fantastic Transport for London is investing in the digital London of tomorrow to ease congestion and support more efficient transportation across the capital. INRIX's traffic data analysis has found that TfL's roads modernisation programme could reduce congestion by more than 20 percent - supporting people and goods to move freely and reinforcing London's status as one of the world's leading Smart Cities. As our recent study found that the risk of congestion could cost London's economy &pound;9.3 billion in 2030, today's announcement is a critical step towards enhancing London's future economic prosperity and livability as it becomes more populous.'</p>
<p>For more information about TfL &pound;4bn Road Modernisation Plan, visit <a href="http://www.tfl.gov.uk/roads">www.tfl.gov.uk/roads</a></p>
<p>For detailed information on the impact on central London and to see the range of travel advice and planning tools available, visit <a href="http://www.tfl.gov.uk/roadtraveladvice">www.tfl.gov.uk/roadtraveladvice</a></p>
<p>&nbsp;</p>
<hr />
<p>Notes to Editors:</p>
<ul>
    <li>Images of the various Road Modernisation Plan projects can be found at <a href="https://www.flickr.com/photos/tflpress/sets/72157651079069627">https://www.flickr.com/photos/tflpress/sets/72157651079069627</a></li>
    <li>Working closely with partners across London, TfL successfully managed the impact of the London 2012 Games on the Capital's road and transport network and will do so again.</li>
    <li>Modernisation projects underway this Spring and Summer include:</li>
</ul>
<ol>
    <li>North-South Cycle Superhighway: 3 mile segregated route from Elephant and Castle to Kings Cross via St George Circus and Blackfriars bridge. Will link into the East-West cycle route by Blackfriars station. Construction is now underway and will be completed by Spring 2016.</li>
    <li>East-West Cycle Superhighway: Once fully completed will see an 18 mile substantially segregated cycle route from Barking to Acton. The central section of the route will go past the Tower of London, along the Victoria Embankment and through Hyde Park, helping to encourage thousands of new cyclists to commute through London. Junctions will be upgraded to provide space for cyclists. Begins construction in April and will be completed during 2016.</li>
    <li>Cycle Superhighway 1: New quiet back road and segregated routes from Tottenham to the City of London, running parallel to the A10. Includes redesign of Apex Junction to make it safer for all road users.</li>
    <li>Upgrade to existing Cycle Superhighways including route wide upgrade to CS2 in east London and improvements along CS3, CS7 and CS8: Improving existing routes with safer junctions and new segregation to protect cyclists. Construction on upgrade to CS2 in February. Work on CS8 and CS3 is to be carried out later this year.</li>
    <li>Elephant and Castle Better Junction scheme Improvements will see the roundabout radically transformed into a new peninsula with segregated cycle tracks and a new, more accessible public space. Construction on the new road layout will begin in July and be completed by March 2016.</li>
    <li>Oval Better Junction scheme Improvements include segregated and mandatory cycle lanes through the junctions and redesigned pedestrian crossings. Work is now underway and will complete in early 2016.</li>
    <li>Archway Better Junction scheme Improvements will remove the gyratory, returning traffic to two-way traffic, segregated and mandatory cycle provision through the area and redesigned pedestrian crossings. A new public space will also be created, with work due to begin in early 2016.</li>
    <li>Redesign of Stockwell Gyratory Improvements will remove gyratory, returning traffic to two-way working as well as create a brand new public space. Subject to the outcome of the consultation, work will begin later this year.</li>
    <li>Work to completely re-strengthen the1960's Hammersmith flyover on the A4 is near complete, allowing it to continue to serve the area for the next 20 to 30 years. This work is mainly taking place overnight and at weekends to help avoid traffic disruption.</li>
    <li>Restoring Grade II listed Chiswick Bridge Major restoration work to restore the 80 year old bridge to its former glory. Work &#45; which is nearing completion - has seen the structure of the bridge repaired, as well as heritage features restored</li>
</ol>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/december">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/april">April</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/march">March</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2015-March-£4 billion road modernisation programme gets underway -->

 
 
        
        
            @{ViewBag.Description = "TfL takes ‘Games-style’ approach to managing traffic as £4 billion road modernisation programme gets underway";}
        
        


 