


@{ViewBag.Title = " Catch the rainbow! ";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2015">2015</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2015/march">March</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb"> Catch the rainbow! </span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1> Catch the rainbow! </h1>
        <div class="content-page-press-release">
        02 March 2015
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Iconic New Routemaster bus wrapped in rainbow livery to celebrate London's diversity
        
    </div>



 <div class="on-this-page">
<p>Londoners and visitors to the Capital are set to board the world's first rainbow bus in passenger service today as Transport for London (TfL) and bus operator, Stagecoach London, team up to celebrate and support diversity in the city.</p>
<p>With London being one of the most diverse cities in the world and the tourism capital of the world, TfL and Stagecoach London have created a special rainbow design based on the symbolic rainbow flag to celebrate the people who live, visit and work in the city. The rainbow is wrapped on a red New Routemaster which will remain in operation for a year.</p>
<p>The bus will mainly operate on route 8, which runs between Bow Church and Tottenham Court Road, passing by famous landmarks such as St Paul's Cathedral and Brick Lane.</p>
<p>The rainbow bus also marks the 10th anniversary of TfL's Lesbian, Gay, Bisexual and Transgender (LGBT) staff network group, OUTbound. Over the last decade, the group has made a great contribution to the way TfL staff are treated, as well as the wider LGBT+ community when they are travelling on London's transport network.</p>
<p>Leon Daniels, Managing Director of Surface Transport said: `The rainbow bus is a great addition to the streets of London and is a wonderful way for us to celebrate diversity in this great city. London is the tourism capital of the world and it is fantastic that everyone who lives, visits or works in London will have an opportunity to see this bus while it's in service.  It's a fantastic commitment by Stagecoach to sponsor the wrapping of this bus.'</p>
<p>The rainbow bus follows on from the success of London's first rainbow zebra crossing, which was rolled out in support of Pride in London 2014 outside Arsenal Tube station in support of anti-homophobia in sport campaign and at Trafalgar Square to mark the legalisation of same-sex marriage.</p>
<p>Martyn Loukes, Chair of OUTbound, said: 'Following on from the fantastic success of the rainbow crossing last year, we wanted to create a new LGBT icon for London.  What could be more iconic than a big red bus with the rainbow flag emblazoned on it, celebrating diversity and 10 years of our LGBT+ network at TfL.  Hop on board and Ride with Pride.'</p>
<p>Mark Threapleton, Managing Director for Stagecoach London said: 'We're delighted to be able to support this important TfL project by wrapping one of our world famous buses for the year. This will be a travelling advertisement, spreading the message of diversity to the hearts of our communities and to visitors from across the world. We look forward to the bus raising a smile and awareness wherever it goes.'</p>
<hr />
<ul>
    <li>Images of  the rainbow bus are available on at: <a href="https://www.flickr.com/photos/tflpress/sets/72157650684778049/">https://www.flickr.com/photos/tflpress/sets/72157650684778049/</a> </li>
    <li>The New Routemaster is the first bus for more than 50 years to be built specifically for London.  Almost 400 New Routemaster buses currently operate across 11 bus routes (8, 9, 10, 11, 24, 38, 55, 148, 390 and 453).  By May 2016 a total of 800 of these vehicles will be in passenger service.  New Routemaster buses are built by Wright Bus in Ballymena, Northern Ireland, and components for the buses come from across the UK</li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/december">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/april">April</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/march">March</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2015-March- Catch the rainbow!  -->

 
 
        
        
            @{ViewBag.Description = "Iconic New Routemaster bus wrapped in rainbow livery to celebrate London’s diversity";}
        
        


 