


@{ViewBag.Title = "Bus stop accessibility doubles since 2008";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2015">2015</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2015/march">March</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Bus stop accessibility doubles since 2008</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Bus stop accessibility doubles since 2008</h1>
        <div class="content-page-press-release">
        11 March 2015
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        80 per cent of bus stops now accessible after &pound;8.4m investment
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"We are now well on our way to reaching the 95% target for accessible bus stops as set out in the Mayor's accessibility action plan"</div>
        <div class="quote-footer">
            <div class="quotee-name">Isabel Dedring</div>
            <div class="quotee-job-title">Deputy Mayor for Transport</div>
        </div>
</div>

 <div class="on-this-page">
<p>The Mayor and TfL have today confirmed that the number of accessible bus stops in the Capital has risen by more than 50% since 2008.</p>
<p>Latest figures show that bus stop accessibility has improved dramatically over the last few years - rising from 29% in 2008 to the current 80% level. An &pound;18m investment announced in 2013 has put the bus stop accessibility programme on track to ensure that at least 95% of bus stops on London's roads will be accessible by 2016.</p>
<p>TfL has worked closely with local authority partners to achieve this as a significant proportion of the Capital's 19,500 bus stops are not on the TfL Road Network (TLRN). Across the TLRN 95% of stops already are accessible - with a target of 99% to be achieved by 2016.</p>
<p>Being accessible means that stops have a kerb that's high enough for the wheelchair ramp to deploy and for the step into the bus to be at a reasonable height for older or disabled people to board. It also means there's a protected 'clearway' so only buses can use the stop and it is free from any street furniture or clutter blocking access to the doors.</p>
<h2>Ten years ahead</h2>
<p>All 8,700 buses in the TfL fleet (apart from a small number of heritage Routemaster buses operating for tourists on route 15) are low floor, wheelchair accessible and fitted with wheelchair ramps. Low floor, wheelchair accessible buses were introduced on all routes in London by the beginning of 2006, ten years ahead of the legal requirement set out by the Disability Discrimination Act. Buses are also able to 'kneel' to pavement level to make it easier for older or disabled passengers to board.</p>
<p>The &pound;18m funding for bus stop accessibility is part of a wider programme, announced by TfL and the Mayor in 2013, that will see hundreds of millions of pounds invested in accessibility improvements across the Capital's public transport network - including a further 28 step-free London Underground and London Overground stations over the next 10 years. To date &pound;8.4m of the &pound;18m has been used to fund these accessibility works with around &pound;5m expected to be invested in both 2015/16 and in 2016/17.</p>
<p>Isabel Dedring, Deputy Mayor for Transport, said: 'We are now well on our way to reaching the 95% target for accessible bus stops as set out in the Mayor's accessibility action plan. Of course, we will be working hard to look for ways to go beyond this target, but this is an important step forward in giving all Londoners the freedom to travel around our city more easily.'</p>
<h2>Significant step</h2>
<p>Leon Daniels, TfL's Managing Director of Surface Transport, said: 'We continue to do all that we can to improve in this area and to ensure that our staff and services meet all accessibility needs - reaching the 80% milestone for bus stop accessibility is a significant step. London has the most accessible bus fleet in the world with each of its 8,700 buses low floor, wheelchair accessible and fitted with a wheelchair ramp. On-board audible and visual announcements are also used across our bus and rail networks to help people with sight and hearing loss.'</p>
<p>Janet Cooke, Chief Executive of London TravelWatch, said: 'Over the last few years we have been pushing for improvements to be made at bus stops so that they meet the needs of all passengers so it is very good news that 80% of London's bus stops are now accessible. However, there is still more work to be done and we look forward to supporting TfL and the London Boroughs as they work towards their target of making 95% of all London's bus stops accessible by 2016.'</p>
<p>Around 95% of London residents live within 400 metres of a bus stop, and the vast majority of these can be used by all bus passengers, including wheelchair users.</p>
<p>The iBus system is also fitted to every bus in London. It provides passengers with audio and visual next stop information, which is of particular use to passengers with sight or hearing impairments or anyone who is unfamiliar with London.</p>
<p>&nbsp;</p>
<hr />
<p>Notes to editor</p>
<ul>
    <li>In nine boroughs the 95% target has already been met - City of London, Hackney, Hammersmith &amp; Fulham, Harrow, Islington, Kingston upon Thames, Kensington &amp; Chelsea, Sutton and Tower Hamlets.</li>
    <li>There are a number of bus stops across London that are currently extremely difficult to make fully accessible or where the cost of doing so is prohibitive. Situations which fall into this category are where the stop is located on common land and not on a pavement, which often means there is no accessible way to get to the stop, or where there are triple kerbs, such as outside the Royal Albert Hall on Kensington Gore, which would mean significant work to the road and pavement to make the stop accessible.</li>
    <li>As part of TfL's accessibility improvement work the remaining 5% of pedestrian crossings yet to be brought up to accessibility standards will be upgraded with tactile paving, rotating cones or audible alerts. Thirty-nine sites will be upgraded by March, with 100% to be accessible by 2016. Further improvements include permanent level access at new stations, permanent raised platform sections, low-floor trains and boarding ramps making getting around the network much easier. By 2016, a third of Tube platforms will have level access by one of these means, up from 15% in 2013.</li>
    <li>Since TfL was formed in 2000 it has invested heavily in London's bus network - resulting in a 69% increase in passenger numbers. London Buses now carry more than 2.4 billion passengers a year, which equates to half of all bus journeys made in England. In recognition of the continued need to invest in bus services - with a increase in demand from the city's rapidly growing population - TfL's latest Business Plan has dedicated around &pound;500m to improve the network over the period from 2015/16 to 2020/21.</li>
    <li>This will include funding for over 500 extra buses, which will create capacity for an extra 2.9 million customer journeys each week. There is also an additional &pound;200m which will be invested in supporting the reliability of the bus network at a local level with bus priority schemes. A further &pound;25m will be used to fund customer-focused bus driver training to improve customer service.</li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/december">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/april">April</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/march">March</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2015-March-Bus stop accessibility doubles since 2008 -->

 
 
        
        
            @{ViewBag.Description = "80 per cent of bus stops now accessible after £8.4m investment";}
        
        


 