


@{ViewBag.Title = "Consultation shows strong support for revamped Vauxhall";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2015">2015</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2015/march">March</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Consultation shows strong support for revamped Vauxhall</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Consultation shows strong support for revamped Vauxhall</h1>
        <div class="content-page-press-release">
        27 March 2015
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Almost 80% of responses support initial proposal to remove Vauxhall Cross gyratory and return to two-way streets
        
    </div>



 <div class="on-this-page">
<p>Initial proposals for a major overhaul of Vauxhall Cross were given the thumbs up by local residents and commuters today, as 77% said they supported Transport for London (TfL) and Lambeth Council's plans to return the gyratory to two-way working.</p>
<p>The Vauxhall Cross gyratory proposals, which are part of TfL's &pound;4bn Road Modernisation Plan, would involve removing the gyratory and returning local streets to two-way working &#45; improving the area for all road users. They also involve making improvements to the rail, bus and Tube interchange for public transport users and creating a safer environment for the growing number of pedestrians and cyclists in the area.</p>
<p>Vauxhall is at the gateway of Nine Elms on the Southbank, one of Europe's major areas of regeneration and a vital part of the Mayor of London's plan to deliver more jobs and homes for London's growing population. The removal of the gyratory system would support current investment in the area, helping to create new retail, commercial, residential, employment and training opportunities and attract further investment to the area. This is one of a number of major gyratories that TfL and London's boroughs are looking at removing over the next ten years.</p>
<p>An extensive consultation was undertaken targeting all affected stakeholders, residents, businesses and passengers on the general concepts of the scheme. Around 25,000 leaflets were distributed to the local community and three joint exhibitions were organised for officers to explain the proposals in more detail and listen to the views of the public.</p>
<p>The consultation results showed that almost two thirds (63%) of people who responded supported the plans to redesign the existing bus station at Vauxhall, providing safer, more attractive and more accessible facilities. More than 42,000 bus passengers use Vauxhall bus station every day and the proposed plans would ensure that the current interchange between buses and the rail and Tube station is protected and enhanced, helping to accommodate the projected rise in passengers using the interchange.</p>
<p>TfL and Lambeth Council are committed to engaging with key stakeholders throughout the next stage of design to ensure that they have the opportunity to help shape the plans, which will form part of the second public consultation at the end of 2015. Detailed information about the two-way operation of the road network, surrounding public realm, and the enhanced bus station, will be included in this consultation, and subject to the outcome, work could begin in 2018.</p>
<p>Earlier this month, preliminary work on Cycle Superhighway 5 from Pimlico to Oval through Vauxhall began, with the main work on a continuous, largely segregated two-way cycle track through the area ramping up in the coming weeks. The first sections of the route are expected to be completed by summer with the whole route completed by the autumn.</p>
<p>Leon Daniels, Managing Director of Surface Transport at TfL, said: &quot;Vauxhall Cross is a major junction in central London and the positive results from this initial consultation are extremely welcome. These ambitious plans will improve facilities for all road users, especially bus passengers, pedestrians and cyclists, by simplifying the road network through the area and returning the streets to two-way working. As with every consultation, there have been some comments and concerns with our proposals and we will now work hard to address them as best as we can as we work up more detailed designs, which we will fully consult on later this year.&quot;</p>
<p>Cllr Jack Hopkins, Cabinet Member for Jobs and Growth at Lambeth Council, said: "This shows overwhelming support from local people, businesses and passengers for improving Vauxhall. For too long, Vauxhall's potential as an attractive and vibrant town centre has been overshadowed by traffic and the gyratory. We look forward to the next stage of consultation that will set us on a path to realising that ambition."</p>
<p>The improvements to the Vauxhall area would also complement the ongoing &pound;36m Vauxhall Tube station upgrade, which will provide step-free access to the Victoria line and reduce congestion. The number of passengers using Vauxhall Tube station is set to increase by 40%&nbsp; over the next few years and in order to create extra space, the ticket hall is being reconfigured to enlarge it and increase the number of ticket gates, reducing congestion within the station. The Tube station has remained open during the work, which is now more than halfway complete, and remains on course to be completed by the end of the year.</p>
<p>TfL is working to support a huge increase in jobs, businesses and homes in Vauxhall, Nine Elms and Battersea, which is one of the Mayor's 33 key Opportunity Areas. Key projects include extending the Northern line, making major improvements for walking and cycling, and enhancing bus services. The overall improvements to the Vauxhall area have been supported by the Mayor's growth fund.</p>
<p>Further information on improvements in the Vauxhall area are available here: <a href="http://www.tfl.gov.uk/vauxhall-cross">www.tfl.gov.uk/vauxhall-cross</a>  and <a href="http://www.tfl.gov.uk/CS5">www.tfl.gov.uk/CS5</a></p>
<p>Ends</p>
<p>Notes to editors:</p>
<ul>
    <li>The proposed changes to Vauxhall Cross gyratory would form part of the wider work being carried out across London as part of TfL's Road Modernisation Plan. With a budget of over &pound;4 billion from now until 2020/21, this overarching plan represents the biggest investment in London's roads in a generation, including hundreds of transformational projects within the existing road network. Using radical ideas and innovative designs, the plan will make London's roads greener, safer and more attractive for the benefit of all road users.</li>
    <li>A wider traffic management plan for central and inner London is currently being implemented to help reduce the traffic impacts of this scheme and others. This will include investing in advanced traffic signal technology to better manage traffic depending on differing conditions at any given time. Updated information will also be provided to satellite navigation companies so that devices can incorporate the changed routes through the area. Further traffic modelling will be carried out during 2015 and provided as part of the next stage of consultation.</li>
    <li>A report of the consultation for Cycle Superhighway 5 can be found here: <a href="http://www.tfl.gov.uk/cs5-harleyford-road">http://www.tfl.gov.uk/cs5-harleyford-road</a></li>
    <li>The section of CS5 between Pimlico and Belgravia is being developed in partnership with Westminster City Council. The Council is considering the responses to consultation and will consult on detailed proposals for this section of route in the future.</li>
    <li>To help deliver its &pound;4 billion Road Modernisation Plan, TfL has already begun to expand its innovative SCOOT technology, which can change traffic signal timings based on traffic levels second by second, from half of all signals to three quarters of all signals. Hundreds of staff are already working 24/7 to monitor the network.</li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/december">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/april">April</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/march">March</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2015-March-Consultation shows strong support for revamped Vauxhall -->

 
 
        
        
            @{ViewBag.Description = "Almost 80% of responses support initial proposal to remove Vauxhall Cross gyratory and return to two-way streets";}
        
        


 