


@{ViewBag.Title = "Finsbury Park station - new entrance and step-free access";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2015">2015</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2015/march">March</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Finsbury Park station - new entrance and step-free access</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Finsbury Park station - new entrance and step-free access</h1>
        <div class="content-page-press-release">
        16 March 2015
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Station to become step-free in latest push for a more accessible transport network
        
    </div>



 <div class="on-this-page">
<p>Finsbury Park Underground station is set to be transformed over the next few years as part of London Underground's (LU) &pound;10 billion programme of continuous improvement.</p>
<p>When the upgrade is complete Finsbury Park Tube station will be step-free, passengers will have more space and journeys through the station will be quicker and more pleasant.</p>
<p>Finsbury Park Tube station is the fourth busiest Underground station outside of zone one &#45; the number of people using the station during the week has increased by 20% since 2010, and is expected to continue to grow.</p>
<p>From Monday 20 April, ticket gates will be installed at Station Place and Seven Sisters Road entrances to increase security at the station, provide improved journeys through the station and reduce fare evasion.</p>
<p>A new, larger and more accessible western station entrance will open in early 2018 and by 2019 LU will install lifts to provide step-free access to all Tube platforms.</p>
<p>This is a complex project that needs to be carefully co-ordinated with work on a development project adjacent to the station. The adjacent development has now received planning permission from the London Borough of Islington to proceed, which will include construction of the new Western station entrance. This development will support economic growth, jobs and affordable homes in the area.</p>
<p>As part of the improvements at Finsbury Park Tube station LU has already doubled the capacity of spiral staircases to improve customer journeys as they interchange between Tube and National Rail platforms.</p>
<p>David Waboso, Capital Programmes Director for London Underground, said: `Finsbury Park Underground station is extremely busy, with over 27 million people using it annually, and with population growth on the rise it is set to get busier.  When the upgrade is completed the Finsbury Park Tube station will be step-free, passengers will have more space and journeys through the station will be quicker and more pleasant.</p>
<p>Other improvements to Finsbury Park station that customers will see include enhanced CCTV and customer information as well as new ticket machines and improved ambience at Seven Sisters Road and Station Place entrances.</p>
<p>London's population is set to grow from 8.6m today to around 10m by 2030 &#45; that's an extra Tube train full of  people every three days &#45; and it is therefore essential that there is continued investment in increasing services and transport infrastructure to meet this increasing demand.</p>
<p>To support this, LU is carrying out a huge programme of modernisation, with major stations, trains, track and control systems being updated or replaced to provide more capacity for a growing city.  Each line is being worked on and LU will, assuming a continued investment programme, see more than a 30% increase in capacity.</p>
<p>Redevelopment work to increase capacity at key stations and make them step-free is underway at places such as Victoria, Tottenham Court Road and Bond Street.  More than half of LU's 270 stations have now been improved to leave them brighter and easier to use, with tactile strips, better CCTV and help points, electronic information displays in ticket halls and on platforms and improved seating and lighting.</p>
<p>New air-conditioned walk-through trains are being introduced on 40% of the LU network. The Circle, Metropolitan and Hammersmith &amp; City lines already have these trains in service and they are now also on the District line &#45; where more trains are due this year.</p>
<hr />
<ul>
    <li>Wells Terrace will close on Monday 20 April 2015</li>
    <li>Closing the Wells Terrace entrance will eventually result in a new, larger, more accessible Finsbury Park Tube station entrance. Keeping this entrance open during construction or constructing a new temporary entrance is not feasible due to the nature of this work</li>
    <li>During construction of the new entrance, customers will be able to access the station via nearby entrances on Seven Sisters Road and Station Place. Buses will continue to serve their normal stops from where customers will be able to follow the short signed walking route to Station Place</li>
    <li>From the current Wells Terrace entrance to the Underground platforms customers currently walk the length of the adjoining long corridor into the station. The alternative walking route into the station via Station Place is only approximately one hundred metres further than the existing route and is expected to take only a little over a minute longer than the current route, based on average walking speed</li>
    <li>LU has undertaken a thorough congestion analysis for both the on-street approaches and within the station to ensure that the temporary closure can be safely managed.  This included the Stroud Green Road pavement to ensure that the route between Wells Terrace and Station Place can accommodate all those using the pavement.  Even during the busiest times of the day at the narrowest points, the pavement is sufficiently wide enough &#45; as according to our planning capacity guidelines &#45; to accommodate these numbers</li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/december">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/april">April</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/march">March</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2015-March-Finsbury Park station - new entrance and step-free access -->

 
 
        
        
            @{ViewBag.Description = "Station to become step-free in latest push for a more accessible transport network";}
        
        


 