


@{ViewBag.Title = "Free the Night exhibition opens at Westminster Station";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2015">2015</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2015/march">March</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Free the Night exhibition opens at Westminster Station</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Free the Night exhibition opens at Westminster Station</h1>
        <div class="content-page-press-release">
        12 March 2015
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        'Free the Night exhibition' marks 6 months to go until launch of Night Tube services in September
        
    </div>



 <div class="on-this-page">
<p>For the first time ever, works by some of the world's leading photographers present and past - including Sam Taylor Johnson OBE, Nick Knight OBE, Sir Cecil Beaton, Juergen Teller, Corinne Day and Rankin - have gone on display in the iconic Westminster Underground station as part of a new 'Free the Night exhibition' that marks six months to go until the launch of Night Tube services on the Underground.</p>
<p>The innovative display, delivered in partnership with Annin Arts Gallery, features 24 large-scale photographic works - some 9 foot by 6 foot in size - arranged in the station's alcoves. The pieces celebrate the capital's rich history of arts and culture and capture a range of perspectives on the night time and its possibilities for the 140,000 customers who use the station each day.</p>
<p>The works include a 1920s ballroom dance by Sir Cecil Beaton, American rock n roll legend Bruce Springsteen captured outside Hammersmith Odeon in 1979 by Chalkie Davies, and a photograph of a Tube worker on his way home taken by iconic British fashion and portrait photographer Rankin.</p>
<p>The exhibition, which runs until 12th April, also includes photographs by artists who have captured London on camera throughout the decades such as Mary McCartney, Bob Mazzer, Tom Beard, Matthew Stone, Dave Swindells, Zoe Buckman, and others.</p>
<p>This is the first of a series of 'Firsts for the Tube' that will include various unique events taking place on and around the Underground network ahead of all-night weekend services commencing on 12 September.</p>
<p>The Night Tube is set to transform night time journeys across London for millions of people, cutting journeys by an average of 20 minutes, with some cut by more than an hour.  The new services, initially serving the Northern, Piccadilly, Central, Victoria and Jubilee lines, will also boost jobs and help maintain London's status as a vibrant and exciting place to live, work and visit. London's night-time economy will be opened up to a host of new opportunities, with the Night Tube supporting around 2,000 permanent jobs and boosting the economy by &pound;360 million.</p>
<p>As the most visited city in the world, London will be joining just a handful of other top world cities, including New York and Berlin, which also provide Underground services through the night.</p>
<p>Mayor of London Boris Johnson, said: `London is set for another revolution &#45; very soon no one will have to cut a great night out short. The introduction of the night Tube will revolutionise the way in which Londoners and visitors travel in the capital.  As well as boosting jobs and the night time economy, it will enable people to get around our 24-hour city more quickly and easily than ever before.'</p>
<p>Gareth Powell, London Underground's Director of Strategy &amp; Service Development, said: `We are now just six months away from the first ever 24-hour services operating on London Underground.  The introduction of the Night Tube, which will cut journey times and open up new possibilities across the night time economy, is a historic step in our modernisation of the Underground and a real 'first' for the Underground that will boost jobs and benefit the economy by hundreds of millions of pounds.</p>
<p>`Over the course of the next few months there will be a series of events following on from this stunning exhibition, that will engage our customers in the possibilities that the Night Tube will bring.'</p>
<p>George Annin, Annin Arts Gallery Director, said: `A 24 hour Tube is a proud moment for London, reflecting our first steps to truly becoming a 24 hour city. Bringing together some of the most influential photographers of the last century to exhibit within Westminster station is a great way to celebrate this &#45; reflecting on our city's past, as well as looking with excitement towards its future.</p>
<p>`Each photograph captures a different idea of the concept of 'Free the Night'. The result is a stunning collection of images, some literal, some conceptual &#45; all depicting the many stories that London has to tell &#45; stories that make it one of the most dynamic and diverse cities in the world.'</p>
<p>Demand for a 24-hour Tube service is clear - late night Tube ridership has increased at double the rate of daytime trips and night bus usage has risen by 270 per cent since 2000.  In order to meet the expected demand for Night Tube services, there will be six trains per hour through central London on all Night Tube lines, including the Jubilee, Victoria and most of the Piccadilly, Central and Northern lines. On the Northern line, there will be eight trains per hour to meet demand at busy stations between Leicester Square and Camden Town.</p>
<p>Delivering on a pledge the Mayor and London Underground made last November, the new service has been made possible thanks to the continued modernisation of significant parts of the LU network and improved levels of reliability.</p>
<p>Introducing a Night Tube service is part of the Mayor of London and LU's huge programme of modernisation, with major stations, trains, track and signalling being updated or replaced to provide more capacity for a growing city.</p>
<p>The line upgrades are at the core of LU's investment programme, which will deliver more than 30 per cent increase in capacity.</p>
<p>Redevelopment work to increase capacity at key stations, and to make them step-free, is underway at a number of stations including Victoria, Tottenham Court Road and Bond Street and more than half of London Underground's 270 stations have now been modernised or refurbished to make them brighter and easier to use, with improvements such as tactile strips, better CCTV and help points, electronic information displays in ticket halls and on platforms, and improved seating and lighting.</p>
<p>Annual investment in Underground and rail in London totals &pound;1.3bn, benefiting the whole country, with 83 per cent of spending going to suppliers based outside London, supporting an estimated 14,500 jobs in the UK's regions.</p>
<p>Notes to Editors</p>
<ul>
    <li>Interviews with TfL officials, contributing photographers and filming in the station available on request.</li>
    <li>A selection of Hi-Res images are available from the TfL Press Office</li>
    <li>Full list of photographers taking part are as follows: Sir Cecil Beaton, Sam Taylor-Johnson OBE, Nick Knight OBE, Corinne Day, Juergen Teller, Rankin, Linda McCartney, Mary McCartney, Tom Beard, Matthew Stone, Walter Hugo and Zoniel, Chalkie Davies, Bob Mazzer, Zoe Buckman, Kevin Morosky, Catherine Holmes, Dave Swindells, Ted Polhemus, Alice Rainis, Nastasia, Naki, John Phillips and Chris Porsz</li>
    <li>For more information about the exhibition and the 'Firsts for the Tube' programme, visit <a href="http://www.tfl.gov.uk/nighttubefirsts">www.tfl.gov.uk/nighttubefirsts</a></li>
    <li>For more information about Night Tube Services go to <a href="http://www.tfl.gov.uk/futuretube">http://www.tfl.gov.uk/futuretube</a></li>
    <li>All costs associated with the display of the 24 images have been met by Annin Arts Gallery.</li>
    <li>It is estimated that the Night Tube will lead to a gross impact of 1,965 permanent jobs. The net additional output produced as a result equates to an additional &pound;360m over 30 years, which is a standard length of time for a transport appraisal.</li>
    <li>The huge Tube improvement programme underway will continue, with billions of pounds of investment to deliver more frequent, reliable and accessible services and enhanced stations, providing greater capacity to tackle increasing numbers of customers.</li>
    <li>Some of the most frequent services anywhere in Europe now serve customers on the Victoria and Jubilee lines. Northern line customers have seen the capacity increased by 20 per cent following the modernisation of the line's signalling, which concluded this year.</li>
    <li>The full independent report into the economic benefits of introducing the Night Tube service is available on the TfL website: <a href="http://www.tfl.gov.uk/futuretube">www.tfl.gov.uk/futuretube</a></li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/december">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/april">April</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/march">March</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2015-March-Free the Night exhibition opens at Westminster Station -->

 
 
        
        
            @{ViewBag.Description = "‘Free the Night exhibition’ marks 6 months to go until launch of Night Tube services in September";}
        
        


 