


@{ViewBag.Title = "Hammersmith flyover westbound - weekend closures in April";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2015">2015</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2015/march">March</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Hammersmith flyover westbound - weekend closures in April</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Hammersmith flyover westbound - weekend closures in April</h1>
        <div class="content-page-press-release">
        31 March 2015
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        There weekend closures will enable final completion of westbound carriageway work
        
    </div>



 <div class="on-this-page">
<p>As part of Transport for London's (TfL's) continuing &pound;4bn Road Modernisation Plan, the Hammersmith Flyover will be closed to westbound traffic for three weekends during April to allow the final repairs to the concrete deck, waterproofing and resurfacing to be completed.</p>
<p>The three weekend closures will take place on the 10-13 April, 17-20 April and 24-27 April.  During the closures, which will be from 10:30pm on Friday until 5am on Monday morning at the latest, affected traffic will be diverted via the road network beneath the flyover and the A40 Western Avenue. Diversions will be clearly signed.</p>
<p>The repairs have been carefully designed to be carried out in the shortest timeframe possible, helping to keep road disruption to a minimum. The work has also been coordinated around other planned work in the local area, including the forthcoming construction of the East-West Cycle Superhighway in central London, which begins in April.</p>
<p>Since October 2013, TfL has been working to complete the final phase of work, strengthening 11 of the flyover's 16 spans (the initial five were repaired in 2012). This work has been primarily carried out overnight to reduce disruption to road users and residents. Work on the structure is progressing well, with the upgrade to the central reservation of the flyover complete and strengthening to the structure now fully under way.</p>
<p>Half of the overnight closures required to replace bearings in the flyover have now been completed with the remaining closures planned in the coming weeks. These bearings allow the flyover to expand in the summer and shrink in the winter by up to 180mm, and replacing them is a crucial part of the work to extend the life of the flyover.</p>
<p>A significant amount of additional work was required to the flyover last year because the concrete supporting the bearings was in a much poorer condition than originally thought. Despite this, the work remains on course to be completed by summer 2015. Full weekend closures to the flyover will be carried out during the coming months to allow TfL to complete the repairs to the two expansion joints within the flyover, which allow the structure to flex as traffic moves across it. The dates of these weekend closures are being confirmed and will be announced well in advance.</p>
<p>Dana Skelley, Director of Asset Management at TfL, said: `Our work to complete vital refurbishment work to the Hammersmith Flyover is progressing really well. These three westbound weekend closures are required to allow us to fully complete the final carriageway repairs as quickly as possible. Our overriding focus when planning the weekend work has been to keep disruption to a minimum and we will ensure that any affected drivers will have a clear, signed diversion route to help them complete their journey.'</p>
<p>TfL has worked with key partners, including the local boroughs, to ensure that the improvement work has been scheduled to be undertaken with the minimum of disruption. TfL has informed and updated all local residents of the refurbishment, as well as other key stakeholders such as businesses and local transport groups. More details about the refurbishment work is available on TfL's website at <a href="http://www.tfl.gov.uk/hammersmithflyover">www.tfl.gov.uk/hammersmithflyover</a></p>
<p>The restoration of the Hammersmith Flyover forms part of the wider work being carried out across London as part of TfL's Road Modernisation Plan. With a budget of more than &pound;4 billion, this overarching plan represents the biggest investment in London's roads in a generation, including hundreds of transformational projects within the existing road network. Using radical ideas and innovative designs, the plan will make London's roads greener, safer and more attractive for the benefit of all Londoners.</p>
<p>For the latest travel information, please visit <a href="http://www.tfl.gov.uk/trafficnews">www.tfl.gov.uk/trafficnews</a> or follow <a href="http://&#64;tfltrafficnews">&#64;tfltrafficnews</a></p>
<hr />
<ul>
    <li>TfL manages and maintains twelve tunnels, as well as more than 1,800 structures on the TfL Road Network, including bridges, flyovers, footbridges, retaining walls, subways and culverts.</li>
    <li>To replace the bearings, the flyover needs to be lifted on jacks to allow the old bearings to be removed and the new bearings to be installed. The jacks lift the flyover between 3 and 10mm, allowing our contractors - working in a space less than 1.5m wide - to replace the bearings. The flyover then needs to be replaced into the exact position onto the new bearings.</li>
    <li>TfL continues to support the London Borough of Hammersmith and Fulham as it works up more detailed proposals for its ambitious plans to create a new road tunnel underneath Hammersmith. Any plan to replace the flyover would need to be funded through the wider redevelopment of the area.</li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/december">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/april">April</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/march">March</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2015-March-Hammersmith flyover westbound - weekend closures in April -->

 
 
        
        
            @{ViewBag.Description = "There weekend closures will enable final completion of westbound carriageway work";}
        
        


 