


@{ViewBag.Title = "Industrial HGV Task Force honoured by safety award";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2015">2015</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2015/march">March</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Industrial HGV Task Force honoured by safety award</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Industrial HGV Task Force honoured by safety award</h1>
        <div class="content-page-press-release">
        11 March 2015
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        IHTF awarded the Carmen's Company RLC Safety Award for 2014
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"We are honoured to accept such a prestigious award for the contribution and dedication the Industrial HGV Task Force has shown in ensuring road safety regulations are met by the construction and waste vehicle industry"</div>
        <div class="quote-footer">
            <div class="quotee-name">Steve Burton</div>
            <div class="quotee-job-title">TfL's Director of Enforcement and On-Street Operations</div>
        </div>
</div>

 <div class="on-this-page">
<p>London's Industrial HGV Task Force (IHTF), funded by Transport for London (TfL) and the Department for Transport (DfT), has been awarded the Carmen's Company RLC Safety Award for 2014, for its outstanding contribution to transport safety.</p>
<p>The Worshipful Company of Carmen's Royal Logistic Corps Safety Award is an annual ceremony honouring outstanding contributions in the field of transport safety, of national or international significance, recognised by the Company in the previous year. The award ceremony was held on Tuesday 10 March at the Livery Banquet, Mansion House, with the attendance of Sheriff Fiona Adler.</p>
<p>The Task Force was awarded for being an excellent example of the first permanent multi-agency team dedicated to targeting offences by the most dangerous commercial vehicles. They have conducted over 200 roadside operations, stopped over 3,000 vehicles, issued more than 1,500 roadworthiness prohibitions, and seized 41 dangerous vehicles, issuing 25 prosecutions.</p>
<p>The IHTF was formed in October 2013 in response to 53%&nbsp; of pedal cycle fatalities between 2008 and 2013 involving direct contact with a Large Goods Vehicle (LGV). The Task Force is made up of officers from the Metropolitan Police Service (MPS), City of London Police and Driver and Vehicle Standards Agency (DVSA). They also work alongside the wider MPS Commercial Vehicle Unit &#45; part of the Roads and Transport Policing Command &#45; which attends and investigates collisions with large goods vehicles and cyclists, taking action with the driver and goods vehicle operator where appropriate.</p>
<p>A recent successful prosecution secured by the IHTF was against David Nowak, a driver for Byron Scaffolding Limited. On 28 October 2014, Mr Nowak was stopped by the Task Force and upon investigation, officers found his tachograph card revealed he hadn't taken sufficient weekly rest over three consecutive weeks. The digital tachograph was not calibrated and he also failed to ensure his driving records were printed.</p>
<p>This non-compliant act led to Mr Nowak being fined at the City of London Magistrates Court, on 25 February 2015, for a total of &pound;2,000 plus &pound;100 in police costs. Byron Scaffolding Limited was also fined &pound;8,500 plus &pound;85 in police costs for permitting their driver to breach the regulations.</p>
<p>Steve Burton, TfL's Director of Enforcement and On-Street Operations, said: `We are honoured to accept such a prestigious award for the contribution and dedication the Industrial HGV Task Force has shown in ensuring road safety regulations are met by the construction and waste vehicle industry - we know that non-compliant drivers and vehicles from these industries pose a safety risk to pedestrians and cyclists.</p>
<p>`This successful prosecution of Bryon Scaffolding Ltd in February totals over &pound;11,000 in fines and shows the construction and waste industry that we are committed to removing from our streets non compliant drivers and operators and will push for the toughest penalties for anyone caught.'</p>
<p>Road Safety Minister Robert Goodwill said: `I am extremely pleased that the Industrial HGV Task Force and its contribution to road safety have been recognised in this way.</p>
<p>`The government is committed to improving the safety of cyclists and other vulnerable road users. The task force proves that by working together we can make London's roads safer for all users. The message to drivers and operators is simple: not complying with driver and vehicle standards is not an option.'</p>
<p>Chief Superintendent Matt Bell, Roads and Transport Policing Command, said: `Winning this award is an incredible achievement and I am very proud that the excellent partnership work between the RTPC, TfL, DVSA and CoLP has been recognised in this way.</p>
<p>&quot;Our organisations are committed to road safety and we must do everything in our power to prevent people being killed or seriously injured on the roads. The Industrial HGV Task Force is a tremendous asset in targeting the most dangerous and non-compliant operators and in doing so will mean greater safety on the roads for all road users.&quot;</p>
<p>City of London Police Inspector, Dave Aspinall, said: `The Industrial HGV Task Force is a great example of a permanent multi agency team dedicated to enforcing against the non-compliant and dangerous commercial vehicles on our roads.</p>
<p>`The unit is greatly deserving of this award which recognises that the excellent results achieved would not have been possible by any one agency alone.'</p>
<hr />
<p>Recent results of the Industrial HGV Task Force to date (October 13 to Jan 15) include:</p>
<ul>
    <li>4,200 vehicles stopped</li>
    <li>26% of vehicles stopped were satisfactory</li>
    <li>2,000 roadworthiness prohibitions (PG9s) issued</li>
    <li>293 prohibitions issued for driver's hours offences</li>
    <li>1,050 Fixed Penalty Notices issued for a variety of offences including mobile phone use, insurance offences and driving licence offences</li>
    <li>51 non-compliant vehicles seized</li>
    <li>The IHTF has carried out over 200 road side operations over the last 12 months</li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/december">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/april">April</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/march">March</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2015-March-Industrial HGV Task Force honoured by safety award -->

 
 
        
        
            @{ViewBag.Description = "IHTF awarded the Carmen’s Company RLC Safety Award for 2014";}
        
        


 