


@{ViewBag.Title = "LU bears down on costs while radically improving services";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2015">2015</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2015/march">March</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">LU bears down on costs while radically improving services</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>LU bears down on costs while radically improving services</h1>
        <div class="content-page-press-release">
        23 March 2015
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Modernisations see customer satisfaction, capacity and number of journeys all at record levels
        
    </div>



 <div class="on-this-page">
<p>•	Modernisations see customer satisfaction, capacity and number of journeys all at record levels<br />
•	Dramatic reductions in delays and crime on the Tube<br />
•	Further improvements planned to prepare for population growth</p>
<p>Thanks to increased efficiencies and soaring passenger numbers, London Underground (LU) has increased its investments into improvements for the future. LU has reduced its operating cost per passenger kilometre, driven down the unit costs for maintenance, and invests every penny of public money into improving the network as London's population continues to rise.</p>
<p>The introduction of more modern trains and infrastructure, and innovative procurement have lowered the cost of transporting each passenger by nearly a fifth, and greater exploitation of commercial assets has driven up non-fares revenue. These achievements are set out in a new LU report into the last five years of modernisation and improvement on the Underground, which has seen customer satisfaction, capacity and number of journeys all rise to record levels.</p>
<p>Since the Mayor and LU ended the failed Public Private Partnership, which put the future of the Underground at risk in the 2000s, LU has built a world-class reputation for engineering, project management and day-to-day delivery for its customers. Recent years have seen major improvements made across the board, with customer satisfaction rising to its highest ever level, capacity at record levels thanks to new trains and signalling systems, and more than 1.27 billion customer journeys now made each year. Because of the modernisation of the network carried out in recent years, journeys are now quicker, with an average reduction of two minutes, and delays down by 43% over the period. Crime has reduced by more than one third and is now at its lowest ever rate.</p>
<p>Against the backdrop of the global economic downturn, LU has driven itself to deliver savings and efficiencies, while maintaining essential investment in the capacity and reliability of the network. London's population has grown by 600,000 people since 2008 and is set to rise further, from 8.6m today to around 10m by 2030. To accommodate and prepare for this extra demand, three lines have been completely modernised in the past decade, giving a major boost to the network's capacity &#45; up by one-third on the Jubilee line, 21% on the Victoria line and 20% on the Northern line. More upgrades are ahead &#45; with new air-conditioned trains now serving the Metropolitan, District, Hammersmith &amp; City and Circle lines, new signalling planned for those lines, and the radical modernisation of the Central, Piccadilly, Bakerloo and Waterloo &amp; City Lines in the 2020s.</p>
<p>Improvements on the network have helped to boost the London and UK economies - creating 3,500 new apprenticeships and supporting 568,000 new homes.</p>
<p>In addition, customer experience has also changed beyond recognition, with many innovations of recent years now a common part of daily travel. Service update boards introduced from 2009 onwards provide customers with minute-by-minute news about how their trains are running. Since 2012 Wi-Fi has been installed across the network, helping to bring real-time information and connectivity to customers on their mobile devices. Most recently, payment by contactless bank card has made paying for travel easier than ever, with hundreds of thousands of journeys made this way each day.</p>
<p>Mike Brown, LU's Managing Director, said: &quot;From the major part we played in the success of the London 2012 Games, to modernised lines and new trains, the last five years have been a great time for London Underground. But let's be clear &#45; the job is far from done. We need to keep our focus on delivering great service every day, while investing in the network of the future. Customers can look forward to the 24-hour Night Tube services, more new trains, huge improvements to stations, the Northern line extension and much more over the next five years. But if we are to meet the demands of London's growing population and continue to support London's economic success, we need to go further, with sustained government funding to extend and improve the network and deliver Crossrail 2.&quot;</p>
<p>Ends<br />
Notes to editors</p>
<ul>
    <li>
    LU is carrying out a huge programme of modernisation, with major stations, trains, track and control systems being updated or replaced to provide more capacity for a growing city.  Each line is being worked on and LU will, assuming a continued investment programme, see more than a 30% increase in capacity.</li>
    <li>Redevelopment work to increase capacity at key stations and make them step-free is underway at places such as Victoria, Tottenham Court Road and Bond Street.  More than half of LU's 270 stations have now been improved to leave them brighter and easier to use, with tactile strips, better CCTV and help points, electronic information displays in ticket halls and on platforms and improved seating and lighting.</li>
    <li>
    New air-conditioned walk-through trains are being introduced on 40% of the LU network. The Circle, Metropolitan and Hammersmith &amp; City lines already have these trains in service and they are now also on the District line &#45; where more trains are due this year.</li>
    <li>London Underground will introduce 24-hour 'Night Tube' services on core parts of the network from 12 September this year, radically improving night time travel options, cutting late night journey times by up to an hour and boosting London's economy.</li>
    <li>Work on the Northern line extension to Battersea is due to start this year, which will support thousands of new jobs and homes and enable major regeneration in the Vauxhall, Battersea and Nine Elms areas.</li>
    <li>Copies of the report are available <a href="http://tfl.gov.uk/cdn/static/cms/documents/building-our-capital-march-2015.pdf">http://tfl.gov.uk/cdn/static/cms/documents/building-our-capital-march-2015.pdf</a></li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/december">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/april">April</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/march">March</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2015-March-LU bears down on costs while radically improving services -->

 
 
        
        
            @{ViewBag.Description = "Modernisations see customer satisfaction, capacity and number of journeys all at record levels";}
        
        


 