


@{ViewBag.Title = "Major step forward for Crossrail 2";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2015">2015</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2015/march">March</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Major step forward for Crossrail 2</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Major step forward for Crossrail 2</h1>
        <div class="content-page-press-release">
        24 March 2015
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Mayor, TfL and Network Rail herald safeguarding of route following public consultation<BR>
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"This is a major step forward in our mission to deliver a brand new railway line for the Capital. This essential infrastructure project, proposed many years ago as the Chelsea-Hackney line, is now taking shape and becoming a reality. With support from business and the public and from across the political divide there is increasing momentum behind Crossrail 2"</div>
        <div class="quote-footer">
            <div class="quotee-name">Boris Johnson</div>
            <div class="quotee-job-title">Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<p>The Mayor and Transport for London (TfL) today hailed a major step forward for a new railway line for the Capital after the Department for Transport (DfT) confirmed that the safeguarding for Crossrail 2 has been agreed.</p>
<p>The decision, which protects the route of the proposed new line, follows a public consultation which set out the route that would be needed for the construction of Crossrail 2 and, importantly, protects it from potential redevelopment plans that could affect it being built.</p>
<p>Throughout the consultation TfL has been listening to both residents' and stakeholders' concerns and will seek to amend the proposals as appropriate. Whilst the safeguarding will protect the route, the precise details will be subject to a further public consultation in the autumn. Regular engagement will continue with existing businesses and residents to ensure any disruption is kept to a minimum wherever possible.</p>
<p>The route is designed to address capacity constraints, relieving the Underground and National Rail networks, as well as providing vital new connections across the Capital supporting the UK's single largest employment area and providing opportunities for thousands of new jobs.</p>
<p>Linking key growth areas in south-west and north east London, Crossrail 2 will run through a tunnelled section from Wimbledon in the south to New Southgate and Tottenham Hale in the north. It will serve stations in this section including Tooting Broadway, Clapham Junction, King's Road Chelsea, Victoria, Tottenham Court Road, Euston St Pancras, Angel, Dalston Junction, Seven Sisters, Turnpike Lane and Alexandra Palace. Crossrail 2 will also serve some destinations in Surrey and Hertfordshire using the existing National Rail network.</p>
<p>The new line would create additional capacity and quicker journeys, transporting up to 90,000 people in the morning peak, and relieve congestion across the existing rail network including at Waterloo by diverting services into a new tunnel under London. It would also unlock large areas of outer London and beyond, including the Upper Lea Valley, for sustainable new homes, supporting up to 200,000 new homes along the route.</p>
<h1>Importance to the Capital</h1>
<p>The vital importance of Crossrail 2 to the Capital was recently backed by the Chancellor of the Exchequer, George Osborne MP as he set out alongside the Mayor the new Economic Plan for the Capital. He also pledged public support and provided &pound;2m worth of funding as part of the last Autumn Statement to further develop the business case.</p>
<p>The safeguarding was granted by the Transport Secretary, Patrick McLoughlin, and updated the previous safeguarding directions for the Chelsea to Hackney line, which dates back to 1991.</p>
<p>The Mayor of London, Boris Johnson, said: </p>
<p>'I am really pleased that the Transport Secretary has confirmed the safeguarding for Crossrail 2. This is a major step forward in our mission to deliver a brand new railway line for the Capital. This essential infrastructure project, proposed many years ago as the Chelsea-Hackney line, is now taking shape and becoming a reality. With support from business and the public and from across the political divide there is increasing momentum behind Crossrail 2.</p>
<p>'Not only will this vital rail link improve capacity on trains into and out of London, it will provide a major boost for jobs, new homes and economic growth beyond the capital too.'</p>
<p>Mich&egrave;le Dix, TfL's Managing Director for Crossrail 2, said: </p>
<p>'Confirmation of the updated safeguarding is fantastic news and is another step closer to delivering this much needed new rail line. We are of course still in the early stages of the proposed plans, but this announcement allows start to build a strong business case for further investment into the Capital's transport infrastructure.'</p>
<p>Transport Secretary Patrick McLoughlin said: </p>
<p>'Supporting transport infrastructure in London is a vital part of our long term economic plan. Crossrail 2 has the potential to improve connectivity, increase capacity and generate tens of thousands of jobs.</p>
<p>'To bring about all these benefits we need good planning, especially in a crowded and fast-paced city like London. These updated plans to safeguard the route will ensure that land most vital for its construction is protected so that, if constructed, the line can go to areas that will give the maximum benefits and value for money.'</p>
<p>Paul Harwood, strategy and planning director at Network Rail, said: </p>
<p>'London's railways are already the busiest in the country, with many routes operating at or close to capacity.</p>
<p>'This proposed new line will help to bring major benefits to the Capital and the south east by increasing capacity, reducing overcrowding and improving connectivity for many people travelling in and around London.'</p>
<p>The business case will now be developed with the help of four major consultancy groups TfL appointed earlier this year. More detailed proposals for the route, including route alignment and station locations, will be prepared for a further public consultation later in the autumn. Further detailed design will then be needed and an Application for Powers to build the scheme could be submitted in 2017 with the railway being operational by 2030.</p>
<p>Crossrail 2 will play a vital role in supporting London's growth adding 10 per cent more rail capacity. The Mayor's 2050 Infrastructure Plan identified the need for 60 per cent more public transport capacity to support growth across London. Crossrail 2 would create a new high frequency, high capacity rail line with shorter journey times between south west and north east London.</p>
<p>Crossrail 2 is being developed jointly by TfL and Network Rail.</p>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/december">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/april">April</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/march">March</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2015-March-Major step forward for Crossrail 2 -->

 
 
        
        
            @{ViewBag.Description = "Mayor, TfL and Network Rail herald major step forward for Crossrail 2";}
        
        


 