


@{ViewBag.Title = "Make the most of the Easter weekend by planning ahead";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2015">2015</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2015/march">March</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Make the most of the Easter weekend by planning ahead</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Make the most of the Easter weekend by planning ahead</h1>
        <div class="content-page-press-release">
        03 March 2015
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Majority of the transport network will be running as normal over Easter
        
    </div>



 <div class="on-this-page">
<p>Transport for London (TfL) has published its online Easter Travel Guide, so Londoners and visitors can plan ahead and make the most of the Capital over the Easter period.</p>
<p>Between Friday 3 and Monday 6 April the vast majority of the network will operate as normal. However, TfL will be using the quieter Easter period for some essential improvement work to ensure that London Underground (LU) and the road network continues to support over 30 million journeys each day.</p>
<p>On London Underground, engineering work on all four days for track and points replacement and essential tunnel maintenance will affect the Metropolitan and Jubilee lines.</p>
<ul>
    <li>On the Jubilee line there will be no service between Waterloo and Wembley Park (3 &#45; 5 April) and from Waterloo to Stanmore (6 April). Rail replacement buses will operate to serve the affected stations, providing customers with connections to the Bakerloo and Central lines which will be operating as normal;</li>
    <li>On the Metropolitan line there will be no service between Aldgate and Northwood and Uxbridge. Additional Piccadilly line services will run between Uxbridge and Rayners Lane for services to central London and rail replacement bus services will also be in operation.</li>
</ul>
<p>On London Overground, work will continue at stations to accommodate the longer five-car trains, which will boost capacity of many services by 25 per cent. There is also a closure in place to accommodate work to build Crossrail at Whitechapel.</p>
<ul>
    <li>Between 3 &#45; 5 April there will be no service between Highbury &amp; Islington and Shadwell to enable Crossrail work and between Sydenham and Crystal Palace for maintenance work. On Easter Sunday only, there will be no service between New Cross Gate to West Croydon until 08:30, from Queen's Park to Watford Junction and from Stratford to Camden Road.  A replacement bus service will connect affected London Overground stations and valid tickets will be accepted on local buses operating in the area;</li>
    <li>Customers may connect to the Hammersmith and City line via National Rail services to Moorgate or the Victoria line to King's Cross St. Pancras.</li>
</ul>
<p>On the roads, TfL will continue to deliver its &pound;4bn Road Modernisation Plan across the Easter weekend.</p>
<ul>
    <li>Work will continue on the new cycling infrastructure across London, particularly on Cycle Superhighway North-South between Elephant &amp; Castle and King's Cross, Cycle Superhighway 2 between Aldgate and Bow, Cycle Superhighway 5 Inner between Oval and Pimlico, and around the Oval triangle junction. In all locations, lane restrictions will be kept to a minimum during the peak travel hours;</li>
    <li>On the A406 North Circular Road - traffic will be restricted to one lane in either direction near the junction with the M11, while work to re-waterproof Nightingale Bridge in South Woodford is carried out - helping to ensure the structure remains safe for years to come;</li>
    <li>In Westminster - resurfacing work on Bridge Street by Parliament Square will also take place.</li>
</ul>
<p>Drivers planning to travel where the planned works will be taking place are advised to take an alternative route where possible and allow extra time to complete their journeys.</p>
<p>Network Rail will also be making use of the quieter Easter period to complete infrastructure work on some of its mainline services in to London, particularly into west and north west London.</p>
<p>London's Transport Commissioner, Sir Peter Hendy CBE, said: `London's public transport and road network are carrying record numbers of passengers and we are using the quieter Easter period to carry out some essential modernisation work to help meet the demands of London's rapidly growing population.</p>
<p>`The vast majority of the network will operate as normal and where work is taking place we are providing our customers with alternative travel options, replacement bus services and extra Underground services on alternative routes.  I encourage all customers to use our online Easter Travel Guide to plan ahead and check before you travel.'</p>
<p>TfL is keeping customers informed through posters and announcements at stations, emails to customers, its website, social media and Journey Planner. Throughout the Easter weekend TfL is advising customers to 'Check Before You Travel' and to speak to a member of staff who will assist them in finding the best route to their destination.</p>
<p>A full list of TfL's social media channels is available at www.tfl.gov.uk/socialmedia, which includes details of the Twitter feeds for each of the 11 different London Underground lines, buses, the DLR, London Overground, Santander Cycles, Emirates Air Line and live traffic news for updates during the Easter period.</p>
<hr />
<p>Notes to Editors</p>
<p>Dates and Times<br />
A full list of TfL Rail &amp; Underground closures are set out below:</p>
<p>Jubilee line</p>
<ul>
    <li>Waterloo to Wembley Park (3 &#45; 5 April Good Friday to Easter Sunday)</li>
    <li>Waterloo to Stanmore (6 April Easter Monday, 11 &#45; 12 April)</li>
</ul>
<p>Metropolitan line</p>
<ul>
    <li>Aldgate to Northwood / Uxbridge (3 &#45; 6 April - Easter Friday to Easter Monday)</li>
    <li>A Metropolitan line service will operate between Northwood and Chesham / Amersham via Watford and there will be additional Piccadilly line services to Uxbridge. No Chiltern Railways service between Marylebone and Great Missenden.</li>
</ul>
<p>            Aldgate to Rickmansworth / Watford (11 &#45; 12 April)</p>
<ul>
    <li>No Chiltern Railways service between Amersham and Harrow-on-the-Hill, however, additional trains will operate between Marylebone and Harrow-on-the-Hill.</li>
</ul>
<p>London Overground</p>
<ul>
    <li>Highbury &amp; Islington to Shadwell (3 &#45; 5 April)</li>
    <li>Sydenham to Crystal Palace (3 &#45; 5 April)</li>
    <li>Camden Road to Stratford (5, 12 April)</li>
    <li>Queen's Park to Watford Junction (5 April Easter Sunday). The Bakerloo line will continue to run to Harrow &amp; Wealdstone.</li>
    <li>New Cross Gate to West Croydon closed until 08:30 (5 April)</li>
    <li>DLR</li>
    <li>Canning Town to Beckton (4-5 April)  to enable Crossrail works at Custom House</li>
</ul>
<p>Tramlink</p>
<ul>
    <li>Reeves Corner to Sandilands (29 March &#45; 4 April) and Reeves Corner to East Croydon (5 &#45; 12 April) to enable the London Borough of Croydon 'Connected Croydon' work.</li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/december">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/april">April</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/march">March</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2015-March-Make the most of the Easter weekend by planning ahead -->

 
 
        
        
            @{ViewBag.Description = "Majority of the transport network will be running as normal over Easter";}
        
        


 