


@{ViewBag.Title = "Mayor starts digging on &quot;Crossrail&quot; Cycle Superhighways";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2015">2015</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2015/march">March</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Mayor starts digging on “Crossrail” Cycle Superhighways</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Mayor starts digging on “Crossrail” Cycle Superhighways</h1>
        <div class="content-page-press-release">
        10 March 2015
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Construction of central London's flagship segregated Cycle Superhighways has begun as the Mayor, Boris Johnson, helped dig out the first tarmac.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Getting more people on their bikes will reduce pressure on the road, bus and rail networks, cut pollution, and improve life for everyone, whether or not they cycle themselves"</div>
        <div class="quote-footer">
            <div class="quotee-name">Boris Johnson</div>
            <div class="quotee-job-title">Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<p>Building has started on the North-South route, which once complete will run from Elephant &amp; Castle to King's Cross. Work on the East-West route from Tower Hill to Westbourne Terrace will begin in April.</p>
<p>Two other segregated superhighways are also now under construction, the upgrade of Cycle Superhighway 2 from Aldgate to Bow and the new Cycle Superhighway 5 from Oval to Pimlico. All the routes will be open by spring next year with some sections of the routes open by autumn this year.</p>
<p>The Mayor, Boris Johnson, said:</p>
<p>'This is a big day for cycling and for London, the culmination of years of campaigning by cyclists and months of planning by TfL.</p>
<p>'I know a lot of people thought this would never happen - and a small number of people didn't want it to happen. But it is happening, and London will be better as a result.</p>
<p>'Getting more people on their bikes will reduce pressure on the road, bus and rail networks, cut pollution, and improve life for everyone, whether or not they cycle themselves.'</p>
<p>The work beginning this week will create a safe cycle route through St George's Circus and transform Blackfriars Road from a car-dominated street into a new urban boulevard, with new trees, almost 20,000 square feet of new space for pedestrians, and a two-way segregated cycle track. Work on the route south of the river will be finished by the end of the year.</p>
<p>North of the river, work will begin in the summer and will be finished by spring 2016. The superhighway will have the capacity for 3,000 cyclists an hour, equivalent to 41 extra fully-loaded double-decker buses on the route 63, which runs alongside it.</p>
<p>The East-West and North-South routes were consulted on in the autumn, receiving over 21,000 public responses of which 84 per cent backed the plans. Hundreds of businesses joined a campaign to show their support. Independent opinion polling also showed overwhelming public backing for the new routes.</p>
<p>Changes have been made to both routes in response to concerns expressed by some opponents during consultation. On the East-West route, the modifications have reduced the whole-route traffic delays by 60 per cent while preserving a segregated track throughout. On the North-South route, better provision is being made for pedestrians at Ludgate Circus &#45; with straight-across crossings, rather than staggered as proposed, making it easier for pedestrians to cross the junction in a single movement.</p>
<p>Ahead of the start of construction on the North-South cycle route and the other transformative schemes soon to begin, Transport for London (TfL)'s skilled traffic engineers have been developing traffic management plans to ensure that the impacts on all road users are kept to a minimum. Sophisticated traffic signal technology, which allows better management of traffic depending on differing conditions at any given time, will be used to ensure that key routes and junctions are controlled in real-time to help keep traffic moving.</p>
<p>Leon Daniels, TfL's Managing Director of Surface Transport, said: </p>
<p>'A cyclist travels along the North-South corridor every two seconds in the peak, and the new protected route will provide a direct, safer journey for thousands of new and experienced cyclists travelling across the river from Southwark to King's Cross, delivering on our commitment in the Mayor's Vision for Cycling to radically improve conditions for cyclists in the Capital. We've started work this week and will deliver this scheme as quickly as possible, while utilising the skills of our experienced traffic engineers to keep any impact on traffic to a minimum throughout.'</p>
<p>Amanda Faul, Deputy CEO of Waterloo Quarter BID, said: </p>
<p>'Waterloo Quarter represents and supports local businesses and we have been working closely with TfL to inform our members on the plans for the North-South Cycle Superhighway as they have developed. In addition to providing a vital, safe cycle link between the south-east London, the City and beyond, the works on Blackfriars Road will deliver considerable public realm improvements, making it a better, more pleasant place in which to do business. We look forward to continuing this partnership with TfL throughout the works to ensure we help our businesses plan ahead to minimise disruption and reduce business impact.'</p>
<p>Councillor Mark Williams, Cabinet Member for Regeneration, Planning and Transport at Southwark Council, said: </p>
<p>'The Blackfriars Road project is a real milestone for Southwark and will bring significant benefits for our residents. The new high quality cycling route will help us meet our target to more than double cycling and open it up to more people. The Cycle Superhighway will link in with our own 'Southwark Spine' cycle route which will connect the Thames to Crystal Palace. The project also brings huge pedestrian benefits and Southwark Council is providing an additional &pound;2.2m of investment to help deliver a high quality boulevard on this historic road.'</p>
<p>The start of work on the North-South route heralds a step-change in the delivery of TfL's &pound;4bn Road Modernisation Plan in central London. Over the next year the plan also includes transformations at Elephant &amp; Castle, Stockwell, Oval and Vauxhall Bridge junctions amongst others, delivering a greener, safer and more attractive road network for all Londoners and road users, including a radical improvement in conditions for cyclists.</p>
<p>During these works, drivers are strongly advised to plan alternative routes to avoid delays, particularly during peak travel times. TfL will work hard to minimise disruption, roadside message signs will alert drivers to any closures and live travel information will be provided at <a href="http://www.tfl.gov.uk/trafficnews">www.tfl.gov.uk/trafficnews</a> and on Twitter at &#64;tfltrafficnews and &#64;tflbusalerts.</p>
<p>TfL has written to local residents and businesses and details of the sections of work taking place and delivery timeline can be found on the TfL website here: <a href="http://www.tfl.gov.uk/northsouth">www.tfl.gov.uk/northsouth</a>.</p>
<p>&nbsp;</p>
<hr />
<p>Notes to Editors:</p>
<ul>
    <li>A map and images of the North-South Cycle Superhighway are available on request from TfL Press Office.</li>
    <li>On 4 February 2015, the Transport for London (TfL) Board approved plans for the construction of four new Cycle Superhighways (East-West, North-South, CS1 and the inner section of CS5) and upgrades to the four existing Cycle Superhighway routes (CS2, CS3, CS7 and CS8) as part of the Mayor's Cycling Vision &#45; <a href="http://www.tfl.gov.uk/corporate/publications-and-reports/board-papers">http://www.tfl.gov.uk/corporate/publications-and-reports/board-papers</a></li>
    <li>The North-South Cycle Superhighway forms part of TfL's continuing &pound;4bn Road Modernisation Plan, which represents the biggest investment in London's roads in a generation, including hundreds of transformational projects within the existing road network. Using radical ideas and innovative designs, the plan will make London's roads greener, safer and more attractive for the benefit of all Londoners.</li>
    <li>In March 2013, the Mayor launched his Vision for Cycling in London, which detailed his &pound;913m programme to improve infrastructure and safety for cyclists in the capital. <a href="http://www.tfl.gov.uk/cyclingvision">www.tfl.gov.uk/cyclingvision</a></li>
</ul>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/december">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/april">April</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/march">March</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2015-March-Mayor starts digging on “Crossrail” Cycle Superhighways -->

 
 
        
        
            @{ViewBag.Description = "Mayor joins the diggers on “Crossrail” Cycle Superhighways";}
        
        


 