


@{ViewBag.Title = "Motorcycle campaign launched to reduce fatalities";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2015">2015</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2015/march">March</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Motorcycle campaign launched to reduce fatalities</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Motorcycle campaign launched to reduce fatalities</h1>
        <div class="content-page-press-release">
        09 March 2015
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Part of TfL's Motorcycle Safety Action Plan to reduce the number of motorcyclists killed or seriously injured on London's roads
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Motorcyclists and scooter riders are among the most vulnerable road users and with the recent spike in fatalities it is important that action to reduce the number of casualties continues. It is vital for all road users to pay attention to their speed and surroundings and to be aware of other road users"</div>
        <div class="quote-footer">
            <div class="quotee-name">Ben Plowden</div>
            <div class="quotee-job-title">Director of Strategy and Planning for Surface Transport, TfL</div>
        </div>
</div>

 <div class="on-this-page">
<ul>
    <li>27 motorcyclists tragically killed in 2014 with nine fatalities already in 2015</li>
    <li>Design competition to create protective clothing  begins later this month</li>
</ul>
<p>Transport for London (TfL) has launched its latest campaign to help reduce the number of motorcyclists killed or seriously injured (KSI) in the Capital as a ninth motorcyclist died last weekend.</p>
<p>In March 2014, TfL published the Capital's first Motorcycle Safety Action Plan, which aims to reduce casualties involving motorcyclists and scooter riders by directly targeting key factors in collisions.</p>
<p>Collisions involving motorcyclists can occur for a number of reasons. A high proportion involves the rider going too fast for the road conditions or losing control, with no other vehicle involved. The campaign aims to highlight this by reminding riders of the importance of travelling at an appropriate speed for the road they are on.</p>
<p>Riders will be urged 'Think! Don't ride too fast' through a series of powerful film clips in cinemas and on social media, which show the potentially tragic consequences of not riding at a safe speed.</p>
<p>Collisions also occur at junctions when drivers of other vehicles, having failed to look properly, turn across the path of a motorcyclist. TfL is currently running a poster and radio campaign to help reduce this.</p>
<p>Ben Plowden, Director of Strategy and Planning for TfL Surface Transport, said:</p>
<p>'Motorcyclists and scooter riders are among the most vulnerable road users and with the recent spike in fatalities it is important that action to reduce the number of casualties continues. It is vital for all road users to pay attention to their speed and surroundings and to be aware of other road users.'</p>
<p>Motorcycle KSI's have fallen in recent years and in 2013 were 36 per cent lower than the 2005-09 baseline. But this area needs constant attention and more needs to be done. Provisional figures for 2014 show there were 27 motorcycle fatalities compared to 22 in 2013.</p>
<p>Wearing Personal Protective Clothing (PPE) is one of the most effective ways for riders to protect themselves, yet many are not aware of its benefits. TfL is launching a design competition later this month to raise awareness of PPE and to stimulate new, innovative design ideas.  Designs must take account of:</p>
<ul>
    <li>Safety, protection and visibility during the day and night</li>
    <li>Weatherproofing</li>
    <li>Comfort and size</li>
    <li>Ability to fit over other clothes</li>
    <li>Ease of storage and care of garment</li>
    <li>Can be used for social and work occasions</li>
</ul>
<p>To view the TfL competition page, please visit <a href="http://www.bikesafe-london.co.uk">www.bikesafe-london.co.uk</a> from 16 March. Three winners will be chosen by a panel of experts including Henry Cole, presenter of ITV4's 'The Motorbike Show' and Travel Channel's 'The World's Greatest Motorcycle Rides'.</p>
<p>One of TfL's top priorities is to reduce by 40 per cent the number of people killed or seriously injured by 2020. Six commitments guide this work.</p>
<p>The Motorcycle Safety Action Plan, published last year has led to a number of high profile and innovative projects, including:</p>
<ul>
    <li>Funding of the Metropolitan Police's Motorcycle Safety Team (MST), who clamp down on illegal and antisocial road user behaviour such as, speeding, careless riding, red light running, and traffic violations by motorcyclists and other road users;</li>
    <li>MST runs BikeSafe-London and ScooterSafe-London rider skill assessment days. These are designed to educate riders to become safer road users through combining observed rides with interactive presentations and advice on keeping safer. More than 26,000 motorcyclists and scooter riders have attended a 'London Rider Skills Day' since 2003;</li>
    <li>TfL is investing in new motorcycle engineering design advice materials and funding training support for TfL and borough road scheme designers, which will be launched later this year.</li>
</ul>
<p>Watch the clip here <a href="https://www.youtube.com/watch?v=oNXg3niVeoI">https://www.youtube.com/watch?v=oNXg3niVeoI</a></p>
<p>For more information go to <a href="http://www.tfl.gov.uk/roadsafety">www.tfl.gov.uk/roadsafety</a></p>
<p> </p>
<hr />
<p>Notes to Editors:</p>
<ul>
    <li>For more information on what TfL is doing to promote motorcycle safety across the capital, please visit <a href="http://www.tfl.gov.uk/corporate/projectsandschemes/23288.aspx">http://www.tfl.gov.uk/corporate/projectsandschemes/23288.aspx</a></li>
    <li>The Motorcycle Safety Action Plan can be downloaded from here: <a href="http://www.tfl.gov.uk/assets/downloads/motorcycle-safety-action-plan.pdf">http://www.tfl.gov.uk/assets/downloads/motorcycle-safety-action-plan.pdf</a></li>
    <li>In June 2013, the Mayor and Transport for London published Safe Streets for London: an ambitious and comprehensive plan to reduce further the number of people killed or seriously injured in London by 40 per cent by 2020: <a href="http://beta.tfl.gov.uk/cdn/static/cms/documents/safe-streets-for-london.pdf">http://beta.tfl.gov.uk/cdn/static/cms/documents/safe-streets-for-london.pdf</a></li>
    <li>In February 2014 the Mayor and TfL published six safety commitments, which supports the plan and brings focus to the range of actions needed by TfL and its partners to make London's streets safer: <a href="http://beta.tfl.gov.uk/cdn/static/cms/documents/safe-london-streets-our-six-road-safety-commitments.pdf">http://beta.tfl.gov.uk/cdn/static/cms/documents/safe-london-streets-our-six-road-safety-commitments.pdf</a></li>
    <li>The six key commitments are:</li>
</ul>
<ol>
    <li> To lead the way in achieving a 40 per cent reduction in the number of people killed or seriously injured on the Capital's roads by 2020 &#45; with a longer term ambition of freeing London's roads from death and serious injury;</li>
    <li>To prioritise safety of the most vulnerable groups &#45; pedestrians, cyclists and motorcyclists &#45; which make up 80 per cent of serious and fatal collisions;</li>
    <li>To provide substantial funding for road safety, invested in the most effective and innovative schemes;</li>
    <li>To increase efforts with the police and enforcement agencies in tackling illegal, dangerous and careless road user behaviour that puts people at risk;</li>
    <li>To campaign for changes in national and EU law to make roads, vehicles and drivers safer;</li>
    <li>To work in partnership with boroughs and London's road safety stakeholders to spread best practice and share data and information.</li>
</ol>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/december">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/april">April</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/march">March</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2015-March-Motorcycle campaign launched to reduce fatalities -->

 
 
        
        
            @{ViewBag.Description = "Motorcycle safety campaign launched by TfL to reduce fatalities";}
        
        


 