


@{ViewBag.Title = "New partnership to transform area around Southwark Tube";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2015">2015</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2015/march">March</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">New partnership to transform area around Southwark Tube</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>New partnership to transform area around Southwark Tube</h1>
        <div class="content-page-press-release">
        02 March 2015
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Joint venture will create new landmark development on Blackfriars Road
        
    </div>



 <div class="on-this-page">
<p>Transport for London (TfL) and Development Securities have today announced that they have signed a joint venture agreement to redevelop a one-acre site above and around Southwark Tube station on Blackfriars Road, SE1.</p>
<p>The joint venture will see the creation of a residential led mixed-use development, consisting of around 225,000 sq ft which will transform the area on Blackfriars Road to create a new landmark development.</p>
<p>Located within Southwark between the Elephant &amp; Castle regeneration area and the South Bank, the redevelopment will deliver over 300 new homes, as well as new retail and restaurant space with significant new public realm which will complement other developments in the area. Specifically, the redevelopment will enhance the environment around Isabella Street, a popular pedestrianised street that runs alongside the development site.</p>
<p>With London's population set to grow from 8.6 million today to around 10 million by 2030, it is vital that London has the homes and services it needs to support population growth. The partnership between TfL and Development Securities will not only add to the existing local residential community, it will also support jobs in London and across the UK.</p>
<p>The one acre site is a combination of three sites which include: Algarve House, a vacant, derelict office building in respect of which Development Securities has an &pound;8 million option agreement which will be exercised by the company in March 2015; adjacent land owned by TfL including the space above Southwark Tube station; and further land around the station owned by the London Borough of Southwark.</p>
<p>Julian Barwick, Director, Development Securities said: `Our site is located within an exciting area of Southwark with huge potential to deliver a development that creates new employment and housing opportunities as well as considerable new public realm and leisure opportunities. Following our success at 10 and 12 Hammersmith Grove, we are delighted to have joined forces again with TfL to create a partnership that has the expertise and ability to deliver a significant regeneration development for the local area.</p>
<p>The partnership deal comes after TfL's recent announcement that it will be seeking property development partnerships for 50 sites across its transport estate as part of its wider plans to generate &pound;3.4bn in non-fare revenue over the next decade to be reinvested back into the transport network. TfL has launched a tender process to find development partners.</p>
<p>Graeme Craig, Director of Commercial Development, TfL said: `Our joint venture with Development Securities is another example of the work we are doing to maximise our assets whilst generating vital revenue that we can invest in the transport network. The development above and around Southwark Tube station will see the creation of homes, jobs and new community facilities on a site that has been left undeveloped for far too long.</p>
<p>`We want to form similar joint venture partnerships with leading developers to help us bring forward some of our other sites to maximise their long term value. We have now launched a tender process to identify partners."</p>
<p>Development Securities and TfL will undergo an extensive consultation process with Southwark Council, local businesses, residents and the wider community over the coming months as the masterplan for the site, designed by architects AHMM, is developed. The planning application will be submitted later this year.</p>
<hr />
<p>TfL operates the Tube network, as well as five per cent of London's road network, buses, the DLR, London Overground, London Tramlink, Barclays Cycle Hire, the Emirates Air Line and River Services.</p>
<p><strong>About Development Securities</strong><br />
Development Securities PLC is an experienced, FTSE-listed, UK property investor and developer. It applies a creative and expert approach to complex and major developments, strategic investment and asset management across the UK.</p>
<p>Development Securities has delivered over 4 million sq ft of regeneration and development projects across the UK with a pipeline of projects totalling in excess of 4.5 million sq ft These projects include major urban regeneration projects, regional foodstores, mixed-use development, residential schemes and leisure developments. The company is an experienced developer with a proven track record for delivering projects that create value and growth.</p>
<p>In 2014, Development Securities acquired Cathedral Group, a specialised mixed-use regeneration developer with whom the company had previously worked in joint venture on a number of projects. Cathedral specialises in residential-led mixed use development as well as public private partnership projects whereby it works with local authorities to regenerate public land.</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/december">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/april">April</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/march">March</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2015-March-New partnership to transform area around Southwark Tube -->

 
 
        
        
            @{ViewBag.Description = "Joint venture will create new landmark development on Blackfriars Road";}
        
        


 