


@{ViewBag.Title = "Overwhelming support for a Bakerloo line extension";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2015">2015</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2015/march">March</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Overwhelming support for a Bakerloo line extension</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Overwhelming support for a Bakerloo line extension</h1>
        <div class="content-page-press-release">
        27 March 2015
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Extension vital to help support anticipated population growth in south east London
        
    </div>



 <div class="on-this-page">
<p>There is overwhelming support for the Mayor and TfL's plans to extend the Bakerloo line to help meet anticipated population growth in south London, the latest consultation results on the proposals reveal.</p>
<p>Over 15,000 responses to the consultation were received with 96% of respondents supporting the extension of the Bakerloo line, with the majority acknowledging it would improve connectivity and relieve congestion on the transport network.</p>
<p>The consultation proposed two alternative routes between Elephant &amp; Castle and Lewisham. There was strong support for both options, a route via Camberwell and Peckham Rye or via the Old Kent Road.</p>
<p>Key results of the consultation include:</p>
<ul>
    <li>Over 50% of respondents stated that the scheme would provide better connectivity, reduce crowding and congestion on roads and public transport and help the region's economy and regeneration opportunities.</li>
    <li>One of the key purposes of the proposed extension is to enable new development in southeast London. Over 11,000 respondents (82%) stated support for the proposal on this basis, with recognition of the role it can play in supporting London's population growth and regeneration across the region.</li>
    <li>Strong support existed for the option via Camberwell and Peckham Rye (64% support), and over 50% of those respondents gave the reasons of poor connectivity and existing congestion on roads and public transport.</li>
    <li>49% supported the option to Old Kent Road, with 40% of these giving reasons relating to the investment and development opportunities along the route and the lack of public transport options in the area.</li>
</ul>
<p>As part of the consultation responses a number of alternative routes were also suggested, TfL will take the opportunity to review these further.  This will include an assessment of costs and benefits of a number of different routes and a comparison against the original route options.</p>
<p>The Mayor of London, Boris Johnson, said: &quot;An extension of the Bakerloo line will provide a vital new transport link for the people of south London and help to spur jobs, new homes and regeneration in this part of the Capital. It is fantastic that so many people are in support of the plans and I am determined to push ahead with them at pace. This extension has huge potential to breathe a new lease of life into south London's opportunity areas, as well as delivering urgently needed rapid transit capacity in the area.&quot;</p>
<p>Richard de Cani, TfL's Managing Director for Planning, said: &quot;The Bakerloo line extension would provide much needed new rail links for south London to support new homes, jobs and growth and access to public services in the area. We are now considering the consultation responses and route options suggested before we consult on the detailed proposals for the extension next year."</p>
<p>With the Capital's population expected to reach 10m by 2030, the extension would support anticipated growth in south London by providing improved transport infrastructure and unlocking tens of thousands of new homes. As well as providing quicker, more direct journeys into central London, extending the Bakerloo line could also release capacity on the national rail network, enabling more services to operate from other destinations and helping to reduce overcrowding on National Rail services into London Bridge. The Mayor's 2050 Infrastructure Plan sets out how the extension could also play a key role in helping to deliver much-needed and wider improvements in south London, including new frequent and high-quality 'metro' style services that the Mayor wants to see operating in all parts of the Capital.</p>
<p>The cost of the extension is estimated at up to &pound;3bn. TfL is investigating a range of options with boroughs along the route of the extension to for generating funding for the extension from new developments.</p>
<p>It is estimated that once the relevant permissions are received and necessary funding secured, construction could commence by 2025 and be completed during the early 2030s.</p>
<p>Ends</p>
<p>Notes to Editors:</p>
<ul>
    <li>Around 75% of those who responded were from Southwark, Lewisham or Bromley - all boroughs where the extension could run through</li>
    <li>An image of the routes are available on the TfL Press Flickr page: <a href="https://www.flickr.com/photos/tflpress/sets/72157647760499349/">https://www.flickr.com/photos/tflpress/sets/72157647760499349/</a></li>
    <li>Further information on the Bakerloo line extension consultation can be found at <a href="http://www.tfl.gov.uk/bakerloo-extension">Http://www.tfl.gov.uk/bakerloo-extension</a></li>
    <li>At this early stage we do not know precisely where the new stations for the proposed tunnelled section will be.</li>
    <li>Details of the draft London Infrastructure Plan 2050 is available here <a href="http://www.london.gov.uk/sites/default/files/transport_supporting_paper.pdf">http://www.london.gov.uk/sites/default/files/transport_supporting_paper.pdf</a></li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/december">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/april">April</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/march">March</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2015-March-Overwhelming support for a Bakerloo line extension -->

 
 
        
        
            @{ViewBag.Description = "Extension vital to help support anticipated population growth in south east London";}
        
        


 