


@{ViewBag.Title = "TBMs ordered to build Northern Line Extension to Battersea";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2015">2015</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2015/march">March</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">TBMs ordered to build Northern Line Extension to Battersea</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>TBMs ordered to build Northern Line Extension to Battersea</h1>
        <div class="content-page-press-release">
        18 March 2015
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Contract awarded to design, manufacture and deliver two Tunnel Boring Machines (TBM) that will build the Northern line extension
        
    </div>



 <div class="on-this-page">
<p>London Underground (LU) today announced that the contract to design, manufacture and deliver two Tunnel Boring Machines (TBM) that will build the Northern line extension has been awarded to NFM Technologies.</p>
<p>Ferrovial Agroman Laing O'Rourke Joint Venture (FLO), who LU has contracted to design and build the Northern line extension, plans to launch the TBMs in summer 2016, when the machines will begin their seven month 2.5km journey from Battersea to Kennington.</p>
<p>Each TBM  &quot;cutting head&quot;, which will do the excavation work, will be just over six metres in diameter and the full machine itself will be 106 metres long &#45; equivalent to the length of the pitch at Wembley Stadium.</p>
<p>Two new stations will be constructed &#45; one at the heart of the Battersea Power Station redevelopment and another at Nine Elms to the east, serving new developments such as the US Embassy and the redevelopment of New Covent Garden Market, as well as existing communities.</p>
<p>The Northern line extension will enable the Vauxhall Nine Elms Battersea areas to be transformed into a major new commercial and residential district with tens of thousands of new jobs and homes. Other transport investments in the area include the transformation of the Vauxhall gyratory, the creation of new dedicated cycle routes through the area, and the upgrading of Vauxhall Tube station to include step free access.</p>
<p>Mike Brown MVO, Managing Director of London Underground, said: `The award of this contract is a key milestone in the extension of the Northern line. We are well on track for the tunnelling work to commence next year and, once it's complete, this vital addition to the Underground network will help develop the Vauxhall, Nine Elms and Battersea areas, supporting 24,000 new jobs and over 18,000 new homes.  Customers in Battersea and Nine Elms will also benefit from quicker journey times, with the West End and the City being just under 15 minutes away.</p>
<p>David Darcy, FLO Project Director for the NLE said: `At FLO, we are very pleased to have awarded this significant procurement package, crucial to the delivery of the NLE project. We are totally confident that NFM Technologies will fulfil all the requirements for the safe completion and delivery of the TBM tunnelling.</p>
<p>The cost of the Northern line extension is expected to be up to &pound;1bn, which is being funded entirely through contributions from the developments in the area that will benefit from the extension.  An innovative funding package has been agreed between the Mayor of London and Government, which includes the creation of an Enterprise Zone from 2016 for a period of 25 years.</p>
<p>During construction the project will support around 1,000 jobs and around 50 apprenticeships spread across the country.</p>
<p>As part of its commitment to build the extension in the most environmentally friendly way possible, LU plans to transport at least 70 per cent of the waste from the TBM work by river.  This will minimise the number of lorries on the road in connection with the extension.</p>
<p>ENDS</p>
<p>Notes to Editors</p>
<ul>
    <li>Extending the Northern line to Battersea and Nine Elms is just one of several steps to improve service levels on the line. Northern line customers are already benefitting from new signalling on the line, which is providing a 20 per cent increase in capacity through central London during peak times &#45; enough for an additional 11,000 passengers per hour</li>
    <li>Following the Secretary of State for Transport's approval of the project, construction will start as soon as spring next year. Over three miles of new tunnels will be constructed and brand new stations opened at Nine Elms and Battersea by 2020.</li>
    <li>By 2020 LU is planning to increase train frequencies on the Northern line to at least 30 trains per hour with the introduction of new trains.</li>
    <li>This is just one of the many projects that LU has underway to modernise and improve the Tube network to keep pace with the city's sharply rising population. LU is rebuilding major stations like Victoria, Tottenham Court Road and Bond Street, introducing new trains across 40 per cent of the network and improving the way it serves its customers.</li>
    <li>Last year TfL awarded the contract to design and build the Northern line extension to Ferrovial Agroman Laing O'Rourke.</li>
    <li>For more information about LU's extension to the Northern line please visit: h<a href="http://ttp://www.tfl.gov.uk/travel-information/improvements-and-projects/northern-line-extension">ttp://www.tfl.gov.uk/travel-information/improvements-and-projects/northern-line-extension</a></li>
    <li>NFM Technologies designs and manufactures high technical added-value equipment and systems for underground work, nuclear power and oil and gas.</li>
    <li>For more information please visit: <a href="http://www.nfm-technologies.com">www.nfm-technologies.com</a></li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/december">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/april">April</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/march">March</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2015-March-TBMs ordered to build Northern Line Extension to Battersea -->

 
 
        
        
            @{ViewBag.Description = "Contract awarded to design, manufacture and deliver two Tunnel Boring Machines (TBM) that will build the Northern line extension";}
        
        


 