


@{ViewBag.Title = "TfL reminds customers to Check Before You Travel this Easter";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2015">2015</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2015/march">March</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">TfL reminds customers to Check Before You Travel this Easter</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>TfL reminds customers to Check Before You Travel this Easter</h1>
        <div class="content-page-press-release">
        30 March 2015
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Modernisation work is planned on some of the Tube, Rail and Road network between Friday 3 and Monday 6 April
        
    </div>



 <div class="on-this-page">
<p>This Easter, Transport for London (TfL) has published a Travel Guide to help Londoners and visitors plan ahead and make the most of the Capital.</p>
<p>The majority of London's transport network will operate as normal between Friday 3 and Monday 6 April. However, TfL will be using the quieter Easter period to carry out essential improvement work to ensure that London Underground (LU) and the road network continues to support over 30 million journeys each day.</p>
<p>Customers travelling before, during or after Easter are advised to 'Check Before You Travel' and staff will be on hand at stations to assist customers in finding the best routes to their destinations.</p>
<p>On London Underground, engineering work on all four days for track and points replacement and essential tunnel maintenance will affect the Metropolitan and Jubilee lines</p>
<ul>
    <li>On the Jubilee line there will be no service between Waterloo and Wembley Park (3 &#45; 5 April) and from Waterloo to Stanmore (6 April). Rail replacement buses will operate to serve the affected stations, providing customers with connections to the Bakerloo and Central lines, which will be operating as normal</li>
    <li>On the Metropolitan line there will be no service between Aldgate and Northwood and Uxbridge. Additional Piccadilly line services will run between Uxbridge and Rayners Lane for services to central London and rail replacement bus services will also be in operation.</li>
</ul>
<p>On London Overground, work will continue at stations to accommodate the longer five-car trains, which will boost capacity of many services by 25%.</p>
<ul>
    <li>To enable Crossrail work there will be no service from 3 &#45; 5 April between Highbury &amp; Islington and Shadwell, and on 3 and 4 April between Sydenham and Crystal Palace</li>
    <li>Network Rail track and station work will take place between Sydenham and Crystal Palace on 5 April</li>
    <li>On Easter Sunday only, there will be no service between New Cross Gate to West Croydon until 08:30 and from Queen's Park to Watford Junction due to Network Rail track work, and from Stratford to Camden Road to prepare for five-car trains</li>
    <li>For further information on ticket acceptance and rail replacement bus services, passengers are advised to check tfl.gov.uk/easter</li>
</ul>
<p>On the roads, TfL will continue to deliver its &pound;4bn Road Modernisation Plan across the Easter weekend.</p>
<ul>
    <li>Work will continue on the new cycling infrastructure across London, particularly on Cycle Superhighway North-South between Elephant &amp; Castle and King's Cross, Cycle Superhighway 2 between Aldgate and Bow, Cycle Superhighway 5 Inner between Oval and Pimlico, and around the Oval triangle junction. In all locations, lane restrictions will be kept to a minimum during the peak travel hours</li>
    <li>On the A406 North Circular Road - traffic will be restricted to one lane in either direction near the junction with the M11, while work to re-waterproof Nightingale Bridge in South Woodford is carried out - helping to ensure the structure remains safe for years to come</li>
    <li>In Westminster - resurfacing work on Bridge Street by Parliament Square will also take place</li>
</ul>
<p>Drivers planning to travel in London are advised to 'Check Before You Travel' and allow extra time to complete their journeys.</p>
<p>Network Rail will also be making use of the quieter Easter period to complete infrastructure work on some of its mainline services into London, particularly into west and north west London. Mainline stations that will experience a change to services include:</p>
<ul>
    <li>Paddington</li>
    <li>Waterloo</li>
    <li>Charing Cross</li>
    <li>Cannon Street</li>
    <li>Blackfriars</li>
    <li>London Bridge</li>
    <li>Liverpool Street</li>
    <li>Euston</li>
</ul>
<p>London's Transport Commissioner, Sir Peter Hendy CBE, said: &quot;The vast majority of London's transport network will operate as normal this Easter and where this essential modernisation work is taking place, we are providing our customers with alternative travel options, replacement bus services and extra Underground services on alternative routes.  I encourage all customers to use our online Easter Travel Guide to plan ahead and 'Check Before You Travel' before, during and after Easter.&quot;</p>
<p>TfL is keeping customers informed through posters and announcements at stations, emails to customers, its website, social media and Journey Planner. A full list of TfL's social media channels is available at <a href="http://tfl.gov.uk/socialmedia">tfl.gov.uk/socialmedia</a>, which includes details of the Twitter feeds for each of the 11 different London Underground lines, buses, the DLR, London Overground, Santander Cycles, Emirates Air Line and live traffic news for updates during the Easter period.</p>
<hr />
Dates and Times
<p>A full list of TfL Rail &amp; Underground closures are set out below:</p>
<p>Jubilee line</p>
<ul>
    <li>Waterloo to Wembley Park (3 &#45; 5 April Good Friday to Easter Sunday)</li>
    <li>Waterloo to Stanmore (6 April Easter Monday, 11 &#45; 12 April)</li>
</ul>
<p>Metropolitan line</p>
<ul>
    <li>Aldgate to Northwood / Uxbridge (3 &#45; 6 April - Easter Friday to Easter Monday)</li>
    <li>A Metropolitan line service will operate between Northwood and Chesham / Amersham via Watford and there will be additional Piccadilly line services to Uxbridge. No Chiltern Railways service between Marylebone and Great Missenden.</li>
</ul>
<ul>
    <li>           Aldgate to Rickmansworth / Watford (11 &#45; 12 April)</li>
    <li>No Chiltern Railways service between Amersham and Harrow-on-the-Hill, however, additional trains will operate between Marylebone and Harrow-on-the-Hill.</li>
</ul>
<p>London Overground</p>
<ul>
    <li>Highbury &amp; Islington to Shadwell (3 &#45; 5 April)</li>
    <li>Sydenham to Crystal Palace (3 &#45; 5 April)</li>
    <li>Camden Road to Stratford (5, 12 April)</li>
    <li>Queen's Park to Watford Junction (5 April Easter Sunday). The Bakerloo line will continue to run to Harrow &amp; Wealdstone.</li>
    <li>New Cross Gate to West Croydon closed until 08:30 (5 April)</li>
    <li>New Cross Gate to Crystal Palace/West Croydon closed until 09:00 (12 April)</li>
</ul>
<p>DLR</p>
<ul>
    <li>Canning Town to Beckton (4-5 April) to enable Crossrail works at Custom House</li>
</ul>
<p>Tramlink</p>
<ul>
    <li>Reeves Corner to Sandilands (29 March &#45; 4 April) and Reeves Corner to East Croydon (5 &#45; 12 April) to enable the London Borough of Croydon 'Connected Croydon' work.</li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/december">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/april">April</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/march">March</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2015-March-TfL reminds customers to Check Before You Travel this Easter -->

 
 
        
        
            @{ViewBag.Description = "Modernisation work is planned on some of the Tube, Rail and Road network between Friday 3 and Monday 6 April";}
        
        


 