


@{ViewBag.Title = "TfL offers an insight to the future of transport at FutureFest";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2015">2015</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2015/march">March</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">TfL offers an insight to the future of transport at FutureFest</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>TfL offers an insight to the future of transport at FutureFest</h1>
        <div class="content-page-press-release">
        04 March 2015
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Futurefest weekend offers unique view into the transport of tomorrow<BR>
        
    </div>



 <div class="on-this-page">
<p>Transport for London (TfL) has partnered with innovation charity Nesta to feature at FutureFest on Saturday 14 and Sunday 15 March at Vinopolis in London Bridge. Visitors will be treated to an insight into the future of transport along with the future of cities, democracy, money, machines and music.</p>
<p>Curated by musician and author Pat Kane, FutureFest is a weekend of future visions, immersive experiences and contributions from a range of speakers including; Baroness Helena Kennedy QC, author Jon Ronson, fashion designer and campaigner, Vivienne Westwood and funk musician George Clinton.</p>
<p>Richard de Cani, TfL's Managing Director for Planning commented: `We're excited to be part of FutureFest, as investing in transport to secure London's future as a great world city has never been as important as it is today. London's population is set to grow from 8.6m today to 10m in 2030 and everyone will rely on the Capital's rail, underground and road networks to get around and make the most of all London has to offer.'</p>
<p>By 2050 London transport will have changed significantly to meet the increased demand for services resulting from rapid population growth. There are a range of transport improvements already in development including these key projects</p>
<p><span style="font-size: 16px;"><strong>Crossrail 2<br />
</strong>Crossrail the new TfL rail service linking east and west London will become fully operational in 2018. A second Crossrail by 2030 could link south west and north east London and cut crowding on some Tube lines and South West trains by eight per cent at peak times.<br />
<strong>Underground of the Future<br />
</strong>The Northern line will be extended to Battersea by the early 2020s and an extension of the Bakerloo line could improve routes from south east to central London by the 2030s. New Underground trains will begin operating on the Piccadilly line in the mid 2020s offering passengers air cooled walk through carriages and improved accessibility.<br />
<strong>Night Tube<br />
</strong>This September 24-hour 'Night Tube' services will begin on the Northern, Victoria, Piccadilly, Jubilee and Central lines at weekends. By 2017, night services could operate on London Overground services and by 2021 on the Docklands Light Railway. 'Night Tube' services will also be expanded to the Metropolitan, Circle, District, and Hammersmith and City lines once TfL's modernisation programmes are complete.<br />
<strong>New Bridges and Tunnels<br />
</strong>London urgently needs new bridges and tunnels across the Thames and particularly in the east to ease traffic congestion. The Silvertown Tunnel a new road tunnel linking the Greenwich Peninsula and Silvertown could help relieve some of this pressure on the road network by the 2020s.<br />
<strong>Future Roads<br />
</strong>&pound;4bn is being invested in London's roads to make them greener, safer and more attractive. Substantial improvements are underway to improve dangerous junctions, build major segregated cycle routes and a network of Quietways on less busy streets. Over the next 20 years radical ideas and innovative designs could see roads move below ground, with autonomous cars, freight and services moved away from busy roads, creating more green space above ground.<br />
<strong>Reducing Air Pollution<br />
</strong>With an ageing population reducing air pollution is increasingly critical. More electric buses and cars and a new proposed Ultra Low Emission Zone (ULEZ) are all in development to help improve London's air quality.</span></p>
<p><span style="font-size: 16px;">Simon Morrison, Executive Director of Communications for Nesta commented: `It's fantastic that Transport for London is featuring at FutureFest and more importantly they have helped inform our views about what London could look like in the future. Transport plays an integral part of the daily lives of Londoners and this will only increase in years to come.'</span></p>
<p>Tickets for FutureFest are available at <a href="http://www.futurefest.org">www.futurefest.org</a> for 14-15 March at Vinopolis, London Bridge.</p>
<p>FutureFest is supported by the Science Museum, Microsoft Research, British Council, Oxford Martin School, Convergence, Transport for London and Billetto.</p>
<br />

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/december">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/april">April</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/march">March</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2015-March-TfL offers an insight to the future of transport at FutureFest -->

 
 
        
        
            @{ViewBag.Description = "Futurefest weekend offers unique view into the transport of tomorrow";}
        
        


 