


@{ViewBag.Title = "TfL named fastest growing contactless merchant in Europe";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2015">2015</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2015/march">March</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">TfL named fastest growing contactless merchant in Europe</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>TfL named fastest growing contactless merchant in Europe</h1>
        <div class="content-page-press-release">
        17 March 2015
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        TfL named fastest growing contactless merchant in Europe after six months
        
    </div>



 <div class="on-this-page">
<p>Transport for London (TfL) is the fastest growing contactless Visa merchant in Europe, and in the UK for Mastercard and American Express just six months after it was launched on London Underground, tram, DLR, London Overground, buses and most National Rail services in London.</p>
<p>The world leading technology is now being used by millions of customers, providing them with easier and more convenient journeys. Customers using contactless pay the same adult-rate pay as you go fare as Oyster and benefit from having their fares capped &#45; this automatically calculates the best value for their contactless travel in a day or over a 7-day period from Monday to Sunday. Contactless is a quick and easy way to get around on transport services in London. It removes the need for customers to top up, and is a secure means of paying for travel with multiple layers of security protecting against fraud.</p>
<h2>One Million Taps</h2>
<p>On 13 March the number of contactless taps made on a single day reached one million. Over 14 per cent of all pay as you go journeys across TfL services are now made using contactless, with over 60 million journeys made in the last six months.</p>
<p>The Mayor of London, Boris Johnson, said: `London was the first city in the world to offer passengers the option of getting from A to B with a simple flourish of a contactless payment card. Clearly Londoners and visitors to the capital have embraced this innovative technology &#45; with a million card swipes taking place each day as people zip around our fine city on TfL services.'</p>
<p>TfL's Director of Customer Experience, Shashi Verma, said: `It's great to see we are leading the market in Europe for contactless payments. Our customers are finding it a much more convenient way to pay for their travel. I would encourage anyone who uses pay as you go to try contactless, there's no need to top-up, you just touch in and out with your credit or debit card.'</p>
<p>The top five London Underground stations where customers have made contactless payments are Oxford Circus, Kings Cross, London Bridge, Liverpool Street and Canary Wharf.</p>
<p>Richard Koch, Head of Policy at The UK Cards Association, said: `With around one in seven of all contactless transactions in the UK now taking place on London transport, it's clear that last year's launch has given a big boost to the expansion of the technology. In fact, total contactless spending reached a record &pound;2.32 billion in 2014 &#45; more than double that of all the previous six years combined.'</p>
<p>Kevin Jenkins, MD Visa UK and Ireland, said: `We've seen the use of contactless terminals more than triple over the last year and believe that TfL's adoption of the technology is a leading reason why consumers have embraced it as fast as they have.  It is an excellent proof point for our world class payments infrastructure in the UK.'</p>
<p>Scott Abrahams, Group Head of Acceptance and Emerging Payments at MasterCard UK&amp;I said: `This milestone for TfL shows just how quickly consumers have taken to contactless in London. This extraordinary take up is having a halo effect on other businesses in the UK who accept contactless payments. They are also seeing a significant shift in the way their customers are choosing to pay.'</p>
<p>Mike Jackson, VP &amp; General Manager of Merchant Services UK at American Express said: `UK consumers have really got onboard with contactless technology and more and more Londoners are enjoying the fast, convenient 'tap and go' payments on buses, Tubes, tram and DLR across the city. Reaching one million taps in one day is a fantastic achievement for TfL and we are delighted to be partnering with them on this journey.'</p>
<p>Barclaycard Head of Contactless, Tami Hargreaves said: `Having created the technology which sits at the heart of TfL's contactless network, Barclaycard has unique insight into the increasing uptake of contactless among London's commuters. Our data shows that the speed, ease and security of paying for travel with a contactless credit or debit card means this is fast becoming a preferred way to pay. We're seeing a steady climb in usage each month and expect this trend to continue throughout 2015 as 'the convenience of 'touch-and-go' becomes the norm.'</p>
<p>More information on contactless payments can be found at <a href="http://www.tfl.gov.uk/contactless">www.tfl.gov.uk/contactless</a></p>
<p>&nbsp;</p>
<hr />
<p >
Notes to Editors:</p>
<ul>
    <li>Contactless payments were launched on London's buses in December 2012</li>
    <li>It is not a requirement for customers to sign up for an online account and register their credit or debit card to travel but it is encouraged. Customers are able to view 12 months of journey and payment history while unregistered customers will only be able to access their history for the last 7 days from a one-off log in on  the TfL website or via TfL Customer Services (0343 222 1234)</li>
    <li>For customers making several rail journeys or a mixture of rail, bus and tram journeys in one day, capping is usually better value than buying a Day Travelcard. The Monday to Sunday cap is available for journeys made between 0430 on Monday and 0429 the following Monday</li>
    <li>Monday to Sunday capping is calculated by analysing the cumulative daily totals as the week progresses and applying a Monday to Sunday cap when appropriate. To benefit from Monday to Sunday capping, customers must:</li>
    <li>Use the same contactless payment card for each journey</li>
    <li>Make sure they touch in on the yellow card reader at the start of each journey and touch out at the end of all rail journeys</li>
    <li>Start using their contactless payment card on a Monday for maximum benefit</li>
    <li>Monday to Sunday capping always calculates your week of travel from a Monday and finishes on the following Sunday</li>
    <li>Videos of TfL customers talking about their experiences of the convenience of contactless travel can be found in the contactless section of our YouTube channel here</li>
    <li>The number of Barclaycard total contactless transactions in the UK has increased by 46 per cent from Sep 14 to Feb 15 since the launch of contactless on TfL in Sep 14.</li>
    <li>Contactless journeys made on TfL account for 13 per cent of all Barclaycard contactless transactions</li>
    <li>All UK issued contactless American Express, MasterCard or Visa credit, debit, charge or pre-paid cards will be accepted for contactless payments.</li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/december">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/april">April</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/march">March</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2015-March-TfL named fastest growing contactless merchant in Europe -->

 
 
        
        
            @{ViewBag.Description = "TfL named fastest growing contactless merchant in Europe after six months";}
        
        


 