


@{ViewBag.Title = "Year of the Bus sculptures to be auctioned for charity ";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2015">2015</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2015/march">March</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Year of the Bus sculptures to be auctioned for charity </span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Year of the Bus sculptures to be auctioned for charity </h1>
        <div class="content-page-press-release">
        11 March 2015
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        New Routemaster bus sculptures are up for auction on online bidding site, i-Bidder
        
    </div>



 <div class="on-this-page">
<p>More than 50 Year of the Bus sculptures, which surprised and delighted Londoners and visitors to the city when they went on public display last year, will be auctioned for charity by Transport for London (TfL) - with the support of Christie's - later this month.</p>
<p>Painted and adorned by well-known and aspiring artists, the sculptures first went on display in October 2014 on four walking trails across the Capital.  All 60 were then brought together at Queen Elizabeth Olympic Park in east London for a final show before the search for their new owners begins.</p>
<p>The sculptures feature a wide variety of designs including ones based around iconic London landmarks such as Tower Bridge and Buckingham Palace, artwork featuring the designs of Cath Kidston and Orla Kiely, and even one of the Queen's Guard complete with faux bearskin hat.</p>
<p>Leon Daniels, Managing Director of Surface Transport at TfL, said: `The search has begun to find new homes for the Year of the Bus sculptures, which have captured the imaginations of so many in our city.  The auction gives individuals and organisations the opportunity to own a unique miniature version of one of the Capital's most recognisable icons while raising money for three admirable charities at the same time.'</p>
<p>Bidding is now underway at <a href="http://www.i-bidder.com/yearofthebus">www.i-bidder.com/yearofthebus</a> for the sculptures, which are 2.5m long, 1m high and 0.5m wide.  A live auction event will be held in central London on Tuesday 24 March. Members of the public wanting to attend should register their interest at <a href="http://www.tfl.gov.uk/campaign/sculpture-trails">http://www.tfl.gov.uk/campaign/sculpture-trails</a></p>
<p>The live auction concludes TfL's celebrations to mark 2014's Year of the Bus, in partnership with London Transport Museum and the Capital's bus operators.</p>
<p>The Year of the Bus was supported by and delivered in partnership with Exterion Media, Abellio, Arriva London, Clear Channel UK, Go-Ahead London, Metroline, RATP Dev UK, Stagecoach, Wrightbus, Optare and Telent Technology Services.  The Year of the Bus sculptures were also supported by other sponsors, most notably Cubic Transportation System Ltd, who sponsored 10.</p>
<hr />
<ol>
    <li>Online bidding at <a href="http://www.i-bidder.com/yearofthebus">www.i-bidder.com/yearofthebus</a> will run until 12 noon on Tuesday 24 March 2015 and re-open in parallel to the live auction at 7pm on the same day.</li>
    <li>The bus sculptures will be auctioned by international auctioneer Tom Best who has travelled extensively for charity auctions across the globe where he has so far helped raise over &pound;3.5 million for selected charities.</li>
    <li>Events and activities were held throughout 2014 to celebrate TfL's Year of the Bus, in partnership with London Transport Museum and the Capital's bus operators &#45; specifically the role that London buses, bus drivers and the staff who support them play in keeping the capital moving.  The Year of the Bus also marked a number of important anniversaries including 60 years since the creation of the original and iconic Routemaster, 75 years since the launch of its predecessor the RT-type bus, and 100 years since hundreds of London buses were sent to the Western Front to play a crucial role during the First World War.</li>
    <li>During the Year of the Bus TfL worked on a number of high profile collaborations including with the world-famous Fender guitar manufacturer whose Stratocaster guitar celebrated its 60th anniversary in 2014; with LEGO to install an operational bus stop and shelter on Regent Street made entirely out of LEGO bricks; and a special Routemaster Google Doodle on the Google.co.uk homepage.  The Year of the Bus has also seen the first ever series of live music performances on board a New Routemaster bus as part of Oxjam, and 'bus stop top' exhibitions along the Strand from renowned photographers Juergen Teller and David LaChapelle.</li>
    <li>Kids Company was founded by Camila Batmanghelidjh in 1996.  They provide practical, emotional and educational support to inner-city children, young people and vulnerable families.  Their services reach 36,000 young people across London and Bristol, including the most deprived and at risk whose parents are unable to care for them due to their own practical and emotional challenges.</li>
    <li>Transaid is an international development charity.  They identify, champion, implement and share local transport solutions to improve access to basic services and economic opportunity for people in Africa and in developing countries.  Transaid was founded by Save the Children and The Chartered Institute of Logistics and Transport and their Patron is HRH The Princess Royal.</li>
    <li>London Transport Museum in Covent Garden highlights the vital role transport has played in the life of the capital.  They also work with more than 150,000 children each year delivering essential travel safety education to keep our children safe, and they run programmes to help young people into employment.</li>
</ol>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/december">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/april">April</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/march">March</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2015-March-Year of the Bus sculptures to be auctioned for charity  -->

 
 
        
        
            @{ViewBag.Description = "New Routemaster bus sculptures are up for auction on online bidding site, i-Bidder";}
        
        


 