


@{ViewBag.Title = "Advice for those travelling in central London on Saturday 20 and Sunday 21 October";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Advice for those travelling in central London on Saturday 20 and Sunday 21 October</h1>
        <div class="content-page-press-release">
        17 October 2012
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        TUC march and rally will mean central London will be very busy on 20 October.
        
    </div>



 <div class="on-this-page">
<ul>
<li>The Tunnel 2 Tower charity fun run on 21 October will mean the Rotherhithe Tunnel will be closed until early afternoon</li></ul>
<p>On Saturday 20 October 2012 a large number of people are expected in central London to take part in a march and rally organised by the Trades Union Congress (TUC).</p>
<p>Transport for London (TfL) is working with the Metropolitan Police, event organisers and other agencies to ensure that people travelling to and from the events can do so quickly and safely, and to minimise disruption to Londoners caused by road diversions and closures.</p>
<p>Those coming to the event from outside of London are reminded that the easiest, and almost always cheapest, way to travel on London's public transport network is to use an Oyster card. </p>
<p>These can be purchased from our 270 Tube stations, from many London Overground and National Rail stations and from 4,000 Oyster Ticket Stops across Greater London.</p>
<p>People are advised to check <a href="http://www.tfl.gov.uk">www.tfl.gov.uk</a> to plan their route, and for updates on Tube engineering works and transport service changes that may affect journeys. Road users are strongly advised to avoid central London throughout the day and early evening.</p>
<p>The following travel information is being given to those attending the events or intending to travel through central London on the day:</p>
<h2>Roads</h2>
<p>The route of the march to Hyde Park includes Victoria Embankment, Bridge Street, Parliament Square, Parliament Street, Whitehall, Trafalgar Square, Cockspur Street, Pall Mall, Waterloo Place, Piccadilly, Hyde Park Corner, and Park Lane. </p>
<p>At 07:00 Bridge Street and Whitehall will be closed in both directions, as well as Parliament Square and approach roads. </p>
<p>At approximately 10:00 Victoria Embankment will be closed in both directions from Southwark Bridge to Northumberland Avenue.</p>
<p>At approximately 11:00 the whole route will be closed to all traffic, apart from Park Lane which will close prior to the march arriving. This will particularly affect approach roads into Marble Arch and Hyde Park Corner.</p>
<p>Further contingency road closures may be implemented if necessary. All closures will be lifted as soon as possible following the event, but road users are strongly advised to avoid this part of central London throughout the day and early evening.</p>
<p>Where possible road works will be removed from the affected areas before the start of the march.</p>
<h2>Buses</h2>
<p>A number of bus services will be subject to diversions and early curtailments if they are unable to travel their usual routes through the affected part of central London. Diversions and curtailments will start to be put in place from 06:30 on the day and it is anticipated that they will be lifted around 16:30.&nbsp; </p>
<p>The routes affected include:</p>
<p>2, 3, 6, 9, 9H, 10, 11, 12, 13, 14, 15, 15H, 16, 19, 22, 23, 24, 29, 36, 38, 52, 53, 73, 74, 82, 87, 88, 91, 94, 137, 139, 148, 159, 176, 211, 381, 388, 414, 436, 453, C2. </p>
<p>Extra staff will be on-hand to provide public information and to assist with the diversions. Bus users are advised to check the TfL website before they travel.</p>
<h2>Tube</h2>
<p>The main Tube stations near to the route of the march will be open on the day, including Embankment, Charing Cross, Waterloo, Westminster, Hyde Park Corner and Green Park. As normal, station closures will be used if necessary to manage any crowd issues within or outside stations.&nbsp;</p>
<p>There are a number of planned engineering works taking place on the day, which affect several lines in central London, including:</p>
<ul>
<li>Cannon Street will be closed most Saturdays for redevelopment work until September 2013. Please use nearby Bank, Monument or Mansion House stations. This station is always closed on Sundays and Bank Holidays</li>
<li>The Circle line will be suspended all weekend for track improvement work at Notting Hill Gate station</li>
<li>The District line will be suspended all weekend&nbsp; between Earl's Court and Edgware Road due to track improvement work at Notting Hill Gate</li>
<li>The District line will also be suspended between Barking and Upminster all weekend for drainage improvement work</li>
<li>The Metropolitan line will be suspended all weekend between Baker St and Aldgate due to line upgrade work</li>
<li>Due to track improvement work, services will be suspended all weekend between Tooting Broadway and Morden on the Northern line</li>
<li>Services will be suspended on the Victoria line all weekend between Highbury &amp; Islington and Brixton for rail maintenance work</li></ul>
<p>Because of the numbers expected on the march there may be some short term station closures to prevent over-crowding. When leaving the Hyde Park rally, people are advised to follow the signs for the Underground.</p>
<p>Customers are advised to check the TfL website for more information, including details of rail replacement bus services.</p>
<h2>DLR</h2>
<p>Services on the DLR will be suspended all weekend between Canning Town and Beckton and on Sunday between London City Airport and Woolwich Arsenal due to Crossrail work.</p>
<h2>Coaches</h2>
<p>Parking and drop off points have been identified by TUC.&nbsp; These include, but are not limited to, Wembley, New Covent Garden and the O2.&nbsp;Those travelling by coach have been advised to use public transport from their drop-off points to access Central London.&nbsp; </p>
<p>Coaches have also been advised not to pick up in the Central London area as it is likely the roads will be closed and there will be limited access to Hyde Park.</p>
<h2>Sunday 21 October</h2>
<p>On Sunday 21 October the Tunnel 2 Towers charity fun run will mean that the Rotherhithe Tunnel is closed between 08:00 and early afternoon. Drivers are advised to use the adjacent alternative crossing at Tower Bridge.&nbsp;&nbsp; </p>
<p>There are a number of essential maintenance and upgrade closures on the Tube, DLR and London Overground on the Sunday, and passengers are advised to check the TfL website for full details.<br></p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The Tunnel 2 Tower charity fun run on 21 October will mean the Rotherhithe Tunnel will be closed until early afternoonOn Saturday 20 October 2012 a large number of people are expected in central London to take part in a march and rally organised by the";}
        
        


 