


@{ViewBag.Title = "Don't take the risk with an unbooked minicab, TfL warns new students ";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Don't take the risk with an unbooked minicab, TfL warns new students </h1>
        <div class="content-page-press-release">
        02 October 2012
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Picking up a minicab on the street after a night out on the town can be tempting, but TfL and the Metropolitan Police Safer Transport Command are today warning the public that un-booked minicabs could be extremely dangerous.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Many people think getting an unbooked minicab home at night is cheaper or easier than waiting for a licensed, booked minicab, but this just isn't true. Please don't get into a car with a potential criminal.
                            
                        </p>
                    </div>
                
            
            
            <p>TfL's annual Safer Travel at Night initiative not only aims to make the public aware of the dangers of picking up unbooked minicabs off the street, but also informs the travelling public of the best ways to get home safely. </p>
<p>The initiative includes the message 'If your minicab's not booked, it's just a stranger's car' and will coincide with the hundreds of Freshers' Week activities taking place in the Capital.&nbsp; </p>
<p>At this time of year thousands of new students, many of whom are new to the Capital, head for London living in unfamiliar areas and unaware of how to travel safely at night. The traditional Freshers' Week that kick-starts the academic year is something most young people won't turn down. </p>
<p>But as the vast majority of revellers make the most of London's thriving nightlife, students need to be aware of the dangers of using unbooked minicabs. </p>
<h2>Risk of attack</h2>
<p>TfL along with the Mayor of London, the Metropolitan Police and the City of London Police are telling students, particularly women, that any minicab that isn't booked through a licensed minicab operator is dangerous and puts you at risk of attack, including sexual assault and robbery. </p>
<p>Minicabs lined up outside pubs and clubs are breaking the law if they accept your fare without a booking being made first. You should not approach minicab drivers, and any minicab driver that approaches you is acting illegally. Do not get in. Only black cabs can be stopped by customers and pick you up off the street.&nbsp; </p>
<p>Siwan Hayward, Deputy Director of Community Safety, Enforcement and Policing at TfL said: 'Using unbooked minicabs is simply not worth the risk.</p>
<p>'Many people think getting an unbooked minicab home at night is cheaper or easier than waiting for a licensed, booked minicab, but this just isn't true. Please don't get into a car with a potential criminal. It could be a decision you regret for the rest of your life.'</p>
<p>The awareness initiative is also supported by Operation Safer Travel at Night, which involves police officers from across the Capital working on deterring illegal minicab drivers, as well as engaging with students and late night revellers to inform them of the dangers of unbooked minicabs. </p>
<p>Although enforcement against unbooked minicabs and engagement with the public takes place throughout the year, there will be an increase in operations to detect and deter offenders during the Freshers' Week period and throughout the following months.</p>
<h2>Officers out in force</h2>
<p>Chief Superintendent Sultan Taylor, Safer Transport Command, said: 'While students are out enjoying themselves during the Freshers' period, officers from the Safer Transport Command will be tackling illegal minicab drivers as well as engaging with partygoers, warning them of the dangers of unbooked minicabs.'</p>
<p>Rachel Griffin, Director of Suzy Lamplugh Trust, said: 'Suzy Lamplugh Trust are 100 per cent behind TfL's Safer Travel at Night campaign.&nbsp;It's so important that people realise and remember the level of risk they might be taking by picking up an unbooked minicab on the street. These cabs are illegal, uninsured and potentially very dangerous.&nbsp;They should never be considered an option for getting home.'</p>
<p>Although the number of cab-related sexual offences has fallen since the inception of Safer Travel at Night , tackling the problem of unbooked 'minicabs' remains a high priority for the Mayor, TfL and the police and they have a few tips for new students on how to stay safe when using minicabs: </p>
<ul>
<li>Never approach a minicab on the street or accept a fare - they are acting illegally, even if they are licensed by TfL </li>
<li>Only black cabs can pick passengers up on the street without a booking </li>
<li>When travelling by minicab always book it with a licensed operator </li>
<li>When it arrives check it's for you by getting the driver to confirm your booking details and check the driver's photo identification </li>
<li>To get three local cab numbers text 'CAB' to 60835** </li>
<li>Visit <a href="http://www.tfl.gov.uk/cabwise">www.tfl.gov.uk/cabwise</a> for more information</li></ul>
<p>Remember, all minicabs must be licensed by Transport for London and booked through a licensed minicab operator by phone, email or in a minicab office. All unbooked minicabs (even those licensed by Transport for London and displaying the licence disc) are illegal, dangerous and could put you at risk.</p>
<p>
<hr>

<p>
<p><strong>Notes to editor:</strong></p>
<ul>
<li>** Users of 3 and overseas networks must enter different information. See tfl.gov.uk/cabwise for details and charges </li>
<li>Since 2003 the Cab Enforcement Unit has made more than 7,000 arrests for touting and cab-related offences </li>
<li>Cab Enforcement operations are carried out on a regular basis in line with current intelligence on touting behaviour. They also cooperate with clubs to crackdown on the touts who operate in the area and ensure compliance with regulations and importantly enhance the safety of the travelling public </li>
<li>During the operations roadside and compliance checks are made and in addition, officers carry out operations and conduct checks on all cabs within the operation area </li>
<li>The STAN partnership between TfL, the MPS and the CoLP was launched in 2002/3.&nbsp; The campaign aims to make people travelling at night aware of the dangers of picking up unbooked minicabs off the street, as well as informing them of the best ways to get home safely </li>
<li>The MPS Safer Transport Command fights crime on buses, tackles illegal cabs; and assists with the control of traffic congestion. There are now around 1,800 uniformed officers, which are funded in part by TfL </li>
<li>The Mayor has taken a tough line on touting and&nbsp; illegal cabs and any TfL licensed private hire driver convicted of touting will now lose their private hire driver's licence for a minimum of one year </li>
<li>If you have had a bad experience in a minicab or taxi (black cab), please report the incident at tfl.gov.uk/contactcabs, call 0845 300 7000, or email <a href="mailto:TPH.Comms&#64;tfl.gov.uk">TPH.Comms&#64;tfl.gov.uk</a> </li>
<li>Help and support is available for victims of sexual assault from The Havens. Details can be found at <a href="http://www.thehavens.co.uk">www.thehavens.co.uk</a> </li>
<li>For essential late night travel information in London please visit tfl.gov.uk/cabwise and tfl.gov.uk/traveltools </li>
<li>TfL's 24 hour travel information call centre can also provide information and phone numbers for taxi and private hire services in London.&nbsp; Call 0843 222 1234</li></ul>
<p><br>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "TfL's annual Safer Travel at Night initiative not only aims to make the public aware of the dangers of picking up unbooked minicabs off the street, but also informs the travelling public of the best ways to get home safely. The initiative includes the";}
        
        


 