


@{ViewBag.Title = "Electric vehicles now able to roam between London and eastern England ";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Electric vehicles now able to roam between London and eastern England </h1>
        <div class="content-page-press-release">
        25 October 2012
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Easier access to around 940 charge points throughout London and eastern England.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"London is leading the way in providing charge points for owners of electric vehicles"</div>
        <div class="quote-footer">
            <div class="quotee-name">Nick Fairholme</div>
            <div class="quotee-job-title">TfL Director for Source London</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            London is leading the way in providing charge points for owners of electric vehicles
                            
                        </p>
                    </div>
                
            
            
            <p>Electric vehicle owners who are members of Source London or Source East can now roam between the Capital and the east of England secure in the knowledge they will be able to charge their vehicles across both schemes.</p>
<p>An agreement between electric vehicle charging networks Source London and Source East means that members of both schemes will be able to use the other's charge points free of charge and have access to around 940 charge points throughout London and the east of England.</p>
<p>Source London, a consortium of 50 public and private partners has 810 charge points throughout the Capital with plans to increase that to 1,300 in 2013.&nbsp;</p>
<p>Source East covers the east of England region and includes the counties of Norfolk, Suffolk, Cambridgeshire, Hertfordshire and Essex together with Peterborough, Bedford, Central Bedfordshire, Luton, Thurrock and Southend.&nbsp;</p>
<p>Currently with 132 charge points, Source East aspires to have 800 publicly accessible charge points - one within 25 miles of all businesses and residents in the eastern counties. </p>
<h2>Supporting vehicle owners</h2>
<p>Nick Fairholme, TfL Director for Source London said: 'We are pleased to be able to offer this service to our members. London is leading the way in providing charge points for owners of electric vehicles.&nbsp;</p>
<p>'The growth in the electric vehicle market is very encouraging and by building the infrastructure to support these vehicles, we expect them to become even more accessible. London's charge point network guarantees our members are never far away from a point.&nbsp;</p>
<p>'This arrangement between Source London and Source East means they can now comfortably travel outside London also safe in the knowledge that they are never too far from a charge point.'</p>
<p>Keith Bevis, Managing Director for EValu8, the company that manages the Source East programme, said: 'Working to make electric car charging points more accessible to all our members is something that we are very passionate about, especially with the heritage the east of England has for developing green transport solutions. </p>
<p>'The roaming scheme means we will be able to continue to support and help motorists travel in a sustainable way.' </p>
<h2>London leading the way</h2>
<p>London's electric vehicle charge point network is already the UK's largest, and by 2013 will be one of the world's largest urban charging networks.&nbsp;</p>
<p>London also has the highest proportion of electric vehicles in the UK - almost 16 percent - and confidence is high that this will remain the case as the market develops. </p>
<p>The east of England, in contrast, is a relatively rural region, but with high levels of car ownership and usage.&nbsp;Source East is confident the collaboration with Source London will strengthen and encourage the adoption of electric vehicles in the region.</p>
<p>Nick Webb, Chief Executive of The Marston Vale Trust, a regeneration project in the east of England, supports the new agreement: 'The development of roaming between the eastern region and London's network of electric vehicle charging points is a fantastic development. </p>
<p>'Hopefully, it will encourage electric cars to become a far more common site on our roads and we hope charging posts at sites such as ours here at the Forest of Marston Vale's Forest Centre will become a familiar sight.'</p>
<p>In just under 18 months, the Source London consortium has grown from 21 public and private partners to 50 and 810 charge points located across 200 sites throughout the Capital at supermarkets, shopping centres, council and private car parks, the Olympic Park, hospitals and on the street.&nbsp; </p>
<p>Encouraging more electric vehicles is part of the Mayor's commitment to making London the electric vehicle capital of Europe, delivering cleaner air and reducing carbon dioxide emissions for all Londoners.<br>&nbsp;<br></p>
<p>
<hr>

<p>
<p><strong>Notes to editor<br></strong>&nbsp;<br><strong>About Source London</strong></p><strong>
<ul>
<li></li></ul></strong>Transport for London, as the Mayor's transport authority, oversees the delivery and operation of the Source London network 
<li>Membership of Source London and Source East allows for limitless re-charging on its publicly accessible network in locations across Greater London and the East of England </li>
<li>Membership costs &pound;10 annually </li>
<li>For more information about Source London go to <a href="http://www.sourcelondon.net">www.sourcelondon.net</a> </li>
<p><strong>About Source East</strong></p>
<ul>
<li>Source East is the public brand name of the east of England Electric Vehicle charging network operated by EValu8 Transport Innovations Ltd. Users of the network will receive Source East membership cards which will provide access to the growing network of charging points in the region. Each charging point will bear the distinctive Source East brand which follows the style and feel of Source London </li>
<li>Membership of Source East will give drivers unlimited free access to these charging points as well as those within the Source London region. A yearly membership costs just &pound;10 and gives drivers the resource to access the online membership site which includes an interactive map of all charge point locations; one card to access any charge point on the scheme; and a dedicated call centre </li>
<li>To find out more, visit <a href="http://www.sourceeast.net">www.sourceeast.net</a> </li></ul>
<p><strong>About EValu8 Transport Innovations Ltd</strong></p>
<ul>
<li>Registered in October 2010, EValu8 Transport Innovations Ltd is a company set up by the University of Hertfordshire specifically to deliver the EValu8 project </li>
<li>The company oversees the installation of the innovation network and 600 plug-in posts across the east of England, the majority of which will be double recharging points. The posts will located in and around the eight key clusters of Bedford, Cambridge, Ipswich, Norwich, Peterborough, Luton and Hertfordshire and Thames Gateway South Essex </li>
<li>To find out more visit: <a href="http://www.evalu8-ti.org.uk">www.evalu8-ti.org.uk</a> </li></ul>
<p>More information on the Marston Vale Trust can be found via their website: <a href="http://marstonvale.org/">http://marstonvale.org/</a> <br></p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Electric vehicle owners who are members of Source London or Source East can now roam between the Capital and the east of England secure in the knowledge they will be able to charge their vehicles across both schemes.An agreement between electric vehicle";}
        
        


 