


@{ViewBag.Title = "Extended Upgrade work on Central line's 'Hainault loop' to reduce total closure time by a total of seven days";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Extended Upgrade work on Central line's 'Hainault loop' to reduce total closure time by a total of seven days</h1>
        <div class="content-page-press-release">
        22 October 2012
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Upgrade work including a huge renewal of track and points to improve reliability and ensure smoother journeys for passengers will take place during a 12-day closure of the Central line's Hainault loop from this Wednesday (24 October) until 4 November.
        
    </div>



 <div class="on-this-page">
<p>London Underground (LU) is putting in place final preparations to help customers make their journeys during the closure, which will see the line closed between Grange Hill and Newbury Park on weekdays and between Woodford and Leytonstone on the two affected weekends (27 and 28 October and 3 and 4 November). </p>
<p>The work is part of a programme of renewal works on the Central line. The line was last upgraded in the 1990s with new trains and signalling, which introduced automatic train operation (ATO) across the line. As part of its Tube Upgrade Plan, Transport for London is now refreshing the fleet of 85 trains and renewing track to give customers a better, smoother journey.</p>
<p>By closing the line in a 'block' LU has been able to accelerate the work - cutting the overall time required by more than a third, from a total of 19 days down to 12. Using a block closure instead of weekend works will also save more than &pound;2m of money from the public purse.</p>

<p>
<hr>
</p>
<p>Central line services will continue to operate between Epping and central London throughout the closure, which will deliver:</p>
<ul>
<li>505m of ballast track renewal (track, sleepers and ballast replacement) and 319m of new track drainage </li>
<li>11 new points and crossings </li>
<li>Better ride quality </li>
<li>340m of new rails between Wanstead and Leytonstone </li>
<li>Improvements to track at Newbury Park where the Central line comes out of tunnel and the rails pass from a concrete bed to ballast-based track </li>
<li>Embankment stabilisation near Fairlop with 2,500 concrete planks and 330 steel posts, work which has been innovatively adapted to reduce impact on residents and enable it to be carried out alongside track works, preventing further weekend engineering closures </li></ul>
<p>
<hr>
</p>
<p>George McInulty, LU Programme Director of Infrastructure, said: 'This upgrade work is essential to make the Central line as reliable and as safe as possible. We apologise to anyone affected by this closure but carrying the work out during the quieter school holiday period is by far the least disruptive way to do this. </p>
<p>'It will avoid a long series of individual weekend closures, save more than &pound;2m of fare and taxpayers' money and will reduce the overall number of closure days required by more than a third.'</p>
<p>The Central line is used by 900,000 passengers each day. These works will affect around 7,500 of those customers each weekday, so LU has put in place measures to make it easier for passengers to complete their journeys. LU tickets will be accepted on local buses and Network Rail services between Ilford and Stratford, and high frequency rail replacements buses will also operate throughout the closure. </p>
<p>London Underground has engaged with local stakeholders including schools and businesses about the closure. </p>
<p>To find out more about how the works will affect journeys, customers can go to <a href="http://www.tfl.gov.uk">www.tfl.gov.uk</a> or pick up a leaflet at stations. </p>

<p>
<hr>
</p>
            <p>Notes to editors:</p>
<ol type="1">
<li>On weekdays (24 to 26 October and 29 October to 2 November) trains will continue to run to and from Newbury Park, via Redbridge, and to and from Grange Hill via Woodford. Rail replacement bus services will serve the closed section of line, as follows: <br>Newbury Park - Barkingside - Fulwell Cross - Fairlop - Hainault - Grange Hill<br>Newbury Park - Barkingside - Fulwell Cross - Hainault (peak hours only)</li>
<li>On weekends (27 to 28 October and 3 to 4 November)&nbsp; trains will run between central London and Epping only, and the following rail replacement bus services will operate: <br>Woodford - Roding Valley - Chigwell - Grange Hill - Hainault<br>Hainault - Fairlop - Barkingside - Newbury Pak - Ilford<br>Newbury Park - Gants Hill - Redbridge - Wanstead - Leytonstone</li>
<li>In addition to the specially arranged acceptance of LU tickets of Greater Anglia services between Ilford and Stratford, LU tickets are already accepted on Greater Anglia services between Stratford and London Liverpool Street, meaning customers can travel directly from Ilford to Liverpool Street on their LU ticket. <br></li></ol>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "London Underground (LU) is putting in place final preparations to help customers make their journeys during the closure, which will see the line closed between Grange Hill and Newbury Park on weekdays and between Woodford and Leytonstone on the two";}
        
        


 