


@{ViewBag.Title = "London Underground unveils plans for a year of celebrations to mark 150th anniversary";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>London Underground unveils plans for a year of celebrations to mark 150th anniversary</h1>
        <div class="content-page-press-release">
        24 October 2012
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



 <div class="on-this-page">
<p>Next year London Underground (LU), the world's first underground railway, will celebrate 150 years since the very first Tube journey took place between Paddington and Farringdon on the Metropolitan Railway. </p>
<p>To mark this occasion, LU - working in partnership with London Transport Museum - will be organising a huge range of events and activities during the rest of this year and throughout 2013. </p>
<p>The events will explore the Tube's fascinating history and also look at the vital role it will continue to play in the future - both in the lives of Londoners and to the economic life of London and the UK.</p>
<p>Setting the scene for the exciting year to come is the publication of a new lavishly illustrated book, published by Penguin Books, about the history of the Tube. The book Underground - How the Tube shaped London 1863 to 2013 will be launched by BBC Broadcaster Robert Elms and the authors at London Transport Museum on the evening of 29 October.</p>
<p>Transport for London will also launch an imaginative campaign to bring together 150 people, whose personal stories help to demonstrate the rich and vibrant history of the Tube.</p>
<p>An enormous range of other events and activities will follow, including:</p>
<ul>
<li>The first Tube passenger journey will be recreated on Sunday 13 January 2013, with a series of specially restored trains including the Metropolitan Steam Locomotive No.1 and the Metropolitan Railway Jubilee Carriage No 353 - the oldest operational underground carriage in existence - which is being restored with support from the Heritage Lottery Fund </li>
<li>A series of heritage rail trips, including the use of steam trains </li>
<li>The publication of 12 short stories by well-known authors, published by Penguin Books. The stories, one about each Tube line, look at the meaning of the Underground and the place it holds in the imagination of all those who live and visit the city </li>
<li>Two new two-pound coins issued by the Royal Mint which will go into circulation in 2013 to mark the 150th anniversary of the London Underground </li>
<li>Poster Art 150: London's greatest Designs - an exhibition at London Transport Museum focussing on the iconic poster art that has been a feature of London Underground for much of its history </li>
<li>Train wraps of Metropolitan line trains for customers to enjoy </li>
<li>A commemorative Oyster card which will serve as a sought-after memento for passengers </li>
<li>A series of Poems on the Underground will celebrate 150 years of the Tube </li>
<li>A series of theatrical events at the disused Aldwych station </li>
<li>In 2013 Art on the Underground will present a programme that will include: a major commission by an acclaimed, high profile British artist bringing artworks into every station on the Tube network; a set of posters and limited edition prints by 15 leading contemporary artists; screenings of London Underground themed films at a Tube station from the BFI archive </li>
<li>Behind the scenes events and Open Weekends at the Museum's store at Acton</li></ul>
<p>Mike Brown, Managing Director of London Underground, said: 'London Underground has always played a hugely important role in the success of our city - from the growth of the early network which led to the expansion of the suburbs in the last century, to the development of Canary Wharf's financial powerhouse in the 80s, and on to today's system which successfully moved record numbers of people during the Queen's Jubilee and London 2012 Games.</p>
<p>'As we mark the 150th anniversary of the world's first underground railway with a range of wonderful events, we are also building for the future - transforming stations and replacing trains, signals and track to create a truly 21st century network able to maintain London's vital role in the UK economy.'</p>
<p>
<hr>

<p>
<p>&nbsp;</p>
            <p>Notes to Editors:</p>
<ul>
<li>The launch event for Underground - How the Tube shaped London takes place at 6.30pm on 29 October at London Transport Museum, Covent Garden Piazza, London, WC2E 7BB. Tickets cost &pound;5.00 per person and can be booked in advance at <a href="http://www.ltmuseum.co.uk">www.ltmuseum.co.uk</a> or on 020 7565 7298 </li>
<li>The new book Underground - How the Tube shaped London costs &pound;25.00 and can be pre-ordered from London Transport Museum's online shop at <a href="http://www.ltmuseum.co.uk">www.ltmuseum.co.uk</a> </li>
<li>The Tube is undergoing a huge and essential programme to upgrade its ageing infrastructure - vital to cope with a growing population and to support the economic development and growth of the capital and the UK.&nbsp;This includes the introduction of new track and signalling and the rebuilding of some of our most important stations. By the end of the current programme there will be 30% more capacity. This will inevitably result in some disruption for passengers, but TfL is working hard to provide information and alternative travel options. The work is essential to provide for London's growing transport needs now, and into the future </li>
<li>Transport for London would like to thank Cubic, Siemens and CBS Outdoor for sponsoring the 150th anniversary of London Underground.<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Next year London Underground (LU), the world's first underground railway, will celebrate 150 years since the very first Tube journey took place between Paddington and Farringdon on the Metropolitan Railway. To mark this occasion, LU - working in";}
        
        


 