


@{ViewBag.Title = "Major improvement work to regenerate Tottenham Hale begins";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Major improvement work to regenerate Tottenham Hale begins</h1>
        <div class="content-page-press-release">
        12 October 2012
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        &pound;34 million scheme will see existing gyratory system converted back to two-way traffic as well as environmental enhancements to footways and other pedestrian facilities.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"I am determined to give local people a better deal on the roads; and this scheme is designed to make Tottenham Hale an easier, safer and more attractive proposition for every road user"</div>
        <div class="quote-footer">
            <div class="quotee-name">Boris Johnson</div>
            <div class="quotee-job-title">The Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            I am determined to give local people a better deal on the roads; and this scheme is designed to make Tottenham Hale an easier, safer and more attractive proposition for every road user
                            
                        </p>
                    </div>
                
            
            
            <ul>
<li>Expanded bus station and new public space to be created by the end of 2014 </li>
<li>Works to be carried out overnight and during off-peak hours to reduce disruption to traffic and minimise impact on the local businesses </li>
<li>Improvements form a key part of the Mayor's commitment to support regeneration in Tottenham area</li></ul>
<p>Transport for London (TfL) has begun major work in Tottenham Hale to improve facilities for pedestrians and cyclists and return the gyratory to two-way traffic, as part of its ongoing work to improve the capital's streets.</p>
<p>The scheme will take around two years to fully complete with the aim of improving access for residents and making the area more accessible for those walking or cycling. </p>
<h2>Bigger, better bus station</h2>
<p>The existing bus station by Tottenham Hale station will also be expanded to significantly improve interchange between bus and train services and a new public space with trees, benches and additional cycle parking for the local community created, providing a new area for local residents to relax, play and catch up.</p>
<p>This work forms part of the Mayor of London Boris Johnson's Great Outdoors Programme, which aims to revitalise London's network of streets, paths, passages, broadways, squares and other public spaces to help breathe new life into the capital's urban environment and encourage people to walk and cycle.</p>
<p>The Mayor of London, Boris Johnson, said: 'I am determined to give local people a better deal on the roads; and this scheme is designed to make Tottenham Hale an easier, safer and more attractive proposition for every road user. </p>
<p>'These works will support the wider regeneration of the area and help us provide a road network that is not just a relic of 1960s urban planning but one that is fit for the 21st century.'</p>
<p>Restoring two-way traffic throughout the area will significantly improve the road network by providing more route options for travelling in both directions through the area, as well as easier access for local residents and businesses. </p>
<h2>Work underway</h2>
<p>Cllr Alan Strickland, Haringey Council's Cabinet Member for Economic Development and Social Inclusion, said: 'Kick-starting the gyratory works and road improvements around Tottenham Hale was one of Haringey Council's 12 in 2012 pledges to improve Tottenham for everyone who lives and works in the area.&nbsp;It's great news that this work is finally underway.'</p>
<p>Garrett Emmerson, Chief Operating Officer for Surface Transport at TfL said: 'Tottenham Hale is an area currently undergoing huge levels of regeneration. These works to deliver improved facilities for pedestrians and cyclists, as well as smoother journeys throughout the area, will help support the changes and deliver safe, reliable and cared for streets throughout the area.'</p>
<p>From autumn 2012, work will begin along the High Road between Seven Sisters Road and Monument Way to improve the footways and prepare the area for two-way traffic operation. </p>
<p>Better facilities for pedestrians and cyclists will be installed throughout the area, as well as adding more than 70 mature trees and creating new shared spaces through the area to help further encourage cycling. </p>
<p>Following this work, TfL will begin expanding the bus station by Tottenham Hale station and create a new public space for local residents, commuters and businesses. The scheme will also see the speed limit along Broad Lane reduced to 20 mph, helping to further improve pedestrian and cyclist safety for local residents, school pupils and students.</p>
<p>In order to reduce the disruption that these works could cause to businesses in the local area, TfL has been working closely with its contractor to minimise the construction impact of the project. </p>
<p>Roadworks will be carried out to avoid peak traffic hours and be undertaken at times when traffic is lighter, including during evenings, nights and weekends. TfL will also be working closely with Haringey Council's environmental team to keep noise within agreed limits. </p>
<p>Innovative working methods such as noise-dampening barriers will be used to ensure that local residents are not affected by these overnight works. <br>&nbsp;<br>The improvements to local roads are in addition to &pound;41m of regeneration investment planned for the area by the Mayor of London and Haringey Council. Investment through the fund will work in Tottenham across the following areas:</p>
<ul>
<li>&pound;27 million for North Tottenham/Northumberland Park - to support transport infrastructure and public realm improvements to help unlock proposals for the major stadium-led regeneration scheme </li>
<li>&pound;3 million into a package of works to improve the High Road, bringing disused buildings back into use, paving the way for growth in terms of housing, employment and community </li>
<li>&pound;4 million to support an Opportunity Investment Fund - to purchase key sites to bring forward development on the High Road and at Tottenham Hale </li>
<li>&pound;3.6 million for an Employment and Skills programme to provide support for hard to reach young people and problem families in terms of employability, access to jobs and skills training </li>
<li>&pound;3 million to transform 639 High Road for community use</li></ul>
<p>For the latest information about the scheme, visit <a href="http://www.tfl.gov.uk/tottenhamhalescheme">www.tfl.gov.uk/tottenhamhalescheme</a> </p>
<p>
<hr>
<strong>Notes to editors: </strong>
<p>
<ul>
<li>Copies of concept drawings and maps are available online or from the TfL Press Office </li>
<li>TfL manages the red routes - a network of 580km of London's roads, which carry over 33 per cent of the Capital's traffic </li>
<li>The Mayor's London's Great Outdoors has seen &pound;40 million invested in more than 50 public realm improvement projects, funding for which has come from Transport for London, The London Development Agency and London's boroughs as well as other sources </li>
<li>Funding for the &pound;34 million improvement scheme will be provided by Transport for London, the London Borough of Haringey and the Homes and Communities Agency, along with local developer contributions </li>
<li>Last year, advance works along the A10 High Road, Monument Way and Broad Lane were completed by TfL, upgrading footpaths and lighting, while removing unnecessary street clutter to provide greater freedom and improve safety for pedestrians and cyclists </li>
<li>The designs for the Tottenham Hale scheme have been reviewed by representatives from cycling and road user groups, London boroughs and the Police as part of our junction review programme - <a href="http://www.tfl.gov.uk/betterjunctions">www.tfl.gov.uk/betterjunctions</a> </li>
<li>The &pound;41m of regeneration funding available for Tottenham is coming from Haringey Council and &pound;28m from the Mayor's Regeneration Fund </li>
<li>The Mayor's Regeneration Fund is &pound;70 million - &pound;20m of which was secured from central Government - set up to help those riot hit areas. The worst affected boroughs were invited to apply for funding to support long term improvements with an onus on jobs and economic growth. The successful bids are not about rebuilding like-for-like, but investing in people's futures with grant agreements awarded on the strength of job, training and apprenticeship opportunities for local people as well as high street renewal.&nbsp; Funding agreements will be finalised for the new financial year<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Expanded bus station and new public space to be created by the end of 2014 Works to be carried out overnight and during off-peak hours to reduce disruption to traffic and minimise impact on the local businesses Improvements form a key part of the Mayor's";}
        
        


 