


@{ViewBag.Title = "Network Rail works affecting London Bridge bus station";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Network Rail works affecting London Bridge bus station</h1>
        <div class="content-page-press-release">
        01 October 2012
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        As part of the redevelopment works being carried out by Network Rail it is necessary to make some temporary changes to bus stopping arrangements at London Bridge bus station affecting a small number of bus routes.
        
    </div>



 <div class="on-this-page">
<p>The works, which are part of the Thameslink Project, mean that from the 6 October it will be necessary to close bus stand A, which is currently served by routes 48 and 149.&nbsp; </p>
<p>From this date these services will move to bus stand D.&nbsp; </p>
<p>These changes are expected to last for around 18 months.</p>
<p>The route 17 bus will also be affected by these works and will no longer drop off or pick up from London Bridge bus station.&nbsp; </p>
<p>Route 17, when arriving from Archway, will drop off passengers at bus stop Y on London Bridge with the return journey starting at bus stop M on the opposite side of the road.&nbsp; </p>
<p>Both stops are only a short walk away from the London Bridge station.&nbsp; </p>
<p>This change is expected to be a permanent.</p>
<p>The revised stopping arrangements for routes 17, 48 and 149 will be clearly displayed on posters around the bus station, in local bus stops and on the Transport for London website <a href="http://www.tfl.gov.uk/livetravelnews">tfl.gov.uk/livetravelnews</a>.&nbsp; </p>
<p>When the project is complete it will deliver improvements to the rail station, Underground station and bus station.&nbsp; </p>
<p>Borough Viaduct will double the number of tracks heading north from London Bridge, unlocking extra capacity at London Bridge and reducing delays for passengers coming into London from the South East.&nbsp; </p>
<p>Full details are available online <a href="http://www.thameslinkprogramme.co.uk">www.thameslinkprogramme.co.uk</a> </p>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The works, which are part of the Thameslink Project, mean that from the 6 October it will be necessary to close bus stand A, which is currently served by routes 48 and 149.&nbsp; From this date these services will move to bus stand D.&nbsp; These changes";}
        
        


 