


@{ViewBag.Title = "New Tube performance figures confirm continued reliability improvements";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>New Tube performance figures confirm continued reliability improvements</h1>
        <div class="content-page-press-release">
        09 October 2012
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Passenger journeys continue to rise and customer satisfaction at record high.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"We are committed to delivering further improvements in performance, and we are developing a further programme to deliver the Mayor's target of a further 30 per cent reduction in delays by 2015"</div>
        <div class="quote-footer">
            <div class="quotee-name">Mike Brown</div>
            <div class="quotee-job-title">LU's Managing Director</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            We are committed to delivering further improvements in performance, and we are developing a further programme to deliver the Mayor's target of a further 30 per cent reduction in delays by 2015
                            
                        </p>
                    </div>
                
            
            
            <p>Delays on the Tube continue to fall with more services operated across the network, according to new figures published by Transport for London. <br>&nbsp;<br>The figures for Period 4, covering 24 June to 21 July, show passenger demand continued at record levels with 3m more passenger journeys made than anticipated, two per cent more than the same period in 2011. </p>
<p>London Underground's (LU's) quarterly Customer Satisfaction Survey stands at a record score of 82 out of 100, the highest since the independent survey began in its current form in 1990.<br>&nbsp;<br>Delays to customers during the period, as measured by lost customer hours, were 0.3m hours below target, and LU operated 97.9 per cent of scheduled kilometres, equalling the 15-year high reached in period 5 of 2010/11. </p>
<p>The continuing trend of long-term improvement follows the creation of the London Underground Reliability Programme in 2011, which led to the introduction of a range of initiatives to predict and prevent failures, respond more quickly to problems and roll out better equipment. <br>&nbsp;<br>Mike Brown, LU's Managing Director, said: 'Reliability on the network is at an all-time high and continues to improve. </p>
<p>'We are committed to delivering further improvements in performance, and we are developing a further programme to deliver the Mayor's target of a further 30 per cent reduction in delays by 2015.'</p>
<p>During the four-week period, several improvements were also delivered across the Tube network, including:</p>
<ul>
<li>The first of the new S7 air-conditioned, fully walk-through trains entering service on the Hammersmith &amp; City line</li>
<li>A new station entrance, concourse, ticket hall and two new staircases opened at Paddington (H&amp;C line) station</li>
<li>The initial rollout of Wi-Fi, delivered by Virgin Media, completed during the period with live Wi-Fi at 72 stations in time for the 2012 Games</li>
<li>Five new lifts at Farringdon station, which became the 66th step-free Tube station. <br>&nbsp;<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Delays on the Tube continue to fall with more services operated across the network, according to new figures published by Transport for London. &nbsp;The figures for Period 4, covering 24 June to 21 July, show passenger demand continued at record levels";}
        
        


 