


@{ViewBag.Title = "New 'businesscycle' website launches to help promote cycling in the workplace";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>New 'businesscycle' website launches to help promote cycling in the workplace</h1>
        <div class="content-page-press-release">
        25 October 2012
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London, Business in the Community, British Cycling and the Cycle to Work Alliance providers come together to help businesses promote cycling.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Businesscycle is a great way of encouraging businesses to promote cycling to their employees in a positive way
                            
                        </p>
                    </div>
                
            
            
            <ul>
<li>New survey shows 52 per cent of people motivated to cycle as a direct result of Olympics</li></ul>
<p>Transport for London (TfL), Business in the Community, British Cycling and the key Cycle to Work Scheme providers have come together to embrace the momentum from the Games, and are today launching a unique, national initiative to help more employers promote cycling in the workplace. <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <br>With the backing of Norman Baker MP (Parliamentary Under-Secretary of State for Transport), Julian Huppert MP (Co-Chair of the All Party Parliamentary Group for Cycling) and Chris Boardman MBE (Olympic Gold Medallist and cycling hero), the new Businesscycle website will act as a 'one stop shop' to help the business community and employers create a positive environment to support continued growth in cycling for work journeys. </p>
<h2>Fantastic offers</h2>
<p>Businesscycle focuses on why and how employers should promote cycling in the workplace.&nbsp;</p>
<p>It provides advice on promoting cycle safety and security - two often cited barriers to cycling - and highlights cycle safety tips, cycle training, good locking practice and bike registration.&nbsp; </p>
<p>The site also includes guidance on pool bikes, cycle parking facilities and cycle to work schemes. Organisations that sign up will have access to fantastic offers for themselves and their employees, such as discounts on cycle parking, British Cycling membership and cycle security kits.</p>
<p>Through this new initiative TfL and its partners are helping to create a lasting cycling legacy, capitalising on the success of the London Olympic Games.</p>
<p>Research by Sky and British Cycling found 52 per cent of all people surveyed were motivated to cycle as a result of the achievements of Team GB's cyclists.</p>
<p>The Mayor of London, Boris Johnson, said:&nbsp;'It's the age of the cyclist in London. The incredible achievements of Team GB's Olympic cyclists have inspired thousands more Londoners to take to two wheels and they are now reaping the rewards of fun, active travel across the Capital. </p>
<p>'We want employers to capitalise on this enthusiasm and encourage more of their staff to weave cycling into their lives. This new website is a one-stop shop of information to support them.' </p>
<h2>Influence of the Games</h2>
<p>Ben Plowden, TfL Director of Planning, Surface Transport, said: 'The success of the London 2012 Games has spurred on a huge growth in cycling across the country. </p>
<p>'At TfL we want to nurture that growth and encourage more people to take to two wheels as a means of transport for both leisure and work. Businesscycle is a great way of encouraging businesses to promote cycling to their employees in a positive way, giving both employers and employees access to a wealth of information regarding good cycle practice.'</p>
<p>Stephen Howard, Chief Executive, Business in the Community, said:&nbsp;'For the past three years, through its ways2work programme, BITC has been working with businesses to influence sustainable commuting and business travel.&nbsp;</p>
<p>'We are now delighted to be a businesscycle partner and part of what we believe will be a resurgence of cycling as an efficient, healthy and equitable form of transport benefiting people, businesses and communities across the UK.'</p>
<p>Transport Minister Norman Baker said:&nbsp;'I welcome the launch of this website and know it will provide a valuable resource for businesses looking to take a positive step and promote cycling in the workplace. </p>
<p>'Cycling is great for the environment, great for the economy and great for people's health and I would encourage as many people as possible to log on and take to two wheels.'</p>
<p>The Businesscycle website can be found at: <a href="http://businesscycle.org.uk/">http://businesscycle.org.uk/</a> <br>
<hr>
<strong>Notes to editors</strong> 
<p>
<ul>
<li>Following feedback from businesses, 'businesscycle' replaces and reinvigorates the Cycle to Work Guarantee, which was set up in November 2009 </li>
<li>Businesscycle tips for safer cycling include:<br>-&nbsp;Be aware that there are blind spots all around large vehicles. It's often safer to hang back&nbsp;<br>-&nbsp;Pay attention to what's going on around you and what other road users might do&nbsp;<br>-&nbsp;Use lights after dark - white at front and red at rear. You may be fined &pound;30 if you don't have them&nbsp;<br>-&nbsp;Wear bright clothing in the day and reflective clothing or accessories at night For more cycling tips visit: <a href="http://businesscycle.org.uk/safety">http://businesscycle.org.uk/safety</a>&nbsp; </li>
<li>The Cycle to Work Alliance is a group of the leading providers of the cycle to work scheme, including Cyclescheme, Cycle Solutions, Evans Cycles and Halfords </li>
<li>The cycle to work initiative is a tax-efficient, and on the whole, salary-sacrificed employee benefit that provides a way of encouraging more adults to take up cycling. Introduced in the 1999 Finance Act, the scheme encourages employers to loan bicycles and cycling safety equipment to employees as a tax-exempt benefit for the purpose of cycling to work.&nbsp;Under the scheme, employers buy cycling equipment from suppliers approved by their scheme administrator, and hire it to their employees.&nbsp;At the end of the loan period, the employer may choose to give the employee the option to purchase the equipment </li>
<li>For more information please see <a href="http://www.cycletoworkalliance.org.uk">www.cycletoworkalliance.org.uk</a> or contact <a href="mailto:info&#64;cycletoworkalliance.org.uk">info&#64;cycletoworkalliance.org.uk</a> <br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "New survey shows 52 per cent of people motivated to cycle as a direct result of OlympicsTransport for London (TfL), Business in the Community, British Cycling and the key Cycle to Work Scheme providers have come together to embrace the momentum from the";}
        
        


 