


@{ViewBag.Title = "Second phase of consultation on options for river crossings in east and south east London begins";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Second phase of consultation on options for river crossings in east and south east London begins</h1>
        <div class="content-page-press-release">
        30 October 2012
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        New tunnel and vehicle ferry to boost regeneration and ease congestion. Public encouraged to share views at tfl.gov.uk/rivercrossings by 1 February 2013.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"We welcome Londoners views in helping to shape these transport options"</div>
        <div class="quote-footer">
            <div class="quotee-name">Boris Johnson</div>
            <div class="quotee-job-title">Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            We welcome Londoners views in helping to shape these transport options
                            
                        </p>
                    </div>
                
            
            
            <p>Transport for London (TfL) has launched the second phase of a public consultation on a proposed package of new river crossings between east and south east London. </p>
<p>Following an initial consultation in February this year, TfL has further developed the proposals for new vehicle river crossings, with options including a new road tunnel at Silvertown and a vehicle ferry at Gallions Reach. </p>
<p>TfL received nearly 4,000 responses to the initial consultation, and more than 90 per cent of those who responded agreed there is a need for more river crossings in east and south east London. </p>
<p>TfL has used the responses from the last consultation to develop the proposals further and is now encouraging the public and stakeholders to provide further comments on these proposals and any other alternatives they may wish to comment on. </p>
<p>Those who wish to express their views are asked to visit <a href="http://www.tfl.gov.uk/rivercrossings">tfl.gov.uk/rivercrossings</a> </p>
<p>The proposed river crossings are designed to make the area more attractive to live, visit, and do business by reducing delays and making journey times more reliable.&nbsp; </p>
<p>Alongside the considerable investment already in place on the rail network, including the delivery of Crossrail, these additional crossings will support the continued growth and regeneration of east and south east London.</p>
<p>The proposed new road tunnel would run underneath the River Thames connecting the Royal Docks with the Greenwich Peninsula. </p>
<p>It would relieve pressure on the existing Blackwall Tunnel and would provide an alternate route across the river. </p>
<p>The Silvertown Tunnel would be designed to carry all sizes of vehicles, including buses. </p>
<h2>Future development</h2>
<p>This would help to alleviate the closures caused by over-height vehicles attempting to use the Blackwall Tunnel. </p>
<p>In addition it would support the future development of these opportunity areas, which have the potential to accommodate 13,000 new jobs and 24,500 new homes over the next 20 years. </p>
<p>In June this year the Secretary of State for Transport designated the Silvertown Tunnel a 'Nationally Significant Infrastructure Project.' </p>
<p>The decision, following an application by the Mayor, means that the overall timescale required to secure all necessary approvals, could be reduced considerably enabling TfL to conduct a more structured and simpler planning process. </p>
<p>The proposed vehicle ferry would provide a river crossing linking Beckton directly with Thamesmead at Gallions Reach, providing a much better connection, particularly for business related traffic. </p>
<p>The Gallions Reach Ferry could replace the Woolwich Ferry, offering a better frequency of service and increased capacity. </p>
<p>It would take about 10 minutes to cross the Thames, including boarding time. </p>
<p>A ferry at Gallions Reach would also have more space for vehicles waiting to board and this would allow queuing traffic to be managed more effectively, preventing ferry traffic delaying vehicles on the surrounding road network. </p>
<p>The Mayor of London, Boris Johnson, said: 'This river crossings package has been proposed for two reasons, to address problems that exist at the Blackwall Tunnel and with the Woolwich Ferry, and to support the real opportunity for jobs and growth in east and south east London. </p>
<p>'We welcome Londoners views in helping to shape these transport options which we hope will both improve the current situation and boost future development.'</p>
<h2>Planning permission</h2>
<p>Subject to planning permission, funding and other consents being granted, the earliest opening date for the proposed river crossings are 2017 for the Gallions Reach Ferry and 2021 for the Silvertown Tunnel. </p>
<p>This consultation will look at the locations of the river crossing in much more detail with the aim of creating more direct routes with less congestion surrounding the entries and exits. </p>
<p>The crossings in the area are under significant strain, with delays at the Blackwall Tunnel averaging 20 minutes per vehicle during the morning peak. </p>
<p>Currently there are only a few routes for vehicles to choose from and some of those create indirect journeys across the river costing businesses money and time and discouraging investment. </p>
<p>Width restriction at the Rotherhithe Tunnel and height restrictions at the Blackwall Tunnel further reduce the options available to vehicles. </p>
<p>Both the Blackwall Tunnel and Woolwich Ferry are incredibly vulnerable to closure because of their age and design. </p>
<p>The new river crossings proposed would address these problems. </p>
<p>This consultation will also look at a range of funding options for the river crossings, including Community Infrastructure Levy, and the possibility and benefits of tolling.</p>
<h2>New proposals</h2>
<p>TfL Director of Planning, Michele Dix, said: 'The proposals for new river crossings reflect TfL's commitment to supporting economic development and population growth in east and south east London - one of the key objectives of the Mayor's Transport Strategy. </p>
<p>'As well as the delivery of very significant public transport improvements providing better connections across the Thames in south and south east London for our customers, we have also recently delivered the Emirates Air Line to enable pedestrians and cyclists to cross the River Thames. </p>
<p>'However, with London's population set to grow by 1.2 million&nbsp;people in the next 20 years, we recognise the importance that will be placed on transporting goods and services and that is why this additional road infrastructure is so vital.'</p>
<p>The consultation closes on Friday 1 February 2013 and the public are encouraged to share their views at <a href="http://www.tfl.gov.uk/rivercrossings">tfl.gov.uk/rivercrossings</a>. </p>
<p>The consultation website will have more detailed information about the background and development of the river crossings package, and a printed information leaflet can be requested by calling 0843 222 1234.</p>
<p>TfL will then review the responses and provide a report on the findings to the Mayor. </p>
<p>A further, more detailed consultation could then take place in late 2013.&nbsp;&nbsp;</p>
<p>
<hr>
</p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>More information on TfL's river crossings package, and an online feedback form to give your views, are available at <a href="http://www.tfl.gov.uk/rivercrossings">tfl.gov.uk/rivercrossings</a></li>
<li>There are six times as many road crossings to the west of Tower Bridge compared to the east. This imbalance has disadvantaged firms which regularly need to travel in east London</li>
<li>On the north side of the Thames the Silvertown Tunnel would link to a junction with the existing roundabout off Tidal Basin Road. This roundabout would connect the Silvertown Tunnel with the A12 and A13 via Lower Lea Crossing running west, and more local roads eastwards into the Royal Docks. On the south side, northbound traffic would enter the tunnel along a new spur branching off from the existing Blackwall Tunnel Approach road</li>
<li>The Gallions Reach Ferry would be connected to the current road network on the north side to Atlantis Avenue or Armada Way. On the south side the ferry could link to the A2016 at Western Way with a new access road. TfL would also aim to extend Barnham Drive across the ferry approach road - allowing local access between central and west Thamesmead. In each case there would be sufficient room for queuing traffic and this traffic would not impact significantly on the area as a result</li>
<li>The Woolwich Ferry will be fifty years old next year; while recent investment means it can continue to operate, new boats and piers will be needed in the near future. A new vehicle ferry crossing at Gallions Reach would be built to modern standards and be able to carry more vehicles per boat than the existing Woolwich ferry. Its location would also provide an alternate route into the Royal Docks from the south east</li>
<li>If approved, the Silvertown Tunnel could transport up to 6,000 vehicles per hour. Depending on the configuration, a ferry at Gallions Reach could transport up to 300 vehicles per hour</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Transport for London (TfL) has launched the second phase of a public consultation on a proposed package of new river crossings between east and south east London. Following an initial consultation in February this year, TfL has further developed the";}
        
        


 