


@{ViewBag.Title = "See more by boat: London River Services unveils its autumn/winter River Guide ";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>See more by boat: London River Services unveils its autumn/winter River Guide </h1>
        <div class="content-page-press-release">
        30 October 2012
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Even though there is a nip in the air, there is still a warm welcome awaiting you on the River Thames.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"It's never been easier to enjoy the Thames"</div>
        <div class="quote-footer">
            <div class="quotee-name">Mike Weston</div>
            <div class="quotee-job-title">Operations Director for Surface Transport</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            It's never been easier to enjoy the Thames
                            
                        </p>
                    </div>
                
            
            
            <p>Whether you're looking for a leisurely sight-seeing River Tour or a quick commute on a River Bus service, TfL's updated guide to river services with help you to make the most of London's greatest highway.</p>
<p>The guide, available from 5 November, details both River Bus and River Tour services. </p>
<p>River Bus offer fast and frequent services throughout the day between the many piers along the Thames. </p>
<p>These services operate between Putney Pier and Woolwich Arsenal Pier and, as well as special services like the O2 Express, are designed to get you quickly around London in warmth and comfort.</p>
<p>River Tours continue to run through autumn and winter and are a great way to relax and see the city from a different perspective.&nbsp; </p>
<p>Not only are there leisurely trips, such as Sunday Lunch Jazz Cruises and London Showboat Boat Cruise available, there are also super-speedy sightseeing trips in speedboats designed to thrill the whole family. </p>
<p>There really is something for everyone on the river this year.</p>

<h2>Iconic landmarks</h2>
<p>Passengers with a valid Travelcard, or an Oyster card loaded with a valid Travelcard, can get a third off single fares on most river services.&nbsp; </p>
<p>On KPMG Thames Clippers the cost of the journey can be taken from any Oyster pay as you go balance.&nbsp; </p>
<p>Passengers with Oyster pay as you go get 10 per cent off the normal KPMG Thames Clipper adult fare.</p>
<p>Mike Weston, Operations Director for Surface Transport, said: 'Autumn and winter are such great seasons to enjoy the River Thames.&nbsp; </p>
<p>'With lovely warm state-of the-art vessels, many serving drinks and snacks, it is not only great for your daily commute but also for visitors and residents who can see many iconic London landmarks, including the Tower of London and the Houses of Parliament, from a fantastic vantage point.&nbsp; </p>
<p>'Since the introduction of improved signage, clearer 'Tube style' river maps and new branding along the river, it's never been easier to enjoy the Thames.'</p>
<p>For more information on London's river services, visit <a href="http://www.tfl.gov.uk/river">tfl.gov.uk/river</a> or pick up one of the new guides from some London River Services' piers, London Underground stations and Transport for London Travel Information Centres.</p>
<p>
<hr>

<p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>London River Services is responsible for managing eight piers on the river: Westminster, Festival, Embankment, Millbank, Blackfriars, Bankside, Tower and Greenwich</li>
<li>Fast River Bus services now operate all day every day from Embankment Pier and London Eye Pier to North Greenwich Pier for the O2, with some services continuing to Woolwich Arsenal Pier. The last boat back into central London from North Greenwich Pier is at 22:20 daily. Later boats leave every 10 minutes after shows at the O2</li>
<li>Passengers with a valid Travelcard will get a third off the price of their River Bus ticket. Passengers with Oyster pay as you go will get 10 per cent off the normal KPMG Thames Clipper adult fare, with the exception of journeys on the O2 Express service</li>
<li>London River Services is keen to ensure the continued growth and development of river services and to see that all riverboat services are integrated, where practicable, with London's other public transport services</li>
<li>London River Services has realtime information on KPMG Thames Clipper services at piers and on the website to allow passengers to better plan their journeys</li>
<li>All London River Services piers are step-free at all states of the tide, allowing access for mobility impaired passengers.&nbsp;Most river boats are accessible - passengers should contact boat operators for comprehensive accessibility information when planning their journeys.&nbsp;The relevant contact information is included in the new guide and is available at <a href="http://www.tfl.gov.uk/river">tfl.gov.uk/river</a><br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Whether you're looking for a leisurely sight-seeing River Tour or a quick commute on a River Bus service, TfL's updated guide to river services with help you to make the most of London's greatest highway.The guide, available from 5 November, details both";}
        
        


 