


@{ViewBag.Title = "TfL is proud to support London Poppy Day, war veterans and their families";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>TfL is proud to support London Poppy Day, war veterans and their families</h1>
        <div class="content-page-press-release">
        26 October 2012
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Over the coming days, passengers will notice poppies across the transport network.
        
    </div>



 <div class="on-this-page">
<p>A Circle line train, an Overground train and two London buses have been wrapped in a special poppy design. </p>
<p>Tube stations and bus shelters will also be displaying poppies.&nbsp; </p>
<p>As a mark of respect for the sacrifices made by London's service men and women, past and present, poppies will also be displayed on the front and back of all Tube trains, Docklands Light Railway (DLR) trains and Overground trains. </p>
<p>Commuters will also notice poppy decorations at six bus shelters across the Capital including a specially designed shelter display with fluttering poppies by Clear Channel outside the Royal Albert Hall. </p>
<p>On The Royal British Legion's London Poppy Day, Thursday 1 November 2012, commuters travelling on the Tube will hear the iconic voice of Barbara Windsor making announcements at up to 50 stations encouraging them to give generously.&nbsp; </p>
<p>There will also be more than 2,000 volunteers collecting at 70 Tube and mainline rail stations on the day. </p>
<p>
<p>Since November 2008 war veterans have been able to travel on the Tube, DLR, Overground, London buses and trams for free with a <a href="http://www.tfl.gov.uk/veterans    ">Veterans Oyster photocard </a>as part of the Mayor's Veterans concessionary travel scheme. </p>
<p>More than 4,500 Veterans Oyster photocards have been issued. </p>
<p>This scheme is of particular benefit to veterans who live in London and are not yet eligible for a 60+ London Oyster photocard or a Freedom Pass. </p>
<h2>Supporting London Poppy Day</h2>
<p>Transport Commissioner, Peter Hendy CBE said: 'We're really proud to support London Poppy Day. </p>
<p>'People who live and work in London will start to see our specially wrapped trains, buses and stations displaying the red poppy as the nation remembers those who made sacrifices.</p>
<p>'It is a great honour that London Transport is granted the privilege of laying a wreath at the Cenotaph on Remembrance Sunday, in tribute to the staff of the London General Omnibus Company who drove troops to the Western Front in the First World War. </p>
<p>'This honour was originally bestowed by King George V in 1920, and TfL [Transport for London] and its staff are still one of the few civilian groups to march in the parade today. </p>
<p>'I am also contributing to London Poppy Day personally by making my own Routemaster bus available, with me driving, to help transport fundraisers around the city. </p>
<p>'Stagecoach, one of our contractors, is also making two buses available for the Military Wives.'</p>
<p>
<p>This year marks the 89th year of the London Transport Old Comrades Association who will continue the tradition of marching alongside the armed forces and laying a wreath at the Cenotaph in the annual Remembrance Sunday parade on 11 November. </p>
<h2>Laying a wreath</h2>
<p>Bob Lawrence, a former Territorial Army driver and retired London Underground Emergency Planning Manager, will be leading 48 men and women from the London Transport Old Comrades on the Remembrance Sunday march. </p>
<p>Bob served in the Territorial Army for three years from 1974 to 1977. </p>
<p>He served with the Army's Royal Corp transport as a driver with 215 Squadron, Grays, Essex. </p>
<p>He joined London Underground in 1974 as a train guard before taking on other roles including Tube driver and Duty Train Manager. </p>
<p>He retired in 2007 as an Emergency Planning Manager. </p>
<p>Bob was also heavily involved in London Underground's response to the London bombings in July 2005 and assisted with the recovery of the service.</p>
<p>Bob Lawrence said: 'It is a privilege for me to lead the London Transport Old Comrades in the march this year. </p>
<p>'So many people made sacrifices in arms conflict and it is fantastic that we are still able to honour those sacrifices.</p>
<p>'Remembrance Sunday is always a poignant day as we remember those that made such a huge sacrifice. </p>
<p>'It also allows us to make time to remember those who are currently in service around the world.' </p>
<h2>Active involvement</h2>
<p>Peter Orchard, a former Royal Navy Radar Operator, and now a London Buses Area Manager in Newham and Tower Hamlets will lay the wreath at the Cenotaph this year.</p>
<p>Peter joined the Royal Navy in 1977 as a Radar Operator and served on HMS Antrim during the Falklands conflict. </p>
<p>He joined London Transport in 1983 as a bus conductor at Stamford Brook before becoming a Revenue Protection Inspector for 12 years before embarking on his current role.</p>
<p>Peter Orchard said: 'I feel very honoured to be given the opportunity to lay the wreath as a mark of respect for the 1,500 transport workers who gave their lives in both World Wars and other conflicts.'</p>
<p>Many of London's transport workers joined directly from a career in the armed forces and continue their association through active involvement with the reserve forces which in recent years has included deployments in Afghanistan and Iraq with the Territorial Army. </p>
<p>
<hr>
<br><strong>Notes to editors:</strong> 
<p>
<ul>
<li>Images are available on request </li>
<li>All war veterans in receipt of a pension under the War Pensions Scheme or the Armed Forces Compensation Scheme including war widows and widowers and eligible dependents are eligible to apply for a <a href="http://www.tfl.gov.uk/veterans    ">Veterans Oyster photocard</a>. They are not eligible for the photocard if they already have a 60+ London Oyster photocard or a Freedom Pass </li>
<li>London Transport Old Comrades were given the right to march by King George V who granted this honour to the London General Omnibus Company in 1920 in recognition of the services rendered by the men who drove buses to the front line in France 1915 </li>
<li>The London Transport Old Comrades Association was formed in 1923 </li>
<li>A total of 1,500 transport workers died in World War I and 3,000 lost their lives in World War II </li>
<li>Bob Lawrence aged 61 and lives in Southend and Peter Orchard aged 54 lives in East London </li>
<li>One wrapped bus will serve route 53, Plumstead to Whitehall. The other wrapped bus will serve routes 48 (Walthamstow Central to London Bridge), 55 (Leyton to Oxford Circus) and 56 (Whipps Cross to St Bartholomew's Hospital)</li></ul>
<p><strong>London Poppy Day</strong></p>
<ul>
<li>London Poppy Day is part of The Royal British Legion's Poppy AppealThe &pound;1m raised on 1 November will go towards the Poppy Appeal fundraising target of &pound;42m </li>
<li>London Poppy Day, the capital's largest street fundraising day, is a chance for Londoners to stand shoulder to shoulder with those who serve</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "A Circle line train, an Overground train and two London buses have been wrapped in a special poppy design. Tube stations and bus shelters will also be displaying poppies.&nbsp; As a mark of respect for the sacrifices made by London's service men and";}
        
        


 