


@{ViewBag.Title = "TfL's real time bus information service makes millions of journeys easier in its first year";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>TfL's real time bus information service makes millions of journeys easier in its first year</h1>
        <div class="content-page-press-release">
        16 October 2012
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Since its launch, TfL's real time bus information service has dealt with more than 620 million requests.
        
    </div>



 <div class="on-this-page">
<ul>
<li>Around 2,500 new and improved bus signs now installed</li>
<li>Bus data made available free to app developers to create useful apps for passengers</li></ul>
<p>Transport for London's 'Countdown' real time bus information service was launched in October last year and has proven extremely popular with passengers since then.&nbsp;</p>
<p>In the year since its launch the service has made millions of journeys easier, dealing with 620 million requests for information - an average of 1.6 million requests via the internet and smart phones and 36,000 requests via text each day.&nbsp; </p>
<p>TfL has also recently completed the installation of 2,500 new and improved bus information roadside signs across the Capital. </p>
<p>These improved signs provide clearer amber text on black background, of particular help to visually impaired passengers. The signs are now also able to display important service information so passengers are kept fully informed at all times. In addition, digital signs are currently in development that will display live bus arrival information on screens in foyers and receptions at rail stations, hospitals and hotels. </p>
<p>Leon Daniels, TfL's Managing Director for Surface Transport, said: 'Countdown is the product of many years of work and has developed into the largest and most advanced system of its kind in the UK.&nbsp; </p>
<p>'The service has revolutionised the way people make the most of bus services in London. People are now able to have that extra bowl of cereal in the morning or finish their cup of coffee after a meal out knowing they can time their arrival at the bus stop to perfection.'&nbsp;&nbsp;&nbsp; </p>
<p>As part of TfL's ongoing commitment to publish its data, it started providing real time bus arrival information free of charge to third parties in May. Many are utilising this data to produce apps and there are now more than 30 currently available which help to make journeys easier for passengers. </p>
<p>
<hr>
</p>
<p><strong>Notes to editors </strong></p><strong>
<ul>
<li></li></ul></strong>Access to the real time bus service information can be made via the TfL website, from a fixed computer or web enabled phone and involves three simple steps. Simply go to the TfL buses webpage for live bus information at <a href="http://www.tfl.gov.uk/buses">www.tfl.gov.uk/buses</a>; then enter a bus route, postcode, street name or bus stop code (these are clearly displayed at all bus stops or available on the TfL website) and view live bus arrival times, including bus destinations, for all services due in the next 30 minutes. Passengers without access to the internet can simply text the bus stop code to 87287 for detailed bus information at a small charge of 12p plus the network operator's standard SMS charge
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Around 2,500 new and improved bus signs now installedBus data made available free to app developers to create useful apps for passengersTransport for London's 'Countdown' real time bus information service was launched in October last year and has proven";}
        
        


 