


@{ViewBag.Title = "The name's Underground, London Underground";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>The name's Underground, London Underground</h1>
        <div class="content-page-press-release">
        26 October 2012
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Latest Bond film, Skyfall, filmed on the Tube.
        
    </div>



 <div class="on-this-page">
<ul>
<li>The New Bus for London also makes an appearance</li></ul>
<p>London Underground has been a popular location for film makers over the years and now the world's most famous secret agent, James Bond, has given it the nod. </p>
<p>Skyfall, the 23rd film in the Bond series, was filmed in part in London and includes an action sequence on the Tube.&nbsp;The iconic new bus for London also makes an appearance, filmed driving down Whitehall.</p>
<p>It is one of the biggest film productions ever to be filmed on the Tube, with over 450 cast and crew filming at Charing Cross station over several weeks earlier this year. </p>
<h2>Classic film</h2>
<p>The Tube has proved to be a key location for films set in London&nbsp; including Harry Potter, Bourne Ultimatum and horror classic American Werewolf in London all featuring scenes on the Tube. </p>
<p>Over recent years the disused platforms at Charing Cross and Aldwych stations have proved popular with film makers who are able to take advantage of a site that mirrors a busy Tube network but with the benefit of not disrupting the running of the railway.</p>
<p>Kate Reston, Head of London Underground Film Office, said: 'The Tube has been an integral location for film making in London for over eighty years from Hitchcock's first talking film, Blackmail, through to Skyfall. </p>
<p>'Nothing identifies a location as being in London quicker than the inclusion of an Underground station or train. </p>
<p>'It's a unique and instantly recognisable backdrop and is recognised around the world and instantly the viewer knows that it's in London.</p>
<p>'Skyfall was one of the biggest productions that I've had the pleasure to be involved in. </p>
<h2>Station stars</h2>
<p>'Though filming took place over the course of several weeks, months of preparation work with the production team preceded it, a culmination of nearly a year's work.'</p>
<p>It is not the first time that the Tube has featured in a Bond film. </p>
<p>Die another Day (2002) featured a scene at a disused station but actually the film makers built the set based on a visit to Aldwych station. </p>
<p>LU will be celebrating its 150th anniversary next year and it has always played a hugely important role in the success of London - from the growth of the early network which led to the expansion of the suburbs in the last century through to today's system, which successfully moved record numbers of people during the Queen's Jubilee and London 2012 Games. </p>
<p>All revenue generated from filming on the Tube is reinvested back into the transport network.<br></p>
<p>
<hr>

<p>
<p><strong>Notes to editors:</strong></p>
<blockquote>
<li>Films that have used the Tube include:&nbsp;&nbsp; 
<ul type="circle">
<li>Passport to Pimlico (1949) </li>
<li>Alfie (1966) </li>
<li>An American Werewolf in London (1981) </li>
<li>Sliding Doors (1998) </li>
<li>The End of the Affair (1999) </li>
<li>Billy Elliot (2000) </li>
<li>Bridget Jones's Diary (2001) </li>
<li>28 Days Later (2002) </li>
<li>V for Vendetta (2005) </li>
<li>Creep (2005) </li>
<li>The Good Shepherd (2006) </li>
<li>28 Weeks Later (2007) </li>
<li>Harry Potter and the Order of the Phoenix (2007) </li>
<li>Atonement (2007) </li>
<li>The Bourne Ultimatum (2007) </li>
<li>The Edge of Love (2008) </li>
<li>The Escapist (2008) </li>
<li>The Hereafter (2010) </li>
<li>Attack the Block (2011) </li>
<li>Skyfall (2012)</li></ul></li>
<li>In 2013 London Underground (LU), the world's first underground railway, will celebrate 150 years since the very first Tube journey took place between Paddington and Farringdon on the Metropolitan Railway. To mark this occasion, LU - working in partnership with London Transport Museum - will be organising a huge range of events and activities during the rest of this year and throughout 2013. The events will explore the Tube's fascinating history and also look at the vital role it will continue to play in the future - both in the lives of Londoners and to the economic life of London and the UK 
<ul type="circle"></ul></li></blockquote>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The New Bus for London also makes an appearanceLondon Underground has been a popular location for film makers over the years and now the world's most famous secret agent, James Bond, has given it the nod. Skyfall, the 23rd film in the Bond series, was";}
        
        


 