


@{ViewBag.Title = "Transport for London to recruit up to 100 graduate trainees ";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Transport for London to recruit up to 100 graduate trainees </h1>
        <div class="content-page-press-release">
        05 October 2012
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Huge programme of investment needs highly skilled workforce.
        
    </div>



 <div class="on-this-page">
<ul>
<li>Graduate traineeships and apprenticeships provide excellent careers and industry leading training </li>
<li>Apprenticeship positions at TfL and with many companies in its supply chain available throughout the year</li></ul>
<p>Transport for London (TfL) today announced that it will begin recruiting up to 100 graduate trainees in areas including engineering, project management, technical and corporate roles from Monday 8 October. Depending on their subject, graduates will spend up to three years as trainees with TfL. TfL welcomed 86 graduate trainees in September 2012.</p>
<p>The new roles have been made available as TfL continues its huge upgrade of London's transport network.&nbsp;The multi-billion pound investment programme is delivering a faster, more efficient and comprehensive transport network and requires a highly skilled and trained workforce.&nbsp;The graduate scheme at TfL provides a hands-on opportunity for the new recruits to take part in the upgrade programme and a fantastic learning curve. Those interested can apply from 8 October 2012 at: <a href="http://www.tfl.gov.uk/microsites/graduates/default.asp">http://www.tfl.gov.uk/microsites/graduates/default.asp</a> </p>
<p>The graduates will join teams at various sites across the Capital. They will be involved in all aspects of TfL's work including projects like&nbsp; the Victoria Station upgrade, Barclays Cycle Hire, Northern Line Extension and London Overground among many other TfL services. </p>
<p>TfL is an employer committed to developing and maintaining the skills and talents of its workforce. With the current skills shortage in the transport industry, TfL is working to address the shortage by training its own workforce for now and the future. </p>
<p>TfL currently employs&nbsp;more than&nbsp;24,000 employees directly and tens of thousands more through its suppliers. Many of these are in highly skilled roles and TfL has a vital role to play in ensuring these skills are maintained and passed on to the future. Within the last two financial years, 135 graduate roles have been created in TfL, with 86 graduates enrolling in September 2012.</p>
<p>Transport Commissioner, Peter Hendy CBE said: 'TfL, along with the Mayor and our suppliers, are all committed to offering fantastic opportunities both on our graduate and apprenticeship schemes.&nbsp;The transport industry needs highly motivated recruits and we can offer a long and fulfilling career with world-class training. I know, as I started as a Graduate Trainee in 1975.</p>
<p>'The Tube upgrade and Crossrail are firmly on track, so this is a particularly exciting time to join TfL. We have been working closely with our supply chain to ensure the industry has the highly skilled workforce needed to deliver the huge upgrade of London's transport network.'</p>
<p>Within the last three financial years,&nbsp;more than&nbsp;2,500 apprenticeship roles have been created through TfL and its supply chain. This forms part of the Mayor's commitment to create apprenticeships for Londoners. So far this financial year, TfL has taken on more than 500 apprentices. The next recruitment round for apprentices for TfL will be in spring 2013 and will be available on the TfL website.<a href="http://www.tfl.gov.uk/corporate/jobs/17128.aspx">http://www.tfl.gov.uk/corporate/jobs/17128.aspx</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </p>
<p>Highways Technician apprentice at TfL, Gregory Thame, said: 'Like many young people today, it was my expectation that after school I would attend university. After my first year at university, I realised that it wasn't the path for me. Looking for an alternative, my dad suggested an apprenticeship. Since finding the highways technician apprenticeship I haven't looked back. </p>
<p>'I am thoroughly enjoying my job, while at the same time studying for management and civil engineering qualifications. It has been a steep learning curve but I have learnt a lot, gained invaluable experience, discovered new areas of interest, and I am very much looking forward to the future.'</p>
<p>Since 2007, TfL has consistently appeared in the Graduate Times 100 list for best companies to work for, voted for by graduates, it is also recognised by the National Apprenticeship Service as one of the top 100 Apprenticeship Employers. TfL also offers a variety of training to all staff at three main training sites in West Kensington, Acton and Stratford to strengthen their skills.</p>
<p>The GLA Group's Supplier Skills Team (SST) has assisted in developing a programme tailored to the skills needs of TfL and its supply chain, as well as supporting the opportunity to bring young talent into the industry. In the last financial year,&nbsp;more than&nbsp;40 TfL suppliers have worked closely with the SST creating over 1,000 jobs for unemployed Londoners and over 800 apprenticeship opportunities.&nbsp;As a result of this joint approach Vital Rail, a TfL supplier has recently successfully recruited&nbsp;more than&nbsp;70 young NEET's (Not in employment, education or training) as Track Maintenance Apprentices.</p>
<p>TfL's suppliers will create 650 apprenticeship roles this financial year. These cover a variety of disciplines and they include roles in civil engineering and building services engineering, quantity surveying and vehicle maintenance and repair engineering apprenticeships.</p>
<p>
<hr>
<br><br></p>
            <p><strong>Notes to editors<br></strong></p>
<ul>
<li>In 2009, TfL created its Skills and Employment Strategy which was updated in 2011 to reflect the changes the organisation has made. Since its creation, the Skills and Employment Strategy has focused on a number of disciplines which have all had their successes. More than 10,000 employees have now gained NVQs</li>
<li>Strategic Labour Needs and Training (SLNT) is one of TfL's groundbreaking Responsible Procurement initiatives. TfL in association with its supply chain, has been able to open up employment and training opportunities to disadvantaged Londoners while ensuring TfL suppliers have access to a skilled and capable workforce. For more information the [TfL/GLA]&nbsp; Responsible Procurement Programme work go to <a href="http://www.london.gov.uk/rpThe">www.london.gov.uk/rpThe</a> Skills and Employment Strategy is available online at:<br><a href="http://www.tfl.gov.uk/assets/downloads/corporate/skills-employment-strategy.pdf">http://www.tfl.gov.uk/assets/downloads/corporate/skills-employment-strategy.pdf</a></li>
<li>Apprenticeship opportunities with TfL's suppliers are available throughout the year on the National Apprenticeship Service (NAS) Apprenticeship vacancies website</li>
<li>The GLA Group's Supplier Skills Team is dedicated to working with suppliers across the GLA Group to maximise training, apprenticeship and employment opportunities arising from its contracts. This activity helps to ensure suppliers have capable and competent workforces, and increases the levels of opportunity for Londoners facing barriers to employment. Further information on this activity is available at <a href="http://www.london.gov.uk/rp/skills-employment">www.london.gov.uk/rp/skills-employment</a>&nbsp;&nbsp;&nbsp; </li></ul>
<p>Other successful supplier projects include:</p>
<ul>
<li>Initial Cleaning services recently recruited 23 young NEET's through its work with the SST. All 23 of these young people came through the DWP 'Youth Contract'</li>
<li>Barclays Cycle Hire Scheme Phase Two recruited&nbsp;more than&nbsp;50 candidates through the SST partnership with the Primes ensuring long-term unemployed Londoners are accessing sustainable jobs</li>
<li>The Civil Engineering Technician Consortium: a consortium of 23 employers&nbsp;which have developed a civil engineering and building service engineering apprenticeship, aligned to professional institutions, which has recruited more than 60 young people into this sector and address key skills shortages over&nbsp;three years.&nbsp;This consortium has grown year on year from&nbsp;eight apprentices on programme in 2010 to 60 apprentices on programme in 2012<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Graduate traineeships and apprenticeships provide excellent careers and industry leading training Apprenticeship positions at TfL and with many companies in its supply chain available throughout the yearTransport for London (TfL) today announced that it";}
        
        


 