


@{ViewBag.Title = "Transport for London launches campaign to help reduce motorcycle collisions";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Transport for London launches campaign to help reduce motorcycle collisions</h1>
        <div class="content-page-press-release">
        22 October 2012
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Radio adverts and posters warn motorists to 'Look Out for Motorcycles'.
        
    </div>



 <div class="on-this-page">
<p>Transport for London (TfL) has launched a campaign to try to reduce the number of motorcyclists killed or injured in the Capital. </p>
<p>A radio advert, poster and online campaign running over the next month asks motorists to 'Look Out for Motorcycles'. It highlights to drivers the need to take extra care on the road and to make sure that they have seen motorcycle riders, which can be a particular problem as the evenings get darker.</p>
<p>Motorcyclists accounted for just one per cent of trips in London during 2011, but represented 16 per cent of all casualties and 22 per cent of all fatalities on the Capital's roads, showing that they are particularly vulnerable to serious collisions. In particular, collisions can occur at junctions when vehicles can turn across the path of a motorcyclist having failed to look properly. </p>
<p>Last year there were 4,676 collisions in Greater London involving motorcycles or scooters. Just under 600 of these collisions resulted in the death or serious injury of a motorcyclist, with the majority of casualties occurring in the morning or evening. The Mayor's London Road Safety Action Plan is currently out for consultation and highlights motorcyclists as a key vulnerable road user group for whom safety improvements need to be made.&nbsp;</p>
<p>TfL has commissioned research to better understand the cause of collisions in London that result in fatalities to motorcyclists. The study involved the in-depth analysis of collisions involving a motorcyclist fatality between 2006 and 2009, with the aim of helping to prevent these in future.&nbsp;Early findings show that fatal collisions can take place when vehicles turn right across the path of a motorcycle at a junction or from a side road. Work to further investigate these fatalities is still ongoing and TfL will publish the final report when completed. </p>
<p>Ben Plowden, Director of Surface Planning at TfL, said: 'Motorists particularly need to watch out for motorcyclists when they are turning into or out of side roads. While many initiatives in the past have aimed to improve motorcyclist safety they are still disproportionately at risk compared to other road users. We are currently working with stakeholders to deliver a Safety Action Plan to improve the safety of people using motorbikes or scooters in the Capital. The research into fatal collisions will be used to ensure that those who are most at risk are identified and action is targeted accordingly.'</p>
<p>For more information go to <a href="http://www.tfl.gov.uk/roadsafety">tfl.gov.uk/roadsafety</a> </p>
<p>
<hr>
<br></p>
            <p><strong>Notes to editors:</strong></p>
<ul>
<li>For more information on what TfL is doing to promote motorcycle safety across the Capital, please visit <a href="http://www.tfl.gov.uk/corporate/projectsandschemes/23288.aspx">http://www.tfl.gov.uk/corporate/projectsandschemes/23288.aspx</a> </li>
<li>TfL and the Metropolitan Police Service run Bikesafe-London for motorcyclists and scooter users that aims to educate riders to become safer road users. The Rider Skills Days are run by highly-qualified traffic police officers and combine observed rides with interactive presentations, discussions and advice on rider safety</li>
<li>Since 1 May 2008, around 5,000 riders have completed the Rider Skills Day, which combines observed rides with interactive presentations and advice on keeping safer while riding in London to help riders avoid collisions in future<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Transport for London (TfL) has launched a campaign to try to reduce the number of motorcyclists killed or injured in the Capital. A radio advert, poster and online campaign running over the next month asks motorists to 'Look Out for Motorcycles'. It";}
        
        


 