


@{ViewBag.Title = "Transport for London launches latest campaign to reduce teen casualties on the road ";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Transport for London launches latest campaign to reduce teen casualties on the road </h1>
        <div class="content-page-press-release">
        23 October 2012
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London (TfL) launches its latest campaign this week to reduce the number of teen casualties.
        
    </div>



 <div class="on-this-page">
<p>Posters across London, social media messages and an online game 'Stop.Think.Win' urge teens to look out for traffic when using the road. In the game, players must avoid traffic as they navigate themselves and lead a group of friends on a walk across a city.</p>
<p>The campaign highlights to teenagers how they can make themselves safer on the roads by not getting distracted. </p>
<p>Many factors, from mobile phones and MP3 players to simple face to face conversations, can lead to teens being involved in collisions when using the road. </p>
<p>One striking poster showing the real consequences of being distracted features a boy lying dead alongside a mobile phone with the warning 'My friend saw the text. He didn't see the car'. </p>
<p>Latest figures, published by TfL earlier this year, reveal that road casualties among teenagers in the Capital have fallen by two thirds over the past 10 years. </p>
<p>Despite this 236 teenagers were killed or seriously injured on London's roads last year. </p>
<p>The campaign seeks to reduce teen road casualties in London even further.</p>
<p>Ben Plowden, Director of Planning TfL Surface Transport said: 'Transport for London is committed to reducing teen road casualties. </p>
<p>'We have achieved positive results over the last 10 years. </p>
<p>'Our aim hasn't changed but our methods of getting this message across have developed.</p>
<p>'This campaign uses engaging media, from posters to an online game, to get the message over to teenagers. </p>
<p>'Over the years the campaign has gained high profile supporters like Wretch 32 and Rizzle Kicks who donated their time by recording short videos that remind London's teenagers not to get distracted when using London's roads. </p>
<p>'We know there is still much work to do to continue reducing teen road casualties. </p>
<p>'With the rise of mobile phones and MP3 players, now more than ever, TfL continues to urge teenagers to be alert and not get distracted on the road.'</p>
<p>
<hr>

<p>
<p><strong>Notes to editors</strong></p>
<ul>
<li>Images available on request </li>
<li>The game <a href="http://stopthinkwin.com/">Stop.Think.Win </a>game which can only be played on desktop PCs or laptops </li>
<li>Posters will run across the Capital displaying striking images to grab teenagers' attention </li>
<li>Watch YouTube clips of <a href="http://www.youtube.com/watch?v=XKhxcSYGJFc ">teen road safety ambassador Wretch 32</a> </li>
<li>All road safety ambassadors volunteered their services free of charge</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Posters across London, social media messages and an online game 'Stop.Think.Win' urge teens to look out for traffic when using the road. In the game, players must avoid traffic as they navigate themselves and lead a group of friends on a walk across a";}
        
        


 