


@{ViewBag.Title = "Advice to Bus passengers during planned industrial action on Tower Transit";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2016">2016</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2016/august">August</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Advice to Bus passengers during planned industrial action on Tower Transit</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Advice to Bus passengers during planned industrial action on Tower Transit</h1>
        <div class="content-page-press-release">
        24 August 2016
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Tower Transit operates less than five per cent of the bus network &#45; services operated by other companies across the Capital are unaffected and will operate a normal service; Passengers advised to check whether they are affected by visiting tfl.gov.uk/bus-strike and follow &#64;TfLBusAlerts #BusStrike;
        
    </div>



 <div class="on-this-page">
<p>Transport for London (TfL) has today issued advice to bus passengers ahead of planned strike action by members of the Unite union who work for bus operator Tower Transit, which could affect a number of bus services on Friday 26 August and Monday 29 August.</p>
<p>The planned strike action is the result of a dispute between Unite and Tower Transit over bus driver employment conditions.  It would see two 24-hour strikes on Friday 26 August and Monday 29 August and would likely result in severe disruption on a number of bus routes in east and west London, including some routes which run into central London, with some services not running.</p>
<p>Tower Transit operates less than five per cent of the bus services in London and services operated by other companies across the Capital are unaffected and will operate a normal service.</p>
<p>TfL is encouraging Unite and Tower Transit to resolve the dispute in a way that avoids disruption to passengers.</p>
<p>Mike Weston, TfL's Director of Buses, said: `I'm sorry that some of our customers may face disruption to their usual routes.  I would advise everyone to check our website for the latest updates and we'll be working hard to ensure that customers have up to the minute information about which services are affected.  We're also encouraging Tower Transit and Unite to resolve the dispute as quickly as possible to avoid disruption to passengers' journeys.'</p>
<p><strong>Friday 26 August</strong></p>
<p>The strike action will take place between 00:01 and 23:59 on Friday 26 August &#45; affecting services during the day on Friday and night bus services operating on Friday night into the early hours of Saturday 27 August.  Services during the day on Saturday 27 August should run as normal.</p>
<p><strong>Monday 29 August</strong></p>
<p>The strike action will take place between 00:01 and 23:59 on Monday 29 August &#45; affecting services during the day on Monday and night bus services operating on Monday night into the early hours of Tuesday 30 August.  Services during the day on Tuesday 30 August should run as normal.</p>
<p>Out of London's 700 bus routes there are 20 day bus routes and 8 night bus routes operated by Tower Transit.</p>
<p>Routes that are likely to be affected are:<br />
23 &#45; Liverpool Street to Westbourne Park<br />
25 &#45; Ilford to Oxford Circus<br />
28 &#45; Kensal Rise to Wandsworth<br />
30 &#45; Hackney Wick to Marble Arch<br />
31 &#45; Camden Town to White City<br />
58 &#45; East Ham to Walthamstow Central<br />
69 &#45; Walthamstow Central to Canning Town<br />
70 &#45; Chiswick Business Park to South Kensington<br />
212 &#45; Walthamstow to St James Chingford<br />
236 &#45; Finsbury Park to Hackney Wick<br />
266 &#45; Brent Cross to Hammersmith<br />
308 &#45; Wanstead to Clapton<br />
328 &#45; Golders Green to Chelsea<br />
339 &#45; Leytonstone to Shadwell<br />
425 &#45; Clapton to Stratford<br />
444 &#45; Turnpike Lane to Chingford<br />
488 &#45; Bromley-by-Bow to Dalston<br />
RV1 &#45; Covent Garden to Tower Gateway<br />
W14 &#45; Leyton to Woodford Bridge<br />
W15 &#45; Cogan Avenue Estate to Hackney Town Hall</p>
<p>N28 &#45; Camden Town to Wandsworth<br />
N31 &#45; Camden Town to Clapham<br />
N97 &#45; Trafalgar Square to Hammersmith<br />
N550 &#45; Trafalgar Square to Canning Town<br />
N551 &#45; Piccadilly Circus to Gallions Reach</p>
<p>TfL is encouraging bus passengers to check is they may be affected by visiting <a href="http://tfl.gov.uk/bus-strike">tfl.gov.uk/bus-strike</a>.  Passengers will also be kept informed of the status of their services in a range of ways, including:</p>
<ul>
    <li>Up-to-date information on bus services by route at tfl.gov.uk/buses</li>
    <li>Passengers can also check for bus arrival times using the Countdown next bus arrival service online or via our SMS text service (texts cost 12p, plus standard network rate)</li>
    <li>A range of easily available Apps for handheld devices now use TfL's live bus information</li>
    <li>Travel updates will be provided through Twitter on &#64;TfLBusAlerts and &#64;TfLTravelAlerts &#45; look out for #BusStrike</li>
    <li>TfL will also be providing information to radio and television broadcasts for use in news bulletins</li>
</ul>
<p>In addition TfL is reminding customers that the Notting Hill Carnival is taking place over the weekend.  Motorists are advised to avoid driving in the Notting Hill area and west London across the Bank Holiday weekend, as a number of road closures will be in place from Saturday 28 August to early morning on Tuesday 30 August.  The easiest ways to travel to and from the Carnival will be by Tube, bus, cycling or walking.  However, some stations close to the Carnival will be closed or will be exit only, and some bus routes will be diverted or stop short of their final destination.</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/july">July</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/august">August</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/december">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2016-August-Advice to Bus passengers during planned industrial action on Tower Transit -->

 
 
        
        
            @{ViewBag.Description = "Tower Transit operates less than five per cent of the bus network – services operated by other companies across the Capital are unaffected and will operate a normal service; Passengers advised to check whether they are affected by visiting tfl.gov.uk/bus-strike and follow @TfLBusAlerts #BusStrike;";}
        
        


 