


@{ViewBag.Title = "Mayor quadruples team tackling illegal taxi and minicab activity";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2016">2016</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2016/august">August</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Mayor quadruples team tackling illegal taxi and minicab activity</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Mayor quadruples team tackling illegal taxi and minicab activity</h1>
        <div class="content-page-press-release">
        02 August 2016
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Team will expand to 332 compliance officers by September 2017
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"I want Londoners to feel safe when they take a taxi or minicab and that is why I have approved a major increase to the size of our team that targets touts and illegal activities"</div>
        <div class="quote-footer">
            <div class="quotee-name">Sadiq Khan</div>
            <div class="quotee-job-title">The Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<p>Sadiq Khan has committed to a dramatic expansion of the Transport for London (TfL) team responsible for tackling touting and illegal activity affecting the Capital's taxi and private hire trades.</p>
<p>As part of a concerted drive to improve customer safety, an extra 250 Compliance Officers will be recruited and deployed over the next year to patrol London's streets and crack down on illegal activity and improve safety. The Mayor's move quadruples the size of a team which provides a highly visible, uniformed presence in the West End, City and other areas across London.</p>
<p>The Mayor of London, Sadiq Khan, said: </p>
<p>'I want Londoners to feel safe when they take a taxi or minicab and that is why I have approved a major increase to the size of our team that targets touts and illegal activities. It is the first part of a wider programme I will be introducing that will drive up standards in the industry and help our world famous cabbies continue to thrive.'</p>
<p>Steve Burton, TfL's Director of Enforcement and On-Street Operations, said: </p>
<p>'Illegal minicab activity not only poses a serious risk to passenger safety but undermines licensed, law abiding taxi and private hire drivers. This welcome boost to our enforcement team provides Londoners with additional reassurance and also sends a message to those not complying with the law that they will be caught and dealt with robustly.'</p>
<p>Steve McNamara, General Secretary of the Licensed Taxi Drivers Association, said: </p>
<p>'This is fantastic news for Londoners and the black cab trade; it is so refreshing to have a Mayor who recognises the danger posed to the travelling public by illegal minicab activity and is prepared to act to ensure their safety. We welcome this substantial increase in compliance officers, and look forward to working with Sadiq in the future.'</p>
<p>The new officers will be funded through changes to private hire operator licensing so that larger firms pay a greater share of the costs of enforcement.</p>
<p>TfL and its partners regularly carry out operations to deter and disrupt illegal minicab activity in the Capital and protect the public from touts. Operation Neon is a joint operation between TfL, the Metropolitan Police Service and Westminster City Council that takes place every weekend. An operation running between May 2015 and July 2016 has seen the following results:</p>
<p>Operation Neon results:</p>
<ul>
    <li>127 Operations.</li>
    <li>9699 private hire drivers advised and moved on to keep roads clear for taxis and booked private hire cabs.</li>
    <li>448 private hire drivers were reported for not having a badge and were stopped from working for the remainder of the evening.</li>
    <li>5116 private hire drivers were reported for not wearing their badge.</li>
    <li>65 private hire drivers reported for plying for hire offences.</li>
    <li>1265 private hire drivers reported for parking on taxi ranks.</li>
    <li>2916 Parking tickets issued.</li>
</ul>
<p>Today's announcement is the first part of a comprehensive strategy overseen by the Mayor that will herald in a new era for the Capital's taxi and private hire trades. It will deliver radical improvements for customers, a boost to safety, support for the taxi trade and further improve the quality of service offered by the private hire trade.  There will also be a concerted effort to make the Capital's taxi fleet the greenest in the world.</p>
<p>This activity will sit alongside improvements already underway following TfL's review of Private Hire Regulations. From 3 October this year all taxis in the Capital will be required to accept card payments, including contactless, to make services even more accessible to the public.</p>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/july">July</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/august">August</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/december">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2016-August-Mayor quadruples team tackling illegal taxi and minicab activity -->

 
 
        
        
            @{ViewBag.Description = "Mayor quadruples team tackling illegal taxi and minicab activity";}
        
        


 