


@{ViewBag.Title = "MistaJam helps Londoners to get into the Carnival spirit and plan ahead";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2016">2016</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2016/august">August</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">MistaJam helps Londoners to get into the Carnival spirit and plan ahead</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>MistaJam helps Londoners to get into the Carnival spirit and plan ahead</h1>
        <div class="content-page-press-release">
        25 August 2016
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        BBC DJ records customer travel information messages for local stations
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"It's a fantastic celebration of different cultures, and we are proud that our staff play such an important role in helping customers get to and from the Carnival safely"</div>
        <div class="quote-footer">
            <div class="quotee-name">Mark Wild</div>
            <div class="quotee-job-title">Managing Director of London Underground</div>
        </div>
</div>

 <div class="on-this-page">
<p>TfL has enlisted BBC Radio 1 and 1Xtra DJ MistaJam in encouraging Carnival-goers, road users and customers to plan their journeys ahead of the Notting Hill Carnival, Europe's biggest street party.</p>
<p>MistaJam lent his voice, familiar with those attending the Carnival from his years of participation at the festival, to recording customer information and travel advice for customers at Tube stations around the Carnival area.</p>
<p>The annual celebration of Caribbean culture and tradition will take place this weekend Sunday 28 and Monday 29 August.  It includes a selection of live music, from reggae and soul to dub and house, alongside steel bands and soca floats.</p>
<h2>Keep the Capital moving</h2>
<p>TfL services will continue to keep the Capital moving during the annual three day event.  Its dedicated Carnival webpage has details on how transport services will run, including a map showing the nearest stations and bus routes.</p>
<p>Follow &#64;TfLTrafficNews, &#64;TfLBusAlerts and &#64;TfLTravelAlerts on Twitter for all the latest information.</p>
<p>Mark Wild, Managing Director of London Underground, said: 'The Notting Hill Carnival is an iconic London event that attracts people from all over the city, and from all over the world.</p>
<p>'It's a fantastic celebration of different cultures, and we are proud that our staff play such an important role in helping customers get to and from the Carnival safely.'</p>
<p>MistaJam said: 'I've been going to Notting Hill Carnival for years, first as a visitor and in the past few years being more involved as a DJ on some of the sound-systems.  It's great to be able to help Carnival-goers and play a part in people getting them to the celebrations safely.</p>
<p>'Being so used to broadcasting on the radio, hearing my voice across over a Tube station was a cool, new experience for me and the acoustics in there are pretty good!  I hope the messages make a difference and help people enjoy one of the most incredible weekends of the year.'</p>
<h2>Road closures</h2>
<p>Motorists are advised to avoid driving in the Notting Hill area and West London across the Bank Holiday weekend, as a number of road closures will be in place from Saturday 28 August to early morning on Tuesday 30 August.</p>
<p>The easiest ways to travel to and from the Carnival will be by Tube, bus, cycling or walking.  However, some stations close to the Carnival will be closed or will be exit only, and some bus routes will be diverted or stop short of their journey.</p>
<p>Public transport and road users are advised to plan their journeys in advance at <a href="https://tfl.gov.uk/status-updates/major-works-and-events/notting-hill-carnival?cid=notting-hill-carnival">www.tfl.gov.uk/notting-hill-carnival</a> or by contacting the 24-hour London Travel Information line on 0343 222 1234.</p>
<p>Due to road closures and the demand on public transport, customers are encouraged to consider walking part of their journey to and from the Carnival.</p>
<p>Customers can plan their walking journey at <a href="https://tfl.gov.uk/journeyplanner">www.tfl.gov.uk/journeyplanner</a>.</p>
<p>&nbsp;</p>
<hr />
<p><strong>Notes to Editors:</strong></p>
<p>Images of DJ MistaJam are attached. &#45;NB If used please copyright as &quot;(c) Transport for London&quot;</p>
<h3>Fares and ticketing</h3>
<p>Stations in west London will be very busy on both days of the Carnival. To save time and avoid queues, customers are advised to top up their Oyster card in advance or use their contactless payment cards.</p>
<p>At some stations, gates may be left open so that you can exit more quickly. If you are charged a maximum fare, we will refund your journey. To find out more about Oyster and get a card, customers are encouraged to visit <a href="https://tfl.gov.uk/fares-and-payments/?cid=fares">www.tfl.gov.uk/fares</a>.</p>
<h3>London Buses</h3>
<p>There will be additional buses serving the Carnival, however they will not enter the Carnival area from the first bus on Sunday morning until the first bus on Tuesday morning.</p>
<p>To the south of the Carnival area, buses will start from Notting Hill Gate and to the north of the Carnival area buses will start from the Prince of Wales on Harrow Road. Some local buses will be on diversion so customers are advised to check before they travel <a href="https://tfl.gov.uk/plan-a-journey/">www.tfl.gov.uk/plan-a-journey</a></p>
<p>The routes that will be serving the Carnival area are: 7, 16, 18, 23, 27, 28, 31, 46, 52, 70, 94, 98, 148, 220, 228, 274, 295, 316, 328, 332, 390, 414, 452, N7, N16, N18, N28, N31, N98 and N207.</p>
<p>Additional buses will run on routes 2, 36, 205 and 436, which can be found on journey planner as 2X, 36X, 205X and 436X.</p>
<h3>London Underground</h3>
<p>Tube and Rail will be the best way to get around London on the weekend, although stations in west London will be busier than usual.</p>
<p>Some stations close to the Carnival will be closed or will be exit only, as follows:</p>
<ul>
    <li>Ladbroke Grove station will be closed all day on Sunday 28 and Bank Holiday Monday 29 August, as the station is located along the Carnival route;</li>
    <li>Latimer Road station will be closed at 23:30 on both Sunday 28 and Monday 29 August</li>
    <li>Notting Hill Gate station will be exit-only between 11:00 and 19:00 and there will be no interchange between District, Circle and Central lines on Sunday 28 August. On Monday 29 August, this station will be exit only and District and Circle lines will be non-stopping between 11:00 and 19:00. There will be no interchange between the District, Circle and Central lines all day. Customers are advised to go to Bayswater or Paddington stations instead;</li>
    <li>Westbourne Park station will be exit-only between 11:00 and 18:00, and closed from 23:30, on Sunday 30 and Monday 31 August;</li>
    <li>Royal Oak station will be exit-only between 11:00 and 18:00, and closed from 23:30, on Sunday 30 and Monday 31 August</li>
    <li>Carnival goers are advised to consider using alternative stations to get to the event. If customers are travelling on the Circle or District lines, they should consider using Bayswater station as an alternative between 12:00 and 19:00 on Sunday 28 August and all day Monday 29 August as trains will not be stopping at Notting Hill Gate.</li>
</ul>
<p>Customers are advised to consider using Paddington station (Hammersmith &amp; City and Circle lines) instead of Notting Hill Gate or Royal Oak as both stations will have entry restrictions. Other nearby stations include High Street Kensington, Holland Park, Queen's Park and Shepherd's Bush.</p>
<p>Customers are also advised that until Monday 29 August there will be no Northern line services between Hampstead and Edgware while we replace track at Colindale.</p>
<h3>London Overground</h3>
<p>The nearest London Overground stations to the Carnival area are Willesden Junction, Kensal Rise, Kensal Green, Queen's Park and Shepherd's Bush.</p>
<p>For up to date information on Tube, DLR and London Overground services follow &#64;TfLTravelAlerts.</p>
<h3>TfL Rail</h3>
<p>There will be no trains between Liverpool Street and Stratford from Saturday 27 August and Monday 29 August due to track improvement work being carried out by Network Rail.</p>
<h3>National Rail</h3>
<p>Network Rail is conducting some planned engineering works across the rail network over the Bank Holiday weekend and some train operators are amending their timetables over the August Bank Holiday. More information is available at: <a href="http://www.networkrail.co.uk/timetables-and-travel/engineering-works-service-alterations/">www.networkrail.co.uk/timetables-and-travel/engineering-works-service-alterations/</a>.</p>
<h3>Santander Cycles</h3>
<p>A small number of Santander Cycles docking stations in the Carnival area will be suspended between 21:00 Saturday 27 August to 07:00 Tuesday 30 August:</p>
<ul>
    <li>All Saints Road</li>
    <li>All Saints Church Portobello</li>
    <li>Blenheim Crescent</li>
    <li>Chepstow Villas</li>
    <li>Gloucester Terrace</li>
    <li>Hereford Road</li>
    <li>Lansdowne Walk</li>
    <li>Ladbroke Grove Central</li>
    <li>Notting Hill Gate Station</li>
    <li>Pembridge Villas</li>
    <li>St Marks Road</li>
    <li>Turquoise Island</li>
    <li>Westbourne Park Road</li>
</ul>
<p>Although all other docking stations will remain available, the expected traffic congestion in west London may make it difficult for cycle hire redistribution vehicles to collect and/or replace bicycles at locations in the affected area.</p>
<p>Customers are advised to check cycle and space availability online using the live docking station map <a href="https://tfl.gov.uk/modes/cycling/santander-cycles?cid=santandercycles">www.tfl.gov.uk/santandercycles</a>. Follow &#64;SantanderCycles on Twitter for the latest updates.</p>
<h3>Roads</h3>
<p>To create a safe environment during Carnival there will be extensive road closures for the event in the Notting Hill, Ladbroke Grove and Westbourne Park areas.</p>
<p>Roads in west London will be very busy during the carnival days as a result of the road closures which will be in place from 02:00 on Sunday 28 August until 05:00 on Tuesday 30 August.</p>
<p>Traffic is likely to be slow moving in the area, including the A5 (Edgware Road), Harrow Road, Holland Park Avenue, Notting Hill Gate and Bayswater Road so drivers should avoid the area if possible, or allow more time for their journeys.</p>
<p>For the latest information on how the roads are operating, drivers are advised to check before they travel at <a href="https://tfl.gov.uk/">www.tfl.gov.uk</a> and follow &#64;TfLTrafficNews (roads).</p>
<h3>Taxi &amp; Private Hire</h3>
<p>Taxi and private hire services will be operating normally, although they will be affected by the road closures in the area. Taxi ranks along the Carnival route will be suspended.</p>
<p>Information about booking a taxi or private hire vehicle is available at <a href="https://tfl.gov.uk/modes/taxis-and-minicabs/">www.tfl.gov.uk/modes/taxis-and-minicabs</a>. Follow &#64;TfLTPH on Twitter for the latest updates.</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/july">July</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/august">August</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/december">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2016-August-MistaJam helps Londoners to get into the Carnival spirit and plan ahead -->

 
 
        
        
            @{ViewBag.Description = "BBC DJ records customer travel information messages for local stations";}
        
        


 