


@{ViewBag.Title = "Over 50,000 journeys completed on London's first Night Tube services";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2016">2016</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2016/august">August</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Over 50,000 journeys completed on London's first Night Tube services</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Over 50,000 journeys completed on London's first Night Tube services</h1>
        <div class="content-page-press-release">
        20 August 2016
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



 <div class="on-this-page">
<p>The first Night Tube services had a successful launch overnight as tens of thousands of passengers travelled on the Central and Victoria lines.</p>
<p>In all, 50,000 customer journeys were completed using the new Night Tube service, which will support thousands of jobs and boost the Capital's 24-hour economy.</p>
<p>One of the busiest stations was Oxford Circus which saw 6,500 people tapping in, while Stratford station saw 4,250 customers tapping out.</p>
<p>Mayor of London Sadiq Khan launched the new service in the early hours of the morning when he travelled from Brixton on the first Victoria Line Night Tube.</p>
<p>Sadiq Khan said: 'It's wonderful that so many thousands of Londoners were able to benefit from a faster and simpler journey home overnight. The Night Tube is going to provide a huge boost to our capital and very clearly demonstrates that London is open. It was a real pleasure for me to see first-hand how workers and those who had been out enjoying everything our city has to offer could take advantage of this fantastic new service.'</p>
<p>Mark Wild, London Underground's Managing Director, said: 'Night Tube got off to a superb start last night with thousands of people making use of the new services.  I was out on the network myself last night seeing our staff and British Transport Police officers helping customers travel around the Capital safely.'</p>
<p>Night Tube will help Londoners get to work or home at night quickly safely and affordably, and will particularly benefit people working shifts early in the morning or late at night.</p>
<p>Night Tube services will cut late-night journey times by an average of 20 minutes, and in some cases by more than hour.</p>
<p>Tube demand has soared over recent years, with passenger numbers on Friday and Saturday nights up by around 70% since 2000, while demand for travel on night buses has risen by over 170% in the same period.  Passenger data shows that more than 50% of people using night buses are going to or returning from work &#45; many of whom will benefit directly from the Night Tube.</p>
<p>The Night Tube is expected to support around 2,000 permanent jobs in London's night-time economy, which will be boosted by around &pound;77m a year.  Over 500 of these jobs have been created directly through the operation of the service, with new part-time drivers, station staff, maintenance workers and service control staff employed and new BTP officers put on the network.</p>
<p>Notes to editors</p>
<ol>
    <li>Demand for night-time travel is on the rise. Late night Tube usage is increasing at double the rate of daytime trips and demand for travel on night buses has risen by over 170 per cent since 2000.</li>
    <li>To meet the expected demand for Night Tube services, there will be six trains per hour through central London on all Night Tube lines between 00:30 and 05:30.</li>
    <li>The Mayor is investing an extra &pound;3.4 million towards policing for the Night Tube. This will see around 100 officers out on the network when full services are underway, with at least as many officers out during the night as would be seen during the day.</li>
    <li>The Night Tube will mean Londoners and visitors to the Capital can travel on the following lines on Friday and Saturday nights and the early hours of Saturday and Sunday mornings:<br />•	Central line: trains will run between Ealing Broadway and Loughton / Hainault<br />•	Victoria line: trains will run on the entire line<br />•	Jubilee line: trains will run on the entire line<br />•	Northern line: trains will run on the entire line except on the Mill Hill East and Bank branches<br />•	Piccadilly line: trains will run between Cockfosters and Heathrow Terminal 5</li>
</ol>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/july">July</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/august">August</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/december">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2016-August-Over 50,000 journeys completed on London's first Night Tube services -->

 
 
        
        
            @{ViewBag.Description = "Press releases and news articles from Transport for London";}
        
        


 