


@{ViewBag.Title = "Public choose the most 'public transport friendly' buggies";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2016">2016</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2016/august">August</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Public choose the most ‘public transport friendly’ buggies</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Public choose the most ‘public transport friendly’ buggies</h1>
        <div class="content-page-press-release">
        11 August 2016
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Top five public transport friendly buggies as chosen by the public, are announced
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"We want to improve the journey experience for all of our customers and have worked with experts to make it easier for customers to identify the best buggies for public transport"</div>
        <div class="quote-footer">
            <div class="quotee-name">Mike Weston</div>
            <div class="quotee-job-title">TfL's Director of Buses</div>
        </div>
</div>

 <div class="on-this-page">
<p>TfL has today published the public's top five public transport friendly buggies as part of a campaign to help buggy users travel more easily.</p>
<p>Over 700 votes were cast based on a shortlist compiled by organisations including Netmums, Mumderground and 4Children.</p>
<p>The buggies chosen were considered to be easy to fold, lightweight and manoeuvrable, with the top five being:</p>
<ul>
    <li>Mothercare &#45; XSS Stroller</li>
    <li>BabyZen - YoYo+ 6+</li>
    <li>CuddleCo &#45; Doona</li>
    <li>UPPAbaby &#45; Cruz</li>
    <li>Bugaboo - bee3</li>
</ul>
<p>These are now highlighted on the TfL website to assist people when choosing a buggy. Each winning manufacturer will receive a bespoke 'public transport friendly buggy 2016' icon to use on their website.</p>
<h2>Improve the journey</h2>
<p>Mike Weston, TfL's Director of Buses, said: 'We want to improve the journey experience for all of our customers and have worked with experts to make it easier for customers to identify the best buggies for public transport.</p>
<p>'We hope that through this public vote parents will be easily able to identify compact, lightweight foldable and safe buggies, which fit comfortably through the aisle of a bus and can easily be folded if needed to give wheelchair users priority in their dedicated space.'</p>
<p>TfL has also created a special 'top tips' video which offers advice on bus and Tube travel, and encourages buggy users to make space for other buggies and wheelchair users on buses.</p>
<p>TfL's latest Travel Better London campaign also features Mr Men and Little Miss characters encouraging buggy users to make space for wheelchair users on buses. The posters are on display in buses and bus stops across London.</p>
<p>The top five public transport friendly buggies, top tips film and the Travel Better London campaign can be found on the TfL website <a href="https://tfl.gov.uk/transport-accessibility/pregnant-women-and-pushchairs?cid=babiesandbuggies">www.tfl.gov.uk/babiesandbuggies</a>.</p>
<hr />
<p><strong>Notes to Editors:</strong><br />
For further information please contact: Ruben Govinden at the TfL Press office on 020 3054 7218 or <a href="mailto:RubenGovinden&#64;TfL.gov.uk">RubenGovinden&#64;TfL.gov.uk</a></p>
<ul>
    <li>The vote followed TfL's Buggy Summit in February where parenting groups, manufacturers and retailers discussed working together to overcome challenges faced by buggy and wheelchair users</li>
    <li>The manufacturers of the five most popular buggies will be able to display the bespoke icon online for the rest of the year</li>
</ul>
<p>Buggy shortlisting panel:</p>
<ul>
    <li>Sarah Lafarge, Consumer Editor, Netmums</li>
    <li>Kath Sloggett, Mumderground</li>
    <li>Kate Groucutt, Director of External Affairs, 4Children</li>
    <li>Sally Clarke, Chair, TfL Women's Staff Network Group</li>
</ul>
<ul>
    <li>The Travel Better London campaign consists of seven posters across different modes of transport aiming to tackle travel habits that can cause delays and inconvenience other passengers. Other behaviours include holding the door open, moving down inside a bus or train carriage, and littering</li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/july">July</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/august">August</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/december">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2016-August-Public choose the most ‘public transport friendly’ buggies -->

 
 
        
        
            @{ViewBag.Description = "Top five public transport friendly buggies as chosen by the public, are announced";}
        
        


 