


@{ViewBag.Title = "River passengers to benefit from two TfL pier extensions";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2016">2016</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2016/august">August</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">River passengers to benefit from two TfL pier extensions</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>River passengers to benefit from two TfL pier extensions</h1>
        <div class="content-page-press-release">
        05 August 2016
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



 <div class="on-this-page">
<p>The Mayor and Transport for London (TfL) have stepped up the rate of improvements to Thames river services with a second pier extension in as many weeks. Westminster and Bankside piers have both been enlarged and modernised in a move that will make travelling across London by river even easier.</p>
<p>Westminster pier has been lengthened by 32 metres and MBNA Thames Clipper services will now stop there for the first time on the key RB1 route between Westminster and Woolwich, and the RB2 route between St George Wharf and Bankside.</p>
<p>The &pound;3.2million Westminster extension will mean MBNA Thames Clippers can provide a fast and reliable service from early morning until half past eleven in the evening, calling at the pier 66 times a day during the week, and even more at weekends. The new RB1X limited stop express weekend service will also call at the pier.</p>
<p>Bankside pier has also been extended, meaning that City Cruises can now start calling there.  The pier is a key stop on the south bank of the Thames, allowing easy access for River Tour and River Bus passengers to attractions such as the Globe Theatre and the Tate Modern.</p>
<p>The &pound;1.1 million extension lengthens the pier to 70 metres to allow more boats to call there.  A new 50 minute City Cruises circular tour is now calling at the pier five times a day, in addition to services operated by Circular Cruise Westminster and by MBNA Thames Clippers.</p>
<p>Both extensions are part of a wide range of improvements to TfL's river infrastructure aimed at encouraging at least 12 million passengers to use river services annually by 2020.</p>
<p>Oyster Pay as You Go and Contactless payments are accepted on MBNA Thames Clippers services as part of the TfL's action plan to improve travel on the river.  Oyster pay as you go is also accepted at the ticket offices of Thames River Services and Circular Cruise Westminster.</p>
<p>Val Shawcross, Deputy Mayor for Transport, said:<br />
`These pier extensions are part of our commitment to making travelling by river easier for Londoners and visitors alike. By allowing an increased frequency of services they will make a real impact in encouraging greater use of the Thames &#45; helping cut congestion across London's transport network, and making these wonderful parts of London even better.</p>
<p>`There has been a significant increase in river passengers and we will be continuing to look at what else can be done to increase those numbers further.'</p>
<p>TfL's London River Services General Manager, Andy Thompson, said: `With passenger numbers continuing to climb on the Thames, it's vital we provide the infrastructure both to enable yet more growth and to ensure that people using the river can do so easily and in comfort.  These extensions provide our passengers with yet more choice and are a welcome boost to services on the Thames.'</p>
<p>Sean Collins, MBNA Thames Clippers co-founder and CEO, said: `The new MBNA Thames Clippers service to and from Westminster pier, made possible by the Transport for London pier extension, will provide additional capacity into Westminster.  MBNA Thames Clippers is committed to investing heavily to make river travel in the Capital even better in terms of speed, comfort and frequency.  Yet another key area of central London now has even greater transport links.'</p>
<p>Kyle Haughton, Managing Director of City Cruises, which is now operating a new service from the extended Bankside pier, said: `Our new operation at Bankside recognizes the significant increase in recent years of the number of tourists on the South Bank.  Bankside Pier offers tourists the opportunity to enjoy our sightseeing service either before or after visiting some of London's best known attractions including The Tate Modern, Shakespeare's Globe theatre and St Paul's Cathedral and Borough Market, which are all located close to the pier. Our plan is to make river travel to the pier an obvious choice for tourists visiting these attractions and looking for an added experience on the river Thames.'</p>
<p>Ends</p>
<p>Notes to Editors:</p>
<ul>
    <li>River Bus Oyster pay as you go and contactless customers pay lower price fares compared to paper tickets</li>
    <li>Travelcard holders save 1/3 on standard price fares on most services and Oyster pay as you go customers receive an automatic discount on entry to river bus services if their Oyster card also holds a valid Travelcard. Freedom Pass holders receive a 50 per cent discount on most services.</li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/july">July</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/august">August</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/december">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2016-August-River passengers to benefit from two TfL pier extensions -->

 
 
        
        
            @{ViewBag.Description = "Press releases and news articles from Transport for London";}
        
        


 