


@{ViewBag.Title = "TfL adds Night Tube data to open-data resource";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2016">2016</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2016/august">August</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">TfL adds Night Tube data to open-data resource</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>TfL adds Night Tube data to open-data resource</h1>
        <div class="content-page-press-release">
        16 August 2016
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



 <div class="on-this-page">
<p>In advance of the Night Tube launching on the Central and Victoria line on Friday 19 August, Transport for London (TfL) has updated its extensive open data Application Program Interface (API) so customers who use travel apps can start to plan their Night Tube journeys.</p>
<p>The data, available free of charge at <a href="http://tfl.gov.uk/developers">tfl.gov.uk/developers</a>, forms part of TfL's commitment to make real-time travel information openly available to help developers create better products and services for customers.</p>
<p>The API now contains the planned journey timetables for Night Tube services on the Central and Victoria lines on Friday and Saturday nights. As other Tube lines start running Night Tube services, the API will also be updated to include these services too.</p>
<p>Night Tube service information will also be available on TfL's in-station digital customer information boards and through the Journey Planner on the TfL website, which itself is accessible in a convenient form through any device.</p>
<p>The API also contains live travel information on buses, river bus services and Trams, accessibility and car park information for all TfL stations and live travel information on the status of roads. More than 8,500 developers have registered to access our free open data, helping to power more than 500 travel apps. Following this latest release to the API, TfL is identifying further data feeds, which could help customers with their journeys.</p>
<p>Phil Young, Head of Online at TfL, said: `London is a 24-hour city and millions of Londoners use apps powered by our open data to check the Tube, find a bus or see how the roads are running. By making information about the Night Tube services easy for customers and developers to access, we hope to make it easier for everyone to enjoy all that London has to offer and support the thousands of Londoners who have to travel to or from work during the night.'</p>
<p>Since June, customers have also been able to get direct disruption alerts straight to their mobile device by visiting tfl.gov.uk/twitter-alerts as part of a world-first partnership between TfL and Twitter.  The partnership allows customers to opt-in for automatic alerts of severe delays, which can be personalised for certain times of day, for all 14 London Underground and TfL rail services as soon as they occur.</p>
<p>Already, around 7,000 customers have signed up for the alerts and earlier this week, TfL extended the service to its &#64;tfltravelalerts feed. This new feature will allow followers to opt-in for a weekly alert of planned weekend closures on TfL lines, helping them better plan how they travel around the weekend.</p>
<p>For more information about how TfL is making its open data free and accessible for all, please visit <a href="http://tfl.gov.uk/developers">tfl.gov.uk/developers</a></p>
<p>ENDS</p>
<p>Notes to editors:</p>
<ul>
    <li>For technical briefings on TfL's open data and how it could be used by developers, please contact the TfL Press Office</li>
    <li>More technical information about the digital API is available to developers via the TfL Digital Blog: <a href="https://blog.tfl.gov.uk/">https://blog.tfl.gov.uk/</a></li>
    <li>Local businesses and organisations can apply for bespoke &quot;Digital signs&quot; which use live bus arrival data to display up to four bus stops and a map of the local area - <a href="https://tfl.gov.uk/info-for/business-and-commercial/travel-for-business/digital-signs">https://tfl.gov.uk/info-for/business-and-commercial/travel-for-business/digital-sign</a></li>
    <li>To get TfL's open data developers can sign up for free at <a href="http://api.tfl.gov.uk">api.tfl.gov.uk</a></li>
    <li>The Night Tube will run on the Victoria and Central lines on Friday and Saturday nights from Friday 19 August</li>
    <li>The new 24-hour services will make life easier for everyone, particularly night-shift workers getting to and from work.  It will cut journey times, will support thousands of jobs and boost London's economy by &pound;77 million a year by 2029.</li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/july">July</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/august">August</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/december">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2016-August-TfL adds Night Tube data to open-data resource -->

 
 
        
        
            @{ViewBag.Description = "Press releases and news articles from Transport for London";}
        
        


 