


@{ViewBag.Title = "Update on bus routes affected by industrial action on Tower Transit services: Friday 26th August";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2016">2016</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2016/august">August</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Update on bus routes affected by industrial action on Tower Transit services: Friday 26th August</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Update on bus routes affected by industrial action on Tower Transit services: Friday 26th August</h1>
        <div class="content-page-press-release">
        26 August 2016
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Tower Transit services from their Lea Interchange, Atlas Road, near Willesden Junction, and Westbourne Park garages &#45; representing less than 5% of the bus network &#45; are subject to moderate disruption
        
    </div>



 <div class="on-this-page">
<p>As 0700 hours today, TfL is advising that strike action by members of the Unite union, who work for Tower Transit, is causing moderate/extensive disruption to bus services in east and central London.</p>
<p>Overall, almost 32% of normal bus services are operating across the affected routes. Of the 20 affected day bus routes, a reduced service is operating on 17 routes &#45; 23, 25, 28, 30, 58, 69, 70, 212, 236, 266, 308, 339, 425, 444,488, W14 and W15.</p>
<p>Some routes will run a shortened service, such as the 25 which will run from Aldgate to Stratford rather than from Ilford to Oxford Circus, due to the action and reduced operating capacity.</p>
<p>The strike action began at 00.01 this morning and will continue until 23.59 tonight &#45; affecting night time bus services well into the early hours on Saturday (27th August) morning.</p>
<p>Day bus services on Saturday and Sunday will operate as normal, but another strike is currently scheduled for Monday affecting the same routes.</p>
<p>The strike is over a dispute between Unite and Tower Transit over bus driver employment conditions. TfL is calling for Unite and Tower Transit to swiftly resolve the dispute so that passengers are not disrupted.</p>
<p>Tower Transit operates less than 5% of London's bus services from the three garages affected. Services operated by other companies across the Capital are unaffected and will operate a normal service.</p>
<p>We would encourage bus passengers in east and central London to check before they travel at <a href="https://tfl.gov.uk/">www.tfl.gov.uk</a>. Passengers will also be kept informed of the status of their services in a range of ways, including:</p>
<ul>
    <li>Up-to-date information on bus services by route can be found at <a href="https://tfl.gov.uk/modes/buses/?cid=buses">tfl.gov.uk/buses</a></li>
    <li>Passengers can also check for bus arrival times using the Countdown next bus arrival service online or via our SMS text service (texts cost 12p, plus standard network rate)</li>
    <li>A range of easily available Apps for handheld devices now use TfL's live bus information</li>
    <li>Travel alerts will be provided through Twitter on &#64;TfL and &#64;TfLBusAlerts &#45; look out for #BusStrike</li>
    <li>TfL will also be providing information to radio and television broadcasts for use in news bulletins</li>
</ul>
<p>Where services are disrupted TfL urges passengers to use other transport options, or to walk or cycle where possible. The average bus journey is around 2.2 miles so many of these journeys could be made in this way.</p>
<p>To help people get around TfL will be:</p>
<ul>
    <li>Operating a good service across the Tube network</li>
    <li>Full services are also operating on the Docklands Light Railway, London Tramlink and London Overground networks</li>
    <li>TfL is also emailing registered bus users, who regularly travel on affected routes, advising them of the likely disruption and urging them to check before they travel</li>
</ul>
<p>&nbsp;</p>
<hr />
<p><strong>Notes to Editors:</strong></p>
<p>Routes that are likely to be affected by the strike action are</p>
<p>23 - Liverpool Street to Westbourne Park<br />
25 - Ilford to Oxford Circus<br />
28 - Kensal Rise to Wandsworth<br />
30 - Hackney Wick to Marble Arch<br />
31 - Camden Town to White City<br />
58 - East Ham to Walthamstow Central<br />
69 - Walthamstow Central to Canning Town<br />
70 - Chiswick Business Park to South Kensington<br />
212 - Walthamstow St James Street Station to Chingford<br />
236 - Finsbury Park to Hackney Wick<br />
266 - Brent Cross to Hammersmith<br />
308 - Wanstead to Clapton Pond<br />
328 - Golders Green to Chelsea<br />
339 - Leytonstone to Shadwell<br />
425 - Clapton to Stratford<br />
444 - Turnpike Lane to Chingford<br />
488 - Bromley-by-Bow to Dalston Junction<br />
RV1 - Covent Garden to Tower Gateway<br />
W14 - Leyton to Woodford Bridge<br />
W15 - Cogan Avenue Estate to Hackney Town Hall<br />
N28 - Camden Town to Wandsworth<br />
N31 - Camden Town to Clapham Junction<br />
N97 - Trafalgar Square to Hammersmith<br />
N550 - Trafalgar Square to Canning Town<br />
N551 &#45; Trafalgar Square to Gallions Reac</p>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/july">July</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/august">August</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/december">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2016-August-Update on bus routes affected by industrial action on Tower Transit services: Friday 26th August -->

 
 
        
        
            @{ViewBag.Description = "Tower Transit services from their Lea Interchange, Atlas Road, near Willesden Junction, and Westbourne Park garages – representing less than 5% of the bus network – are subject to moderate disruption";}
        
        


 