
    
  



@{ViewBag.Title = "The A-Z of Traffic Tales";}
@{ViewBag.Keywords = "Schools and young people,TfL";}
@{ViewBag.Url = "/info-for/schools-and-young-people/teaching-resources/a-z-of-traffic-tales";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/info-for/schools-and-young-people/index">Schools & young people</a></li>
                
            
                 <li><a href="/info-for/schools-and-young-people/teaching-resources">Educational resources</a></li>
                
            
            
                <li><span class="last-breadcrumb">The A-Z of Traffic Tales</span></li>
            
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>The A-Z of Traffic Tales</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        The A-Z of Traffic Tales is a flexible resource to use with young children aged between 5 and 7.
        
      </div>
    
    
      
    
      
           
      <div>

<p>Traffic affects all our lives, but particularly young lives. This resource provides constructive strategies for social and emotional development, and safe behaviour.&nbsp; </p>
<p>The A-Z of Traffic Tales bring together all relevant road safety messages, along with personal, social, emotional and citizenship issues. These messages have been developed into fun short stories, one for each letter of the alphabet, focusing on one family.</p>
<h2>Materials</h2>
<h3>Big book set</h3>
<p>Six books for the teacher to use with the children, a teacher's guide and an alphabet frieze to use as a visual aid.</p>
<h3>Cross-curricular set</h3>
<p>Activities covering curriculum subjects maths, science, geography, history, ICT, art and design.</p>
<h3>The little book set</h3>
<p>Smaller version of the bigger book set, designed for individual or paired reading in class or at home.</p>
<h3>An interactive whiteboard CD</h3>
<p>Resource bringing the stories to life and including interactive games.</p>
<h3>Lesson plan set</h3>
<p>Further worksheets and games.</p>
</div>
 <div class="clearfix">
    <div class="image-box campaign-graphic left-float">
    
        <img src="/cdn/static/cms/images/a-z-traffic-tales.jpg" alt="A-Z of Traffic Tales" />
    </div>
    <h3>Website</h3>
<p>Visit the <a href="http://www.a-zoftraffic.co.uk/">A-Z of Traffic Tales</a> for useful guidance and information for teachers and road safety professionals.</p>
<p>If you are a teacher and would like to request this resource for a London school, please email <a href="mailto:educationandtraining&#64;tfl.gov.uk ?Subject=A-Z%20of%20Traffic%20Tales">educationandtraining&#64;tfl.gov.uk</a> with your name, email and phone number, school name and address and school contact.&nbsp;</p> 
</div>
 
      
        
          
        
      
    
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/info-for/schools-and-young-people/index" class="heading">
                    <h2 id="sub-menu-heading">Schools & young people<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li><div class="link-wrapper"><a href="/info-for/schools-and-young-people/inspire-engineering">Inspire Engineering</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/schools-and-young-people/youth-involvement">Youth involvement</a></div></li>
                            
 
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/schools-and-young-people/teaching-resources">Educational resources</a></div>
                                <ul>
                                    
                                <li><div class="link-wrapper"><a href="/info-for/schools-and-young-people/teaching-resources/pre-school">Children's Traffic Club London</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/schools-and-young-people/teaching-resources/walk-about-talk-about">Walk About, Talk About</a></div></li>
                            
 
                                        <li class="selected"><div class="link-wrapper"><a href="/info-for/schools-and-young-people/teaching-resources/a-z-of-traffic-tales">The A-Z of Traffic Tales</a></div>
                                    </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/schools-and-young-people/teaching-resources/just-a-journey">Just a Journey</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/schools-and-young-people/teaching-resources/junior-travel-ambassadors">Junior Travel Ambassadors</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/schools-and-young-people/teaching-resources/lifes-journey">Life's Journey</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/schools-and-young-people/teaching-resources/youth-travel-ambassadors">Youth Travel Ambassadors</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/schools-and-young-people/teaching-resources/in-a-flash">In a Flash</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/schools-and-young-people/safety-and-citizenship">Safety & Citizenship</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/schools-and-young-people/young-car-drivers">Young car drivers</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/schools-and-young-people/innovate-tfl">Innovate TfL</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>




















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Bringing together road safety messages, personal, social, emotional and citizenship issues for 5-7 year olds.";}
        
            
        


 