
    
  



@{ViewBag.Title = "In a Flash";}
@{ViewBag.Keywords = "Schools and young people,TfL";}
@{ViewBag.Url = "/info-for/schools-and-young-people/teaching-resources/in-a-flash";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/info-for/schools-and-young-people/index">Schools & young people</a></li>
                
            
                 <li><a href="/info-for/schools-and-young-people/teaching-resources">Educational resources</a></li>
                
            
            
                <li><span class="last-breadcrumb">In a Flash</span></li>
            
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>In a Flash</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        In a Flash is a road safety resource aimed at students aged 16+.
        
      </div>
    
    
      <p>One in five new drivers has a crash within the first six months of passing their driving test and research has shown that young drivers or passengers are much more likely to be involved in a collision.</p>
<p>This resource addresses key issues faced by young people in their pre-driving and early driving years</p>
<h2>Materials</h2>
<h3>Nine short films</h3>
<p>You will find nine short episodes which can be viewed as modules, individual episodes or one full-length drama.</p>
<h3>Five character interviews</h3>
<p>In this section, the characters reveal all about how one night changed their lives forever.</p>
<h3>Interactive newspaper article - Hit the Headlines</h3>
<p>We have provided an interactive newspaper report written by one of the characters to encourage group discussion.</p>
<h3>Get in the know</h3>
<p>You can view, download and print guidance and information for both young people and teachers to complement the above resources.</p>
<p>If you are a teacher and would like to request this resource for a London school, please email <a href="mailto:educationandtraining&#64;tfl.gov.uk ?Subject=In%20a%20Flash">educationandtraining&#64;tfl.gov.uk</a> with your name, email and phone number; school name, address and school contact.</p>
<p>Find out more from <a href="http://www.inaflash.org.uk/">In a Flash</a>. </p>
      
           
      
      
        
          
        
      
    
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/info-for/schools-and-young-people/index" class="heading">
                    <h2 id="sub-menu-heading">Schools & young people<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li><div class="link-wrapper"><a href="/info-for/schools-and-young-people/inspire-engineering">Inspire Engineering</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/schools-and-young-people/youth-involvement">Youth involvement</a></div></li>
                            
 
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/schools-and-young-people/teaching-resources">Educational resources</a></div>
                                <ul>
                                    
                                <li><div class="link-wrapper"><a href="/info-for/schools-and-young-people/teaching-resources/pre-school">Children's Traffic Club London</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/schools-and-young-people/teaching-resources/walk-about-talk-about">Walk About, Talk About</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/schools-and-young-people/teaching-resources/a-z-of-traffic-tales">The A-Z of Traffic Tales</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/schools-and-young-people/teaching-resources/just-a-journey">Just a Journey</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/schools-and-young-people/teaching-resources/junior-travel-ambassadors">Junior Travel Ambassadors</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/schools-and-young-people/teaching-resources/lifes-journey">Life's Journey</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/schools-and-young-people/teaching-resources/youth-travel-ambassadors">Youth Travel Ambassadors</a></div></li>
                            
 
                                        <li class="selected"><div class="link-wrapper"><a href="/info-for/schools-and-young-people/teaching-resources/in-a-flash">In a Flash</a></div>
                                    </li>
 
                                </ul>
                            </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/schools-and-young-people/safety-and-citizenship">Safety & Citizenship</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/schools-and-young-people/young-car-drivers">Young car drivers</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/schools-and-young-people/innovate-tfl">Innovate TfL</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>




















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "A road safety teaching resource aimed at students aged 16+. ";}
        
            
        


 