
    
  



@{ViewBag.Title = "Junior Travel Ambassadors";}
@{ViewBag.Keywords = "Schools and young people,TfL";}
@{ViewBag.Url = "/info-for/schools-and-young-people/teaching-resources/junior-travel-ambassadors";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/info-for/schools-and-young-people/index">Schools & young people</a></li>
                
            
                 <li><a href="/info-for/schools-and-young-people/teaching-resources">Educational resources</a></li>
                
            
            
                <li><span class="last-breadcrumb">Junior Travel Ambassadors</span></li>
            
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Junior Travel Ambassadors</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        The Junior Travel Ambassador (JTA) scheme encourages peer-to-peer engagement and will give you and your school all the resources and guidance you need to promote safer, active and independent travel within the school community.  It's a fun and engaging way to spread important messages and build skills for life. 
        
      </div>
    
    
      
      
           
      <div class="clearfix">
    <div class="image-box campaign-graphic right-float">
    
        <img src="/cdn/static/cms/images/x001-00131-schools-jta-logo-small.jpg" alt="JTA logo" />
    </div>
    
        <p>Specifically aimed at Year 6 pupils, and their parents, as they prepare to start secondary school and begin travelling by themselves for the first time, the JTA scheme aims to take a more direct approach to promoting independent travel. This includes running projects and schemes to share ideas on travel planning and learning how to use TfL's <a href="/plan-a-journey/index">Journey Planner</a>.</p>
        <p>Each JTA will receive their own badge at the start of their role and a certificate of participation once they have finished. You can download information and guidance about the role below.</p>
        <p>Further information about this resource will be provided to your school in due course. In the meantime if you have any queries, please contact <a href="mailto:educationandtraining&#64;tfl.gov.uk?Subject=Junior%20Travel%20Ambassadors">educationandtraining&#64;tfl.gov.uk</a> or your local council School Travel or Road Safety Officer.</p>
     
</div>
 <div>

<h2>The role of a JTA</h2>
<p>A JTA is responsible for promoting active travel, walking, cycling or scooting, and road safety. As teams within their school community they also promote independent travel to their peers as they prepare for the transition from primary to secondary school. </p>
<p>As part of the promotion, JTAs could consider running the following:</p>
<ul>
    <li>Carrying out assemblies</li>
    <li>Conducting surveys and classroom talks</li>
    <li>Classroom talks</li>
    <li>Helping to complete the school travel plan</li>
    <li>Learning how to use our <a href="/plan-a-journey/index">Journey Planner</a> </li>
    <li>Running competitions </li>
</ul>
<p>Each JTA will receive their own badge at the start of their term of office and certificate of participation once they have finished. </p>
<h2>How a pupil becomes a JTA</h2>
<p>If there are pupils interested, it is up to the school itself to choose how they select their JTAs: this could be done through an election or interview process. </p>
<h2>Teacher workload</h2>
<p>This will not involve a lot of extra work for teachers. The majority of the work is conducted by the JTAs themselves.</p>
<p>Your school must fully support the idea of running a JTA scheme and allocate a school guide &#45; either a teacher or learning assistant - to oversee the JTA's; ensuring that they are coming up with reasonable and achievable projects and schemes and offering guidance to them on key messaging and helping them to achieve their objectives.</p>
<p>Remember that your borough officer will be available to offer support to the school guide.</p>
<h2>More information</h2>
<ul>
    <li><a href="mailto:educationandtraining&#64;tfl.gov.uk">Contact us</a> </li>
    <li>Visit the <a href="https://stars.tfl.gov.uk/explore/idea/details/26">JTA information on the STARS site</a> </li>
    <li>Contact your local borough school travel advisor or road safety officer</li>
</ul>
</div>
 
      
        
          
        
      
    
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/info-for/schools-and-young-people/index" class="heading">
                    <h2 id="sub-menu-heading">Schools & young people<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li><div class="link-wrapper"><a href="/info-for/schools-and-young-people/inspire-engineering">Inspire Engineering</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/schools-and-young-people/youth-involvement">Youth involvement</a></div></li>
                            
 
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/schools-and-young-people/teaching-resources">Educational resources</a></div>
                                <ul>
                                    
                                <li><div class="link-wrapper"><a href="/info-for/schools-and-young-people/teaching-resources/pre-school">Children's Traffic Club London</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/schools-and-young-people/teaching-resources/walk-about-talk-about">Walk About, Talk About</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/schools-and-young-people/teaching-resources/a-z-of-traffic-tales">The A-Z of Traffic Tales</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/schools-and-young-people/teaching-resources/just-a-journey">Just a Journey</a></div></li>
                            
 
                                        <li class="selected"><div class="link-wrapper"><a href="/info-for/schools-and-young-people/teaching-resources/junior-travel-ambassadors">Junior Travel Ambassadors</a></div>
                                    </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/schools-and-young-people/teaching-resources/lifes-journey">Life's Journey</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/schools-and-young-people/teaching-resources/youth-travel-ambassadors">Youth Travel Ambassadors</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/schools-and-young-people/teaching-resources/in-a-flash">In a Flash</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/schools-and-young-people/safety-and-citizenship">Safety & Citizenship</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/schools-and-young-people/young-car-drivers">Young car drivers</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/schools-and-young-people/innovate-tfl">Innovate TfL</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>




















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
      <div class="module-grid clearfix">
                    
        <div class="related-links">

    <h3>Related websites</h3>

<div class="vertical-button-container">

<a href="http://think.direct.gov.uk/" class="plain-button">THINK!</a>
<a href="https://www.gov.uk/government/organisations/department-for-transport" class="plain-button">Department for Transport</a>
<a href="http://www.rospa.com/" class="plain-button">The Royal Society for the Prevention of Accidents</a>
    </div>
</div>
 
      </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "London’s latest fun new Primary School resource is called the Junior Travel Ambassador (JTA) scheme";}
        
            
        


 