
    
  



@{ViewBag.Title = "Children's Traffic Club London";}
@{ViewBag.Keywords = "Schools and young people,TfL";}
@{ViewBag.Url = "/info-for/schools-and-young-people/teaching-resources/pre-school";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/info-for/schools-and-young-people/index">Schools & young people</a></li>
                
            
                 <li><a href="/info-for/schools-and-young-people/teaching-resources">Educational resources</a></li>
                
            
            
                <li><span class="last-breadcrumb">Children's Traffic Club London</span></li>
            
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Children's Traffic Club London</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        The Children's Traffic Club London is a free education programme covering road safety, walking, scooting and cycling for preschool-aged children, their parents and carers. It is fully funded by Transport for London.
        
      </div>
    
    
      
      
           
      <div class="video-gallery-wrapper">

    <div class="ytplayer"></div>

    <div class="gallery-carousel-wrap">
       
  
  
 @this.ScriptBlock(
     @<script>
          queue.push(
            "@Html.ScriptPath("plugins/gallery-media.min.js")", null,
        
            function() {
                var videoPlayer = $(".ytplayer");

                if (videoPlayer.length){
                    videoPlayer.gallery({ videoMode: true });
                }
            }
    );
     </script>
 )
        
  
   <ul class="gallery-carousel">
  
    <!--  -->
    
    
     <li class="gallery-thumb" data-youtubeid="7Gb0WbNl8As" data-video-caption="Children's Traffic Club London"></li>
  
    <!--  -->
    
    
     <li class="gallery-thumb" data-youtubeid="XELQvO-WnHM" data-video-caption="CTC London short promo"></li>
  
    <!--  -->
    
    
     <li class="gallery-thumb" data-youtubeid="ITuBc1PmyDk" data-video-caption="CTC London full-length promo"></li>
  
  </ul>
</div>
</div>
 <div class="clearfix">
    <div class="image-box right-float">
    
        
        
        <img src="/cdn/static/cms/images/ctcl-logo_rdax_400x250.jpg" alt="CTC London logo" />
        
        
        
    </div>
    <p>CTC London provides a structured scheme for parents, carers, and nurseries to teach road safety and travel skills to their pre-school children. Parents are invited to register their child through their early years setting/nursery, or request a pack by emailing <a href="mailto:SMBSTARS&#64;tfl.gov.uk?subject=Request%20a%20pack">SMBSTARS&#64;tfl.gov.uk</a>.</p>

<p>The CTC London programme supports the <a href="https://www.london.gov.uk/what-we-do/transport/our-vision-transport/draft-mayors-transport-strategy-2017">Mayor of London's and TfL's vision</a> of healthier and safer streets for everyone.</p>
 </div>
 <div class="clearfix">
    <div class="image-box right-float">
    
        
        
        <img src="/cdn/static/cms/images/ctc-cartoon-children_rdax_400x250.png" alt="Cartoon children" />
        
        
        
    </div>
    <p>We're committed to realising the Mayor's vision of reducing the number of people killed or seriously injured on London's roads to zero. CTC London will contribute towards this ambitious target by teaching valuable road safety and travel  messages to pre-school children and their parents/carers across the Capital.</p>
 </div>
 <div class="clearfix">
    <div class="image-box right-float">
    
        
        
        <img src="/cdn/static/cms/images/ctc-printed-packs_rdax_400x250.jpg" alt="CTC printed packs" />
        
        
        
    </div>
    <h2>What children get</h2>

<h3>The packs consist of:</h3>

<ul>
	<li>A story book for children and their parents/carers to read together</li>
	<li>A travel diary to log their journey to nursery</li>
	<li>Sticker sheets</li>
</ul>
 </div>
 <div>


</div>
 
      
        
          
        
      
    
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/info-for/schools-and-young-people/index" class="heading">
                    <h2 id="sub-menu-heading">Schools & young people<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li><div class="link-wrapper"><a href="/info-for/schools-and-young-people/inspire-engineering">Inspire Engineering</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/schools-and-young-people/youth-involvement">Youth involvement</a></div></li>
                            
 
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/schools-and-young-people/teaching-resources">Educational resources</a></div>
                                <ul>
                                    
                                        <li class="selected"><div class="link-wrapper"><a href="/info-for/schools-and-young-people/teaching-resources/pre-school">Children's Traffic Club London</a></div>
                                    </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/schools-and-young-people/teaching-resources/walk-about-talk-about">Walk About, Talk About</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/schools-and-young-people/teaching-resources/a-z-of-traffic-tales">The A-Z of Traffic Tales</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/schools-and-young-people/teaching-resources/just-a-journey">Just a Journey</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/schools-and-young-people/teaching-resources/junior-travel-ambassadors">Junior Travel Ambassadors</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/schools-and-young-people/teaching-resources/lifes-journey">Life's Journey</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/schools-and-young-people/teaching-resources/youth-travel-ambassadors">Youth Travel Ambassadors</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/schools-and-young-people/teaching-resources/in-a-flash">In a Flash</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/schools-and-young-people/safety-and-citizenship">Safety & Citizenship</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/schools-and-young-people/young-car-drivers">Young car drivers</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/schools-and-young-people/innovate-tfl">Innovate TfL</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>




















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Children's Traffic Club London is a free road safety education programme for preschool-aged children, parents and carers in London.";}
        
            
        


 