
    
  



@{ViewBag.Title = "Youth Travel Ambassadors";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/info-for/schools-and-young-people/teaching-resources/youth-travel-ambassadors";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/info-for/schools-and-young-people/index">Schools & young people</a></li>
                
            
                 <li><a href="/info-for/schools-and-young-people/teaching-resources">Educational resources</a></li>
                
            
            
                <li><span class="last-breadcrumb">Youth Travel Ambassadors</span></li>
            
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Youth Travel Ambassadors</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        The Youth Travel Ambassadors (YTA) programme provides young people aged 11 to 19 with the skills and confidence to address transport issues affecting their school community.
        
      </div>
    
    
      
      
           
      <div class="video-gallery-wrapper">

    <div class="ytplayer"></div>

    <div class="gallery-carousel-wrap">
       
  
  
 @this.ScriptBlock(
     @<script>
          queue.push(
            "@Html.ScriptPath("plugins/gallery-media.min.js")", null,
        
            function() {
                var videoPlayer = $(".ytplayer");

                if (videoPlayer.length){
                    videoPlayer.gallery({ videoMode: true });
                }
            }
    );
     </script>
 )
        
  
   <ul class="gallery-carousel">
  
    <!--  -->
    
    
     <li class="gallery-thumb" data-youtubeid="tUr8DaMM-Bw" data-video-caption="An introduction to YTA"></li>
  
  </ul>
</div>
</div>
 <div class="clearfix">
    <div class="image-box campaign-graphic right-float">
    
        <img src="/cdn/static/cms/images/yta2-logo.jpg" alt="YTA2 logo" />
    </div>
    <p>YTA teams research and develop campaigns to change people's behaviour. They focus on walking and cycling,  road safety and improving passengers' experiences. They are supported by TfL, the borough and school staff.</p>
<h2>How it works
</h2>
<p>Schools usually recruit between 6 and 12 YTA students who deliver behaviour change campaigns to their peers over the course of the academic year. Campaign initiatives can include themed assemblies, walking and cycling competitions, creative workshops, films and community events.</p>
<p>We have programme options to suit all schools and students which include:</p>
<ul>
    <li>sessions delivered by specialist TfL staff</li>
    <li>&pound;250 funding to deliver a YTA campaign</li>
    <li>options to attend Campaign Junction and end of year Expo events</li>
    <li>training for students to become YTA Student Leaders to mentor their peers</li>
</ul>
<h2>Our programme and challenge</h2>
<p>The YTA programme for 2017/18 is linked to curriculum subjects. It includes 2 major events when students can meet each other, share ideas and get professional feedback.</p>
<p> </p>
<ul>
</ul>
<h2></h2> 
</div>
 
<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/yta-programme-guide-2018-2019.pdf">
    <div class="document-download-text">
        <p>Youth Travel Ambassadors programme 2018-2019</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 2.94MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 2.94 -->
 
</div>
<p>&nbsp;</p>
<p style="margin: 0cm 0cm 10pt;"><span style="font-family: johnston100-light;"></span></p>
</div>
 <div>

<p><a href="https://stars.tfl.gov.uk/explore/idea/details/1093">See what the YTA Challenge looks like.</a></p>

<p><a href="https://s3-eu-west-1.amazonaws.com/media.stars.tfl.gov.uk/stars/57df027c-d886-4474-9324-76613f74bea8/Active%20Travel%20SESSION%201%20-%20ENGAGE%2017-18.pptx">Check out a YTA taster session.</a></p>

<p>Check out examples of previous films made by YTA groups on the <a href="https://www.youtube.com/playlist?list=PLtnlusA0ZoggfFJdYENoBnWWbfq7c_ppe">Youth Travel Ambassadors YouTube channel</a>, as well as these <a href="https://www.youtube.com/playlist?list=PLtnlusA0Zogg5ns_u8Dqw1MI31B10sKOp">short films</a> introducing the programme.</p>

<h2>Get your school involved</h2>

<p>To discuss a programme that suits your school or to explore delivering the programme independently, <a href="mailto:yta&#64;ltmuseum.co.uk">please email us.</a></p>

<h2>Teacher comments</h2>
</div>
 <div class="clearfix">
    <div class="image-box right-float">
    
        
        
        <img src="/cdn/static/cms/images/london-islamic-school-yta-students2_rdax_400x250.jpg" alt="London Islamic School YTA students" />
        <span class="caption">London Islamic School YTA students pitching their campaign ideas</span>
        
        
    </div>
    <p>'YTA creates networks for staff and students, allowing them to develop skills that are not often used in school. YTA has a really positive impact on all students in some way, shape or form.'<br />
Aaron Davey, Teacher, Forest Hill School</p>
<p style="margin: 0cm 0cm 0pt; line-height: normal;"><span><span>'YTA creates a link with the community whilst taking care of the environment. Creating future leaders'.</span></span></p>
<p style="margin: 0cm 0cm 10pt;"><span>Mohammad Yaser, Teacher, London Islamic School</span></p>
 </div>
 <div class="clearfix">
    <div class="image-box right-float">
    
        
        
        <img src="/cdn/static/cms/images/claremont-high-school2_rdax_400x250.jpg" alt="Claremont High School students" />
        <span class="caption">Claremont High School students creating film with a London Sovereign driver</span>
        
        
    </div>
    
 </div>
 
      
        
          
        
      
    
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/info-for/schools-and-young-people/index" class="heading">
                    <h2 id="sub-menu-heading">Schools & young people<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li><div class="link-wrapper"><a href="/info-for/schools-and-young-people/inspire-engineering">Inspire Engineering</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/schools-and-young-people/youth-involvement">Youth involvement</a></div></li>
                            
 
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/schools-and-young-people/teaching-resources">Educational resources</a></div>
                                <ul>
                                    
                                <li><div class="link-wrapper"><a href="/info-for/schools-and-young-people/teaching-resources/pre-school">Children's Traffic Club London</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/schools-and-young-people/teaching-resources/walk-about-talk-about">Walk About, Talk About</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/schools-and-young-people/teaching-resources/a-z-of-traffic-tales">The A-Z of Traffic Tales</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/schools-and-young-people/teaching-resources/just-a-journey">Just a Journey</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/schools-and-young-people/teaching-resources/junior-travel-ambassadors">Junior Travel Ambassadors</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/schools-and-young-people/teaching-resources/lifes-journey">Life's Journey</a></div></li>
                            
 
                                        <li class="selected"><div class="link-wrapper"><a href="/info-for/schools-and-young-people/teaching-resources/youth-travel-ambassadors">Youth Travel Ambassadors</a></div>
                                    </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/schools-and-young-people/teaching-resources/in-a-flash">In a Flash</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/schools-and-young-people/safety-and-citizenship">Safety & Citizenship</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/schools-and-young-people/young-car-drivers">Young car drivers</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/schools-and-young-people/innovate-tfl">Innovate TfL</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>




















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "A youth-led programme for secondary schools and sixth form centres in London, tackling transport issues. ";}
        
            
        


 