


@{ViewBag.Title = "A penny spent at Oakwood and Cockfosters stations is a penny raised for good causes";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>A penny spent at Oakwood and Cockfosters stations is a penny raised for good causes</h1>
        <div class="content-page-press-release">
        27 December 2006
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        London Underground (LU) staff at Cockfosters and Oakwood Tube stations have turned their approach to tackling vandalism into cash for charity.
        
    </div>



 <div class="on-this-page">
<p>After years of seeing the public restroom vandalised and defaced on a daily basis, staff decided to introduce special locking system on the doors to the public toilets in which 20p must be inserted to gain access to the loo. </p>
<p>The new system literally means that passengers wanting to spend a penny actually have to spend a penny. The system has led to a reduction in vandalism and allows LU to raise significant amounts of money for charity.</p>
<p> Chris Oduola, Group Station Manager at Arnos Grove said: "This system is very effective in keeping vandals at bay and allows us to raise significant amounts of money for charity. In July 2005 we donated about &pound;4,000 to the London Bombing Fund and then &pound;3,000 in early 2006 to Cancer Research UK. </p>
<p>"This month, as we near Christmas we wanted to support a London children's charity to help disadvantaged children by providing them with a present this Christmas. We are delighted to be donating &pound;1,000 to Capital Radio's Help a London Child". </p>
            <ul>
<li>The new locking system was installed upon request from London Underground (LU) by Tube Lines at Oakwood and Cockfosters in February 2005; 
</li><li>Cockfosters and Oakwood stations are part of the Arnos Grove Group which also includes Turnpike Lane, Wood Green, Bounds Green, Arnos Grove and Southgate stations; and 
</li><li>Tube Lines is responsible for the maintenance and renewal of the Jubilee, Northern and Piccadilly lines. </li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "After years of seeing the public restroom vandalised and defaced on a daily basis, staff decided to introduce special locking system on the doors to the public toilets in which 20p must be inserted to gain access to the loo. The new system literally means";}
        
        


 