


@{ViewBag.Title = "&pound;160m announced for local transport improvements";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>&pound;160m announced for local transport improvements</h1>
        <div class="content-page-press-release">
        20 December 2006
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        The Mayor of London today announced &pound;160m of funding for London boroughs to spend on local transport improvements to make the Capital safer, cleaner and greener over the next year.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            This money will help to make millions of daily journeys more convenient
                            
                        </p>
                    </div>
                
            
            
            <p>People living, working, visiting and travelling in every London 
borough will benefit from a range of projects delivered by local councils during 
2007/08.</p>
<p>This includes improved town centres, better access to stations, road renewal 
schemes, road safety projects, and schemes to reduce pollution though increased 
walking and cycling.</p>
<p>Since the Mayor was first elected in 2000, funding for boroughs has almost 
doubled - this year's allocation shows a 92 per cent increase from 1999/2000. 
</p>
<p>It is part of the record-breaking five-year &pound;792m programme for local 
transport schemes included in Transport for London's &pound;10bn Investment Programme, 
and is an increase on the &pound;765m previously announced. </p>
<p>Mayor of London Ken Livingstone said: "People in boroughs across London, both 
inner and outer, are benefiting from Transport for London funding, which is 
providing real, local travel improvements.</p>
<p>"All parts of our city, from the suburbs to the centre, are supported 
directly through this transport investment.</p>
<p>"This money will help to make millions of daily journeys more convenient and 
pleasant whether by public transport, in a car, on foot, or by bike. </p>
<p>"By supporting transport spending in the boroughs over the past six years we 
have improved town centres, increased cycling by 72 per cent and approved more 
than 1000 travel plans to get children to and from school safely.</p>
<p>
<h2>Easier journeys</h2>
<p>
<p>"I am pleased to hear that London Councils has withdrawn its ill-thought out 
plan to cut funding for organisations campaigning for sustainable transport, 
which relieves me of the need to divert some of the funding announced today to 
support those organisations' valuable work. </p>
<p>"This u-turn will be welcomed by those who are concerned about climate 
change."</p>
<p>London's Transport Commissioner Peter Hendy said: "This money will go 
directly towards improving transport for people in every borough in London.</p>
<p>"We will fund a combination of both large and small projects and by working 
in partnership with each borough we know that local communities will see a 
difference.</p>
<p>"Borough funding is an important part of our wider programme of spending in 
all boroughs to improve public transport and make walking and cycling journeys 
easier and safer."</p>
<p>Highlights include: </p>
<ul>
<li>&pound;410,000 to support a scheme in the Streets for People programme that will 
complement the newly-opened Gillett Square public space in Dalston, Hackney; 
Gillett Square is the first completed project in the Mayor's 100 Public Spaces 
Programme 
</li><li>&pound;1m for the completion of works to improve access to Hammersmith town centre 
and deliver other safety improvements, at the west end of King Street 
</li><li>&pound;300,000 over three years to renovate and upgrade railway viaducts in 
Lambeth to provide new walking links through the arches in pleasant and secure 
surroundings 
</li><li>&pound;910,000 for major regeneration of George Street Town Centre, in Richmond 
</li><li>&pound;35,000 to produce renewable energy for the borough's pool of electric 
vehicles by building a wind turbine at Low Hall Depot in Waltham 
Forest</li></ul>
            <ul>
<li>This year is the first time the money allocated has been directly linked to borough Local Implementation Plans (LIPs). Each borough has been preparing a LIP showing how it proposes to implement the Mayor's Transport Strategy locally over the coming years 
</li><li>While Transport for London awards funding for individual schemes, project delivery is the responsibility of the boroughs 
</li><li>Attached is a table with a breakdown of funding for the borough by transport topic 
</li><li>LIPs submitted by Islington, Croydon, Harrow, Westminster, Tower Hamlets, Lambeth, Camden, Hammersmith and Fulham, Lewisham, Merton and Kingston have all been approved by the Mayor; others are still pending 
</li><li>Priorities for all LIPs include: 
<ul>
<li>Improving road safety 
</li><li>Improving bus journey times and reliability 
</li><li>Relieving traffic congestion and improving journey time reliability 
</li><li>Improving the working of parking and loading arrangements 
</li><li>Improving accessibility for all on the transport network 
</li><li>Encouraging walking and cycling 
</li><li>Bringing transport infrastructure into a state of good repair </li></ul>
<li>Total allocations for all boroughs</li></li></ul>
<p>
<div class="table-container"><table style="WIDTH: 322px; HEIGHT: 907px" cellspacing="1" cellpadding="2" width="322" border="1">
<tbody>
<tr>
<td>LIP Programme 2007/08</td>
<td>Allocation</td></tr>
<tr>
<td>Barking and Dagenham</td>
<td>&pound;3,107,000</td></tr>
<tr>
<td>Barnet</td>
<td>&pound;4,295,000</td></tr>
<tr>
<td>Bexley</td>
<td>&pound;3,913,000</td></tr>
<tr>
<td>Brent</td>
<td>&pound;4,794,000</td></tr>
<tr>
<td>Bromley</td>
<td>&pound;4,852,000</td></tr>
<tr>
<td>Camden</td>
<td>&pound;5,143,000</td></tr>
<tr>
<td>City of London</td>
<td>&pound;3,077,000</td></tr>
<tr>
<td>Croydon</td>
<td>&pound;6,447,000</td></tr>
<tr>
<td>Ealing</td>
<td>&pound;4,412,000</td></tr>
<tr>
<td>Enfield</td>
<td>&pound;3,480,000</td></tr>
<tr>
<td>Greenwich</td>
<td>&pound;3,434,000</td></tr>
<tr>
<td>Hackney</td>
<td>&pound;3,245,000</td></tr>
<tr>
<td>Hammersmith and Fulham</td>
<td>&pound;3,913,000</td></tr>
<tr>
<td>Haringey</td>
<td>&pound;4,184,000</td></tr>
<tr>
<td>Harrow</td>
<td>&pound;4,589,000</td></tr>
<tr>
<td>Havering</td>
<td>&pound;2,916,000</td></tr>
<tr>
<td>Hillingdon</td>
<td>&pound;4,113,000</td></tr>
<tr>
<td>Hounslow</td>
<td>&pound;4,394,000</td></tr>
<tr>
<td>Islington</td>
<td>&pound;5,719,000</td></tr>
<tr>
<td>Kensington and Chelsea</td>
<td>&pound;1,929,000</td></tr>
<tr>
<td>Kingston</td>
<td>&pound;3,496,000</td></tr>
<tr>
<td>Lambeth</td>
<td>&pound;4,278,000</td></tr>
<tr>
<td>Lewisham</td>
<td>&pound;3,278,000</td></tr>
<tr>
<td>Merton</td>
<td>&pound;4,226,000</td></tr>
<tr>
<td>Newham</td>
<td>&pound;5,531,000</td></tr>
<tr>
<td>Redbridge</td>
<td>&pound;4,206,000</td></tr>
<tr>
<td>Richmond</td>
<td>&pound;6,898,000</td></tr>
<tr>
<td>Southwark</td>
<td>&pound;5,341,000</td></tr>
<tr>
<td>Sutton</td>
<td>&pound;4,567,000</td></tr>
<tr>
<td>Tower Hamlets</td>
<td>&pound;3,190,000</td></tr>
<tr>
<td>Waltham Forest</td>
<td>&pound;5,150,000</td></tr>
<tr>
<td>Wandsworth</td>
<td>&pound;3,132,000</td></tr>
<tr>
<td>Westminster</td>
<td>&pound;3,683,000</td></tr>
<tr>
<td>Sub-total </td>
<td>&pound;138,927,000</td></tr>
<tr>
<td>Funds allocated to boroughs through partnerships</td>
<td>&pound;13,356,000</td></tr>
<tr>
<td>Studies, surveys, reserve funding</td>
<td>&pound;7,923,000</td></tr>
<tr>
<td>Total</td>
<td>&pound;160,206,000</td></tr></tbody></table></div></p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "People living, working, visiting and travelling in every London borough will benefit from a range of projects delivered by local councils during 2007/08.This includes improved town centres, better access to stations, road renewal schemes, road safety";}
        
        


 