


@{ViewBag.Title = "&pound;200 million more in bonds for Transport for London";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>&pound;200 million more in bonds for Transport for London</h1>
        <div class="content-page-press-release">
        22 December 2006
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London (TfL) this week signed two &pound;100 million bonds as part of the financing for its 5-Year Investment Programme.
        
    </div>



 <div class="on-this-page">
<p>These bonds form part of the &pound;3.3 billion borrowing programme which is being invested in extending, modernising and improving the capital's transport network before the end of the decade.</p>
<p>The sale of the bonds was very tightly focused to a specific set of investors, thus enabling an even more competitive rate of interest than TfL's previous two bond issues, which were launched in December 2004 and March 2006 respectively.</p>
<p>The interest rate on the new bond issues were 4.6 per cent for the bond maturing in December 2031 and 4.5 per cent on the bond maturing in December 2042.</p>
<p>This compares favourably with the interest rate on the first bond issue of 5 per cent.<br><br>The March 2006 bond was already priced very competitively, putting TfL's bond very close - at a premium of just 0.38 percentage points - to central government borrowing.</p>
<p>But the market has trimmed this even further to just 0.29 percentage points and 0.34 percentage points respectively over government borrowing.</p>
<p>Jay Walder, TfL's Managing Director of Finance and Planning, said: 'This again shows the confidence that the market increasingly has with Transport for London. <br><br>'I am pleased to say that this was a terrific deal.</p>
<p>'These funds will be used to deliver major projects to improve travelling for Londoners and help keep the Capital at the forefront of major world cities.</p>
<p>'This bond issue reflects the evolving funding strategy within TfL, enhancing TfL's status as a high quality public sector borrower.</p>
<p>'This is reinforced by our AA ratings from Standard & Poors and Fitch, and Aa1 rating from Moodys, as well as a 20 per cent risk weighting from the FSA.'<br><br>Lead managers were Merrill Lynch and the Royal Bank of Scotland.<br></p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "These bonds form part of the &pound;3.3 billion borrowing programme which is being invested in extending, modernising and improving the capital's transport network before the end of the decade.The sale of the bonds was very tightly focused to a specific";}
        
        


 