


@{ViewBag.Title = "Celebrities light up Waterloo station to Help a London Child";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Celebrities light up Waterloo station to Help a London Child</h1>
        <div class="content-page-press-release">
        06 December 2006
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        West End Daddy Cool performer Donovan Blackwood and Jayme Ephraim from Stars in their Eyes will lead the fundraising celebrations of the 8 December at Waterloo station to raise money for Capital Radio's Help a London Child and provide thousands of vulnerable children with a present this Christmas.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Commuters will enjoy a day of live music headed by West End star Donovan Blackwood
                            
                        </p>
                    </div>
                
            
            
            <p align="left">London Underground (LU) staff at Waterloo station have pulled together an action packed day to raise money for the London children's charity Help a London Child. </p>
<p align="left">Festivities will start at 08.00 and end at 20.00.</p>
<p align="left">Commuters will enjoy a day of live music headed by West End star Donovan Blackwood, Stars in their Eyes performer Jayme Ephraim and Technotronic Kee.</p>
<p align="left">Other activities on the day will include staff in costume, Irish dancing, karaoke and two tombolas including one at Westminster station.</p>
<p align="left">Jason Collins, Group Station Manager at Waterloo, said: "We are delighted with this year's fundraising programme to raise money for Help a London Child. </p>
<p align="left">"Last year we raised for &pound;9,084.48 for this worthy cause thanks to the generosity of the travelling public and are hoping to exceed &pound;10,000 this year to help under privileged children in London.</p>
<p align="left">"All members of staff here have been working hard together using individual skills to ensure that this fundraising day is a success."</p>
            <ul>
<li>Capital Radio's Help a London Child works all year round to relieve poverty and deprivation and promote physical, mental or general welfare of the Capital's children and their families. The money raised is used to give grants to nearly 500 charities to provide support and care to children and their families</li>
<li>Help a London Child wrist bands priced &pound;1 will be on sale at the ticket offices in Waterloo station</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "London Underground (LU) staff at Waterloo station have pulled together an action packed day to raise money for the London children's charity Help a London Child. Festivities will start at 08.00 and end at 20.00.Commuters will enjoy a day of live music";}
        
        


 