


@{ViewBag.Title = "Central line stations on Hainault loop to join Zone 4";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Central line stations on Hainault loop to join Zone 4</h1>
        <div class="content-page-press-release">
        29 December 2006
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        From 2 January 2007, some stations on the Central line will move from Zone 5 to Zone 4.
        
    </div>



 <div class="on-this-page">
<p>The stations that are affected are Barkingside, Fairlop, Hainault, Grange Hill, Chigwell and Roding Valley.</p>
<p>Customers travelling from these stations will pay less than they would do if these stations remained in Zone 5.</p>
<p>Jeff Ellis, General Manager, Central line said: 'Passenger numbers on this part of the line have traditionally been low compared to other parts of the Tube network.</p>
<p>'We are trying to increase passenger demand on this section of the Central line by making a number of changes to make Tube travel as attractive as possible.</p>
<p>'Now we have decided that these stations currently in Zone 5 will move to Zone 4 from 2 January 2007.</p>
<p>'This will have the benefit of simplifying the current fares structure and means that customers travelling from these stations will pay less than they did previously when they were in Zone 5.</p>
<p>'Last month, the Hainault loop received a major boost when services began operating beyond 8pm until the end of Central line services between Hainault to Woodford via Roding Valley.</p>
<p>'Prior to the timetable change, Central line services had not served Grange Hill, Chigwell and Roding Valley stations after 8pm for many years.'</p>
<p>London Underground has no plans at present to re-zone other Tube stations.</p>
            <ul>
<li>TfL is investing &pound;10 billion over the next five years to improve and expand London's transport network, over half of that in the Tube</li>
<li>The Central line is the longest line with 74km (46 miles) serving 49 stations</li>
<li>The longest journey without change on the London Underground can be made on the Central line between West Ruislip and Epping 54.9 km (34.1 miles)</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The stations that are affected are Barkingside, Fairlop, Hainault, Grange Hill, Chigwell and Roding Valley.Customers travelling from these stations will pay less than they would do if these stations remained in Zone 5.Jeff Ellis, General Manager, Central";}
        
        


 