


@{ViewBag.Title = "Congestion Charge suspended for festive period";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Congestion Charge suspended for festive period</h1>
        <div class="content-page-press-release">
        18 December 2006
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Ken Livingstone, Mayor of London, today announced that Londoners will not have to pay the Congestion Charge between Christmas and New Year.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
<p>
The Congestion Charge is about discouraging car use and lowering levels of congestion
</p>
</div>
<p>This is the third year the charge has not operated during this period because of the much lighter levels of traffic between Christmas and New Year.</p>
<p>The Mayor said: "It makes sense to suspend the congestion charge between Christmas and the New Year when traffic is already a lot lighter than normal weekdays. </p>
<p>"The overwhelming majority of people travelling into central London over Christmas will use public transport, so look out for Transport for London's seasonal travel guide to help you plan your journey."</p>
<p>The Congestion Charge will not be in operation on 23 and 24 December, as these dates fall on a weekend. </p>
<p>The charge will then be suspended from Monday 25 December, resuming on Tuesday 2 January.</p>
<p>Transport for London's Director of Congestion Charging, Michele Dix, said: "The Congestion Charge is about discouraging car use and lowering levels of congestion. </p>
<p>"It's made a real difference to journey times in the zone, reducing traffic levels by 18 per cent and congestion by 30 per cent. </p>
<p>"But, with traffic lighter, there will be no charge for the ten days between Saturday 23 December and Monday 1 January."<br />
<br />
All other enforcement activity on London's roads - bus lanes, red route parking and yellow box junction regulations - will take place as usual over the Christmas and New Year periods.</p>
<ul>
    <li>Drivers who have made an annual payment for the congestion charge will have their expiry date extended by three charging days</li>
    <li>On New Year's Eve, transport services will run all night on the London Underground, Docklands Light Railway, London buses, Tramlink and selected National Rail routes</li>
    <li>Passengers will be able to travel for free on all Transport for London services (all of the above except National Rail) for journeys starting between 11.45pm and 4.30am, sponsored by high street bank NatWest</li>
    <li>London Mayor Ken Livingstone is sponsoring free travel on selected National Rail routes between midnight and 5am.  Full details of these routes are outlined in the 'Stay out longer this New Year's Eve' leaflet</li>
    <li>Information on New Year's Eve festivities in London is available from the <a href="https://www.london.gov.uk/">Mayor of London's website</a> or <a href="http://www.visitlondon.com">www.visitlondon.com</a><br />
    </li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "This is the third year the charge has not operated during this period because of the much lighter levels of traffic between Christmas and New Year.The Mayor said: 'It makes sense to suspend the congestion charge between Christmas and the New Year when";}
        
        


 