


@{ViewBag.Title = "Coulsdon Town Centre regeneration scheme clear to progress as Coulsdon Relief Road opens";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Coulsdon Town Centre regeneration scheme clear to progress as Coulsdon Relief Road opens</h1>
        <div class="content-page-press-release">
        18 December 2006
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London (TfL) has today opened the Coulsdon relief road to traffic, clearing the way for the Coulsdon Town Centre regeneration scheme to begin.
        
    </div>



 <div class="on-this-page">
<p>The relief road project creates a major bypass on the A23 London to Brighton that will remove 80 per cent of traffic from Coulsdon town centre. </p>
<p>The project will make Coulsdon town centre safer by removing A23 traffic and will improve conditions for bus passengers, walkers and cyclists.</p>
<p>The relief road project provides:</p>
<ul>
<li>Better stairs and ramps to improve access, particularly for wheelchair users, between Coulsdon town centre and Smitham station and the housing areas east of the railway</li>
<li>An access road to Cousldon north Industrial Estate (developer funded)</li>
<li>Extensive landscaping</li>
<li>Better security for Smitham Station by forming a single entrance from Station Access Road</li>
<li>Replaces the subway at Smitham Station with a new footbridge, stairs and lifts</li>
<li>Once the inner relief road is open, the second phase of the project will involve major works in Coulsdon town centre, including improvements to the carriageway, parking and pedestrian access after extensive public consultation</li></ul>
<p>Peter Brown, Chief Operating Officer of TfL Streets, said: "The aim behind the building of this relief road is to give the town centre back to the people of Coulsdon."</p>
<p>TfL and contractors Hochtief held four public consultations during the project and a viewing platform over the site was created in September 2005. </p>
<p>Most of the work was done with minimal disturbance to the community.</p>
<p>Contractors Hochtief also employed a liaison manager and were awarded a Considerate Constructor Scheme Silver Award in recognition of their work with the local community.</p>
<p>The 1.7 km new road has involved:</p>
<ul>
<li>7,500m3 of concrete</li>
<li>10,500m of cabling</li>
<li>150,000m3 of excavation</li>
<li>39,000 shrubs</li>
<li>13,500m of white lines</li>
<li>200 workers at peak hours<br></li></ul>
<p> </p>
            <ul>
<li>The 1.7km A23 Coulsdon Relief Road Scheme will remove 80 per cent of A23 traffic from Coulsdon Town Centre</li>
<li>The new carriageway has a single lane southbound and two lanes northbound, including a priority lane for public transport, HGV's and cyclists</li>
<li>The A23 relief road work was carried out by contractors Hochtief. Atkins Highways and Transportation undertook the design of the scheme</li>
<li>The town regeneration scheme is one of the Mayor's 100 public spaces and residents of Coulsdon town centre will see immediate benefits</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The relief road project creates a major bypass on the A23 London to Brighton that will remove 80 per cent of traffic from Coulsdon town centre. The project will make Coulsdon town centre safer by removing A23 traffic and will improve conditions for bus";}
        
        


 