


@{ViewBag.Title = "Dana Skelley named Engineer of the Year";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Dana Skelley named Engineer of the Year</h1>
        <div class="content-page-press-release">
        06 December 2006
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Dana Skelley, Head of Road Network Management at Transport for London (TfL), has been named Surveyor/ICE Municipals Engineer of the Year.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            I'm extremely proud of the difference that I and colleagues have collectively made for Londoners
                            
                        </p>
                    </div>
                
            
            
            <p>She is the 22nd recipient of the annual award and the first woman to ever receive the award.</p>
<p>Dana joined TfL in 2000 as Principal Engineer for the City of London. Later, she was promoted to Chief Engineer and Head of Central Area Road Network Management and earlier this year, was asked to take on the role of Head of Road Network Management London-wide. </p>
<p>Dana was born, raised and educated in London and has now been officially recognised for her work in changing the face of the Capital. As she says: "I'm extremely proud of the difference that I and colleagues have collectively made for Londoners - schemes like Trafalgar Square and Shoreditch Triangle have provided great benefits to so many road users."</p>
<p>Looking ahead, Dana is most excited about TfL's graduate training programme, which extends to all parts of the organisation. </p>
<p>TfL's Street Management domain alone has just taken on 16 graduate civil engineers. </p>
<p>Peter Brown, Chief Operating Officer of Surface Transport at TfL, says: "Dana has a passion for civil engineering which is reflected in the quality of her work. Her leadership qualities have seen a number of innovative and complex projects through very effective delivery and she stands as a role model for engineering graduates."</p>
<p>Engineer of the Year aims to recognise outstanding technical and engineering achievement for those working for public sector organisations.</p>
<p>
<p>
            <ul>
<li>The Surveyor/ICE Municipals Engineer of the Year judging panel consists of representatives from the following professional groups:the CSS (County Surveyors Society), the Institution of Civil Engineers Municipal Board, the Technical Advisers Group and the Society of Chief Officers for Transportation in Scotland (SCOTS), as well as Surveyor editor Matt Hobley</li>
<li>Engineer of the Year is an annual award. The presentation includes and engraved silver salver and a cheque for &pound;500</li>
<li>Surveyor is a weekly magazine for those working on technical projects in the highways, transportation and environment sectors. It was first published in 1892. It seeks to keep readers informed of developments in the sector that affect their day-to-day professional responsibilities and disseminate good practice</li>
<li>A photograph of Dana Skelley is available on request from the Press Office</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "She is the 22nd recipient of the annual award and the first woman to ever receive the award.Dana joined TfL in 2000 as Principal Engineer for the City of London. Later, she was promoted to Chief Engineer and Head of Central Area Road Network Management";}
        
        


 