


@{ViewBag.Title = "Docklands Light Railway wins leading planning award";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Docklands Light Railway wins leading planning award</h1>
        <div class="content-page-press-release">
        05 December 2006
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Docklands Light Railway (DLR), part of Transport for London, has scooped the London Planning Award for 'Best Public Sector Planning Organisation'.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            The Docklands Light Railway has proved a genuine transport success story
                            
                        </p>
                    </div>
                
            
            
            <p>The award was presented by Mayor Ken Livingstone at City Hall to the DLR Planning, Marketing and Stakeholder team in recognition of DLR's record in successfully expanding its network. </p>
<p>The judges noted that DLR's innovative approach to planning and development, including pioneering community liaison initiatives and proactive stakeholder engagement, had resulted in consent approval for a number of major extension projects.</p>
<p>The effectiveness of DLR's approach is reflected in booming passenger numbers, which have increased sharply to over 55 million per year and are set to reach 80 million by 2009, and record customer satisfaction levels, currently 95 per cent. </p>
<p>The newest DLR extension, to London City Airport, opened in December 2005 on time and ahead of schedule. </p>
<p>DLR has recently secured consent from the Government for its new six kilometre extension to Stratford International, which will form a key transport link during the London 2012 Olympic and Paralympic Games.</p>
<p>Richard De Cani, DLR Head of Development and Planning, said: "It is a pleasure to pick up this award, which is testament to the achievements of my team over the past few years. </p>
<p>"The Docklands Light Railway has proved a genuine transport success story and it is enormously rewarding to see this recognised. </p>
<p>"We are now looking to the future with the Docklands Light Railway Woolwich Arsenal and Stratford International extensions, and are confident of maintaining the unmatched levels of progress and delivery we have enjoyed previously."</p>
<p>The DLR has recently picked up a host of awards including the overall Railway Industry Innovation Award 2006 for 'Delivering a successful railway through effective partnerships', and a Community Rail Award for best 'Local Transport Integration Project' for London City Airport station.</p>
            <ul>
<li>A photograph of Mayor Ken Livingstone presenting the DLR team with the award is available on request</li>
<li>The London Planning Awards are organised by the Mayor of London, London First and the Royal Town Planning Institute</li>
<li>The DLR Woolwich Arsenal extension is set to open in 2009. Funded by TfL's &pound;10bn Investment Programme, it will link the London City Airport extension south of the river to Woolwich Arsenal town centre. It is expected to act as a catalyst for local regeneration</li>
<li>The Stratford International extension is set to open in 2010. Also funded by TfL, it will be formed by converting the North London Line between Stratford and Canning Town to DLR operation. In addition to its Olympic role it will similarly help stimulate regeneration</li>
<li>An unmatched number of approvals have been granted for major extensions and enhancements to the DLR network. To date, the DLR Planning team has had a 100 per cent success rate in securing Transport and Works Act authorisation, compared to a national average of 84 per cent</li>
<li>DLR community initiatives include the landmark focus on improving walking routes to stations by working with local landowners to address physical and psychological barriers to use, and employing Community Ambassadors, who encourage DLR usage among the diverse community surrounding the railway's network to improve social inclusion at a local level</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The award was presented by Mayor Ken Livingstone at City Hall to the DLR Planning, Marketing and Stakeholder team in recognition of DLR's record in successfully expanding its network. The judges noted that DLR's innovative approach to planning and";}
        
        


 