


@{ViewBag.Title = "Enfield to receive major boost for transport improvements";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Enfield to receive major boost for transport improvements</h1>
        <div class="content-page-press-release">
        20 December 2006
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        The Mayor of London today announced &pound;3.48m of funding for the London Borough of Enfield to spend on local transport improvements to make the borough safer, cleaner and greener over the next year.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            This money will help to make daily journeys more convenient and pleasant
                            
                        </p>
                    </div>
                
            
            
            <p>People living, working, visiting and travelling in Enfield will benefit from a range of projects delivered by the council during 2007/08. </p>
<p>These include road renewal schemes, school travel plans, road safety projects and schemes to reduce pollution through increased walking and cycling.</p>
<p>Enfield's allocation is part of a record &pound;160m of funding announced for boroughs across the Capital. </p>
<p>Since the Mayor was first elected in 2000, funding for boroughs has almost doubled - this year's allocation shows a 92 per cent increase from 1999/2000.</p>
<p>It is part of the record-breaking five year &pound;792m programme for local transport schemes included in Transport for London's (TfL's) &pound;10bn Investment Programme, and is an increase on the &pound;765m previously announced.</p>
<p>Mayor of London Ken Livingstone said: "People in Enfield are benefiting from Transport for London funding, which is providing real, local travel improvements. All parts of our city, from the suburbs to the centre, are supported directly through this transport investment.</p>
<p>"This money will help to make daily journeys more convenient and pleasant whether by public transport, in a car, on foot or by bike.</p>
<p>"By supporting transport spending in the boroughs over the past six years we have improved town centres, increased cycling by 72 per cent and approved more than 1000 travel plans to get children to and from school safely."</p>
<p>London's Transport Commissioner Peter Hendy said: "This money will go directly towards improving transport for people in Enfield.</p>
<p>"We will fund a combination of both large and small projects and by working in partnership with each borough we know that local communities will see a difference.</p>
<p>"This funding is an important part of our wider programme of spending in all boroughs to improve public transport and make walking and cycling journeys easier and safer."</p>
<p>Projects funded in Enfield for 2007/08 will include:</p>
<ul>
<li>&pound;485,000 for repairs to the surface of High Street and Hertford Road on the A1010 near Ponders End (between Nags Head Road and Green Street), improving safety and comfort for road users and minimising the need for disruptive work in the near future 
</li><li>&pound;50,000 for the upgrade and linking of walking routes to and from the Church Street area of Enfield Town 
</li><li>&pound;50,000 for the provision of a cycle track across Arnos Park, and of connections between cycle routes across the borough 
</li><li>&pound;20,000 for improvements to the streets around Broomfield Secondary School, as identified in the School Travel Plan</li></ul>
            <ul>
<li>This year is the first time the money allocated has been directly linked to borough Local Implementation Plans (LIPs). Each borough has been preparing a LIP showing how it proposes to implement the Mayor's Transport Strategy locally over the coming years 
</li><li>While TfL awards funding for individual schemes, project delivery is the responsibility of the boroughs 
</li><li>Attached is a table with a breakdown of funding for the borough by transport topic 
</li><li>LIPs submitted by Islington, Croydon, Harrow, Westminster, Tower Hamlets, Lambeth, Camden, Hammersmith and Fulham, Lewisham, Merton and Kingston have all been approved by the Mayor; others are still pending 
</li><li>Priorities for all Local Implementation Plans include: 
<ul>
<li>Improving road safety 
</li><li>Improving bus journey times and reliability 
</li><li>Relieving traffic congestion and improving journey time reliability 
</li><li>Improving the working of parking and loading arrangements 
</li><li>Improving accessibility for all on the transport network 
</li><li>Encouraging walking and cycling 
</li><li>Bringing transport infrastructure into a state of good repair </li></ul>
<li>Definition of terms: 
<ul>
<li>Raised crossing - A raised crossing is essentially a speed table, with a pedestrian crossing installed across the flat section 
</li><li>Speed table - A speed table is a broad speed hump 
</li><li>School Travel Plan - A School Travel Plan is a package of measures, tailored to the needs of individual schools, to deliver alternative transport methods for the school run. The aim of a school travel plan is to reduce single occupancy car journeys for school travel, reduce congestion and increase safety around schools 
</li><li>Toucan crossing - A Toucan (two-can) crossing provides both pedestrians and cyclists with a wide crossing area. Toucan crossings are usually four metres wide, rather than the standard 2.8m for a Pelican or Puffin crossing</li></ul></li></li></ul>
<p>
<div class="table-container"><table style="WIDTH: 250px; HEIGHT: 633px" cellspacing="1" cellpadding="2" width="250" border="1">
<tbody>
<tr>
<td><strong>LIP Programme 2007/08</strong></td>
<td><strong>Allocation (&pound;)</strong></td></tr>
<tr>
<td>Principal road renewals</td>
<td>&pound;1,589,000</td></tr>
<tr>
<td>Bridge strengthening</td>
<td>-</td></tr>
<tr>
<td>Local safety schemes</td>
<td>&pound;339,000</td></tr>
<tr>
<td>20mph zones</td>
<td>&pound;329,000</td></tr>
<tr>
<td>Education, training and publicity</td>
<td>&pound;15,000</td></tr>
<tr>
<td>Walking </td>
<td>&pound;50,000</td></tr>
<tr>
<td>Cycling (general)</td>
<td>&pound;15,000</td></tr>
<tr>
<td>London Cycle Network +</td>
<td>&pound;98,000</td></tr>
<tr>
<td>Bus stop accessibility</td>
<td>&pound;153,000</td></tr>
<tr>
<td>Bus priority</td>
<td>&pound;213,000</td></tr>
<tr>
<td>Town centres</td>
<td>-</td></tr>
<tr>
<td>Streets for People</td>
<td>&pound;360,000</td></tr>
<tr>
<td>Station access</td>
<td>-</td></tr>
<tr>
<td>School travel plans</td>
<td>&pound;104,000</td></tr>
<tr>
<td>Work travel plans</td>
<td>-</td></tr>
<tr>
<td>Travel awareness</td>
<td>&pound;15,000</td></tr>
<tr>
<td>Freight</td>
<td>-</td></tr>
<tr>
<td>Regeneration area schemes</td>
<td>&pound;50,000</td></tr>
<tr>
<td>Environment</td>
<td>&pound;20,000</td></tr>
<tr>
<td>Controlled parking zones</td>
<td>&pound;30,000</td></tr>
<tr>
<td>Local area accessibility</td>
<td>&pound;60,000</td></tr>
<tr>
<td>Parallel initiatives</td>
<td>&pound;40,000</td></tr>
<tr>
<td><strong>Total</strong></td>
<td><strong>&pound;3,480,000</strong></td></tr></tbody></table></div><br></p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "People living, working, visiting and travelling in Enfield will benefit from a range of projects delivered by the council during 2007/08. These include road renewal schemes, school travel plans, road safety projects and schemes to reduce pollution through";}
        
        


 