


@{ViewBag.Title = "Evening Standard article on Londons bus service";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Evening Standard article on Londons bus service</h1>
        <div class="content-page-press-release">
        13 December 2006
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        The following statement was published in response to the first edition of the Evening Standard on 13 December, 2006. <BR>Subsequent editions of the paper included references to remarks made by the Mayor at Mayor's Question Time on that date. At no point did the Standard's report directly quote either the Mayor or Transport for London.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            The latest figures show that crime and antisocial behaviour is now no higher this year than it was this time last year
                            
                        </p>
                    </div>
                
            
            
            <p>The first edition of the Evening Standard today (13 December 2006) contains an article by Andrew Gilligan entitled 'Free buses for under-16s has led to rise in bad behaviour'.</p>
<p>He omits to run a single quote from Transport for London (TfL) or the Mayor to provide balance. </p>
<p>In the interests of balance, the statement that was given to Gilligan last night, but which he chose not to include in his report, is as follows:</p>
<p>Ken Livingstone said: "In July 2006, the total number of crime allegations on the bus system was actually lower than in July 2005, down from 3,157 alleged crimes that month to 3,003. </p>
<p>"The figures for October 2006 show virtually no difference to 2005, with just 0.67 per cent more alleged crimes.</p>
<p>"Year-on-year figures for each month show small fluctuations up and down but no significant difference to the period prior to the abolition of child bus fares.</p>
<p>"There is virtually no change in the total number of allegations of crime on the bus system, despite media claims to the contrary, since child bus fares were abolished."</p>
<p>A spokesperson for Transport for London said: "Buses are one of the safest ways to travel in London. </p>
<p>
<h2>Improving figures</h2>
<p>
<p>"The latest figures show that crime and antisocial behaviour is now no higher this year than it was this time last year.</p>
<p>"In the first quarter of 2005/06, there was one allegation of a crime on London's buses for every 47,000 passenger journeys. </p>
<p>"By the first quarter of 2006/07, this had improved to one allegation for every 50,000 passenger journeys. </p>
<p>"This figure is an improvement on the period before free travel for under-16s was introduced. </p>
<p>
<h2>Tackling crime</h2>
<p>
<p>"In addition, the perception of safety at bus stops is up by 9.8 per cent and on buses by 3.8 per cent since the Transport Operational Command Unit began.</p>
<p>"Drivers on TfL services are actively encouraged to report any incidence of crime or antisocial behaviour, however minor. This allows TfL and the Metropolitan Police, who patrol bus routes, to identify any areas of concern.</p>
<p>"Currently, 1,200 uniformed Metropolitan Police officers patrol London's bus routes as part of the Transport Operational Command Unit. </p>
<p>"In addition, the mayor is financing an extra 375 Police Community Support Officers (PCSOs) to be deployed in outer London boroughs in 2007, to help tackle crime in those areas.</p>
<p>
<h2>Rising bus passenger numbers</h2>
<p>
<p>"TfL has encouraged bus drivers to use the Code Red facility to report incidents of 'Code Red' - a call from a bus driver to TfL for assistance or to report an incident of crime, antisocial behaviour or traffic delay - and the success in tackling crime and antisocial behaviour has led to more drivers responding. </p>
<p>"However overall crime and antisocial behaviour is no higher now than it was a year ago."</p>
<p>This episode follows the recent Evening Standard story ('Exploding the myth of Ken's miracle on the buses', 4/12/06) in which Gilligan claimed that "the strong growth seen on the network started to go into reverse." </p>
<p>Again, Gilligan's report was wrong, and contained no balance from TfL. In fact bus ridership is not down at all - it is up. </p>
<p>
<h2>Reliable network</h2>
<p>
<p>Over the year 2005/06, bus passenger numbers actually increased 23 million on 2004/05 figures to 1.8 billion - the highest number since the 1960s. </p>
<p>This year, bus passenger numbers have continued to rise. </p>
<p>London's bus network is more reliable and running more services than at any time since the 1960s, with passengers up 40 per cent since 2000.</p>
<p>Gilligan also claimed in the same article, wrongly, that Routemaster buses had returned to London's streets 'for one day only.' In fact they run daily on routes 9 and 15 from 9.30am to 6.30pm.</p>
<p>
<h2>Families benefit</h2>
<p>
<p>Mayor of Lo

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The first edition of the Evening Standard today (13 December 2006) contains an article by Andrew Gilligan entitled 'Free buses for under-16s has led to rise in bad behaviour'.He omits to run a single quote from Transport for London (TfL) or the Mayor to";}
        
        


 