


@{ViewBag.Title = "Happy New Year from Oyster";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Happy New Year from Oyster</h1>
        <div class="content-page-press-release">
        29 December 2006
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London (TfL) is helping people celebrate the New Year with a range of fantastic new 2 for 1 deals at the Capital's top shows, attractions and restaurants.
        
    </div>



 <div class="on-this-page">
<p>From January until the end of March 2007, people with Oyster cards can take advantage of cheap and convenient deals including Chelsea Stadium tours, tickets to the Natural History Museum Ice Rink, films from Blockbuster or trips to musicals. </p>
<p>Mayor of London, Ken Livingstone, said: 'This latest deal represents huge savings for Londoners.</p>
<p>'The latest 2 for 1 Oyster deals provide an added incentive to switch to Oyster in the New Year by offering further savings on great days and nights out across London.<br><br>'The Oyster card is the simplest, cheapest and fastest way to travel around London all year round.</p>
<p>'You can reap big savings by switching to Oyster as many Oyster pay-as-you-go bus and Tube fares cost half the same journey paid by cash.'</p>
<p>The 2 for 1 deals include:</p>
<ul>
<li>Nights In - Blockbuster, 2 for 1 on all movie and game rentals at all stores, Monday to Thursday 
</li><li>Attractions - Chelsea Football Club Stadium Tours, Natural History Museum Ice Rink 
</li><li>Restaurants - The Bar and Grill, Boulevard Brasserie, Georgetown, The Living Room W1, Imli Modern Indian Tapas 
</li><li>Theatre and Shows - Chicago, Daddy Cool, Les Miserables, We Will Rock You, Blood Brothers, Royal Philharmonic Orchestra at the Royal Albert Hall, Avenue Q, Blue Man Group, STOMP, Woman In Black</li></ul>
<p>The deals have different start and end dates, full details of the deals and how to take advantage of them will be available on the Oyster website from 1st January 2007: <a href="http://www.tfl.gov.uk/oyster">www.tfl.gov.uk/oyster</a> where people can also find out more on the benefits of Oyster and how to buy one.</p>
            <ul>
<li>The <a href="http://www.tfl.gov.uk/oysteroffers">2 for 1 Oyster </a>deals are available at various times between 1 January and 31 March. Please check full terms and conditions on the website, or pick up a leaflet at all London Underground Stations</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "From January until the end of March 2007, people with Oyster cards can take advantage of cheap and convenient deals including Chelsea Stadium tours, tickets to the Natural History Museum Ice Rink, films from Blockbuster or trips to musicals. Mayor of";}
        
        


 