


@{ViewBag.Title = "Key milestone reached in &pound;211m rail extension";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Key milestone reached in &pound;211m rail extension</h1>
        <div class="content-page-press-release">
        11 December 2006
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        The project to extend the Docklands Light Railway to Stratford International - a key part of the transport plans for the 2012 Games - reached a major milestone yesterday, with part of the North London line transferring to DLR.
        
    </div>



 <div class="on-this-page">
<p>The &pound;211 million cost of the extension was approved by the Transport for London board last Thursday (7 December).</p>
<p>The project will be funded from TfL's &pound;10bn Investment Programme, with an additional contribution from the Olympic Delivery Authority.</p>
<p>The Mayor said: 'This investment will mean better transport links to and from east London, improving services not only for the Olympic and Paralympic Games but for the benefit of Londoners for years to come.'</p>
<p>Peter Hendy, Transport Commissioner, said: 'Transport for London is investing &pound;211 million to extend the DLR to Stratford International, in recognition of the enormous benefits it will bring to Londoners and the vital role it will play in the transport plan for the 2012 Games. </p>
<p>'When complete in 2010, the DLR extension will provide a much more frequent and reliable train service for passengers, as well as clean and fully accessible stations where you can use your Oyster card.</p>
<p>We're also building four new DLR stations in Newham, opening up new links for the local community.' </p>
<p>The stretch of railway between Stratford and North Woolwich transfered to Docklands Light Railway yesterday (10 December).</p>
<p>Formerly used by Silverlink Metro as part of the National Rail network, the line will be converted to DLR operation to become a major part of the Stratford International Extension. </p>
<p>A new rail link will then be built between Stratford and Stratford International, allowing passengers to transfer to and from international Eurostar services. </p>
<p>From yesterday, Silverlink Metro services start and terminate at Stratford, with the rest of the line to North Woolwich remaining closed for the conversion of the track and stations, the construction of the new rail link, and the building of four new DLR stations at Star Lane, Abbey Road, Stratford High Street and Stratford International. </p>
<p>Jonathan Fox, Director, Docklands Light Railway, said: 'It's an exciting time for DLR and we are delighted to reach this milestone.</p>
<p>A huge amount of work now needs to take place on the line between Stratford and North Woolwich so that passengers can benefit from this vital extension by 2010.</p>
<p>Construction work will start as soon as January 2007.'</p>
<p>Passengers wishing to travel between Stratford and North Woolwich can make use of the Jubilee line and existing DLR lines, which follow very similar routes to the North London line.</p>
<p>Valid National Rail tickets will be accepted on these services until the rest of the North London line is integrated into the Oyster pay-as-you-go system, which is planned for November 2007.</p>
<p>DLR has distributed more than 200,000 leaflets in the area to inform people of the alternative travel options and the benefits they can look forward to when the Stratford International Extension is complete.</p>
<p>Additional information on service changes has been provided using posters at stations, passenger announcements on trains and stations, and open days held at King George V and London City Airport DLR stations.</p>
            <ul>
<li>A route map of the Stratford International Extension, artists' impressions of the new stations, and the leaflet about alternative travel arrangements are all available on request</li>
<li>On Wednesday 25 October 2006, the Department for Transport awarded Transport & Works Act (TWA) powers to DLR to build the Stratford International Extension. At the same time, Closure Consent was granted for the transfer of the North London line south of Stratford to the DLR</li>
<li>DLR has started the process of selecting contractors to design and build the Stratford International Extension.  Preliminary work will start in January 2007, with a target completion date of early 2010</li>
<li>The completed extension will operate between Stratford International and Royal Victoria, serving existing stations at Stratford, West Ham, Canning Town and Royal Victoria and new stations at Star Lane, Abbey Road, Stratford High Street and Stratford International</li>
<li>DLR's two most recent extensions, to Lewisham and London City Airport, were completed ahead of schedule and on budget. A further extension under the Thames to Woolwich Arsenal is on target to open in 2009</li>
<li>When the Stratford International Extension is complete, trains will be able to run direct from Stratford International to Woolwich Arsenal via London City Airport</li>
<li>DLR won the overall 2006 Railway Industry Innovation Award in June for 'Delivering a successful railway through effective partnerships', as well as the London Planning Award earlier this month for 'Best Public Sector Planning Organisation'</li>
<li>Docklands Light Railway is part of Transport for London.  Further information is available at <a href="http://www.tfl.gov.uk/dlr">http://www.tfl.gov.uk/dlr</a></li>
<li>Silverlink Metro will continue to operate trains on the rest of the North London line, between Stratford and Richmond, until November 2007 when their franchise expires. In November 2007, responsibility for the North London Line will pass to Transport for London.<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The &pound;211 million cost of the extension was approved by the Transport for London board last Thursday (7 December).The project will be funded from TfL's &pound;10bn Investment Programme, with an additional contribution from the Olympic Delivery";}
        
        


 