


@{ViewBag.Title = "Lewisham to receive major boost for transport improvements";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Lewisham to receive major boost for transport improvements</h1>
        <div class="content-page-press-release">
        20 December 2006
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        The Mayor of London today announced &pound;3.27m of funding for the London Borough of Lewisham to spend on local transport improvements to make the borough safer, cleaner and greener over the next year.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            This money will help to make daily journeys more convenient and pleasant
                            
                        </p>
                    </div>
                
            
            
            <p>People living, working, visiting and travelling in Lewisham will benefit from a range of projects delivered by the council during 2007-08.</p>
<p>These include road renewal schemes, school travel plans, improved town centres, road safety projects and schemes to reduce pollution through increased walking and cycling.</p>
<p>Lewisham's allocation is part of a record &pound;160m of funding announced for boroughs across the capital. </p>
<p>Since the Mayor was first elected in 2000, funding for boroughs has almost doubled - this year's allocation shows a 92 per cent increase from 1999/2000.</p>
<p>It is part of the record-breaking five year &pound;792m programme for local transport schemes included in Transport for London's &pound;10bn Investment Programme, and is an increase on the &pound;765m previously announced.</p>
<p>Mayor of London Ken Livingstone said: 'People in Lewisham are benefiting from Transport for London funding, which is providing real, local travel improvements.</p>
<p>'All parts of our city, from the suburbs to the centre, are supported directly through this transport investment.</p>
<p>'This money will help to make daily journeys more convenient and pleasant whether by public transport, in a car, on foot or by bike.</p>
<p>'By supporting transport spending in the boroughs over the past six years we have improved town centres, increased cycling by 72 per cent and approved more than 1,000 travel plans to get children to and from school safely.'</p>
<p>London's Transport Commissioner Peter Hendy said: 'This money will go directly towards improving transport for people in Lewisham.</p>
<p>'We will fund a combination of both large and small projects and by working in partnership with each borough we know that local communities will see a difference.</p>
<p>'This funding is an important part of our wider programme of spending in all boroughs to improve public transport and make walking and cycling journeys easier and safer.'</p>
<p>Projects funded in Lewisham for 2007/08 will include:</p>
<ul>
<li>&pound;200,000 to improve cycling facilities around Wearside Depot by the River Ravensbourne between Lewisham town centre and Ladywell, including the installation of a cycle path under the nearby railway bridge</li>
<li>&pound;50,000 to improve walking and cycling facilities for pupils at local schools (All Saints, Baring, Chelwood Nursery, Hither Green, Holbeach, Sedgehill and Lewisham Bridge) as proposed in their School Travel Plans</li>
<li>&pound;110,000 to be spent over three years to create the Deptford Green Grid, as part of the wider East London Green Grid project which will improve and link together green spaces across East and South East London</li></ul>
<p><br> </p>
            <ul>
<li>This year is the first time the money allocated has been directly linked to borough Local Implementation Plans (LIPs). Each borough has been preparing a LIP showing how it proposes to implement the Mayor's Transport Strategy locally over the coming years 
</li><li>While Transport for London awards funding for individual schemes, project delivery is the responsibility of the boroughs 
</li><li>Attached is a table with a breakdown of funding for the borough by transport topic 
</li><li>LIPs submitted by Islington, Croydon, Harrow, Westminster, Tower Hamlets, Lambeth, Camden, Hammersmith and Fulham, Lewisham, Merton and Kingston have all been approved by the Mayor; others are still pending 
</li><li>Priorities for all Local Implementation Plans include: 
<ul>
<li>Improving road safety 
</li><li>Improving bus journey times and reliability 
</li><li>Relieving traffic congestion and improving journey time reliability 
</li><li>Improving the working of parking and loading arrangements 
</li><li>Improving accessibility for all on the transport network 
</li><li>Encouraging walking and cycling 
</li><li>Bringing transport infrastructure into a state of good repair</li></ul>
<li>Definition of terms: 
<ul>
<li>Raised crossing - A raised crossing is essentially a speed table, with a pedestrian crossing installed across the flat section 
</li><li>Speed table - A speed table is a broad speed hump 
</li><li>School Travel Plan - A School Travel Plan is a package of measures, tailored to the needs of individual schools, to deliver alternative transport methods for the school run. The aim of a school travel plan is to reduce single occupancy car journeys for school travel, reduce congestion and increase safety around schools. 
</li><li>Toucan crossing - A Toucan (two-can) crossing provides both pedestrians and cyclists with a wide crossing area. Toucan crossings are usually four metres wide, rather than the standard 2.8m for a Pelican or Puffin crossing</li></ul></li></li></ul>
<p>
<div class="table-container"><table cellspacing="1" cellpadding="2" width="100%" border="1">
<tbody>
<tr>
<td><span style="FONT-SIZE: 12pt; FONT-FAMILY: Arial; mso-fareast-font-family: 'Times New Roman'; mso-ansi-language: EN-GB; mso-fareast-language: EN-GB; mso-bidi-language: AR-SA"><strong>LIP Programme 2007/08</strong></span></td>
<td><span style="FONT-SIZE: 12pt; FONT-FAMILY: Arial; mso-fareast-font-family: 'Times New Roman'; mso-ansi-language: EN-GB; mso-fareast-language: EN-GB; mso-bidi-language: AR-SA"><strong>Allocation (&pound;)</strong></span></td></tr>
<tr>
<td><span style="FONT-SIZE: 12pt; FONT-FAMILY: Arial; mso-fareast-font-family: 'Times New Roman'; mso-ansi-language: EN-GB; mso-fareast-language: EN-GB; mso-bidi-language: AR-SA">Principal Road Renewals </span></td>
<td><span style="FONT-SIZE: 12pt; FONT-FAMILY: Arial; mso-fareast-font-family: 'Times New Roman'; mso-ansi-language: EN-GB; mso-fareast-language: EN-GB; mso-bidi-language: AR-SA">&pound;344,000</span></td></tr>
<tr>
<td><span style="FONT-SIZE: 12pt; FONT-FAMILY: Arial; mso-fareast-font-family: 'Times New Roman'; mso-ansi-language: EN-GB; mso-fareast-language: EN-GB; mso-bidi-language: AR-SA">Bridge Strengthening </span></td>
<td><span style="FONT-SIZE: 12pt; FONT-FAMILY: Arial; mso-fareast-font-family: 'Times New Roman'; mso-ansi-language: EN-GB; mso-fareast-language: EN-GB; mso-bidi-language: AR-SA">&pound;37,000</span></td></tr>
<tr>
<td><span style="FONT-SIZE: 12pt; FONT-FAMILY: Arial; mso-fareast-font-family: 'Times New Roman'; mso-ansi-language: EN-GB; mso-fareast-language: EN-GB; mso-bidi-language: AR-SA">Local Safety Schemes </span></td>
<td><span style="FONT-SIZE: 12pt; FONT-FAMILY: Arial; mso-fareast-font-family: 'Times New Roman'; mso-ansi-language: EN-GB; mso-fareast-language: EN-GB; mso-bidi-language: AR-SA">&pound;375,000</span></td></tr>
<tr>
<td><span style="FONT-SIZE: 12pt; FONT-FAMILY: Arial; mso-fareast-font-family: 'Times New Roman'; mso-ansi-language: EN-GB; mso-fareast-language: EN-GB; mso-bidi-language: AR-SA">20mph Zones </span></td>
<td><span style="FONT-SIZE: 12pt; FONT-FAMILY: Arial; mso-fareast-font-family: 'Times New Roman'; mso-ansi-language: EN-GB; mso-fareast-language: EN-GB; mso-bidi-language: AR-SA">&pound;200,000</span></td></tr>
<tr>
<td><span style="FONT-SIZE: 12pt; FONT-FAMILY: Arial; mso-fareast-font-family: 'Times New Roman'; mso-ansi-language: EN-GB; mso-fareast-language: EN-GB; mso-bidi-language: AR-SA">Education, Training &amp; Publicity </span></td>
<td><span style="FONT-SIZE: 12pt; FONT-FAMILY: Arial; mso-fareast-font-family: 'Times New Roman'; mso-ansi-language: EN-GB; mso-fareast-language: EN-GB; mso-bidi-language: AR-SA">&pound;45,000</span></td></tr>
<tr>
<td><span style="FONT-SIZE: 12pt; FONT-FAMILY: Arial; mso-fareast-font-family: 'Times New Roman'; mso-ansi-language: EN-GB; mso-fareast-language: EN-GB; mso-bidi-language: AR-SA">Walking</span></td>
<td><span style="FONT-SIZE: 12pt; FONT-FAMILY: Arial; mso-fareast-font-family: 'Times New Roman'; mso-ansi-language: EN-GB; mso-fareast-language: EN-GB; mso-bidi-language: AR-SA">&pound;145,000</span></td></tr>
<tr>
<td><span style="FONT-SIZE: 12pt; FONT-FAMILY: Arial; mso-fareast-font-family: 'Times New Roman'; mso-ansi-language: EN-GB; mso-fareast-language: EN-GB; mso-bidi-language: AR-SA">Cycling (General) </span></td>
<td><span style="FONT-SIZE: 12pt; FONT-FAMILY: Arial; mso-fareast-font-family: 'Times New Roman'; mso-ansi-language: EN-GB; mso-fareast-language: EN-GB; mso-bidi-language: AR-SA">&pound;95,000</span></td></tr>
<tr>
<td><span><span style="FONT-SIZE: 12pt; FONT-FAMILY: Arial; mso-fareast-font-family: 'Times New Roman'; mso-ansi-language: EN-GB; mso-fareast-language: EN-GB; mso-bidi-language: AR-SA">London Cycle Network + (LCN+)</span></span></td>
<td><span style="FONT-SIZE: 12pt; FONT-FAMILY: Arial; mso-fareast-font-family: 'Times New Roman'; mso-ansi-language: EN-GB; mso-fareast-language: EN-GB; mso-bidi-language: AR-SA">&pound;410,000</span></td></tr>
<tr>
<td><span style="FONT-SIZE: 12pt; FONT-FAMILY: Arial; mso-fareast-font-family: 'Times New Roman'; mso-ansi-language: EN-GB; mso-fareast-language: EN-GB; mso-bidi-language: AR-SA">Bus Stop Accessibility </span></td>
<td><span style="FONT-SIZE: 12pt; FONT-FAMILY: Arial; mso-fareast-font-family: 'Times New Roman'; mso-ansi-language: EN-GB; mso-fareast-language: EN-GB; mso-bidi-language: AR-SA">&pound;95,000</span></td></tr>
<tr>
<td><span style="FONT-SIZE: 12pt; FONT-FAMILY: Arial; mso-fareast-font-family: 'Times New Roman'; mso-ansi-language: EN-GB; mso-fareast-language: EN-GB; mso-bidi-language: AR-SA">Bus Priority </span></td>
<td><span style="FONT-SIZE: 12pt; FONT-FAMILY: Arial; mso-fareast-font-family: 'Times New Roman'; mso-ansi-language: EN-GB; mso-fareast-language: EN-GB; mso-bidi-language: AR-SA">&pound;382,000</span></td></tr>
<tr>
<td><span style="FONT-SIZE: 12pt; FONT-FAMILY: Arial; mso-fareast-font-family: 'Times New Roman'; mso-ansi-language: EN-GB; mso-fareast-language: EN-GB; mso-bidi-language: AR-SA">Town Centres </span></td>
<td><span style="FONT-SIZE: 12pt; FONT-FAMILY: Arial; mso-fareast-font-family: 'Times New Roman'; mso-ansi-language: EN-GB; mso-fareast-language: EN-GB; mso-bidi-language: AR-SA">&pound;625,000</span></td></tr>
<tr>
<td><span style="FONT-SIZE: 12pt; FONT-FAMILY: Arial; mso-fareast-font-family: 'Times New Roman'; mso-ansi-language: EN-GB; mso-fareast-language: EN-GB; mso-bidi-language: AR-SA">Streets for People </span></td>
<td>-</td></tr>
<tr>
<td><span style="FONT-SIZE: 12pt; FONT-FAMILY: Arial; mso-fareast-font-family: 'Times New Roman'; mso-ansi-language: EN-GB; mso-fareast-language: EN-GB; mso-bidi-language: AR-SA">Station Access </span></td>
<td>-</td></tr>
<tr>
<td><span style="FONT-SIZE: 12pt; FONT-FAMILY: Arial; mso-fareast-font-family: 'Times New Roman'; mso-ansi-language: EN-GB; mso-fareast-language: EN-GB; mso-bidi-language: AR-SA">School Travel Plans </span></td>
<td><span style="FONT-SIZE: 12pt; FONT-FAMILY: Arial; mso-fareast-font-family: 'Times New Roman'; mso-ansi-language: EN-GB; mso-fareast-language: EN-GB; mso-bidi-language: AR-SA">&pound;160,000</span></td></tr>
<tr>
<td><span style="FONT-SIZE: 12pt; FONT-FAMILY: Arial; mso-fareast-font-family: 'Times New Roman'; mso-ansi-language: EN-GB; mso-fareast-language: EN-GB; mso-bidi-language: AR-SA">Work Travel Plans </span></td>
<td>-</td></tr>
<tr>
<td><span style="FONT-SIZE: 12pt; FONT-FAMILY: Arial; mso-fareast-font-family: 'Times New Roman'; mso-ansi-language: EN-GB; mso-fareast-language: EN-GB; mso-bidi-language: AR-SA">Travel Awareness </span></td>
<td><span style="FONT-SIZE: 12pt; FONT-FAMILY: Arial; mso-fareast-font-family: 'Times New Roman'; mso-ansi-language: EN-GB; mso-fareast-language: EN-GB; mso-bidi-language: AR-SA">&pound;60,000</span></td></tr>
<tr>
<td><span style="FONT-SIZE: 12pt; FONT-FAMILY: Arial; mso-fareast-font-family: 'Times New Roman'; mso-ansi-language: EN-GB; mso-fareast-language: EN-GB; mso-bidi-language: AR-SA">Freight</span></td>
<td>-</td></tr>
<tr>
<td><span style="FONT-SIZE: 12pt; FONT-FAMILY: Arial; mso-fareast-font-family: 'Times New Roman'; mso-ansi-language: EN-GB; mso-fareast-language: EN-GB; mso-bidi-language: AR-SA">Regeneration Area Schemes </span></td>
<td><span style="FONT-SIZE: 12pt; FONT-FAMILY: Arial; mso-fareast-font-family: 'Times New Roman'; mso-ansi-language: EN-GB; mso-fareast-language: EN-GB; mso-bidi-language: AR-SA">&pound;50,000</span></td></tr>
<tr>
<td><span style="FONT-SIZE: 12pt; FONT-FAMILY: Arial; mso-fareast-font-family: 'Times New Roman'; mso-ansi-language: EN-GB; mso-fareast-language: EN-GB; mso-bidi-language: AR-SA">Environment</span></td>
<td><span style="FONT-SIZE: 12pt; FONT-FAMILY: Arial; mso-fareast-font-family: 'Times New Roman'; mso-ansi-language: EN-GB; mso-fareast-language: EN-GB; mso-bidi-language: AR-SA">&pound;45,000</span></td></tr>
<tr>
<td><span style="FONT-SIZE: 12pt; FONT-FAMILY: Arial; mso-fareast-font-family: 'Times New Roman'; mso-ansi-language: EN-GB; mso-fareast-language: EN-GB; mso-bidi-language: AR-SA">Controlled Parking Zones </span></td>
<td>-</td></tr>
<tr>
<td><span style="FONT-SIZE: 12pt; FONT-FAMILY: Arial; mso-fareast-font-family: 'Times New Roman'; mso-ansi-language: EN-GB; mso-fareast-language: EN-GB; mso-bidi-language: AR-SA">Local Area Accessibility</span></td>
<td><span style="FONT-SIZE: 12pt; FONT-FAMILY: Arial; mso-fareast-font-family: 'Times New Roman'; mso-ansi-language: EN-GB; mso-fareast-language: EN-GB; mso-bidi-language: AR-SA">&pound;120,000</span></td></tr>
<tr>
<td><span style="FONT-SIZE: 12pt; FONT-FAMILY: Arial; mso-fareast-font-family: 'Times New Roman'; mso-ansi-language: EN-GB; mso-fareast-language: EN-GB; mso-bidi-language: AR-SA">Parallel Initiatives</span></td>
<td><span style="FONT-SIZE: 12pt; FONT-FAMILY: Arial; mso-fareast-font-family: 'Times New Roman'; mso-ansi-language: EN-GB; mso-fareast-language: EN-GB; mso-bidi-language: AR-SA">&pound;90,000</span></td></tr>
<tr>
<td><span style="FONT-SIZE: 12pt; FONT-FAMILY: Arial; mso-fareast-font-family: 'Times New Roman'; mso-ansi-language: EN-GB; mso-fareast-language: EN-GB; mso-bidi-language: AR-SA"><strong>Total</strong></span></td>
<td><span style="FONT-SIZE: 12pt; FONT-FAMILY: Arial; mso-fareast-font-family: 'Times New Roman'; mso-ansi-language: EN-GB; mso-fareast-language: EN-GB; mso-bidi-language: AR-SA"><strong>&pound;3,278,000</strong></span></td></tr></tbody></table></div><br></p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "People living, working, visiting and travelling in Lewisham will benefit from a range of projects delivered by the council during 2007-08.These include road renewal schemes, school travel plans, improved town centres, road safety projects and schemes to";}
        
        


 