


@{ViewBag.Title = "Londoners to get a free ride on New Years Eve";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Londoners to get a free ride on New Years Eve</h1>
        <div class="content-page-press-release">
        04 December 2006
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Londoners are once again set to benefit from free travel this New Year's Eve, thanks to a deal announced today by Transport for London (TfL).
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            ''London is one of the best places to celebrate New Year's Eve, with an unrivalled number of things to do
                            
                        </p>
                    </div>
                
            
            
            <p>Under an agreement struck for the second year running, high street bank NatWest will sponsor free travel on London Underground (LU), London Buses, the Docklands Light Railway (DLR) and Tram services. </p>
<p>Mayor of London Ken Livingstone said: ''London is one of the best places to celebrate New Year's Eve, with an unrivalled number of things to do across the Capital. </p>
<p>"However you plan to bring in the New Year, free travel and services through the night mean public transport makes it much easier to get out and about and safely home."</p>
<p>Tube, DLR and tram services will run all night on New Year's Eve, as well as night buses and 24-hour bus routes as usual. </p>
<p>Passengers throughout the Capital will be able to travel for free on these services during the prime festive hours, for journeys starting between 11.45pm and 4.30am. </p>
<p>In addition, the Mayor is funding free travel on selected National Rail services between midnight and 5am, particularly in areas with fewer Tube connections. </p>
<p>The congestion charge is also suspended between Christmas and New Year.</p>
<p>Helen Page, Marketing Director at NatWest, said: "NatWest is looking forward to helping Londoners get home swiftly and safely on the nation's biggest night of the year, and saving cash in the process."</p>
<p>
<h2>Plan your journey</h2>
<p>
<p>Detailed travel information for the whole festive period is now available to passengers across the TfL network. </p>
<p>Londoners and visitors to the Capital should plan their journeys carefully between Christmas and New Year as some special arrangements will be in place. In particular, Christmas Day services will be very limited.</p>
<p>Peter Hendy, Transport Commissioner, said: "It's sensible during the festive period for people to plan their journeys in advance, using TfL's online Journey Planner or our 24-hour London Travel Information phone line.</p>
<p>"I'm pleased to say that people spending New Year's Eve in the Capital will be able to celebrate into the night, with the Tube, DLR, buses, trams and some National Rail routes running all night to get them safely home. </p>
<p>
<h2>Festive travel</h2>
<p>
<p>"Tens of thousands of passengers throughout the city will also benefit from free travel at the busiest times, thanks to the Mayor and NatWest." </p>
<p>TfL has produced a comprehensive leaflet for passengers, outlining all service changes between Christmas Eve and New Year's Day on the Tube, DLR, London buses, Tramlink and Riverboat services.</p>
<p>It also provides an outline of National Rail services within the Greater London area and details of free travel where applicable.</p>
<p>The 'Travel Information for the Festive Season' leaflet is now available at Tube and bus stations, Travel Information Centres and all staffed DLR stations. </p>
<p>Further travel advice is available by:</p>
<ul>
<li>Phoning the London Travel Information 24-hour helpline on 020 7222 1234 </li>
<li>Phoning National Rail Enquiries on 08457 484950 </li>
<li>Visiting <a href="http://www.tfl.gov.uk/journeyplanner">www.tfl.gov.uk/journeyplanner</a> or <a href="http://www.nationalrail.co.uk/">http://www.nationalrail.co.uk/</a>. </li></ul>
            <ul>
<li>On New Year's Eve, London Mayor Ken Livingstone is sponsoring selected national rail routes between midnight and 5am. </li>
<li>From the end of normal service, trains will continue to run outbound only at 30-minute intervals, with the last departures at 5am. Travel will be free on the following routes</li>
<ul>
<li>One services from Liverpool Street to Enfield Town and Shenfield</li>
<li>Southeastern services from Victoria to Orpington via Herne Hill; from Charing Cross to Dartford via Greenwich, Lewisham, Bexleyheath, Lewisham or Sidcup; and from Charing Cross to Beckenham Junction</li>
<li>Southern services from Victoria to East Croydon</li>
<li>First Capital Connect services from Blackfriars to Sutton</li>
<li>South West Trains services from Waterloo to Kingston via Richmond or Wimbledon</li>
<li>First Great Western services from Paddington to Slough</li></ul>
<li>On New Year's Eve, NatWest is sponsoring free travel for journeys starting between 11.45pm and 4.30am on LU, DLR, London Buses and Tramlink services</li>
<li>The sponsorship deal with Natwest was arranged by Viacom Outdoor on behalf of TfL</li>
<li>Viacom Outdoor is part of the newly-formed CBS Corporation, the NYSE-listed global media and entertainment company whose assets include CBS Television, UPN, Paramount TV, CBS Outdoor, Viacom Outdoor, CBS Radio (formerly Infinity Radio), Simon & Schuster, Paramount Parks and cable channel Showtime. CBS Outdoor is the leading outdoor company in North America, while Viacom Outdoor operates in 6 European markets and in Beijing, China</li>
<li>Further information is available from:Jo Tomlin, Head of Communications at Viacom Outdoor, on 020 7428 3634 or <a href="mailto:jo.tomlin&#64;viacom-outdoor.co.uk">jo.tomlin&#64;viacom-outdoor.co.uk</a></li>
<li>Alex Burr or Charlie Graves at The Media Foundry, on 020 7612 1160/1162 or <a href="mailto:alexburr&#64;themediafoundry.com">alexburr&#64;themediafoundry.com</a>, <a href="mailto:charlesgraves&#64;themediafoundry.com">charlesgraves&#64;themediafoundry.com</a>.</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Under an agreement struck for the second year running, high street bank NatWest will sponsor free travel on London Underground (LU), London Buses, the Docklands Light Railway (DLR) and Tram services. Mayor of London Ken Livingstone said: ''London is one";}
        
        


 