


@{ViewBag.Title = "Londons Transport Commissioner Peter Hendy welcomes Eddington Transport Report";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Londons Transport Commissioner Peter Hendy welcomes Eddington Transport Report</h1>
        <div class="content-page-press-release">
        01 December 2006
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Following this morning's publication of the Eddington Transport Report, Peter Henry, London's Transport Commissioner, issued the following statement: "We wholeheartedly endorse the analysis presented by Sir Rod Eddington on the vital importance of investing in transport in the UK, and in particular in London, if we are to remain competitive internationally.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            This is a vital report that shows how transport is at the heart of a healthy economy
                            
                        </p>
                    </div>
                
            
            
            <p>"His proposals - which effectively rank transport improvements according to their economic growth benefit - will, if adopted, cut delays and end uncertainty for vital infrastructure projects.</p>
<p>"His proposals on governance and the planning process, which endorse the creation of the Mayor of London and an integrated transport authority in London, Transport for London (TfL), would end the crippling delays to major projects which hobble economic growth across Britain. Today, Sir Rod also highlighted the importance of Crossrail to the UK economy.</p>
<p>"TfL's recently published T2025 vision has shown that the Capital's transport system can deliver &pound;180bn of benefits to the UK economy over 60 years by upgrading the Tube network via the PPP, by delivering vitally needed new capacity through Crossrail and on the national rail network, and by managing transport demand, keeping London as a world financial Capital.</p>
<p>"This is a vital report that shows how transport is at the heart of a healthy economy. I look forward to further discussions with Government on how we can move essential London projects forward in the light of these recommendations."<br></p>
<p><br></p>
            <ul>
<li>Peter Hendy CBE is London's Transport Commissioner and is also Chair of the Commission for Integrated Transport<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "'His proposals - which effectively rank transport improvements according to their economic growth benefit - will, if adopted, cut delays and end uncertainty for vital infrastructure projects.'His proposals on governance and the planning process, which";}
        
        


 