


@{ViewBag.Title = "Mayor unveils &pound;11m improvements to Finsbury Park Interchange";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Mayor unveils &pound;11m improvements to Finsbury Park Interchange</h1>
        <div class="content-page-press-release">
        15 December 2006
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        This press release was originally issued by the press office at the Greater London Authority.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Whether travelling on foot, bike or by public transport, the interchange is now easier to use
                            
                        </p>
                    </div>
                
            
            
            <p>The Mayor of London Ken Livingstone and Transport Commissioner Peter Hendy today officially opened a newly improved Finsbury Park Transport Interchange, one of the busiest stations outside of central London. </p>
<p>The station has received more than &pound;11m of investment making it safer, and easier for passengers to use whether using public transport or walking and cycling.</p>
<p>The changes at the station radically improve the environment in and around the station for residents and commuters. </p>
<p>The station improvements are also a boost for football fans on match days travelling to and from the nearby Emirates stadium. </p>
<p>New CCTV cameras, better lighting, the impressive new Station Place canopy and open bus waiting areas have all been added, giving people more confidence to travel by public transport.</p>
<p>Students from the local Ambler Primary School joined in the event, along with Jennette Arnold, the London Assembly member for North East London, and local councillors.</p>
<p>Ken Livingstone said: "After many years of under-investment in the public transport system we are now seeing the benefits of putting resources into the network to make it easier and more pleasant to use, as this major improvement of Finsbury Park interchange shows.</p>
<p>"The transformation of the station will make a real difference to the local community and will drive the ongoing regeneration of the area, to be enjoyed by future generations.</p>
<p>"At Finsbury Park station we have delivered &pound;11m of investment, making it a much safer and more pleasant environment for passengers. </p>
<p>"Whether traveling on foot, bike or by public transport, the interchange is now easier to use. </p>
<p>
<h2>Positive improvements</h2>
<p>
<p>"Since completion, we have already seen the positive effects, with more passengers having the confidence to use the station outside of peak hours, and hundreds of people registering for the new cycle park."</p>
<p>The project was delivered by Transport for London (TfL) and funded by a partnership that includes TfL, FinFuture, and the London Boroughs of Islington and Haringey.</p>
<p>Transport for London Commissioner, Peter Hendy, said: "Our main challenges are to improve passengers' day-to-day journeys, continue delivering the Mayor's &pound;10bn transport investment programme and drive wider initiatives such as improving the accessibility of transport and promoting and cycling.</p>
<p>"Finsbury Park Interchange achieves all of these and highlights the importance of partnership working. We have delivered the project working with FinFuture, Islington, Haringey and Hackney Councils and the Heritage Lottery Grant as well as with Network Rail and First Capital Connect.</p>
<p>
<h2>Regeneration</h2>
<p>
<p>"The new interchange is improving journeys for commuters travelling via bus, Tube, train, cycle or on foot and for football fans on match days at the Emirates by providing a safer and more secure environment in and around the station."</p>
<p>Currently 36,000 passengers pass through Finsbury Park Interchange via bus, Tube, train, cycle or on foot - during peak hours on weekday mornings. </p>
<p>The new interchange will increase capacity to accommodate the rise in passenger flow which is expected to be approximately 40 per cent over the next fifteen years.</p>
            <ul>
<li>Before and after photographs of the Interchange are available to media from Anji McGrandles at Cohn & Wolfe, on 020 7331 5455</li>
<li>The Mayor and TfL are investing &pound;10bn to improve and expand London's transport network. More than half of this investment is in the Tube</li>
<li>The improvement scheme has been completed in five phases over the past three years: </li>
<ul>
<li>Phase one included the removal of traffic from Station Place</li>
<li>Phase two involved improvements to Station Place forecourt </li>
<li>Phase three included improvements to the Wells Terrace entrance area, including new low-level bus shelters, a new digital CCTV system, improved lighting and pigeon proofing to the under bridges at Seven Sisters Road. These improvements delivered an upgraded waiting area for passengers with easier interchange and improved safety and security</li>
<li>Phase four involves the construction of the new iconic interchange gallery in Station Place to provide a larger and brighter entrance to the station. The structure will provide more shelter to passengers and changes to the layout of the bus station will offer passengers easier access to buses making interchange quicker. This phase also delivers improved lighting and a new CCTV and public address system to promote a safer and more secure environment in and around the station </li>
<li>Phase five involved the construction of the cycle park adjacent to Station Place bus station. This is London's largest staffed cycle park, which offers secure parking for up to 125 cycles<br></li></ul></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The Mayor of London Ken Livingstone and Transport Commissioner Peter Hendy today officially opened a newly improved Finsbury Park Transport Interchange, one of the busiest stations outside of central London. The station has received more than &pound;11m";}
        
        


 