


@{ViewBag.Title = "New road maintenance and improvement contracts for London announced";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>New road maintenance and improvement contracts for London announced</h1>
        <div class="content-page-press-release">
        11 December 2006
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London (TfL) has today named the companies to whom it intends to award road maintenance and improvement contracts, in a restructuring of road network management across London.
        
    </div>



 <div class="on-this-page">
<p>The new Highway Maintenance and Works contracts, worth around &pound;1 billion over ten years, will cover three geographic areas of north, south and central London, replacing five existing area contracts.</p>
<p>TfL has already invested heavily in improving the TfL Road Network. The new contracts will mean those improvements are maintained and added to over the next ten years, and will improve co-ordination and provide a tailored standard of service.</p>
<p>They are being awarded for six year terms, with yearly increments up to the ten-year mark.</p>
<p>Their timing has been designed to avoid clashing with the Olympics.</p>
<p>The new contracts will bring better response and repair on Transport for London managed roads for problems including cleaning drains and filling potholes.</p>
<p>This will lead to even safer footways and carriageways, and still better planning of works.</p>
<p>The contracts will result in less disruption, will provide flexibility and lead to efficiency savings.</p>
<p>The contractors for each area - subject to a ten-day 'cooling-off' period - will be: <br>North: Amey Infrastructure Services Ltd<br>South: Accord MP<br>Central: Ringway Jacobs Ltd</p>
<p>Under the new contracts, TfL will deal directly with its contractors as network operator, rather than the current arrangements which involve a consultant organisation acting as steward for TfL in each area. </p>
<p>TfL's Director of Road Network Management, Chris Connor, said: 'These new contracts will see TfL taking a much more hands-on approach to managing contracting works taking place for us on the Transport for London Road Network. <br> <br>'The contractors we have selected put forward the best and most economically advantageous tenders based on the quality of service provision, risk mitigation and price.</p>
<p>A key part of these contracts is a requirement, assessed as part of the tender process, for contractors to deliver agreed action plans aimed at improving equality and diversity in the workforce and throughout the supply chain.'</p>
<p>Increased inspections and raised standards of defect repair will result in improved performance, while new client roles will provide significant opportunities for TfL staff.</p>
<p>Chris Connor added: 'As a major player in the transport field we will be seeking to strengthen our team over the coming months, particularly in the area of road network and projects management.'</p>
            <ul>
<li> The Transport for London Road Network (TLRN) consists of around five per cent of London's roads which carry more than a third of  all traffic</li>
<li>The contracts, which will be confirmed on December 22 following the cooling off period, cover routine highway maintenance (agreed  in advance), reactive operations and additional maintenance and improvement capital works as instructed by TfL</li>
<li>The approximate value of the contracts will be &pound;125m for all three areas combined each year, depending on the number of schemes TfL wishes to implement</li>
<li>The new arrangement will see TfL Road Network Management staff co-locating with providers in their main depots on a 24/7 basis</li>
<li>The use of the New Engineering Contract form will enable TfL to select appropriate and effective delivery solutions for both capital  and ordered revenue works.</li>
<li>Regular surveillance audits will be undertaken, with independent audits carried out every six months to drive constant improvement</li>
<li>Each area will have a strategic board comprised of TfL and the contractor's directors and senior managers<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The new Highway Maintenance and Works contracts, worth around &pound;1 billion over ten years, will cover three geographic areas of north, south and central London, replacing five existing area contracts.TfL has already invested heavily in improving the";}
        
        


 