


@{ViewBag.Title = "New deal brings Oyster and Barclaycard Visa onto one card";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>New deal brings Oyster and Barclaycard Visa onto one card</h1>
        <div class="content-page-press-release">
        13 December 2006
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Passengers on public transport around London could soon be able to make quick, contact-free, cashless payments and travel around the Capital using one card.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            A single card will allow customers to pay for low cost items such as coffee and newspapers quickly
                            
                        </p>
                    </div>
                
            
            
            <p>Since its introduction in 2003, Transport for London (TfL) has seen Oyster smartcards become a huge success with more than six million in use on the transport network. </p>
<p>A new deal has now been struck that will make future travel with Oyster even more convenient.</p>
<p>The deal, approved by TfL, between Barclaycard and Transys, the consortium behind the Oyster smartcard system, will see development of a new card to place Oyster and Barclaycard Visa on one piece of plastic.</p>
<p>Mayor of London Ken Livingstone said: 'Oyster has been a great success making journeys across London cheaper, easier and quicker, but we want to make Oyster even more convenient. </p>
<p>'This new deal will mean that from next year people can buy low-cost items and take advantage of Oyster fares on the same card, reducing the need to carry cash.'</p>
<p>Oyster enables passengers to beat the queues by buying online. Passengers who switch to Oyster pay-as you go will save money as Oyster fares are always less than the cash fare.</p>
<p>The new Barclaycard will have three separate functions:</p>
<ul>
<li>Standard Chip and PIN credit card facility 
</li><li>New Visa 'wave and pay' technology for contactless payments up to the value of &pound;10 
</li><li>Oyster</li></ul>
<p>Jay Walder, TfL's Managing Director for Finance &amp; Planning, said: 'Bringing together Oyster with the Visa 'wave and pay' function on a single card will allow customers to pay for low cost items such as coffee and newspapers quickly and securely while getting from A to B throughout London.'</p>
<p>Following a trial in February 2007, it is expected the first Barclaycards to include Oyster will be available from mid-2007.</p>
<p>The deal gives exclusive rights for Oyster to be placed on Barclaycard Visa and Barclays Visa Connect cards for the next three years.</p>
            <ul>
<li>There are now more than more than six million cards in use and 38 million journeys are made each week using Oyster</li>
<li>Up to three different Travelcards or Bus Pass season tickets and 'pay as you go' can be stored on the same Oyster card at the  same time</li>
<li>Oyster has reduced 'barrier-jams' caused by paper tickets at Tube stations by 95 per cent</li>
<li>Oyster means 40 people a minute can pass through Tube ticket gates, up from 25 under the old paper ticket system</li>
<li>Oyster can be topped up online, over the phone, at Travel Information Centres or at one of 2,300 Oyster-enabled agents - 85 per cent of all Londoners live within 400 metres of an Oyster Ticket Stop</li>
<li>Registered lost or stolen cards with Annual, monthly Travelcards or with 'pay as you go' value stored on them can be stopped and the value transferred onto a new Oyster card, or refunded. Less ticket touts mean more secure stations</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Since its introduction in 2003, Transport for London (TfL) has seen Oyster smartcards become a huge success with more than six million in use on the transport network. A new deal has now been struck that will make future travel with Oyster even more";}
        
        


 