


@{ViewBag.Title = "Newham to receive major boost for transport improvements";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Newham to receive major boost for transport improvements</h1>
        <div class="content-page-press-release">
        20 December 2006
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        The Mayor of London today announced &pound;5.53m of funding for the London Borough of Newham to spend on local transport improvements to make the borough safer, cleaner and greener over the next year.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            This money will help to make daily journeys more convenient and pleasant
                            
                        </p>
                    </div>
                
            
            
            <p>People living, working, visiting and travelling in Newham will benefit from a range of projects delivered by the council during 2007-08. </p>
<p>These include road renewal schemes, school travel plans, bridge strengthening, road safety projects and schemes to reduce pollution through increased walking and cycling.</p>
<p>Newham's allocation is part of a record &pound;160m of funding announced for boroughs across the capital. </p>
<p>Since the Mayor was first elected in 2000, funding for boroughs has almost doubled - this year's allocation shows a 92 per cent increase from 1999/2000. </p>
<p>It is part of the record-breaking five year &pound;792m programme for local transport schemes included in Transport for London's &pound;10bn Investment Programme, and is an increase on the &pound;765m previously announced.</p>
<p>Mayor of London Ken Livingstone said: 'When I met bus drivers at the Waterden Rd bus depot in October I heard first-hand how public transport is improving across Newham. </p>
<p>'This new announcement of &pound;5.3million funding will benefit local schools, including Central Park Primary School in West Ham and make Newham a safer place to walk and cycle, with new cycle tracks and improvements to pavements and paths. </p>
<p>'Following my announcement recently that the area will be among the first boroughs in London to get up to Police Community Support Officers to improve local transport safety, Newham is really benefiting from our record investment in transport.</p>
<p>'All parts of our city, from the suburbs to the centre, are supported directly through this transport funding. </p>
<p>'This money will help to make daily journeys more convenient and pleasant whether by public transport, in a car, on foot or by bike.</p>
<p>'By supporting transport spending in the boroughs over the past six years we have improved town centres, increased cycling by 72 per cent and approved more than 1000 travel plans to get children to and from school safely.''</p>
<p>London's Transport Commissioner Peter Hendy said: 'This money will go directly towards improving transport for people in Newham.</p>
<p>'We will fund a combination of both large and small projects and by working in partnership with each borough we know that local communities will see a difference.</p>
<p>'This funding is an important part of our wider programme of spending in all boroughs to improve public transport and make walking and cycling journeys easier and safer.</p>
<p>'Boroughs, overall, have an excellent record of delivery of TfL-funded projects. TfL is determined to ensure that Newham is aware of the challenges it faces with this local transport programme, its interactions with TfL on major projects and in support of Olympic transport measures. </p>
<p>'TfL will seek to ensure the borough has a clear appreciation of its varied roles and has robust programme management, adequately resourced, to support effective performance of its roles.'</p>
<p>Projects funded in Newham for 2007/08 will include:</p>
<ul>
<li>&pound;45,000 to improve road safety around Central Park Primary School in West Ham, including the installation of better signage at pedestrian crossings, as proposed in the School Travel Plan 
</li><li>&pound;90,000 to continue work already underway on the improvement of pedestrian access to DLR stations on the City Airport branch 
</li><li>&pound;30,000 to provide an improved cycle network across the borough, including the introduction of several two-way cycle tracks and other measures to improve access and traffic flow for cyclists 
</li><li>&pound;334,000 for repairs to the surface and pavements of Prince Regent Lane in Custom House, south of Newham Way, including the application of anti-skid surfacing 
</li><li>&pound;35,000 to improve the accessibility and security of Mitchell Walk, a 600m-long elevated 'green corridor' across Mid Beckton, as part of the East London Green Grid project which will improve and link together green spaces across E
            <ul>
<li>TfL has powers to provide financial assistance, described in the Greater London Authority Act 1999, section 159, conducive to safe, integrated, efficient and economic transport facilities or services within Greater London. This includes the ability to set conditions for the receipt and/or return of TfL provided funding 
</li><li>This year is the first time the money allocated has been directly linked to borough Local Implementation Plans (LIPs). Each borough has been preparing a LIP showing how it proposes to implement the Mayor's Transport Strategy locally over the coming years 
</li><li>While Transport for London awards funding for individual schemes, project delivery is the responsibility of the boroughs 
</li><li>Attached is a table with a breakdown of funding for the borough by transport topic 
</li><li>LIPs submitted by Islington, Croydon, Harrow, Westminster, Tower Hamlets, Lambeth, Camden, Hammersmith and Fulham, Lewisham, Merton and Kingston have all been approved by the Mayor; others are still pending 
</li><li>Priorities for all Local Implementation Plans include: 
<ul>
<li>Improving road safety 
</li><li>Improving bus journey times and reliability 
</li><li>Relieving traffic congestion and improving journey time reliability 
</li><li>Improving the working of parking and loading arrangements 
</li><li>Improving accessibility for all on the transport network 
</li><li>Encouraging walking and cycling 
</li><li>Bringing transport infrastructure into a state of good repair </li></ul>
<li>Definition of terms: </li>
<ul>
<li>Raised crossing - A raised crossing is essentially a speed table, with a pedestrian crossing installed across the flat section 
</li><li>Speed table - A speed table is a broad speed hump 
</li><li>School Travel Plan - A School Travel Plan is a package of measures, tailored to the needs of individual schools, to deliver alternative transport methods for the school run. The aim of a school travel plan is to reduce single occupancy car journeys for school travel, reduce congestion and increase safety around schools 
</li><li>Toucan crossing - A Toucan (two-can) crossing provides both pedestrians and cyclists with a wide crossing area. Toucan crossings are usually four metres wide, rather than the standard 2.8m for a Pelican or Puffin crossing</li></ul></li></ul>
<p>
<div class="table-container"><table style="WIDTH: 342px; HEIGHT: 591px" cellspacing="1" cellpadding="2" width="342" border="1">
<tbody>
<tr>
<td><span style="FONT-SIZE: 12pt; FONT-FAMILY: Arial; mso-fareast-font-family: 'Times New Roman'; mso-ansi-language: EN-GB; mso-fareast-language: EN-GB; mso-bidi-language: AR-SA"><strong>LIP Programme 2007/08</strong></span></td>
<td><span style="FONT-SIZE: 12pt; FONT-FAMILY: Arial; mso-fareast-font-family: 'Times New Roman'; mso-ansi-language: EN-GB; mso-fareast-language: EN-GB; mso-bidi-language: AR-SA"><strong>Allocation (&pound;)</strong></span></td></tr>
<tr>
<td><span style="FONT-SIZE: 12pt; FONT-FAMILY: Arial; mso-fareast-font-family: 'Times New Roman'; mso-ansi-language: EN-GB; mso-fareast-language: EN-GB; mso-bidi-language: AR-SA">Principal Road Renewals </span></td>
<td><span style="FONT-SIZE: 12pt; FONT-FAMILY: Arial; mso-fareast-font-family: 'Times New Roman'; mso-ansi-language: EN-GB; mso-fareast-language: EN-GB; mso-bidi-language: AR-SA">&pound;1,153,000</span></td></tr>
<tr>
<td><span style="FONT-SIZE: 12pt; FONT-FAMILY: Arial; mso-fareast-font-family: 'Times New Roman'; mso-ansi-language: EN-GB; mso-fareast-language: EN-GB; mso-bidi-language: AR-SA">Bridge Strengthening </span></td>
<td><span style="FONT-SIZE: 12pt; FONT-FAMILY: Arial; mso-fareast-font-family: 'Times New Roman'; mso-ansi-language: EN-GB; mso-fareast-language: EN-GB; mso-bidi-language: AR-SA">&pound;250,000</span></td></tr>
<tr>
<td><span style="FONT-SIZE: 12pt; FONT-FAMILY: Arial; mso-fareast-font-family: 'Times New Roman'; mso-ansi-language: EN-GB; mso-fareast-language: EN-GB; mso-bidi-language: AR-SA">Local Safety Schemes </span></td>
<td><span style="FONT-SIZE: 12pt; FONT-FAMILY: Arial; mso-fareast-font-family: 'Times New Roman'; mso-ansi-language: EN-GB; mso-fareast-language: EN-GB; mso-bidi-language: AR-SA">&pound;440,000</span></td></tr>
<tr>
<td><span style="FONT-SIZE: 12pt; FONT-FAMILY: Arial; mso-fareast-font-family: 'Times New Roman'; mso-ansi-language: EN-GB; mso-fareast-language: EN-GB; mso-bidi-language: AR-SA">20mph Zones </span></td>
<td><span style="FONT-SIZE: 12pt; FONT-FAMILY: Arial; mso-fareast-font-family: 'Times New Roman'; mso-ansi-language: EN-GB; mso-fareast-language: EN-GB; mso-bidi-language: AR-SA">&pound;875,000</span></td></tr>
<tr>
<td><span style="FONT-SIZE: 12pt; FONT-FAMILY: Arial; mso-fareast-font-family: 'Times New Roman'; mso-ansi-language: EN-GB; mso-fareast-language: EN-GB; mso-bidi-language: AR-SA">Education, Training & Publicity </span></td>
<td><span style="FONT-SIZE: 12pt; FONT-FAMILY: Arial; mso-fareast-font-family: 'Times New Roman'; mso-ansi-language: EN-GB; mso-fareast-language: EN-GB; mso-bidi-language: AR-SA">&pound;58,000</span></td></tr>
<tr>
<td><span style="FONT-SIZE: 12pt; FONT-FAMILY: Arial; mso-fareast-font-family: 'Times New Roman'; mso-ansi-language: EN-GB; mso-fareast-language: EN-GB; mso-bidi-language: AR-SA">Walking </span></td>
<td><span style="FONT-SIZE: 12pt; FONT-FAMILY: Arial; mso-fareast-font-family: 'Times New Roman'; mso-ansi-language: EN-GB; mso-fareast-language: EN-GB; mso-bidi-language: AR-SA">&pound;125,000</span></td></tr>
<tr>
<td><span style="FONT-SIZE: 12pt; FONT-FAMILY: Arial; mso-fareast-font-family: 'Times New Roman'; mso-ansi-language: EN-GB; mso-fareast-language: EN-GB; mso-bidi-language: AR-SA">Cycling (General) </span></td>
<td><span style="FONT-SIZE: 12pt; FONT-FAMILY: Arial; mso-fareast-font-family: 'Times New Roman'; mso-ansi-language: EN-GB; mso-fareast-language: EN-GB; mso-bidi-language: AR-SA">&pound;55,000</span></td></tr>
<tr>
<td><span>London Cycle Network + (LCN+)</span></td>
<td><span style="FONT-SIZE: 12pt; FONT-FAMILY: Arial; mso-fareast-font-family: 'Times New Roman'; mso-ansi-language: EN-GB; mso-fareast-language: EN-GB; mso-bidi-language: AR-SA">&pound;355,000</span></td></tr>
<tr>
<td><span style="FONT-SIZE: 12pt; FONT-FAMILY: Arial; mso-fareast-font-family: 'Times New Roman'; mso-ansi-language: EN-GB; mso-fareast-language: EN-GB; mso-bidi-language: AR-SA">Bus Stop Accessibility </span></td>
<td><span style="FONT-SIZE: 12pt; FONT-FAMILY: Arial; mso-fareast-font-family: 'Times New Roman'; mso-ansi-language: EN-GB; mso-fareast-language: EN-GB; mso-bidi-language: AR-SA">&pound;190,000</span></td></tr>
<tr>
<td><span style="FONT-SIZE: 12pt; FONT-FAMILY: Arial; mso-fareast-font-family: 'Times New Roman'; mso-ansi-language: EN-GB; mso-fareast-language: EN-GB; mso-bidi-language: AR-SA">Bus Priority </span></td>
<td><span style="FONT-SIZE: 12pt; FONT-FAMILY: Arial; mso-fareast-font-family: 'Times New Roman'; mso-ansi-language: EN-GB; mso-fareast-language: EN-GB; mso-bidi-language: AR-SA">&pound;1,560,000</span></td></tr>
<tr>
<td><span style="FONT-SIZE: 12pt; FONT-FAMILY: Arial; mso-fareast-font-family: 'Times New Roman'; mso-ansi-language: EN-GB; mso-fareast-language: EN-GB; mso-bidi-language: AR-SA">Town Centres </span></td>
<td>-</td></tr>
<tr>
<td><span style="FONT-SIZE: 12pt; FONT-FAMILY: Arial; mso-fareast-font-family: 'Times New Roman'; mso-ansi-language: EN-GB; mso-fareast-language: EN-GB; mso-bidi-language: AR-SA">Streets for People </span></td>
<td>-</td></tr>
<tr>
<td><span style="FONT-SIZE: 12pt; FONT-FAMILY: Arial; mso-fareast-font-family: 'Times New Roman'; mso-ansi-language: EN-GB; mso-fareast-language: EN-GB; mso-bidi-language: AR-SA">Station Access </span></td>
<td>-</td></tr>
<tr>
<td><span style="FONT-SIZE: 12pt; FONT-FAMILY: Arial; mso-fareast-font-family: 'Times New Roman'; mso-ansi-language: EN-GB; mso-fareast-language: EN-GB; mso-bidi-language: AR-SA">School Travel Plans </span></td>
<td><span style="FONT-SIZE: 12pt; FONT-FAMILY: Arial; mso-fareast-font-family: 'Times New Roman'; mso-ansi-language: EN-GB; mso-fareast-language: EN-GB; mso-bidi-language: AR-SA">&pound;280,000</span></td></tr>
<tr>
<td><span style="FONT-SIZE: 12pt; FONT-FAMILY: Arial; mso-fareast-font-family: 'Times New Roman'; mso-ansi-language: EN-GB; mso-fareast-language: EN-GB; mso-bidi-language: AR-SA">Work Travel Plans </span></td>
<td>-</td></tr>
<tr>
<td><span style="FONT-SIZE: 12pt; FONT-FAMILY: Arial; mso-fareast-font-family: 'Times New Roman'; mso-ansi-language: EN-GB; mso-fareast-language: EN-GB; mso-bidi-language: AR-SA">Travel Awareness </span></td>
<td><span style="FONT-SIZE: 12pt; FONT-FAMILY: Arial; mso-fareast-font-family: 'Times New Roman'; mso-ansi-language: EN-GB; mso-fareast-language: EN-GB; mso-bidi-language: AR-SA">&pound;30,000</span></td></tr>
<tr>
<td><span style="FONT-SIZE: 12pt; FONT-FAMILY: Arial; mso-fareast-font-family: 'Times New Roman'; mso-ansi-language: EN-GB; mso-fareast-language: EN-GB; mso-bidi-language: AR-SA">Freight </span></td>
<td><span style="FONT-SIZE: 12pt; FONT-FAMILY: Arial; mso-fareast-font-family: 'Times New Roman'; mso-ansi-language: EN-GB; mso-fareast-language: EN-GB; mso-bidi-language: AR-SA">&pound;30,000</span></td></tr>
<tr>
<td><span style="FONT-SIZE: 12pt; FONT-FAMILY: Arial; mso-fareast-font-family: 'Times New Roman'; mso-ansi-language: EN-GB; mso-fareast-language: EN-GB; mso-bidi-language: AR-SA">Regeneration Area Schemes</span></td>
<td>-</td></tr>
<tr>
<td><span style="FONT-SIZE: 12pt; FONT-FAMILY: Arial; mso-fareast-font-family: 'Times New Roman'; mso-ansi-language: EN-GB; mso-fareast-language: EN-GB; mso-bidi-language: AR-SA">Environment </span></td>
<td>-</td></tr>
<tr>
<td><span style="FONT-SIZE: 12pt; FONT-FAMILY: Arial; mso-fareast-font-family: 'Times New Roman'; mso-ansi-language: EN-GB; mso-fareast-language: EN-GB; mso-bidi-language: AR-SA">Controlled Parking Zones</span></td>
<td><span style="FONT-SIZE: 12pt; FONT-FAMILY: Arial; mso-fareast-font-family: 'Times New Roman'; mso-ansi-language: EN-GB; mso-fareast-language: EN-GB; mso-bidi-language: AR-SA">&pound;50,000</span></td></tr>
<tr>
<td><span style="FONT-SIZE: 12pt; FONT-FAMILY: Arial; mso-fareast-font-family: 'Times New Roman'; mso-ansi-language: EN-GB; mso-fareast-language: EN-GB; mso-bidi-language: AR-SA">Local Area Accessibility </span></td>
<td><span style="FONT-SIZE: 12pt; FONT-FAMILY: Arial; mso-fareast-font-family: 'Times New Roman'; mso-ansi-language: EN-GB; mso-fareast-language: EN-GB; mso-bidi-language: AR-SA">&pound;80,000</span></td></tr>
<tr>
<td><span style="FONT-SIZE: 12pt; FONT-FAMILY: Arial; mso-fareast-font-family: 'Times New Roman'; mso-ansi-language: EN-GB; mso-fareast-language: EN-GB; mso-bidi-language: AR-SA">Parallel Initiatives </span></td>
<td>-</td></tr>
<tr>
<td><span style="FONT-SIZE: 12pt; FONT-FAMILY: Arial; mso-fareast-font-family: 'Times New Roman'; mso-ansi-language: EN-GB; mso-fareast-language: EN-GB; mso-bidi-language: AR-SA"><strong>Total</strong></span></td>
<td><span style="FONT-SIZE: 12pt; FONT-FAMILY: Arial; mso-fareast-font-family: 'Times New Roman'; mso-ansi-language: EN-GB; mso-fareast-language: EN-GB; mso-bidi-language: AR-SA"><strong>&pound;5,531,000</strong></span></td></tr></tbody></table></div><br></p>

            
            

        </li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "People living, working, visiting and travelling in Newham will benefit from a range of projects delivered by the council during 2007-08. These include road renewal schemes, school travel plans, bridge strengthening, road safety projects and schemes to";}
        
        


 