


@{ViewBag.Title = "Report shows Transport for London tackling climate change head-on";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Report shows Transport for London tackling climate change head-on</h1>
        <div class="content-page-press-release">
        28 December 2006
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London (TfL) has been successfully reducing the environmental impact of transport in the Capital over the last year - making good progress in providing a cleaner and greener transport network, and helping to tackle climate change.
        
    </div>



 <div class="on-this-page">
<p>This year's TfL Environment Report highlights many successes including: </p>
<ul>
<li>A shift away from car use to public transport 
</li><li>A reduction of harmful emissions 
</li><li>The trial of six new Hybrid buses, and 3 Hydrogen fuel cell buses 
</li><li>The development of the London Construction Consolidation Centre</li></ul>
<p>Peter Hendy, TfL Commissioner, said: "Climate change is a huge issue facing all of us, and this report shows that Transport for London is successfully working to reduce the impact that the transport network has on the environment.</p>
<p>"We have a major role to play in delivering the Mayor's environmental strategies and are already looking ahead, identifying ways that we can innovate and lead the effort to tackle climate change head on."</p>
<p><strong>Shift from car use to public transport</strong>: Since TfL was formed in 2000, there has been a shift of 5 per cent away from car usage, saving 500,000 car journeys per day and an estimated 210,000 tonnes of carbon dioxide (CO2) emissions per year.</p>
<p>For most major cities in the world pollution from road transport is their most significant problem in tackling climate change.</p>
<p>In London it makes a much smaller contribution because of the extensive public transport network and TfL's success over the last six years in improving and expanding this. </p>
<p>TfL has also worked to encourage people to make walking and cycling part of their regular journeys. </p>
<p>Cycling in London has grown fast, up 72 per cent on Red Routes in the past six years.</p>
<p><strong>Congestion Charging reducing emissions:</strong> The scheme has reduced CO2 emissions from road transport by 16 per cent since its introduction. </p>
<p>Particulate matter (PM10) emissions - those most harmful to human health - have been reduced in the charging zone by 15 per cent. </p>
<p>The proposed western extension to the Congestion Charging zone is expected to bring further environmental benefits to London.</p>
<p><strong>Hybrid Buses: </strong>The trial of six new hybrid diesel-electric buses was launched as the first step in significantly cutting CO2 emissions from the bus fleet. </p>
<p>The new single-decker buses are currently operating on route 360 in London, from Elephant &amp; Castle to Kensington. </p>
<p>TfL is actively pursuing the development and increased deployment of hybrid buses on London's bus network, with the world's first double-decker hybrid bus recently launched.</p>
<p>The Mayor has expressed his desire that TfL should rapidly adopt hybrid buses once manufacturers commence mass production. </p>
<p>Assuming adequate vehicle availability, it is hoped that all new buses will be hybrids by 2012.</p>
<p><strong>Hydrogen Fuel Cell Buses:</strong> The Mayor of London also announced his commitment to take delivery of ten additional hydrogen fuelled buses, encouraging the transport industry to deliver the necessary vehicles and refuelling technology so that these clean vehicles can be rolled out across London.</p>
<p>The only exhaust emission they produce is water vapour. This follows a highly successful trial of three hydrogen fuel cell buses operating on route RV1 from Covent Garden to Tower Gateway.</p>
<p><strong>London Construction Consolidation Centre: </strong>A two-year pilot started in January 2005, which means building materials can be delivered to a one-stop centre in bulk, for local distribution to individual construction sites in the quantities needed. </p>
<p>This has cut the number of delivery journeys needed from 1,500 to 395 in the first six months, and reduced CO2 emissions from those vehicles by 73 per cent.</p>
            <ul>
<li>The <a href="http://www.tfl.gov.uk/environmentreport">TfL Environment Report 2006 </a>is available on the website</li>
<li>TfL has also been working to reduce the environmental impact of its own direct activities - decreasing the amount of commercial and industrial waste it produces by 18 per cent and recycling a larger proportion</li>
<li>Other schemes and plans highlighted in the report include: <br>London Taxis: TfL is working to improve air quality in London by updating the taxi fleet. By 2008, all taxis will need to be of stringent Euro 3 standards for emissions of oxides of nitrogen (NOx) and particulates (PM10). <br>London Freight Plan: TfL Freight Unit concluded consultation on this in September. Key planks of the proposals include the establishment of a Freight Operator Recognition Scheme (FORS) to help share best practice among lorry operators. TfL believe that by doing so, it can help operators reduce their costs and emissions by ten per cent. The Freight Plan also envisages greater use of London's canal network in the coming years, reducing the environmental impacts of transporting construction freight by road. <br>Low Emission Zone (LEZ): Consultation on the LEZ scheme order - the details of how the scheme will operate - began in early November and continues through to February. A London-wide LEZ would work by encouraging owners of the highest polluting lorries, coaches and vans to clean up their fleets or have to pay to enter the Greater London area. In 2005, up to 1,000 early deaths and a similar number of hospital admissions were thought to have been related to emissions. <br>TfL has set environmental objectives which support the overall aim of continual improvement and are aligned to the Mayor's environmental strategies. Key performance indicators (KPIs) have been identified and are used to monitor progress. </li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "This year's TfL Environment Report highlights many successes including: A shift away from car use to public transport A reduction of harmful emissions The trial of six new Hybrid buses, and 3 Hydrogen fuel cell buses The development of the London";}
        
        


 