


@{ViewBag.Title = "Richmond to receive major boost for transport improvements";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Richmond to receive major boost for transport improvements</h1>
        <div class="content-page-press-release">
        20 December 2006
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        The Mayor of London today announced &pound;6.89m of funding for the Royal Borough of Richmond to spend on local transport improvements to make the borough safer, cleaner and greener over the next year.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            This money will help to make daily journeys more convenient and pleasant
                            
                        </p>
                    </div>
                
            
            
            <p>People living, working, visiting and travelling in Richmond will benefit from a range of projects delivered by the council during 2007-08.</p>
<p>These include road renewal schemes, school travel plans, improved town centres, road safety projects and schemes to reduce pollution through increased walking and cycling.</p>
<p>Richmond's allocation is part of a record &pound;160m of funding announced for boroughs across the capital. </p>
<p>Since the Mayor was first elected in 2000, funding for boroughs has almost doubled - this year's allocation shows a 92 per cent increase from 1999/2000.</p>
<p>It is part of the record-breaking five year &pound;792m programme for local transport schemes included in Transport for London's &pound;10bn Investment Programme, and is an increase on the &pound;765m previously announced.</p>
<p>Mayor of London Ken Livingstone said: 'People in Richmond are benefiting from Transport for London funding, which is providing real, local travel improvements.</p>
<p>'All parts of our city, from the suburbs to the centre, are supported directly through this transport investment.</p>
<p>'This money will help to make daily journeys more convenient and pleasant whether by public transport, in a car, on foot or by bike.</p>
<p>'By supporting transport spending in the boroughs over the past six years we have improved town centres, increased cycling by 72 per cent and approved more than 1,000 travel plans to get children to and from school safely.'</p>
<p>London's Transport Commissioner Peter Hendy said: 'This money will go directly towards improving transport for people in Richmond.</p>
<p>'We will fund a combination of both large and small projects and by working in partnership with each borough we know that local communities will see a difference.</p>
<p>'This funding is an important part of our wider programme of spending in all boroughs to improve public transport and make walking and cycling journeys easier and safer.'</p>
<p>Projects funded in Richmond for 2007/08 will include:</p>
<ul>
<li>&pound;910,000 to regenerate George Street in Richmond town centre</li>
<li>&pound;75,000 for additional improvements to cycling and walking facilities on Barnes Common, including the provision of a shared pedestrian and cycle path</li>
<li>&pound;475,000 for repairs to the surface of Hampton Road, on the A313 between Teddington and Hampton Hill, improving safety and comfort for road users and minimising the need for disruptive works in the near future</li></ul>
            <ul>
<li>This year is the first time the money allocated has been directly linked to borough Local Implementation Plans (LIPs). Each borough has been preparing a LIP showing how it proposes to implement the Mayor's Transport Strategy locally over the coming years 
</li><li>While Transport for London awards funding for individual schemes, project delivery is the responsibility of the boroughs 
</li><li>Attached is a table with a breakdown of funding for the borough by transport topic 
</li><li>LIPs submitted by Islington, Croydon, Harrow, Westminster, Tower Hamlets, Lambeth, Camden, Hammersmith and Fulham, Lewisham, Merton and Kingston have all been approved by the Mayor; others are still pending 
</li><li>Priorities for all Local Implementation Plans include: 
<ul>
<li>Improving road safety 
</li><li>Improving bus journey times and reliability 
</li><li>Relieving traffic congestion and improving journey time reliability 
</li><li>Improving the working of parking and loading arrangements 
</li><li>Improving accessibility for all on the transport network 
</li><li>Encouraging walking and cycling 
</li><li>Bringing transport infrastructure into a state of good repair</li></ul>
<li>Definition of terms: 
<ul>
<li>Bringing transport infrastructure into a state of good repair 
</li><li>Raised crossing - A raised crossing is essentially a speed table, with a pedestrian crossing installed across the flat section 
</li><li>Speed table - A speed table is a broad speed hump 
</li><li>School Travel Plan - A School Travel Plan is a package of measures, tailored to the needs of individual schools, to deliver alternative transport methods for the school run. The aim of a school travel plan is to reduce single occupancy car journeys for school travel, reduce congestion and increase safety around schools 
</li><li>Toucan crossing - A Toucan (two-can) crossing provides both pedestrians and cyclists with a wide crossing area. Toucan crossings are usually four metres wide, rather than the standard 2.8m for a Pelican or Puffin crossing</li></ul></li></li></ul>
<p>
<div class="table-container"><table cellspacing="1" cellpadding="2" width="100%" border="1">
<tbody>
<tr>
<td><span style="FONT-SIZE: 12pt; FONT-FAMILY: Arial; mso-fareast-font-family: 'Times New Roman'; mso-ansi-language: EN-GB; mso-fareast-language: EN-GB; mso-bidi-language: AR-SA"><strong>LIP Programme 2007/08</strong></span></td>
<td><span style="FONT-SIZE: 12pt; FONT-FAMILY: Arial; mso-fareast-font-family: 'Times New Roman'; mso-ansi-language: EN-GB; mso-fareast-language: EN-GB; mso-bidi-language: AR-SA"><strong>Allocation (&pound;)</strong></span></td></tr>
<tr>
<td><span style="FONT-SIZE: 12pt; FONT-FAMILY: Arial; mso-fareast-font-family: 'Times New Roman'; mso-ansi-language: EN-GB; mso-fareast-language: EN-GB; mso-bidi-language: AR-SA"><strong>Principal Road Renewals </strong></span></td>
<td><span style="FONT-SIZE: 12pt; FONT-FAMILY: Arial; mso-fareast-font-family: 'Times New Roman'; mso-ansi-language: EN-GB; mso-fareast-language: EN-GB; mso-bidi-language: AR-SA"><strong>&pound;1,614,000</strong></span></td></tr>
<tr>
<td><span style="FONT-SIZE: 12pt; FONT-FAMILY: Arial; mso-fareast-font-family: 'Times New Roman'; mso-ansi-language: EN-GB; mso-fareast-language: EN-GB; mso-bidi-language: AR-SA"><strong>Bridge Strengthening </strong></span></td>
<td><span style="FONT-SIZE: 12pt; FONT-FAMILY: Arial; mso-fareast-font-family: 'Times New Roman'; mso-ansi-language: EN-GB; mso-fareast-language: EN-GB; mso-bidi-language: AR-SA"><strong>&pound;70,000</strong></span></td></tr>
<tr>
<td><span style="FONT-SIZE: 12pt; FONT-FAMILY: Arial; mso-fareast-font-family: 'Times New Roman'; mso-ansi-language: EN-GB; mso-fareast-language: EN-GB; mso-bidi-language: AR-SA"><strong>Local Safety Schemes </strong></span></td>
<td><span style="FONT-SIZE: 12pt; FONT-FAMILY: Arial; mso-fareast-font-family: 'Times New Roman'; mso-ansi-language: EN-GB; mso-fareast-language: EN-GB; mso-bidi-language: AR-SA"><strong>&pound;800,000</strong></span></td></tr>
<tr>
<td><span style="FONT-SIZE: 12pt; FONT-FAMILY: Arial; mso-fareast-font-family: 'Times New Roman'; mso-ansi-language: EN-GB; mso-fareast-language: EN-GB; mso-bidi-language: AR-SA"><strong>20mph Zones </strong></span></td>
<td><span style="FONT-SIZE: 12pt; FONT-FAMILY: Arial; mso-fareast-font-family: 'Times New Roman'; mso-ansi-language: EN-GB; mso-fareast-language: EN-GB; mso-bidi-language: AR-SA"><strong>&pound;540,000</strong></span></td></tr>
<tr>
<td><span style="FONT-SIZE: 12pt; FONT-FAMILY: Arial; mso-fareast-font-family: 'Times New Roman'; mso-ansi-language: EN-GB; mso-fareast-language: EN-GB; mso-bidi-language: AR-SA"><strong>Education, Training &amp; Publicity </strong></span></td>
<td><span style="FONT-SIZE: 12pt; FONT-FAMILY: Arial; mso-fareast-font-family: 'Times New Roman'; mso-ansi-language: EN-GB; mso-fareast-language: EN-GB; mso-bidi-language: AR-SA"><strong>&pound;20,000</strong></span></td></tr>
<tr>
<td><span style="FONT-SIZE: 12pt; FONT-FAMILY: Arial; mso-fareast-font-family: 'Times New Roman'; mso-ansi-language: EN-GB; mso-fareast-language: EN-GB; mso-bidi-language: AR-SA"><strong>Walking</strong></span></td>
<td><span style="FONT-SIZE: 12pt; FONT-FAMILY: Arial; mso-fareast-font-family: 'Times New Roman'; mso-ansi-language: EN-GB; mso-fareast-language: EN-GB; mso-bidi-language: AR-SA"><strong>&pound;62,000</strong></span></td></tr>
<tr>
<td><span style="FONT-SIZE: 12pt; FONT-FAMILY: Arial; mso-fareast-font-family: 'Times New Roman'; mso-ansi-language: EN-GB; mso-fareast-language: EN-GB; mso-bidi-language: AR-SA"><strong>Cycling (General) </strong></span></td>
<td><span style="FONT-SIZE: 12pt; FONT-FAMILY: Arial; mso-fareast-font-family: 'Times New Roman'; mso-ansi-language: EN-GB; mso-fareast-language: EN-GB; mso-bidi-language: AR-SA"><strong>&pound;120,000</strong></span></td></tr>
<tr>
<td><span><strong>London Cycle Network + (LCN+)</strong></span></td>
<td><span style="FONT-SIZE: 12pt; FONT-FAMILY: Arial; mso-fareast-font-family: 'Times New Roman'; mso-ansi-language: EN-GB; mso-fareast-language: EN-GB; mso-bidi-language: AR-SA"><strong>&pound;630,000</strong></span></td></tr>
<tr>
<td><span style="FONT-SIZE: 12pt; FONT-FAMILY: Arial; mso-fareast-font-family: 'Times New Roman'; mso-ansi-language: EN-GB; mso-fareast-language: EN-GB; mso-bidi-language: AR-SA"><strong>Bus Stop Accessibility </strong></span></td>
<td><span style="FONT-SIZE: 12pt; FONT-FAMILY: Arial; mso-fareast-font-family: 'Times New Roman'; mso-ansi-language: EN-GB; mso-fareast-language: EN-GB; mso-bidi-language: AR-SA"><strong>&pound;120,000</strong></span></td></tr>
<tr>
<td><span style="FONT-SIZE: 12pt; FONT-FAMILY: Arial; mso-fareast-font-family: 'Times New Roman'; mso-ansi-language: EN-GB; mso-fareast-language: EN-GB; mso-bidi-language: AR-SA"><strong>Bus Priority </strong></span></td>
<td><span style="FONT-SIZE: 12pt; FONT-FAMILY: Arial; mso-fareast-font-family: 'Times New Roman'; mso-ansi-language: EN-GB; mso-fareast-language: EN-GB; mso-bidi-language: AR-SA"><strong>&pound;1,617,000</strong></span></td></tr>
<tr>
<td><span style="FONT-SIZE: 12pt; FONT-FAMILY: Arial; mso-fareast-font-family: 'Times New Roman'; mso-ansi-language: EN-GB; mso-fareast-language: EN-GB; mso-bidi-language: AR-SA"><strong>Town Centres </strong></span></td>
<td><span style="FONT-SIZE: 12pt; FONT-FAMILY: Arial; mso-fareast-font-family: 'Times New Roman'; mso-ansi-language: EN-GB; mso-fareast-language: EN-GB; mso-bidi-language: AR-SA"><strong>&pound;910,000</strong></span></td></tr>
<tr>
<td><span style="FONT-SIZE: 12pt; FONT-FAMILY: Arial; mso-fareast-font-family: 'Times New Roman'; mso-ansi-language: EN-GB; mso-fareast-language: EN-GB; mso-bidi-language: AR-SA"><strong>Streets for People </strong></span></td>
<td>-</td></tr>
<tr>
<td><span style="FONT-SIZE: 12pt; FONT-FAMILY: Arial; mso-fareast-font-family: 'Times New Roman'; mso-ansi-language: EN-GB; mso-fareast-language: EN-GB; mso-bidi-language: AR-SA"><strong>Station Access </strong></span></td>
<td>-</td></tr>
<tr>
<td><span style="FONT-SIZE: 12pt; FONT-FAMILY: Arial; mso-fareast-font-family: 'Times New Roman'; mso-ansi-language: EN-GB; mso-fareast-language: EN-GB; mso-bidi-language: AR-SA"><strong>School Travel Plans </strong></span></td>
<td><span style="FONT-SIZE: 12pt; FONT-FAMILY: Arial; mso-fareast-font-family: 'Times New Roman'; mso-ansi-language: EN-GB; mso-fareast-language: EN-GB; mso-bidi-language: AR-SA"><strong>&pound;170,000</strong></span></td></tr>
<tr>
<td><span style="FONT-SIZE: 12pt; FONT-FAMILY: Arial; mso-fareast-font-family: 'Times New Roman'; mso-ansi-language: EN-GB; mso-fareast-language: EN-GB; mso-bidi-language: AR-SA"><strong>Work Travel Plans</strong></span></td>
<td><span style="FONT-SIZE: 12pt; FONT-FAMILY: Arial; mso-fareast-font-family: 'Times New Roman'; mso-ansi-language: EN-GB; mso-fareast-language: EN-GB; mso-bidi-language: AR-SA"><strong>&pound;25,000</strong></span></td></tr>
<tr>
<td><span style="FONT-SIZE: 12pt; FONT-FAMILY: Arial; mso-fareast-font-family: 'Times New Roman'; mso-ansi-language: EN-GB; mso-fareast-language: EN-GB; mso-bidi-language: AR-SA"><strong>Travel Awareness </strong></span></td>
<td><span style="FONT-SIZE: 12pt; FONT-FAMILY: Arial; mso-fareast-font-family: 'Times New Roman'; mso-ansi-language: EN-GB; mso-fareast-language: EN-GB; mso-bidi-language: AR-SA"><strong>&pound;35,000</strong></span></td></tr>
<tr>
<td><span style="FONT-SIZE: 12pt; FONT-FAMILY: Arial; mso-fareast-font-family: 'Times New Roman'; mso-ansi-language: EN-GB; mso-fareast-language: EN-GB; mso-bidi-language: AR-SA"><strong>Freight</strong></span></td>
<td><span style="FONT-SIZE: 12pt; FONT-FAMILY: Arial; mso-fareast-font-family: 'Times New Roman'; mso-ansi-language: EN-GB; mso-fareast-language: EN-GB; mso-bidi-language: AR-SA"><strong>&pound;10,000</strong></span></td></tr>
<tr>
<td><span style="FONT-SIZE: 12pt; FONT-FAMILY: Arial; mso-fareast-font-family: 'Times New Roman'; mso-ansi-language: EN-GB; mso-fareast-language: EN-GB; mso-bidi-language: AR-SA"><strong>Regeneration Area Schemes </strong></span></td>
<td>-</td></tr>
<tr>
<td><span style="FONT-SIZE: 12pt; FONT-FAMILY: Arial; mso-fareast-font-family: 'Times New Roman'; mso-ansi-language: EN-GB; mso-fareast-language: EN-GB; mso-bidi-language: AR-SA"><strong>Environment</strong></span></td>
<td><span style="FONT-SIZE: 12pt; FONT-FAMILY: Arial; mso-fareast-font-family: 'Times New Roman'; mso-ansi-language: EN-GB; mso-fareast-language: EN-GB; mso-bidi-language: AR-SA"><strong>&pound;30,000</strong></span></td></tr>
<tr>
<td><span style="FONT-SIZE: 12pt; FONT-FAMILY: Arial; mso-fareast-font-family: 'Times New Roman'; mso-ansi-language: EN-GB; mso-fareast-language: EN-GB; mso-bidi-language: AR-SA"><strong>Controlled Parking Zones</strong></span></td>
<td>-</td></tr>
<tr>
<td><span style="FONT-SIZE: 12pt; FONT-FAMILY: Arial; mso-fareast-font-family: 'Times New Roman'; mso-ansi-language: EN-GB; mso-fareast-language: EN-GB; mso-bidi-language: AR-SA"><strong>Local Area Accessibility</strong></span></td>
<td><span style="FONT-SIZE: 12pt; FONT-FAMILY: Arial; mso-fareast-font-family: 'Times New Roman'; mso-ansi-language: EN-GB; mso-fareast-language: EN-GB; mso-bidi-language: AR-SA"><strong>&pound;115,000</strong></span></td></tr>
<tr>
<td><span style="FONT-SIZE: 12pt; FONT-FAMILY: Arial; mso-fareast-font-family: 'Times New Roman'; mso-ansi-language: EN-GB; mso-fareast-language: EN-GB; mso-bidi-language: AR-SA"><strong>Parallel Initiatives </strong></span></td>
<td><span style="FONT-SIZE: 12pt; FONT-FAMILY: Arial; mso-fareast-font-family: 'Times New Roman'; mso-ansi-language: EN-GB; mso-fareast-language: EN-GB; mso-bidi-language: AR-SA"><strong>&pound;10,000</strong></span></td></tr>
<tr>
<td><span style="FONT-SIZE: 12pt; FONT-FAMILY: Arial; mso-fareast-font-family: 'Times New Roman'; mso-ansi-language: EN-GB; mso-fareast-language: EN-GB; mso-bidi-language: AR-SA"><strong>Total</strong></span></td>
<td><span style="FONT-SIZE: 12pt; FONT-FAMILY: Arial; mso-fareast-font-family: 'Times New Roman'; mso-ansi-language: EN-GB; mso-fareast-language: EN-GB; mso-bidi-language: AR-SA"><strong>&pound;6,898,000</strong></span></td></tr></tbody></table></div><br></p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "People living, working, visiting and travelling in Richmond will benefit from a range of projects delivered by the council during 2007-08.These include road renewal schemes, school travel plans, improved town centres, road safety projects and schemes to";}
        
        


 