


@{ViewBag.Title = "Safety boost as London Underground to take control of 11 Silverlink stations";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Safety boost as London Underground to take control of 11 Silverlink stations</h1>
        <div class="content-page-press-release">
        05 December 2006
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Mayor of London, Ken Livingstone, and Transport for London (TfL) today announced that 11 stations currently managed by Silverlink Metro will become the operational responsibility of London Underground (LU) when the North London Railway transfers to TfL in November 2007.
        
    </div>



 <div class="on-this-page">
<p>The move means that an important part of the overland rail network in London, along with staff currently employed by Silverlink Metro, will pass into the public sector, bringing investment and safety improvements for passengers and staff alike.</p>
<p>The stations have suffered from a lack of investment and are felt by many passengers to be extremely unwelcoming.</p>
<p>Modernisation plans are now being developed to improve staffing levels, and station safety and security. </p>
<p>The Mayor is committed to ensuring that all stations will be staffed at all times while trains are running, and better lighting, CCTV and help points are to be fitted at all stations.</p>
<p>The stations to come under LU control are:</p>
<ul>
<li>Queen's Park to Harrow & Wealdstone on the Bakerloo line, excluding Willesden Junction 
</li><li>Kew Gardens and Gunnersbury on the District line 
</li><li>North London Railway platforms at Blackhorse Road, Highbury & Islington and West Brompton stations</li></ul>
<p>Ken Livingstone, Mayor of London, said: 'The transfer of these stations to London Underground in 2007 will allow us to invest in better staffing and security for passengers.</p>
<p>'Public sector control of these stations will mean real improvements - including putting staff back into stations where the public want to see them, giving passengers a more visible and reassuring presence throughout opening hours.</p>
<p>'I welcome the transfer of these staff to London Underground.'Tim O'Toole, LU Managing Director said: 'This is a great opportunity for London Underground that I'm sure will be welcomed by passengers.</p>
<p>'The proposal reflects the fact that London Underground is already the operator of the majority of train services from these stations.</p>
<p>
<h2>Refurbishment programme</h2>
<p>
<p>'We have plans to invest in and improve these stations, which have suffered from a lack of investment and are perceived by passengers to be unwelcoming.</p>
<p>'We also plan to improve safety and security, with staff at stations as long as they are open.</p>
<p>'We will now work to reach an agreement with our trade unions to enable London Underground to operate these stations, which recognises that Network Rail will continue to manage and maintain the infrastructure.'</p>
<p>Network Rail will retain ownership of the stations and will still own and maintain the track north of Queen's Park and along the length of the North London Railway.</p>
<p>A station refurbishment programme is planned to commence during 2008.</p>
<p>Staff currently employed by Silverlink Metro at these stations will transfer to LU under Transfer of Undertakings (Protection of Employment) regulations.</p>
<p>Following transfer, stations will be staffed throughout the operating day leading to immediate improvements in safety and security.</p>
            <ul>
<li>TfL is investing &pound;10bn to improve and expand London's transport network with more than half being spent on the Tube
</li><li>From November 2007, London Overground services will operate on the North London Railway under the management of TfL when it assumes responsibility for the line from the Department for Transport.<br>This will be let as the London Rail Concession
</li><li>TfL is in the process of appointing to an operator to run the London Rail Concession with a contract which will stipulate strict conditions to meet TfL's requirements for quality and customer care, safety, security, staffing and train frequencies 
</li><li>An invitation to tender has been issued.<br>Shortlisted bidders - Govia, National Express Group, MTR Laing and Nedrailways - submitted bids to TfL on 9 October.<br>The successful bidder is due to be announced in Summer 2007
</li><li>The North London Railway carries 63,000 passengers daily, comprises 50 stations and 60 miles of track covering the North London Line from Richmond to North Woolwich, the Gospel Oak to Barking Line, the London Euston to Watford Junction local line and the West London Lines from Willesden Junction to Clapham Junction via Kensington Olympia<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The move means that an important part of the overland rail network in London, along with staff currently employed by Silverlink Metro, will pass into the public sector, bringing investment and safety improvements for passengers and staff alike.The";}
        
        


 