


@{ViewBag.Title = "Safety and environment benefits as Transport for London submits A406 plans";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Safety and environment benefits as Transport for London submits A406 plans</h1>
        <div class="content-page-press-release">
        05 December 2006
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London (TfL) has submitted a planning application to Enfield and Haringey Councils for its safety and environmental improvement scheme on the A406 North Circular Road at Bounds Green, which is expected to cut accidents by a third and bring much needed improvements to the local community and environment.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            We will continue to work hard to keep residents, schools and local businesses advised of developments
                            
                        </p>
                    </div>
                
            
            
            <p>The plans for the three kilometre stretch of road between Bounds Green Road to the west and Connaught Gardens to the east create a predominantly dual two-lane carriageway. </p>
<p>Junctions will be enhanced both to provide pedestrians with protected crossings and to discourage drivers from 'rat-running' on local roads.</p>
<p>A segregated two-way cycle path will be provided along much of the north side of the route to tie in with existing facilities at either end of this section of the A406. </p>
<p>The scheme will also rejuvenate the area, giving local people far easier access to nearby services and open spaces. </p>
<p>Peter Brown, Chief Operating Officer of TfL Streets Management, said: "Work is urgently needed on this stretch of the North Circular to improve safety and the urban environment for local people. </p>
<p>"This scheme will reduce accidents by a third. It represents a real opportunity to liberate this part of Bounds Green from decades of blight and an environment that has severed the community for years. </p>
<p>"We will continue to work hard to keep residents, schools and local businesses advised of developments.</p>
<p>"TfL has dedicated &pound;4m to assist local councils in introducing traffic calming measures on local roads adjacent to the A406 to help improve the quality of life for residents as soon as possible."</p>
<p>Enfield and Haringey councils have 16 weeks to consider TfL's planning application. </p>
<p>Construction work is expected to start in 2009 with completion in 2011. </p>
            <ul>
<li>The accident and environmental improvement scheme being proposed by TfL requires the acquisition of 14 properties and ten other pieces of land</li>
<li>TfL is making &pound;4m available to local authorities for traffic calming measures in surrounding residential streets</li>
<li>The plans approved by the TfL Board are for construction costs estimated at &pound;26m<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The plans for the three kilometre stretch of road between Bounds Green Road to the west and Connaught Gardens to the east create a predominantly dual two-lane carriageway. Junctions will be enhanced both to provide pedestrians with protected crossings and";}
        
        


 