


@{ViewBag.Title = "Sutton to receive major boost for transport improvements";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Sutton to receive major boost for transport improvements</h1>
        <div class="content-page-press-release">
        20 December 2006
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        The Mayor of London today announced &pound;4.56m of funding for the London Borough of Sutton to spend on local transport improvements to make the borough safer, cleaner and greener over the next year.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
<p>
This money will help to make daily journeys more convenient and pleasant
</p>
</div>
<p>People living, working, visiting and travelling in Sutton will benefit from a range of projects delivered by the council during 2007/08.</p>
<p>These include road renewal schemes, school travel plans, bridge strengthening, road safety projects, and schemes to reduce pollution through increased walking and cycling.</p>
<p>Sutton's allocation is part of a record &pound;160m of funding announced for boroughs across the capital. </p>
<p>Since the Mayor was first elected in 2000, funding for boroughs has almost doubled - this year's allocation shows a 92 per cent increase from 1999/2000. </p>
<p>It is part of the record-breaking five year &pound;792m programme for local transport schemes included in Transport for London's &pound;10bn Investment Programme, and is an increase on the &pound;765m previously announced.</p>
<p>Mayor of London Ken Livingstone said: "When I visited Sutton in October to launch the three year &pound;5 million transport plan Smarter Travel Sutton, I heard from local business leaders about the improvements being made to transport in Sutton. </p>
<p>"I also talked to teachers and pupils at Cheam High School about how School Travel Plans are encouraging walking, cycling and use of buses and trains. Investment in Sutton's transport system has increased by more than thirty per cent since 2000 and this announcement of &pound;4.5million will make a big difference across the borough.</p>
<p>"This money will help to make daily journeys more convenient and pleasant whether by public transport, in a car, on foot or by bike.</p>
<p>"By supporting transport spending in the boroughs over the past six years we have improved town centres, increased cycling by 72 per cent and approved more than 1000 travel plans to get children to and from school safely."</p>
<p>London's Transport Commissioner Peter Hendy said: "This money will go directly towards improving transport for people in Sutton.</p>
<p>"We will fund a combination of both large and small projects and by working in partnership with each borough we know that local communities will see a difference.</p>
<p>"This funding is an important part of our wider programme of spending in all boroughs to improve public transport and make walking and cycling journeys easier and safer."</p>
<p>Projects funded in Sutton for 2007/08 will include:</p>
<ul>
    <li>&pound;1.53m for strengthening works on London Road Bridge, Hackbridge; the bridge carries traffic from the A237 across Network Rail tracks
    </li>
    <li>&pound;35,000 to introduce a new Pelican crossing in Mollison Drive, South Beddington, replacing the demolished footbridge and improving safety for pedestrians
    </li>
    <li>&pound;90,000 to build a cycle route along Rose Hill, linking up to other cycling routes and improving the cycle network across the borough linking it to Sutton town centre<br />
    </li>
</ul>
<ul>
    <li>This year is the first time the money allocated has been directly linked to borough Local Implementation Plans (LIPs). Each borough has been preparing a LIP showing how it proposes to implement the Mayor's Transport Strategy locally over the coming years
    </li>
    <li>While Transport for London awards funding for individual schemes, project delivery is the responsibility of the boroughs
    </li>
    <li>Attached is a table with a breakdown of funding for the borough by transport topic
    </li>
    <li>LIPs submitted by Islington, Croydon, Harrow, Westminster, Tower Hamlets, Lambeth, Camden, Hammersmith and Fulham, Lewisham, Merton and Kingston have all been approved by the Mayor; others are still pending
    </li>
    <li>Priorities for all Local Implementation Plans include:
    <ul>
        <li>Improving road safety
        </li>
        <li>Improving bus journey times and reliability
        </li>
        <li>Relieving traffic congestion and improving journey time reliability
        </li>
        <li>Improving the working of parking and loading arrangements
        </li>
        <li>Improving accessibility for all on the transport network
        </li>
        <li>Encouraging walking and cycling
        </li>
        <li>Bringing transport infrastructure into a state of good repair </li>
    </ul>
    </li>
    <li>Definition of terms:
    <ul>
        <li>Raised crossing - A raised crossing is essentially a speed table, with a pedestrian crossing installed across the flat section
        </li>
        <li>Speed table - A speed table is a broad speed hump
        </li>
        <li>School Travel Plan - A School Travel Plan is a package of measures, tailored to the needs of individual schools, to deliver alternative transport methods for the school run. The aim of a school travel plan is to reduce single occupancy car journeys for school travel, reduce congestion and increase safety around schools.
        </li>
        <li>Toucan crossing - A Toucan (two-can) crossing provides both pedestrians and cyclists with a wide crossing area. Toucan crossings are usually four metres wide, rather than the standard 2.8m for a Pelican or Puffin crossing </li>
    </ul>
    </li>
</ul>
<p> </p>
<p>
<div class="table-container"><table width="307" style="width: 307px; height: 658px;" border="1" cellspacing="1" cellpadding="2">
    <tbody>
        <tr>
            <td>
            </p>
            <p>&nbsp;</p>
            <p>
            </p>
            <p>LIP Programme 2007/08</p>
            <p>
            </p>
            <p>&nbsp;</p>
            <p></td>
            <td>
            </p>
            <p>&nbsp;</p>
            <p>
            </p>
            <p>Allocation (&pound;)</p>
            <p>
            </p>
            <p>&nbsp;</p>
            <p></td>
        </tr>
        <tr>
            <td>
            </p>
            <p>&nbsp;</p>
            <p>
            </p>
            <p>Principal Road Renewals </p>
            <p>
            </p>
            <p>&nbsp;</p>
            <p></td>
            <td>
            </p>
            <p>&nbsp;</p>
            <p>
            </p>
            <p>&pound;115,000</p>
            <p>
            </p>
            <p>&nbsp;</p>
            <p></td>
        </tr>
        <tr>
            <td>
            </p>
            <p>&nbsp;</p>
            <p>
            </p>
            <p>Bridge Strengthening </p>
            <p>
            </p>
            <p>&nbsp;</p>
            <p></td>
            <td>
            </p>
            <p>&nbsp;</p>
            <p>
            </p>
            <p>&pound;1,540,000</p>
            <p>
            </p>
            <p>&nbsp;</p>
            <p></td>
        </tr>
        <tr>
            <td>
            </p>
            <p>&nbsp;</p>
            <p>
            </p>
            <p>Local Safety Schemes<strong> </strong></p>
            <p>
            </p>
            <p>&nbsp;</p>
            <p></td>
            <td>
            </p>
            <p>&nbsp;</p>
            <p>
            </p>
            <p>&pound;729,000</p>
            <p>
            </p>
            <p>&nbsp;</p>
            <p></td>
        </tr>
        <tr>
            <td>
            </p>
            <p>&nbsp;</p>
            <p>
            </p>
            <p>20mph Zones </p>
            <p>
            </p>
            <p>&nbsp;</p>
            <p></td>
            <td>
            </p>
            <p>&nbsp;</p>
            <p>
            </p>
            <p>&pound;108,000</p>
            <p>
            </p>
            <p>&nbsp;</p>
            <p></td>
        </tr>
        <tr>
            <td>
            </p>
            <p>&nbsp;</p>
            <p>
            </p>
            <p>Education, Training &amp; Publicity </p>
            <p>
            </p>
            <p>&nbsp;</p>
            <p></td>
            <td>
            </p>
            <p>&nbsp;</p>
            <p>
            </p>
            <p>&pound;13,000</p>
            <p>
            </p>
            <p>&nbsp;</p>
            <p></td>
        </tr>
        <tr>
            <td>
            </p>
            <p>&nbsp;</p>
            <p>
            </p>
            <p>Walking </p>
            <p>
            </p>
            <p>&nbsp;</p>
            <p></td>
            <td>
            </p>
            <p>&nbsp;</p>
            <p>
            </p>
            <p>&pound;105,000</p>
            <p>
            </p>
            <p>&nbsp;</p>
            <p></td>
        </tr>
        <tr>
            <td>
            </p>
            <p>&nbsp;</p>
            <p>
            </p>
            <p>Cycling (General) </p>
            <p>
            </p>
            <p>&nbsp;</p>
            <p></td>
            <td>
            </p>
            <p>&nbsp;</p>
            <p>
            </p>
            <p>&pound;384,000</p>
            <p>
            </p>
            <p>&nbsp;</p>
            <p></td>
        </tr>
        <tr>
            <td>
            </p>
            <p>&nbsp;</p>
            <p>
            </p>
            <p>London Cycle Network + (LCN+)</p>
            <p>
            </p>
            <p>&nbsp;</p>
            <p></td>
            <td>
            </p>
            <p>&nbsp;</p>
            <p>
            </p>
            <p>&pound;440,000</p>
            <p>
            </p>
            <p>&nbsp;</p>
            <p></td>
        </tr>
        <tr>
            <td>
            </p>
            <p>&nbsp;</p>
            <p>
            </p>
            <p>Bus Stop Accessibility </p>
            <p>
            </p>
            <p>&nbsp;</p>
            <p></td>
            <td>
            </p>
            <p>&nbsp;</p>
            <p>
            </p>
            <p>&pound;137,000</p>
            <p>
            </p>
            <p>&nbsp;</p>
            <p></td>
        </tr>
        <tr>
            <td>
            </p>
            <p>&nbsp;</p>
            <p>
            </p>
            <p>Bus Priority </p>
            <p>
            </p>
            <p>&nbsp;</p>
            <p></td>
            <td>
            </p>
            <p>&nbsp;</p>
            <p>
            </p>
            <p>&pound;417,000</p>
            <p>
            </p>
            <p>&nbsp;</p>
            <p></td>
        </tr>
        <tr>
            <td>
            </p>
            <p>&nbsp;</p>
            <p>
            </p>
            <p>Town Centres </p>
            <p>
            </p>
            <p>&nbsp;</p>
            <p></td>
            <td>-</td>
        </tr>
        <tr>
            <td>
            </p>
            <p>&nbsp;</p>
            <p>
            </p>
            <p>Streets for People </p>
            <p>
            </p>
            <p>&nbsp;</p>
            <p></td>
            <td>-</td>
        </tr>
        <tr>
            <td>
            </p>
            <p>&nbsp;</p>
            <p>
            </p>
            <p>Station Access </p>
            <p>
            </p>
            <p>&nbsp;</p>
            <p></td>
            <td>-</td>
        </tr>
        <tr>
            <td>
            </p>
            <p>&nbsp;</p>
            <p>
            </p>
            <p>School Travel Plans </p>
            <p>
            </p>
            <p>&nbsp;</p>
            <p></td>
            <td>
            </p>
            <p>&nbsp;</p>
            <p>
            </p>
            <p>&pound;334,000</p>
            <p>
            </p>
            <p>&nbsp;</p>
            <p></td>
        </tr>
        <tr>
            <td>
            </p>
            <p>&nbsp;</p>
            <p>
            </p>
            <p>Work Travel Plans</p>
            <p>
            </p>
            <p>&nbsp;</p>
            <p></td>
            <td>-</td>
        </tr>
        <tr>
            <td>
            </p>
            <p>&nbsp;</p>
            <p>
            </p>
            <p>Travel Awareness </p>
            <p>
            </p>
            <p>&nbsp;</p>
            <p></td>
            <td>
            </p>
            <p>&nbsp;</p>
            <p>
            </p>
            <p>&pound;100,000</p>
            <p>
            </p>
            <p>&nbsp;</p>
            <p></td>
        </tr>
        <tr>
            <td>
            </p>
            <p>&nbsp;</p>
            <p>
            </p>
            <p>Freight</p>
            <p>
            </p>
            <p>&nbsp;</p>
            <p></td>
            <td>-</td>
        </tr>
        <tr>
            <td>
            </p>
            <p>&nbsp;</p>
            <p>
            </p>
            <p>Regeneration Area Schemes </p>
            <p>
            </p>
            <p>&nbsp;</p>
            <p></td>
            <td>
            </p>
            <p>&nbsp;</p>
            <p>
            </p>
            <p>&pound;100,000</p>
            <p>
            </p>
            <p>&nbsp;</p>
            <p></td>
        </tr>
        <tr>
            <td>
            </p>
            <p>&nbsp;</p>
            <p>
            </p>
            <p>Environment </p>
            <p>
            </p>
            <p>&nbsp;</p>
            <p></td>
            <td>-</td>
        </tr>
        <tr>
            <td>
            </p>
            <p>&nbsp;</p>
            <p>
            </p>
            <p>Controlled Parking Zones</p>
            <p>
            </p>
            <p>&nbsp;</p>
            <p></td>
            <td>
            </p>
            <p>&nbsp;</p>
            <p>
            </p>
            <p>&pound;30,000</p>
            <p>
            </p>
            <p>&nbsp;</p>
            <p></td>
        </tr>
        <tr>
            <td>
            </p>
            <p>&nbsp;</p>
            <p>
            </p>
            <p>Local Area Accessibility </p>
            <p>
            </p>
            <p>&nbsp;</p>
            <p></td>
            <td>
            </p>
            <p>&nbsp;</p>
            <p>
            </p>
            <p>&pound;15,000</p>
            <p>
            </p>
            <p>&nbsp;</p>
            <p></td>
        </tr>
        <tr>
            <td>
            </p>
            <p>&nbsp;</p>
            <p>
            </p>
            <p>Parallel Initiatives</p>
            <p>
            </p>
            <p>&nbsp;</p>
            <p></td>
            <td>-</td>
        </tr>
        <tr>
            <td>
            </p>
            <p>&nbsp;</p>
            <p>
            </p>
            <p>Community Transport</p>
            <p>
            </p>
            <p>&nbsp;</p>
            <p></td>
            <td>-</td>
        </tr>
        <tr>
            <td>
            </p>
            <p>&nbsp;</p>
            <p>
            </p>
            <p>Community Transport</p>
            <p>
            </p>
            <p>&nbsp;</p>
            <p></td>
            <td>-</td>
        </tr>
        <tr>
            <td>
            </p>
            <p>&nbsp;</p>
            <p>
            </p>
            <p>Total</p>
            <p>
            </p>
            <p>&nbsp;</p>
            <p></td>
            <td>
            </p>
            <p>&nbsp;</p>
            <p>
            </p>
            <p>&pound;4,567,000</p>
            <p>
            </p>
            <p>&nbsp;</p>
            <p></td>
        </tr>
    </tbody>
</table></div>
</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "People living, working, visiting and travelling in Sutton will benefit from a range of projects delivered by the council during 2007/08.These include road renewal schemes, school travel plans, bridge strengthening, road safety projects, and schemes to";}
        
        


 