


@{ViewBag.Title = "TfL Commissioner reveals plans to upgrade Circle, District, Hammersmith and City and Metropolitan lines";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>TfL Commissioner reveals plans to upgrade Circle, District, Hammersmith and City and Metropolitan lines</h1>
        <div class="content-page-press-release">
        06 December 2006
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Seventh carriage added to all new Circle & Hammersmith & City trains.<BR>Air-conditioned trains and new energy efficient features to be delivered.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            A common train fleet for all these lines will help us deliver a better service to passengers
                            
                        </p>
                    </div>
                
            
            
            <p>Detailed plans to upgrade a third of the Tube network over the next decade and help tackle climate change were announced by the Transport Commissioner Peter Hendy today.</p>
<p>The Circle, District, Hammersmith &amp; City and Metropolitan lines will get new air-conditioned trains from late 2009, together with a new signalling system and renewed track.</p>
<p>The improvements will bring about faster, more frequent services along with improved reliability, customer information, accessibility and enhanced safety and security.</p>
<p>Trains on the Circle and Hammersmith &amp; City lines will increase in size from six to seven carriages, an overall capacity increase of 17 per cent, as will those on the District line between Edgware Road and Wimbledon.</p>
<p>Mayor of London Ken Livingstone said: "The upgrade of these lines is the next stage of Transport for London's (TfL's)investment in the renewal and improvement of London Underground.</p>
<p>"This upgrade will be felt by passengers every day, who will benefit from air-conditioning and extra space on the trains. </p>
<p>"It will also deliver major energy efficiencies which will reduce energy costs and make a positive contribution towards reducing London's CO2 use and tackling climate change."</p>
<p>The improvements are part of TfL's &pound;10bn Investment Programme, to meet London's transport needs now and in future. </p>
<p>
<h2>Tackling climate change</h2>
<p>
<p>The work will be undertaken by Metronet Rail SSL and is the biggest single package of improvement works planned on the Tube under TfL's investment plans.</p>
<p>London Underground (LU) announced that it is in the early stages of investigating increasing the power supply on the sub-surface network from 630v to 750v - the same as the National Rail network.</p>
<p>This would deliver even greater energy efficiencies and would also contribute towards the reduction of heat levels on the sub-surface network.</p>
<p>The new trains will also have regenerative braking systems, which recycle energy that, on current sub-surface lines trains, is lost in braking.  </p>
<p>This will save about 20-25 per cent of that energy, making a real contribution towards tackling CO2 emissions.</p>
<p>
<h2>Longer carriages</h2>
<p>
<p>Regenerative braking works by recycling power production from the action of the train braking and puts it back in the power network.</p>
<p>This is already a feature on Central, Northern and Jubilee line trains.</p>
<p>Transport Commissioner Peter Hendy said: "This is the biggest single package of improvements for these lines since they opened in 1863, running over the same route from Paddington to Farringdon they do today.</p>
<p>"Over one million people use these lines each day and they will all benefit.</p>
<p>
<h2>Shorter journey times</h2>
<p>
<p>"All lines will get new trains, with the Circle, Hammersmith &amp; City line and part of the District line, which serve some of the busiest sections on the Tube, getting new longer seven-carriage trains."</p>
<p>LU Managing Director Tim O'Toole said: "The new trains will also have air conditioning and deliver more reliable and comfortable journeys for passengers. </p>
<p>"Shorter journey times will be delivered through a combination of track improvements, a new signalling system and reduced boarding times at stations.</p>
<p>"A common train fleet for all these lines will help us deliver a better service to passengers. </p>
<p>"It will provide more robust and reliable trains, with more integrated and flexible services on all of the Circle, District, Hammersmith &amp; City and Metropolitan lines."</p>
            <ul>
<li>TfL is investing &pound;10bn over the next five years to improve and expand London's transport network, more than half of that in the Tube</li>
<li>Metronet Rail SSL is responsible for the renewal and maintenance of Circle, District, Hammersmith & City, Metropolitan and East London lines</li>
<li>Hammersmith & City and Circle lines trains (C-stock) are presently made up of six carriages but will increase to seven carriages when the new rolling stock is delivered. C-stock trains also operate the District service between Wimbledon and Edgware Road</li>
<li>Metropolitan line trains will remain at eight carriages while District line trains (D-stock) will increase to seven carriages from their present six carriages but the overall train length will remain virtually the same</li>
<li>Metronet Rail SSL has awarded the contract to build the new sub-surface fleet to Bombardier Transportation in Derby who will deliver a total of 190 trains</li>
<li>To deliver the additional seventh carriage, LU has exercised a Specified Right under the PPP contract with Metronet Rail SSL</li>
<li>The new 190-strong train fleet, which will be common to all sub-surface lines, will be fully air-conditioned with CCTV throughout and walk-through gangways between carriages. The trains will be built by Bombardier in Derby and will be delivered between late 2009 and 2015. There will be dedicated spaces for wheelchair users and those with luggage and prams. The biggest accessibility improvement is that access to the train carriage will be at precisely the same height as the platforms allowing ease of access to and from the train</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Detailed plans to upgrade a third of the Tube network over the next decade and help tackle climate change were announced by the Transport Commissioner Peter Hendy today.The Circle, District, Hammersmith &amp; City and Metropolitan lines will get new";}
        
        


 