


@{ViewBag.Title = "Transport for London supports Very Important Pedestrians Day";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Transport for London supports Very Important Pedestrians Day</h1>
        <div class="content-page-press-release">
        01 December 2006
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        For the first time ever, the whole of Oxford Street and Regent Street will be closed to traffic for a day of entertainment and shopping on Saturday 2 December.
        
    </div>



 <div class="on-this-page">
<p>The event, supported by Transport for London (TfL) will be entitled Shop West End VIP Day' for Very Important Pedestrians. TfL is committed to improving the pedestrian environment in the capital, and for the day have created a special walking map of the area, which will help shoppers work out how many steps they have taken towards their recommended 10,000 daily total.</p>
<p>The maps, along with 3,000 free pedometers and other walking gifts, will be available from the TfL Good Going Marquee, located halfway between Oxford Circus and Tottenham Court Road Tube stations on Oxford Street.</p>
<p>Copies of the map will also be distributed at Tube stations in the area.</p>
<p>Drivers and bus passengers are advised to keep up to date with the latest travel news on <a href="http://www.tfl.gov.uk/journeyplanner">www.tfl.gov.uk/journeyplanner</a> or by calling the London Travel Information Centre on 020 7222 1234.</p>
<p>Tube services remain unaffected, with Marble Arch (Central line), Bond Street (Central and Jubilee lines), Oxford Circus (Bakerloo, Central and Victoria lines) and Tottenham Court Road (Central and Northern line) serving the area.</p>
<ul>
    <li>Between 1030 and 1700 hours on Saturday 2 December Oxford Street will be traffic free between Portman Street and Tottenham Court Road. Regent Street will be closed to vehicles between Piccadilly Circus in the south end and Margaret Street in the north end
    </li>
    <li>The following bus routes will be affected by the street closures - 2, 3, 6, 7, 8, 10, 12, 13, 14, 15, 19, 22. 23, 24, 25, 29, 30, 38, 55, 73, 74, 82, 88, 94, 98, 113, 137, 139, 159, 176, 189, 274, 390, 453, C2
    </li>
    <li>For <a href="http://www.tfl.gov.uk/walking">more information about walking</a> and the Mayor's vision to make London one of the most walkable cities in Europe by 2015, please visit TfL's website
    </li>
    <li><a href="http://www.legiblelondon.info">Legible London</a>, a free TfL funded exhibition which is looking at how it can be made easier for people to walk in and around the capital, is being held at New London Architecture, The Building Centre, 26 Store Street, London WC1E 7BT. Call 020 7636 4044 for more details
    </li>
    <li>Walking accounts for 80 per cent of trips under a mile and is the main way in which public transport is accessed in London
    </li>
    <li>The British Heart Foundation (BHF) says 10,000 steps a day (about five miles) can give you a healthy heart and reduce body fat
    </li>
    <li>For more information, go to <a href="http://newwestend.com/">New West End's website</a> </li>
    <br />
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The event, supported by Transport for London (TfL) will be entitled Shop West End VIP Day' for Very Important Pedestrians. TfL is committed to improving the pedestrian environment in the capital, and for the day have created a special walking map of the";}
        
        


 