


@{ViewBag.Title = "Transport for London welcomes Government consideration of key rail upgrade scheme";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Transport for London welcomes Government consideration of key rail upgrade scheme</h1>
        <div class="content-page-press-release">
        20 December 2006
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London (TfL) today welcomed the Government's consideration of proposals to upgrade and increase capacity on the rail line between Gospel Oak and Barking in North London.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            This scheme would improve the reliability of passenger and freight services
                            
                        </p>
                    </div>
                
            
            
            <p>Rail Minister, Tom Harris, has agreed that work should be taken forward within the Department for Transport (DfT) to look at a detailed case for the funding of the package of rail gauge and capacity enhancements.</p>
<p>The upgrade of the Gospel Oak to Barking line would benefit passengers and the rail freight industry, making it possible to run more frequent trains and larger freight containers on this key cross-London route. </p>
<p>TfL and Network Rail have made a joint submission for funding from the DfT's Transport Innovation fund, with an estimated cost of around &pound;20m. </p>
<p>Ian Brown, Managing Director of TfL London Rail, said: "I am delighted that the Government is considering TfL and Network Rail's joint proposal to upgrade the Gospel Oak to Barking rail line. </p>
<p>"This scheme would improve the reliability of passenger and freight services and is an important part of the future success of London's rail network.</p>
<p>"We look forward to confirmation of the funding decision early next year."</p>
<p>Patrick Hallgate, Network Rail Route Director, said: "We are pleased that the Department for Transport is considering these proposals. </p>
<p>"Improving both gauge and capacity on key routes in North and East London will help us create additional capacity for passenger trains and improve the movement of freight traffic on the North London line. </p>
<p>"Network Rail will continue to seek to finalise funding and planning arrangements during the early part of 2007."</p>
<p>With the Government's decision to take forward work on the scheme, Network Rail will now continue to development specific plans, with the aim for the upgrade works to be undertaken in 2008/9. </p>
<p>The key objectives of the works are:</p>
<ul>
<li>To increase the capacity of the Gospel Oak to Barking line to allow four freight and four passenger trains to run every hour. This would support TfL's plans to run high frequency London Overground train services and the expected growth in freight traffic from ports on the Thames Estuary<br>
</li><li>To enlarge the gauge of the route to allow large modern deep sea freight containers to be transported on standard rail wagons, increasing the quantities that can be transported by rail through the Capital </li></ul>
<p>These benefits support the priorities that were outlined in the recent Eddington Report ('Transport's role in sustaining UK's Productivity and Competitiveness: The Case for Action'), by supporting strategic rail freight infrastructure and improving rail traffic management on strategic routes.</p>
<p>Passengers would benefit from both the increased capacity and improved resilience of London's rail infrastructure, which would result in increased reliability of passenger train services.</p>
<p>The rail freight industry would benefit from the greater flexibility for freight traffic and the use of the Gospel Oak to Barking line as a valuable secondary freight route in the event of delays on the North London line.<br><br>The line upgrade would also deliver wider environmental, economic and safety benefits, with the increased capacity for freight and passenger services resulting in more cars and lorries being taken off the roads. </p>
<p>
            <ul>
<li>The Government indicated its continued consideration of the Gospel Oak to Barking rail upgrade in a written ministerial statement to Parliament from Douglas Alexander, Secretary of State for Transport, on Monday 18 December.  A copy is available at the <a href="http://www.dft.gov.uk/stellent/groups/dft_about/documents/page/dft_about_613885.hcsp ">DfT's website</a></li>
<li>The DfT's 'Transport Innovation Fund' supports the costs of innovative local transport packages that combine demand management measures with measures to encourage modal shift. It also supports regional, inter-regional and local schemes that are beneficial to national productivity</li>
<li>The planned infrastructure works to deliver the gauge and capacity enhancements on the Gospel Oak to Barking line would be delivered by Network Rail as Network Operator</li>
<li>The scheme proposes to increase the gauge on the line from W8 to W10 to enable 'high cube' freight containers (9 ft 6 inches in height) to be transported by rail on standard cost-effective wagons. This type of container is becoming the standard size for deep sea container ships</li>
<li>Passenger train services on the Gospel Oak to Barking line will be operated under the Silverlink Metro franchise until November 2007</li>
<li>On 11 November 2007, responsibility for passenger operations on the line will transfer to TfL.  It will become part of the London Overground network, which will consist of the North and East London Railways under TfL's London Overground Concession<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Rail Minister, Tom Harris, has agreed that work should be taken forward within the Department for Transport (DfT) to look at a detailed case for the funding of the package of rail gauge and capacity enhancements.The upgrade of the Gospel Oak to Barking";}
        
        


 