


@{ViewBag.Title = "Transport for London confirms next bid stage for London Overground services";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Transport for London confirms next bid stage for London Overground services</h1>
        <div class="content-page-press-release">
        15 December 2006
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London (TfL) has announced that MTR Laing and Go-Via have been selected to submit a 'best and final offer' for the contract to run London Overground services on the integrated North and East London Railways, under the management of TfL.
        
    </div>



 <div class="on-this-page">
<p>The contract will be awarded to the successful bidder in summer 2007. </p>
<p>London Overground services will start operating on the North London Railway when it passes to TfL in November 2007, and will operate an integrated service including the East London Railway when it re-opens, after work to extend the line, in 2010. </p>
<p>The linking up of the North and East London Railways will be the first step towards an orbital railway for London. </p>
<p>In phase one, TfL is investing &pound;1bn to build the new East London Railway, by extending the existing East London Line north to Highbury & Islington and south to New Cross, Crystal Palace and West Croydon. </p>
<p>Phase two would provide a further link between Surrey Quays and Clapham Junction, completing the orbital rail network and serving 20 of London's 33 boroughs. </p>
            <ul>
<li>The vision for London Overground was launched in September 2006 
</li><li>London Overground services will operate on the North and East London Railways under TfL's London Rail Concession 
</li><li>In June this year, four companies were shortlisted to receive an Invitation to Tender: Govia, MTR Laing, National Express Group and Nedrailways 
</li><li>The North London Railway will be operated under the Silverlink Metro franchise until November 2007. The railway consists of the North London Line (Richmond to Stratford); the London Euston to Watford Junction local line; the West London Line (Willesden Junction to Clapham Junction via Kensington Olympia); and the Gospel Oak to Barking line<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The contract will be awarded to the successful bidder in summer 2007. London Overground services will start operating on the North London Railway when it passes to TfL in November 2007, and will operate an integrated service including the East London";}
        
        


 