


@{ViewBag.Title = "Transport for London backs campaign for smarter working";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Transport for London backs campaign for smarter working</h1>
        <div class="content-page-press-release">
        06 December 2006
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London (TfL) has today announced its partnership with Work Wise UK, a campaign that encourages employers to offer their staff more flexibility in where and when they work.
        
    </div>



 <div class="on-this-page">
<p>Aimed at encouraging the widespread adoption of smarter working practices, such as working from home or working more flexible hours, the Work Wise UK campaign complements the Work Place Travel Planning service that TfL already offers London employers.</p>
<p>As the population of London continues to grow, smarter working will play an increasingly important role in the capital's future sustainability - both in terms of managing the demand on the transport network and in minimising carbon emissions.</p>
<p>By helping people to work more flexibly, TfL and the Mayor hope to create a better work/life balance for many thousands of Londoners, as well as addressing the problems associated with peak hour travel.</p>
<p>Jenny Jones, the Mayor's Green Transport Advisor, said: 'We'd all like more quality time in our lives and being able to reduce the time spent travelling is a real benefit.</p>
<p>'It's good for us, but also good for the community when public transport is less crowded, and good for the planet when there's fewer polluting journeys.'</p>
<p>Ben Plowden, Managing Director of Group Communications at TfL, said: 'In the next 15 years, the capital's population is expected to grow by 800,000, which will greatly increase the demand on the public transport network.</p>
<p>'By working with our Work Wise UK partners - which include the CBI, the TUC, and BT - TfL aims to help organisations make full use of the opportunities that smarter working can offer both employers and their employees.'</p>
<p>Phil Flaxton, Chief Executive of the IT Forum Foundation, the not-for-profit industry organisation behind Work Wise UK, said: 'TfL's backing for Work Wise UK is a real step forward for the campaign.</p>
<p>'As Britain's largest public transport authority, its support will play a critical role in legitimizing and promoting smarter working practices to businesses, both in London and the rest of the country. </p>
<p>'On average, workers in London spend eight hours a week commuting - that's longer than anyone else in Europe.</p>
<p>'By adopting smarter working policies, organisations will have a fundamental impact on their employees' work/life balance, reducing stress and increasing productivity.'</p>
<p>TfL is providing &pound;150,000 of funding in 2006/07 to Work Wise UK, with potential for further support in the future, subject to results in year one.</p>
<p>Further details about Work Wise UK can be found on <a href="http://www.workwiseuk.org">www.workwiseuk.org</a></p>
            <ul>
<li>London workers spend an average of eight hours a week commuting - the longest average commute in Europe (Samsung research, 2004)</li>
<li>TfL is currently running Smarter Travel pilot projects with three London borough councils - Barnet, Brent and Lewisham. The councils are being given support on changing HR and finance policies and providing IT services for people wanting to work from home. The pilot projects will inform TfL's future plans to offer Smarter Working advice as part of the Work Place Travel Plan package</li>
<li>TfL's Work Place Travel Plans provide businesses with support and advice on their organisation's transport policies. Areas covered include; car sharing, fleet management, and encouraging people to walk, cycle or take public transport</li>
<li>Partners of the Work Wise UK campaign include; BT, the CBI, TUC, ACT, the British Chamber of Commerce, Scope, the RAC Foundation, Technology Means Business and the Henley Management College</li>
<li>There is dedicated Work Wise UK pressroom available at <a href="http://www.pressrooms.net/workwiseuk">www.pressrooms.net/workwiseuk</a>.</li></ul>
<p> </p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Aimed at encouraging the widespread adoption of smarter working practices, such as working from home or working more flexible hours, the Work Wise UK campaign complements the Work Place Travel Planning service that TfL already offers London employers.As";}
        
        


 