


@{ViewBag.Title = "Travel in London is cheapest with Oyster";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Travel in London is cheapest with Oyster</h1>
        <div class="content-page-press-release">
        28 December 2006
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        New Year fares will mean passengers can make big savings by switching from cash to Oyster, with many bus and Tube Oyster single fares frozen, and many now half the cost for the same journey if paying by cash.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Over the course of the last year, TfL has expanded the number of schemes to help make travel in London easier for young people
                            
                        </p>
                    </div>
                
            
            
            <p>From 2 January, passengers will see a single journey on the Tube in Zone 1 frozen at &pound;1.50 when using Oyster and peak bus fares with Oyster frozen at &pound;1. </p>
<p>All Oyster single fares are frozen across London and the Oyster daily price cap for adults remains 50p below the One Day Travelcard price</p>
<p>As in previous years, the new fares package is designed to encourage people to switch from cash to Oyster in order to speed up buses and reduce ticket queues at Tube stations. </p>
<p>Cash use on buses has already halved over the last year.</p>
<p>Two years ago the Mayor announced that bus fares would rise by 10 per cent above inflation for three subsequent years to help fund the biggest investment programme on London transport since the second world war.</p>
<p>This year, the third ten per cent increase in fares has in fact been significantly cut back.</p>
<p>This is possible because Transport for London's (TfL's) finances have been boosted by good management and big efficiency savings, including new advertising contracts.</p>
<p>Mayor of London Ken Livingstone said: "There are now huge savings to be made by using Oyster. </p>
<p>"We have been able to freeze many Oyster pay-as-you-go bus and Tube fares this year. Many now cost half the same journey paid by cash. </p>
<p>"We said that in order to pay for massive investment in our public transport system including new rail links and better services there would be three years of ten per cent fares increases. </p>
<p>"The savings and efficiencies made by Transport for London mean that the planned ten per cent increase in fares for this year has been cut back."</p>
<p>Examples of Oyster savings include: </p>
<ul>
<li>A single journey on the Tube in Zone 1 is frozen at &pound;1.50 when using Oyster. The same journey using cash will be &pound;4 
</li><li>Peak bus fares with Oyster are frozen at &pound;1, which now becomes a single flat Oyster fare throughout the day. Cash users will pay &pound;2 for the same journey 
</li><li>All Oyster single fares are frozen across London and the Oyster daily price cap for adults remains 50p below the One Day Travelcard price</li></ul>
<p>Over the course of the last year TfL has expanded the number of schemes to help make travel in London easier for young people.</p>
<ul>
<li>Under-16s free bus and tram travel was introduced September 2005 
</li><li>Under-11s off-peak free travel on Tube and Docklands Light Railway (DLR) when accompanied was introduced at Easter 2006. From Easter 2007, free Tube and DLR travel will be available for under-11s at any time 
</li><li>Free bus and tram travel for 16 and 17-year-olds in full-time education and resident in London was introduced in September 2006</li></ul>
<p>These schemes have benefited thousands of families across London by improving young people's access to education, sport and leisure. </p>
<p>These schemes encourage young people to use public transport, helping to continue London's move away from car journeys. </p>
<p>They also help to cut congestion, pollution and accidents by reducing the school run.</p>
<p>
            <ul>
<li>Fares at a glance</li>
<li>On the buses:</li>
<ul>
<li>The Oyster peak single fare remains frozen at &pound;1  - the Oyster daily price cap is also frozen, which means Oyster users will never pay more than &pound;3 regardless of how many trips they make each day. Passengers who choose not to use Oyster will now pay &pound;2 in cash for the same journey</li>
<li>The Oyster off-peak fare will rise from 80p to &pound;1</li>
<li>The One Day Bus Pass is frozen at &pound;3.50 and the 7-Day Bus Pass increases in line with inflation from &pound;13.50 to &pound;14</li>
<li>The bus Saver price remains at &pound;6 for six trips </li>
<li>In the last year, cash use on buses has dropped from ten per cent of all journeys to five per cent </li>
<li>The overall increase in bus fares equals RPI plus 3.8 per cent </li></ul>
<li>On the Tube: </li>
<ul>
<li>All Oyster single fares are frozen across London and the Oyster daily price cap for adults remains 50p below the One Day Travelcard price</li>
<li>The cash single fare for all journeys which include travel in Zone 1 will be &pound;4 - this means passengers using Oyster to pay as they go for journeys into Zone 1 could save up to &pound;2.50 per trip</li>
<li>Travelcards will rise by RPI + two per cent on average. There is no change to the cash fare for non Zone 1 journeys</li>
<li>Cash use on the Tube has halved from just under 15 per cent in 2005 to around six per cent </li>
<li>The overall package for the Tube is RPI + one per cent </li></ul>
<li>Family friendly: </li>
<ul>
<li>Under-16s able to travel on the Tube and DLR using Oyster pay as you go for just 50p per ride with a maximum daily price cap of just &pound;1</li>
<li>Under-11s continue to travel free on the Tube and DLR when accompanied during off-peak hours until Easter when they will be able to travel for free anytime</li>
<li>16 and 17-year olds in full-time education and resident in London continue to travel free on buses and trams. The 16-17 paper photocard will not be valid for travel after 1 January 2007<br></li></ul></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "From 2 January, passengers will see a single journey on the Tube in Zone 1 frozen at &pound;1.50 when using Oyster and peak bus fares with Oyster frozen at &pound;1. All Oyster single fares are frozen across London and the Oyster daily price cap for";}
        
        


 