


@{ViewBag.Title = "Travel advice for New Years Eve";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Travel advice for New Years Eve</h1>
        <div class="content-page-press-release">
        18 December 2006
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London (TfL) today published full details of public transport arrangements for New Year's Eve.
        
    </div>



 <div class="on-this-page">
<p>Thanks to sponsorship from NatWest and the Mayor of London, many transport services will run all night with free travel at the busiest periods. </p>
<p>However, there will be some changes to normal services so Londoners and visitors to the Capital are being advised to plan their journeys carefully.</p>
<p>Peter Hendy, Transport Commissioner, said: "With many thousands of people expected to celebrate the new year in London, many public transport routes will be running through the night to get people safely home. </p>
<p>"But we are asking people to plan their journeys in advance and allow plenty of time as there will be special arrangements in place, particularly in the West End and parts of Central London."</p>
<p>The changes to normal service patterns will have the greatest impact on those travelling to see the midnight fireworks display above the London Eye. </p>
<p>Special arrangements have been made to deal with the large numbers of people expected to travel to the event, which will also be shown live on BBC1.</p>
<p>The main travel changes on New Year's Eve are:</p>
<ul>
<li>Westminster Tube station will be closed from 9pm until around 3am </li>
<li>Embankment Tube station will be closed from midnight until around 3am and passengers must exit north to Villiers Street. Police and stewards will be available to give directions </li>
<li>Leicester Square Tube station is open for interchange and exit only from 7pm until around 12.15am </li>
<li>Covent Garden Tube station is open for exit only from 7pm until around 3am </li>
<li>Buses on routes through central London will be diverted as necessary from 7.30pm, when roads will be closed in the West End and around Waterloo. During this time, buses will continue running to destinations around the Capital from key points at Aldwych, Green Park station, Hyde Park Corner, Lambeth North, Marble Arch, Tottenham Court Road (Centre Point) and Oxford Circus </li>
<li>Access to Westminster bridge will be from south of the river only between 8pm and 1am </li>
<li>There will be no pedestrian access to the footbridge at Embankment (Golden Jubilee Bridge) from 8pm until crowds have dispersed</li></ul>
<p>Passengers should listen out for any additional travel advice on the night as further station closures may be necessary for crowd control reasons.</p>
<p>Peter Hendy continued: 'I know people out enjoying themselves will join me in thanking our staff, and those of our contractors, who are forgoing their own New Year celebrations to keep transport services running all night. </p>
<p>'I would ask passengers to be patient and follow the directions of staff on the night to ensure the safety and enjoyment of all concerned. And please do take care while travelling on public transport, particularly after a few drinks.'</p>
<p>Further travel advice is available by:</p>
<ul>
<li>Phoning the London Travel Information 24-hour helpline on 020 7222 1234 </li>
<li>Phoning National Rail Enquiries on 08457 484950 </li>
<li>Visiting <a href="http://www.tfl.gov.uk/journeyplanner">www.tfl.gov.uk/journeyplanner</a> or <a href="http://www.nationalrail.co.uk/">http://www.nationalrail.co.uk/</a><br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Thanks to sponsorship from NatWest and the Mayor of London, many transport services will run all night with free travel at the busiest periods. However, there will be some changes to normal services so Londoners and visitors to the Capital are being";}
        
        


 