


@{ViewBag.Title = "Works commence at Earls Court to restore Grade II listed roof";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Works commence at Earls Court to restore Grade II listed roof</h1>
        <div class="content-page-press-release">
        21 December 2006
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Works have started to restore the Grade II listed roof at London Underground's Earl's Court station, as part of the second phase of improvements that will take place at the station.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            The Victorian train shed roof is synonymous with Earl's Court station
                            
                        </p>
                    </div>
                
            
            
            <p>The works, which are being carried out by Metronet, are part of Transport for London's (TfL's) &pound;10bn Investment Programme to improve and expand London's transport network, with more than half being spent on the Tube.</p>
<p>To enable Metronet to carry out the restoration, a protection deck will be constructed to run underneath the entire length of the Victorian train shed roof. </p>
<p>Other improvement works include the refurbishment of the District and Piccadilly platforms, further refurbishment of the Exhibition ticket hall and upgraded lighting to the station.</p>
<p>Bob Thorogood, General Manager of the District line said: "The Victorian train shed roof is synonymous with Earl's Court station and its restoration is part of the second phase of improvement works that will take place at the station. </p>
<p>"To carry out the restoration works, a protection deck will be constructed which will run underneath the entire length of the roof. </p>
<p>"The building of the deck will be carried out during engineering hours to minimise the impact it will have on the 58,000 passengers who use Earl's Court each day. <br><br>"Metronet, who are carrying out the work, have liaised regularly with the local residents to address any concerns they might have about the improvement works."</p>
<p>This protection deck will be supported from scaffold towers constructed in the ticket hall floor and on the District line platforms.<br><br>Roof restoration works are expected to be completed in spring 2008 and the remainder of the improvement works are due for completion in summer 2009. <br></p>
            <ul>
<li>TfL is investing &pound;10 billion to improve and expand London's transport network, over half of that of being spent on the Tube 
</li><li>Metronet Rail SSL is responsible for the maintenance and renewal of the sub surface lines - the Circle, District, Hammersmith &amp; City, Metropolitan and East London lines 
</li><li>Phase one works at Earl's Court were completed in 2004 and these included: the installation of lifts connecting the ticket hall and District line platforms; new help points and CCTV to improve safety and security; the reconstruction of the Earl's Court Road ticket hall to improve traffic flow and reduce congestion 
</li><li>Earl's Court station opened in 1871 and was the first station in London to have escalators installed on 4 October 1911 
</li><li>Piccadilly line services started serving Earl's Court in 1906 
</li><li>The Warwick Road entrance was opened in 1887 
</li><li>58,000 people use Earl's Court station every day</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The works, which are being carried out by Metronet, are part of Transport for London's (TfL's) &pound;10bn Investment Programme to improve and expand London's transport network, with more than half being spent on the Tube.To enable Metronet to carry out";}
        
        


 