


@{ViewBag.Title = "All aboard London's river services for The Mayor's Thames Festival ";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>All aboard London's river services for The Mayor's Thames Festival </h1>
        <div class="content-page-press-release">
        05 September 2011
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        It's all hands on deck this weekend as London River Services and its operators get ready to help celebrate the annual Mayor's Thames event with a very special offer.
        
    </div>



 <div class="on-this-page">
<p>During the whole weekend of 10 and 11 September&nbsp;river operators including Thames Clippers, City Cruises, Crown River Cruises, Turk Launches, Tate to Tate and Parr's Circular Services are offering 2-for-1 tickets (see 'Editor's notes' below&nbsp;for more details)&nbsp;to help visitors make the most of this year's festival.</p>
<p>The festival is a stunning, free celebration of London and its world-famous waterway and is a key highlight in the city's cultural calendar.&nbsp;</p>
<p>Activities take place all over the weekend on the River Thames, the riverside, walkways, roads, bridges, docks and open spaces from Westminster Bridge to Tower Bridge and beyond. </p>
<p>London River Services' piers will be operating throughout the weekend, helping to provide fast and picturesque journeys along the river, passing the London Eye, The Royal Festival Hall and Shakespeare's Globe Theatre along the way.</p>
<p>London's river services will operate normally throughout the weekend.</p>
<p>Andy Griffiths, Head of London River Services, said: 'With a whole host of activities around the river this weekend for both Londoners and visitors alike, there is never a better time to enjoy the Thames Festival than from a scheduled River Bus or River Tour service. </p>
<p>'Our special 2-for-1 ticket offer and clearer passenger information should make it a great time for all.'</p>
<p>For more information about the event and London's river services and the 2-for 1 offer, visit <a href="http://www.thamesfestival.org">www.thamesfestival.org</a> , <a href="http://www.tfl.gov.uk/river">www.tfl.gov.uk/river</a> and <a href="http://www.loveriver.org">www.loveriver.org</a> </p>
<p>
<hr>
</p>
<p><strong>Editor's notes</strong></p>
<ul>
<li>London River Services owns and operates eight piers on the river: Westminster Millennium, Festival, Embankment, Millbank Millennium, Blackfriars Millennium, Bankside, Tower Millennium and Greenwich</li>
<li>To take advantage of the 2-for-1 ticket offer a voucher available at <a href="http://www.loveriver.org">www.loveriver.org</a> needs to be presented</li>
<li>All London River Services piers are accessible and step-free at all states of the tide, allowing easy access for mobility impaired passengers. Most river boats are accessible - passengers should contact boat operators for comprehensive accessibility information when planning their journeys <br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "During the whole weekend of 10 and 11 September&nbsp;river operators including Thames Clippers, City Cruises, Crown River Cruises, Turk Launches, Tate to Tate and Parr's Circular Services are offering 2-for-1 tickets (see 'Editor's notes' below&nbsp;for";}
        
        


 