


@{ViewBag.Title = "Apply for your Zip or Student Oyster photocard soon to avoid paying more";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Apply for your Zip or Student Oyster photocard soon to avoid paying more</h1>
        <div class="content-page-press-release">
        16 September 2011
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London (TfL) is reminding all young Londoners to get free or reduced cost travel by applying for their Oyster photocard as soon as possible. 16+ Zip Oyster photocard holders need to reapply before their cards expire on 30 September.
        
    </div>



 <div class="on-this-page">
<p>Zip Oyster photocards are available to young people, aged between five and 18. </p>
<p>The Mayor and TfL currently provide over 750,000 young people with free or reduced rate travel with a Zip Oyster photocard, which&nbsp;can be used across TfL services. </p>
<p>The typical saving made on an 11-15 Zip photocard is &pound;160 per year.&nbsp;</p>
<p>The amount is even greater for 16+ Zip Oyster cardholders with a typical saving of &pound;450 per year.</p>
<p>Since this summer, applications for the 11-15 Zip card can now be made online by London residents at <a href="http://www.tfl.gov.uk/photocard">tfl.gov.uk/photocard</a> as well as via the Post Office.</p>
<p>Applications for the 16+ Zip Oyster photocard should be made by mid September to ensure cardholders receive their new card before their existing card expires. </p>
<h2>18+ Student Oyster Photocard</h2>
<p>This is available to eligible students enrolled on courses at an education establishment registered with TfL. </p>
<p>18+ Student Oyster photocard holders receive a 30 per cent saving on adult rate Travelcards.</p>
<p>In order to continue to improve our customers' experience, we've made the application process faster and easier by moving it solely online. </p>
<p>Visit <a href="http://www.tfl.gov.uk/photocard">tfl.gov.uk/photocard</a>&nbsp;for more details.</p>
<p>In addition 18+ Student Oyster photocard holders that have a multi-year photocard can save &pound;10 by confirming their continued eligibility and that they still attend the same college or university. </p>
<p>Holders should log onto their 18+ web account at tfl.gov.uk/photocard and confirm their details by 14 October 2011.</p>
<p>Steve Burton, TfL's Director of Community, Safety, Enforcement and Policing, said: 'We want all young Londoners to make the most of the travel concessions on offer to them and apply for or renew their Zip card with ample time for them to be processed. </p>
<p>'Once issued, we hope cardholders will hold onto their Zip by maintaining good behaviour on public transport.'&nbsp; </p>
<p>All young Oyster photocard holders are urged to keep to TfL's Young Persons' Behaviour Code and respect other passengers or risk losing their Oyster photocard and its benefits.</p>
<p>
<hr>
</p>
<p><strong>Notes to editors</strong></p>
<ul>
<li>All Zip Oyster photocard applications made at the Post Office must be supported by proof of identity of the parent or guardian signing the application form and proof of age of the applicant.&nbsp; It must be one of the following and should be dated in the last three months: <br>Proof of parent/guardian ID, Residential utility bill, Council tax bill, bank, building society or credit card statement, Council or housing association rent book or statement, Driving licence (full or provisional)</li>
<li>Proof of age of the applicant, either: Passport, ID card from a European Economic Area country, Birth certificate or Driving licence (full or provisional)</li>
<li>Eligible 16+ Oyster photocard holders aged 16 or 17 and holders of 11-15 Oyster photocards should apply for their cards in September to continue to get free bus and tram travel</li>
<li>Under 16s can buy child-rate and Day Travelcards and on Tube services pay the cash single fare without a Zip Oyster photocard. The Zip Oyster photocard allows child-rate pay as you go which is cheaper than cash fares. They can also buy child-rate Travelcard season tickets with an Oyster photocard</li>
<li>11-15-year-olds and those eligible for the 16+ scheme who do not have a valid Oyster photocard must pay the full adult cash fare on buses and trams until they get one</li>
<li>A non-refundable &pound;10 administration fee will be payable for all applications for Zip Oyster photocards.The administration fee for the 18+ Student Oyster photocard is also &pound;10. The &pound;10 charge is to contribute to TfL's administration costs of the concessionary schemes, including processing application forms, photocard production and postage. </li>
<li>Zip applications need to be supported by proof of identity for the parent or guardian signing the application form, proof of age of the applicant, a photograph of the applicant and &pound;10 fee. 16+ applicants for free travel need to have their forms validated by their school, college or training provider and provide proof that they live in a London borough</li>
<li>If an Oyster photocard has been lost, stolen or damaged the cardholder will have to reapply at tfl.gov.uk/photocard to get a replacement and pay a non-refundable fee of &pound;10</li>
<li>Information is also available in Bengali, Chinese, Czech, French, Greek, Gujarati, Hindi, Punjabi, Spanish, Turkish and Vietnamese</li>
<li>Non-London residents can apply for a Zip Oyster photocard online at tfl.gov.uk photocard (for children aged between 5 and 17) and are also subject to the &pound;10 administration fee<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Zip Oyster photocards are available to young people, aged between five and 18. The Mayor and TfL currently provide over 750,000 young people with free or reduced rate travel with a Zip Oyster photocard, which&nbsp;can be used across TfL services. The";}
        
        


 