


@{ViewBag.Title = "Bendy buses banished from route 73 ";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Bendy buses banished from route 73 </h1>
        <div class="content-page-press-release">
        05 September 2011
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Another 43 bendy buses have been banished from the streets of London as part of the Mayor's campaign to rid the Capital of these large vehicles.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"We are removing the hardcore fare evaders favourite form of transport and we hope to see a boost to revenue on this route as a result"</div>
        <div class="quote-footer">
            <div class="quotee-name">Boris Johnson</div>
            <div class="quotee-job-title">the Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            We are removing the hardcore fare evaders favourite form of transport and we hope to see a boost to revenue on this route as a result
                            
                        </p>
                    </div>
                
            
            
            <p>Passengers using the route 73, which runs between Stoke Newington and Victoria, will now be served by a fleet of double deck buses. </p>

<p>The conversion of route 73 means that seven of London's 12 bendy bus routes have now been converted to single and double deck buses. </p>
<p>It is now only a matter of months before the last of the buses leave the Capital as the remaining five routes will be converted to double deck buses by the end of the year. </p>
<p>Transport for London now estimates that when every bendy bus route has been converted fare evasion will be cut by around &pound;7.4m a year. </p>
<p>Boris Johnson, the Mayor of London, said: 'These ginormous machines are far more suited to the wide open vista of a Scandinavian airport than London's narrow streets and I am delighted that another London bus route has seen the back of them. Equally pleasing is that we are removing the hardcore fare evaders favourite form of transport and we hope to see a boost to revenue on this route as a result.'</p>
<p>Brand new double deck buses are now being introduced on the route with around half of the service run using hybrid buses, which are cleaner, quieter and lead to a substantial reduction in road pollution and carbon dioxide emissions.&nbsp;</p>
<p>The buses are powered by a conventional diesel engine that works together with an electric motor to power the vehicle, and energy that would normally be wasted when the vehicle brakes is recycled to power the motor. </p>
<p>The passenger experience will also be improved on all the buses by providing extra seating and improved air cooling. </p>
<p>Route 73 buses have historically provided an infrequent and ad hoc extended service from Stoke Newington to Seven Sisters when buses returned to their depot.&nbsp;</p>
<p>However changes to local depot arrangements mean this service will now be withdrawn.&nbsp; </p>
<p>A frequent service over this section is still available on routes 149, 243 and 476, with route 67 also serving the section between Stamford Hill and Stoke Newington.&nbsp; </p>
<p>
<hr>
<strong>Notes to editors</strong> 
<ul>
<li>Routes 38, 507 and 521 were converted in 2009, routes 18 and 149 in 2010 and route 25 in June 2011 </li>
<li>The remaining routes - 12, 29, 207, 436 and 453 - will have their bendy buses replaced with double deck buses by the end of 2011 </li>
<li>Route 73 runs between Victoria and Stoke Newington</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Passengers using the route 73, which runs between Stoke Newington and Victoria, will now be served by a fleet of double deck buses. The conversion of route 73 means that seven of London's 12 bendy bus routes have now been converted to single and double";}
        
        


 