


@{ViewBag.Title = "Blooming marvellous - Tube garden competition winners announced";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Blooming marvellous - Tube garden competition winners announced</h1>
        <div class="content-page-press-release">
        08 September 2011
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        The winners of Underground in Bloom, the Tube's own annual gardening competition, were announced yesterday at City Hall.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"These awards recognise the great effort all our staff have made."</div>
        <div class="quote-footer">
            <div class="quotee-name">Howard Collins</div>
            <div class="quotee-job-title">LU Chief Operating Officer</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            These awards recognise the great effort all our staff have made.
                            
                        </p>
                    </div>
                
            
            
            <p>Green-fingered London Underground (LU) staff have been competing to grow the most beautiful roses, the tallest runner beans and tastiest strawberries in gardens across the network. </p>
<p>All this gardening work is done in the employees' own free time.</p>
<p>The colourful hanging baskets and flower beds also help to make the stations more welcoming and attractive for customers. </p>
<p>Entries for the fruit and vegetable category - which was introduced only last year as part of the Mayor's Capital Growth programme - had doubled. </p>
<h2>Outstanding floral display</h2>
<p>North Acton Tube station scooped the cultivated garden award with their two giant man-made flower beds, Hampstead won the fruit and vegetable category for growing a variety of edible treats in a challenging environment while Perivale stole the best tubs prize for their outstanding floral display. </p>
<p>The team of judges agreed that the standard of entries was extremely high this year. </p>
<p>Entrants received extra points for 'greener' gardens. </p>
<p>The impact the whole display had on customers and staff was also an important factor for the judges.&nbsp; </p>
<p>Howard Collins, Chief Operating Officer for London Underground, said: 'Every year the standard of entries seems to grow and grow. </p>
<h2>Great effort</h2>
<p>'I'd like to thank everybody for their hard work and the way they have transformed our stations into bright and colourful places for our customers to enjoy. </p>
<p>'These awards recognise the great effort all our staff have made.'<br>&nbsp;<br>This year over 70 stations, depots and service control rooms took part in the competition. </p>
<p>Mike Brown, Managing Director for LU and Howard Collins, Chief Operating Officer for LU, both attended the awards ceremony. <br></p>
<p>
<hr>

<p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>Some of the winners include:<br>Hanging Baskets<br>1.&nbsp;Bromley-by-Bow station<br>2.&nbsp;Northwood Hills station<br>3.&nbsp;High Barnet station and Stratford Market Depot</li></ul>
<ul>
<li>Cultivated Garden<br>1.&nbsp;North Acton station<br>2.&nbsp;Upminster Train Crew Accommodation<br>3.&nbsp;Northumberland Park Depot</li></ul>
<ul>
<li>Fruit and Veg<br>1.&nbsp;Hampstead station<br>2.&nbsp;Brent Cross station<br>3.&nbsp;Greenford station and Warwick Avenue station</li></ul>
<ul>
<li>Tubs<br>1.&nbsp;Perivale station<br>2.&nbsp;South Kensington station<br>3.&nbsp;Osborne House Service Control Centre, Arnos Grove Train Crew Accommodation and Greenford station</li></ul>
<ul>
<li>Best Newcomer<br>1.&nbsp;Arnos Grove Train Crew Accommodation<br>2.&nbsp;Osborne House Service Control Centre<br>3.&nbsp;Neasden station and West Harrow station</li></ul>
<ul>
<li>Dennis Sanger Chief Operating Officer 'Special' Award<br>Winner: Finchley Central station<br>Runner up: Acton Town station</li></ul>
<ul>
<li>Best Overall Garden 'Sandra Wilkes' Award<br>1.&nbsp;Arnos Grove Train Crew Accommodation<br>2.&nbsp;North Acton station<br>3.&nbsp;Hampstead station</li></ul>
<ul>
<li>Capital Growth is a partnership initiative between London Food Link, the Mayor of London Boris Johnson, and the Big Lottery's Local Food Fund. It is championed by the Chair of the London Food Board Rosie Boycott and aims to create 2012 new community food growing spaces across London by the end of 2012.&nbsp;Capital Growth offers practical help, grants, training and support to groups wanting to establish community food growing projects as well as advice to landowners. Capital Growth is also working with large organisations such as Transport for London and British Waterways along with borough food growing programmes such as Edible Islington </li>
<li>The Tube is undergoing a huge and essential programme to upgrade its ageing infrastructure - vital to cope with a growing population and to support the economic development and growth of the Capital and the UK. This includes the introduction of new track and signalling and the rebuilding of some of our most important stations. By the end of the current programme there will be 30 [per cent more capacity. This will inevitably result in some disruption for passengers, but TfL is working hard to provide information and alternative travel options. The work is essential to provide for London's growing transport needs now, and into the future. TfL is urging all Londoners and Tube, London Overground, London Tramlink and DLR passengers to 'check before you travel' at weekends, allowing extra journey time where necessary. Weekend travel news is available at <a href="http://www.tfl.gov.uk">www.tfl.gov.uk</a> </li>
<li>The images below are samples of larger images available on request <br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Green-fingered London Underground (LU) staff have been competing to grow the most beautiful roses, the tallest runner beans and tastiest strawberries in gardens across the network. All this gardening work is done in the employees' own free time.The";}
        
        


 