


@{ViewBag.Title = "Bus diversions affecting services in the City";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Bus diversions affecting services in the City</h1>
        <div class="content-page-press-release">
        18 September 2011
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Bus diversions will be introduced on parts of Bishopsgate, Gracechurch Street and Threadneedle Street in the City to allow essential work to be undertaken by UK Power Networks to provide power supplies for four new developments in the area.
        
    </div>



 <div class="on-this-page">
<p>The works will commence on Monday 19 September and are expected to be completed by the end of February 2012.&nbsp; </p>
<p>They will affect all northbound services and drivers are advised to avoid the area.</p>
<p>Southbound services are unaffected.</p>
<p>Routes 8, 26, 242, 388, N8 and N26 will be diverted via Cornhill, Leadenhall Street and Aldgate.&nbsp; </p>
<p>Routes 35, 47, 48, 149, 344 and N35 will be diverted via Fenchurch Street and Aldgate.&nbsp; </p>
<p>From Aldgate, the routes above will then run along Dukes Place, Bevis Marks and Camomile Street and will then turn right onto Bishopsgate and continue on their normal route.&nbsp; </p>
<p>Buses will continue to serve their usual stops on Bishopsgate adjacent to Liverpool Street station.</p>
<p>Transport for London (TfL) is also encouraging other utility providers to complete works they have due in the area while these cabling works are under way.&nbsp; </p>
<p>Currently plans are being finalised for six other utilities to carry out works during this time.&nbsp; </p>
<p>This approach will help minimise any future passenger disruption in the area.</p>
<p>Leon Daniels, TfL's Managing Director of Surface Transport, said: 'We have been in touch with UK Power Networks to emphasise the importance of doing these works rapidly and efficiently and will stay in close touch with them as the works commence to ensure that disruption is kept to a minimum.'</p>
<p>Details of stopping arrangements during the works will be available at local bus stops, or call London Buses customer services on&nbsp;0845 300 7000 or visit&nbsp;<a href="http://www.tfl.gov.uk/livetravelnews">tfl.gov.uk/livetravelnews</a></p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The works will commence on Monday 19 September and are expected to be completed by the end of February 2012.&nbsp; They will affect all northbound services and drivers are advised to avoid the area.Southbound services are unaffected.Routes 8, 26, 242,";}
        
        


 