


@{ViewBag.Title = "Chart toppers Rizzle Kicks team up with TfL to help reduce teenage road casualties in London";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Chart toppers Rizzle Kicks team up with TfL to help reduce teenage road casualties in London</h1>
        <div class="content-page-press-release">
        26 September 2011
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Young Londoners are being asked to come up with ideas to help their peers avoid road accidents for the chance to meet chart toppers Rizzle Kicks.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Every single death on London's roads is a tragedy, and teenagers are less experienced and more at risk than any other age group in the Capital. So while the number of deaths and injuries is falling, we are determined to drive it down further"</div>
        <div class="quote-footer">
            <div class="quotee-name">Boris Johnson</div>
            <div class="quotee-job-title">Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Every single death on London's roads is a tragedy, and teenagers are less experienced and more at risk than any other age group in the Capital. So while the number of deaths and injuries is falling, we are determined to drive it down further
                            
                        </p>
                    </div>
                
            
            
            <p>Last year 258 teenagers were killed or seriously injured on London's roads&nbsp;and distractions such as using mobile phones, MP3 players and talking to friends&nbsp;were often contributory factors.</p>
<p>The Mayor of London&nbsp;and Transport for London (TfL)&nbsp;are determined to educate youngsters to avoid these dangers, and this competition is part of an ongoing campaign to improve teen road safety. </p>
<p>Popular website Teen Today - <a href="http://www.teentoday.co.uk">www.teentoday.co.uk</a>&nbsp;- has signed up to this year's campaign asking young Londoners to come up with a road safety distraction slogan. </p>
<p>The teen who comes up with the best slogan will win a 'distraction date' along with two friends with Rizzle Kicks, who recently dominated the charts with a number one and a number eight single in the same week. </p>
<p>The band are kindly donating their time to support the campaign for free.</p>
<p>Teenagers are a vulnerable road user group. </p>
<p>Last year the number of teenagers killed or seriously injured on London roads fell 14 per cent to 258 compared to 301 in 2009.</p>
<p>Since 2000, the figure has fallen by 62 per cent. </p>
<p>Despite this steady improvement, the Mayor and TfL are committed to raising awareness of the dangers when using the roads. </p>
<p>Last year stars including Wretch 32, Tinie Tempah and Eliza Doolittle recorded <a href="http://www.youtube.com/watch?v=WXBMf1-_yJ4&feature=relmfu  ">video clips</a> free of charge which they then uploaded onto their social media sites.&nbsp;<a href="http://www.youtube.com/watch?v=WXBMf1-_yJ4&feature=relmfu"></a>&nbsp; </p>
<p>Mayor of London Boris Johnson said: 'Every single death on London's roads is a tragedy, and teenagers are less experienced and more at risk than any other age group in the Capital. </p>
<p>'So while the number of deaths and injuries is falling, we are determined to drive it down further, and get the message out to our youngsters to take extra care.'</p>
<p>Rizzle Kicks said: 'We can relate to the message of getting distracted on the roads, that's why we've decided to support the campaign. </p>
<p>'The teen road safety campaign is important to us and we're happy to support it through this competition.'</p>
<p>Lilli Matson, Head of Delivery Planning for Better Routes and Places at TfL said: 'The ongoing fall in casualties shows that TfL's teen road safety campaign has really been making a difference, however we know that our work is far from done. </p>
<p>'It is easy to become distracted on the road, but it is vital that teenagers pay careful attention when using them. </p>
<p>'With the start of the new academic year, we look forward to continuing our campaign, this time by emphasising the importance of avoiding distractions on the road to the Capital's young people.'</p>
<p>
<hr>

<p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>In May 2011 the Government published its new national Strategic Framework for Road Safety (SFRS). The SFRS's long-term vision is to ensure that Britain remains a world leader on road safety and in support of this ambition expects local government to continue to prioritise road safety and to continue to seek improvements. The SFRS emphasises the importance of local decision making to reflect local road safety priorities, which will be reflected by TfL's new&nbsp;Road Safety Plan </li>
<li>TfL&nbsp;is currently working on a new Road Safety Plan for London to cover the period 2011-20 building on the success of the previous Plan which set targets in the following areas and then extended them in 2006:&nbsp; 
<ul>
<li>All Killed or Seriously Injured (KSI)s reduced by 40 per cent </li>
<li>Pedestrian KSIs reduced by 40 per cent </li>
<li>Cyclist KSIs reduced by 40 per cent </li>
<li>Powered two-wheeler KSIs reduced by 40 per cent </li>
<li>Child KSIs reduced by 50 per cent </li>
<li>All slight injuries reduced by 10 per cent</li></ul></li>
<li>London exceeded the 2010 targets set by the Government for the number of children KSIs and the total number of KSIs three years early. London has also met the more stringent London target of 60 per cent reduction in the number of children (aged 15 and younger) KSIs and is working to further reduce the number of casualties </li>
<li>Read the '<a href="http://www.tfl.gov.uk/corporate/projectsandschemes/roadsandpublicspaces/2840.aspx">Casualties in Greater London during 2010</a>' report </li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Last year 258 teenagers were killed or seriously injured on London's roads&nbsp;and distractions such as using mobile phones, MP3 players and talking to friends&nbsp;were often contributory factors.The Mayor of London&nbsp;and Transport for London";}
        
        


 