


@{ViewBag.Title = "Expert guides help uncover the treasures of London this autumn on 60 awesome ambles ";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Expert guides help uncover the treasures of London this autumn on 60 awesome ambles </h1>
        <div class="content-page-press-release">
        19 September 2011
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Sixty free guided walks across London over the weekend. Short strolls and longer wanders to discover the hidden gems in the heart and soul of the city.
        
    </div>



 <div class="on-this-page">
<p>Don't miss the opportunity this weekend to explore London on foot, by sampling one of 60 free walks led by expert guides.</p>
<p>This year's 'Autumn Ambles' take place on Saturday 24 and Sunday 25 September and the Mayor and Transport for London (TfL) are urging Londoners of all ages and abilities to venture out and explore all that makes London such a vibrant city. </p>
<p>The walks range from one and a half to 11 miles so there will be something for everyone.</p>
<p>Some of the walks will pass by London's new sporting venues giving autumn amblers the opportunity to visit the London 2012 Olympic and Paralympic Games sites before the sporting spectacular kicks off next summer.&nbsp; </p>
<p>The Autumn Ambles weekend&nbsp; is one of three free guided walking weekends that take place every year, organised by Walk London and funded by TfL. </p>
<p>The walks support the Mayor's vision to make London one of the most walking-friendly cities in the world by 2015 by encouraging Londoners' to walk the city as part of their everyday lives. </p>
<p>To find out more about the walks near you and to register your interest, visit <a href="http://www.walklondon.org.uk">www.walklondon.org.uk</a></p>
<p>Current initiatives to make London a more walkable city include improvements to London's streets through the Great Outdoors programme, creating better public places and improving walking information around the city through Legible London.</p>
<p>October is International Walk to School Month and TfL will be supporting London schools to encourage both children and parents to ditch the school run in the popular Big WoW (Walk Once a Week) campaign.</p>
<h2>See more of London</h2>
<p>The Mayor of London, Boris Johnson, said: 'Walking around London is one of the best ways to discover hidden nooks and crannies that make our great city so endlessly fascinating. </p>
<p>'It can be a surprisingly speedy and certainly a healthy way to get from A to B, especially for shorter trips.</p>
<p>'This year with many parts of London changing in readiness for the Olympic and Paralympic Games, getting out on foot is a great way to see the city's transformations before the eyes of the world are upon us. </p>
<p>'It's history in the making on your doorstep which is set to leave London with a lasting legacy.'</p>
<p>All walks start and finish either at, or are within easy reach of public transport terminals and explore sections of the city's seven most popular routes which are:</p>
<ul>
<li>Capital Ring Walk -Fifteen easily walked sections combine to provide a 78-mile circular route around Inner London - some of the attractions on this route include Eltham Palace, Richmond Park, Wimbledon Common, the Olympic Park and the Thames Barrier</li>
<li>Green Chain Walk - 50 miles of linked parks and open spaces that include&nbsp;Severndroog Castle, Crystal Palace Park and Oxleas Woods</li>
<li>Jubilee Walkway - 15 miles of path designed to connect London's key attractions and many of the city's most famous sights including Buckingham Palace, Trafalgar Square, the Tower of London, Tower Bridge and St Paul's Cathedral</li>
<li>Lea Valley Walk - 18 miles of path following the river and canal in north east London, taking in Tottenham Marshes, Enfield Lock and Waltham Abbey</li>
<li>LOOP Walk (London Outer Orbital Path) - 152 miles of parks and paddocks including Hall Place, Wilberforce Memorial and Kenley Aerodrome</li>
<li>Thames Path Walk - 40 miles of level walks from Hampton Court Palace through the heart of London to Erith Marshes. Sights include the Houses of Parliament, Albert Bridge, Syon Park and Kew Gardens</li>
<li>The Jubilee Greenway Walk- Marking Her Majesty The Queen's Diamond Jubilee 60km of path connect all the central London Games time sites including the 02 Arena, Greenwich Park, Horse Guards Parade, Hyde Park and Regent's Park</li></ul>
<h2>Encouraging walking</h2>
<p>Ben Plowden, Director of Better Routes and Places at TfL, said: 'We are determined to build on the quarter of all journeys made on foot in the Capital by continuing to invest in better and friendlier streets as well as open spaces to encourage more walking trips. </p>
<p>'In the hands of expert guides this weekend, you are sure to fall in love with what this world class city has to offer.'</p>
<p>This year Autumn Ambles also coincides with the National Walk4Life Day which falls on Sunday 25 September and will be celebrating walking across the UK.</p>
<p>Jim Walker, Walk England CEO, who is coordinating the Walk London project on behalf of TfL, said: 'We've been improving these routes with the support of The Mayor and TfL for the last eight years to make them one of the best networks in the world.&nbsp; </p>
<p>'We hope this autumn that we can encourage you to also turn over a new leaf, inspired by one of our free walks, and join the thousands of people who are already enjoying them on a daily basis as a great way to get about London.'</p>
<p>
<hr>

<p>
<p><strong>Notes to editors</strong>:</p>
<ul>
<li>Autumn Ambles are held on the last weekend in September each year, and form one of three annual guided walking weekends promoted by the Walk London project. The other two guided walking events are Spring into Summer (May) and Winter Wanders (January)</li>
<li>Nearly 10,000 people took part in the TfL-supported Walk London weekends last year</li>
<li>London's most popular walks are made up of seven paths promoted in easily manageable sections: Loop Walk (24 sections, 152 milesin total), Capital Ring Walk (15 sections, 78 miles in total), Lea Valley Walk (six sections, 18 miles in total), Thames Path Walk (four sections, 40 miles in total), Green Chain Walk (11 sections, 50 miles in total), Jubilee Walkway (five sections, 15 miles in total), Jubilee Greenway Walk (10 sections, 37 miles in total)</li>
<li>More than 612,000 walking maps, directions and audio guides are downloaded from Walk London's website annually resulting in more than&nbsp;seven million people on the network each year</li>
<li>The Great Outdoors Programme will see &pound;220m invested in more than 50 of the Capital's public spaces that will ensure London's streets, squares, parks and water spaces are appropriate for a world-class city</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Don't miss the opportunity this weekend to explore London on foot, by sampling one of 60 free walks led by expert guides.This year's 'Autumn Ambles' take place on Saturday 24 and Sunday 25 September and the Mayor and Transport for London (TfL) are urging";}
        
        


 