


@{ViewBag.Title = "Going to Westfield Stratford City";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Going to Westfield Stratford City</h1>
        <div class="content-page-press-release">
        12 September 2011
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London (TfL) today advised shoppers travelling to the new Westfield Stratford City to plan their journey and take advantage of new and upgraded transport links to the area, of all of which are now complete and open to customers.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"We have transport and traffic plans in place to manage the increase in people travelling to Westfield. However, these plans are very different to those we will put in place during the Games, when 100 per cent of spectators will travel by public transport."</div>
        <div class="quote-footer">
            <div class="quotee-name">Peter Hendy</div>
            <div class="quotee-job-title">London's Transport Commissioner</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            We have transport and traffic plans in place to manage the increase in people travelling to Westfield. However, these plans are very different to those we will put in place during the Games, when 100 per cent of spectators will travel by public transport.
                            
                        </p>
                    </div>
                
            
            
            <p>Information on the transport improvements and on how to plan your journey in advance is available from the TfL website at <a href="http://www.tfl.gov.uk">tfl.gov.uk</a>.</p>
<p>Hundreds of millions of pounds have been invested by partners including the Mayor, TfL and the Olympic Delivery Authority (ODA) in new and upgraded stations and transport links to Stratford.&nbsp;</p>
<p>The improvements are part of a &pound;6.5bn investment across London and the UK, delivering a transport legacy well ahead of the London 2012 Games from which the capital will benefit for decades to come.</p>

<h2>Stratford connections</h2>
<p>At Stratford Regional station the upgrades and enhancements made mean that capacity has trebled to accommodate 120,000 people at the busiest times.&nbsp; </p>
<p>A&nbsp;new Northern Ticket Hall connects the station directly with Westfield Stratford City and a new pedestrian bridge links Westfield with the station and will provide a key gateway to the Olympic Park during the London 2012 Games.</p>
<p>In total, seven rail lines now serve Stratford Regional and Stratford International stations.&nbsp; </p>
<p>Four bus routes will serve the new Stratford City Bus station.&nbsp;The new and improved transport links include:</p>
<ul>
<li>The upgrade of the Jubilee and Central lines, delivering faster, more frequent and reliable train services </li>
<li>The extension of the Docklands Light Railway (DLR), with four new stations, linking Stratford International to Canning Town </li>
<li>The introduction of three-carriage trains across the whole DLR network, increasing capacity by 50 per cent </li>
<li>New air-conditioned trains and more frequent services on the London Overground's North London line </li>
<li>Upgrades to the Great Eastern Main Line and Lea Valley lines </li>
<li>Hi-speed train services from St Pancras to Stratford International, operated by Southeastern trains on the High Speed One line and which will operate as the Javelin service during the London 2012 Games </li>
<li>A new Stratford City Bus Station and new and extended bus routes (see Notes to Editors)</li></ul>
<p>&nbsp;London's Transport Commissioner, Peter Hendy said:</p>
<p>'With our partners, we've invested to ensure all transport improvements are complete ahead of the opening of Westfield Stratford City and well ahead of the London 2012 Games.&nbsp;This part of east London is now one of the best connected in the country and Londoners are already benefitting from this early legacy.</p>
<p>'We have transport and traffic plans in place to manage the increase in people travelling to Westfield. However, these plans are very different to those we will put in place during the Games, when 100 per cent of spectators will travel by public transport, walking or cycling.</p>
<p>'Our message to shoppers is if you're going to Stratford, plan your journey in advance at <a href="http://www.tfl.gov.uk">www.tfl.gov.uk</a> and take advantage of the new and improved public transport links.'</p>
<p>Westfield Stratford City has made provision for parking for up to 5,000 vehicles at the site.&nbsp;TfL and Westfield have worked together to ensure full traffic management plans are in place, however, roads in the area are likely to be busier than usual at times due to the number of people expected to travel by car.&nbsp; </p>
<h2>Safety first</h2>
<p>The London Organising Committee of the Olympic Games and Paralympic Games (LOCOG) has confirmed that it will be operating security checks on vehicles entering the public car park at the new Westfield shopping centre in its first year of operation.</p>
<p>Due to the centre's proximity to the Olympic Park, the vehicle screening areas (VSAs) are operational from now until the end of the Olympic and Paralympic Games in September 2012.&nbsp; </p>
<p>LOCOG will be working with its security provider G4S to operate vehicle screening areas, providing security checks on vehicles.&nbsp;</p>
<p>The screening areas will be similar to others which operate at shopping centres in secure areas and will be based at Warton Road, Penny Brookes Street and the Lea Interchange off the A12.&nbsp; </p>
<p>Security checks will have minimal impact on shoppers' journeys with vehicles chosen to be searched directed out of the traffic flow to be checked before continuing their journey into Westfield car parks.</p>
<p>Over the last 10 months, London 2012 has undertaken a local consultation and communications programme aimed at local residents, especially in the Warton Road area, to ensure the plans have as little impact as possible on the daily lives of local residents.&nbsp; </p>
<p>LOCOG Chief Executive Officer Paul Deighton said:</p>
<p>'Delivering a safe and secure Games is a key priority for everyone involved in London 2012.&nbsp;With Westfield so close to the Olympic Park and with vehicle access to it directly accessed from the Park, it is an obvious and important part of our security plans.&nbsp; </p>
<p>'We will make the checks as quick and unobtrusive as possible - we are confident that shoppers will recognise the need for us to be vigilant and carry out these checks.&nbsp;We are also committed to working with the local community to ensure that vehicle screenings have a minimal impact on their daily lives.'</p>
<p>
<hr>
<strong>Notes to Editors</strong> 
<ul>
<li>During the London 2012 Games all spectators will travel to the Games by public transport, walking and cycling </li>
<li>TfL is improving services for bus passengers to areas surrounding Stratford.&nbsp;From Tuesday, 13 September four routes will call at the new Stratford City bus station next to the main entrance of the shopping centre </li>
<li>Route 97 from Chingford, Walthamstow and Leyton, route 241 from Custom House and Plaistow, route 339 from Shadwell and Old Ford, and route D8 from the Isle of Dogs and Bow will all serve the new bus station.&nbsp;Route D8 will no longer go to the existing bus station. Routes 97 and 339 are serving the Stratford area for the first time, giving direct links to wider interchange opportunities as well as to the new shopping centre. </li>
<li>All other routes in Stratford town centre will continue with temporary stopping arrangements until the existing Stratford bus station reopens in mid October </li>
<li>Passengers will be able to check changes to the routes in leaflets and posters in the area<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Information on the transport improvements and on how to plan your journey in advance is available from the TfL website at tfl.gov.uk.Hundreds of millions of pounds have been invested by partners including the Mayor, TfL and the Olympic Delivery Authority";}
        
        


 