


@{ViewBag.Title = "Green wall for Edgware Road Tube station to trap harmful pollution ";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Green wall for Edgware Road Tube station to trap harmful pollution </h1>
        <div class="content-page-press-release">
        26 September 2011
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Around 500 new trees will be planted close to busy roads in London to trap pollution.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"We are beginning to implement a number of projects from the Clean Air Fund now and Londoners are likely to start noticing these."</div>
        <div class="quote-footer">
            <div class="quotee-name">Garrett Emmerson</div>
            <div class="quotee-job-title">Chief Operating Officer at TfL</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            We are beginning to implement a number of projects from the Clean Air Fund now and Londoners are likely to start noticing these.
                            
                        </p>
                    </div>
                
            
            
            <ul>
<li>Transport for London (TfL) is working with more than 100 businesses to reduce their PM10 emissions </li>
<li>Dust suppressants trial will continue on Victoria Embankment, Marylebone Road and Park Lane</li></ul>
<p>More measures to clean up London's air in areas of busy traffic have been unveiled by the Mayor today. </p>
<p>This includes the announcement that Edgware Road Tube station will soon feature an innovative 'green wall' to help trap harmful pollution. </p>
<p>The initiatives, announced on World Environmental Health Day, are part of the London Clean Air Fund financed by the Department for Transport (DfT) at the Mayor's request, which could reduce levels of PM10 - a pollutant coming mostly from traffic emissions - by between 10 and 20 per cent where applied. </p>
<h2>Local hot spots</h2>
<p>Air quality modelling shows that the vast majority of London already meets the European Commission limit value for annual average PM10, but there are some local hot spots identified as being 'at risk' of exceeding limits. </p>
<p>The European Commission recently confirmed to the UK government that the Mayor's plans to reduce PM10 pollution by a third by 2015 - including the work of the Clean Air Fund - has reduced the threat of hefty fines. </p>
<p>The latest developments include: </p>
<ul>
<li>Expansion of green infrastructure programme - the unveiling of designs for a Green Wall at Edgware Road (Bakerloo line) Tube station, which is due to be in place by November, and plans for around 500 new street trees and shrubs will be planted in the next few months, subject to suitable planting conditions, including on Park Lane, Upper Thames Street, Western Avenue (A40), Old Kent Road (A2), Brixton Road (A23) and&nbsp;Woolwich Flyover (rear of Tunnel Ave) </li>
<li>Launch of business best practice guides - Transport for London (TfL) has called on business to cut their emissions following the launch of best practice guides - these will encourage walking and cycling especially within central London organisations and includes a Clean Air Fund financed trial of electric pool bikes designed to give staff extra pedal power and cut down on unnecessary car journeys </li>
<li>Dust suppressants trial will be expanded in October at Marylebone Road, Victoria Embankment and Park Lane</li></ul>
<p>The Mayor of London, Boris Johnson, said: 'This is a great example of how we are trying to put the best of the village into the city and work together to create cleaner air for London, and with this latest set of innovations, our assault on pollution - especially near to the busiest roads - is continuing apace. </p>
<p>'Improving quality of life and greening the Capital go hand-in-hand, and these fantastic initiatives are vital steps in the right direction.' </p>
<h2>Green walls and screens</h2>
<p>Studies across Europe and the USA have shown the potential of vegetation, including trees and plants, to trap PM10. </p>
<p>TfL is currently introducing a range of green infrastructure measures to help improve local air pollution. </p>
<p>This work involves the trial of green walls and screens in addition to the 50 6ft planted towers, tree and shrub planting at PM10 hot spots. </p>
<p>From early November a green wall is due to be installed at Edgware Road Tube station on the Bakerloo line, adjacent to Marylebone Road, around 180 square metres of vegetation will cover the wall. </p>
<h2>Walk and cycle</h2>
<p>It will be planted with a mixture of evergreen and perennial plants which have been carefully selected to trap PM10 and known to survive in a roadside environment.&nbsp;&nbsp; </p>
<p>Ahead of launching its best practice guides, TfL has been working with around 120 businesses located within PM10 hot spots including the National Union of Students and Cartwright Pickard Architects.</p>
<p>The guides will provide further information on how businesses can encourage staff to walk and cycle more as part of their commute and travelling to and from business meetings.&nbsp; </p>
<p>As part of this programme TfL has the use of 12 electric pool bikes provided by Trek, which are being trialled by selected businesses to provide an alternative means of travel for business meetings.&nbsp;</p>
<h2>More active</h2>

<p>TfL is also working in partnership with the Central YMCA who are providing workplace activator training, which promotes walking by staff, helping organisations to help relieve congestion as well as improve air quality. </p>
<p>Robin Gargrave, Director of Innovation and Development at Central YMCA, said: 'Central YMCA are delighted to be working with TfL to help get London's workforce more active. </p>
<p>'Active transport in the form of walking will contribute to individual health, employee productivity and improved air quality. </p>
<p>'Driven by the belief that everyone has the right to access the health benefits of physical activity, I believe that the CYMCA 'Workplace Activator' model which trains a cohort of employees to support their colleagues to take up and make walking a habitual method of getting around London, in tandem with the Mayor's clean air programme can support organisations in reducing their environmental impact.' </p>
<h2>Sustainable practices</h2>
<p>The Clean Air Fund measures will be used flexibly where PM10 levels are highest, allowing for the fact that London's pollution levels can be weather dependent and influenced by pollution from outside the Capital. </p>
<p>Garrett Emmerson, Chief Operating Officer at TfL, said: 'Work to increase the green infrastructure will rapidly increase as planting for the green wall at Edgware Road Tube station and a number of trees and shrubs along PM10 hot spots gets under way in November. </p>
<p>'Much work has also been done engaging with businesses to encourage them to consider more sustainable practices and provide support on introducing greener ways of working.</p>
<p>'We are beginning to implement a number of projects from the Clean Air Fund now and Londoners are likely to start noticing these. </p>
<p>'These are measures we can introduce to target local PM10 hotspots and put in place fairly quickly and build on our continuing work to improve air quality across London.'</p>
<p>The Clean Air Fund will fund the following initiatives: </p>
<ul>
<li>A team of five eco-marshals will be visiting taxi ranks in pollution hot spots across the Capital to reduce engine idling time for taxis and minicabs whilst promoting eco-driving courses designed to reduce emissions, as well as save cabbies money through efficient driving techniques </li>
<li>A no-idling campaign to encourage drivers to switch off their engines when stationary </li>
<li>The expansion of a successful 'dust suppressants' trial </li>
<li>Trials of green walls and screens and additional tree and shrub planting </li>
<li>The installation of diesel particulate filters to buses on selected routes running through central London </li>
<li>A programme of engagement with businesses to promote sustainable travel and reduce their air quality impact</li></ul>
<p>In addition, action is being taken to deliver a permanent legacy of cleaner air right across the Capital. </p>
<p>This includes the first ever age limit for black cabs, tighter standards for the Low Emission Zone, cleaner buses, including the New Bus for London and an expanded bike hire scheme.</p>
<p>
<hr>

<p>
<p><br>Notes to editors:</p>
<ul>
<li>In March 2011, the Mayor wrote to the DfT asking for funding in order to develop additional measures focused on reducing PM10 emissions and public exposure at the priority locations in central London. A total of &pound;5m as part of the Clean Air Fund was awarded and the money has to be spent this financial year (2011/12) </li>
<li>Business engagement -&nbsp;New business guides can be found at <a href="http://www.tfl.gov.uk/businessoffers">tfl.gov.uk/businessoffers</a> </li>
<li>Dust suppressants -&nbsp;Dust suppressants have been trialled in Sweden, Norway, Austria, Italy and Germany </li>
<li>Plants will be grown in a peat-free substrate know as Grodan. Grodan has achieved the European Ecolabel for sustainability and is chemically inert </li>
<li>The structure that supports the plants includes a waterproof backing Ecosheet which is manufactured in the UK from recycled material <br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Transport for London (TfL) is working with more than 100 businesses to reduce their PM10 emissions Dust suppressants trial will continue on Victoria Embankment, Marylebone Road and Park LaneMore measures to clean up London's air in areas of busy traffic";}
        
        


 