


@{ViewBag.Title = "Latest figures confirm trend of long-term improvements in Tube performance";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Latest figures confirm trend of long-term improvements in Tube performance</h1>
        <div class="content-page-press-release">
        13 September 2011
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Figures published today by Transport for London show that the Tube's long-term trend of improvement is continuing.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Londoners rightly expect reliable journeys, and we are completely focused on making sure that we deliver that."</div>
        <div class="quote-footer">
            <div class="quotee-name">Mike Brown</div>
            <div class="quotee-job-title">MD of London Underground</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Londoners rightly expect reliable journeys, and we are completely focused on making sure that we deliver that.
                            
                        </p>
                    </div>
                
            
            
            <p>Delays are now down by 35 per cent since the programme of work to upgrade the network began in 2003/04.</p>
<p>At the same time the Tube is carrying record numbers of passengers - 1.1bn last year.</p>
<p>There was a dip in performance in the autumn and winter of 2010/11, attributable to a number of factors including strikes.</p>
<h2>Reliability boost</h2>
<p>Some difficulties also arose with the new systems being introduced to improve capacity and customer journeys on the Jubilee and Victoria lines, reflecting similar experience with other new systems around the world.</p>
<p>LU has since then introduced a programme of actions to improve reliability and speed up incident recovery, and performance has now returned to the levels seen before last year's dip - with delays and Excess Journey Time during the first&nbsp;four periods of this year down to below the levels of last year.</p>
<p>Critical spares and key technical personnel are now being located at a larger range of locations on the network to respond to any incident more quickly, and the prediction and prevention of failures is being improved through greater use of new technology that allows LU to effectively monitor the conditions of track, train and other assets on the railway.</p>
<p>LU is also working closely with suppliers to ensure that new upgraded assets are designed with clear reliability targets specified.</p>
<h2>Improving trend</h2>
<p>The publication of the figures comes at the same time as the release of a report into Tube performance compiled by the London Assembly.</p>
<p>Although there is still a great deal of work to be done performance has improved significantly from the period that the report looks at and LU is working hard to ensure that this trend continues.</p>
<h2>Working with the RMT</h2>
<p>The report also recommends a review of industrial relations following strikes over the last year.</p>
<p>Work is already underway, with LU Managing Director Mike Brown and the RMT's Bob Crow having agreed to a fresh approach including that the union has agreed that any future individual tribunal cases will follow the normal processes for resolving individual disputes, including exhausting the ACAS process, in advance of any ballot for industrial action being called.</p>
<p>Negotiations with all unions on pay and on working arrangements over the Olympics are also continuing positively.</p>
<h2>Upgrade results</h2>
<p>In addition, many improvements have also been made in recent months, including:</p>
<ul>
<li>The completion of the Jubilee line upgrade, delivering more frequent and reliable journeys </li>
<li>A full fleet of new trains on the Victoria line - a vital part of increasing capacity, which is already delivering smoother journeys for customers </li>
<li>Further air-conditioned trains on the Metropolitan line, running into central London for the first time </li>
<li>New fully accessible lifts and the upgrade of Green Park Tube station, making this key interchange station for the London 2012 Games step-free </li></ul>
<h2>Future delivery</h2>
<p>Mike Brown, MD of London Underground said: 'The Tube is approaching 150 years old and we are currently undertaking the biggest upgrade in its history - replacing signaling, trains and track to boost capacity and provide passengers with more reliable and more comfortable journeys.</p>
<p>'This can't be achieved overnight and some disruption is inevitable as the work takes place.</p>
<p>'However, Londoners rightly expect reliable journeys, and we are completely focused on making sure that we deliver that.</p>
<p>'There clearly was a dip in overall performance at the end of last year, but the programme of measures that we have introduced since then has meant that we have turned that around, as the latest figures show.</p>
<p>'Now that we are free from the inefficient PPP, and have completed work on the Jubilee line, we are delivering some huge improvements on the Tube and we continue to make the case to the Government for the investment needed to ensure this continues.</p>
<p>'We will also do all we can to make sure that, where upgrade work means that closures are necessary, we complete the work in the quickest possible time and give our passengers all the information they need on what we are doing and how to avoid disruption.'</p>
<hr>

<p><strong>Notes to Editors</strong></p>
<ul>
<li>The latest performance statistics, covering period up to 23 July 2011, is available on the TfL website or by contacting the TfL Press Office.</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Delays are now down by 35 per cent since the programme of work to upgrade the network began in 2003/04.At the same time the Tube is carrying record numbers of passengers - 1.1bn last year.There was a dip in performance in the autumn and winter of 2010/11,";}
        
        


 