


@{ViewBag.Title = "London Underground confirms results of District line consultation ";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>London Underground confirms results of District line consultation </h1>
        <div class="content-page-press-release">
        28 September 2011
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Almost eighty per cent of passengers in favour of proposed changes. Removal of weekday Kensington (Olympia) service will allow five additional trains on Wimbledon branch during morning peak. New timetable will be introduced in December 2011.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"For District line customers the introduction of the new timetable will reduce delays across the whole line"</div>
        <div class="quote-footer">
            <div class="quotee-name">Mike Brown</div>
            <div class="quotee-job-title">LU's Managing Director</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            For District line customers the introduction of the new timetable will reduce delays across the whole line
                            
                        </p>
                    </div>
                
            
            
            <p>London Underground (LU) announced today that proposed changes to the District line will go ahead following overwhelming support during a public consultation. </p>
<p>The changes will see the withdrawal of the lightly used weekday Kensington (Olympia) service and introduction of additional services on the Wimbledon branch.</p>
<p>Nearly 18,000 customers, local business and stakeholders took part in the consultation earlier this year and almost 80 per cent were in favour of the changes. </p>
<p>The new timetable, which will come into effect in December, will reduce delays and provide capacity for an additional 4,000 passengers every weekday morning on the busy Wimbledon branch, which carries nearly 30 per cent of District line passengers. </p>
<p>In the evening, there will be further capacity for more than 800 people on services to Ealing Broadway and an enhanced late evening service on the Wimbledon branch with six trains per hour until 23:30.</p>
<p>The District line Olympia service will continue to operate at weekends and special services will operate to serve major weekday events at the Olympia exhibition centre. </p>

<h2>Overwhelming response</h2>
<p>TfL is working closely with the Olympia venues' management on the detail of the special services, and further measures to assist people attending all other events.</p>
<p>Mike Brown, LU's Managing Director, said: 'There was an overwhelming response to the consultation and we would like to thank everyone who took part. </p>
<p>'After taking into account all the responses we received, and in light of the benefits that the changes will deliver, we have decided to go ahead with the changes; these will come into effect in December.</p>
<p>'For District line customers the introduction of the new timetable will reduce delays across the whole line and, in particular, benefit the 150,000 passengers who pass through Earl's Court each day. </p>
<p>'As well as providing more room for more than 4,000 passengers on the Wimbledon branch, the busiest branch on the line, during the morning peak.</p>
<p>'The Olympia service will continue to operate during the weekend and we will also operate a special weekday service during the busiest events at Olympia.'</p>
<p>Passengers using Kensington (Olympia) already benefit from improved London Overground services, with four trains serving the station every hour carrying 600 passengers per train, with interchange to the Tube available at both West Brompton (District line) and Shepherd's Bush (Central line) stations. </p>
<p>Southern services will also continue to serve the station. </p>
<p>During the week passengers can use nearby Barons Court or West Kensington stations, both of which are close to the Olympia Exhibition Centre, and regular accessible bus services to High St Kensington, and step-free stations Hammersmith, Fulham Broadway and Green Park.</p>
<p>
<hr>

<p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>As part of London Underground's upgrade plan, the District line will be completely upgraded with new air-conditioned trains being introduced on the line from 2013 and a new signalling system to be introduced by 2018. Overall, the upgrade will deliver 24 per cent&nbsp;more capacity to the line </li>
<li>More than 20 per cent of District line trains are held up entering Earl's Court behind an Olympia train and this wait in the tunnel will be removed, directly speeding up journeys for the 150,000 passengers affected </li>
<li>A total of 17544 responses have been received, 13,900 (79.2 per cent) are in favour and 3,644 (20.8 per cent) are against </li>
<li>The District line is one of the busiest lines on the Tube network used by more than 700,000 people each day </li>
<li>London Overground (LO) and Southern Trains combined provide seven trains per hour in the peak and five in the off-peak. Both Southern and LO services interchange with LU at Shepherd's Bush and West Brompton </li>
<li>Six other Tube stations are within easy reach and in most cases are served by buses - with five bus routes running to High Street Kensington (numbers 9, 10, 27, 28, 702) and four serving Hammersmith (numbers 9, 10, 27 and 702) </li>
<li>In total eight bus routes serve the Kensington (Olympia) area: 9, 10, 27, 702, 28, C1, 49, 391 </li>
<li>Read LU's <a href="/corporate/projectsandschemes/20357.aspx">report into the consultation</a><br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "London Underground (LU) announced today that proposed changes to the District line will go ahead following overwhelming support during a public consultation. The changes will see the withdrawal of the lightly used weekday Kensington (Olympia) service and";}
        
        


 