


@{ViewBag.Title = "London Underground achieves multi-year pay settlement";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>London Underground achieves multi-year pay settlement</h1>
        <div class="content-page-press-release">
        30 September 2011
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Following a meeting at Acas today London Underground (LU) has received confirmation from the trade unions that they will be recommending acceptance of LU's four-year pay settlement.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"This fair and affordable multi-year pay deal is a good deal for London - providing a platform for stability over a crucial time for the Tube network"</div>
        <div class="quote-footer">
            <div class="quotee-name">Mike Brown</div>
            <div class="quotee-job-title">Managing Director of London Underground</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            This fair and affordable multi-year pay deal is a good deal for London - providing a platform for stability over a crucial time for the Tube network
                            
                        </p>
                    </div>
                
            
            
            <p>This deal, which would be the longest ever achieved, offers stability and the prospect of no industrial action over pay until at least 2015.&nbsp; </p>
<p>It is now being recommended for acceptance by all unions and means that staff will get a 5 per cent pay increase this year followed by inflation (RPI) plus 0.5 per cent in the subsequent three years. </p>
<p>A guarantee has also been given that LU will not take into account negative RPI, should such a situation occur. </p>
<p>This conclusion has been reached without the threat of dispute, reflecting the constructive way in which all parties have approached the negotiations.</p>
<p>Mike Brown, Managing Director of&nbsp;London Underground, said: 'This fair and affordable multi-year pay deal is a good deal for London - providing a platform for stability over a crucial time for the Tube network.</p>
<p>'This deal enables our employees' salaries to keep pace with the cost of living whilst being realistic given the current economic situation and the pressure on TfL's finances.</p>
<p>'We can now get on with the vital task of delivering the huge improvements to the network that Londoners need and deserve while we continue to develop our detailed plans to keep London moving during next summer's Games.'</p>
<p>The deal covers the period from April 2011 to March 2015. </p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "This deal, which would be the longest ever achieved, offers stability and the prospect of no industrial action over pay until at least 2015.&nbsp; It is now being recommended for acceptance by all unions and means that staff will get a 5 per cent pay";}
        
        


 