


@{ViewBag.Title = "LU reaches agreement with drivers' unions over Olympics and Paralympics working arrangements";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>LU reaches agreement with drivers' unions over Olympics and Paralympics working arrangements</h1>
        <div class="content-page-press-release">
        13 September 2011
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        London Underground (LU) has reached agreement with train drivers' unions over temporary changes to working arrangements and payments during the London 2012 Olympics and Paralympics Games.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"This agreement is a good deal for London Underground, our drivers and those thousands of customers who will be attending the London 2012 Olympics and Paralympics Games."</div>
        <div class="quote-footer">
            <div class="quotee-name">Mike Brown</div>
            <div class="quotee-job-title">London Underground's Managing Director</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            This agreement is a good deal for London Underground, our drivers and those thousands of customers who will be attending the London 2012 Olympics and Paralympics Games.
                            
                        </p>
                    </div>
                
            
            
            <p>The agreement follows six months of constructive discussions with union representatives, and will allow LU to meet the demands of extended services in the most efficient way.</p>
<p>In return for agreeing to these temporary changes to existing working arrangements during the Games, all train drivers employed by LU on 26 July 2012 will receive a one-off payment of &pound;500. </p>
<p>In addition, shifts of a certain duration or which finish after 01:30hrs will attract extra payments. </p>
<p>The change of working arrangements and rewards are separate to the ongoing discussions on pay which LU and the unions are engaged in.</p>
<p>LU's Managing Director, Mike Brown, said: 'This agreement is a good deal for London Underground, our drivers and those thousands of customers who will be attending the London 2012 Olympics and Paralympics Games.</p>
<p>'LU is committed to ensuring that the train service we provide contributes to the successful operation of the Games and I am pleased that we and the unions have been able to engage in constructive dialogue to reach this agreement.'</p>
<p>
<hr>
<strong>Notes to editors</strong>
<ul>
<li>The agreement covers the period from 27 July 2012 to 9 September 2012 inclusive </li>
<li>Additional payments for shifts exceeding eight hours will be as follows: </li>
<ul>
<li>Where a shift exceeds eight hours a driver will be paid an additional payment at the hourly rate for each hour on duty </li>
<li>When a shift exceeds eight hours and finishes after 01:30hrs drivers will be paid an additional payment at the overtime rate for each hour on duty</li></ul></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The agreement follows six months of constructive discussions with union representatives, and will allow LU to meet the demands of extended services in the most efficient way.In return for agreeing to these temporary changes to existing working";}
        
        


 