


@{ViewBag.Title = "Mayor of London and Transport for London act to save 812 PlusBus route";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Mayor of London and Transport for London act to save 812 PlusBus route</h1>
        <div class="content-page-press-release">
        07 September 2011
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        The Mayor of London and TfL have stepped in to save the 812 PlusBus from being withdrawn, guaranteeing that the service can continue for at least another four years.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"It would have been wrong for the many elderly residents who rely on this service to suffer if the borough withdrew their funding for this service."</div>
        <div class="quote-footer">
            <div class="quotee-name">Boris Johnson</div>
            <div class="quotee-job-title">Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            It would have been wrong for the many elderly residents who rely on this service to suffer if the borough withdrew their funding for this service.
                            
                        </p>
                    </div>
                
            
            
            <p>The service, which runs between Hoxton and Angel and is used mainly by older people, was due to be cut by Islington Council this financial year.&nbsp; </p>
<p>The service has always been funded locally and Transport for London has not previously been called on to contribute.</p>
<p>However, when local councillors appealed to the Mayor of London, Boris Johnson, to save the PlusBus, he turned to Transport for London (TfL) and asked if they could help keep the service running by providing &pound;200,000 to the council to operate the service for the next two years.&nbsp; </p>
<h2>No short-term fix</h2>
<p>This has now been agreed, with Islington Council committing to resume funding the valued bus route for at least another two years beyond that.</p>
<p>The Mayor of London, Boris Johnson, said: 'It would have been wrong for the many elderly residents who rely on this service to suffer if the borough withdrew their funding for this service. </p>
<p>'I have agreed to provide funding for it to run for the next two years.&nbsp; </p>
<p>'However we have made it clear to the borough that this is no short-term fix and that they must ensure that the service can continue to run after the TfL funding has stopped.' </p>
<h2>Sufficient provision</h2>
<p>The funding provided by TfL will ensure that the service continues to run until 2013 after which time the London Borough of Islington must take over. </p>
<p>As part of the terms of the funding being provided, the borough of Islington must agree to make sufficient provision to run the service for a minimum of two years after that time. </p>
<p>The 812 PlusBus service operates between 09:30 and 16:30 Monday to Friday, offering mainly older residents a regular local bus service between Hoxton and Angel. <br></p>
<p>
<hr>

<p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>The 812 PlusBus service is currently jointly funded by the London Borough of Islington and the operator Hackney Community Transport (HCT) </li>
<li>TfL has agreed to provide &pound;100,000 for years 2011/12 and 2012/13 with London Borough of Islington required to pay thereafter for a minimum of two years.&nbsp;If this agreement is not honoured the &pound;200,000 funding can be claimed back.&nbsp;Hackney Community Transport (HCT) will continue providing a subsidy of &pound;53,000 per annum </li>
<li>London Borough of Islington has decided to reduce the service frequency from three buses per hour to two buses per hour</li></ul>
<p><br>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The service, which runs between Hoxton and Angel and is used mainly by older people, was due to be cut by Islington Council this financial year.&nbsp; The service has always been funded locally and Transport for London has not previously been called on to";}
        
        


 