


@{ViewBag.Title = "Mayor announces Olympic Park electric charging network, creating air quality legacy";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Mayor announces Olympic Park electric charging network, creating air quality legacy</h1>
        <div class="content-page-press-release">
        08 September 2011
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Source London is discounting its annual membership to coincide with London's largest consumer green vehicle show.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Momentum for Source London is building and this on top of the legacy from the 2012 Games will mean we make charge points for electric vehicles more accessible than ever in London.
                            
                        </p>
                    </div>
                
            
            
            <p>The Mayor Boris Johnson today announced that a network of charge points is planned to support the Olympic and Paralympic zero-emission electric vehicle fleet.</p>
<p>After the Games, the charge points will boost the Mayor's growing Source London electric network.</p>
<p>The significant number of charge points provided by GE will ensure ample power supply, provided by EDF Energy, for the London 2012 fleet of 200 BMW and Mini electric vehicles, helping to create the most sustainable Games ever.</p>

<h2>Low carbon test drive</h2>

<p>After the sporting events, the charge points will become part of Source London, a lasting legacy benefiting electric car drivers in the Capital and especially those living or visiting the regenerated east of the city.</p>

<p>The announcement was made ahead of EcoVelocity, Europe's largest low carbon motor show running from 8-11 September.</p>
<p>The outdoor motoring festival, sponsored by EDF Energy, is being held at Battersea Power Station.</p>
<p>Londoners will have the chance to have a hands-on test drive of an electric vehicle, and&nbsp;have questions answered about electric driving.</p>

<h2>Save on Source London membership</h2>
<p>To coincide with this event, annual membership for Source London, which normally costs &pound;100, will be discounted to just &pound;10 for those who sign up during EcoVelocity.</p>
<p>A team from Source London will be at the show throughout to assist in registrations and answer any questions about Source London.</p>
<p>Source London, launched by the Mayor in May 2011, already boasts over 200 charge points making it the Capital's largest charge point network.</p>
<p>By 2013, 1,300 charging points will be installed. Membership of Source London allows for limitless re-charging of its publicly accessible network in locations across the city.</p>
<h2>London's low carbon lead</h2>
<p>Mayor of London, Boris Johnson, said: 'It is my goal to lengthen London's lead as the electric vehicle capital of Europe, so it is fitting that this city is hosting the largest motor show dedicated to greener vehicles.</p>

<p>'I encourage people to come along, have a test drive on the EcoVelocity test track and get a cracking deal on Source London membership to boot.</p>
<p>'As a greater choice of electric cars come onto the market, more and more Londoners will want to buy them. So it is great news that a network of charge points set to support the Olympic electric fleet next year, will go on to bolster Source London, creating a superb legacy for the Capital's growing army of eco-drivers.'</p>
<p>Source London has a range of public and private sector partners that are committed to introducing charge points which includes: Asda, Capital Shopping Centres, Enterprise, Gatwick Airport, Heathrow Airport, Hertz, Ikea, NCP, Nissan, Old Ford Housing Association, Sainsbury's, Scottish and Southern Energy, Southern Railway, the Whittington NHS Trust and 13 London boroughs.</p>
<p>Electric vehicles deliver a number of benefits including lower carbon emissions and improved air quality.</p>
<p>Leon Daniels, Managing Director for Surface Transport at Transport for London (TfL) said: 'Momentum for Source London is building and this on top of the legacy from the 2012 Games will mean we make charge points for electric vehicles more accessible than ever in London.'</p>
<p>As part of its ongoing commitment to the environment TfL recently added another four electric Smith Vans vehicles to its low carbon fleet bring the total number to 16. The vehicles are used by TfL in its work to maintain and improve London's red route.&nbsp;</p>
<hr>

<p><strong>Notes to editors:</strong></p>
<ul>
<li>Transport for London has been tasked, as the Mayor's transport authority, to oversee the delivery and management of the Source London network </li>
<li>For more information on how to register and on how to use Source London go to <a href="http://www.sourcelondon.net">www.sourcelondon.net</a> </li>
<li>In conjunction with the EcoVelocity show the Source London annual membership has been discounted to &pound;10 from its usual price of &pound;100. Payment for the reduced &pound;10 annual membership offer must be received by Monday 12 September </li>
<li>Electric vehicles qualify for nil rate vehicle excise duty and receive a 100 per cent discount for the Congestion Charge in London </li>
<li>Tickets for EcoVelocity can be bought on the day or prior at: <a href="http://www.ecovelocity.co.uk">www.ecovelocity.co.uk</a> </li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The Mayor Boris Johnson today announced that a network of charge points is planned to support the Olympic and Paralympic zero-emission electric vehicle fleet.After the Games, the charge points will boost the Mayor's growing Source London electric";}
        
        


 