


@{ViewBag.Title = "New online resource launched to help freight industry plan for London 2012 Games";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>New online resource launched to help freight industry plan for London 2012 Games</h1>
        <div class="content-page-press-release">
        12 September 2011
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        New online postcode data released by Transport for London (TfL) at the inaugural 2012 Freight Forum meeting will help firms plan and manage deliveries during Games-time.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"The new postcode data we have released is an important part of the information we will be providing to London's business community to allow them to plan for next year's Games."</div>
        <div class="quote-footer">
            <div class="quotee-name">Leon Daniels</div>
            <div class="quotee-job-title">TfL Managing Director of Surface Transport</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            The new postcode data we have released is an important part of the information we will be providing to London's business community to allow them to plan for next year's Games.
                            
                        </p>
                    </div>
                
            
            
            <p>TfL&nbsp;has released new data online to help freight companies manage the deliveries they make and plan the routes they use during the 2012 Games.</p>
<p>Companies can use the data to check whether individual postcodes in the Capital will be affected by the Olympic Route Network (ORN), Central London Zone (CLZ) or road events.</p>
<h2>Check the postcode</h2>
<p>By entering the data into their routing software companies are able to highlight the postcodes that contain both the ORN, for example, and one or more of their delivery locations.</p>
<p>That will allow them to produce a list of both clients and locations that will be impacted during Games-time, and will be a timesaving tool when planning deliveries.</p>
<p>The information, which TfL has produced in conjunction with Royal Mail, is now available online at <a href="http://www.tfl.gov.uk/developers">www.tfl.gov.uk/developers</a>.</p>

<h2>Tools for Games planning</h2>
<p>The postcode data is one of the first parts of a series of detailed information that will be provided to the freight industry to help companies plan for Games-time.</p>
<p>A timetable detailing what additional information will become available, along with timescales for their release, will be published later this month, alongside an improved and updated freight web portal for the industry to use.</p>
<p>In addition, TfL is working on the development of a freight journey planning tool.</p>

<h2>From the Freight Forum</h2>
<p>The release of the postcode data was announced at the inaugural 2012 Freight Forum at TfL on 8 September, which was chaired by Graham Inglis, CEO of DHL Supply Chain.</p>
<p>The Forum was attended by the Traffic Commissioners, a wide range of freight organisations and operators, including the Freight Transport Association (FTA), the Road Haulage Association (RHA), the Federation of Small Businesses, DHL, UPS, and Sainsbury's, as well as London Councils.</p>
<p>The Forum, which builds upon 20 months of engagement work between the Olympic Delivery Authority (ODA), TfL and the freight industry, included a number of presentations and workshops on the 2012 freight programme and sought the views and suggestions group members had for dealing with the transport challenges and opportunities the freight industry will face next summer.</p>
<p>Key issues discussed and identified at the meeting were:</p>
<ul>
<li>How best to adapt the regulatory framework for the freight industry to deal with the challenges thrown up by the 2012 Games </li>
<li>The most effective way of communicating with the industry and its customers </li>
<li>The critical importance of the timing and quality of the information provided to the industry</li></ul>
<h2>Finding joint solutions</h2>
<p>Leon Daniels, Managing Director of Surface Transport at TfL, said: 'The delivery of the Olympics is a huge job which can only be delivered successfully in partnership.</p>

<p>'Last week's freight forum was an invaluable source of intelligence about what those involved in making and receiving deliveries will need to keep London running during the Games. It also confirmed that no one organisation or sector can achieve this alone - it will be a joint effort.</p>
<p>'The new postcode data we have released is an important part of the information we will be providing to London's business community to allow them to plan for next year's Games.'</p>
<p>Graham Inglis, Chair of 2012 Freight Forum and CEO of DHL Supply Chain, said: 'We know that come Games time the transport network will be a lot busier.&nbsp;However, now is the time for businesses that rely on freight deliveries to get their action plans in shape.</p>
<p>'The aim is to minimise the impact of the Games on their daily operations, and the new postcode data that TfL has released will be critical to this planning process. It will be crucial in the coming months to identify potentially challenging areas to keep business operations running smoothly next year.'</p>
<h2>Logistics and local councils</h2>

<p>Nick Lester, Corporate Director of Services at London Councils, said:&nbsp; 'London's businesses need to be able to continue to operate during the Olympics and Paralympics, whether they are directly involved with the Games or not. </p>
<p>'Making sure freight can move around is key to getting this balance right - which will not be an easy task. London's boroughs will play their part in planning for Games-time by working closely with the companies in their areas.'</p>

<h2>Getting freight ready for 2012</h2>
<p>Karen Dee, Director of National and Regional Policy at Freight Transport Association, said: 'The logistics sector faces a huge challenge in London next summer when it will effectively have to deliver much more, but in far less time.</p>
<p>'Earlier this year an FTA survey exposed how utterly unprepared many companies in the supply chain felt faced with this Olympic-sized challenge; the availability of this postcode data will allow industry to better prepare itself.</p>
<p>'There is still a lot of work to do in preparing the supply chain, but as part of TfL's Olympics stakeholder group we look forward to working towards the smooth delivery of a successful Games that is memorable for all the right reasons.'</p>

<p>Geoff Dunning, Chief Executive of the Road Haulage Association, said: 'The forum was a real step forward in relations between TfL and the freight sector. Now that the key issues have been identified, we can develop an effective action plan.'</p>
<p>Deliveries and collections make up 17 per cent of all traffic in London, with 281,000 freight journeys made in the Capital between Monday and Friday each week.</p>
<p>During the 2012 Games, temporary changes to parts of the road network in central and other parts of London will affect routes, parking and loading bays in those areas, which will impact freight deliveries.</p>
<p>
<hr>

<p><strong>Notes to editor</strong></p>
<ul>
<li>The Freight Forum is part of a wider process of engagement by TfL and London 2012 to support their Travel Advice to Business programme, which is aimed helping all businesses minimise any transport challenges posed by the 2012 Games. As part of this package, businesses of all sizes in travel hotspots can now sign-up for a free workshop to receive bespoke travel advice.&nbsp; For more information on how to manage deliveries, please see: <a href="http://www.london2012.com/traveladviceforbusiness">www.london2012.com/traveladviceforbusiness</a> </li>
<li>The following organisations attended the inaugural 2012 Freight Forum: AAH Pharmaceuticals, Alliance Healthcare, BP, Brake, British Beer and Pubs Association (BBPA), CBI London, CEMEX, Chartered Institute of Logistics and Transport (CILT), City of London Corporation, Clipper Logistics, Covent Garden Market Authority (CGMA), DHL, Federation of Small Businesses, Freight Transport Association, the GLA, Gold Key Media, Keystone Foods, Kuehne and Nagel Ltd, LOCOG, London Borough of Camden, London Chinatown Chinese Association, London Councils, London First, Loomis, New International, NHS, O'Donovan Waste Disposal Ltd, Office Depot, Road Haulage Association, Royal Mail Group, Sainsbury's, SITA UK, Tesco, The Traffic Commissioners, Transport for London, Triangle, UPS, Veolia, Wilson James Ltd, Wincanton </li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "TfL&nbsp;has released new data online to help freight companies manage the deliveries they make and plan the routes they use during the 2012 Games.Companies can use the data to check whether individual postcodes in the Capital will be affected by the";}
        
        


 