


@{ViewBag.Title = "New London 2012 Games travel 'hotspot' info to help businesses plan ahead and avoid transport disruption";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>New London 2012 Games travel 'hotspot' info to help businesses plan ahead and avoid transport disruption</h1>
        <div class="content-page-press-release">
        22 September 2011
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        New information on how the busiest stations and locations across the Tube and road networks will be affected during the London 2012 Games were presented to businesses for the first time today, with the promise of further comprehensive information to come.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"We will only succeed if organisations across the capital, big and small, join us in planning ahead now to help us reduce the impact on our transport network and ensure they can keep on running next summer."</div>
        <div class="quote-footer">
            <div class="quotee-name">Peter Hendy</div>
            <div class="quotee-job-title">London's Transport Commissioner</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            We will only succeed if organisations across the capital, big and small, join us in planning ahead now to help us reduce the impact on our transport network and ensure they can keep on running next summer.
                            
                        </p>
                    </div>
                
            
            
            <p>The key travel 'hotspots' were previewed as the Mayor, Olympics Transport Minister, Transport Commissioner and London 2012 partners addressed small and medium enterprises (SMEs) from across the capital at a specially organised event, 'Make 2012 Work for You', held at BT Centre.</p>
<p>Businesses attending the event were shown examples of how busy the road and Tube networks could be during the London 2012 Games before any action is taken by businesses and freight operators to change their travel patterns.</p>
<p>Also, how much the impact will be reduced if businesses follow the advice of TfL and London 2012 and plan ahead to ensure they can keep on running and make the most of the great financial opportunities offered by the Games.</p>
<p>The information released by TfL comes in response to requests from London's business community for further detailed information to help them plan ahead of the Games. </p>
<p>London's Transport Commissioner, Peter Hendy called on the capital's businesses and SMEs to use a new 'one stop shop' at the TfL website, also launched today, to plan ahead effectively.</p>
<p>The new TfL 'one stop shop' website brings together a combination of new and existing transport information in one easy to access location, <a href="http://www.tfl.gov.uk/2012">tfl.gov.uk/2012</a>.&nbsp;</p>
<p>Further information, including detailed but easy to understand transport modelling, will be made available on the website over the coming weeks (see Notes to Editors).&nbsp;It includes:</p>
<ul>
<li>Detailed maps, postcode information and case studies to help businesses plan how they will manage the impact of the Olympic and Paralympic Route Networks, road events and the Central London Zone </li>
<li>The release of a timetable laying out when additional data and business support will become available - including the launch of a new, free programme of advice on how to manage deliveries and freight (November) and the results of an ongoing TfL-funded overnight delivery trial (November) </li>
<li>A transport planning milestones calendar </li>
<li>The public transport and road modelling 'hotspot' data previewed at today's event will also be published at the TfL website later this year, in November.</li></ul>
<p>The new TfL website complements the advice and information already available to help businesses plan ahead at <a href="http://www.london2012.com/traveladviceforbusiness">www.london2012.com/traveladviceforbusiness</a></p>
<p>The Mayor of London Boris Johnson said: 'It is absolutely vital that London's small and medium sized businesses, the backbone of the capital's economy, are fully prepared and ready to take advantage of every opportunity that hosting the greatest show on earth brings. </p>
<p>'Making sure they have the most up-to-date and relevant transport information is a crucial part of this preparation allowing them to plan around any disruptions, make sure their staff are where they need to be and their businesses can keep moving as we welcome the world to our great city.'</p>
<p>London's Transport Commissioner, Peter Hendy, said: 'Our planning for the Games includes listening and responding to the concerns of the business community.&nbsp;</p>
<p>'That's why we're providing more detailed transport information now, with even more to come, and a new 'one stop shop' online to make it as easy as possible to find and use.</p>
<p>'Our analysis shows that no two days will be the same during the London 2012 Games.&nbsp;I am confident London will provide the stage for the greatest Games we've ever seen.&nbsp; </p>
<p>'But we will only succeed if organisations across the capital, big and small, join us in planning ahead now to help us reduce the impact on our transport network and ensure they can keep on running next summer.'</p>
<p>Olympic Transport Minister Theresa Villiers, said: 'The Games will give this country a massive boost and deliver a legacy for London and the UK that will be felt for decades to come. </p>
<p>'But the Games will have an impact on getting around London and it's important that businesses start planning for this now - including how they make and receive deliveries during summer 2012 and how staff need to adapt their travel patterns.</p>
<p>'The Department for Transport is helping to lead the way as a London employer - we're committed to reducing our travel footprint by 50 per cent at Games time.</p>
<p>'With events like today's, and TfL's one-stop-shop, we can work together to minimise disruption and overcrowding on our transport network, and use the Olympics to show the world that London is a world class location for events.'</p>
<p>The public transport data, full details of which is due to be released in November, will show how services on all Tube, DLR, London Overground and key National Rail stations are expected to be affected on a line-by-line, day-by-day basis during the Games, in intervals of 30 minutes.&nbsp;</p>
<p>Preliminary information for London's road hotspot locations, based on recent highways modelling, was also presented at the event and is also due to be released in November.</p>
<p>
<hr>
<strong>Notes to Editors</strong> 
<ul>
<li>Businesses attending the Mayor's 'Make 2012 Work for You' event were invited to take part in Travel Advice to Business 'taster sessions' </li>
<li>The timetable for release of further information can be found at <a href="http://www.tfl.gov.uk/2012">tfl.gov.uk/2012</a>.&nbsp;It includes:<br>October 
<ul>
<li>Free advice on how to manage freight and deliveries </li>
<li>Traffic Commissioner guidance to key freight operators </li>
<li>Monthly 2012 Freight seminars for Freight Operator Recognition Scheme (FORS) members</li></ul></li>
<li>November 
<ul>
<li>Freight Key Stakeholder Summit </li>
<li>Road network hotspot maps </li>
<li>Overnight delivery trial results published </li>
<li>Overnight delivery Code of Practice launched </li>
<li>Public transport hotspots published</li></ul></li>
<li>Dec 2011/Jan 2012 
<ul>
<li>&nbsp;Freight web toolkit </li>
<li>Bus service changes published</li></ul></li>
<li>February 2012 
<ul>
<li>Freight Key Stakeholder Summit</li></ul></li>
<li>London 2012 and TfL are offering free travel advice to businesses to ensure their staff, customers and suppliers can get around and they can make and receive important deliveries during the Games.&nbsp;As part of this advice they are asking businesses to consider ways which will help reduce their overall need to travel including: 
<ul>
<li>Staggering the start and finish times of working days </li>
<li>Providing the facilities for staff to work from home </li>
<li>Stocking up on non-perishable materials well before the Games </li>
<li>Arranging earlier or later deliveries </li>
<li>Managing annual leave </li>
<li>Temporarily relocating employees or altering their working hours </li>
<li>Helping staff re-plan their travel </li>
<li>Using conference/video/web calls </li>
<li>Encouraging and enabling staff to cycle and walk</li></ul></li>
<li>Businesses can email the team on <a href="mailto:keeponrunning&#64;london2012.com">keeponrunning&#64;london2012.com</a> to register for the workshops, and to find out more </li>
<li>There are more than 12 million public transport journeys in the Capital daily and Londoners are already benefiting from a transport legacy before the Games, delivered by all 2012 transport partners - LOCOG, ODA, TfL, Network Rail, Highways Agency, Mayor and DfT - working in partnership, including: 
<ul>
<li>50 per cent increase in DLR capacity with line extended to Woolwich and, soon, Stratford International </li>
<li>Extra capacity on the Jubilee line with the signalling upgrade, now back on track for completion by the end of July after TfL took direct control from the hopelessly flawed PPP arrangements </li>
<li>Extra capacity on the Central line </li>
<li>Refurbished and extended London Overground services on the East London and North London lines </li>
<li>Upgrades to national rail services on the Lea Valley and Great Eastern lines </li>
<li>Upgraded traffic signals and junctions on the ORN, so traffic runs smoothly </li>
<li>&nbsp;King's Cross-St Pancras and Stratford stations essentially rebuilt and expanded, with step-free access and extra capacity </li>
<li>Southfields step-free and Green Park will be step-free before the Games, a vital accessibility hub </li>
<li>Improved walking and cycling routes serving the Olympic Park, plus the Barclays Cycle Hire scheme will reach Stratford by 2012<br></li></ul></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The key travel 'hotspots' were previewed as the Mayor, Olympics Transport Minister, Transport Commissioner and London 2012 partners addressed small and medium enterprises (SMEs) from across the capital at a specially organised event, 'Make 2012 Work for";}
        
        


 