


@{ViewBag.Title = "New Oyster system to help customers pay the correct fare";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>New Oyster system to help customers pay the correct fare</h1>
        <div class="content-page-press-release">
        05 September 2011
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        A new system will help Oyster passengers who occasionally forget to touch out.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"We are always trying to make the Oyster system easier and more efficient and this is just another example of us listening to our customers and making the improvements needed."</div>
        <div class="quote-footer">
            <div class="quotee-name">Shashi Verma</div>
            <div class="quotee-job-title">TfL Director of Fares & Ticketing</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            We are always trying to make the Oyster system easier and more efficient and this is just another example of us listening to our customers and making the improvements needed.
                            
                        </p>
                    </div>
                
            
            
            <p>As part of a series of innovations to improve customers' experience of Oyster, Transport for London (TfL) has introduced a new facility for Oyster pay as you go customers who occasionally forget to touch out at the end of their Tube, DLR, Overground or National Rail journey. </p>
<p>Under Oyster terms and conditions, customers who do not touch out to complete their journey are charged the maximum Zone 1-6 fare.</p>
<p>But TfL has set up a new system so that if a passenger occasionally fails to touch in and out then Oyster will aim to calculate their likely journey and charge the appropriate fare. </p>
<h2>Guidance from journey histories</h2>Around 1,500 customers a day are already benefitting from the new system that looks at passengers previous journeys. 
<p>If the passenger fails to touch out then the system will attempt to calculate what the fare should have been had they done so.</p>
<p>A refund of the difference will then be provided and can be picked up when the customer next uses their regular station.</p>
<p>However refunds will only be provided where it is possible for the system to make an accurate assumption of where the journey was likely to have begun and ended.</p>
<p>Registered Oyster customers who have supplied their details will receive an email to let them know that a fares refund has been made.</p>
<p>This also acts as a further reminder of the importance of always touching in and out to validate journeys.</p>
<h2>Touching in is vital</h2>
<p>Only journeys that have been started and are missing the touchout at the end of the journey are eligible for completion by the new system.</p>
<p>It is intended to help people who occasionally forget to touch out and therefore the system only operates once a month for each Oyster card.</p>
<p>Station ticket offices and the Oyster helpline will continue to offer passengers an alternative means of resolving incomplete journeys that are not addressed by this system.</p>
<p>Shashi Verma, TfL's Director of Fares &amp; Ticketing, said: 'Oyster is the transport ticket of choice for most Londoners, and the vast majority of customers use it correctly and are charged the right fare for their journeys.</p>
<p>'A small minority of rail journeys however are still not being touched in and out correctly and are being charged maximum fares. We don't want to penalise customers who normally touch in and out for occasionally forgetting, so, for such customers, we are looking at ways of correcting journeys that have been left open without a final touch at the destination.</p>
<p>'We are always trying to make the Oyster system easier and more efficient and this is just another example of us listening to our customers and making the improvements needed.'</p>
<h2>Oyster and train services</h2>
<p>Peter Twigg, Head of London Support at the Association of Train Operating Companies, said: 'This is another example of train companies and TfL working together to make Oyster pay as you go easier for passengers to use.</p>
<p>'Train companies are always looking for ways to improve services and will continue to work with TfL and other rail industry partners to make travel around London increasingly simple, reliable and affordable.'</p>
<p>This new initiative is just one of the projects TfL is carrying out this year to improve the customer experience of Oyster.</p>
<p>Enhancements are also being made to the information provided to Oyster online account users, including more detailed journey history.</p>
<p>The pilot phase of these online statement enhancements exclusively allowed customers who purchase Oyster credit online to see their journey history in greater detail and the user feedback has been so positive that plans are now in place to make these detailed online statements available by the end of the year to any customer who has registered for an Oyster online account.</p>
<p>Later phases of the online statement improvements will also include information about whether any refunds are pending and at what station they are available to pick up.</p>
<p>There are also plans to enable customers to use their online statements to raise queries and request refunds directly via the TfL website.</p>
<h2>Coming next year: Contactless travel</h2>
<p>Next year, London's commuters will also benefit from the introduction of contactless payment using bank issued debit and credit cards on the transport network.</p>
<p>Beginning with London buses in early 2012, in time for the 2012 Games, and followed by a rollout on the Tube, DLR, Overground and National Rail later in the year, customers will have the option of leaving their Oyster card at home and touching in and out using their contactless bank cards directly, making it faster and more convenient to pay for journeys around London.</p>
<hr>

<p><strong>Notes to Editor: </strong></p>
<ul>
<li>Oyster pay as you go customers should always&nbsp; touch in and out at the start and end of every rail journey to ensure they are charged the correct fare </li>
<li>A&nbsp; Zone 1-6 single fare is charged when a customer does not touch in and out </li>
<li>Over 97 per cent of the 10 million journeys a week on the Tube, DLR, London Overground and National Rail network are correctly validated by touching in and out at the start and end of the journey </li>
<li>Oyster customers who register their card are able to open an online account, and also benefit from having their Oyster PAYG credit protected if they lose or break their card.</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "As part of a series of innovations to improve customers' experience of Oyster, Transport for London (TfL) has introduced a new facility for Oyster pay as you go customers who occasionally forget to touch out at the end of their Tube, DLR, Overground or";}
        
        


 