


@{ViewBag.Title = "New escalators for Custom House station";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>New escalators for Custom House station</h1>
        <div class="content-page-press-release">
        09 September 2011
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        New escalators at Custom House Docklands Light Railway (DLR) station opened today boosting the capacity of the station by 72 per cent ready for the London 2012 Games.
        
    </div>



 <div class="on-this-page">
<p>The two new escalators will be able to carry 200 people per minute during the Olympics and major ExCeL events.</p>
<p>Chief Operations Officer for Transport for London's (TfL) London Rail, Howard Smith, said: 'The new escalators have been delivered a whole month ahead of schedule and will be a massive help in tackling congestion at the station especially during the Games.&nbsp; </p>
<p>'The station also directly serves the busy ExCel centre, the venue for many trade shows throughout the year and when Crossrail is built the legacy of the new escalators will be to provide an efficient interchange with the new railway.'</p>
<p>Work to install the two sets of 77-step escalators began in February this year and was completed one month early. </p>
<p>The project cost &pound;2.7m with &pound;600,000 contributed by the Olympic Delivery Authority (ODA). </p>
<p>ODA Director of Transport, Hugh Sumner, said: 'Investment in the transport network is opening up services to more people than ever before. The upgrades to the escalators at Custom House DLR will enable spectator and everyday user demand to be met during the Games and will serve the commuters and communities that use the station long after London 2012.'</p>
<p>A further package of improvements is planned for stations along the Eastern route, from Poplar to Beckton and Poplar to Woolwich, later on this year.&nbsp; </p>
<p>They will deliver better lighting, new seating and enhanced information displays for passengers.</p>
<p>
<hr>
<strong>Notes to Editors</strong>&nbsp;
<ul>
<li>The escalators will increase the capacity of the station from 157 passengers per minute to 270 passengers per minute enabling the DLR to safely operate a 24 trains per hour service during the London 2012 Olympics. Custom House is used by 2.97 million passengers per year </li>
<li>The two escalators are 5.5 metres&nbsp;high and run at a 30 degree angle with 77 steps each </li>
<li>The total cost of the project is &pound;2.7 million. &pound;600k of the cost was contributed by ODA. The remainder was provided by DLR </li>
<li>The station also has lifts </li>
<li>The new step free SIE opened to passenger service on 31 August 2011<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The two new escalators will be able to carry 200 people per minute during the Olympics and major ExCeL events.Chief Operations Officer for Transport for London's (TfL) London Rail, Howard Smith, said: 'The new escalators have been delivered a whole month";}
        
        


 