


@{ViewBag.Title = "New Docklands Light Railway extension an instant hit with passengers";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>New Docklands Light Railway extension an instant hit with passengers</h1>
        <div class="content-page-press-release">
        23 September 2011
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        New six-kilometre extension gets match-fit for 2012 Games by supporting the success of Westfield Stratford shopping centre's first week. Total Docklands Light Railway (DLR) passenger numbers break all previous records.
        
    </div>



 <div class="on-this-page">
<p>The fully accessible DLR Stratford International extension has got off to a flying start, carrying 130,000 passengers in the last week as the whole DLR network saw record numbers of passengers.</p>
<p>The new six-kilometre extension between Canning Town and Stratford International, which boasts four new step-free stations, opened to the public on 31 August, a year ahead of the 2012 Paralympics Games.</p>
<p>The &pound;211m extension is a key part of the 2012 Games transport network, connecting five Olympic and Paralympics Games venues, and improving accessibility for passengers with restricted mobility.</p>
<p>Between Monday 12 and Sunday 18 September - the week that Westfield Stratford City opened its doors to shoppers - around 130,000 people used the Stratford International Extension. </p>
<p>The previous daily record of 303,000 passengers on the whole network was shattered on Thursday 15 September when 340,000 customers used the DLR, with the whole network carrying around 1.9 million people&nbsp;during the last week.</p>
<h2>Boosting numbers</h2>
<p>The Westfield opening has also boosted numbers of passengers on local buses and at Stratford regional station with Transport for London (TfL) staff working hard to ensure that Londoners can get to and from the centre by public transport. </p>
<p>More than 100,000 passengers used Stratford Regional station on the first Saturday since the opening, roughly 60,000 people more than figures taken a week earlier. </p>
<p>Additionally, bus routes saw an increase in passengers, with buses serving the area carrying an additional 6,500 people on their routes.</p>
<p>Mayor of London Boris Johnson said: 'Stratford International station and the new DLR extension are playing a crucial role in the regeneration of east London and are already showing they are match-fit to transport the millions of visitors that we will be welcoming to the Olympic and Paralympic Games next year.'</p>
<p>Director of DLR Jonathon Fox said: 'The completion of the DLR extension to Stratford International with the provision of four more accessible stations means customers are already getting the benefits of huge investment in the network a year ahead of the London 2012 Games.</p>
<p>'The extension completes &pound;500m of DLR upgrade works, creating a 50 per cent increase in capacity across the network which is now ready to serve the Capital for the Games and beyond.'</p>
<p>The extension is in addition to a three-year, &pound;300m upgrade programme across the DLR network which enabled a capacity increase of 50 per cent. </p>
<p>The Olympic Delivery Authority (ODA) has contributed &pound;80m to this programme. </p>
<p>The four new stations are Stratford International, Stratford High Street, Abbey Road and Star Lane.</p>
<p><strong>
<hr>
</strong></p>

<p><strong>Notes to editors:</strong></p>
<ul>
<li>The new extension is a crucial part of London's 2012 Games rail network connecting the Olympic Park with five other arenas holding multiple London 2012 Olympic and Paralympics Games events and is the last part of that rail network to be put in place </li>
<li>The extension also includes four new stations (there are seven in total), an essential part of the Olympics regeneration legacy. All seven stations are step-free as is the norm on all of the DLR network </li>
<li>The extension brings direct access to the Capital's wider rail transport network to thousands of residents along its route enabling them to travel more easily to education, job and leisure opportunities </li>
<li>It offers much faster and more frequent services than the former North London line it replaces, with a train arriving every eight minutes during peak periods </li>
<li>Services on the extension are operated by Serco Docklands Ltd</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The fully accessible DLR Stratford International extension has got off to a flying start, carrying 130,000 passengers in the last week as the whole DLR network saw record numbers of passengers.The new six-kilometre extension between Canning Town and";}
        
        


 