


@{ViewBag.Title = "Operators urged to take action now to meet tougher London Low Emission Zone standards to improve air quality, or risk fines ";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Operators urged to take action now to meet tougher London Low Emission Zone standards to improve air quality, or risk fines </h1>
        <div class="content-page-press-release">
        21 September 2011
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Less than three months to go until Low Emission Zone (LEZ) emissions standards for heavy goods vehicles (HGVs), buses and coaches are tightened.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"The Mayor is taking robust steps to deliver cleaner air and improve Londoners' health"</div>
        <div class="quote-footer">
            <div class="quotee-name">Kulveer Ranger</div>
            <div class="quotee-job-title">the Mayor's Environment Director</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            The Mayor is taking robust steps to deliver cleaner air and improve Londoners' health
                            
                        </p>
                    </div>
                
            
            
            <ul>
<li>For the first time larger vans, minibuses and specialist vehicles will be required to meet LEZ emissions standards (from 3 January 2012)</li>
<li>Major manufacturer discounts available to upgrade vehicles</li>
<li>Operators not meeting the required standards will need to pay a daily charge or risk a fine</li></ul>
<p>
<hr>

<p>
<p>Transport for London (TfL) is urging the owners and operators of the estimated 150,000 vehicles affected by new emissions standards in January 2012 to take action now to avoid fines. </p>
<p>The LEZ is in force 24 hours-a-day, every day of the week, across Greater London.</p>
<p>From 3 January 2012 vehicles that are already affected by the LEZ - HGVs, buses and coaches - will have to meet a Euro IV standard for particulate matter (PM) to drive within Greater London without paying a &pound;200 daily charge.</p>
<p>Also, from this date, larger vans, minibuses and other specialist vehicles will have to meet LEZ standards for the first time. </p>
<p>These vehicles will have to meet a Euro 3 emissions standard for PM in order to drive within Greater London without paying a &pound;100 daily charge.</p>
<p>While most vehicles set to be affected by the scheme are already compliant, for the minority that are not Mayor Boris Johnson, recently announced he has secured significant discounts off a range of new vans and minibuses in an unprecedented package of financial deals. </p>
<h2>Cleaner air</h2>
<p>Eighty per cent of vehicles affected by the LEZ for the first time in 2012 are vans and offers from manufacturers in some cases amount to thousands of pounds off a new vehicle. </p>
<p>Larger vans and minibuses were originally due to be included in the LEZ from 4 October 2010 however, the Mayor took the decision following public consultation to defer the introduction in tough economic times to give the owners and operators of the estimated 70,000 non-compliant vehicles, many of which are smaller businesses and charities, more time to make the necessary changes. </p>
<p>Kulveer Ranger, the Mayor's Environment Director, said: 'The Mayor is taking robust steps to deliver cleaner air and improve Londoners' health. </p>
<p>'Changes to the Low Emission Zone in January are a key part of these plans.</p>
<p>'The vast majority of vehicles set to be affected by these new standards are already compliant. </p>
<p>'However, a small minority of drivers still need to take action to avoid fines. </p>
<p>'There is a range of options available to vehicle owners and as part of this, the Mayor has agreed deals with a number of vehicle manufacturers for discounts off new vehicles. </p>
<p>'However, some options to make vehicles compliant, such as fitting an approved filter, can take up to three months to complete, so I urge those who are affected to take action as soon as possible.'</p>
<h2>Reducing emissions</h2>
<p>The LEZ was introduced in 2008 and has been successful in delivering significant reductions in harmful vehicle emissions but the scheme now needs to go further to ensure London meets legally required air quality standards. </p>
<p>Air pollution is a serious health issue in London contributing to an estimated 4,300 premature deaths in a year with many more people, especially children and older people, having their quality of life adversely impacted by it. </p>
<p>London also has to meet European legal standards for air quality. </p>
<p>TfL estimates that the changes to the LEZ will broadly double the impact of earlier phases in reducing harmful particulate matter pollution in the Capital. </p>
<p>There are a range of options available to vehicle operators to ensure their vehicles comply with the LEZ standards including fitting an approved exhaust filter, purchasing a cleaner new or second hand vehicle, re-organising a fleet so that only vehicles which meet the required emissions standards drive within the LEZ, or leasing or renting a compliant vehicle.&nbsp; </p>
<p>Owners of vehicles that do not meet the emissions standards and have not paid a daily charge and drive within the LEZ risk a significant penalty charge. </p><strong>
<p>
<hr>

<p>
<p>Notes to editors:</strong></p>
<p><strong>Manufacturer discounts</strong></p>
<ul>
<li><strong>Ashwoods</strong>: A substantial discount off any Ford Transit, Ford Transit Connect, or Ford Transit minibus.&nbsp;All are fitted with Ashwoods' proprietary EcoDrive technology, which reduces the vehicle's fuel consumption by up to 10 per cent.&nbsp;Furthermore, they also receive up to &pound;500 cash back for trading in their non-compliant vehicle</li>
<li><strong>Citro&euml;n</strong>: A 'Go Green &amp; Clean Allowance' of up to &pound;3,500 towards a new Citro&euml;n LCV</li>
<li><strong>Fiat</strong>: A combination of VAT-only deposit, coupled with a six-month payment holiday and a low rate (1.1 per cent&nbsp;APR) of interest. The deal applies to the following models: Fiorino; Doblo' Cargo; Scudo; Ducato; Ducato Minibus</li>
<li><strong>Ford</strong>: Scrappage programme in which owners of vans that are ten years old or more will qualify for up to &pound;3,000 off a new Ford van.&nbsp;This scrappage scheme programme is available on Ford Fiesta Van, Ford Transit Connect and the iconic Ford Transit</li>
<li><strong>Mercedes-Benz</strong>: Van swappage scheme which is based around a weekly payment of &pound;60, allowing operators to swap into a new Mercedes-Benz Vito</li>
<li><strong>Peugeot</strong>: Peugeot are offering a customer who has been mailed by Transport for London a cash-back payment if they purchase and register a new Peugeot van. The payments are, Bipper &pound;500, Partner &pound;750, Expert &pound;1500 and &pound;2000 on Boxer</li>
<li><strong>Renault</strong>: Offers as follows, depending on the model, up to &pound;2,900 off the Kangoo Van range, up to &pound;4,600 off the Trafic Van and Passenger range, up to &pound;6,000 off the Master range</li>
<li><strong>Vauxhall</strong>: Vauxhall are offering savings of up to &pound;7,500 with their Vauxhall swappage scheme across the Vauxhall Commercial vehicle range</li>
<li><strong>Volkswagen</strong>: Volkswagen Commercial will be offering a deposit contribution towards finance offers on new vehicles and preferential servicing packages for used vehicles</li>
<li><strong>DAF</strong>: Discounted offers on various DAF models including a &pound;5,000 discount on the 7.5-tonner LF45.&nbsp;Should existing DAF customers choose to keep their existing Euro 3 and older trucks, they can take their vehicle into any official DAF dealer and have a new particulate filter fitted</li></ul>
<p><strong>Daily charge and penalty charges&nbsp;</strong></p>
<ul>
<li>Owners of HGVs, buses and coaches that do not meet the required Euro IV for PM emissions standards by 3 January 2012, and who drive within Greater London will have to pay a &pound;200 daily charge or risk a &pound;1,000 penalty.&nbsp;Lorries, buses and coaches registered as new on or after 1 October 2006 will already meet the LEZ standards from 2012</li>
<li>Owners of larger vans and minibuses who do not comply with the new Euro 3 for PM emissions standards will have to pay a &pound;100 daily charge or risk a &pound;500 penalty if they drive within Greater London. Vans and minibuses registered on or after 1 January 2002 will already meet the LEZ standards</li></ul>
<p><strong>Compliance</strong></p>
<ul>
<li>Vehicles affected for the first time are: larger vans and other specialist vehicles such as horse boxes and light utility vehicles (between 1.205 tonnes unladen and 3.5 tonnes Gross Vehicle Weight), minibuses (five tonnes or less Gross Vehicle Weight with more than&nbsp;eight passenger seats); and motor caravans and ambulances (between 2.5 and 3.5 tonnes Gross Vehicle Weight), which will have to meet a Euro 3 standard for PM to drive in the zone without charge</li>
<li>Vehicles already affected by the LEZ: HGVs and other specialist vehicles including horseboxes and motor caravans over 3.5 tonnes Gross Vehicle Weight; and buses and coaches over 5 tonnes Gross Vehicle Weight with more than&nbsp;eight passenger seats will have to meet a Euro IV standard for PM to drive in the zone without charge</li>
<li>The LEZ affects all vehicles of the relevant weight and age even if they are used for private purposes</li>
<li>Vehicle owners can use the <a href="http://www.tfl.gov.uk/lezlondon ">online vehicle checker </a>to check whether their vehicle meets the emissions standards and find advice on what steps they can take to make their vehicle compliant</li>
<li>Cars, motorcycles and vans weighing under 1.205 tonnes unladen weight are not affected by the LEZ. Owners can check their V5 to confirm their vehicle weight and Transport for London can provide advice via its website or a dedicated call centre</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "For the first time larger vans, minibuses and specialist vehicles will be required to meet LEZ emissions standards (from 3 January 2012)Major manufacturer discounts available to upgrade vehiclesOperators not meeting the required standards will need to pay";}
        
        


 