


@{ViewBag.Title = "'Plan for Paralympics too' businesses urged";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>'Plan for Paralympics too' businesses urged</h1>
        <div class="content-page-press-release">
        05 September 2011
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        The first Monday in September 2012 will be a critical time for transport as the Paralympic Games continue and schools return from holidays.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"There is a great deal of support and help available from TfL and London 2012 and I urge businesses to start planning now."</div>
        <div class="quote-footer">
            <div class="quotee-name">Paralympian</div>
            <div class="quotee-job-title">Baroness Tanni Grey-Thompson</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            There is a great deal of support and help available from TfL and London 2012 and I urge businesses to start planning now.
                            
                        </p>
                    </div>
                
            
            
            <p>With less than a year to go until the Paralympic Games, Transport for London (TfL) and London 2012 are urging businesses to take advantage of free help and advice to plan for the impact of the Paralympic Games, as well as the Olympic Games.</p>
<p>New research reveals just 40 per cent of Londoners believe the Paralympics will impact on their travel, yet Monday 3 September 2012, will be a critical time for transport in the capital as employees and schools return after the summer break.</p>
<p>The end of the summer holidays will increase pressure on the transport network when term-time commuters add to the large numbers of visitors and spectators expected for the Paralympic Games, the world's second biggest sporting event.</p>
<h2>Help is at hand</h2>
<p>With two million tickets available for the Paralympic Games, organisers are expecting the transport network to be severely affected.</p>
<p>TfL and London 2012 are calling on businesses to plan for both the Paralympic and Olympic Games to ensure they can make the most of everything 2012 will have to offer.</p>
<p>Businesses can visit <a href="http://www.london2012.com/traveladviceforbusiness">www.london2012.com/traveladviceforbusiness</a> for free online tailored travel and deliveries advice.</p>
<p>This includes regular email bulletins, maps of affected areas, and documents to help plan and view hints and tips on how to create an action plan.</p>
<p>Businesses of all sizes can also register their interest for the free workshops and one-to-one sessions by emailing <a href="mailto:keeponrunning&#64;london2012.com">keeponrunning&#64;london2012.com</a>.</p>
<h2>A major event</h2>
<p>Baroness Tanni Grey-Thompson, Britain's greatest Paralympian and a TfL Board Member, said:&nbsp; 'In the past the Paralympics have been seen as an add on to the Olympics, but London is different and for the first time, both the Olympic Games and the Paralympic Games will have been planned and designed together from the start.</p>
<p>'To make the most of the Games businesses need to do the same and plan for both.</p>
<p>'The combination of huge numbers of visitors and spectators and the return from the summer holidays means the transport network will be severely affected, but there is a great deal of support and help available from TfL and London 2012 and I urge businesses to start planning now.'</p>
<p>Ben Plowden, Director, Better Routes and Places, said: 'The transport network will be under increased pressure in early September 2012 as employees and schools return from their summer holidays, and millions of visitors and spectators descend upon the capital for the Paralympic Games.</p>
<p>'Businesses need to plan now and do so for the Paralympics too.&nbsp;They should take advantage of the tools that are available to them so that they and their employees can plan ahead and make the most of the London 2012 Games.'</p>
<h2>Reducing&nbsp;travel during the&nbsp;Paralympic Games</h2>
<p>London 2012 and TfL are offering free travel advice to businesses to ensure their staff, customers and suppliers can get around and they can make and receive important deliveries during the Games.</p>
<p>As part of this advice they are asking businesses to consider ways which will help reduce their overall need to travel including:</p>
<ul>
<li>Staggering the start and finish times of working days </li>
<li>Providing the facilities for staff to work from home </li>
<li>Stocking up on non-perishable materials well before the Games </li>
<li>Arranging earlier or later deliveries </li>
<li>Managing annual leave </li>
<li>Temporarily relocating employees or altering their working hours </li>
<li>Helping staff re-plan their travel </li>
<li>Using conference/video/web calls </li>
<li>Encouraging and enabling staff to cycle and walk</li></ul>
<p>
<hr>

<p><strong>Notes to editors:<p></strong>
<ul>
<li>The survey, conducted on behalf of TfL, asked 1,000 Londoners 'which answer best described the statement: 'I expect to be seriously affected by the large volume of extra people on the transport network during next year's Paralympics''.&nbsp; Of those polled:<br>-148 (14.8 per cent) agreed<br>-270 (27 per cent) somewhat agreed<br>-250 (25 per cent) neither agreed or disagreed<br>-150 (15 per cent) somewhat disagreed<br>-182 (18.2 per cent) disagreed </li>
<li>The opening ceremony for the Olympic Games is on 27 July 2012 and the closing ceremony for the Paralympics will take place on the 9 September </li>
<li>Businesses are advised to visit <a href="http://www.london2012.com/traveladviceforbusiness">www.london2012.com/traveladviceforbusiness</a> where they can register for regular email bulletins, view maps of affected areas, download documents to help plan and view hints and tips on how to create an action plan.&nbsp; Businesses can also email the team on <a href="mailto:keeponrunning&#64;london2012.com">keeponrunning&#64;london2012.com</a> to register for the workshops, and to find out more </li>
<li>TfL and London 2012 are offering free travel advice to businesses to ensure their staff, customers and suppliers can get around and they can make and receive important deliveries during the Games </li>
<li>Around &pound;6.5bn has been invested in upgrading and extending transport links and this will enable spectators to get to and from the Games each day and ensure we will keep London moving.&nbsp; This is already providing an early legacy of better transport options, particularly for people living in east London, which will continue long after the 2012 Games.</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "With less than a year to go until the Paralympic Games, Transport for London (TfL) and London 2012 are urging businesses to take advantage of free help and advice to plan for the impact of the Paralympic Games, as well as the Olympic Games.New research";}
        
        


 