


@{ViewBag.Title = "Safer Travel at Night: TfL warns of dangers of unbooked minicabs as new students arrive in London";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Safer Travel at Night: TfL warns of dangers of unbooked minicabs as new students arrive in London</h1>
        <div class="content-page-press-release">
        30 September 2011
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Londoners, especially students new to the Capital, are being warned about the dangers of using unbooked minicabs as Transport for London's (TfL's) Safer Travel at Night (STaN) campaign launches this week.
        
    </div>



 <div class="on-this-page">
<p>At this time of year thousands of new students head for London, many of whom are new to the city, living in unfamiliar areas and unaware of the dangers of illegal minicabs. </p>
<p>With many making use of London's thriving night life at the start of the academic year, picking up a minicab on the street to get home quickly can be tempting. </p>
<p>The STaN initiative is a partnership between the Mayor, TfL, Metropolitan Police Service (MPS) and the City of London Police (CoLP), who are working together to make travelling in London safer at night. </p>
<p>STaN aims to reduce the number of cab-related sexual offences by raising awareness of the dangers of using unbooked 'minicabs', also known as touts and illegal cabs, and by using targeted police and enforcement activity to identify, disrupt and deter illegal cab activity. </p>
<p>Officers from the MPS Safer Transport Command including all 32 Borough-based&nbsp; Safer Transport Teams, CoLP and TfL enforcement officers carry out regular activity across London including high-visibility patrols, stop/checks on vehicles, intelligence-led operations and engaging with the public. </p>
<p>Operations take place throughout the year and during Operation STaN officers will increase efforts to detect and deter illegal and unbooked minicabs with enforcement and crime prevention activity taking place across London. </p>
<p>All minicabs must be licensed by TfL and booked through a licensed minicab operator by phone, email or in a minicab office. </p>
<p>All unbooked minicabs (even those licensed by TfL and displaying the licence disc) are illegal, dangerous and could put you at risk. </p>
<p>These 'cabs' are unregulated and uninsured to carry passengers and in some cases the drivers are linked to more serious crimes including rape and sexual assault, robbery and drugs.</p>
<p>While the number of cab-related sexual offences fell by 20 per cent to 111 last year, tackling the problem of unbooked 'minicabs' remain a high priority for the Mayor, TfL and the police especially since they operate around the Capital's night life. </p>
<p>Key tips on using minicabs:</p>
<ul>
<li>Never approach a minicab on the street or accept a fare, they are acting illegally, even if they are licensed by TfL</li>
<li>Only black cabs can pick passengers up on the street without a booking</li>
<li>When travelling by minicab always book it with a licensed operator, when it is arrives check it's for you by getting the driver to confirm your booking details and check the driver's photo identification and always sit in the back</li>
<li>To get three local cab numbers text 'CAB' to 60835**</li>
<li>Visit <a href="http://www.tfl.gov.uk/cabwise">tfl.gov.uk/cabwise</a> for more information</li></ul>
<p>Kit Malthouse, the Deputy Mayor for Policing, said: 'Please don't get into a car with a potential criminal. </p>
<p>'Using illegal 'minicabs' is simply not worth the risk. </p>
<p>'We're doing everything we can to stop the illegal minicab market but you can help us win this war by not using them and booking licensed minicabs or using taxis (black cabs). </p>
<p>'Plan your journey home in advance before one simple mistake could ruin your night and be a decision you live to regret.'</p>
<p>Siwan Hayward, Deputy Director of Community Safety, Enforcement and Policing at TfL, said: 'We want students, as well as all Londoners, to make sure that they use a safe mode of transport to travel around the Capital at night. </p>
<p>'Through our partnership with the Mayor of London and the police will continue our efforts to further reduce these crimes and ensure that the public can travel safely at night.'</p>
<p>Chief Superintendent Sultan Taylor, Safer Transport Command, said: 'Our dedicated Cabs Enforcement Unit, supported by the 32 borough Safer Transport teams and TfL enforcement officers will be engaging students and the wider public, distributing information telling them of the safer ways to travel home. </p>
<p>'In addition, plain clothes officers will be detecting and apprehending illegal cab drivers across the Capital to ensure that Londoners travel home safe after a good night out in London during the Freshers period.'</p>
<p>
<hr>
</p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>** Users of 3 and overseas networks must enter different information. See <a href="http://www.tfl.gov.uk/cabwise">tfl.gov.uk/cabwise</a> for details and charges</li>
<li>There were 111 cab-related sexual offences in 2010/11. Compared to the previous year, where there were 140 offences, there was a decrease of 20.7 per cent</li>
<li>Since 2003 the Cab Enforcement Unit has made more than 7,000 arrests for touting and cab-related offences</li>
<li>Cab Enforcement operations are carried out on a regular basis in line with current intelligence on touting behaviour. They also cooperate with clubs to crackdown on the touts who operate in the area and ensure compliance with regulations and importantly enhance the safety of the travelling public</li>
<li>During the operations roadside and compliance checks are made and in addition, officers carry out operations and conduct checks on all cabs within the operation area</li>
<li>The STAN partnership between TfL, the MPS and the CoLP was launched in 2002/3.&nbsp; The campaign aims to make people travelling at night aware of the dangers of picking up unbooked minicabs off the street, as well as informing them of the best ways to get home safely</li>
<li>The MPS Safer Transport Command fights crime on buses, tackles illegal cabs; and assists with the control of traffic congestion. There are now around 2,000 uniformed officers, which are funded in part by TfL</li>
<li>The Mayor has taken a tough line on touting and&nbsp; illegal cabs and any TfL licensed private hire driver convicted of touting will now lose their private hire driver's licence for a minimum of one year</li>
<li>If you have had a bad experience in a minicab or taxi (black cab), please report the incident at tfl.gov.uk/contactcabs, call 0845 300 7000, or email <a href="mailto:TPH.Comms&#64;tfl.gov.uk">TPH.Comms&#64;tfl.gov.uk</a></li>
<li>Help and support is available for victims of sexual assault from The Havens. Details can be found at <a href="http://www.thehavens.co.uk">www.thehavens.co.uk</a></li>
<li>For essential late night travel information in London please visit <a href="http://www.tfl.gov.uk/cabwise">tfl.gov.uk/cabwise</a> and <a href="http://www.tfl.gov.uk/traveltools">tfl.gov.uk/traveltools</a></li>
<li>TfL's 24 hour travel information call centre can also provide information and phone numbers for taxi and private hire services in London.&nbsp;Call 0843 222 1234</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "At this time of year thousands of new students head for London, many of whom are new to the city, living in unfamiliar areas and unaware of the dangers of illegal minicabs. With many making use of London's thriving night life at the start of the academic";}
        
        


 