


@{ViewBag.Title = "TfL to begin essential work on A4 Hammersmith Flyover in November 2011";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>TfL to begin essential work on A4 Hammersmith Flyover in November 2011</h1>
        <div class="content-page-press-release">
        30 September 2011
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London (TfL) working to identify least disruptive work programme to extend the life of the half-a-century-old flyover.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Although the flyover remains safe for road users to use, we are currently developing a temporary solution that will allow it to remain open for the next few years."</div>
        <div class="quote-footer">
            <div class="quotee-name">Dana Skelley</div>
            <div class="quotee-job-title">Director of Roads at TfL</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Although the flyover remains safe for road users to use, we are currently developing a temporary solution that will allow it to remain open for the next few years.
                            
                        </p>
                    </div>
                
            
            
            <p>TfL will begin work to preserve and extend the operational life of the A4 Hammersmith flyover in November 2011, as part of its ongoing maintenance of road structures across the Capital.</p>
<p>The four lane flyover, which crosses the Hammersmith gyratory and links the A4 Talgarth Road to the A4 Great West Road, was constructed in the 1960s and elements of the structure are approaching the end of their operational life.</p>
<p>In light of this, TfL has been carrying out detailed monitoring inside the flyover since 2008, in particular checking the condition of the internal cables which help to hold the spans in place.</p>
<p>Recent results from this monitoring have shown that repair work needs to be carried out earlier than anticipated.&nbsp; </p>
<p>TfL has therefore now begun work to design and carry out temporary bridge strengthening works to reinforce the spans. </p>
<p>This will allow the structure to remain open to the public, while a more permanent option is developed.</p>
<p>Preliminary work will begin in mid-October, with main work commencing in November 2011, and is expected to be completed by summer 2012. </p>
<p>Any road closures or disruption will be kept to an absolute minimum while these works are carried out and further details regarding local traffic restrictions will be announced nearer the time.</p>
<p>Dana Skelley, Director of Roads at TfL, said: 'Following recent assessments by TfL engineers of the A4 Hammersmith flyover, we have found that the structure - built in 1960s - now requires major repairs in order to prolong its lifespan.</p>
<p>'Although the flyover remains safe for road users to use, we are currently developing a temporary solution that will allow it to remain open for the next few years while a permanent solution is delivered.</p>
<p>'Work will begin in November and TfL will ensure that all road users, local residents and local businesses are kept informed of any road closures or restrictions and face minimum disruption while these vital repairs are carried out.'</p>
<p>For the latest traffic information, please visit <a href="http://www.tfl.gov.uk/livetravelalert">tfl.gov.uk/livetravelalert</a> </p>

<p>
<hr>
</p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>The maintenance of the A4 Hammersmith Flyover was transferred from the Highways Agency to TfL in 2000</li>
<li>TfL does not expect these works to have any significant impact on the operation of the ORN, or our plans to keep London moving during the 2012 Games<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "TfL will begin work to preserve and extend the operational life of the A4 Hammersmith flyover in November 2011, as part of its ongoing maintenance of road structures across the Capital.The four lane flyover, which crosses the Hammersmith gyratory and";}
        
        


 