


@{ViewBag.Title = "Tour of Britain, the UK's biggest professional cycle race, returns to the Capital";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Tour of Britain, the UK's biggest professional cycle race, returns to the Capital</h1>
        <div class="content-page-press-release">
        16 September 2011
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        The Tour of Britain returns to the Capital's streets on Sunday 18 September, when over 90 professional cyclists will battle for the finish line as the Tour reaches a climax in Whitehall.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"'Events like The Tour of Britain provide a high profile platform for cycling both as a sport and as an everyday mode of transport ... am delighted that London gets to host the final stage once again."</div>
        <div class="quote-footer">
            <div class="quotee-name">Leon Daniels</div>
            <div class="quotee-job-title">Managing Director of Surface Transport at TfL</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            'Events like The Tour of Britain provide a high profile platform for cycling both as a sport and as an everyday mode of transport ... am delighted that London gets to host the final stage once again.
                            
                        </p>
                    </div>
                
            
            
            <p>This year, Londoners will have two opportunities to see the world-class cyclists performing in a morning and afternoon session.</p>

<p>Stage 8a of The Tour, will take place in the morning, and will see the reintroduction of the individual time trials for the first time since 2005, and for the first time ever in central London.</p>
<p>Stage 8b will take place in the afternoon. Cyclists will&nbsp;battle it out over 88km on the iconic 8.8km central London circuit, which begins and ends in Whitehall.</p>
<p>This is the eighth time that Transport for London (TfL) has brought the Tour of Britain to the Capital. </p>
<p>The spectacular event which has previously attracted Olympic, World and Commonwealth champions will once again welcome some of the world's top cyclists, including Tour de France Green Jersey winner Mark Cavendish, Olympic Gold Medallist Geraint Thomas and reigning World Champion Thor Hushovd.</p>
<p>Boris Johnson, Mayor of London, said: 'Playing host to great sporting events such as the Tour of Britain shows off London at its very best and having the chance to see top British talent in the running for a medal is icing on the cake.</p>
<p>I hope this cycling show stopper also inspires Londoners to dust off their bikes and join in with the cycling revolution that has been happening in London so they too can experience the city on two wheels. </p>
<p>'The Tour of Britain is also a tantalising taste of all we have to look forward to next year when London welcomes the world's greatest sporting event to our city.'</p>
<p>Hugh Roberts, Chief Executive of The Tour of Britain commented: 'We are delighted to once again be bringing The Tour of Britain to the streets of central London with the support of Transport for London.</p>
<p><br>'This year's final day of The Tour looks set to be an iconic, and nail biting day, and a great advertisement for cycling in London.'</p>
<p>Leon Daniels, Managing Director of Surface Transport at TfL, said: 'Over the last decade, London has seen a dramatic increase in the number of people who have taken up cycling as a mode of transport. </p>
<p>'Events like The Tour of Britain provide a high profile platform for cycling both as a sport and as an everyday mode of transport. The Tour of Britain is a fantastic demonstration of travelling on two wheels and I am delighted that London gets to host the final stage once again.'</p>
<p>
<hr>

<p>
<p><strong>Notes to editor</strong></p>
<ul>
<li>On Sunday 18 September, a number of road closures will be in place to facilitate Stage 8 of the Tour of Britain: From 01:00, Whitehall will be closed for the start/finish area to be built. The rest of the route will be closed from 06:00, including, Victoria Embankment, Upper Thames St and Lower Thames St, Westminster Bridge, and Northumberland Avenue. A contra-flow system will be in operation around Parliament Square throughout the road closures and all roads are expected to be reopened by 18:00 with exception of Whitehall which should be open by 21.00 </li>
<li>The Tour of Britain is the UK's largest professional cycling race and biggest free-to-attend live sporting event in the country </li>
<li>The 2011 edition of the race will run for eight days from Sunday 11 September until Sunday 18 September </li>
<li>The number of cycle journeys made in London has increased by 117 per cent since 2000 - around half a million cycle journeys are now made on London's major roads every day. For more information about the Tour of Britain, including this year's route, visit <a href="http://www.tourofbritain.co.uk">www.tourofbritain.co.uk</a> </li>
<li>More information about cycling in London can be found at <a href="http://www.tfl.gov.uk/cycling">tfl.gov.uk/cycling</a> </li>
<li>A map of the course can be downloaded from <a href="http://www.tourofbritain.com/_ns_race/default.asp?section=stage8_route-a">www.tourofbritain.com/_ns_race/default.asp?section=stage8_route-a</a><br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "This year, Londoners will have two opportunities to see the world-class cyclists performing in a morning and afternoon session.Stage 8a of The Tour, will take place in the morning, and will see the reintroduction of the individual time trials for the";}
        
        


 