


@{ViewBag.Title = "Transformation of Green Park station nears completion ";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Transformation of Green Park station nears completion </h1>
        <div class="content-page-press-release">
        06 September 2011
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Three new lifts boosting accessibility well ahead of the Games. Passengers already benefiting from a range of other improvements.
        
    </div>



 <div class="on-this-page">
<p>A transformation of Green Park Tube station is now nearly complete, with three new lifts already providing step-free access to the platforms and an attractive new ramped entrance with views of the park now in action. </p>
<p>The changes mean passengers are already benefiting from improvements being made to this key Olympic interchange well ahead of the Games. </p>
<p>The &pound;48m project to provide step-free facilities at Green Park Tube station has been completed ahead of schedule and under budget by Tube Lines and London Underground. </p>
<p>Passengers with restricted mobility, as well as people with heavy luggage or buggies, are now able to use the new lifts at Green Park Tube station to access the Piccadilly, Victoria and Jubilee line platforms. </p>
<p>Other work includes new flooring, ceiling, lighting, tiling and signage in the ticket hall plus new entrances and lift lobbies. </p>
<p>During the 2012 Games Green Park will be a key station as it will enable passengers to change to the Jubilee line for access to the Olympic Park, Wembley and North Greenwich. </p>
<p>Green Park is also an interchange for travellers heading to Heathrow airport and other key transport hubs such as St.Pancras International rail station. </p>
<h2>Helping visitors get around</h2>
<p>The Mayor of London, Boris Johnson, said: 'It is great news that passengers using Green Park every day can now take advantage of the huge improvements that have been made there. </p>
<p>'Next year it will be a very important part of the plan to help millions of Londoners and visitors to our great city get around during the Games. </p>
<p>'We want to make the links into the Olympic venues as strong as possible and the ease of passage between them as smooth as possible.'</p>
<p>The major upgrade of Green Park station also includes a new canopy and a new staircase on the south side of Piccadilly, public space improvements outside the station and beautiful artwork integral to the station buildings. </p>
<p>Jon Lamonte, Senior Transport for London Director, said: 'This is a busy station, popular with visitors to central London and will be an important link to the Olympic and Paralympic venues. </p>
<p>'Tube Lines and London Underground have worked tirelessly, day and night, to deliver improvements at Green Park station ahead of schedule and well below budget.'</p>
<h2>Step-free access</h2>
<p>A total of 63 Tube stations are now step-free from street to platform level. </p>
<p>By the time of the 2012 Games 65 Tube stations will be step-free. </p>
<p>Transport for London has applied for funding from the Government to help make further stations in the Capital 'step free'. </p>
<p>Confirmation of whether that funding might be granted is expected within the next month.</p>
<p>Art on the Underground has commissioned artist John Maine RA to create a new artwork which forms part of the station structure for passengers to enjoy. </p>
<p>The work focuses on the geology of the Portland stone cladding and setting of the station in the natural environment of Green Park.</p>
<p>
<hr>
</p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>Platform humps will be installed on the Jubilee and Piccadilly lines by June 2012, making it easier for passengers to enter and alight the trains. On the Victoria line platform humps are already being used by passengers with restricted mobility</li>
<li>Tube Lines is continuing the work at the station and surrounding area and will&nbsp;complete it in spring 2012. Tube Lines is a fully owned subsidiary of Transport for London</li>
<li>The Tube is undergoing a huge and essential programme to upgrade its ageing infrastructure - vital to cope with a growing population and to support the economic development and growth of the Capital and the UK. This includes the introduction of new track and signalling and the rebuilding of some of our most important stations. By the end of the current programme there will be 30 per cent&nbsp;more capacity</li>
<li>This will inevitably result in some disruption for passengers, but TfL is working hard to provide information and alternative travel options. The work is essential to provide for London's growing transport needs now, and into the future. Transport for London is urging all Londoners and Tube, London Overground, London Tramlink and Docklands Light Railway passengers to <a href="http://www.tfl.gov.uk/check">check before they travel </a>at weekends, allowing extra journey time where neccesary</li>
<li>Capita Architecture, the architectural brand of Capita Symonds were the lead designers for Green Park station. Architects Feilden + Mawson were responsible for the planning and conservation within Green Park. Tube Lines then carried out the detailed design</li>
<li>This autumn the Royal Academy of Arts will present Artists' Laboratory 04, After Cosmati, an environmental sculpture installation by John Maine RA. Maine is best known for making large outdoor sculpture in stone which relates to the surrounding landscape. Maine's work utilises simple forms such as rings, columns and cones. Physical weight and texture also characterise his work which encourages contemplation and a celebration of the elements. His extensive travels have informed his sculpture and he has created monumental installations over the world. Maine's piece will highlight his current interest with bringing the outside into an interior space and creating a greater space within it. The exhibition is open to the public from Wednesday 9 November - Sunday 18 December 2011, 10:00-18:00 daily, Fridays until 22:00. Complimentary entry with a valid Royal Academy exhibition ticket. &pound;3 without an exhibition ticket</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "A transformation of Green Park Tube station is now nearly complete, with three new lifts already providing step-free access to the platforms and an attractive new ramped entrance with views of the park now in action. The changes mean passengers are";}
        
        


 