


@{ViewBag.Title = "UK Power Network chaos 'deeply frustrating and wholly unacceptable'";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>UK Power Network chaos 'deeply frustrating and wholly unacceptable'</h1>
        <div class="content-page-press-release">
        12 September 2011
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Thousands of people had their journey into London disrupted this morning after Upper Thames Street in London was reduced to one lane this morning following uncoordinated utility works by UK Power Network.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"The fact that management at the company [UK Power Network] were not aware of the major disruption that these works have caused this morning is both deeply frustrating and wholly unacceptable."</div>
        <div class="quote-footer">
            <div class="quotee-name">Leon Daniels</div>
            <div class="quotee-job-title">Managing Director of Surface Transport</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            The fact that management at the company [UK Power Network] were not aware of the major disruption that these works have caused this morning is both deeply frustrating and wholly unacceptable.
                            
                        </p>
                    </div>
                
            
            
            <p>The emergency works began on Friday evening to repair a high voltage cable underneath Upper Thames Street in Central London. </p>
<p>The company failed to notify Transport for London (TfL) through the correct channels that the work was taking place, and to make matters worse, when TfL contacted UK Power Network over the weekend, relevant officials were uncontactable and their customer service department unaware of the works. </p>
<p>At the height of the morning peak, westbound traffic was queuing back to the Limehouse Link tunnel and causing further delays to traffic across both Southwark and Tower Bridge.</p>
<p>Leon Daniels, Managing Director of Surface Transport at TfL, said: 'Once again, peoples' commute into London has been thrown into utter chaos because a utility company can't simply work out what its left and right hands are doing. </p>

<p>'The fact that management at the company were not aware of the major disruption that these works have caused this morning is both deeply frustrating and wholly unacceptable.</p>
<p>'I am writing to the utility company this morning to convey the frustrations of all road users about this mismanagement and wish to assure Londoners that the Mayor and TfL will not tolerate this behaviour. </p>
<p>'A consultation is now underway on a lane rental scheme that would charge utility companies according to the amount of time they disrupt London's streets, and incidents like this show why such a system is essential.'<br></p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The emergency works began on Friday evening to repair a high voltage cable underneath Upper Thames Street in Central London. The company failed to notify Transport for London (TfL) through the correct channels that the work was taking place, and to make";}
        
        


 