


@{ViewBag.Title = "Vital road improvements along Park Lane from 19 September until 8 October ";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Vital road improvements along Park Lane from 19 September until 8 October </h1>
        <div class="content-page-press-release">
        16 September 2011
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London (TfL) will be carrying out overnight refurbishment works along the A2402 Park Lane from 19 September as part of ongoing maintenance of the TfL Road Network (TLRN).
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"By carrying out a vast majority of these works overnight using lane restrictions rather than a full road closure, traffic will still be able to use the road throughout the day, helping to keep any disruption to a minimum."</div>
        <div class="quote-footer">
            <div class="quotee-name">Dana Skelley</div>
            <div class="quotee-job-title">Director of Roads at TfL</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            By carrying out a vast majority of these works overnight using lane restrictions rather than a full road closure, traffic will still be able to use the road throughout the day, helping to keep any disruption to a minimum.
                            
                        </p>
                    </div>
                
            
            
            <p>Between 21:00 and 06:00 from 19 September until 8 October, overnight resurfacing works will be carried out along Park Lane to restore the carriageway between Marble Arch and Hertford Street. </p>
<p>By carrying out the work overnight, when traffic levels are lower, TfL can ensure that disruption to road users and local bus services are kept to a minimum. </p>
<p>Overnight work will take place seven days a week, apart from on the 2-4 October, in order to avoid events being held at the Grosvenor House Hotel.</p>
<p>As well as overnight resurfacing works, TfL will also be carrying out off-peak daytime work - between 09:30 and 16:00 -&nbsp;to realign the kerb at the junction of Park Lane and Mount Street. </p>
<p>By realigning the kerb at this location, TfL can ensure that traffic enters the petrol station along Park Lane via Mount Street correctly, reducing queues along Park Lane and helping to improve traffic flow for cars, lorries and buses.</p>
<p>All work will be carried out using lane restrictions, rather than full road closures, helping to ensure that any disruption caused by these works is kept to a minimum.</p>
<p>Dana Skelley, Director of Roads at TfL, said: 'Park Lane is a key route through the heart of central London and these works are vital to ensure that all road users can continue to use this important road safely for years to come.</p>
<p>'By carrying out a vast majority of these works overnight using lane restrictions rather than a full road closure, traffic will still be able to use the road throughout the day, helping to keep any disruption to a minimum. </p>
<p>'We ask all road users to bear with us while these vital highway improvement works are carried out.'</p>
<p>During these refurbishment works, TfL will keep road users informed of lane closures and overnight diversions through roadside message boards and local radio broadcasts.</p>
<p>
<hr>
<strong>Notes to editor</strong>
<ul>
<li>Transport for London is responsible for the 580km TfL Road Network, the red routes at London, which makes up five per cent of the capital's road network and carries around a third of the capital's traffic </li>
<li>Prior to the works commencing, TfL engaged with local hotels and businesses along Park Lane to discuss the need for these works and agree to late night working arrangements </li>
<li>TfL and 25 London boroughs now operate the London Permit Scheme on their roads. Permitting enables TfL and the London boroughs to proactively plan and coordinate the timing of works, providing greater opportunities for utility companies to carry out works at the same time, helping to reduce disruption to road users </li>
<li>The Mayor of London and TfL are currently consulting on a proposal to introduce a targeted and avoidable lane rental scheme along the TLRN, which will allow charging of utility companies if they want to dig up certain parts of London's major traffic arteries during peak hours. For more information, visit&nbsp;<a href="https://consultations.tfl.gov.uk/streets/lane-rental">https://consultations.tfl.gov.uk/streets/lane-rental</a></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Between 21:00 and 06:00 from 19 September until 8 October, overnight resurfacing works will be carried out along Park Lane to restore the carriageway between Marble Arch and Hertford Street. By carrying out the work overnight, when traffic levels are";}
        
        


 