


@{ViewBag.Title = "Weekend closures at London Bridge Station bus station ";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Weekend closures at London Bridge Station bus station </h1>
        <div class="content-page-press-release">
        09 September 2011
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        London Bridge bus station will be closed for the next two weekends for essential repair works to a water main and preparation works for the construction of the new London Bridge bus station.
        
    </div>



 <div class="on-this-page">
<p>The bus station will close between 00:01 Saturday 10 September until 05:00 on Monday 12 September and during the same hours on the weekend of 18/19 September.&nbsp; </p>
<p>Buses will call at nearby stops on London Bridge instead.&nbsp; </p>
<p>Bus routes affected are numbers 17, 43, 48, 141, 149, N21 and N343.&nbsp; </p>
<p>Revised stopping arrangements will be clearly displayed on posters around the bus station, in local bus stops and on the Transport for London (TfL)&nbsp;website <a href="http://www.tfl.gov.uk/livetravelnews">tfl.gov.uk/livetravelnews</a>.&nbsp; </p>
<p>Passengers are advised to allow extra time to complete their journeys.</p>
<p>Taxis will also be unable to serve the rank at London Bridge bus station but passengers will be able to catch taxis from the ranks on Duke St. Hill close to the London Dungeon attraction. </p>
<p>Taxi marshals will be available to assist passengers with any onward journeys.</p>
<p>TfL would like to apologise for any inconvenience these temporary changes may cause.&nbsp; </p>
<p>These closures, for preparatory works, should prevent further closures during the main construction works of the new bus station..</p>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The bus station will close between 00:01 Saturday 10 September until 05:00 on Monday 12 September and during the same hours on the weekend of 18/19 September.&nbsp; Buses will call at nearby stops on London Bridge instead.&nbsp; Bus routes affected are";}
        
        


 