


@{ViewBag.Title = "May";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2013">2013</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">May</span>
                </li>
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>May</h1>
    </div>
</div>

<div class="main-and-aside r">
    <div class="main" role="main">

<div class="on-this-page">


     


<div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2013/may/tfl-launches-countdown-digital-sign-service--offering-real-time-bus-arrival-information-in-public-spaces">TfL launches Countdown Digital Sign service - offering real time bus arrival information in public spaces<br />31 May 2013</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2013/may/funding-secured-to-expand-europes-largest-green-bus-fleet">Funding secured to expand Europe's largest green bus fleet<br />29 May 2013</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2013/may/lowest-ever-rates-of-crime-on-the-transport-system">Lowest ever rates of crime on the transport system<br />29 May 2013</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2013/may/mayor-announces-next-bus-route-to-be-served-by-iconic-new-bus-for-london">Mayor announces next bus route to be served by iconic New Bus for London <br />29 May 2013</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2013/may/tfl-vosa-and-metropolitan-police-increase-enforcement-against-dangerous-commercial-vehicles-using-blackwall-tunnel">TfL, VOSA and Metropolitan Police increase enforcement against dangerous commercial vehicles using Blackwall Tunnel<br />22 May 2013</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2013/may/spring-into-summer-with-expert-guides-to-enjoy-london-on-foot">Spring into summer with expert guides to enjoy London on foot <br />22 May 2013</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2013/may/thames-clippers-putney-to-blackfriars-river-bus-service-is-a-sail-away-success">Thames Clippers Putney to Blackfriars River Bus service is a sail away success<br />22 May 2013</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2013/may/reminder--new-lifts-for-edgware-road-bakerloo-line-station">Reminder - New lifts for Edgware Road (Bakerloo line) Station<br />21 May 2013</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2013/may/congestion-charge-changes-begin-to-take-effect">Congestion Charge changes begin to take effect<br />20 May 2013</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2013/may/new-school-rate-on-the-emirates-air-line-means-pupils-can-swap-classrooms-for-highflying-cabins">New school rate on the Emirates Air Line means pupils can swap classrooms for high-flying cabins<br />20 May 2013</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2013/may/recordbreaking-week-for-bus-journeys-as-passenger-numbers-continue-to-rise">Record-breaking week for bus journeys as passenger numbers continue to rise<br />16 May 2013</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2013/may/applications-open-for-apprentice-oyster-photocard">Applications open for Apprentice Oyster photocard<br />15 May 2013</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2013/may/contract-awarded-for-major-construction-work-to-increase-vauxhall-tube-station-capacity-and-make-it-step-free">Contract awarded for major construction work to increase Vauxhall Tube station capacity and make it step free<br />15 May 2013</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2013/may/consultation-opens-on-proposed-routes-for-crossrail-2">Consultation opens on proposed routes for Crossrail 2<br />14 May 2013</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2013/may/bbc-documentary-celebrates-150-years-of-the-tube">BBC documentary celebrates 150 years of the Tube <br />13 May 2013</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2013/may/mayor-heads-to-northern-ireland-to-meet-bus-workers-who-benefit-from-capitals-investment">Mayor heads to Northern Ireland to meet bus workers who benefit from Capital's investment<br />10 May 2013</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2013/may/drivers-advised-to-avoid-a205-london-road-in-forest-hill-due-to-emergency-sewer-repairs">Drivers advised to avoid A205 London Road in Forest Hill due to emergency sewer repairs<br />09 May 2013</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2013/may/consultation-reveals-continued-support-for-new-river-crossings-in-east-london">Consultation reveals continued support for new river crossings in east London <br />07 May 2013</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2013/may/london-overground-puts-music-on-the-tracks">London Overground puts music on the tracks<br />07 May 2013</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2013/may/transport-for-london-orders-additional-london-overground-carriages">Transport for London orders additional London Overground carriages<br />07 May 2013</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2013/may/new-buses-deliver-multimillion-pound-saving">New buses deliver multi-million pound saving<br />03 May 2013</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2013/may/tfl-consults-on-proposed-changes-to-bus-routes-in-hackney-town-centre">TfL consults on proposed changes to bus routes in Hackney town centre <br />01 May 2013</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2013/may/bikesafelondon-celebrates-10-years-of-improving-rider-safety-across-london">BikeSafe-London celebrates 10 years of improving rider safety across London<br />01 May 2013</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2013/may/tube-smashes-performance-records-in-its-150th-year">Tube smashes performance records in its 150th year<br />01 May 2013</a></div>


        
        
        
        @this.ScriptBlock(
        @<script>
        queue.push("@Html.ScriptPath("modules/M020-on-this-page.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">
        
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/15890">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/september">September</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/july">July</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/june">June</a></div></li>
                                    
 
                                                <li class="selected"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16598">May</a></div>
                                            
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16698">April</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16906">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16962">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>


<div></div>

        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>
 
        
        
            @{ViewBag.Description = "Press releases from May 2013";}
        
        


 