


@{ViewBag.Title = "January";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2013">2013</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">January</span>
                </li>
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>January</h1>
    </div>
</div>

<div class="main-and-aside r">
    <div class="main" role="main">

<div class="on-this-page">


     


<div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2013/january/tfl-scoops-two-low-carbon-vehicle-partnership-awards">TfL scoops two Low Carbon Vehicle Partnership Awards<br />30 Jan 2013</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2013/january/prince-of-wales-and-duchess-of-cornwall-take-a-ride-on-the-tube-as-it-celebrates-150-years-of-serving-london-and-the-uk">Prince of Wales and Duchess of Cornwall take a ride on the Tube as it celebrates 150 years of serving London and the UK<br />30 Jan 2013</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2013/january/london-overground-tops-passenger-satisfaction-table">London Overground tops passenger satisfaction table<br />29 Jan 2013</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2013/january/london-underground-outlines-plan-to-cut-tube-delays-even-further">London Underground outlines plan to cut Tube delays even further<br />29 Jan 2013</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2013/january/londoners-encouraged-to-submit-views-on-proposed-changes-to-congestion-charging-scheme">Londoners encouraged to submit views on proposed changes to Congestion Charging scheme<br />25 Jan 2013</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2013/january/mayor-announces-first-bus-route-to-be-fully-served-by-iconic-new-bus-for-london-fleet">Mayor announces first bus route to be fully served by iconic new bus for London fleet  <br />25 Jan 2013</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2013/january/the-royal-mint-issues-special-london-underground-coins-into-circulation-to-celebrate-150th-anniversary-of-tube">The Royal Mint issues special London Underground coins into circulation to celebrate 150th anniversary of Tube<br />24 Jan 2013</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2013/january/mayor-and-tfl-continue-drive-to-improve-air-quality-in-putney">Mayor and TfL continue drive to improve air quality in Putney<br />23 Jan 2013</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2013/january/first-phase-of-mayors-clean-air-fund-programme-has-a-positive-effect">First phase of Mayor's Clean Air Fund programme has a positive effect <br />22 Jan 2013</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2013/january/london-underground-on-hunt-for-musical-talent">London Underground on hunt for musical talent<br />21 Jan 2013</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2013/january/vauxhall-one-way-system-reopens-following-last-weeks-helicopter-crash">Vauxhall One Way system reopens following last week's helicopter crash <br />21 Jan 2013</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2013/january/local-bus-services-affected-by-closure-of-shepherds-bush-green">Local bus services affected by closure of Shepherd's Bush Green<br />21 Jan 2013</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2013/january/tfl-encourages-londoners-to-respond-to-the-river-crossings-consultation-before-it-closes">TfL encourages Londoners to respond to the river crossings consultation before it closes <br />18 Jan 2013</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2013/january/tfl-strongly-advises-road-users-to-avoid-vauxhall-area-where-possible-following-helicopter-crash">TfL strongly advises road users to avoid Vauxhall area where possible following helicopter crash<br />17 Jan 2013</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2013/january/tfl-travel-advice-to-road-users-following-helicopter-crash-in-vauxhall">TfL travel advice to road users following helicopter crash in Vauxhall<br />16 Jan 2013</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2013/january/londons-transport-network-gets-ready-for-cold-weather">London's transport network gets ready for cold weather<br />13 Jan 2013</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2013/january/new-london-overground-link-carries-one-million-people-in-one-month">New London Overground link carries one million people in one month<br />11 Jan 2013</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2013/january/tfl-appoints-design-consultants-as-major-road-structure-improvement-portfolio-takes-shape">TfL appoints design consultants as major road structure improvement portfolio takes shape<br />11 Jan 2013</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2013/january/transformation-of-the-tube-network-continues-apace-during-historic-150th-year">Transformation of the Tube network continues apace during historic 150th year<br />09 Jan 2013</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2013/january/dlr-operating-contract-extended-until-september-2014">DLR operating contract extended until September 2014 <br />07 Jan 2013</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2013/january/passengers-to-benefit-from-andpound45m-upgrade-of-vauxhall-tube-station">Passengers to benefit from &pound;45m Upgrade of Vauxhall Tube station<br />07 Jan 2013</a></div>


        
        
        
        @this.ScriptBlock(
        @<script>
        queue.push("@Html.ScriptPath("modules/M020-on-this-page.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">
        
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/15890">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/september">September</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/july">July</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/june">June</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16598">May</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16698">April</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16906">February</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16962">January</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>


<div></div>

        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>
 
        
        
            @{ViewBag.Description = "Press releases from January 2013";}
        
        


 