


@{ViewBag.Title = "July";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2013">2013</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">July</span>
                </li>
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>July</h1>
    </div>
</div>

<div class="main-and-aside r">
    <div class="main" role="main">

<div class="on-this-page">


     


<div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2013/july/tfl-opens-the-doors-to-a-new-generation-of-transport-workers">TfL opens the doors to a new generation of transport workers<br />01 Jul 2013</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2013/july/transport-for-london-launches-new-cashless-payments-and-cheaper-season-ticket-prices-across-all-of-its-car-parks">Transport for London launches new cashless payments and cheaper season ticket prices across all of its car parks<br />01 Jul 2013</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2013/july/tfls-famous-oyster-card-celebrates-ten-successful-years-making-journeys-easier-for-customers">TfL's famous Oyster card celebrates ten successful years making journeys easier for customers<br />01 Jul 2013</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2013/july/dialarides-star-performers-recognised-at-annual-awards">Dial-a-Ride's star performers recognised at annual awards<br />01 Jul 2013</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2013/july/tfl-to-take-over-key-commuter-rail-routes-out-of-liverpool-street-station">TfL to take over key commuter rail routes out of Liverpool Street station <br />02 Jul 2013</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2013/july/summer-poems-with-london-connections">Summer poems with London connections <br />03 Jul 2013</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2013/july/tfl-announces-beat-the-heat-plan-for-summer-2013">TfL announces beat the heat plan for summer 2013<br />04 Jul 2013</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2013/july/transport-for-london-seeks-your-views-about-changes-to-route-235-in-the-brentford-area">Transport for London seeks your views about changes to route 235 in the Brentford area<br />04 Jul 2013</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2013/july/mayors-roads-task-force-sets-out-bold-new-vision-for-londons-21st-century-streets-and-roads">Mayor's Roads Task Force sets out bold new vision for London's 21st century streets and roads<br />10 Jul 2013</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2013/july/tfl-welcomes-mayors-roads-task-force-report-and-sets-out-plans-to-deliver-21st-century-roads-and-streets">TfL welcomes Mayor's Roads Task Force report and sets out plans to deliver 21st century roads and streets<br />10 Jul 2013</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2013/july/tfl-travel-advice-victoria-area-affected-by-burst-thames-water-main--road-users-advised-to-avoid-the-area">TfL Travel Advice: Victoria area affected by burst Thames Water main - road users advised to avoid the area<br />11 Jul 2013</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2013/july/one-way-at-highbury-and-islington-tube-station">One Way at Highbury & Islington Tube station<br />11 Jul 2013</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2013/july/reissue-tfl-announces-beat-the-heat-plan-for-summer-2013">REISSUE: TfL announces beat the heat plan for summer 2013<br />15 Jul 2013</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2013/july/tfl-warns-road-users-dont-get-caught-out-as-the-biggest-road-cycling-event-since-the-olympics-comes-to-london">TfL warns road users 'don't get caught out' as the biggest road cycling event since the Olympics comes to London<br />17 Jul 2013</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2013/july/discussions-between-capco-and-tfl-advance-to-bring-forward-the-earls-court-masterplan">Discussions between Capco and TfL advance to bring forward the Earls Court Masterplan<br />18 Jul 2013</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2013/july/transport-for-london-recognises-outstanding-and-inspirational-staff-at-london-bus-awards">Transport for London recognises outstanding and inspirational staff at London Bus Awards<br />18 Jul 2013</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2013/july/the-london-2012-games-transport-legacy-one-year-on">The London 2012 Games transport legacy: one year on<br />19 Jul 2013</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2013/july/just-two-weeks-to-go-to-respond-to-the-crossrail-2-consultation">Just two weeks to go to respond to the Crossrail 2 consultation<br />19 Jul 2013</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2013/july/dna-spit-kits-reduce-spit-attacks-on-staff-by-75-per-cent-over-a-decade-of-fighting-antisocial-behaviour">DNA 'Spit Kits' reduce spit attacks on staff by 75 per cent over a decade of fighting antisocial behaviour<br />24 Jul 2013</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2013/july/paying-congestion-charge-in-shops-and-petrol-stations-to-end-as-popularity-falls">Paying Congestion Charge in shops and petrol stations to end as popularity falls<br />24 Jul 2013</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2013/july/road-closures-this-weekend-for-the-london-triathlon">Road closures this weekend for the London Triathlon<br />24 Jul 2013</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2013/july/green-light-for-crossrail-station-at-woolwich">Green light for Crossrail station at Woolwich<br />25 Jul 2013</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2013/july/tfl-warns-road-users-dont-get-caught-out-as-the-biggest-road-cycling-event-since-the-olympics-comes-to-london">TfL warns road users 'don't get caught out' as the biggest road cycling event since the Olympics comes to London<br />29 Jul 2013</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2013/july/woolwich-ferry-rekindles-its-annual-charity-river-trip">Woolwich Ferry rekindles its annual charity river trip<br />29 Jul 2013</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2013/july/tfl-and-crossrail-unveil-new-images-of-tottenham-court-road-station-as-major-new-transport-hub-takes-shape">TfL and Crossrail unveil new images of Tottenham Court Road station as major new transport hub takes shape<br />30 Jul 2013</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2013/july/temporary-closure-of-north-greenwich-bus-station-for-essential-works">Temporary closure of North Greenwich Bus Station for essential works<br />30 Jul 2013</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2013/july/tube-stations-blooming-in-150th-year-of-the-tube">Tube stations blooming in 150th year of the Tube<br />31 Jul 2013</a></div>


        
        
        
        @this.ScriptBlock(
        @<script>
        queue.push("@Html.ScriptPath("modules/M020-on-this-page.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">
        
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/15890">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/september">September</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/august">August</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/july">July</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/june">June</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16598">May</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16698">April</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16906">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16962">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>


<div></div>

        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>
 
        
        
            @{ViewBag.Description = "Press releases from July 2013";}
        
        


 