


@{ViewBag.Title = "October";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2013">2013</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">October</span>
                </li>
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>October</h1>
    </div>
</div>

<div class="main-and-aside r">
    <div class="main" role="main">

<div class="on-this-page">


     


<div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2013/october/changes-to-bus-routes-473-and-474">Changes to bus routes 473 and 474<br />02 Oct 2013</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2013/october/tfl-and-accessibility-charities-launch-new-awareness-training-for-bus-drivers">TfL and accessibility charities launch new awareness training for bus drivers<br />03 Oct 2013</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2013/october/tfl-consults-on-proposed-changes-to-routes-61-273-and-661">TfL consults on proposed changes to routes 61, 273 and 661<br />03 Oct 2013</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2013/october/plans-for-new-outofhours-delivery-trials-and-wider-freight-legacy-unveiled-by-tfl">Plans for new out-of-hours delivery trials and wider freight legacy unveiled by TfL<br />04 Oct 2013</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2013/october/escalator-work-completed-at-highbury-and-islington-tube-station">Escalator work completed at Highbury & Islington Tube station<br />09 Oct 2013</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2013/october/transport-for-london-and-its-policing-partners-cut-cycle-theft-across-the-capital">Transport for London and its policing partners cut cycle theft across the capital<br />10 Oct 2013</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2013/october/monument-way-hale-road-and-the-hale-to-carry-twoway-traffic-from-13-october">Monument Way, Hale Road and The Hale to carry two-way traffic from 13 October<br />10 Oct 2013</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2013/october/tfl-helps-exarmed-forces-members-back-into-employment">TfL helps ex-Armed Forces members back into employment<br />11 Oct 2013</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2013/october/poet-john-hegley-thanks-london-underground-in-new-poem-to-celebrate-150th-anniversary-of-tube">Poet John Hegley thanks London Underground in new poem to celebrate 150th anniversary of Tube<br />15 Oct 2013</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2013/october/transport-for-london-and-crossrail-pave-the-way-for-140-new-graduate-trainees-to-become-industry-experts">Transport for London and Crossrail pave the way for 140 new graduate trainees to become industry experts<br />17 Oct 2013</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2013/october/major-works-to-replace-escalators-at-embankment-station-will-commence-in-the-new-year">Major works to replace escalators at Embankment station will commence in the New Year<br />18 Oct 2013</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2013/october/route-9-to-be-served-by-iconic-new-bus-for-london-from-saturday">Route 9 to be served by iconic New Bus for London from Saturday<br />21 Oct 2013</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2013/october/tfl-introduces-further-transparency-and-accountability-by-publishing-more-data-and-information">TfL introduces further transparency and accountability by publishing more data and information<br />21 Oct 2013</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2013/october/river-thames-2020--industry-brought-together-to-explore-the-future-of-river-travel-in-london">River Thames 2020 - Industry brought together to explore the future of river travel in London<br />22 Oct 2013</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2013/october/four-new-campaigns-launched-to-cut-death-and-injury-on-londons-roads">Four new campaigns launched to cut death and injury on London's roads<br />23 Oct 2013</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2013/october/transport-for-london-celebrates-schools-commitment-to-active-and-safer-travel">Transport for London celebrates schools' commitment to active and safer travel <br />24 Oct 2013</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2013/october/hrh-the-duke-of-york-kg-opens-new-school-to-give-young-londoners-vital-technical-skills">HRH The Duke of York, KG opens new school to give young Londoners vital technical skills<br />24 Oct 2013</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2013/october/chancery-lane-station-improvement-works">Chancery Lane station improvement works<br />24 Oct 2013</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2013/october/local-bus-services-subject-to-diversions-during-bridge-strengthening-works-in-erith">Local bus services subject to diversions during bridge strengthening works in Erith<br />25 Oct 2013</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2013/october/londons-transport-network-draped-in-poppies-for-london-poppy-day">London's Transport network draped in poppies for London Poppy Day <br />28 Oct 2013</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2013/october/londons-first-tourist-coach-action-plan-launched">London's first Tourist Coach Action Plan launched<br />29 Oct 2013</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2013/october/tfl-carries-record-number-of-bus-passengers-following-mondays-storm">TfL carries record number of bus passengers following Monday's storm<br />31 Oct 2013</a></div>


        
        
        
        @this.ScriptBlock(
        @<script>
        queue.push("@Html.ScriptPath("modules/M020-on-this-page.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">
        
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/15890">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/november">November</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/october">October</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/september">September</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/july">July</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/june">June</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16598">May</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16698">April</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16906">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16962">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>


<div></div>

        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>
 
        
        
            @{ViewBag.Description = "Press releases from October 2013";}
        
        


 