


@{ViewBag.Title = "September";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2013">2013</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">September</span>
                </li>
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>September</h1>
    </div>
</div>

<div class="main-and-aside r">
    <div class="main" role="main">

<div class="on-this-page">


     


<div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2013/september/tfl-launches-new-campaign-to-further-in-reduce-delays">TfL launches new campaign to further in reduce delays <br />30 Sep 2013</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2013/september/tfl-hires-top-marine-engineers-as-part-of-plan-to-increase-capacity-at-three-central-london-piers">TfL hires top marine engineers as part of plan to increase capacity at three central London piers<br />30 Sep 2013</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2013/september/share-your-experiences-to-mark-150th-anniversary-of-paddington-to-hammersmith-branch">Share your experiences to mark 150th anniversary of Paddington to Hammersmith branch  <br />25 Sep 2013</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2013/september/victoria-line-industrial-action-deferred">Victoria line industrial action deferred<br />24 Sep 2013</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2013/september/final-phase-of-work-on-hammersmith-flyover-to-begin-in-october-2013">Final phase of work on Hammersmith Flyover to begin in October 2013<br />23 Sep 2013</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2013/september/say-hello-to-the-fresh-autumn-air-on-a-free-guided-walk">Say hello to the fresh autumn air on a free guided walk            <br />23 Sep 2013</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2013/september/tfl-supports-the-uitps-all-together-for-public-transport-growth-campaign">TfL supports the UITP's 'All together for public transport growth' campaign<br />16 Sep 2013</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2013/september/route-11-to-start-operating-with-new-bus-for-london">Route 11 to start operating with New Bus for London<br />16 Sep 2013</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2013/september/plan-your-journey-for-sunday-22-september-ahead-of-the-london-finish-of-the-tour-of-britain">Plan your journey for Sunday 22 September ahead of the London finish of The Tour of Britain<br />16 Sep 2013</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2013/september/works-underway-to-make-greenford-tube-station-step-free-with-new-incline-lift">Works underway to make Greenford Tube station step free with new incline lift<br />13 Sep 2013</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2013/september/tube-stations-and-train-depots-blossom-at-awards">Tube stations and train depots blossom at awards<br />12 Sep 2013</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2013/september/summer-journeys-up-95-million-on-last-year-as-tube-performance-remains-on-track">Summer journeys up 9.5 million on last year as Tube performance remains on track<br />11 Sep 2013</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2013/september/opening-the-doors-on-transport">'Opening the Doors' on Transport <br />10 Sep 2013</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2013/september/road-closures-in-central-london-for-the-world-triathlon-grand-final--11-to-15-september">Road closures in central London for the World Triathlon Grand Final - 11 to 15 September<br />10 Sep 2013</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2013/september/reminder-passengers-on-two-tube-lines-to-benefit-from-increased-services">Reminder: Passengers on two Tube lines to benefit from increased services <br />09 Sep 2013</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2013/september/putney-to-blackfriars-river-bus-service-is-a-sail-away-success">Putney to Blackfriars River Bus service is a sail away success<br />09 Sep 2013</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2013/september/community-cycling-grants-to-help-londoners-discover-cycling">Community cycling grants to help Londoners discover cycling<br />04 Sep 2013</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2013/september/tfl-reminds-oyster-customers-how-to-get-back-any-money-you-havent-spent">TfL reminds Oyster customers how to 'get back any money you haven't spent'<br />02 Sep 2013</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2013/september/oars-at-the-ready-for-the-start-of-the-great-river-race-2013">Oars at the ready for the start of The Great River Race 2013<br />02 Sep 2013</a></div>


        
        
        
        @this.ScriptBlock(
        @<script>
        queue.push("@Html.ScriptPath("modules/M020-on-this-page.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">
        
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/15890">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/october">October</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/september">September</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/july">July</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/june">June</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16598">May</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16698">April</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16906">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16962">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>


<div></div>

        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>
 
        
        
            @{ViewBag.Description = "Press releases from September 2013";}
        
        


 