


@{ViewBag.Title = "&pound;36m upgrade of Vauxhall Tube station reaches half way";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014">2014</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014/december">December</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">£36m upgrade of Vauxhall Tube station reaches half way</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>£36m upgrade of Vauxhall Tube station reaches half way</h1>
        <div class="content-page-press-release">
        18 December 2014
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Station to become step-free in latest push for a more accessible transport network
        
    </div>



 <div class="on-this-page">
<p>Construction work on the &pound;36 million upgrade of Vauxhall Tube station, to increase capacity and make it step-free, is now at the half way mark.</p>
<p>This is the essential first phase of a major investment designed to support the growth and regeneration of the surrounding area.</p>
<p>The number of passengers using Vauxhall Underground station is set to increase by 40% over the next few years and in order to create extra space, the ticket hall is being reconfigured to enlarge it and increase the number of ticket gates, reducing congestion within the station. The Tube station has remained open during the work and will continue to do so.</p>
<p>The ticket hall, its subways and stairways will be completely refurbished and a lift will be installed between the ticket hall and platforms. This, combined with the existing lift from the bus station to the Tube ticket hall, will deliver step-free access to the Victoria line trains.</p>
<p>David Waboso, Capital Programmes Director, London Underground, said: `A lot of hard work has gone on behind the hoardings to modernise Vauxhall Underground station over the past year. Now it is half way complete with a new station control room, new equipment rooms and a lift shaft excavated.</p>
<p>`Vauxhall is a very busy Tube station, with about 21 million people using it annually, and it's set to get even busier.  Not only are we making the station step-free, it will also give passengers more space and will make journeys through the station quicker and more pleasant. These works, along with other TfL investment in improving the local transport network, will play a key role in helping to support the regeneration of the area.</p>
<p>`Carrying out tunneling activities and other major works within this busy station, while keeping it fully in use, is no small achievement", said Ailie MacAdam, head of Bechtel's rail business. "We've enjoyed growing our partnership with our customer London Underground, building a diverse team together and we're looking forward to delivering this upgrade on time, within budget and to a level of quality that we can all be proud of.'</p>
<p>Around 30% of the engineers  on this  project  from Bechtel and London Underground are female &#45; compared to the national supply in the UK, which is about 6%.</p>
<p>A new station control room has been installed and a new electrical switch room, offices, staff mess room and staff toilets are just being finished on the north side of the ticket hall. While on the south side of the ticket hall, old rooms have been stripped out and the wall tiling has commenced as part of the refurbishment of the subways and stairs.</p>
<p>For the step-free access works, the new lift shaft, which is approximately 15 metres deep, has been excavated and the initial concrete lining for the shaft has been sprayed, while the lobby passageways from the lift to the platforms are being excavated.</p>
<p>Over the next year the south side of the ticket hall will be reconstructed with the installation of the new lift and replacement bus station lift, the realignment of the ticket gate line with additional gates and the complete refurbishment of the ticket hall and subways with new signage, CCTV, ceilings, floor and wall tiling.</p>
<p>Transport for London (TfL) is working to support a huge increase in jobs, businesses and homes in Vauxhall, Nine Elms and Battersea, which is one of the Mayor's 33 key Opportunity Areas. Key projects include extending the Northern line, transforming the gyratory system, making major improvements for walking and cycling, and enhancing bus services.</p>
<p>The total project cost of the Vauxhall Tube station improvements has been reduced by more than &pound;9 million from &pound;45 million through working closely with contractor Bechtel. </p>
<hr />
<ul>
    <li>The works to improve Vauxhall station are part of TfL's focus on investing in transport projects across London that will support economic growth.  Vauxhall is designated as one of London's Opportunity Areas, and is set to benefit from huge investment over the coming years &#45; with major developments planned for the Nine Elms area.</li>
    <li>TfL and the developers of Battersea Power Station have confirmed that agreement has been reached on the key commercial agreements relating to the delivery and funding of the Northern Line Extension (NLE) to Battersea Power Station. Subject to the outcome of the Transport and Works Act Order inquiry and Secretary of State approval, this is expected to unlock the construction of the NLE.</li>
    <li>It also means that the conditions the Chancellor set last year have been met and the Treasury will lend up to &pound;1bn to the GLA for the construction of the project. The funding to repay this borrowing will come from the private sector in the form of business rates and private developer contributions.</li>
    <li>The Chancellor has also agreed to introduce legislation that will allow the creation of an Enterprise Zone in the Vauxhall Nine Elms area. This will enable the retention of any growth in business rates over 25 years as part of the funding for the NLE.</li>
    <li>The Tube is undergoing a huge and essential programme to upgrade its ageing infrastructure, which is vital to cope with a growing population and to support the economic development and growth of the capital and the UK.</li>
    <li>This work will continue to improve performance and deliver reliable Tube services for Londoners - with faster and more frequent journeys, fewer delays and, ultimately, 30 per cent more service across the network.</li>
    <li>TfL is also working in partnership with the London Borough of Lambeth on potential changes to the bus station and Vauxhall gyratory.</li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div>
                                        <ul>
                                            
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/december">December</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2014-December-£36m upgrade of Vauxhall Tube station reaches half way -->

 
 
        
        
            @{ViewBag.Description = "Station to become step-free in latest push for a more accessible transport network";}
        
        


 