


@{ViewBag.Title = "Advice to bus passengers: Monday 5 January";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014">2014</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014/december">December</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Advice to bus passengers: Monday 5 January</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Advice to bus passengers: Monday 5 January</h1>
        <div class="content-page-press-release">
        31 December 2014
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Advice to bus passengers during industrial action on Tower Transit services: Monday 5 January
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"I'd like to apologise to our customers in advance for any disruption they may face as a result of this strike and would strongly advise them to check before they travel. We'll be issuing information from a range of channels and our teams will be working hard to make sure that this information is up to date."</div>
        <div class="quote-footer">
            <div class="quotee-name">Mike Weston</div>
            <div class="quotee-job-title">Director of Buses, TfL</div>
        </div>
</div>

 <div class="on-this-page">
<ul>
    <li>Tower Transit operate less than 5 per cent of the bus network &#45; services operated by other companies across the capital are unaffected and will operate a normal service</li>
    <li>Bus services in east, west and central London, operated by Tower Transit, are expected to be disrupted by a 24-hour strike on 5 January and some services may not run</li>
    <li>Affected passengers urged to use other transport services, walk or cycle where possible</li>
    <li>Passengers should check before travelling at www.tfl.gov.uk/buses</li>
</ul>
<p>Transport for London (TfL) has today issued advice to bus passengers ahead of further planned strike action by members of the Unite union, who work for Tower Transit, which will affect bus services in east, west and central London on Monday 5 January.</p>
<p>The strike is over a dispute between Unite and Tower Transit over bus driver pay and conditions. Only around 22 per cent of Tower Transit bus drivers voted for strike action. TfL is calling for Unite and Tower Transit to swiftly resolve the dispute so that passengers are not disrupted. Drivers from Tower Transit's Lea Interchange bus garage took strike action on Monday 29 December however the impact on services was only moderate with around 60 per cent of normal service operating throughout the day.</p>
<p>Tower Transit operates less than 5 per cent of bus services in London and services operated by other companies across the capital are unaffected and will operate a normal service.</p>
<p>The 24-hour strike is likely to result in severe disruption on a number of bus routes in east and west London, including some which travel into central London, with some services not running. Some Tube services in London are expected to be busier than normal &#45; so customers are being urged to allow a little more time to complete their journeys.</p>
<p>Mike Weston, TfL's Director of Buses, said: </p>
<p>'I'd like to apologise to our customers in advance for any disruption they may face as a result of this strike and would strongly advise them to check before they travel. We'll be issuing information from a range of channels and our teams will be working hard to make sure that this information is up to date.</p>
<p>'Bus drivers pay and conditions are a matter for Tower Transit and Unite to discuss, as it has been for the last 20 years, and we would urge them to seek a swift and fair resolution for the sake of our passengers.'</p>
<p>The strike action will take place between 00:01 and 23:59 on Monday 5 January &#45; affecting services during the day on Monday and some services operating on Monday night into the early hours of Tuesday 6 January.</p>
<p>The 23 bus routes that are likely to be affected by the strike action are:</p>
<ul>
    <li>23 (24 hour route) &#45; Liverpool Street to Westbourne Park</li>
    <li>25 (24 hour route) &#45; Oxford Circus to Ilford</li>
    <li>26 &#45; Waterloo to Hackney Wick</li>
    <li>28 &#45; Kensal Rise to Wandsworth</li>
    <li>30 &#45; Hackney Wick to Marble Arch</li>
    <li>31 &#45; Camden Town to White City</li>
    <li>58 &#45; East Ham to Walthamstow Central</li>
    <li>70 &#45; Acton to South Kensington</li>
    <li>236 &#45; Finsbury Park to Hackney Wick</li>
    <li>266 (24 hour route) &#45; Brent Cross Shopping Centre to Hammersmith</li>
    <li>295 (24 hour route) &#45; Ladbroke Grove to Clapham Junction</li>
    <li>308 &#45; Wanstead to Clapton</li>
    <li>328 &#45; Golders Green to Chelsea</li>
    <li>339 &#45; Leytonstone to Shadwell</li>
    <li>425 &#45; Clapton to Stratford</li>
    <li>N26 &#45; Trafalgar Square to Chingford</li>
    <li>N28 &#45; Camden Town to Wandsworth</li>
    <li>N31 &#45; Camden Town to Clapham Junction</li>
    <li>N550 &#45; Trafalgar Square to Canning Town</li>
    <li>N551 &#45; Piccadilly Circus to Galleons Reach</li>
    <li>RV1 &#45; Covent Garden to Tower Gateway</li>
    <li>W14 &#45; Leyton to Woodford Bright</li>
    <li>W15 &#45; Cogan Avenue Estate to Hackney Town Hall</li>
</ul>
<p>Bus services operated by other companies across the capital are unaffected and will operate a normal service.</p>
<p>We would encourage bus passengers in east London to check before they travel at www.tfl.gov.uk. Passengers will also be kept informed of the status of their services in a range of ways, including:</p>
<ul>
    <li>Up-to-date information on bus services by route can be found at www.tfl.gov.uk/buses</li>
    <li>Passengers can also check for bus arrival times using the Countdown next bus arrival service online, on their mobile devices or via our SMS text service;</li>
    <li>A range of easily available Apps for handheld devices now use TfL's live bus information;</li>
    <li>Travel alerts will be provided through Twitter on &#64;TfLOfficial and &#64;TfLBusAlerts &#45; look out for #BusStrike;</li>
    <li>TfL will also be providing information to radio and television broadcasts for use in news bulletins;</li>
    <li>TfL will also have a number of additional staff across the network and at key locations to provide advice to passengers.</li>
</ul>
<p>Where services are disrupted TfL urges passengers to use other transport options, or to walk or cycle where possible.  The average bus journey is around 2.2 miles so many of these journeys could be made in this way.</p>
<p>To help people get around TfL will be:</p>
<ul>
    <li>Operating a good service across the Tube network;</li>
    <li>Full services are also operating on the Docklands Light Railway, London Tramlink and London Overground networks;</li>
    <li>TfL is also emailing registered bus users, who regularly travel on affected routes, advising them of the likely disruption and urging them to check before they travel.</li>
</ul>
<p>&nbsp;</p>
<hr />
<p>Notes to Editors:</p>
<p>Bus routes, including intermediate stops, affected by the strike are:</p>
<ul>
    <li>23 (24 hour route) &#45; Liverpool Street to Westbourne Park via Bank DLR, Mansion House , St. Paul's, Ludgate Circus (City Thameslink ), Fleet Street, Aldwych, Trafalgar Square (Charing Cross ), Piccadilly Circus, Oxford Circus , Marble Arch , Edgware Road , Paddington , Westbourne Grove, Ladbroke Grove, Kensal Road</li>
    <li>25 (24 hour route) &#45; Oxford Circus to Ilford via Tottenham Court Road, Holborn, Chancery Lane, St. Paul's, Bank DLR, Aldgate, Aldgate East, Whitechapel, Mile End Gate, Stepney Green, Mile End, Bow Road, Bow Church DLR, Stratford DLR, Forest Gate, Woodgrange Park, Manor Park, Ilford High Road</li>
    <li>26 &#45; Waterloo to Hackney Wick via Aldwych, Fleet Street, Ludgate Circus, St. Paul's, Mansion House , Bank DLR, Liverpool Street, Shoreditch, Cambridge Heath, Well Street, Cassland Road, Hackney Wick</li>
    <li>28 &#45; Kensal Rise to Wandsworth via Harrow Road, Westbourne Park ,Notting Hill Gate, High Street Kensington Olympia, West Kensington, Fulham Broadway, Wandsworth Bridge, Wandsworth Town</li>
    <li>30 &#45; Hackney Wick to Marble Arch via Hackney Central, Hackney, Downs, Dalston Junction, Highbury &amp; Islington, Islington, Angel , King's Cross St Pancras, Euston, Euston Square, Warren Street, Great Portland Street, RegentsPark, Baker Street</li>
    <li>31 &#45; Camden Town to White City via Camden Town, Chalk Farm, Swiss Cottage, South Hampstead, Kilburn High Road, Kilburn Park, Westbourne Park, Notting Hill Gate, Holland Park, Shepherd's Bush</li>
    <li>58 &#45; East Ham to Walthamstow Central via Upton Park , Forest Gate, Wanstead Park, Leyton, Church Road, Markhouse Road, Selborne Road</li>
    <li>70 &#45; Acton to South Kensington via East Acton, Du Cane Road, Barlby Road, Ladbroke Grove, Westbourne Park Road, Bayswater, Queensway, Notting Hill Gate, Kensington, Queen's Gate</li>
    <li>236 &#45; Finsbury Park to Hackney Wick via Highbury Barn, Canonbury , Newington Green, Dalston, Regents Estate, Hackney, Homerton Hospital, Kingsmead Estate</li>
    <li>266 (24 hour route) &#45; Brent Cross Shopping Centre to Hammersmith via Staples Corner, Willesden Green, Church Road, Harlesden, Willesden Junction, North Acton, Acton Main Line, Acton, Acton Vale, Starch Green, Ravenscourt Park</li>
    <li>295 (24 hour route) &#45; Ladbroke Grove to Clapham Junction via Latimer Road , Shepherd's Bush Green, Hammersmith, Dawes Road, Fulham Broadway, Wandsworth Bridge, York Road, Plough Road</li>
    <li>308 &#45; Wanstead to Clapton via Wanstead Park, Forest Gate, Forest Lane, Water Lane, Stratford DLR, Leyton Road, Stratford City DLR, Celebration Avenue, Temple Mills Lane, Ruckholt Road, Kingsmead Estate, Homerton Hospital, Chatsworth Road, Clapton Park (Millfields Road), Chatsworth Road</li>
    <li>328 &#45; Golders Green to Chelsea, via West Hampstead , Quex Road, Kilburn High Road , Kilburn Park, Westbourne Park, Notting Hill Gate, High Street Kensington, Earl's Court, Chelsea (World's End).  Runs via Cheyne Walk towards Chelsea between 23:00 and 06:30</li>
    <li>339 &#45; Leytonstone to Shadwell via Grove Green Road, Cathall Road, Crownfield Road, Liberty Bridge Road, Stratford International DLR,International Way, Montfitchet Road, Stratford City DLR, Warton Road, Bow (Fish Island), Tredegar Road, Mile End, Harford Street, Stepney Way</li>
    <li>425 &#45; Clapton to Stratford via via Clapton Pond, Homerton Hospital, Ponsford Street, Lauriston Road, Victoria Park, Grove Road, Mile End, Bow Road, Bow Church DLR</li>
    <li>N26 &#45; Trafalgar Square to Chingford via Aldwych, Fleet Street, Ludgate Circus (City Thameslink ), St. Paul's, Mansion House, Bank, Liverpool Street, Shoreditch (High Street ), Cambridge Heath, Well Street, Cassland Road (return via Wick Road), Hackney, Wick, Ruckholt Road, Temple Mills, Leyton, Leyton Midland Road, Leyton (Bakers Arms), Walthamstow Central, Crooked Billet, Chingford Mount, Old Church Road, The Ridgeway</li>
    <li>N28 &#45; Camden Town to Wandsworth via Camden Town , Chalk Farm , Swiss Cottage , South Hampstead , Kilburn High Road, Kilburn Park , Westbourne Park, Notting Hill Gate, High Street Kensington, Olympia, West Kensington, Fulham Broadway, Wandsworth Bridge, Wandsworth Town</li>
    <li>N31 &#45; Camden Town to Clapham Junction via Camden Town , Chalk Farm , Swiss Cottage, South Hampstead, Kilburn High Road, Kilburn Park, Westbourne Park, Notting Hill Gate, High Street Kensington, Earl's Court, Chelsea, Battersea</li>
    <li>N550 &#45; Trafalgar Square to Canning Town via Embankment , Blackfriars , Queen Victoria Street, Mansion House, Bank DLR, Aldgate, Aldgate East, Limehouse DLR, Westferry DLR, Canary Wharf DLR, Heron Quay DLR, Westferry Road, Island Gardens DLR, Cubitt Town, Poplar, All Saints DLR, Canning Town</li>
    <li>N551 &#45; Piccadilly Circus to Galleons Reach, via Trafalgar Square (Charing Cross ), Aldwych, Fleet Street, Ludgate Circus (City Thameslink ), St. Paul's, Mansion House , Bank DLR, Aldgate, Aldgate East, Tower Hill, East Smithfield, The Highway, Limehouse DLR, All Saints DLR, Poplar, Canning Town DLR, Keir Hardie Estate, Royal Victoria DLR, Custom House DLR, Prince Regent DLR, Tollgate Road, Beckton DLR, Gallions Reach DLR, Armada Way</li>
    <li>RV1 &#45; Covent Garden to Tower Gateway via, Aldwych, Waterloo , Belvedere Road, Upper Ground, Southwark Street, London Bridge, Tower Bridge</li>
    <li>W14 &#45; Leyton to Woodford Bright via Leyton , Cathall Road, Leytonstone High Road , Leytonstone (Kirkdale Road), Green Man Roundabout, Wanstead, Snaresbrook, South Woodford</li>
    <li>W15 &#45; Cogan Avenue Estate to Hackney Town Hall via Higham Hill Road, Selborne Road, Walthamstow, Central, Leyton (Bakers Arms), Whipps Cross, Whipps Cross, Hospital, Leytonstone (Fairlop Road), Grove Green Road, Leyton, Temple Mills, Ruckholt Road, Kingsmead Estate, Homerton Hospital</li>
</ul>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div>
                                        <ul>
                                            
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/december">December</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2014-December-Advice to bus passengers: Monday 5 January -->

 
 
        
        
            @{ViewBag.Description = "Advice to bus passengers during industrial action on Tower Transit services: Monday 5 January";}
        
        


 