


@{ViewBag.Title = "Advice to bus passengers: 29 December 13:30 bulletin";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014">2014</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014/december">December</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Advice to bus passengers: 29 December 13:30 bulletin</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Advice to bus passengers: 29 December 13:30 bulletin</h1>
        <div class="content-page-press-release">
        29 December 2014
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Update on bus routes affected by industrial action on Tower Transit services
        
    </div>



 <div class="on-this-page">
<p>13:30 bulletin</p>
<ul>
    <li>Tower Transit services from their Lea Interchange garage &#45; representing less than 2 per cent of the bus network &#45; are subject to moderate disruption</li>
    <li>Other companies across the capital are unaffected and will operate a normal service</li>
    <li>Almost 60 per cent of normal service operating across affected routes</li>
    <li>Reduced service operating on ten routes &#45; 25, 26, 30, 58, 236, 308,  339, 425, RV1, W15. Currently no service on W14</li>
    <li>Affected passengers urged to use other transport services, walk or cycle where possible</li>
    <li>Passengers should check before travelling at www.tfl.gov.uk/buses</li>
</ul>
<p>As of lunchtime, Transport for London (TfL) is advising that strike action by members of the Unite union, who work for Tower Transit, is only causing moderate disruption to bus services in east and central London today. Of the 11 bus routes affected, 10 are operating a reduced service.</p>
<p>The strike action, at Tower Transit's Lea Interchange bus garage, began at 00:01 this morning and will continue until 23:59 tonight &#45; affecting services into the early hours of Tuesday (30 December) morning.  Day bus services on Tuesday will operate as normal.</p>
<p>Overall, almost 60 per cent of normal bus services are operating across the affected routes. Of the 11 affected day bus routes, a reduced service is operating on ten routes &#45; 25, 26, 30, 38, 236, 308, 339 425, RV1, W15. Services are not currently running on W14.</p>
<p>Services on the route 25 are running between Stratford and Oxford Circus only. Customers for Ilford are advised that tickets will be accepted on London Overground and London Underground services.</p>
<p>The strike is over a dispute between Unite and Tower Transit over bus driver pay and conditions. Only around 22 per cent of Tower Transit bus drivers voted for strike action. TfL is calling for Unite and Tower Transit to swiftly resolve the dispute so that passengers are not disrupted.</p>
<p>Tower Transit operates less than 2 per cent of London's bus services from their Lea Interchange garage. Services operated by other companies across the capital are unaffected and will operate a normal service.</p>
<p>We would encourage bus passengers in east London to check before they travel at www.tfl.gov.uk. Passengers will also be kept informed of the status of their services in a range of ways, including:</p>
<ul>
    <li>Up-to-date information on bus services by route can be found at www.tfl.gov.uk/buses</li>
    <li>Passengers can also check for bus arrival times using the Countdown next bus arrival service online, on their mobile devices at m.countdown.tfl.gov.uk or via our SMS text service;</li>
    <li>A range of easily available Apps for handheld devices now use TfL's live bus information;</li>
    <li>Travel alerts will be provided through Twitter on &#64;TfL and &#64;TfLBusAlerts &#45; look out for #BusStrike;</li>
    <li>TfL will also be providing information to radio and television broadcasts for use in news bulletins;</li>
</ul>
<p>Where services are disrupted TfL urges passengers to use other transport options, or to walk or cycle where possible. The average bus journey is around 2.2 miles so many of these journeys could be made in this way.</p>
<p>To help people get around TfL will be:</p>
<ul>
    <li>Operating a good service across the Tube network;</li>
    <li>Full services are also operating on the Docklands Light Railway, London Tramlink and London Overground networks;</li>
    <li>TfL is also emailing registered bus users, who regularly travel on affected routes, advising them of the likely disruption and urging them to check before they travel.</li>
</ul>
<p>&nbsp;</p>
<hr />
<p>Notes to Editors:</p>
<p>Monday 29 December</p>
<p>Routes that are likely to be affected by the strike action include:</p>
<ul>
    <li>25 (24 hour route) &#45; Oxford Circus to Ilford, via Tottenham Court Road, Holborn, Chancery Lane, St. Paul's, Bank DLR, Aldgate, Aldgate East, Whitechapel, Mile End Gate, Stepney Green, Mile End, Bow Road, Bow Church DLR, Stratford DLR, Forest Gate, Woodgrange Park, Manor Park, Ilford High Road</li>
    <li>26 &#45; Waterloo to Hackney Wick via, Aldwych, Fleet Street, Ludgate Circus, St. Paul's, Mansion House , Bank DLR, Liverpool Street, Shoreditch, Cambridge Heath, Well Street, Cassland Road, Hackney Wick</li>
    <li>30 &#45; Hackney Wick to Marble Arch, via Hackney Central, Hackney, Downs, Dalston Junction, Highbury &amp; Islington, Islington, Angel, King's Cross St Pancras, Euston, Euston Square, Warren Street, Great Portland Street, RegentsPark, Baker Street</li>
    <li>58 &#45; East Ham to Walthamstow Central via Upton Park, Forest Gate, Wanstead Park, Leyton, Church Road, Markhouse Road, Selborne Road</li>
    <li>236 &#45; Finsbury Park to Hackney Wick, via Highbury Barn, Canonbury , Newington Green, Dalston, Regents Estate, Hackney, Homerton Hospital, Kingsmead Estate</li>
    <li>308 &#45; Wanstead to Clapton, via Wanstead Park, Forest Gate, Forest Lane, Water Lane, Stratford DLR, Leyton Road, Stratford City DLR, Celebration Avenue, Temple Mills Lane, Ruckholt Road, Kingsmead Estate, Homerton Hospital, Chatsworth Road, Clapton Park (Millfields Road). Chatsworth Road</li>
    <li>339 &#45; Leytonstone to Shadwell, via Leytonstone (Fairlop Road), Grove Green Road, Cathall Road, Crownfield Road, Liberty Bridge Road, Stratford International DLR, International Way, Montfitchet Road, Stratford City DLR Warton Road, Bow (Fish Island), Tredegar Road, Mile End, Harford Street, Stepney Way</li>
    <li>425 &#45; Clapton to Stratford, via Clapton Pond, Homerton Hospital, Ponsford Street, Lauriston Road, Victoria Park, Grove Road, Mile End, Bow Road, Bow Church DLR</li>
    <li>RV1 &#45; Covent Garden to Tower Gateway via, Aldwych, Waterloo , Belvedere Road, Upper Ground, Southwark Street, London Bridge, Tower Bridge</li>
    <li>W14 &#45; Leyton to Woodford Bridge via Leyton , Cathall Road, Leytonstone High Road , Leytonstone (Kirkdale Road), Green Man Roundabout, Wanstead, Snaresbrook, South Woodford</li>
    <li>W15 &#45; Cogan Avenue Estate to Hackney Town Hall via Higham Hill Road, Selborne Road, Walthamstow, Central, Leyton (Bakers Arms), Whipps Cross, Whipps Cross, Hospital, Leytonstone (Fairlop Road), Grove Green Road, Leyton, Temple Mills, Ruckholt Road, Kingsmead Estate, Homerton Hospital</li>
</ul>
<p>In addition three Night Bus routes &#45; operating tonight and into the early hours of Tuesday 30 December may be affected:</p>
<ul>
    <li>N26 &#45; Trafalgar Square to Chingford, via Aldwych, Fleet Street, Ludgate Circus (City Thameslink ), St. Paul's, Mansion House, Bank, Liverpool Street , Shoreditch (High Street ), Cambridge Heath, Well Street, Cassland Road (return via Wick Road), Hackney, Wick, Ruckholt Road, Temple Mills, Leyton , Leyton Midland Road, Leyton (Bakers Arms), Walthamstow Central, Crooked Billet, Chingford Mount, Old Church Road, The Ridgeway</li>
    <li>N550 &#45; Trafalgar Square to Canning Town via Embankment , Blackfriars , Queen Victoria Street, Mansion House , Bank DLR, Aldgate, Aldgate East, Limehouse DLR, Westferry DLR, Canary Wharf DLR, Heron Quay DLR, Westferry Road, Island Gardens DLR, Cubitt Town, Poplar, All Saints DLR, Canning Town</li>
    <li>N551 &#45; Piccadilly Circus to Galleons Reach, via Trafalgar Square (Charing Cross ), Aldwych, Fleet Street, Ludgate Circus (City Thameslink ), St. Paul's, Mansion House , Bank DLR, Aldgate, Aldgate East, Tower Hill, East Smithfield, The Highway, Limehouse DLR, All Saints DLR, Poplar, Canning Town DLR, Keir Hardie Estate, Royal Victoria DLR, Custom House DLR, Prince Regent DLR, Tollgate Road, Beckton DLR, Gallions Reach DLR, Armada Way</li>
</ul>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div>
                                        <ul>
                                            
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/december">December</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2014-December-Advice to bus passengers: 29 December 13:30 bulletin -->

 
 
        
        
            @{ViewBag.Description = "Update on bus routes affected by industrial action on Tower Transit services: Monday 29 December";}
        
        


 