


@{ViewBag.Title = "Barclays Cycle Hire is just around the corner this Christmas";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014">2014</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014/december">December</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Barclays Cycle Hire is just around the corner this Christmas</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Barclays Cycle Hire is just around the corner this Christmas</h1>
        <div class="content-page-press-release">
        22 December 2014
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        With docking stations every 300m across central London, 'yule' never be too far away from a bike
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"If you have forgotten the stuffing or just fancy working off that last mince pie, why not use a Barclays Cycle Hire bike to make your way around the City"</div>
        <div class="quote-footer">
            <div class="quotee-name">Nick Aldworth</div>
            <div class="quotee-job-title">General Manager of Barclays Cycle Hire</div>
        </div>
</div>

 <div class="on-this-page">
<p>While the rest of London's public transport network is closed, Barclays Cycle Hire will be fully available for use by Londoners and visitors to the capital this Christmas Day.</p>
<p>Operating 365 days a year, including on Christmas Day, the easy to use Cycle Hire scheme covers more than 100km2 across Central London and has over 10,000 bikes available to hire, ride and return. More than 36.5 million journeys have been made using scheme and they've become an iconic part of the London landscape. Last year, almost 28,000 journeys were made using Cycle Hire on Christmas Day.</p>
<h2>Even easier</h2>
<p>More than 90 London Underground stations, including the entire Circle line, and a number of major rail stations such as Clapham Junction, Liverpool Street, Paddington and Putney are now all within a short walk of a docking station, enabling more people to make cycling part of their daily commute. Anyone wishing to use the scheme, which costs just &pound;2 for daily access and is free for the first 30 minutes, can find their nearest docking station  by using the 'nearby' function on the Transport for London (TfL) website on their smartphone or by visiting <a href="http://www.tfl.gov.uk/cycle-hire">www.tfl.gov.uk/cycle-hire</a>. From 2 January 2015, paying for Cycle Hire will become even easier when the hire charges are simplified to a flat &pound;2 per 30 minutes after the initial free 30 minute period. The &pound;2 daily bike access and &pound;90 yearly membership will remain unchanged.</p>
<p>To help Cycle Hire users discover more of London, TfL has created a number of self-guided leisure cycle routes, many of which are on quieter roads. Popular routes include London's Secret Gardens, Saturday Markets, Independent Shops and Markets, Quirky London and Sporting Sights, which take in famous sporting venues such as Stamford Bridge, Chelsea's football ground and the Kia Oval cricket ground. People using Barclays Cycle Hire over Christmas can also tweet photos to &#64;barclayscycle using the hashtag #BCHXMAS</p>
<p>Nick Aldworth, General Manager of Barclays Cycle Hire, said: 'While the Tube, rail and buses take a well earned rest on Christmas Day, our bikes will still be fully available across the Christmas period. So, if you have forgotten the stuffing or just fancy working off that last mince pie, why not use a Barclays Cycle Hire bike to make your way around the City.'</p>
<h2>A million hires a month</h2>
<p>Since the scheme launched in July 2010, it has grown in size and popularity, expanding to east London in March 2012 and to southwest London late last year. More than 36.5 million hires have been made since the scheme began, with more than a million hires a month being made during the summer months. The total number of hires this year has already exceeded the previous record of 9.5 million made during 2012.</p>
<p>From early 2016, the scheme will be expanded to cover the Queen Elizabeth Olympic Park, opening the 560 acre Park up to cyclists of all abilities and delivering a further cycling legacy from the London 2012 Olympic and Paralympic Games. TfL is also working with a range of land owners to identify further docking station locations that can be funded through developer contributions. New docking stations are already planned near Putney Pier, Vauxhall and Tower Bridge bringing around 100 additional docking points to the scheme, with more currently being considered across central London. Working with London boroughs, TfL is also identifying further sites for docking stations to help intensify the scheme within its current footprint, providing greater opportunity to hire and dock bikes. Close to 1,000 new docking point locations have now been identified that could be delivered across London, subject to planning permission, by early 2016.</p>
<p>The latest customer research shows that overall satisfaction for casual users is now at 85%, with 'last trip' satisfaction for members up to its highest score of 80%. In addition, a record 83% of current members said they would recommend the scheme to their friends and family.</p>
<hr />
Notes to Editors:
<ul>
    <li>The creation of an easy-to-use cycle hire scheme was a key pledge of the Mayor's manifesto. Barclays Cycle Hire has transformed the way that people make short trips around central London</li>
    <li>The scheme costs just &pound;2 for daily access and is free for the first 30 minutes. Customers wishing to speak to a Barclays Cycle Hire advisor or become a member can use a local rate 0343 222 6666 number or register online at <a href="http://http://www.tfl.gov.uk/cycle-hire">www.tfl.gov.uk/cycle-hire</a></li>
    <li>Cycle Hire users can pick up a free copy of the 'Explore London with Barclays Cycle Hire' map, which contains the leisure routes, at central London Tube stations, London Overground stations or by visiting <a href="http://www.tfl.gov.uk/leisureroutes">www.tfl.gov.uk/leisureroutes</a></li>
    <li>The second largest cycle hire scheme in Europe, Barclays Cycle Hire boasts more than 10,000 bikes at over 700 docking stations, making popular London destinations like Battersea Park, Fulham, Hammersmith and Portobello Market accessible by hire bike</li>
    <li>In March 2013, the Mayor of London published his Cycling Vision for London, which aims to ensure two wheels are at the heart of the capital's transport network. This vision included plans for intensifying the number of docking points within the current zone through identification of new sites and expansion of popular docking stations</li>
    <li>The latest customer research reports on Barclays Cycle Hire can be found on this page: <a href="http://www.tfl.gov.uk/corporate/publications-and-reports/cycling-and-walking">www.tfl.gov.uk/corporate/publications-and-reports/cycling-and-walking</a></li>
</ul>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div>
                                        <ul>
                                            
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/december">December</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2014-December-Barclays Cycle Hire is just around the corner this Christmas -->

 
 
        
        
            @{ViewBag.Description = "With docking stations every 300m across central London, ‘yule’ never be too far away from a bike";}
        
        


 