


@{ViewBag.Title = "Bond Street Tube station open ahead of schedule ";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014">2014</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014/december">December</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Bond Street Tube station open ahead of schedule </span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Bond Street Tube station open ahead of schedule </h1>
        <div class="content-page-press-release">
        05 December 2014
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Bond Street Tube station is now fully open three weeks ahead of schedule with a vital stage of tunnelling work has now been completed
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"The work we are doing at Bond Street station is crucial, we are transforming it with a new ticket hall, new entrance and step-free access as well as other improvements. This work to enlarge the station is vital for the hundreds of thousands of customers who use it each day because Bond Street station is a major destination at the heart of the West End and passenger numbers will rise even further when Crossrail services begin"</div>
        <div class="quote-footer">
            <div class="quotee-name">David Waboso CBE</div>
            <div class="quotee-job-title">Capital Programmes Director, London Underground</div>
        </div>
</div>

 <div class="on-this-page">
<ul>
    <li>From today (5 December 2014) all customers will be able to enter, alight and change at Bond Street</li>
    <li>Modernised station opening in 2017 will provide interchange with Crossrail to cope with a 45 per cent increase in passenger numbers</li>
    <li>New escalators and new lifts will provide disabled passengers with step-free access from street to platform</li>
</ul>
<p>Christmas shoppers heading to the West End will now be able to enter, alight and change at Bond Street station because it is now fully open from today, three weeks ahead of schedule, after a vital stage of Tube tunnelling work was completed early.</p>
<p>The early opening of the station was helped by previous work to connect the new ticket hall to the existing station infrastructure being completed ahead of schedule. The redevelopment of Bond Street station is part of London Underground's (LU's) &pound;10 billion programme of continuous improvements.  Major construction work will modernise and enlarge the station by 2017, allowing for the expected increase from 155,000 to 225,000 daily passengers at the station when Crossrail arrives in 2018. New lifts will make the station step-free from street to platform, and new escalators are being fitted to handle the increasing number of customers who will be using the station.</p>
<p>David Waboso CBE, LU's Capital Programmes Director, said: </p>
<p>'Our engineers have worked extremely hard to fully open Bond Street station more than three weeks ahead of schedule so passengers can enter, alight and change at the station in the run up to Christmas. The work we are doing at Bond Street station is crucial, we are transforming it with a new ticket hall, new entrance and step-free access as well as other improvements.  This work to enlarge the station is vital for the hundreds of thousands of customers who use it each day because Bond Street station is a major destination at the heart of the West End and passenger numbers will rise even further when Crossrail services begin.'</p>
<p>Steven Medway, Managing Director Trading Environment, New West End Company said: </p>
<p>'Bond Street station is being transformed right under our feet and once completed it will become a brand new entrance to the world's best shopping district. With the additional space created, journeys will become easier and quicker. From today (Friday), Bond Street will be fully operational for you to enjoy three miles of Christmas shopping.'</p>
<p>Major expansion work is also taking place at Tottenham Court Road station to make it fully accessible and five times bigger than its current size - allowing for the expected increase from about 150,000 to more than 200,000 daily passengers when Crossrail serves the station in 2018.</p>
<p>Central line trains will not stop at Tottenham Court Road station from Saturday 3 January 2015 until early December 2015.  This will allow for vital major structural work to enable future passengers to access the Central line platforms, including a new lift, which will improve accessibility to platform level. The majority of improvement work is carried out during engineering hours when the Tube is closed, however in this case due to the vast scale of the station transformation, a planned closure of the Central line platforms will be needed.</p>
<p>Customers will be able to change at Oxford Circus or Holborn for alternative Tube routes to the Northern line, which will continue to stop at Tottenham Court Road. Local buses to the Tottenham Court Road area are available from both Holborn and Oxford Circus.</p>
<p>&nbsp;</p>
<hr />
<p>Note to Editors:</p>
<ul>
    <li>For more information and to have a virtual tour of the new enlarged and step-free Bond Street Underground station: <a href="http://www.tfl.gov.uk/travel-information/improvements-and-projects/bond-street">http://www.tfl.gov.uk/travel-information/improvements-and-projects/bond-street</a></li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div>
                                        <ul>
                                            
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/december">December</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2014-December-Bond Street Tube station open ahead of schedule  -->

 
 
        
        
            @{ViewBag.Description = "Bond Street Tube station open ahead of schedule ";}
        
        


 