


@{ViewBag.Title = "Croydon's first pure electric buses hit the streets";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014">2014</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014/december">December</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Croydon’s first pure electric buses hit the streets</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Croydon’s first pure electric buses hit the streets</h1>
        <div class="content-page-press-release">
        10 December 2014
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



<div class="pull-quote">
        <div class="quote-body">"London has always been at the forefront of adopting and trialling new 
green technology and these buses are a welcome addition to the fleet"</div>
        <div class="quote-footer">
            <div class="quotee-name">Mike Weston</div>
            <div class="quotee-job-title">TfL's Director of Buses</div>
        </div>
</div>

 <div class="on-this-page">
<p>Transport for London (TfL), Arriva and UK bus manufacture Optare today (Wednesday 10 December) introduced the latest electric buses to the capital's fleet.</p>
<p>The two Optare MetroCity buses are now in service on route 312, which is operated by Arriva, between South Croydon and Norwood Junction.  The bus route is used by around 4,700 passengers a day.  Passengers travelling on these buses will benefit from much lower noise and vibration levels compared to regular buses with diesel engines.</p>
<p>These new electric buses are the latest addition to Europe's greenest bus fleet and will increase TfL's experience and understanding of this relatively new technology.  The buses were built by UK bus manufacturer Optare, which is part of the Hinduja Group, based in Sherburn in Elmet, North Yorkshire.  They have zero tail pipe emissions at point of use, resulting in lower overall carbon emissions.</p>
<p>Mike Weston, TfL's Director of Buses, said: `We now have a total of eight pure electric buses in the capital's fleet which will help increase our experience and understanding of this technology.  London has always been at the forefront of adopting and trialling new green technology and these buses are a welcome addition to the fleet.`</p>
<p>Enrico Vassallo, CEO at Optare, said, `We are delighted to be supplying a further two fully electric buses for the bus passengers of London.  We hope that the success of these vehicles in London and those already in service in London, York, Manchester and Nottingham will lead to more Optare electric buses in the capital helping to contribute to cleaner air for all.'</p>
<p>Peter Batty, Arriva London Commercial Director said: `Electric buses are at the cutting edge of transport technology to improve air quality and everyone involved with route 312 at our garage in South Croydon is looking forward to operating the buses in what is the Year of the Bus.'</p>
<p>Councillor Kathy Bee, Croydon's cabinet member for environment and transport, said: `Croydon is a borough that aspires to be clean and green, so it is great news that we are to get our first electric buses.  We are London's regeneration borough, and equally we want to ensure that we are doing everything we can to reduce carbon emissions and improve the air quality.  I'm sure passengers on the route 312 will join me in welcoming the fact that their journeys will now be more environmentally-friendly.'</p>
<p>The use of these electric buses will establish whether the technology can stand up to the rigours of operating in an intense urban environment such as London.  The manufacturer's tests demonstrate that while the initial capital cost of these vehicles is more than that of standard diesel, the significantly lower running and maintenance costs would offset this within the typical lifetime of the vehicle.</p>
<p>The buses take around five hours to fully charge overnight, or two hours using fast charge technology, and have a range of up to 100 miles depending on operating conditions</p>
<hr />
<ul>
    <li>Optare Plc is a bus manufacturer based in Sherburn in Elmet, North Yorkshire.  Its parent company Ashok Leyland, part of the Hinduja Group, is ranked within the top five global bus manufacturers. Optare designs, manufactures and sells advanced single deck and double deck buses for a global market place.</li>
    <li>Arriva is part of Deutsche Bahn, one of the world's leading passenger transport and logistics service providers, and operates in 14 European countries.  Headquartered in Sunderland, Arriva is responsible for Deutsche Bahn's regional passenger transport services outside of Germany.</li>
    <li>Route 312 connects Croydon bus garage and Norwood Junction via Addiscombe and East Croydon.<br />
    More electric buses are anticipated to join the TfL fleet as London is engaged in a partnership funding bid with seven other cities in Europe to trial a range of pure electric and hybrid vehicle technologies and charging techniques.</li>
    <li>TfL already has four Optare electric buses operating on route H98 (between Hayes End and Hounslow) that entered service in July.  Two additional electric buses manufactured by BYD operate on route 507 (Waterloo to Victoria) and 521 (Waterloo to London Bridge). They entered service in December 2013.</li>
    <li>The trialling of electric buses paves the way for plans for an Ultra Low Emission Zone (ULEZ) in central London in 2020.  A consultation was launched on 27 October 2014 that contains proposals that all single deck buses driving in the ULEZ will be zero emission at point of use and all double deck buses will be hybrids.</li>
    <li>Details of the ULEZ consultation can be found at: www.tfl.gov.uk/ultra-low-emission-zone.  The consultation closes on Friday 9 January 2015.</li>
    <li>The trialling of electric buses is one of the many measures introduced to make London's bus fleet more environmentally friendly, including the operation of zero emission hydrogen buses on Route RV1 between Covent Garden and Tower Gateway and delivering Europe's largest hybrid bus fleet &#45; with more than 1,000 currently in passenger service.</li>
    <li>By 2016 there will be more than 1,700 hybrid buses, including 800 New Routemasters, in passenger service &#45; representing 20% of the total bus fleet.</li>
    <li>TfL has recently completed the retrofitting of more than 1,000 of the oldest buses in the fleet with special equipment that has reduced their NOx emissions by up to 88%.  This retrofit programme will continue with a further 800 buses being fitted with this specialist equipment.</li>
    <li>TfL also operates a number of hydrogen buses on route RV1 that emit just water vapour</li>
    <li>From next year TfL will also trial range extending hybrid buses that utilise inductive charging technology.</li>
    <li>TfL has also accelerated the introduction of ultra low emission Euro VI buses &#45; with more than 300 in service by the end of this year. The effectiveness of Euro VI engines in reducing harmful emissions has been substantiated in testing by TfL that re-creates real world driving conditions in London.  During this testing, a bus with a Euro VI Engine was found to have 95% lower NOx emissions than a bus with a Euro V engine (down from 10 g/km to 0.5 g/km).</li>
    <li>Events and activities are being held throughout 2014 by TfL in partnership with London Transport Museum and the capital's bus operators to mark the Year of the Bus; a celebration of the role that London buses, bus drivers and the staff who support them play in keeping the capital moving, and marking a number of important anniversaries. These include 60 years since the creation of the original and iconic Routemaster, 75 years since the launch of its predecessor the RT-type bus, and 100 years since hundreds of London buses were sent to the Western Front to play a crucial role during the First World War.</li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div>
                                        <ul>
                                            
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/december">December</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2014-December-Croydon’s first pure electric buses hit the streets -->

 
 
        
        
            @{ViewBag.Description = "Press releases and news articles from Transport for London";}
        
        


 