


@{ViewBag.Title = "Four more rogue minicab drivers prosecuted";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014">2014</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014/december">December</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Four more rogue minicab drivers prosecuted</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Four more rogue minicab drivers prosecuted</h1>
        <div class="content-page-press-release">
        22 December 2014
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        34 bogus minicab drivers successfully prosecuted in last 12 months
        
    </div>



 <div class="on-this-page">
<p>&nbsp;Transport for London (TfL), working with policing partners, has continued its excellent record for prosecutions by successfully prosecuting four more rogue private hire, or minicab, drivers who were acting illegally or plying for trade. This is part of an ongoing commitment to stamping out bogus and unsafe minicab drivers in London.</p>
<p>These prosecutions bring the total number of successful convictions for illegal plying for hire and other related offences up to 34 in the last 12 months, with these proactive operations continuing into 2015.</p>
<p>Nasser Ndaganira, 51, from Hackney, was sentenced at City of London Magistrates' Court on 4 November. He was caught illegally plying for hire and accepting a booking on Wardour Street, Soho, without a valid private hire vehicle (PHV) licence in the morning of 2 March 2014. He was found to have been reported for the same offences, as well as having no insurance, two months earlier. He was found guilty on five separate offences and ordered to pay &pound;1801 in fines and court costs as well as being disqualified from driving for 12 months.</p>
<p>Oladotun Shonowo, 42, from Southwark, was sentenced at Westminster Magistrates' Court on 17 September. He was found approaching people leaving a bar on Kennington Road, south London, on 8 February 2014. When officers approached Mr Shonowo they found that his PHV licence had been revoked in May 2013 for a touting conviction in March that year. Although he claimed to have no knowledge, he later pleaded guilty to driving without a valid PHV licence or insurance and was ordered to pay &pound;1560 in fines and court costs. Shonowo had his driving licence endorsed with an additional six penalty points. As a result, he was disqualified from driving for six months. The private hire firm he was working for was also informed that he had been driving on a revoked licence.</p>
<p>Omonirume Itivere Gbemre, 48, from Southwark, was sentenced at City of London Magistrates' Court on 5 November. He was seen taking passengers without a booking, on Whitcomb Street near Leicester Square, in the early hours of 10 January 2014. It was also discovered he had an expired PHV licence. Mr Gbemre was found guilty of working without a valid operator or PHV driver licence, plying for hire and driving with no insurance. He was fined a total of &pound;870 and disqualified as a driver for one year.</p>
<p>Alemayehu Erike Ayele, 45, from City of Westminster, was sentenced at City of London Magistrates' court on 31 October. He was seen being approached by a male and female standing by his licensed private hire vehicle outside a club on Berkeley Square on 4 October 2013. After interviewing him, officers discovered that he had been using his personal mobile phone to book fares for passengers he had picked up. He admitted that the passengers in his vehicle had not booked the car through a valid operator.  He was found guilty of illegally plying for hire and was ordered to pay &pound;620 in fines and court costs. His PHV licence is currently under review with the possibility of it being revoked.</p>
<p>Steve Burton, Director of Enforcement and On Street Operations at TfL, said: `These convictions are further proof that we take illegal touting and other illegal private hire activities extremely seriously. Thanks to the great work of our Compliance Officers and policing partners, these offenders have been successfully prosecuted and three have been disqualified from driving.</p>
<p>`An unbooked minicab is just a stranger's car and these four men showed a blatant disregard for the law. We will continue to crack down on bogus and unsafe minicabs and encourage people to report illegal activity to us as we always act on this intelligence. Our advice to the public is clear, always use a licensed taxi or pre-book a minicab through a licensed operator.'</p>
<p>TfL's Enforcement and on-street Compliance Team carry out vehicle and driver licensing checks across London to keep the public safe and stamp out illegal activity. They work closely with the police, delivering over six hundred joint operations every year. They also carry out evening patrols in hotspot locations, plain clothes anti-touting operations and high visibility enforcement activities to detect and deter bogus cab drivers.</p>
<p>TfL's Safer Travel at Night (STaN) initiative is a partnership between the Mayor, TfL, Metropolitan Police Service, the City of London Police and the British Transport Police set up to improve the safety of travelling at night through industry regulation and licensing, enforcement and education. The 2014 Safer Travel at Night campaign aims to make people aware of the dangers of picking up un-booked minicabs off the street, such as robbery and sexual assault.</p>
<p>In 2013/14 the number of cab related sexual offences in London fell by 15% compared to the previous year, with specific rape offences down 30%. However, any incident is one too many and the Safer Travel at Night initiative is dedicated to driving this down further. Over 700 arrests were made in 2013/14 for illegal touting for hire, and over 8,000 since 2003.</p>
<p>More information about the work being carried out to keep the transport network safe can be found at: <a href="http://tfl.gov.uk/corporate/safety-and-security/">http://tfl.gov.uk/corporate/safety-and-security/</a></p>
<p>The public can report touting or illegal cabs on the TfL website here: <a href="https://tfl.gov.uk/forms/12368.aspx">https://tfl.gov.uk/forms/12368.aspx</a></p>
<p><a href="https://tfl.gov.uk/forms/12368.aspx"></a></p>
<hr />
<ul>
    <li>TfL's Taxi and Private Hire Compliance Officers work closely with TfL funded Cab Enforcement Officers in the MPS and City of London Police. They undertake joint operations on a regular basis informed by the latest intelligence on cab-related offending including cab-related sexual offences, touting and unlawful plying for hire. They also cooperate with clubs to crackdown on the touts who operate in the area and ensure compliance with regulations and importantly enhance the safety of the travelling public.</li>
    <li>TfL has consistently argued for tougher penalties for taxi touting and has been successful in persuading the Home Office and the Crown Prosecution Service to take touting more seriously resulting in touting being designated a recordable offence.  This allows fingerprints and DNA samples to be collected which in turn can lead to the resolution of past or future crimes where DNA is available. TfL continues to push for stronger penalties for touting and for unlawful plying for hire offences including vehicle seizure and automatic driver licence disqualification.</li>
    <li>TfL has developed an online reporting tool for the taxis and PHV trades to report intelligence on touting, illegal plying for hire and other non-compliance. This is used to inform police and staff deployments.</li>
    <li>Officers are out in London every evening and across the weekends. Plain clothes patrols are complemented with regular large scale operations such as Operation Safer Travel at Night (STAN) which coincides with the main bursts of STAN marketing activity.</li>
    <li>TfL introduced a &quot;one strike and you're out&quot; policy for any licensed minicab driver convicted of or cautioned for touting in August 2008 &#45; they lose their PHV licence for one year. To date, more than 1,120 licensed drivers have had their licences revoked.</li>
</ul>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div>
                                        <ul>
                                            
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/december">December</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2014-December-Four more rogue minicab drivers prosecuted -->

 
 
        
        
            @{ViewBag.Description = "34 bogus minicab drivers successfully prosecuted in last 12 months";}
        
        


 