


@{ViewBag.Title = "Further improvements to Docklands Light Railway";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014">2014</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014/december">December</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Further improvements to Docklands Light Railway</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Further improvements to Docklands Light Railway</h1>
        <div class="content-page-press-release">
        08 December 2014
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        New operator to bring further improvements to high-performing Docklands Light Railway - partnership will provide more frequent trains to enhance the service
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"The increased services that the new operator will provide will help us meet growing demand and mean that we can continue to support economic development and growth. Our high standards of maintenance will continue and improve further &#45; meaning cleaner trains and stations and other improvements that will make journeys for our customers even better"</div>
        <div class="quote-footer">
            <div class="quotee-name">Mike Brown MVO</div>
            <div class="quotee-job-title">Managing Director, London Underground</div>
        </div>
</div>

 <div class="on-this-page">
<ul>
    <li>More efficient and reliable maintenance regime will further improve customer experience</li>
</ul>
<p>Customers on the Docklands Light Railway (DLR) will see more trains running more often under the new operator KeolisAmey Docklands Ltd, which took over operating the network on behalf of Transport for London (TfL) today.</p>
<p>The new franchise will focus on boosting services and on implementing a series of service improvements to make journeys better for passengers. </p>
<p>The new agreement puts in place clear incentives to continue to drive the high levels of customer service seen on the DLR in recent years and which DLR passengers have come to expect. This will mean cleaner trains and stations, more reliable lifts and escalators, more efficient and reliable station maintenance and faster passenger journeys. These incentives will also enable the network's current 99 per cent reliability record to be maintained &#45; ensuring it remains the best performing railway in the UK.</p>
<p>Passengers will see the first significant change early next year, with the introduction of a five-minute off-peak service to Woolwich Arsenal and a five-minute service between Bank and Lewisham until 11:30pm each night &#45; cutting waiting times in half. Three-car trains will also be introduced between Stratford and Canary Wharf at weekends, reducing crowding and giving more pleasant journeys. Longer term, a five-minute off-peak service will be introduced across the whole network by 2017.</p>
<p>Welcoming senior executives from KeolisAmey Docklands Ltd to the railway today, Mike Brown, Managing Director of London Rail, said: </p>
<p>'I look forward to a successful partnership with KeolisAmey Docklands Ltd and I am confident this will result in an even better service for our customers.</p>
<p>'The increased services that the new operator will provide will help us meet growing demand and mean that we can continue to support economic development and growth. Our high standards of maintenance will continue and improve further &#45; meaning cleaner trains and stations and other improvements that will make journeys for our customers even better.'</p>
<p>The Chief Executive Officer for Keolis UK, Alistair Gordon, said: </p>
<p>'Today, marks the start of our new partnership with TfL to deliver the next successful phase in  the history of the DLR.</p>
<p>'It is our ambition that over the course of this franchise the DLR will become the best automated service in the world. We're confident that our expertise as the global leader in light rail services and as the operator of some of the UK's busiest rail franchises, combined with Amey's technical excellence has created a best-in-class offering that will help us achieve this goal.'</p>
<p>Lee Jones, Director of Operations for Rail and Metro at Amey, said: </p>
<p>'We look forward to building on our 12 years' working with TfL on London Underground and developing our excellent relationship with Keolis. Together, we will bring our UK rail and asset management expertise to deliver a reliable and high quality service.'</p>
<p>In 2018, TfL-run Crossrail services between central London, Shenfield and Abbey Wood will begin to interchange with the DLR at several stations &#45; Canary Wharf / West India Quay, Stratford and Custom House - where new platforms, a new ticket hall and entrance are being constructed.</p>
<p>The DLR is part of a large and growing TfL network of rail services, which also includes London Overground routes across the capital and the West Anglia services from Liverpool Street station to Enfield Town, Cheshunt (via Seven Sisters) and Chingford and between Romford and Upminster, which will become part of TfL's integrated transport network in May 2015. On the same date, TfL will also takeover rail services from Liverpool Street to Shenfield.</p>
<p>The DLR began operating in 1987, with 11 trains serving 15 stations and in its first year of operation it carried 6.7m people. Today the railway &#45; which is entirely step-free &#45; has 45 stations, 38km of track and 149 carriages and during the 2013/14 year, it carried a record-breaking 101.5m passengers. That figure is expected to increase to 109m for the 2014/15 year.</p>
<p>The railway was a crucial carrier during the London 2012 Olympic Games when 6.9million journeys were made - up by over 100 per cent on normal levels. Over 500,000 journeys on a single day were made for the first time on Friday 3 August, 2012.</p>
<p>&nbsp;</p>
<hr />
<p>Notes to Editors:</p>
<ul>
    <li>The decision to appoint KeolisAmey Docklands Ltd was reached after a thorough and competitive procurement process, which will ensure the DLR continues to deliver an ever-improving high quality and value for money service for Londoners well into the future.</li>
    <li>The contract value is in excess of &pound;700m, and will run from 7 December 2014 to April 2021, with an option for this to be extended until 2023</li>
    <li>KeolisAmey Docklands Ltd is expected to create over 100 apprenticeships during the life of the franchise. It must also advertise any job vacancies at a local level and attempt to recruit from local people who are unemployed.</li>
    <li>There were four original bidders in the DLR competition: Go-Ahead/Colas, Keolis/Amey, Serco and Stagecoach. Go-Ahead/Colas withdrew from the competition before it reached its conclusion.</li>
    <li>Serco has operated the DLR on behalf of TfL since 1997. The current franchise (granted in May 2006) was originally due to expire in March 2013.</li>
    <li>It was extended until 14 September 2014 to allow exclusive focus on delivering services for the London 2012 Olympics; it was again extended last this summer to allow TfL time to complete the procurement process.</li>
    <li>DLR measures train performance as the number of trains that operate their full journey as planned. DLR regularly exceeds 99% performance on this basis.</li>
</ul>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div>
                                        <ul>
                                            
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/december">December</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2014-December-Further improvements to Docklands Light Railway -->

 
 
        
        
            @{ViewBag.Description = "Further improvements to Docklands Light Railway";}
        
        


 