


@{ViewBag.Title = "London Underground announces latest performance figures";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014">2014</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014/december">December</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">London Underground announces latest performance figures</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>London Underground announces latest performance figures</h1>
        <div class="content-page-press-release">
        15 December 2014
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



 <div class="on-this-page">
<p>&nbsp;Latest performance figures from London Underground (LU) show that the number of people travelling on the network has increased significantly in comparison to the same period last year.</p>
<p>Figures published by LU for Periods 5, 6  and 7 (20 July to 11 October) show that passenger numbers on the Tube were up by 8 million in total across the three periods, compared to the same periods last year. Customer satisfaction scores also increased by three points, with scores for station staff availability and helpfulness going from 79 to 82.</p>
<p>The figures follow 2013/14's record performance, when LU carried 1.265bn passengers. Passenger numbers are now up by a third over the last ten years - making continued investment in the network essential.</p>
<p>Delays on the Underground were reduced by 40% between 2007 and 2011, and LU is on track to meet the Mayor's commitment to reduce delays by a further 30% by 2015.</p>
<p>Phil Hufton, LU's Chief Operating Officer, said: `We're carrying record numbers of people on our network and, as these figures demonstrate, the number of customers is set to rise further. This is why it is vital that we continue our drive to improve reliability and continue with our programme to modernise the Tube.</p>
<p>`Customers have already benefited from the upgrades of Jubilee and Victoria lines and work is well underway to modernise the Northern, Circle, District, Hammersmith &amp; City and Metropolitan lines. But we have to carry on in order to meet the growing demand.</p>
<p>London's population is set to grow from 8.4m today to around 10m by 2030 &#45; that's an extra Tube train full of  people every three days &#45; and it is therefore essential that there is continued investment in increasing services and transport infrastructure to meet this increasing demand.</p>
<p>To support this, LU is carrying out a huge programme of modernisation, with major stations, trains, track and signalling being updated or replaced to provide more capacity for a growing city.  The line upgrades are at the core of LU's investment programme, which will deliver more than 30% increase in capacity. The upgrade programme is being delivered over the coming years, with work to modernise the Northern line nearly complete, and the Circle, District, Hammersmith &amp; City and Metropolitan lines well underway.</p>
<p>Redevelopment work to increase capacity at key stations and make them step-free is underway at a number of stations including Victoria, Tottenham Court Road and Bond Street.  More than half of LU's 270 stations have now been modernised or refurbished to make them brighter and easier to use, with improvements such as tactile strips, better CCTV and help points, electronic information displays in ticket halls and on platforms and improved seating and lighting.</p>
<p>Following modernisation, the Victoria line is now operating one of the highest frequency train services anywhere in Europe, the Jubilee line service has been significantly improved, and the first phase of the modernisation of the Northern line is soon to be completed. By the end of next year customers using the Northern line, the Tube's busiest line, will enjoy quicker, more frequent and more reliable journeys. Capacity on the line will be increased by 20% &#45; the equivalent space for an extra 11,000 passengers per hour.</p>
<p>New air-conditioned walk-through trains are being introduced on 40% of the Tube network. The Circle, Metropolitan and Hammersmith &amp; City lines currently have these trains in service and they are currently being introduced on to the District line, where more trains will be delivered during 2015.</p>
<p>Other improvements include contactless payment, which is now making journeys simpler for customers with over 19 million journeys using contactless payment cards since the launch in September this year. Wi-Fi coverage is now accessible at every below-ground Tube station, with the exception of four that are currently undergoing major upgrade work. Next year will see the introduction of a smart new uniform for Tube staff, that will make them even more easily recognisable to customers, along with more visible staff and new improved retail facilities introduced at stations such as Embankment, Baker Street and Canary Wharf along with other stations around the network.</p>
<hr />
The performance figures for Periods 5, 6 and 7 can be found at: <a href="http://www.tfl.gov.uk/corporate/publications-and-reports/underground-services-performance">http://www.tfl.gov.uk/corporate/publications-and-reports/underground-services-performance</a>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div>
                                        <ul>
                                            
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/december">December</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2014-December-London Underground announces latest performance figures -->

 
 
        
        
            @{ViewBag.Description = "Press releases and news articles from Transport for London";}
        
        


 