


@{ViewBag.Title = "Londoners show overwhelming support for upgrade of Barclays Cycle Superhighway 2";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014">2014</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014/december">December</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Londoners show overwhelming support for upgrade of Barclays Cycle Superhighway 2</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Londoners show overwhelming support for upgrade of Barclays Cycle Superhighway 2</h1>
        <div class="content-page-press-release">
        19 December 2014
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        More than 90% of people who responded to the consultation supported plans for full and semi-segregated cycle track
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"With more people hopping on to the saddle than ever, it's only right that we deliver world class cycling facilities that we can be proud of for years to come"</div>
        <div class="quote-footer">
            <div class="quotee-name">Boris Johnson</div>
            <div class="quotee-job-title">Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<p>The Mayor and Transport for London (TfL) today announced that more than 90% of people who responded to the consultation supported proposals for the planned upgrade to Barclays Cycle Superhighway 2 (CS2), creating a world-class fully and semi-segregated cycle route.</p>
<p>The proposed scheme would see full and semi segregation installed along the whole route between Whitechapel High Street and Bow. Eleven pioneering cycle-priority junctions would also be installed, including at Aldgate East, Mile End and Whitechapel. Subject to the approval of the TfL Board in February, construction would begin as soon as possible and be completed by March 2016.</p>
<h2>Safer for cyclists</h2>
<p>Mayor of London, Boris Johnson, said: 'This consultation reveals resounding support for our mission to completely overhaul Cycle Superhighway 2. These plans will make the route safer for cyclists by giving them more space on the road. With more people hopping on to the saddle than ever, it's only right that we deliver world class cycling facilities that we can be proud of for years to come.'</p>
<p>Leon Daniels, Managing Director of Surface Transport at TfL, said: 'The overwhelming support for our plans for an upgraded Cycle Superhighway 2 shows how important cycling is in London. Our engineers are now gearing up to start work to deliver these improvements throughout 2015 and we will make sure that any impact in delivering these schemes is kept to a minimum.'</p>
<p>&nbsp;</p>
<p>The vast majority of the route will be separated with a kerb, which would keep cyclists away from road traffic. Where there is less space, cyclists would be separated from traffic by highly-visible traffic 'wands' - regularly spaced flexible poles that clearly define the cycle track.</p>
<h2>Improve access</h2>
<p>Overall, 89% of direct respondents to the consultation said they supported or partially supported TfL's proposals for the CS2 upgrade between Aldgate and Bow roundabout. Including the emails of support via the London Cycling Campaign, the overall support rate was 95%.</p>
<p>Following consultation, TfL has made a few changes to the scheme to help address local concerns. To help improve access to Whitechapel market, the designs have been changed to create a five metre wide eastbound bus lane, which will include a two-metre wide mandatory cycle lane. The loading bays outside Whitechapel Gallery will also be extended to help facilitate deliveries to local businesses. In some areas, less pavement will be removed to provide more space for pedestrians along the route.</p>
<h2>Bus stop bypasses</h2>
<p>As part of the route, bus stop bypasses similar to those already in use between Bow Roundabout and Stratford would also be introduced, directing cyclists behind the bus stop. Earlier this year, TfL carried out research on the public's opinion of the bypasses. This research built on previously commissioned off-street trials and revealed that 89% of cyclists and 70% of bus passengers and pedestrians support their use.</p>
<p>The surveys also showed that the vast majority of cyclists on Stratford High Street use the bus stop bypasses when there is a bus at the stop (92%) and also when there is no bus (86%). Further monitoring will take place during 2015 at locations where there are high numbers of bus passengers and cyclists, to ensure that any remaining concerns are addressed.</p>
<p>For more information about the planned upgrade of Cycle Superhighway 2, please visit <a href="http://www.tfl.gov.uk/cs2upgrade">www.tfl.gov.uk/cs2upgrade</a></p>
<p>&nbsp;</p>
<hr />
<p>Notes to Editors:</p>
<ul>
    <li>In March 2013, the Mayor launched his Vision for Cycling in London, which detailed his &pound;913m programme to improve infrastructure and safety for cyclists in the capital</li>
    <li>TfL is also working on plans to transform the layout of Bow Roundabout to make it more accessible and safe for all road users. While this major scheme will take several years to design and deliver, TfL will consult on proposals to introduce improved pedestrian facilities early next year</li>
    <li>Design work on the upgrade of CS2 was carried out by TfL's in-house design and modelling team</li>
    <li>The upgrade of Cycle Superhighway 2 will link into the work currently underway by the City of London to remove the Aldgate gyratory which encircles Aldgate Tube station and return it to two-way traffic -<a href="http://www.cityoflondon.gov.uk/services/transport-and-streets/transport-planning/transport-projects/aldgate-area/Pages/default.aspx">http://www.cityoflondon.gov.uk/services/transport-and-streets/transport-planning/transport-projects/aldgate-area/Pages/default.aspx</a></li>
    <li>TfL's on street study of bus stop bypasses back up off-street research carried out by the Transport Research Laboratory last year, which assessed four slightly differing layouts of bus stop bypasses and found that the majority of cyclists felt safer using the bus stop bypass, rather than remaining on the road and that around half of cyclists interviewed felt they would be more likely to cycle in town if such cycle tracks were installed &#45; <a href="http://www.trl.co.uk/solutions/sustainability/cycling/safer-cycling-innovations/bus-stop-bypass/">http://www.trl.co.uk/solutions/sustainability/cycling/safer-cycling-innovations/bus-stop-bypass/</a></li>
</ul>
<p>&nbsp;</p>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div>
                                        <ul>
                                            
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/december">December</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2014-December-Londoners show overwhelming support for upgrade of Barclays Cycle Superhighway 2 -->

 
 
        
        
            @{ViewBag.Description = "More than 90% of people who responded to the consultation supported plans for full and semi-segregated cycle track";}
        
        


 