


@{ViewBag.Title = "Londoners reminded to plan their road journeys";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014">2014</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014/december">December</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Londoners reminded to plan their road journeys</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Londoners reminded to plan their road journeys</h1>
        <div class="content-page-press-release">
        17 December 2014
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Number of major TfL and utility works planned to take place on the capital's &quot;Red Routes&quot; over the festive period &#45; including Marylebone Road and Euston Road in central London
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Between Christmas and New Year, traffic levels in central London fall by as much as 25 per cent. That makes it the ideal time, working closely with the utility companies, to try and complete some of the more disruptive works required on the TfL Road Network"</div>
        <div class="quote-footer">
            <div class="quotee-name">Garrett Emmerson</div>
            <div class="quotee-job-title">Chief Operating Officer for Surface Transport, Transport for London</div>
        </div>
</div>

 <div class="on-this-page">
<ul>
    <li>Army of workers carrying out road improvements between Christmas and the New Year, when traffic levels are almost 25 per cent lower, will help save time and reduce traffic disruption during 2015</li>
    <li>Roads in central London closed for annual New Year's celebrations on 31 December and 1 January</li>
    <li>Check for the most up to date traffic information by visiting www.tfl.gov.uk/trafficnews or following &#64;tfltrafficnews</li>
</ul>
<p>London's drivers are being reminded to check before they travel over the festive period, to ensure they aren't unnecessarily delayed if driving through the capital this Christmas.</p>
<p>Over the Christmas and New Year period, Transport for London (TfL) will be working closely with the major utility companies to carry out a number of major works in and around central London to take advantage of the lower traffic levels. An army of engineers will be working around the clock to carry out these improvements, which have been coordinated to take place while traffic levels are up to 25 per cent lower than normal. The wider impact to motorists, pedestrians, cyclists, those making deliveries and local businesses can be significantly reduced by carrying out these works at this time.</p>
<p>The most significant works that will be carried out during this period will be along Marylebone Road and Euston Road between King's Cross and the Westway Flyover (26 December to 4 January). These works, which in some locations will see parts of the road reduced to a single lane, have been coordinated to happen at the same time, over the quietest time of the year. This is instead of Londoners having to deal with repeated disruption along this vital road link over around 15 weekends during 2015. During these works, TfL will be carrying out junction improvements and repairing footpaths. Water, gas and telecoms upgrades and repair works will also be carried out to prevent any further closures.</p>
<p>Drivers who need to travel along Marylebone Road and Euston Road during these works are advised to take an alternative route where possible and allow extra time to complete their journeys. TfL is also recommending that, where possible, businesses retime their deliveries to avoid the busiest periods while the works are carried out.</p>
<p>Drivers and cyclists are advised to regularly check before they travel by visiting www.tfl.gov.uk/trafficnews or following &#64;tfltrafficnews. Bus users can find out how their bus might be affected by going to www.tfl.gov.uk/bus/status or following &#64;tflbusalerts:</p>
<p>Other significant works taking place during the festive period, which may cause delays, include:</p>
<ul>
    <li>Hammersmith: Overnight works will be taking place on the Hammersmith Flyover from 22:30 on 18 December until 05:00 19 December as part of the continuing strengthening of the flyover. Drivers, including those leaving the London Horse Show at Olympia or late shopping at Westfield Shopping Centre in Shepherds Bush, are advised to use the A40 Western Avenue to avoid any disruption caused by these works;</li>
    <li>Tottenham: The A10 High Road in Seven Sisters will be closed to replace a Network Rail bridge and carry out strengthening works to the walls by South Tottenham Station (23-28 December). TfL and the utility companies will also be coordinating other works in the local area to take advantage of the closure;</li>
    <li>Lambeth: Kennington Lane closed southbound for gas main replacement works by Southern Gas Network and to allow preliminary works on Cycle Superhighway 5 to begin (26 December to 3 January);</li>
    <li>Hampstead: Lane restrictions on A41 Finchley Road by Langland Gardens to allow Thames Water to install new water main leak monitoring equipment (27-29 December);</li>
    <li>Hackney: Thames Water will be carrying out sewer repairs at the junction of Homerton High St and Wardle St, which will see the junction under temporary traffic signal control (27 December  - 4 January);</li>
    <li>On 31 December, roads in central London will start closing to traffic from 14:00 to facilitate the New Year celebrations, with all closures in place from 20:00 until 06:00.  Public transport will be the best way to get around London, although some buses will be on diversion or finish early due to the road closures;</li>
    <li>On 1 January 2015 some roads will be closed in central London for the New Year's Day Parade.  All roads are expected to be reopened by 18:00 or as soon as it is safe to do so.</li>
</ul>
<p>Where it is possible, both TfL and the utility companies will work 24 hours a day or extended hours to ensure that the works are carried out as quickly as possible.</p>
<p>Garrett Emmerson, Chief Operating Officer for Surface Transport at TfL, said: </p>
<p>'Between Christmas and New Year, traffic levels in central London fall by as much as 25 per cent. That makes it the ideal time, working closely with the utility companies, to try and complete some of the more disruptive works required on the TfL Road Network.</p>
<p>'By coordinating these works to take place at a time when many people are on holiday, we can reduce the amount of disruption drivers and local businesses experience. We will be working hard to minimise any disruption that these works may still have and remind all road users to check before they travel to avoid congestion where they can.'</p>
<p>London's roads account for 80 per cent of all journeys and are where 90 per cent of all goods are moved in the capital. As the engine of the British economy, London's population is set to grow by almost 2 million to 10 million by 2031 &#45; equivalent to absorbing the population of both Birmingham and Leeds.</p>
<p>This is a continual challenge in a city with a road network that developed organically and was never designed for so much traffic. To meet the challenge, the Mayor and TfL are investing more than &pound;4 billion through its Road Modernisation Plan to improve London's roads, streets and urban realm for all Londoners during the next decade.</p>
<p>To help deliver this wider programme of work, TfL is expanding its innovative SCOOT technology, which can change traffic signal timings based on traffic levels second by second, so that three quarters of all signals in London have this installed. Hundreds of staff are already working 24/7 to monitor the network and will use London's intelligent traffic light technology to help traffic movement around these planned works, as well as keeping road users up-to-date on traffic conditions.</p>
<p>For more information, please visit <a href="http://www.tfl.gov.uk/trafficnews">www.tfl.gov.uk/trafficnews</a> or <a href="http://www.tfl.gov.uk/festive">www.tfl.gov.uk/festive</a></p>
<p>&nbsp;</p>
<hr />
<p>Notes to Editors:</p>
<p>•	Since it launched in 2011, almost 100,000 tweets containing up to the minute London traffic information have been sent by &#64;tfltrafficnews to over 280,000 Twitter followers, providing almost instant traffic information for people planning to drive or cycle around London.</p>
<p>•	Businesses making deliveries can sign up to the weekly TfL Road Freight Bulletin so then can plan their journeys. Email: freight&#64;tfl.gov.uk</p>
<p>•	Where possible, businesses are advised to retime deliveries to outside of peak hours, this will help achieve safety, environmental and economical benefits. For guidance in retiming deliveries, please visit <a href="/info-for/freight/moving-freight-efficiently/retiming-and-out-of-hours-deliveries">/info-for/freight/moving-freight-efficiently/retiming-and-out-of-hours-deliveries</a></p>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div>
                                        <ul>
                                            
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/december">December</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2014-December-Londoners reminded to plan their road journeys -->

 
 
        
        
            @{ViewBag.Description = "TfL reminds Londoners to plan their road journeys over the Festive period ";}
        
        


 