


@{ViewBag.Title = "LU sets new record for passengers carried";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014">2014</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014/december">December</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">LU sets new record for passengers carried</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>LU sets new record for passengers carried</h1>
        <div class="content-page-press-release">
        01 December 2014
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        London Underground breaks record for passenger numbers for the second time in three weeks<BR>
        
    </div>



 <div class="on-this-page">
<p>Transport for London (TfL) revealed today that Friday 28 November 2014 was the busiest day in London Underground's (LU) history when the Tube network carried 4.725 million passengers.</p>
<p>This is the second time in three weeks that the record for passenger numbers on the Tube has been broken. The new record, which was set on Friday 28 November, shows an increase of almost four per cent compared to the same day last year, illustrating the festive season is busier than ever.  The new total exceeds passenger numbers reached on Friday 14 November 2014 when 4.576 million journeys were made.</p>
<p>The recent record breaking numbers of people using the Tube reflects the sustained year-on-year increase of the number of customers using London Underground's services.  This trend looks set to continue with London's population set to grow from 8.4m today to around 10m by 2030 &#45; that's an extra Tube train full of people every three days.  This is why it is vital that investment in London's transport infrastructure continues so that the ever-increasing demand for its services is met.</p>
<p>Phil Hufton, LU's Chief Operating Officer, said: `The fact that we have broken the record for passenger numbers on the Tube twice in three weeks clearly shows that there is an increasing demand to travel on London Underground.  This is why we need to continue to invest in the modernisation and improvement of the Tube network and make sure that we provide an enhanced experience for customers.</p>
<p>`Those who travel on the Tube have already benefited from the upgrades of the Jubilee and Victoria lines in addition to the work that is currently being undertaken to transform the Northern, Circle, District, Hammersmith &amp; City and Metropolitan lines. We need to maintain this pace of modernisation to ensure that London Underground is a network that is fit for the future.'</p>
<p>LU is undertaking a massive programme of modernisation so that it can provide more capacity for a growing global city by upgrading or replacing major stations, trains, track and signalling. By the end of 2016, 191 new spacious and air-conditioned trains will have been introduced on the Circle, District, Hammersmith &amp; City and Metropolitan lines for a more comfortable journey.</p>
<p>The line upgrades are at the core of LU's investment programme, which will deliver more than 30 per cent increase in capacity.  The upgrade programme is being delivered over the coming years, with work to modernise the Northern line nearly complete, and the Circle, District, Hammersmith &amp; City and Metropolitan lines well underway.</p>
<p>Redevelopment work to increase capacity at key stations and make them step-free is underway at a number of stations including Victoria, Tottenham Court Road and Bond Street.  More than half of LU's 270 stations have now been modernised or refurbished to make them brighter and easier to use, with improvements such as tactile strips, better CCTV and help points, electronic information displays in ticket halls and on platforms and improved seating and lighting.</p>
<p>Making journeys on LU has become easier over the years. The Oyster card system provides an easy way for people to pay for their journeys and contactless bank cards are now accepted for travel on the LU network. More than 18 million journeys have now been made using contactless payment cards since the launch of the new convenient way to pay on 16 September.</p>
<p>During next year, LU will be modernising the way customers are served at stations, with staff brought out from underused ticket offices and back offices to where they can assist customers most effectively &#45; in ticket halls, on gate lines and on platforms. There will be more staff visible and available to help customers buy the right ticket or use their contactless payment card, plan their journeys and keep them safe and secure, and all stations will be staffed at all times whilst the train service is operating. Later this year, every member of station staff will have access to a mobile device, which will provide them with access to travel information with which to help customers.</p>
<p>From 12 September next year, LU will introduce the 'Night Tube' &#45; all night 24 hour Tube services on Friday and Saturday nights on the Jubilee, Victoria and most of the Piccadilly, Central and Northern lines. The Night Tube will cut journey times, support the creation of some 2000 new jobs and boost London's economy by &pound;360 million.</p>
<p>ENDS</p>
<p>Notes to editors:</p>
<ul>
    <li>There were 270,600 journeys made on Friday 28 November as part of the &quot;MasterCard Fare Free Friday&quot; to promote contactless technology.</li>
    <li>The latest passenger figures follow LU's 2013/14's record performance, when it carried 1.265bn passengers - up by a third over the last ten years.</li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div>
                                        <ul>
                                            
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/december">December</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2014-December-LU sets new record for passengers carried -->

 
 
        
        
            @{ViewBag.Description = "London Underground breaks record for passenger numbers for the second time in three weeks";}
        
        


 