


@{ViewBag.Title = "Mayor's plans to boost London's bus services";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014">2014</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014/december">December</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Mayor's plans to boost London’s bus services</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Mayor's plans to boost London’s bus services</h1>
        <div class="content-page-press-release">
        02 December 2014
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Mayor sets out plans for major investment to expand and improve London's bus services
        
    </div>



 <div class="on-this-page">
<p>The Mayor and Transport for London (TfL) today set out plans for a major new investment in bus services to help meet the rising demand of the city's rapidly growing population.</p>
<p>London's bus network, which carries six and half million passengers every day, is already one of the most extensive and accessible anywhere in the world.  However, London's population is growing faster than any other European city and investment is needed to keep pace.</p>
<h2>Extra Buses</h2>
<p>To respond to this growing demand, funding for over 500 extra buses is planned over the course of the business plan, which will create additional capacity for an extra 2.9m customer journeys each week. Working with London's boroughs, an additional &pound;200m will be invested in supporting the reliability of the bus network, which delivers 2.4bn passenger journeys every year. New funding will also support customer-focused bus driver training to improve customer service. The plans are part of TfL's draft Business Plan which will be considered at the TfL Board on Wednesday 10 December.</p>
<p>The extra buses will be used to increase the frequency of bus services and improve transport connections to key growth areas, such as Barking Riverside and Elephant and Castle, providing high quality bus routes between new residential areas and local town centres. The investment will improve access to this vital form of transport across London, especially in outer London where around four-fifths of bus journeys take place.</p>
<p>Mayor of London, Boris Johnson said: `London buses carry more than 2.4 billion passengers a year &#45; twice as many as the Tube. They are the backbone and workhorses of our transport network, playing an undeniably important role in London's economy. This major new investment in our bus services will help meet the demand of the city's rapidly growing population. It will also support regeneration of key growth areas &#45; ensuring Londoners have a regular and reliable bus network to get them to jobs, schools and hospitals in every part of the capital.'</p>
<p>Bus reliability and customer satisfaction is at its highest ever level. To boost this further and support London's growth, &pound;200m is being invested in 'bus priority' schemes that will be delivered in partnership with local councils. These measures will deliver significant benefits to passengers &#45; allowing buses to move around the city more freely, avoid traffic hotspots and offer customers an even more reliable service. Improvements will include extra bus lanes, 'bus only' turns, and the extension of bus lane operational hours.</p>
<p>Around 80% of London bus services run on borough roads, so close collaboration is essential to the development of such schemes, many of which could be introduced without major infrastructure works.  TfL is now working with local London councils to help them propose, develop and introduce such schemes on local roads.</p>
<h2>Staff training</h2>
<p>As well as investment in physical measures, the Mayor and TfL will also be investing &pound;25m over seven years in customer service training for bus company staff.  This will include a review of the BTEC qualification &#45; the mandatory training programme for new bus drivers - to enable TfL to improve the customer care training of around 25,000 staff including new and existing drivers, supervisors and controllers. Drivers will learn how to communicate better with customers and respond more quickly to their needs.</p>
<p>TfL's Business Plan, which sets out what will be delivered to support the Mayor's Transport Strategy until 2020/21, also includes plans to increase the capacity of London Tramlink on the Wimbledon to Croydon line by 50% and subject to business cases and affordability the potential for an extension of the Tramlink network to be progressed towards the end of the Business Plan period.</p>
<p>Demand for London Tramlink has doubled since 2000 and the service now carries 31m passengers a year. Four new trams have been ordered to help reduce congestion on the route between Wimbledon and Croydon, with the first arriving in 2015. This, combined with doubling sections of track and platform works at Wimbledon, will improve access to central Croydon and allow 12 trams an hour to run in each direction during peak times. This will provide an additional 25,000 people with a journey time of less than 60 minutes to central Croydon, boosting the local economy.</p>
<p>London's Transport Commissioner Sir Peter Hendy, CBE, said: `As London's population grows it is essential that we continue to invest in the transport network to get customers to their jobs and homes and to go about their daily lives. The number of passengers on the bus network is at its highest since 1959 and this investment will help address the growing demand, improving customers' journeys, bus reliability and customer satisfaction.'</p>
Other key improvements that will be delivered over the next ten years include:
<ul>
    <li>Crossrail &#45; the TfL-run new rail service linking east and west London will operate from 2018, radically cutting journey times, reducing congestion and transforming access for disabled people</li>
    <li>In September 2015 London Underground will introduce the Night Tube, with trains running through the night on Friday and Saturday on core sections of the Tube network</li>
    <li>By 2016, 40% of the Tube network will have new air-conditioned trains with walk through carriages, dedicated wheelchair spaces and advanced audio and visual information</li>
    <li>The Northern line will be extended to Battersea via Nine Elms, with two new stations unlocking the regeneration of the area</li>
    <li>Vitally important Tube stations, including Bank, Bond Street, Finsbury Park, Tottenham Court Road and Victoria, will be rebuilt and modernised</li>
    <li>New signalling will be introduced on the Underground's 'sub surface' lines, boosting capacity, and the next phase of Tube upgrades, including the Piccadilly, Central and Bakerloo lines, will begin</li>
    <li>&pound;4bn is being invested in London's roads, including transformational projects in Wandsworth, Croydon and Vauxhall.  Using radical ideas and innovative designs, the plans will make London's roads greener, safer and more attractive for the benefit of all road users</li>
    <li>This includes the Mayor's Cycling Vision which will see &pound;913m invested in supporting the rapidly growing numbers of cyclists through creating safer junctions across London, major segregated cycle routes, a network of Quietways on less busy streets and other far-reaching improvements</li>
    <li>TfL's ticketing, already at the forefront of technology with contactless bank card payments, will be further improved. River Services will accept Oyster by mid 2016</li>
    <li>From May 2015, TfL will look after three quarters of all journeys in and out of Liverpool Street station &#45; having taken over West Anglia services inner suburban routes, which will join the London Overground network, and Liverpool Street to Shenfield services, which will be modernised and improved before becoming part of TfL-Crossrail</li>
    <li>The Gospel Oak&#45;Barking London Overground line will be electrified, improving the service, and is planned to be extended to serve a new station at Barking Riverside, one of the largest Growth Opportunity Areas in the country</li>
    <li>TfL has committed to continue the roll out of its Growth Fund, designed to target transport improvements in areas where there is potential to unlock new homes and jobs.  This will increase the funding available from &pound;300m to &pound;360m over the next 10 years, enabling thousands more homes to be delivered</li>
</ul>
<p>Over the past year, TfL has:</p>
<ul>
    <li>Brought the Northern line upgrade towards completion, so that line will be able to carry an additional 11,000 customer per hour, a 20% capacity increase</li>
    <li>Extended contactless payment to Tube, London Overground, DLR, Tramlink and National Rail routes where Oyster pay as you go is valid, bringing greater convenience to customers</li>
    <li>Made major progress on the construction of Crossrail, reaching the halfway point in January, on time and to budget</li>
    <li>Committed to making 30 Crossrail stations in London step-free</li>
    <li>Introduced accessible boarding ramps at more Tube stations, continuing LU's programme of accessibility work so that by 2016 a third of Tube platforms will have level access, up from 15 per cent last year</li>
    <li>Extended the 'Turn up and go' service to cover all London Overground stations, so that disabled people nreding assistance can arrive at stations and have staff help them without needing to book in advance</li>
    <li>Identified &pound;75m to speed up the rate the Tube network is made more accessible, to enable the installation of new lifts at around 12 stations</li>
    <li>Started a programme to add an additional carriage to all London Overground trains, which will increase capacity by 25 per cent by 2015</li>
    <li>Launched Operation Safeway, a joint initiative with the Metropolitan Police Service, deploying officers at key junctions across the capital, enforcing road safety and giving advice to all road users.  Over 14,000 fixed penalty notices were issued in the initial seven week pilot</li>
    <li>Published 'Safer Streets for London', a new road safety plan to cut death and serious injuries on the capital's streets by 40 per cent by 2020</li>
    <li>Extended the Barclays Cycle Superhighway between Bow and Stratford, with a segregated lane for cyclists</li>
    <li>Consulted on works to transform Elephant and Castle, Oval and completed works to improve key junctions such as Euston Circus and the Tottenham Hale gyratory to make them safer for all road users</li>
    <li>Set up an Industrial HGV Task Force to focus on the risks heavy, particularly construction, vehicles pose to cyclists</li>
    <li>Developed a proposal for an Ultra Low Emission Zone (ULEZ) to cover central London, where air pollution is particularly bad. Subject to public consultation, the ULEZ would require all vehicles driving in central London to meet new exhaust emission standards</li>
    <li>Established the TfL Growth Fund to address transport issues that would otherwise prevent development happening in areas with the potential for significant growth, for example, Vauxhall and Tottenham Vale</li>
    <li>Fitted new technology to 900 buses to reduce their nitrogen oxide (NOx) emissions by up to 88%</li>
</ul>
<hr />
<p>The draft TfL Business Plan will be considered by the TfL Board on 10 December.<br />
Subject to business cases, affordability and funding arrangements, options for extension of the London Tramlink network continue to be developed within the business plan.</p>
<p>&nbsp;</p>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div>
                                        <ul>
                                            
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/december">December</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2014-December-Mayor's plans to boost London’s bus services -->

 
 
        
        
            @{ViewBag.Description = "Mayor sets out plans for major investment to expand and improve London’s bus services";}
        
        


 