


@{ViewBag.Title = "Modernisation of London Underground on track";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014">2014</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014/december">December</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Modernisation of London Underground on track</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Modernisation of London Underground on track</h1>
        <div class="content-page-press-release">
        04 December 2014
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



 <div class="on-this-page">
<p>A year after setting out their programme for the modernisation of the Tube network, Mayor of London, Boris Johnson, and London Underground (LU) Managing Director Mike Brown have confirmed that the range of improvements to make customers' journeys better, are on track for delivery during 2015.</p>
<p>The way passengers are served at stations will begin to be transformed from February next year, with staff moved from underused ticket offices and back rooms to where they can assist customers most effectively - in ticket halls, at gate lines and on platforms. Today, less than 3% of journeys involve a visit to a ticket office, and an increasing number of customers top up online and use contactless payment, with hundreds of thousands of journeys made using the new technology each day.</p>
<p>There will be more staff visible and available than ever before to help people buy the right ticket, plan their journeys and to help them feel safe and secure as they travel.  By the end of 2015 there will be more staff on platforms, at ticket machines and concourses than ever before. All stations will remain staffed at all times whilst services are running, and there will be more staff visible and available to offer assistance to customers where it is needed most.</p>
<p>All station staff will be receiving customer service training and will be equipped with portable handheld devices loaded with all the information needed to help customers get around, including maps, real-time service levels, journey planner, ticketing options and prices, local information and much more.  Around 150 new ticket machines are being introduced across the network and all machines are being modernised so that staff in the ticket hall can issue new Oyster cards, give small refunds and sort out journey discrepancies.</p>
<p>Visitor Information Centres located at Gatwick, King's Cross St Pancras, Euston, Paddington, Piccadilly Circus, Heathrow Terminals 1,2,3, Victoria and Liverpool Street station are designed to offer help and welcome first time or infrequent customers and overseas visitors to the capital. Customers will also be able to purchase tickets to London attractions and tours and there will also be a wide range of travel information available.</p>
<p>The Underground is being modernised so that it can keep pace with London's sharply rising population, support economic growth and reflect the higher standards that passengers expect and the changing ways they travel. Work to rebuild major stations such as Tottenham Court Road, Bond Street and Victoria is continuing apace, and next year will see the opening of a huge new ticket hall at Tottenham Court Road station &#45; six times larger than the current one &#45; which will improve journeys through the station with brand new facilities such as retail outlets and restaurants.</p>
<p>And, from 12 September next year, 24 Hour 'Night Tube' services will be introduced on Friday and Saturday nights, boosting London's economy by &pound;360 million, supporting up to 2000 extra jobs and cutting late night journey times for many people.</p>
<p>The Mayor of London, Boris Johnson, said: `With major line upgrades continuing apace, a new 24-hour Tube service and more staff out and about to help customers at stations, it's clear that 2015 will be a key chapter in the history of our iconic Tube. The network is carrying a staggering number of people each day and as our population grows we are continuing to invest to ensure the Tube's future success. Our plans are all about giving the Tube the tools it needs to keep London and its economy moving in the 21st century.`</p>
<p>Mike Brown, Managing Director of London Underground, said: `A year ago the Mayor and I set out our vision for a Tube network and service that is truly fit for London and our customers in the 21st century: a better face-to-face service at our stations, a 24-hour service at weekends, modern trains and stations and facilities that reflect what our customers want.</p>
<p>`The whole Underground team has made great strides towards achieving this, and over the next year the pace of delivery and improvement will accelerate still further. With an additional 20% capacity on the Northern line, journeys will be better on the busiest line of the network. The experience at Tottenham Court Road &#45; one of our key stations - will be transformed and new air conditioned trains will continue to be introduced, eventually serving 40% of the network.</p>
<p>`Our customers and our staff remain at the heart of everything we do and we recognise that without them London Underground wouldn't be what it is today. We are constantly striving to make improvements and from next year we will see radical changes as we bring staff, newly equipped and with a new eye-catching uniform, out from underused ticket offices and back rooms to where they can help customers more effectively face to face. I have made a commitment that all stations will remain staffed at all times and there will be more of our people visible and available to assist our customers in ticket halls, with record numbers of staff on our platforms.`</p>
<p>LU has been in consultation with the Trade Unions for almost a year, with over 100 meetings on the details of the staffing proposals. LU has adhered to every one of the commitments made to staff, including:</p>
<ul>
    <li>All role reductions are being delivered through voluntary severance. There are no compulsory redundancies and not one single member of staff is being forced out;</li>
    <li>There is a job at the company for anyone who wants to stay, and no one who stays will lose any pay;</li>
    <li>No one will have to 'apply for their own job' or move more than 30 minutes from their current work location;</li>
    <li>All stations will remain staffed at all times, with a staff member of Supervisor level looking after each station throughout.</li>
</ul>
<p>The Trade Unions will now have the opportunity to feed back on the details of the ticket office programme. LU will continue to work with customers and other interested groups, as well as with our employees on the details of the modernisation plans over the coming months.</p>
<p>Following the recent modernisation, the Victoria line is now operating one of the highest frequency train services anywhere in Europe, the Jubilee line service has been significantly improved, and the first phase of the modernisation of the Northern line will be completed soon. By the end of next year customers using the Northern line, the Tube's busiest line, will see quicker, more frequent and more reliable journeys.</p>
<p>Capacity on the line will be increased by 20% &#45; the equivalent space for an extra 11,000 passengers per hour. Through better maintenance and incident response, plus a new, modern infrastructure, LU has reduced delays on the Tube by 40% since 2007.  It is also on track to meet its commitment of a further 30% reduction in delays by 2015.</p>
<p>New air-conditioned walk-through trains are being introduced on 40% of the Tube network. The Circle, Metropolitan and Hammersmith &amp; City lines currently have these trains, as does part of the District line, where more trains will be delivered during 2015.</p>
<p>Other improvements include contactless payment, which is now making journeys simpler for customers with over 18 million journeys using contactless payment cards since launch. Wi-Fi coverage is now accessible at every below-ground Tube station, with the exception of four that are currently undergoing major upgrade work, and next year will see both a new uniform for Tube staff, that will make them even more easily recognisable to customers, and new improved shopping facilities introduced at Embankment, Baker Street, Canary Wharf and other stations around the city.</p>
<hr />
<p>For more information please visit the Future Tube webpage on the TfL website: <a href="http://tfl.gov.uk/campaign/tube-improvements/the-future-of-the-tube?cid=fs054">http://tfl.gov.uk/campaign/tube-improvements/the-future-of-the-tube?cid=fs054</a></p>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div>
                                        <ul>
                                            
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/december">December</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2014-December-Modernisation of London Underground on track -->

 
 
        
        
            @{ViewBag.Description = "Press releases and news articles from Transport for London";}
        
        


 