


@{ViewBag.Title = "New Year fares come into effect on 2 January";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014">2014</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014/december">December</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">New Year fares come into effect on 2 January</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>New Year fares come into effect on 2 January</h1>
        <div class="content-page-press-release">
        30 December 2014
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Reminder: TfL's New Year fares come into effect on Friday 2 January
        
    </div>



 <div class="on-this-page">
<ul>
    <li>Customers will be able to buy tickets, including Travelcards, at 2014 prices until 1 January</li>
    <li>Pay as you go daily caps cut to provide more affordable travel for flexible and part time workers</li>
    <li>Savings of up to &pound;600 per year for customers using pay as you go</li>
    <li>Overall fares for 2015 frozen in real terms</li>
    <li>Travelcard season tickets used by over one million customers to increase by less than inflation and real term cut in bus fares</li>
    <li>Barclays Cycle Hire charge structure simplified to &pound;2 per 30 minutes after the initial free period</li>
</ul>
<p>Transport for London (TfL) is reminding customers that new fares for 2015 will come into effect on Friday 2 January. Overall, TfL fares will be frozen in real terms, with an average increase of 2.5 per cent. Customers are able to purchase tickets, including Travelcards, at 2014 prices until 1 January.</p>
<p>The Mayor of London, Boris Johnson, has overhauled TfL fares for 2015 to give flexible and part-time workers with unpredictable hours access to lower fares. London's workforce has changed, with many people working part time or flexible working patterns, meaning they do not know how many days or hours they will work each week.</p>
<p>To address this, and deliver on a commitment to the London Assembly, the Mayor is cutting pay as you go daily caps dramatically so they become one fifth of the cost of a 7 Day Travelcard.</p>
<p><strong>2015 changes to daily cap</strong><br />
The 2015 fares see a major simplification of the daily caps, which will bring the cost of daily travel in line with weekly travel and will result in a reduction of fares for nearly 12 per cent of pay as you go users.  The all day cap for Zones 1-2 will be cut by &pound;2.00 from &pound;8.40 to &pound;6.40; and for Zones 1-6 by over &pound;4.00 from &pound;15.80 to &pound;11.70. The maximum savings for flexible workers using pay as you go will be considerable, ranging from &pound;200 to over &pound;600 per year. A customer travelling three days a week between Zones 1-5 in 2015 will pay a maximum of &pound;10.90 a day, rather than the current maximum of &pound;15.80, saving &pound;4.90 a day, or &pound;14.70 a week.  Over a year (for example 45 weeks) the savings are over &pound;600 a year.</p>
<p><strong>Off-peak cap</strong><br />
The adult off-peak cap from Zones 4, 5 and 6 to Zone 1 is being discontinued and customers will pay the new daily cap.  This will affect about two per cent of approximately 1.5m pay as you go customers on a typical day.  It is estimated that over 85 per cent of people travelling off-peak in these zones will only pay more for their travel once a week.</p>
<p>These customers will still be able to benefit from off peak single fares, which will now also apply to National Rail journeys into central London during the evening peak, as they do for London Underground journeys already. Customers could also save money by using a National Railcard. More information can be found here: <a href="http://www.railcard.co.uk">http://www.railcard.co.uk</a></p>
<p><strong>Buses and trams</strong><br />
Overall, bus and tram fares will increase below RPI (2.3 per cent).  The pay as you go single bus and tram fares will increase by 5p to &pound;1.50 but the daily 'bus &amp; tram travel only' cap will be frozen at &pound;4.40.  The 7 Day Bus &amp; Tram Pass will increase by 80p to &pound;21.00.</p>
<p><strong>London Underground</strong><br />
On London Underground, most pay as you go single fares will increase by 10p but all off peak single fares outside Zone 1 will be frozen. Cash single fares, which now make up just one per cent of daily journeys, will increase by 10p, except for zones 1-6 which will increase by 30p to &pound;6.00. No Travelcard season ticket will increase by more than 2.5 per cent and the average increase is 2.3 per cent.</p>
<p><strong>Paper One Day Travelcard</strong><br />
•	The Anytime 1-2 Day Travelcard (&pound;9.00) will be discontinued;<br />
•	The Anytime 1-4 Day Travelcard will increase from &pound;11.40 to &pound;12.00;<br />
•	The off peak 1-6 Day Travelcard, bought primarily by occasional users, will increase from &pound;8.90 to &pound;12.00;<br />
•	The Anytime 1-6 Day Travelcard will be frozen in price at &pound;17.00.</p>
<p><strong>Concessionary travel</strong><br />
Zip Oyster photocard concessions will all be maintained with no change.  All under 11s accompanied by an adult will continue to travel for free on TfL services &#45; currently benefiting 15,000 young people a day. TfL has invested in creating an online process for applying for concessionary photocards to make it easier and quicker for customers.  Each of these photocards are now valid for longer, with the 16+ cards valid for two years rather than one, the 18+ cards up to three years rather than one and the 60+ cards for six years rather than one year when they were launched in 2012.  To recover the costs of creating the online process, the application fee for the 16+, 18+ and 60+ Oyster concession photocard will increase from &pound;10 to &pound;20 from 1 June 2015.  The charge for the under 16 card will increase from &pound;10 to &pound;15. These application fees have not been increased since 2011.</p>
<p><strong>Barclays Cycle Hire</strong><br />
From 2 January there will be changes to the hire charge structure for Barclays Cycle Hire. It will be simplified to a flat &pound;2 per 30 minutes after the initial free 30 minute period.  The &pound;2 daily bike access and &pound;90 yearly membership will remain unchanged. The vast majority of Cycle Hire trips will be unaffected by the change &#45; 97 per cent of member journeys and 76 per cent of casual hires fall within the free 30 minute period, to which there will be no changes.</p>
<p>&nbsp;</p>
<hr />
<p>Notes to Editors:</p>
<ul>
    <li>The full TfL fares tables for 2015 can be found here: <a href="http://tfl.gov.uk/farefinder">tfl.gov.uk/farefinder</a></li>
    <li>TfL does not make a profit from fares &#45; every penny is invested in delivering and improving transport. As well as meeting the needs of the modern London workforce this fares package will ensure that the unprecedented investment in London's transport network will continue;</li>
    <li>More than 85 million Oyster cards have now been issued.  Nearly one million cards are issued every month and nearly a quarter are returned for a refund.  To encourage customers to keep their card and reduce costs associated with providing and issuing cards, those who return a card within a month of purchase will pay an early return charge of &pound;3.00 from their &pound;5 deposit;</li>
    <li>Customers travelling into central London during the evening peak on National Rail services will pay an off peak fare, rather than a peak fare.  This will benefit 5,000 customers a day. This benefit already applies to London Underground journeys. The maximum saving travelling in the evening peak from Zone 6 to a London Underground station in Zone 1, for example, Romford to Covent Garden would be &pound;2.40 &#45; the difference between the peak fare of &pound;7.60 and the off-peak of &pound;5.20;</li>
    <li>Adult fares on the Emirates Air Line will increase by 10p, while child fares will remain the same;</li>
    <li>The ZIP off peak pay as you do daily cap will be maintained and will benefit 20,000 under 16 users a day.  A new half price discount for pay as you go travel for under 16s will be introduced for visitors to London which will benefit around 5,000 young visitors a day;</li>
    <li>The Visitor Oyster card will continue to be available and is a great solution for international visitors to London. It can be bought online via TfL's Visitor Shop before travelling to London the card will continue to cost &pound;3 plus postage;</li>
    <li>A new One Day Bus &amp; Tram Pass costing &pound;5 will be introduced for occasional bus users and visitors to London. It will not require a deposit and will be available to buy at over 4,000 Oyster Ticket Stops, Travel Information Centres and at major transport hubs.  It will also be available at London Underground, National Rail stations and Heathrow Airport to benefit people arriving at Heathrow outside Tube operational hours;</li>
    <li>A 34 per cent discount on off peak Day Travelcards will be introduced for visitor groups of 10 or more. This will cost &pound;8 for adults and &pound;4 for under 16s. These discounts will also be available to Railcard holders. Visitors from within the UK will also be encouraged to use their contactless payment cards to avoid having to top-up their credit on their trip;</li>
    <li>Barclays Cycle Hire now covers over 100km&sup2; of London with more than 10,000 bikes and is the second largest cycle hire scheme in Europe. <a href="http://www.tfl.gov.uk/cycle-hire">www.tfl.gov.uk/cycle-hire</a></li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div>
                                        <ul>
                                            
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/december">December</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2014-December-New Year fares come into effect on 2 January -->

 
 
        
        
            @{ViewBag.Description = "Reminder: TfL’s New Year fares come into effect on Friday 2 January";}
        
        


 