


@{ViewBag.Title = "Passengers urged to stay safe this festive season";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014">2014</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014/december">December</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Passengers urged to stay safe this festive season</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Passengers urged to stay safe this festive season</h1>
        <div class="content-page-press-release">
        16 December 2014
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London introduce new device to collect dropped items and urges passengers to stay safe this festive season
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"We recognise that possessions are very valuable to people so we encourage everyone to take care of them when they're on the platform. If you drop anything of value on the track, please speak to a member of staff and we will do our best to retrieve it for you. We hope that our staff, using the Track Retrieval Device, will deter customers from attempting to pick up items themselves."</div>
        <div class="quote-footer">
            <div class="quotee-name">Nigel Holness</div>
            <div class="quotee-job-title">London Underground Operations Director Jubilee, Northern and Piccadilly Lines</div>
        </div>
</div>

 <div class="on-this-page">
<ul>
    <li>New piece of equipment developed to help staff retrieve items</li>
    <li>Last year dropped items on tracks were responsible for 195,000 hours of delay</li>
    <li>When using the escalators, take care and do not rush</li>
</ul>
<p>Transport for London (TfL) is encouraging customers to stay safe during the festive season when they travel on the Tube network, and particularly to take care on escalators and to ask a member of staff for assistance if they drop anything on the track.  To help reduce the impact of such incidents, TfL are introducing a new tool which will help staff to reduce a dangerous rising trend of people trying to retrieve dropped items.</p>
<p>Designed, built and tested by London Underground staff, the Track Retrievable Device is a new piece of equipment, which enables staff to safely retrieve small, high-value items such as mobile phones, electronic devices and handbags from the track. The device is designed to be used without having to turn off the power supply to the tracks and without staff having to step down onto the track, which is dangerous and can cause delays.</p>
<p>Figures from TfL show a rise in number of incidents of passengers risking their lives by getting onto tracks to retrieve dropped items such as mobile phones. The number of reported incidents of items being dropped onto the track is increasing, and records show a rise of 62 per cent from 2009/10 to 2012/3. Last year dropped items on the track were responsible for 195,000 hours of delay.</p>
<p>The festive season is a hugely demanding time for the Tube network, which can sometimes lead to congestion, particularly on station escalators. The safety of all customers and staff on the network is TfL's top priority, so TfL is also advising users to take care when travelling on escalators to avoid accidents.</p>
<p>Nigel Holness, London Underground Operations Director Jubilee, Northern and Piccadilly Lines said:  </p>
<p>'We're committed to running the safest and most reliable service possible, particularly at this busy time of year. When we examined the type of incidents which cause delays, it was clear that customers dropping items onto tracks has a disruptive impact on services. We recognise that possessions are very valuable to people so we encourage everyone to take care of them when they're on the platform. If you drop anything of value on the track, please speak to a member of staff and we will do our best to retrieve it for you. We hope that our staff, using the Track Retrieval Device, will deter customers from attempting to pick up items themselves.</p>
<p>'We want to make sure that everyone enjoys themselves during the festive season and that our customers and staff take care of, and look after, themselves whilst doing so.'</p>
<p>Further information can be found at <a href="http://www.tfl.gov.uk">www.tfl.gov.uk</a></p>
<p>Photos of device available on request</p>
<p>&nbsp;</p>
<hr />
<p>Notes to Editors:</p>
<ol>
    <li>Around 4.5 million journeys take place each day on the London Underground, and each of these involves time spent on platforms and trains and time crossing the platform train interface between platform and train while boarding and alighting. During this time customers may be carrying and using mobile devices (and other items) and some of  these items are dropped and end up on the track.</li>
    <li>The track retrieval device has been designed, built, tested and used by London Underground staff. Following a successful trial this summer, it is now being distributed to every station on the Underground network where London Underground runs the station and signals its trains. All staff will be suitably briefed before they can use it.</li>
    <li>There is good evidence for believing that there is significant under-reporting of dropped items onto the track; many items are retrieved in under 2 minutes, and may well not be reported as a consequence. Cross referencing with staff feedback, indicates that the under-reporting may mean there are 3-4 times the number of items dropped and retrieved as are reported.</li>
    <li>TfL is improving their signage at stations with lifts and escalators, which shows customers where lifts are located and there are also frequent PA announcements at Underground stations reminding customers to be careful when using escalators. Additionally, TfL's safety campaigns, which run throughout the year, use posters in lifts, stations, as well as advertisements on the escalators across the network to encourage customers to take care whilst travelling on the escalators.</li>
    <li>TfL advises customers and staff using the escalators to:</li>
</ol>
<ul>
    <li>Hold onto the handrail;</li>
    <li>Not rush when doing so;</li>
    <li>Make sure that they stand on the right;</li>
    <li>Avoid standing next to each other;</li>
    <li>Not to block the escalator with large luggage;</li>
    <li>Take care when using escalators after having a drink.</li>
</ul>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div>
                                        <ul>
                                            
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/december">December</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2014-December-Passengers urged to stay safe this festive season -->

 
 
        
        
            @{ViewBag.Description = "Transport for London introduce new device to collect dropped items and urges passengers to stay safe this festive season";}
        
        


 