


@{ViewBag.Title = "Piccadilly line trains now stopping at Gloucester Road";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014">2014</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014/december">December</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Piccadilly line trains now stopping at Gloucester Road</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Piccadilly line trains now stopping at Gloucester Road</h1>
        <div class="content-page-press-release">
        10 December 2014
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        New modern lifts will mean a more reliable service for customers
        
    </div>



 <div class="on-this-page">
<p>Piccadilly line trains are stopping at Gloucester Road station from today and customers can now benefit from brand new lifts at the station, which will mean a quicker and  more reliable service.</p>
<p>Since the end of May engineers have been replacing the 25-year-old lifts at Gloucester Road station simultaneously. By doing this, Transport for London (TfL) reduced the impact on customers using the station as the total time to replace the lifts was less than seven months, rather than around 13 months if they had carried out the work one at a time. The new lifts are also more energy efficient and contribute towards TfL's commitment to reduce its carbon footprint.</p>
<p>While the lifts were replaced, Piccadilly line trains did not stop at Gloucester Road station. However, Circle and District line services continued to serve Gloucester Road as usual, with Piccadilly line services available from South Kensington and Earl's Court, both of which provided an interchange with the District line.</p>
<p>Phil Hufton, Chief Operating Officer for London Underground, said: `Piccadilly line trains are stopping at Gloucester Road station from today, now that the brand new energy efficient lifts have been installed at the station. These new lifts, which will result in quicker, more reliable journeys for passengers, are part of a vital programme of works to renew and upgrade escalators and lifts across the network to make them fit for the future and to improve reliability.</p>
<p>`We explored various options to carry out these works, while keeping disruption to a minimum for our customers.  This included the option of replacing the lifts one at a time to enable the Piccadilly line to stop at the station. However to ensure customers' safety we decided to do both together, as it would have been difficult to cope with the number of customers who use the Piccadilly line,  with only one lift in operation.'</p>
<p>Replacing the lifts required engineers to completely remove the existing lift cars as well as replace all of the structural, mechanical and electrical parts. The steel structure work within the lift shaft was also modified adding to the complexity of the work. Ancillary services, including fire safety systems and ventilation, were also overhauled as part of this work.</p>
<p>LU is undertaking a massive programme of modernisation so that it can provide more capacity for a growing global city by upgrading or replacing major stations, trains, track and signalling. By the end of 2016, 191 new spacious and air-conditioned trains will have been introduced on the Circle, District, Hammersmith &amp; City and Metropolitan lines for a more comfortable journey.</p>
<p>The line upgrades are at the core of LU's investment programme, which will deliver more than 30% increase in capacity.  The upgrade programme is being delivered over the coming years, with work to modernise the Northern line nearly complete, and the Circle, District, Hammersmith &amp; City and Metropolitan lines well underway.</p>
<p>Redevelopment work to increase capacity at key stations and make them step-free is underway at a number of stations including Victoria, Tottenham Court Road and Bond Street.  More than half of LU's 270 stations have now been modernised or refurbished to make them brighter and easier to use, with improvements such as tactile strips, better CCTV and help points, electronic information displays in ticket halls and on platforms and improved seating and lighting.</p>
<hr />
<ul>
    <li>London Underground (LU) is undertaking a major programme of renewal which will inevitably result in some disruption for customers, but TfL is working hard to provide information and alternative travel options.  The work is essential to provide for London's growing transport needs now, and into the future</li>
</ul>
<ul>
    <li>TfL is urging all Londoners and Tube, London Overground, London Tramlink and DLR customers to &quot;check before you travel&quot; at weekends, allowing extra journey time where necessary. Weekend travel news is available at <a href="http://www.tfl.gov.uk">www.tfl.gov.uk</a></li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div>
                                        <ul>
                                            
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/december">December</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2014-December-Piccadilly line trains now stopping at Gloucester Road -->

 
 
        
        
            @{ViewBag.Description = "New modern lifts will mean a more reliable service for customers";}
        
        


 