


@{ViewBag.Title = "Plan ahead and use free travel to get home safely";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014">2014</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014/december">December</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Plan ahead and use free travel to get home safely</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Plan ahead and use free travel to get home safely</h1>
        <div class="content-page-press-release">
        29 December 2014
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        New Year's Eve revellers are encouraged to plan ahead and use free travel to get home safely
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"London has had another wonderful year and I know that many people will be out in the capital welcoming the New Year in. Our priority is that passengers travelling on New Year's Eve get home safely and plan ahead for their journey home. They can do this by either using the free travel that we are providing on our services or with a licensed taxi or a pre-booked private hire vehicle"</div>
        <div class="quote-footer">
            <div class="quotee-name">Sir Peter Hendy CBE</div>
            <div class="quotee-job-title">London's Transport Commissioner, </div>
        </div>
</div>

 <div class="on-this-page">
<ul>
    <li>TfL is providing free travel between 23:45 on 31 December and 04:30 on 1 January on the Tube and buses and until last train and tram times on London Overground, Tramlink and DLR</li>
    <li>Celebrations will be taking place across London, including the Mayor of London's New Year's Eve fireworks display</li>
    <li>The fireworks display is ticketed and has sold out &#45; those without tickets are advised to avoid the event area</li>
    <li>There will be some diversions and road closures on New Year's Eve and New Year's Day, so customers are advised to check before they travel</li>
</ul>
<p>Hundreds of New Year's Eve celebrations are taking place across London on 31 December to commemorate the end of 2014 and welcome in the New Year. Partygoers attending New Year's Eve festivities are being encouraged to use the free travel that Transport for London (TfL) is providing to get home safely.</p>
<p>Free travel will be available between 23:45 on 31 December and 04:30 on 1 January on the Tube and buses and until last train and tram times on the London Overground, Tramlink and DLR.</p>
<p>The celebrations will include the Mayor of London's New Year's Eve fireworks display, which is being ticketed for the first time. Tickets will not be available to buy on the night and have sold out, so anyone without a ticket will not be able to get into the viewing areas and are advised to avoid the immediate area around Embankment and South Bank on the night. Those without tickets can instead watch the action live on BBC1. </p>
<p>There will also be a range of other events taking place in bars, restaurants and clubs across the capital. Roads in central London will start closing to traffic from 14:00 to prepare for the New Year celebrations with all closures in place from 20:00 until 06:00, with some roads re-opening earlier if it's safe to do so. Public transport will be the best way to get around London although some buses will be on diversion or finish early due to the road closures. Partygoers are encouraged to plan their journeys in advance by visiting www.tfl.gov.uk/festive.</p>
<p>People choosing to take a taxi home are advised to always use a black cab or pre-booked minicab to ensure that their journey is safe and legal.</p>
<p>London's Transport Commissioner, Sir Peter Hendy CBE, said: </p>
<p>'London has had another wonderful year and I know that many people will be out in the capital welcoming the New Year in. Our priority is that passengers travelling on New Year's Eve get home safely and plan ahead for their journey home. They can do this by either using the free travel that we are providing on our services or with a licensed taxi or a pre-booked private hire vehicle.'</p>
<p>Revellers can get around this New Year's Eve with free travel on bus, Tube, tram and DLR services between 23:45 and 04:30. Some selected Tube stations will be closed completely or for periods at a time for crowd control and safety purposes. The online Festive Travel Guide lists these closures: www.tfl.gov.uk/festive. Night buses and 24 hour routes will also be operating, though some routes may be on diversion due to road closures in central London. Passengers and drivers should plan their journeys carefully before travelling to be aware of diversions and station closures.</p>
<p>On 1 January 2014, London's annual New Year's Day Parade will take place from 12:00 to 15:30 with more than 8,500 performers representing 20 countries world-wide set to take part. The parade will travel along Piccadilly from the underpass, Piccadilly Circus, Shaftesbury Avenue, Haymarket, Trafalgar Square, Strand and Whitehall. There will be roads closures from 04:00 with all roads reopened as soon as it is safe to do so. These include Piccadilly eastbound, which is closed from the underpass and Berkeley Square, including all access to Parliament Square for the form up of the parade. From 12:00, all access to Parliament Square will be closed. Customers are advised to avoid driving near affected areas in and around central London.</p>
<p>As part of the New Year's Day Parade this year, the Barclays Cycle Hire team dressed in bright blue will be handing out flyers giving spectators a free go on the cycle hire bikes. The promotion includes one 24-hour bike access to be used any day in January and all rides under 30 minutes are completely free. Cycle Hire is a great way to see the sights of central London with 10,000 bikes covering an area of 100km2.</p>
<p>&nbsp;</p>
<hr />
<p >Notes to Editors:</p>
<ul>
    <li>TfL's Festive Travel Guide is available online at <a href="http://www.tfl.gov.uk/festive">www.tfl.gov.uk/festive</a>.</li>
    <li>For more details on the New Year's Parade please visit <a href="http://www.londonparade.co.uk">www.londonparade.co.uk</a>.</li>
    <li>For essential late night travel information in London please visit <a href="http://www.tfl.gov.uk/cabwise">www.tfl.gov.uk/cabwise</a> and <a href="/plan-a-journey/">/plan-a-journey/</a>.</li>
    <li>TfL's 24 hour travel information call centre can also provide information and phone numbers for taxi and private hire services in London. Call 0343 222 1234.</li>
    <li>TfL has been providing free travel for party goers on New Year's Eve since 2000. Free travel will not apply on the Emirates Air Line which will be operating a normal weekday service between 07:00 &#45; 20:00.</li>
    <li>The London New Year's Eve fireworks display at the London Eye is being ticketed for the first time this year. Anyone without a ticket will not be able to get into the viewing areas and is advised to avoid the Embankment and South Bank areas on the night and take advantage of the many other celebratory activities taking place across the capital. Trafalgar and Parliament Squares will not have screens showing the display, but anyone without a ticket can watch the action live on BBC1. For more information go to <a href="http://www.london.gov.uk/nye">www.london.gov.uk/nye</a>.</li>
    <li>Barclays Cycle Hire is the second largest cycle hire scheme in Europe. From 2 January, cycle hire charges will be simplified to &pound;2 per half hour after the initial free 30 minutes. For more information visit <a href="http://www.tfl.gov.uk/cycle-hire">www.tfl.gov.uk/cycle-hire</a>.</li>
</ul>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div>
                                        <ul>
                                            
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/december">December</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2014-December-Plan ahead and use free travel to get home safely -->

 
 
        
        
            @{ViewBag.Description = "New Year’s Eve revellers are encouraged to plan ahead and use free travel to get home safely";}
        
        


 