


@{ViewBag.Title = "Plan ahead this festive season";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014">2014</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014/december">December</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Plan ahead this festive season</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Plan ahead this festive season</h1>
        <div class="content-page-press-release">
        16 December 2014
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        TfL to provide free travel this New Year's Eve for millions of customers
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"London's transport and road networks are carrying record numbers of passengers and users and we use the quieter festive period to carry out essential modernisation so that we can keep London working and growing. I encourage all customers to use our festive travel website to help them plan their journeys in advance"</div>
        <div class="quote-footer">
            <div class="quotee-name">Sir Peter Hendy CBE</div>
            <div class="quotee-job-title">London's Transport Commissioner</div>
        </div>
</div>

 <div class="on-this-page">
<ul>
    <li>Thousands of TfL staff will be working over the quieter festive period to deliver improvements for customers and road users</li>
    <li>Online Festive Travel Guide gives daily travel advice for making the most of London's attractions, shopping and leisure opportunities</li>
    <li>TfL joins Network Rail and Train Operators to urge all rail passengers to plan in advance during vital Christmas service improvement works</li>
</ul>
<p>Transport for London (TfL) has published its online Festive Travel Guide to help Londoners and visitors make the most of the capital over the festive season.</p>
<p>TfL's website, www.tfl.gov.uk/festive contains daily travel information including improvement works and service changes to London Underground, buses, Docklands Light Railway (DLR), Tramlink, London Overground, Rail, Roads, Emirates Air Line, Riverboat services, Barclays Cycle Hire, Victoria Coach Station and the Congestion Charge throughout the Christmas and New Year period.</p>
<p>Once again, TfL will be providing free travel for everyone celebrating New Year's Eve so that millions of party goers can get home safely. Free travel will be available between 23:45 on 31 December and 04:30 on 1 January on buses, Tube, tram, DLR and London Overground.</p>
<p>TfL is investing billions of pounds to modernise London's public transport and road networks. The quieter festive period will enable TfL to carry out essential improvements to ensure that the network continues to support over 30 million journeys every day. There will be thousands of people working on tracks, roads, signalling and rebuilding key stations over the period, with over 1,000 people working on Christmas Day alone.</p>
<p>London's Transport Commissioner, Sir Peter Hendy CBE, said: </p>
<p>'London's transport and road networks are carrying record numbers of passengers and users and we use the quieter festive period to carry out essential modernisation so that we can keep London working and growing. I encourage all customers to use our festive travel website to help them plan their journeys in advance.</p>
<p>'We will also be providing free travel for those people celebrating on New Year's Eve. With the many events that are happening in central London, public transport is the best way to get around and we want to make sure that everyone gets home safely.'</p>
<p>Network Rail will also be carrying out essential engineering works over the festive period which will include the preparation of the railway line from London Liverpool Street to Shenfield ahead of May 2015 when services will be run by TfL as the first phase of the introduction of TfL-operated Crossrail. For train times and detailed information on how Network Rail services could be impacted by Christmas engineering work, please go to <a href="http://www.networkrail.co.uk">www.networkrail.co.uk</a>.</p>
<p>There will be engineering works at London Bridge mainline rail station, which will affect some National Rail and London Overground services. This is while Network Rail rebuilds the station as part of the Thameslink Programme to increase capacity and improve connections. London Bridge Tube and mainline rail stations will remain open. For more information on this and detailed travel advice visit <a href="http://www.ThameslinkProgramme.co.uk">www.ThameslinkProgramme.co.uk</a>.</p>
<p>A full list of TfL's social media channels is available at <a href="http://www.tfl.gov.uk/socialmedia">www.tfl.gov.uk/socialmedia</a> which includes details of the Twitter feeds for each of the 11 different London Underground lines, buses, the DLR, London Overground, Barclays Cycle Hire, Emirates Air Line and live traffic news for updates during the festive period.</p>
<p>London has one of the most accessible transport networks anywhere in the world, with a wide range of accessible transport options. Customers can find out more at www.tfl.gov.uk/transport-accessibility/ where they can also plan their journeys over the festive period.</p>
<p>Ends</p>
<p>Notes to editors:<br />
•	Please note that some of the travel information could be subject to change and customers are advised to check before they travel. The latest festive travel information is available online at <a href="http://www.tfl.gov.uk/festive">www.tfl.gov.uk/festive</a>.<br />
•	For more details on the New Year's Parade please visit <a href="http://www.londonparade.co.uk">www.londonparade.co.uk</a>.<br />
•	A full list of all TfL's social media channels can be found at <a href="http://www.tfl.gov.uk/socialmedia">www.tfl.gov.uk/socialmedia</a>.<br />
•	TfL has been providing free travel for party goers on New Year's Eve since it was created in 2000. Free travel will not apply on the Emirates Air Line.<br />
•	Information about events and attractions throughout Christmas and into New Year can be found at <a href="http://www.visitlondon.com/christmas">www.visitlondon.com/christmas</a>.<br />
•	The London New Year's Eve fireworks display at the London Eye is being ticketed for the first time this year. Anyone without a ticket will not be able to get into the viewing areas and is advised to avoid the Embankment and Southbank areas on the night and take advantage of the many other celebratory activities taking place across the capital. For more information go to <a href="http://www.london.gov.uk/nye">www.london.gov.uk/nye<br />
</a></p>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div>
                                        <ul>
                                            
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/december">December</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2014-December-Plan ahead this festive season -->

 
 
        
        
            @{ViewBag.Description = "Make the most of this festive season by planning ahead";}
        
        


 