


@{ViewBag.Title = "South London to benefit from Mayor and TfL's &pound;148m fund";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014">2014</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014/december">December</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">South London to benefit from Mayor and TfL's £148m fund</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>South London to benefit from Mayor and TfL's £148m fund</h1>
        <div class="content-page-press-release">
        12 December 2014
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        South London boroughs set to benefit from the Mayor and TfL's &pound;148m fund for local transport improvements in 2015/16
        
    </div>



 <div class="on-this-page">
<p>Town centres across South London are set to be transformed after the Mayor of London, Boris Johnson, today confirmed &pound;148m in funding for local transport and public realm projects in 2015/16. Local areas will see safer roads, better public spaces, improved walking facilities and cycling made safer and easier.</p>
<p>The annual funding has been allocated by TfL to each London borough to support the delivery of its Local Implementation Plan (LIP) to spend on projects that support the Mayor's Transport Strategy locally.</p>
<p>In recognition of the importance of delivering road improvements in support of the Mayor's transport priorities, LIP investment levels of &pound;147.8m per year have been maintained for next year, despite a reduction in TfL's central Government funding.</p>
<p>LIP funding for 2015/16 will support a range of different transport projects across South London produced by the boroughs including:</p>
<ul>
    <li>Bromley - &pound;570,000 towards measures to relieve congestion at sites across the borough such as Bromley Town Centre, Penge and Chislehurst,  ensuring smoother and safer journeys for all road users</li>
    <li>Croydon - &pound;300,000 towards introducing 20mph limits across the borough to help make streets calmer and safer</li>
    <li>Kingston - &pound;200,000 to make the Fountain Roundabout (A2043) safer and easier for pedestrians and cyclists while also easing congestion for drivers</li>
    <li>Merton - &pound;200,000 towards improving cycling conditions in Wimbledon Town Centre, including indentifying how the gyratory can be made safer and easier for cyclists and pedestrians to use</li>
    <li>Richmond - &pound;350,000 towards local road safety improvements across the borough to create safer roads. This will be supported by a separate &pound;100,000 programme of safety-related campaigns and cycle training</li>
    <li>Sutton - &pound;150,000 towards an ongoing project to improve access to the Beddington Industrial Estate, boosting local businesses and the local economy. A further &pound;360,000 towards new cycle routes, improving existing routes and providing good cycle parking and training</li>
    <li>Wandsworth &#45; &pound;300,000 towards a cycling programme to make it safer and easier to get around by bike by upgrading existing cycle routes, adding in missing links and introducing cycling paths to new places</li>
    <li>Lambeth - &pound;350,000 towards improving Loughborough Junction to make it safer for cyclists and pedestrians at the junction of Coldharbour Lane and Loughborough Road</li>
    <li>Southwark - &pound;100,000, which is part of a &pound;500,000 project being delivered over two years between John Ruskin Street and Merrow Street in Walworth that is significantly improving footways and crossing points</li>
</ul>
<p>The Mayor of London, Boris Johnson said: `This funding is specifically targeted to provide benefits at key locations across London, helping to make the capital's roads and open spaces safer, more pleasant places to be. Providing better cycling and walking routes, as well as a raft of major improvements to our streets will help to boost the quality of life of those who live and work in our great city. By working with the boroughs to deliver better transport in their areas, we can in turn help to support jobs and economic growth in the capital as a whole.'</p>
<p>London's Transport Commissioner, Sir Peter Hendy CBE, said: `This funding will help continue to deliver real improvements to communities in South London. We are working in partnership with South London boroughs to deliver hundreds of transport projects that will benefit local communities and all road users whether they are pedestrians, cyclists or drivers. Public squares and shopping areas will also be rejuvenated, attracting more people to those areas and boosting the local economy.'</p>
<p>In addition to ensuring the boroughs have the necessary funding to improve the quality of their local roads TfL is also working with them to help improve efficiency, add value for money and keep the disruption of road and construction works to a minimum. For example, London Highways Alliance Contracts (LoHAC) help the boroughs avoid individually appointing contractors to undertake works. These are four area-based joint highway contracts, helping to reduce costs, provide consistency in the quality of works and materials and to minimise disruption.</p>
<p>TfL is also working in partnership with London Councils to identify any gaps in skills and resources, which could be filled through more collaborative working between boroughs and TfL, such as apprenticeships, mentoring and sharing resources.</p>
<p>Last year South London boroughs used TfL funding for their Local Implementation Plans to deliver a range of improvements for local communities, through safer junctions, reduced traffic speeds and better walking routes.</p>
<p>Significant projects in South London awarded funding last year include:</p>
<ul>
    <li>Bromley - &pound;1.05m towards the completion of the works at Brmley North Village, which is transforming the area by better connecting the vibrant local streets with the rest of the busy town centre</li>
    <li>Croydon &#45; &pound;600,000 towards traffic and streetscape improvements to the South End shopping experience. Traders and shoppers alike will find it easier to get around with better footways and bus stops and brighter shop fronts</li>
</ul>
<hr />
Each borough produces a Local Implementation Plan (LIP) to demonstrate how they plan to implement the Mayor's Transport Strategy locally.  While Transport for London allocates funding for individual schemes, the LIP and delivery of individual projects is the responsibility of each borough.

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div>
                                        <ul>
                                            
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/december">December</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2014-December-South London to benefit from Mayor and TfL's £148m fund -->

 
 
        
        
            @{ViewBag.Description = "South London boroughs set to benefit from the Mayor and TfL's £148m fund for local transport improvements in 2015/16";}
        
        


 