


@{ViewBag.Title = "Taskforce takes action to improve road safety";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014">2014</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014/december">December</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Taskforce takes action to improve road safety</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Taskforce takes action to improve road safety</h1>
        <div class="content-page-press-release">
        29 December 2014
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Industrial HGV Taskforce takes action against dangerous operators to improve road safety
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"These are great results for our Industrial HGV Task Force. These prosecutions send out a clear message that we will protect and secure our streets for all road users by targeting enforcement on the construction and waste sector. Although non-compliant operators and drivers represent a small minority we will always push for the toughest penalties for any whose actions put other road users at risk"</div>
        <div class="quote-footer">
            <div class="quotee-name">Siwan Hayward</div>
            <div class="quotee-job-title">Deputy Director of Enforcement and On-Street Operations,TfL</div>
        </div>
</div>

 <div class="on-this-page">
<ul>
    <li>London's roads made safer thanks to the Industrial HGV Taskforce, which is joint funded by TfL and the DfT</li>
    <li>Industrial HGV Taskforce, comprising officers from the DVSA, Metropolitan Police and City of London Police, continues to convict illegal drivers and operators for risking lives</li>
    <li>The latest rogue operator can no longer put road users at risk after losing licence to operate and FORS status</li>
</ul>
<p>The Industrial HGV Taskforce (IHTF) has again taken action to defend the safety of road users after a number of successful operations against dangerous and illegal operators and drivers.</p>
<p>The work of the IHTF has resulted in the successful prosecution of Space Rubbish Ltd and Cowan Plant Ltd, and a number of their employees for endangering the lives of road users.</p>
<p>Following an IHTF operation, Cowan Plant of Hayes will have their licence to operate revoked by the Traffic Commissioner, who is responsible for the licensing and regulation of those who operate heavy goods vehicles. Cowan Plant have also lost their Fleet Operator Recognition Scheme (FORS) accredited status. Cowan Plant Transport Manager, Fiona Macleod has been disqualified indefinitely as a Transport Manager for failing to ensure a compliant operation existed at Cowan Plant. This included allowing a driver without the appropriate licence to operate. Ms Macleod has also lost her repute, meaning that in the future she will have to demonstrate the steps she has taken to be a responsible Transport Manager.</p>
<p>Space Rubbish, of Wandsworth, were prosecuted along with two of their drivers following an IHTF operation in July 2014. Karol Kajewski has been disqualified from driving a large goods vehicle (LGV) for a year after repeatedly driving without taking the required breaks. Daniel Faszczewski was suspended from driving a LGV for 28 days for also pretending to have taken the required breaks. As a result, Space Rubbish had their licence to operate suspended for a week. It is vital that operators and drivers obey requirements for the amount of driving hours as, when tired, drivers' vigilance and alertness deteriorate. Driver fatigue can account for up to one in five serious crashes.</p>
<p>FORS, the award winning industry led accreditation scheme helps operators improve operational performance and safety, and to demonstrate compliance and best practice. To keep the scheme's reputation high, any FORS accredited operator who performs illegal practices or fails to comply with FORS conditions is liable to be subjected to suspensions and terminations. This also helps to ensure a level playing field for all FORS accredited fleet operators.</p>
<p>Operations like those conducted by the IHTF and the MPS Commercial Vehicle Unit (CVU), and the withdrawal of FORS accreditation from rogue operators, result in increased road safety as the number of dangerous drivers and illegal operators out on the road is reduced.</p>
<p>The IHTF has been targeting non-compliant heavy goods vehicles, drivers and operators on London's roads since October 2013. The IHTF has resulted in over 3800 vehicles being stopped, with 47 vehicles being seized, 1787 roadworthiness prohibitions given to drivers and over 1000 fixed penalty notices issued.</p>
<p>The IHTF works alongside the wider MPS CVU, who attend and investigate collisions between LGVs and cyclists, taking action with the driver and goods vehicle operator where appropriate.</p>
<p>By ensuring that the users of the capital's roads are compliant with the law, not only is safety driven up, but road haulage companies cannot undercut those operating legitimately by being non-compliant.</p>
<p>Siwan Hayward, Deputy Director of Enforcement and On-Street Operations at TfL, said: </p>
<p>'These are great results for our Industrial HGV Task Force. These prosecutions send out a clear message that we will protect and secure our streets for all road users by targeting enforcement on the construction and waste sector. Although non-compliant operators and drivers represent a small minority we will always push for the toughest penalties for any whose actions put other road users at risk.'</p>
<p>Chief Superintendent Matt Bell, Roads and Transport Policing Command, said: </p>
<p>'The Roads and Transport Policing Command is committed to keeping London's surface transport network safe and secure. The work of the Industrial Heavy Goods Vehicle Task Force and the wider Commercial Vehicle Unit provides an increased focus on tackling the most dangerous and non-compliant commercial vehicles.</p>
<p>'These results demonstrate that we will stop at nothing to enforce traffic regulations to improve vehicle and driving standards. By doing so we help reduce serious and fatal collisions and increase the safety of road users across the capital.'</p>
<p>The Freight Transport Association's Head of Urban Logistics, Christopher Snelling, said: </p>
<p>'Logistics companies have continually invested to improve vehicles and driver performance over the years, which has resulted in markedly improved safety rates for HGVs in London.  The work of the Industrial HGV Task Force supports this effort by ensuring reputable operators cannot be undercut by those taking risks.  The targeted nature of this operation means that the vast majority of operators can go about their business of supplying London's need for 360,000 tonnes of goods every day to keep working.'</p>
<p>Improving the safety of London's roads is a top priority for TfL. HGVs, particularly construction related vehicles, are involved in a disproportionate number of fatal collisions with cyclists and pedestrians. </p>
<p>Of the 14 cyclist deaths in London in 2013, nine involved HGVs. </p>
<p>In February 2014 the Mayor and TfL published six safety commitments, which support the Safe Streets for London plan to reduce further the number of people killed or seriously injured in London by 40 per cent by 2020. </p>
<p>The IHTF is one part of the continuing work underway across London to improve road safety. TfL recently started the final consultation on the UK's first Safer Lorries Scheme, which would ban lorries that do not have safety equipment designed specifically to protect cyclists and pedestrians from entering the capital.</p>
<p>&nbsp;</p>
<hr />
<p>Notes to Editors:</p>
<ul>
    <li>The intelligence led enforcement by the Industrial HGV Taskforce has resulted in prosecutions and Fixed Penalty Notices for offences including: lack of insurance; driving not in accordance with a license; unsafe tyres; vehicle not equipped with safeguards and not accurately recording driver hours</li>
    <li>The Commercial Vehicle Unit (CVU) is a TfL-funded specialist police team which attends and investigates every collision between a large goods vehicle and a cyclist, taking action with the driver and goods vehicle operator where appropriate. The CVU also undertakes roadside stops and operator visits as well as working closely with the Office of the Traffic Commissioner. The MPS officers on the IHTF are part of the wider CVU.</li>
    <li>Analysis commissioned by TfL to improve the understanding of the factors which led to collisions between 2007 and 2011, showed that more than a third of fatal HGV-cyclist collisions involved a tipper truck. The data was analysed by both the Transport Safety Research Centre, Loughborough University and the Centre for Transport Studies, University College London. The Pedal Cyclist Fatalities in London: Analysis of Police Collision Files (2007-2011), by Rachel Talbot, Steve Reed, Jo Barnes, Pete Thomas of the Transport Safety Research Centre, Loughborough University, and Nicola Christie of the Centre for Transport Studies, University College London, can be downloaded here: <a href="http://www.tfl.gov.uk/corporate/publications-and-reports/road-safety">www.tfl.gov.uk/corporate/publications-and-reports/road-safety</a></li>
    <li>Launched in 2007, FORS is a unique industry led accreditation scheme which helps operators improve operational performance and safety, measure and monitor performance as well as ensure and demonstrate compliance and best practice. More than 2,400 accredited companies, operating over 210,000 vehicles, are now part of the scheme, a third of which are in the construction and aggregates industry, leading the way to improve the safety of vulnerable road users. FORS was recognised with a Prince Michael International Road Safety Award for its continuing work to improve fleet and freight safety across the UK.</li>
    <li>TfL is working with the industry to bring an external partner onboard to help expand FORS more widely, ensuring its continued success both across London and more widely across the UK. The scheme will be officially rolled out across the UK early next year.</li>
    <li>Earlier this year, the Mayor confirmed that regular road safety police operations, based on the original &quot;Operation Safeway&quot; which ran at the end of last year, will continue to operate across London for two days every month, on unannounced days. The MPS Commercial Vehicle Unit and the Driver and Vehicle Standards Agency also continue to enforce against non-compliant and dangerous commercial vehicles and drivers.</li>
    <li>Launched in 2013 as an industry response to a TfL commissioned report, the Construction Logistics and Cyclist Safety (CLOCS) programme has brought together developers, construction companies, operators, vehicle manufacturers and regulatory bodies to ensure a road safety culture is embedded across the construction industry. Due to CLOCS, over 20 construction clients require FORS accreditation as part of their contracts to help reduce collisions between trucks and all vulnerable road users. Further information about CLOCS is available at: <a href="http://www.clocs.org.uk">www.clocs.org.uk</a>.</li>
    <li>TfL recently published a new Cycle Safety Action Plan which containing 33 new actions that TfL, the police, London boroughs and all organisations involved in making cycling safer will work together to deliver between now and 2020. The plan, which will help deliver TfL's six key overarching commitments to road safety, includes a wide range of actions, including working with regulators and the automotive industry to explore how improvements to HGV design could further protect cyclists, such as higher vision cabs to improve driver direct vision, and the independent evaluation of blindspot safety technology to help inform HGV operator buying decisions.</li>
    <li>Traffic Commissioners are responsible for the licensing and regulation of those who operate heavy goods vehicles, buses and coaches, and the registration of local bus services. They are assisted in this work by deputy Traffic Commissioners, who preside over a number of public inquiries.</li>
    <li>Fatal and serious casualties per billion vehicle kilometres in London involving HGVs fell from over 250 to 100 between 1997 and 2011 (most recent figure) &#45; TfL's London Freight Date Report, 2013.  <a href="http://www.tfl.gov.uk/cdn/static/cms/documents/london-freight-data-report-2013-update.pdf">http://www.tfl.gov.uk/cdn/static/cms/documents/london-freight-data-report-2013-update.pdf</a></li>
</ul>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div>
                                        <ul>
                                            
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/december">December</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2014-December-Taskforce takes action to improve road safety -->

 
 
        
        
            @{ViewBag.Description = "Industrial HGV Taskforce takes action against dangerous operators to improve road safety";}
        
        


 