


@{ViewBag.Title = "TfL supports Small Business Saturday";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014">2014</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014/december">December</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">TfL supports Small Business Saturday</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>TfL supports Small Business Saturday</h1>
        <div class="content-page-press-release">
        05 December 2014
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        TfL provides rent-free retail units to the Federation of Small Businesses in support of their 'Keep Trade Local' campaign
        
    </div>



 <div class="on-this-page">
Transport for London (TfL) is continuing to support jobs and economic growth by lending its support to Small Business Saturday on 6 December 2014, a non-commercial campaign that highlights small business success and encourages consumers to 'shop local' and support small businesses in their communities.
<p>With over 1,000 retail units on its transport network, TfL is a substantial retail landlord.  In recognition of the importance of small businesses to the success of London's economy, and ahead of Small Business Saturday, it has provided the Federation of Small Businesses with two retail units on its network, rent free for two weeks, to help promote small businesses and encourage Londoners to 'go local'.</p>
<p>As TfL continues to modernise the transport network and improve the services available to customers, it has also been improving the range of retail shops on offer and to provide the choice customers want.</p>
<p>Graeme Craig, Director of Commercial Development at TfL, said: `Millions of people use our transport network each day and have access to over a thousand retailers, many of who are small local independent businesses.  We know times remain tough for traders, and we want to encourage our customers to go and visit their local independent businesses this Small Business Saturday.'</p>
<p>In April 2014, TfL launched a revamped Old Street Tube station as its first dedicated pop-up shop destination. The station has seven pop-up units alongside seven permanent retail tenants. The mix of retail shops and services over the last eight months has been a tremendous success with 75 businesses taking up the units.  Of the 75 retailers, 60 have been start up businesses, a number of whom have gone on to take up permanent retail units on TfL's network or elsewhere in London. TfL has appointed Appear Here, the largest online marketplace for short-term retail space, to set up pop-up shops, bringing a variety of new and innovative retailers across its retail estate.</p>
<p>The mix of retail offered at Old Street is proving such a success that TfL is extending pop-up retail to other stations on the network including at St Paul's, Piccadilly Circus and Baker Street.</p>
<p>One of the first pop-up retailers at Old Street, Mallow and Marsh, will be returning to the station between 1 December and 22 December.</p>
<p>Harriot Pleydell-Bouverie, Founder of Mallow and Marsh, said: `The Old Street Station pop up has been a fantastic experience. In April it gave us the chance to have a physical presence, so customers could come and see us, sample the product and meet the people behind the brand. We had such great feedback that we chose to come back for Christmas so that we could offer a bespoke, straight to customer service and have a location where all our products could be sold in one place. So far, it has been incredibly rewarding, with loyal customers getting very excited by our return. It has been a great boost for the brand and significantly helped us to understand the needs and wants of our customers.'</p>
<p>There will be a number of new pop-up shops on TfL's network throughout December and they will include:</p>
<ul>
    <li>Chop Pot, who will be serving people using St Paul's Tube station traditional Ghanaian dishes;</li>
    <li>Crosstown, a start up business selling gourmet doughnuts will also be at Piccadilly Circus Tube station;</li>
    <li>Baker Street commuters will be able to purchase award winning handmade pies from Dees Pies trading in one of TfL's retail units near the Sherlock Holmes statue;</li>
    <li>Juice Club will also be taking out retail units on the Tube network at Baker Street and Earl's Court from 1 December to 21 December.</li>
</ul>
<p>Sue Terpilowski OBE, London Policy chair at The Federation of Small Businesses, said: `London is an amazing city to do business in, but it can be quite tough especially for small independent business owners competing with large well known chains. Small independent businesses rely on the holiday trading period to ensure their viability through the rest of the trading year. That's why the we launched our two week 'Keep Trade Local Challenge' to coincide with Small Business Saturday. Special thanks must go to the Transport for London team for giving us access to some of their premises. This enabled us to host a vibrant Pop up Shop with a range of different businesses in Southgate.`</p>
<hr />
<p>Images of the pop-up shops are available on request.</p>
<p>About the Federation of Small Businesses<br />
The FSB is the UK's leading business organisation with around 200,000 members. It exists to protect and promote the interests of the UK's Real-Life Entrepreneurs who run their own business. More information is available at www.fsb.org.uk</p>
<p>About Small Business Saturday<br />
Small Business Saturday UK is a grassroots, non-political, non-commercial campaign, which highlights small business success and encourages consumers to 'shop local' and support small businesses in their communities. The day itself takes place on the first shopping Saturday in December each year, but the campaign aims to have a lasting impact on small businesses. In 2014 Small Business Saturday UK will take place on Saturday December 6th.</p>
<p>&nbsp;</p>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div>
                                        <ul>
                                            
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/december">December</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2014-December-TfL supports Small Business Saturday -->

 
 
        
        
            @{ViewBag.Description = "TfL provides rent-free retail units to the Federation of Small Businesses in support of their ‘Keep Trade Local’ campaign";}
        
        


 