


@{ViewBag.Title = "TfL's Lost Property Office share festive cheer";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014">2014</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014/december">December</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">TfL’s Lost Property Office share festive cheer</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>TfL’s Lost Property Office share festive cheer</h1>
        <div class="content-page-press-release">
        11 December 2014
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Hundreds of new, unclaimed children's toys donated to The Salvation Army Christmas Present Appeal
        
    </div>



 <div class="on-this-page">
<p>Transport for London's (TfL's) Lost Property Office is helping find the Christmas spirit. Hundreds of new, unclaimed children's toys which were handed in to TfL's Lost Property Office this year have been given to The Salvation Army to donate to children in south London.</p>
<p>This is the eighth year TfL's Lost Property Office has donated new unclaimed children's toys to The Salvation Army, who will now work with Lewisham Council to distribute the 200 plus toys to those who will appreciate them most and may otherwise have gone without this Christmas.
</p>
<p>The brand new toys, that went unclaimed for over three months, range from dolls, teddy bears and toy cars to board games and electronic gadgets.</p>
<p>Operating from its home in Baker Street, TfL's Lost Property Office has been helping to reunite passengers with their lost possessions for 80 years now, with last year seeing the highest number of items received for years. During the last year over a quarter of a million items were left by passengers on TfL's transport services which includes London  Buses, London Underground, London Overground, the Dockland Light Railway, licensed taxis, Victoria Coach Station and the Emirates Air Line cable car.</p>
<p>The top three items handed in for 2014 are worlds apart from what they would have been 80 years ago when the Lost Property Office first opened its doors. Then gloves and umbrellas were likely to be the most popular. The most common item staff now see is mobile phones with 20,309 handed in this year, followed by travel card holders with 18,433 handed in and wallets or purses with 11,580 received. These three items have remained at the top of the list for three years in a row.</p>
<p>Losing an item of property can be devastating, particularly at this time of year when people are shopping for family, friends and loved ones at Christmas. TfL urges all passengers to check they have their belongings with them before they leave the Tube, a bus or any other transport services.</p>
<p>Sue Tyler of TfL's Lost Property Office, said: `The fact so many items have been handed in over 80 years is testament to the honesty of the travelling public in London. It is a shame the children's toys were not reclaimed by their owners, but it is just wonderful to know they will now bring smiles to children who might have otherwise gone without.</p>
<p>`The Lost Property Office team work incredibly hard all year round to deal with hundreds of thousands of items &#45; it is great to see their efforts highlighted once again through this donation to such a worthy cause.'</p>
<p>Captain Kevin Stanbury, of The Salvation Army's Deptford Community Church, said: `The Salvation Army works throughout the year to provide compassionate help and practical support to people who are vulnerable or in need. At Christmas, when many are enjoying the celebrations on offer, others are struggling to make ends meet. Our Christmas Present Appeal ensures no child goes without a gift at Christmas. We're grateful for the support from our community, who selflessly donate toys each year, and to TfL who make sure lost toys find a new home and bring smiles to children in need this Christmas.'</p>
<p>Over the years, many extraordinary items have been handed in including false teeth and limbs, wedding dresses, stuffed animals, urns of ashes and even a parachute. Close to one quarter of items found on TfL services are restored to their owner. Higher value items and those with unique identification, such as mobile phones and wallets have a better success rate with up to half being returned.</p>
<p>Items not claimed after three months have personal data removed and are securely destroyed before either being donated to charities including The Salvation Army and the British Red Cross, recycled, disposed of, or sold at auction. Any revenue generated from unclaimed items contributes towards the cost of running the Lost Property Office.</p>
<ul>
    <li>Images of the donation are available here:&nbsp; <a href="https://www.flickr.com/photos/tflpress/sets/72157649712622515/">https://www.flickr.com/photos/tflpress/sets/72157649712622515/</a></li>
    <li>Historic images of the Lost Property Office are available here:&nbsp; <a href="https://www.flickr.com/photos/tflpress/sets/72157646845992663/">https://www.flickr.com/photos/tflpress/sets/72157646845992663/</a></li>
    <li>All the toys donated to The Salvation Army are found on TfL's transport services. The Lost Property Office (LPO) only donates toys that have not been claimed for over three months and are still in their original packaging.</li>
    <li>Toys which are used or not in a new condition are still donated to charity throughout the year</li>
    <li>The LPO receives over one thousand items of property per day from across TfL's services</li>
    <li>Property normally takes between two and ten working days to arrive at the LPO</li>
    <li>If a name and address or e-mail address is found on the property, the potential owner is contacted and told that the LPO may have their item of property</li>
    <li>Customers can enquire about lost property in several ways:</li>
    <li>By calling 0343 222 1234 between 8:30 and 16:00, Monday to Friday (except Bank Holidays)</li>
    <li>By filling in an online enquiry form found here: <a href="https://tfl.gov.uk/forms/12411.aspx">https://tfl.gov.uk/forms/12411.aspx</a></li>
    <li><a href="https://tfl.gov.uk/forms/12411.aspx"></a>By faxing 020 7918 1028</li>
</ul>
<p>
In person or by writing to:<br />
Lost Property Office<br />
200 Baker Street<br />
London<br />
NW1 5RZ</p>
<ul>
    <li>Items not claimed after three months have personal data removed and securely destroyed before either being donated to charity including The Salvation Army and the British Red Cross, or are recycled, disposed of, or sold at auction. Any revenue generated from unclaimed items contributes towards the cost of running the Lost Property Office</li>
    <li>The Salvation Army is a worldwide Christian church and registered charity, working in 126 countries, offers unconditional friendship, support and practical help to people of all ages, backgrounds and needs. Registered Charity Nos 214779, 215174, in Scotland SC009359, SC037691, and in Ireland CHY6399.</li>
    <li>The Salvation Army's Christmas Present Appeal runs until 15 December nationally. People are encouraged to donate new, unwrapped toys at local drop-off points. For details, please visit <a href="http://www.salvationarmy.org.uk/christmas-present-appeal">www.salvationarmy.org.uk/christmas-present-appeal</a> or email christmas&#64;salvationarmy.org.uk</li>
</ul>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div>
                                        <ul>
                                            
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/december">December</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2014-December-TfL’s Lost Property Office share festive cheer -->

 
 
        
        
            @{ViewBag.Description = "Hundreds of new, unclaimed children's toys donated to The Salvation Army Christmas Present Appeal";}
        
        


 