


@{ViewBag.Title = "TfL seeks public views on its approach to transparency";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014">2014</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014/december">December</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">TfL seeks public views on its approach to transparency</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>TfL seeks public views on its approach to transparency</h1>
        <div class="content-page-press-release">
        08 December 2014
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Views sought on the current approach, including to free open data, and on what other information should be made publicly available
        
    </div>



 <div class="on-this-page">
<p>Transport for London (TfL) has today launched a public consultation to help develop its approach to transparency. </p>
<p>Customers and stakeholders are being asked for their views on the usefulness of the wide range of information that is currently published and how it is presented. They are also being invited to suggest further information that they would like to be made available as a matter of course.  Responses will be used to formulate a Transparency Strategy which will be published in summer 2015.
</p>
<p>With responsibility for 30 million journeys every day and an annual budget of &pound;9bn, TfL is a large organisation undertaking a wide range of activities. Its purpose is to keep London working and growing and to make life in the capital better. Openness and transparency about how this is delivered is helping to strengthen relationships with customers, stakeholders and businesses, and is improving the services that TfL provides.</p>
<p>TfL is committed to being open and transparent about its activities and is making more information publicly available than ever before.</p>
<p>TfL's provision of real-time, free of charge open data since 2010 has enabled new and innovative ways for customers to obtain travel information and services. Developers have been able to access over 50 data feeds (www.tfl.gov.uk/developers) to create apps which complement the information TfL itself delivers directly to customers. TfL data now powers over 360 travel apps, most of which are free of charge. This represents an 87 per cent increase in the number of products available in the last year.</p>
<p>The TfL website provides a vast amount of regularly updated data and information covering fares, financial and operational performance, customer satisfaction, journey patterns, and progress on modernising London's public transport and roads networks. This helps people to understand how London's transport network is managed and how every penny of TfL's income is reinvested to improve transport.</p>
<p>The Mayor of London, Boris Johnson, said: `It's absolutely right that Transport for London's customers and stakeholders can see information that shows how the organisation is run and how money from fares is spent. TfL does a great job of getting this information out there but it's important to review how it's done to ensure we're meeting the needs of those who use or have an interest in TfL's services.'</p>
<p>Sir Peter Hendy CBE, London's Transport Commissioner, said: `Openness and transparency about what we do is a vital ingredient to delivering better transport services for London. We publish a huge amount of information and data to help our customers and stakeholders hold us to account, but we want to make sure we are publishing what people want and in a way that they find helpful.'</p>
<p>There is a dedicated transparency page on the TfL website and a 'publications and reports' section to make finding information easy: <a href="http://www.tfl.gov.uk/transparency">http://www.tfl.gov.uk/transparency</a></p>
<p>A range of documents go into detail about TfL's financial and operational performance, including:</p>
<ul>
    <li>Business Plan &#45; a 10 year plan of investment and operational improvements and the financial resources required for their delivery</li>
    <li>Annual Budget &#45; how the first year of the Business Plan will be delivered, including that year's detailed budget and performance targets</li>
    <li>Annual Report and Statement of Accounts &#45; overall performance in the previous financial year including investment and operational performance, staff remuneration and statutory accounts</li>
    <li>Operational and Financial Performance Report &#45; quarterly reporting setting out performance against the annual budget</li>
    <li>Investment Programme Report &#45; quarterly reporting on progress of the investment programme against annual budget and milestones</li>
    <li>Commissioner's report to the Board &#45; the main highlights of TfL's activities and performance since the previous Board meeting</li>
    <li>Annual report for Health, Safety and Environment &#45; to provide stakeholders with additional information on these core areas of our business</li>
</ul>
<p>
TfL recognise that the information provided must be constantly reviewed in order to meet the changing needs and expectations of customers and stakeholders. The consultation will run for 12 weeks until 2 March. Customers and stakeholders can respond by visiting: <a href="https://consultations.tfl.gov.uk/policy/transparency">https://consultations.tfl.gov.uk/policy/transparency</a></p>
<p><a href="https://consultations.tfl.gov.uk/policy/transparency"></a></p>
<hr />
<ul>
    <li>TfL is responsible for London Underground, London Buses, Docklands Light Railway, London Overground, London Tramlink, London River Services, Dial-a-Ride, Victoria Coach Station, Barclays Cycle Hire and the Emirates Air Line;</li>
    <li>TfL also regulate taxis and the private hire trade, operate the Congestion Charging scheme, manage the 580km red route network of London's key strategic roads, and operate 6,000 traffic signals. Working with many partners to improve life in London. This includes taking action on road safety and enabling people to make sustainable travel choices, such as cycling and walking;</li>
    <li>TfL is delivering one of Europe's biggest programmes of capital investment, including building Crossrail, modernising the Tube and road networks and delivering the Mayor's vision for cycling;</li>
    <li>TfL looks ahead to plan London's future and unlock areas of growth, promoting sustainable transport, better air quality and better health. TfL also leads globally in transport ticketing technology and Oyster is widely known as the world's most popular transport smartcard;</li>
    <li>Transport for London's free open data is available from: <a href="/info-for/open-data-users/">/info-for/open-data-users/</a></li>
</ul>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p><a href="https://consultations.tfl.gov.uk/policy/transparency"></a></p>
<p><a href="https://consultations.tfl.gov.uk/policy/transparency"></a></p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div>
                                        <ul>
                                            
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/december">December</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2014-December-TfL seeks public views on its approach to transparency -->

 
 
        
        
            @{ViewBag.Description = "Views sought on the current approach, including to free open data, and on what other information should be made publicly available";}
        
        


 