
    
  


<!-- rhroot -->
@{ViewBag.Title = "Croydon tram derailment";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/modes/trams/croydon-tram-derailment";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/modes/trams/index">Trams</a></li>
                
            
            
                <li><span class="last-breadcrumb">Croydon tram derailment</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Croydon tram derailment</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        At around 06:15 on 9 November 2016, a tram derailed near the Sandilands tram stop in Croydon. Tragically, seven people lost their lives and a further 62 people were injured.
        
      </div>
    
    <div class="on-this-page">
      
      
           
      <div>

<p>Our thoughts remain with those who lost their lives or were injured in the tragedy at Sandilands, and we continue to do all we can to support everyone affected.</p>

<p>The Rail Accident Investigation Branch (RAIB) published the report on its investigation into the incident in December 2017 with a further addendum published in October 2018. We welcome these reports and have continued to work alongside the RAIB, the Office of Rail and Road (ORR) and First Group, who operate the tram network, to ensure all of the recommendations outlined are met.</p>

<p>Significant progress has been made to implement the recommendations set out by the RAIB. The vast majority, including&nbsp;some of the most vital, have been completed, and the remaining are in the late stages of implementation.</p>

<p>These include better signage and warning systems for drivers, additional speed restrictions, enhanced speed monitoring and an upgrade of the CCTV recording system.</p>

<p>An in-cab driver protection device has been&nbsp;fitted to every tram since Octobert 2017, meaning that any sign of driver distraction or fatigue results in the driver being alerted immediately. &nbsp;This is the first time such a device has been used in the rail industry in the UK and has been commended by the ORR. This system has been shared and demonstrated to the UK Tram industry for possible implementation on other tram networks.</p>

<p>By the end of 2019 a new system will be in operation that will automatically apply the brakes and bring a moving tram to a controlled stop if it exceeds the speed limit at designated locations.</p>

<p>We have enhanced the customer complaints process so that all reports are now managed by one dedicated TfL team and any that relate to safety are prioritised for immediate investigation. Improvements have also been made to our website to make it easier to report a safety related incident. &nbsp;The TfL Sarah Hope line remains available to all those affected and continues to provide help with counselling and other support to anyone who needs it.</p>

<p>We also continue to work with the wider tram industry to ensure that lessons are learned from this incident and that we introduce any further measures that could improve the safety of trams across the UK.</p>

<p>Since the incident, we have been working continually to introduce additional safety measures to the tram network, including the following:</p>

<ul>
	<li>Additional speed restrictions are in force and associated signage has been&nbsp;installed near Sandilands and at&nbsp;3 other locations on the tram network</li>
	<li>A permanent speed reduction has been implemented across the London tram network, meaning the maximum speed trams can travel is now 70kph (previously 80kph)</li>
	<li>The installation of enhanced chevron signs at the&nbsp;4 sites with significant bends to provide an additional visual cue for drivers. The number of speed signs has been increased and additional lineside digital signage is providing&nbsp;added speed warnings to drivers</li>
	<li>An in-cab driver protection device has been fitted to all trams since October 2017 to protect against fatigue and distraction</li>
	<li>Working with safety experts, a new higher specification film that is 75 per cent thicker has been installed to improve the containment provided by tram windows and doors</li>
	<li>A new emergency lighting system that will operate independently of the tram's battery in the event of an emergency has been procured and will be installed by the end of 2019</li>
	<li>New temporary lighting has also been installed on the approach to the Sandilands tunnel and, in collaboration with road tunnel lighting experts, the tunnel will get a full lighting upgrade with the design adopting best practice, by the end of 2019</li>
	<li>Reviewing procedures for the emergency evacuation from trams so that the speed of evacuation is improved</li>
	<li>Route risk assessments and risk models have now been reviewed and updated.&nbsp; We have also shared these with the UK tram industry</li>
</ul>

<p>The TfL Sarah Hope line remains available to all those affected and continues to provide help with counselling and other support.</p>

<p>This page will be updated as additional information becomes available.</p>

<h2>Sarah Hope Line</h2>

<p>If you have been affected by the incident and you want to speak to us then please call us or email us through our Sarah Hope Line.<br />
<br />
<a href="/campaign/incident-support-service">The Sarah Hope Line</a> is run by dedicated TfL staff to provide practical, financial and emotional help and can also make referrals for counselling and specialised support. The contact details for the Sarah Hope Line are 0343 222 5678, or <a href="mailto:SHL&#64;tfl.gov.uk">SHL&#64;tfl.gov.uk</a>.</p>

<p>We have been in touch with everyone injured who has notified us of a claim and with the dependents of the people who lost their lives to confirm that liability is admitted in respect of their civil claims. We urge anyone needing further help to contact us straight away.</p>

<h2>Our statements</h2>

<ul>
	<li><a href="/cdn/static/cms/documents/raib-recommendations-update-september-2019.pdf">Progress update on RAIB recommendations September 2019</a></li>
	<li><a href="/cdn/static/cms/documents/raib-recommendations-update-march-2019.pdf">Progress update on RAIB recommendations March 2019</a></li>
	<li><a href="https://tfl.gov.uk/info-for/media/press-releases/2019/january/automatic-braking-system-for-trams-to-be-installed-this-year">Contract awarded for automatic braking</a></li>
	<li><a href="/cdn/static/cms/documents/raib-recommendations-update-january-2019.pdf">Progress update on RAIB recommendations &#45; January 2019</a></li>
	<li><a href="/cdn/static/cms/documents/raib-recommendations-update-december-2018.pdf">Progress update on RAIB recommendations&nbsp;&#45; December 2018</a></li>
	<li><a href="/cdn/static/cms/documents/raib-recommendations-update-november-2018.pdf">Progress update on RAIB recommendations &#45; November 2018</a></li>
	<li><a href="/cdn/static/cms/documents/24-july-2018-board-briefing-note%20-on-fatigue.pdf">Paper to the TfL Board, 24 July 2018</a></li>
	<li><a href="https://tfl.gov.uk/info-for/media/press-releases/2018/may/work-progresses-on-automatic-braking-system-for-london-trams">Contract notice for automatic braking system</a></li>
	<li><a href="https://tfl.gov.uk/info-for/media/press-releases/2018/march/mayor-approves-750-000-of-tfl-funding-to-support-croydon-community">GLA press release on funding for Croydon Council recovery activities</a></li>
	<li><a href="/cdn/static/cms/documents/sshrp-20180122-item03-tram-overturning-at-sandilands-investigations-update.pdf">Paper to the TfL Safety, Sustainability and HR Panel, 22 January 2018</a></li>
	<li><a href="https://tfl.gov.uk/info-for/media/press-releases/2017/december/tfl-response-to-raib-report-into-croydon-tram-tragedy">TfL response to RAIB report into Croydon tram tragedy</a></li>
	<li><a href="http://content.tfl.gov.uk/sshrp-20171122-item05-tram-overturning-at-sandilands-update.pdf ">Paper to the TfL Safety, Sustainability and HR Panel, 22 November 2017</a></li>
	<li><a href="https://tfl.gov.uk/info-for/media/press-releases/2017/november/first-anniversary-of-croydon-tram-incident-statement-by-mike-brown-mvo-tfl-commissioner">First anniversary of Croydon tram incident - statement by Mike Brown MVO, London's Transport Commissioner, 9 November 2017</a></li>
	<li><a href="http://content.tfl.gov.uk/sshrp-20170928-item05-tram-overturning-update.pdf ">Paper to the TfL Safety, Sustainability and HR Panel, 28 September 2017</a></li>
	<li><a href="https://tfl.gov.uk/info-for/media/press-releases/2017/august/croydon-tram-derailment-tfl-s-response-to-latest-raib-upda ">Croydon tram derailment &#45; TfL's response to latest RAIB update, 3 August 2017</a></li>
	<li><a href="/cdn/static/cms/documents/sshrp-20170626-item-05-tram-derailment-update.pdf">Paper to the TfL Safety, Sustainability and HR Panel, 26 June 2017</a></li>
	<li><a href="http://content.tfl.gov.uk/sshrp-20170321-item06-tramlink-update.pdf">Paper to the TfL Safety, Sustainability and HR Panel, 21 March 2017</a></li>
	<li><a href="https://tfl.gov.uk/info-for/media/press-releases/2017/february/tfl-response-to-raib-february-interim-report">TfL response to RAIB February interim report, 20 February 2017</a></li>
	<li><a href="http://content.tfl.gov.uk/board-20170208-item06-croydon-tram-incident.pdf">Paper to the TfL Board, 8 February 2017</a></li>
	<li><a href="http://content.tfl.gov.uk/sshr-20170123-item05-tram-derailment-update.pdf">Paper to the TfL Safety, Sustainability and HR Panel, 23 January 2017</a></li>
	<li><a href="/cdn/static/cms/documents/board-20161215-item05-croydon-tram-incident.pdf">Paper to the TfL Board, 15 December 2016</a></li>
	<li><a href="https://tfl.gov.uk/info-for/media/press-releases/2016/november/full-croydon-tram-services-resume">Full Croydon tram services resume, 18 November 2016</a></li>
	<li><a href="http://content.tfl.gov.uk/sshr-20161117-item05-croydon-tramlink-derailment.pdf">Presentation delivered to TfL's Safety, Sustainability and HR Panel prior to resuming services, 17 November 2016</a></li>
	<li><a href="https://tfl.gov.uk/info-for/media/press-releases/2016/november/croydon-tram-derailment-tfl-s-response-to-raib-interim-report">Croydon tram derailment - TfL's response to RAIB interim report, 16 November 2016</a></li>
	<li><a href="https://tfl.gov.uk/info-for/media/press-releases/2016/november/support-for-those-affected-by-tram-incident">Support for those affected by tram incident, 11 November 2016</a></li>
	<li><a href="https://tfl.gov.uk/info-for/media/press-releases/2016/november/tram-derailment-in-croydon-statement-by-mike-brown-mvo-tfl-commissioner">Tram derailment in Croydon &#45; statement by Mike Brown MVO, TfL Commissioner, 9 November 2016</a></li>
</ul>

<p>Customers with any concerns or comments about the tram services can contact us 24 hours a day on 0343 222 1234 or through our online contact form.</p>

<h2>RAIB&nbsp;investigation</h2>

<p>The <a href="https://www.gov.uk/government/organisations/rail-accident-investigation-branch">Rail Accident Investigation Branch (RAIB)</a>&nbsp;has conducted an independent investigation into the tragic events of 9 November 2016. The purpose of RAIB investigations is to improve safety by establishing the causes of accidents and making recommendations to reduce the likelihood of similar occurrences in the future or to mitigate their consequences.</p>

<p>The RAIB's investigation included consideration of&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>

<ul>
	<li>the sequence of events before and during the accident</li>
	<li>events following the accident, including the emergency response and how passengers evacuated from the tram</li>
	<li>the way in which the tram was being driven and any influencing factors</li>
	<li>the design, configuration and condition of the infrastructure on this section of the route, including signage</li>
	<li>the tram's behaviour during the derailment and how people sustained their injuries</li>
	<li>any previous over-speeding incidents at Sandilands Junction</li>
	<li>any relevant underlying management factors</li>
</ul>

<p>The final report on RAIB's investigation was published on 7 December 2017 and an addendum published on 24 October 2018.&nbsp;<a href="http://www.gov.uk/government/news/report-182017-overturning-of-a-tram-at-sandilands-junction-croydon">The report can be found here.</a></p>

<p>The RAIB's investigation&nbsp;is independent of any investigation by the tramway industry, the British Transport Police or the Office of Rail and Road.</p>

<h2>TfL-commissioned investigation</h2>

<p>Following the tragedy, TfL commissioned an independent investigation by SNC Lavalin. <a href="/cdn/static/cms/documents/sshrp-20180122-item03-tram-overturning-at-sandilands-investigations-update.pdf">The report on this investigation is now available</a>.</p>

<h2>Other organisations</h2>

<p>The following organisations are also involved in investigating the derailment.</p>

<p>The <a href="http://www.btp.police.uk/">British Transport Police (BTP)</a> is the national police force for the railways, including tramways.</p>

<p>The <a href="http://orr.gov.uk/">Office of Rail and Road (ORR)</a> is the independent economic and safety regulator for Britain's railways, and monitor of performance and efficiency for England's Strategic Road Network.</p>

<p>Trams on our network are operated by Tram Operations Limited, a subsidiary of <a href="http://www.firstgroupplc.com/ ">FirstGroup</a>.</p>

<ul>
</ul>

<h2>Financial support for Croydon Council recovery activities</h2>

<p>In March 2018, the Mayor of London, Sadiq Khan, approved <a href="https://tfl.gov.uk/info-for/media/press-releases/2018/march/mayor-approves-750-000-of-tfl-funding-to-support-croydon-community ">&pound;750,000 of TfL funding</a> over the next three years to support the London Borough of Croydon's community recovery activities following the tragic event at Sandilands in November 2016.</p>

<p>The money will support health and social services in New Addington and the surrounding community, where many of those directly or indirectly affected by the tragedy live.</p>

<p>TfL and Croydon Council will work together over the next three years on identifying projects and allocating the funds.</p>
</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
    <div></div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Incident support and investigation information about the Croydon tram derailment";}
        
            
        


 