
    
  



@{ViewBag.Title = "Trams";}
@{ViewBag.Keywords = "Tram ,Trams,TfL";}
@{ViewBag.Url = "/modes/trams/index";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
            
                <li><span class="last-breadcrumb">Trams</span></li>
            
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container landing-page section-landing-container with-logo">
        <h1>Trams</h1>
        
        <div class="heading-logo">
            <img src="/cdn/static/cms/images/logos/tram-partner.png" alt="Trams logo" />
        </div>
        
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">
        <div class="small-medium" data-set="widget"></div>
        <div class="primary-teaser landing-page-teaser">
            <div class="news-teaser ">
  
  <a href="http://www.checkoutcroydon.com/?intcmp=58710"  data-img="/cdn/static/cms/images/promos/croydon.jpg" data-img-breakpoint="medium" data-img-alt="Croydon">
    <img src="/cdn/static/cms/images/promos/croydon_rdax_600x300.jpg" alt="Croydon" />
    <div class="text-link sit-top">
      <h2>Check out Croydon by tram</h2>
      <p>Discover what's on, where to go and offers and discounts</p>
    </div>
  </a>
</div>

 
        </div>
        
        <div class="clearfix">
            
        </div>
        <div class="module-grid clearfix">
            <div class="news-teaser tram">

    <a href="/fares/find-fares/bus-and-tram-fares?intcmp=54718" >
        <img src="/cdn/static/cms/images/promos/hopper-150-standard_rdax_400x200.jpg" alt="Hopper graphic" />
        
        <div class="text-link">
             <h2>Hop on a tram for &pound;1.50</h2>
            <p>Take unlimited bus and tram journeys within one hour for &pound;1.50 using pay as you go </p>
        </div>
    </a>
</div>
 
 <div class="news-teaser tram">

    <a href="https:\\m.me/tfltravelbot?intcmp=58762" >
        <img src="/cdn/static/cms/images/promos/tfl-fb-travelbot_rdax_400x200.png" alt="Facebook TravelBot" />
        
        <div class="text-link">
             <h2>Facebook TravelBot</h2>
            <p>Ask us how the tram's running and get an instant response when you're on the move</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser tram">

    <a href="/travel-information/improvements-and-projects/blackhorse-lane-bridge?intcmp=45374" >
        
        
        <div class="text-link">
             <h2>Blackhorse Lane Bridge</h2>
            <p>Tram services may be affected until spring 2020 while we work on the bridge</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="/status-updates/planned-track-closures?intcmp=54286" >
        
        
        <div class="text-link">
             <h2>Service changes</h2>
            <p>Check for planned line closures and service changes on all modes</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="/corporate/about-tfl/what-we-do?intcmp=2582" >
        
        
        <div class="text-link">
             <h2>About London Trams</h2>
            <p>Find out how we manage London Trams</p>
        </div>
    </a>
</div>
 
 <div class="vertical-button-container">



<a href="/fares/find-fares/bus-and-tram-fares"  class="plain-button">Fares </a>


<a href="/modes/trams/cashless-trams"  class="plain-button">Trams are cashless</a>


<a href="/fares/refunds-and-replacements"  class="plain-button">Refunds</a>


<a href="/fares/free-and-discounted-travel/bus-and-tram-discount"  class="plain-button">Bus &amp; Tram discount scheme</a>

</div>
<div class="vertical-button-container">



<a href="http://tfl.gov.uk/maps/track/tram"  class="plain-button">Maps</a>


<a href="/transport-accessibility/index"  class="plain-button">Transport accessibility</a>


<a href="https://tfl.gov.uk/travel-information/safety/road-safety-advice/driving-and-cycling-safety?intcmp=5456#on-this-page-4"  class="plain-button">Cycling near trams</a>

</div>
<div class="follow-social email">
  
  <div class="social-image">
    
  </div>
  <div class="social-text">
    <h3>Email updates</h3>
    <p>Hop aboard the TfL email service for updates, personalised offers and promotions</p>
  </div>
  <div class="social-button">
    <a class="secondary-button" href="/travel-information/social-media-and-email-updates/email-updates">Register</a>
  </div> 
</div>
 <div class="news-teaser">

    <a href="/modes/trams/croydon-tram-derailment?intcmp=43907" >
        
        
        <div class="text-link">
             <h2>Croydon tram derailment</h2>
            <p>Information following the tragic events in Croydon on 9 November 2016</p>
        </div>
    </a>
</div>
 
 
        </div>
    </div>
    <div class="aside" role="complementary">
        <div class="large" data-set="widget">
            <div class="moving-source-order">
            

                <div class="widget-wrapper">

                        <div class="board-wrapper service-board-collapsed">
                            @{ Html.RenderAction("StatusBoard", "StatusUpdates", new { modes = Library.MeansOfTransport.Tram, collapsed = true, isHomeOrModePageStatusBoard = true }); }
                        </div>


                </div>
             
 
            </div>
        </div>
        <div class="module-grid">
            












<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/trams" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/trams" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 
            <div>
    
    <div class="contact-info-box">
        <div class="contact-info-header">
            <h3>Contact us</h3>
        </div>
                                                         
        <div class="content-group">
            <p>We're open 24 hours a day, 7 days a week.</p>
        </div>
        
        
            
        
        
            
                
        
        
        <div class="content-group">
            <p>
                <abbr title="Chat">Chat</abbr><br />
                 
        On <a href="https://m.me/transportforlondon">Facebook</a> or <a href="https://twitter.com/messages/compose?recipient_id=47319664">Twitter</a>
        
        
            </p>
        </div>
        
        
        <div class="content-group">
            <p>
                <abbr title="Telephone number">Call</abbr>&nbsp;<a href="/corporate/terms-and-conditions/tfl-call-charges">Charges apply</a><br />
                0343 222 1234
            </p>
        </div>
        
        
        
        <div class="content-group">
            <p>
                <abbr title="Address">Write</abbr>
            </p>
            <p><a href="/help-and-contact/contact-us-about-tube-and-rail-staff">Fill in a general enquiries form</a> <br /><a href="/help-and-contact/contact-us-about-tube-and-rail-staff">Give feedback about staff</a><br />Or send a letter to:</p>
        </div>
        
        
        <div class="content-group">
            <p>Transport for London<br />TfL Customer Service<br />4th Floor<br />14 Pier Walk<br />London<br />SE10 0ES</p>
        </div>
        
    </div>
</div>
 <div class="related-links">

    <h3>Related websites</h3>

<div class="vertical-button-container">

<a href="http://www.londontravelwatch.org.uk/home/" class="plain-button">London TravelWatch</a>
    </div>
</div>
 
        </div>
    </div>
    <div class="small-medium" data-set="content">&nbsp;</div>
</div>
 
        
        
        
            @{ViewBag.Description = "Tramlink is a fast, frequent and reliable tram service to routes through central Croydon from Wimbledon, Beckenham, Elmers End and New Addington.";}
        
            
        


 