
    
  



@{ViewBag.Title = "The future of trams";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/modes/trams/the-future-of-trams";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/modes/trams/index">Trams</a></li>
                
            
            
                <li><span class="last-breadcrumb">The future of trams</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>The future of trams</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        We took over running the trams in 2008 and, since then, we have seen a huge increase in passengers. We expect passenger numbers to grow to nearly 60 million by 2030 and we need to upgrade the network to accommodate this growth...
        
      </div>
    
    
      <h2>Trams 2030</h2>

<p>Trams 2030 summarises our proposed 15-year plan to accommodate growing demand, improve reliability and support the regeneration of Croydon town centre.</p>

<p>Trams 2030 sets out our ongoing works (including the Wimbledon line enhancement programme), the current proposals including major upgrades and expansions to the network, such as <a href="https://consultations.tfl.gov.uk/tramlink/dingwall-road-loop">Dingwall Road Loop</a>, and our longer term plan for trams in south London.</p>
      
           
      
<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/trams-for-growth-presentation.pdf">
    <div class="document-download-text">
        <p>Trams for growth</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 3.05MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 3.05 -->
 
</div>

</div>
 
      
        
          
        
      
    
  </div>
  <div class="aside" role="complementary">

   
    
    
    
    <div>
















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/trams" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/trams" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "TfL's 15-year plan for upgrading the tram network";}
        
            
        


 