
    
  



@{ViewBag.Title = "A316 London Road roundabout";}
@{ViewBag.Keywords = "Drivers,A,L,Richmond upon Thames,Roads,Cycling,Driving,TfL";}
@{ViewBag.Url = "/travel-information/improvements-and-projects/a316-london-road-roundabout";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/travel-information/improvements-and-projects/index">Improvements & projects</a></li>
                
            
            
                <li><span class="last-breadcrumb">A316 London Road roundabout</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>A316 London Road roundabout</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        We are currently consulting on proposals to improve safety at the A316 London Road roundabout.
        
      </div>
    
    
      <p>Find out more about our proposals and have your say on the <a href="https://consultations.tfl.gov.uk/roads/a316-london-road-roundabout/?cid=london-road-roundabout">A316 London Road roudabout consultation page</a>.</p>

<p>The consultation closes on 19 March 2020.</p>

<h2>Benefits</h2>

<p>Improving the roundabout would bring wider benefits for users of the A316 and A310 corridors.</p>

<p>These could include an:</p>

<ul>
	<li>Improved environment for people cycling and walking, with a continuous corridor for cyclists along the A316, as well as an alternative north-south facility for cyclists parallel to the roundabout. It also provides better facilities and a safer environment for vulnerable road users</li>
	<li>Improved journey time reliability for buses (north to south)</li>
	<li>Enhanced street environment including resurfacing and refreshed landscaping</li>
</ul>

<p>We committed to review safety at the London Road roundabout after improvements were made there in April 2013.</p>
      
           
      
      
        
          
        
      
    
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/improvements_projects" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/improvements_projects" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
      <div class="module-grid clearfix">
                    
        <div>

    <div class="contact-info-box">
         <div class="contact-info-header">
             <h3>Contact us</h3>
         </div>
        
        
        
        
        <div class="content-group">
            <p>
                
                
                <abbr title="Telephone number">Phone</abbr>: 0343 222 1234<br />
                
                
                
                
                
                
            </p>
            <p>(<a href="/corporate/terms-and-conditions/tfl-call-charges">TfL call charges</a>)</p>
        </div>
        
        <div class="content-group">
            <h4>Call us if you have questions or comments about the scheme</h4>
            
            
                
                
                
            
            
            
        </div>
        
        
    </div>
</div>
 <div class="related-links">

    <h3>Also on this site</h3>

<div class="vertical-button-container">

<a href="/travel-information/improvements-and-projects/camden-town-capacity-upgrade" class="plain-button">Camden Town capacity upgrade</a>
    </div>
</div>
 
      </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Improving the roundabout will make it easier to get to Twickenham town centre and improve journey times";}
        
            
        


 