
    
  



@{ViewBag.Title = "A40 Westway";}
@{ViewBag.Keywords = "Bus operators,Coach drivers,Drivers,Freight industry,Motorbikers,Planning and construction,Taxi and private hire,A,W,Hammersmith & Fulham,Kensington and Chelsea,Westminster,Roads,Buses,Coaches,Deliveries,Driving,Motorcycle,Taxis and minicabs,TfL";}
@{ViewBag.Url = "/travel-information/improvements-and-projects/a40-westway";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/travel-information/improvements-and-projects/index">Improvements & projects</a></li>
                
            
            
                <li><span class="last-breadcrumb">A40 Westway</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>A40 Westway</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        The Westway structures carry the elevated A40 from Wood Lane flyover to the west side of Marylebone flyover. They need to be refurbished because several components have reached the end of their service life. We aim to start work on site in late 2020. 
        
      </div>
    
    
      <p>The Westway is a key strategic route, used by 96,000 vehicles a day. Major refurbishment work is now needed to keep the A40 Westway and surrounding road network running reliably in the future.</p>
      
           
      
<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap landscape-download-image with-image jpgjpg" href="/cdn/static/cms/documents/a40-westway-route-location-plan-and-sections.jpg">
    <div class="document-download-text">
        <p>A40 Westway route - section plan</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            JPG 128KB
            
        </p>
    </div>
    <div class="document-download-icon download-image">
    </div>

    <div class="document-download-image">
        <img src="/cdn/static/cms/images/a40-westway-route-location-plan-and-sections-thumb.jpg" alt="map of a40 westway" />
    </div>

</a>

<!-- 0.13 -->
 
</div>

</div>
 <div>

<p>Lane restrictions and some partial closures of the A40 at night and on some weekends will help us do the work safely and efficiently. Once a contractor is appointed we'll develop a traffic management plan - check back here for details of planned closures/restrictions and diversion routes.</p>

<h2>Speed limit restriction&nbsp;as of&nbsp;27 January 2020</h2>

<p>The&nbsp;speed limit on a 600 metre (approximately) stretch of the A40 between Ladbroke Grove and Westbourne Park&nbsp;is now&nbsp;30mph, down&nbsp;from the&nbsp;previous 40mph.</p>

<p>Slowing the speed helps protect a joint in the road there&nbsp;until it can be replaced.</p>

<h2>Next steps</h2>

<p>We want to appoint a contractor as early as possible in 2020 to develop the designs, traffic management options and proposals for the refurbishment.</p>

<p>Given the scale of the structure, and that some sections are a higher priority than others, we plan to do the work in phases.</p>

<p>Along with the appointed contractor, we will work with interested parties to plan access and agree how to offset the temporary impact of the construction works.</p>

<p>Key elements of the work needed include:</p>

<ul>
	<li>Replacement of roller-shutter expansion joints</li>
	<li>Replacement of comb expansion joints</li>
	<li>Installation of safety barriers to protect parapets at high risk places (for example, over live railways)</li>
	<li>Carriageway surfacing and waterproofing where expansion joints are replaced</li>
	<li>Localised concrete repairs</li>
	<li>Drainage investigations</li>
	<li>Bearings investigations</li>
</ul>

<h2>What we've done</h2>
</div>
 <div class="clearfix">
    <div class="image-box right-float">
    
        
        
        <img src="/cdn/static/cms/images/westway-overview_rdax_400x457.jpg" alt="a40 westway aerial" />
        
        
        
    </div>
    <p>Between 2015 and 2017 we inspected and surveyed all residential and business premises beneath the Westway to help us understand its condition.</p>

<p>We also surveyed different parts of the Westway elevated structures and Marylebone flyover, including the drainage, waterproofing, expansion joints, surfacing, structural concrete and parapets.</p>

<p>We investigated the road surface on the Westway and Marylebone flyover by digging trial holes, taking core samples and surveying the drainage system.</p>

<p>After our March 2018 report on the investigations and options for maintaining and refurbishing the Westway and Marylebone flyover structures, a decision was made to go ahead with the project. Financial constraints at the time meant this was put on hold, but in December 2019 we decided to move forward with design and construction plans for the project.</p> 
 </div>
 <div class="clearfix">
    <div class="image-box">
    
        
        
        <img src="/cdn/static/cms/images/a40-westway-aerial.jpg" alt="Aerial shot of A40 Westway" />
        
        
        
    </div>   
 </div>
 
      
        
          
        
      
    
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/improvements_projects" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/improvements_projects" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
      <div class="module-grid clearfix">
                    
        <div>

    <div class="contact-info-box">
         <div class="contact-info-header">
             <h3>Contact us</h3>
         </div>
        
        
        
        
        <div class="content-group">
            <p>
                
                
                <abbr title="Telephone number">Phone</abbr>: 0343 222 1234 (24 hours)<br />
                
                
                
                
                
                
            </p>
            <p>(<a href="/corporate/terms-and-conditions/tfl-call-charges">TfL call charges</a>)</p>
        </div>
        
        <div class="content-group">
            <h4>Call us if you have questions or comments about the scheme</h4>
            
            
                
                
                
            
            
            
        </div>
        
        
    </div>
</div>
 <div class="related-links">

    <h3>Also on this site</h3>

<div class="vertical-button-container">

<a href="/travel-information/improvements-and-projects/acton-to-wood-lane-improvements" class="plain-button">Acton to Wood Lane improvements</a>
<a href="https://consultations.tfl.gov.uk/cycling/east-west-phase-2?cid=east-west-consult" class="plain-button">CS3 (East-West) consultation</a>
    </div>
</div>
 
      </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "We aim to start work to refurbish the Westway in late 2020";}
        
            
        


 