
    
  



@{ViewBag.Title = "Bank & Monument";}
@{ViewBag.Keywords = "Public,Tube passengers,B,M,City of London,Tube improvement,Tube,TfL";}
@{ViewBag.Url = "/travel-information/improvements-and-projects/bank-and-monument";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/travel-information/improvements-and-projects/index">Improvements & projects</a></li>
                
            
            
                <li><span class="last-breadcrumb">Bank & Monument</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Bank & Monument</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        Bank and Monument stations form the third busiest interchange on the London Underground network. Work we're doing to substantially improve the capacity of Bank station should finish in 2022.
        
      </div>
    
    
      
    
      
           
      <div class="clearfix">
    <div class="image-box right-float">
    
        
        
        <img src="/cdn/static/cms/images/bank-monument-proposed-improvements-map_rdax_400x457.jpg" alt="Map of proposed changes at Bank and Monument" />
        <span class="caption">Map of proposed changes at Bank and Monument</span>
        
        
    </div>
    <p>Bank and Monument together are used by more than 120 million passengers a year. That's an increase of 38% since 2008.</p>

<p>Improving the station is critical to keep London working and growing and is a key part of our plans to increase frequency on the Northern line.</p>

<h2>Our plans</h2>

<p>By 2022, the interlinked stations will feature several new escalators, a new station entrance and more room for Northern line passengers. This will increase capacity at the station by 40%.</p>

<p>The modernisation will include:</p>

<ul>
	<li>A new railway tunnel and platform for the Northern line that will reduce interchange times and create more space for passengers</li>
	<li>Step-free access to the Northern line and DLR platforms</li>
	<li>More direct routes within the station, with two new moving walkways</li>
	<li>Two new lifts and 12 new escalators</li>
	<li>A new station entrance in Cannon Street</li>
</ul> 
 </div>
 
<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap landscape-download-image with-image pdfpdf" href="/cdn/static/cms/documents/bank-scu-diagram-of-works.pdf">
    <div class="document-download-text">
        <p>Overview of planned improvements</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 173KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

    <div class="document-download-image">
        <img src="/cdn/static/cms/images/bank-diagram-thumb.jpg" alt="diagram of bank station works" />
    </div>

</a>

<!-- 0.17 -->
 
</div>
<h3>Walbrook entrance - opened November 2018</h3>

<p>A new station entrance on Walbrook (at the Bloomberg building) now offers easier access to the Waterloo &amp; City line. The entrance has two lifts, four escalators and a new ticket hall.</p>

<h2>Construction</h2>

<p>More than 200 engineers and staff are working on site at Bank 24 hours a day until 2021. The station stays open to customers throughout the work. Most of the construction work is taking place below ground to minimise construction impact on the historically significant site which is bordered by 31 listed buildings.</p>

<p>Two main worksites are being used to construct the scheme:</p>

<ul>
	<li>The area bounded by Cannon Street, Abchurch Lane, King William Street and Nicholas Lane is known as the 'Whole Block' worksite. The new station entrance on Cannon Street, lifts and escalators will be built from this site</li>
	<li>Most of the tunnelling works is taking place from the Arthur Street worksite. This means Arthur Street is closed to vehicles - however, pedestrians, dismounted cyclists and deliveries still have access</li>
</ul>

<p>We aim to keep disruption to a minimum during construction and manage environmental impacts with industry best practices.</p>

<h2>Key progress milestones</h2>

<ul>
	<li>
	<p>More than 1000m of new tunnels have been built. The new escalator barrels are next</p>
	</li>
	<li>
	<p>Waterproofing of the new tunnels has started, including the new Central line moving walkway link</p>
	</li>
	<li>
	<p>The top down excavation of the Whole Block site, where the new entrance on Cannon Street will be, is finished</p>
	</li>
	<li>
	<p>The construction of a new lift shaft to provide direct, step-free access from street to both Northern line and DLR platforms has started</p>
	</li>
</ul>

<h2>Transport and Works Act Order</h2>

<p>We were granted a <a href="/corporate/publications-and-reports/bank-station-capacity-upgrade">Transport and Works Act Order (TWAO)</a> by the Secretary of State for Transport that came into force in January 2016. The TWAO authorises us to construct the works and operate the new section of railway.</p>

<h2>Northern line Bank branch in 2021</h2>

<p>We will need to close part of the Northern line Bank branch in spring/summer 2021,&nbsp;between Kennington and Moorgate, to connect new and existing sections of tunnel safely. Trains will run less frequently on those sections of the Bank branch that are still open. Check back here for details.</p>

<h3>Alternative services</h3>

<p>Customers will be able to complete their journeys by other Tube, rail, bus, walking and cycling routes. We'll share detailed travel advice closer to the time.</p>

<p>To help passengers, we will:</p>

<ul>
	<li>Run 33% more trains on the Northern line Charing Cross branch</li>
	<li>Review bus use and consider enhancing services where necessary</li>
	<li>Investigate scope for passengers to use alternative National Rail services, such as Waterloo to London Bridge, and London Bridge to Cannon Street</li>
	<li>Review available walking space on the Moorgate to London Bridge pedestrian corridor</li>
</ul>

<h2>Timeline</h2>

<ul>
	<li>9 September 2014: apply for Transport and Works Act Order (TWAO)</li>
	<li>15 December 2015: TWAO decision</li>
	<li>April 2016: works start</li>
	<li>Spring 2017: tunnelling starts</li>
	<li>Spring/summer 2021: Northern line closure</li>
	<li>Late 2022: works completed</li>
</ul>
</div>
 

 @this.ScriptBlock(
     @<script>
          queue.push(
            "@Html.ScriptPath("plugins/gallery-media.min.js")", null,
            function() {
                var galleryLite = $(".gallery-lite");

                if (galleryLite.length) {
                    galleryLite.gallery();
                }
            }
        );
     </script>
 )
      
<div class="gallery-lite-wrap">
    <ul class="gallery-lite no-borders">
    
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/bank-station-with-bus.jpg" alt="Future of Bank station" />
                <figcaption>
<span class="figure-title">Future of Bank station</span>
<span class="figure-description">Cannon Street entrance</span>
                </figcaption>
            </figure>
        </li>
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/bank-station-closeup.jpg" alt="Future of Bank station" />
                <figcaption>
<span class="figure-title">Future of Bank station</span>
<span class="figure-description">Cannon Street entrance</span>
                </figcaption>
            </figure>
        </li>
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/bank-station-night.jpg" alt="Future of Bank station" />
                <figcaption>
<span class="figure-title">Future of Bank station</span>
<span class="figure-description">Cannon Street entrance</span>
                </figcaption>
            </figure>
        </li>
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/bank-station-ticket-gates.jpg" alt="Future of Bank station" />
                <figcaption>
<span class="figure-title">Future of Bank station</span>
<span class="figure-description">Ticket gates</span>
                </figcaption>
            </figure>
        </li>
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/bank-station-escalator.jpg" alt="Future of Bank station" />
                <figcaption>
<span class="figure-title">Future of Bank station</span>
<span class="figure-description">Escalator</span>
                </figcaption>
            </figure>
        </li>
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/bank-station-platform.jpg" alt="Future of Bank station" />
                <figcaption>
<span class="figure-title">Future of Bank station</span>
<span class="figure-description">Northern line platform</span>
                </figcaption>
            </figure>
        </li>
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/bank-station-interchange.jpg" alt="Future of Bank station" />
                <figcaption>
<span class="figure-title">Future of Bank station</span>
<span class="figure-description">Interchange</span>
                </figcaption>
            </figure>
        </li>
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/bank-station-escalator-lobby.jpg" alt="Future of Bank station" />
                <figcaption>
<span class="figure-title">Future of Bank station</span>
<span class="figure-description">Escalator lobby</span>
                </figcaption>
            </figure>
        </li>
    
  </ul>
</div>
 <div>

<h2>Background</h2>
<p>Between them, Bank and Monument stations are served by five Underground lines as well as the DLR.</p>
<p>Currently, 123,000 passengers use Bank station during the morning peak period, about 51,000 of whom are changing between lines.</p>
<p>The two stations consist of three ticket halls, six lifts, 10 platforms, 15 escalators and two 300-foot moving walkways, making one of the largest and most complicated subterranean railway complexes in the world.</p>
<p>Our proposals follow public consultations held in 2011, 2012, 2013 and 2014.</p>
</div>
 
      
        
          
        
      
    
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/improvements_projects" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/improvements_projects" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
      <div class="module-grid clearfix">
                    
        <div>

    <div class="contact-info-box">
         <div class="contact-info-header">
             <h3>Contact the Bank team</h3>
         </div>
        
        
        
        
        <p class="content-group">
            <span class="visually-hidden">Email address</span>
            <a href="mailto:bankscu&#64;tfl.gov.uk">bankscu&#64;tfl.gov.uk</a>
        </p>
        
        <div class="content-group">
            <p>
                
                
                <abbr title="Telephone number">Phone</abbr>: 0844 332 8967 (24 hour helpdesk)<br />
                
                
                
                
                
                
            </p>
            
        </div>
        
        <div class="content-group">
            
            
            
                
                
                
            
            
            
        </div>
        
        
    </div>
</div>
 <div class="related-links">

    <h3>Also on this site</h3>

<div class="vertical-button-container">

<a href="/corporate/publications-and-reports/bank-station-capacity-upgrade" class="plain-button">Bank station documents</a>
<a href="/campaign/tube-improvements" class="plain-button">Tube improvements</a>
    </div>
</div>
 
      </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Improvements we’re making at the interlinked stations of Bank and Monument will include several new escalators, a new station entrance and more room for Northern line passengers by 2022";}
        
            
        


 