
    
  



@{ViewBag.Title = "Blackhorse Lane Bridge";}
@{ViewBag.Keywords = "B,Croydon,Roads,Trams,TfL";}
@{ViewBag.Url = "/travel-information/improvements-and-projects/blackhorse-lane-bridge";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/travel-information/improvements-and-projects/index">Improvements & projects</a></li>
                
            
            
                <li><span class="last-breadcrumb">Blackhorse Lane Bridge</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Blackhorse Lane Bridge</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        The newly-replaced Blackhorse Lane Bridge opened in full on Tuesday 25 February 2020. This single span bridge crosses two tram lines between Blackhorse Lane and Addiscombe tram stops.
        
      </div>
    
    <div class="on-this-page">
      <p>Croydon Council-owned Addiscombe Railway Park Bridge was replaced at the same time in one joint project to save public money and time. That new bridge is two metres wider to accommodate a cycle path, improving facilities for people walking and cycling in the area.</p>

<h2>Why we replaced the bridge</h2>

<p>The bridge over the tram line was more than 120 years old - extensive work was needed to replace the bridge deck.</p>

<p>When we took over responsibility for Blackhorse Lane Bridge from Network Rail in September 2013, the bridge already had a 3 tonne weight limit. Our regular surveys showed that the weight limit needed to be reduced further.</p>

<p>Traffic weight restriction measures were put in place but the new limit was breached regularly. This is why the bridge was closed and a diversion route put in place.</p>

<h2>What we've done</h2>

<p>The work at Blackhorse Lane&nbsp; included:</p>

<ul>
	<li>Installation of ground anchors into the earth to support each new bridge structure</li>
	<li>Demolition and reconstruction of both the bridge over the tram line and the bridge over Addiscombe Railway Park</li>
	<li>Resurfacing the road</li>
	<li>Widening pavements</li>
</ul>

<h2>Timeline</h2>

<p>Our appointed contractor Morgan Sindall did site investigations and enabling works and produced detailed designs in 2018.</p>

<p>Working closely with them and Croydon Council, we developed a work schedule:</p>

<ul>
	<li>During 2019 both bridges were demolished and reconstructed</li>
	<li>We opened both bridges to single lane traffic and pedestrians in December 2019</li>
	<li>Blackhorse Lane closed to all traffic from 08:00 Monday 24 February to 10:00 Tuesday 25 February</li>
	<li>Both bridges opened in full on Tuesday 25 February 2020</li>
</ul>

<h2>Working with the community</h2>

<p>We have worked closely with <a href="https://www.croydon.gov.uk/transportandstreets/rhps/roads/road-closures/notices">Croydon Council</a> on the bridge closures and replacement plans and stayed&nbsp;in touch with local&nbsp;residents, business owners and stakeholders.</p>
      
           
      
<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/february-2020-newsletter.pdf">
    <div class="document-download-text">
        <p>February 2020 newsletter</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 73KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.07 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/blackhorse-lane-november-2019-update.pdf">
    <div class="document-download-text">
        <p>November 2019 newsletter</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 60KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.06 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/blackhorse-lane-october-2019-update.pdf">
    <div class="document-download-text">
        <p>October 2019 newsletter</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 59KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.06 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/key-dates-25-february-2020.pdf">
    <div class="document-download-text">
        <p>Key dates</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 63KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.06 -->
 
</div>

</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/improvements_projects" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/improvements_projects" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
      <div class="module-grid clearfix">
                    
        <div>
    
    <div class="contact-info-box">
        <div class="contact-info-header">
            <h3>Contact us</h3>
        </div>
                                                         
        <div class="content-group">
            <p>Information is displayed on the council noticeboard near the Blackhorse Lane tram stop.</p>
<p>&nbsp;</p>
<p>Or you can call us:</p>
        </div>
        
        
            
        
        
            
                
                 
        
        
        
        <div class="content-group">
            <p>
                <abbr title="Telephone number">Call</abbr>&nbsp;<a href="/corporate/terms-and-conditions/tfl-call-charges">Charges apply</a><br />
                0343 222 1234
            </p>
        </div>
        
        
        
        
    </div>
</div>
 
      </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "The bridge across two tram lines is fully open again";}
        
            
        


 