
    
  



@{ViewBag.Title = "Bromley-by-Bow and Marshgate Lane";}
@{ViewBag.Keywords = "B,M,Newham,Tower Hamlets,Consultation,Roads,Cycling,Driving,Walking,TfL";}
@{ViewBag.Url = "/travel-information/improvements-and-projects/bromley-by-bow-and-marshgate-lane";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/travel-information/improvements-and-projects/index">Improvements & projects</a></li>
                
            
            
                <li><span class="last-breadcrumb">Bromley-by-Bow and Marshgate Lane</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Bromley-by-Bow and Marshgate Lane</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        We're working with Tower Hamlets and Newham boroughs and the London Legacy Development Corporation to offer alternatives to car use at Bromley-by-Bow and Marshgate Lane. We aim to hold the next public consultation on our proposals in late 2020.
        
      </div>
    
    <div class="on-this-page">
      <p>Creating attractive, accessible and people-friendly streets will encourage more walking and cycling.</p>
<p>Local regeneration, growth in housing and the legacy development of the Queen Elizabeth Olympic Park are all expected to change demands on the transport network in Bow and the wider area.</p>
<p>The proposals for Bromley-by-Bow and Marshgate Lane would:</p>
<ul>
    <li>Make the A12 Blackwall Tunnel Northern Approach easier to cross</li>
    <li>Support growth and local businesses by providing better access to new developments</li>
    <li>Encourage more walking and cycling</li>
    <li>Connect new and existing communities</li>
    <li>Create a more liveable place with attractive views, planting and signs</li>
</ul>
      
           
      <div class="clearfix">
    <div class="image-box right-float">
    
        
        
        <img src="/cdn/static/cms/images/bromley-by-bow_rdax_400x250.jpg" alt="Bromley-by-Bow - artist's impression" />
        <span class="caption">Artist's impression: Junction of the A12 and St Leonard's Street, facing northwest</span>
        
        
    </div>
    <h2>Bromley-by-Bow</h2>

<ul>
	<li>Two signalised junctions on the A12, to the north of Bromley-by-Bow station, would provide access to proposed residential and commercial development to the east of the A12</li>
	<li>Vehicles travelling northbound on the A12 would be able to turn right to access these new developments directly, without having to make a U-turn at Bow roundabout</li>
	<li>A bus-only link across the A12 would connect Bromley-by-Bow and new developments to the east</li>
	<li>Signalised crossings, replacing the existing subway at Three Mill Lane, and improvements to the subway at Bromley-by-Bow station would make crossing the A12 easier and more accessible for pedestrians and cyclists</li>
	<li>The proposals would also improve links to the River Lea and the Three Mills heritage and cultural area</li>
	<li>A segregated cycle track on the east side of the A12 would help improve access to the local cycle network, including the Lea Valley Towpath and Cycle Superhighway 2. (We are combining&nbsp;Cycle Superhighways&nbsp;and Quietways&nbsp;into one cycle network called '<a href="/modes/cycling/routes-and-maps/cycleways">Cycleways</a>')</li>
</ul>
 </div>
 <div class="clearfix">
    <div class="image-box right-float">
    
        
        
        <img src="/cdn/static/cms/images/marshgate-lane_rdax_400x457.jpg" alt="Marshgate Lane - artist's impression" />
        <span class="caption">Artist's impression of the new link road, facing northwest</span>
        
        
    </div>
    <h2>Marshgate Lane </h2>
<ul>
    <li>A new link road, connecting Marshgate Lane with Sugarhouse Lane and creating a four-arm junction with A118 Stratford High Street, would allow buses, cyclists and pedestrians to cross the Bow Back River via a new bridge. This will improve access to Pudding Mill Lane station and the Queen Elizabeth Olympic Park</li>
</ul>
<h2>Public consultation</h2>
<p>We held a public consultation on the proposals at Bromley-by-Bow and Marshgate Lane March-April 2017.</p>
<p>Our proposals are outlined on the <a href="https://consultations.tfl.gov.uk/roads/bromley-by-bow-marshgate-lane/">Bromley-by-Bow and Marshgate Lane consultation page</a>.</p> 
 </div>
 <div>


</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/improvements_projects" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/improvements_projects" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Our plans would improve transport links around Bromley-by-Bow and Marshgate Lane";}
        
            
        


 