
    
  



@{ViewBag.Title = "Camden Town capacity upgrade";}
@{ViewBag.Keywords = "Tube passengers,C,Camden,Consultation,Tube improvement,Tube,TfL";}
@{ViewBag.Url = "/travel-information/improvements-and-projects/camden-town-capacity-upgrade";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/travel-information/improvements-and-projects/index">Improvements & projects</a></li>
                
            
            
                <li><span class="last-breadcrumb">Camden Town capacity upgrade</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Camden Town capacity upgrade</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        Our proposed improvements will make it easier for people to get into and around Camden Town station. But these are on hold for now until we have the funds we need.
        
      </div>
    
    <div class="on-this-page">
      <h2>2018 Business Plan update</h2>

<p>Our December 2018 update to the&nbsp;<a href="/corporate/publications-and-reports/business-plan">Business Plan</a> put the upgrade project for Camden Town station on hold until suitable capital funding&nbsp;is available.</p>

<p>We have made significant progress on the project, including developing the scheme proposals, carrying out public consultation and protecting the scheme by&nbsp;buying land. This will enable us to consider&nbsp;other options including potential third party investment to take the scheme further.</p>

<p>We will continue to make the case for long-term, steady and sustained investment to ensure critical infrastructure projects such as Camden Town and <a href="/travel-information/improvements-and-projects/holborn-station-capacity-upgrade">Holborn</a>&nbsp;can continue.</p>
      
           
      <div class="clearfix">
    <div class="image-box light-box right-float">
    
        
        
        <a href="/cdn/static/cms/images/camden-town-capacity-upgrade-large.jpg" class="modal-launch" target="_blank">
             <img src="/cdn/static/cms/images/camden-town-upgrade-map_rdax_400x250.jpg" alt="camden town capacity upgrade model" />
             <span class="caption">Click for full-size image</span>
        </a>
        
        
    </div>
    <h2>Our proposal</h2>

<p>The number of people using Camden Town station is increasing - weekday demand has risen by 45% over the last ten years. At peak times, congestion means it takes longer to enter, leave and change between trains.</p>

<p>To manage this demand we regularly have to make the station exit-only, hold people outside the ticket hall and implement a one-way passenger system. If we do nothing, this will happen more often.</p>

<p>The station needs to be improved so that it can properly support the vibrant local community and economy.</p>

<p>We believe our customers would benefit from:</p>

<ul>
	<li>A new second entrance and exit to the station</li>
	<li>More escalators</li>
	<li>Step-free access from the street to trains</li>
	<li>More space to change between trains</li>
</ul>

<p>A possible site for a new station entrance is Buck Street, between Camden High Street and Kentish Town Road. It would provide more space, as well as three new escalators and two lifts for passengers.</p>

<p>Below ground there would be more circulation space to change between trains. In turn, this would allow future capacity expansion on the Northern line.</p>

<p>A new second entrance would reduce walking distances between the station and the north part of Camden Town, including Camden Lock. The existing station entrance will remain open, both during construction and following the completion of the upgrade works.</p>

<p>Our proposals do not involve any changes to the Electric Ballroom, Camden Market or Trinity United Reformed Church, and we will preserve the existing station.</p>
 </div>
 <div>

<h2>Consultations</h2>

<p>In summer 2017, we ran a second consultation on our proposals to upgrade the capacity of the station. 97% of respondents supported our proposals. The full report detailing the responses, plus our response to the main issues raised, is on the <a href="https://consultations.tfl.gov.uk/tube/camden-town-station-upgrade/?cid=camden-town-upgrade">Improving capacity at Camden Town consultation page</a>.</p>

<p>During our first consultation on the proposals in 2015, 95% of respondents agreed there was a need to create more space in the station. Our analysis of the consultation, plus our response to the main issues raised, is on the <a href="https://consultations.tfl.gov.uk/tube/camden-town-station-upgrade-2015/">2015 consultation page</a>.</p>

<p>In early 2017 we consulted on a development project above and around a new entrance proposed for Camden Town station. Overall, comments on these were positive. A full report on the consultation and the latest updates are on our page for <a href="https://consultations.tfl.gov.uk/development/camden-town-over-station-development/">development above the proposed second entrance on Buck Street</a>.</p>

<p>For more information, email <a href="mailto:camdentownupgrade&#64;tfl.gov.uk">camdentownupgrade&#64;tfl.gov.uk</a></p>
</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/improvements_projects" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/improvements_projects" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
      <div class="module-grid clearfix">
                    
        <div>
    
    <div class="contact-info-box">
        <div class="contact-info-header">
            <h3>Contact Camden Town team</h3>
        </div>
        
        
            
        
        
            
                
                 
        
        
        
        
        
        <div class="content-group">
            <p>
                <abbr title="Address">Write</abbr>
            </p>
            <p>Email <a href="mailto:camdentownupgrade&#64;tfl.gov.uk">camdentownupgrade&#64;tfl.gov.uk</a></p>
        </div>
        
        
    </div>
</div>
 <div class="related-links">

    <h3>Also on this site</h3>

<div class="vertical-button-container">

<a href="/travel-information/improvements-and-projects/bank-and-monument" class="plain-button">Bank &amp; Monument</a>
<a href="/travel-information/improvements-and-projects/northern-line-extension" class="plain-button">Northern line extension</a>
    </div>
</div>
 
      </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "We want to create more capacity inside Camden Town station to prevent passenger delays and crowding";}
        
            
        


 