
    
  



@{ViewBag.Title = "CleanMobilEnergy - renewable  energy pilot";}
@{ViewBag.Keywords = "Public,C,Environment,TfL";}
@{ViewBag.Url = "/travel-information/improvements-and-projects/cleanmobilenergy";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/travel-information/improvements-and-projects/index">Improvements & projects</a></li>
                
            
            
                <li><span class="last-breadcrumb">CleanMobilEnergy - renewable  energy pilot</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>CleanMobilEnergy - renewable  energy pilot</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        CleanMobilEnergy is a three year project to develop an energy management system, which integrates renewable energy and electric vehicles. The project is European funded and involves partner organisations across north west Europe working together.
        
      </div>
    
    <div class="on-this-page">
      <h2>About the project</h2>

<p>As part of the project we are developing a city pilot to demonstrate how we can use locally generated renewable energy to reduce carbon emissions and cut costs.</p>

<p>We will install large scale photovoltaic energy generation and battery storage at one or more of our sites around the city and introduce innovative vehicle-to-grid electric vehicle charging.</p>

<p>This will allow us to:</p>

<ul>
	<li>Charge our electric vehicles from locally sourced renewable energy</li>
	<li>Store spare energy so it is ready to use when we need it for example during peak demand on London Underground</li>
	<li>Feed surplus energy from photovoltaic generation back into the national grid</li>
	<li>Use our electric vehicles for short term energy storage and allow them to feed back into the grid when not in service</li>
</ul>

<p>During the pilot we plan to integrate:</p>

<ul>
	<li>Up to 25 vehicle-to-grid bi-directional chargers for electric vehicles in our support fleet</li>
	<li>Over 1 megawatt peak of solar photovoltaics at Acton Railway Engineering Workshops</li>
	<li>Large scale battery energy storage</li>
	<li>Connections to the building energy management systems and London Underground electricity grid</li>
	<li>A purpose built intelligent energy management system to control energy flows</li>
</ul>

<p>There are four city pilots in Arnhem, London, Nottingham and Schw&auml;bisch Gm&uuml;nd. We are coordinating activity between the city pilots. The project is being led by the City of Arnhem in The Netherlands.</p>

<h2>Partner organisations</h2>

<p><a href="http://www.nweurope.eu/projects/project-search/cleanmobilenergy-clean-mobility-and-energy-for-cities/meet-the-partners/gemeente-arnhem/">Gemeente Arnhem</a>&nbsp;(lead partner)<br />
<a href="http://www.nweurope.eu/projects/project-search/cleanmobilenergy-clean-mobility-and-energy-for-cities/meet-the-partners/polis-promotion-of-operational-links-and-integrated-services-aisbl/">POLIS Promotion of Operational Links and Integrated Services aisbl</a><br />
<a href="http://www.nweurope.eu/projects/project-search/cleanmobilenergy-clean-mobility-and-energy-for-cities/meet-the-partners/centre-of-excellence-for-low-carbon-and-fuel-cell-technologies/">Centre of Excellence for Low Carbon and Fuel Cell Technologies</a><br />
<a href="http://www.nweurope.eu/projects/project-search/cleanmobilenergy-clean-mobility-and-energy-for-cities/meet-the-partners/nottingham-city-council/">The City of Nottingham</a><br />
<a href="http://www.nweurope.eu/projects/project-search/cleanmobilenergy-clean-mobility-and-energy-for-cities/meet-the-partners/europaeisches-institut-fuer-innovation-technologie-e-v/">Europ&auml;isches Institut f&uuml;r Innovation - Technologie e. V.</a><br />
<a href="http://www.nweurope.eu/projects/project-search/cleanmobilenergy-clean-mobility-and-energy-for-cities/meet-the-partners/walvoorzieningen-nederland-bv/">Walvoorzieningen Nederland B.V.</a><br />
<a href="https://www.institutparisregion.fr/">Institut d'am&eacute;nagement et d'urbanisme de l'&icirc;le-de-France</a></p>
      
           
      <div class="clearfix">
    <div class="image-box right-float">
    
        
        
        <img src="/cdn/static/cms/images/interreg-logo_rdax_400x250.gif" alt="Interreg logo" />
        
        
        
    </div>
    <h2>Funding</h2>
<p>The total project budget is &euro;7.2 million which is part funded by Interreg, of which &euro;1.1 million will be allocated to TfL during the project lifetime from September 2017 until March 2021.</p>
<p>Find more information about <a href="http://www.nweurope.eu/cleanmobilenergy">CleanMobilEnergy and the city pilots</a>. </p>
<p>Contact <a href="mailto:markpoulton&#64;tfl.gov.uk">MarkPoulton&#64;tfl.gov.uk</a> or <a href="mailto:davidtalbot&#64;tfl.gov.uk">DavidTalbot&#64;tfl.gov.uk</a>.</p>
 </div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
    <div>
















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/improvements_projects" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/improvements_projects" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "A pilot using locally generated renewable energy to reduce carbon emissions and cut costs";}
        
            
        


 