
    
  



@{ViewBag.Title = "Cycle Superhighway 11";}
@{ViewBag.Keywords = "C,Consultation,Cycle Superhighways,Roads,Cycling,TfL";}
@{ViewBag.Url = "/travel-information/improvements-and-projects/cycle-superhighway-11";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/travel-information/improvements-and-projects/index">Improvements & projects</a></li>
                
            
            
                <li><span class="last-breadcrumb">Cycle Superhighway 11</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Cycle Superhighway 11</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        Cycle Superhighway 11 (CS11) was designed to make Swiss Cottage an even better place to live and work while reducing road danger for people walking and cycling, and making it easier for them to get through the area.
        
      </div>
    
    
      <p>Court action by Westminster City Council in September 2018 has prevented us from starting work. The court ruled in Westminster's favour and we have not been granted an appeal hearing.</p>

<p>We will work with Camden Council to make the traffic-dominated Swiss Cottage area safer and less intimidating. We also want to work with the Crown Estate Paving Commission and The Royal Parks to address road danger in Regent's Park.</p>

<p>Find out more on the <a href="https://consultations.tfl.gov.uk/cycling/cs-11/">Cycle Superhighway 11 consultation page</a>.</p>

<h2>Scheme outline</h2>

<p>We had planned to make significant changes to existing road layouts and junctions along CS11 to make them clearer, safer and more convenient for cyclists and pedestrians.</p>

<p>Specifically the route would help separate cyclists from motor vehicles between Swiss Cottage and the West End.</p>
      
           
      
<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap portrait-download-image with-image pdfpdf" href="/cdn/static/cms/documents/cs11-swiss-cottage-final-layout.pdf">
    <div class="document-download-text">
        <p>Cycle Superhighway 11 - proposed final layout at Swiss Cottage</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.77MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

    <div class="document-download-image">
        <img src="/cdn/static/cms/images/cs11-swiss-cottage-layout-thumb.jpg" alt="Detail of final layout plan for CS11 at Swiss Cottage" />
    </div>

</a>

<!-- 1.77 -->
 
</div>

</div>
 

 @this.ScriptBlock(
     @<script>
          queue.push(
            "@Html.ScriptPath("plugins/gallery-media.min.js")", null,
            function() {
                var galleryLite = $(".gallery-lite");

                if (galleryLite.length) {
                    galleryLite.gallery();
                }
            }
        );
     </script>
 )
      
<div class="gallery-lite-wrap">
    <ul class="gallery-lite no-borders">
    
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/cs11-image-web.gif" alt="" />
                <figcaption>

<span class="figure-description"> Artist's impression of Cycle Superhighway 11 looking north along Avenue Road, Swiss Cottage</span>
                </figcaption>
            </figure>
        </li>
    
  </ul>
</div>
 <div>

<h2>Change of name</h2>

<p>We are combining some&nbsp;Cycle Superhighways&nbsp;and Quietways&nbsp;into one cycle network called '<a href="/modes/cycling/routes-and-maps/cycleways">Cycleways</a>'.</p>

<h2>Consultation</h2>

<p>In early 2016 we consulted on detailed proposals for the CS 11 route from Swiss Cottage to the West End.</p>

<p>The consultation received 60% support from more than 6,000 respondents, but we needed to do more to address issues raised by the borough councils and local community. These included a concern among local residents that motor traffic would increase on some minor roads.</p>

<p>Based on feedback we proposed to let motor traffic make right turns from College Crescent into Finchley Road, and from Finchley Road southbound into Hilgrove Road. Traffic modelling indicates this would reduce the amount of traffic into nearby minor roads, and also improve access for local people who want to reach destinations to the west of Swiss Cottage.</p>

<p>Buses and cyclists would be allowed to turn left from Finchley Road into College Crescent. CS11 would then run along Avenue Road, the Outer Circle of The Regent's Park, Park Crescent and Portland Place.</p>
</div>
 
      
        
          
        
      
    
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/improvements_projects" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/improvements_projects" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
      <div class="module-grid clearfix">
                    
        <div class="related-links">

    <h3>Also on this site</h3>

<div class="vertical-button-container">

<a href="/travel-information/improvements-and-projects/cycle-superhighway-4" class="plain-button">Cycleway 4</a>
<a href="/travel-information/improvements-and-projects/cycle-superhighway-9" class="plain-button">Cycleway 9</a>
    </div>
</div>
 
      </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "We are trying to re-work our plans to create a clearer, safer route for cyclists from Swiss Cottage to the West End";}
        
            
        


 