
    
  



@{ViewBag.Title = "Presentations and documents";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/travel-information/improvements-and-projects/documents-and-presentations";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/travel-information/improvements-and-projects/index">Improvements & projects</a></li>
                
            
                 <li><a href="/travel-information/improvements-and-projects/south-kensington">South Kensington station</a></li>
                
            
            
                <li><span class="last-breadcrumb">Presentations and documents</span></li>
            
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Presentations and documents</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        A working group of interested local residents groups, cultural organisations and the Royal Borough of Kensington & Chelsea - the Consultative Working Group (CWG) - helped us develop our proposals for development in and around South Kensington station.
        
      </div>
    
    <div class="on-this-page">
      
      
           
      
<div>




<h3>Development brief</h3>

<p>Over the last few years we have worked with local stakeholders on a development brief. This helped establish principles for any future development around the station.</p>

<p>The brief reflects our ambition for a respectful, high-quality development at South Kensington. Native Land used it as inspiration for their proposals, and suggested other areas which could be improved.</p>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/sks-development-brief-december-2016.pdf">
    <div class="document-download-text">
        <p>Original development brief for development around South Kensington station</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 46.30MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 46.30 -->
 
</div>

</div>
 
<div>




<h2>Public events</h2>

<p>Between March 2016 and September 2017 we ran a series of events to give as many people as possible an opportunity to comment on and help shape our proposals.</p>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/south-kensington-station-upgrade-event-boards-september-2017.pdf">
    <div class="document-download-text">
        <p>September 2017: Public drop-in session display boards</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 3.16MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 3.16 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/south-kensington-presentation-boards-july-2016.pdf">
    <div class="document-download-text">
        <p>July 2016: Public drop-in session display boards</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.72MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.72 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/sks-cwg-presentation-23-3-16-christies.pdf">
    <div class="document-download-text">
        <p>March 2016: Presentation at Christie's</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 10.82MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 10.82 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/sks-cwg-presentation-23-3-16-christies-q-and-a.pdf">
    <div class="document-download-text">
        <p>March 2016: Q&A from Christie's presentation</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 91KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.09 -->
 
</div>

</div>
 
<div>



<h2>2017 CWG minutes and presentations</h2>



<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/sks-cwg-meeting-13-minutes-20-06-17.pdf">
    <div class="document-download-text">
        <p>June 2017: CWG meeting 13 - minutes</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 166KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.16 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/sks-cwg-13-presentation-20-06-17.pdf">
    <div class="document-download-text">
        <p>June 2017: CWG meeting 13 - station upgrade proposals</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 13.36MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 13.36 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/sks-cwg-meeting-12-minutes-16-06-17.pdf">
    <div class="document-download-text">
        <p>May 2017: CWG meeting 12 - minutes</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 190KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.19 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/sks-station-upgrade-proposals-may-2017.pdf">
    <div class="document-download-text">
        <p>May 2017: CWG meeting 12 - station upgrade proposals</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 8.74MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 8.74 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/sks-cwg-meeting-11-minutes-23-03-17.pdf">
    <div class="document-download-text">
        <p>March 2017: CWG meeting 11 - minutes</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 174KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.17 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/sks-cwg-meeting-11-around-station-development-23-3-17.pdf">
    <div class="document-download-text">
        <p>March 2017: CWG meeting 11 - around station development</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 878KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.86 -->
 
</div>

</div>
 
<div>



<h2>2016 CWG minutes and presentations</h2>



<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/sks-cwg-meeting-10-minutes-12-10-16.pdf">
    <div class="document-download-text">
        <p>October 2016: CWG meeting 10 - minutes</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 197KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.19 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/sks-cwg-meeting-10-around-station-development-presentation-12-10-16.pdf">
    <div class="document-download-text">
        <p>October 2016: CWG meeting 10 - around station development</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.51MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.51 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/sks-cwg-meeting-10-around-station-development-architect-presentation-12-10-16.pdf">
    <div class="document-download-text">
        <p>October 2016: CWG meeting 10 - around station development (architect)</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 7.85MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 7.85 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/sks-cwg-meeting-9-minutes-14-9-16.pdf">
    <div class="document-download-text">
        <p>September 2016: CWG meeting 9 - minutes</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 187KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.18 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/sks-cwg-arcade-repair-update-09-16.pdf">
    <div class="document-download-text">
        <p>September 2016: CWG meeting 9 - arcade repair update</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.53MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.53 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/sks-cwg-station-upgrade-09-16.pdf">
    <div class="document-download-text">
        <p>September 2016: CWG meeting 9 - station upgrade design update</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.19MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.19 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/sks-cwg-future-retail-strategy-study-report.pdf">
    <div class="document-download-text">
        <p>September 2016: CWG meeting 9 - future retail strategy</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 9.08MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 9.08 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/sks-cwg-around-station-development-14-9-16.pdf">
    <div class="document-download-text">
        <p>September 2016: CWG meeting 9 - around station development Part 1</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 14.35MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 14.35 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/sks-cwg-around-station-development-part-2-14-9-16.pdf">
    <div class="document-download-text">
        <p>September 2016: CWG meeting 9 - around station development Part 2</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 10.91MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 10.91 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/sks-cwg-meeting-8-minutes-6-7-16.pdf">
    <div class="document-download-text">
        <p>July 2016: CWG meeting 8 minutes</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 199KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.19 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/sks-cwg-presentation-6-7-16-design-update-meeting-8.pdf">
    <div class="document-download-text">
        <p>July 2016: CWG meeting 8 - station upgrade design update</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 6.49MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 6.49 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/sks-cwg-presentation-6-7-16-future-retail-meeting-8.pdf">
    <div class="document-download-text">
        <p>July 2016: CWG meeting 8 presentation - future retail strategy</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 2.30MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 2.30 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/sks-cwg-presentation-7-7-16-meeting-8.pdf">
    <div class="document-download-text">
        <p>July 2016: CWG meeting 8 presentation - around station development</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 3.40MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 3.40 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/sks-cwg-meeting-7-minutes-15-6-16.pdf">
    <div class="document-download-text">
        <p>June 2016: CWG meeting 7 minutes</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 200KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.20 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/sks-cwg-presentation-15-6-16-meeting-7-design-udate.pdf">
    <div class="document-download-text">
        <p>June 2016: CWG meeting 7 presentation - station upgrade design update</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 6.23MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 6.23 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/sks-cwg-presentation-15-6-16-meeting-7-pelham-street-corner.pdf">
    <div class="document-download-text">
        <p>June 2016: CWG meeting 7 presentation - around station development</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 2.04MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 2.04 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/sks-cwg-meeting-6-minutes-18-05-16.pdf">
    <div class="document-download-text">
        <p>May 2016: CWG meeting 6 minutes</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 201KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.20 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/sks-cwg-presentation-18-5-2016-meeting-6-around-station.pdf">
    <div class="document-download-text">
        <p>May 2016: CWG meeting 6 presentation - around station development</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 2.00MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 2.00 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/sks-cwg-presentation-20-5-16-meeting-6.pdf">
    <div class="document-download-text">
        <p>May 2016: CWG meeting 6 presentation - station upgrade design update</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 7.95MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 7.95 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/sks-cwg-meeting-5-minutes-20-04-16.pdf">
    <div class="document-download-text">
        <p>April 2016: CWG meeting 5 minutes</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 210KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.21 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/sks-cwg-presentation-20-4-16-meeting-5-around-station.pdf">
    <div class="document-download-text">
        <p>April 2016: CWG meeting 5 presentation - around station development</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 5.56MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 5.56 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/sks-cwg-presentation-20-4-16-meeting-5.pdf">
    <div class="document-download-text">
        <p>April 2016: CWG meeting 5 presentation - station upgrade design update</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 956KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.93 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/sks-cwg-meeting-4-minutes.pdf">
    <div class="document-download-text">
        <p>February 2016: CWG meeting 4 minutes</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 193KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.19 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/sks-cwg-presentation-18-2-16-meeting-4-part-1.pdf">
    <div class="document-download-text">
        <p>February 2016: CWG meeting 4 presentation - step-free access upgrade</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 542KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.53 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/sks-cwg-presentation-18-2-16-meeting-4-part-2.pdf">
    <div class="document-download-text">
        <p>February 2016: CWG meeting 4 presentation - station upgrade</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.28MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.28 -->
 
</div>

</div>
 
<div>



<h2>2015 CWG minutes and presentations</h2>



<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/sks-swg-meeting-3-minutes.pdf">
    <div class="document-download-text">
        <p>December 2015: CWG meeting 3 minutes</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 225KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.22 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/sks-cwg-presentation-9-12-15-meeting-3.pdf">
    <div class="document-download-text">
        <p>December 2015: CWG meeting 3 presentation</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 3.86MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 3.86 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/sks-cwg-meeting-2-minutes.pdf">
    <div class="document-download-text">
        <p>October 2015: CWG meeting 2 minutes</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 178KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.17 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/sks-cwg-minutes-9-9-15-meeting-1.pdf">
    <div class="document-download-text">
        <p>September 2015: CWG meeting 1 minutes</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 183KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.18 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/sks-cwg-presentation-9-9-15-meeting-1.pdf">
    <div class="document-download-text">
        <p>September 2015: CWG meeting 1 presentation</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 10.12MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 10.12 -->
 
</div>

</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/travel-information/improvements-and-projects/south-kensington" class="heading">
                    <h2 id="sub-menu-heading">South Kensington station<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected"><div class="link-wrapper"><a href="/travel-information/improvements-and-projects/documents-and-presentations">Presentations and documents</a></div>
                            </li>
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>




















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/improvements_projects" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/improvements_projects" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "The Consultative Working Group for South Kensington meets regularly. We publish the minutes and presentations from those meetings";}
        
            
        


 