
    
  



@{ViewBag.Title = "Hammersmith Bridge";}
@{ViewBag.Keywords = "H,Hammersmith & Fulham,Richmond upon Thames,Expenditure,Freight,Roads,Buses,Coaches,Cycling,Deliveries,Driving,Motorcycle,Walking,TfL";}
@{ViewBag.Url = "/travel-information/improvements-and-projects/hammersmith-bridge";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/travel-information/improvements-and-projects/index">Improvements & projects</a></li>
                
            
            
                <li><span class="last-breadcrumb">Hammersmith Bridge</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Hammersmith Bridge</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        Hammersmith Bridge is currently closed to motorised traffic while we plan the extensive repairs needed to protect it for the future. We want to hear your views on proposals for a temporary walking and cycling bridge.
        
      </div>
    
    <div class="on-this-page">
      <p>We are supporting Hammersmith &amp; Fulham Council&nbsp;with the repairs. It's likely we will&nbsp;need to completely close the bridge to do this work as quickly and safely as possible. The Council has asked us to consider installing a temporary walking and cycling bridge to keep this essential link across the river open.</p>

<p>At the moment people are able to walk and cycle&nbsp;across&nbsp;Hammersmith Bridge, many of&nbsp;them&nbsp;heading&nbsp;to and from Tube and bus services at Hammersmith station.</p>

<p>See our <a href="/status-updates/major-works-and-events/hammersmith-bridge-closure">travel advice for Hammersmith Bridge</a>.</p>

<h2>Temporary bridge</h2>

<p>The temporary bridge we're proposing is a seven metre wide, prefabricated steel structure, supported by two piers in the river. The bridge would be step free, with a 5.5 metre-wide surface for people walking and cycling.&nbsp;Access would be&nbsp;by shallow ramps from Queen Caroline Street on the north bank and from close to the junction of Castelnau and Riverview Gardens on the south bank.</p>

<p>We will need planning permission from&nbsp;both Richmond and H&amp;F Councils to build the temporary bridge.</p>

<p>We also want to ensure that areas around the landing points of the temporary bridge are fully restored for the benefit of the local community once all the main bridge repair works have been finished and the temporary bridge has been removed.</p>

<h2>Have your say</h2>

<p>We know this proposal will attract a range of views&nbsp;- we&nbsp;want to understand these as soon as possible.</p>

<p>More details about our plans for the temporary bridge along with a feedback form will be available here from 14 March 2020.</p>

<p>We're also hosting public drop-in exhibitions&nbsp;where you can come and find out more about our proposals:</p>

<ul>
	<li>Saturday 14 March 2020, 11.00 to 15.00, Riverside Studios, Hammersmith W6 9BN</li>
	<li>Tuesday 17 March 2020, 18.00 to 21.00, Castelnau Community Centre, Barnes, SW13 9AQ.</li>
	<li>Thursday 19 March 2020, 16.00 to 20.00, Riverside Studios, Hammersmith W6 9BN</li>
	<li>Saturday 21 March 2020, 13.00 to 17.00, St Michael &amp;&nbsp;All Angels, Barnes SW13 0NX</li>
</ul>

<p>Send us your views by 23:59 on 22 March 2020 by:</p>

<ul>
	<li>Filling in our feedback form&nbsp;(available from 14 March 2020)</li>
	<li>Emailing us at <a href="mailto:HammersmithBridge&#64;tfl.gov.uk?subject=Temporary%20Hammersmith%20Bridge">HammersmithBridge&#64;tfl.gov.uk</a></li>
	<li>Or writing to us at: Freepost, TfL Feedback (no stamp required)</li>
</ul>

<p>Let us know if you want&nbsp;a paper copy of the feedback form.</p>
      
           
      
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
    <div>
















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/improvements_projects" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/improvements_projects" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
      <div class="module-grid clearfix">
                    
        <div class="related-links">

    <h3>Also on this site</h3>

<div class="vertical-button-container">

<a href="/status-updates/major-works-and-events/hammersmith-bridge-closure" class="plain-button">Hammersmith Bridge closure</a>
    </div>
</div>
 
      </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "We are working with Hammersmith & Fulham Council on plans to repair the bridge";}
        
            
        


 