
    
  



@{ViewBag.Title = "Improving accessibility";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/travel-information/improvements-and-projects/improving-accessibility";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/travel-information/improvements-and-projects/index">Improvements & projects</a></li>
                
            
                 <li><a href="/travel-information/improvements-and-projects/elizabeth-line">Elizabeth line</a></li>
                
            
            
                <li><span class="last-breadcrumb">Improving accessibility</span></li>
            
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Improving accessibility</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        When fully open, the Elizabeth line will dramatically improve access at key locations along the route.
        
      </div>
    
    <div class="on-this-page">
      <p>To  make sure most passengers can move independently through stations, all newly-built stations in the central section will have:</p>
<ul>
    <li>Marked routes</li>
    <li>Step-free access</li>
    <li>Straightforward signs and information</li>
</ul>
<p>All Elizabeth line stations will be step-free from street to platform, with level access from platform to trains at all of the new central London stations and at Heathrow and Abbey Wood.</p>
<p>The <a href="/travel-information/improvements-and-projects/new-trains">new trains</a>  are fully accessible, with four dedicated wheelchair spaces on each train close to the doors and separate from multi-use spaces for wheelchair users, buggies, luggage and bicycles. There will also be dedicated and clearly distinguished priority seats.</p>
<p>At stations on the outer sections that share tracks with other services, staff will deploy a manual boarding ramp between the platform and train.</p>
<p>The same 'turn up and go' service currently provided on the Tube and London Overground will be available for passengers who need assistance onto and off trains.</p>
      
           
      
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/travel-information/improvements-and-projects/elizabeth-line" class="heading">
                    <h2 id="sub-menu-heading">Elizabeth line<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li><div class="link-wrapper"><a href="/travel-information/improvements-and-projects/preparing-for-the-elizabeth-line">Preparing for the Elizabeth line</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/travel-information/improvements-and-projects/new-trains">New trains</a></div></li>
                            
 
                                <li class="selected"><div class="link-wrapper"><a href="/travel-information/improvements-and-projects/improving-accessibility">Improving accessibility</a></div>
                            </li>
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>




















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/improvements_projects" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/improvements_projects" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "New trains and stations on the Elizabeth line will offer better accessibility";}
        
            
        


 