
    
  



@{ViewBag.Title = "Improvements & projects";}
        <!-- empty placeholder -->
 
        
<div class="r">
    <div class="breadcrumb-container">
        <ul class="breadcrumbs clearfix">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <span class="last-breadcrumb">Improvements & projects</span>
                </li>
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container landing-page section-landing-container">
        <h1>Improvements & projects</h1>
        
    </div>
</div>
<div class="main-and-aside r">
    <div class="main">
        <div class="small-medium" data-set="widget"></div>
        <div class="primary-teaser landing-page-teaser">
            
        </div>
        
        <div class="clearfix">
            <div>


        <p>We are reinvesting our income on schemes that will affect the lives of people who live and travel in London.</p>
    
</div>
 

        <div class="clearfix">
            <div class="search-filters-wrapper">
                <script>
                    var filters = [
                        

{"Borough": ["Barking & Dagenham", "Barnet", "Bexley", "Brent", "Bromley", "Camden", "City of London", "Croydon", "Ealing", "Enfield", "Greenwich", "Hackney", "Hammersmith & Fulham", "Haringey", "Harrow", "Havering", "Hillingdon", "Hounslow", "Islington", "Kensington & Chelsea", "Kingston upon Thames", "Lambeth", "Lewisham", "Merton", "Newham", "Redbridge", "Richmond upon Thames", "Southwark", "Sutton", "Tower Hamlets", "Waltham Forest", "Wandsworth", "Westminster"]},


 

{"Category": ["Accessible travel", "Consultation", "Cycle Superhighways", "Environment", "Road Modernisation Plan", "Roads", "Safety and security", "Ticketing", "Tube improvement"]},

 
                        {}
                ];
                </script>
            </div>
        </div>

        <div class="results-list-all">
            <ul id="results-list">
                
                <li class="search-results">
                    <div class="search-result-text">
                        <a href="/travel-information/improvements-and-projects/addington-trams" >
                            <h3>Addington</h3>
                        </a>
                        <p>Due to track replacement work in the Addington area, trams will be unable to run between New Addington and Sandilands from Wednesday 22 to Friday 31 July</p>
                    </div>
                    <div class="search-tags"></div>
                </li>
                
                <li class="search-results">
                    <div class="search-result-text">
                        <a href="/travel-information/improvements-and-projects/a127-ardleigh-green-bridge" >
                            <h3>A127 Ardleigh Green Bridge</h3>
                        </a>
                        <p>Ardleigh Green Bridge is being upgraded to current highway and safety standards so it can continue to cater for traffic for years to come</p>
                    </div>
                    <div class="search-tags">Boroughs,Drivers,A,Havering,Road Modernisation Plan,Roads,Buses,Coaches,Cycling,Driving,Freight,Motorcycle,Taxis and minicabs</div>
                </li>
                
                <li class="search-results">
                    <div class="search-result-text">
                        <a href="/travel-information/improvements-and-projects/a23-and-a232-fiveways-croydon" >
                            <h3>A23/A232 Fiveways Croydon</h3>
                        </a>
                        <p>We're working with the GLA and Croydon Council to develop transport plans that will accommodate expected growth in the Fiveways area</p>
                    </div>
                    <div class="search-tags">Bus operators,Bus passengers,Coach drivers,Cyclists,Dial a Ride passengers,Drivers,Freight industry,Motorbikers,Pedestrians,Planning and construction,Taxi and private hire,Taxi passengers,A,C,F,Croydon,Road Modernisation Plan,Roads,Buses,Coaches,Cycling,Driving,Freight,Motorcycle,Taxis and minicabs</div>
                </li>
                
                <li class="search-results">
                    <div class="search-result-text">
                        <a href="/travel-information/improvements-and-projects/a316-london-road-roundabout" >
                            <h3>A316 London Road roundabout</h3>
                        </a>
                        <p>Improving the roundabout will make it easier to get to Twickenham town centre and improve journey times</p>
                    </div>
                    <div class="search-tags">Drivers,L,Richmond upon Thames,Road Modernisation Plan,Cycling,Driving</div>
                </li>
                
                <li class="search-results">
                    <div class="search-result-text">
                        <a href="/travel-information/improvements-and-projects/a406-woodford" >
                            <h3>A406 Woodford</h3>
                        </a>
                        <p>We are repairing the Nightingale Bridge on the A406 North Circular Road to ensure its reliability for many years to come</p>
                    </div>
                    <div class="search-tags">Taxi and private hire,A,W,Redbridge,Waltham Forest,Road Modernisation Plan,Buses,Coaches,Cycling,Driving,Freight,Taxis and minicabs</div>
                </li>
                
                <li class="search-results">
                    <div class="search-result-text">
                        <a href="/travel-information/improvements-and-projects/aldgate-gyratory" >
                            <h3>Aldgate gyratory </h3>
                        </a>
                        <p>Removal of the Aldgate gyratory system </p>
                    </div>
                    <div class="search-tags">A,City of London,Tower Hamlets,Road Modernisation Plan,Buses,Coaches,Driving,Freight,Motorcycle,Taxis and minicabs</div>
                </li>
                
                <li class="search-results">
                    <div class="search-result-text">
                        <a href="/travel-information/improvements-and-projects/baker-street" >
                            <h3>Baker Street</h3>
                        </a>
                        <p>We're working to develop proposals to introduce two-way traffic to Baker Street and Gloucester Place</p>
                    </div>
                    <div class="search-tags">Bus operators,Bus passengers,Coach drivers,Cyclists,Drivers,Freight industry,Motorbikers,Pedestrians,Planning and construction,Taxi and private hire,Taxi passengers,B,Westminster,Road Modernisation Plan,Roads,Buses,Coaches,Cycling,Driving,Freight,Motorcycle</div>
                </li>
                
                <li class="search-results">
                    <div class="search-result-text">
                        <a href="/travel-information/improvements-and-projects/bank-and-monument" >
                            <h3>Bank & Monument</h3>
                        </a>
                        <p>By 2021 the interlinked stations of Bank and Monument will feature several new escalators, a new station entrance and more room for Northern line passengers</p>
                    </div>
                    <div class="search-tags">Public,Tube passengers,B,M,City of London,Tube improvement,Tube</div>
                </li>
                
                <li class="search-results">
                    <div class="search-result-text">
                        <a href="/travel-information/improvements-and-projects/bond-street" >
                            <h3>Bond Street</h3>
                        </a>
                        <p>Bond Street station is undergoing a major redevelopment to increase capacity and improve accessibility by 2017, and to create an interchange with Crossrail</p>
                    </div>
                    <div class="search-tags">Public,Tube passengers,B,Westminster,Tube improvement,Crossrail,Tube</div>
                </li>
                
                <li class="search-results">
                    <div class="search-result-text">
                        <a href="/travel-information/improvements-and-projects/bow-roundabout" >
                            <h3>Bow roundabout</h3>
                        </a>
                        <p>Cycle early-starts are being used to make Bow roundabout safer for cyclists</p>
                    </div>
                    <div class="search-tags">Cyclists,Public,B,Newham,Tower Hamlets,Road Modernisation Plan,Roads,Cycling</div>
                </li>
                
                <li class="search-results">
                    <div class="search-result-text">
                        <a href="/travel-information/improvements-and-projects/brent-cross-cricklewood-regeneration" >
                            <h3>Brent Cross Cricklewood</h3>
                        </a>
                        <p>The Brent Cross Cricklewood regeneration sets out a new network of streets and spaces in and around the area to improve retail, dining and leisure</p>
                    </div>
                    <div class="search-tags">Businesses,Cyclists,Drivers,Pedestrians,B,C,Barnet,Brent,Camden,Road Modernisation Plan,Roads,Buses,Coaches,Cycling,Driving,Freight,Motorcycle,Taxis and minicabs,Walking</div>
                </li>
                
                <li class="search-results">
                    <div class="search-result-text">
                        <a href="/travel-information/improvements-and-projects/camden-high-street" >
                            <h3>Camden High Street</h3>
                        </a>
                        <p>We are working with Camden Council and Camden Town Unlimited BID to regenerate the area, including Camden High Street (north) and Britannia junction</p>
                    </div>
                    <div class="search-tags">Bus operators,Bus passengers,Coach drivers,Cyclists,Dial a Ride passengers,Drivers,Freight industry,Motorbikers,Pedestrians,Planning and construction,Taxi and private hire,Taxi passengers,C,Camden,Road Modernisation Plan,Roads,Cycling,Driving</div>
                </li>
                
                <li class="search-results">
                    <div class="search-result-text">
                        <a href="/travel-information/improvements-and-projects/central-london-cycling-grid" >
                            <h3>Central London cycling grid</h3>
                        </a>
                        <p>The Central London grid is a set of safer, connected routes for cyclists across central London</p>
                    </div>
                    <div class="search-tags">Cyclists,C,Camden,City of London,Hackney,Islington,Kensington & Chelsea,Lambeth,Southwark,Tower Hamlets,Westminster,Consultation,Cycling</div>
                </li>
                
                <li class="search-results">
                    <div class="search-result-text">
                        <a href="/travel-information/improvements-and-projects/clean-air-fund" >
                            <h3>Clean Air Fund</h3>
                        </a>
                        <p>The &pound;5m Clean Air Fund has allowed TfL to introduce a range of innovative and targeted measures to tackle traffic emissions</p>
                    </div>
                    <div class="search-tags">Drivers,Public,C,Environment,Buses,Driving</div>
                </li>
                
                <li class="search-results">
                    <div class="search-result-text">
                        <a href="/travel-information/improvements-and-projects/crossrail" >
                            <h3>Crossrail</h3>
                        </a>
                        <p>The central section of Crossrail is expected to be complete by the end of 2018 </p>
                    </div>
                    <div class="search-tags">Public,Rail passengers,Tube passengers,C,Crossrail,Rail</div>
                </li>
                
                <li class="search-results">
                    <div class="search-result-text">
                        <a href="/travel-information/improvements-and-projects/croxley-rail-link" >
                            <h3>Croxley Rail Link</h3>
                        </a>
                        <p>We are working with Hertfordshire County Council to extend the Metropolitan line to Watford Junction</p>
                    </div>
                    <div class="search-tags">Public,Tube passengers,C,Rail,Tube</div>
                </li>
                
                <li class="search-results">
                    <div class="search-result-text">
                        <a href="/travel-information/improvements-and-projects/cycle-superhighway-1" >
                            <h3>Cycle Superhighway 1</h3>
                        </a>
                        <p>Cycle Superhighway 1 (CS1) will run between White Hart Lane in Tottenham and Liverpool Street Station </p>
                    </div>
                    <div class="search-tags">Cyclists,Drivers,C,S,Cycle Superhighways,Road Modernisation Plan,Cycling</div>
                </li>
                
                <li class="search-results">
                    <div class="search-result-text">
                        <a href="/travel-information/improvements-and-projects/cycle-superhighway-2-upgrade" >
                            <h3>Cycle Superhighway 2 upgrade </h3>
                        </a>
                        <p>We are improving Cycle Superhighway Route 2 (CS2) between Aldgate and Bow Roundabout by introducing segregated cycle tracks and new junctions to separate cyclists from traffic</p>
                    </div>
                    <div class="search-tags">Bus passengers,Cyclists,Drivers,Pedestrians,Public,C,S,Tower Hamlets,Cycle Superhighways,Road Modernisation Plan,Roads,Cycling,Driving</div>
                </li>
                
                <li class="search-results">
                    <div class="search-result-text">
                        <a href="/travel-information/improvements-and-projects/cycle-superhighway-5" >
                            <h3>Cycle Superhighway 5</h3>
                        </a>
                        <p>We are extending Cycle Superhighway 5 (CS5) from Oval to Pimlico via the Vauxhall gyratory with a segregated cycle lane</p>
                    </div>
                    <div class="search-tags">C,S,City of London,Lambeth,Tower Hamlets,Westminster,Cycle Superhighways,Freight,Road Modernisation Plan,Roads,Buses,Coaches,Cycling,Driving,Freight,Motorcycle,Taxis and minicabs,Walking</div>
                </li>
                
                <li class="search-results">
                    <div class="search-result-text">
                        <a href="/travel-information/improvements-and-projects/cycle-superhighway-east-west" >
                            <h3>East-West Cycle Superhighway</h3>
                        </a>
                        <p>The East-West Cycle Superhighway will run through central London - from Westbourne Terrace to Tower Hill</p>
                    </div>
                    <div class="search-tags">C,E,S,City of London,Tower Hamlets,Westminster,Cycle Superhighways,Road Modernisation Plan,Buses,Coaches,Cycling,Driving,Freight,Motorcycle,Taxis and minicabs,Walking</div>
                </li>
                
                <li class="search-results">
                    <div class="search-result-text">
                        <a href="/travel-information/improvements-and-projects/elephant-and-castle" >
                            <h3>Elephant & Castle</h3>
                        </a>
                        <p>The Elephant & Castle area is the focus of one of London's biggest regeneration projects.</p>
                    </div>
                    <div class="search-tags">Bus operators,Cyclists,Drivers,Freight industry,Pedestrians,Tube passengers,E,Southwark,Road Modernisation Plan,Roads,Buses,Cycling,Driving,Freight,Tube,Walking</div>
                </li>
                
                <li class="search-results">
                    <div class="search-result-text">
                        <a href="/travel-information/improvements-and-projects/finsbury-park" >
                            <h3>Finsbury Park</h3>
                        </a>
                        <p>Work at Finsbury Park Tube station will improve accessibility and security, reduce congestion and help speed up journeys. The project is due to finish in 2019</p>
                    </div>
                    <div class="search-tags">Boroughs,Tube passengers,F,Hackney,Haringey,Islington,Accessible travel,Tube improvement,Tube</div>
                </li>
                
                <li class="search-results">
                    <div class="search-result-text">
                        <a href="/travel-information/improvements-and-projects/fore-street-tunnel" >
                            <h3>Fore Street Tunnel</h3>
                        </a>
                        <p>Work to upgrade the Fore Street Tunnel in north London will begin on 19 May, helping to keep it safe and fully functional for the 60,000 vehicles that travel through it every day</p>
                    </div>
                    <div class="search-tags">F,Enfield,Road Modernisation Plan,Roads,Coaches,Driving,Freight,Motorcycle,Taxis and minicabs</div>
                </li>
                
                <li class="search-results">
                    <div class="search-result-text">
                        <a href="/travel-information/improvements-and-projects/future-streets-incubator" >
                            <h3>Future Streets Incubator</h3>
                        </a>
                        <p>Streets and public spaces across the Capital are being transformed with funding from the &pound;1.8m Future Streets Incubator</p>
                    </div>
                    <div class="search-tags">Cyclists,Drivers,Motorbikers,Pedestrians,Planning and construction,Schools and young people,F,Bromley,Camden,Ealing,Islington,Richmond upon Thames,Southwark,Westminster,Safety and security,Cycling,Driving,Motorcycle,Walking</div>
                </li>
                
                <li class="search-results">
                    <div class="search-result-text">
                        <a href="/travel-information/improvements-and-projects/greenwich-power-station" >
                            <h3>Greenwich Power Station</h3>
                        </a>
                        <p>We hope to install up to six new gas engines in Greenwich Power Station's Old Turbine Hall to provide a steady source of low carbon power for the Tube as well as nearby schools and homes</p>
                    </div>
                    <div class="search-tags">Boroughs,Businesses,Tube passengers,G,Greenwich,Boroughs,Environment,Tube</div>
                </li>
                
                <li class="search-results">
                    <div class="search-result-text">
                        <a href="/travel-information/improvements-and-projects/hammersmith-flyover" >
                            <h3>Hammersmith flyover</h3>
                        </a>
                        <p>By summer 2015 we will have strengthened Hammersmith flyover and added a new carriageway drainage system</p>
                    </div>
                    <div class="search-tags">Boroughs,Bus operators,Bus passengers,Coach drivers,Drivers,Freight industry,Motorbikers,Taxi and private hire,Taxi passengers,H,Hammersmith & Fulham,Hounslow,Road Modernisation Plan,Roads,Buses,Coaches,Driving,Freight,Motorcycle,Taxis and minicabs</div>
                </li>
                
                <li class="search-results">
                    <div class="search-result-text">
                        <a href="/travel-information/improvements-and-projects/highbury-and-islington" >
                            <h3>Highbury Corner</h3>
                        </a>
                        <p>At Highbury Corner we are replacing the bridge over the rail line and removing the Highbury Corner gyratory system</p>
                    </div>
                    <div class="search-tags">H,Islington,Road Modernisation Plan,Roads,Buses,Coaches,Cycling,Driving,Freight,Motorcycle,Taxis and minicabs</div>
                </li>
                
                <li class="search-results">
                    <div class="search-result-text">
                        <a href="/travel-information/improvements-and-projects/hogarth-flyover" >
                            <h3>Hogarth flyover</h3>
                        </a>
                        <p>We are upgrading the pedestrian subways near the Hogarth roundabout </p>
                    </div>
                    <div class="search-tags">Boroughs,Businesses,Drivers,Freight industry,Public,Taxi and private hire,H,Hammersmith & Fulham,Hounslow,Road Modernisation Plan,Roads,Buses,Coaches,Driving,Freight,Motorcycle,Taxis and minicabs</div>
                </li>
                
                <li class="search-results">
                    <div class="search-result-text">
                        <a href="/travel-information/improvements-and-projects/kings-cross-and-euston-road" >
                            <h3>King's Cross & Euston Road</h3>
                        </a>
                        <p>We are reviewing the road network in the King's Cross and Euston Road area to make it safer for all road users</p>
                    </div>
                    <div class="search-tags">Cyclists,Drivers,Pedestrians,E,K,Camden,Islington,Road Modernisation Plan,Roads,Cycling,Driving,Walking</div>
                </li>
                
                <li class="search-results">
                    <div class="search-result-text">
                        <a href="/travel-information/improvements-and-projects/langthorne-road-footbridge" >
                            <h3>Langthorne Road footbridge</h3>
                        </a>
                        <p>Refurbishment works on Langthorne Road footbridge should be finished by late June 2015</p>
                    </div>
                    <div class="search-tags">L,Waltham Forest,Road Modernisation Plan,Cycling,Walking</div>
                </li>
                
                <li class="search-results">
                    <div class="search-result-text">
                        <a href="/travel-information/improvements-and-projects/london-bridge-rail-station" >
                            <h3>London Bridge rail station</h3>
                        </a>
                        <p>The redevelopment of London Bridge railway station will allow longer trains and more frequent services</p>
                    </div>
                    <div class="search-tags">Rail passengers,L,Southwark,Rail</div>
                </li>
                
                <li class="search-results">
                    <div class="search-result-text">
                        <a href="/travel-information/improvements-and-projects/london-overground-capacity" >
                            <h3>London Overground capacity</h3>
                        </a>
                        <p>Most London Overground trains will grow from four to five cars starting at the end of 2014</p>
                    </div>
                    <div class="search-tags">London Overground passengers,Public,L,O,London Overground</div>
                </li>
                
                <li class="search-results">
                    <div class="search-result-text">
                        <a href="/travel-information/improvements-and-projects/cycle-mini-hollands" >
                            <h3>Mini-Hollands </h3>
                        </a>
                        <p>The mini-Hollands programme will give outer-London boroughs the funding to transform local cycling facilities</p>
                    </div>
                    <div class="search-tags">Boroughs,Cyclists,Planning and construction,M,Enfield,Kingston upon Thames,Waltham Forest,Cycling</div>
                </li>
                
                <li class="search-results">
                    <div class="search-result-text">
                        <a href="/travel-information/improvements-and-projects/nags-head-gyratory" >
                            <h3>Nags Head gyratory</h3>
                        </a>
                        <p>Removing the Nags Head gyratory will improve safety for all road users</p>
                    </div>
                    <div class="search-tags">Drivers,N,Islington,Road Modernisation Plan,Roads,Driving</div>
                </li>
                
                <li class="search-results">
                    <div class="search-result-text">
                        <a href="/travel-information/improvements-and-projects/northern-line-extension" >
                            <h3>Northern line extension</h3>
                        </a>
                        <p>We are proposing to extend the Northern line to Nine Elms and Battersea</p>
                    </div>
                    <div class="search-tags">Tube passengers,N,Wandsworth,Consultation,Tube improvement,Tube</div>
                </li>
                
                <li class="search-results">
                    <div class="search-result-text">
                        <a href="/travel-information/improvements-and-projects/cycle-superhighway-north-south" >
                            <h3>North-South Cycle Superhighway</h3>
                        </a>
                        <p>This mainly segregated cycle route will run between Elephant & Castle and King's Cross</p>
                    </div>
                    <div class="search-tags">Bus operators,Bus passengers,Coach drivers,Cyclists,Dial a Ride passengers,Drivers,Freight industry,Motorbikers,Pedestrians,Planning and construction,Taxi and private hire,Taxi passengers,C,N,S,Camden,City of London,Southwark,Cycle Superhighways,Freight,Road Modernisation Plan,Roads,Buses,Coaches,Cycling,Driving,Freight,Motorcycle,Taxis and minicabs,Walking</div>
                </li>
                
                <li class="search-results">
                    <div class="search-result-text">
                        <a href="/travel-information/improvements-and-projects/old-street-roundabout" >
                            <h3>Old Street roundabout</h3>
                        </a>
                        <p>We are working on proposals to make the Old Street area a more pedestrian and cycle-friendly environment </p>
                    </div>
                    <div class="search-tags">Cyclists,Drivers,Pedestrians,O,Hackney,Islington,Road Modernisation Plan,Roads,Cycling,Driving,Walking</div>
                </li>
                
                <li class="search-results">
                    <div class="search-result-text">
                        <a href="/travel-information/improvements-and-projects/oval-triangle" >
                            <h3>Oval triangle</h3>
                        </a>
                        <p>We plan to redesign four junctions around Oval station to make the area safer for cyclists and other road users</p>
                    </div>
                    <div class="search-tags">Boroughs,Bus operators,Bus passengers,Businesses,Coach drivers,Cyclists,Dial a Ride passengers,Drivers,Freight industry,Motorbikers,Pedestrians,Planning and construction,Taxi and private hire,Taxi passengers,O,Lambeth,Road Modernisation Plan,Roads,Buses,Coaches,Cycling,Driving,Freight,Motorcycle,Taxis and minicabs</div>
                </li>
                
                <li class="search-results">
                    <div class="search-result-text">
                        <a href="/travel-information/improvements-and-projects/pedestrian-countdown" >
                            <h3>Pedestrian Countdown</h3>
                        </a>
                        <p>We are installing Pedestrian Countdown at around 200 sites across London</p>
                    </div>
                    <div class="search-tags">Pedestrians,P,Driving,Walking</div>
                </li>
                
                <li class="search-results">
                    <div class="search-result-text">
                        <a href="/travel-information/improvements-and-projects/power-road-bridge" >
                            <h3>Power Road Bridge </h3>
                        </a>
                        <p>Power Road Bridge is being upgraded to make it safer for road users and improve access for cyclists and pedestrians</p>
                    </div>
                    <div class="search-tags">Boroughs,Drivers,P,Hounslow,Boroughs,Road Modernisation Plan,Roads,Buses,Coaches,Cycling,Driving,Freight,Motorcycle,Taxis and minicabs</div>
                </li>
                
                <li class="search-results">
                    <div class="search-result-text">
                        <a href="/travel-information/improvements-and-projects/quietways" >
                            <h3>Quietways</h3>
                        </a>
                        <p>We are working to deliver a programme of Quietway cycle routes across Greater London by 2022. </p>
                    </div>
                    <div class="search-tags">Boroughs,Cyclists,Q,Brent,Camden,City of London,Croydon,Greenwich,Hackney,Islington,Lambeth,Lewisham,Merton,Newham,Redbridge,Southwark,Tower Hamlets,Waltham Forest,Wandsworth,Westminster,Cycling</div>
                </li>
                
                <li class="search-results">
                    <div class="search-result-text">
                        <a href="/travel-information/improvements-and-projects/road-modernisation-plan" >
                            <h3>Road Modernisation Plan</h3>
                        </a>
                        <p>As part of the Road Modernisation Plan we are investing more than &pound;4 billion to improve London's roads, the biggest investment in a generation</p>
                    </div>
                    <div class="search-tags">Businesses,Cyclists,Pedestrians,Taxi and private hire,R,Barking & Dagenham,Barnet,Bexley,Brent,Bromley,Camden,City of London,Croydon,Ealing,Enfield,Greenwich,Hackney,Hammersmith & Fulham,Haringey,Harrow,Havering,Hillingdon,Hounslow,Islington,Kensington & Chelsea,Kingston upon Thames,Lambeth,Lewisham,Merton,Newham,Redbridge,Richmond upon Thames,Southwark,Sutton,Tower Hamlets,Waltham Forest,Wandsworth,Westminster,Road Modernisation Plan,Roads,Buses,Coaches,Cycling,Driving,Freight,Motorcycle,Taxis and minicabs,Walking</div>
                </li>
                
                <li class="search-results">
                    <div class="search-result-text">
                        <a href="/travel-information/improvements-and-projects/route-25-engagement-trial" >
                            <h3>Route 25 engagement trial</h3>
                        </a>
                        <p>TfL is working with the Metropolitan Police Service (MPS) and the City of London Police to trial a number of engagement measures throughout 2015, and see how they make people feel while travelling in London. </p>
                    </div>
                    <div class="search-tags">Bus operators,Bus passengers,R,Research,Safety and security,Buses</div>
                </li>
                
                <li class="search-results">
                    <div class="search-result-text">
                        <a href="/travel-information/improvements-and-projects/silvertown-tunnel" >
                            <h3>Silvertown Tunnel</h3>
                        </a>
                        <p>We're developing proposals for a new road tunnel under the Thames linking the Greenwich Peninsula and Silvertown. </p>
                    </div>
                    <div class="search-tags">Bus operators,Coach drivers,Drivers,Freight industry,Planning and construction,Suppliers,S,Greenwich,Newham,Consultation,Freight,Coaches,Driving,Freight</div>
                </li>
                
                <li class="search-results">
                    <div class="search-result-text">
                        <a href="/travel-information/improvements-and-projects/south-kensington" >
                            <h3>South Kensington</h3>
                        </a>
                        <p>We are developing ideas with the Royal Borough of Kensington & Chelsea to reduce congestion and improve access at the station</p>
                    </div>
                    <div class="search-tags">Public,Tube passengers,K,S,Kensington & Chelsea,Tube improvement,Tube</div>
                </li>
                
                <li class="search-results">
                    <div class="search-result-text">
                        <a href="/travel-information/improvements-and-projects/step-free-access" >
                            <h3>Step-free access</h3>
                        </a>
                        <p>We are adding step-free access to more Tube and London Overground stations.</p>
                    </div>
                    <div class="search-tags">London Overground passengers,Public,Tube passengers,S,Accessible travel,Tube improvement,Crossrail,London Overground,Tube</div>
                </li>
                
                <li class="search-results">
                    <div class="search-result-text">
                        <a href="/travel-information/improvements-and-projects/tottenham-court-road" >
                            <h3>Tottenham Court Road</h3>
                        </a>
                        <p>The station will be fully upgraded by 2016, ready for a jump in passenger numbers when Crossrail opens in 2018</p>
                    </div>
                    <div class="search-tags">Public,Tube passengers,T,Westminster,Tube improvement,Crossrail,Driving,Tube,Walking</div>
                </li>
                
                <li class="search-results">
                    <div class="search-result-text">
                        <a href="/travel-information/improvements-and-projects/tottenham-hale" >
                            <h3>Tottenham Hale</h3>
                        </a>
                        <p>Work to make the area's traffic system more accessible will be finished by December 2014</p>
                    </div>
                    <div class="search-tags">Cyclists,Drivers,Pedestrians,T,Haringey,Tube improvement,Buses,Cycling,Driving</div>
                </li>
                
                <li class="search-results">
                    <div class="search-result-text">
                        <a href="/travel-information/improvements-and-projects/upper-holloway-bridge" >
                            <h3>Upper Holloway Bridge</h3>
                        </a>
                        <p>We will be replacing the bridge carrying the A1 by Upper Holloway Station. </p>
                    </div>
                    <div class="search-tags">Bus operators,Bus passengers,Drivers,Pedestrians,Taxi and private hire,U,Islington,Road Modernisation Plan,Roads,Buses,Cycling,Driving,Freight,Motorcycle,Walking</div>
                </li>
                
                <li class="search-results">
                    <div class="search-result-text">
                        <a href="/travel-information/improvements-and-projects/vauxhall-gyratory" >
                            <h3>Vauxhall Cross gyratory</h3>
                        </a>
                        <p>We are currently working through proposals with Lambeth Council for the transformation of Vauxhall Cross</p>
                    </div>
                    <div class="search-tags">Cyclists,Drivers,Pedestrians,V,Lambeth,Environment,Road Modernisation Plan,Roads,Buses,Cycling,Driving,Freight,Motorcycle,Walking</div>
                </li>
                
                <li class="search-results">
                    <div class="search-result-text">
                        <a href="/travel-information/improvements-and-projects/victoria" >
                            <h3>Victoria</h3>
                        </a>
                        <p>The ongoing project to improve Victoria Station will wrap up in 2018</p>
                    </div>
                    <div class="search-tags">Public,Tube passengers,V,Westminster,Tube improvement,Tube</div>
                </li>
                
                <li class="search-results">
                    <div class="search-result-text">
                        <a href="/travel-information/improvements-and-projects/victoria-line-engineering-work" >
                            <h3>Victoria line engineering work</h3>
                        </a>
                        <p>The Victoria line between Seven Sisters and Walthamstow will close in August 2015 for engineering work</p>
                    </div>
                    <div class="search-tags">V,Tube improvement,Tube</div>
                </li>
                
                <li class="search-results">
                    <div class="search-result-text">
                        <a href="/travel-information/improvements-and-projects/wandsworth-gyratory" >
                            <h3>Wandsworth gyratory</h3>
                        </a>
                        <p>Redevelopment work with Wandsworth Council plan to regenerate the Nine Elms quarter</p>
                    </div>
                    <div class="search-tags">Cyclists,Drivers,Pedestrians,W,Wandsworth,Environment,Road Modernisation Plan,Roads,Buses,Coaches,Cycling,Driving,Freight,Motorcycle,Taxis and minicabs,Walking</div>
                </li>
                
                <li class="search-results">
                    <div class="search-result-text">
                        <a href="/travel-information/improvements-and-projects/waterloo-imax-roundabout" >
                            <h3>Waterloo IMAX roundabout</h3>
                        </a>
                        <p>The Waterloo station area is set for a huge transformation, delivering new homes, offices and better public spaces</p>
                    </div>
                    <div class="search-tags">Cyclists,Pedestrians,Rail passengers,W,Lambeth,Road Modernisation Plan,Roads,Buses,Coaches,Cycling,Driving,Freight,Motorcycle,Rail,Taxis and minicabs,Walking</div>
                </li>
                
                <li class="search-results">
                    <div class="search-result-text">
                        <a href="/travel-information/improvements-and-projects/west-croydon-bus-station" >
                            <h3>West Croydon bus station</h3>
                        </a>
                        <p>We're building a new bus station at West Croydon with an improved layout, more room for our customers and better accessibility </p>
                    </div>
                    <div class="search-tags">Bus operators,Bus passengers,London Overground passengers,Planning and construction,Rail passengers,Tram passengers,C,W,Croydon,Buses,London Overground,Rail,Trams</div>
                </li>
                
                <li class="search-results">
                    <div class="search-result-text">
                        <a href="/travel-information/improvements-and-projects/westminster-bridge-road" >
                            <h3>Westminster Bridge Road</h3>
                        </a>
                        <p>We aim to provide high quality facilities for cyclists as well as make improvements for pedestrians </p>
                    </div>
                    <div class="search-tags">W,Lambeth,Westminster,Road Modernisation Plan,Roads,Buses,Coaches,Cycling,Driving,Freight,Motorcycle,Taxis and minicabs,Walking</div>
                </li>
                
                <li class="search-results">
                    <div class="search-result-text">
                        <a href="/travel-information/improvements-and-projects/wimbledon-line-enhancement" >
                            <h3>Wimbledon line enhancement programme</h3>
                        </a>
                        <p>The Wimbledon Line Enhancement Programme is a &pound;30 million scheme that will increase the capacity of the Tram network by 50 per cent</p>
                    </div>
                    <div class="search-tags">Tram passengers,C,T,W,Croydon,Merton,Sutton,Trams</div>
                </li>
                
                <li class="search-results">
                    <div class="search-result-text">
                        <a href="/travel-information/improvements-and-projects/wood-green" >
                            <h3>Wood Green</h3>
                        </a>
                        <p>Haringey Council is carrying out improvement works at Wood Green town centre as part of a scheme to improve Wood Green's public spaces.</p>
                    </div>
                    <div class="search-tags">Bus passengers,Drivers,Pedestrians,Public,W,Haringey,Buses,Driving,Walking</div>
                </li>
                
                <li class="search-results">
                    <div class="search-result-text">
                        <a href="/travel-information/improvements-and-projects/woodlands-wall" >
                            <h3>Woodlands retaining wall</h3>
                        </a>
                        <p>We're carrying out work to restore Woodlands retaining wall, located on the A406 North Circular</p>
                    </div>
                    <div class="search-tags">W,Barnet,Road Modernisation Plan,Roads,Buses,Coaches,Cycling,Driving,Freight,Motorcycle,Taxis and minicabs,Walking</div>
                </li>
                
                <li class="search-results">
                    <div class="search-result-text">
                        <a href="/travel-information/improvements-and-projects/woolwich-ferry-upgrade" >
                            <h3>Woolwich Ferry upgrade</h3>
                        </a>
                        <p>Upgrade work on the Woolwich Ferry will extend the life of the service for years to come</p>
                    </div>
                    <div class="search-tags">Drivers,River passengers,W,Greenwich,Newham,Driving,River</div>
                </li>
                
            </ul>
        </div>

         <div id="search-results-pagination">
            <div class="results-wrapper">
                <ul id="pagination-items">
                 
                </ul>
            </div>
        </div>


 
        </div>
        <div class="module-grid clearfix">
            
        </div>
    </div>
    <div class="aside">
        <div class="large" data-set="widget">
            <div class="moving-source-order">
            
            </div>
        </div>
        <div class="module-grid">
            












<div class="advert-tile unsponsored-style google-ads">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/3595/TFL/Improvements_projects" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/3595/TFL/Improvements_projects" data-advert-sizes="300, 250|300, 600"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 
            <div class="news-teaser tube">

    <a href="/campaign/tube-improvements?intcmp=1251" >
        <img src="/cdn/static/cms/images/promos/tube-wifi-campaign-graphic_rdax_400x200.jpg" alt="Tube WiFi campaign graphic" />
        
        <div class="text-link">
             <h2>Improving the Tube</h2>
            <p>Find out about improvements like WiFi - now in 150 stations</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="/travel-information/improvements-and-projects/london-bridge-rail-station?intcmp=10656" >
        
        
        <div class="text-link">
             <h2>London Bridge rail station</h2>
            <p>London Bridge Tube station will stay open while the rail station is transformed</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="/travel-information/improvements-and-projects/road-modernisation-plan?intcmp=21851" >
        
        
        <div class="text-link">
             <h2>Road Modernisation Plan</h2>
            <p>We're investing more than &pound;4 billion to improve London's roads</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="/travel-information/improvements-and-projects/bank-and-monument?intcmp=1219" >
        
        
        <div class="text-link">
             <h2>Bank and Monument</h2>
            <p>We're asking for permission to make big changes at Bank station</p>
        </div>
    </a>
</div>
 
 
        </div>
    </div>
    <div class="small-medium" data-set="content">&nbsp;</div>
</div>
 


 