
    
  



@{ViewBag.Title = "King's Cross and Euston Road";}
@{ViewBag.Keywords = "E,K,Westminster,Roads,Cycling,Driving,Walking,TfL";}
@{ViewBag.Url = "/travel-information/improvements-and-projects/kings-cross-and-euston-road";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/travel-information/improvements-and-projects/index">Improvements & projects</a></li>
                
            
            
                <li><span class="last-breadcrumb">King's Cross and Euston Road</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>King's Cross and Euston Road</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        We're working with the boroughs of Camden and Islington on projects that will transform the King's Cross and Euston Road areas, and help to meet the growing demand for space prompted by other changes in the area.<BR>
        
      </div>
    
    <div class="on-this-page">
      <p>If our proposals for Euston Road and the King's Cross area are supported, and subject to approval including coordination with HS2, work could begin on site in 2019.</p>

<p>We aim to:</p>

<ul>
	<li>Accommodate planned growth and support an expected increase in footfall</li>
	<li>Improve safety for all road users, particularly pedestrians and cyclists</li>
	<li>Better balance the impact of traffic with the need to create an improved place to live, work and visit</li>
	<li>Improve cycling facilities throughout the area and support new cycle routes</li>
	<li>Make it easier for pedestrians to move through the area and access public transport</li>
	<li>Provide appropriate facilities for taxis, private hire vehicles, coaches and freight</li>
	<li>Maintain high quality bus routes in the area while balancing overall traffic demand</li>
	<li>Improve local air quality and street environment</li>
</ul>

<h2>What we are planning</h2>

<p>We are now working on a scheme to:</p>

<ul>
	<li>Improve the environment for pedestrians and cyclists</li>
	<li>Better connect the communities to the north and south of Euston Road</li>
	<li>Identify a way to remove the King's Cross gyratory systems</li>
	<li>Change the way people use and move around the King's Cross area</li>
</ul>

<p>Changes are aimed at simplifying the local road network for all road users. They would:</p>

<ul>
	<li>Improve the quality of the footpath on both sides of Euston Road to encourage more people to walk between Euston and Kings Cross stations</li>
	<li>Support essential traffic movement - vital as London's economy and population continue to grow</li>
	<li>Introduce two-way traffic on many of the roads that are currently one-way. This would reduce the length of some motor vehicle and cycle journeys</li>
	<li>Reduce motor traffic on some (mostly residential) streets to improve the local environment. This would benefit residents, pedestrians and cyclists</li>
	<li>Provide new and improved pedestrian crossings at key junctions</li>
	<li>Improve the local cycle network by adding new cycle facilities. These could include contra-flow cycle lanes on remaining one-way roads as well as new cycle crossings at key junctions</li>
</ul>

<p>The scope of our study area includes these roads:</p>

<ul>
</ul>
      
           
      
<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap landscape-download-image with-image pdfpdf" href="/cdn/static/cms/documents/kings-cross-existing-traffic-map.pdf">
    <div class="document-download-text">
        <p>King's Cross existing traffic map</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 244KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

    <div class="document-download-image">
        <img src="/cdn/static/cms/images/kings-cross-traffic-map-detail.jpg" alt="Detail of King's Cross traffic map" />
    </div>

</a>

<!-- 0.24 -->
 
</div>
<h2>Completed safety improvements </h2>
<p>We began work to improve road safety for cyclists in 2015. Cyclists now benefit from segregated facilities on some approaches to and from the Euston Road/York Way junction, and a safer north-south controlled cycle crossing at the junction.</p>
<p>We also:</p>
<ul>
    <li>Changed road markings to improve the position of vehicles when approaching the Euston Road cycle segregation and help make cyclists more visible in the cycle lane</li>
    <li>Added another reflective post on the segregation island on Euston Road and Birkenhead Street</li>
    <li>Created clearer road markings to guide pedestrians and cyclists to the crossings they should use</li>
</ul>
<p>We are continuing to monitor the area to assess the scheme's effectiveness.</p>
<h2>2016 consultation report</h2>
<p>We consulted on high level plans to transform King's Cross in February-March 2016. Our consultation report is on the <a href="https://consultations.tfl.gov.uk/roads/kings-cross-gyratory?cid=kings-cross-gyratory">King's Cross gyratory consultation page</a>.</p>
</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/improvements_projects" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/improvements_projects" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
      <div class="module-grid clearfix">
                    
        <div>
    
    <div class="contact-info-box">
        <div class="contact-info-header">
            <h3>Contact us</h3>
        </div>
        
        
            
        
        
            
                
                 
        
        
        
        <div class="content-group">
            <p>
                <abbr title="Telephone number">Call</abbr>&nbsp;<a href="/corporate/terms-and-conditions/tfl-call-charges">Charges apply</a><br />
                0343 222 1234
            </p>
        </div>
        
        
        
        <div class="content-group">
            <p>
                <abbr title="Address">Write</abbr>
            </p>
            Email <a href="mailto:consultations&#64;tfl.gov.uk">consultations&#64;tfl.gov.uk</a><br />
<br />
<strong>Contact us if you have questions or comments about the scheme.</strong><br />
        </div>
        
        
    </div>
</div>
 <div class="related-links">

    <h3>Also on this site</h3>

<div class="vertical-button-container">

<a href="/campaign/tube-improvements" class="plain-button">Tube improvement</a>
    </div>
</div>
 
      </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Our proposals for the road network in the King's Cross and Euston Road area would make it safer for all road users";}
        
            
        


 