
    
  



@{ViewBag.Title = "Knightsbridge";}
@{ViewBag.Keywords = "K,Kensington and Chelsea,Westminster,Tube improvement,Tube,TfL";}
@{ViewBag.Url = "/travel-information/improvements-and-projects/knightsbridge";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/travel-information/improvements-and-projects/index">Improvements & projects</a></li>
                
            
            
                <li><span class="last-breadcrumb">Knightsbridge</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Knightsbridge</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        Knightsbridge Tube station will have step-free access by summer 2021, reached by a new entrance at Hooper's Court.
        
      </div>
    
    
      <p>Three new lifts will make the station step-free from street level to platform. People will be able to use boarding ramps on both platforms to get onto Piccadilly line trains step free.</p>

<p>A second new entrance will open at 15 Brompton Road by autumn 2020, replacing the former entrance on the corner of Sloane Street and Brompton Road. The pavement on Brompton Road and Sloane Street will be widened, making more room for pedestrians.</p>

<h2>Works at the station</h2>

<p><a href="http://www.knightsbridge-estate.com/">The Knightsbridge Estate</a> was granted permission to redevelop the space above Knightsbridge Tube station in 2016. This includes modernising the office, retail and residential space inside.</p>

<p>Working with the Knightsbridge Estate team, we began preparatory works (including scaffolding) around the Tube station entrance at 1 Brompton Road in 2017. This entrance on the corner of Sloane Street and Brompton Road was closed.</p>

<p>That space will be changed into a retail unit, and the shop fronts on this stretch of Brompton Road will be restored using heritage features.</p>

<p>Other entrances to the station will stay open during the works.</p>
      
           
      
      
        
          
        
      
    
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/improvements_projects" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/improvements_projects" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Knightsbridge Tube station will get step-free access in 2021, reached by a new entrance at Hooper's Court";}
        
            
        


 