
    
  



@{ViewBag.Title = "Managing road verges for wildlife";}
@{ViewBag.Keywords = "M,Hillingdon,Redbridge,Environment,Roads,Streetscape,TfL";}
@{ViewBag.Url = "/travel-information/improvements-and-projects/managing-road-verges-for-wildlife";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/travel-information/improvements-and-projects/index">Improvements & projects</a></li>
                
            
            
                <li><span class="last-breadcrumb">Managing road verges for wildlife</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Managing road verges for wildlife</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        We're looking for new places to continue our trial to increase biodiversity by encouraging wildflower growth along red routes.
        
      </div>
    
    
      
      
           
      <div class="clearfix">
    <div class="image-box right-float">
    
        
        
        <img src="/cdn/static/cms/images/muscari-armeniacum-in-grass_rdax_400x250.jpg" alt="wildflower in grass verge - muscari armeniacum" />
        
        
        
    </div>
    <p>Increasing biodiversity is a goal of the <a href="/corporate/about-tfl/the-mayors-transport-strategy">Mayor's Transport Strategy</a>. We want to help existing wildflowers in our grass verges to grow and produce new flowers - this will supply nectar and other food resources, plus shelter for wildlife including bees, butterflies, birds and small mammals.</p>

<p>Over time the variety of plant life will increase, helping to support even more wildlife species.</p>

<h2>What we're doing</h2>

<p>In 2019 we tried changing the number of times we cut the grass along two red routes to twice a year,in April and September. This was to allow wildflowers to grow.</p>

<p>We also removed grass cuttings from the full width of the verge. Removing the grass clippings helps the wildflowers by gradually reducing soil nutrient levels, giving them a chance to outcompete the grasses that normally dominate when soil nutrient levels are higher.</p>

<p>At the same time we&nbsp;cut the first metre of verge back from the carriageway more regularly to keep long grass from encroaching on roads or pavements.</p>

<h2>Where this is happening</h2>

<p>Our first trial was held on:</p>

<ul>
	<li>A406 Redbridge roundabout to the M11 in Redbridge</li>
	<li>A40 from Target roundabout westwards to the London boundary in Hillingdon</li>
</ul>

<p>The trial proved successful - the number of wildflowers increased in the trial areas. We will continue this in both areas while we look for more sites to&nbsp;do trials in 2020.</p>

<p>With 165 hectares of grassed verge on our road network, we could potentially increase biodiversity levels across London.</p>

<p>Find out more about the importance of roadside verges for wildlife on the <a href="http://plantlife.love-wildflowers.org.uk/roadvergecampaign">Plantlife website</a>.</p>
 </div>
 
      
        
          
        
      
    
  </div>
  <div class="aside" role="complementary">

   
    
    
    
    <div>
















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/improvements_projects" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/improvements_projects" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
      <div class="module-grid clearfix">
                    
        <div>
    
    <div class="contact-info-box">
        <div class="contact-info-header">
            <h3>Contact us</h3>
        </div>
        
        
            
        
        
            
                
                 
        
        
        
        
        
        <div class="content-group">
            <p>
                <abbr title="Address">Write</abbr>
            </p>
            <p>You can ask&nbsp;a question about our grass cutting programme on the <a href="/help-and-contact/contact-us-about-streets-and-other-road-issues">street issues form</a>.</p>
        </div>
        
        
    </div>
</div>
 
      </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "We want to extend our trial to encourage wildflower growth and biodiversity on our grass verges";}
        
            
        


 