
                @{ViewBag.Title = "Map of 2015 road projects";}
              

  




        
          
        
        
        
<div class="r">
    <div class="breadcrumb-container">
        <ul class="breadcrumbs clearfix">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/travel-information/improvements-and-projects/index">Improvements & projects</a>
                </li>
                
                <li>
                    <a href="/travel-information/improvements-and-projects/road-modernisation-plan">Road Modernisation Plan</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Map of 2015 road projects</span>
                </li>
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Map of 2015 road projects</h1>
  </div>
</div>
<div class="main-and-aside r">
  <div class="main">
    
    
      
      
           
      <div class="clearfix">
    <div class="image-box light-box">
    
        
        
        <a href="/cdn/static/cms/images/map-2015-lb.jpg" data-pull-content="img" data-light-box-type="image" data-light-box-min-width="1400px">
        <img src="/cdn/static/cms/images/map-2015.jpg" alt="Road Modernisation Plan 2015" />
        
        </a>
        
        
    </div>   
 </div>
 
<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/road-modernisation-map-2015.pdf">
    <div class="document-download-text">
        <p>Road Modernisation Plan map 2015</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 641KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>


<!-- 0.63 -->
 
</div>

</div>
 <div>

<h2><a name="12"></a>13. Ardleigh Green Bridge (2015-2017)</h2>
<p> <a href="/travel-information/improvements-and-projects/a127-ardleigh-green-bridge">Ardleigh Green Bridge</a> is being upgraded to current highway and safety standards so it can continue to cater for traffic for years to come.</p>
<h2><a name="13"></a>14. Blackfriars (2015-2016)</h2>
<p>Significant changes are proposed at Blackfriars junction with new pedestrian crossings and signalised cycle crossings to improve access to Queen Victoria Street and Victoria Embankment where the North-South route connects with the East-West Cycle Superhighway via a two-way cycle only connection.&nbsp;</p>
<h2><a name="14"></a>15. Elephant &amp; Castle northern roundabout (2015-2016)</h2>
<p>We want to change the road layout at the <a href="/travel-information/improvements-and-projects/elephant-and-castle">Elephant &amp; Castle roundabout</a> to improve facilities for all road users and enhance the local environment.</p>
<h2><a name="15"></a>16. Lancaster Gate (2015-2016)</h2>
<p>Lancaster Gate can be an intimidating environment for cycling, requiring multiple manoeuvres amid often fast-moving traffic. We propose a direct cycle route through the junction, with northbound cyclists segregated from motorists. &nbsp;</p>
<p>Our plans include creating a more direct route for eastbound traffic by partially removing the one-way system and introducing two-way traffic on Bayswater Road. There would also be improvements for pedestrians, including wider footways in some areas and new and simplified pedestrian crossings.</p>
<h2><a name="16"></a>17. Old Street roundabout (2015-2016)</h2>
<p>We are working on proposals to make <a href="/travel-information/improvements-and-projects/old-street-roundabout">Old Street roundabout</a> a more pedestrian and cycle-friendly environment. </p>
<h2><a name="17"></a>18. Parliament Square (2015-2016)</h2>
<p>Parliament Square is used by thousands of cyclists each day. Cycles make up nearly a third of all vehicles in the evening rush hour (Source: TfL Cycling Census 2013). However, there is currently very little dedicated provision for them, and some cyclists have to move across as many as five traffic lanes to pass through the junction. </p>
<p>We propose a segregated, direct and convenient route across the junction for cyclists on the East-West Cycle Superhighway. We would also provide dedicated facilities for cyclists who approach Parliament Square from St Margaret's Street and Broad Sanctuary, with early-start signals and a segregated route around the roundabout. </p>
<p>Parliament Square is also a very busy pedestrian environment. Our proposals include wider footways to create more space for pedestrians, as well as two new pedestrian crossings to improve access to the square itself. However, the changes to traffic signals in the area could mean longer waits at some signalised crossings.</p>
<p>We would accommodate the new cycling and pedestrian facilities by reallocating road space from other vehicles.</p>
<h2><a name="19"></a>19. Power Road Bridge (A406) (2015-2017)</h2>
<p><a href="/travel-information/improvements-and-projects/power-road-bridge">Power Road Bridge</a> is being upgraded to make it safer for road users and improve access for cyclists and pedestrians.
</p>
<h2><a name="20"></a>20. Shoreditch - Apex junction (2015)</h2>
<p>Apex is a key junction on the proposed <a href="/travel-information/improvements-and-projects/cycle-superhighways">Cycle Superhighway 1</a> where the route crosses Old Street. Proposals are being developed to make it safer and more convenient for cyclists. We plan to consult on proposals as part of Cycle Superhighway 1 consultation in late 2014.</p>
<h2><a name="21"></a>21. Spur Road gyratory (2015-2016)</h2>
<p>We are currently seeking views on changes to the Spur Road gyratory and all of St James's Park as part of the East-West Cycle Superhighway consultation. Consultation runs until March 29 and further details are available on the <a href="https://consultations.tfl.gov.uk/cycling/9c956f89">St James's Park/Green Park consultation page</a><a href="https://consultations.tfl.gov.uk/cycling/east-west-phase-2"></a>.</p>
<h2><a name="22"></a>22. Stockwell gyratory (2015-2016)</h2>
<p>Stockwell gyratory is a major junction of the A3 and A203 and carries large volumes of traffic, including cyclists. Cycle Superhighway 7 (CS7) opened here in 2010 and has one of the highest volumes of cyclists anywhere along the route, with an average of 2,500 cyclists per hour during the peak.</p>
<p>&nbsp;</p>
We are working with the borough of Lambeth to explore proposals to remove the gyratory, improve access to the Stockwell Memorial Garden and simplify the road layout for all road users. Construction will begin in late 2015.
<h2><a name="23"></a>23. Swiss Cottage gyratory (2015-2016)</h2>
<h2><a name="24"></a>24. Tower Gateway (2015-2016)</h2>
<p>We plan to improve cycle provision in the area around Tower Gateway, north of Tower Bridge. A range of options are being considered to link existing cycle routes in the area, including Cycle Superhighway Route 3 and the East-West Cycle Superhighway.</p>
</div>
 
      
        
          
        
      
    
  </div>
  <div class="aside">
    <div class="share-widget-wrapper"></div>
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/travel-information/improvements-and-projects/road-modernisation-plan" class="heading">
                    <h2>Road Modernisation Plan<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li><div class="link-wrapper"><a href="/travel-information/improvements-and-projects/current-consultations">Current consultations</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/travel-information/improvements-and-projects/map-of-road-projects">Map of road projects 2014-2022</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/travel-information/improvements-and-projects/map-of-2014-road-projects">Map of 2014 road projects</a></div></li>
                            
 
                                <li class="selected"><div class="link-wrapper"><a href="/travel-information/improvements-and-projects/map-of-2015-road-projects">Map of 2015 road projects</a></div>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/travel-information/improvements-and-projects/map-of-2016-road-projects">Map of 2016 road projects</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/travel-information/improvements-and-projects/map-of-2017-road-projects">Map of 2017 road projects</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/travel-information/improvements-and-projects/map-of-2018-road-projects-onwards">Map of 2018 road projects onwards </a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/travel-information/improvements-and-projects/travel-advice-for-road-users">Travel advice for road users</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>




















<div class="advert-tile unsponsored-style">
  <div class="advert-link">
    <div class="advert-content">
      
        <div id='div-gpt-ad-82D5E97F6DE84D9CA1E835C2A9E90441' style='width:300px; height:250px;'>
          <script type='text/javascript'>
            googletag.cmd.push(function()
              { googletag.display('div-gpt-ad-82D5E97F6DE84D9CA1E835C2A9E90441'); }
            );
          </script>
        </div>
    </div>
    <span class="disclaimer">Advertisement</span>
  </div>
</div>
@{
  ViewBag.AdSettings = "'/3595/TFL/Improvements_projects', [300, 250], 'div-gpt-ad-82D5E97F6DE84D9CA1E835C2A9E90441'";
  ViewBag.AdTargets = "'from','station'|'to','station'";
}
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
      <div class="module-grid clearfix">
                    
        <div class="related-links">

    <h3>Also on this site</h3>

<div class="vertical-button-container">

<a href="/campaign/our-plan-for-londons-roads"  class="plain-button">Our plan for London's roads</a>
    </div>
</div>
 
      </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
          
        
      
              


 