
                @{ViewBag.Title = "Map of 2017 road projects";}
              

  




        
          
        
        
        
<div class="r">
    <div class="breadcrumb-container">
        <ul class="breadcrumbs clearfix">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/travel-information/improvements-and-projects/index">Improvements & projects</a>
                </li>
                
                <li>
                    <a href="/travel-information/improvements-and-projects/road-modernisation-plan">Road Modernisation Plan</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Map of 2017 road projects</span>
                </li>
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Map of 2017 road projects</h1>
  </div>
</div>
<div class="main-and-aside r">
  <div class="main">
    
    
      
      
           
      <div class="clearfix">
    <div class="image-box light-box">
    
        
        
        <a href="/cdn/static/cms/images/map-2017-lb.jpg" data-pull-content="img" data-light-box-type="image" data-light-box-min-width="1400px">
        <img src="/cdn/static/cms/images/map-2017.jpg" alt="Road Modernisation Plan 2017" />
        
        </a>
        
        
    </div>   
 </div>
 
<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/road-modernisation-map-2017.pdf">
    <div class="document-download-text">
        <p>Road Modernisation Plan map 2017</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 636KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>


<!-- 0.62 -->
 
</div>

</div>
 <div>


        <h2><a name="38"></a>38. A24 Tooting Broadway (2017-2018)</h2>
        <p>Tooting Broadway is a busy crossroad and an interchange point for a number of bus routes, Tube station and high street shops. We are currently developing measures to address junction safety, improve the pedestrian crossings and to upgrade the urban realm. We are working with Wandsworth council to produce a holistic scheme that extends seamlessly into the adjoining sections of Mitcham Road and Garratt Lane. </p>
        <h2><a name="39"></a>39. A316 London Road roundabout (2017-2019)</h2>
        <p>We made safety improvements at the London Road roundabout in April 2013 but have committed to review it further. Improving the roundabout will contribute to wider benefits for the A316 and A310. Benefits include a continuous corridor for cyclists along the A316, making it easier to get to Twickenham town centre and improving journey times.</p>
        <h2><a name="39"></a>40. Wandsworth gyratory (2017-2019)</h2>
        <p>A scheme to improve traffic in <a href="/travel-information/improvements-and-projects/wandsworth-gyratory">Wandsworth</a> and rejuvenate the town centre is in process.</p>
        <h2><a name="40"></a>41. Waterloo IMAX roundabout (2017-2019)</h2>
        <p>We plan to transform the area surrounding the <a href="/travel-information/improvements-and-projects/waterloo-imax-roundabout">Waterloo IMAX roundabout</a> creating new homes, offices and better public spaces.</p>
    
</div>
 
      
        
          
        
      
    
  </div>
  <div class="aside">
    <div class="share-widget-wrapper"></div>
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/travel-information/improvements-and-projects/road-modernisation-plan" class="heading">
                    <h2>Road Modernisation Plan<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li><div class="link-wrapper"><a href="/travel-information/improvements-and-projects/current-consultations">Current consultations</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/travel-information/improvements-and-projects/map-of-road-projects">Map of road projects 2014-2022</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/travel-information/improvements-and-projects/map-of-2014-road-projects">Map of 2014 road projects</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/travel-information/improvements-and-projects/map-of-2015-road-projects">Map of 2015 road projects</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/travel-information/improvements-and-projects/map-of-2016-road-projects">Map of 2016 road projects</a></div></li>
                            
 
                                <li class="selected"><div class="link-wrapper"><a href="/travel-information/improvements-and-projects/map-of-2017-road-projects">Map of 2017 road projects</a></div>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/travel-information/improvements-and-projects/map-of-2018-road-projects-onwards">Map of 2018 road projects onwards </a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/travel-information/improvements-and-projects/travel-advice-for-road-users">Travel advice for road users</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>




















<div class="advert-tile unsponsored-style">
  <div class="advert-link">
    <div class="advert-content">
      
        <div id='div-gpt-ad-3FB4CFE3635E4BA09B3CD54021B0E5F9' style='width:300px; height:250px;'>
          <script type='text/javascript'>
            googletag.cmd.push(function()
              { googletag.display('div-gpt-ad-3FB4CFE3635E4BA09B3CD54021B0E5F9'); }
            );
          </script>
        </div>
    </div>
    <span class="disclaimer">Advertisement</span>
  </div>
</div>
@{
  ViewBag.AdSettings = "'/3595/TFL/Improvements_projects', [300, 250], 'div-gpt-ad-3FB4CFE3635E4BA09B3CD54021B0E5F9'";
  ViewBag.AdTargets = "'from','station'|'to','station'";
}
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
      <div class="module-grid clearfix">
                    
        <div class="related-links">

    <h3>Also on this site</h3>

<div class="vertical-button-container">

<a href="/campaign/our-plan-for-londons-roads"  class="plain-button">Our plan for London's roads</a>
    </div>
</div>
 
      </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
          
        
      
              


 