
                @{ViewBag.Title = "Map of 2014 road projects";}
              

  




        
          
        
        
        
<div class="r">
    <div class="breadcrumb-container">
        <ul class="breadcrumbs clearfix">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/travel-information/improvements-and-projects/index">Improvements & projects</a>
                </li>
                
                <li>
                    <a href="/travel-information/improvements-and-projects/road-modernisation-plan">Road Modernisation Plan</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Map of 2014 road projects</span>
                </li>
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Map of 2014 road projects</h1>
  </div>
</div>
<div class="main-and-aside r">
  <div class="main">
    
    
      
      
           
      <div class="clearfix">
    <div class="image-box light-box">
    
        
        
        <a href="/cdn/static/cms/images/map-2014-lb.jpg" data-pull-content="img" data-light-box-type="image" data-light-box-min-width="1400px">
        <img src="/cdn/static/cms/images/map-2014.jpg" alt="Roads Modernisation Plan 2014" />
        
        </a>
        
        
    </div>   
 </div>
 
<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/road-modernisation-map-2014.pdf">
    <div class="document-download-text">
        <p>Road Modernisation Plan map 2014</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 643KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>


<!-- 0.63 -->
 
</div>

</div>
 <div>

<h2><a name="10"></a><a name="2"></a>2. A406 Southend Road (2014-2016)</h2>
<p>Essential works to the A406 Southend Road in north east London are
taking place until late October 2014.</p>
<h2> <a name="3"></a>3. Aldgate gyratory (2014-2016)</h2>
<p> This project, which is being led by the City of London, will create a new public space next to St. Botolph's church and St. Botolph's Street, Aldgate High Street and Minories. Construction is underway and is expected to finish in late 2016.</p>
<h2><a name="4"></a>4. Chiswick Bridge (2014-2015)</h2>
<p>  Work has now started to strengthen and refurbish the 80 year old Grade
II listed <a href="/travel-information/improvements-and-projects/chiswick-bridge">Chiswick Bridge</a> and make it safe for road users for many years
to come.</p>
<h2><a name="5"></a>5. Fore Street Tunnel (A406) (2014-2015)</h2>
<p>  Work to upgrade the <a href="/travel-information/improvements-and-projects/fore-street-tunnel">Fore Street Tunnel</a> in north London will continue
until the end of 2015. The work will help to keep it safe and fully
functional for the 60,000 vehicles that travel through it every day.
</p>
<h2>
<a name="6"></a>6. Highbury Corner (2014-2017)</h2>
<p>We are replacing the 19th-century bridge at <a href="/travel-information/improvements-and-projects/highbury-and-islington">Highbury Corner</a> which spans
the railway line leading to Highbury &amp; Islington station.</p>
<h2>
<a name="7"></a>7. Hogarth flyover (2014-2015)</h2>
<p>We have completed essential work to refurbish the <a href="/travel-information/improvements-and-projects/hogarth-flyover">Hogarth flyover</a> and
are now upgrading the pedestrian subways and replanting trees and
flowers in the area.</p>
<h2><a name="8"></a>8. Malden Rushett (2014-2015)</h2>
<p>
Malden Rushett is a junction improvement scheme aimed at reducing road collisions, congestion and delay, and to provide safer crossing facilities.</p>
<p>Proposals involve purchasing land in two fields adjacent to the junction so we can widen the east and west arm approaches and exits to two lanes each way. This will increase junction capacity and introduce dedicated right-turn facilities on the north and south arms. New pedestrian crossings will be introduced on the west arm and advanced cycle stop lines on all arms for cyclists.</p>
<h2>
<a name="9"></a></h2>
<h2>9. Oval Triangle (2014-2015)</h2>
<p>We plan to redesign four junctions around the <a href="/travel-information/improvements-and-projects/oval-triangle">Oval triangle</a> to make the area safer for cyclists and other road users.</p>
<h2><a name="10"></a>10. Southall Broadway (2014)</h2>
<p> Southall Broadway will be closed westbound (towards Hayes and Uxbridge)
until December 2014. The closure will allow Ealing Council to carry out
improvement works along The Broadway.</p>
<h2>
<a name="11"></a>11. Upper Holloway Bridge (2014-2017)</h2>
<p> We will be replacing <a href="/travel-information/improvements-and-projects/upper-holloway-bridge">Upper Holloway Bridge</a> which carries the A1 by Upper Holloway Station. </p>
<h2>
<a name="12"></a>12. Woodlands retaining wall (A406) (2014-2017)</h2>
<p>We are carrying out work to restore <a href="/travel-information/improvements-and-projects/woodlands-wall">Woodlands retaining wall</a>, located on the A406 North Circular</p>
</div>
 
      
        
          
        
      
    
  </div>
  <div class="aside">
    <div class="share-widget-wrapper"></div>
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/travel-information/improvements-and-projects/road-modernisation-plan" class="heading">
                    <h2>Road Modernisation Plan<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li><div class="link-wrapper"><a href="/travel-information/improvements-and-projects/current-consultations">Current consultations</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/travel-information/improvements-and-projects/map-of-road-projects">Map of road projects 2014-2022</a></div></li>
                            
 
                                <li class="selected"><div class="link-wrapper"><a href="/travel-information/improvements-and-projects/map-of-2014-road-projects">Map of 2014 road projects</a></div>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/travel-information/improvements-and-projects/map-of-2015-road-projects">Map of 2015 road projects</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/travel-information/improvements-and-projects/map-of-2016-road-projects">Map of 2016 road projects</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/travel-information/improvements-and-projects/map-of-2017-road-projects">Map of 2017 road projects</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/travel-information/improvements-and-projects/map-of-2018-road-projects-onwards">Map of 2018 road projects onwards </a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/travel-information/improvements-and-projects/travel-advice-for-road-users">Travel advice for road users</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>




















<div class="advert-tile unsponsored-style">
  <div class="advert-link">
    <div class="advert-content">
      
        <div id='div-gpt-ad-4E25C25F7BCD413C900F7069C8BE266C' style='width:300px; height:250px;'>
          <script type='text/javascript'>
            googletag.cmd.push(function()
              { googletag.display('div-gpt-ad-4E25C25F7BCD413C900F7069C8BE266C'); }
            );
          </script>
        </div>
    </div>
    <span class="disclaimer">Advertisement</span>
  </div>
</div>
@{
  ViewBag.AdSettings = "'/3595/TFL/Improvements_projects', [300, 250], 'div-gpt-ad-4E25C25F7BCD413C900F7069C8BE266C'";
  ViewBag.AdTargets = "'from','station'|'to','station'";
}
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
      <div class="module-grid clearfix">
                    
        <div class="related-links">

    <h3>Also on this site</h3>

<div class="vertical-button-container">

<a href="/campaign/our-plan-for-londons-roads"  class="plain-button">Our plan for London's roads</a>
    </div>
</div>
 
      </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
          
        
      
              


 