
                @{ViewBag.Title = "Map of 2016 road projects";}
              

  




        
          
        
        
        
<div class="r">
    <div class="breadcrumb-container">
        <ul class="breadcrumbs clearfix">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/travel-information/improvements-and-projects/index">Improvements & projects</a>
                </li>
                
                <li>
                    <a href="/travel-information/improvements-and-projects/road-modernisation-plan">Road Modernisation Plan</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Map of 2016 road projects</span>
                </li>
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Map of 2016 road projects</h1>
  </div>
</div>
<div class="main-and-aside r">
  <div class="main">
    
    
      
      
           
      <div class="clearfix">
    <div class="image-box light-box">
    
        
        
        <a href="/cdn/static/cms/images/map-2016-lb.jpg" data-pull-content="img" data-light-box-type="image" data-light-box-min-width="1400px">
        <img src="/cdn/static/cms/images/map-2016.jpg" alt="Road Modernisation Plan 2016" />
        
        </a>
        
        
    </div>   
 </div>
 
<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/road-modernisation-map-2016.pdf">
    <div class="document-download-text">
        <p>Road Modernisation Plan map 2016</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 639KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>


<!-- 0.62 -->
 
</div>

</div>
 <div>

<h3><a name="25"></a>25. A205 East Sheen (2016-2018)</h3>
<p>We are working with the London Borough of Richmond upon Thames on a scheme which runs along the A205 Upper Richmond Road West (between A205/Sheen Lane and A205/Priests Bridge Road) and along one of Richmond's key district town centres, as identified within <a href="http://www.london.gov.uk/priorities/planning/london-plan">The London Plan</a>.</p>
<p>The scope of the work is to investigate, identify and develop road safety and highway improvements for all users, including pedestrians and cyclists. We're also looking at making improvements to the district town centre which is considered to be in a substandard condition.</p>
<h3><a name="26"></a>26. Archway gyratory (2016-2017)</h3>
<p>
We are working with Islington council to transform the Archway gyratory by returning the one-way traffic system to two-way operation. Our proposals will  make the town centre more pleasant and accessible, with improvements for cyclists and pedestrians. A public consultation was held from 3 November 2014 to 14 December 2014 and a number of changes have been incorporated into the proposed design. A consultation report will be published in March 2015.</p>
<h3><a name="27"></a>27. Baker Street (2016-2017)</h3>
<p><a href="/travel-information/improvements-and-projects/baker-street">Baker Street</a> and Gloucester Place form a large one-way system running
from Regent's Park to Oxford Street. We're working with Westminster City council and Portman Estates to develop proposals to introduce two-way
traffic on these routes.
</p>
<h3><a name="28"></a>28. Balham High Rd (2016-2017)</h3>
<p>We are working with Wandsworth council to develop proposals for segregated cycle facilities, more trees and making better use of the available road space for traffic, loading and bus stops. The area extends to the junction at Balham station where measures to improve safety and convenience for all users are being assessed, including the potential to introduce a right-turn filter at the traffic lights. Design options are currently being developed.</p>
<h3><a name="29"></a>29. Brent Cross Cricklewood (2016-2021)</h3>
<p>The <a href="/travel-information/improvements-and-projects/brent-cross-cricklewood-regeneration">Brent Cross Cricklewood</a> regeneration sets out a new network of
streets and spaces in and around the area to improve retail, dining and
leisure.</p>
<h3><a name="30"></a>30. Chiswick roundabout/Kew Bridge junction (2016-2017)</h3>
<p>We aim to provide a cycling route on Chiswick High Road to help cyclists through this area of heavy traffic area. We're working with Hounslow council to ensure that the route fits in with their wider vision for cycling in the borough.</p>
<p>We also want to make improvements for pedestrians, particularly at the junction with Kew Bridge Road.
</p>
<h3><a name="31"></a>31. Great Portland Street gyratory (2016-2017)</h3>
<p>We plan to make the Great Portland Street gyratory more accessible for pedestrians and cyclists. A range of designs are being considered which will make it easier for cyclists to travel between Camden and Westminster. We hope to enhance existing pedestrian facilities and improve the local environment. Design is underway and discussions with stakeholders have begun.</p>
<h3><a name="32"></a>32. Hammersmith Broadway (2016-2017)</h3>
<p>We are working with Hammersmith and Fulham council to make Hammersmith gyratory safer and more accessible for cyclists. Our proposals, when ready, will provide major improvements for cyclists, fit in to the borough's wider cycling strategy and complement the long-term vision for Hammersmith. Consultation is expected to take place in late 2015, with construction starting in 2016.</p>
<h3><a name="33"></a>33. Highbury Corner (2016-2017)</h3>
<p>At <a href="/travel-information/improvements-and-projects/highbury-and-islington">Highbury Corner</a> we are replacing the bridge over the rail line and removing the Highbury Corner gyratory system.</p>
<h3><a name="34"></a>34. Lambeth Bridge (North) (2016-2017)</h3>
<h3>35. Lambeth Bridge (South) (2016-2017)
</h3>
<p>The northern and southern roundabouts at Lambeth Bridge have seen cycle numbers increase in recent years, and now have some of the highest cycle flows in London. Design options to retain and improve, or completely remove the roundabouts are being considered. We are also reviewing the connection between the two roundabouts and hope to make Lambeth Bridge safer and easier for cyclists to use. &nbsp;Plans will go to public consultation in 2015. Subject to results, construction could begin in 2016. </p>
<h3><a name="36"></a>36. Stratford gyratory (2016-2019)</h3>
<p>We are working with Newham council to build a new road system in Stratford town centre to help make the area safer for pedestrians and cyclists. We aim to remove the fast moving multi-lane gyratory system and replace it with two-way roads. Work will build on the success of the recent extension to Cycle Superhighway 2. We aim to consult in early 2016. Construction could start in 2017.</p>
<h3><a name="37"></a>37. Westminster Bridge South</h3>
<p>We plan to improve the roundabout to the south of <a href="/travel-information/improvements-and-projects/westminster-bridge-road">Westminster Bridge</a> so
that it's safer, easier to use and more welcoming to cyclists and
pedestrians.</p>
</div>
 
      
        
          
        
      
    
  </div>
  <div class="aside">
    <div class="share-widget-wrapper"></div>
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/travel-information/improvements-and-projects/road-modernisation-plan" class="heading">
                    <h2>Road Modernisation Plan<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li><div class="link-wrapper"><a href="/travel-information/improvements-and-projects/current-consultations">Current consultations</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/travel-information/improvements-and-projects/map-of-road-projects">Map of road projects 2014-2022</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/travel-information/improvements-and-projects/map-of-2014-road-projects">Map of 2014 road projects</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/travel-information/improvements-and-projects/map-of-2015-road-projects">Map of 2015 road projects</a></div></li>
                            
 
                                <li class="selected"><div class="link-wrapper"><a href="/travel-information/improvements-and-projects/map-of-2016-road-projects">Map of 2016 road projects</a></div>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/travel-information/improvements-and-projects/map-of-2017-road-projects">Map of 2017 road projects</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/travel-information/improvements-and-projects/map-of-2018-road-projects-onwards">Map of 2018 road projects onwards </a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/travel-information/improvements-and-projects/travel-advice-for-road-users">Travel advice for road users</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>




















<div class="advert-tile unsponsored-style">
  <div class="advert-link">
    <div class="advert-content">
      
        <div id='div-gpt-ad-957A02ABBDB149A582B280EAAD5C2C10' style='width:300px; height:250px;'>
          <script type='text/javascript'>
            googletag.cmd.push(function()
              { googletag.display('div-gpt-ad-957A02ABBDB149A582B280EAAD5C2C10'); }
            );
          </script>
        </div>
    </div>
    <span class="disclaimer">Advertisement</span>
  </div>
</div>
@{
  ViewBag.AdSettings = "'/3595/TFL/Improvements_projects', [300, 250], 'div-gpt-ad-957A02ABBDB149A582B280EAAD5C2C10'";
  ViewBag.AdTargets = "'from','station'|'to','station'";
}
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
      <div class="module-grid clearfix">
                    
        <div class="related-links">

    <h3>Also on this site</h3>

<div class="vertical-button-container">

<a href="/campaign/our-plan-for-londons-roads"  class="plain-button">Our plan for London's roads</a>
    </div>
</div>
 
      </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
          
        
      
              


 