
    
  



@{ViewBag.Title = "Metropolitan line signalling";}
@{ViewBag.Keywords = "Tube passengers,M,Barnet,Westminster,Tube improvement,Tube,TfL";}
@{ViewBag.Url = "/travel-information/improvements-and-projects/metropolitan-line-signalling";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/travel-information/improvements-and-projects/index">Improvements & projects</a></li>
                
            
            
                <li><span class="last-breadcrumb">Metropolitan line signalling</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Metropolitan line signalling</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        On 2 September 2019 a section of new digital signalling was introduced from Latimer Road to Finchley Road and Euston Square.
        
      </div>
    
    <div class="on-this-page">
      <p>This is part of our <a href="/travel-information/improvements-and-projects/four-lines-modernisation">Four Lines Modernisation</a> work to upgrade&nbsp;the District, Circle, Metropolitan&nbsp;and Hammersmith &amp; City lines.</p>

<h2>Signalling goes live</h2>

<p>Despite extensive testing of the new signalling outside of operating hours, we have had issues with software reliability on Metropolitan line trains when the live service is running. This is causing disruption and delays to some journeys.</p>

<p>We had tested the new signalling extensively using 500 trains, with good results. But when we run a full service in a live environment we experienced issues with the trains connecting to the system. This is the main cause of the faulty train message you have been seeing.</p>

<p>We worked with our signalling supplier to develop fixes and make software updates. More system improvements are coming.</p>

<p>Fixes to this new and complex system need rigorous testing and safety approvals, which takes time. We fully understand how frustrating this is.</p>

<h2>What we're doing now</h2>

<p>We are working 24-7 to tackle the delays and improve the service as soon as possible.</p>

<p>To address issues on the Metropolitan line, we are:</p>

<ul>
	<li>Modifying the train and signalling software</li>
	<li>Putting additional resources in strategic locations to minimise service disruptions</li>
	<li>Reviewing our plan for maintaining the existing older signalling - this is to make the best use of resources and minimise the impact of any signal failures</li>
	<li>Providing regular feedback to front line staff on incidents so customers get the latest information</li>
</ul>

<h2>Refunds</h2>

<p>You may <a href="/fares/refunds-and-replacements/tube-and-dlr-delays">claim a refund for your delayed journey here</a>.</p>
      
           
      
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/improvements_projects" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/improvements_projects" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "We're installing new digital signalling on the Metropolitan line. Find out about the work and how it might affect your journey";}
        
            
        


 