
    
  



@{ViewBag.Title = "Nine Elms";}
@{ViewBag.Keywords = "N,Wandsworth,Consultation,Roads,Streetscape,Driving,Cycling ,Driving ,TfL";}
@{ViewBag.Url = "/travel-information/improvements-and-projects/nine-elms";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/travel-information/improvements-and-projects/index">Improvements & projects</a></li>
                
            
            
                <li><span class="last-breadcrumb">Nine Elms</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Nine Elms</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        We are transforming a 2.5km stretch of Nine Elms Lane and Battersea Park Road (A3205). Our work to support regeneration of the area started in January 2020 and will continue in phases through to 2024.
        
      </div>
    
    
      
      
           
      <div class="clearfix">
    <div class="image-box right-float">
    
        
        
        <img src="/cdn/static/cms/images/nine-elms-street-battersea-power-tube-station_rdax_400x250.jpg" alt="cgi of nine elms street scene" />
        
        
        
    </div>
    <p>Nine Elms is in a designated regeneration area with approximately 40 major development sites aimed at building&nbsp; 20,000 new homes and creating 25,000 new jobs between now and 2030. Find out more on the <a href="http://nineelmslondon.com/">Nine Elms London website</a>.</p>

<p>Working with the London Borough of Wandsworth and the Nine Elms Vauxhall Partnership, this project will improve conditions for people walking and cycling, bus passengers and future users of the <a href="/travel-information/improvements-and-projects/northern-line-extension">Northern Line extension at Battersea Power Station</a>.</p>

<h2>What we're doing</h2>

<p>We're completely redesigning the road layout on Nine Elms Lane and the eastern part of Battersea Park Road to improve it for bus users and people walking and cycling. It will also allow for future growth in the area.</p>

<p>We're still working with Wandsworth to review and modify our proposals for the western section of the scheme. This will help us understand the impact this will have on the local area.</p>

<p>We consulted on our proposed changes in summer 2017. The consultation report and our response to issues raised, including next steps, is now on the&nbsp;<a href="https://consultations.tfl.gov.uk/roads/nine-elms-lane/?cid=nine-elms-lane">Nine Elms Lane and Battersea Park Road consultation page</a>.</p>

<h2>Phases of work</h2>

<p>The scheme will be done in phases - completing the many developments in the area simultaneously is a complex task. We plan to finish the first phase of work in December 2020.</p>

<p>Duchess Bridge and Sleaford Street will include construction of the first section of protected cycle lanes. The road and pavements will also be realigned and resurfaced.</p>

<p>Other works will include:</p>

<ul>
	<li>A new cycle path from Thessaly Road to a new signal-controlled cycle crossing with direct access to Battersea Park Road</li>
	<li>Improved signal-controlled pedestrian crossing facilities</li>
	<li>Wider pavements in places</li>
	<li>The use of high-quality materials and the planting of new trees where feasible - five street trees will be removed to facilitate the works.</li>
</ul>

<p>Work will take place:</p>

<ul>
	<li>Monday to Friday 08:00-17:00</li>
	<li>Saturday 08:00-13:00</li>
</ul>

<p>Some works outside of these hours, including night time working, may be needed for activities such as carriageway resurfacing. However, we don't expect these works will take place until later in 2020.</p>

<p>We will do everything we can to keep disruption to a minimum.</p>

<h3>Phase 1 progress - January to April 2020</h3>

<p>When works began the site included a protected cycle lane, pedestrian route and a temporary west bound bus stop outside the Bookers Cash and Carry building.</p>

<p>The southern pavement between Sleaford Street and the Duchess Pub will be improved. Works may seem to be slow to start - this is because we need to do some investigations and some underground services must be moved before improvements can be made. Check back here for updates.</p>

<h2>How our works may affect you</h2>

<p>We will need to reduce traffic on Nine Elms Lane to one lane in each direction so we can do the work safely and efficiently. You will still be able to make any current turns, but you may notice more traffic during the works.</p>

<p>Temporary bus stops will be set up within 30 metres of their current location and pedestrian diversion routes and crossing facilities will be in place. You will still be able to get access to homes and businesses.</p>

<p>Other schemes in the area include the <a href="/travel-information/improvements-and-projects/vauxhall-gyratory">Vauxhall Cross gyratory</a>.</p>
 </div>
 <div class="clearfix">
    <div class="image-box right-float">
    
        
        
        
    </div>
    <h2>Completed safety improvements</h2>

<p>Collaborating with the London Borough of Wandsworth, we finished interim works in 2017 to improve facilities for people walking and cycling while development works continued in the area.</p>

<p>This included installing more than 40 temporary signs, temporary traffic signals and interim cycling infrastructure.</p>
 </div>
 <div class="clearfix">
    <div class="image-box">
    
        
        
        <img src="/cdn/static/cms/images/nine-elms-regeneration.jpg" alt="Future view of Nine Elms" />
        
        
        
    </div>   
 </div>
 
      
        
          
        
      
    
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/improvements_projects" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/improvements_projects" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
      <div class="module-grid clearfix">
                    
        <div>
    
    <div class="contact-info-box">
        <div class="contact-info-header">
            <h3>Contact us</h3>
        </div>
        
        
            
        
        
            
                
                 
        
        
        
        <div class="content-group">
            <p>
                <abbr title="Telephone number">Call</abbr>&nbsp;<a href="/corporate/terms-and-conditions/tfl-call-charges">Charges apply</a><br />
                0343 222 1234
            </p>
        </div>
        
        
        
        <div class="content-group">
            <p>
                <abbr title="Address">Write</abbr>
            </p>
            <p>Email <a href="mailto:consultations&#64;tfl.gov.uk?subject=Nine%20Elms">consultations&#64;tfl.gov.uk</a><br />
<br />
<strong>Contact us if you have questions or comments about the scheme.</strong></p>
        </div>
        
        
    </div>
</div>
 <div class="related-links">

    <h3>Also on the site</h3>

<div class="vertical-button-container">

<a href="/travel-information/improvements-and-projects/northern-line-extension" class="plain-button">Northern line extension</a>
    </div>
</div>
 
      </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "We're planning some work on Nine Elms Lane and Battersea Park Road (A3205)";}
        
            
        


 