
    
  



@{ViewBag.Title = "Paddington Bakerloo ticket hall";}
@{ViewBag.Keywords = "P,Westminster,Crossrail,Ticketing,Tube improvement,Tube,TfL";}
@{ViewBag.Url = "/travel-information/improvements-and-projects/paddington-bakerloo-ticket-hall";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/travel-information/improvements-and-projects/index">Improvements & projects</a></li>
                
            
            
                <li><span class="last-breadcrumb">Paddington Bakerloo ticket hall</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Paddington Bakerloo ticket hall</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        We're making improvements at Paddington Tube station that will affect your access to the Bakerloo line there.
        
      </div>
    
    
      <p>Paddington Square is a new public space with offices, shops, restaurants and a public square.</p>
      
           
      <div class="clearfix">
    <div class="image-box">
    
        
        
        <img src="/cdn/static/cms/images/praed-street-entrance.jpg" alt="praed street entrance is closed" />
        
        
        
    </div>   
 </div>
 <div>

<p>The work at Paddington Tube station will create:</p>

<ul>
	<li>A new, larger Bakerloo ticket hall</li>
	<li>Step-free access between the Bakerloo line and street level</li>
</ul>
</div>
 <div class="clearfix">
    <div class="image-box">
    
        
        
        <img src="/cdn/static/cms/images/paddington-station-shopping.jpg" alt="paddington shopping area" />
        
        
        
    </div>   
 </div>
 <div>

<p>Part of the existing ticket hall must close while we build the new one. Space will be limited so we will restrict entry to the Bakerloo line platforms at busy times.</p>

<ul>
	<li>The Bakerloo entrance on Praed Street is closed</li>
</ul>

<h2>Until summer 2020</h2>

<ul>
	<li>The entrance near National Rail platform 12 is only for entry to the Bakerloo line. It is closed at weekends</li>
	<li>All access to the Bakerloo line is via the entrance near National Rail platform 12 and all exit is via the main ticket hall near National Rail platforms 3 &amp; 4 on weekdays 07:00-10:00 and 16:00-19:30</li>
	<li>At all other times, you can access the Bakerloo line via the main entrance opposite National Rail platforms 3 &amp; 4</li>
	<li>The ticket gates have been removed - remember to touch in on the temporary readers</li>
	<li>You can't buy a ticket or top up&nbsp;in the Bakerloo ticket hall. Switch to contactless and there's no need to top up. Or you can top up your Oyster card online, using the TfL app or at nearby ticket machines&nbsp;</li>
	<li>The station will be exceptionally busy, and we may use a managed queuing system. Please avoid the busiest times if you can and allow extra time for your journeys</li>
</ul>

<p>From summer 2020, as work progresses and the work site becomes bigger, we may need to further restrict access to the Bakerloo line at peak times.</p>

<p>We're working with Network Rail and the train operating companies to minimise the impact on journeys during this improvement work.</p>
</div>
 
      
        
          
        
      
    
  </div>
  <div class="aside" role="complementary">

   
    
    
    
    <div>
















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/improvements_projects" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/improvements_projects" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Paddington Tube station will get a new, larger Bakerloo ticket hall and step-free access to the Bakerloo line from street level";}
        
            
        


 