
    
  



@{ViewBag.Title = "Step-free access";}
@{ViewBag.Keywords = "London Overground passengers,Public,Tube passengers,S,Accessible travel,Tube improvement,Crossrail,Elizabeth line,London Overground,Tube,TfL";}
@{ViewBag.Url = "/travel-information/improvements-and-projects/step-free-access";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/travel-information/improvements-and-projects/index">Improvements & projects</a></li>
                
            
            
                <li><span class="last-breadcrumb">Step-free access</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Step-free access</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        We are improving accessibility on the Tube and London Overground by making more stations step-free.
        
      </div>
    
    
      <p>Step-free access stations have lifts or ramps - or a combination of both - so that customers don't have to use escalators or stairs to move between the street and the platform. See our page on <a href="/transport-accessibility/wheelchair-access-and-avoiding-stairs">wheelchair access and avoiding stairs</a>.</p>

<p>Currently 79&nbsp;Tube stations, 60 London Overground stations and 23&nbsp;stations served by TfL Rail have step-free access. All DLR stations and tram stops&nbsp;are step-free.</p>

<h2>Tube</h2>

<p>The most recent station to go step free is Mill Hill East in February 2020.</p>

<p>The next 11 Tube stations to become step-free later in 2020 are:</p>

<ul>
	<li>Cockfosters (spring)</li>
	<li>Amersham (summer)</li>
	<li>Ickenham (summer)</li>
	<li>Wimbledon Park (summer)</li>
	<li>Debden (summer)</li>
	<li>Osterley (summer)</li>
	<li>Hanger Lane (summer)</li>
	<li>Northolt (summer)</li>
	<li>Sudbury Hill (autumn)</li>
	<li>Harrow-on-the-Hill (autumn)</li>
	<li>Burnt Oak (winter)</li>
</ul>

<p>Another eight Tube stations will be made step-free by spring 2024: Knightsbridge, Boston Manor, Colindale, North Ealing, Park Royal, Rickmansworth, Ruislip and Snaresbrook.</p>

<p>In 2016 the Mayor of London, Sadiq Khan announced a programme that would take the total number of step-free Tube stations to over 100. By spring 2024 38% of the Tube network will be step-free - compared to 28% in 2018.</p>

<p>Two new stations created as part of the <a href="/travel-information/improvements-and-projects/northern-line-extension">Northern line extension</a> - Nine Elms and Battersea Power Station - will also have step-free access.</p>

<h2>Elizabeth line/TfL Rail</h2>

<p>All stations on the <a href="/travel-information/improvements-and-projects/elizabeth-line">Elizabeth line</a> will have step-free access. This includes the new stations in central London (currently being built by Crossrail Ltd) and existing stations in east and west London, currently served by TfL Rail, that will become part of the line.</p>

<p><strong>2020/21:</strong> Acton Main Line, Ealing Broadway, Hanwell, Hayes &amp; Harlington, Ilford, Iver, Romford, Southall, Taplow, West Ealing, West Drayton,Langley</p>

<p><a href="/travel-information/improvements-and-projects/preparing-for-the-elizabeth-line">Find out more about TfL Rail station improvements.</a></p>

<h2>London Overground</h2>

<p><strong>2020/21 onwards: </strong>Battersea Park, Brondesbury, Hackney Downs, Peckham Rye, Queen's Park, Seven Sisters, Whitechapel</p>

<h2>Platform to train access</h2>

<p>Step-free access projects don't always create level access between the platform and the train. But any new trains introduced as part of our work to <a href="/campaign/tube-improvements">improve the Tube</a> should minimise the step and gap between platform and train.</p>

<p>In some places we are also adding portable ramps that can be positioned by station staff or building platform humps - permanently raised areas on the platform. These help to ensure a full step-free route from street to train.</p>
      
           
      
      
        
          
        
      
    
  </div>
  <div class="aside" role="complementary">

   
    
    
    
    <div>
















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/improvements_projects" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/improvements_projects" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
      <div class="module-grid clearfix">
                    
        <div class="follow-social twitter">
  
  <div class="social-image">
    
  </div>
  <div class="social-text">
    <h3>Advice on TfL access</h3>
    <p>Get the most out of the transport network</p>
  </div>
  <div class="social-button">
    <a class="secondary-button" href="https://twitter.com/TfLAccess">Follow &#64;TfLAccess</a>
  </div> 
</div>
 <div class="related-links">

    <h3>Also on this site</h3>

<div class="vertical-button-container">

<a href="/transport-accessibility/index" class="plain-button">Transport accessibility</a>
<a href="/campaign/tube-improvements" class="plain-button">Tube improvement plan</a>
    </div>
</div>
 
      </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "We are adding step-free access to more Tube and London Overground stations";}
        
            
        


 