
    
  



@{ViewBag.Title = "Wandsworth town centre";}
@{ViewBag.Keywords = "Cyclists,Drivers,Pedestrians,W,Wandsworth,Consultation,Environment,Roads,Buses,Coaches,Cycling,Deliveries,Driving,Motorcycle,Taxis and minicabs,Walking,TfL";}
@{ViewBag.Url = "/travel-information/improvements-and-projects/wandsworth-town-centre";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/travel-information/improvements-and-projects/index">Improvements & projects</a></li>
                
            
            
                <li><span class="last-breadcrumb">Wandsworth town centre</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Wandsworth town centre</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        A scheme to improve traffic in Wandsworth High Street and rejuvenate the town centre is being developed. We currently expect to start the work in 2021.<BR>
        
      </div>
    
    
      <p>The <a href="https://www.theramquarter.com">development of Ram Quarter</a>, alongside Wandsworth Council's plans to regenerate the town centre, will transform the local area for residents and create new opportunities for businesses.</p>

<p>As part of these changes, we have a plan to decrease traffic dominance in Wandsworth High Street and help rejuvenate the area.</p>

<p>Our proposals include:&nbsp;&nbsp;</p>

<ul>
	<li>Reducing through traffic in the town centre, leaving it free for buses, cyclists and local access</li>
	<li>Widening footways</li>
	<li>Improving the local environment</li>
</ul>

<p>A public consultation on the changes proposed for Wandsworth town centre ended in January 2016. The consultation report is on the <a href="https://consultations.tfl.gov.uk/roads/wandsworth-town-centre">Wandsworth town centre consultation page</a>.</p>
      
           
      
<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap landscape-download-image with-image pdfpdf" href="/cdn/static/cms/documents/wandsworth-future-traffic-flow-map.pdf">
    <div class="document-download-text">
        <p>Proposed direction of traffic flow around Wandsworth town centre  </p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 262KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

    <div class="document-download-image">
        <img src="/cdn/static/cms/images/wtc-map-detail.jpg" alt="thumbnail of wandsworth town centre traffic map" />
    </div>

</a>

<!-- 0.26 -->
 
</div>

</div>
 <div>

<p>The timeline for this scheme includes a compulsory purchase order (CPO) process to get the additional land we need - this can take 18-24 months.</p>
</div>
 
      
        
          
        
      
    
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/improvements_projects" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/improvements_projects" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
      <div class="module-grid clearfix">
                    
        <div>
    
    <div class="contact-info-box">
        <div class="contact-info-header">
            <h3>Contact us</h3>
        </div>
        
        
            
        
        
            
                
                 
        
        
        
        <div class="content-group">
            <p>
                <abbr title="Telephone number">Call</abbr>&nbsp;<a href="/corporate/terms-and-conditions/tfl-call-charges">Charges apply</a><br />
                0343 222 1234
            </p>
        </div>
        
        
        
        <div class="content-group">
            <p>
                <abbr title="Address">Write</abbr>
            </p>
            Email <a href="mailto:consultations&#64;tfl.gov.uk">consultations&#64;tfl.gov.uk</a><br />
<br />
<strong>Contact us if you have questions or comments about the scheme.</strong><br />
        </div>
        
        
    </div>
</div>
 <div class="related-links">

    <h3>Related website</h3>

<div class="vertical-button-container">

<a href="https://www.theramquarter.com" class="plain-button">Ram Quarter</a>
    </div>
</div>
 
      </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Plans are underway to regenerate Wandsworth town centre";}
        
            
        


 