
    
  



@{ViewBag.Title = "Waterloo roundabout";}
@{ViewBag.Keywords = "Cyclists,Pedestrians,Rail passengers,W,Lambeth,Roads,Buses,Coaches,Cycling,Deliveries,Driving,Motorcycle,Rail,Taxis and minicabs,Walking,TfL";}
@{ViewBag.Url = "/travel-information/improvements-and-projects/waterloo-roundabout";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/travel-information/improvements-and-projects/index">Improvements & projects</a></li>
                
            
            
                <li><span class="last-breadcrumb">Waterloo roundabout</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Waterloo roundabout</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        Along with Lambeth Council we are proposing to transform the area around Waterloo roundabout and Waterloo Road. We're finishing the project's design - we expect to start construction in early 2020.
        
      </div>
    
    
      <p>It's not easy to walk around the Waterloo roundabout area and to change between different forms of public transport. This project would make those connections easier and safer for all transport users. It would also support the regeneration and growth of the Waterloo area.</p>

<p>Removing the existing roundabout layout would make traffic less dominant and give people more space to enjoy the area.</p>

<p>The project will support the Healthy Streets Approach and Vision Zero action plan of the <a href="/corporate/about-tfl/the-mayors-transport-strategy">Mayor's Transport Strategy</a>.</p>

<h2>Progress since consultation</h2>

<p>Our report on the January 2017 consultation, plus a report on issues raised during the consultation, are on&nbsp;the <a href="http://tfl.gov.uk/waterloo-roundabout">Waterloo Roundabout consultation page</a>.</p>

<p>The most frequently issues raised were:</p>

<ul>
	<li>Concerns about the loss of mature trees outside St John's Church</li>
	<li>Suggestions that the proposals do not go far enough to improve cyclist, pedestrian and commuter facilities</li>
	<li>Impact on journey times</li>
	<li>Impact on local streets of a banned right turn from Waterloo Road into Stamford Street</li>
</ul>

<p>Since the consultation we have:</p>

<ul>
	<li>Amended the design to keep the three trees outside King's College and St John's Church. Drivers will still be able to get close to both buildings to drop off and pick up from the plaza</li>
	<li>Decided to keep the proposed right turn ban into Stamford Street - we concluded that the cost of widening the roundabout structure for the relatively low number of vehicles turning right could not be justified</li>
	<li>Worked with Lambeth Council to develop plans to make changes to local streets in the area for pedestrians, residents and visitors</li>
	<li>Considered how best to keep the loading bay outside Sainsbury's and provide pick up/drop off points on Waterloo Road</li>
</ul>

<h2>Design developments</h2>

<p>We have changed the road design in order to keep the trees outside of the church. We have also asked for technical expertise from the Mayor's Design Advisory Group, Independent Disability Advisory group and others. We now plan to:</p>

<ul>
	<li>Change the proposed steps and ramps - the ramps will be shorter with pocket parks in the waiting areas. There will still be access to the lowered walkway around the BFI IMAX and a route to South Bank with clear sight lines</li>
	<li>Improve the bus station, concentrating bus activity on the southern side of the square and adding a shelter for customers waiting for, or changing between, buses</li>
	<li>Declutter the public square - people will have space to walk and seating to rest, plus trees will be&nbsp; planted for shade</li>
	<li>Change the pedestrian crossing between St John's Church and the new square - pedestrians will now have to cross in two stages</li>
	<li>Move the proposed kiosks to make it easier to get around the area. The kiosks and retail spaces in the closed subways will make the public square more lively and add a sense of security. These will need plannng permission</li>
</ul>
      
           
      
<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap portrait-download-image with-image pdfpdf" href="/cdn/static/cms/documents/waterloo-combined-files-update-november-2019.pdf">
    <div class="document-download-text">
        <p>Waterloo roundabout design</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 11.51MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

    <div class="document-download-image">
        <img src="/cdn/static/cms/images/waterloo-roundabout-scheme-thumb.jpg" alt="detail from plan for Waterloo City hub" />
    </div>

</a>

<!-- 11.51 -->
 
</div>

</div>
 <div>

<div>
<h2>How your journey might be affected</h2>

<h3>Driving</h3>

<p>Drivers won't be able to turn right into Stamford Street from Waterloo Road.</p>

<p>We may also ban right turns from Waterloo Road into:</p>

<ul>
	<li>Alaska Street</li>
	<li>Exton Street</li>
</ul>

<h3>Buses</h3>

<p>We don't plan to change bus services as part of this work. Bus stops in the new bus station will be simplified to serve buses going in similar directions.</p>

<h2>Next steps</h2>
</div>

<p>Working with Lambeth Council and local residents groups we have developed designs for the proposed bus shelters, public space and kiosks as well as plans to respond to concerns about traffic on local roads.</p>

<p>We showed our latest plans at public drop-in events in July 2019. These included the latest designs and proposed changes to traffic.</p>

<p>Now we plan to:</p>

<ul>
	<li>Keep talking to local people and businesses</li>
	<li>Continue working closely with Lambeth Council and developers in the area to ensure a coordinated delivery that goes along with existing and future plans for Waterloo</li>
	<li>Autumn 2019 - Submit planning application for the proposed kiosk and subway developments and a Traffic Order for changes to the roads</li>
	<li>Autumn 2019 - Respond to questions raised during our public outreach in July 2019</li>
	<li>Early 2020 - Start construction</li>
</ul>
</div>
 
      
        
          
        
      
    
  </div>
  <div class="aside" role="complementary">

   
    
    
    
    <div>
















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/improvements_projects" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/improvements_projects" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
      <div class="module-grid clearfix">
                    
        <div>
    
    <div class="contact-info-box">
        <div class="contact-info-header">
            <h3>Contact us</h3>
        </div>
        
        
            
        
        
            
                
                 
        
        
        
        <div class="content-group">
            <p>
                <abbr title="Telephone number">Call</abbr>&nbsp;<a href="/corporate/terms-and-conditions/tfl-call-charges">Charges apply</a><br />
                0343 222 1234
            </p>
        </div>
        
        
        
        <div class="content-group">
            <p>
                <abbr title="Address">Write</abbr>
            </p>
            Email <a href="mailto:consultations&#64;tfl.gov.uk">consultations&#64;tfl.gov.uk</a><br />
<br />
<strong>Contact us if you have questions or comments about the scheme.</strong><br />
        </div>
        
        
    </div>
</div>
 <div class="related-links">

    <h3>Also on the site</h3>

<div class="vertical-button-container">

<a href="/campaign/tube-improvements" class="plain-button">Tube improvement</a>
    </div>
</div>
 
      </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "We are working on proposals to create better public spaces around the Waterloo roundabout";}
        
            
        


 