
    
  



@{ViewBag.Title = "What we've done so far";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/travel-information/improvements-and-projects/what-we-ve-done-so-far";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        

@{
    Response.Status = "301 Moved permanently";
    Response.AddHeader("Location", "/travel-information/improvements-and-projects/preparing-for-the-elizabeth-line");   
}

 

<div class="r">
  <div class="headline-container plain">
    <h1>What we've done so far</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        New track, trains and refurbished stations are appearing on the TfL Rail route as we prepare for the arrival of the Elizabeth line.
        
      </div>
    
    <div class="on-this-page">
      <p>Every platform has been updated to make way for the new trains, and improvements are being made at stations.</p>
      
           
      <div class="clearfix">
    <div class="image-box">
    
        
        
        <img src="/cdn/static/cms/images/so-far-elizabeth-line.jpg" alt="What we've been doing Elizabeth line image" />
        
        
        
    </div>   
 </div>
 <div>

<h2>Liverpool Street to Shenfield and Abbey Wood</h2>
<h3>Abbey Wood station</h3>
<p>We installed new toilet facilities and step-free access to Wilton Road and Felixstowe Road.</p>
</div>
 <div class="clearfix">
    <div class="image-box right-float">
    
        
        
        <img src="/cdn/static/cms/images/brentwood_rdax_400x250.jpg" alt="Brentwood station jpg" />
        
        
        
    </div>
    <h3>Brentwood station</h3>

<p>The waiting room has been reopened.</p>

<p>We installed:</p>

<ul>
	<li>New ticket gates in the main ticket hall and on platform 4</li>
	<li>Accessible ticket office windows</li>
	<li>A new entrance door in the main ticket hall</li>
	<li>New digital screens in the ticket hall to make customer information easier to see</li>
	<li>New seating has been put in on platforms.</li>
</ul>

<p>We also redecorated inside and out and improved live travel information to help get your journey off to a good start.</p>
 </div>
 <div class="clearfix">
    <div class="image-box right-float">
    
        
        
        <img src="/cdn/static/cms/images/chadwell_rdax_400x250.jpg" alt="Chadwell station" />
        
        
        
    </div>
    <h3>Chadwell Heath station</h3>

<p>By refurbishing the ticket hall, platform buildings and waiting room, we've made the station brighter and more accessible, with new accessible toilets and ticket office windows.</p>

<p>We also relocated the ticket gates to help make our staff more visible.</p>

<p>New digital screens in the ticket hall will make customer information easier to see.</p>

<p>We completed platform redecoration.</p>
 </div>
 <div>

<h3>Forest Gate</h3>

<p>The footbridge and ticket hall have been refurbished.</p>

<p>The ticket office has been refurbished.</p>

<h3>Gidea Park station</h3>

<p>We recently refurbished the outside of the station building. We also improved the area around the car park entrance by refurbishing the cycling facilities and improving the landscaping and lighting around the entrance.</p>

<h3>Goodmayes station</h3>

<p>We completed platform redecoration.</p>

<h3>Harold Wood station</h3>

<p>The waiting room has recently been refurbished. We redecorated the walls, floors, door and windows, making it a more pleasant place to wait for your train.</p>

<p>Network Rail have also refurbished the toilets and provided new, accessible facilities.</p>

<h3>Ilford station</h3>

<p>We recently completed refurbishment of the waiting room on platforms 2 and 3, including improving the decoration and providing a new breakfast bar and seating.</p>

<p>In 2016 we opened a brand new ticket hall on York Road. By remodeling inside and restoring the outside of an existing building we've created an alternative to the main ticket hall on Cranbrook Road.</p>

<p>This light and clean entrance has new ticket gates and improved electronic customer information that we will soon be rolling out to more stations.</p>

<p>We installed digital screens in the ticket hall to make customer information easier to see.</p>

<p>We completed platform and station building redecoration, and have put in new platform seating.</p>

<h3>Manor Park station</h3>

<p>We installed digital screens at the York Road entrance to make customer information easier to see.</p>

<h3>Maryland station</h3>

<p>We recently installed new ticket gates at the station to help increase security.</p>

<h3>Romford station</h3>

<p>We completely remodelled the male and female toilets, with all new toilets, sinks and hand dryers. We moved the entrance to these facilities, and took the opportunity to redecorate the waiting room.</p>

<p>New seating has now been added on platforms.</p>

<h3>Seven Kings station</h3>

<p>The ticket hall now benefits from new accessible ticket office windows as well as improved customer information. The brighter, more open ticket hall has been redecorated inside and out.</p>

<p>We installed digital screens in the ticket hall to make customer information easier to see.</p>

<h3>Shenfield station</h3>

<p>Network Rail has upgraded tracks, signalling and overhead lines, and built a new platform. These improvements will mean more reliable services across the line. They also make way for our new trains to run in and out of the brand new platform.</p>
</div>
 <div>

<h2>Paddington to Heathrow and Reading</h2>
<h3>Burnham</h3>
<p>We have installed new benches on the platforms.</p>
<h3>Hanwell</h3>
<p>We refurbished the toilets.</p>
<h3>Iver</h3>
<p>We have installed new benches on the platforms.</p>
<p>Network Rail has improved CCTV.</p>
<h3>Langley</h3>
<p>We have installed new benches on the platforms.</p>
<p>Network Rail has improved CCTV.</p>
<h3>Taplow</h3>
<p>We have installed new benches on the platforms.</p>
<p>Network Rail has improved CCTV.</p>
<p>As well as all these completed improvements, other work is in progress at many more stations. See the <a href="/travel-information/improvements-and-projects/tfl-rail-improvements">TfL Rail improvements</a> page.</p>
</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
      <div class="module-grid clearfix">
                    
        <div class="related-links">

    <h3>Also on this site</h3>

<div class="vertical-button-container">

<a href="/travel-information/improvements-and-projects/tfl-rail-improvements" class="plain-button">TfL Rail improvements</a>
<a href="/campaign/tfl-managed-stations" class="plain-button">TfL managed stations</a>
    </div>
</div>
 
      </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "We're working with Network Rail and our subsidiary Crossrail Ltd. to improve the TfL Rail route, before it becomes part of the Elizabeth line";}
        
            
        


 