
    
  



@{ViewBag.Title = "Wood Lane arches";}
@{ViewBag.Keywords = "W,Hammersmith & Fulham,Streetscape,Walking,TfL";}
@{ViewBag.Url = "/travel-information/improvements-and-projects/wood-lane-arches";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/travel-information/improvements-and-projects/index">Improvements & projects</a></li>
                
            
            
                <li><span class="last-breadcrumb">Wood Lane arches</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Wood Lane arches</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        We're creating commercial and retail units in our mostly disused railway arches at Wood Lane Tube station, work that will support new jobs and opportunities for businesses. The first business - BBQ joint Prairie Fire - opened in December 2019.
        
      </div>
    
    
      <p>Prairie Fire has taken over two arches, one for the restaurant and the other for a taproom. This is Prairie Fire's first bricks and mortar site after trading at food markets and festivals across London.</p>

<h2>What we're doing</h2>

<p>We own 31 arches in the Hammersmith &amp; City line railway viaduct at Wood Lane Tube station. We have planning permission from Hammersmith &amp; Fulham Council to convert the arches into commercial units which could become caf&eacute;s, restaurants or shops.</p>

<p>Details of available properties are on the <a href="http://londonarches.co.uk">Wood Lane London Arches website</a>.</p>

<p>Our arches are in the White City Opportunity Area close to several major housing developments. We want to contribute to the regeneration of the area by opening up some of our arches as public access routes.</p>

<p>The White City Opportunity Area is aimed at generating 6,000 new homes and 10,000 new jobs.</p>

<h2>The works</h2>

<p>We're converting arches in two separate phases:</p>

<ul>
	<li>The first phase created 13 new commercial units and three arches for public access</li>
	<li>The timing of the second phase will depend on building work on residential properties nearby - they're due to finish in the early 2020s</li>
</ul>

<p>We showed our proposals for the arches at public drop-in sessions in November 2016.</p>
      
           
      
<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/wood-land-arches-public-consultation-display-boards.pdf">
    <div class="document-download-text">
        <p>Wood Lane arches proposals - display boards</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 5.71MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 5.71 -->
 
</div>

</div>
 

 @this.ScriptBlock(
     @<script>
          queue.push(
            "@Html.ScriptPath("plugins/gallery-media.min.js")", null,
            function() {
                var galleryLite = $(".gallery-lite");

                if (galleryLite.length) {
                    galleryLite.gallery();
                }
            }
        );
     </script>
 )
      
<div class="gallery-lite-wrap">
    <ul class="gallery-lite no-borders">
    
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/wood-lane-prairie-fire-exterior.jpg" alt="Wood Lane Arches" />
                <figcaption>
<span class="figure-title">Wood Lane Arches</span>
<span class="figure-description">Restaurant exterior - Prairie Fire</span>
                </figcaption>
            </figure>
        </li>
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/wood-lane-prairie-fire-grill.jpg" alt="Wood Lane Arches" />
                <figcaption>
<span class="figure-title">Wood Lane Arches</span>
<span class="figure-description">Grill at Prairie Fire</span>
                </figcaption>
            </figure>
        </li>
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/wood-lane-westfield-arches.jpg" alt="Wood Lane Arches" />
                <figcaption>
<span class="figure-title">Wood Lane Arches</span>
<span class="figure-description">Where we're working</span>
                </figcaption>
            </figure>
        </li>
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/wood-lane-arches-future-cgi.jpg" alt="Wood Lane arches" />
                <figcaption>
<span class="figure-title">Wood Lane arches</span>
<span class="figure-description">The future development</span>
                </figcaption>
            </figure>
        </li>
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/wood-lane-arches-rail-line.jpg" alt="Wood Lane arches" />
                <figcaption>
<span class="figure-title">Wood Lane arches</span>
<span class="figure-description">Rail line over disused arches</span>
                </figcaption>
            </figure>
        </li>
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/wood-lane-arches-inside.jpg" alt="Wood Lane arches" />
                <figcaption>
<span class="figure-title">Wood Lane arches</span>
<span class="figure-description">Inside a disused arch</span>
                </figcaption>
            </figure>
        </li>
    
  </ul>
</div>
 
      
        
          
        
      
    
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/improvements_projects" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/improvements_projects" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
      <div class="module-grid clearfix">
                    
        <div class="related-links">

    <h3>Also on this site</h3>

<div class="vertical-button-container">

<a href="/info-for/business-and-commercial/commercial-properties" class="plain-button">Commercial properties</a>
    </div>
</div>
 
      </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Developing the disused arches at Wood Lane will help to transform the area";}
        
            
        


 