
    
  



@{ViewBag.Title = "Card confirm";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/modes/driving/account-card-confirm-29304";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/modes/driving/index">Driving</a></li>
                
            
            
            
            
                <li><span class="last-breadcrumb">Card confirm</span></li>
            
        
 
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Card confirm</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
    
      
      
           
      


		
		<!-- account / card-confirm -->
        @{
            Html.RenderAction(
                "CardConfirm",
                "CreateAccount",
                new
                {
                    area = "Ruc",
                    preferencesUrl = "/modes/driving/account-preferences-29292",
                    cardFailureUrl = "/modes/driving/account-card-error-29308",
                    cancelUrl = "/modes/driving/account-payment-29283",
                    paymentUrl = "/modes/driving/account-payment-29283"
                }
            );
        }
        
	  

 
      
        
          
        
      
    
  </div>
  <div class="aside" role="complementary">

    
<div class="login-aside">
                @{
                    Html.RenderAction(
                        "UserLoginBox", 
                        "Account", 
                        new { 
                            Area = "Ruc", 
                            returnUrl = "/modes/driving/account-account-landing-29377"
                        }
                    );
                }
            </div>
      

 
    
    
    <div></div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>

 
        
        
        
            @{ViewBag.Description = "";}
        
            
        


 