
    
  



@{ViewBag.Title = "Choose vehicle";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/modes/driving/account-vehicles";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/modes/driving/index">Driving</a></li>
                
            
            
            
            
                <li><span class="last-breadcrumb">Choose vehicle</span></li>
            
        
 
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Choose vehicle</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        <p>Enter the details of a new vehicle or select a vehicle on your account to pay for.</p>
        
      </div>
    
    
      
      
           
      

          @{
            dynamic content = new ContentModel();
            content.VehicleNotInMyListText = "New vehicle details";
            content.SortLabel = "Sort";
            content.SearchLabel = "Search";
            content.DetailNotFoundMessage = "<h4>We do not hold details for this vehicle</h4><p><strong>UK-registered:</strong> If your vehicle’s make and model details have not been returned, make sure you entered the number plate&nbsp;(Vehicle Registration Mark) correctly before continuing.</p><p><strong>Registered outside the United Kingdom:</strong> We are unable to display the make, model and colour information. Confirm this is the correct vehicle to continue.</p>";
            content.ExemptAllMessage = "<p>Based on the vehicle details entered and information held by the DVLA and TfL today, this vehicle is exempt from the Congestion Charge, the ULEZ and the LEZ. This may change - always check to see if you need to pay to drive within the zone(s).</p>";
            content.ApplyFilterLabel = "Apply filter";
            content.ResetFilterLabel = "Reset";
            content.ResidentDiscountPageUrl = "";
            content.ContinueFailMessage = "Select a vehicle to continue";
            content.PayChargesForResidentDiscountUrl =  "/modes/driving/paying-the-congestion-charge-select-congestion-charge-26420";
            content.PayChargesUrl = "/modes/driving/pay-to-drive-in-london/select-charges";
            content.LezZoneCheckerUrl = "/modes/driving/zone-check";
            content.VehicleNotInMyListTextAction = "/modes/driving/pay-the-charge-select-vehicle-26283";
            content.NoChargePayableUrl = "/modes/driving/pay-to-drive-in-london/pay-to-drive-in-london-no-charges";
            
            //Resident Discount Modal Popup
            content.ResidentDiscountModalPopupHeadingText = "Are you sure?";
            content.ResidentDiscountModalBodyText = "You can only pay for this vehicle by itself. You will lose the items already in your basket if you continue.";
            content.ResidentDiscountModalContinueButtonText = "Continue";
            content.ResidentDiscountModalBackButtonText = "Back";
            
            Html.RenderAction("SetChangeVehicleUrl", "VehicleLookup", new
            {
                changeVehicleUrl = "/modes/driving/account-vehicles"
            });
            
            Html.RenderAction("AccountVehicles", "VehicleList", new
            {    
                content = content
            }); 
        }
           <div class="account-vehicle-button-set button-set">
                <input id="continue-button" type="submit" class="primary-button" value="Continue">
                <a id="back-button" href="#" class=" tertiary-link go-back"><span class="button-text">Back</span></a>
            </div>
        
        </div>
    
        <div class="aside">
            @{
                dynamic userInfoBoxContent = new ContentModel();
                Html.RenderAction("UserInfoBox", "Account", new { Area = "Ruc", content = userInfoBoxContent, logOutUrl = "/modes/driving/congestion-charge" });
            }
            <div data-set="sidenav-container" class="small-medium"></div>
        </div>
      
 
      
        
          
        
      
    
  </div>
  <div class="aside" role="complementary">

    
    
    
    <div></div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>

 
        
        
        
            @{ViewBag.Description = "Enter the details of a new vehicle or select a vehicle on your account to pay for.";}
        
            
        


 