
    
  



@{ViewBag.Title = "Payment history";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/modes/driving/account-transaction-detail-37385";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/modes/driving/index">Driving</a></li>
                
            
            
            
            
                <li><span class="last-breadcrumb">Payment history</span></li>
            
        
 
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Payment history</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
    
      <h2>Payment details</h2>
      
           
      


	    
		<!-- 2. transaction-detail -->
		@{
            dynamic content = new ContentModel();

            content.AmountLabel = "Amount: ";
            content.PaymentDateLabel = "Payment date: ";
            content.DateRangeLabel = "Date range: ";
            content.ReceiptNumberLabel = "Receipt number: ";
            content.AmountSuffix = "(CR)";
            content.DownloadReceiptLinkText = "Download this receipt";
            content.ActionsTitle = "Actions";
            content.AmendChargeButtonText = "Amend this charge";
            content.RefundChargeButtonText = "Refund this charge";
            content.FileNotAvailableErrorText = "Receipt is not available for download.";

            Html.RenderAction(
                RucDictionary.TransactionDetail.TransactionDetailAction,
                "TransactionDetail",
                new
                {
                    area = "Ruc",
                    content = content,
                    amendOrRefundUrl = "/modes/driving/amend-or-refund-charge-details"
                }
            );
        }
        @FormHelpers.DottedSeparator()
        @ModulesHelpers.BackLink()

		
	  

  
      
        
          
        
      
    
  </div>
  <div class="aside" role="complementary">

    

        @{
            dynamic userInfoBoxContent = new ContentModel();
            Html.RenderAction("UserInfoBox", "Account", new { Area = "Ruc", content = userInfoBoxContent, logOutUrl = "/modes/driving/congestion-charge" });
        }
        
      

 
    
    
      <div data-set="sidenav-container" class="large">
        
        
        @ModulesHelpers.PrintButton()
      
 
      </div>
    
    <div></div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>

 
        
        
        
            @{ViewBag.Description = "";}
        
            
        


 