
    
  



@{ViewBag.Title = "London Road User Charging account";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/modes/driving/account-reimbursement-partner-account-33212";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/modes/driving/index">Driving</a></li>
                
            
            
            
            
                <li><span class="last-breadcrumb">London Road User Charging account</span></li>
            
        
 
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>London Road User Charging account</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
    
      
      
           
      



      
<!-- 5. reimbursement-partner-account -->
    @{
        dynamic content = new ContentModel();
    
        content.AccountRefLabel = "Account number: ";
        content.AccountHolderLabel = "Account holder: ";
        content.CompanyNameLabel = "Company name: ";
        content.StatusOnReimbursementPartnerText = "Active reimbursement partner account";
        content.MyOptionsTitle = "My options";
        //content.AllAccountActivityTitle = "Account activity";
        //content.AllAccountActivityText = "View all activity on your account including correspondence and details of previous claims.";
        content.CorrespondenceHistoryTitle = "Correspondence history";
        content.CorrespondenceHistoryText = "View all past correspondence history including details of previous claims";
        
        content.AccountSettingsTitle = "Account settings";
        content.AccountSettingsText = "View and amend your details, and add or remove account users";
        content.MakeAClaimTitle = "Make a claim";
        content.MakeAClaimText = "Download a reimbursement template, complete it and upload it to make a claim";
    
        content.NavMakeAClaimText = "Make a claim";    
        content.NavAccountActivityText = "Account activity";
        content.NavContactUsText = "Contact us";
        content.NavAccountSettingsText = "Account settings";
        content.NavReimbursementUserGuideText = "Reimbursement user guide";
        content.NavFaqsText = "FAQs";
    
        //content.AccreditedBreakdownInvalidAccountApplicationError = "You can't apply for an accredited breakdown discount with this account";
        //content.BlueBadgeInvalidAccountApplicationError = "You cannot apply for a Blue Badge discount with this account";
        //content.ResidentsDiscountInvalidAccountApplicationError = "You can't apply for a residents' discount with this account";
        //content.UledInvalidAccountApplicationError = "CVDINVALIDCCOUNTAPPLICAITONERROR";
        //content.NinePlusInvalidAccountApplicationError = "NINEPLUSINVALIDACCOUNTAPPLICATIONERROR";
        //content.MotortrikeInvalidAccountApplicationError = "MOTORTRIKEINVALIDACCOUNTAPPLICATIONERROR";
        //content.RecoveryVehicleInvalidAccountApplicationError = "RECOVERYVEHICLEINVALIDACCOUNTAPPLICATIONERROR";
        //content.PersonalAutopayServiceInvalidAccountApplicationError = "You can't set up Auto Pay with this account";
        //content.BusinessAutopayInvalidAccountApplicationError = "You can't set up Fleet Auto Pay with this account";
        //content.FleetAutopayInvalidAccountApplicationError = "You can't set up Fleet Auto Pay with this account";
        //content.LezShowmanInvalidAccountApplicationError = "LEZSHOWMANINVALIDACCOUNTAPPLICATIONERROR";
        //content.ProxyBlueBadgeLoggedInApplicationError = "You can't apply for a Blue Badge discount on behalf of someone else while signed in to your own account - sign out and create a new account in the Blue Badge holder's name";
    }
    
    @{
        Html.RenderAction(
            "GetReimbursementPartnerAccount",
            "Account",
            new
                {
                    area = "Ruc",
                    //allAccountActivityUrl = "",
                    correspondenceHistoryUrl = "/modes/driving/account-correspondence-history-37389",
                    accountSettingsUrl = "/modes/driving/account-account-settings-29386",
                    makeAClaimUrl = "/modes/driving/cc-discount-upload-reimbursement-claim-38112",
                    content
                }
            );
    }
    
    @this.ScriptBlock(
        @<script>queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
            window.tfl.expandableList.init('#right-hand-nav', false);
        });</script>
    )


      
      
        
          
        
      
    
  </div>
  <div class="aside" role="complementary">

    

        @{
            dynamic userInfoBoxContent = new ContentModel();
            Html.RenderAction("UserInfoBox", "Account", new { Area = "Ruc", content = userInfoBoxContent, logOutUrl = "/modes/driving/congestion-charge" });
        }
        
      

 
    
    
    <div></div>
    
      <div>
                    
        <div class="vertical-button-container">
    <ul>
        
        
        
        <li><a href="/modes/driving/congestion-charge/contact-congestion-charge"  class="plain-button">Contact us</a></li>
        
    </ul>
</div>
<div class="related-links">

    <h3>Help with Auto Pay</h3>

<div class="vertical-button-container">

<a href="/modes/driving/pay-to-drive-in-london" class="plain-button">Auto Pay user guides</a>
    </div>
</div>
 
      </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>

 
        
        
        
            @{ViewBag.Description = "";}
        
            
        


 