
    
  



@{ViewBag.Title = "Account settings";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/modes/driving/account-add-user-confirmation-35050";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/modes/driving/index">Driving</a></li>
                
            
            
            
            
                <li><span class="last-breadcrumb">Account settings</span></li>
            
        
 
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Account settings</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
    
      <h2>Confirmation</h2>
      
           
      


        
        <!--  account / add-user-confirmation -->
         @{
            dynamic content = new ContentModel();
        
            content.InvitationSentHeading = "Thank you. You have successfully added a new account user.";
            content.ConfirmationMessage = "<p>You need to give {0} the Customer ID and PIN number created for them. They will need this the first time they sign in to your account and when contacting us by telephone.</p>";
            content.ConfirmationEmailSent = "An email has been sent to: {0}";
            content.ConfirmationPostSent = "Post has been sent to: {0}";
            content.ConfirmationEmailSentToUser = "Confirmation email sent to: {0}";
            content.UserIdLabel = "Customer ID:  ";
            content.PinLabel = "PIN: ";
            content.WhatHappensNextHeading = "What happens next?";
            content.ConfirmationEmailedForRecordLabel = "Correspondence has been sent to you by your preferred communication channel. It is your responsibility to tell the account user.";
        
            Html.RenderAction(
                "AccountUserConfirmation",
                "AccountSettings",
                new
                {
                    Area = "Ruc",
                    content = content,
                    accountSettingsUrl = "/modes/driving/account-account-settings-29386"
                });
        }
        
        @ModulesHelpers.BoxedLink(
            "/modes/driving/account-account-settings-29386",
            "view-payment-details",
            "Go back to Account settings",
            soloButton: true
        )
        
        
	  

      
        
          
        
      
    
  </div>
  <div class="aside" role="complementary">

    

        @{
            dynamic userInfoBoxContent = new ContentModel();
            Html.RenderAction("UserInfoBox", "Account", new { Area = "Ruc", content = userInfoBoxContent, logOutUrl = "/modes/driving/congestion-charge" });
        }
        
      

 
    
    
    <div></div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>

 
        
        
        
            @{ViewBag.Description = "";}
        
            
        


 