
    
  



@{ViewBag.Title = "Amend charge payment result";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/modes/driving/amend-charge-payment-result";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/modes/driving/index">Driving</a></li>
                
            
                 <li><a href="/modes/driving/amend-or-refund-a-driving-charge">Amend or refund a driving charge</a></li>
                
            
                
                <li><span class="last-breadcrumb">Amend charge payment result</span></li>
            
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Amend charge payment result</h1>

  </div>
</div>
<div class="main-and-aside r">
  
<div class="login-aside">
                @{
                    Html.RenderAction(
                        "UserLoginBox", 
                        "Account", 
                        new { 
                            Area = "Ruc", 
                            returnUrl = "/modes/driving/account-account-landing-29377"
                        }
                    );
                }
            </div>
      

 
  <div class="main content-container" role="main">
    
    
      
      
           
      

            @{
                Html.RenderAction(
                "PaymentResult",
                "ChangeZoneCharge", new
                {
                    area = "Ruc",
                    zoneType = ZoneChargeZone.CongestionCharge,
                    paymentConfirmationUrl = "/modes/driving/amend-charge-payment-confirmation",
                    paymentFailureUrl = "/modes/driving/amend-charge-payment-failure",
                    paymentCancelUrl = "/modes/driving/amend-or-refund-charge-details",
                });
            }
        
 
      
        
          
        
      
    
  </div>
  <div class="aside" role="complementary">

    

        @{
            dynamic userInfoBoxContent = new ContentModel();
            Html.RenderAction("UserInfoBox", "Account", new { Area = "Ruc", content = userInfoBoxContent, logOutUrl = "/modes/driving/congestion-charge" });
        }
        
      

 
    
    
    <div></div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>

 
        
        
        
            @{ViewBag.Description = "";}
        
            
        


 