
    


















@section adverts {
    <div class="top-banner-advert" aria-hidden="true">
        <div class="large" data-advert="/76889402/driving/" data-advert-sizes="970, 90|970, 250"></div>
        <div class="medium" data-advert="/76889402/driving/" data-advert-sizes="728, 90"></div>
        <div class="small" data-advert="/76889402/driving/" data-advert-sizes="300, 50|320, 50"></div>
    </div>
}


 
  


<!-- rhroot -->
@{ViewBag.Title = "Car clubs";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/modes/driving/car-clubs";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/modes/driving/index">Driving</a></li>
                
            
                
                <li><span class="last-breadcrumb">Car clubs</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Car clubs</h1>

  </div>
</div>
<div class="main-and-aside r">
  
<div class="login-aside">
                @{
                    Html.RenderAction(
                        "UserLoginBox", 
                        "Account", 
                        new { 
                            Area = "Ruc", 
                            returnUrl = "/modes/driving/account-account-landing-29377"
                        }
                    );
                }
            </div>
      

 
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        <p>Car clubs are short-term car rental services that allow members access to locally parked cars and pay by the minute, hour or day.</p>
        
      </div>
    
    
      <p>Car clubs offer an alternative model to private car ownership for individuals and businesses. Car clubs reduce the need for private parking and can help more Londoners give up their cars while allowing for&nbsp;occasional car travel within London.</p>

<p>London is full of car clubs, ranging from traditional 'back-to-base' returnable&nbsp;models&nbsp;to flexible one-way&nbsp;models,&nbsp;with&nbsp;dedicated parking bays and areas.</p>
      
           
      <div>


</div>
 <div class="clearfix">
    <div class="image-box right-float">
    
        
        
        <img src="/ruc-cdn/static/cms/images/car-clubs_rdax_400x250.jpg" alt="Car clubs" />
        <span class="caption">Unlock a car using your smartcard or smartphone</span>
        
        
    </div>
    <h2>What are the benefits?</h2>

<ul>
	<li><strong>Sustainable travel behaviour.</strong> Car clubs have the potential to reduce car ownership, inspiring a shift away from private car use to walking, cycling and public transport instead.</li>
	<li><strong>Benefits for businesses.</strong> Car clubs can help businesses and charities access the cleanest vans and cars, save money and reduce emissions.</li>
	<li><strong>Transition to electric vehicles.</strong> Many car clubs now operate electric or hybrid vehicles capable of operating with zero emissions.</li>
	<li><strong>Environmental and safety benefits.</strong> By encouraging people to transition to cleaner vehicles with the highest safety rating, car clubs can improve air quality and reduce CO2 emissions.</li>
</ul>
 </div>
 <div>

<h2>Ultra Low Emission Zone (ULEZ)</h2>

<p>Some car clubs are running <a href="/modes/driving/third-party-promotions">promotions for ULEZ</a>,&nbsp;involving vehicles that meet the ULEZ&nbsp;standards&nbsp;in order to support the Mayor's efforts to clean up London's toxic air. <a href="/modes/driving/ultra-low-emission-zone">Find out more about the ULEZ</a>.</p>
</div>
 <div>

<h3>Car sharing representative groups</h3>

<p><a href="https://como.org.uk/" target="_blank">CoMoUK</a></p>

<p><a href="http://bvrla.co.uk/" target="_blank">BVRLA</a></p>
</div>
 
      
        
          
        
      
    
  </div>
  <div class="aside" role="complementary">

    
    
    
    <div>
















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/driving/" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/driving/" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
      <div>
                    
        <div class="related-links">

    <h3>Related websites</h3>

<div class="vertical-button-container">

<a href="https://www.blue-city.co.uk/" class="plain-button">Blue City</a>
<a href="http://www.co-wheels.org.uk/" class="plain-button">Co-wheels</a>
<a href="https://www.drive-now.com/gb/en/london" class="plain-button">DriveNow</a>
<a href="https://www.enterprisecarclub.co.uk/gb/en/programs/regions/south-east-england/london.html" class="plain-button">Enterprise</a>
<a href="http://www.ubeeqo.com" class="plain-button">Ubeeqo</a>
<a href="http://www.zipcar.co.uk/" class="plain-button">Zipcar</a>
    </div>
</div>
 
      </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>

     @section scripts {
<div class="bottom-advert ">
    <div class="close-ad-button visually-hidden"><span class="close-icon-circle"></span></div>
    <div data-advert="/76889402/driving/" data-advert-sizes="320, 50"></div>
</div>
}

 
        
        
        
            @{ViewBag.Description = "The convenience of owning a car without the hassle or costs of repairs, servicing or parking";}
        
            
        


 