
    
  



@{ViewBag.Title = "Vehicles added";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/modes/driving/cc-autopay-manage-success-29161";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/modes/driving/index">Driving</a></li>
                
            
                 <li><a href="/modes/driving/auto-pay">Auto Pay</a></li>
                
            
            
            
                <li><span class="last-breadcrumb">Vehicles added</span></li>
            
        
 
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Vehicles added</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
    
      
      
           
      

        @{
            dynamic content = new ContentModel();
            
            content.ConfirmationText = "Your vehicle(s) have been added to your Auto Pay service.";
            content.ConfirmationForMultiVehiclesHeading = "Added to Auto Pay: {0} vehicles";
            content.ConfirmationForSingleVehicleHeading = "Added to Auto Pay: 1 vehicle";

            content.MonthlyStatementsHeading = "Monthly statements";
            content.MonthlyStatementsMessage = "Your next statement will be issued on {0}.";
            content.MoreInformationHeading = "Sign up for free alerts";
            content.MoreInformation = @"If you sign up for free mobile phone alerts, we can text you if there are any problems with your Auto Pay payments. Choose mobile phone alerts in your account settings.";
            content.MoreInformationCallToActionButtonText = "Account settings";
            content.MoreInformationCallToActionUrl = "/modes/driving/account-account-settings-29386";
    
            Html.RenderAction(
                "AddVehiclesToExistingAutoPaySuccess",
                "AutoPayManage",
                new
                {
                    area = "Ruc",
                    content = content
                }
            );
        }
        
        <div class="button-set">
            <a href="/modes/driving/cc-autopay-manage-manage-autopay-cc-29141" class="primary-button">
                Finish
            </a>
        </div>
      
 
      
        
          
        
      
    
  </div>
  <div class="aside" role="complementary">

    

        @{
            dynamic userInfoBoxContent = new ContentModel();
            Html.RenderAction("UserInfoBox", "Account", new { Area = "Ruc", content = userInfoBoxContent, logOutUrl = "/modes/driving/congestion-charge" });
        }
        
      

 
    
    
    <div></div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>

 
        
        
        
            @{ViewBag.Description = "";}
        
            
        


 