
    
  



@{ViewBag.Title = "Accredited breakdown discount";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/modes/driving/cc-accredited-manage-select-vehicle-34135";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/modes/driving/index">Driving</a></li>
                
            
            
            
            
            
            
                <li><span class="last-breadcrumb">Accredited breakdown discount</span></li>
            
        
 
        
 
        
 
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Accredited breakdown discount</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
    
      <h2>Add vehicle(s)</h2>
      
           
      


		
		<!-- 3. select-vehicle -->
		@using TfL.Ruc.Services.ViewModels.Ruc.DiscountManage
        @{
            dynamic content = new ContentModel();

            content.VehicleTypeHelperTitle = "What types of vehicles can I add to this discount?";
            content.VehicleTypeHelperText = "<p>Only vehicles constructed, adapted or equipped to provide roadside assistance or recovery services should be added to this discount.</p><p>We take fraud and misuse of all discounts very seriously. Our verification of the information supplied may include on-street inspections and checks.</p><p>If you stop being the owner of a registered discounted vehicle, or the vehicle is no longer eligible for the discount, you must immediately notify us and remove the vehicle from the discount.</p><p>&nbsp;</p>";
            
            content.AddAccountVehicleButton = "Add account vehicle";
            content.AddNewVehicleButton = "Add new vehicle";
            content.TotalVehiclesCountText = "{0} / {1}";
            content.VrmInformationForUlezHigh = "<p>This vehicle does not meet the ULEZ emissions standards. You need to pay the ULEZ charge if you drive within the zone. The zone operates at all times - charging days run from midnight to midnight.</p>";        
            content.VrmInformationForUlezLow = "<p>This vehicle does not meet the ULEZ emissions standards. You need to pay the ULEZ charge if you drive within the zone. The zone operates at all times - charging days run from midnight to midnight.</p>";
            content.RemoveConfirmMessage = "Confirm removal";
            content.DiscardRemoveButtonText = "Discard";
            content.ConfirmRemoveButtonText = "Remove";

            content.AddVehicleButtonText = "Add another vehicle";
            content.ConfirmVehicleButtonText = "Confirm";
            content.BackButtonText = "Back";
            content.ContinueButtonText = "Continue";
            content.CannotAddMoreVehiclesWarningText = "You can't add more than {0} at a time. Finish adding these vehicles and start again.";
            content.CannotAddMoreVehiclesErrorText = "<p>Maximum number of vehicles in this transaction reached.</p><p>To add further vehicles, complete this transaction before starting a new one.</p>";
            content.MustFindVehicleErrorText = "'Find vehicle' to continue";
            content.MustHaveAtLeastOneVehicleErrorText = "Add a vehicle to continue";
            // JSON content.FindVehicleButtonText = "Find vehicle";
            content.ConfirmEnteredVehicleButtonText = "Confirm";
            // JSON content.VrmTitle = "Vehicle Registration Mark";
            // JSON content.VrmPlaceHolder = "eg AB01ABC";
            // JSON content.VrmHelpMessageText = "Be careful not to mix up the letters 'I' and 'O' with the numbers '1' and '0'";
            // JSON content.CountryofRegistrationTitle = "Country of registration";
            content.CcDiscountedTitle = "CCDISCOUNTEDTITLE";
            content.CcDiscountedText = "<p>Based on the vehicle details entered and&nbsp;information held by the DVLA and TfL today, this vehicle qualifies for a 100% discount on&nbsp;the Congestion Charge.</p><p>If you believe this&nbsp;is incorrect and you still want to pay the Congestion Charge, add this vehicle or apply for a discount, then you can continue with this process.</p><p><strong>This may change&nbsp;- always check to see if you need to pay to drive within the zone.</strong></p>";
            content.CcExemptTitle = "No charge to payfor ";
            content.CcExemptText = "<p>Based on the vehicle details entered and&nbsp;information held by the DVLA and TfL today, this vehicle is exempt from the Congestion Charge.</p><p>If you believe this&nbsp;is incorrect and you still want to pay the Congestion Charge, add this vehicle or apply for a discount, then you can continue with this process.</p><p><strong>This may change&nbsp;- always check to see if you need to pay to drive within the zone.</strong></p>";
            content.ThisisNotMyVehicleTitle = "What if my vehicle details are incorrect?";
            content.ThisisNotMyVehicleText = "<p>If the number plate is correct but the vehicle description shown is wrong, you can still continue to register this vehicle.</p><p>Vehicle information is provided to TfL by the DVLA or DVA, so you'll need to let the DVLA or DVA know if your vehicle details are wrong or need to be updated.</p>";
            // JSON content.VehicleNotFoundTitle = "<p><strong>We do not hold details for this vehicle</strong></p>";
            // JSON content.ConfirmEnteredVrmDetailsText = "Yes, I confirm this is the correct vehicle";
            // JSON content.VehicleNotFoundText = "<p><strong>UK-registered:</strong> If your vehicle’s make and model details have not been returned, please make sure you entered the number plate correctly before continuing.</p><p><strong>Registered outside the United Kingdom:</strong> We are unable to display the make, model and colour information. Confirm your details before continuing.</p>";
            content.VehicleAlreadyAddedErrorText = "You have already selected to add this vehicle";
            content.VehicleOnAutoPayExceptionErrorText = "This vehicle can't be added to Auto Pay";
            content.VehicleOnAutoPayErrorText = "This vehicle can't be added - it is already on a discount";
            content.ActiveDiscountText = "Active on ";
            content.SelectedVehiclesCountText = "Total vehicles being added to accredited breakdown discount: ";
            content.MinimumVehicleText = "MAXIMUMVEHICLETEXT";
            content.CanAddStartText = "CANADDSTARTTEXT";
            content.CanAddEndText = "CANADDENDTEXT";
            // JSON content.CountryOptionUk = "United Kingdom";
            // JSON content.CountryOptionOther = "Non-UK";
            content.FriendlyNameLabel = "Tag";
            content.CancelButtonText = "Cancel";
            content.FriendlyNameStringLength = "FRIENDLYNAMESTRINGLENGTH";
            // JSON content.VrmAcceptedRequireTrue = "Confirm this is the correct vehicle to continue";
            // JSON content.VehicleRegistrationMarkRequired = "Enter a Vehicle Registration Mark to continue";
            content.VehicleAlreadyOnYourAccreditedBreakdownErrorText = "You have already added this vehicle to your discount";
            content.PaymentExplanation = "<p>There is a £10 charge for each vehicle added. This charge should be paid no matter how long it is before the discount expires.</p>";
            content.PaymentText = "The &pound;10 charge should also be paid for every vehicle active on the discount when it is renewed.";

            content.PreviousUrl = "/modes/driving/cc-accredited-manage-before-you-begin-34125";
            content.NextUrl = "/modes/driving/cc-accredited-manage-review-application-34133";
            content.DiscountStyle = ZoneChargeDiscountStyle.AccreditedBreakdown;
            content.LookupType = TfL.Ruc.Domain.Entities.Ruc.VehicleLookupType.DiscountManageAccreditedBreakdown;
            content.AddAccountVehicleUrl = "/modes/driving/accredited-breakdown-account-vehicle";
            content.AddNewVehicleUrl = "/modes/driving/cc-accredited-manage-vrm-lookup";
            
            Html.RenderAction("AccreditedBreakdownAddVehicleFee", "DiscountManage", new
                {
                    area = "Ruc",
                    discountStyle = ZoneChargeDiscountStyle.AccreditedBreakdown,
                    //journeyStartUrl = "/modes/driving/cc-accredited-breakdown-manage-34762",
                    content = content
                }
            );
            <br />
            Html.RenderAction("AddAccreditedBreakdownVehicles", "DiscountManage", new
                {
                    area = "Ruc",
                    previousUrl = "/modes/driving/cc-accredited-manage-before-you-begin-34125",
                    nextUrl = "/modes/driving/cc-accredited-manage-review-application-34133",
                    content = content,                    
                    discountStyle = ZoneChargeDiscountStyle.AccreditedBreakdown,
                    lookupType = TfL.Ruc.Domain.Entities.Ruc.VehicleLookupType.DiscountManageAccreditedBreakdown,
                    journeyStartUrl = "/modes/driving/cc-accredited-breakdown-manage-34762",
                    addAccountVehicleUrl = "/modes/driving/accredited-breakdown-account-vehicle",
                    addNewVehicleUrl = "/modes/driving/cc-accredited-manage-vrm-lookup"
                }
            );
        }
		
	  



      
        
          
        
      
    
  </div>
  <div class="aside" role="complementary">

    

        @{
            dynamic userInfoBoxContent = new ContentModel();
            Html.RenderAction("UserInfoBox", "Account", new { Area = "Ruc", content = userInfoBoxContent, logOutUrl = "/modes/driving/congestion-charge" });
        }
        
      

 
    
    
    <div></div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>

 
        
        
        
            @{ViewBag.Description = "";}
        
            
        


 