
    
  



@{ViewBag.Title = "Accredited breakdown discount";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/modes/driving/cc-accredited-manage-payment-34131";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/modes/driving/index">Driving</a></li>
                
            
            
            
            
            
            
                <li><span class="last-breadcrumb">Accredited breakdown discount</span></li>
            
        
 
        
 
        
 
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Accredited breakdown discount</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
    
      <h2>Payment details </h2>
      
           
      


		
		<!-- 5. payment -->
		@{

            dynamic content = new ContentModel();

            content.StoredCardHeading = "Use stored card";
            content.SelectPaymentCardAssistiveText = "Select payment card ending";
            content.UseAnotherCardButtonText = "Use a different card";
            content.StoredCardExpiredHeading = "Stored card expired";

            Html.RenderAction("SelectStoredCard", "Payment", new
                {
                    area = "Ruc",
                    returnUrl = "/modes/driving/cc-accredited-manage-submit-34137",
                    paymentRefSessionKey = SessionKeys.DiscountManage.AccreditedBreakdown.PaymentId,
                    paymentAmountSessionKey = SessionKeys.DiscountManage.AccreditedBreakdown.PaymentAmount,
                    paymentDescription = "Discount application payment",
                    content = content,
                    journeyStartUrl = "/modes/driving/cc-accredited-breakdown-manage-34762",
                });
        }

        <a class="tertiary-link go-back" href="/modes/driving/cc-accredited-manage-review-application-34133" id="go-back">
            <span class="button-text">Back</span>
        </a>
        
        @this.ScriptBlock(
          @<script>
               queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
          </script>
        )
		
	  



      
        
          
        
      
    
  </div>
  <div class="aside" role="complementary">

    

        @{
            dynamic userInfoBoxContent = new ContentModel();
            Html.RenderAction("UserInfoBox", "Account", new { Area = "Ruc", content = userInfoBoxContent, logOutUrl = "/modes/driving/congestion-charge" });
        }
        
      

 
    
    
    <div></div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>

 
        
        
        
            @{ViewBag.Description = "";}
        
            
        


 