
    
  



@{ViewBag.Title = "CC Discount - Blue Badge - Manage - Manage-replace-vehicle";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/modes/driving/cc-blue-badge-manage-manage-replace-vehicle-32837";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/modes/driving/index">Driving</a></li>
                
            
            
            
            
            
                
                <li><span class="last-breadcrumb">CC Discount - Blue Badge - Manage - Manage-replace-vehicle</span></li>
            
        
 
        
 
        
 
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>CC Discount - Blue Badge - Manage - Manage-replace-vehicle</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
    
      
      
           
      


                
        <!-- 3. cc-blue-badge-manage-manage-replace-vehicle -->
        @using TfL.Ruc.Services.ViewModels.Ruc.DiscountManage
        @{            
            Html.RenderAction(
                "Manage",
                "DiscountManage",
                new
                {
                    area = "Ruc",                    
                    nextUrl = "/modes/driving/cc-blue-badge-manage-replace-vehicle-32839",                   
                    discountStyle = ZoneChargeDiscountStyle.BlueBadge
                }
            );
        }
        
      
      
        
          
        
      
    
  </div>
  <div class="aside" role="complementary">

    
    
    
    <div></div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>

 
        
        
        
            @{ViewBag.Description = "";}
        
            
        


 