
    
  



@{ViewBag.Title = "Renew Blue Badge discount";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/modes/driving/cc-blue-badge-renew-before-you-begin-34008";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/modes/driving/index">Driving</a></li>
                
            
            
            
            
            
            
                <li><span class="last-breadcrumb">Renew Blue Badge discount</span></li>
            
        
 
        
 
        
 
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Renew Blue Badge discount</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
    
      <h2>Before you start</h2>
      
           
      

 
        
        <!-- 2. blue-badge -->
        <p>Your Blue Badge discount is due to expire.</p>

<p>If you are still eligible for a Blue Badge you can renew the discount.</p>

<p>You need to upload images of both sides of your new Blue Badge and proof of identification.</p>
        @{
            dynamic content = new ContentModel();
            content.ContinueButtonText = "Continue";
            content.BackButtonText = "Back";
            content.Title = "Before you begin";
            content.WhatEvidenceHelpTitle = "What evidence do I need? ";
            content.WhatEvidenceHelpText = "<p>You need to provide a copy of:</p><ul>	<li>Both sides of your Blue Badge</li></ul><p>Plus a copy of 1 of the following proofs of identity:</p><ul>	<li>DSS benefit entitlement letter (no more than 7 months old)</li>	<li>Current passport</li>	<li>Current driver’s licence</li>	<li>Pension book/entitlement letter (no more than 7 months old)</li>	<li>Birth certificate (same first and last names as the Blue Badge. Not a Certificate of Registration of Birth)</li>	<li>Marriage certificate (same first and last names as the Blue Badge)</li>	<li>Current bank or credit card statement (no more than 3 months old)</li>	<li>Deed Poll Certificate (same first and last names as the Blue Badge)</li></ul>";
            
            Html.RenderAction("DiscountBeforeYouBegin", "DiscountRenew", new
                {
                    area = "Ruc",
                    nextUrl = "/modes/driving/cc-blue-badge-renew-enter-details-30681",
                    backUrl = "/modes/driving/cc-blue-badge-manage-30941",
                    content = content,
                    discountStyle = ZoneChargeDiscountStyle.BlueBadge
                }
            );
        }
        
	  

      
        
          
        
      
    
  </div>
  <div class="aside" role="complementary">

    

        @{
            dynamic userInfoBoxContent = new ContentModel();
            Html.RenderAction("UserInfoBox", "Account", new { Area = "Ruc", content = userInfoBoxContent, logOutUrl = "/modes/driving/congestion-charge" });
        }
        
      

 
    
    
    <div></div>
    
      <div>
                    
        <div class="vertical-button-container">
    <ul>
        
        
        
        <li><a href="/modes/driving/congestion-charge/paying-the-congestion-charge"  class="plain-button">Congestion Charge payments</a></li>
        
        
        <li><a href="/modes/driving/congestion-charge/congestion-charge-zone"  class="plain-button">Congestion Charge zone</a></li>
        
        
        <li><a href="/modes/driving/auto-pay"  class="plain-button">Auto Pay</a></li>
        
        
        <li><a href="/modes/driving/congestion-charge/discounts-and-exemptions"  class="plain-button">Discounts and exemptions</a></li>
        
        
        <li><a href="/modes/driving/congestion-charge/contact-congestion-charge"  class="plain-button">Contact Congestion Charge</a></li>
        
    </ul>
</div>

      </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>

 
        
        
        
            @{ViewBag.Description = "";}
        
            
        


 