
    
  



@{ViewBag.Title = "Review application";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/modes/driving/cc-motor-tricycle-review-application-33241";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/modes/driving/index">Driving</a></li>
                
            
            
            
            
            
            
                <li><span class="last-breadcrumb">Review application</span></li>
            
        
 
        
 
        
 
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Review application</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
    
      
      
           
      


        
        <!-- 4. motor-tricycle -->
        @{

            dynamic content = new ContentModel();
        
            content.BackButtonText = "Back";
            content.ContinueButtonText = "Continue";
        
            content.VehiclesHeading = "Vehicle(s)";
            content.SeatCountText = "Seat count: ";
        
            content.TermsAndConditionsHeading = "Terms and conditions";
            content.TermsAndConditionsText = "<p>I confirm that I have read, understood and accept the <a href='/corporate/terms-and-conditions/pay-to-drive-in-london' target='_blank'>motor tricycle discount terms and conditions</a></p>";
        
            content.EvidenceHeading = "Uploaded documents";
            content.EvidenceByPostText = "You have not uploaded any documents.";
        
            content.PaymentHeading = "Payment summary";
            content.PayementText = "<p>You need to pay a £10 registration charge before your application can be considered.</p><p>After that, it’s £10 each year if you want to renew the discount.</p>";
            content.PaymentTotalText = "Total";
        
            content.ActiveDiscountText = "Active on: ";
        
            content.TermsAndConditionsAcceptedRequireTrue = "Accept the terms and conditions to continue";
            content.ReviewEditButtonText = "Edit";
        
            Html.RenderAction(
                RucDictionary.DiscountApply.ReviewApplicationActionName,
                "DiscountApply",
                new
                {
                    area = "Ruc",
                    content = content,
                    discountStyle = ZoneChargeDiscountStyle.MotorTricycle,
                    successUrl = "/modes/driving/cc-motor-tricycle-success-33243",
                    failureUrl = "/modes/driving/cc-Motor-tricycle-failure-33322",
                    selectVehicleUrl = "/modes/driving/cc-motor-tricycle-select-vehicle-33239",
                    uploadEvidenceUrl = "/modes/driving/cc-motor-tricycle-upload-evidence-33240",
                    submissionUrl = "/modes/driving/cc-motor-tricycle-submit-33282",
                    paymentUrl = "/modes/driving/cc-motor-tricycle-payment-33242",
                    journeyStartUrl = "/modes/driving/cc-select-discount-29641"
                }
            );
        }
        
        
      

      
        
          
        
      
    
  </div>
  <div class="aside" role="complementary">

    

        @{
            dynamic userInfoBoxContent = new ContentModel();
            Html.RenderAction("UserInfoBox", "Account", new { Area = "Ruc", content = userInfoBoxContent, logOutUrl = "/modes/driving/congestion-charge" });
        }
        
      

 
    
    
    <div></div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>

 
        
        
        
            @{ViewBag.Description = "";}
        
            
        


 