
    
  



@{ViewBag.Title = "9+ seater discount";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/modes/driving/cc-nine-plus-seater-select-vehicle-33532";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/modes/driving/index">Driving</a></li>
                
            
            
            
            
            
            
                <li><span class="last-breadcrumb">9+ seater discount</span></li>
            
        
 
        
 
        
 
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>9+ seater discount</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
    
      <h2>Add vehicle </h2>
      
           
      


        
        <!-- 5. nine-plus-seater -->
        @{
            dynamic content = new ContentModel();
            content.SelectVehicleTitle = "Vehicle details";
            content.SelectVehicleText = "Tell us which vehicle(s) you want to add to this discount.";
            content.VehicleTypeHelperTitle = "What types of vehicle can I add to this discount?";
            content.VehicleTypeHelperText = "<p>Drivers of taxis, private hire vehicles and buses and coaches with 9 or more seats that are licensed with the DVLA as either in tax class 'Bus' or 'Reduced Pollution Bus' do not have to pay the Congestion Charge.</p><p>However, if vehicles with 9 or more seats (including the driver's seat) are registered with the DVLA in other tax classes, the vehicle's can register with us to qualify for the 100% discount from the Congestion Charge.</p><p>The types of vehicle that qualify for this discount include work buses, community service buses and private hire mini buses.</p><p><strong>ULEZ</strong>: The 9 + Seater discount only applies to the Congestion Charge. If your vehicle does not meet the emissions standards you will still need to pay the ULEZ charge to drive in the Congestion Charge zone.</p>";
            content.SeatsTitle = "Seats";
            content.SeatsText = "Enter the number of seats in your selected vehicle (including the driver's seat). Your vehicle must have at least 9 seats to qualify for this discount.";
            content.SeatsFieldText = "Number of seats";
            content.BackButtonText = "Back";
            content.ContinueButtonText = "Continue";
            content.VehicleNotFoundErrorText = "'Find vehicle' to continue";
            content.CannotAddMoreVehiclesErrorText = "<p>You can only register 1 vehicle for this discount. If you want to change the vehicle details you entered, use the 'Back' button.</p>";
            // JSON content.FindVehicleButtonText = "Find vehicle";
            content.ConfirmEnteredVehicleButtonText = "Confirm";
            // JSON content.VrmTitle = "Vehicle Registration Mark";
            // JSON  content.VrmPlaceHolder = "eg AB01ABC";
            // JSON content.VrmHelpMessageText = "Be careful not to mix up the letters 'I' and 'O' with the numbers '1' and '0'";
            // JSON content.CountryofRegistrationTitle = "Country of registration";
            content.CcDiscountedTitle = "No charge is due for ";
            content.CcDiscountedText = "<p>Based on the vehicle details entered and information held by the DVLA and TfL today, your vehicle is registered for a 100% discount from the Congestion Charge. If you believe this is incorrect and you still want to pay the Congestion Charge, add this vehicle or apply for a discount, then you can continue.</p><p><strong>This may change - always check to see if you need to pay to drive within the zone.</strong></p>";
            content.CcExemptTitle = "No charge is due for ";
            content.CcExemptText = "<p>Based on the vehicle details entered and information held by the DVLA and TfL today, this vehicle is exempt from the Congestion Charge. If you believe this is incorrect and you still want to pay the Congestion Charge, add this vehicle or apply for a discount, then you can continue.</p><p><strong>This may change - always check to see if you need to pay to drive within the zone.</strong></p>";
            content.ThisisNotMyVehicleTitle = "What if my vehicle details are incorrect?";
            content.ThisisNotMyVehicleText = "<p>If the number plate (Vehicle Registration Mark) is correct but the description shown is wrong, you can still continue to register this vehicle.</p><p>Vehicle information is provided to TfL by the DVLA, so you'll need to let the DVLA know if your details are wrong or need to be updated.</p>";
            // JSON content.VehicleNotFoundTitle = "<p><strong>We do not hold any details for this vehicle</strong></p>";
            // JSON content.ConfirmEnteredVrmDetailsText = "Yes, this is the correct vehicle";
            // JSON content.VehicleNotFoundText = "<p><strong>UK-registered:</strong> If your vehicle’s make and model details have not been returned, make sure you entered the Vehicle Registration Mark correctly before continuing.</p><p><strong>Registered outside the United Kingdom:</strong> We are unable to display the make, model and colour information. Confirm your details before continuing.</p>";
            content.QmlLimitReachedTitle = "<p>You already have 10 vehicles on your Quick Management list</p>";
            content.QmlLimitReachedText = "<p>You can continue with the discount application and add this vehicle to your Quick Management list later.</p><p>Once you have submitted the application, you will need to remove a vehicle before adding another.</p>";
            content.ConfirmSaveVehicleToQmlText = "Save this vehicle to my account Quick Management list";
            content.QmlUseDifferentVehicleText = "Use a different vehicle";
            content.ResidentDiscountAppliedText = "Active on residents' discount";
            content.VehicleAlreadyAddedErrorText = "No need to check the box above. This vehicle is already on your account to help you pay the charge.";
            content.ActiveDiscountText = "Active on:  ";
            content.CheckQmlVehicleButtonText = "Check";
            // JSON content.VrmAcceptedRequireTrue = "Confirm that this is the correct vehicle to continue";
            // JSON content.VehicleRegistrationMarkRequired = "Enter a Vehicle Registration Mark to continue";
            // JSON content.CountryOptionUk = "United Kingdom";
            // JSON content.CountryOptionOther = "Other";
            content.ConfirmVehicleErrorText = "'Find vehicle' to continue";
            content.NumberOfSeatsRequired = "Enter number of seats (including the driver's seat) to continue";
            content.NumberOfSeatsRange = "Vehicle must have 9 or more seats to qualify";
            content.NumberOfSeatsRegularExpression = "Enter number of seats (including the driver's seat) to continue";
            content.CcAndToxicityChargeableText = "<p>You need to pay the <a href='/modes/driving/emissions-surcharge' target='_blank'>T-Charge</a> to drive your vehicle within the Congestion Charge area if it does not meet the required emissions standard. If you qualify for the 90% residents' discount you also get a 90% discount from the T-Charge.</p>";
            content.CcExemptAndToxicityChargeableText = "<p>Your vehicle does not meet the required emissions standard. Although you are currently exempt from the Congestion Charge, if your application for the 9+ seater discount is successful you will still need to pay the T-Charge to drive in the Congestion Charge zone.</p>";
            content.ToxicityChargeHeaderText = "T-Charge to pay";
        
            Html.RenderAction("SelectVehicle", "DiscountApply", new
                {
                    area = "Ruc",
                    discountStyle = ZoneChargeDiscountStyle.NinePlusSeat,
                    discountAction = DiscountAction.Apply,                    
                    uploadEvidenceUrl = "/modes/driving/cc-nine-plus-seater-upload-evidence",
                    reviewUrl = "/modes/driving/cc-discount-nine-plus-seater-review",
                    content = content,
                    zone = ZoneChargeZone.CongestionCharge,
                    lookupType = VehicleLookupType.DiscountNinePlusSeat,
                    journeyStartUrl = "/modes/driving/cc-select-discount-29641",
                    backUrl = "/modes/driving/cc-select-discount-29641"
                }
            );
        }
        
	  
      
        
          
        
      
    
  </div>
  <div class="aside" role="complementary">

    

        @{
            dynamic userInfoBoxContent = new ContentModel();
            Html.RenderAction("UserInfoBox", "Account", new { Area = "Ruc", content = userInfoBoxContent, logOutUrl = "/modes/driving/congestion-charge" });
        }
        
      

 
    
    
    <div></div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>

 
        
        
        
            @{ViewBag.Description = "nine seater";}
        
            
        


 