
    
  



@{ViewBag.Title = "CC Discount - Provisional Resident - Continue";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/modes/driving/cc-provisional-resident-continue-34694";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/modes/driving/index">Driving</a></li>
                
            
            
            
            
            
                
                <li><span class="last-breadcrumb">CC Discount - Provisional Resident - Continue</span></li>
            
        
 
        
 
        
 
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>CC Discount - Provisional Resident - Continue</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
    
      
      
           
      


		
		<!-- 6. provisional-resident-discount -->
		@{
            Html.RenderAction(
                "Continue",
                "DiscountApply",
                new
                {
                    area = "Ruc",
                    journeyStartUrl = "/modes/driving/cc-provisional-resident-apply-anon-33360",
                    nextUrl = "/modes/driving/cc-provisional-resident-select-vehicle-33362",
                    discountStyle = ZoneChargeDiscountStyle.ResidentsDiscount,
                    isProvisionalResident = true
                }
            );
        }
		
	  

  
      
        
          
        
      
    
  </div>
  <div class="aside" role="complementary">

    
    
    
    <div></div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>

 
        
        
        
            @{ViewBag.Description = "";}
        
            
        


 