
    
  



@{ViewBag.Title = "Residents' discount";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/modes/driving/cc-resident-discount-check-zone-anonymous-29651";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/modes/driving/index">Driving</a></li>
                
            
            
            
            
            
            
                <li><span class="last-breadcrumb">Residents' discount</span></li>
            
        
 
        
 
        
 
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Residents' discount</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
    
      <h2>Address details</h2>
      
           
      



        <!-- resident-check-zone-anonymous -->
        @{
            dynamic content = new ContentModel();

            content.BackButtonText = "Back";
            content.ContinueButtonText = "Continue";
            content.APIError = "An error has occured. Please try again later.";

            
            //content.UpdateCurrentAddressTitle = "Not your current address?";
            //content.UpdateCurrentAddressText = "<p>&nbsp;If this is not your current address, you need to edit these details before applying for the discount.</p>";
            //content.UpdateCurrentAddressButtonText = "Update address";
            
            var insideUrl = "/modes/driving/inside-resident-discount";
            var outsideUrl = "/modes/driving/outside-resident-discount";

            Html.RenderAction(
                RucDictionary.ZoneChecker.DefaultActionName,
                "ZoneChecker",
                new
                {
                    zoneCheckJourney = ZoneCheckJourney.ResidentDiscountApplyAnon,
                    zoneChargeType = ZoneChargeType.CongestionCharge,
                    area = "Ruc",
                    backUrl = "/modes/driving/cc-resident-discount-before-you-begin-29632",
                    findAnotherUrl = "/modes/driving/cc-resident-discount-check-zone-anonymous-29651",
                    createAccountUrl = "/modes/driving/cc-provisional-resident-select-vehicle-33362",
                    reviewUrl = "/modes/driving/cc-resident-discount-review-application-29589",
                    selectVehicleUrl = "/modes/driving/cc-resident-discount-select-vehicle-29602",
                    insideCcInsideResUrl = insideUrl,
                    insideCcOutsideResUrl = outsideUrl,
                    outsideCcInsideResUrl = insideUrl,
                    outsideCcOutsideResUrl = outsideUrl,
                    content = content,
                    combined = true,
                    navigationEnabled = true
                }
            );
        }
        @{
            this.ScriptBlock(@<script>
                queue.push(
                        "@Html.ScriptPath("specific/pages/resident-address-zone-checker.min.js")",
                        function(){
                            residentZoneCheck.init();
                        }
                );
            </script>);
        }
        
      
      

      
        
          
        
      
    
  </div>
  <div class="aside" role="complementary">

    

        @{
            dynamic userInfoBoxContent = new ContentModel();
            Html.RenderAction("UserInfoBox", "Account", new { Area = "Ruc", content = userInfoBoxContent, logOutUrl = "/modes/driving/congestion-charge" });
        }
        
      

 
    
    
    <div></div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>

 
        
        
        
            @{ViewBag.Description = "Enter your postcode to apply for a residents' discount";}
        
            
        


 