
    
  



@{ViewBag.Title = "Residents' discount";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/modes/driving/cc-resident-discount-payment-30762";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/modes/driving/index">Driving</a></li>
                
            
            
            
            
            
            
                <li><span class="last-breadcrumb">Residents' discount</span></li>
            
        
 
        
 
        
 
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Residents' discount</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
    
      <h2>Payment details </h2>
      
           
      

 
        @this.ScriptBlock(
          @<script>
               queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
          </script>
        )
        
        <!-- 7. resident-discount -->
        @{
        
            dynamic content = new ContentModel();
        
            content.StoredCardHeading = "Use stored card";
            content.SelectPaymentCardAssistiveText = "Select payment card ending: ";
            content.UseAnotherCardButtonText = "Use a different card";
            content.StoredCardExpiredHeading = "Stored card expired";
        
            Html.RenderAction(
                "SelectStoredCard",
                "Payment",
                new
                {
                    area = "Ruc",
                    returnUrl = "/modes/driving/cc-resident-discount-submit-29606",
                    paymentRefSessionKey = SessionKeys.DiscountApply.Resident.PaymentId,
                    paymentAmountSessionKey = SessionKeys.DiscountApply.Resident.PaymentAmount,
                    paymentDescription = "Discount application payment",
                    content = content
                }
            );
        }
        
    

      
        
          
        
      
    
  </div>
  <div class="aside" role="complementary">

    

        @{
            dynamic userInfoBoxContent = new ContentModel();
            Html.RenderAction("UserInfoBox", "Account", new { Area = "Ruc", content = userInfoBoxContent, logOutUrl = "/modes/driving/congestion-charge" });
        }
        
      

 
    
    
    <div></div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>

 
        
        
        
            @{ViewBag.Description = "";}
        
            
        


 