
    
  



@{ViewBag.Title = "Upload proof";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/modes/driving/cc-recovery-vehicle-upload-evidence";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/modes/driving/index">Driving</a></li>
                
            
            
            
            
            
            
                <li><span class="last-breadcrumb">Upload proof</span></li>
            
        
 
        
 
        
 
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Upload proof</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
    
      
      
           
      


        @{
            dynamic content = new ContentModel();
            content.FileNotUploadedError = "Upload a file to continue";
            
            content.UploadProofIntro = "We need to see evidence that proves the vehicle is registered with the DVLA as a recovery vehicle.";
            content.AcceptedDocumentHeading = "Documents you need to supply";
            content.UploadDocumentsListIntro = " Upload an image of the V5C (or foreign equivalent)";
            
            content.UploadDocumentsList = "<ul>	<li>V5C or MOT certificate</li>	<li>CIF or COIF(Certificate of Initial Fitness)</li>	<li>Insurance document</li></ul><p>You can upload a maximum of 19 documents for this application.</p>";
       
            content.BackButtonText = "Back";
            content.ContinueButtonText = "Continue";

            // Back Url parameters
            if(Request.QueryString.AllKeys.Contains("sourceRoutingKey")){
                content.SourceRoutingKey = Request.QueryString["sourceRoutingKey"];        
            }        
            content.RecoveryVehicleAccountVehiclesPageLink = "/modes/driving/cc-recovery-vehicle-account-vehicles?resetVehicle=true";
            content.RecoveryVehicleVrmLookupPageLink = "/modes/driving/cc-recovery-vehicle-vrm-lookup?resetVehicle=true";

            Html.RenderAction("Upload", "RecoveryVehicle", new
            {
                area = "Ruc",
                reviewUrl = "/modes/driving/cc-recovery-vehicle-review?sourceRoutingKey=upload-proof",
                content = content
            });
            
        }

    
 
      
        
          
        
      
    
  </div>
  <div class="aside" role="complementary">

    

        @{
            dynamic userInfoBoxContent = new ContentModel();
            Html.RenderAction("UserInfoBox", "Account", new { Area = "Ruc", content = userInfoBoxContent, logOutUrl = "/modes/driving/congestion-charge" });
        }
        
      

 
    
    
    <div></div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>

 
        
        
        
            @{ViewBag.Description = "";}
        
            
        


 