
    
  



@{ViewBag.Title = "Refund a Congestion Charge";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/modes/driving/cc-refunds-refund-personal-detatails-36935";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/modes/driving/index">Driving</a></li>
                
            
            
            
            
            
                <li><span class="last-breadcrumb">Refund a Congestion Charge</span></li>
            
        
 
        
 
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Refund a Congestion Charge</h1>

  </div>
</div>
<div class="main-and-aside r">
  
<div class="login-aside">
                @{
                    Html.RenderAction(
                        "UserLoginBox", 
                        "Account", 
                        new { 
                            Area = "Ruc", 
                            returnUrl = "/modes/driving/account-account-landing-29377"
                        }
                    );
                }
            </div>
      

 
  <div class="main content-container" role="main">
    
    
      
      
           
      

 


		
		<!-- 3. cc-refund-personal-details -->
		@using TfL.Ruc.Services.ViewModels.Ruc.ZoneCharge.RefundZoneCharge
        @using TfL.Ruc.Services.ViewModels.Ruc.ZoneCharge.PayZoneCharge
		@{
            dynamic content = new ContentModel();

            content.BackButtonText = "Back";
            content.ContinueButtonText = "Continue";
            content.PageHeading = "Charge details";
            
            //content.DateSelectionInstruction = "Select a date you would like the charge to be refunded from";
            //content.ReturnAllUnusedDaysSelectionLabel = "Refund all unused days";
            //content.SelectADateSelectionLabel = "Select from a date";
            //content.RefundInformationHeading = "Refund information";
            //content.RefundInformationText = "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi mollis facilisis ipsum, nec dignissim odio elementum quis. Pellentesque non turpis libero. In hac habitasse platea dictumst.";
            //content.RefundFeeText = "Admin charge for refund";
            //content.RefundProcessText = "If your request is approved you will be refunded to the card that was used for the original payment. Your refund application will take up to <strong>7</strong> working days to process.";
            //content.DataCollectionNotice = "I confirm that I have read and understood the <a target =\"_blank\" href=\"/corporate/privacy-and-cookies/privacy-and-data-protection-policy\">Privacy notice</a>";
            //content.StartDateNotValidErrorText = "Please select a valid date for start date of refund";
            //content.DateNotSelectedErrorText = "Please select a date to refund first";
            //content.RefundLengthGuidenceText = "Please note that it is not currently possible to refund a single daily charge, but you can ";
            //content.MoveChargeLinkText= "move the charge to another date.";
            //content.StepOneText = "Find the charge";
            //content.StepTwoText = "Enter your personal details";
            //content.StepThreeText = "Select refund dates";
            //content.StepFourText = "Confirmation";

            content.DailyCongestionChargesBasketText = "Daily Congestion Charge";
            content.LastCongestionChargesBasketText = "Last Congestion Charge (1 day)";
            content.WeeklyCongestionChargesBasketText = "Weekly Congestion Charge";
            content.MonthlyCongestionChargesBasketText = "Monthly Congestion Charge";
            content.AnnualCongestionChargesBasketText = "Annual Congestion Charge";
            content.RangeCongestionChargesBasketText = "Custom Congestion Charge";
            //content.LezStandardChargeBasketText = "Daily Low Emission Zone Charge (Standard)";
            //content.LezHigherChargeBasketText = "Daily Low Emission Zone Charge (Higher)";
            
            content.AddressSectionHeading = "Your address";
            content.SelectTitleLabel = "Title";
            content.OtherTitleLabel = "Other";
            content.FirstNameLabel = "First name";
            content.MiddleNameLabel = "Middle name";
            content.LastNameLabel = "Last name";
            content.EnterContactNumberLabel = "Telephone number";
            content.EnterEmailAddressLabel = "Email address";
            content.PersonalDetailsSectionHeading = "Your details";

            content.FirstNameRequired = "Enter your first name to continue";
            content.SurnameRequired = "Enter your last name to continue";
            content.ContactNumberStringLength = "Too many digits - try again";
            content.EmailAddressRequired = "Enter an email address to continue";
            content.EmailAddressEmailAddress = "Enter a valid email address to continue";

            Html.RenderAction(
                RucDictionary.RefundZoneCharge.PersonalDetailsAction,
                "RefundZoneCharge",
                new
                {
                    area = "Ruc",
                    backUrl = "/modes/driving/cc-refunds-find-a-charge-to-refund-36931",
                    continueUrl = "/modes/driving/cc-refunds-refund-a-charge-36933",
                    content = content
                }
            );
        }

		
	  

  
      
        
          
        
      
    
  </div>
  <div class="aside" role="complementary">

    

        @{
            dynamic userInfoBoxContent = new ContentModel();
            Html.RenderAction("UserInfoBox", "Account", new { Area = "Ruc", content = userInfoBoxContent, logOutUrl = "/modes/driving/congestion-charge" });
        }
        
      

 
    
    
    <div></div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>

 
        
        
        
            @{ViewBag.Description = "";}
        
            
        


 