
    
  



@{ViewBag.Title = "Residents' discount";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/modes/driving/cc-resident-discount-before-you-begin-29632";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/modes/driving/index">Driving</a></li>
                
            
            
            
            
            
            
                <li><span class="last-breadcrumb">Residents' discount</span></li>
            
        
 
        
 
        
 
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Residents' discount</h1>

  </div>
</div>
<div class="main-and-aside r">
  
<div class="login-aside">
                @{
                    Html.RenderAction(
                        "UserLoginBox", 
                        "Account", 
                        new { 
                            Area = "Ruc", 
                            returnUrl = "/modes/driving/account-account-landing-29377"
                        }
                    );
                }
            </div>
      

 
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        <p>You can apply for a 90% discount on the Congestion Charge if you qualify as a resident of the charging zone.</p>
        
      </div>
    
    
      <h2>Before you start</h2>

<p>Before we can process your application, you need to set up a London Road User Charging account.</p>

<h3>Setting up a London Road User Charging account</h3>

<p>To create an account, click on 'Continue' and complete all required fields. You can also set up optional services, such as mobile phone text alerts, to help you manage your discount. (Sign in now if you already have an account.)</p>

<h4>Benefits of a London Road User Charging account</h4>

<p>Having an account with us means you can:</p>

<ul>
	<li>Manage and easily renew your discount online</li>
	<li>Set up Auto Pay for up to 5 vehicles so you can pay the Congestion Charge at a lower rate</li>
	<li>View your payment history</li>
	<li>Make paying faster by storing your contact, vehicle and payment details</li>
	<li>Allow up to 5 people access to your London Road User Charging account</li>
</ul>

<h3>Applying for your residents' discount</h3>

<p>Once your London Road User Charging account has been created and you sign in, you will be directed automatically to complete your discount application.</p>
      
           
      


        
        <!-- 8. resident-discount -->
        @{
            dynamic content = new ContentModel();
            content.ContinueButtonText = "Start";
            
            Html.RenderAction("DiscountBeforeYouBegin", "DiscountApply", new
                {
                    area = "Ruc",
                    createAccountUrl = "/modes/driving/cc-resident-discount-check-zone-anonymous-29651",
                    content = content,
                    discountStyle = ZoneChargeDiscountStyle.ResidentsDiscount
                }
            );
        }
        

	  

      
        
          
        
      
    
  </div>
  <div class="aside" role="complementary">

    

        @{
            dynamic userInfoBoxContent = new ContentModel();
            Html.RenderAction("UserInfoBox", "Account", new { Area = "Ruc", content = userInfoBoxContent, logOutUrl = "/modes/driving/congestion-charge" });
        }
        
      

 
    
    
    <div></div>
    
      <div>
                    
        <div class="vertical-button-container">
    <ul>
        
        
        
        <li><a href="/modes/driving/congestion-charge/paying-the-congestion-charge"  class="plain-button">Congestion Charge payments</a></li>
        
        
        <li><a href="/modes/driving/congestion-charge/congestion-charge-zone"  class="plain-button">Congestion Charge zone</a></li>
        
        
        <li><a href="/modes/driving/auto-pay"  class="plain-button">Auto Pay</a></li>
        
        
        <li><a href="/modes/driving/congestion-charge/discounts-and-exemptions"  class="plain-button">Discounts and exemptions</a></li>
        
        
        <li><a href="/modes/driving/congestion-charge/contact-congestion-charge"  class="plain-button">Contact Congestion Charge</a></li>
        
    </ul>
</div>

      </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>

 
        
        
        
            @{ViewBag.Description = "If you set up a London Road User Charging account you can also apply for a Resident's discount from the Congestion Charge";}
        
            
        


 