
    
  



@{ViewBag.Title = "CC Discount - Recovery vehicle - Renew - Submit";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/modes/driving/cc-recovery-vehicle-renew-submit-34020";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/modes/driving/index">Driving</a></li>
                
            
            
            
            
            
                
                <li><span class="last-breadcrumb">CC Discount - Recovery vehicle - Renew - Submit</span></li>
            
        
 
        
 
        
 
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>CC Discount - Recovery vehicle - Renew - Submit</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
    
      
      
           
      

 
        
        <!-- 7. recovery-vehicle -->

        @{
            Html.RenderAction(
                 "Submit",
                 "DiscountRenew",
                new
                {
                    area = "Ruc",
                    successUrl = "/modes/driving/cc-recovery-vehicle-renew-success-34021",
                    failureUrl = "/modes/driving/cc-recovery-vehicle-renew-failure-34016",
                    cancelUrl = "/modes/driving/cc-recovery-vehicle-renew-review-34019",
                    discountStyle = ZoneChargeDiscountStyle.RecoveryVehicle,
                    discountAction = DiscountAction.Renew,
                    journeyStartUrl = "/modes/driving/cc-discount-manage-discounts-32822"
                }
            );
        }
        
	  

      
        
          
        
      
    
  </div>
  <div class="aside" role="complementary">

    
    
    
    <div></div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>

 
        
        
        
            @{ViewBag.Description = "";}
        
            
        


 