
    
  



@{ViewBag.Title = "Renew recovery vehicle discount";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/modes/driving/cc-recovery-vehicle-renew-failure-34016";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/modes/driving/index">Driving</a></li>
                
            
            
            
            
            
            
                <li><span class="last-breadcrumb">Renew recovery vehicle discount</span></li>
            
        
 
        
 
        
 
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Renew recovery vehicle discount</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
    
      <h2>Payment failure </h2>
      
           
      

 
        
        <!-- 7. recovery-vehicle -->
        @{
            dynamic content = new ContentModel();

            content.ErrorTitle = "We were unable to process your payment. ";
            //content.ConfirmationHeadingFailure = "We have been unable to take a payment. Your renewal application has not been submitted.";
            //content.PaymentErrorText = "We have been unable to take a payment. Your renewal application has not been submitted.";
            //content.PaymentDeclinedText = "We have been unable to take a payment. Your renewal application has not been submitted.";
            //content.PaymentNextStepInfo = "Here is the next step Recovery Vehicle renew information text...";
            
            Html.RenderAction(RucDictionary.DiscountRenew.PaymentFailureActionName, "DiscountRenew",
                new
                {
                    area = "Ruc",
                    discountStyle = ZoneChargeDiscountStyle.RecoveryVehicle,
                    content = content,
                    journeyStartUrl = "/modes/driving/cc-discount-manage-discounts-32822"
                });
        }
        
	  
<div>

<p>Your discount renewal application has failed.&nbsp;</p>

<p>If you still want to renew the discount, please <a href="/modes/driving/cc-discount-manage-discounts-32822">restart the renewal application</a>&nbsp;or call us on 0343 222 2222 (<a href="/corporate/terms-and-conditions/tfl-call-charges">TfL call charges</a>).</p>
</div>
 
      
        
          
        
      
    
  </div>
  <div class="aside" role="complementary">

    

        @{
            dynamic userInfoBoxContent = new ContentModel();
            Html.RenderAction("UserInfoBox", "Account", new { Area = "Ruc", content = userInfoBoxContent, logOutUrl = "/modes/driving/congestion-charge" });
        }
        
      

 
    
    
    <div></div>
    
      <div>
                    
        <div class="vertical-button-container">
    <ul>
        
        
        
        <li><a href="/modes/driving/congestion-charge/paying-the-congestion-charge"  class="plain-button">Congestion Charge payments</a></li>
        
        
        <li><a href="/modes/driving/congestion-charge/congestion-charge-zone"  class="plain-button">Congestion Charge zone</a></li>
        
        
        <li><a href="/modes/driving/auto-pay"  class="plain-button">Auto Pay</a></li>
        
        
        <li><a href="/modes/driving/congestion-charge/discounts-and-exemptions"  class="plain-button">Discounts and exemptions</a></li>
        
        
        <li><a href="/modes/driving/congestion-charge/contact-congestion-charge"  class="plain-button">Contact Congestion Charge</a></li>
        
    </ul>
</div>

      </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>

 
        
        
        
            @{ViewBag.Description = "";}
        
            
        


 