
    
  



@{ViewBag.Title = "Selected partner discount";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/modes/driving/cc-selected-partner-success-36332";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/modes/driving/index">Driving</a></li>
                
            
            
            
            
            
            
                <li><span class="last-breadcrumb">Selected partner discount</span></li>
            
        
 
        
 
        
 
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Selected partner discount</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
    
      <h2>Confirmation</h2>
      
           
      


        
        <!-- 7. success -->
        @using TfL.Ruc.Services.ViewModels.Ruc.Autopay
        <div class="global-success top-icon process-end-message-module">
            <h2 class="message-title">Your vehicle(s) have been added successfully to your selected partner discount.</h2>
            <p class="tight-margin"><p>You don't have to pay the Congestion Charge for the vehicle(s) added.</p>

<p>To view your updated vehicle list go to <a href="/modes/driving/cc-selected-partner-vehicles-36334">selected partner discount</a>.</p></p>
        </div>
        <a class="link-button" href="/modes/driving/cc-selected-partner-vehicles-36334">Go to selected partner discount </a>
        
		
        
		
      
        
          
        
      
    
  </div>
  <div class="aside" role="complementary">

    

        @{
            dynamic userInfoBoxContent = new ContentModel();
            Html.RenderAction("UserInfoBox", "Account", new { Area = "Ruc", content = userInfoBoxContent, logOutUrl = "/modes/driving/congestion-charge" });
        }
        
      

 
    
    
      <div data-set="sidenav-container" class="large">
        
        
        @ModulesHelpers.PrintButton()
      
 
      </div>
    
    <div></div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>

 
        
        
        
            @{ViewBag.Description = "";}
        
            
        


 