
    
  



@{ViewBag.Title = "Charges for driving in London";}
@{ViewBag.Keywords = "TfL,cost, driving";}
@{ViewBag.Url = "/modes/driving/charges-for-driving-in-london";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/modes/driving/index">Driving</a></li>
                
            
                
                <li><span class="last-breadcrumb">Charges for driving in London</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Charges for driving in London</h1>

  </div>
</div>
<div class="main-and-aside r">
  
<div class="login-aside">
                @{
                    Html.RenderAction(
                        "UserLoginBox", 
                        "Account", 
                        new { 
                            Area = "Ruc", 
                            returnUrl = "/modes/driving/account-account-landing-29377"
                        }
                    );
                }
            </div>
      

 
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        <p>As well as the Congestion Charge, you may need to pay other charges to drive within London if your vehicle doesn't meet specific emissions standards.</p>
        
      </div>
    
    <div class="on-this-page">
      <p>You will need to meet the standards for the <a href="/modes/driving/ultra-low-emission-zone/ways-to-meet-the-standard">Ultra Low Emission Zone (ULEZ)</a> or <a href="/modes/driving/low-emission-zone/check-if-your-vehicle-is-affected">Low Emission Zone (LEZ</a>), or pay all of the charges mentioned in the relevant table. Discounts and exemptions may apply.</p>

<p>You can save on the Congestion Charge by registering for Auto Pay - a &pound;10 annual registration charge applies for each vehicle registered.</p>
      
           
      

<h2>Cars and small vans</h2>

<p>Cars, and small vans (not exceeding 1,205kg unladen weight).</p>

<div class="table-container"><table>
	<tbody>
		<tr>
			<td>&nbsp;</td>
			<th scope="col"><strong>Congestion Charge</strong></th>
			<th scope="col"><strong>Ultra Low Emission Zone</strong></th>
		</tr>
		<tr>
			<th scope="row"><strong>Area</strong></th>
			<td>Congestion Charge zone (central London)</td>
			<td>Congestion Charge zone (central London)</td>
		</tr>
		<tr>
			<th scope="row"><strong>Time</strong></th>
			<td>Mon-Fri, 07:00-18:00</td>
			<td>At all times</td>
		</tr>
		<tr>
			<th scope="row"><strong>Daily charges</strong></th>
			<td>&pound;11.50 (&pound;10.50 Auto Pay)</td>
			<td>&pound;12.50 if Euro 4 petrol or Euro 6 diesel&nbsp;standards not met</td>
		</tr>
	</tbody>
</table></div>


 

<h2>Motorcycles</h2>

<div class="table-container"><table>
	<tbody>
		<tr>
			<td>&nbsp;</td>
			<td><strong>Ultra Low Emission Zone</strong></td>
		</tr>
		<tr>
			<td><strong>Area&nbsp;</strong></td>
			<td>Congestion Charge zone (central London)</td>
		</tr>
		<tr>
			<td><strong>Time</strong></td>
			<td>At all times</td>
		</tr>
		<tr>
			<td><strong>Daily charge</strong></td>
			<td>&pound;12.50 if Euro 3 standard not met</td>
		</tr>
	</tbody>
</table></div>


 

<h2>Motor tricycles and quadricycles</h2>

<div class="table-container"><table>
	<tbody>
		<tr>
			<td>&nbsp;</td>
			<td><strong>Congestion Charge&nbsp;</strong></td>
			<td><strong>Ultra Low Emission Zone</strong></td>
		</tr>
		<tr>
			<td><strong>Area</strong></td>
			<td>Congestion Charge zone (central London)</td>
			<td>Congestion Charge zone (central London)</td>
		</tr>
		<tr>
			<td><strong>Time</strong></td>
			<td>Mon-Fri, 07:00-18:00</td>
			<td>At all times</td>
		</tr>
		<tr>
			<td><strong>Daily charges</strong></td>
			<td>&pound;11.50 (&pound;10.50 Auto Pay)</td>
			<td>&pound;12.50 if Euro 3 standard not met</td>
		</tr>
	</tbody>
</table></div>


 

<h2>Larger vans, minibuses &amp; specialist vehicles</h2>

<p>Vans (exceeding 1,205kg unladen and not exceeding 3,500kg GVW) and Minibuses (passenger vehicles with more than eight seats, plus the driver's seat, not exceeding 5,000kg GVW).</p>

<div class="table-container"><table>
	<tbody>
		<tr>
			<td>&nbsp;</td>
			<td><strong>Congestion Charge</strong></td>
			<td><strong>Ultra Low Emission Zone</strong></td>
			<td><strong>Low Emission Zone</strong></td>
		</tr>
		<tr>
			<td><strong>Area</strong></td>
			<td>Congestion Charge zone (central London)</td>
			<td>Congestion Charge zone (central London)</td>
			<td>Low Emission Zone (most of Greater London)</td>
		</tr>
		<tr>
			<td><strong>Time</strong></td>
			<td>Mon-Fri, 07:00-18:00</td>
			<td>At all times</td>
			<td>At all times</td>
		</tr>
		<tr>
			<td><strong>Daily charges</strong></td>
			<td>&pound;11.50 (&pound;10.50 Auto Pay) if not registered for 100% discount for vehicles with 9+ seats</td>
			<td>&pound;12.50 if Euro 4 petrol or Euro 6 diesel standard not met</td>
			<td>&pound;100 if Euro 3 diesel standard not met</td>
		</tr>
	</tbody>
</table></div>


 

<h2>Buses &amp; coaches</h2>

<p>Applies to passenger vehicles with more than eight seats, plus the driver's seat, exceeding 5,000 kg GVW.</p>

<div class="table-container"><table>
	<tbody>
		<tr>
			<td>&nbsp;</td>
			<td><strong>Congestion Charge</strong></td>
			<td><strong>Ultra Low Emission Zone</strong></td>
			<td><strong>Low Emission Zone</strong></td>
		</tr>
		<tr>
			<td><strong>Area</strong></td>
			<td>Congestion Charge zone (central London)</td>
			<td>Congestion Charge zone (central London)</td>
			<td>Low Emission Zone (most of Greater London)</td>
		</tr>
		<tr>
			<td><strong>Time</strong></td>
			<td>Mon-Fri, 07:00-18:00</td>
			<td>At all times</td>
			<td>At all times</td>
		</tr>
		<tr>
			<td><strong>Daily charges</strong></td>
			<td>&pound;11.50 (&pound;10.50 Auto Pay) if not exempt via tax class bus, reduced pollution bus, or registered for 100% discount for vehicles with 9+ seats</td>
			<td>&pound;100 if Euro VI standard not met</td>
			<td>&pound;200 if Euro IV diesel standard not met</td>
		</tr>
	</tbody>
</table></div>


 

<h2>Heavy goods vehicles &amp; specialist heavy vehicles</h2>

<p>Applies to HGVs and specialist heavy vehicles over 3,500kg gross vehicle GVW, such as: lorries, motorised horse boxes, breakdown &amp; recovery vehicles, snow ploughs, gritters, refuse collection vehicles, road sweepers, concrete mixers, fire engines, tippers and removals lorries.</p>

<div class="table-container"><table>
	<tbody>
		<tr>
			<td>&nbsp;</td>
			<td><strong>Congestion Charge</strong></td>
			<td><strong>Ultra Low Emission Zone</strong></td>
			<td><strong>Low Emission Zone</strong></td>
		</tr>
		<tr>
			<td><strong>Area</strong></td>
			<td>Congestion Charge zone (central London)</td>
			<td>Congestion Charge zone (central London)</td>
			<td>Low Emission Zone (most of Greater London)</td>
		</tr>
		<tr>
			<td><strong>Time</strong></td>
			<td>Mon-Fri, 07:00-18:00</td>
			<td>At all times</td>
			<td>At all times</td>
		</tr>
		<tr>
			<td><strong>Daily charges</strong></td>
			<td>&pound;11.50 (&pound;10.50 Auto Pay)</td>
			<td>&pound;100 if Euro VI standard not met</td>
			<td>&pound;200 if Euro IV diesel standard not met</td>
		</tr>
	</tbody>
</table></div>


 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

    
    
    
    <div></div>
    
      <div>
                    
        <div class="related-links">

    <h3>Also on this site</h3>

<div class="vertical-button-container">

<a href="/corporate/about-tfl/air-quality-advice" class="plain-button">Air quality advice</a>
    </div>
</div>
 
      </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>

 
        
        
        
            @{ViewBag.Description = "How much it costs to bring your vehicle into central and Greater London";}
        
            
        


 