
    


















@section adverts {
    <div class="top-banner-advert" aria-hidden="true">
        <div class="large" data-advert="/76889402/driving/" data-advert-sizes="970, 90|970, 250"></div>
        <div class="medium" data-advert="/76889402/driving/" data-advert-sizes="728, 90"></div>
        <div class="small" data-advert="/76889402/driving/" data-advert-sizes="300, 50|320, 50"></div>
    </div>
}


 
  



@{ViewBag.Title = "Electric vehicles and charge points";}
@{ViewBag.Keywords = "TfL,electric vehicles, charging";}
@{ViewBag.Url = "/modes/driving/electric-vehicles-and-rapid-charging";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/modes/driving/index">Driving</a></li>
                
            
                
                <li><span class="last-breadcrumb">Electric vehicles and charge points</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Electric vehicles and charge points</h1>

  </div>
</div>
<div class="main-and-aside r">
  
<div class="login-aside">
                @{
                    Html.RenderAction(
                        "UserLoginBox", 
                        "Account", 
                        new { 
                            Area = "Ruc", 
                            returnUrl = "/modes/driving/account-account-landing-29377"
                        }
                    );
                }
            </div>
      

 
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        <p>We are working with partners to develop a network of electric vehicle (EV) charging points in London to help you charge your vehicle quickly and efficiently.</p>
        
      </div>
    
    <div class="on-this-page">
      <p>We need to clean up London's air and rid the Capital of the most polluting vehicles. The Mayor has an ambition to make London's transport network zero carbon by 2050 and&nbsp;bring improvements in air quality as part of&nbsp;the <a href="https://tfl.gov.uk/corporate/about-tfl/the-mayors-transport-strategy">Mayor's Transport Strategy</a>.</p>

<p>To achieve this, we're&nbsp;supporting and accelerating the shift to zero emission technologies, such as electric cars, led by&nbsp;an Electric vehicle (EV) infrastructure delivery plan.</p>

<p><a href="https://tv.theiet.org/?videoid=13236">Watch a video of the Mayor and Deputy Mayor</a>&nbsp;at the launch event where they set out its aims and <a href="/modes/driving/electric-vehicles-and-rapid-charging#delivery-plan">read the&nbsp;delivery plan.</a></p>
      
           
      <div class="clearfix">
    <div class="image-box">
    
        
        
        <img src="/ruc-cdn/static/cms/images/charge-point-parked.jpg" alt="Car parked and using a rapid charge point" />
        
        
        
    </div>   
 </div>
 <div>

<h2>Zero emission capable (ZEC) vehicles</h2>

<p>ZEC is the collective term for vehicles that can operate with zero exhaust emissions. Find out more about ZEC vehicles, and get help to choose the right vehicle for you, at <a href="https://www.goultralow.com/">Go Ultra Low</a>.</p>

<p>There are three types of ZEC vehicles:</p>

<ul>
	<li><strong>100% pure electric vehicles</strong> are powered by a battery which drives the electric motor. They have no exhaust emissions. Battery electric vehicles typically have a range of around 80 miles but some can achieve up to 300 miles</li>
	<li><strong>Plug-in hybrid and range-extended electric vehicles</strong> also have a conventional diesel or petrol engine, meaning they have a longer range than with a battery alone</li>
	<li><strong>Hydrogen fuel cell electric vehicles</strong> have a fuel cell which uses hydrogen to produce electricity and power the vehicle's wheels. They typically have a range of around 300 miles</li>
</ul>

<h3>Benefits</h3>

<p>By switching to a zero emission capable vehicle you can save money on fuel costs, reduce harmful vehicle emissions and help clean up London's air.</p>

<p>There are also financial benefits:</p>

<ul>
	<li>Zero emission-capable vehicles that meet the criteria are eligible for a <a href="/modes/driving/congestion-charge/discounts-and-exemptions">100% discount on the Congestion Charge</a></li>
	<li>The Government offers grants for new plug-in vehicles, currently up to &pound;3,500 for cars, &pound;1,500 for motorcycles, &pound;8,000 for vans and &pound;7,500 for taxis. <a href="https://www.gov.uk/plug-in-car-van-grants/what-youll-get">Find out about plug-in car grants</a></li>
	<li>Zero emission capable vehicles pay either no vehicle tax (VED) or a reduced rate depending on their CO2 emissions, vehicle list price and year of registration. <a href="https://www.gov.uk/government/publications/ultra-low-emission-vehicles-tax-implications">Find out about tax benefits</a></li>
	<li>There is a range of <a href="http://carfueldata.direct.gov.uk/">tax incentives for business users</a></li>
	<li>Some London boroughs offer free or reduced-charge parking for electric vehicles</li>
</ul>

<h2>Charging your vehicle</h2>

<p>Most people charge at home overnight or at their workplace. <a href="http://www.gov.uk/government/collections/government-grants-for-low-emission-vehicles">Grants are available for electric vehicle charging infrastructure</a> at home and at workplaces.</p>

<p>Public charge points can be found on the street and in key destinations such as shopping areas.</p>

<p>The rapid charging network allows faster and more efficient charging of your electric vehicle so you can charge while on the move, usually in 20-30 minutes. We've provided more than 200 rapid charge points across London&nbsp;- and we're committed to installing 300 by the end of 2020.</p>

<p>Slower charge points are also available - these take can 5-8 hours for a full charge.&nbsp;If you are a Londoner who does not have access to off-street parking to charge at home, you can suggest a location for the delivery of an on-street, slow charge point through your borough. <a href="https://www.londoncouncils.gov.uk/our-key-themes/transport/electric-vehicle-charging/suggest-location-ev-charge-point">Find out how to suggest a location for a new charge point near to where you live.</a></p>

<h3>Mayor's map of electric vehicle charge points</h3>

<p>The London Electric Vehicle Charge Points map is a simplified map of charge points across Greater London and up to the M25. It&nbsp;allows you to find your nearest charging point and filter to find charging points exclusively for taxi and private hire vehicle use.</p>
</div>
 
<div class="module-grid clearfix">
<div class="news-teaser">

    <a href="https://maps.london.gov.uk/ev-chargepoints/?intcmp=52680" >
        <img src="/ruc-cdn/static/cms/images/promos/ev-rapid-charging-map-thumb_rdax_400x200.jpg" alt="detail from electric vehicle rapid charge map" />
        
        <div class="text-link">
             <h2>London's charge points</h2>
            <p>See where we've built rapid charge points across London for both public and taxi use</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="https://www.zap-map.com/live/?intcmp=52717" >
        <img src="/ruc-cdn/static/cms/images/promos/zap-map_rdax_400x200.jpg" alt="Charge points in London on Zap Map" />
        
        <div class="text-link">
             <h2>Find all charge points: London & UK</h2>
            <p>Zap-Map is a UK-wide map to help EV drivers find available charge points</p>
        </div>
    </a>
</div>
 
 
</div>
 
<div>




<h3>Other rapid charge points</h3>

<p><a href="https://www.zap-map.com/live/">Charge point maps by Zap-Map</a> shows where many non-TfL funded rapid charge points are installed across&nbsp;London.</p>

<p>The map allows you to check which charge points are available, find your nearest rapid charging point and even plan&nbsp;a driving&nbsp;route to go via a rapid charging point. Zap Map can also be downloaded as an app on your mobile.</p>

<p>Five networks&nbsp;are responsible for installing, operating and maintaining rapid charge points on public land across London:</p>

<ul>
	<li><a href="http://www.esb-evsolutions.co.uk/">ESB EV Solutions</a></li>
	<li><a href="https://fastnedcharging.com/en/locations">Fastned</a></li>
	<li><a href="https://www.chargepointservices.co.uk/drivers/">GeniePoint</a></li>
	<li><a href="https://polar-network.com/">POLAR</a></li>
	<li><a href="https://www.sourcelondon.net/">Source London</a></li>
</ul>

<p>Most networks offer pay as you go charging and membership schemes for frequent users. Visit the network websites for more information on charging costs.</p>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/ruc-cdn/static/cms/documents/rapid-charge-points-non-tfl.pdf">
    <div class="document-download-text">
        <p>Non-TfL funded rapid charge points in London</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 32KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.03 -->
 
</div>

</div>
 
<div>




<h3>New rapid charge points</h3>

<p>We're investing &pound;18m and working with the boroughs and other organisations to provide the rapid charging points London needs. Sites are on arterial roads we own and maintain, borough roads, car parks and on private land, including Heathrow Airport and multiple Shell service stations.</p>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/ruc-cdn/static/cms/documents/tfl-network-rapid-charge-points-per-borough.pdf">
    <div class="document-download-text">
        <p>Charge points installed per borough as part of the TfL network</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 89KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.09 -->
 
</div>

</div>
 <div class="clearfix">
    <div class="image-box">
    
        
        
        <img src="/ruc-cdn/static/cms/images/charge-point-stand.jpg" alt="Street side vehicle charging point" />
        
        
        
    </div>   
 </div>
 
<div>




<h2><a id="delivery-plan" name="delivery-plan"></a>Electric vehicle (EV) infrastructure delivery plan</h2>

<p>Speeding up the switch to electric vehicles is critical to creating a zero emission future. The Mayor's&nbsp;Electric Vehicle (EV) Infrastructure Taskforce, made up of experts representing business, energy, infrastructure, government and London boroughs&nbsp;works to unlock barriers to expanding charging infrastructure and accelerating the switch to EVs in London.</p>

<p>The London electric&nbsp;vehicle infrastructure delivery plan shows fleets, businesses and London's residents that there is a clear way forward towards the right type and amount of charging infrastructure to serve London's needs.</p>

<p>We've created guidance for borough officers and third party organisations to help them with the installation of new EV charge points.</p>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/ruc-cdn/static/cms/documents/london-electric-vehicle-infrastructure-taskforce-delivery-plan-executive-summary.pdf">
    <div class="document-download-text">
        <p>London electric vehicle infrastructure delivery plan - Executive summary</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.38MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.38 -->
 

<a class="document-download-wrap pdf" href="/ruc-cdn/static/cms/documents/london-electric-vehicle-infrastructure-taskforce-delivery-plan.pdf">
    <div class="document-download-text">
        <p>London electric vehicle infrastructure delivery plan</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 11.21MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 11.21 -->
 

<a class="document-download-wrap pdf" href="/ruc-cdn/static/cms/documents/london-electric-vehicle-charge-point-installation-guidance-december-2019.pdf">
    <div class="document-download-text">
        <p>London electric vehicle charge point installation guidance</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.35MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.35 -->
 
</div>

</div>
 <div>

<h3>Support for electric vehicles in London</h3>

<p>We're making&nbsp;London's taxis to be&nbsp;the greenest in the world. New taxis need to be zero-emission capable to be licensed, and private hire vehicles (minicabs)&nbsp;need to meet new tighter requirements. Dedicated e-taxi bays are being installed to promote the greening of London's iconic black cab fleet. Find out more about our how we're creating <a href="https://tfl.gov.uk/info-for/taxis-and-private-hire/emissions-standards-for-taxis">greener taxis</a> and <a href="https://tfl.gov.uk/info-for/taxis-and-private-hire/emissions-standards-for-phvs">greener PHVs</a>.</p>

<p><a href="https://www.londoncouncils.gov.uk/our-key-themes/transport/roads/gulcs">Go Ultra Low City Scheme (GULCS)</a> is a joint TfL, Greater London Authority and&nbsp;boroughs project that aims to deliver over 1,500 on-street electric charge points for London's residents and car club vehicles by the end of 2020. The project is also funding at least six 'Neighbourhood of the Future' (NoF) projects to test&nbsp;EV charging technologies and policies.</p>

<p><a href="http://locity.org.uk">LoCITY</a> is an industry-led programme to help the freight and fleet sector lead the way in improving air quality and reducing carbon emissions.</p>

<p>We publish <a href="https://tfl.gov.uk/corporate/publications-and-reports/ultra-low-emission-vehicle-research">Ultra Low Emission Vehicle research</a>&nbsp;to help us, the London boroughs and charge point providers put charging infrastructure in the right places.</p>
</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

    
    
    
    <div>
















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/driving/" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/driving/" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
      <div>
                    
        <div class="related-links">

    <h3>Also on this site</h3>

<div class="vertical-button-container">

<a href="/modes/driving/ultra-low-emission-zone" class="plain-button">Ultra Low Emission Zone</a>
<a href="/modes/driving/congestion-charge" class="plain-button">Congestion Charge</a>
<a href="/corporate/publications-and-reports/taxi-and-private-hire" class="plain-button">Taxi and Private Hire</a>
<a href="/corporate/about-tfl/air-quality" class="plain-button">Air quality</a>
<a href="/corporate/about-tfl/how-we-work/planning-for-the-future/healthy-streets" class="plain-button">Healthy Streets</a>
    </div>
</div>
 <div class="related-links">

    <h3>Related websites</h3>

<div class="vertical-button-container">

<a href="https://www.goultralow.com/" class="plain-button">Go Ultra Low</a>
    </div>
</div>
 
      </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>

     @section scripts {
<div class="bottom-advert ">
    <div class="close-ad-button visually-hidden"><span class="close-icon-circle"></span></div>
    <div data-advert="/76889402/driving/" data-advert-sizes="320, 50"></div>
</div>
}

 
        
        
        
            @{ViewBag.Description = "Electric vehicles come with a variety of benefits and TfL are developing a network to ensure you can charge them quickly and efficiently";}
        
            
        


 