
    
  



@{ViewBag.Title = "Email verification failed";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/modes/driving/email-verification-failure-41027";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/modes/driving/index">Driving</a></li>
                
            
            
            
                <li><span class="last-breadcrumb">Email verification failed</span></li>
            
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Email verification failed</h1>

  </div>
</div>
<div class="main-and-aside r">
  
<div class="login-aside">
                @{
                    Html.RenderAction(
                        "UserLoginBox", 
                        "Account", 
                        new { 
                            Area = "Ruc", 
                            returnUrl = "/modes/driving/account-account-landing-29377"
                        }
                    );
                }
            </div>
      

 
  <div class="main content-container" role="main">
    
    
      
      
           
      

@{ 
dynamic content = new ContentModel(); 

content.UnmatchedEmailAddressError = "Your email address does not match the email address we have on your account. To change your email address sign in to your account and go to Account settings"; 


Html.RenderAction("GetCheckEmailVerificationFailure", "Account", new 
{Area = "Ruc", Content = content}); 

}
      
        
          
        
      
    
  </div>
  <div class="aside" role="complementary">

    
    
    
    <div></div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>

 
        
        
        
            @{ViewBag.Description = "";}
        
            
        


 