
    
  



@{ViewBag.Title = "Update payment details";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/modes/driving/fleet-autopay-manage-select-payment-option-38004";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/modes/driving/index">Driving</a></li>
                
            
                 <li><a href="/modes/driving/auto-pay">Auto Pay</a></li>
                
            
            
            
                <li><span class="last-breadcrumb">Update payment details</span></li>
            
        
 
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Update payment details</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        <p>Change the way you pay us and all future monthly payments will be taken using your new payment method.</p>
        
      </div>
    
    
      <h2></h2>
      
           
      

 


		
		<!-- 1.1 / congestion-charge / autopay / fleet / manage / select-payment-option -->
		@using TfL.Ruc.Services.ViewModels.Ruc.Autopay
        @using TfL.Ruc.Services.ViewModels.Ruc.ZoneCharge;
        @{
            dynamic content = new ContentModel();

            content.BackButtonText = "Back";
            content.ContinueButtonText = "Continue";
            content.ConfirmPaymentMethodText = "Confirm";
            content.DirectDebitOnlineManualText = "<p>If you are not the bank/building society account holder, or more than one person is required to authorise debits from this account, you will not be able to authorise a Direct Debit mandate online.</p>";
            content.DirectDebitOnlineCorrespondenceText = "<p>All correspondence regarding this Direct Debit mandate will be sent using the preferred contact details on your London Road User Charging account.</p>";
            content.DirectDebitOnlineAuthorisedText = "<p>I confirm that I am the bank/building society account holder, and/or I have the sole responsibility for authorising debits from this account.</p>";
            content.ConfirmPaymentMethodRequireTrue = "Confirm the payment terms to continue";
            content.WithinTenDaysWarningMessage = "You can't change your payment method to direct debit because your next statement date falls within the next 10 days. You'll need to try again after your statement has been issued.";
            
            Html.RenderAction("SelectPaymentOption", "AutoPayFleetManage", new
                {
                    area = "Ruc",
                    backUrl = "/modes/driving/cc-autopay-manage-manage-29152",
                    directDebitUrl = "/modes/driving/fleet-autopay-manage-review-direct-debit-38006",
                    content = content
                }
            );
        }
		
	  

      
        
          
        
      
    
  </div>
  <div class="aside" role="complementary">

    

        @{
            dynamic userInfoBoxContent = new ContentModel();
            Html.RenderAction("UserInfoBox", "Account", new { Area = "Ruc", content = userInfoBoxContent, logOutUrl = "/modes/driving/congestion-charge" });
        }
        
      

 
    
    
    <div></div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>

 
        
        
        
            @{ViewBag.Description = "Change the way you pay us and all future monthly payments will be taken using your new payment method.";}
        
            
        


 