
    
  



@{ViewBag.Title = "Set up Fleet Auto Pay";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/modes/driving/fleet-autopay-apply-review-29102";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/modes/driving/index">Driving</a></li>
                
            
                 <li><a href="/modes/driving/auto-pay">Auto Pay</a></li>
                
            
            
            
                <li><span class="last-breadcrumb">Set up Fleet Auto Pay</span></li>
            
        
 
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Set up Fleet Auto Pay</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
    
      <h2>Review application</h2>
<p>Confirm your payment details below and 'Submit' to complete your application.</p>
      
           
      

        @using TfL.Ruc.Services.ViewModels.Ruc.Autopay
        @{
            dynamic content = new ContentModel();
            
            content.BackButtonText = "Back";
            content.ContinueButtonText = "Submit";
            content.PaymentSectionReviewHeading = "Direct Debit details";
            content.EvidenceSectionReviewHeading = "Uploaded documents";
            content.PostEvidenceText = "You have not uploaded any documents.";
            content.DirectDebitDetailsHeading = "Direct debit details" ;           
            content.AccountNameHeading = "Name of bank/building society account holder";
            content.BankBuildingSocietyNameHeading = "Bank/building society name";
            content.SortCodeHeading = "Sort code";
            content.AccountNumberHeading = "Bank/building society account number";
            content.DirectDebitByPostText = "You have not completed an online direct debit instruction. Before we can consider your application we need a copy of this. If you have not uploaded this document on the previous page, it must be received within 10 days of this application.";
            content.EditPaymentDetailsButtonText = "Edit";
            content.EditEvidenceButtonText = "Edit";
            content.SortCodeLabel = "Branch sort code";
            content.AccountNumberLabel = "Bank/building society account number";
            content.AccountNameLabel = "Name of account holder(s)";
            
            content.InstructionsHeading = "Instructions to your Bank or Building Society to pay the Direct Debit";
            content.DirectDebitLogoText = "Direct Debit logo";            
            content.ServiceUserNumberHeading = "Service user number";
            content.ServiceUserNumberText = "<p class='dd-service-user-number'>298608</p>";
            content.InstuctionsText = "Please pay Transport for London Direct Debits from the account detailed in this instruction subject to the safeguards assured by the Direct Debit Guarantee. I understand that this instruction may remain with Transport for London and, if so, details will be passed electronically to my bank/building society."; 
            content.BankNameAndAddressLabel = "Name and full address of your bank/building society";
            content.DateLabel = "Date";
            content.DirectDebitGuaranteeHeading = "Direct Debit Guarantee";
            content.DirectDebitGuaranteeText = "<h3><img alt='Direct Debit Guarantee logo' src='/ruc-cdn/static/cms/images/ddlogo.png' /></h3><p>This Guarantee is offered by all banks and building societies that accept instructions to pay direct debits.</p><p>If there are any changes to the amount, date or frequency of your direct debit, Transport for London will notify you no more than 10 working days in advance of your account being debited. Notifications will be sent either by email or post depending on your account preferences you have set with us.</p><p>If you request that Transport for London collects a payment, confirmation of the amount and date will be given to you at the time of the request.</p><p>If an error is made in the payment of your direct debit by Transport for London or your bank or building society, you are entitled to a full and immediate refund of the amount paid from your bank or building society. If you receive a refund you are not entitled to, you must pay it back when Transport for London asks you to.</p><p>You can cancel a direct debit at any time by simply contacting your bank or building society - written confirmation may be required. Please also notify Transport for London.</p><p>Questions or further information about your direct debit can be directed to Transport for London:</p><p><strong>Email:</strong> <a href='mailto:FleetTeam@CCLondon.com'>FleetTeam@CCLondon.com</a><br /><strong>Phone:</strong> 020 7649 9860<br /><strong>Address:</strong><br />Congestion Charging<br />PO Box 344<br />Darlington DL1 9QE</p>"; 


            Html.RenderAction(
                RucDictionary.AutoPayApply.ReviewFleetActionName,
                "AutoPayApplyFleet",
                new
                {
                    area = "Ruc",
                    backUrl = "/modes/driving/fleet-autopay-apply-supporting-documentation-29117",
                    content = content,
                    paymentEditUrl = "/modes/driving/fleet-autopay-apply-select-payment-29107?review=true",
                    directDebitDetailEditUrl = "/modes/driving/fleet-autopay-apply-select-payment-29107?review=true",
                    documentationEditUrl = "/modes/driving/fleet-autopay-apply-supporting-documentation-29117",
                    successUrl = "/modes/driving/fleet-autopay-apply-success-29112",
                    failureUrl = "/modes/driving/fleet-autopay-apply-failure-29096"
                }
            );
        }
        @this.ScriptBlock(
            @<script>
                queue.push(
                    function () {
                         tfl.forms.attachUnload("You have not completed your form. If you leave your data will be lost.");
                    }
                );
            </script>
        )
      
 
      
        
          
        
      
    
  </div>
  <div class="aside" role="complementary">

    

        @{
            dynamic userInfoBoxContent = new ContentModel();
            Html.RenderAction("UserInfoBox", "Account", new { Area = "Ruc", content = userInfoBoxContent, logOutUrl = "/modes/driving/congestion-charge" });
        }
        
      

 
    
    
    <div></div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>

 
        
        
        
            @{ViewBag.Description = "";}
        
            
        


 