
    














@section adverts {
    <div class="top-banner-advert" aria-hidden="true">
        <div class="large" data-advert="/76889402/driving/" data-advert-sizes="970, 90|970, 250"></div>
        <div class="medium" data-advert="/76889402/driving/" data-advert-sizes="728, 90"></div>
        <div class="small" data-advert="/76889402/driving/" data-advert-sizes="300, 50|320, 50"></div>
    </div>
}


 
  



@{ViewBag.Title = "Driving";}
@{ViewBag.Keywords = "Motorbikers,Congestion Charge,Low Emission Zone,Roads,Driving,Driving ,TfL";}
@{ViewBag.Url = "/modes/driving/index";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                
                <li><span class="last-breadcrumb">Driving</span></li>
            
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container landing-page section-landing-container with-logo">
        <h1>Driving</h1>
        
        <div class="heading-logo">
            <img src="/ruc-cdn/static/cms/images/promos/tfl-partner.png" alt="" />
        </div>
        
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">
        <div class="small-medium" data-set="widget"></div>
        <div class="primary-teaser landing-page-teaser">
            <div class="news-teaser driving">
  
  <a href="/modes/driving/ultra-low-emission-zone?intcmp=26434"  data-img="/ruc-cdn/static/cms/images/promos/ulez-car-blue.jpg" data-img-breakpoint="medium" data-img-alt="ULEZ car">
    <img src="/ruc-cdn/static/cms/images/promos/ulez-car-blue_rdax_600x300.jpg" alt="ULEZ car" />
    <div class="text-link sit-top">
      <h2>Ultra Low Emission Zone</h2>
      <p>The ULEZ is now operating in central London</p>
    </div>
  </a>
</div>

 
        </div>
        
        <div class="clearfix">
            
        </div>
        <div class="module-grid clearfix">
            <div>

<div class="news-teaser">

    <a href="/modes/driving/congestion-charge?intcmp=2053" >
        <img src="/ruc-cdn/static/cms/images/promos/c-charge_rdax_400x200.jpg" alt="congestion charge sign" />
        
        <div class="text-link">
             <h2>Congestion Charge</h2>
            <p>Find maps, times and prices of the Congestion Charge</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="/info-for/deliveries-in-london/delivering-safely/direct-vision-in-heavy-goods-vehicles?intcmp=52876" >
        
        
        <div class="text-link">
             <h2>Direct Vision Standard and HGV Safety Permit</h2>
            <p>Lorries weighing over 12 tonnes GVW will need a permit to operate in Greater London</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser driving">

    <a href="/modes/driving/rotherhithe-tunnel-restrictions?intcmp=52288" >
        
        
        <div class="text-link">
             <h2>Rotherhithe Tunnel restrictions</h2>
            <p>Essential works are Rotherhithe Tunnel mean increased restrictions are in place</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="/status-updates/major-works-and-events/hammersmith-bridge-closure?intcmp=52645" >
        
        
        <div class="text-link">
             <h2>Hammersmith Bridge closed</h2>
            <p>The bridge (A306) is closed to traffic in both directions</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="/modes/driving/red-routes?intcmp=2187" >
        
        
        <div class="text-link">
             <h2>Red routes</h2>
            <p>Find out about the rules of the road and how to pay a penalty charge</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="/status-updates/major-works-and-events?intcmp=52293" >
        
        
        <div class="text-link">
             <h2>Major works and events</h2>
            <p>Find out about upcoming works or events across London which may affect your journey</p>
        </div>
    </a>
</div>
 
 
</div>
 <div>

<div class="news-teaser">

    <a href="/modes/driving/low-emission-zone?intcmp=2261" >
        <img src="/ruc-cdn/static/cms/images/promos/low-emission-zone-image_rdax_400x200.jpg" alt="Low Emission Zone sign" />
        
        <div class="text-link">
             <h2>Low Emission Zone</h2>
            <p>Find out if you're affected by the LEZ, and how to pay</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="/modes/driving/auto-pay?intcmp=2154" >
        
        
        <div class="text-link">
             <h2>Auto Pay</h2>
            <p>Apply to have any Congestion Charge or ULEZ charges paid automatically</p>
        </div>
    </a>
</div>
 
 <div class="vertical-button-container">
    <ul>
        
        
        
        <li><a href="/modes/driving/ultra-low-emission-zone/discounts-and-exemptions"  class="plain-button">T-Charge (residents only)</a></li>
        
        
        <li><a href="/modes/driving/station-car-parks"  class="plain-button">Station car parks</a></li>
        
        
        <li><a href="/help-and-contact/report-roadworks"  class="plain-button">Report roadworks and street faults</a></li>
        
        
        <li><a href="/modes/driving/car-clubs"  class="plain-button">Car clubs</a></li>
        
        
        <li><a href="/modes/driving/electric-vehicles-and-rapid-charging"  class="plain-button">Electric vehicles and rapid charging</a></li>
        
        
        <li><a href="/travel-information/safety/road-safety-advice/motorcycling-in-london"  class="plain-button">Motorcycling in London</a></li>
        
    </ul>
</div>
<div class="news-teaser">

    <a href="/modes/driving/unofficial-selling-websites?intcmp=14245" >
        
        
        <div class="text-link">
             <h2>Avoid payment fraud</h2>
            <p>Use our official online payment process to pay driving charges</p>
        </div>
    </a>
</div>
 
 
</div>
 
        </div>
    </div>
    <div class="aside" role="complementary">
        <div class="large" data-set="widget">
            <div class="moving-source-order">
            <div class="news-teaser">

    <div>
        
        <div class="text-only">
            <h2>Traffic updates</h2>
            
            
            <p>Check for delays or traffic on all major London roads before you set off</p>
            
        </div>


            <div class="call-to-action-button">
            
            <a href="/traffic/status" class="secondary-button" >Check traffic</a>
            
            </div>
    </div>
</div>

 
            </div>
        </div>
        <div class="module-grid">
            












<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/driving/" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/driving/" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 
            <div>
    
    <div class="contact-info-box">
        <div class="contact-info-header">
            <h3>Contact us</h3>
        </div>
                                                         
        <div class="content-group">
            <p>We're open 24 hours a day, 7 days a week.</p>
        </div>
        
        
            
        
        
            
                
        
        
        <div class="content-group">
            <p>
                <abbr title="Chat">Chat</abbr><br />
                 
        On <a href="https://m.me/transportforlondon">Facebook</a> or <a href="https://twitter.com/messages/compose?recipient_id=47319664">Twitter</a>
        
        
            </p>
        </div>
        
        
        <div class="content-group">
            <p>
                <abbr title="Telephone number">Call</abbr>&nbsp;<a href="/corporate/terms-and-conditions/tfl-call-charges">Charges apply</a><br />
                0343 222 1234
            </p>
        </div>
        
        
        <div class="content-group">
            <p>
                <abbr title="Textphone">Textphone</abbr><br />
                0800 112 3456
            </p>
        </div>
        
        
        <div class="content-group">
            <p>
                <abbr title="Address">Write</abbr>
            </p>
            <p><a href="https://tfl.gov.uk/help-and-contact/contact-us-about-streets-and-other-road-issues">Fill in a form</a> or send a letter to:</p>
        </div>
        
        
        <div class="content-group">
            TfL Customer Services<br />
4th Floor<br />
14 Pier Walk<br />
London SE10 0ES
        </div>
        
    </div>
</div>
 <div class="related-links">

    <h3>Related websites</h3>

<div class="vertical-button-container">

<a href="https://www.london.gov.uk/what-we-do/environment/pollution-and-air-quality/cleaning-londons-vehicles" class="plain-button">Cleaner vehicle checkers</a>
    </div>
</div>
 <div class="follow-social email">
  
  <div class="social-image">
    
  </div>
  <div class="social-text">
    <h3>Email updates</h3>
    <p>Customer updates and advance warning of weekend closures and planned works</p>
  </div>
  <div class="social-button">
    <a class="secondary-button" href="/travel-information/social-media-and-email-updates/email-updates">Register</a>
  </div> 
</div>
 
        </div>
    </div>
    <div class="small-medium" data-set="content">&nbsp;</div>
</div>

     @section scripts {
<div class="bottom-advert ">
    <div class="close-ad-button visually-hidden"><span class="close-icon-circle"></span></div>
    <div data-advert="/76889402/driving/" data-advert-sizes="320, 50"></div>
</div>
}

        
        
        
            @{ViewBag.Description = "Information about driving in London";}
        
            
        


 