
            <h2><span class="visually-hidden">The address you specified is </span>Inside<span class="visually-hidden"> the resident's discount zone.</span></h2>
 
<h3>Address is in the residents' discount zone</h3>

<p>You can have a residents' discount at this address if you have proof of address and your vehicle is registered there.</p>

  
 