
    
  



@{ViewBag.Title = "Pay the Low Emission Zone Charge";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/modes/driving/lez-paying-the-low-emission-charge-result-26468";}
@{ViewBag.Language = "en";}
        
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/modes/driving/index">Driving</a></li>
                
            
            
            
            
            
                <li><span class="last-breadcrumb">Pay the Low Emission Zone Charge</span></li>
            
        
 
        
 
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Pay the Low Emission Zone Charge</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
    
      
      
           
      


		
		<!-- 4. results -->
		@{
            Html.RenderAction("PaymentResult", "PayZoneCharge", new
            {
                area = "Ruc",
                zoneType = ZoneChargeZone.LowEmission,
                paymentConfirmationUrl = "/modes/driving/lez-paying-the-low-emission-charge-confirmation-26471",
                paymentFailureUrl = "/modes/driving/lez-paying-the-low-emission-charge-failure-26474",
                cancelUrl = "/modes/driving/lez-paying-the-low-emission-charge-select-dates-26465"
            });
        }
		
	  

  
      
        
          
        
      
    
  </div>
  <div class="aside" role="complementary">

    

        @{
            dynamic userInfoBoxContent = new ContentModel();
            Html.RenderAction("UserInfoBox", "Account", new { Area = "Ruc", content = userInfoBoxContent, logOutUrl = "/modes/driving/low-emission-zone" });
        }
        
      

 
    
    
    <div></div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>

 
        
        
        
            @{ViewBag.Description = "";}
        
            
        


 