
    
  



@{ViewBag.Title = "Showman's discount";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/modes/driving/lez-lez-showman-upload-evidence-34313";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/modes/driving/index">Driving</a></li>
                
            
            
            
            
            
            
                <li><span class="last-breadcrumb">Showman's discount</span></li>
            
        
 
        
 
        
 
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Showman's discount</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
    
      <h2>Upload documents</h2>
      
           
      


        
        <!-- 11. lez-showman -->
        @using TfL.Ruc.Services.ViewModels.Ruc.DiscountApply
        @{
            dynamic content = new ContentModel();
            content.UploadEvidenceTitle = "Upload evidence of address and vehicle";
            content.UploadEvidenceText = "<p>We need to see evidence of your company's relevant accreditations to process your application.</p><p>Upload images of the following documents:</p><ul>	<li>A copy of the company’s BS EN ISO 9001:2008 certification document</li>	<li>Evidence of compliance with PAS 43 standards (the BS EN ISO 9001:2008 should state this)</li>	<li>Company headed paper showing a company registration number, or a photocopy of a certificate of incorporation</li></ul><h3>Vehicle documents</h3><p>If you are adding a vehicle you will also need to provide an image or copy of 1 document from the list below:</p><h4>Your own private vehicle:</h4><ul>	<li>Your vehicle registration document (V5C) - this is the document that is sent to you by the DVLA (vehicle must be registered with the DVLA in your name and at the address you are using to apply for the resident's discount)</li></ul><h4>Company car</h4><ul>	<li>A company car authorisation letter - this letter must be on company headed paper, state your full name, the number plate (Vehicle Registration Mark) and confirm that the vehicle is for your use only (vehicle must be registered in the company name with the DVLA)</li></ul><h4>Lease vehicle</h4><ul>	<li>Vehicle lease document - this is the document that you signed to lease the vehicle (vehicle must be registered in the lease company name with the DVLA)</li></ul><h4>A company car provided by a lease company</h4><ul>	<li>Your company's vehicle lease document - this is the document that you signed to lease the vehicle</li></ul><p>AND</p><ul>	<li>A company car authorisation letter - this letter must be on company headed paper, state your full name, the number plate (Vehicle Registration Mark) and confirm that the vehicle is for your use only (vehicle must be registered in the company or lease name with the DVLA)</li></ul>";
            content.UploadEvidenceHelperTitle = "How do I upload the documents?";
            content.UploadEvidenceHelperText = "<p>You can scan paper documents to your computer, or take photographs of them with your camera, smartphone or tablet. You’ll need to save each file as a .jpg, .jpeg, .tif, .tiff or .pdf.</p><p>Once you have saved your document(s) on your computer/mobile device, drag them into the box below or click 'Or browse to your files' and select the file you want to upload. Check you have selected the correct file.</p><p>Repeat for every document you want to attach. If you make a mistake, you can add or remove files before submitting your application.</p>";
            content.UploadEvidenceDescription = "If you're unable to scan or photograph these documents clearly, you can send a copy to us at the address shown at the end of this application.";
            content.FileNotUploadedError = "Upload a file to continue";
            content.BackButtonText = "Back";
            content.ContinueButtonText = "Continue";

            Html.RenderAction("UploadEvidence", "DiscountApply", new
                {
                    area = "Ruc",
                    backUrl = "/modes/driving/lez-lez-showman-select-vehicle-34309",
                    continueUrl = "/modes/driving/lez-lez-showman-review-application-34307",
                    discountStyle = ZoneChargeDiscountStyle.Showman,
                    discountAction = DiscountAction.Apply,
                    descriptionUrl = "",
                    reviewUrl = "/modes/driving/lez-lez-showman-review-application-34307",
                    journeyStartUrl = "/modes/driving/cc-select-discount-29641",
                    content = content
                }
            );
        }    
            
	  

      
        
          
        
      
    
  </div>
  <div class="aside" role="complementary">

    

        @{
            dynamic userInfoBoxContent = new ContentModel();
            Html.RenderAction("UserInfoBox", "Account", new { Area = "Ruc", content = userInfoBoxContent, logOutUrl = "/modes/driving/low-emission-zone" });
        }
        
      

 
    
    
    <div></div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>

 
        
        
        
            @{ViewBag.Description = "";}
        
            
        


 