
    
  



@{ViewBag.Title = "ULEZ and LEZ services";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/modes/driving/lez-lez-services-37309";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/modes/driving/index">Driving</a></li>
                
            
            
            
            
                <li><span class="last-breadcrumb">ULEZ and LEZ services</span></li>
            
        
 
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>ULEZ and LEZ services</h1>

  </div>
</div>
<div class="main-and-aside r">
  
<div class="login-aside">
                @{
                    Html.RenderAction(
                        "UserLoginBox", 
                        "Account", 
                        new { 
                            Area = "Ruc", 
                            returnUrl = "/modes/driving/account-account-landing-29377"
                        }
                    );
                }
            </div>
      

 
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        <p>The Ultra Low Emission Zone (ULEZ) and Low Emission Zone (LEZ) operate 24 hours a day, every day of the year, including weekends and public and bank holidays.</p>
        
      </div>
    
    
      <p>Charging days run from midnight to midnight. So if you drive within the zones between 23:30 and 01:00 the next day, you need to pay for 2 days.</p>

<p>The ULEZ covers central London, in the&nbsp;same area as the Congestion Charge. The LEZ operates across most of Greater London.</p>

<p>The charges only need to be paid if you drive your vehicle within the zone. Parked vehicles are not subject to any charges.</p>

<p>As well as ULEZ and LEZ charges, you may also need to pay the Congestion Charge. The Congestion Charge applies from 07:00 to 18:00 Monday to Friday, excluding public and bank holidays. If you drive within the Congestion Charge zone during these times you need to pay the Congestion Charge, even if you meet the ULEZ and/or LEZ emissions standards or have paid those daily charges.</p>

<p>Use the links below to find out if your vehicle is affected by the ULEZ and/or LEZ and if your journey takes you into the zone.</p>
      
           
      <div class="vertical-button-container">
    <ul>
        
        
        
        <li><a href="/modes/driving/low-emission-zone/about-the-lez"  class="plain-button">Find out more about the LEZ</a></li>
        
        
        <li><a href="/modes/driving/ultra-low-emission-zone"  class="plain-button">Find out more about the ULEZ</a></li>
        
        
        <li><a href="/modes/driving/low-emission-zone/check-if-your-vehicle-is-affected"  class="plain-button">See if your vehicle is affected</a></li>
        
        
        <li><a href="/modes/driving/check-your-vehicle-35896"  class="plain-button">ULEZ/LEZ vehicle checker</a></li>
        
    </ul>
</div>
<div>

<h2>ULEZ and LEZ charges and discounts</h2>

<p>If your vehicle is affected by the ULEZ and you intend to use it in the zone, you need to pay the daily ULEZ charge of &pound;100 for larger vehicles such as lorries, buses and coaches and &pound;12.50 for smaller vehicles like cars, small vans and motorcycles.&nbsp;</p>

<p>There are also three&nbsp;LEZ charges,&nbsp;&pound;200 or &pound;300 for larger vehicles and &pound;100 for smaller ones.</p>

<p>If you believe that the details we hold for your vehicle are incorrect or insufficient to calculate the correct charge you can register the vehicle with us.</p>

<p>To <a href="/modes/driving/compliance-registration/before-you-start">register a vehicle with us</a> you will need to provide evidence that it meets the ULEZ and/or LEZ standards.&nbsp;</p>

<h3>Showman's discount</h3>

<p>If you own a specially constructed or modified vehicle used for a travelling show, it may be eligible for a discount on daily ULEZ and LEZ charges. Find out more and set up a&nbsp;London Road User Charging account before <a href="/modes/driving/compliance-registration/before-you-start">applying for the Showman's discount</a>.</p>
</div>
 


          
        
		<!-- 1. lez-services -->
        <!-- all done by cms page module -->
		
		
	  

  

@FormHelpers.DottedSeparator()
@ModulesHelpers.BackLink()
      
        
          
        
      
    
  </div>
  <div class="aside" role="complementary">

    

        @{
            dynamic userInfoBoxContent = new ContentModel();
            Html.RenderAction("UserInfoBox", "Account", new { Area = "Ruc", content = userInfoBoxContent, logOutUrl = "/modes/driving/low-emission-zone" });
        }
        
      

 
    
    
    <div></div>
    
      <div>
                    
        <div class="vertical-button-container">
    <ul>
        
        
        
        <li><a href="/modes/driving/pay-to-drive-in-london"  class="plain-button">Pay to drive in London</a></li>
        
        
        <li><a href="/modes/driving/amend-or-refund-a-charge"  class="plain-button">Amend or refund a charge</a></li>
        
        
        <li><a href="/modes/driving/compliance-registration/before-you-start"  class="plain-button">Register your vehicle with us</a></li>
        
        
        <li><a href="/modes/driving/low-emission-zone/contact-lez"  class="plain-button">Contact LEZ</a></li>
        
    </ul>
</div>

      </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>

 
        
        
        
            @{ViewBag.Description = "The Ultra Low Emission Zone (ULEZ) and Low Emission Zone (LEZ) operate 24 hours a day, every day of the year, including weekends and public and bank holidays.";}
        
            
        


 