
    


















@section adverts {
    <div class="top-banner-advert" aria-hidden="true">
        <div class="large" data-advert="/76889402/driving/low_emission_zone" data-advert-sizes="970, 90|970, 250"></div>
        <div class="medium" data-advert="/76889402/driving/low_emission_zone" data-advert-sizes="728, 90"></div>
        <div class="small" data-advert="/76889402/driving/low_emission_zone" data-advert-sizes="300, 50|320, 50"></div>
    </div>
}


 
  


<!-- rhroot -->
@{ViewBag.Title = "Low Emission Zone";}
@{ViewBag.Keywords = "Bus operators,Businesses,Coach drivers,Drivers,Freight industry,Planning and construction,Public,Schools and young people,Suppliers,Buses,Coaches,Driving,LEZ,Low Emission Zone ,TfL";}
@{ViewBag.Url = "/modes/driving/low-emission-zone";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        

  

<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/modes/driving/index">Driving</a></li>
                
            
                
                <li><span class="last-breadcrumb">Low Emission Zone</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 

  
  <div class="r">
    <div class="headline-container section-title section-landing-container with-logo">
      <div class="section-title-wrap">
        <h1 class="hero-headline">Low Emission Zone</h1>
        
          <div class="heading-logo">
            <img src="/ruc-cdn/static/cms/images/logos/lez-partner.png" alt="" />
          </div>
        
      </div>
    </div>
  </div>


  
  
    
  


    
    <div class="r">
        <div class="section-overview clearfix ">
            <div class="small-medium" data-set="section-intro"></div>
            <div class="main">
                <div class="large" data-set="section-intro">
                    
                </div>
                <p>The Low Emission Zone (LEZ) operates to encourage the most polluting heavy diesel vehicles driving in London to become cleaner. The LEZ covers most of Greater London and is in operation 24 hours a day, every day of the year.</p>

<p><a href="/modes/driving/low-emission-zone/changes-to-the-lez">Tougher LEZ standards</a> are coming on 26 October 2020 for heavy vehicles including HGVs, lorries, vans, buses, coaches, minibuses and other specialist diesel vehicles.</p>

<p>The LEZ is separate from the <a href="/modes/driving/ultra-low-emission-zone">Ultra Low Emission Zone (ULEZ)</a> which is in place in central London and operates 24 hours a day, every day of the year except Christmas Day.</p>
            </div>
            
            <div class="aside">
                
                

                @{
                    Html.RenderAction(
                        "UserLoginBox", 
                        "Account", 
                        new { 
                            Area = "Ruc", 
                            returnUrl = "/modes/driving/account-account-landing-29377"
                        }
                    );
                }
            
      

 

        @{
            dynamic userInfoBoxContent = new ContentModel();
            Html.RenderAction("UserInfoBox", "Account", new { Area = "Ruc", content = userInfoBoxContent, logOutUrl = "/modes/driving/low-emission-zone" });
        }
        
      

 
                
            </div>
            
        </div>
    </div>
    
   
    <div class="r">
        <div class="main clearfix" role="main">
            
        
        
         
        
        
        
                
                <div class="clearfix">
                    
<div class="module-grid clearfix">
<div>

<div class="call-to-action-button">
       <a href="/modes/driving/pay-to-drive-in-london" class="secondary-button no-hover" >Pay to drive in London</a>

    </div>
</div> 
 <div>

<div class="call-to-action-button">
       <a href="/modes/driving/pay-a-pcn" class="secondary-button no-hover" >Pay a penalty</a>

    </div>
</div> 
 
</div>
 
                </div>
                <hr>
                
                
                <div class="module-grid clearfix">
                    
                    
                    
                    <div>

<div class="news-teaser driving">

    <a href="/modes/driving/low-emission-zone/check-if-your-vehicle-is-affected?intcmp=2266" >
        <img src="/ruc-cdn/static/cms/images/promos/lez-is-your-vehicle-affected.jpg" alt="Low Emission Zone affected vehicles" />
        
        <div class="text-link">
             <h2>Check if your vehicle is affected</h2>
            <p>Find out which vehicles are affected by current and changing standards</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser driving">

    <a href="/modes/driving/low-emission-zone/about-the-lez?intcmp=2263" >
        
        
        <div class="text-link">
             <h2>LEZ: Where and when</h2>
            <p>Find out where, when and how the zone operates and changes for the future</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser driving">

    <a href="/modes/driving/low-emission-zone/ways-to-meet-the-standards?intcmp=2269" >
        
        
        <div class="text-link">
             <h2>What are my options?</h2>
            <p>If your vehicle doesn't meet the emissions standards, there are a number of things you can do</p>
        </div>
    </a>
</div>
 
 <div class="vertical-button-container">
    <ul>
        
        
        
        <li><a href="/modes/driving/ultra-low-emission-zone"  class="plain-button">ULEZ</a></li>
        
        
        <li><a href="/modes/driving/congestion-charge"  class="plain-button">Congestion Charge</a></li>
        
    </ul>
</div>

</div>
 <div>

<div class="news-teaser">

    <a href="/modes/driving/low-emission-zone/changes-to-the-lez?intcmp=52426" >
        <img src="/ruc-cdn/static/cms/images/promos/low-emission-zone-image_rdax_400x200.jpg" alt="Low Emission Zone sign" />
        
        <div class="text-link">
             <h2>Changes to the LEZ from 26 October 2020</h2>
            <p>Check for the tougher standards and find out how to prepare</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser driving">

    <a href="/modes/driving/low-emission-zone/find-out-if-you-need-to-register?intcmp=2272" >
        
        
        <div class="text-link">
             <h2>Do I need to register?</h2>
            <p>If your vehicle is registered outside the UK you may need tell us about it in advance</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser driving">

    <a href="/modes/driving/low-emission-zone/penalty-charges?intcmp=2275" >
        
        
        <div class="text-link">
             <h2>Penalties and enforcement</h2>
            <p>If you have received a PCN you can either pay it or challenge it</p>
        </div>
    </a>
</div>
 
 <div class="vertical-button-container">
    <ul>
        
        
        
        <li><a href="/info-for/deliveries-in-london/"  class="plain-button">Deliveries in London</a></li>
        
        
        <li><a href="/corporate/publications-and-reports/low-emission-zone"  class="plain-button">LEZ publications</a></li>
        
        
        <li><a href="/corporate/terms-and-conditions/pay-to-drive-in-london"  class="plain-button">LEZ terms and conditions</a></li>
        
        
        <li><a href="/unofficial-selling-websites"  class="plain-button">Avoid payment fraud</a></li>
        
    </ul>
</div>

</div>
 
                </div>
        
        
        
          
        
    </div>
    
      
      <div class="aside" role="complementary">
    
        <div data-set="sidenav-container" class="large">
          
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
                <a href="/modes/driving/low-emission-zone" class="heading">
                    <h3 id="sub-menu-heading" class="h2">Low Emission Zone<span class="visually-hidden"> navigation</span></h3>
                </a>
                <ul>
                    
                                <li class="parent" aria-label="page with sub pages"><div class="link-wrapper"><a href="/modes/driving/low-emission-zone/about-the-lez">LEZ: Where and when</a></div></li>
                            
 
                                <li class="parent" aria-label="page with sub pages"><div class="link-wrapper"><a href="/modes/driving/low-emission-zone/make-a-payment">Pay a LEZ charge</a></div></li>
                            
 
                                <li class="parent" aria-label="page with sub pages"><div class="link-wrapper"><a href="/modes/driving/low-emission-zone/ways-to-meet-the-standards">Ways to meet the LEZ standards</a></div></li>
                            
 
                                <li class="parent" aria-label="page with sub pages"><div class="link-wrapper"><a href="/modes/driving/low-emission-zone/find-out-if-you-need-to-register">Find out if you need to register</a></div></li>
                            
 
                                <li class="parent" aria-label="page with sub pages"><div class="link-wrapper"><a href="/modes/driving/low-emission-zone/check-if-your-vehicle-is-affected">Check if your vehicle is affected</a></div></li>
                            
 
                                <li aria-label="page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/low-emission-zone/lorries-vans-buses-and-coaches">HGVs, lorries, vans, buses/minibuses and coaches</a></div></li>
                            
 
                                <li aria-label="page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/low-emission-zone/vans-minibuses-and-specialist-diesel-vehicles">Vans, minibuses and specialist diesel vehicles </a></div></li>
                            
 
                                <li class="parent" aria-label="page with sub pages"><div class="link-wrapper"><a href="/modes/driving/low-emission-zone/penalty-charges">Penalty charges for the LEZ</a></div></li>
                            
 
                                <li aria-label="page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/low-emission-zone/manufacturers-and-fitters">Manufacturers and fitters</a></div></li>
                            
 
                                <li aria-label="page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/low-emission-zone/changes-to-the-lez">Changes to the LEZ</a></div></li>
                            
 
                                <li class="parent" aria-label="page with sub pages"><div class="link-wrapper"><a href="/modes/driving/low-emission-zone/contact-lez">Contact LEZ</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>
        <div class="module-grid clearfix">
          
















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/driving/low_emission_zone" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/driving/low_emission_zone" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 
          <div>
    
    <div class="contact-info-box">
        <div class="contact-info-header">
            <h3>Contact us</h3>
        </div>
                                                         
        <div class="content-group">
            <p>We're open 08:00-20:00 Monday to Friday.</p>
        </div>
        
        
            
        
        
            
                
                 
        
        
        
        <div class="content-group">
            <p>
                <abbr title="Telephone number">Call</abbr>&nbsp;<a href="/corporate/terms-and-conditions/tfl-call-charges">Charges apply</a><br />
                0343 222 1111
            </p>
        </div>
        
        
        <div class="content-group">
            <p>
                <abbr title="Textphone">Textphone</abbr><br />
                020 7310 8999
            </p>
        </div>
        
        
        <div class="content-group">
            <p>
                <abbr title="Address">Write</abbr>
            </p>
            <p>Email <a href="mailto:lezlondon&#64;tfl.gov.uk">lezlondon&#64;tfl.gov.uk</a> <br /><a href="/modes/driving/lez-contact-us-make-an-enquiry-wizard-37749">Fill in a form</a> <br />Or send a letter to:</p>
        </div>
        
        
        <div class="content-group">
            PO Box 343<br />Darlington DL1 9QD
        </div>
        
    </div>
</div>
 <div class="related-links">

    <h3>Related websites</h3>

<div class="vertical-button-container">

<a href="https://www.gov.uk/government/organisations/driver-and-vehicle-standards-agency" class="plain-button">DVSA</a>
<a href="https://www.gov.uk/government/organisations/driver-and-vehicle-licensing-agency" class="plain-button">DVLA</a>
<a href="http://www.londontravelwatch.org.uk/home/" class="plain-button">London TravelWatch</a>
    </div>
</div>
 <div class="follow-social email">
  
  <div class="social-image">
    
  </div>
  <div class="social-text">
    <h3>Email updates</h3>
    <p>Customer updates and advance warning of weekend closures and planned works</p>
  </div>
  <div class="social-button">
    <a class="secondary-button" href="/travel-information/social-media-and-email-updates/email-updates">Register</a>
  </div> 
</div>
 
        </div>
        <div data-set="sidenav-container" class="small-medium"></div>
      </div>
  </div>
 
        
        
        
            @{ViewBag.Description = "Drivers of heavier diesel vehicles may have to pay to drive within Greater London ";}
        
            
        


 