
    
  



@{ViewBag.Title = "PCN details";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/modes/driving/pay-pcn-details";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/modes/driving/index">Driving</a></li>
                
            
            
                 <li><a href="/modes/driving/pay-a-pcn">Pay a PCN</a></li>
                
            
                
                <li><span class="last-breadcrumb">PCN details</span></li>
            
        
 
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>PCN details</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
    
      
      
           
      

        <div>
            @{
                dynamic content = new ContentModel();
                content.SchemeLabelText = "Scheme";
                content.LocationLabelText = "Contravention location";
                content.StatusLabelText = "Current status";
                content.DateAndTimeLabelText = "Contravention date and time";
                content.OutstandingAmountLabelText = "Outstanding amount";
                content.PcnChargeHistoryHeading = "PCN status history";
                content.BasketButtonText = "Add to basket";
                content.ChallengeButtonText = "Challenge";
                content.ViewPcnPageUrl = "/modes/driving/pay-a-pcn";
                content.SearchAnotherPcnButtonText = "Search for another PCN";
                content.SearchPcnButtonClass = "primary-button";
                content.ListHeading = "";
                content.MakeRepresentationUrl = "/modes/driving/make-a-representation?type=pay&journey=Pay&isChallenge=false";
                content.NotHistoryFoundMessage = "No PCN history found";
                content.ShowAllHistoryButtonText = "Show all";
                content.AddToBasketText = "Added to basket";
                content.PaidAlreadyErrorMessage = "This PCN can't be paid";
                content.CantChallenge = "true";
                content.ClosedAlreadyErrorMessage = "This PCN is already closed";
                content.BasketDetailPageUrl = "/modes/driving/basket";
                content.BasketText = "Basket: ";
                content.CantAddToBasketButtonText = "Can't add to basket";
                content.JourneyCmsUrl = "/modes/driving/pay-a-pcn?pcnId={0}&vrm={1}&journey=Pay&skippedIssuedPage=true";
                content.GoToBasket = "Go to basket";
                content.ActionLink = "Add all";
                
                content.LeadPcnAddingMessage = "PCN {0} added to basket";
                content.AssociatedPcnsSectionHeadingText = "Other PCNs for this vehicle";
                content.AssociatedPcnsSectionBodyText = @"See details of PCNs issued to this vehicle, for the same registered keeper (or person liable), across the Congestion Charge, Ultra Low Emission Zone, Low Emission Zone and red route schemes.";


                Html.RenderAction("PcnInformation", "Pcn", new
                {
                    content = content 
                });
            }
            <!-- Back Button with Find a PCN Button markup-->
            <form action="/Ruc/pcn/RedirectToSearch" method="post">
                <input type="hidden" id="viewPcnPageUrl" name="viewPcnPageUrl" value="/modes/driving/pay-a-pcn" />
                <div class="button-set">
                    <input id="primary-button" type="submit" class="secondary-button" value="Find another PCN">
                    <a id="back-button" href="/modes/driving/pay-a-pcn" class="tertiary-link go-back"><span class="button-text">Back</span></a>
                </div>
            </form>
        </div>
      
  
 
      
        
          
        
      
    
  </div>
  <div class="aside" role="complementary">

    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div></div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>

 
        
        
        
            @{ViewBag.Description = "Pay PCN details page";}
        
            
        


 