
    


























@section adverts {
    <div class="top-banner-advert" aria-hidden="true">
        <div class="large" data-advert="/76889402/driving/payment" data-advert-sizes="970, 90|970, 250"></div>
        <div class="medium" data-advert="/76889402/driving/payment" data-advert-sizes="728, 90"></div>
        <div class="small" data-advert="/76889402/driving/payment" data-advert-sizes="300, 50|320, 50"></div>
    </div>
}


 
  



@{ViewBag.Title = "Pay Congestion Charge";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/modes/driving/paying-the-congestion-charge-result-26423";}
@{ViewBag.Language = "en";}
        
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/modes/driving/index">Driving</a></li>
                
            
                 <li><a href="/modes/driving/pay-to-drive-in-london">Pay to drive in London</a></li>
                
            
            
            
                <li><span class="last-breadcrumb">Pay Congestion Charge</span></li>
            
        
 
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Pay Congestion Charge</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
    
      
      
           
      

        @{
            Html.RenderAction(
            "PaymentResult",
            "PayZoneCharge", new
            {
                area = "Ruc",
                zoneType = ZoneChargeZone.CongestionCharge,
                paymentConfirmationUrl = "/modes/driving/paying-the-congestion-charge-confirmation-26426",
                paymentFailureUrl = "/modes/driving/paying-the-congestion-charge-failure-26429",
                cancelUrl = "/modes/driving/paying-the-congestion-charge-select-congestion-charge-26420"
            });
        }
     
 
      
        
          
        
      
    
  </div>
  <div class="aside" role="complementary">

    

        @{
            dynamic userInfoBoxContent = new ContentModel();
            Html.RenderAction("UserInfoBox", "Account", new { Area = "Ruc", content = userInfoBoxContent, logOutUrl = "/modes/driving/congestion-charge" });
        }
        
      

 
    
    
    <div>
























<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/driving/payment" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/driving/payment" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>

     @section scripts {
<div class="bottom-advert ">
    <div class="close-ad-button visually-hidden"><span class="close-icon-circle"></span></div>
    <div data-advert="/76889402/driving/" data-advert-sizes="320, 50"></div>
</div>
}

 
        
        
        
            @{ViewBag.Description = "";}
        
            
        


 