
    
  



@{ViewBag.Title = "Payment result";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/modes/driving/payment-result";}
@{ViewBag.Language = "en";}
        
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/modes/driving/index">Driving</a></li>
                
            
            
                 <li><a href="/modes/driving/pay-a-pcn">Pay a PCN</a></li>
                
            
                 <li><a href="/modes/driving/pay-pcn-details">PCN details</a></li>
                
            
                 <li><a href="/modes/driving/basket">Basket</a></li>
                
            
                
                <li><span class="last-breadcrumb">Payment result</span></li>
            
        
 
        
 
        
 
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Payment result</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
    
      
      
           
      
        @{ 
            Html.RenderAction(
               "PaymentResult",
               "PenaltyChargeNotice", new
               {
                   area = "Ruc",
                   paymentConfirmationUrl = "/modes/driving/we-have-confirmed-your-payment",
                   paymentFailureUrl = "/modes/driving/payment-failure",
                   cancelUrl = "/modes/driving/basket"
               }); 
        }
      
 
      
        
          
        
      
    
  </div>
  <div class="aside" role="complementary">

    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div></div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>

 
        
        
        
            @{ViewBag.Description = "";}
        
            
        


 