
    
  



@{ViewBag.Title = "Penalties & enforcement";}
@{ViewBag.Keywords = "Businesses,Drivers,Public,Driving,TfL";}
@{ViewBag.Url = "/modes/driving/penalties-and-enforcement";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/modes/driving/index">Driving</a></li>
                
            
            
                <li><span class="last-breadcrumb">Penalties & enforcement</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Penalties & enforcement</h1>

  </div>
</div>
<div class="main-and-aside r">
  
<div class="login-aside">
                @{
                    Html.RenderAction(
                        "UserLoginBox", 
                        "Account", 
                        new { 
                            Area = "Ruc", 
                            returnUrl = "/modes/driving/account-account-landing-29377"
                        }
                    );
                }
            </div>
      

 
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        <p>The enforcement process is defined by law. Find out what notices you will receive, how much money is owed at each stage and how long you have to respond.</p>
        
      </div>
    
    
      <p>If you get a Penalty Charge Notice (PCN), you can either pay it or challenge it. The sooner you pay, the cheaper it is.</p>

<p>This guide is for information only. You may wish to seek your own legal advice. A more detailed explanation can be found on the <a href="/modes/driving/congestion-charge/penalties-and-enforcement/enforcement-process">enforcement process page</a>.</p>

<h2>PCNs</h2>
      
           
      

<div class="table-container"><table border="1" cellpadding="1" cellspacing="1" style="width:658px">
	<thead>
		<tr>
			<th scope="col"><strong>Penalty charge</strong></th>
			<th scope="col"><strong>Discounted amount (if paid within 14 days)</strong></th>
			<th scope="col" style="width: 277px;"><strong>Charge Certificate</strong></th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>&pound;160</td>
			<td>&pound;180</td>
			<td style="width:277px">&pound;240</td>
		</tr>
	</tbody>
</table></div>
<p><strong>Time to pay: 28 days</strong></p>

 <div>

<h3>What is a PCN?</h3>

<p>If you haven't paid the Congestion Charge when you should have, we'll send you a formal notification - a PCN.</p>

<p>If we photograph your vehicle in the Congestion Charge zone and our records show that you've not paid the daily charge by midnight on the following charging day, we will issue a PCN to the registered keeper of the vehicle. This will outline&nbsp;the penalty charge that must be paid for the contravention date.</p>

<h3>What do I do now that I've got a PCN?</h3>

<p>Don't ignore the PCN even if you believe you have paid the charge, are exempt or registered for a 100% discount.</p>

<p>You have 28 days from the date of service of your PCN to either:</p>

<ul>
	<li><a href="/modes/driving/pay-a-pcn">Pay the penalty</a> or</li>
	<li><a href="/modes/driving/congestion-charge/penalties-and-enforcement/challenge-a-penalty-charge/make-a-representation">Challenge the PCN</a> by making a representation online or in writing</li>
</ul>

<p>If you pay within 14 days of the date of service you will receive a 50% discount, the amount that must be paid being the discounted amount for the contravention date.</p>

<p>Under the Interpretation Act 1978 s.7, unless the contrary is proved, service is deemed to have been effected at the time when the PCN would be delivered in the ordinary course of post.</p>

<p>If you wish to make a representation against the PCN you can do so for the reasons listed below. We will also consider representations made on any other grounds:</p>

<ul>
	<li>You were not the keeper at the time of the contravention</li>
	<li>You had paid the charge</li>
	<li>Your vehicle was exempt</li>
	<li>The vehicle was used or taken without your consent</li>
	<li>You had registered for a 100% discount</li>
	<li>The vehicle was on hire to someone else</li>
</ul>

<p>You can <a href="/modes/driving/view-a-pcn">view more details of the PCN</a> before paying it or making a representation.</p>

<h2>Charge Certificate</h2>

<p>If the penalty charge is not fully paid within 28 days of the date of service, then the penalty charge you have to pay increases by 50% of the full penalty charge. A Charge Certificate is then sent to the registered keeper of the vehicle.</p>

<p>You have 14 days from the date of service in which to pay this increased amount.</p>

<p>Under the Interpretation Act 1978 s.7, unless the contrary is proved, service is deemed to have been effected at the time when the Charge Certificate would be delivered in the ordinary course of post.</p>

<p>Once a Charge Certificate is issued you can no longer make a representation. If you did not receive the original PCN, or if you have received no reply to a representation or an appeal, you can <a href="/modes/driving/congestion-charge/penalties-and-enforcement/challenge-a-penalty-charge/make-a-statutory-declaration">make a Statutory Declaration</a>.</p>

<h2>Order for Recovery</h2>

<p>If the penalty charge is not paid within 14 days of a Charge Certificate being served then we may apply to register it as an unpaid debt at the Traffic Enforcement Centre which incurs a debt registration fee for each PCN.</p>

<p>You will then be sent an Order for Recovery. This is not a County Court Judgment and will not affect your credit rating. At this point the penalty charge due increases by the debt registration fee.</p>

<p>You have 21 days from the date of service in which to pay this.</p>

<p>Under the Interpretation Act 1978 s.7, unless the contrary is proved, service is deemed to have been effected at the time when the Order for Recovery would be delivered in the ordinary course of post.</p>

<h2>Enforcement agents and bailiffs</h2>

<p>If the penalty charge has not been paid within 21 days of the Order for Recovery being served, we will ask for a Warrant of Control which will be passed to an <a href="/modes/driving/congestion-charge/penalties-and-enforcement/enforcement-agents-and-bailiffs">enforcement agent</a> to recover the outstanding debt. You will not be sent a copy of the Warrant, however, you may request a copy directly from the enforcement agent or their office.</p>

<p>Once a case has been passed to an enforcement agent, they will start enforcement activity; this is known as the compliance stage. At this point you will receive an Enforcement Notice which details the name and address on the warrant and how much money you owe. If you ignore this initial notice, an enforcement agent may visit your property to collect the outstanding debt, plus any enforcement fees.</p>

<p>All enforcement agents acting on our behalf are certificated in a County Court and operate in accordance with governing legislation and our contractual requirements.</p>
</div>
 
<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/ruc-cdn/static/cms/documents/bailiffs-enforcement-agents-your-rights.pdf">
    <div class="document-download-text">
        <p>Enforcement agents and bailiffs - know your rights</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 42KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.04 -->
 
</div>

</div>
 
      
        
          
        
      
    
  </div>
  <div class="aside" role="complementary">
    
    
    
   
    

        @{
            dynamic userInfoBoxContent = new ContentModel();
            Html.RenderAction("UserInfoBox", "Account", new { Area = "Ruc", content = userInfoBoxContent, logOutUrl = "/modes/driving/congestion-charge" });
        }
        
      

 
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/driving" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/driving" data-advert-sizes="300, 250|300, 600"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
      <div>
                    
        <div>

    <div class="contact-info-box">
         <div class="contact-info-header">
             <h3>CC and LEZ enforcement</h3>
         </div>
        
        
        
        
        <div class="content-group">
            <p>
                
                
                <abbr title="Telephone number">Phone</abbr>: 0343 222 3333<br />
                
                
                
                
                
                
            </p>
            <p>(<a href="/corporate/terms-and-conditions/tfl-call-charges">TfL call charges</a>)</p>
        </div>
        
        <div class="content-group">
            
            
            
                
                
                
            
            
            
        </div>
        
        
    </div>
</div>
 
      </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Find out what notices you will receive, how much money is owed and how long you have to respond";}
        
            
        


 