
    


















@section adverts {
    <div class="top-banner-advert" aria-hidden="true">
        <div class="large" data-advert="/76889402/driving/" data-advert-sizes="970, 90|970, 250"></div>
        <div class="medium" data-advert="/76889402/driving/" data-advert-sizes="728, 90"></div>
        <div class="small" data-advert="/76889402/driving/" data-advert-sizes="300, 50|320, 50"></div>
    </div>
}


 
  


<!-- rhroot -->
@{ViewBag.Title = "Red routes";}
@{ViewBag.Keywords = "Businesses,Drivers,Motorbikers,Public,Driving,Motorcycle,TfL";}
@{ViewBag.Url = "/modes/driving/red-routes";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        

  

<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/modes/driving/index">Driving</a></li>
                
            
                
                <li><span class="last-breadcrumb">Red routes</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 

  
  <div class="r">
    <div class="headline-container section-title section-landing-container ">
      <div class="section-title-wrap">
        <h1 class="hero-headline">Red routes</h1>
        
      </div>
    </div>
  </div>


  
  
    
  


    
    <div class="r">
        <div class="section-overview clearfix ">
            <div class="small-medium" data-set="section-intro"></div>
            <div class="main">
                <div class="large" data-set="section-intro">
                    
                </div>
                <p>London's red routes form a network of major roads that make up 5% of the roads, but carry up to 30% of the city's traffic. If you don't follow the signs and road markings, we may issue you with a Penalty Charge Notice (PCN).</p>
            </div>
            
            <div class="aside">
                
                <div>

<div class="call-to-action-button">
       <a href="/modes/driving/pay-a-pcn" class="secondary-button no-hover" >Pay a penalty</a>

    </div>
</div> 
 
                
            </div>
            
        </div>
    </div>
    
   
    <div class="r">
        <div class="main clearfix" role="main">
            
        
        
         
        
        
        
                
                
                <div class="module-grid clearfix">
                    
                    
                    
                    <div class="news-teaser driving">

    <a href="/modes/driving/red-routes/red-route-maps?intcmp=2189"  data-img="/ruc-cdn/static/cms/images/promos/red-routes-cars_rdax_400x200.jpg" data-img-breakpoint="medium" data-img-alt="Red routes cars">
        
        
        <div class="text-link">
             <h2>Where are the red routes?</h2>
            <p>Use the maps to see if a red route is on your journey </p>
        </div>
    </a>
</div>
 
 <div class="news-teaser driving">

    <a href="/modes/driving/red-routes/rules-of-red-routes?intcmp=2192"  data-img="/ruc-cdn/static/cms/images/promos/no-stopping_rdax_400x200.jpg" data-img-breakpoint="medium" data-img-alt="No Stopping sign">
        
        
        <div class="text-link">
             <h2>Rules of the red routes</h2>
            <p>Signs and road markings tell you what you can and can't do.</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser driving">

    <a href="/modes/driving/red-routes/dispensations?intcmp=2252" >
        
        
        <div class="text-link">
             <h2>Parking dispensations</h2>
            <p>We can occasionally relax the parking rules but you need permission first</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser driving">

    <a href="/modes/driving/red-routes/penalty-charge-notices/make-a-representation?intcmp=2234" >
        
        
        <div class="text-link">
             <h2>Challenge a PCN</h2>
            <p>Find out how to make a representation against your Penalty Charge Notice</p>
        </div>
    </a>
</div>
 
 <div class="vertical-button-container">
    <ul>
        
        
        
        <li><a href="/modes/driving/unofficial-selling-websites"  class="plain-button">Avoid payment fraud</a></li>
        
        
        <li><a href="/info-for/urban-planning-and-construction/our-land-and-infrastructure/highway-licences"  class="plain-button">Highway licences</a></li>
        
        
        <li><a href="/modes/driving/congestion-charge"  class="plain-button">Congestion Charge</a></li>
        
        
        <li><a href="/modes/driving/low-emission-zone"  class="plain-button">Low Emission Zone</a></li>
        
    </ul>
</div>

                </div>
        
        
        
          
        
    </div>
    
      
      <div class="aside" role="complementary">
    
        <div data-set="sidenav-container" class="large">
          
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
                <a href="/modes/driving/red-routes" class="heading">
                    <h3 id="sub-menu-heading" class="h2">Red routes<span class="visually-hidden"> navigation</span></h3>
                </a>
                <ul>
                    
                                <li aria-label="page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/red-routes/red-route-maps">Red route maps</a></div></li>
                            
 
                                <li class="parent" aria-label="page with sub pages"><div class="link-wrapper"><a href="/modes/driving/red-routes/rules-of-red-routes">Rules of red routes</a></div></li>
                            
 
                                <li class="parent" aria-label="page with sub pages"><div class="link-wrapper"><a href="/modes/driving/red-routes/penalty-charge-notices">Penalty Charge Notices</a></div></li>
                            
 
                                <li aria-label="page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/red-routes/dispensations">Red route dispensations</a></div></li>
                            
 
                                <li aria-label="page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/red-routes/exemptions">Exemptions</a></div></li>
                            
 
                                <li class="parent" aria-label="page with sub pages"><div class="link-wrapper"><a href="/modes/driving/red-routes/contact-red-routes">Contact red routes</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>
        <div class="module-grid clearfix">
          
















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/driving/" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/driving/" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 
          <div>
    
    <div class="contact-info-box">
        <div class="contact-info-header">
            <h3>Contact us</h3>
        </div>
                                                         
        <div class="content-group">
            <p>We're open 24 hours a day, 7 days a week.</p>
        </div>
        
        
            
        
        
            
                
                 
        
        
        
        <div class="content-group">
            <p>
                <abbr title="Telephone number">Call</abbr>&nbsp;<a href="/corporate/terms-and-conditions/tfl-call-charges">Charges apply</a><br />
                0343 222 1234
            </p>
        </div>
        
        
        
        <div class="content-group">
            <p>
                <abbr title="Address">Write</abbr>
            </p>
            <p>Send a letter to:</p>
        </div>
        
        
        <div class="content-group">
            TfL Customer Services<br />4th Floor<br />14 Pier Walk<br />London SE10 0ES
        </div>
        
    </div>
</div>
 <div class="related-links">

    <h3>Related websites</h3>

<div class="vertical-button-container">

<a href="http://www.londontravelwatch.org.uk/home/" class="plain-button">London TravelWatch</a>
    </div>
</div>
 
        </div>
        <div data-set="sidenav-container" class="small-medium"></div>
      </div>
  </div>
 
     @section scripts {
<div class="bottom-advert ">
    <div class="close-ad-button visually-hidden"><span class="close-icon-circle"></span></div>
    <div data-advert="/76889402/driving/" data-advert-sizes="320, 50"></div>
</div>
}

        
        
        
            @{ViewBag.Description = "Information about red routes";}
        
            
        


 