
    


















@section adverts {
    <div class="top-banner-advert" aria-hidden="true">
        <div class="large" data-advert="/76889402/driving/" data-advert-sizes="970, 90|970, 250"></div>
        <div class="medium" data-advert="/76889402/driving/" data-advert-sizes="728, 90"></div>
        <div class="small" data-advert="/76889402/driving/" data-advert-sizes="300, 50|320, 50"></div>
    </div>
}


 
  



@{ViewBag.Title = "Rotherhithe Tunnel restrictions";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/modes/driving/rotherhithe-tunnel-restrictions";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/modes/driving/index">Driving</a></li>
                
            
                
                <li><span class="last-breadcrumb">Rotherhithe Tunnel restrictions</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Rotherhithe Tunnel restrictions</h1>

  </div>
</div>
<div class="main-and-aside r">
  
<div class="login-aside">
                @{
                    Html.RenderAction(
                        "UserLoginBox", 
                        "Account", 
                        new { 
                            Area = "Ruc", 
                            returnUrl = "/modes/driving/account-account-landing-29377"
                        }
                    );
                }
            </div>
      

 
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        <p>Cameras enforce the Rotherhithe Tunnel vehicle restrictions around the clock.</p>
        
      </div>
    
    <div class="on-this-page">
      <p>Vehicles more than 2 metres (6'6&quot;) high, 2 metres (6'6&quot;) wide or goods vehicles weighing more than 2 tonnes (gross vehicle weight) are not safe to travel through the Rotherhithe Tunnel. Drivers that do not comply could be fined up to &pound;130.</p>

<p>From 2 December 2019, fines will no longer be limited to one per day. Drivers of prohibited vehicles could receive a fine for every journey they make through the tunnel.</p>

<p>This is to keep the tunnel safe. The penalty has been in place since February 2019, and we've&nbsp;used our discretion to limit fines issued to prohibited vehicles to one per day. However, we've seen&nbsp;prohibited vehicles continue to make repeat offences.</p>

<p>The Rotherhithe Tunnel was built in 1908 and was not designed to cope with modern levels of traffic. These restrictions help to ensure that road users can continue to use the tunnel safely while we work on plans for the tunnel's future.</p>

<h2>Alternative crossings</h2>

<p>Drivers of vehicles that do not meet these restrictions should use Tower Bridge or the Blackwall Tunnel, both of which are outside the <a href="/modes/driving/congestion-charge">Congestion Charging zone</a> and the <a href="/modes/driving/ultra-low-emission-zone">Ultra Low Emission Zone (ULEZ)</a>.</p>

<p>When Tower Bridge is closed for overnight maintenance, Southwark Bridge can be used. Currently, the Congestion Charge does not apply during the hours that Tower Bridge is closed overnight. The ULEZ operates from midnight to midnight, 7 days a week, every day of the year, including weekends and public holidays.</p>

<h2>Weight restriction</h2>

<p>Goods vehicles can't use Rotherhithe Tunnel if they have a gross vehicle weight of more than 2 tonnes.</p>

<p>Gross vehicle weight is the maximum weight that the vehicle is legally permitted to be loaded to. It is also called the Maximum Authorised Mass (MAM) or permissible maximum weight.</p>

<p>To find your vehicle's GVW you can check:</p>

<ul>
	<li>The revenue weight listed on the vehicle's log book (V5C)</li>
	<li>On the plate or sticker fitted to the vehicle</li>
	<li>With the vehicle's manufacturer</li>
</ul>

<h2>If you've received a penalty</h2>

<p>Customers that receive a Penalty Charge Notice (PCN) can, if they want, challenge it (also known as 'making a representation') on the <a href="/modes/driving/red-routes/penalty-charge-notices/make-a-representation">Challenge a Penalty Charge notice page</a>.</p>

<h2>What we've done</h2>

<p>In September 2018 we did a detailed analysis of the ventilation system which would extract smoke and other dangerous fumes from the tunnel in case of a fire.</p>

<p>This analysis shows that repair work needs to be carried out urgently.</p>

<p>We are now introducing fines for drivers who do not comply with the restrictions. We have installed signs clearly warning of the restrictions.</p>
      
           
      
<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/ruc-cdn/static/cms/documents/rotherhithe-tunnel-restrictions-and-alternative-river-crossings.pdf">
    <div class="document-download-text">
        <p>Rotherhithe tunnel restriction and alternative crossings</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 929KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.91 -->
 

<a class="document-download-wrap pdf" href="/ruc-cdn/static/cms/documents/rotherhithe-tunnel-vechicle-restriction-warnings-signage-location-v2.pdf">
    <div class="document-download-text">
        <p>Map showing positions of warning signs</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 515KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.50 -->
 
</div>

</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/driving/" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/driving/" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>

     @section scripts {
<div class="bottom-advert ">
    <div class="close-ad-button visually-hidden"><span class="close-icon-circle"></span></div>
    <div data-advert="/76889402/driving/" data-advert-sizes="320, 50"></div>
</div>
}

 
        
        
        
            @{ViewBag.Description = "Observe the restrictions in the Rotherhithe Tunnel or you risk getting a penalty";}
        
            
        


 