
    
  



@{ViewBag.Title = "Sorry, we're fixing something";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/modes/driving/ruc-unplanned-maintenance";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/modes/driving/index">Driving</a></li>
                
            
            
            
            
                <li><span class="last-breadcrumb">Sorry, we’re fixing something</span></li>
            
        
 
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Sorry, we’re fixing something</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        <p>We expect to get back to normal service as soon as possible.</p>
        
      </div>
    
    
      <h3>Congestion Charge/ULEZ/LEZ payments</h3>

<p>To pay a Congestion Charge or a ULEZ or LEZ charge:</p>

<p><strong>Phone:</strong> 0343 222 2222 (<a href="/corporate/terms-and-conditions/tfl-call-charges">TfL call charges</a>)<br />
<strong>Open:</strong> 08:00-20:00 Monday to Friday<br />
Closed on weekends and bank holidays</p>

<h3>Penalty Charge Notice (PCN) payments</h3>

<p>To pay a PCN for the Congestion Charge, ULEZ, LEZ or red routes:</p>

<p><strong>Phone:</strong> 0343 222 3333 (<a href="/corporate/terms-and-conditions/tfl-call-charges">TfL call charges</a>)<br />
<strong>Open:</strong> 08:00-20:00 Monday to Friday<br />
Closed on weekends and bank holidays</p>

<ul>
	<li><a href="/modes/driving/congestion-charge">Return to Congestion Charge page</a></li>
	<li><a href="/modes/driving/ultra-low-emission-zone">Return to Ultra Low Emission Zone page</a></li>
	<li><a href="/modes/driving/low-emission-zone">Return to Low Emission Zone page</a></li>
	<li><a href="/modes/driving/red-routes">Return to Red routes page</a></li>
</ul>
      
           
      
      
        
          
        
      
    
  </div>
  <div class="aside" role="complementary">

    
    
    
    <div></div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>

 
        
        
        
            @{ViewBag.Description = "We expect to get back to normal service as soon as possible.";}
        
            
        


 