

<strong>Vehicle documents</strong>
<p>If you are adding a vehicle you will also need to provide an image or copy of <strong>1</strong> document from the list below:</p>
<p><strong>Your own private vehicle:</strong></p>
<ul>
    <li>Your vehicle registration document (V5C) - this is the document that is sent to you by the DVLA (vehicle must be registered with the DVLA in your name and at the address you are using to apply for the resident's discount)</li>
</ul>
<p><strong>Company car</strong></p>
<ul>
    <li>A company car authorisation letter - this letter must be on company headed paper, state your full name, the Vehicle Registration Mark and confirm that the vehicle is for your use only (vehicle must be registered in the company name with the DVLA)</li>
</ul>
<p><strong>Lease vehicle</strong></p>
<ul>
    <li>Vehicle lease document - this is the document that you signed to lease the vehicle (vehicle must be registered in the lease company name with the DVLA)</li>
</ul>
<p><strong>A company car provided by a lease company</strong></p>
<ul>
    <li>Your company's vehicle lease document - this is the document that you signed to lease the vehicle</li>
</ul>
<p>AND</p>
<ul>
    <li>A company car authorisation letter - this letter must be on company headed paper, state your full name, the Vehicle Registration Mark and confirm that the vehicle is for your use only (vehicle must be registered in the company or lease name with the DVLA)</li>
</ul>


 