

<p><strong>Address evidence: </strong></p>
<p>To show that you live in the Congestion Charge zone you need to provide images or copies of <strong>2</strong> the following:</p>
<ul>
    <li>    A current resident's on-street parking permit or a parking permit approval letter (must contain the Vehicle Registration Mark)</li>
    <li>A residential council tax bill (valid for the current year)</li>
    <li>Your income support entitlement letter (no  more than 7 months old)</li>
    <li>A bank or credit card statement (no more than 3 months old)</li>
    <li>A formal tenancy agreement or housing association rent document (dated within the last 12 months)</li>
    <li>A current utility bill, for example gas, water or electricity bill (no more than 3 months old and mobile phone bills are not accepted)</li>
    <li>Your driving licence (must show the address you are using to register for the resident's discount)</li>
</ul>
<p><strong>Vehicle documents:</strong></p>
<p>You have told us that you are not adding a vehicle at this time. This means that you must pay the full charge for any vehicle being driven within the charging zone.</p>


 