


@{ViewBag.Title = "Celebrating Child Road Safety Champions";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Celebrating Child Road Safety Champions</h1>
        <div class="content-page-press-release">
        21 June 2006
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Primary school children from all over London were thanked for being school road safety champions today, as Transport for London's (TfL) Junior Road Safety Officer (JRSO) scheme celebrated the end of its first year by inviting them to Street Safe Live, a fun-packed interactive road safety show.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            We have seen a dramatic fall in the number of children killed or seriously injured on London's roads in the past six years
                            
                        </p>
                    </div>
                
            
            
            
<p>Hosted by popular children's TV celebrities Anna Williamson and 
Jeff Brazier, Street Safe Live saw the fictional cartoon characters from TfL's 
JRSO packs brought to life on stage, and included the announcement of the Street 
Safe Live Road Safety Award winners for 2006, a road safety quiz, and a fashion 
parade.</p>
<p>The show ran in tandem with a stakeholder event at the same venue, where Road 
Safety Officers from the London boroughs and officials from across London were 
invited to find out what TfL is doing to make London's roads safer, and to 
encourage more schools and boroughs to introduce Street Safe Live. </p>
<p>The scheme is already operating in around 200 schools in 18 London 
boroughs.</p>
<p>Mayor of London Ken Livingstone said: "We have seen a dramatic fall in the 
number of children killed or seriously injured on London's roads in the past six 
years, thanks to improvements to the capital's roads, greater measures to deter 
speeding motorists, increased investment and award winning campaigns such as 
'don't die before you've lived'. </p>
<p>"But one young life lost on London's roads is one too many. Junior Road 
Safety Officers in schools across London are playing a vital role in helping us 
remind young people about road safety. </p>
<p>"Congratulations and a big thank you to all our road safety officers for 
their excellent work."</p>
<p>Jenny Jones, the Mayor's road safety ambassador, said: "We have to make our 
roads so safe that parents will allow their children to walk and cycle to 
school. </p>
<p>
<h2>Safer roads</h2>
<p>
<p>"We not only want fewer deaths and injuries on London's roads, we also want 
children, pedestrians and cyclists to feel safe and confident when using them. 
London has successfully invested in educating drivers, children and cyclists 
about road safety and London has more than doubled investment in 20mph zones 
around schools and putting in safety measures demanded by parents."</p>
<p>Christine Fitzgerald, Road Safety Officer at TfL, said: "More than 550 Year 
Five and Six students from around 200 of London's schools have worked incredibly 
hard during the JRSO scheme's first year to promote road safety within their 
schools. </p>
<p>"JRSOs and their peers have produced a remarkable variety of road safety 
projects since September, from a road safety website, to summer holiday safety 
leaflets, to a JRSO speaking to their MP when visiting the House of Commons 
about a petition for a pedestrian crossing."</p>
<p>Shane Kirton, Junior Road Safety Officer at St Mary's CoE Primary School in 
Walthamstow, said: "The best thing about being a JRSO is teaching other children 
about safety on the roads, especially the younger children who need more 
help."</p>
<p>For photos from the event or for more information on the JRSO scheme, the 
Street Safe Live event or road safety in London, please contact Silka 
Kennedy-Todd on 020 7126 3394, 07841 726750 or email <a href="mailto:silkakennedy-todd&#64;tfl.gov.uk">silkakennedy-todd&#64;tfl.gov.uk</a> </p>
            <ul>
<li>By the end of 2004, a reduction of 48 per cent in the number of children killed or seriously injured (KSIs) in London (compared to the 1994-98 baseline figures) had already been achieved - a reduction of an average of 935 KSIs a year to 487. The Mayor has increased TfL's target for reducing KSIs in children from 50 per cent to 60 per cent by 2010</li>
<li>Monday 19 June - Sunday 25 June is Child Accident Prevention Week</li>
<li>The Junior Road Safety Officer (JRSO) scheme involves schools 'recruiting' one to two Years 5-6 pupils (aged 9-11) to take a lead on promoting road safety issues in their school communities in interesting and creative ways. The appointed children teach their peers about road safety through games, competitions, plays, etc. They are given a colourful pack of resources to help them, along with a special badge, bag and pencil case. There is also a child-friendly website supporting the scheme - <a href="http://www.tfl.gov.uk/juniorroadsafety">www.tfl.gov.uk/juniorroadsafety</a> and a school guide pack for the school staff member who supports the children during their year as a JRSO</li>
<li>Eighteen London boroughs participated in TfL's JRSO scheme this year: Barking & Dagenham, Barnet, Bexley, Camden, Croydon, Greenwich, Hammersmith & Fulham, Harrow, Hounslow, Islington, Kensington and Chelsea, Kingston Upon Thames, Lewisham, Merton, Newham, Redbridge, Tower Hamlets and Waltham Forest. Over 550 children in 200 schools took part, and that number is set to grow in the next academic year as more boroughs and schools join the scheme</li>
<li>The winning entries for the Street Safe Live competition were as follows:</li>
<ul>
<li>Creativity Award. Winner - Sandringham Primary School (Forest gate, LB of Newham) for a very creative Road Safety website</li>
<li>Creativity Award. Runner up - St Matthew's Church of England Primary School (Surbiton, Royal Borough of Kingston upon  Thames) for a creative series of lessons to promote road safety</li>
<li>Creativity Award. Runner up - St Edmund's Roman Catholic School (Isle of Dogs, Tower Hamlets) for a range of creative projects</li>
<li>Creative Award. Commendation - Monega Primary School (Manor Park, LB of Newham) for a creative A -Z of children's road safety stories</li>
<li>Hard Work Award. Winner - Barnet Hill Junior Mixed Infant and Nursery School (Barnet)</li>
<li>Hard Work Award. Runner up - St Matthew's Church of England Primary School (Surbiton, Royal Borough of Kingston upon Thames)</li>
<li>Hard Work Award. Runner up - Gallions Mount Primary School (Greenwich)</li>
<li>Hard Work Award. Commendation - Sandringham Primary School (Forest Gate LB of Newham)</li>
<li>Winners will receive &pound;100 worth of vouchers for the school. Runner's Up will receive &pound;75 worth of vouchers for the school and certificates for all</li></ul></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Hosted by popular children's TV celebrities Anna Williamson and Jeff Brazier, Street Safe Live saw the fictional cartoon characters from TfL's JRSO packs brought to life on stage, and included the announcement of the Street Safe Live Road Safety Award";}
        
        


 