


@{ViewBag.Title = "City provides Taxi marshals at Liverpool Street";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>City provides Taxi marshals at Liverpool Street</h1>
        <div class="content-page-press-release">
        07 June 2006
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        A marshalled taxi rank funded by the City of London Crime and Disorder Reduction Partnership (CDRP) and supported by Transport for London, will be trialled at Liverpool Street station from Wednesday 7 June.
        
    </div>



 <div class="on-this-page">
<p>The City of London CDRP is funding the marshals on Wednesday and Thursday evenings for the next two months. </p>
<p>The marshals are licensed taxi drivers and will be supported by officers from the City of London Police. </p>
<p>The City of London CDRP brings together the City of London Corporation, City of London Police and London Fire Brigade with other key partners to reduce crime.</p>
<p>Mayor of London, Ken Livingstone, said: 'A marshalled taxi rank at Liverpool Street is welcome news for people out late in the City who need to get home safely. </p>
<p>'Marshalled ranks are popular with taxi drivers and passengers alike, offering a reliable and secure place to find a cab. </p>
<p>'They are one of several late night travel options, such as night buses, which are enabling people to avoid using illegal minicabs.'</p>
<p>Kevin Everett, Chairman of Licensing Committee, City of London said: 'The City Corporation's job is to look after the Square Mile, the world's most important financial centre. </p>
<p>'Making sure City workers and visitors are safe is a key part of this. </p>
<p>'Liverpool Street Station is the major transport node for the City with 123 million visitors per year.'</p>
<p>Commander Frank Armstrong, City of London Police, said: 'The City of London Police is constantly working to make sure that members of the public are able to travel safely to and from the City. </p>
<p>'The taxi marshalling scheme will help to ensure that people are taking licensed cabs, from a safe area outside Liverpool Street station. </p>
<p>'Overall I am very keen that wherever you travel in London you are safe.'</p>
<p>Ed Thompson, Taxi and Private Hire Director, PCO, said: 'The introduction of a marshalled taxi rank at Leicester Square proved a great success and is now a permanent fixture and we hope that it will have the same effect at Liverpool Street. </p>
<p>'TfL has worked closely with Computer Cabs and the City of London CDRP to introduce a marshalled taxi rank at Liverpool Street and hope that other authorities will follow their example. </p>
<p>'We regard it as valuable measure to improve travel safety at night, especially for women.' </p>
<p>Malcolm Paice, Computer Cab plc, said: 'Computer Cab is very happy to be working so closely with City of London and the Public Carriage Office in trialling this new marshalled rank which we hope will encourage more members of the public to make the most of safe and reliable licensed taxis. </p>
<p>'With experienced taxi marshals on site we can provide members of the public and taxi drivers alike with a safer, more assured service at what is one of London's busiest transport hubs.' </p>
<p>The pilot scheme will initially operate from Wednesday 7 June to Thursday 27 July, on Wednesdays and Thursdays between the hours of 10pm and 1am and will be based at Liverpool Street (opposite Mc Donalds). <br></p>
            <ul>
<li>The CDRP is a partnership of organisations committed to reducing crime and disorder in the City of London. The partners are the City of London Corporation, City of London Police, London Fire Brigade, business representatives, resident representatives and other key organisations</li>
<li>The <a href="http://www.cityoflondon.gov.uk">City of London</a> provides local government services for the Square Mile, the financial and commercial heart of Britain, and is committed to maintaining and enhancing the status of the business City as the world's leading international financial and business centre through its policies and services. Its responsibilities also extend far beyond the City boundaries and include management of the Barbican Centre, Central Criminal Court at the Old Bailey, Epping Forest, Hampstead Heath, three wholesale food markets, as well as acting as the London Port Health Authority</li>
<li>This scheme complements earlier initiatives at Leicester Square, Bromley, Kingston and Romford which support the Mayor's Safer Travel at Night projects</li>
<li>Passengers must approach the marshal if they wish to get a taxi</li>
<li>The rank is not intended to link up individual passengers or groups unknown to each other who are travelling in the same direction</li>
<li>Drivers are free to return to the marshalled rank as many times as they wish during the night </li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The City of London CDRP is funding the marshals on Wednesday and Thursday evenings for the next two months. The marshals are licensed taxi drivers and will be supported by officers from the City of London Police. The City of London CDRP brings together";}
        
        


 