


@{ViewBag.Title = "Congestion Charging three years on - cleaner air, safer roads and reduced congestion";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Congestion Charging three years on - cleaner air, safer roads and reduced congestion</h1>
        <div class="content-page-press-release">
        29 June 2006
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Congestion Charging continues to make a significant and valuable contribution to London's transport network, according to the latest 4th Annual Monitoring Report.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            The Congestion Charge provides vital funds which are invested back into London's transport system
                            
                        </p>
                    </div>
                
            
            
            
<p>Congestion levels in the zone were 22 per cent lower in 2005 than 
in 2002 before the scheme was introduced.</p>
<p>The significant improvements in bus services have been sustained, air quality 
is better with the most harmful vehicle emissions down by 13-15 per cent, 
cycling levels are up 43 per cent, and independent research demonstrates that 
road safety has improved with up to 70 fewer personal road injuries per year as 
a direct result of Congestion Charging. </p>
<p>Reductions in congestion were slightly lower in 2005 than in previous years. 
</p>
<p>The average reduction since the scheme began is 26 per cent. </p>
<p>This is well above the Mayor's initial target of a 20 per cent reduction in 
congestion, and it reflects changes in road space allocation to improve road 
safety and assist pedestrians, cyclists and buses, which are demonstrably 
achieving additional benefits of importance to London.</p>
<p>However this reduction needs to be measured in the context of the long-term 
trend of increasing congestion across London. </p>
<p>Measured against this overall background trend, congestion within the zone is 
down 30 per cent.</p>
<p>Mayor of London Ken Livingstone said: "This report shows that the Congestion 
Charge continues to be highly effective in decreasing congestion in the Capital. 
</p>
<p>"Traffic levels and associated carbon emissions have been cut, bus services 
have improved, the roads are safer, and London's air quality has improved thanks 
to reduced vehicle emissions.</p>
<p>"The Congestion Charge provides vital funds which are invested back into 
London's transport system, and into encouraging walking, cycling and greater use 
of public transport. </p>
<p>
<h2>Reducing traffic</h2>
<p>
<p>"Cities from across the world can look to our scheme as a benchmark for how 
to tackle the economic and social problems associated with congestion."</p>
<p>Michele Dix, Director of Congestion Charging, said: "Three years on from the 
start of the scheme and London is a nicer place to work, live and visit. </p>
<p>"Traffic levels are down, more people are walking and cycling, the number of 
people using buses is up thanks to a quicker and far more reliable service and 
congestion has been cut.</p>
<p>"The key aim of the Congestion Charge is to reduce levels of traffic coming 
into central London which is something we continue to see. </p>
<p>"The Capital is the only major city in the world to achieve a shift from 
private car use to public transport, delivered through the combination of 
Congestion Charging and the expansion of the bus service."</p>
<p>Since the Congestion Charging scheme started in February 2003, London has 
seen: </p>
<ul>
<li>Traffic entering the zone reduced by 21 per cent 
</li><li>Congestion within the zone is 22 oer cent lower than in 2002 
</li><li>Accident rates down with up to 40 to 70 fewer personal accidents directly 
due to congestion charging 
</li><li>A reduction of 13 per cent in Nitrogen Oxide and 15 per cent in particulate 
matter vehicle emissions within the zone 
</li><li>A reduction in carbon emissions from traffic within the zone of 16 per cent 
</li><li>An increase in cycling within the zone of 43 per cent 
</li><li>Excess waiting time for buses reduced by 46 per cent within the zone 
</li><li>Retail footfall now outperforming the rest of the UK and returning to a 
pattern of year-on-year growth 
</li><li>The charge has had no identifiable effect on the number of business starting 
up or closing down within the zone compared to the rest of London 
</li><li>No effect on property prices 
</li><li>&pound;122m being raised, in the financial year 2005/06, to invest back into 
London's transport system </li></ul>
<p>Many improvements have also been made to the scheme's operation since its 
introduction including:</p>
<ul>
<li>The introduction of a Pay Next Day facility on 19 June to allow customers an 
extra day to pay the charge if they forget 
</li><li>Tempora
            <ul>
<li>A full copy of the <a href="/assets/downloads/Fourth-Annual-Report-Overview.pdf">4th Annual Monitoring Report </a>is available to download </li>
<li>The Congestion Charging zone will be extended on 19 February 2007. Extending the existing zone is expected to bring considerable benefits. Congestion in the extended zone will be cut by 15-20 per cent. There will be 10-15 per cent less traffic within the zone during charging hours meaning that a vehicle making a journey into and back out of the extended zone would typically save five minutes</li></ul>

            
            

        </li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Congestion levels in the zone were 22 per cent lower in 2005 than in 2002 before the scheme was introduced.The significant improvements in bus services have been sustained, air quality is better with the most harmful vehicle emissions down by 13-15 per";}
        
        


 