


@{ViewBag.Title = "DLR looks to the future with Olympic train order";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>DLR looks to the future with Olympic train order</h1>
        <div class="content-page-press-release">
        13 June 2006
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Docklands Light Railway (DLR), part of Transport for London (TfL), has laid the ground for passenger demand for both the London 2012 Olympic Games and future Stratford International extension by ordering 31 new rail carriages.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            This order confirms our preparations are well underway to accommodate Olympic demand
                            
                        </p>
                    </div>
                
            
            
            <p>The carriages, which will cost &pound;50m from manufacturer Bombardier, are being funded by TfL's &pound;10bn Investment Programme and the Olympic Delivery Authority (ODA). The purchase is a continuation of an order for 24 vehicles placed last year.</p>
<p>The contract is the first signed using funding sourced jointly from TfL and the ODA.</p>
<p>Ken Livingstone, Mayor of London said: 'These new carriages represent the delivery of a vital investment in London's transport infrastructure.  </p>
<p>'They will play a key role in transporting passengers to the Olympic and Paralympic Games and will provide East London with an improved service able to respond to increasing demand as the area continues to be transformed by sustained development and the expansion of new homes and businesses.'</p>
<p>Jonathan Fox, Director DLR, said: 'This order confirms that our preparations are well underway to accommodate Olympic demand and the millions of new passengers we will welcome onto the network over the next few years.</p>
<p>'Thanks to TfL's &pound;10bn Investment Programme and financial support from the ODA, Olympic spectators will benefit from a frequent service in and around competition venues while our passengers will enjoy increased train capacity and regularity in the run up to 2012 and beyond.'</p>
<p>Delivery will take place between autumn 2008 and winter 2009. Following testing, the carriages will be operational by late 2009.</p>
<p>The Stratford International extension is set to open in 2010. Encompassing existing stations at Royal Victoria, Canning Town, West Ham, Stratford Regional and Stratford International, and new stations at Star Lane, Abbey Road and Stratford High Street, the route will improve public transport accessibility for the surrounding area and act as a key transportation link during the Olympic Games.<br></p>
            <ul>
<li>TfL is investing &pound;10bn to meet London's transport needs now and in the future.</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The carriages, which will cost &pound;50m from manufacturer Bombardier, are being funded by TfL's &pound;10bn Investment Programme and the Olympic Delivery Authority (ODA). The purchase is a continuation of an order for 24 vehicles placed last year.The";}
        
        


 