


@{ViewBag.Title = "Early evening Metropolitan and Piccadilly line closures west of Rayners Lane";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Early evening Metropolitan and Piccadilly line closures west of Rayners Lane</h1>
        <div class="content-page-press-release">
        26 June 2006
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Metropolitan and Piccadilly line services will be suspended west of Rayners Lane from 21:00 on Tuesday 4 and Wednesday 5 July.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Early evening closure of these lines is necessary to enable Metronet to carry out work
                            
                        </p>
                    </div>
                
            
            
            <p>There will be no service on:</p>
<ul>
<li>The Metropolitan line between Uxbridge and Ruislip 
</li><li>The Piccadilly line between Uxbridge and Rayners Lane</li></ul>
<p>Early evening closure of these lines is necessary to enable Metronet to carry out work to eliminate heat related temporary speed restrictions in place between Uxbridge and Ickenham. </p>
<p>London Underground agreed to the early closures after Metronet failed to complete the work in regular engineering hours ahead of summer.</p>
<p>A replacement bus service will operate from Uxbridge to Ruislip at 10 minute intervals. </p>
<p>Customer Information Assistants will be available to assist passengers at all stations served by the replacement bus. </p>
<p>Valid London Underground tickets will be accepted on local bus routes between Uxbridge and Rayners Lane.</p>
<p>Piccadilly line trains will operate every 20 minutes between Acton Town and Rayners Lane during the closure.</p>
<p>Passengers are advised to add an additional 30 minutes to their journey time.</p>
<p>For 24-hour information on all London travel, please call: 020-7222 1234 or visit Transport for London's website: <a href="http://www.tfl.gov.uk">www.tfl.gov.uk</a> </p>
<p>
            <ul>
<li>Transport for London (TfL) is investing &pound;10 billion over the next five years to improve and expand London's transport network, more than half of that in the Tube</li>
<li>Metronet are responsible for the maintenance and renewal of the Bakerloo, Central, Waterloo and City, Victoria, Metropolitan, Hammersmith and City, District, Circle and East London lines.<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "There will be no service on:The Metropolitan line between Uxbridge and Ruislip The Piccadilly line between Uxbridge and Rayners LaneEarly evening closure of these lines is necessary to enable Metronet to carry out work to eliminate heat related temporary";}
        
        


 