


@{ViewBag.Title = "Faster buses according to new Transport for London report";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Faster buses according to new Transport for London report</h1>
        <div class="content-page-press-release">
        13 June 2006
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        London has seen major improvements in the speed and reliability of journeys for bus users, motorists and cyclists as a result of effective traffic enforcement, according to a new report released by Transport for London (TfL).
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            These are remarkable figures showing a dramatic improvement in the speed and reliability of many bus services in London
                            
                        </p>
                    </div>
                
            
            
            <p> <!-- #EndEditable -->The report reveals that average waiting times for buses travelling on London's red routes has been reduced by 15 per cent. Bus journey times are also nearly 13 per cent faster in bus lanes, compared to non-bus lanes. </p>
<p>Compliance with bus lane restrictions has also dramatically improved with an 85 per cent reduction in the number of Penalty Charge Notices (PCNs) issued per bus lane.</p>
<p>There has also been an increase in the numbers of cyclists using bus lanes. For example, the number of cyclists traveling southbound on the Holloway Road in peak evening time has increased by 80 per cent.</p>
<p>Mayor of London Ken Livingstone said: 'These are remarkable figures showing a dramatic improvement in the speed and reliability of many bus services in London and a recognition by all drivers that they all benefit from a well managed road network.'</p>
<p>Patrick Troy, TfL's Head of Traffic Enforcement, said: 'Enforcement of bus lanes, along with an extensive public information campaign, has resulted in a real change in driver behaviour, improved compliance and directly related improvements to the transport network.'<br></p>
            <li>Southbound on Holloway Road in peak evening, over the five years of monitoring (between 2000 and 2005) this bus lane roadside camera site has seen prohibited vehicle reduced by 98 per cent and pedal cycle usage increased by 80 per cent </li>
<li>The report is available on the <a href="/businessandpartners/publications/4858.aspx">TfL website</a> </li>
<li>The Transport for London Road Network (TLRN): The 580kms of red route forms just five per cent of the Capital's roads but carries 35 per cent of its traffic. TfL is responsible for enforcing traffic regulations on the TLRN including bus lanes, moving contraventions and parking </li>
<li>The red routes are enforced by the Metropolitan Police Service (MPS), traffic wardens and Transport Police Community Support Officers (TPCSO), who patrol the red routes on behalf of TfL, which also enforces using CCTV cameras </li>
<li>The penalty charge for contravening traffic regulations is &pound;100, reduced to &pound;50 if paid within 14 days </li>
<li>If anyone receives a PCN they feel is unfair, they can write to the issuing authority and make a representation against the notice </li>
<li>If the appeal is not upheld, they can either pay the penalty charge or they can appeal to the independent adjudicators, if they wish to take the matter further. The adjudicators will look at the appeal based on the evidence presented on a case-by-case basis </li>
<li>Since March 2006, TfL has been trialing a Smart car which is equipped with Automatic Number Plate Recognition (ANPR) cameras, enhanced Global Positioning Systems (GPS) and DVD recording, to patrol the TLRN </li>
<li>TfL's Transport Policing and Enforcement Directorate (TPED) aims to deliver world class transport policing and enforcement services to support a safe reliable and socially inclusive transport system for London </li>
<li>Bus ridership grew more than 38 per cent between 1999/00 and 2004/05 </li>
<li>Buses in London now carry the highest number of passengers since 1968 </li>
<li>In the year to March 2005, there were 1.79 billion passenger trips on the network </li>
<li>Bus mileage in London is higher than at any time since 1957, with 450 million km operated in 2004/5 <br></li>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "<!-- #EndEditable -->The report reveals that average waiting times for buses travelling on London's red routes has been reduced by 15 per cent. Bus journey times are also nearly 13 per cent faster in bus lanes, compared to non-bus lanes. Compliance with";}
        
        


 