


@{ViewBag.Title = "Forty per cent of 14 and 15-year-olds report using cars less due to free bus and tram travel";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Forty per cent of 14 and 15-year-olds report using cars less due to free bus and tram travel</h1>
        <div class="content-page-press-release">
        20 June 2006
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        The Mayor of London, Ken Livingstone revealed today that, as a result of free bus and tram travel in London, 40 per cent of 14 and 15-year-olds say they are travelling less by car.
        
    </div>



 <div class="on-this-page">
<p>These findings formed part of the results of market research into free travel on buses and trams for under 16s. The results show:</p>
<ul>
<li>The majority of 14 and 15 year olds in London are using buses more and 40 per cent say they make fewer car journeys as a direct result 
</li><li>Sixty-eight per cent of this age group say they use buses more to see family and friends 
</li><li>Sixty-three per cent say they use buses more to go to sport 
</li><li>Nearly half say they travel more regularly to and from school using buses</li></ul>
<p>The Mayor of London, Ken Livingstone said: 'These figures show that free travel for under-16s on buses and trams is encouraging young people to opt for public transport, reducing the traffic congestion associated with the daily school run. </p>
<p>'This policy helps families with children and provides a great opportunity for young people to take advantage of the many things London has to offer.'</p>
<p>The majority of Londoners support free travel on buses and trams for under-16s (77 per cent) and nearly all parents of children aged 11-15 (91 per cent) support the scheme. Unsurprisingly, 98 per cent of 14 and 15-year-olds support free travel. </p>
<p>By the end of March 2006, trips by under-16s had increased by 20 per cent, resulting in an overall increase in bus journeys in London of 2.2 per cent.</p>
<p>Other results indicate that take up of the scheme was largely for financial reasons but other reasons such as 'not being driven by parents' was a strong factor. </p>
            <ul>
<li>During March 2006, TfL's research agency Synovate interviewed 112 parents with children aged 11-15 and 459 14 and 15-year-olds. The results indicate that the scheme has resulted in an increase in bus/tram trips for both leisure and school and a decline in car use. In March, 13 per cent of bus trips were made by Under-16s</li>
<li>During March 2006, Synovate interviewed 1,006 Londoners and four in five Londoners think the scheme is a good idea. Parents of the relevant age group are more likely to think it a 'very good' idea whereas over 45s without children in the target group were more likely to think it wasn't a good idea</li>
<li>During March 2006, TfL's research agency Synovate interviewed 459 14 and 15-year-olds. Free travel is extremely popular and almost universally supported by the target group (98 per cent). They use it more now to visit friends and family (68 per cent), to go shopping (66 per cent) and to play sport (63 per cent). They also use it to visit libraries, go to the cinema/theatre and youth clubs.<br> </li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "These findings formed part of the results of market research into free travel on buses and trams for under 16s. The results show:The majority of 14 and 15 year olds in London are using buses more and 40 per cent say they make fewer car journeys as a";}
        
        


 