


@{ViewBag.Title = "Four bidders on TfL London Rail Concession shortlist";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Four bidders on TfL London Rail Concession shortlist</h1>
        <div class="content-page-press-release">
        07 June 2006
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London (TfL) today advised that four companies have been shortlisted to proceed to the next phase of the bidding process for the London Rail Concession, which will comprise the operation of the North London Railway (formerly Silverlink Metro) and the extended East London Line which is currently under construction and due for completion in 2010.
        
    </div>



 <div class="on-this-page">
<p>Following an initial tender process, Govia, MTR Laing, National Express Group and Nedrail have been shortlisted to receive an Invitation to Tender. </p>
<p>These organisations have been selected on TfL's assessment of how their experience could be applied to deliver TfL's objectives for the London Rail Concession.</p>
<p>Ian Brown, Managing Director, TfL London Rail said: TfL's vision for rail in London is to put passengers first. </p>
<p>'This is the first milestone in the process to appoint the best operator to run the North London Railway routes and the East London Line extension. </p>
<p>'The four organisations we've shortlisted are all strong candidates and we look forward to receiving their bids in the coming months.'</p>
<p>TfL now intends to issue these bidders with an Invitation to Tender later this year, which will conclude with the selection of a successful bidder in Spring 2007.</p>
<p>The appointed operator will work with TfL to deliver a major upgrade of the routes to the TfL standards, currently enjoyed by passengers on other managed TfL modes such as bus and Tube, to deliver high frequency and reliable services with good levels of customer service and cleanliness.</p>
<p>This announcement comes in the same week that the historic Shoreditch Station on the East London Line closes its doors for the last time, to allow the new line to be built.</p>
<p>Shoreditch station will be replaced by the new and completely accessible Shoreditch High Street Station and is part of the physical works to deliver the &pound;900m East London Line extension. <br></p>
            <ul>
<li>The Government announced the transfer of responsibility for the management of the rail services collectively known as the North London Railway on 14 February 2006; consisting of the North London Line; the London Euston to Watford Junction local Line, the West London Line from Willesden Junction to Clapham Junction via Kensington Olympia and the Gospel Oak to Barking Line 
</li><li>The process to appoint an operator to run the concession began on the 24 February 2006 with the issue of an OJEU notice 
</li><li>On transfer to TfL in Autumn 2007, and with the successful operator in place, passengers should see some immediate benefits on the railway including: 
<ul>
<li>additional station staff to provide improved customer service, security and revenue protection 
</li><li>Oyster ticketing including the ability to use Pay-As-You-Go 
</li><li>extra train services, running earlier in the morning and later in the evening on all North London Railway routes to align with LUL services and provide better integration with other modes</li></ul>
<li>Within five years from transfer, TfL aims to provide the following improvements on the North London Railway and East London Lines: 
<ul>
<li>new, higher capacity, accessible trains replacing the existing 30 year old fleet 
</li><li>a station enhancement programme to bring North London Railway stations to TfL standards 
</li><li>service frequency improvements on all routes - with the provision of eight trains per hour on the core route - Stratford to Willesden Junction</li></ul>
<li>The East London Line is being extended and upgraded under TfL's &pound;10bn Investment Programme, due to be completed in 2010. This will convert the railway into a new TfL high-frequency, metro-style train service running north to Dalston Junction and south to West Croydon</li></li></li></ul>
<p><br></p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Following an initial tender process, Govia, MTR Laing, National Express Group and Nedrail have been shortlisted to receive an Invitation to Tender. These organisations have been selected on TfL's assessment of how their experience could be applied to";}
        
        


 