


@{ViewBag.Title = "Gearing up for Bike Week";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Gearing up for Bike Week</h1>
        <div class="content-page-press-release">
        19 June 2006
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Students from the Central Foundation Girls School in Bow helped London gear up for Bike Week today, thanks to a &pound;5,000 grant from the Transport for London (TfL) funded Cycle London Promotion Partnership (CLPP).
        
    </div>



 <div class="on-this-page">
<p>More than 80 students and female relatives of the predominantly 
Muslim girls school in Bow have already signed up to take part in the school's 
new cycle training club, which has got off the ground thanks to the CLPP grant. 
The funding has paid for the school to have twenty brand new bikes for the girls 
to learn to ride on, and for two teachers to be fully trained in leading cycling 
classes.</p>
<p>As many of the girls have never had the opportunity to ride a bike before, 
their training will take them through from the basics of riding, braking and 
stopping a bike safely, all the way through to becoming confident road cyclists. 
</p>
<p>Mayor of London Ken Livingstone said: "Small, community-led projects like 
this one at the Central Foundation Girls School in Tower Hamlets are playing a 
vital role in helping more and more people take up cycling across London. </p>
<p>"The school's grant from Transport for London forms part of a &pound;24m spend on 
cycling this year."</p>
<p>
<h2>Community grants</h2>
<p>
<p>Jenny Jones, the Mayor's green transport advisor, said: "The number of people 
cycling in London is growing fast and the range of people starting to cycle is 
growing too. </p>
<p>"All kinds of people are starting to use bikes for all kinds of different 
journeys. </p>
<p>"Giving money to a wide range of community groups is helping to spread the 
word about cycling and encourage people to jump on the saddle who haven't 
considered it before now."</p>
<p>Lucy Davis, CLPP Project Officer at the London Cycling Campaign (LCC), said: 
"Since it started in 2005, the CLPP Community Grants Scheme has already helped 
more than 30 community cycling projects throughout London to get started, and to 
continue to grow. </p>
<p>
<h2>Everyday activity</h2>
<p>
<p>"The project at Central Foundation Girls School is a brilliant example of 
what CLPP grants are helping to achieve in communities right across London, and 
shows that by providing resources and support to get people started, cycling can 
become an everyday activity for all Londoners."</p>
<p>Anne Hudson, Head Teacher of Central Foundation Girls School, said:"The CLPP 
community grant is giving our students and members of the local community the 
opportunity to experience the benefits of cycling - for their health, for the 
environment and for the sheer joy and independence that cycling gives."</p>
<p>Photographs of the school cycle club will be available to download from 5pm 
on Monday, 19 June at <a href="http://www.constructionphotography.com/clients/tfl/">http://www.constructionphotography.com/clients/tfl/</a> 
.</p>
<p>For more information on TfL's work to support and promote cycling in London, 
please contact Silka Kennedy-Todd at Transport for London on 020 7126 3394, 
email <a href="mailto:silkakennedy-todd&#64;tfl.gov.uk">silkakennedy-todd&#64;tfl.gov.uk</a> or 
got to <a href="http://www.tfl.gov.uk/cycles">www.tfl.gov.uk/cycles</a> </p>
<p>For free advice on how to get your community cycling project started, please 
contact Lucy Davis at the London Cycling Campaign (LCC) on 020 7234 9310, email 
<a href="mailto:lucy&#64;lcc.org.uk">lucy&#64;lcc.org.uk</a>, or see <a href="http://www.lcc.org.uk/">http://www.lcc.org.uk/</a> </p>
            <ul>
<li>The TfL funded Community Cycling Grants are distributed by the Cycle London Promotion Partnership, which consists of TfL, London Cycling Campaign, CTC, Sustrans, LondonCycleSport and Good Going. The grants are available to charities, not-for-profit groups and schools that work with communities in London. They are intended to promote, encourage and support cycling across the Capital. An application form and guidance notes for the CLPP Community Cycling Grants are available from <a href="/corporate/projectsandschemes/2457.aspx">TfL's website</a>. The closing date for applications for 2006/07 funding is Monday 31 July 2006 </li>
<li>London has seen a 72 per cent increase in cycle journeys on London's major roads since 2000. In summer months that increase rises to 100 per cent. In addition, it is estimated that there are now approximately 450,000 cycle journeys a day across London as a whole </li>
<li>Investment in cycling has risen during the past five years from &pound;5.5m in 2000 to &pound;20m in 2005/06. In 2006/07 TfL is investing &pound;24m in cycling infrastructure, training, promotion and education </li>
<li>The number of cyclists killed or seriously injured on the Capital's roads has fallen by 40 per cent during the past five years, achieving the Mayor of London's target five years ahead of schedule </li>
<li>TfL's work with the Capital's schools include: 
<ul>
<li>A schools cycle parking programme, which has seen 6,000 new cycle parking spaces in London schools since June 2003. A further &pound;1m of funding for cycle parking is available to schools in 2006/7 </li>
<li>A London-wide schools cycle training programme (through London borough councils) </li>
<li>&pound;390,000 of funding over the next three years to Bike It, a national Sustrans project which will work with selected London schools to encourage more children to cycle to school </li>
<li>The funding for three coaches and a manager for Go Ride (London), a British Cycling initiative which promotes participation in fun/sport cycling </li>
<li>CycleSafer Challenge - a TfL competition which encourages primary school children to think creatively about cycling and safety </li>
<li>A TfL supported <a href="http://www.tfl.gov.uk/juniorroadsafety">http://www.tfl.gov.uk/juniorroadsafety</a>. </li></ul></li>
<li>TfL also subsidises some cycle training for adults and families. People should contact their local borough cycling or road safety officers for further information<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "More than 80 students and female relatives of the predominantly Muslim girls school in Bow have already signed up to take part in the school's new cycle training club, which has got off the ground thanks to the CLPP grant. The funding has paid for the";}
        
        


 