


@{ViewBag.Title = "Launch of London Freight Plan consultation";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Launch of London Freight Plan consultation</h1>
        <div class="content-page-press-release">
        14 June 2006
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Mayor of London Ken Livingstone today launched a consultation on the London Freight Plan, which aims to deliver a step-change improvement to how freight is moved around the city.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            The impact that freight movements has on the Capital concerns us all
                            
                        </p>
                    </div>
                
            
            
            
<p> <!-- #EndEditable -->The plan is a culmination of more than a 
year's work by Transport for London (TfL), members of the London Sustainable 
Distribution Partnership, boroughs, business, freight operators, bodies and 
associations.</p>
<p>Eight key proposals aim to help promote collaboration and access to data to 
improve the efficiency of freight distribution and servicing in London, while 
reducing congestion, emissions and injury caused by freight.</p>
<p>The plan addresses the challenge of London's expected growth facing freight 
operators and seeks to recognise the vital role that freight movement plays in 
maintaining London as a world-class city by balancing the needs of freight with 
those of other transport users. </p>
<p>Mayor Ken Livingstone said: 'Over the next 10 years, the population of London 
is anticipated to increase by a further 800,000 people. Alongside this, there 
will be 15 per cent more freight on the transport network. </p>
<p>'Freight has not historically been given the same level of attention as the 
rest of London's transport network but the impact that freight movements has on 
the Capital concerns us all. The decisions we take today will have a lasting 
impact on how London will function and operate in the future.'</p>
<p>
<h2>Working together</h2>
<p>
<p>TfL Commissioner Peter Hendy said: 'TfL cannot deliver this critically 
important Freight Plan on its own. We believe that with the support of the 
boroughs, and freight industry, by working together we will be able to make a 
real difference to the way in which freight can sustainably provide for the 
future needs of the Capital.'</p>
<p>Gordon Telling, the Freight Transport Association's (FTA) Head of Policy for 
London, said: 'The FTA and its members are delighted to support TfL in the 
launch of the consultation on the London Freight Plan. </p>
<p>'FTA has been involved with this project since its inception and is pleased 
with the progress that has been made to develop an agreed plan with clear 
actions to improve conditions for freight operators, customers and Londoners 
alike. </p>
<p>'We recognise that this is a first step of a longer journey and welcome the 
opportunity over coming months to further refine and develop the many proposals 
that are outlined in this consultation document.'</p>
<p>
<h2>Vital to economy</h2>
<p>
<p>Tim Hockney, Director of Transport at London First, said: 'As delivery and 
servicing vehicles cover nearly five times more miles than buses and coaches in 
central London, we warmly welcome the increasing focus that is being given to 
this important group of road users, who are vital to making London's economy 
work.'</p>
<p>Alistair McKay, Chairman of the London Retail Consortium, said: 'This plan 
identifies a range of initiatives and could be a significant step towards 
improving the movement of freight in the Capital. Deliveries are retailers' 
lifeblood and, across the UK, freight has long been the Cinderella of transport 
policy. We will continue to work with TfL to ensure this plan delivers.'</p>
<p>The 12-week consultation ends on 5 September. The plan can be viewed and a 
questionnaire completed on-line at <a href="http://www.tfl.gov.uk/freight">www.tfl.gov.uk/freight</a> . A final 
version of the plan will be released by December.<br></p>
            <ul>
<li>Gordon Telling can be contacted at the FTA on 01892 552205.</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "<!-- #EndEditable -->The plan is a culmination of more than a year's work by Transport for London (TfL), members of the London Sustainable Distribution Partnership, boroughs, business, freight operators, bodies and associations.Eight key proposals aim to";}
        
        


 