


@{ViewBag.Title = "LU Station Gardens competition underway";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>LU Station Gardens competition underway</h1>
        <div class="content-page-press-release">
        15 June 2006
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        The annual London Underground (LU) Station Gardens competition is now underway.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            33 entrants will compete against each other during two rounds of judging
                            
                        </p>
                    </div>
                
            
            
            <p>Tube stations compete each year for the title of Overall Best Station. </p>
<p>The number of stations to enter the competition this year has almost doubled from last year (from 17 in 2005 to 33 in 2006), demonstrating the popularity of the contest.</p>
<p>The LU Station Gardens competition aims to reward LU employees who go beyond the call of duty and spend much of their free time creating a pleasant and colourful environment for their colleagues and the travelling public to enjoy by planting and keeping Underground station gardens.</p>
<p>This year's 33 entrants will compete against each other during two rounds of judging in mid-June and late July. </p>
<p>The winners in each category (Cultivated Garden, Tubs, Hanging Basket and Overall Best Station) will be announced at an awards ceremony in September.</p>
<p>Last year's winners Kathy and husband John from Northwood Hills station on the Metropolitan line commented: "We were thrilled to win the Station Gardens Competition's Overall Best Station last year. </p>
<p>"We hope to do well this year too, although we are aware competition will be fierce as the number of stations entering the competition has increased dramatically. </p>
<p>"We will endeavour to create a garden that is even more special than last year."</p>
<p>This year's competitors are spread throughout the LU network in 19 different boroughs. </p>
<p>The borough with the most entrants is Kensington &amp; Chelsea followed by Southwark, Hammersmith and Fulham and Hillingdon.</p>
            <ul>
<li>The following stations have entered LU Garden Competition this year:Baker Street, Bank, Bermondsey, Canons Park, Chesham, Cockfosters, East Acton, Earl's Court, Elm Park, Epping, Farringdon, High Street Kensington, Highbury &amp; Islington, Leytonstone, Loughton, Notting Hill Gate, North Acton, Northolt, Northwood Hills, Queensbury, Rotherhithe, Shepherd's Bush, South Kensington, Rickmansworth, Ruislip Gardens, Southfields, Stanmore, Stratford Market Depot, Surrey Quays, Watford, Wembley Park, West Ruislip and White City 
</li><li>Station Gardeners create and look after their gardens in their own free time and receive an allowance from the station to purchase seeds and plants 
</li><li>Last year's winners were:<br>Overall best station: Northwood Hills (1st prize), Stanmore (2nd prize) and Loughton (3rd prize)<br>Cultivated Garden: Northwood Hills (1st prize), Southfields (2nd prize) and Epping (3rd prize)<br>Tubs: Stanmore (1st prize), Northwood Hills (2nd prize), Loughton (3rd prize)<br>Hanging baskets: Northwood Hills (1st prize), Stanmore (2nd prize), North Acton (3rd prize)</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Tube stations compete each year for the title of Overall Best Station. The number of stations to enter the competition this year has almost doubled from last year (from 17 in 2005 to 33 in 2006), demonstrating the popularity of the contest.The LU Station";}
        
        


 