


@{ViewBag.Title = "Mayor welcomes transport plans for Lambeth";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Mayor welcomes transport plans for Lambeth</h1>
        <div class="content-page-press-release">
        06 June 2006
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Mayor of London Ken Livingstone today approved Lambeth's Local Implementation Plan, which is designed to radically improve transport for people living in the borough.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            We have made major improvements to London's transport system over the last six years
                            
                        </p>
                    </div>
                
            
            
            <p>Lambeth's Local Implementation Plan contains proposals for how the borough intends to implement the Mayor's Transport Strategy between now and 2011.</p>
<p>Key areas of the Local Implementation Plan include sustainable development and regeneration, encouraging greater use of sustainable travel and promoting safety for all forms of travel. </p>
<p>Approving Lambeth's Plan, Mayor of London Ken Livingstone said: <br>'We have made major improvements to London's transport system over the last six years. </p>
<p>'Bus services have been transformed and we are starting to sort out the Tube. </p>
<p>'The boroughs have a key role in delivering these transport improvements. </p>
<p>'I am happy to approve Lambeth's plan.'<br></p>
<p>Highlights from Lambeth's Local Implementation Plan include: <br></p>
<ul>
<li>Sustainable development and regeneration of the area's spaces - containing public realm and streetscape initiatives linked to regeneration, include an ambitious programme to improve the ambience of the Waterloo area, and a scheme to improve the air quality in the most polluted town centres which includes Brixton, Clapham, Stockwell and Streatham. Also, there are proposals to continue the excellent work done by the Cross-River Partnership's 'Light at the End of the Tunnel' programme, which aims to transform and rehabilitate the pedestrian environment within the area's many railway viaducts from Vauxhall to Bermondsey 
</li><li>Sustainable means of travel - a large number of the proposals in the Local Implementation Plan promote sustainable travel, including a programme to re-introduce two-way cycling in one-way streets 
</li><li>Road safety for all forms of transport - the Local Implementation Plan's proposals for road safety will continue the borough's good work on casualty reduction, particularly around schools</li></ul>
<p>Robert Overall, Lambeth's Executive Director, Environment and Culture, said:'We are pleased that the Mayor has approved the Council's Plan. </p>
<p>'I am particularly pleased to be one of the first boroughs to get this approval. </p>
<p>'Lambeth consulted extensively before putting its plan together.</p>
<p>'As a result, we believe we have a plan that shows how we intend to improve transport arrangements in Lambeth in accordance with the Mayors strategy, but in a way that recognises the particular needs and expectations of all those that live, work and visit the borough.'<br><br>Priorities for all Local Implementation Plans include: </p>
<ul>
<li>Improving road safety 
</li><li>Improving bus journey times and reliability 
</li><li>Relieving traffic congestion and improving journey time reliability 
</li><li>Improving the working of parking and loading arrangements 
</li><li>Improving accessibility for all on the transport network 
</li><li>Encouraging walking and cycling 
</li><li>Bringing transport infrastructure to a good state of repair </li></ul>
            <ul>
<li>Proposals contained in a Local Implementation Plan may be funded through the TfL Borough Spending Plan process, directly by the borough or from other sources such as private developers. A successful Local Implementation Plan does not necessarily mean that all proposals contained within it will obtain funding. Proposals will also still need to pass other required steps before implementation (e.g. planning decisions, Traffic Works Orders and similar) </li>
<li>The GLA Act 1999 requires each London borough to prepare a Local Implementation Plan showing how it proposes to implement the Mayor's Transport Strategy </li>
<li>The Mayor issued guidance on the drafting of Local Implementation Plans, following consultation, in July 2004 </li>
<li>More information on Local Implementation Plans, including questions and answers, is <a href="/assets/downloads/LIP-Guidance-Final_2007-08.pdf">available</a>.<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Lambeth's Local Implementation Plan contains proposals for how the borough intends to implement the Mayor's Transport Strategy between now and 2011.Key areas of the Local Implementation Plan include sustainable development and regeneration, encouraging";}
        
        


 