


@{ViewBag.Title = "Mayor welcomes transport plans for Tower Hamlets";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Mayor welcomes transport plans for Tower Hamlets</h1>
        <div class="content-page-press-release">
        06 June 2006
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Mayor of London Ken Livingstone today approved Tower Hamlets' Local Implementation Plan which is designed to radically improve transport for people living in the borough.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            We have made major improvements to London's transport system over the last six years
                            
                        </p>
                    </div>
                
            
            
            <p>Tower Hamlets' local implementation plan contains proposals for how the borough intends to implement the Mayor's Transport Strategy between now and 2011. </p>
<p>Highlights of the Tower Hamlets plan include proposals for encouraging sustainable travel such as walking and cycling, promoting safety for all types of travel, and a balanced approach to road-space allocation.</p>
<p>The Greater London Authority Act 1999 requires each London borough to prepare a local implementation plan showing how it proposes to implement the Mayor's Transport Strategy.</p>
<p>Mayor of London Ken Livingstone said: 'We have made major improvements to London's transport system over the last six years. Bus services have been transformed and we are starting to sort out the Tube. </p>
<p>'The boroughs have a key role in delivering these transport improvements. I am happy to approve Tower Hamlets' plan.'</p>
<p>Highlights from Tower Hamlets' Local Implementation Plan include: </p>
<ul>
<li>Promoting sustainable travel - The borough's Good Going Initiative, has influenced and encouraged the use of more sustainable transport and has been adopted by local councils across London. The council is striving to improve this success through a programme of high profile campaigns and events aimed at the local community. Developing pedestrian links into regeneration areas to promote walking will continue to cut pollution in the borough and promote the health and physical fitness of Londoners. 
</li><li>Promoting safety for all forms of transport - This will continue the borough's work to make local streets safer. A new programme which aims to promote road safety around local schools will introduce thirteen 20mph zones and five home zones. 
</li><li>A balanced approach to road-space allocation - The plan contains an extensive programme of area-based schemes which will deliver significant improvements to the balance of road-space allocation within the borough as well as to the urban environment. Proposals to promote a reduction in the unnecessary use of cars will further improve the utilisation of road-space within the borough as well as contributing towards a modal shift to more sustainable forms of transport.</li></ul>
<p>Tower Hamlets Council Head of Transportation and Highways Margaret Cooper said: 'The council is pleased to receive the Mayor's approval for its Local Implementation Plan. </p>
<p>'We are already making good progress towards delivering many of the proposals included in the plan because we recognise how vital improved transport facilities and street environments are to helping people go about their everyday business safely and conveniently.</p>
<p>'We are keen to work with the Mayor of London to further improve London's transport system to support future plans for growth in our area, including ensuring the successful delivery of the Olympic Games.'</p>
<p>Priorities for all local implementation plans must address: </p>
<ul>
<li>Improving road safety 
</li><li>Improving bus journey times and reliability 
</li><li>Relieving traffic congestion and improving journey time reliability 
</li><li>Improving working of parking and loading arrangements 
</li><li>Improving accessibility for all on the transport network 
</li><li>Encouraging walking and cycling 
</li><li>Bringing transport infrastructure to a good state of repair </li></ul>
<p><br></p>
            <ul>
<li>Proposals contained in a local implementation plan may be funded through the TfL Borough Spending Plan process, directly by the borough or from other sources such as private developers. A successful local implementation plan does not necessarily mean that all proposals contained within it will obtain funding. Proposals will also still need to pass other required steps before implementation (e.g. planning decisions, Traffic Works Orders and similar) </li>
<li>The Mayor issued guidance on the drafting of local implementation plans, following consultation, in July 2004 </li>
<li>More information on local implementation plans, including questions and answers, is <a href="/assets/downloads/LIP-Guidance-Final_2007-08.pdf">available</a>.</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Tower Hamlets' local implementation plan contains proposals for how the borough intends to implement the Mayor's Transport Strategy between now and 2011. Highlights of the Tower Hamlets plan include proposals for encouraging sustainable travel such as";}
        
        


 