


@{ViewBag.Title = "Modernisation and lift refurbishment for Lancaster Gate";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Modernisation and lift refurbishment for Lancaster Gate</h1>
        <div class="content-page-press-release">
        20 June 2006
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Lancaster Gate station on the Central line will close from 3 July to early November for Metronet Rail BCV to carry out essential lift refurbishment and the modernisation of the station.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            We need to have reliable lifts because Lancaster Gate is a busy station
                            
                        </p>
                    </div>
                
            
            
            <p>This modernisation work on this Edwardian station, built in 1906, is part of Transport for London's &pound;10bn Investment Programme.</p>
<p>Half of that investment will go into London Underground transforming the Tube right across the network.</p>
<p>The 18-year-old lifts need to be refurbished because they regularly fail, causing customers inconvenience. </p>
<p>The only other way of getting between street and platform level, a descent of 12.5m (41ft), is by spiral staircase for use in emergencies - a total of 104 steps. Without a lift service, the station cannot safely remain open.</p>
<p>Jeff Ellis, the Central line Manager said: 'We need to have reliable lifts because Lancaster Gate is a busy station near Paddington national rail station and the West End.</p>
<p>'In order to refurbish the lifts, the shaft which supports both lifts need to be removed. Where two lifts share a shaft, it is not safe to work on one lift while the other is in operation. Therefore, it is necessary to shut down both lifts at the same time.</p>
<p>'During the closure the whole station will also be modernised, with new public address and CCTV equipment, but the heritage features will be preserved.'</p>
<p>The modernisation works will include:</p>
<ul>
<li>Renewal of electrical and mechanical, fire protection and communication assets leading to greater safety and security 
</li><li>Renewal of floor, wall, ceiling and staircase finishes 
</li><li>Improvements to lighting and signage 
</li><li>Improvements to facilities for disabled customers, eg tactile floor surfaces 
</li><li>Additional water-proofing measures</li></ul>
<p>The station will be fully closed, no trains will serve the station and ticket selling facilities will also be unavailable.</p>
<p>Customers are advised to use Queensway station, which is about 10 minutes walk away, or Paddington station (Bakerloo, Circle, District, Hammersmith &amp; City lines and national rail), which is also a short, signposted, walk away.</p>
            <ul>
<li>TfL is investing &pound;10bn to improve and expand London's transport network, over half of that being spent on the Tube as we work to Transform the Tube 
</li><li>Metronet Rail BCV is responsible for the maintenance and renewal of the Bakerloo, Central, Victoria, and Waterloo & City lines<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "This modernisation work on this Edwardian station, built in 1906, is part of Transport for London's &pound;10bn Investment Programme.Half of that investment will go into London Underground transforming the Tube right across the network.The 18-year-old";}
        
        


 