


@{ViewBag.Title = "Pay-Next-Day for Congestion Charge users";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Pay-Next-Day for Congestion Charge users</h1>
        <div class="content-page-press-release">
        16 June 2006
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        From Monday 19 June drivers will have an extra day to pay the Congestion Charge.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            The Congestion Charge has been highly effective in reducing traffic congestion
                            
                        </p>
                    </div>
                
            
            
            <p> <!-- #EndEditable -->The Pay-Next-Day scheme will allow drivers to pay the &pound;8 Congestion Charge until midnight on the day, or pay &pound;10 until midnight on the following charging day. </p>
<p>Users will have two methods available to pay - either by calling 0845 900 1234 or through the Congestion Charge website at <a href="http://www.cclondon.com">www.cclondon.com</a></p>
<p>Mayor of London, Ken Livingstone, said: 'The Congestion Charge has been highly effective in reducing traffic congestion. </p>
<p>'This change will give people an extra day to pay. If they forget to pay on the day they now have an extra day to avoid receiving a penalty charge.'</p>
<p>Baroness Jo Valentine, Chief Executive of London First, said: 'We continue to support Congestion Charging in the centre of London and are pleased that Ken Livingstone has recognised business concerns and agreed to this major improvement.</p>
<p>'Surveys of our members have consistently shown that next day payment is a must and we welcome this move to reduce the "hassle" factor of the scheme.'</p>
<p>Michele Dix, Director of Congestion Charging for Transport for London, said: 'This is yet another significant enhancement to the operation of the scheme we have delivered in response to customers concerns. </p>
<p>'In addition, from October this year, as an incentive in advance of the go live date for the western extension, we will be offering residents who live in the area covered by the extension of the charging zone to apply for their 90 per cent discount without having to pay the registration fee. </p>
<p>'From the time of registration, this will allow residents to travel within the existing Congestion Charging area at the discounted rate.'</p>
<p>The Congestion Charge scheme was introduced on 17 February 2003 and applies between 07:00 and 18:30, Monday to Friday. <br></p>
            <ul>
<li>The Congestion Charging zone will be extended on 19 February 2007. Extending the existing zone is expected to bring considerable benefits. Congestion in the extended zone will be cut by 15-20 per cent. There will be 10-14 per cent less traffic within the zone during charging hours, meaning that a vehicle making a journey into and back out of the extended zone would typically save five minutes. </li>
<li>Changes to the operation of the Congestion Charging scheme, such as allowing drivers to pay-next-day, require a variation order and public consultation.</li>
<li>For further information on the Congestion Charge scheme and its future developments, log onto <a href="http://www.cclondon.com">www.cclondon.com</a></li></ul>
<p> </p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "<!-- #EndEditable -->The Pay-Next-Day scheme will allow drivers to pay the &pound;8 Congestion Charge until midnight on the day, or pay &pound;10 until midnight on the following charging day. Users will have two methods available to pay - either by";}
        
        


 