


@{ViewBag.Title = "Public Carriage Office begins consultation on licensing pedicabs in London";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Public Carriage Office begins consultation on licensing pedicabs in London</h1>
        <div class="content-page-press-release">
        29 June 2006
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Today sees the start of a 12-week public consultation on proposals and options from TfL's Public Carriage Office (PCO) for the introduction of a licensing regime that is appropriate for pedicabs and their riders.
        
    </div>



 <div class="on-this-page">
<p>Pedicabs, or cycle rickshaws, currently operate with no licensing whatsoever in the capital. </p>
<p>The PCO aims to achieve better regulation and traffic management through a fair licensing system which enables effective enforcement. </p>
<p>The proposals and options outlined in the consultation document intend to introduce a series of measures to assess the 'fitness' of both pedicab vehicles and riders on the following grounds:<br><br>Vehicles - </p>
<ul>
<li>Suitability for the role 
</li><li>Condition of the vehicle</li></ul>
<p>Riders - </p>
<ul>
<li>Age 
</li><li>Character 
</li><li>Medical fitness 
</li><li>Topographical skills 
</li><li>Riding ability/ competence </li></ul>
<p>The consultation also addresses - </p>
<ul>
<li>The means of identifying licensed vehicles and riders 
</li><li>Requirements relating to those who own licensed vehicles 
</li><li>Ranks 
</li><li>Fares</li></ul>
<p>In parallel with the consultation exercise TfL is also seeking a declaratory judgment from the High Court on the legal status of pedicabs to confirm our legal advice which indicates that, in law, pedicabs should be subject to licensing controls. </p>
<p>Roy Ellis, Head of the Public Carriage Office, said: "We want pedicab passengers, riders and other road users to be as safe as can be. </p>
<p>"It is only right and sensible that pedicab vehicles and their riders plying for hire on the streets of the Capital should be subject to proper checks before being permitted to carry members of the public. </p>
<p>"This consultation process sets out a series of proposals which we think will achieve that aim. </p>
<p>"We would actively encourage the pedicab trade and other interested parties to give us their views."</p>
<p>
<p>
            <ul>
<li>The consultation document "<a title="Consultation on the Licensing of Pedicabs" href="/assets/downloads/PCO-Pedicab-Consultation-Final-2006.pdf">Consultation on the Licensing of Pedicabs (PDF 1.69MB)</a>" is available to download </li>
<li>Responses are invited by Wednesday, 27 September, 2006</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Pedicabs, or cycle rickshaws, currently operate with no licensing whatsoever in the capital. The PCO aims to achieve better regulation and traffic management through a fair licensing system which enables effective enforcement. The proposals and options";}
        
        


 