


@{ViewBag.Title = "Queensway station reopened today";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Queensway station reopened today</h1>
        <div class="content-page-press-release">
        14 June 2006
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Queensway station reopened today (Wednesday 14 June) after being closed for over a year to allow Metronet Rail BCV to modernise the station, replace lifts and undertake congestion relief work.
        
    </div>



 <div class="on-this-page">
<p>Despite London Underground's (LU's) demands, Metronet did not complete the works by the original contract completion date of 9 May 2006 or a second deadline of Monday 12 June as promised.</p>
<p>Paul Kilius-Smith, LU Service Director, said: "We are pleased that Queensway Station is now open. Passengers can now benefit from a modernised station and new lifts.</p>
<p>"Transport for London is investing &pound;10bn to improve London's transport now and for the future, with more than half of that in the Tube. </p>
<p>"It is vital that passengers have the confidence that this work can be completed on time and on budget."</p>
            <ul>
<li>Metronet BCV are responsible for the maintenance and renewal of the Bakerloo, Central, Victoria and Waterloo & City lines</li>
<li>TfL is investing &pound;10bn to improve and expand London's transport network, more than half of that in LU as we work to Transform the Tube</li>
<li>Approximately 8,500 customers use Queensway station each weekday</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Despite London Underground's (LU's) demands, Metronet did not complete the works by the original contract completion date of 9 May 2006 or a second deadline of Monday 12 June as promised.Paul Kilius-Smith, LU Service Director, said: 'We are pleased that";}
        
        


 