


@{ViewBag.Title = "Queensway station opening delayed again";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Queensway station opening delayed again</h1>
        <div class="content-page-press-release">
        12 June 2006
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        The opening of Queensway station will be further delayed pending Metronet's compliance with all safety regulations.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            This is a further, and one hopes final, pathetic delay on a project that Metronet has failed to manage to time.
                            
                        </p>
                    </div>
                
            
            
            <p>Despite London Underground's demands, Metronet did not complete the modernisation and lift replacement works by the original contract completion date of 9 May 2006 or a second deadline of Monday 12 June, as promised. 
<p>Queensway station has been closed for more than one year to allow Metronet Rail BCV to replace lifts, undertake congestion relief work and refurbish the station. </p>
<p>The earliest Queensway will open will be Wednesday 14 June. London Underground will announce the re-opening as soon as all approvals have been secured.</p>
<p>Tim O'Toole, London Underground Managing Director, said: "This is a further, and one hopes final, pathetic delay on a project that Metronet has failed to manage to time. </p>
<p>"TfL is investing &pound;10bn to improve London's transport now and for the future, with more than half of that in the Tube. </p>
<p>"It is vital that passengers have the confidence that this work can be completed on time and on budget."</p>
            <ul>
<li>Metronet BCV are responsible for the maintenance and renewal of the Bakerloo, Central, Victoria and Waterloo & City lines</li>
<li>TfL is investing &pound;10bn to improve and expand London's transport network, more than half of that in London Underground as we work to Transform the Tube</li>
<li>Approximately 8,500 customers use Queensway station each weekday<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Despite London Underground's demands, Metronet did not complete the modernisation and lift replacement works by the original contract completion date of 9 May 2006 or a second deadline of Monday 12 June, as promised. Queensway station has been closed for";}
        
        


 