


@{ViewBag.Title = "Regents Park station to close for refurbishment";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Regents Park station to close for refurbishment</h1>
        <div class="content-page-press-release">
        21 June 2006
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        On 10 July 2006 Regent's Park station on the Bakerloo line will close as lifts are replaced and the station refurbished as part of Transport for London's &pound;10bn Investment Programme.
        
    </div>



 <div class="on-this-page">
<p><!-- #EndEditable -->The improvements to the station will be 
undertaken by Metronet Rail BCV and will be completed in June 2007. </p>
<p>Existing CCTV cameras will be replaced, improved Help points and a new public 
address system will be installed, and the station will benefit from better 
lighting, fire detection system and new seating on platforms. </p>
<p>There will be various improvements for mobility impaired passengers, the 
station control room will be refurbished and its communication equipment 
renewed.</p>
<p>The two lifts at Regent's Park are almost 20-years-old and have reached the 
end of their service life. As the lifts share a shaft it is necessary to shut 
down both lifts at the same time. For safety reasons, without a lift in service, 
the station cannot operate and will therefore be closed for the duration of the 
work.</p>
<p>Kevin Bootle, General Manager of the Bakerloo line said: 'Safety is our top 
priority so while this important work is carried out the station will remain 
closed. </p>
<p>'In order to minimise disruption to passengers, refurbishment works have been 
brought forward so that they will run in tandem with the lift replacement 
works.</p>
<p>
<h2>Improved facilities</h2>
<p>
<p>'Passengers will benefit from the two new, more reliable lifts and improved 
facilities. These will ensure passengers a smoother, quicker and more enjoyable 
journey through the station.'</p>
<p>During the closure passengers are advised to use nearby Baker Street station 
which is a short walk away from Regent's Park. </p>
<p>Valid London Underground (LU) tickets will also be accepted on the following 
local bus routes between Regent's Park and Baker Street: 18, 27, 30, 205 and 453 
and night bus N18.</p>
<p>Alternatively, Great Portland Street station is approximately a three minute 
walk away. Great Portland Street station closes at 22:00 daily until early 
October.<br></p>
            <ul>
<li>TfL is investing &pound;10bn over the next five years to improve and expand London's transport network, more than half of that in London Underground as we work to Transform the Tube 
</li><li>Last year, LU ran more trains and carried more passengers than ever before, hit all performance targets and was named UK Train Operator of the Year 
</li><li>Metronet Rail BCV is responsible for the maintenance and renewal of The Bakerloo, Central and Victoria lines</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "<!-- #EndEditable -->The improvements to the station will be undertaken by Metronet Rail BCV and will be completed in June 2007. Existing CCTV cameras will be replaced, improved Help points and a new public address system will be installed, and the";}
        
        


 