


@{ViewBag.Title = "Statement from TfL on Ealing Councils decision to suspend some bus lanes in the Borough";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Statement from TfL on Ealing Councils decision to suspend some bus lanes in the Borough</h1>
        <div class="content-page-press-release">
        29 June 2006
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Following the decision by Ealing Council to suspend some bus lanes in the borough. Peter Hendy, TfL's Commissioner, has issued the following statement:
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            A serious question-mark now hangs over Ealing's ability to deliver transport improvements
                            
                        </p>
                    </div>
                
            
            
            <p>''The Mayor will now consider all options, including legal and financial options, arising from Ealing's retrograde anti-bus announcement.</p>
<p>"This is an anti-commuter, anti-public transport announcement that does not seem to consider the needs of bus users.</p>
<p>"Ealing is trying to engage in unilateral action without any discussion with Transport for London.</p>
<p>"Transport for London has to consider the transport implications for the city as a whole and cannot agree to an approach that ignores these concerns in favour of a piecemeal approach. </p>
<p>"This would be a recipe for the return to a declining bus service and reduced reliability. </p>
<p>"Ealing appears to now prefer a transport policy in which bus passengers will have longer, less reliable journeys and is willing to ignore their views about this decision.</p>
<p>"Bus lanes offer benefits not only to bus passengers, who enjoy improved reliability of service, but also to cyclists, a quarter of whom - according to DfT sponsored research - choose their route according to the availability of bus lanes.</p>
<p>"Such a short time has elapsed between the formation of the new council executive and this announcement, that no serious analysis of the transport implications can have taken place.</p>
<p>"Ealing Council is due to receive &pound;4.6m for 2006/7 from Transport for London for local transport measures. </p>
<p>"On the basis of the rash and retrograde approach of this announcement a serious question-mark now hangs over Ealing's ability to deliver transport improvements consistent with the Mayor's Transport Strategy."<br></p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "''The Mayor will now consider all options, including legal and financial options, arising from Ealing's retrograde anti-bus announcement.'This is an anti-commuter, anti-public transport announcement that does not seem to consider the needs of bus";}
        
        


 