


@{ViewBag.Title = "TfL concerned about knock-on effects of First Capital Connect new fare restrictions";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>TfL concerned about knock-on effects of First Capital Connect new fare restrictions</h1>
        <div class="content-page-press-release">
        29 June 2006
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London (TfL) today expressed concerns about the wider impact of First Capital Connect's new fares policy, which has restricted the use of cheap day return tickets on their northbound peak services.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            TfL would like to see First Capital Connect's fare restrictions removed as a matter of urgency
                            
                        </p>
                    </div>
                
            
            
            <p>The policy, introduced earlier this month, has led to further fare restrictions being imposed on both GNER and Midland Mainline services. </p>
<p>These two companies have been prompted to introduce similar measures in order to prevent their peak trains becoming overloaded with passengers taking advantage of their previously more flexible fares.</p>
<p>The combined impact of these evening peak restrictions is affecting passengers on more than twenty services northbound from London's King's Cross and St Pancras stations. </p>
<p>Ian Brown, Managing Director of TfL London Rail, said: "Passenger needs are a top priority for Transport for London. </p>
<p>"First Capital Connect's new fares policy is now having a major impact on passengers using GNER and Midland Mainline services, with cost increases of over 100 per cent in some instances. </p>
<p>"We are concerned that this could deter people from using rail services between London and other key towns and cities.</p>
<p>"TfL would like to see First Capital Connect's fare restrictions removed as a matter of urgency, allowing flexible 'Cheap Day Return' tickets to be restored on all services so that passengers can travel home from London at any time in the evening."</p>
<p>There are, for example, two sets of fares between Peterborough station and London: 'Any Permitted' which are accepted on all trains, and a set of dedicated fares which are valid only on First Capital Connect services. </p>
<p>These changes mean that a passenger travelling from Peterborough to London, returning at peak time requiring an 'Any Permitted' ticket valid on either First Capital Connect or GNER, must purchase a 'Business Value Return' priced at &pound;47.50. </p>
<p>This is an increase of over 100 per cent from the previous 'Cheap Day Return' ticket, costing &pound;22.30. </p>
<p>TfL believes these increases are unnecessary and discourage the use of rail services.</p>
<p><br></p>
<p>
            <ul>
<li>The changes to First Capital Connect's fare policy took effect on 11 June 2006, restricting the use of 'Cheap Day Return' tickets in the evening peak (16.30 - 19.01)</li>
<li>First Capital Connect was awarded a six-year franchise in December 2005 to operate trains on the network previously covered by Great Northern and Thameslink</li>
<li>Example of fare increases between Bedford and London:<br>Previously, a 'Cheap Day Return' ticket on Midland Mainline or First Capital Connect services, returning in the evening peak, was &pound;16.00<br>Now, return travel in the high peak using any operator will require a 'Standard Open Return' priced at &pound;30.30 - nearly 90 per cent more</li>
<li>Example of fare increases between Luton and London:<br>Previously, a 'Cheap Day Return' ticket on Midland Mainline or First Capital Connect services, returning in the evening peak, was &pound;11.30<br>Now, return travel in the high peak using any operator will require a 'Standard Open Return' priced at &pound;20.80 - over 80 per cent more</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The policy, introduced earlier this month, has led to further fare restrictions being imposed on both GNER and Midland Mainline services. These two companies have been prompted to introduce similar measures in order to prevent their peak trains becoming";}
        
        


 