


@{ViewBag.Title = "TfL response to London Assembly July 7 report";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>TfL response to London Assembly July 7 report</h1>
        <div class="content-page-press-release">
        05 June 2006
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London (TfL) has issued the following statement in response to the London Assembly's July 7 report, which was published today.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            We will never forget those killed and injured on July 7, 2005
                            
                        </p>
                    </div>
                
            
            
            <p> <!-- #EndEditable -->A TfL spokesperson said: 'We will never forget those killed and injured on July 7, 2005, or the heroic actions of so many passengers, staff and those from the emergency services.</p>
<p>'We welcome today's report from the London Assembly and the role it will play in strengthening our response to major incidents in the future. </p>
<p>'The recommendations of this report are consistent with TfL's internal reviews and our testimony to the London Assembly. </p>
<p>'The safety of passengers and staff is our top priority. We continue to work with the police, emergency and security services to keep transport in London as safe as possible.</p>
<p>'London Underground's current radio network enables station, train and line control staff to communicate although the radio network is very old and should have been replaced many years ago. British Transport Police, who patrol the Tube network, have radios that work on the Tube.</p>
<p>'As the Assembly is aware, TfL is investing nearly &pound;2 billion over 20 years in a modern and comprehensive radio network for the Tube known as Connect. </p>
<p>'This is being rolled out, line by line, this year and next. It will enable communication between all members of operational London Underground staff. </p>
<p>It will also facilitate the use of Metropolitan Police radios underground.'<br></p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "<!-- #EndEditable -->A TfL spokesperson said: 'We will never forget those killed and injured on July 7, 2005, or the heroic actions of so many passengers, staff and those from the emergency services.'We welcome today's report from the London Assembly and";}
        
        


 