


@{ViewBag.Title = "TfL sells residential property in Ealing to housing association to provide improved housing to local people";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>TfL sells residential property in Ealing to housing association to provide improved housing to local people</h1>
        <div class="content-page-press-release">
        05 June 2006
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London (TfL) has agreed to sell 23 residential properties in Ealing to the Genesis Housing Group, bringing the promise of improved housing to local residents.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            We will continue to work closely with the local authority and the tenants to progress improving the standard of these homes
                            
                        </p>
                    </div>
                
            
            
            <p>The sale was agreed by TfL following negotiations with the Greater London Authority and the Housing Corporation.</p>
<p>The 23 properties, which contain 41 residences, were inherited by TfL when it was created in 2000. </p>
<p>They were originally acquired by the Highways Agency as part of a road widening project some decades ago, and fell into a state of disrepair following the threat of demolition. Genesis Housing Group will renovate most of the properties, with a small number sold in order to fund those improvements.</p>
<p>Richard Hawkes, TfL's Head of Sales and Development, said: "I am pleased that we have successfully worked with Genesis and Ealing Council and other partners to resolve this long-standing issue in the best possible way. </p>
<p>"This agreement will bring property that has been a blight in Ealing brought up to a standard that will contribute to meeting the housing needs of local people."</p>
<p>All tenants currently living in the properties will be offered appropriate, affordable housing by Genesis. </p>
<p>Steve Coleman, Genesis Group Development Director, said: "We will continue to work closely with the local authority and the tenants to progress improving the standard of these homes. </p>
<p>"We have a large amount of experience in managing and improving homes which I am sure will be of great benefit to the current tenants."</p>
            <ul>
<li>The sale will be complete on 30 June 2006</li>
<li>Genesis Housing Group provides homes and services to tens of thousands of people across London and the south east. The Group consists of PCHA, Sutherland, Pathmeads and Springboard housing associations. They also have in their group, a charitable foundation, Genesis Community. Genesis own and/or manage more than 40,000 homes in the UK</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The sale was agreed by TfL following negotiations with the Greater London Authority and the Housing Corporation.The 23 properties, which contain 41 residences, were inherited by TfL when it was created in 2000. They were originally acquired by the";}
        
        


 