


@{ViewBag.Title = "Transport for London launches the new and improved Greenwich Station Forecourt";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Transport for London launches the new and improved Greenwich Station Forecourt</h1>
        <div class="content-page-press-release">
        05 June 2006
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        The Mayor of London has welcomed the unveiling of a newly modernised and refurbished Greenwich station forecourt, the latest improvement delivered as part of the massive investment programme in London's transport system.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            'This new Greenwich Station forecourt will make journeys safer, easier and more pleasant for local people
                            
                        </p>
                    </div>
                
            
            
            <p>As a gateway to a world heritage site, the station forecourt has recently been modernised to make the interchange easier for people to use the Docklands Light Railway (DLR), train, bus services and also for passengers arriving by taxi or car.<br><br>Mayor of London, Ken Livingstone said: 'This new Greenwich Station forecourt will make journeys safer, easier and more pleasant for local people. </p>
<p>'The modernised station forecourt will also provide a welcoming arrival point for tourists and visitors.<br><br>'This improvement work has been completed as part of Transport for London's (TfL's) &pound;10 billion Investment Programme, which is delivering a public transport system needed to support London's growth and prosperity. </p>
<p>'The benefits of increased investment are now being felt right across London. The Greenwich station improvements follow the recent completion of major improvements at Wembley Park Tube Station to support the new Wembley Stadium, the addition of extra carriages on the Jubilee line to carry an additional 6,000 passengers every hour in the morning and evening peaks and the DLR extension to City Airport.'<br><br>John McNulty, TfL's Interchange Programme Director, said: 'The refurbishment of the station forecourt is part of TfL's &pound;10bn Investment Programme to improve and upgrade London's transport network. </p>
<p>'This is an example of a small interchange scheme that delivers significant benefits to the local community.' </p>
<p>To encourage the use of sustainable forms of transport, TfL has also provided new and improved pedestrian and cycling facilities.<br>The new interchange has been designed specifically for mobility impaired passengers, who will be able to use the dedicated parking space and tactile paving ramps.</p>
<p>
<h2>Jointly funded</h2>
<p>
<p>The renovation of the station forecourt was jointly funded by TfL's Investment Programme (&pound;500k) and Seltrans (&pound;50k). </p>
<p>Environmental improvements include new trees donated by the Greenwich Society, new street furnishings including benches, improved lighting, cycle racks for eight bicycles and widened pedestrian and foot paths. The interchange is now more comfortable and enjoyable for local commuters and visitors. </p>
<p>Mayor of Greenwich, Cllr Harpinder Singh said:'I'm delighted to officially open the new station forecourt which will benefit the people who live and work in Greenwich. </p>
<p>'The improvements have been delivered to a high standard and will enhance the local area and provide an excellent first impression for many of the millions of visitors that Greenwich welcomes every year.'</p>
<p>
<h2>Determination </h2>
<p>
<p>Alan Lucking, Representative of Seltrans said: 'The Greenwich Station improvements demonstrate TfL's and Seltrans' determination to improve access to public transport throughout South East London. </p>
<p>'These improvements could not have been achieved without TfL's active support to the partnership and the active participation of the Seltrans partners.'</p>
<p>Len Duvall, London Assembly Member for Greenwich and Lewisham said: 'I am pleased to see these improvements in the facilities at Greenwich Station. </p>
<p>'It has taken a lot of hard work and good collaboration between different agencies to get us here today. In particular, I would like to pay a special tribute to the Greenwich Society for their contribution to the partnership. </p>
<p>'Greenwich residents and our visitors will benefit from this much improved and more secure interchange.'</p>
            <ul>
<li>The Worshipful the Mayor of Greenwich Cllr Harpinder Singh declared the station forecourt officially open at 10.15am on Monday 5 June</li>
<li>Speakers include London Assembly Member, Len Duvall; John McNulty, TfL's Interchange Programme Director; Darien Goodwin of SELTRANS; Tim Barnes, Chairman of The Greenwich Society</li>
<li>The Interchange Programme is a key part of the Mayor's Transport Strategy and supports the London Plan with the aim of improving interchanges across London. For more information see <a href="http://www.tfl.gov.uk/interchange">www.tfl.gov.uk/interchange</a></li>
<li>The refurbishment is part of a joint partnership with Accor - Novotel Hotels, Seltrans working with the London Borough of Greenwich, Network Rail and South Eastern Trains</li>
<li>The Greenwich Station building was built in 1840 and is one of the oldest original station buildings in the world. The building is Grade II listed and an important gateway to a world heritage site and historic Greenwich landmarks</li></ul>
<p> </p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "As a gateway to a world heritage site, the station forecourt has recently been modernised to make the interchange easier for people to use the Docklands Light Railway (DLR), train, bus services and also for passengers arriving by taxi or car.Mayor of";}
        
        


 