


@{ViewBag.Title = "Tube and bus plans to help Stay Cool this summer";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Tube and bus plans to help Stay Cool this summer</h1>
        <div class="content-page-press-release">
        07 June 2006
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London (TfL) today revealed its plans to help passengers 'Stay Cool' this summer. The plans include an innovative groundwater cooling trial at Victoria Tube station.  If successful, the trial could lead to it being applied at other deep-level Underground stations in future.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
<p>
We are determined to investigate long-term answers to tackle heat on the Tube
</p>
</div>
<p>Above ground, London Buses continues to invest in making the capital's buses cooler, with 1,500 buses - or 20 per cent of the bus fleet - now equipped with forced air ventilation or air cooling systems and additional upper deck opening windows.</p>
<p>The works are all part of TfL's &pound;10 billion Investment Programme to improve and expand London's transport network.</p>
<p>TfL knows that as summer temperatures return to London and top the mid-20 degrees C, travelling can feel hot and uncomfortable, especially on the deep-level Tube lines.</p>
<p>LU Managing Director, Tim O'Toole said: "We know it can get hot in the Tube in summer. </p>
<p>"As in previous years, we'll be taking measures and offering advice to passengers on how to try and stay cool on the Tube.</p>
<p>"We are determined to investigate long-term answers to tackle heat on the Tube. </p>
<p>"But tackling heat is one of the biggest challenges facing London Underground.<br /></p>
<p>"There is no one overall solution to heat on the Tube but significant progress is now being made. </p>
<p>"Some passengers may notice a small difference this summer but we know that there is a lot more to do and it will take many years to cool the Tube."</p>
<p>Mike Winter, Fleet Development Manager for London Buses said: "We are continuing to take action to ensure all new buses have white painted roofs and extra opening windows upstairs. </p>
<p>"The addition of air ventilation and cooling systems is another step forward in providing the best possible bus journeys for passengers."</p>
<h2>Cooling the Tube technology and trials</h2>
<p>The last twelve months have seen the establishment of a dedicated project team to identify and implement engineering solutions that will help to cool the Tube. </p>
<p>Research has been undertaken to look at passenger comfort levels, understand the physiological effects of heat and predict future temperature increases.</p>
<p>The dedicated team has completed a survey of 200 stations and ventilation plant rooms to understand the extent of heat at specific stations so that engineering solutions can be targeted at sections of the network where the problem of heat is most acute.</p>
<p>The groundwater trial starting this summer at Victoria station will provide an environmentally friendly cooling system for the Victoria line platforms and will use groundwater which is already pumped out of the station. </p>
<p>Design work is now complete and installation is underway.</p>
<p>The water supply which has a temperature of around 12&ordm;C will be pumped through a network of pipes to feed three heat exchange units on the concourse area between the Victoria line platforms. </p>
<p>The heat exchange units have fans which will draw in the warm station air and through heat exchange with the pumped water will supply cooled air to the concourse area and the movement of trains will spread this cooled air to the platform area.</p>
<p>New trains for the sub-surface lines (Circle, District, Hammersmith &amp; City and Metropolitan) will come with air-cooling. </p>
<p>The first air-cooled trains are due to arrive in 2009. </p>
<p>Refurbished District line trains also now benefit from improved ventilation. But it is not just a question of getting heat off the trains, it is about cooling the Tube by getting heat out of the system.</p>
<h2>Poster campaign</h2>
<p>This summer, LU will again be issuing its annual tips to passengers on how to try and stay cool. </p>
<p>New style 'Stay Cool' posters will be displayed at all stations bearing the following advice. Announcements will also be made at stations:</p>
<p>"Here are a few tips for keeping comfortable in hot weather:</p>
<ul>
    <li>Carry water with you </li>
    <li>Don't board a train if you feel unwell </li>
    <li>If you feel unwell please get off at the next stop and seek help from our staff; and </li>
    <li>Avoid pulling the passenger alarm between</li>
</ul>
<ul>
    <li>TfL is investing &pound;10 billion to meet London's transport needs, now and in future</li>
    <li>Taking retrofitted, refurbished and new buses together, 2284 buses out of an 8000 fleet are now fitted with additional opening windows. 472 buses have new ventilation systems and 83 new vehicles this summer will have air cooling systems</li>
    <li>About 300-400 new buses enter the fleet in a year with a similar number refurbished. All of these new or refurbished buses will have thermostatically controlled heating systems and white painted roof panels with the new vehicles also having body panel insulation and tinted glass<br /></li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Above ground, London Buses continues to invest in making the capital's buses cooler, with 1,500 buses - or 20 per cent of the bus fleet - now equipped with forced air ventilation or air cooling systems and additional upper deck opening windows.The works";}
        
        


 