
    
  



@{ViewBag.Title = "Experience London";}
@{ViewBag.Keywords = "Visitors,TfL";}
@{ViewBag.Url = "/travel-information/visiting-london/experience-london";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/travel-information/visiting-london/index">Visiting London </a></li>
                
            
            
                <li><span class="last-breadcrumb">Experience London</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Experience London</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        Make your trip to London even more memorable by taking advantage of our unique transport services, unmissable attractions, and special offers for visitors.
        
      </div>
    
    
      
      
           
      <div class="news-teaser ">
  
  <a href="https://londonblog.tfl.gov.uk/2019/11/25/winter-activities/?intcmp=58117"  data-img="/cdn/static/cms/images/promos/winter-blog-pic.jpg" data-img-breakpoint="medium" data-img-alt="Two people taking a photo of eachother with cameras outside in winter.">
    <img src="/cdn/static/cms/images/promos/winter-blog-pic_rdax_600x300.jpg" alt="Two people taking a photo of eachother with cameras outside in winter." />
    <div class="text-link sit-top">
      <h2>Wonderful wintertime</h2>
      <p>With so many winter activities to enjoy in London there's no need to hibernate</p>
    </div>
  </a>
</div>

 
<div class="module-grid clearfix">
<div class="news-teaser">

    <a href="/travel-information/visiting-london/experience-london/bus-leisure-routes?intcmp=53128" >
        <img src="/cdn/static/cms/images/promos/bus-leisure-routes-teaser_rdax_400x200.jpg" alt="Cartoon of buses exploring London landmarks such as Big Ben and St Paul's" />
        
        <div class="text-link">
             <h2>Where will your bus take you?</h2>
            <p>Explore London's attractions on one of our bus leisure routes</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser visitor-centres">

    <a href="/modes/river/index?intcmp=64" >
        <img src="/cdn/static/cms/images/promos/rivers-image-visiting_rdax_400x200.jpg" alt="Rivers image visiting" />
        
        <div class="text-link">
             <h2>River buses and tours</h2>
            <p>Explore London by river and escape through the heart of the city</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser visitor-centres">

    <a href="/modes/emirates-air-line/index?intcmp=65" >
        <img src="/cdn/static/cms/images/promos/emirates_rdax_400x200.jpg" alt="Emirates Air Line" />
        
        <div class="text-link">
             <h2>Emirates Air Line cable car</h2>
            <p>London's only cable car, winner of Tripadvisor's Certificate of Excellence</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser visitor-centres">

    <a href="/modes/cycling/santander-cycles?intcmp=2295" >
        <img src="/cdn/static/cms/images/promos/santander-handlebars-teaser_rdax_400x200.jpg" alt="Santander cycles" />
        
        <div class="text-link">
             <h2>Hire a Santander Cycles bike</h2>
            <p>Hire a bike from as little as &pound;2 and discover London on two wheels</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="/modes/river/explore-london-tickets?intcmp=47992" >
        <img src="/cdn/static/cms/images/promos/3-way-ticket_rdax_400x200.jpg" alt="3-way ticket image" />
        
        <div class="text-link">
             <h2>Experience London tickets</h2>
            <p>Try our great ticket packages - it's a fantastic way to see the city</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser visitor-centres">

    <a href="/travel-information/visiting-london/experience-london/itineraries?intcmp=27843" >
        <img src="/cdn/static/cms/images/promos/walking-visit-london_rdax_400x200.jpg" alt="Walking Visit London" />
        
        <div class="text-link">
             <h2>Itineraries</h2>
            <p>Ideas, suggested itineraries and routes for the perfect day out in London</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser visitor-centres">

    <a href="/campaign/see-the-sights?intcmp=41395" >
        <img src="/cdn/static/cms/images/promos/walking-st-pauls-teaser_rdax_400x200.jpg" alt="See the sights image teaser" />
        
        <div class="text-link">
             <h2>Walking</h2>
            <p>Walking is a great (and free) way to explore the city and its main landmarks</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser visitor-centres">

    <a href="/travel-information/visiting-london/experience-london/special-offers?intcmp=27861" >
        <img src="/cdn/static/cms/images/promos/vising-london-special-offers_rdax_400x200.jpg" alt="Vising London special offers image" />
        
        <div class="text-link">
             <h2>Special offers</h2>
            <p>Offers and discounts in top London restaurants, theatres, galleries and shops</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="http://www.visitlondon.com/things-to-do/london-areas?intcmp=41152" >
        <img src="/cdn/static/cms/images/promos/visit-london-image_rdax_400x200.jpg" alt="Visit Britain image" />
        
        <div class="text-link">
             <h2>Discover London areas</h2>
            <p>Explore some of London's hidden gems with these local area guides</p>
        </div>
    </a>
</div>
 
 <div>

<div class="news-teaser visitor-centres">

    <a href="/travel-information/visiting-london/getting-around-london/visitor-centres?intcmp=1734" >
        <img src="/cdn/static/cms/images/promos/visitor-centres-experience-london_rdax_400x200.jpg" alt="Experience London teaser" />
        
        <div class="text-link">
             <h2>Visitor Centres</h2>
            <p>Find information about transport services, what to visit and buy attraction tickets</p>
        </div>
    </a>
</div>
 
 
</div>
 
<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/london-theatre-travel-guide-2015.pdf">
    <div class="document-download-text">
        <p>London theatre travel guide</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 3.01MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 3.01 -->
 
</div>

</div>
 <div class="vertical-button-container">



<a href="/travel-information/visiting-london/experience-london/visit-london-image-gallery"  class="plain-button">Image gallery</a>


<a href="http://www.visitlondon.com/things-to-do/whats-on/special-events/london-events-calendar?ref=nav-dl"  class="plain-button">Events in London</a>

</div>

</div>
 
      
        
          
        
      
    
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
                <a href="/travel-information/visiting-london/index" class="heading">
                    <h2 id="sub-menu-heading">Visiting London <span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li><div class="link-wrapper"><a href="/travel-information/visiting-london/visitor-oyster-card">Visitor Oyster card</a></div></li>
                            
 
                                <li class="selected parent"><div class="link-wrapper"><a href="/travel-information/visiting-london/experience-london">Experience London</a></div>
                                <ul>
                                    
                                <li><div class="link-wrapper"><a href="/travel-information/visiting-london/experience-london/itineraries">Itineraries</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/travel-information/visiting-london/experience-london/special-offers">Special offers</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/travel-information/visiting-london/experience-london/visit-london-image-gallery">Visiting London image gallery</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/travel-information/visiting-london/experience-london/bus-leisure-routes">Bus leisure routes</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/travel-information/visiting-london/getting-to-london">Getting to London</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/travel-information/visiting-london/getting-around-london">Getting around London</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
      <div class="module-grid clearfix">
                    
        

                <div class="widget-wrapper">
                    <div class="expandable-box">
                        <div class="content">
                            <div class="always-visible widget-heading">
                                <div class="controls">&nbsp;</div>
                                <div class="widget-title">
                                    <h2>Plan a journey</h2>
                                </div>
                            </div>
                            <div class="start-hidden widget-content journey-planner-widget clearfix">
                                @{Html.RenderAction("Index", "JourneyPlanner", new
                                    { jptype = "publictransport" } 
                                );}
                            </div>
                        </div>
                    </div>
                </div>
            
 <div class="related-links">

    <h3>Related sites</h3>

<div class="vertical-button-container">

<a href="#" class="plain-button">TfL Visitor shop</a>
<a href="#" class="plain-button">Visit London</a>
<a href="#" class="plain-button">Visit Britain</a>
<a href="#" class="plain-button">TfL souvenirs</a>
    </div>
</div>
 
      </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Landing page outlining things to do in London";}
        
            
        


 