
    
  


<!-- rhroot -->
@{ViewBag.Title = "Getting around London";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/travel-information/visiting-london/getting-around-london";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/travel-information/visiting-london/index">Visiting London </a></li>
                
            
            
                <li><span class="last-breadcrumb">Getting around London</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Getting around London</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        Maps, tips and all the information you need to help you get around London during your visit. <BR>
        
      </div>
    
    
      
      
           
      
<div class="module-grid clearfix">
<div class="news-teaser visitor-centres">

    <a href="/travel-information/visiting-london/getting-around-london/visitor-information?intcmp=27675" >
        <img src="/cdn/static/cms/images/promos/tube-mind-the-gap_rdax_400x200.jpg" alt="Mind the gap image" />
        
        <div class="text-link">
             <h2>Visitor information</h2>
            <p>Tips and information for visitors about travelling around London</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser visitor-centres">

    <a href="/travel-information/visiting-london/getting-around-london/visitor-centres?intcmp=1734" >
        <img src="/cdn/static/cms/images/promos/visitor-information-centre_rdax_400x200.jpg" alt="Visitor information centre image" />
        
        <div class="text-link">
             <h2>Visitor Centres</h2>
            <p>Find out about transport services, what to visit and buy tickets to attractions.</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser visitor-centres">

    <a href="/travel-information/visiting-london/getting-around-london/visitor-maps?intcmp=28170" >
        <img src="/cdn/static/cms/images/promos/bus-map_rdax_400x200.jpg" alt="Visit London maps image" />
        
        <div class="text-link">
             <h2>Maps</h2>
            <p>Discover London's transport network and download our different maps</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser visitor-centres">

    <a href="/plan-a-journey/index?intcmp=14" >
        <img src="/cdn/static/cms/images/promos/journey-planner_rdax_400x200.jpg" alt="Visiting London Jourey Planner image" />
        
        <div class="text-link">
             <h2>Plan a journey</h2>
            <p>Use Journey Planner to help you get around quickly and easily</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser visitor-centres">

    <a href="/transport-accessibility/index?intcmp=52" >
        
        
        <div class="text-link">
             <h2>Accessibility</h2>
            <p>Accessible transport options and information</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser visitor-centres">

    <a href="/status-updates/major-works-and-events?intcmp=25505" >
        
        
        <div class="text-link">
             <h2>Major works and events</h2>
            <p>Updates and travel advice about major works and events that could affect your journey</p>
        </div>
    </a>
</div>
 
 
</div>
 <div>


</div>
 
      
        
          
        
      
    
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
                <a href="/travel-information/visiting-london/index" class="heading">
                    <h2 id="sub-menu-heading">Visiting London <span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li><div class="link-wrapper"><a href="/travel-information/visiting-london/visitor-oyster-card">Visitor Oyster card</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/travel-information/visiting-london/experience-london">Experience London</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/travel-information/visiting-london/getting-to-london">Getting to London</a></div></li>
                            
 
                <a href="/travel-information/visiting-london/getting-around-london" class="heading">
                    <h2 id="sub-menu-heading">Getting around London<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="parent"><div class="link-wrapper"><a href="/travel-information/visiting-london/getting-around-london/visitor-information">Visitor information</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/travel-information/visiting-london/getting-around-london/best-ways-for-visitors-to-pay">Best ways for visitors to pay</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/travel-information/visiting-london/getting-around-london/visitor-maps">Visitor maps</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/travel-information/visiting-london/getting-around-london/visitor-centres">Visitor Centres</a></div></li>
                            
 
                </ul>
            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
      <div class="module-grid clearfix">
                    
        

                <div class="widget-wrapper">
                    <div class="expandable-box">
                        <div class="content">
                            <div class="always-visible widget-heading">
                                <div class="controls">&nbsp;</div>
                                <div class="widget-title">
                                    <h2>Plan a journey</h2>
                                </div>
                            </div>
                            <div class="start-hidden widget-content journey-planner-widget clearfix">
                                @{Html.RenderAction("Index", "JourneyPlanner", new
                                    { jptype = "publictransport" } 
                                );}
                            </div>
                        </div>
                    </div>
                </div>
            
 <div class="related-links">

    <h3>Related websites</h3>

<div class="vertical-button-container">

<a href="http://visitorshop.tfl.gov.uk/tfl/london-visitor-oyster-card/?utm_medium=referral&utm_source=tfl.gov.uk&utm_campaign=tfl" class="plain-button">Buy a Visitor Oyster card</a>
<a href="https://www.visitbritainshop.com/" class="plain-button">VisitBritain shop</a>
<a href="http://www.ltmuseum.co.uk/" class="plain-button">London Transport Museum</a>
<a href="https://shop.tfl.gov.uk/" class="plain-button">TfL souvenirs</a>
<a href="http://www.visitlondon.com/" class="plain-button">Visit London</a>
    </div>
</div>
 
      </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Maps, tips and all the information you need to help you get around London during your visit.";}
        
            
        


 