
    
  


<!-- rhroot -->
@{ViewBag.Title = "Visiting London ";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/travel-information/visiting-london/index";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        

  <div class="section-image-container medium-large" data-highlight-image="/cdn/static/cms/images/promos/visiting-london-banner.jpg" data-highlight-for=".section-image-container" data-highlight-size="medium-large" style="background-image: url(/cdn/static/cms/images/promos/visiting-london-banner.jpg)"> </div>

<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
            
                <li><span class="last-breadcrumb">Visiting London </span></li>
            
        
 
        </ol>
    </div>
</div>
     
 

  
  <div class="r">
    <div class="headline-container section-title section-landing-container ">
      <div class="section-title-wrap">
        <h1 class="hero-headline">Visiting London </h1>
        
      </div>
    </div>
  </div>


  
  
    
  


    
    <div class="r">
        <div class="section-overview clearfix visitor-centres">
            <div class="small-medium" data-set="section-intro"></div>
            <div class="main">
                <div class="large" data-set="section-intro">
                    
                </div>
                <h2>Welcome to London</h2>
<p>Information on how to get around, pay for travel, plan a journey or make the most of London's iconic transport services.</p>
            </div>
            
            <div class="aside">
                
                <div>

<div class="call-to-action-button">
       <a href="/plan-a-journey/index" class="secondary-button no-hover" >Plan your journey around London</a>

    </div>
</div> 
 
                
            </div>
            
        </div>
    </div>
    
   
    <div class="r">
        <div class="main clearfix" role="main">
            
        
        
         
        
        
        
                
                <div class="clearfix">
                    
<div class="module-grid clearfix">
<div class="news-teaser visitor-centres">

    <a href="/travel-information/visiting-london/getting-around-london?intcmp=27411" >
        <img src="/cdn/static/cms/images/promos/tube-map-leaflet_rdax_400x200.jpg" alt="Tube map leaflet" />
        
        <div class="text-link">
             <h3>Getting around London</h3>
            <p>Maps, tips and all the information you need to help you get around London.</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser visitor-centres">

    <a href="/travel-information/visiting-london/getting-around-london/best-ways-for-visitors-to-pay?intcmp=27718" >
        <img src="/cdn/static/cms/images/promos/best-tickets-image-visiting-london_rdax_400x200.jpg" alt="Best tickest image for Visiting London" />
        
        <div class="text-link">
             <h3>Best ways for visitors to pay</h3>
            <p>Let us help you choose the best way to pay for your travel</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser visitor-centres">

    <a href="/travel-information/visiting-london/experience-london/bus-leisure-routes?intcmp=53128" >
        <img src="/cdn/static/cms/images/promos/bus-leisure-routes-teaser_rdax_400x200.jpg" alt="Cartoon of buses exploring London landmarks such as Big Ben and St Paul's" />
        
        <div class="text-link">
             <h3>Where will your bus take you?</h3>
            <p>Bus leisure routes to help you explore London's attractions</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="/travel-information/visiting-london/experience-london?intcmp=27817" >
        <img src="/cdn/static/cms/images/promos/river-visit-london_rdax_400x200.jpg" alt="Rivers visit London" />
        
        <div class="text-link">
             <h3>Experience London</h3>
            <p>Inspiring transport experiences, routes, itineraries and amazing discounts</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser visitor-centres">

    <a href="https://translate.google.co.uk/translate?sl=auto&tl=fr&js=y&prev=_t&hl=en&ie=UTF-8&u=https%3A%2F%2Ftfl.gov.uk%2Ftravel-information%2Fvisiting-london%2F&edit-text=&act=url&intcmp=26832" >
        <img src="/cdn/static/cms/images/promos/flags-images_rdax_400x200.jpg" alt="Flags for Visit London" />
        
        <div class="text-link">
             <h3>Other languages</h3>
            <p>Use Google Translate and view our site in your language</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser visitor-centres">

    <a href="/travel-information/visiting-london/getting-around-london/visitor-information/top-travel-tips?intcmp=27765" >
        <img src="/cdn/static/cms/images/promos/top-tips-image_rdax_400x200.jpg" alt="Visiting London top tips image" />
        
        <div class="text-link">
             <h3>Top travel tips for visitors</h3>
            <p>Move around the city like a local with our tips for travelling on public transport</p>
        </div>
    </a>
</div>
 
 
</div>
 
                </div>
                <hr>
                
                
                <div class="module-grid clearfix">
                    
                    
                    
                    <div class="news-teaser">

    <a href="/campaign/tube-improvements/what-we-are-doing/night-tube?intcmp=22069" >
        <img src="/cdn/static/cms/images/promos/night-tube-wide_rdax_400x200.jpg" alt="Night Tube image" />
        
        <div class="text-link">
             <h3>Night Tube</h3>
            <p>Now on Victoria, Jubilee and most of Central, Northern and Piccadilly lines</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="/travel-information/visiting-london/getting-to-london?intcmp=27786" >
        <img src="/cdn/static/cms/images/promos/heathrow-roundel_rdax_400x200.jpg" alt="Heathrow roundel" />
        
        <div class="text-link">
             <h3>Getting to London</h3>
            <p>Airports, coach and rail connections to get you to and from London</p>
        </div>
    </a>
</div>
 
 
                </div>
        
        
        
          
        
    </div>
    
      
      <div class="aside" role="complementary">
    
        <div data-set="sidenav-container" class="large">
          
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
                <a href="/travel-information/visiting-london/index" class="heading">
                    <h2 id="sub-menu-heading">Visiting London <span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li><div class="link-wrapper"><a href="/travel-information/visiting-london/visitor-oyster-card">Visitor Oyster card</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/travel-information/visiting-london/experience-london">Experience London</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/travel-information/visiting-london/getting-to-london">Getting to London</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/travel-information/visiting-london/getting-around-london">Getting around London</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>
        <div class="module-grid clearfix">
          












<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 
          

                <div class="widget-wrapper">
                    <div class="expandable-box">
                        <div class="content">
                            <div class="always-visible widget-heading">
                                <div class="controls">&nbsp;</div>
                                <div class="widget-title">
                                    <h2>Plan a journey</h2>
                                </div>
                            </div>
                            <div class="start-hidden widget-content journey-planner-widget clearfix">
                                @{Html.RenderAction("Index", "JourneyPlanner", new
                                    { jptype = "publictransport" } 
                                );}
                            </div>
                        </div>
                    </div>
                </div>
            
 
<div class="fact-box-wrapper">
    <span class="blue-span">Tube status updates</span>
    <div class="fact-box-content">
        
        <div class="vertical-button-container">
        
        <a href="/status-updates/index"  class="plain-button">Check how your Tube is running</a> 
        </div>
    </div>
</div><div class="related-links">

    <h3>Related websites</h3>

<div class="vertical-button-container">

<a href="http://visitorshop.tfl.gov.uk/tfl/london-visitor-oyster-card/?utm_medium=referral&utm_source=tfl.gov.uk&utm_campaign=tfl" class="plain-button">Buy a Visitor Oyster card</a>
<a href="https://www.visitbritainshop.com/" class="plain-button">VisitBritain shop</a>
<a href="http://www.ltmuseum.co.uk/" class="plain-button">London Transport Museum</a>
<a href="https://shop.tfl.gov.uk/" class="plain-button">TfL souvenirs</a>
<a href="http://www.visitlondon.com/" class="plain-button">Visit London</a>
    </div>
</div>
 <div class="follow-social twitter">
  
  <div class="social-image">
    
  </div>
  <div class="social-text">
    <h3>News about London's transport system</h3>
    <p>News and latest information </p>
  </div>
  <div class="social-button">
    <a class="secondary-button" href="https://twitter.com/TfL">Follow &#64;TfL</a>
  </div> 
</div>
 <div class="follow-social facebook">
  
  <div class="social-image">
    
  </div>
  <div class="social-text">
    <h3>News about London's transport system</h3>
    <p>Get updates about London's transport system</p>
  </div>
  <div class="social-button">
    <a class="secondary-button" href="https://www.facebook.com/transportforlondon">Like</a>
  </div> 
</div>
 <div class="follow-social instagram">
  
  <div class="social-image">
    
  </div>
  <div class="social-text">
    <h3>Inspiration for travel in London</h3>
    <p>Images, news and information</p>
  </div>
  <div class="social-button">
    <a class="secondary-button" href="http://instagram.com/transportforlondon">Follow</a>
  </div> 
</div>
 
        </div>
        <div data-set="sidenav-container" class="small-medium"></div>
      </div>
  </div>
 
        
        
        
            @{ViewBag.Description = "Discover how to get around London on public transport and make the most of your trip";}
        
            
        


 