
    
  



@{ViewBag.Title = "Visitor Oyster card";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/travel-information/visiting-london/visitor-oyster-card";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/travel-information/visiting-london/index">Visiting London </a></li>
                
            
            
                <li><span class="last-breadcrumb">Visitor Oyster card</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Visitor Oyster card</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        A Visitor Oyster card is a quick and easy way to pay for travel on public transport in London. Buy your card before you leave home and save money with special offers.
        
      </div>
    
    <div class="on-this-page">
      
      
           
      <div class="clearfix">
    <div class="image-box right-float">
    
        
        
        <img src="/cdn/static/cms/images/visitor-oyster-card-cut-out_rdax_400x250.jpg" alt="Visitor Oyster card cut-out image" />
        
        
        
    </div>
    <h2>What is a Visitor Oyster card?</h2>
<p>A Visitor Oyster card is a smartcard. It's a quick and easy way to pay for journeys on bus, Tube, tram, DLR, London Overground, TfL Rail, River Bus and most National Rail services in London.</p>
<p>Put money on your Visitor Oyster card and use it to pay as you go.</p>
 </div>
 
<div class="module-grid clearfix">
<div>

<div class="call-to-action-button">
       <a href="http://visitorshop.tfl.gov.uk/tfl/london-visitor-oyster-card/?utm_medium=referral&utm_source=tfl.gov.uk&utm_campaign=tfl" class="secondary-button no-hover" >Buy a Visitor Oyster card</a>

    </div>
</div> 
 
</div>
 <div>

<h2>Why buy a Visitor Oyster card?</h2>

<h3>Save time</h3>

<ul>
	<li>Buy a Visitor Oyster card before you leave home and have it delivered to you.</li>
	<li>Your card is ready to go as soon as you arrive in London, so no queuing at stations.</li>
</ul>

<h3>Great value</h3>

<ul>
	<li>Pay as you go fares are cheaper than buying a paper single ticket or&nbsp;Day Travelcard.</li>
	<li>Your Visitor Oyster card&nbsp;offers daily capping. This means you can travel as much as you like in a single day and the amount you pay for your travel is limited (or capped). <a href="/fares/find-fares/tube-and-rail-fares/caps-and-travelcard-prices">Find&nbsp;prices for&nbsp;daily capping and Day Travelcards</a>.</li>
	<li>Use your card and save money with <a href="/travel-information/visiting-london/experience-london/special-offers">special offer and discounts</a> at restaurants, shops, galleries and entertainment venues.</li>
</ul>
</div>
 <div>

<h3>On Tube, DLR, London Overground, TfL Rail and most National Rail services in London</h3>
<ul>
    <li>Touch your Visitor Oyster card flat on a yellow card reader when you enter a station to start a journey</li>
    <li>At the end of your journey, touch your card flat on the yellow card reader as you leave the station; this means you'll be charged the correct fare for the journey you've taken</li>
</ul>
<h3>On bus and tram services</h3>
<p><strong>Only</strong> touch your Visitor Oyster card on the yellow card reader at the<strong> start </strong>of your journey. Don't touch out when you get off a bus or tram, or you will be issued with a penalty fare.</p>
<h3>On the Thames Clippers River Bus services</h3>
<p>Only <strong>touch in</strong> with your Visitor Oyster card on the yellow card reader when asked to do so by a member of staff and remember&nbsp;to<strong> touch out </strong>again at the end of your journey.</p>
<p>You can't top up pay as you go credit on your Visitor Oyster card at the pier, so make sure you have enough credit before you travel. </p>
</div>
 <div>

<h2><a name="cost"></a>How much does a Visitor Oyster card cost?</h2>

<p>A Visitor Oyster card costs &pound;5 (plus postage) and is <strong>pre-loaded with pay as you go credit</strong> for you to spend on travel. You can choose how much credit to add to your card: &pound;10, &pound;15, &pound;20, &pound;25, &pound;30, &pound;35, &pound;40 or &pound;50.</p>

<p>The credit on your card never expires - it stays there until you use it. If you run out of credit on your card, it's easy to top it up and use it again.</p>

<h3>How much pay as you go credit to add?</h3>

<ul>
	<li>If you're <strong>visiting London for two days</strong>, start with <strong>&pound;15 credit</strong>.</li>
	<li>If you're <strong>visiting London for four days</strong>, start with <strong>&pound;30 credit</strong>.</li>
</ul>

<h3>Pay as you go fares</h3>

<p><strong>Tube, DLR, London Overground, TfL Rail and National Rail services</strong></p>

<ul>
	<li>Check the single fare finder to find the cost of a journey between two stations (e.g. from Heathrow Airport to Piccadilly Circus)</li>
	<li>For pay as you go caps and Travelcard prices, check the&nbsp;<a href="/fares/find-fares/tube-and-rail-fares">fares&nbsp;table</a></li>
</ul>

<p><strong>Bus and tram services</strong></p>

<p>On buses and trams an adult single pay as you go fare is &pound;1.50 and the daily fare cap is &pound;4.50. You can't use cash to pay for your bus fare.</p>

<p><strong>Trains to/from Gatwick Airport</strong></p>

<p>You&nbsp;can use pay as you go using your Visitor Oyster card on National Rail services between Gatwick Airport and central London, including Gatwick Express services:</p>

<ul>
	<li>A single journey on Gatwick Express costs &pound;19.80 at all times</li>
	<li>Find the cost for&nbsp;a single journey on Southern or Thameslink train services to/from central London on our <a href="/fares/find-fares/tube-and-rail-fares/single-fare-finder">single fare finder</a></li>
</ul>

<p><strong>Thames Clippers river bus services/Emirates Air Line cable car</strong></p>

<p>River buses and the Emirates Air Line cable car are great ways to explore London.</p>

<p>You can pay as you go using your Visitor Oyster card on Thames Clippers river bus services. <a href="/modes/river/about-river-bus">Find out more.</a></p>

<p>Your Visitor Oyster card is accepted on the Emirates Air Line cable car. Pay as you go fares are up to 26% cheaper than buying a paper single ticket. Find out more about <a href="/modes/emirates-air-line/index">Emirates Air Line cable car</a>.</p>

<h2>Top up &#45; add more credit to your card</h2>

<p>If you run out of credit on your Visitor Oyster card, it's easy to <strong>top it up</strong> at:</p>

<ul>
	<li>Tube, DLR, London Overground, TfL Rail and most National Rail stations</li>
	<li>Over 4,000 local shops in London called Oyster Ticket Stops - <a href="https://tfl.gov.uk/maps/oyster-ticket-stops">find your nearest one </a></li>
	<li><a href="/travel-information/visiting-london/getting-around-london/visitor-centres">Visitor Centres</a></li>
</ul>

<h2>Cancelling your card</h2>

<p>If you'd like to cancel your Visitor Oyster card before you've used it, you can ask for a refund by emailing <a href="mailto:tflenquiries&#64;visitbritainshop.com">tflenquiries&#64;visitbritainshop.com</a>.</p>

<h2><a name="unusedcredit"></a>Unused credit on your Visitor Oyster card</h2>

<p>The pay as you go credit on your Visitor Oyster card never expires so you can keep your card until your next visit, or lend it to family&nbsp;and friends.</p>

<p>If you don't need your Visitor Oyster card, you can <a href="/fares/refunds-and-replacements/visitor-oyster-credit-no-longer-needed">get the remaining credit refunded</a>.</p>

<h2>Lost or stolen Visitor Oyster card?</h2>

<p>You can't get a refund for any credit on your Visitor Oyster card if it's lost or stolen.</p>

<h2>Travelling with children</h2>

<p>Children <strong>under 11</strong> travel free on buses and trams. Children under 11 also travel free on Tube, DLR, London Overground, TfL Rail and some National Rail services when accompanied by a fare-paying adult (up to four children per adult).</p>

<p>If you're travelling with children <strong>aged 11-15</strong>, <a href="http://visitorshop.tfl.gov.uk/tfl/london-visitor-oyster-card/">buy a Visitor Oyster card</a> before you leave home and, when you arrive in London, you can ask a member of our staff to add a Young Visitor discount to a Visitor Oyster card at:</p>

<ul>
	<li>most Tube stations</li>
	<li>our <a href="/travel-information/visiting-london/getting-around-london/visitor-centres">8 Visitor Centres</a></li>
	<li>Victoria National Rail station ticket office</li>
</ul>

<p>The Young Visitor discount gives your child <strong>half adult rate</strong> pay as you go discount for up to 14 days.</p>

<p>You can also <a href="http://visitorshop.tfl.gov.uk/">buy child Travelcards online</a> for children aged 11-15.<br />
<br />
<a href="/fares/free-and-discounted-travel">Find out more about travelling with children</a>.</p>

<h2>Special offers and discounts</h2>

<p>With your Visitor Oyster card you can enjoy <strong>special offers and discounts </strong>and save money in leading London restaurants, shops and entertainment venues - plus discounts on the <a href="/modes/emirates-air-line/index">Emirates Air Line cable car</a>.</p>

<p>Find out more about <a href="/travel-information/visiting-london/experience-london/special-offers">Visitor Oyster card special offers</a>.</p>

<h2>Where to buy a Visitor Oyster card</h2>

<p>You can't buy a Visitor Oyster card in London.</p>

<p>Go to <a href="https://visitorshop.tfl.gov.uk/tfl/london-visitor-oyster-card/">visitorshop.tfl.gov.uk</a> to buy your card before you leave home and it will be delivered to your home address.</p>

<h3>No time to buy online?</h3>

<p>If you don't have time to buy your card online, you can also buy a Visitor Oyster card before arriving in London from <a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster">different locations in the UK</a> and <a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/buying-tickets-and-oyster/buying-tickets-from-abroad">overseas</a>.</p>
</div>
 
<div>



<h2>Visitor Oyster card leaflets</h2>



<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/voc-arabic.pdf">
    <div class="document-download-text">
        <p>Arabic</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 2.42MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 2.42 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/voc-chinese.pdf">
    <div class="document-download-text">
        <p>Chinese</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.53MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.53 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/voc-dutch.pdf">
    <div class="document-download-text">
        <p>Dutch</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.10MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.10 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/voc-english.pdf">
    <div class="document-download-text">
        <p>English</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 981KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.96 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/voc-french.pdf">
    <div class="document-download-text">
        <p>French</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.10MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.10 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/voc-german.pdf">
    <div class="document-download-text">
        <p>German</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.25MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.25 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/voc-italian.pdf">
    <div class="document-download-text">
        <p>Italian</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.23MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.23 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/voc-japanese.pdf">
    <div class="document-download-text">
        <p>Japanese</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.21MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.21 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/voc-korean.pdf">
    <div class="document-download-text">
        <p>Korean</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 2.05MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 2.05 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/voc-portuguese.pdf">
    <div class="document-download-text">
        <p>Portuguese</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 2.20MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 2.20 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/voc-russian.pdf">
    <div class="document-download-text">
        <p>Russian</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.11MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.11 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/voc-spanish.pdf">
    <div class="document-download-text">
        <p>Spanish</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.11MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.11 -->
 
</div>

</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
                <a href="/travel-information/visiting-london/index" class="heading">
                    <h2 id="sub-menu-heading">Visiting London <span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected"><div class="link-wrapper"><a href="/travel-information/visiting-london/visitor-oyster-card">Visitor Oyster card</a></div>
                            </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/travel-information/visiting-london/experience-london">Experience London</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/travel-information/visiting-london/getting-to-london">Getting to London</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/travel-information/visiting-london/getting-around-london">Getting around London</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Using a Visitor Oyster card in London";}
        
            
        


 