


@{ViewBag.Title = "Buckhurst Hill station to benefit from Mayor's &pound;200m investment boost in step-free stations";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2018">2018</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2018/may">May</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Buckhurst Hill station to benefit from Mayor’s £200m investment boost in step-free stations</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Buckhurst Hill station to benefit from Mayor’s £200m investment boost in step-free stations</h1>
        <div class="content-page-press-release">
        14 May 2018
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Mayor of London plans to increase step-free access to 40 per cent of London Underground stations by 2022
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"I'm delighted that Buckhurst Hill Tube station is the first to benefit from the &pound;200m boost. I know it's going to make a big difference to help those with disabilities, parents with pushchairs or anyone who struggles with their mobility"</div>
        <div class="quote-footer">
            <div class="quotee-name">Sadiq Khan</div>
            <div class="quotee-job-title">Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<p>TfL has announced that Buckhurst Hill Tube station is now step-free, improving access to the transport network for thousands of people.</p>
<p>The station serves the Central line, one of London's busiest Tube lines, and is the first to benefit from the Mayor of London's &pound;200m fund to boost accessibility across the capital.</p>
<p>The station is the 74th to become step-free on the Underground and is the first of five stations on the eastern section of the Central line that will be made step-free over the coming years.</p>
<p>The Mayor's investment, announced last year, will provide step-free access at a number of stations around London in order to increase the total to over 100.</p>
<p>Investment across TfL will mean that by 2022, 40% of the network will be step-free &#45; a significant increase on the current level of 27%.</p>
<p>This will significantly improve the accessibility of the Tube for older and disabled people, as well as parents or carers with buggies.</p>
<h2>Mayor's Transport Strategy</h2>
<p>The investment across the network is the largest boost to accessibility in the Tube's 155-year history.</p>
<p>It represents a key part of the Mayor's Transport Strategy, which aims to create a fairer, greener, healthier and more prosperous city by improving public transport and reducing reliance on car journeys.</p>
<p>The Mayor of London, Sadiq Khan, said: 'I'm committed to making our transport network accessible to all Londoners and visitors to the capital.</p>
<p>'That's why I vowed to significantly improve stations across London and am delivering the largest boost to accessibility in the Tube's 155-year history.</p>
<p>'I'm delighted that Buckhurst Hill Tube station is the first to benefit from the &pound;200m boost. I know it's going to make a big difference to help those with disabilities, parents with pushchairs or anyone who struggles with their mobility.'</p>
<p>Mark Wild, Managing Director of London Underground, said: 'It's vital that we continue to make the Underground more accessible and we are determined to do more to help our customers experience all London has to offer.</p>
<p>'We are investing unprecedented amounts into improving our network, including boosting capacity and providing more step-free access, in order to ensure that we can help deliver the Mayor's vision for transport in London.'</p>
<h2>Investing unprecedented amounts</h2>
<p>Elaine James, CEO of DABD, said: 'As a charity working in East London to promote independence and inclusion, we welcome today's positive news regarding Buckhurst Hill station becoming step-free.</p>
<p>'The continued investment and commitment to increasing accessibility throughout the transport network will benefit not only our service users but everyone living and visiting London. It will also increase choice around the journeys that people are able to make.'</p>
<p>The other stations confirmed to be included in the Mayor's investment boost are: Amersham, Boston Manor, Burnt Oak, Cockfosters, Debden, Hanger Lane, Ickenham, Mill Hill East, Newbury Park, North Ealing, Northolt, Osterley, Park Royal, Rickmansworth, Ruislip, South Woodford, Snaresbrook, Sudbury Hill and Wimbledon Park.</p>
<p>Together they serve nearly 53 million customers per year. There are seven further stations still to be confirmed.</p>
<h2>Transform accessibility</h2>
<p>Additionally, Victoria and Finsbury Park Tube stations are currently being modernised, with both set to become step-free on the conclusion of work there, as major stations like Bond Street and Tottenham Court Road have recently.</p>
<p>The opening of the Elizabeth line from December 2018 will also transform accessibility in central London, with every station being step-free.</p>
<p>TfL also has the most accessible bus fleet in the world, with all 9,000 buses low-floor wheelchair accessible and fitted with ramps.</p>
<p>Work has been carried out with London's boroughs to improve bus stop accessibility with almost all bus stops now wheelchair accessible.</p>
<p>Additionally, all 22,000 of London's taxis are fitted with wheelchair ramps and TfL has begun work to enhance access at taxi ranks.</p>
<p><hr /></p>
<p><strong>Notes to Editors</strong></p>
<ul>
    <li>Debden, Snaresbrook, South Woodford and Newbury Park are the other stations being upgraded on the eastern section of the Central line</li>
    <li>To help decide which stations to select for step-free access, a set of prioritisation criteria was developed which includes deliverability, cost and benefits</li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/april">April</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/may">May</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/december">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2018-May-Buckhurst Hill station to benefit from Mayor’s £200m investment boost in step-free stations -->

 
 
        
        
            @{ViewBag.Description = "Customers at Buckhurst Hill station first to benefit from Mayor’s £200m investment boost in step-free stations";}
        
        


 