


@{ViewBag.Title = "Communities to benefit from TfL's Growth Fund";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2018">2018</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2018/may">May</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Communities to benefit from TfL’s Growth Fund</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Communities to benefit from TfL’s Growth Fund</h1>
        <div class="content-page-press-release">
        21 May 2018
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Mayor announces latest funding for communities<BR>
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"As London's population grows, it is essential we continue to build world-class infrastructure like new Tube stations across the capital, but also target improvements in a way that can help deliver the new homes Londoners desperately need"</div>
        <div class="quote-footer">
            <div class="quotee-name">Sadiq Khan</div>
            <div class="quotee-job-title">Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<ul>
    <li>&pound;24m allocated to improve stations in Colindale, Walthamstow Central and Ilford, as well as improve London Trams services to Elmers End</li>
    <li>TfL's Growth Fund already supporting delivery of major transport improvements across the capital to help to unlock new housing and jobs</li>
    <li>Further schemes to be allocated from remaining funding later this year</li>
</ul>
<p>The Mayor of London, Sadiq Khan, has today announced the latest schemes to receive funding from Transport for London's (TfL's) Growth Fund.</p>
<p>The latest funding, which totals around &pound;24m, will help accelerate the delivery of a range of important transport improvements across the capital, helping to unlock homes, jobs and growth.</p>
<p>TfL's Growth Fund is designed to help finance sustainable transport infrastructure schemes that could unlock development and regeneration opportunities in some of London's most important growth areas. The four latest schemes receiving funding are:</p>
<p>&nbsp;</p>
<ul>
    <li>Upgrade of Walthamstow Central Station: The upgrade of the Victoria line station will help support around 2,000 new homes across Walthamstow town centre and provide capacity for future growth in the area. This scheme would provide a second entrance to the station as well as deliver step-free access.</li>
    <li>New station building at Colindale: The scheme will deliver a new station building with step-free access and new pedestrian and cycle links - helping to support around 10,000 new homes, 1,000 jobs and the wider regeneration of the area.</li>
    <li>Enhanced capacity on Elmers End branch of London Trams: Double tracking of the branch line and a second platform at Elmers End tram station will provide additional facilities to enable service improvements and address reliability issues on the network. Once delivered, this would support growth in Croydon and Bromley and future growth along all parts of the tram network.</li>
    <li>New southern entrance at Ilford Station on TfL Rail: To help accommodate the increase in passengers from significant growth and development in the area, this new third entrance into the station will help reduce pressure on the main station entrance and benefit bus passengers alighting at stops along Ilford Hill.</li>
</ul>
<p>TfL is now working with the local councils, property developers and stakeholders to finalise the funding packages for these four schemes, with a hope that work can begin on delivering them later this year.</p>
<p>The Mayor and TfL expanded the Growth Fund to &pound;550m in December 2016 to allow more schemes to be brought forward. By providing funding to schemes through the fund, the Mayor and TfL can help leverage additional funding from developers and third parties to help unlock complex transport schemes and provide improved services at less well connected sites that might otherwise not see investment.</p>
<p>More than 15 schemes have been supported by the Growth Fund so far, including new stations in Tottenham Hale and White Hart Lane, as well as road and public realm schemes in Wandsworth and the new Barking Riverside London Overground Extension, which will be delivered by next summer.</p>
<p>The four latest schemes to receive funding have done so following a review of the criteria used to determine allocations. This focused on the ability of each project to unlock housing and jobs growth, deliverability, potential for third-party funding and how they aligned to the new Mayor's Transport Strategy, including key objectives such as Healthy Streets. The Mayor's Transport Strategy aims to create a greener, safer and more accessible London by encouraging greater use of public transport, walking and cycling and reducing reliance on car journeys.</p>
<p>Mayor of London, Sadiq Khan, said: </p>
<p>'I'm delighted to be announcing the next four schemes that will benefit from our Growth Fund &#45; millions of pounds of investment that will directly improve people's daily experience on our public transport network and unlock vital new housing and jobs. As London's population grows, it is essential we continue to build world-class infrastructure like new Tube stations across the capital, but also target improvements in a way that can help deliver the new homes Londoners desperately need.'</p>
<p>Alex Williams, Director of City Planning at TfL, said: </p>
<p>'Good transport links are vital to supporting growth in a city. Our Growth Fund is helping to unlock transport schemes which might not have been funded, helping to create more homes and jobs across London. By promoting 'good growth' across London, we can help the capital continue to prosper while providing new transport options for Londoners.'</p>
<p>Waltham Forest Council Leader Clare Coghill said: </p>
<p>'We welcome this announcement from Transport for London which will support our already ambitious plans to rejuvenate Walthamstow. Improvements to the station will support The Mall redevelopment which is bringing an improved retail experience and more jobs to the area, as well as hundreds of much needed new homes, and rejuvenated town centre which will become the beating heart of the community.</p>
<p>'This investment will see huge benefits for our growing population, ensuring that everyone, especially those with mobility difficulties, are able to easily access the capital's public transport system and it will further cement the area as a destination for Londoners looking to live, socialise, shop and soak up the culture in Walthamstow.'</p>
<p>The Leader of Barnet Council, Councillor Richard Cornelius, said: </p>
<p>'We're pleased to be working with TfL to deliver a new and improved station in Colindale. The completed works will improve the lives of many Colindale commuters, as well as being an attractive new public building for the local area.'</p>
<p>Councillor Jas Athwal, Leader of Redbridge Council said: </p>
<p>'We're delighted that TfL, working in partnership with the council, has committed Growth Funding to Ilford Station southern entrance. We safeguarded the necessary land through the planning system, secured Ilford Housing Zone investment towards the entrance and have committed the use of our own Community Infrastructure Levy fund to ensure this much needed entrance is delivered.</p>
<p>'As Ilford becomes an increasingly popular place to live, a new third entrance will make it easier and more accessible for people to use the station and connect to and from buses. With 6,000 new homes being built by 2030, multi-million pound improvements to the town centre currently underway, a new cultural centre in the pipeline and the Elizabeth Line opening soon, Redbridge looks forward to continuing working in partnership with TfL to deliver all the necessary transport infrastructure to accommodate and accelerate growth and further enhance Ilford as a fantastic location to live and work.'</p>
<p>Councillor William Huntington-Thresher, Bromley Council's Executive Councillor for Environment and Community Services said: </p>
<p>'This investment in local transport infrastructure is very welcome news and something that we have been calling for. The improvements will help reduce delays that passengers have faced and significantly improve journey time reliability, which in turn will make this a more attractive transport option and I am hopeful that in the future, this will also enable future increases to service frequency.'</p>
<p>TfL is now reviewing a range of other schemes from across London to see whether they would be suitable for part-funding from the remaining &pound;80m and hopes to be able to confirm these later this year.</p>
<br />
<hr />
<br />
Notes to Editors:<br />
<ul>
    <li>Funding details for the four new Growth Fund schemes are:</li>
</ul>
<div class="table-container"><table>
    <tbody>
        <tr>
            <td>&nbsp;</td>
            <td>Growth Fund contribution&nbsp;</td>
            <td>Current Estimated Final Cost&nbsp;</td>
        </tr>
        <tr>
            <td>Colindale station upgrade&nbsp;</td>
            <td>&nbsp;&pound;5.0m</td>
            <td>&nbsp;&pound;22m</td>
        </tr>
        <tr>
            <td>&nbsp;Walthamstow Central station upgrade</td>
            <td>&nbsp;&pound;15.0m</td>
            <td>&nbsp;TBC</td>
        </tr>
        <tr>
            <td>&nbsp;Elmers End tram enhancements</td>
            <td>&nbsp;&pound;3.3m</td>
            <td>&nbsp;&pound;9m</td>
        </tr>
        <tr>
            <td>&nbsp;Ilford station southern entrance</td>
            <td>&nbsp;&pound;0.75m</td>
            <td>&nbsp;&pound;2.2m</td>
        </tr>
    </tbody>
</table></div>
<br />
<ul>
    <li>Information about the initial fifteen schemes previously received a contribution from the TfL Growth Fund is available here: <a href="http://content.tfl.gov.uk/pic-20171212-item08-growth-fund.pdf">http://content.tfl.gov.uk/pic-20171212-item08-growth-fund.pdf</a></li>
    <li>Last year, TfL allocated &pound;70m from the Growth Fund to help develop proposals for a Sutton tram extension. Additional funding for the scheme would need to be identified by the local boroughs. TfL also allocated &pound;30m towards the proposed Rotherhithe to Canary Wharf crossing, which would support sustainable growth in east London, Canada Water and the Isle of Dogs by providing a viable alternative to the Jubilee line and other river crossings for those trips that could be made on foot or by bike - <a href="http://content.tfl.gov.uk/pic-20170628-item11-tfl-growth-fund.pdf">http://content.tfl.gov.uk/pic-20170628-item11-tfl-growth-fund.pdf</a></li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/april">April</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/may">May</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/december">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2018-May-Communities to benefit from TfL’s Growth Fund -->

 
 
        
        
            @{ViewBag.Description = "Communities across London to benefit as Mayor announces latest funding from TfL’s Growth Fund";}
        
        


 