


@{ViewBag.Title = "GLA - Mayor launches electric vehicle infrastructure taskforce ";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2018">2018</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2018/may">May</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">GLA - Mayor launches electric vehicle infrastructure taskforce </span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>GLA - Mayor launches electric vehicle infrastructure taskforce </h1>
        <div class="content-page-press-release">
        31 May 2018
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Sadiq Khan encourages more collaborative working with taskforce members to step up drive for rapid charging points
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"London's filthy air is a public health crisis, and encouraging more Londoners to switch from diesel to electric vehicles is critical in tackling it"</div>
        <div class="quote-footer">
            <div class="quotee-name">Sadiq Khan</div>
            <div class="quotee-job-title">Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<p>This press release, issued by the Mayor of London, was first published on <a href="https://www.london.gov.uk/press-releases/mayoral/taskforce-will-work-on-shared-delivery-plan">london.gov.uk</a>&nbsp;</p>
<p>The Mayor of London, Sadiq Khan, will today launch a new taskforce dedicated to boosting the infrastructure needed to increase the take-up of electric vehicles across the capital.</p>
<p>He will also encourage the boroughs, Government and all those involved in the taskforce to work together and redouble efforts to install vital rapid charging points and help tackle London's filthy air.</p>
<p>Encouraging more Londoners to make the switch from diesel to electric cars is vital to tackling the city's air pollution and realising the Mayor's ambition of becoming a zero-emission city.</p>
<p>London is already leading the way in this field, with the rollout of electric buses, electric taxis and the installation of 104 rapid charging points under Sadiq's watch, more than half of which are for taxis and can charge a vehicle in just 30 minutes instead of the standard eight hours. London is a leader in this field, with more rapid charging points installed across the capital than many other global cities, including New York Stockholm and Madrid**.</p>
<p>However, this new rapid network has mostly been delivered on land or roads managed by TfL &#45; a limited resource. The capital requires a major expansion in charging infrastructure to help businesses, taxi drivers and Londoners switch to electric, and the Mayor believes this must be delivered in partnership with the private sector.</p>
<p>Today, the Mayor brings together representatives from business, energy, infrastructure, government and London boroughs at a special event to mark the launch of the taskforce, which comprises16 organisations including UK Power Networks, the British Retail Consortium and the RAC Foundation. The work of the taskforce will also be outlined, including technical workshops run by Transport for London over the summer and a shared Delivery Plan to be published next year.</p>
<p>In addition to petrol stations, businesses and car parks, the participation of boroughs, who manage 95 per cent of London's roads, is vital. Whilst boroughs have successfully installed thousands of residential charging points, more rapid charging points are urgently needed. Sadiq will today highlight the importance of them working with TfL, the Mayor's Office and taskforce partners to help deliver vital electric vehicle infrastructure and install rapid charging points in urban areas to help businesses across London play their part in tackling poor air quality.</p>
<p>Sadiq Khan, Mayor of London, said: </p>
<p>'I'm delighted to launch a new Electric Vehicle Infrastructure Taskforce today, bringing together industry, businesses and the public sector to work together to deliver electric vehicle charging infrastructure in the capital. London's filthy air is a public health crisis, and encouraging more Londoners to switch from diesel to electric vehicles is critical in tackling it.</p>
<p>'We've already made some great progress with the rollout of electric buses, electric taxis and rapid charging points, alongside launching the Toxicity Charge (T-Charge) for the oldest polluting vehicles in central London and bringing forward the introduction of the world's first Ultra-Low Emission Zone. But we cannot do this alone.</p>
<p>'We've received huge support for this new taskforce, showing it is not just an environment or transport issue but one that is vital to the future of our city, and organisations across all sectors are stepping up and accepting they have a part to play. This initiative will support London boroughs and ensure electric vehicle infrastructure is installed in the right places, and help make our city an even better place to live.'</p>
<p>Christina Calderato, Transport for London's Head of Delivery Planning, said: </p>
<p>'We are committed to making London a zero-emission city and this taskforce is an important step in achieving that. We are installing rapid charging points across London, only licensing zero emission capable taxis and by 2020 all single decker buses will be zero emission. However, we recognise more can be done and we are working hard with boroughs and the private sector to ensure London has the infrastructure needed to become an electric city.'</p>
<p>The number of electric vehicles in London stands at over 10 per cent of the UK total*. Alongside around 2,000 standard charge points already installed across London, at least 150 TfL-funded rapid charge points are set to be in place by the end of 2018 in addition to new infrastructure in residential neighbourhoods. The Mayor would also like to see rapid charging 'hubs' &#45; a group of charging points, similar to petrol stations &#45; set up across the city.</p>
<p>Helen Dickinson OBE, Chief Executive of the British Retail Consortium, said: </p>
<p>'Retailers take their responsibilities towards the environment seriously. We welcome the launch of the Electric Vehicle Infrastructure taskforce and look forward to engaging closely with its members over the coming weeks and months.'</p>
<p>Basil Scarsella, chief executive of UK Power Networks which delivers electricity across London, the East and South East said: </p>
<p>'We welcome the launch of the Mayor's new EV taskforce. Electric vehicles are a key part of the energy transformation that is underway, as we transition to a low carbon economy. New technologies, like vehicle batteries, will give consumers greater flexibility and choice about how they manage and use their electricity. Listening, collaborating, and sharing ideas with taskforce members and other stakeholders, at this pivotal time, will help inform the creation of a world-class smart grid for London that enables and supports the uptake of electric vehicles.'</p>
<p>Steve Gooding, Director of the RAC Foundation, said: </p>
<p>'We welcome the establishment of this cross-sector group. Ensuring that London gets the vehicle charging infrastructure it desires and needs requires joined-up thinking, and this must include the perspectives of the ultimate customers of the system &#45; drivers themselves.'</p>
<p>A &pound;42 million fund is also already available to encourage the owners of the oldest, most-polluting diesel black cabs to retire them from the capital's fleet. The owners of black cabs between 10 and 15 years old can apply for a grant of up to &pound;5,000 in exchange for retiring their taxi, and cab drivers can also get up to &pound;7,500 towards the purchase of a new vehicle.</p>
<hr />
Notes to Editors:<br />
<p>* There are currently more than 143,918 electric vehicles on UK roads. For the purposes of this indicator, DfT include all vehicles with fully electric power, and cars and vans with tail-pipe emissions below 75 g/km of CO2.<br />
** Information taken from International Council on Clean Transportation report &quot;Electric Vehicle Capitals of the World&quot;, March 2017.</p>
<p>1.	In addition to the Greater London Authority and Transport for London, the following organisations are represented on the Taskforce:</p>
<ul>
    <li>British Electrotechnical and Allied Manufacturers Association (BEAMA)</li>
    <li>British Retail Consortium</li>
    <li>Cross River Partnership</li>
    <li>Energy UK</li>
    <li>Federation of Small Businesses</li>
    <li>Freight Transport Association</li>
    <li>London Councils</li>
    <li>London First</li>
    <li>Office for Low Emission Vehicles</li>
    <li>Ofgem</li>
    <li>RAC Foundation</li>
    <li>Royal Institute of Chartered Surveyors</li>
    <li>Society for Motor Manufacturers and Traders (SMMT)</li>
    <li>Shell UK</li>
    <li>SSE Enterprise</li>
    <li>UK Power Networks</li>
</ul>
<p>2.	There are currently 128 open access rapid charging points across the capital, including those installed by private sector organisations. Of the 104 TfL rapid charging points currently installed across the capital, boroughs have supplied four to date,<br />
3.	Since January 2017 London boroughs have installed 644 electric vehicle charging points. There will be at least another 2,630 charging points installed by the end of 2018/19. The charging points installed include a mixture of slow (3kwh, mainly lamp columns), fast (7-22kwh) and rapid (50kwh+) charging solutions, strategically placed to meet the demand of local areas as well as encouraging the switch to electric.<br />
4.	Last April, Transport for London appointed five suppliers to fund, maintain, operate and install the new rapid charging network across London. Offering 24/7 support and online information on locations and availability, the network allows drivers to use all points regardless of the supplier and pay by credit or debit card, with no requirement to sign up to a membership scheme.<br />
5.	In collaboration with the Office for Low Emission Vehicles, Transport for London are investing &pound;18 million into unlocking potential sites and upgrading electricity grids, and they and London Councils awarded almost &pound;4.5 million to 25 boroughs to help them deliver on-street charge points for thousands of residents without off-street parking.<br />
6.	To see a list of the boroughs which have installed rapid charging points, visit Transport for London's website: <a href="https://tfl.gov.uk/rapidcharging">https://tfl.gov.uk/rapidcharging</a><br />
7.	To read the International Council on Clean Transportation report &quot;Electric Vehicle Capitals of the World&quot;, visit <a href="https://www.theicct.org/sites/default/files/publications/Global-EV-Capitals_White-Paper_06032017_vF.pdf ">https://www.theicct.org/sites/default/files/publications/Global-EV-Capitals_White-Paper_06032017_vF.pdf</a>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/april">April</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/may">May</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/december">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2018-May-GLA - Mayor launches electric vehicle infrastructure taskforce  -->

 
 
        
        
            @{ViewBag.Description = "Mayor launches new taskforce to expand electric vehicle infrastructure across London";}
        
        


 