


@{ViewBag.Title = "Modernisation of Tube closer than ever after successful weekend of trial operation";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2018">2018</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2018/may">May</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Modernisation of Tube closer than ever after successful weekend of trial operation</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Modernisation of Tube closer than ever after successful weekend of trial operation</h1>
        <div class="content-page-press-release">
        15 May 2018
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Brand-new signalling system to begin controlling trains this summer
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"It's hugely exciting that the Hammersmith Service Control Centre is now operational and the successful trials on the first part of the network to operate under the system means we are close to introducing real improvements for our customers on some of the oldest parts of the Tube network"</div>
        <div class="quote-footer">
            <div class="quotee-name">Stuart Harvey</div>
            <div class="quotee-job-title">TfL's Director of Major Projects</div>
        </div>
</div>

 <div class="on-this-page">
<p>TfL staff operated and maintained the brand-new Thales signalling system for the first time during a trial this weekend.</p>
<p>The successful trial means customers can begin to benefit from the new signalling on the first section of the Circle and Hammersmith &amp; City lines later this summer.</p>
<p>After extensive testing by Thales, supported by the TfL project team, the trial was the first time that operational Tube staff used the new system, ensuring it can be used safely and reliably later this year.</p>
<p>It involved staff operating six out-of-service trains under the new signalling system between Hammersmith and Latimer Road, which will be the first section to go live.</p>
<p>The project will introduce the new signalling system in stages, and is set to transform nearly half the network when complete in 2023.</p>
<h2>Improve reliability, capacity, customer information</h2>
<p>This programme, which will greatly improve reliability, capacity and customer information on the Circle, District, Hammersmith &amp; City and Metropolitan lines, will ultimately benefit hundreds of thousands of customers every day.</p>
<p>The lines will have more capacity than they currently provide due to an increase in train frequency from 28 to 32 trains per hour in the central London section.</p>
<p>The new, state-of-the-art, control centre for all four lines at Hammersmith has also been completed and is now operational.</p>
<p>The centre brings together operations and asset teams under one roof in order to ensure a smoother and more integrated service and more accurate, up-to-date customer information.</p>
<p>It will replace some of the oldest equipment on the Underground network, including a signal box at Edgware Road that was built in 1926, as part of a project that will make the oldest Underground railway in the world one of the most modern.</p>
<h2>Successful trials</h2>
<p>Stuart Harvey, TfL's Director of Major Projects, said: 'The new, modern signalling system on these lines will transform our customers' experiences for the better.</p>
<p>'It's hugely exciting that the Hammersmith Service Control Centre is now operational and the successful trials on the first part of the network to operate under the system means we are close to introducing real improvements for our customers on some of the oldest parts of the Tube network.'</p>
<p>Shaun Jones, Vice-President, Transport at Thales in the UK, said: 'The success of the weekend's Operational Proving trial is another significant milestone on this programme that will deliver a world-class transport system for London.</p>
<p>'The progress is testament to the hard work of our highly skilled people, and the way we work together with TfL as one team. Thales's proven technology will ensure more reliable journeys on some of the oldest and most complex parts of the Underground network.'</p>
<p>The Four Lines Modernisation project will finish in 2023, when all four lines are operating completely under the new Thales system.</p>
<p>Services will begin to increase in frequency from 2021, when the central London section of the network has been modernised. The sub-surface lines carry over 1.3 million customers per day.</p>
<p>Customers are already benefitting from more comfortable journeys thanks to the introduction of the S-stock fleet from Bombardier, which feature more spacious, walk-through carriages, wider doors and air conditioning.</p>
<p>Other projects, such as the new Northern and Jubilee line timetables and the opening of the Elizabeth line later this year, will also play their part in enabling more people to use public transport in order to reach the Mayor's target of 80% of journeys made by public transport, cycling or walking by 2041.</p>
<p><hr /></p>
<p><strong>Note to Editors:</strong></p>
<ul>
    <li>Tube staff have undergone extensive classroom and simulator training in order to be able to operate the new system, with this weekend their first chance to use those skills on the network</li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/april">April</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/may">May</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/december">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2018-May-Modernisation of Tube closer than ever after successful weekend of trial operation -->

 
 
        
        
            @{ViewBag.Description = "Modernisation of Tube closer than ever after successful weekend of trial operation";}
        
        


 