


@{ViewBag.Title = "Motorists reminded inappropriate speed is dangerous";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2018">2018</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2018/may">May</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Motorists reminded inappropriate speed is dangerous</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Motorists reminded inappropriate speed is dangerous</h1>
        <div class="content-page-press-release">
        08 May 2018
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        New campaign to cut deaths and serious injuries on London roads
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"It is vital to change attitudes towards driving at speeds not suitable for the conditions of the road"</div>
        <div class="quote-footer">
            <div class="quotee-name">Christina Calderato</div>
            <div class="quotee-job-title">Head of Delivery Planning Transport for London</div>
        </div>
</div>

 <div class="on-this-page">
<ul>
    <li>'When your foot goes down the risks go up'</li>
</ul>
<p ><br />
Transport for London (TfL) have launched a new campaign to reduce the number of deaths and serious injuries on London roads by reminding motorists including motorbike riders of the dangers they pose when travelling at an inappropriate speed.</p>
<p>'Risk Up' warns drivers that inappropriate speed, driving too fast for the condition of the road, increases the risk of injury to themselves and other road users and to slow down. The campaign, which will be seen across the capital from today states simply, 'Drivers. On built &#45;up streets, when your foot goes down, the risks go up.'</p>
<p>There are also advertisements aimed at motorbike riders reminding them of the dangers they face, and pose to others, when travelling at inappropriate speeds, stating 'Motorcyclists. If you're in a hurry, when you throttle up the risks go up.'</p>
<p>In 2016, there were 804 collisions resulting in death or serious injury as a result of illegal and inappropriate speed, with 329 of these involving a motorbike.</p>
<p>TfL is committed to reducing road danger, by working in partnership with the police and London boroughs to achieve the Vision Zero ambition of creating a road network free from death and serious injury by 2041. This includes investing in safer junctions, removing the most dangerous Heavy Goods Vehicles from London's roads and supporting boroughs to transform their roads with funding such as TfL's multi-million pound Liveable Neighbourhoods scheme. TfL's full action plan to achieve Vision Zero will be published in July.</p>
<p>There can be a number of occasions when motorists can inadvertently drive at an inappropriate speed including:</p>
<ul>
    <li>driving or riding too fast in built up areas</li>
    <li>going too fast round corners</li>
</ul>
<p>The Highway Code states that driving at speeds too fast for the road and traffic conditions is dangerous. It recommends reducing speed when:</p>
<ul>
    <li>sharing the road with for example pedestrians or cyclists</li>
    <li>the road layout or condition presents hazards, such as bends</li>
    <li>weather conditions make it safer to do so</li>
    <li>driving at night as it is more difficult to see other road users</li>
</ul>
<p>Inappropriate speed can also magnify other motoring errors, such as driving too close to cyclists, multiplying the chances of causing a collision.</p>
<p><strong>Christina Calderato, Head of Delivery Planning Transport for London, said</strong>: &quot;It is vital to change attitudes towards driving at speeds not suitable for the conditions of the road.  Motorists who drink and drive are seen as behaving in a dangerous and selfish manner with little regard for the safety of other people. However, those who drive too fast are often not regarded in this way, unless they grossly exceed the speed limit. By clearly explaining the dangers, in the way that has been done for drink-driving, Risk Up aims to work towards a general acceptance and ownership of the problem of inappropriate speed. Just because it's legal doesn't mean it cannot be fatal.&quot;</p>
<p>Reducing road danger is one of the ways which the Mayor's aim of reducing reliance on the car and encouraging more journeys to be made by walking, cycling and public transport can be achieved. This in turn will help improve London's air quality and make the city a greener and healthier place to live.</p>
<p>For more information about the 'Risk Up' campaign go to <a href="https://tfl.gov.uk/travel-information/safety/road-safety-advice">https://tfl.gov.uk/travel-information/safety/road-safety-advice</a></p>
<p> </p>
<hr />
<p><strong>Notes to editors</strong></p>
<ol>
    <li>Highway Code: Code 125</li>
    <li>Royal Society for the Prevention of Accidents (RoSPA) inappropriate speed factsheet February 2017 <a href="https://www.rospa.com/rospaweb/docs/advice-services/road-safety/drivers/inappropriate-speed.pdf">https://www.rospa.com/rospaweb/docs/advice-services/road-safety/drivers/inappropriate-speed.pdf</a></li>
    <li>Drivers who crashed while travelling at inappropriate speed were more likely to be assigned factors such as 'careless, reckless or in a hurry', 'vision affected by road layout', 'vision affected by rain, sleet, snow or fog' and 'slippery road (due to weather)'</li>
    <li>Transport for London reinvests all income to run and improve services and is committed to reducing costs</li>
</ol>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/april">April</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/may">May</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/december">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2018-May-Motorists reminded inappropriate speed is dangerous -->

 
 
        
        
            @{ViewBag.Description = "Motorists reminded inappropriate speed is dangerous";}
        
        


 