


@{ViewBag.Title = "New powers to combat illegal taxi and private hire activity";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2018">2018</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2018/may">May</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">New powers to combat illegal taxi and private hire activity</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>New powers to combat illegal taxi and private hire activity</h1>
        <div class="content-page-press-release">
        17 May 2018
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London's Taxi and Private Hire Compliance Officers have been given new powers by the Metropolitan Police to crack down on illegal activity
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Having increased the number of compliance officers across London last year, I'm delighted they will now have the powers to pull over vehicles and take action against drivers breaking the rules and putting the safety of Londoners at risk"</div>
        <div class="quote-footer">
            <div class="quotee-name">Sadiq Khan</div>
            <div class="quotee-job-title">Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<p>TfL's Taxi and Private Hire (TPH) Compliance Officers have been granted new powers by the Metropolitan Police to carry out road stops without police presence for the first time.</p>
<p>This will enable more enforcement against illegal and non-compliant activity to be carried out, improving the safety of taxi and private hire passengers while freeing up valuable police resources.</p>
<p>TfL's TPH Compliance Officers are now being specially trained with powers to stop any TPH vehicle for inspection, testing and verification of licensing conditions without the presence of police &#45; this could include checking for valid insurance, inspecting the driver's licence or photo ID, and inspecting the vehicle for any defects.</p>
<p>For the first time compliance officers will have the powers to pull a driver off the road and stop them driving if they're breaching their license.</p>
<h2>New powers</h2>
<p>The new powers will help deal with the rapid growth of the capital's private hire industry, which has seen an increase from 59,000 licensed drivers in 2009/10 to around 113,000.</p>
<p>The new powers also allow officers to better tackle private hire vehicles that have been licensed by another authority, known as cross-border hiring, and address the increased safety risk that such private hire vehicles can pose.</p>
<p>Mayor of London, Sadiq Khan, said: 'The safety of Londoners is my number-one priority, and with the growth of the private hire industry in London it is essential we give our compliance officers real powers to clamp down on illegal activity, and take action against unsafe and unlicensed vehicles.</p>
<p>'The majority of taxi and private hire drivers provide a good and safe service for Londoners, but drivers who haven't got a valid licence or are breaching the terms of their licence shouldn't be on London's streets.</p>
<p>'Having increased the number of compliance officers across London last year, I'm delighted they will now have the powers to pull over vehicles and take action against drivers breaking the rules and putting the safety of Londoners at risk.'</p>
<h2>Stop and check</h2>
<p>Following a successful trial at Heathrow, with over 800 vehicles checked, TPH Compliance Officer-led enforcement will increasingly take place across London as more officers are trained in the Community Safety and Accreditation Scheme (CSAS).</p>
<p>With the enhanced powers, six or more TPH Compliance Officers can cordon off a 'stop' area to pull over a vehicle and undertake safety checks. Stops are carried out as quickly as possible so if there are any passengers on board, they are not held up unnecessarily.</p>
<p>It is an offence under the Road Traffic Act if a driver a fails to stop when directed by a CSAS-accredited officer, which may lead to a criminal conviction and TPH licensing action being taken.</p>
<p>Steve Burton, TfL's Director of Enforcement and On-Street Operations, said: 'Our Compliance Officers are at the forefront of combatting unsafe and unlicensed taxi and private hire drivers, who not only pose a serious risk to passenger safety, but undermine licensed, law abiding drivers.</p>
<p>'These new powers will allow officers to stop and check vehicles without the police present, which will significantly increase levels of enforcement so we can robustly deal with dangerous drivers and vehicles.'</p>
<h2>Far-reaching improvements</h2>
<p>These new powers are part of the Mayor of London's Taxi and Private Hire Action Plan, which includes a range of far-reaching improvements that will drive up standards, boost the quality of service for Londoners and will help deliver the greenest taxi fleet in the world.</p>
<p>As part of our efforts to strengthen our enforcement approach we will also be making more effective use of our powers to prosecute drivers and operators for illegal and non-compliant TPH activity.</p>
<p>The increase in the number of compliance officers has significantly increased our capacity to detect driver, vehicle and operator non-compliance.</p>
<p>As a result we are putting systems in place to ensure that appropriate enforcement action is taken on all offences reported by TPH Compliance officers where evidence supports this.</p>
<p>Inspector Jas Sandhu from the Met's Taxi and Private Hire Policing Team, said: 'These new powers under CSAS will give TfL the resilience to conduct more spontaneous road stops which will help enforcement against illegal and non-compliant activity in the trade.'</p>
<h2>Help enforcement</h2>
<p>Rachel Griffin, Chief Executive of Suzy Lamplugh Trust, said: 'We welcome the new powers being given to TfL Taxi and Private Hire Compliance Officers to stop any vehicle for inspection, testing and verification of licensing conditions without the presence of police.</p>
<p>'We have been campaigning for National Minimum Standards in Taxi and Private Hire licensing so that sufficient safety checks are being made regularly and consistently.</p>
<p>'These new powers within the Metropolitan area can robustly address some of the safety risks that are currently present such as unlicensed taxi and private hire.</p>
<p>'It is also imperative that the government introduces rigorous national licensing standards that better assess the safety of taxi and PHV drivers with criminal convictions in England and Wales.'</p>
<p>TfL works closely with the taxi and private hire trade, the Metropolitan Police and the City of London Police to ensure the safety of passengers using London's taxi and private hire services.</p>
<p>It also directly funds 68 police dedicated to taxi and private hire issues in addition to the TPH Compliance Officers who, since March 2017, have checked drivers' licences and vehicles at 240 police road stops.</p>
<p>TfL encourages members of the public to report touting and other cab-related offences across London and actively promotes safer travel by using black taxis, booked minicabs or TfL services to get home.</p>
<p>TfL, the Metropolitan Police and the City of London Police run Safer Travel at Night (STaN) operations throughout the year, which include patrols in hotspot locations, plain clothes operations and high visibility enforcement activities, which help to detect and deter illegal activity.</p>
<p><hr /></p>
<p><strong>Notes to editors</strong></p>
<ul>
    <li>Further information on London Mayor, Sadiq Khan's, Taxi and Private Hire Action Plan 2016 can be found here: <a href="http://content.tfl.gov.uk/taxi-and-private-hire-action-plan-2016.pdf">content.tfl.gov.uk/taxi-and-private-hire-action-plan-2016.pdf</a></li>
    <li>TfL's Safer Travel at Night campaign highlights how people can keep themselves safe when using taxis and minicabs. The advice is to use a black taxi or book their journey through a licensed minicab operator, via a booking app, phone, email or in the minicab office. For information visit: <a href="https://tfl.gov.uk/campaign/safer-travel#_blank">tfl.gov.uk/campaign/safer-travel</a></li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/april">April</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/may">May</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/december">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2018-May-New powers to combat illegal taxi and private hire activity -->

 
 
        
        
            @{ViewBag.Description = "New powers to combat illegal taxi and private hire activity";}
        
        


 