


@{ViewBag.Title = "New Elizabeth line depot at Old Oak Common";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2018">2018</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2018/may">May</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">New Elizabeth line depot at Old Oak Common</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>New Elizabeth line depot at Old Oak Common</h1>
        <div class="content-page-press-release">
        10 May 2018
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Old Oak Common depot will support new TfL Rail services from Paddington to Heathrow, which begin on Sunday 20 May
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Our new depot will not only allow us to introduce our new TfL Rail service from Paddington to Heathrow Airport this month, but it will also be home to the new Elizabeth line train fleet"</div>
        <div class="quote-footer">
            <div class="quotee-name">Howard Smith</div>
            <div class="quotee-job-title">Operations Director for TfL Rail and the Elizabeth line</div>
        </div>
</div>

 <div class="on-this-page">
<ul>
    <li>Over half of the new Elizabeth line trains will be stabled at the new facility, which boasts impressive green credentials</li>
    <li>Images of Old Oak Common depot are available at <a href="https://www.flickr.com/photos/tflpress/albums/72157693492120382">https://www.flickr.com/photos/tflpress/albums/72157693492120382</a></li>
</ul>
<p>TfL has begun operations at a new, purpose-built train depot at Old Oak Common in a major delivery milestone for London's new railway, the Elizabeth line. The depot will house and maintain up to 42 of the Elizabeth line's 70 new trains at a time. The maintenance infrastructure at Old Oak Common will play a critical role in the day-to-day operation of the Elizabeth line when it launches in seven months' time, helping to transform travel across London and the South East.</p>
<p>Old Oak Common depot has come into service as TfL prepares for the introduction of TfL Rail services in west London later this month. As a precursor to the Elizabeth line launch in December, TfL Rail will take over the Heathrow Connect service between Paddington and Heathrow Terminals 2/3 and 4 from Sunday 20 May.</p>
<p>Over 30% of TfL's new maintenance facility will be powered by an innovative renewable energy system, bringing impressive sustainability credentials to the TfL network. The hybrid renewable energy system integrates ground source heating and cooling from a combination of energy piles and 150m deep bore holes, with three different types of thermal technologies creating an innovative system which will help to control the temperature of the main depot building. Old Oak Common is the first rail depot in the UK to introduce these environmentally-friendly measures to this extent by fully integrating separate systems, which will help TfL to reduce its running costs and save over 500 tonnes of CO2 emissions each year compared to if the depot was built without these energy sources.</p>
<p><strong>Howard Smith, Operations Director for TfL Rail and the Elizabeth line, said:</strong> &quot;It's great to see the progress that has been made at Old Oak Common since work began four years ago. Our new depot will not only allow us to introduce our new TfL Rail service from Paddington to Heathrow Airport this month, but it will also be home to the new Elizabeth line train fleet. Old Oak Common will be vital in helping us to maintain our 70 brand new trains over the years to come.&quot;</p>
<p>The Elizabeth line is set to redefine transport in London with quicker, easier and more accessible journeys when it opens through central London this December. From Sunday 20 May, new Elizabeth line trains stabled at Old Oak Common will initially run from Paddington to Hayes &amp; Harlington, with the Heathrow Connect trains continuing to operate to the airport. For the first time, customers will be able to use pay as you go with Oyster and contactless on the whole route between Paddington and Heathrow with daily fare capping limiting the cost of travel to and from the airport.</p>
<p>MTR Crossrail will operate the Elizabeth line on TfL's behalf. The majority of their drivers are now based at Old Oak Common, where they are training with simulators that replicate a number of &quot;real-life&quot; scenarios and weather conditions. The simulator training will allow drivers to gain a familiarity with the trains and the route before they go out on the network.</p>
<p>Built by Taylor Woodrow, the civil engineering division of VINCI Construction UK, Old Oak Common depot has 33 stabling roads, and nine roads for the heavy maintenance of wheels, motors and other rail components. An on-site train wash facility will see that trains are deep-cleaned on a regular basis. Bombardier &#45; who are building TfL's 70-strong fleet of Elizabeth line trains &#45; will operate the facility as part of a 32 year-long construction and maintenance contract that was signed in 2014. Bombardier's latest automatic vehicle inspection system (AVIS) will increase reliability by scanning and analysing trains as they enter the depot, reducing the overall time needed for maintenance. Bombardier employs 80 staff at Old Oak Common, including eight apprentices, who are engaged in train testing and maintenance. This will increase to 110 by the summer, including an additional eight apprentices.</p>
<p><strong>Andy Derbyshire, Head of UK Projects, Bombardier Transportation said:</strong> "We are delighted to showcase the train testing and driver training operations already well underway at the new Old Oak Common depot.  Our British-designed and built trains are transforming journeys between Liverpool Street and Shenfield, and are soon to do the same for journeys between Paddington and Hayes &amp; Harlington. We are now really building momentum towards the launch of the Elizabeth line in December."</p>
<p><strong>Steve Murphy, MTR Crossrail's Managing Director, said:</strong> &quot;The new driver depot at Old Oak Common provides a great environment for our driver team to work in collaboration with Bombardier to deliver reliable Elizabeth line services. The training simulators have been essential in providing route familiarisation and scenario based training for our drivers to be ready for Elizabeth line services from December 2018.&quot;</p>
<p><strong>Fred Garner, Sector Director - Rail, Taylor Woodrow, said:</strong> &quot;Taylor Woodrow are proud to have been responsible for the construction of the new depot at Old Oak Common; after four years of hard work by the team it is very rewarding to see it occupied by the new fleet and ready to support introduction of Elizabeth line services.&quot;</p>
<p>The opening of the new Elizabeth line depot at Old Oak Common supports the Mayor's Transport Strategy, which aims to reduce carbon emissions from non-road transport sources by using renewable energy systems.</p>
<p>The Elizabeth line is jointly sponsored by the Department for Transport (DfT) and TfL. When complete, London's new railway will carry over 200 million passengers per year and will add 10% to central London's rail capacity. Support and financial contributions from London's business community have been vital to the building of this new, world-class railway.</p>
<p> </p>
<hr />
<p> </p>
<p><strong>Notes to editors</strong></p>
<ul>
    <li>Old Oak Common depot is in the London Borough of Hammersmith &amp; Fulham. it sits on the former site of the English, Welsh and Scottish railway (EWS) depot</li>
    <li>It has already won two UK Rail Industry Awards: a National Rail Award and a Green Apple for the Environment Award. It was also the first to gain a Building Research Establishment Environmental Assessment Method (BREEAM) rating of Very Good</li>
    <li>The Elizabeth line is jointly sponsored by the Department for Transport (DfT) and TfL. London's new railway will open in phases:</li>
</ul>
<p><strong>December 2018</strong></p>
<p>Services through central London begin, three separate services will operate:</p>
<ul>
    <li>Paddington to Abbey Wood</li>
    <li>Paddington (mainline station) to Heathrow</li>
    <li>Liverpool Street (mainline station) to Shenfield</li>
</ul>
<p><strong>May 2019</strong></p>
<p>Direct services will operate from Paddington to Shenfield and Paddington to Abbey Wood. Services from Paddington to Heathrow will continue to start and terminate in the mainline station</p>
<p><strong>December 2019</strong></p>
<p>The Elizabeth line will fully open, with services running from Reading and Heathrow in the west through the central tunnels to Shenfield and Abbey Wood in the east</p>
<ul>
    <li>In March, the first new Elizabeth line train was tested in the brand new tunnels beneath the streets of London, following Crossrail Limited successfully energising a section of the 25kV overhead lines. A significant amount of work continues to complete all stations on the route as well as bringing together the complicated interfaces between track, power, signalling and trains</li>
</ul>
<p> </p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/april">April</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/may">May</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/december">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2018-May-New Elizabeth line depot at Old Oak Common -->

 
 
        
        
            @{ViewBag.Description = "New Elizabeth line depot at Old Oak Common";}
        
        


 