


@{ViewBag.Title = "TfL set to begin CS11 construction in July";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2018">2018</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2018/may">May</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">TfL set to begin CS11 construction in July</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>TfL set to begin CS11 construction in July</h1>
        <div class="content-page-press-release">
        07 May 2018
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        The new cycle route at Swiss Cottage will include the removal of the gyratory system, a new public space on Avenue Road and new pedestrian crossings
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Our plans will improve the environment around Swiss Cottage and make this busy junction safer for everyone who lives and works in the area"</div>
        <div class="quote-footer">
            <div class="quotee-name">Will Norman</div>
            <div class="quotee-job-title"> London's Walking and Cycling Commissioner</div>
        </div>
</div>

 <div class="on-this-page">
<ul>
    <li>Following the consultation, TfL has made a number of changes to the scheme to reduce motor traffic on nearby roads</li>
    <li>The Mayor wants 80 per cent of journeys being made by foot, bike or public transport by 2041</li>
</ul>
<p>Transport for London (TfL) has today announced that work will begin to build Cycle Superhighway 11 (CS11) at Swiss Cottage in mid-July, the first section of a new route that will enable safer cycling to the West End.</p>
<p>The gyratory will be removed and two-way working introduced on Finchley Road and Adelaide Road. Avenue Road between College Crescent and Adelaide Road will become bus and cycle only with a stepped cycle track, creating a new public space. The transformation of Swiss Cottage is expected to be complete in September 2019 and comprehensive travel advice for all modes will be published at the end of the month.</p>
<p>As well as being a key part of CS11, changes to the one-way system at Swiss Cottage form part of TfL's ongoing review and modernisation of the capital's most dangerous and intimidating junctions. The changes will make Swiss Cottage a better place to live and work, making it easier and safer for people to move through the area. The route will improve safety for both cyclists and pedestrians in the area &#45; encouraging non-polluting and more active travel for people living, working or passing through.</p>
<p>Measures to reduce disruption will be in place, including adjusting traffic light timings and suspending parking and loading bays to increase traffic flow, as well as taking advantage of the quieter summer holiday period.</p>
<p>The consultation on CS11 received 60 per cent support from more than 6,000 respondents, but TfL needed to carry out additional work to address concerns from the borough councils and local community, including concern among local residents that there would be an increase in the amount of motor traffic on some minor roads. TfL will now allow motor traffic to make right turns from College Crescent into Finchley Road, and from Finchley Road southbound into Hilgrove Road. Traffic modelling indicates this will reduce the amount of traffic into nearby minor roads, and could also improve access for local people who want to reach destinations to the west of Swiss Cottage. Following consultation feedback, buses and cyclists will be allowed to turn left from Finchley Road into College Crescent.</p>
<p>Subject to agreement, CS11 will then run along Avenue Road, the Outer Circle of The Regent's Park, Park Crescent and Portland Place.</p>
<p>The Mayor has committed a record &pound;169m per year on average over the next five years to improving cycling conditions in the capital. The Mayor's aim, set out in the Mayor's Transport Strategy, is for 80 per cent of journeys to be made by foot, bike or public transport by 2041. In doing so, improving Londoners' health, tackling congestion and cleaning up London's air.</p>
<p>Will Norman, London's Walking and Cycling Commissioner, said: </p>
<p>'I'm delighted that work will be getting underway in a matter of weeks on the first section of CS11. High-quality segregated cycle routes play a crucial role in keeping cyclists safe, and also encourage more Londoners to cycle as part of their everyday routine. Our plans will  improve the environment around Swiss Cottage and make this busy junction safer for everyone who lives and works in the area.</p>
<p>'We've been working very closely with the council to look at the consultation results to ensure the views of local residents are taken on board, and the amended plans will both mitigate any impact on traffic in surrounding roads, and provide substantial benefits for pedestrians too.'</p>
<p>Gareth Powell, Managing Director of Surface Transport at TfL, said: </p>
<p>'I'm thrilled to see construction starting on this important new addition to London's growing network of cycle routes in central London. Encouraging more Londoners to walk, cycle and use public transport is essential to keeping London moving and growing. This new cycle route around Swiss Cottage will dramatically improve safety in this busy part of the capital and will enable even more Londoners to move around by bike.'</p>
<p>&nbsp; </p>
<hr />
<br />
Notes to editors:<br />
<ul>
    <li>Visualisations are available here - <a href="https://www.flickr.com/photos/tflpress/albums/72157693445465442">https://www.flickr.com/photos/tflpress/albums/72157693445465442</a></li>
    <li>Works on CS11 in Swiss Cottage are set to begin in mid-July and finish in September 2019</li>
    <li>Researched published by TfL has shown an astonishing increase in the number of people cycling in the capital.  730,000 trips were made by bike in London each day in 2016, a 154 per cent increase since 2000</li>
    <li>The Mayor's Transport Strategy can be found here: <a href="https://www.london.gov.uk/sites/default/files/mayors-transport-strategy-2018.pdf">https://www.london.gov.uk/sites/default/files/mayors-transport-strategy-2018.pdf</a></li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/april">April</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/may">May</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/december">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2018-May-TfL set to begin CS11 construction in July -->

 
 
        
        
            @{ViewBag.Description = "TfL set to begin construction on CS11 at Swiss Cottage in July";}
        
        


 