


@{ViewBag.Title = "British Sign Language led tours of the artworks on London Underground for Deaf Awareness Week";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2018">2018</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2018/may">May</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">British Sign Language led tours of the artworks on London Underground for Deaf Awareness Week</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>British Sign Language led tours of the artworks on London Underground for Deaf Awareness Week</h1>
        <div class="content-page-press-release">
        16 May 2018
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Tour will feature a newly installed commission by British artist Heather Phillipson at Gloucester Road Underground station
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"It's a wonderful opportunity to showcase some of the incredible artworks on the Tube to hearing impaired customers, while at the same time providing an opportunity for them to find out more about our free travel mentoring service"</div>
        <div class="quote-footer">
            <div class="quotee-name">Mark Evers</div>
            <div class="quotee-job-title">Transport for London's Chief Customer Officer</div>
        </div>
</div>

 <div class="on-this-page">
<p>To mark Deaf Awareness Week, TfL will hold two Art on the Underground tours on 13 June, exclusively to hearing impaired customers.</p>
<p>The tours, co-led by Art on the Underground and a British Sign Language interpreter, will showcase some of the most well-known artworks in Tube stations across London.</p>
<p>The tours will also provide an opportunity to learn about the services TfL provides for hearing impaired customers, including travel mentors, who will be on hand to answer questions.</p>
<p>The first tour will start at award-winning British artist Heather Phillipson's ambitious 80 metre long installation at Gloucester Road, leading through to John Maine's Portland stone commission at Green Park station.</p>
<p>It will finish at Piccadilly Circus station with Langlands &amp; Bell's &quot;Beauty &lt; Immortality&quot; &#45; a homage to visionary former London Transport Chief Executive Frank Pick, whose legacy of iconic designs has had a profound influence on the appearance of London Underground.</p>
<h2>Award-winning</h2>
<p>From there the second tour will begin, continuing to Tottenham Court Road station where Daniel Buren's bold and colourful 'Diamonds and Circles' works 'in situ' and Sir Eduardo Paolozzi's famous mosaics will be studied in detail.</p>
<p>There are 15 places on each tour and spaces will be assigned on a first come first served basis. E-mail <a href="mailto:TfLAccessibility&#64;tfl.gov.uk">TfLAccessibility&#64;tfl.gov.uk</a> now to book your place and avoid disappointment.</p>
<p>Travel mentoring is a free service that TfL provides to help people with accessibility needs start using public transport.</p>
<p>The service offers advice on planning a journey, using an accessible route and can provide a mentor for customers' first few journeys to help them gain confidence and become independent travellers.</p>
<p>It can also provide assistance to people who wish to use mobility scooters and other mobility aids on London's bus services.</p>
<h2>Exciting tour</h2>
<p>Bob Nolan, Chairman of Deafblind UK, said: 'The everyday challenges of life can be more of a struggle after experiencing hearing loss and some people may find it very isolating.</p>
<p>'However, it is a loss of confidence that can cut us off from the whole world and can actually be the biggest disability of all. This Deaf Awareness week, we want to help people understand that while hearing loss can be isolating for many, it doesn't have to be.</p>
<p>'With the right support, people living with hearing loss can lead full and active lives and still fulfil their dreams. This week, there is some great help on offer to help people build their confidence to a point where they're happy to travel independently on public transport, and embrace the idea that life is still an adventure.'</p>
<h2>Free travel mentoring</h2>
<p>Asif Iqbal MBE, President of Harrow and Brent United Deaf Club, said: 'It is a fantastic opportunity to work with Transport for London to promote Deaf Awareness week by encouraging deaf and hard of hearing customers to join us on tours of the artwork in London Underground.</p>
<p>'It will be an exciting tour. Thank you to Transport for London for providing a BSL interpreter to make sure deaf customers are included.'</p>
<p>Mark Evers, Transport for London's Chief Customer Officer, said: 'We are so pleased to support this tour.</p>
<p>'It's a wonderful opportunity to showcase some of the incredible artworks on the Tube to hearing impaired customers, while at the same time providing an opportunity for them to find out more about our free travel mentoring service.</p>
<p>'Travel mentors play an incredibly important role in giving people the confidence to use public transport, as we want everyone to feel comfortable when travelling.'</p>
<p><hr /></p>
<p><strong>Notes to editors</strong></p>
<ul>
    <li>For more information on TfL's accessibility services visit <a href="http://www.tfl.gov.uk/accessibility">www.tfl.gov.uk/accessibility</a></li>
</ul>
<p>&nbsp;</p>
<ul>
    <li><strong>Travel Mentors</strong><br />TfL's travel mentors can offer advice on planning a journey using an accessible route. They can also provide a mentor to accompany any disabled customer for their first few journeys to help them gain confidence and become an independent traveller. Mentoring is free and can be provided Monday to Friday from 08:00-18:00. For more information you can phone 0203 054 4361 or e-mail <a href="mailto:travelmentor&#64;tfl.gov.uk">travelmentor&#64;tfl.gov.uk</a></li>
    <li><strong>Travel support card</strong><br />TfL's Travel Support card helps disabled and older customers communicate with staff by allowing them to write down what help they need, as well as information such as their emergency contact number</li>
    <li><strong>Step-free access</strong><br />There are now more than 200 step-free stations across TfL's network, an increase of 13% since 2012. These include: 74 Tube stations, 58 Overground stations, 6 TfL Rail stations and all DLR stations and Tram stops. TfL has committed to making more than 30 additional Tube stations step-free by 2021/22. The move will bring the total number of stations with step-free access to all platforms to more than 100, representing over 40% of the Underground network and significantly increasing the proportion from the current level of 27%</li>
</ul>
<p>&nbsp;</p>
<ul>
    <li><strong>Art on the Underground</strong> invites artists to create projects for London's Underground that are seen by millions of people each day, changing the way people experience their city. Since its inception, Art on the Underground has presented commissions by UK-based and international artists including Jeremy Deller, Yayoi Kusama, Mark Wallinger, and Tania Bruguera, allowing the programme to remain at the forefront of contemporary debate on how art can shape public space. Find out more at: <a href="http://www.art.tfl.gov.uk">www.art.tfl.gov.uk</a></li>
</ul>
<p>&nbsp;</p>
<p><strong>The titles and locations for the Art on the Underground works featured in the tours are:</strong></p>
<ul>
    <li>Heather Phillipson, my name is lettie eggsyrub, 2018. Temporary Artwork for Gloucester Road station. Commissioned by Art on the Underground</li>
    <li>John Maine, Sea Strata, 2011. Permanent Artwork for Green Park station. Commissioned by Art on the Underground</li>
    <li>Langlands &amp; Bell, Beauty &lt; Immortality, 2016. Permanent Artwork for Piccadilly Circus station. Commissioned by Art on the Underground and the London Transport Museum</li>
    <li>Daniel Buren, 'Diamonds and Circles' works 'in situ', 2017. Permanent Artwork for Tottenham Court Road station. Commissioned by Art on the Underground</li>
    <li>Eduardo Paolozzi, Mosaics for Tottenham Court Road, 1986 | restored 2016. Permanent Artwork for Tottenham Court Road station</li>
</ul>
<p>&nbsp;</p>
<ul>
    <li>Images can be found here: <a href="https://www.flickr.com/gp/tflpress/J86s32">https://www.flickr.com/gp/tflpress/J86s32</a></li>
    <li>A documentary on the restoration of the Eduardo Paolozzi mosaics at Tottenham Court Road tube station can be found here: <a href="https://youtu.be/JLpwRmy8YIQ">https://youtu.be/JLpwRmy8YIQ</a></li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/april">April</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/may">May</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/december">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2018-May-British Sign Language led tours of the artworks on London Underground for Deaf Awareness Week -->

 
 
        
        
            @{ViewBag.Description = "British Sign Language led tours of the artworks on London Underground for Deaf Awareness Week";}
        
        


 