


@{ViewBag.Title = "TfL granted powers to progress with Silvertown Tunnel";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2018">2018</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2018/may">May</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">TfL granted powers to progress with Silvertown Tunnel</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>TfL granted powers to progress with Silvertown Tunnel</h1>
        <div class="content-page-press-release">
        10 May 2018
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        TfL granted a Development Consent Order (DCO) by the DfT
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"New river crossings are vital for the future prosperity of east London, and the scheme will have a substantial impact unlocking new jobs and economic growth, while easing congestion and poor air quality in the area
"</div>
        <div class="quote-footer">
            <div class="quotee-name">Sadiq Khan</div>
            <div class="quotee-job-title">The Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<p>Transport for London (TfL) has today been granted a Development Consent Order (DCO) by the Department for Transport (DfT) to deliver the Silvertown Tunnel &#45; a new twin-bore road tunnel under the Thames in east London.</p>
<p>The DCO is the formal process by which the Government gives the green light to any development categorised as a Nationally Significant Infrastructure Project (NSIP).&nbsp;</p>
<p>The tunnel, which is set to open in 2023, will help ease the current serious congestion at Blackwall Tunnel and improve the reliability and resilience of the road network in east London. It will enable significantly improved cross-river public transport connections, with up to 37 buses an hour using the tunnel &#45; all of which will be hybrid, electric or at least with the highest Euro VI emission standard. Further pedestrian and cycling improvements will also be made on both sides of the river.</p>
<p>Work will be carried out on the areas surrounding the entrances to the tunnel to improve conditions for local residents and create safe, attractive new walking and cycling routes around Royal Victoria and the Greenwich Peninsula.</p>
<p>While consent was confirmed today by the Secretary of State, a number of conditions were included. TfL is now working with local boroughs, landowners, stakeholders and other affected parties to understand the implications of these conditions, so that this vital infrastructure project can start as soon as possible.</p>
<p>With congestion and air quality around the Blackwall Tunnel predicted to get worse in the coming years as London's population grows, the Silvertown Tunnel is vital to providing a more reliable crossing as well as ensuring goods and services can continue to move around London. Drivers using the Blackwall Tunnel regularly get caught up in delays of 20 minutes or more during busy times, leading to around a million hours being wasted in queues every year and costing the economy an estimated &pound;10m. When incidents cause the tunnel to close temporarily, three-mile tail-backs can occur in under six minutes.</p>
<p>The new Silvertown Tunnel will be privately financed through a Design, Build, Finance and Maintain contract, with the successful delivery partner receiving payments from TfL once the tunnel is open and available for use. These will be made in part via a user charge on both the new tunnel and the existing Blackwall Tunnel, which will also help to ensure traffic is effectively managed and journey reliability and air quality are improved. The exact charge levels for various types of vehicles using the tunnel will be decided closer to the opening date.</p>
<p >The Mayor of London, Sadiq Khan, said: </p>
<p>'I'm delighted that the green light has been given to progress with the Silvertown Tunnel. New river crossings are vital for the future prosperity of east London, and the scheme will have a substantial impact unlocking new jobs and economic growth, while easing congestion and poor air quality in the area.</p>
<p>'Since I became Mayor I've been determined to ensure the Silvertown Tunnel doesn't have a detrimental impact on our environment. That's why the new plans have such a focus on cleaner transport, with only buses with the highest emission standard using the tunnel, and substantial investment in pedestrian and cycling infrastructure.'</p>
<p>As part of the six-month public inquiry into the tunnel, the Mayor and TfL outlined a number of improved plans for Silvertown Tunnel with a greener focus and more emphasis on encouraging people to use public transport. These included:</p>
<p>&nbsp;</p>
<ul>
    <li>A clear commitment within the Mayor's Transport Strategy to support the new buses through the tunnel, which are vital to improving travel and supporting growth, as well as a bus concession for local residents for a period, with the tunnel to be one of London's low emission bus zones when it opens. TfL will also trial a bespoke cycle-bus which will carry cyclists and their bikes through the tunnel on a turn-up and go basis.</li>
    <li>Further pedestrian and cycling improvements on both sides of the river to better connect local communities, including upgrades to Boord Street and Tunnel Avenue in the south and Silvertown Way and Tidal Basin Road in the north.</li>
    <li>&pound;1m worth of support to small businesses will also be provided to help them adapt during the construction and operation of the Silvertown Tunnel scheme. This would include helping businesses with staff travel planning and delivery support, as well as funding potential infrastructure such as cycle racks.</li>
    <li>A user-charging discount to specifically help low-income working residents in the host boroughs of Greenwich, Newham and Tower Hamlets. This would take a similar form to the existing TfL Bus &amp; Tram Travelcard, which offers a 50 per cent discount on public transport for those in receipt of certain state benefits. Offering this discount would mean that users pay a reduced rate to use the tunnel, helping to encourage use of public transport wherever possible, while still reducing the impact to low-income households.</li>
    <li>Free account registration for the road user charge for local residents in the host boroughs for the first year. Residents and businesses who register as account holders would pay the lowest charges possible for all journeys, and would be protected from the risk of inadvertently incurring penalty charges through forgetting to pay the relevant charge.</li>
    <li>TfL also reviewed its previously provided air quality impact assessment data in view of the UK Air Quality Plan and confirmed to the DfT and planning inspectorate that the new Government plan does not change the conclusions of the air quality assessment supporting the application.</li>
</ul>
<p>Now that the DCO has been granted, TfL is working with local boroughs, landowners and stakeholders to outline the next steps for the project, including agreeing details of land acquisitions, construction logistics plans and access requirements for residents, visitors and local businesses as the scheme progresses.</p>
<p>TfL will also be progressing procurement of a contractor to design and build the tunnel, with a look to confirm a preferred bidder in winter 2018 and award the contract in early 2019 so that construction can begin later next year. During construction, TfL is committed to ensuring that the majority of construction material is transported by river, that all on-site construction machinery at least meets the Mayor's Non-Road Mobile Machinery Low Emission Zone Standards, and that any vehicles working on the scheme are Euro VI and comply with the Mayor's new Direct Vision Standard.</p>
<p>Mike Brown MVO, London's Transport Commissioner, said: </p>
<p>'East London is in desperate need of more river crossings to provide better public transport links across the Thames and support the delivery of new jobs and homes. Now that this nationally significant project has been given the go ahead, we are working closely with local boroughs and others to ensure this vital new infrastructure is delivered with minimal impact to local residents and businesses.'</p>
<p>David Leam, Infrastructure Director at London First, said: </p>
<p>'The Silvertown Tunnel is a vital piece of new infrastructure for London and can't come quickly enough. The existing crossing at Blackwall is a notorious congestion blackspot that can cause traffic paralysis across south east London. Silvertown is an essential part of TfL's plans to improve public transport in east London and vital to keeping the whole city moving.'</p>
<p>Two bidders (Cintra Global Ltd and Hochtief PPP Solutions GmbH) have been shortlisted to design and build the Tunnel. As part of the tender, all contractors will be required to deliver a range of measures to reduce construction impacts, which includes:</p>
<ul>
    <li>Reducing road use by construction vehicles, with more than half (at least 55 per cent) of all materials for the project carried via the river;</li>
    <li>All vehicles working on the construction of the Silvertown Tunnel will be required to be Euro VI and compliant with the Mayor's new Direct Vision Standard;</li>
    <li>Developing an extensive Community Engagement Plan, describing how it will keep the local community informed prior to and throughout the works;</li>
    <li>Creating around 150 local apprenticeships, job starts and educational opportunities.</li>
</ul>
<p>The delivery of the Silvertown Tunnel was included in the Mayor's Transport Strategy and forms part of the Mayor's wider plans for sustainable river crossings across the Thames. These include a new walking and cycling crossing between Rotherhithe and Canary Wharf as well as looking at the feasibility for a new DLR crossing between Gallions Reach and Thamesmead, along with options for further sustainable crossings in west London.</p>
<p>For more information about the Silvertown Tunnel project, please visit <a href="http://www.tfl.gov.uk/silvertown-tunnel">www.tfl.gov.uk/silvertown-tunnel</a></p>
<p><a href="http://www.tfl.gov.uk/silvertown-tunnel"></a></p>
<hr />
<br />
Notes to Editors:<br />
<ul>
    <li>More information on the public examination into the Silvertown Tunnel can be found here - <a href="https://infrastructure.planninginspectorate.gov.uk/projects/london/silvertown-tunnel/">https://infrastructure.planninginspectorate.gov.uk/projects/london/silvertown-tunnel/</a></li>
    <li>Images of what the Silvertown Tunnel will look like once completed can be found here: <a href="http://www.tfl.gov.uk/silvertown-tunnel">www.tfl.gov.uk/silvertown-tunnel</a></li>
    <li>As part of his manifesto, the Mayor of London, Sadiq Khan, stated that he would review the merits of the Silvertown Tunnel in advance of the six month public examination of the scheme. The results of the review were announced in October 2016 alongside further information about the Mayor's plans for delivering much-needed cross river public transport links in east London.</li>
    <li>A decision on the level of charge for using the Silvertown Tunnel, which would also cover the Blackwall Tunnel, will be made nearer the opening of the tunnel</li>
</ul>
<p>&nbsp;</p>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/april">April</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/may">May</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/december">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2018-May-TfL granted powers to progress with Silvertown Tunnel -->

 
 
        
        
            @{ViewBag.Description = "TfL granted powers to progress with Silvertown Tunnel";}
        
        


 