


@{ViewBag.Title = "TfL to operate Heathrow Connect services ahead of Elizabeth line opening";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2018">2018</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2018/may">May</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">TfL to operate Heathrow Connect services ahead of Elizabeth line opening</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>TfL to operate Heathrow Connect services ahead of Elizabeth line opening</h1>
        <div class="content-page-press-release">
        18 May 2018
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Customers from Paddington to Hayes & Harlington to benefit from new, spacious Elizabeth line trains
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"The opening of the Elizabeth line this year will transform travel across London, and TfL taking over services to Heathrow is a major milestone in the project"</div>
        <div class="quote-footer">
            <div class="quotee-name">Val Shawcross</div>
            <div class="quotee-job-title">Deputy Mayor for Transport</div>
        </div>
</div>

 <div class="on-this-page">
<p>From Sunday 20 May TfL will take over the Heathrow Connect services between Paddington and Heathrow terminals 2/3 and 4 in another major milestone in the creation of the Elizabeth line.</p>
<p>From Monday 21 May it will also take over the half hourly Great Western Railway (GWR) services from Paddington which terminate at Hayes &amp; Harlington.</p>
<p>These services will be operated as TfL Rail, which will become Elizabeth line services in December this year when the line opens through central London, transforming travel with quicker, easier and more accessible journeys for customers.</p>
<h2>New railway</h2>
<p>The new railway, jointly sponsored by the Department for Transport and TfL with support from London's business community, will connect stations such as Paddington to Canary Wharf in only 17 minutes, transforming how Londoners and visitors move across the capital.</p>
<p>Under TfL Rail, the current service frequency of two trains an hour between Paddington and Heathrow will be maintained using the existing trains, alongside two trains an hour between Paddington and Hayes &amp; Harlington using new Elizabeth line trains, which replace part of the Great Western inner suburban route.</p>
<p>Testing continues to enable TfL to introduce the new, spacious, air-conditioned Elizabeth line trains on services to the airport.</p>
<p>Single fares on TfL Rail to the airport will be in line with, or cheaper than, the Heathrow Connect fare. TfL zones do not apply to Heathrow pay as you go fares, but for the first time, customers will be able to use pay as you go with Oyster and contactless across the route all the way from Paddington to Heathrow.</p>
<p>As part of the integrated service, daily fare capping for Oyster and contactless and weekly fare capping for contactless will apply, with travelcards that cover Zone 6 able to be used on services to Heathrow.</p>
<p>For daily and weekly capping, Heathrow will be designated as 'Zone 6', meaning that 'pay as you go' customers travelling to and from the Airport from within Zones 1-6 will never pay more than the daily cap of &pound;12.50.</p>
<h2>Major milestone</h2>
<p>Val Shawcross, Deputy Mayor for Transport, said: 'The opening of the Elizabeth line this year will transform travel across London, and TfL taking over services to Heathrow is a major milestone in the project.</p>
<p>'From Sunday, people travelling to Heathrow will now be able to benefit from Oyster, contactless technology and cheaper fares, providing a better service for thousands of Londoners and visitors every week.'</p>
<p>Howard Smith, Operations Director for TfL Rail, said: 'Taking over the services to Heathrow is another step towards opening London's new railway. Customers will see staff at every station and will be able to use Oyster and contactless payments all the way to the airport.</p>
<p>The Elizabeth line will redefine how Londoners and visitors move across the capital, with quicker, easier and more accessible journeys and customers will also benefit from the Mayor's fares freeze, which is making travel more affordable.'</p>
<p>Jo Johnson, Rail Minister, said: 'This is a significant milestone in the delivery of the Elizabeth line, which will transform rail travel for over 200 million passengers every year across the South East, significantly boosting capacity on our network and acting as a catalyst for housing and regeneration.</p>
<p>'When fully open in 2019 the Elizabeth line will provide a faster connection to Heathrow, as well as giving people new interchanges to Gatwick and Luton airports via Thameslink services at Farringdon and helping drive forward economic growth and business opportunities.'</p>
<h2>Transform rail travel</h2>
<p>Mike Gallop, Director Route Asset Management for Network Rail, said: 'We welcome the introduction of TfL Rail on our network and look forward to working closely with them as we move closer to the opening of the Elizabeth line later this year.</p>
<p>'The Elizabeth line will transform rail travel for passengers heading into London from the west as well as those travelling across the capital. It is another major step forward and together with the delivery of our Railway Upgrade Plan passengers will benefit from better journeys.'</p>
<p>When the Elizabeth line opens in December, the railway will initially operate as three separate services:</p>
<ul>
    <li>Paddington (Elizabeth line station) to Abbey Wood via central London</li>
    <li>Paddington (mainline station) to Heathrow (Terminals 2 &amp; 3 and 4)</li>
    <li>Liverpool Street (mainline station) to Shenfield.</li>
</ul>
<h2>Critical role</h2>
<p>TfL has begun operations at the new, purpose-built train depot at Old Oak Common. The depot will house and maintain up to 42 of the Elizabeth line's 70 new trains.</p>
<p>The maintenance infrastructure at Old Oak Common will play a critical role in the day-to-day operation of the Elizabeth line when it launches later this year, helping to transform travel across London and the South East.</p>
<p>The introduction of the Elizabeth line is central to the Mayor's Transport Strategy, which aims to create a fairer, greener, healthier and more prosperous city by improving public transport and reducing reliance on car journeys.</p>
<p>Support and financial contributions from London's business community have been vital to the building of the new, world-class railway.</p>
<p><hr /></p>
<p><strong>Notes to editors</strong></p>
<ul>
    <li>Elizabeth line pay as you go fares within Zones 1-6 will be the same as the fares on existing TfL services, ensuring affordable travel for millions of Londoners when the railway opens through central London in December</li>
    <li>Since contactless payments on Tube and rail services in London launched in September 2014, TfL has seen contactless cards from more than 120 countries from around the world used on the system</li>
    <li>Heathrow Express services will continue as normal with pay as you go with Oyster and contactless planned to be introduced later this year. All fares will continue to be set directly by Heathrow Express and remain outside the fare zones and Travelcard system</li>
    <li>Details of the specific fares from Heathrow airport on TfL rail services from May 2018:</li>
</ul>
<p><strong>Peak services Monday to Friday (06.30 &#45; 09.30 and 16.00 &#45; 19.00)</strong></p>
<div class="table-container"><table>
    <tbody>
        <tr>
            <td>Heathrow to/from: </td>
            <td><strong>2018 Heathrow Connect fares</strong></td>
            <td><strong>Proposed Elizabeth line Peak PAYG fares</strong></td>
            <td><strong>Difference to current Heathrow Connect fare</strong></td>
            <td><strong>Daily Cap</strong></td>
        </tr>
        <tr>
            <td>London Paddington </td>
            <td><strong>&pound;10.30</strong> </td>
            <td>&pound;10.20 </td>
            <td>10p cheaper (1%)</td>
            <td>&pound;12.50</td>
        </tr>
        <tr>
            <td>Hayes &amp; Harlington</td>
            <td><strong>&pound;6.30</strong></td>
            <td>&pound;6.20</td>
            <td>10p cheaper (2%) </td>
            <td>&pound;12.50</td>
        </tr>
        <tr>
            <td>Southall, Hanwell </td>
            <td><strong>&pound;6.90</strong></td>
            <td>&pound;6.90</td>
            <td></td>
            <td>&pound;12.50</td>
        </tr>
        <tr>
            <td>West Ealing-Greenford</td>
            <td><strong>&pound;8.00</strong> </td>
            <td>&pound;7.30</td>
            <td>70p cheaper (9%)</td>
            <td>&pound;12.50 </td>
        </tr>
        <tr>
            <td>Ealing Broadway / Acton Mainline</td>
            <td><strong>&pound;8.00</strong></td>
            <td>&pound;7.30</td>
            <td>70p cheaper (9%)</td>
            <td>&pound;12.50</td>
        </tr>
        <tr>
            <td> TfL Zone 1 stations</td>
            <td><strong>&pound;12.70</strong></td>
            <td>&pound;12.10</td>
            <td>60p cheaper (5%) </td>
            <td>&pound;12.50</td>
        </tr>
    </tbody>
</table></div>
<p ><br />
<strong>Off-peak services</strong></p>
<div class="table-container"><table>
    <tbody>
        <tr>
            <td>Heathrow to/from:</td>
            <td><strong>2018 Heathrow Connect fares</strong></td>
            <td><strong>Proposed Elizabeth line Peak PAYG fares</strong></td>
            <td><strong>Difference to current Heathrow Connect fare</strong></td>
            <td><strong>Daily Cap</strong></td>
        </tr>
        <tr>
            <td>London Paddington</td>
            <td><strong>&pound;10.30</strong></td>
            <td>&pound;10.10</td>
            <td>20p cheaper (2%)</td>
            <td>&pound;12.50</td>
        </tr>
        <tr>
            <td>Hayes &amp; Harlington</td>
            <td><strong>&pound;6.30</strong></td>
            <td>&pound;6.00</td>
            <td>30p cheaper (5%)</td>
            <td>&pound;12.50</td>
        </tr>
        <tr>
            <td>Southall, Hanwell</td>
            <td><strong>&pound;6.90</strong></td>
            <td>&pound;6.00</td>
            <td>90p cheaper (13%)</td>
            <td>&pound;12.50</td>
        </tr>
        <tr>
            <td>West Ealing-Greenford</td>
            <td><strong>&pound;8.00</strong></td>
            <td>&pound;6.00</td>
            <td>&pound;2.00 cheaper (25%)</td>
            <td>&pound;12.50</td>
        </tr>
        <tr>
            <td>Ealing Broadway / Acton Mainline</td>
            <td><strong>&pound;8.00</strong></td>
            <td>&pound;6.00</td>
            <td>&pound;2.00 cheaper (25%)</td>
            <td>&pound;12.50</td>
        </tr>
        <tr>
            <td>TfL Zone 1 stations</td>
            <td><strong>&pound;12.70</strong></td>
            <td>&pound;10.10</td>
            <td>&pound;2.60 cheaper (20%)</td>
            <td>&pound;12.50</td>
        </tr>
    </tbody>
</table></div>
<p>&nbsp;</p>
<ul>
    <li>Pay as you go journeys between Paddington and West Drayton have been set at the TfL zonal rate since it was introduced in September 2008.<br />
    TfL Rail stopping pattern: May 2018</li>
    <li>Two trains per hour from Paddington &#45; Heathrow (T2, 3 &amp; 4) using Heathrow Connect trains</li>
    <li>Services will call at all stations along the route except Acton Main Line (the same as today)</li>
    <li>Two trains per hour from Paddington - Hayes &amp; Harlington using new Elizabeth line trains</li>
    <li>Services will call at all stations along the route including Acton Main Line except Hanwell (the same as today)</li>
    <li>Customers wanting to travel to Heathrow should change at Hayes &amp; Harlington</li>
    <li>All trains call at Ealing Broadway, West Ealing, Southall, Hayes &amp; Harlington (the same as today)</li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/april">April</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/may">May</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/december">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2018-May-TfL to operate Heathrow Connect services ahead of Elizabeth line opening -->

 
 
        
        
            @{ViewBag.Description = "TfL to operate Heathrow Connect services ahead of Elizabeth line opening";}
        
        


 