


@{ViewBag.Title = "Walk, cycle and discover this summer";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2018">2018</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2018/may">May</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Walk, cycle and discover this summer</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Walk, cycle and discover this summer</h1>
        <div class="content-page-press-release">
        09 May 2018
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        TfL is launching a range of activities this summer to encourage people to get active
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Walking and cycling is not just good for you, but a great way to discover all that London has to offer"</div>
        <div class="quote-footer">
            <div class="quotee-name">Lilli Matson</div>
            <div class="quotee-job-title">Director of Transport Strategy at TfL</div>
        </div>
</div>

 <div class="on-this-page">
<ul>
    <li>Pop up Santander Cycles docking station at Brockwell Park 12 - 13 May</li>
    <li>Over 40 free guided walks across London, 12 - 13 May</li>
</ul>
<p>This summer, TfL is encouraging all Londoners and visitors to discover the gems the capital has to offer when they walk or cycle instead of taking the car, with a range of events and promotions.</p>
<p>TfL's activities kick off this weekend with a pop up Santander Cycles docking station at Brockwell Park, which will bring the cycles to the park for the first time and will build on the recent expansion of the scheme to Brixton. The special pop up docking station will be situated outside the Herne Hill Park entrance, thanks to support from Lambeth Council. TfL is also working with the City of London on a special trial, which will enable more cycles to be hired and docked at peak times.</p>
<p>Returning for a fourth year, Santander Cycles will line up at the Rapha Nocturne cycling festival again on the 9 June, with cyclists representing TfL and Santander taking part in the race in the heart of London. This summer will also see the return of London's greatest festival of cycling, Prudential Ride London on 28 and 29 July, offering people of all ages and abilities the chance to cycle around eight miles of traffic-free central London roads.</p>
<p>May is National Walking month and to help celebrate TfL is funding over 40 free guided walks around the capital this weekend. There's still time to book a place via <a href="http://www.walklondon.org.uk/">walklondon.org.uk/</a> and there are walks to suit all ages and abilities including a number of family-friendly walks.</p>
<p>Next month, TfL will launch a major new marketing campaign to encourage people to explore the city on foot or bike, which will be followed by a series of other events and promotions over the summer.</p>
<p>Research shows that just ten minutes of brisk walking or cycling twice a day can have a positive impact on health &#45; yet many people miss out on this benefit by driving short distances to the shops or other locations. Half of all car trips in London could be cycled in less than ten minutes, and a third could be walked in under twenty five.</p>
<p>Promoting walking, cycling and public transport is central to the Mayor's Transport Strategy, which aims for 80% of journeys in London to be made without a car by 2041. Cycling and walking can play a transformational role in improving health and wellbeing and can help to reduce the risk of developing a range of illnesses and diseases, from depression to diabetes, as well as helping to reduce congestion and improve air quality, benefiting the whole community.</p>
<p><strong>Will Norman, London's Walking and Cycling Commissioner, said:</strong> &quot;Walking and cycling around our great city is not only healthier than using our cars, but a brilliant way of seeing parts of London you haven't visited before. As the weather gets warmer, it's simply the best way of exploring London. Whether you want to take up cycling again or interested in guided walks around the City, there's a huge amount on offer over the coming months for every Londoner who wants to get involved.</p>
<p><strong>Lilli Matson, Director of Transport Strategy at TfL, said</strong>: &quot;Walking and cycling is not just good for you, but a great way to discover all that London has to offer. London has so much potential to be a more active city and we hope that through our promotions and activities this summer and our commitment to delivering Healthy Streets, we'll encourage even more Londoners of all ages and backgrounds to opt to leave their cars behind to walk and cycle &#45; improving our air quality and congestion.&quot;</p>
<p>TfL's walk, cycle, discover campaign hopes to further encourage the growth in cycling and walking across the city, across all ages and demographics. New research published by TfL has shown an 8.8% increase in the number of cycle trips made year-on-year in 2016. The latest figures mean that since 2000, London has seen an astonishing 154% increase in the number of journeys made by bike. On average, 730,000 trips are now made in the capital by bike per day.</p>
<p>To cater for this demand and to encourage even more Londoners onto their bikes, TfL is investing record sums into a network of cycle routes stretching right across the city. Cycle Superhighways continue to expand with the extension to the North South Cycle Superhighway (CS6) between Elephant and Castle and King's Cross due for completion later this summer and Quietway routes are opening across the capital.</p>
<p>Three Mini Hollands boroughs, Waltham Forest, Kingston and Enfield and the first seven Liveable Neighbourhood boroughs; Ealing, Greenwich, Hackney, Haringey, Haringey, Lewisham and Waltham Forest are progressing well with their plans to transform neighbourhoods across the capital into greener, healthier, more attractive public spaces.</p>
<p>Cycling is not the only way to get from A to B whilst keeping fit &#45; and TfL is just as keen on encouraging Londoners to get around on foot, whether it is walking further for leisure or swapping driving for walking for shorter trips. TfL funds seven walking routes that cover more than 390 miles or 628 km and pass through every borough, so there's plenty for Londoners and visitors to explore. TfL's latest zones 1-3 walking Tube map also shows the number of steps and number of minutes it takes to travel between key destinations.</p>
<p><strong>Tom Platt, Head of Policy and Communications at Living Streets, said</strong>: &quot;Walking more of our everyday journeys is an easy way to help clean up London's air whilst also getting a bit more active. It really is the best way to see and explore our iconic city.</p>
<p>&quot;Even a short, brisk walk can have fantastic mental and physical health benefits. Here at Living Streets, we're urging everyone to #Try20 this National Walking Month and take just a 20 minute walk every day. It will set you up perfectly for a summer of discovery in the city.&quot;</p>
<p>&nbsp;</p>
<hr />
<p><strong>Notes to editors</strong></p>
<ul>
    <li>For more information on TfL's walking or cycling routes across the capital, visit <a href="http://tfl.gov.uk/walking or tfl.gov.uk/cycling">tfl.gov.uk/walking or tfl.gov.uk/cycling</a></li>
    <li>More information on the Living Streets #Try20 walking campaign is available here: <a href="http://www.livingstreets.org.uk/try20">livingstreets.org.uk/try20</a></li>
</ul>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/april">April</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/may">May</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/december">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2018-May-Walk, cycle and discover this summer -->

 
 
        
        
            @{ViewBag.Description = "Walk, cycle and discover this summer";}
        
        


 