


@{ViewBag.Title = "Work progresses on automatic braking system for London Trams";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2018">2018</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2018/may">May</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Work progresses on automatic braking system for London Trams</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Work progresses on automatic braking system for London Trams</h1>
        <div class="content-page-press-release">
        16 May 2018
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        New system will automatically bring a moving tram to a controlled stop if exceeding speed limit at high risk locations
        
    </div>



 <div class="on-this-page">
<p>TfL has begun the tender process for the installation of a new safety system on the London Trams network that will automatically apply the brakes should the speed limit be exceeded at high risk locations.</p>
<p>Work began on the feasibility of introducing this system shortly after the tragic overturning of a tram at Sandilands in November 2016, as part of a wider programme that has already seen a permanent speed reduction across the tram network, more speed monitoring, enhanced signage at significant bends, and the installation of a driver protection device that alerts to any incident of fatigue, distraction or speeding.</p>
<p>The new system will automatically bring a moving tram to a controlled stop if it were to exceed the speed limit at a designated location. The system would also automatically alert the operations control centre.</p>
<p>The system will initially be configured to priority locations as suggested by the Rail Accident Investigations Branch (RAIB) but will have the flexibility to be introduced elsewhere on the tram network.</p>
<p>Jonathan Fox, TfL's Director of Rail and Sponsored Services, said: 'Our thoughts remain with all those affected by the tragedy at Sandilands and we continue to do all we can to support them.</p>
<p>'This new braking system is just one of the additional safety measures we have been working continually on for the tram network to ensure that such a tragedy never happens again.</p>
<p>'We continue to liaise with other tram operators across the country to assist them in addressing the RAIB recommendation for their networks.'</p>
<p>A contract notice has been issued through the Official Journal of the European Journal (OJEU), and TfL is inviting interest from companies who have innovative solutions to meet the specification.</p>
<p>Following the qualification process an official Invitation to Tender will be issued in the summer with the contract due to be awarded by the end of the year.</p>
<p>The ambition is that the system will be installed and in operation by the end of 2019, including a period of training and familiarisation with tram drivers ahead of it becoming fully operational.</p>
<p>&nbsp;</p>
<hr />
<p>&nbsp;</p>
<p><strong>Notes to editors</strong></p>
<ul>
    <li>The contract notice on the Official Journal of the European Union (OJEU) can be found here: <a href="http://ted.europa.eu/udl?uri=TED:NOTICE:209612-2018:TEXT:EN:HTML">http://ted.europa.eu/udl?uri=TED:NOTICE:209612-2018:TEXT:EN:HTML</a></li>
    <li>The new braking system addresses the RAIB Recommendation 3 that 'UK tram operators, owners and infrastructure managers should work together to review, develop and install suitable measures to automatically reduce tram speeds if they approach higher risk locations at speeds which could result in derailment or overturning'</li>
    <li>Work continues with safety experts to test options for improving the containment provided by tram windows and doors to address the RAIB Recommendation 6</li>
    <li>Testing is also taking place ahead of the introduction of iTram at the end of 2018. iTram addresses recommendation 5 from the RAIB and will operate similar to the system on London's buses to monitor the location and speed of trams and provide enhanced customer service by giving real-time information on services</li>
    <li>The Sarah Hope Line, run by specially trained TfL staff, continues to provide support for all those who need it. TfL has sought to support bereaved families and passengers who were directly affected through the provision of counselling, rehabilitation, financial compensation, free transport and other support. To date, TfL has paid more than &pound;3m to bereaved families and passengers and is working proactively with all those affected and their legal representatives to progress and finalise their civil claims as soon as practicable</li>
</ul>
<p>Since the overturning in November 2016, the following additional safety measures have been introduced to the tram network:</p>
<ul>
    <li>Additional speed restrictions and associated signage installed near Sandilands and at three other locations on the tram network</li>
    <li>A permanent speed reduction implemented across the London tram network, meaning the maximum speed trams can travel is now 70kph (previously 80kph)</li>
    <li>Installation of enhanced chevron signs at the four sites with significant bends to provide an additional visual cue for drivers. The number of speed signs has been increased and additional lineside digital signage is providing an added speed warning to drivers</li>
    <li>An in-cab driver protection device has been fitted to all trams to protect against fatigue and distraction</li>
    <li>CCTV recording system has been upgraded</li>
    <li>Review of procedures for the emergency evacuation from trams so that the speed of evacuation is improved</li>
    <li>Review of risk assessments, alongside First Group, to ensure all scenarios are adequately planned for</li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/april">April</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/may">May</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/december">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2018-May-Work progresses on automatic braking system for London Trams -->

 
 
        
        
            @{ViewBag.Description = "Work progresses on automatic braking system for London Trams";}
        
        


 